@charset "UTF-8";

.CSTF8500 {
    .heading-title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    .contents-inner {
        min-height: 100vh;
        max-width: 848px;
        margin: 0 auto;
        padding: 80px 0 100px;
    }
    .icon-download {
        width: 14px;
        height: 14px;
        &-btn {
            font-size: 14px;
            color: #222;
            display: inline-block;
            margin-top: 17px;
        }
    }
    .file-box {
        .file-input {
            width: 100%;
        }
    }
    .btn-group {
        padding: 0;
    }
}