@charset "UTF-8";

.KR50CS312 {
    .type-privacy {
        width: 100%;
    }
    label {
        .pc-only {
            display: inline-block;
            @include mobile {
                display: none;
            }
        }
    }
}