@charset "UTF-8";

.KR50CS411 {
    .result-text {
        color:#222;
        font-size:16px;
        line-height:24px;
        strong {
            font-weight:700;
        }
    }
    .address-box {
        .input-wrap {
            width:calc(50% - 4px);
            & + .input-wrap {
                width:100%;
                margin-top:8px;
            }
        }
        .default-address {
            margin-top:12px;
        }
    }
    .engineer-carousel {
        &-list {
            padding-bottom:24px;
            overflow:hidden;
        }
        &-track {
            overflow:hidden;
            margin:0 -7px;
        }
        &-slide {
            float:left;
            padding:0 7px;
        }
        .engineer-box {
            input {
                position:absolute;
                overflow:hidden;
                width:1px;
                height:1px;
                margin:-1px;
                padding:0;
                border:none;
                clip:rect(0,0,0,0);
                & + label {
                    display:block;
                    padding:24px 24px 35px;
                    text-align:center;
                    border:1px solid #ddd;
                    border-radius:8px;
                    cursor:pointer;
                    -webkit-user-select:none;
                    -moz-user-select:none;
                    -ms-user-select:none;
                    .engineer-image {
                        position:relative;
                        height:0;
                        margin-bottom:20px;
                        padding-bottom:100%;
                        img {
                            position:absolute;
                            left:50%;
                            top:50%;
                            max-width:100%;
                            transform:translate(-50%, -50%);
                        }
                    }
                    .tit {
                        margin-bottom:7px;
                        color:#222;
                        font-size:16px;
                    }
                    .desc {
                        color:#616161;
                        font-size:14px;
                    }
                }
                &:checked + label {
                    box-shadow: 2px 3.5px 8px 0 rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
}