@charset "UTF-8";

.KR50CS23 {
    .step-section {
        display:none;
        margin-bottom:48px;
        &:first-child {
            display:block;
        }
        &:last-child {
            margin-bottom:0;
        }
        .section {
            &:first-child {
                margin-top:0;
            }
        }
        .btn-wrap {
            margin-top:16px;
        }
    }

    .tbl.model {
        colgroup {
            col:nth-child(3) {
                width:132px;
            }
            @include mobile {
                col:nth-child(3) {
                    width:100px;
                }   
            }
        }
    }

    .model-nav {
        height:56px;
        margin-top:-64px;
        &-inner {
            width:100%;
            background:#ddd;
            transition:top 0.5s;
        }
        &.sticky {
            .model-nav-inner {
                position:fixed;
                z-index:2;
                left:0;
                top:-100%;
            }
        }
        &.show {
            .model-nav-inner {
                top:0;
            }
        }
        .model-box {
            width:100%;
            max-width:1146px;
            margin:0 auto;
            padding:20px 40px;
            @include clearfix;
            .infos {
                float:left;
            }
            .category-list {
                display:inline-block;
                min-width:200px;
                vertical-align:middle;
                @include clearfix;
                li {
                    float:left;
                    font-size:16px;
                    color:#111;
                    & + li {
                        position:relative;
                        margin-left:7px;
                        padding-left:13px;
                        &:before {
                            content:'';
                            position:absolute;
                            left:-4px;
                            top:50%;
                            width:8px;
                            height:8px;
                            border-top:1px solid #111;
                            border-right:1px solid #111;
                            transform:translateY(-50%) rotate(45deg);
                        }
                    }
                }
            }
            p {
                display:inline-block;
                margin-left:40px;
                font-size:16px;
                font-weight:700;
                color:#111;
                vertical-align:middle;
                &.model {
                    display:none;
                }
            }
            .btn-text {
                float:right;
            }
        }
        @include mobile {
            .model-box {
                padding:20px;
            }
            .infos {
                float:left;
                .category-list {
                    display:block;
                }
                p {
                    display:block;
                    margin:8px 0 0;
                    font-size:14px;
                }
            }
        }
    }

    .accordion {
        margin-top:32px;
        border:1px solid #ddd;
        border-radius:8px;
        background:#f4f4f4;
        &-list {
            > li {
                border-bottom:1px solid #ddd;
                &:last-child {
                    border-bottom:0 none;
                }
                &.active {
                    .accordion-head-anchor:after {
                        position:absolute;
                        top:50%;
                        right:39px;
                        width:0;
                        height:0;
                        margin-top:-4px;
                        border-top:8px solid #111;
                        border-left:5px solid transparent;
                        border-right:5px solid transparent;
                    }
                }
            }
        }
        &-head {
            &-anchor {
                display:block;
                position:relative;
                width:100%;
                padding:17px 32px;
                font-size:14px;
                color:#111;
                text-align:left;
                .count {
                    color:#ec455a;
                }
                &:after {
                    content:'';
                    position:absolute;
                    top:50%;
                    right:39px;
                    width:0;
                    height:0;
                    margin-top:-4px;
                    border-top:8px solid #111;
                    border-left:5px solid transparent;
                    border-right:5px solid transparent;
                }
            }
        }
        &-panel {
            background:#fff;
            border-top:1px solid #ddd;
        }
        @include mobile {
            margin-top:40px;
            &-head {
                background:#f4f4f4;
                &-anchor {
                    padding:21px 12px;
                    font-weight:500;
                }
            }
        }
    }

    .driver-list {
        > li {
            padding:0 32px;
            .file-info {
                position:relative;
                padding:24px 0;
                > a {
                    position:absolute;
                    right:0;
                    top:50%;
                    transform:translateY(-50%);
                }
            }
            & + li {
                .file-info {
                    border-top:1px solid #ddd;
                }   
            }
            
        }
        .tit {
            display:block;
            a {
                font-size:16px;
                font-weight:400;
                color:#111;
                line-height:1.5;
            }   
        }
        .sub {
            margin-top:2px;
            font-size:16px;
            color:#515151;
            line-height:1.5;
        }
        .sub-list {
            margin-top:8px;
            @include clearfix;
            li {
                float:left;
                font-size:16px;
                color:#808080;
                line-height:1.5;
                & + li {
                    margin-left:24px;
                }
            }
        }
        @include mobile {
            > li {
                padding:0 16px;
                .file-info {
                    padding:24px 0;
                    > a {
                        top:40px;
                        transform:translateY(0);
                    }
                }
            }
            .tit {
                padding-right:96px;
                line-height:1.25;
            }
            .sub {
                padding-right:96px;
                font-size:14px;
                line-height:1.29;
            }
            .sub-list {
                li {
                    font-size:14px;
                    line-height:1.29;
                }
            }
        }   
    }
}