@charset "UTF-8";

.KR50CS332 {
    .reservation-title {
        text-align: center;
        &::before {
            content: '';
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto 24px;
            background-color: #000;
        }
        h3 {
            font-size: 24px;
            font-weight: normal;
            line-height: 1.42;
        }
        p {
            font-size: 16px;
            line-height: 1.38;
            margin-top: 16px;
        }
        [class^="btn"] {
            margin-top: 30px;
        }
    }
    .type-privacy {
        width: 100%;
    }
    @include mobile {
        .reservation-title {
            &::before {
                width: 60px;
                height: 60px;
            }
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}