.mymem-lists-wrap {
    border-radius:8px;
    background-image: linear-gradient(99deg, #8d71ec, #f75584 99%);
    .mymem-lists {
        margin:0 auto;
        padding:0 11%;
        font-size:0;
        @include mobile {
            display:block;
            width:100%;
            margin:0;
            border-collapse:inherit;
            border-spacing:0;
            padding:24px 16px;
        }
        li {
            display:inline-block;
            width:50%;
            padding:32px 0;
            vertical-align:top;
            @include mobile {
                display:block;
                width:100%;
                height:auto; 
                padding:0;
                margin-top:16px;
                border-left:none;
                &:first-child {
                    margin-top:0;
                }
            }
            &:first-child {
                margin-left:0;
            }
            > dl {
                position:relative;
                text-align:center;
                &:after {
                    content:' ';
                    display:block;
                    clear:both;
                }
                > dt {
                    color:$color-white;
                    @include mobile {
                        float:left;
                    }
                    p {
                        display:inline-block;
                        font-size:16px;
                        line-height:26px;
                        vertical-align:top;
                        @include mobile {
                            font-size:14px;
                            line-height:28px;
                        }
                    }
                    .tooltip-wrap {
                        margin:2px 0 0 5px;
                        .tooltip-icon {
                            background-image:url('/lg5-common/images/icons/icon-tooltip-white.svg');
                        }
                        .achiev-conditon {
                            dl {
                                dt {
                                    color:#000;
                                    font-size:14px;
                                    font-weight:700;
                                    line-height:24px;
                                }
                                dd {
                                    margin-top:12px;
                                    color:#000;
                                    font-size:14px;
                                    line-height:24px;
                                }
                            }
                            // dl {
                            //     margin-top:8px;
                            //     &:after {
                            //         content:' ';
                            //         display:block;
                            //         clear:both;
                            //     }
                            //     dt,dd {
                            //         float:left;
                            //         font-size:14px;
                            //         line-height:24px;
                            //         @include mobile {
                            //             font-size:13px;
                            //             line-height:21px;
                            //         }
                            //     }
                            //     dt {
                            //         width:25%;
                            //         color:#000;
                            //         @include mobile {
                            //             width:40%;
                            //         }
                            //     }
                            //     dd {
                            //         width:75%;
                            //         padding-left:24px;
                            //         color:#666;
                            //         @include mobile {
                            //             width:60%;
                            //             padding-left:16px;
                            //         }
                            //     }
                            // }
                        }
                        @include mobile {
                            margin-top:2px;
                        }
                    }
                }
                > dd {
                    margin-top:8px;
                    color:$color-white;
                    font-size:24px;
                    line-height:34px;
                    font-weight:700;
                    @include mobile {
                        float:right;
                        margin-top:0;
                        font-size:20px;
                        line-height:28px;
                    }
                    //BTOCSITE-12067 멤버십 구매 제품 금액 확인 요청 및 내용 삭제
                    em{
                        @include mobile{
                            font-size:16px;
                            line-height:28px;
                        }
                    }
                }
            }
        }
    }
    .my-contract-info {
        margin:0 40px;
        padding:16px 0;
        border-radius:0;
        border-top:1px solid rgba(255,255,255,.3);
        background-image:none;
        @include mobile {
            margin:0 16px;
            padding:12px 0;
        }
        > .tit {
            font-size:16px;
            font-weight:normal;
            line-height:26px;
            @include mobile {
                font-size:14px;
                line-height:22px;
            }
            em {
                font-weight:700;
            }
        }
    }
}
.btn-text.pst {
    position:absolute;
    top:96px;
    right:56px;
    @include mobile {
        top:50px;
        right:20px;
    }
}
.product-list-wrap.type2 {
    margin-top:40px;
}
.filters {
    &.rdo-type2 {
        margin:0 !important;
        .my-contract-info {
            margin:0;
        }
        .term-filter {
            padding:0;
            // padding:24px 40px;
            .inner .filter-tbl {
                display:block;
                position:relative;
                &:after {
                    content:' ';
                    display:block;
                    clear:both;
                }
                > .cell {
                    float:left;
                    width:50%;
                    .btn-cell {
                        width:1%;
                        .btn {
                            min-width:68px;
                            background-color:transparent;
                        }
                    }
                }
                .rdo-check {
                    // float:right;
                    // margin-top:10px;
                    position:absolute;
                    top:-40px;
                    right:0;
                    margin-top:0 !important;
                    .select-list-wrap {
                        ul {
                            li {
                                &:first-child {
                                    padding-left:0;
                                    @include mobile {
                                        padding-left:12px;
                                    }
                                }
                            }
                        }
                    }
                    @include mobile {
                        top:-35px;
                    }
                }
            }
        }
        @include mobile {
            .filters {
                padding:0;
            }
            .term-filter {
                // padding:24px 16px 32px;
                .inner .filter-tbl {
                    > .cell {
                        float:none;
                        width:100%;
                        .btn-cell {
                            width:100%;
                            margin-top:24px;
                            .btn {
                                min-width:68px;
                            }
                        }
                    }
                    .rdo-check {
                        // position:absolute;
                        // left:0;
                        // bottom:70px;
                        clear:both;
                        float:none;
                        margin-top:24px;
                    }
                }
            }
        }
    }
}
.inner-box {
    &.member-lists {
        .slide-wrap .slide-controls {
            .prev {
                left:-28px;
            }
            .next {
                right:-28px;
            }
        }
        .slide-content {
            // margin:0 -12px;
            .slide-box {
                // height:374px;
                height:100%;
                padding:12px 32px 32px;
                box-shadow:1px 4px 12px 0 rgba(0, 0, 0, 0.14);
                @include mobile {
                    height:auto;
                }
                .product-image {
                    .img {
                        display:block;
                        max-width:180px;
                        margin:0 auto;
                        text-align:center;
                        img {
                            width:100%;
                            max-width:180px;
                        }
                    }
                }
                .product-info {
                    min-height:100%;
                    margin:0;
                    padding:0;
                    .product-name {
                        min-height:76px;
                        margin:0;
                        strong {
                            // min-height:52px;
                            color: #000;
                            font-size:16px;
                            line-height:26px;
                            font-weight: 700;
                            overflow: hidden;
                            text-overflow: clip;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        @include mobile {
                            min-height:63px;
                            strong {
                                font-size:13px;
                                line-height:21px;
                            }
                        }
                        .model-num {
                            color:#000;
                            font-size:14px;
                            line-height:24px;
                        }
                    }
                    .info-area {
                        margin-top:12px;
                        ul {
                            li {
                                color:#666;
                                font-size:14px;
                                font-weight:500;
                                line-height:100%;
                                & + li {
                                    margin-top:8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .member-lists {
        > ul {
            display:flex;
            flex-wrap:wrap;
            margin:-12px;
            @include mobile {
                margin:-8px;
            }
            &:after {
                content:' ';
                display:block;
                clear:both;
            }
            .item {
                float:left;
                width:25%;
                padding:12px;
                @include mobile {
                    width:50%;
                    padding:8px;
                }
                a {
                    display:block;
                }
                .inner {
                    height:100%;
                    padding:12px 32px 32px;
                    border-radius:8px;
                    box-shadow:1px 4px 10px 0 rgba(0, 0, 0, 0.14);
                    @include mobile {
                        padding:12px 16px 24px;
                    }
                    .product-image {
                        .img {
                            display:block;
                            max-width:180px;
                            margin:0 auto;
                            @include mobile {
                                max-width:130px;
                            }
                            img {
                                width:100%;
                            }
                        }
                    }
                    .product-info {
                        margin-top:8px;
                        @include mobile {
                            margin-top:5px;
                        }
                        .product-name {
                            min-height:76px;
                            strong {
                                color: #000;
                                font-size: 15px;
                                line-height: 23px;
                                font-weight: 700;
                                overflow: hidden;
                                text-overflow: clip;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                            @include mobile {
                                min-height:63px;
                                strong {
                                    font-size:13px;
                                    line-height:21px;
                                }
                            }
                            .model-num {
                                display:block;
                                color:#000;
                                font-size:14px;
                                line-height:24px;
                                @include mobile {
                                    font-size:13px;
                                    line-height:21px;
                                }
                            }
                        }
                        .info-area {
                            margin-top:12px;
                            ul {
                                li {
                                    color:#666;
                                    font-size:14px;
                                    line-height:24px;
                                    &:first-child {
                                        margin-bottom:8px;
                                    }
                                    & + li {
                                        color:#000;
                                    }
                                }
                            }
                            @include mobile {
                                margin-top:6px;
                                ul {
                                    li {
                                        margin-top:0;
                                        font-size:13px;
                                        line-height:21px;
                                    }
                                }
                            }
                        }
                    }
                }                
            }
        }
    }
}

.benefit-info-box {
    padding-top:48px;
    @include mobile {
        padding-top:32px;
    }
    ul {
        display:table;
        width:calc(100% + 48px);
        margin:0 -24px;
        border-collapse:separate;
        border-spacing:24px 0;
        table-layout:fixed;
        @include mobile {
            display:block;
            width:auto;
            margin:0;
        }
        li.lists {
            display:table-cell;
            padding:32px 42px;
            border-radius:8px;
            box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
            vertical-align:top;
            @include mobile {
                display:block;
                margin-top:12px;
                padding:32px 24px;
                &:first-child {
                    margin-top:0;
                }
            }
            dl {
                &::before {
                    content:' ';
                    display:block;
                    width:64px;
                    height:64px;
                    margin-bottom:16px;
                    background:url("/lg5-common/images/icons/icon-point-64-01.svg") center no-repeat;
                    @include mobile {
                        margin-bottom:12px;
                    }
                }
                dt {
                    color:#000;
                    @include font-large;
                    font-weight:700;
                    @include mobile {
                        font-size:16px;
                        line-height:24px;
                    }
                }
                dd {
                    margin-top:8px;
                    color:#000;
                    @include font-medium;
                    word-break:keep-all;
                }
            }
        }
    }
    &.size2 {
        ul {
            li:nth-child(1) {
                dl {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-point-64-01.svg');
                    }
                }
            }
            li:nth-child(2) {
                dl {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-point-64-02.svg');    
                    }
                }
            }
        }
    }
}

.membership-benefit {
    display:table;
    width:100%;
    height:168px;
    margin-top:120px;
    padding:40px 48px;
    border-radius:8px;
    background:url('/lg5-common/images/MYC/img-my-mem-bene-vip.jpg') no-repeat 0 0;
    background-size:cover;
    @include mobile {
        height:251px;
        margin-top:60px;
        padding:32px 24px;
        background-image:url('/lg5-common/images/MYC/img-my-mem-bene-vip-m.jpg');
    }
    .cont {
        display:table-cell;
        position:relative;
        vertical-align:middle;
        dl {
            padding-right:130px;
            @include mobile {
                padding-right:0;
            }
            dt {
                @include font-large;
                font-weight:700;
                @include mobile {
                    font-size:16px;
                    line-height:24px;
                }
            }
            dd {
                margin-top:8px;
                @include font-medium;
            }
        }
        .btn-group {
            position:absolute;
            top:50%;
            right:0;
            margin-top:-20px;
            @include mobile {
                position:static;
                margin-top:24px;
                .btn {
                    width:auto;
                }
            }
        }
    }
}