.point-use-list {
    margin-top:24px;
    font-size:16px;
    line-height:26px;
    @include mobile {
        font-size:14px;
        line-height:22px;
        border-bottom-color:#ddd;
    }
    .lists {
        li {
            display:table;
            table-layout:fixed;
            width:100%;
            margin-top:8px;
            @include mobile {
                margin-top:16px;
            }
            &:first-child {
                margin-top:0;
            }
            > p {
                display:table-cell;
                padding-right:24px;
                vertical-align:middle;
                &.date {
                    width:21%;
                    color:#767676;
                    @include mobile {
                        color:#222;
                    }
                }
                &.desc {
                    width:auto;
                    text-align:left;
                    @include mobile {
                        margin-top:0;
                    }
                }
                &.point {
                    width:20%;
                    padding:0;
                    text-align:right;
                    @include mobile {
                        margin-top:4px;
                        span {
                            float:left;
                            width:50%;
                            .pc_txt {
                                display:none;
                            }
                        }
                    }
                    .mo_txt {
                        display:none;
                        @include mobile {
                            display:block;
                            color:#767676;
                            text-align:left;
                        }
                    }
                }
                @include mobile {
                    float:left;
                    width:100% !important;
                    margin-top:8px;
                    &:first-child {
                        margin-top:0;
                    }
                }
            }

        }
    }
    dl.total {
        @include clearfix;
        padding-top:24px;
        @include mobile {
            padding-top:20px;
        }
        dt, dd {
            float:left;
            width:50%;
            font-weight:700;
        }
        dd {
            text-align:right;
        }
    }
}