.my-address-lists {
    .top {
        margin-bottom:24px;
        text-align:right;
    }
    > ul {
        .lists {
            margin-top:16px;
            padding:32px;
            border:1px solid #ddd;
            border-radius:8px;
            @include mobile {
                padding:24px 20px;
            }
            &:first-child {
                margin-top:0;
            }
            .inner {
                display:table;
                width:100%;
                @include mobile {
                    display:block;
                }
                .infos {
                    display:table-cell;
                    vertical-align:top;
                    // BTOCSITE-5938-437
                    width: calc(100% - 200px);
                    @include mobile {
                        // BTOCSITE-5938-437
                        width:100%;
                        display:block;
                    }
                    .title {
                        font-size:0;
                        p {
                            display:inline-block;
                            color:#000;
                            @include font-medium;
                            font-weight:700;
                            vertical-align:middle;
                        }
                        .flag-wrap {
                            display:inline-block;
                            margin-left:8px;
                            vertical-align:middle;
                        }
                    }
                    .my {
                        margin-top:16px;
                        font-size:0;
                        @include mobile {
                            margin-top:12px;
                        }
                        li {
                            display:inline-block;
                            vertical-align:top;
                            color:#000;
                            @include font-medium;
                            // font-weight:500;
                            &::after {
                                content:' ';
                                display:inline-block;
                                width:1px;
                                height:10px;
                                margin:7px 8px 0;
                                background:#ddd;
                                vertical-align:top;
                            }
                            &:last-child::after {
                                display:none;
                            }
                        }
                    }
                    .address {
                        margin-top:8px;
                        font-size:0;
                        @include mobile {
                            margin-top:6px;
                        }
                        p {
                            display:inline-block;
                            margin-right:4px;
                            color:#000;
                            @include font-medium;
                            // font-weight:500;
                            vertical-align:top;
                        }
                    }
                }
                .buttons {
                    display:table-cell;
                    text-align:right;
                    vertical-align:bottom;
                    font-size:0;
                    // BTOCSITE-5938-437
                    width:200px;
                    @include mobile {
                        display:block;
                        margin-top:12px;
                         // BTOCSITE-5938-437
                        width:100%;
                    }
                    .btn {
                        margin-left:8px;
                        @include mobile {
                            margin-left:6px;
                        }
                    }
                }
            }
        }
    }
}