.info-tbl-wrap {
    .box {
        position:relative;
        margin-top:32px;
        padding-bottom:20px;
        @include mobile {
            position:relative;
            margin-top:16px;
            overflow:hidden;
            border-radius:8px;
            box-shadow:0 6px 30px 0 rgba(0, 0, 0, .12);
        }
        &:first-child {
            margin-top:0;
        }

        // title
        .info-wrap {
            margin-bottom:16px;
            .infos {
                font-size:0;
                > li {
                    display:inline-block;
                    margin-left:8px;
                    color:#222;
                    font-size:14px;
                    line-height:20px;
                    vertical-align:top;
                    &:first-child {
                        margin-left:0;
                    }
                    .m-blind {
                        margin-right:4px;
                    }
                }
            }
            @include mobile {
                margin:0 16px 20px;
                padding:20px 0 18px;
                border-bottom:1px solid #ddd;
                .infos {
                    float:none;
                    @include clearfix;
                    text-align:right;
                    > li {
                        color:#616161;
                        .m-blind {
                            position:absolute;
                            z-index:-10;
                            width:0 !important;
                            height:0 !important;
                            overflow:hidden !important;
                            font-size:medium;
                            line-height:normal;
                            word-break:break-all;
                        }
                        em {
                            color:#222;
                        }
                        &:first-child {
                            float:left;
                            color:#222;
                            font-weight:500;
                        }
                    }
                }
            }
        }

        // display table box
        .tbl-layout {
            .thead {
                border-top:1px solid #ddd;
                padding:13px 0 14px;
                background:#f4f4f4;
                font-size:0;
                .th {
                    display:inline-block;
                    color:#616161;
                    font-size:14px;
                    line-height:20px;
                    text-align:center;
                    vertical-align:top;
                }
                @include mobile {
                    display:none;
                }
            }
            .tbody {
                position:relative;
                border-bottom:1px solid #ddd;
                .row {
                    display:table;
                    table-layout:fixed;
                    border-top:1px solid #ddd;
                    &:first-child {
                        border-top:none;
                    }
                    .col {
                        display:table-cell;
                        padding:32px 24px;
                        border-right:1px solid #ddd;
                        vertical-align:middle;
                    }
                }
                @include mobile {
                    border-bottom:none;
                    .row {
                        display:block;
                        border-top:none;
                        @include clearfix;
                        .col {
                            display:block;
                            padding:0;
                            border-right:none;
                        }
                    }
                }
            }
            &.size3 {
                .row {
                    width:calc(100% - 164px);
                    @include mobile {
                        width:100%;
                    }
                }
                .col1 {
                    width:calc(100% - 161px - 164px);
                }
                .col2 {
                    width:161px;
                }
                .col3 {
                    width:164px;
                }
                @include mobile {
                    .row {
                        .col1 {
                            width:auto;
                        }
                        .col2 {
                            width:auto;
                            margin:20px 16px 0;
                        }
                    }
                }
            }
        }

        // 상세보기 버튼
        .btns {
            position:absolute;
            top:0;
            right:0;
            @include mobile {
                position:relative;
                top:auto;
                right:auto;
                margin-top:20px;
                margin-bottom:-20px;
                border-top:1px solid #ddd;
                .btn-link {
                    display:block;
                    padding:18px 0;
                    color:#616161;
                    font-size:14px;
                    line-height:18px;
                    font-weight:500;
                    text-align:center;
                    &::after {
                        display:none;
                    }
                }
            }
        }

        // 제품
        .product-info {
            @include clearfix;
            .thumb {
                float:left;
                width:120px;
                height:120px;
                border-radius:8px;
                overflow:hidden;
                @include mobile {
                    width:100px;
                    height:100px;
                }
                img {
                    width:100%;
                    height:auto;
                    vertical-align:top;
                }
            }
            .infos {
                margin-left:136px;
                @include mobile {
                    margin-right:20px;
                    margin-left:100px;
                }
                .flag-wrap {
                    margin-bottom:8px;
                    @include mobile {
                        margin-bottom:4px;
                    }
                }
                .name {
                    color:#222;
                    font-size:16px;
                    line-height:24px;
                    font-weight:700;
                    @include textEllipsisClamp(2);
                    @include mobile {
                        font-size:14px;
                        line-height:18px;
                    }
                }
                .more {
                    margin-top:4px;
                    font-size:0;
                    li {
                        display:inline-block;
                        position:relative;
                        margin-right:8px;
                        padding-right:9px;
                        color:#616161;
                        font-size:14px;
                        line-height:20px;
                        vertical-align:top;
                        &::after {
                            content:' ';
                            position:absolute;
                            top:50%;
                            right:0;
                            width:1px;
                            height:12px;
                            margin-top:-6px;
                            background:#616161;
                        }
                        &:last-child {
                            margin-right:0;
                            padding-right:0;
                            &::after {
                                display:none;
                            }
                        }
                    }
                    @include mobile {
                        margin-top:0;
                        li:first-child {
                            width:100%;
                            margin-right:0;
                            margin-bottom:8px;
                            padding-right:0;
                            &::after {
                                display:none;
                            }
                        }
                    }
                }
                .cancel-box {
                    position:absolute;
                    right:0;
                    top:50%;
                    width:164px;
                    transform:translateY(-50%);
                    text-align:center;
                    @include mobile {
                        float:left;
                        position:relative;
                        right:auto;
                        top:auto;
                        width:auto;
                        margin-top:12px;
                        transform:translateY(0);
                        text-align:left;
                    }
                }
                .buttons {
                    margin-top:21px;
                    text-align:right;
                    @include mobile {
                        float:right;
                        margin-top:12px;
                    }
                }
            }
        }
    
        // 상태
        .state-box {
            text-align:center;
            @include mobile {
                @include clearfix;
            }
            .tit {
                color:#222;
                font-size:14px;
                line-height:20px;
                @include mobile {
                    clear:both;
                }
                .pc-blind {
                    color:#616161;
                    &::after {
                        content:' ';
                        display:inline-block;
                        width:1px;
                        height:10px;
                        margin:5px 8px 0;
                        background:#616161;
                        vertical-align:top;
                    }
                    @media screen and (min-width:768px) {
                        position:absolute;
                        z-index:-10;
                        width:0 !important;
                        height:0 !important;
                        overflow:hidden !important;
                        font-size:medium;
                        line-height:normal;
                        word-break:break-all;
                        &::after {
                            display:none;
                        }
                    }
                }
            }
            .desc {
                margin-top:4px;
                color:#616161;
                font-size:14px;
                line-height:20px;
                @include mobile {
                    float:left;
                    line-height:30px;
                }
            }
            .btn {
                margin-top:8px;
                @include mobile {
                    float:right;
                    margin-top:4px;
                    background:transparent;
                }
            }
            @include mobile {
                padding:16px;
                border-radius:4px;
                background:#f4f4f4;
                text-align:left;
            }
        }

        // 취소 텍스트
        .p-text {
            font-size:14px;
            line-height:20px;
            &.red {
                color:#F04E3E;
            }
        }
    }

}

// 청약 계약 진행단계 안내
.contract-steps {
    overflow:hidden;
    > ol {
        margin-top:-24px;
        font-size:0;
        @include mobile {
            margin-top:0;
        }
        .steps {
            display:inline-block;
            position:relative;
            width:164px;
            margin-top:24px;
            margin-right:40px;
            padding-right:24px;
            vertical-align:top;
            &::before {
                content:' ';
                display:block;
                width:80px;
                height:80px;
                border-radius:50%;
                margin-bottom:12px;
                overflow:hidden;
                background-size:100%;
            }
            @for $i from 1 through 7 {
                &.cs#{$i}::before {
                    background-image:url('/lg5-common/images/MYC/icon-cs#{$i}.svg');
                }
            }
            &::after {
                content:' ';
                position:absolute;
                top:99px;
                right:9px;
                width:0;
                height:0;
                border-top:5px solid transparent;
                border-bottom:5px solid transparent;
                border-left:6px solid #222;
            }
            @include mobile {
                display:block;
                width:100%;
                min-height:40px;
                margin-top:40px;
                padding-right:0;
                padding-left:80px;
                &::before {
                    position:absolute;
                    top:0;
                    left:20px;
                    width:40px;
                    height:40px;
                    margin-bottom:0;
                }
                &::after {
                    top:-32px;
                    left:50%;
                    width:24px;
                    height:24px;
                    margin-left:-12px;
                    border:none;
                    background-image:url('/lg5-common/images/icons/icon-btn-arrow-bottom.svg');
                    background-size:100%;
                }
                &:first-child {
                    margin-top:0;
                    &::after {
                        display:none;
                    }
                }
            }
            dl {
                dt {
                    color:#222;
                    font-size:16px;
                    line-height:24px;
                    font-weight:500;
                    @include mobile {
                        font-size:14px;
                        line-height:18px;
                        font-weight:700;
                    }
                }
                dd {
                    margin-top:4px;
                    color:#616161;
                    font-size:14px;
                    line-height:20px;
                    @include mobile {
                        color:#222;
                        margin-top:2px;
                        line-height:18px;
                    }
                }
            }
        }
    }
}

