.form-wrap {
	.select-half {
		margin-top:8px;
		.select-wrap {
			width:calc((100% - 8px) / 2);
			margin:0 0 0 8px;
			&:first-child {
				margin-left:0;
			}
		}
	}
	.tooltip-wrap {
		.barcode-wrap {
			p {
				position:relative;
				margin-top:8px;
				font-size:14px;
				line-height:24px;
				&:before {
					content:' ';
					display:inline-block;
					width:3px;
					height:3px;
					margin-right:8px;
					background-color:#222;
					vertical-align:4px;
					@include mobile {
						width:2px;
						height:2px;
					}
				}
			}
			.img-barcode {
				text-align:center;
				img {
					height:80px;
				}
			}
			@include mobile {
				p {
					margin-top:12px;
					font-size:13px;
					line-height:21px;
				}
				.img-barcode {
					img {
						height:57px;
					}
				}
			}
		}
	}
	@include mobile {
		.select-half {
			margin-top:6px;
			.select-wrap {
				width:100%;
				margin:6px 0 0;
			}
		}
	}
}