.my-contract-info {
    margin-bottom:80px;
    padding:32px;
    border-radius:8px;
    background-image: linear-gradient(98deg, #8d71ec, #f75584 99%);
    &.gray-box {
        background: $color-bg;
        > .tit,
        > .desc {
            color: $color-default;
        }
    }
    @include mobile {
        margin-bottom:60px;
        padding:32px 12px;
    }
    > .tit {
        color: #fff;
        //color:#222;
        @include font-large-2;
        font-weight:700;
        text-align:center;
        em {
            //color:#EC455A;
        }
        @include mobile {
            font-size:20px;
            line-height:28px;
        }
        & + .btn-area {
            margin-top:24px;
            @include mobile {
                margin-top:16px;
            }
        }
    }
    > .desc {
        margin-top:12px;
        color: #fff;
        //color:#222;
        @include font-medium;
        text-align:center;
        em {
            //color:#EC455A;
            font-weight: 700;
        }
    }
    > .btn-area {
        .btn {
            border-color: $color-white !important;
            &:hover,
            &:focus,
            &:active {
                border-color: $color-primary !important;
            }
        }
    }
    .form-wrap {
        max-width:912px;
        margin:24px auto 0;
        .forms {
            .tit {
                width:117px;
                label {
                    color: #fff;
                }
            }
            .conts {
                width:calc(100% - 117px);
            }
        }
        @include mobile {
            margin-top:24px;
            .forms {
                .tit, .conts {
                    width:100%;
                }
                .conts {
                    margin-top:8px;
                }
            }
        }
    }
    .btn-area {
        margin-top:16px;
        text-align:center;
        .btn {
            border-color:#fff;
            color:#fff;
        }
    }
}

.payment {
    &.modify {
        .form-wrap.size2 .forms .conts {
            margin-top:12px;
        }
        .select-list-wrap.w-auto {
            > ul {
                margin-top:0;
                margin-left:0;
                > li {
                    display:block;
                    margin-top:20px;
                    padding-left:0;
                    @include mobile {
                        margin-top:16px;
                    }
                    &:first-child {
                        margin-top:0;
                    }
                    .tab-panel {
                        margin-top:16px;
                        border-radius:8px;
                        background-color:#f4f4f4;
                        .form-wrap {
                            .forms {
                                &.inner-type {
                                    margin-top:16px;
                                    &:first-child {
                                        margin-top:0;
                                    }
                                }
                                .tit {
                                    &.req {
                                        label {
                                            &:after {
                                                content: '*';
                                                display: inline-block;
                                                margin-left: 1px;
                                                color: #EC455A;
                                                font-size: inherit;
                                                line-height: inherit;
                                                vertical-align: top;
                                            }
                                        }
                                    }
                                }
                                .conts {
                                    margin-top:8px;
                                }
                            }
                        }
                        .select-wrap {
                            ul {
                                li {
                                    display:block;
                                    margin-top:0;
                                    padding-left:0;
                                }
                            }
                        }
                        .bullet-list {
                            margin-top:24px;
                            li {
                                padding-left:11px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-wrap {
    .sects {
        .manager-info {
            .dl-infolist-wrap {
                .lists {
                    li {
                        dl {
                            dd {
                                width:52%;
                                .bullet-list {
                                    margin-top:12px;
                                }
                                .point-box {
                                    margin-top:24px;
                                    padding:24px;
                                    border-radius:8px;
                                    background-color:#f4f4f4;
                                    dl {
                                        &:after {
                                            content:' ';
                                            display:block;
                                            clear:both;
                                        }
                                        dt {
                                            float:left;
                                            width:40%;
                                        }
                                        dd {
                                            float:right;
                                            width:60%;
                                            max-width:100%;
                                            color:#da0f47;
                                            font-weight:700;
                                            text-align:right;
                                        }
                                    }
                                    .desc {
                                        margin-top:16px;
                                        padding-top:16px;
                                        border-top:1px solid #ddd;
                                    }
                                    .select-list-wrap {
                                        margin-top:16px;
                                        ul {
                                            margin-top:0;
                                            li {
                                                margin-top:0;
                                                &:first-child {
                                                    padding-left:0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            @include mobile {
                                dt,dd {
                                    display:block;
                                    width:100%;
                                }
                                dd {
                                    margin-top:16px;
                                    .point-box {
                                        dl {
                                            dd {
                                                margin-top:0;
                                            }
                                        }
                                        .desc {
                                            margin-top:12px;
                                            padding-top:12px;
                                            font-size:13px;
                                            line-height:21px;
                                        }
                                        .select-list-wrap {
                                            margin-top:13px;
                                            ul {
                                                margin-top:0;
                                                margin-left:0;
                                                li {
                                                    width:50%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* 2021.2.9 추가 */
        .mempoint-info {
            .dl-infolist-wrap {
                .lists {
                    li {
                        dl {
                            dd {
                                width:52%;
                                .bullet-list {
                                    margin-top:12px;
                                }
                                .point-box {
                                    margin-top:24px;
                                    padding:24px;
                                    border-radius:8px;
                                    background-color:#f4f4f4;
                                    dl {
                                        &:after {
                                            content:' ';
                                            display:block;
                                            clear:both;
                                        }
                                        dt {
                                            float:left;
                                            width:40%;
                                        }
                                        dd {
                                            float:right;
                                            width:60%;
                                            max-width:100%;
                                            color:#da0f47;
                                            font-weight:700;
                                            text-align:right;
                                        }
                                    }
                                    .desc {
                                        margin-top:16px;
                                        padding-top:16px;
                                        border-top:1px solid #ddd;
                                    }
                                    .select-list-wrap {
                                        margin-top:16px;
                                        ul {
                                            margin-top:0;
                                            li {
                                                margin-top:0;
                                                &:first-child {
                                                    padding-left:0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            @include mobile {
                                dt,dd {
                                    display:block;
                                    width:100%;
                                }
                                dd {
                                    margin-top:16px;
                                    .point-box {
                                        dl {
                                            dd {
                                                margin-top:0;
                                            }
                                        }
                                        .desc {
                                            margin-top:12px;
                                            padding-top:12px;
                                            font-size:13px;
                                            line-height:21px;
                                        }
                                        .select-list-wrap {
                                            margin-top:13px;
                                            ul {
                                                margin-top:0;
                                                margin-left:0;
                                                li {
                                                    width:50%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* BTOCSITE-698 : 결제정보 추가 */
        .payment-info{
            text-align: left;
        }
        /* //BTOCSITE-698 : 결제정보 추가 */
    }
}

.payinfo-wrap {
    display:none;
    margin-top:16px;
    padding:24px;
    border-radius:8px;
    background:#f4f4f4;
}

.flt-wrapping {
    @include clearfix;
    .dl-infolist-wrap {
        float:left;
    }
    .btn-group {
        float:right;
    }
    @include mobile {
        .dl-infolist-wrap {
            float:none;
            max-width:100%;
        }
        .btn-group {
            float:none;
            margin-top:24px;
            .btn.bd-black {
                width:calc((100% - 8px) / 2);
                margin-left:8px;
                &:first-child {
                    margin-left:0;
                }
                &:nth-child(3) {
                    width:100%;
                    margin-top:8px;
                    margin-left:0;
                }
                &:only-child {
                    width:100%;
                    margin:0;
                }
            }
        }
    }
}


.cont-wrap.type3 {
    @include mobile {
        padding:0;
    }
}

/* BTOCSITE-5138 */
.dl-infolist-wrap{
    .lists{
        .addrInfo{
            dd{
                span{
                    display:inline;
                }
            }
        }
    }
}
/* //BTOCSITE-5138 */