.bookmark-store-list {
    margin-top: 64px;
    border-top: 2px solid $color-default;
    > li {
        border-bottom: 1px solid $color-border;
    }
    .item {
        position: relative;
        padding: 24px 300px 24px 0;
        .branch {
            font-weight: 700;
            @include font-x-small;
            color: $color-primary;
        }
        .title {
            display: block;
            margin: 2px 0 12px;
            font-weight: 700;
            @include font-medium;
            @include textEllipsis;
        }
        .phone {
            font-weight: 500;
            @include font-small;
            color: $color-gray-1;
        }
        .bookmark,
        .share-area,
        .btn-area {
            position: absolute;
            top: 24px;
        }
        .bookmark {
            right: 188px;
            padding: 4px;
        }
        .share-area {
            right: 132px;
        }
        .btn-area {
            right: 0;
        }
    }

    @include mobile {
        margin-top: 40px;
        .item {
            padding: 16px 150px 16px 0;
            .bookmark,
            .share-area {
                top: 16px;
            }
            .bookmark {
                right: 46px;
            }
            .share-area {
                right: 0;
            }
            .btn-area {
                top: auto;
                bottom: 16px;
                right: 0;
            }
        }
    }
}