@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.mypage {
    br.mob {
        display:none;
        @include mobile {
            display:block;
        }
    }
    .cont-wrap {
        @include mobile {
            padding-top:0;
        }
    }
    // mypage lnb layout
    .lnb-wrap {
        @include clearfix;
        .lnb {
            float:left;
            width:16%;
            padding-right:24px;
            border-radius:4px;
            background:#fff;
            @include mobile {
                display:none;
            }
            .mypage-lnb {
                > li {
                    margin-top:16px;
                    &:first-child {
                        margin-top:0;
                    }

                }
                a {
                    display:inline-block;
                    color:#767676;
                    @include font-small;
                    font-weight:500;
                    &.my-dep1 {
                        color:#222;
                        font-weight:700;
                    }
                    &.on {
                        text-decoration:underline;
                    }
                }
                .myp-sub {
                    margin-top:4px;
                    li {
                        margin-top:4px;
                        &:first-child {
                            margin-top:0;
                        }
                    }
                }
            }
        }
        .lnb-contents {
            float:right;
            width:84%;
            max-width:1146px;
            @include mobile {
                float:none;
                width:auto;
                padding:0 16px;
            }
            .filters {
                margin:64px 0 48px;
                @include mobile {
                    margin:24px 0 40px;
                }
            }
            > .btn-group {
                margin-top:80px;
                @include mobile {
                    margin-top:40px;
                }
            }
        }
    }
    .section-wrap {
        .sects {
            margin-top:80px;
            @include mobile {
                margin:0 -16px;
                padding:32px 16px 60px;
                border-top:12px solid #f4f4f4;
            }
            &:first-child {
                margin-top:0;
                @include mobile {
                    padding-top:0;
                    border-top:none;
                }
            }
            &:last-child {
                @include mobile {
                    padding-bottom:0;
                }
            }
            // title
            > .tit-wrap {
                position:relative;
                @include clearfix;
                height:50px;
                margin-bottom:0;
                border-bottom:2px solid #222;
                @include mobile {
                    height:auto;
                    padding-bottom:12px;
                }
                .tit {
                    float:left;
                    color:#222;
                    @include font-large-1;
                    font-weight:700;
                    em {
                        color:#EC455A;
                    }
                    @include mobile {
                        padding:4px 0;
                        font-size:18px;
                        line-height:26px;
                        &:only-child {
                            padding-top:0;
                        }
                    }
                }
                .flt-cont {
                    float:right;
                    font-size:0;
                    &.left {
                        float:left;
                        padding:4px 0;
                        .tit {
                            float:none;
                            display:inline-block;
                            padding:0;
                            vertical-align:top;
                        }
                        .tooltip-wrap {
                            margin-top:3px;
                            margin-left:4px;
                        }
                    }
                    @include mobile {
                        .tooltip-wrap {
                            .tooltip-box {
                                left:0;
                                right:0;
                            }
                        }
                    }
                }
                &.type2 {
                    height:auto;
                    margin-bottom:12px;
                    border-bottom:none;
                    @include mobile {
                        padding-bottom:0;
                    }
                    .tit {
                        @include font-large;
                        @include mobile {
                            padding:0;
                            font-size:18px;
                            line-height:26px;
                        }
                    }
                }
            }
            // contents
            .section-inner {
                padding-top:48px;
                @include mobile {
                    padding-top:20px;
                }
                &.type2 {
                    padding-top:16px;
                }
                &.type3 {
                    padding-top:64px;
                }
                // 탭 밑에 붙을 때 type4
                &.type4 {
                    padding-top:24px;
                    @include mobile {
                        padding-top:16px;
                    }
                }
                .inner-box {
                    margin-top:64px;
                    &.type2 {
                        margin-top:48px;
                    }
                    @include mobile {
                        margin-top:40px;
                    }
                    &:first-child {
                        margin-top:0;
                    }
                    .inner-tit {
                        margin-bottom:24px;
                        color:#222;
                        @include font-large;
                        font-weight:700;
                        @include mobile {
                            font-size:16px;
                            line-height:24px;
                            margin-bottom:12px;
                        }
                    }
                }
                .dl-infolist-wrap {
                    .lists {
                        li {
                            dl {
                                dt {
                                    width:20.4%;
                                    @include mobile {
                                        width:31%;
                                    }
                                }
                                dd {
                                    width:79.6%;
                                    @include mobile {
                                        width:69%;
                                    }
                                }
                            }
                        }
                    }
                }
                .form-wrap {
                    .forms {
                        .tit {
                            width:20.4%;
                        }
                        .conts {
                            width:79.6%;
                            max-width:795px;
                        }
                        @include mobile {
                            .tit, .conts {
                                width:100%;
                            }
                        }
                        &.inner-type {
                            .tit,
                            .conts {
                                width:100%;
                                max-width:initial;
                            }
                        }
                    }
                    &.size2 {
                        .forms {
                            .conts {
                                max-width:560px;
                                @include mobile {
                                    max-width:initial;
                                }
                            }
                        }
                    }
                    &.col-type {
                        max-width:100%;
                        @include clearfix;
                        .forms {
                            float:left;
                            width:calc((100% - 24px) / 2);
                            margin:0;
                            margin-left:24px;
                            &:first-child {
                                margin-left:0;
                            }
                            @include mobile {
                                float:none;
                                width:100%;
                                margin:0;
                                margin-top:24px;
                                &:first-child {
                                    margin-top:0;
                                }
                            }
                        }
                    }
                }
                .chk-wrap.margin {
                    margin-top:16px;
                    margin-left:20.4%;
                    @include mobile {
                        margin-top:24px;
                        margin-left:0;
                    }
                }
                .btn-group {
                    margin-top:32px;
                }
                .btn-moreview {
                    margin-top:32px;
                    @include mobile {
                        margin-top:24px;
                    }
                }
            }
            &.modify{
                display:none;
            }
        }
    }

    //멤버십 포인트 조회
    @import "ACCF7052";

    // 나의 멤버십 정보
    @import "ACCF7039";

    // 알림
    @import "ACCF7062";

    // 보유제품 리스트
    @import "ACCF7033";

    // 배송지 주소 관리
    @import "ACCF7009";

    // 쿠폰
    @import "ACCF7018";

    // 최근 본 상품/찜한 목록
    @import "ACCF7011";

    // 케어솔루션
    @import "ACCF7024";

    // 케어솔루션 계약현황
    @import "ACCF7025";

    // 방문 알리미
    @import "ACCF7030";

    // 영수증 등록
    @import "ACCF7037";

    // 참여 이벤트
    @import "ACCF7071";

    // popup
    @import "ACCF-popup";
}


// MYC layer popup contents
// 제품 영수증 등록
.barcode-info {
    display:inline-block;
    padding:24px;
    border-radius:4px;
    background:#f4f4f4;
    p {
        margin-bottom:12px;
        color:#616161;
        font-size:14px;
        line-height:20px;
    }
    img {
        max-width:214px;
        height:auto;
        vertical-align:top;
    }
}

// 제품등록 완료
.complete-msg {
    .comp-tit {
        position:relative;
        padding-top:28px;
        color:$color-default;
        font-size:16px;
        line-height:24px;
        text-align:center;
        font-weight:500;
        &::before {
            content:' ';
            position:absolute;
            top:0;
            left:50%;
            width:24px;
            height:24px;
            margin-left:-12px;
            background:url('/lg5-common/images/MYC/icon-ck.svg') center no-repeat;
        }
        @include mobile {
            color:#616161;
        }
    }
    .comp-prod-info {
        margin-top:24px;
        padding:0 24px 28px;
        border-radius:4px;
        background:#f4f4f4;
        text-align:center;
        @include mobile {
            padding:0 20px 20px;
        }
        .img {
            display:block;
            max-width:initial;
            margin:0 auto 16px;
            @include mobile {
                margin:0 -20px 8px;
            }
            img {
                width:100%;
                height:auto;
                vertical-align:top;
            }
        }
        .tit {
            color:$color-default;
            font-size:16px;
            line-height:24px;
            font-weight:700;
        }
        .desc {
            margin-top:4px;
            font-size:0;
            text-align:center;
            li {
                display:inline-block;
                position:relative;
                padding-left:12px;
                color:$color-default;
                font-size:14px;
                line-height:20px;
                vertical-align:top;
                &::before {
                    content:' ';
                    position:absolute;
                    top:50%;
                    left:4px;
                    width:4px;
                    height:4px;
                    margin-top:-2px;
                    border-radius:2px;
                    background:$color-default;
                }
                &:first-child {
                    padding-left:0;
                    &::before {
                        display:none;
                    }
                }
            }
        }
        .purchase-info {
            margin-top:16px;
            @include mobile {
                margin-top:20px;
            }
            dl {
                font-size:0;
                dt, dd {
                    display:inline-block;
                    color:$color-default;
                    font-size:14px;
                    line-height:20px;
                }
                dt::after {
                    content:':';
                    display:inline-block;
                    margin-left:2px;
                    margin-right:2px;
                    vertical-align:top;
                }
            }
        }
    }
    .more-txt {
        margin-top:48px;
        color:$color-default;
        font-size:16px;
        line-height:24px;
        font-weight:700;
        text-align:center;
        @include mobile {
            margin-top:32px;
        }
    }
}