@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.mypage {
    //멤버십 포인트 조회
    @import "ACCF7052";

    // 영수증 등록
    .form-wrap {
        margin-top:32px;
        @include mobile {
            margin-top:24px;
        }
        &:first-child {
            margin-top:0;
        }
        .tooltip-tit {
            position:relative;
            font-size:0;
        }
        .tit-txt {
            display:inline-block;
            font-size:14px;
            line-height:20px;
            vertical-align:top;
            @include mobile {
                line-height:18px;
            }
        }
        .btn-receipt {
            float:right;
            color:#EC455A;
            font-size:14px;
            line-height:20px;
            font-weight:500;
            @include mobile {
                position:absolute;
                top:40px;
                right:0;
            }
        }
        .tooltip-wrap {
            margin-left:4px;
            vertical-align:top;
            @include mobile {
                margin-top:1px;
            }
            .img_barcode {
                max-width:214px;
                margin-bottom:10px;
                img {
                    display:block;
                    width:100%
                }
            }
        }
        .input-wrap {
            &.barcode {
                position:relative;
                width:465px;
                @include mobile {
                    width:100%;
                }
                input {
                    padding-right:120px;
                    @include mobile {
                        padding-right:15px;
                    }
                }
                .btn-confirm {
                    position:absolute;
                    top:15px;
                    right:15px;
                    padding-right:28px;
                    @include mobile {
                        position:relative;
                        top:0;
                        right:0;
                        float:right;
                        margin-top:8px;
                    }
                    &:after {
                        content:'';
                        display:block;
                        position:absolute;
                        top:0;
                        right:0;
                        width:24px;
                        height:24px;
                        border:1px solid #EC455A;
                        border-radius:50%;
                    }
                    span {
                        position:relative;
                        color:#EC455A;
                        font-size:16px;
                        line-height:24px;
                        font-weight:500;
                        &:before {
                            content:'';
                            display:block;
                            position:absolute;
                            top:7px;
                            right:-16px;
                            width:1px;
                            height:11px;
                            background:#EC455A;
                        }
                        &:after {
                            content:'';
                            display:block;
                            position:absolute;
                            top:12px;
                            right:-21px;
                            width:11px;
                            height:1px;
                            background:#EC455A;
                        }
                    }
                    &:disabled {
                        &::after {
                            border-color:#ccc;
                        }
                        span {
                            color:#ccc;
                            &::before, &::after {
                                background:#ccc;
                            }
                        }
                    }
                }
            }
        }

        .spot-select {
            max-width:465px;
            @include mobile {
                max-width:100%;
            }
        }
    }

    // 나의 멤버십 정보
    @import "ACCF7039";

    // 알림
    @import "ACCF7062";
}
