.info-txt {
    margin-top:-40px;
    @include font-small;
    @include mobile {
        margin-top:-24px;
    }
}

.tit-wrap {
    @include clearfix;
    margin:48px 0 16px;
    @include mobile {
        margin:40px 0 12px;
    }
    .h2-tit, .leng {
        display:inline-block;
        @include font-medium;
        font-weight:700;
        vertical-align:middle;
    }
    .leng {
        margin-left:4px;
        strong {
            color:$color-primary;
        }
    }
}

.estimate-list {
    border-top:1px solid #000;
    .item {
        display:table;
        padding:24px 0;
        width:100%;
        table-layout:fixed;
        border-bottom:1px solid #ddd;
        .img-wrap {
            display:table-cell;
            width:120px;
            vertical-align:middle;
            @include mobile {
                width:100px;
                vertical-align:top;
            }
            img {
                display:block;
                width:120px;
                height:120px;
                overflow:hidden;
                @include mobile {
                    width:100px;
                    height:100px;
                }
            }
        }
        .txt-wrap {
            position:relative;
            display:table-cell;
            width:100%;
            padding-left:24px;
            vertical-align:top;
            @include mobile {
                padding-left:12px;
            }
            .top-info {
                position:relative;
                @include mobile {
                    position:static;
                }
            }
            .tit-info {
                @include clearfix;
                width:100%;
                margin-top:2px;
                @include mobile {
                    margin-top:4px;
                }
                .tit {
                    display:inline-block;
                    width:290px;
                    max-height:52px;
                    @include font-medium;
                    font-weight:700;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    word-break:break-all;
                    -moz-line-clamp: 2;
                    -ms-line-clamp: 2;
                    -webkit-line-clamp: 2;
                    vertical-align:top;
                    @include mobile {
                        width:100%;
                        font-size:16px;
                        line-height:24px;
                        max-height:48px;
                    }
                }
                .etc-info {
                    margin-top:0;
                    .txt {
                        font-weight:500;
                        color: #000;
                    }
                }
            }
            .price-info {
                position:absolute;
                top:25px;
                right:0;
                text-align:right;
                @include mobile {
                    position:static;
                    padding-top:16px;
                    text-align:left;
                }
                .price {
                    @include font-large;
                    font-weight:700;
                    @include mobile {
                        font-size:18px;
                        line-height:26px;
                    }
                    &.sale {
                        color:#767676;
                        @include font-small;
                        font-weight:500;
                        text-decoration:line-through;
                    }
                }
            }
            .etc-info {
                margin-top:12px;
                @include mobile {
                    margin-top:10px;
                }
                .txt {
                    position:relative;
                    color:#666;
                    @include font-small;
                    &:before {
                        content:'';
                        display:inline-block;
                        margin:0 8px;
                        width:1px;
                        height:12px;
                        background:#767676;
                        vertical-align:baseline;
                    }
                    &:first-child:before {
                        display:none;
                        margin-left:0;
                    }
                }
            }
        }
    }
    &:first-child .item {
        padding-top:16px;
        @include mobile {
            padding-top:24px;
        }
    }
}

.total-price-wrap {
    .tit-wrap {
        margin: 80px 0 24px;
        .h2-tit {
            font-size: 24px;
            line-height: 34px;
        }
        @include mobile {
            margin-top: 60px;
            .h2-tit {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}

.estimate-price {
    padding: 24px 32px 32px;
    border-radius:8px;
    background:#f4f4f4;
    @include mobile {
        padding:32px 20px;
    }
    dl {
        display:table;
        width:100%;
        margin-top:8px;
        table-layout:fixed;
        @include mobile {
            margin-top:20px;
        }
        &:first-child {
            margin-top:0;
        }
        dt, dd {
            display:table-cell;
            vertical-align:middle;
            @include font-small;
            font-weight:500;
        }
        dt {
            color:#000;
            font-weight:normal;
        }
        dd {
            text-align:right;
            &.sale {
                color:#da0f47;
                .alliance-card {
                    height:74px;
                    padding:16px 0 12px;
                    color:#000;
                    text-align:left;
                    @include mobile {
                        height:auto;
                        padding:8px 0 0;
                    }
                }
            }
        }
        &.sel {
            dd {
                width:65%;
            }
            @include mobile {
                dt,dd {
                    display:block;
                }
                dt {
                    position: relative;
                    top:0;
                }
                dd {
                    width:100%;
                }
            }
        }
        &.total {
            margin-top:16px;
            padding-top:16px;
            border-top:1px solid #ddd;
            @include mobile {
                margin-top:20px;
            }
            dd {
                @include font-large-2;
                font-weight:700;
                @include mobile {
                    font-size:18px;
                    line-height:26px;
                }
            }
        }
    }
    .btn {
        margin-top:24px;
        @include mobile {
            margin-top: 20px;
        }
    }
    .tooltip-wrap {
        .title {
            font-weight:700;
        }
        .bullet-list {
            margin-top:12px;
        }
        .btn-link {
            margin-top:24px;
            font-size:14px;
            line-height:24px;
        }
    }
}

.alliance-card {
    padding-top:40px;
    @include mobile {
        padding-top:32px;
    }
    // .select-wrap {
    //     display:inline-block;
    //     width:60%;
    //     vertical-align:middle;
    //     @include mobile {
    //         width:100%;
    //     }
    // }
    .select-wrap {
        display: block;
        .select-button {
            display: block;
            position: relative;
            border: 1px solid $color-border;
            border-radius: 8px;
            background: $color-bg-wt;
            a {
                display:block;
                padding: 10px 48px 10px 15px;
            }
            @include font-medium;
            .ui_dropdown_toggle {
                &:after {
                    position: absolute;
                    top: 50%;
                    right: 16px;
                    width: 16px;
                    height: 16px;
                    margin-top: -8px;
                    background: url('/lg5-common/images/icons/btn-down-16-black.svg') no-repeat 0 0;
                    transition: all 0.3s;
                    content: '';
                }
            }
        }
        .selectbox-list {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;
            border-radius: 8px;
            border: 1px solid $color-default;
            background-color: $color-bg-wt;
            /* BTOCSITE-5938-362 [안드로이드앱] 렌탈 케어플래너 견적내역 팝업 견적합계 셀렉트 박스 오류 */
            @include mobile{
                position:relative;
            }
            /* //BTOCSITE-5938-362 [안드로이드앱] 렌탈 케어플래너 견적내역 팝업 견적합계 셀렉트 박스 오류 */
        }
        .select-list {
            margin-top: 48px;
            padding-bottom: 12px;
            @include font-medium;
            //주영 수정
            li {
                &.divide {
                    padding: 10px 16px;
                    .inner {
                        position: relative;
                        overflow: hidden;
                        display: block;
                        height: 22px;
                    }
                    em {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        @include font-medium;
                        color: $color-gray-1;
                        white-space: nowrap;
                    }
                }

                a {
                    display: block;
                    padding: 10px 16px;
                    &:hover,
                    &:focus,
                    &.on {
                        background-color: $color-bg;
                    }
                    span {
                        display: flex;
                        &.card-discount {
                            color: #da0f47;
                            font-weight: 500;
                        }
                    }
                }
            }
            //주영 수정 end
        }
        &.open {
            .select-button {
                position: absolute;
                top: 1px;
                right: 1px;
                left: 1px;
                z-index: 2;
                border: 0;
                .ui_dropdown_toggle {
                    &:after {
                        transform:rotate(180deg);
                    }
                }
                .select-text {
                    background-image: none;
                    color: $color-gray-1;
                    .tooltip-wrap {
                        display: none;
                    }
                }
            }
            .selectbox-list {
                display: block;
            }
        }
    }

    
    .price {
        position:relative;
        margin-top:8px;
        color:#EC455A;
        @include font-small;
        font-weight:500;
        @include mobile {
            margin-top:6px;
            font-size:14px;
            line-height:22px;
        }
        &:before {
            content:'';
            display:inline-block;
            vertical-align:middle;
            width:20px;
            height:20px;
            margin-right:4px;
            background:url('/lg5-common/images/icons/icon-sale.svg') no-repeat;
        }
    }
    .etc-txt {
        margin-top:12px;
        @include font-small;
        font-weight:500;
    }
}