// common
br.m {
    display:none;
    @include mobile {
        display:block;
    }
}
// visual title
.visual-tit-wrap {
    position:relative;
    height:480px;
    background:url('/lg5-common/images/SLC/bg-visual-tit01.jpg') center no-repeat;
    line-height:480px;
    text-align:center;
    .txt-wrap {
        display:inline-block;
        width:100%;
        max-width:1380px + 80px;
        padding:0 40px;
        vertical-align:middle;
        line-height:1;
        text-align:left;
        .tit {
            color:#222;
            @include font-large-6;
            font-weight:700;
        }
        .tit-desc {
            margin-top:20px;
            color:#222;
            @include font-medium;
        }
        .btn.border {
            margin-top:24px;
        }
    }
    @include mobile {
        height:270px;
        background:url('/lg5-common/images/SLC/bg-visual-tit01-m.jpg') center bottom no-repeat;
        background-size:cover;
        .txt-wrap {
            display:block;
            max-width:70%;
            padding:32px 16px;
            .tit {
                font-size:24px;
                line-height:32px;
            }
            .tit-desc {
                margin-top:12px;
                word-break:keep-all;
                br {
                    display:none;
                }
            }
        }
    }
}

.csn-tabs {
    padding-top:40px;
    @include mobile {
        padding:12px 0;
        text-align:center;
    }
}
.csn-tab-contents {
    padding-top:48px;
    @include mobile {
        padding-top:0;
    }
    .border-type {
        margin:32px -40px 0;
        .tabs {
            padding:0 40px;
        }
        @include mobile {
            margin:16px -16px 0;
            .tabs {
                padding:0 16px;
            }
        }
    }
    .csn-itr-cont {
        margin-top:28px;
        @include mobile {
            margin:0 -16px;
        }
    }
    .prd-list-count {
        margin:48px 0 16px;
        color:#222;
        @include font-medium;
        font-weight:700;
    }

    .cont-wrap {
        padding-bottom:120px;
        @include mobile {
            padding:0;
        }
        .csn-section {
            width:100%;
            max-width:initial;
            margin-top:80px;
            @include mobile {
                margin-top:0;
                padding:32px 16px 60px;
                border-top:12px solid #f4f4f4;
            }
            &:first-child {
                margin-top:0;
            }
            .tit-wrap {
                text-align:center;
                @include mobile {
                    text-align:left;
                }
                .tit {
                    font-size:24px;
                    line-height:30px;
                    font-weight:700;
                    @include mobile {
                        font-size:20px;
                        line-height:28px;
                    }
                }
                .desc {
                    margin-top:16px;
                    @include font-large;
                    small {
                        display:block;
                        margin-top:8px;
                        font-size:inherit;
                        line-height:inherit;
                        @include mobile {
                            margin-top:0;
                        }
                    }
                    @include mobile {
                        margin-top:12px;
                        font-size:14px;
                        line-height:22px;
                    }
                }
                .btn {
                    margin-top:24px;
                    @include mobile {
                        margin-top:16px;
                    }
                }
            }

            &:last-child {
                margin-bottom:0;
            }
        }
    }

    // 케어솔루션이란?
    .csn-intro {
        position:relative;
        .img {
            display:block;
            width:60%;
            max-width:678px;
            border-radius:8px;
            overflow:hidden;
            img {
                width:100%;
                height:auto;
                vertical-align:top;
            }
            @include mobile {
                width:100%;
                max-width:100%;
                border-radius:4px;
            }
        }
        dl {
            position:absolute;
            right:0;
            top:50%;
            width:calc(40% - 24px);
            max-width:420px;
            transform:translateY(-50%);
            dt {
                color:#222;
                @include font-large-2;
                font-weight:700;
            }
            dd {
                width:100%;
                margin-top:12px;
                color:#222;
                @include font-medium;
                word-break:keep-all;
            }
            @include mobile {
                position:relative;
                right:auto;
                top:auto;
                width:100%;
                max-width:100%;
                margin-top:16px;
                transform:translate(0);
                text-align:center;
            }
        }
    }
    
    // 제품별 케어솔루션 혜택 탭 컨텐츠
    .csn-itr-cont {
        .csn-itr-head {
            display:table;
            padding:48px 64px;
            border-radius:8px;
            width:100%;
            background:#f4f4f4;
            @include mobile {
                padding:32px 16px;
                border-radius:0;
            }
            .csn-video {
                display:table-cell;
                position:relative;
                width:60.5%;
                vertical-align:middle;
                @include mobile {
                    float:none;
                    width:100%;
                    border-radius:4px;
                    overflow:hidden;
                }
                img {
                    width:100%;
                    height:auto;
                    vertical-align:top;
                }
                &::after {
                    content:' ';
                    position:absolute;
                    top:50%;
                    left:50%;
                    width:80px;
                    height:80px;
                    margin-top:-40px;
                    margin-left:-40px;
                    background-image:url('/lg5-common/images/btn-video-play.svg');
                    background-size:100%;
                }
            }
            .csn-prod-intro {
                display:table-cell;
                width:39.5%;
                padding-left:64px;
                vertical-align:middle;
                @include mobile {
                    float:none;
                    width:100%;
                    margin-top:16px;
                }
                .video-tit {
                    position:relative;
                    font-size:24px;
                    line-height:36px;
                    font-weight:700;
                    em {
                        display:block;
                    }
                }
                .desc {
                    margin-top:16px;
                    @include font-medium;
                }
            }
        }
        .csn-itr-body {
            margin-top:48px;
            &:first-child {
                margin-top:0;
            }
            .csn-icon-list {
                > ul {
                    margin-top:-48px;
                    margin-left:-24px;
                    font-size:0;
                    @include mobile {
                        margin-top:0;
                        margin-left:0;
                    }
                    > li {
                        display:inline-block;
                        width:calc(100% / 3);
                        margin-top:48px;
                        padding-left:24px;
                        vertical-align:top;
                        @include mobile {
                            display:block;
                            width:100%;
                            margin-top:32px;
                            padding-left:0;
                            &:first-child {
                                margin-top:0;
                            }
                        }
                        dl {
                            position:relative;
                            min-height:96px;
                            padding-left:112px;
                            @include mobile {
                                max-width:100%;
                                min-height:60px;
                                padding-left:80px;
                            }
                            &::before {
                                content:' ';
                                position:absolute;
                                top:0;
                                left:0;
                                width:96px;
                                height:96px;
                                background-size:100%;
                                background-repeat:no-repeat;
                                background-position:center;
                                background-image:url('/lg5-common/images/icons/icon-01-120.svg');
                                @include mobile {
                                    width:60px;
                                    height:60px;
                                    background-size:40px;
                                }
                            }
                            dt {
                                position:relative;
                                font-size:0;
                                p {
                                    display:inline-block;
                                    @include font-large-1;
                                    font-weight:500;
                                    vertical-align:top;
                                }
                            }
                            dd {
                                margin-top:16px;
                                @include font-medium;
                            }
                        }
                        .bullet-list {
                            margin-top:12px;
                            padding-left:112px;
                            @include mobile {
                                padding-left:80px;
                            }
                        }
                    }
                }
            }
            > .bullet-list {
                margin-top:64px;
                @include mobile {
                    margin-top:40px;
                }
            }
        }
    }
    .prd-list-wrap {
        .inner {
            @include clearfix;
            margin:-24px 0 0 -24px;
            @include mobile {
                margin:0;
            }
            .item {
                float:left;
                width:calc((100% - 96px) / 4);
                margin:24px 0 0 24px;
                @media screen and (max-width:1200px) {
                    width:calc((100% - 72px) / 3);
                }
                @media screen and (max-width:900px) {
                    width:calc((100% - 48px) / 2);
                }
                @include mobile {
                    width:100%;
                    margin:12px 0 0 0;
                    &:first-child {
                        margin-top:0;
                    }
                }
            }
        }
        .prd-care-vertical {
            height:644px;
            max-height:644px;
            @include mobile {
                height:auto;
                max-height:100%;
            }
        }
    }
    
    // gray block modules
    .gray-block-wrap {
        display:table;
        width:auto;
        margin:48px auto 0;
        table-layout:fixed;
        border-collapse:separate;
        border-spacing:24px 0;
        &.type2 {
            margin:48px -24px 0;
        }
        @include mobile {
            display:block;
            width:100%;
            margin-top:32px;
            &.type2 {
                margin:32px 0 0;
            }
        }
        .blocks {
            display:table-cell;
            width:444px;
            padding:36px;
            border-radius:8px;
            background:#f4f4f4;
            vertical-align:middle;
            @include mobile {
                display:block;
                position:relative;
                width:100%;
                margin-top:12px;
                padding:20px;
                border-radius:4px;
            }
            dl {
                text-align:center;
                @include mobile {
                    text-align:left;
                }
                dt {
                    font-size:0;
                    .tit {
                        display:inline-block;
                        @include font-medium;
                        font-weight:700;
                        vertical-align:top;
                    }
                    .tooltip-wrap {
                        margin:2px 0 0 4px;
                        vertical-align:top;
                    }
                }
                dd {
                    margin-top:8px;
                    @include font-medium;
                    word-break:keep-all;
                    &.num {
                        margin-top:16px;
                        color:#EC455A;
                        @include font-large-1;
                        font-weight:700;
                        @include mobile {
                            margin-top:4px;
                            text-align:right;
                        }
                    }
                }
            }
        }
        &.type2 {
            .blocks {
                height:327px;
                @include mobile {
                    height:auto;
                    dl {
                        text-align:center;
                    }
                }
            }
        }
    }
    
    .csn-ars-svc {
        margin-top:64px;
        font-size:0;
        text-align:center;
        @include mobile {
            margin-top:32px;
            text-align:left;
        }
        > li {
            position:relative;
            display:inline-block;
            width:30%;
            max-width:327px;
            padding:100px 12px 0;
            vertical-align:top;
            @include mobile {
                display:block;
                width:100%;
                max-width:initial;
                min-height:80px;
                margin:32px 0 0;
                padding:4px 92px 4px 0;
            }
            &::before {
                content:' ';
                position:absolute;
                top:0;
                left:50%;
                width:80px;
                height:80px;
                margin-left:-40px;
                background:url("/lg5-common/images/icons/icon-09-80.svg") center no-repeat;
                @include mobile {
                    top:50%;
                    left:auto;
                    right:0;
                    margin-top:-40px;
                    margin-left:0;
                }
            }
            .tit {
                display:inline-block;
                @include font-large-1;
                font-weight:700;
            }
            dl {
                dt {
                    font-size:0;
                    text-align:center;
                    @include mobile {
                        text-align:left;
                    }
                    .tooltip-wrap {
                        margin:2px 0 0 4px;
                        vertical-align:top;
                    }
                }
                dd {
                    margin-top:12px;
                    @include font-medium;
                    word-break:keep-all;
                }
            }
        }
    }

    // 앱 qr
    .csn-ars-bottom {
        padding:64px 40px;
        background:#f4f4f4;
        @include mobile {
            padding:32px 16px;
        }
        .inner {
            display:table;
            width:912px;
            margin:0 auto;
            @include mobile {
                display:block;
                width:auto;
            }
            .txt-cell {
                display:table-cell;
                vertical-align:middle;
                @include mobile {
                    display:block;
                }
                .tit {
                    @include font-large-1;
                    font-weight:700;
                }
                .desc {
                    margin-top:16px;
                    @include font-medium;
                    small {
                        display:block;
                        margin-top:8px;
                        color:#767676;
                        @include font-small;
                    }
                }
            }
            .img-cell {
                display:table-cell;
                vertical-align:middle;
                text-align:right;
                @include mobile {
                    display:none;
                }
                img {
                    width:100%;
                    max-width:162px;
                    height:auto;
                    vertical-align:middle;
                }
            }
            .appstore-btn {
                display:inline-block;
                font-size:0;
            }
            @include mobile {
                .appstore-btn {
                    display:inline-block;
                    margin-top:32px;
                    padding:17px 23px;
                    border:1px solid #222;
                    border-radius:30px;
                    color:#222;
                    font-size:16px;
                    line-height:24px;
                    font-weight:500;
                }
            }
        }
    }

    .csn-tooltips {
        ol {
            > li {
                margin-top:24px;
                &:first-child {
                    margin-top:0;
                }
                .bullet-list {
                    font-size:0;
                    > li {
                        display:inline-block;
                        width:50%;
                        margin-top:8px;
                        vertical-align:top;
                        @include font-small;
                        &::before {
                            background:#222;
                        }
                    }
                }
            }
            p {
                margin-bottom:8px;
                @include font-small;
            }
        }
    }

    // 케어솔루션 매니저 역할
    .csn-mngs-info {
        margin-top:48px;
        overflow:hidden;
        @include mobile {
            margin-top:24px;
        }
        > ul {
            margin:0 -12px;
            font-size:0;
            @include mobile {
                margin:0;
            }
            li {
                display:inline-block;
                vertical-align:top;
                width:calc(100% / 3);
                padding:0 12px;
                > img {
                    display:block;
                    width:100%;
                    height:auto;
                }
                dl {
                    margin-top:32px;
                    text-align:center;
                    dt {
                        @include font-large-1;
                        font-weight:700;
                        @include mobile {
                            font-size:16px;
                            line-height:24px;
                        }
                    }
                    dd {
                        margin-top:12px;
                        @include font-medium;
                        @include mobile {
                            margin-top:8px;
                        }
                    }
                }
                @include mobile {
                    display:block;
                    position:relative;
                    width:100%;
                    min-height:78px;
                    margin-top:12px;
                    padding:12px 0;
                    padding-left:124px;
                    &:first-child {
                        margin-top:0;
                    }
                    > img {
                        position:absolute;
                        top:50%;
                        left:0;
                        width:104px;
                        margin-top:-39px;
                        border-radius:4px;
                    }
                    dl {
                        margin-top:0;
                        text-align:left;
                    }
                }
            }
        }
    }
}




