// common
br.m {
    display:none;
    @include mobile {
        display:block;
    }
}
// visual title
.contents.benefit {
    margin-top: -32px;
	.visual-tit-wrap {
        display: none;
		position:relative;
		height:480px;
		background:url('/lg5-common/images/SLC/bg-visual-tit02.jpg') center no-repeat;
		line-height:480px;
		text-align:center;
		.txt-wrap {
			margin-top:96px;
            vertical-align:top;
            .tit {
                color:#000;
            }
		}
		@include mobile {
			height:270px;
			background:url('/lg5-common/images/SLC/bg-visual-tit02-m.jpg') center bottom no-repeat;
			background-size:cover;
			.txt-wrap {
                margin-top:0;
			}
		}
    }
    .csn-tabs {
        padding: 32px 40px 0;
        @include mobile {
            padding: 32px 0 0;
        }
    }
    .csn-tab-contents .cont-wrap .section {
        .tit-wrap {
            margin-bottom: 0;
            .tit {
                padding-bottom: 0;
                border-bottom:none;
                font-size:32px;
                line-height:52px;
                text-align:center;
                @include mobile {
                    font-size:24px;
                    line-height:33px;
                }
            }
        }
        @include mobile {
            padding: 48px 16px 60px;
        }
    }
    .csn-tab-contents .gray-block-wrap {
        max-width:1380px;
        width:100%;
        margin-top:64px;
        & + .gray-block-wrap {
            margin-top:80px;
        }
        @include mobile {
            padding: 0;
            & + .gray-block-wrap {
                margin-top:12px;
            }
            & + .bullet-list {
                margin:40px 0 0;
            }
        }
        &.border-type {
            display: flex;
            width: auto;
            max-width: none;
            margin: 64px -12px 0;
            .blocks {
                width: calc(33.33% - 24px);
                margin: 0 12px;
                border-radius: 8px;
                text-align: center;
                vertical-align: middle;
            }
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                .blocks {
                    display:block;
                }
            }
            @include mobile {
                flex-direction: column;
                margin: 20px 0 0;
                .blocks {
                    width: 100%;
                    margin: 12px 0 0;
                    dl {
                        padding-top: 0;
                    }
                }
            }
        }
        &.big {
            .blocks {
                width:100%;
                padding:32px 48px;
                @include mobile {
                    padding:32px 16px;
                }
            }
            .benefit4,
            .benefit5 {
                .info {
                    margin-top: 0;
                    > li {
                        width: 100%;
                        @include pc {
                            display: flex;
                            align-items: center;
                            margin: 48px 0 0;
                            .img {
                                img {
                                    max-width: 562px;
                                    border-radius: 8px;
                                }
                            }
                            .text-area {
                                padding-left: 64px;
                                dl {
                                    margin-top: 0;
                                }
                            }
                            &:nth-child(2) {
                                flex-direction: row-reverse;
                                .text-area {
                                    padding: 0 64px 0 0;
                                }
                            }
                            .bullet-list {
                                text-align: left;
                            }
                        }
                        @include mobile {
                            margin: 40px 0 0;
                            dl {
                                margin-top: 0;
                                padding-top: 24px;
                            }
                            .bullet-list {
                                text-align: left;
                                .b-txt {
                                    padding-left: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.twin {
            margin-top: 24px;
            @include mobile {
                margin-top: 0;
            }
        }
        .blocks {
            width:auto;
            background:none;
            border-radius: 0;
            @include mobile {
                width:100%;
                margin-top: 40px;
                padding:32px 16px;
            }
            &[class*="benefit"] {
                padding: 0;
                border: 0;
                dl:before {
                    display: inline-block;
                    width: 64px;
                    height: 64px;
                    margin-bottom: 24px;
                    background: no-repeat center center;
                    background-size: 100%;
                    content: '';
                }
                @include mobile {
                    .num {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                    }
                }
                &[class*="1"] {
                    dl:before {
                        background-image: url('/lg5-common/images/SLC/icon-care-benefit-06.svg');
                    }
                }
                &[class*="2"] {
                    dl:before {
                        background-image: url('/lg5-common/images/SLC/icon-care-benefit-07_1.svg');
                    }
                }
                &[class*="3"] {
                    dl:before {
                        background-image: url('/lg5-common/images/SLC/icon-care-benefit-08.svg');
                    }
                }
                &[class*="4"],
                &[class*="5"] {
                    dl:before {
                        display: none;
                    }
                }
            }
            dl {
                em {
                    color: $color-primary;
                }
                dt .num {
                    display: block;
                    margin-bottom: 4px;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 18px;
                }
                dt .tit {
                    font-size:24px;
                    line-height:36px;
                }
                dd {
                    margin-top:12px;
                    .tooltip-wrap {
                        .bullet-list {
                            text-align:left;
                        }
                    }
                }
                @include mobile {
                    padding-top: 23px;
                    dt .num {
                        display: block;
                        margin-bottom: 4px;
                        font-weight: 700;
                        font-size: 11px;
                    }
                    dt .tit {
                        font-size:20px;
                        line-height:28px;
                        br {
                            display: none;
                        }
                    }
                }
            }
            .bullet-list {
                margin-top:8px;
                text-align: center;
                .bullet-list {
                    margin-top:0;
                }
                @include mobile {
                    margin-top: 12px;
                    .b-txt {
                        padding-left: 0;
                    }
                }
            }
            .info {
                &.solo {
                    max-width:678px;
                    margin:48px auto 0;
                    li {
                        width:100%;
                        margin:0;
                    }
                    @include mobile {
                        margin-top:32px;
                    }
                }
                margin-top:48px;
                font-size:0;
                @include mobile {
                    margin-top:32px;
                }
                > li {
                    display:inline-block;
                    width:calc((100% - 48px) /2);
                    margin-left:48px;
                    vertical-align:top;
                    &:first-child {
                        margin-left:0;
                    }
                    .img {
                        img {
                            width:100%;
                        }
                    }
                    dl {
                        margin-top:32px;
                        text-align:left;
                        dt {
                            font-size:18px;
                            font-weight:700;
                            line-height:28px;
                        }
                    }
                    //@include mobile {
                    //    width:100%;
                    //    margin:32px 0 0;
                    //    dl {
                    //        margin-top:20px;
                    //        dd {
                    //            margin-top:8px;
                    //        }
                    //    }
                    //}
                }
            }
        }
    }
    .csn-tab-contents .csn-ars-bottom {
        position:relative;
        max-width:1380px;
        margin:0 auto 120px;
        padding:48px 40px;
        text-align:center;
        .inner .txt-cell {
            padding-top: 104px;
            background: url('/lg5-common/images/icons/icon-location-64.svg') no-repeat center top;
            background-size: 80px;
            .tit {
                font-size:24px;
                line-height:32px;
                @include mobile {
                    font-size:20px;
                    line-height:28px;
                }
            }
            .desc {
                margin-top: 12px;
            }
            // BTOCSITE-2838
            .bullet-list .b-txt > a {
                text-decoration: underline;
            }
        }
        @include mobile {
            margin:0 16px 60px;
            padding:40px 16px;
            border-radius:8px;
            .inner .txt-cell {
                .tit {
                    font-size:20px;
                    line-height:28px;
                }
                .bullet-list {
                    margin-top: 12px;
                }
            }
        }
        // BTOCSITE-2838
        &.csn-ars-bottom-type02{
            padding:0 40px;
            background:#fff;
            max-width: 1460px;
            @include mobile{
                padding: 0;
            }
            .gray-block-wrap{
              border-spacing: 0;
              .info li {
                    width:100% !important;
                    text-align: left;
                    .qr-info-img{
                        display: inline-block;
                        width:641px;
                    }
                    .text-area {
                        display: inline-block;
                        width:calc(100% - 645px);
                        padding-left: 60px !important;
                    }
                    @include pc-size-m{
                        display: flex !important;
                        .qr-info-img{
                            width:50%;
                        }
                        .text-area {
                            width:calc(50% - 4px);
                            padding-left: 50px !important;
                        }
                    }
                    @include mobile{
                        display: block !important;
                        .qr-info-img{
                            width:100%;
                        }
                        .text-area {
                            width:100%;
                            padding-left:0 !important;
                        }
                    }
                }
            }
        }
    }
}

//BTOCSITE-2838
.qr-info-img{
    .info-img{
        position:relative;
        z-index:0;
        width:100%;
        height:auto;
        img{
            z-index:1;
            top:0; 
            left:0;
            width:100%;
            height:auto;
        }
        .link-box{
            display: none;
            position:absolute;
            z-index:2;
            width:37.18%;
            height:9.5%;
            bottom:5.7%;
            right:7.5%;    
            text-align: left;
            a {
                display: inline-block;
                width:calc(50% - 3.4%);
                height: 100%;
                border-radius: 30px;
                &.appstore{
                    float: right;
                }
            }
            @media screen and (max-width: 1024px) {
                display: block;
            }
        }
    }
}