@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

//케어솔루션 제품안내 - 맥주제조기
//음주연령확인
@import "MKTF2004";


//케어솔루션 안내 - 케어플래너, 케어십
@import "RMSF2003";

.pop-conts.care-planner-pop {
    .info-txt {
        padding:12px 24px;
        color:#616161;
        font-size:16px;
        line-height:24px;
        background:#f4f4f4;
        border-radius:8px;
        @include mobile {
            padding:12px 20px;
        }
    }

    //상세 견적 확인
    @import "RMSF2020";

    //내 제품 찾기
    @import "RMSF2021";
}


