<!-- 로그인 툴팁 -->
<!-- 2021.03.16 마크업 수정 -->
<a href="" class="tooltip-login">
    <div class="tooltip-inner">
        <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_문구 변경 - S -->
        <p>LG전자에서 제공하는 <strong>회원전용 서비스</strong>로 더 편리하게 이용할 수 있어요. </p>
        <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_문구 변경 - E -->
        <span class="btn-link">로그인</span>
        <button class="btn-tooltip-close"><span class="blind">접기</span></button>
    </div>
</a>
<!-- //2021.03.16 마크업 수정 -->
<!-- //로그인 툴팁 -->


<!-- hero 영역 -->
<div class="home-hero">
    <div class="hero-container">
        <div class="support-nav-container">
            <div class="home-cont-top">
                <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_문구 변경 및 slider 영역 삭제- S -->
                <h1 class="cont-top-tit">무엇을 도와드릴까요?</h1>
                <h3 class="cont-sub-copy">제품 문제 해결 방법 확인, 상담/서비스 예약 등을 고객센터 전화연결 없이 <br class="mo-only">24시간 이용 가능합니다. </h3>
                <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_문구 변경 및 slider 영역 삭제 - E -->
            </div>
        </div>
    </div>

    <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_공지사항 위치 변경 - S -->
    <!-- 공지사항 -->
    <div class="home-notice" data-role="slide-container">
        <div class="notice-inner">
            <div class="notice-title">
                <!-- BTOCSITE-4858 -->
                <a href="/support/notice">
                    <strong class="title">NOTICE</strong>
                </a>
                <!-- BTOCSITE-4858 End -->
            </div>
            <div class="notice-list-wrap notice-slider" data-auto-type="button">
                <div class="notice-list">
                    <a href="#">
                    new 테스트 new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트new 테스트
                    소모품/케어용품 택배사 [우체국 택배] 배송 지연안내
                    </a>
                    <div class="flag-wrap">
                        <span class="flag">NEW</span>
                    </div>
                </div>
                <div class="notice-list">
                    <a href="#">
                    소모품/케어용품 택배사 [우체국 택배] 배송 지연안내
                    </a>
                    <div class="flag-wrap">
                        <span class="flag">NEW</span>
                    </div>
                </div>
                <div class="notice-list">
                    <a href="#">
                        최근 코로나 19재 확산에 따라 방역대책이 강화되고 있으며, LG전자는 지속적으로 고객 최근 코로나 19재 확산에 따라 방역대책이 강화되고 있으며, LG전자는
                        지속적으로                        
                    </a>
                    <div class="flag-wrap">
                        <span class="flag">NEW</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //공지사항 -->
    <!-- //BTOCSITE-9066 신규 WSG 적용 - 고객지원_공지사항 위치 변경 - E -->


    <!-- 검색 -->
    <div class="keyword-search ui_search"
        data-search-url="/search/result/support?category=customer&force=false&search="
        data-autocomplete-url="/lg5-common/data-ajax/support/main/searchAutoComplete.json">
        <div class="search-box">
            <div class="search-input">
                <input type="text" id="search" class="ui_input_clearbutton"
                    placeholder="검색어를 입력해주세요.(예:모델명, 증상 등)" title="검색어를 입력해주세요.(예:모델명, 증상 등)"
                    autocomplete="off" data-clear-button="button.btn-delete"
                    ui-modules="InputClearButton">
                <button type="button" class="btn-delete" style="display: none;"><span class="blind">검색어
                        삭제</span></button>
                <button type="button" class="btn-search"><span class="blind">검색</span></button>
            </div>
            <div class="search-layer">
                <div class="autocomplete-box">
                    <div class="keyword-list">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="model"></span>
                                    <span class="category"></span>
                                </a>
                            </li>
                        </ul>
                        <p class="no-keyword">입력하신 키워드와 일치하는<br>모델명이 없습니다.</p>
                    </div>
                </div>
                <div class="keyword-box">
                    <div class="recently-keyword">
                        <strong class="tit">최근 검색어</strong>
                        <div class="keyword-list">
                            <ul>
                                <!-- <li>
                                    <a href="#">최대 길이가 넘어가면 말줄임 표시가 최대 길이가 넘어가면 말줄임 표시가</a>
                                    <button type="button" class="btn-delete"><span class="blind">삭제</span></button>
                                </li> -->
                            </ul>
                            <p class="no-keyword">최근 검색어가 없습니다.</p>
                        </div>
                    </div>
                    <div class="popular-keyword">
                        <strong class="tit">인기 검색어</strong>
                        <div class="keyword-list">
                            <ul>
                                <!-- <li>
                                    <a href="#">최대 길이가 넘어가면 말줄임 표시가 최대 길이가 넘어가면 말줄임 표시가</a>
                                </li> -->
                            </ul>
                            <p class="no-keyword">인기 검색어가 없습니다.</p>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close"><span class="blind">닫기</span></button>
            </div>
        </div>
    </div>
    <!-- //검색 -->
</div>
<!-- //hero 영역 -->

<!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_ 고객지원 리스트 추가 - S -->
<!-- 고객지원 리스트 -->
<div class="support-list">
    <div class="list-wrap">
        <div class="items-wrap">
            <div class="icon-wrap">
                <div class="icon">
                    <img src="/lg5-common/images/CS/prd-support-icon.png" alt="제품 사용 지원">
                </div>
                <div class="icon-txt">
                    제품 사용 지원
                </div>
            </div>
        
            <ul data-toggle-list="list" class="list-dir-col">
                <li><a href="">제품 문제 해결</a></li>
                <li><a href="">동영상 가이드</a></li>
                <li><a href="">드라이버/SW</a></li>
                <li><a href="">사용설명서</a></li>
            </ul>
        </div>
        <div class="items-wrap">
            <div class="icon-wrap">
                <div class="icon">
                    <img src="/lg5-common/images/CS/chat-icon.png" alt="서비스 상담">
                </div>
                <div class="icon-txt">
                    서비스 상담
                </div>
            </div>
            <ul data-toggle-list="list">
                <li><a href="">챗봇 상담</a></li>
                <li><a href="">전화 상담 예약</a></li>
                <li><a href="">이메일 문의</a></li>
                <li><a href="">영상 상담 예약</a></li>
                <li><a href="">원격 상담 예약</a></li>
            </ul>
        </div>
        <div class="items-wrap">
            <div class="icon-wrap">
                <div class="icon">
                    <img src="/lg5-common/images/CS/service-reserv-icon.png" alt="서비스 예약">
                </div>
                <div class="icon-txt">
                    서비스 예약
                </div>
            </div>
            <ul data-toggle-list="list">
                <li><a href="">출장 서비스 예약</a></li>
                <li><a href="">센터 방문 예약</a></li>
                <li><a href="https://move.pantos.com/mvinst/order.jsp" target="_blank">제품 설치/철거 예약</a></li>
                <li><a href="" target="_blank">예약결과 조회/변경</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //고객지원 리스트 -->
<!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_ 고객지원 리스트 추가 - E -->

<!-- 인기 컨텐츠 -->
<div class="home-section popular-find" data-more="container">
    <!-- 2021.02.19 데이터 속성 추가 -->
    <div class="section-inner">
        <div class="headline">
            <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_변경(로그인전) - S -->
            <h3 class="title">추천하는 콘텐츠에요. </h3>    
            <!-- BTOCSITE-9066 신규 wSG 적용 - 220112 변경(로그인전) - S -->
            <div class="btn-area">
                <a href="#" class="btn-solution-link">제품 문제 해결</a>                   
                <div class="sort-list">
                    <span class="chk-wrap">
                        <input type="checkbox" class="btn-filter-toggle" id="myPrdChkfilter" name="myPrdChk" data-href="/html/CS/CSRF6001_member.html">
                        <label for="myPrdChkfilter">보유제품 기준</label>
                    </span>
                </div>
            </div>            
            <!-- BTOCSITE-9066 신규 wSG 적용 - 220112 변경(로그인전) - E -->
        </div>
        

        <!-- default list -->
        <div class="solution-pd-content default-pd active" data-more="container">
            <div class="popular-list-wrap">
                <!-- default 리스트 3건 -->
                @@for(var i = 0; i < 3; i++) { 
                    <div class="item-list">
                        <a href="#">
                            <div class="item-category">
                                <span class="category-thumb"><img
                                        src="/lg5-common/images/icons/cate_icon_air-conditioners_w.svg"
                                        alt=""></span>
                                에어컨
                            </div>

                            <strong class="item-tit">
                                Mode [모드별] 기능에 대해서
                                알고 싶어요.
                            </strong>

                            @@include('./common/modules/bullet-list.html', {
                            "bulletTxt" : [
                            "에어컨 > 3in1 2in1",
                            "스마트기능/스마트진단 > LG ThinQ 사용LG ThinQ 사용LG 스마트기능/스마트진단 > LG ThinQ 사용LG ThinQ 사용LG",
                            ]
                            })
                        </a>
                    </div>
                }

                <!-- <div class="item-list">
                        <a href="#">
                            <div class="item-category">
                                <span class="category-thumb"><img src="/lg5-common/images/icons/cate_icon_air-conditioners_w.svg" alt=""></span>
                                에어컨
                            </div>
                            
                            <strong class="item-tit">
                                Mode [모드별] 기능에 대해서 
                                알고 싶어요.
                            </strong>

                            @@include('./common/modules/bullet-list.html', {
                                "bulletTxt" : [
                                    "에어컨 > 3in1 2in1",
                                    "스마트기능/스마트진단 > LG ThinQ 사용LG ThinQ 사용LG 스마트기능/스마트진단 > LG ThinQ 사용LG ThinQ 사용LG",
                                ]
                            })
                        </a>
                    </div>

                    <div class="item-list">
                        <a href="#">
                            <div class="item-category">
                                <span class="category-thumb"><img src="/lg5-common/images/icons/cate_icon_air-conditioners_w.svg" alt=""></span>
                                에어컨
                            </div>
                            
                            <strong class="item-tit">
                                Mode [모드별] 기능에 대해서 
                                알고 싶어요.
                            </strong>

                            @@include('./common/modules/bullet-list.html', {
                                "bulletTxt" : [
                                    "에어컨 > 3in1 2in1",
                                    "스마트기능/스마트진단 > LG ThinQ 사용LG ThinQ 사용LG 스마트기능/스마트진단 > LG ThinQ 사용LG ThinQ 사용LG",
                                ]
                            })
                        </a>
                    </div> -->
                <!-- //default 리스트 3건 -->


                <!-- 2021.02.19 히든 리스트 추가 -->
                <!-- hidden 리스트 -->
                @@for(var i = 0; i < 9; i++) { 
                    <div class="item-list" data-more="hidden">
                        <a href="#">
                            <div class="item-category">
                                <span class="category-thumb"><img
                                        src="/lg5-common/images/icons/cate_icon_air-conditioners_w.svg"
                                        alt=""></span>
                                에어컨
                            </div>

                            <strong class="item-tit">
                                Mode [모드별] 기능에 대해서
                                알고 싶어요.
                            </strong>

                            @@include('./common/modules/bullet-list.html', {
                            "bulletTxt" : [
                            "에어컨 > 3in1 2in1",
                            "스마트기능/스마트진단 > LG ThinQ 사용LG ThinQ 사용LG 스마트기능/스마트진단 > LG ThinQ 사용LG ThinQ 사용LG",
                            ]
                            })
                        </a>
                    </div>
                }
                <!-- //hidden 리스트 -->
            </div>
            <!-- 2021.02.19 데이터 속성 추가 -->
            <button type="button" class="btn-moreview block" data-more="btn"><span>더보기</span></button>
        </div>
        <!-- //default list -->
    </div>
</div>
<!-- //인기 컨텐츠 -->

<!-- 출장 서비스 예약/결과조회 -->
<div class="home-section home-reservation">
    <div class="section-inner">
        <div class="section-row">
            <div class="section-col">
                <div class="rersv-wrap service-reserv">
                    <form action="./" method="post" id="serviceReservationForm" name="serviceReservationForm">
                        <input type="hidden" id="userName" name="userName" value="">
                        <input type="hidden" id="userPhoneNo" name="userPhoneNo" value="">
                        <input type="hidden" id="userZipCode" name="userZipCode" value="">
                        <input type="hidden" id="userAddress" name="userAddress" value="">
                        <input type="hidden" id="userDetailAddress" name="userDetailAddress" value="">

                        <div class="headline">
                            <h3 class="title run-reserv">출장 서비스 예약</h3>
                            <!-- 20210727 BTOCSITE-3577 고객지원 > Main 의 출장서비스 예약 영역에 제품 설치/철거 예약 탭 및 내용 추가 -->
                            <button type="button" class="btn black size btn-installDemolition" data-href="https://www.lxpantos.com/kr/customer/lgapp.do" data-target="_blank"><span>제품 설치/철거 예약</span></button>
                        </div>
                        <div class="form-wrap">
                            <div class="forms form-head">
                                <span class="chk-wrap">
                                    <input type="checkbox" id="agreePrivacyCheck" name="agreePrivacyCheck"
                                        value="Y" required data-required="true"
                                        data-error-msg="개인정보 수집 및 이용에 동의 하셔야 이용 가능합니다.">
                                    <label for="agreePrivacyCheck">개인정보 수집 및 이용 동의</label>
                                </span>
                                <button type="button" class="btn-link" data-href="#agreePrivacyPopup"
                                    data-control="modal"><span>전문보기</span></button>
                                <div class="btm-more err-block">
                                    <p class="err-msg"></p>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-col">
                                    <dl class="forms block-type">
                                        <dt class="tit"><label for="serviceUserName" class="req">이름<span
                                                    class="blind">필수입력</span></label></dt>
                                        <dd class="conts">
                                            <div class="input-wrap">
                                                <!-- 2021.03.17 disabled 삭제 -->
                                                <input type="text" id="serviceUserName" placeholder="이름 입력"
                                                    value="" name="serviceUserName" data-required="true"
                                                    required maxlength="30" data-format="koreng"
                                                    data-error-msg="이름을 입력해주세요."
                                                    data-pattern-msg="이름은 한글 또는 영문으로만 입력해주세요">
                                            </div>
                                            <div class="btm-more err-block">
                                                <p class="err-msg"></p>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="form-col">
                                    <dl class="forms block-type">
                                        <dt class="tit"><label for="servicePhoneNo" class="req">휴대폰번호<span
                                                    class="blind">필수입력</span></label></dt>
                                        <dd class="conts">
                                            <div class="input-wrap">
                                                <!-- 2021.03.17 disabled 삭제 -->
                                                <input type="number" id="servicePhoneNo" placeholder="휴대폰번호 입력"
                                                    value="" minlength="10" maxlength="11" name="servicePhoneNo"
                                                    data-error-msg="휴대폰번호를 정확히 입력해주세요"
                                                    data-pattern-msg="휴대폰번호를 정확히 입력해주세요" data-required="true"
                                                    required>
                                            </div>
                                            <div class="btm-more err-block">
                                                <p class="err-msg"></p>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <dl class="forms block-type">
                                <dt class="tit"><label for="serviceZipCode">주소</label></dt>
                                <dd class="conts">
                                    <div class="address-box">
                                        <div class="box">
                                            <div class="input-wrap zip-code">
                                                <input type="text" id="serviceZipCode" value=""
                                                    placeholder="우편번호" disabled="">
                                            </div>
                                            <div class="cell">
                                                <!-- 2021.03.30 title 속성 추가 -->
                                                <button type="button" class="btn btn-address"
                                                    title="새창으로 열림"><span>주소 찾기</span></button>
                                            </div>
                                        </div>
                                        <div class="input-wrap">
                                            <!-- 2021.03.30 title 추가 -->
                                            <input type="text" value="" id="serviceUserAddress"
                                                name="serviceUserAddress" placeholder="주소" title="기본 주소"
                                                data-error-msg="정확한 주소를 입력해주세요." disabled="">
                                        </div>
                                    </div>
                                    <div class="input-wrap">
                                        <!-- 2021.03.30 title 추가 -->
                                        <input type="text" value="" id="serviceDetailAddress"
                                            name="serviceDetailAddress" title="상세 주소"
                                            placeholder="단독주택 등일 경우 층수 또는 호수 등을 입력 하세요." disabled>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="btn-wrap">
                            <!-- 2021.03.17 disabled 삭제 -->
                            <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_size-m 클래스 제거 -->
                            <button type="button" class="btn btn-reservation"><span>예약하기</span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="section-col">
                <div class="rersv-wrap reserv-inquiry">
                    <div class="headline">
                        <h3 class="title inquiry-reserv">문의/예약 결과조회</h3>
                    </div>
                    <div class="form-wrap">

                        <div class="forms form-head">
                            <span class="rdo-wrap">
                                <input type="radio" id="inquiryNumber" name="inquiryRdo" checked="" value="0">
                                <label for="inquiryNumber">접수번호</label>
                            </span>
                            <span class="rdo-wrap">
                                <input type="radio" id="inquiryPhone" name="inquiryRdo" value="1">
                                <label for="inquiryPhone">휴대폰번호 인증</label>
                            </span>
                        </div>

                        <!-- 접수번호 or 휴대폰 번호 인증 컨텐츠 전환 active class -->
                        <div class="toggle-forms active auth-type-no">
                            <form action="/html/CS/CSRF6026.html" id="authDataForm1" method="POST"
                                name="authDataForm1"
                                data-ajax="/lg5-common/data-ajax/support/receptionDetailsSuccess.json">
                                <dl class="forms block-type">
                                    <!-- 2021.02.18 id, name for 값 수정 -->
                                    <dt class="tit"><label for="userName1" class="req">이름<span
                                                class="blind">필수입력</span></label></dt>
                                    <dd class="conts">
                                        <div class="input-wrap">
                                            <input type="text" id="userName1" placeholder="이름 입력" value=""
                                                name="userName1" data-required="true" required maxlength="30"
                                                data-format="koreng" data-error-msg="이름을 입력해주세요."
                                                data-pattern-msg="이름은 한글 또는 영문으로만 입력해주세요">
                                        </div>
                                        <div class="btm-more err-block">
                                            <p class="err-msg"></p>
                                        </div>
                                    </dd>
                                </dl>

                                <dl class="forms block-type">
                                    <!-- 2021.02.18 id, name for 값 수정 -->
                                    <dt class="tit"><label for="number" class="req">접수번호<span
                                                class="blind">필수입력</span></label></dt>
                                    <dd class="conts">
                                        <div class="input-wrap">
                                            <!-- 2021.02.18 id, name for 값 수정 -->
                                            <input type="text" id="number" placeholder="접수번호 입력" value=""
                                                maxlength="20" name="number" data-required="true"
                                                data-error-msg="접수번호를 입력해주세요.">
                                        </div>
                                        <div class="btm-more err-block">
                                            <p class="err-msg"></p>
                                        </div>
                                    </dd>
                                </dl>
                            </form>
                        </div>


                        <!-- 접수번호 or 휴대폰 번호 인증 컨텐츠 전환 active class -->
                        <div class="toggle-forms auth-type-phone">
                            <form action="" id="authDataForm2" method="post" name="authDataForm2"
                                data-auth-url="/lg5-common/data-ajax/support/authSuccess.json"
                                data-sms-url="/lg5-common/data-ajax/support/authSendSuccess.json">
                                <dl class="forms block-type">
                                    <!-- 2021.02.18 id, name for 값 수정 -->
                                    <dt class="tit"><label for="userName2" class="req">이름<span
                                                class="blind">필수입력</span></label></dt>
                                    <dd class="conts">
                                        <div class="input-wrap">
                                            <!-- 2021.02.18 id, name for 값 수정 -->
                                            <input type="text" id="userName2" placeholder="이름 입력" value=""
                                                name="userName2" data-required="true" required maxlength="30"
                                                data-format="koreng" data-error-msg="이름을 입력해주세요."
                                                data-pattern-msg="이름은 한글 또는 영문으로만 입력해주세요">
                                        </div>
                                        <div class="btm-more err-block">
                                            <p class="err-msg"></p>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="forms block-type">
                                    <!-- 2021.02.18 id, name for 값 수정 -->
                                    <dt class="tit"><label for="phoneNo" class="req">휴대폰번호<span
                                                class="blind">필수입력</span></label></dt>
                                    <dd class="conts">
                                        <div class="box">
                                            <div class="input-wrap">
                                                <!-- 2021.02.18 id, name for 값 수정 -->
                                                <input type="number" id="phoneNo" value=""
                                                    placeholder="휴대폰번호 입력" minlength="10" maxlength="11"
                                                    name="phoneNo" data-required="true"
                                                    data-pattern-msg="정확한 휴대폰번호를 입력해주세요."
                                                    data-error-msg="정확한 휴대폰번호를 입력해주세요.">
                                            </div>
                                            <div class="cell">
                                                <button type="button" class="btn btn-auth-confirm"><span>인증 번호
                                                        발송</span></button>
                                            </div>
                                        </div>
                                        <div class="input-wrap">
                                            <!-- 2021.02.18 id, name for 값 수정 -->
                                            <input type="number" id="authNo" name="authNo" title="인증번호 입력"
                                                value="" placeholder="인증번호 입력" data-error-msg="인증번호를 입력해 주세요."
                                                data-required="true" disabled required>
                                        </div>
                                        <div class="btm-more err-block">
                                            <p class="err-msg"></p>
                                        </div>
                                    </dd>
                                </dl>
                            </form>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_size-m 클래스 제거 -->
                        <button type="button" class="btn btn-inquiry"><span>조회하기</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //출장 서비스 예약/결과조회 -->


<!-- 로그인 박스 -->
<div class="home-section home-login">
    <div class="section-inner">
        <h3 class="login-tit">회원전용 서비스로 <br>더 편리하게 이용해보세요.</h3>
        <div class="login-useful-list">
            <ul>
                <li>내가 필요한 소모품을 알아서 안내해줘요.</li>
                <li>보유제품을 기준으로 연관 콘텐츠를 보여줘요.</li>
            </ul>
        </div>
        <div class="btn-wrap">
            <a href="" class="btn-login">로그인</a>
        </div>
    </div>

</div>
<!-- //로그인 박스 -->

<!-- 주요 서비스  -->
<div class="common-banner main-service">
    <div class="banner">
        <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_ 주요 서비스 마크업 변경 - S -->
        <div class="bann_head">
            <h3 class="banner-tit">LG전자 서비스센터의 소식을 <br class="mo-only">안내해 드립니다</h3>
        </div>
        <div class="bann_content">
            <div class="slide-cover">
                <div class="main-service-slider">
                    <!--BTOCSITE-9066 마크업 변경 220112 - S -->
                    @@for ( var i=0; i < 5; i++ ) {                    
                    <div class="slide-item">
                        <div class="slide-item-wrap">
                            <a href="">
                                <span class="slide-thumb-area">
                                    <img src="/lg5-common/images/CS/img_main_service00.jpg" alt="">
                                </span>
                                <div class="slide-cont-area">
                                    <strong class="slide-title">
                                        쉽고 편리한<br>서비스를 위한<br>보유 제품 등록 Tip
                                    </strong>
                                </div>
                            </a>
                        </div>                
                    </div>                    
                    }
                    <!--BTOCSITE-9066 마크업 변경 220112 - E -->
                </div>
                <!-- slick-arrow 비노출 처리
                <div class="slide-button-controls">
                    <button class="slick-arrow slick-prev"><span class="blind">이전</span></button>
                    <button class="slick-arrow slick-next"><span class="blind">다음</span></button>
                </div> 
                -->
            </div>
        </div>
        <!-- BTOCSITE-9066 신규 WSG 적용 - 고객지원_ 주요 서비스 마크업 변경 - E -->
    </div>
</div>
<!-- //주요 서비스  --> 

<!-- 관련 정보 -->
<div class="common-banner related-pages">
    <div class="banner" data-more="container">
        <h3 class="banner-tit">LG제품에 관련된 <br class="mo-only">정보를 확인하세요!</h3>
        <div class="page-list-wrap">
            <div class="item-list">
                <!-- default 노출 3개 -->
                <div class="item">
                    <a href="#">
                        <div class=item-thumb"><img src="/lg5-common/images/CS/img_related_pages00.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">세탁기/건조기 동결 및<br>에어컨 난방 기능 관련<br>주요 문제 해결 방법</strong>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <div class="item-thumb"><img src="/lg5-common/images/CS/img_related_pages02.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">의류건조기, <br>무상수리 <br>고객 게시판</strong>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <div class="item-thumb"><img src="/lg5-common/images/CS/img_related_pages03.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">마이크로소프트 관련 <br>문제해결 방법</strong>
                        </div>
                    </a>
                </div>
                <!-- //default 노출 3개 -->


                <!-- 숨겨진 목록 class hidden  -->
                <div class="item hidden" data-more="hidden">
                    <a href="#">
                        <div class=item-thumb"><img src="/lg5-common/images/CS/img_related_pages01.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">일부 TV모델, 파워보드 <br>자발적 무상 교체 <br>서비스</strong>
                        </div>
                    </a>
                </div>
                <div class="item hidden" data-more="hidden">
                    <a href="#">
                        <div class=item-thumb"><img src="/lg5-common/images/CS/img_related_pages01.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">일부 TV모델, 파워보드 <br>자발적 무상 교체 <br>서비스</strong>
                        </div>
                    </a>
                </div>
                <div class="item hidden" data-more="hidden">
                    <a href="#">
                        <div class=item-thumb"><img src="/lg5-common/images/CS/img_related_pages01.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">일부 TV모델, 파워보드 <br>자발적 무상 교체 <br>서비스</strong>
                        </div>
                    </a>
                </div>
                <div class="item hidden" data-more="hidden">
                    <a href="#">
                        <div class=item-thumb"><img src="/lg5-common/images/CS/img_related_pages01.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">일부 TV모델, 파워보드 <br>자발적 무상 교체 <br>서비스</strong>
                        </div>
                    </a>
                </div>
                <div class="item hidden" data-more="hidden">
                    <a href="#">
                        <div class=item-thumb"><img src="/lg5-common/images/CS/img_related_pages01.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">일부 TV모델, 파워보드 <br>자발적 무상 교체 <br>서비스</strong>
                        </div>
                    </a>
                </div>
                <div class="item hidden" data-more="hidden">
                    <a href="#">
                        <div class=item-thumb"><img src="/lg5-common/images/CS/img_related_pages01.jpg" alt="">
                        </div>
                        <div class="item-cont">
                            <strong class="item-text">일부 TV모델, 파워보드 <br>자발적 무상 교체 <br>서비스</strong>
                        </div>
                    </a>
                </div>
                <!-- //숨겨진 목록 class hidden  -->
            </div>
        </div>
        <!-- <button type="button" class="btn-moreview block" data-more="btn"><span>더보기</span></button> -->
    </div>
</div>
<!-- //관련 정보 -->

<!-- 수상 목록 -->
<div class="common-banner awards">
    <div class="banner">

        <!-- 2021.04.13 전체 수정 -->
        <div class="award-list-wrap award-slider" data-role="slide-container">
            <div class="award-list" data-auto-type="dot">
                <div class="slide-item">
                    <a href="">
                        <div class="thumb"><img src="/lg5-common/images/CS/img_award_kca.png" alt="">
                        </div>
                        <div class="slide-text">
                            소비자중심경영
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="">
                        <div class="thumb"><img src="/lg5-common/images/CS/img_award_nsa.png" alt=""></div>
                        <div class="slide-text">
                            한국서비스<br>품질 우수 기업
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="">
                        <div class="thumb"><img src="/lg5-common/images/CS/img_award_kssqi.png" alt=""></div>
                        <div class="slide-text">
                            컨택센터 혁신상
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="">
                        <div class="thumb"><img src="/lg5-common/images/CS/img_award_esq.png" alt=""></div>
                        <div class="slide-text">
                            가전부문 최우수 기업
                        </div>
                    </a>
                </div>


                <div class="slide-item">
                    <a href="">
                        <div class="thumb"><img src="/lg5-common/images/CS/img_award_kca.png" alt="">
                        </div>
                        <div class="slide-text">
                            한국서비스<br>품질 우수 기업
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="">
                        <div class="thumb"><img src="/lg5-common/images/CS/img_award_nsa.png" alt=""></div>
                        <div class="slide-text">
                            가전부문 최우수 기업
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="">
                        <div class="thumb"><img src="/lg5-common/images/CS/img_award_kssqi.png" alt=""></div>
                        <div class="slide-text">
                            가전부문 최우수 기업
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="">
                        <div class="thumb"><img src="/lg5-common/images/CS/img_award_esq.png" alt=""></div>
                        <div class="slide-text">
                            한국서비스<br>품질 우수 기업
                        </div>
                    </a>
                </div>
            </div>
            <div class="slick-controls">
                <div class="slick-dot-container"></div>
            </div>
        </div>
        <!-- //2021.04.13 전체 수정 -->
    </div>
</div>
<!-- //수상 목록 -->