image: docker:latest

variables:
  DEV_WEB_NAS: "/data001/dev-web-nas"
  STG_WEB_NAS: "/data001/stg-web-nas"
  PROD_WEB_NAS: "/data001/prod-web-nas"
  AKAMAI_API_HOST: "http://akamai.lgekr.lge.co.kr"
  RSYNC_RESULT_FILE: "rsync-result.txt"

stages:
  - build-n-deploy

dev:
  image: node:10.15.0
  stage: build-n-deploy
  only:
    - dev
  script:
    ## build
    - rm -rf ./dist/*
    - npm install gulp@3.9.1 -g
    - npm install
    - gulp server-build

    ## deploy
    - apt-get update
    - apt-get install rsync -y
    - mkdir -p ${DEV_WEB_NAS}/htdocs
    - rm -rf ${DEV_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}
    - mkdir -p ${DEV_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}

    - cp -rf ./dist/${CI_COMMIT_SHA}/lg5-common/ ${DEV_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/lg5-common/
    - cp -rf ./dist/${CI_COMMIT_SHA}/html/ ${DEV_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/html/
    - cp -rf ./dist/${CI_COMMIT_SHA}/guide/ ${DEV_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/guide/

    - cd akamai-purge-script
    - rsync -v -r -c ${DEV_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/ ${DEV_WEB_NAS}/htdocs/ > rsync-result.txt
    - export PURGE_ROOT_URL=https://wwwdev50.lge.co.kr

    - npm install
    - node akamai.js
    - rm -rf ${DEV_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}
    # Need to delete build files in dist directory
    - rm -rf ../dist/${CI_COMMIT_SHA}

stg:
  image: node:10.15.0
  stage: build-n-deploy
  only:
    - stage
  when: manual
  script:
    ## build
    - rm -rf ./dist/*
    - npm install gulp@3.9.1 -g
    - npm install
    - gulp server-build

    ## deploy
    - apt-get update
    - apt-get install rsync -y
    - mkdir -p ${STG_WEB_NAS}/htdocs
    - rm -rf ${STG_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}
    - mkdir -p ${STG_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}

    - cp -rf ./dist/${CI_COMMIT_SHA}/lg5-common/ ${STG_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/lg5-common/
    - cp -rf ./dist/${CI_COMMIT_SHA}/html/ ${STG_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/html/
    - cp -rf ./dist/${CI_COMMIT_SHA}/guide/ ${STG_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/guide/

    - cd akamai-purge-script
    - rsync -v -r -c ${STG_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/ ${STG_WEB_NAS}/htdocs/ > rsync-result.txt
    - export PURGE_ROOT_URL=https://wwwstg.lge.co.kr

    - npm install
    - node akamai.js
    - rm -rf ${STG_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}
    # Need to delete build files in dist directory
    - rm -rf ../dist/${CI_COMMIT_SHA}

prod:
  image: node:10.15.0
  stage: build-n-deploy
  only:
    - master
  when: manual
  script:
    ## build
    - rm -rf ./dist/*
    - npm install gulp@3.9.1 -g
    - npm install
    - gulp server-build

    ## deploy
    - apt-get update
    - apt-get install rsync -y
    - mkdir -p ${PROD_WEB_NAS}/htdocs
    - rm -rf ${PROD_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}
    - mkdir -p ${PROD_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}

    - cp -rf ./dist/${CI_COMMIT_SHA}/lg5-common/ ${PROD_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/lg5-common/
    - cp -rf ./dist/${CI_COMMIT_SHA}/html/ ${PROD_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/html/
    - cp -rf ./dist/${CI_COMMIT_SHA}/guide/ ${PROD_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/guide/

    - cd akamai-purge-script
    - rsync -v -r -c ${PROD_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}/ ${PROD_WEB_NAS}/htdocs/ > rsync-result.txt
    - export PURGE_ROOT_URL=https://www.lge.co.kr

    - npm install
    - node akamai.js
    - rm -rf ${PROD_WEB_NAS}/akamai-temp-${CI_COMMIT_SHA}
    # Need to delete build files in dist directory
    - rm -rf ../dist/${CI_COMMIT_SHA}
