@charset "UTF-8";

@import "../components-app";

.KRC0001 {
	@media screen and (max-width:1380px) {
		max-width: 100%;
	}

	.products-tab-area {
		position:relative;
		max-width: 1380px + 80px;
		margin: 24px auto 0;
		padding: 0 40px;
		text-align: center;
		@include mobile {
			padding: 9px 0;
			text-align: left;
		}
		.tabs {
			white-space:nowrap;
			font-size:0;
			@include mobile {
				padding:0 16px;
			}
			> li {
				position:relative;
				display:inline-block;
				vertical-align:top;
				margin-left:32px;
				@include mobile {
					margin-left:24px;
				}
				&:first-child {
					margin-left:0;
					&:before {
						display:none;
					}
				}
				a {
					display:block;
					padding-bottom: 4px;
					border-bottom: 4px solid transparent;
					font-weight:700;
					font-size:16px;
					line-height:26px;
					color:#aaa;
				}
				&.on {
					a {
						border-color: #222;
						color:#222;
					}
				}
			}
		}
		.scroll-controls {
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:10;
			.btn-arrow {
				&.prev {
					left:-18px;
					@include mobile {
						left:4px;
					}
				}
				&.next {
					right:-18px;
					@include mobile {
						right:4px;
					}
				}
			}
		}
	}

	.title * {
		font-size:28px;
		line-height:42px;
		font-weight:700;
		text-align:center;
	}

	.products-list-wrap {
		position: relative;
		max-width:1380px + 80px;
		margin:12px auto 0;
		padding:0 40px;
		@include mobile {
			padding:0;
		}
		.products-list-group {
			.list-contents-wrap {
				position:relative;
				padding-bottom:48px;
				@include mobile {
					padding:0 0 20px;
				}
			}
			.ui_carousel_list {
				margin:0 -12px;
				@include mobile {
					margin:0;
					padding:0 100px 0 10px;
				}
			}
			.items {
				> li {
					display:flex;
					flex-direction:column;
					float:left;
					width:25%;
					padding:12px;
					@include mobile {
						padding:12px 6px;
					}
				}
				.item {
					padding: 16px 32px 32px;
					border-radius: 8px;
					background-color: $color-bg-wt;
					box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);

					@include mobile {
						padding: 12px 24px 24px;
						box-shadow:1px 3px 8px 0 rgba(0, 0, 0, .14);
					}
					.product-image {
						a {
							display: block;
							text-align: center;
							img {
								width: 100%;
								max-width: 200px;
								@include mobile {
									max-width:150px;
								}
							}
						}
					}
					.product-contents {
						position: relative;
						margin-top:16px;
						font-size:0;
						@include mobile {
							margin-top:5px;
						}
						.product-name {
							display: block;
							height: 60px;
							@include font-large-1;
							font-weight: 700;
							@include textClipClamp(2);
							@include mobile {
								height:44px;
								font-size:14px;
								line-height:22px;
							}
						}
						.product-sku {
							display: inline-block;
							margin-right: 8px;
							@include font-small;
							font-weight:500;
							vertical-align: top;
							@include mobile {
								margin-right:4px;
							}
						}
						.review-info {
							display: inline-block;
							font-size: 0;
							vertical-align: top;
							.star,
							.average-rating,
							.review-count {
								display: inline-block;
								@include font-small;
								font-weight:500;
							}
							.star {
								width: 20px;
								height: 20px;
								margin-right: 2px;
								background: url("/lg5-common/images/icons/icon-star-off-20.svg") no-repeat 0 0;
								vertical-align: -5px;
								&.is-review {
									background-image: url("/lg5-common/images/icons/icon-star-on-20.svg");
								}
							}
						}
					}
					.product-price {
						@include clearfix;
						margin-top: 8px;
						white-space: nowrap;
						font-size: 0;
						.total {
							float: left;
							margin-right: 8px;
							font-weight: 700;
							@include font-large-2;
							@include mobile {
								margin-right:6px;
								font-size:15px;
								line-height:23px;
								letter-spacing:-0.5px;
							}
						}
						.original {
							position: relative;
							display: inline-block;
							margin-top: 8px;
							color:#767676;
							@include font-medium;
							font-weight:500;
							@include mobile {
								margin-top:2px;
								font-size:13px;
								line-height:21px;
								letter-spacing:-0.5px;
							}
							&:after {
								position: absolute;
								top: 50%;
								left: 0;
								right: 0;
								height: 1px;
								background-color: #616161;
								content: '';
							}
						}
					}
					.product-button {
						margin-top: 16px;
						@include mobile {
							margin-top:12px;
						}
						.btn {
							display:block;
							padding:7px 16px !important;
							font-size:14px;
							line-height:24px;
							@include mobile {
								padding:11px 16px !important;
								font-size:13px;
								line-height:20px;
							}
						}
					}
				}
			}
			.slide-controls {
				.btn-arrow {
					position:absolute;
					top:50%;
					transform:translateY(-50%);
					&.prev {
						left:-24px;
						@include mobile {
							left:4px;
						}
					}
					&.next {
						right:-24px;
						@include mobile {
							right:4px;
						}
					}
				}
			}
		}
	}
}
