@charset "UTF-8";

@import "../components-app";

.KRC0032 {
	&.stage-full {
		max-width:100%;
    }
    &.stage-wide {
        max-width:1600px;
        margin:0 auto;
    }
    &.stage-medium {
        max-width:1380px + 80px;
        margin:0 auto;
    }

	.usp-banner-wrap {
		position:relative;
		@include mobile {
			padding-bottom:40px;
		}

		// Indicator Area
		.indi-wrap {
			bottom:20px;
            z-index:10;
            @include mobile {
                bottom:0;
            }
		}

		// Swipe Area
		.ui_carousel_track {
			position: relative;
		}
		.carousel-box {
			position:relative;
			.text-area {
				position:absolute;
				top:80px;
                left:50%;
				transform:translateX(-50%);
				z-index:1;
				width:100%;
				max-width:1380px + 160px;
                margin:0 auto;
                padding:0 80px;

				&.align-top {
					top: 80px;
				}
				&.align-middle {
					top: 50%;
					transform:translateX(-50%) translateY(-50%);
				}
				&.align-bottom {
					top:auto;
					bottom:80px;
				}
				@include mobile {
					position:relative;
					top:0;
					left:auto;
					transform:none;
					max-width:none;
					&.align-top,
					&.align-middle,
					&.align-bottom {
						position:relative;
						top:0;
						left:auto;
						transform:none;
						max-width:none;
						padding:28px 16px 0;
					}
                }
                
                &.type-wide {
                    .inner {
                        width:100%;
                    }
                }
                &.type-narrow {
                    .inner {
                        width:50%;
                        @include mobile {
                            width:100%;
                        }
                    }
                }

                &.box-align-left {
                    .inner {
                        margin-right:auto;
                    }
                }
                &.box-align-center {
                    .inner {
                        margin-left:auto;
                        margin-right:auto;
                    }
                }
                &.box-align-right {
                    .inner {
                        margin-left:auto;
                    }
                }
                &.text-align-left {
                    text-align:left;
                }
                &.text-align-center {
                    text-align:center;
                }
                &.text-align-right {
                    text-align:right;
                }
                
				.banner-tit-sup {
                    display:block;
                    @include eyebrow;
				}
				.title * {
                    @include title-h1;
				}
				.banner-txt {
					@include bodycopy(h1, h1);
				}
				.banner-btn {
                    @include cta-btn;
                    @include mobile {
                        .btn.border {
                            display:block;
                        }
                    }
                }
                .overlay-image {
                    max-width:678px;
                    margin-top:24px;
                    overflow:hidden;
                    &:first-child {
                        margin-top:0;
                    }
                    img {
                        width:auto;
                        max-width:100%;
                        height:auto;
                        vertical-align:top;
                    }
                }
			}
            .video-link {
                position:absolute;
                left:50%;
                bottom:68px;
                transform:translateX(-50%);
                z-index:20;
                @include mobile {
                    bottom:24px;
                }
            }
            .video-asset {
                z-index:20;
            }
			.visual-area {
				position:relative;
                width:100%;
                text-align:center;
                overflow:hidden;
                img {
                    width:100%;
                    max-width:100%;
                    height:auto;
                    vertical-align:top;
                }
			}
		}

		// Navigation Area
		.controls-wrap {
            position:absolute;
            top:50%;
            left:0;
            right:0;
            z-index:10;
            .inner {
                padding:0 16px;
                max-width:1380px + 144px + 32px;
                margin:0 auto;
                @include mobile {
                    padding:0 8px;
                }
                .row {
                    position:relative;
                    .btn-arrow {
                        position:absolute;
                        top:0;
                        transform:translateY(-50%);
                        &.prev {
                            left:0;
                        }
                        &.next {
                            right:0;
                        }
                    }
                }
            }
            @at-root .KRC0032 {
                &.stage-medium {
                    .usp-banner-wrap {
                        .ui_carousel_list {
                            max-width:1380px;
                            margin:0 auto;
                        }
                    }
                }
            }
        }
	}
}
