@charset "UTF-8";

@import "../components-app";

.KRC0033 {
	&.stage-full {
		width:100%;
	}
	&.stage-wide {
		max-width:1600px;
		margin:0 auto;
	}
	
	position:relative;
	// common
	// visual area
	.visual-area {
		z-index:1;
		img {
			width:100%;
			height:auto;
			vertical-align:top;
		}
	}
	.animation-box {
		.play-animaion-btn,
		.controller-wrap {
			z-index: 11;
		}
	}


	// text
	.text-position {
		position:absolute;
		top:80px;
		left:0;
		right:0;
		bottom:80px;
		z-index:10;
		@include mobile {
			position:relative;
			top:auto;
			left:auto;
			right:auto;
			bottom:auto;
			padding:28px 16px 0;
		}
		.text-set-wrap {
			position:absolute;
			left:0;
			right:0;
			@include mobile {
				position:relative;
			}
			&.vertical-top {
				top:0;
				@include mobile {
					top:auto;
				}
			}
			&.vertical-middle {
				top:50%;
				transform:translateY(-50%);
				@include mobile {
					top:auto;
					transform:translateY(0);
				}
			}
			&.vertical-bottom {
				bottom:0;
				@include mobile {
					bottom:auto;
				}
			}
			&.box-align-left {
				.text-set-row {
					.text-set {
						margin-right:auto;
					}
				}
			}
			&.box-align-right {
				.text-set-row {
					.text-set {
						margin-left:auto;
					}
				}
			}
			.text-set-row {
				max-width:1146px + 80px;
				margin:56px auto 0;
				padding:0 40px;
				@include mobile {
					padding:0;
				}
				&:first-child {
					margin-top:0;
				}
				.text-set {
					width:444px;
					@include mobile {
						width:100%;
					}
					.title * {
						@include title-h3;
					}
					.sub-tit {
						@include bodycopy(h3, h3);
						margin-top:8px;
						font-weight:700;
						@include mobile {
							margin-top:6px;
						}
						&:first-child {
							margin-top:0;
						}
					}
					.body-copy {
						@include bodycopy(h3, h3);
					}
					.cta-box {
						@include cta-btn;
					}
					.thumbnail-box {
						margin-top:24px;
						img {
							width:100%;
							max-width:100%;
							height:auto;
							vertical-align:top;
						}
					}
				}
			}
		}
	}
}
