@charset "UTF-8";

@import "../components-app";

.KRC0041 {
	width: 100%;
	.component-inner {
		max-width: 1920px;
		margin:0 auto;
		@include mobile {
			padding: 0;
		}
	}

	&.full-size {
		.component-inner {
			max-width:2000px !important;
		}
    }
    &.wide-size {
		.component-inner {
			max-width:1680px !important;
		}
    }
    &.medium-size {
		.component-inner {
			max-width:1460px !important;
		}
	}
	.pc {
		@include mobile {
			display: none;
		}
	}

	.image-text-wrap {
		display: flex;
		@include mobile {
			display: block;
		}
		.visual-area {
			width: 100%;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.text-area {
			width: 100%;
			margin-left: -100%;
			padding: 80px 0;
			z-index: 1;
			@include mobile {
				margin-left: 0;
				padding: 0;
			}
			.text-inner {
				//display: flex;
				//flex-wrap: wrap;
				position: relative;
				max-width: 1380px;
				height: 100%;
				margin: 0 auto;
				@include mobile {
					max-width: initial;
				}
				
			}	
				
			li.items {
				position: absolute;
				width: 33.33%;
				max-width: 444px;
				@include mobile {
					position: static;
					width: 100%;
					max-width: 100%;
				}
				.item-inner {
					display: flex;
					flex-direction: column;
				}
				&.top-left {
					top: 0;
					left: 0;
				}
				&.top-center {
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					@include mobile {
						transform: translateX(0);
					}
				}
				&.top-right {
					top: 0;
					right: 0;
				}
				&.bottom-left {
					bottom: 0;
					left: 0;
				}
				&.bottom-center {
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					@include mobile {
						transform: translateX(0);
					}
				}
				&.bottom-right {
					bottom: 0;
					right: 0;
				}
				&.img-top {
					.body-copy {
						margin-bottom: 12px;
					}
				}
				&.img-bottom {

				}
			}
			
			.item-inner {
				.title {
					margin-bottom: 8px;
					@include font-large-2;
					font-weight: $font-weight-bold;
					@include mobile {
						margin-bottom: 6px;
					}
				}
				.sub-title {
					margin-bottom: 16px;
					@include font-medium;
					font-weight: $font-weight-bold;
				}
				.body-copy {
					margin-bottom: 24px;
					@include font-medium;
					@include mobile {
						margin-bottom: 14px;
					}
				}
				.img-area {
					width: 100%;
					height: auto;
					margin-bottom: 12px;
					@include mobile {
						margin-bottom: 0;
					}
					img {
						width: 100%;
					}
				}
				.disclaimer {
					position: relative;
					margin-top: 2px;
					padding-left: 11px;
					@include font-small;
					color: $color-gray-1;
					text-align: left;
					@include mobile {
						margin-bottom: 14px;
					}
					&::before {
						content: ' ';
						display: inline-block;
						width: 3px;
						height: 3px;
						margin-top: 11px;
						margin-left: -11px;
						margin-right: 8px;
						border-radius: 50%;
						background: #767676;
						vertical-align: top;
					}
				}
			}
		}
	}

	.text-area.carousel-box {
		.slide-controls,
		.slide-controls .btn-arrow,
		.indi-wrap {
			@include pc {
				display: none;
			}
		}
		.indi-wrap {
			@include mobile {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
		.ui_carousel_slider,
		.ui_carousel_list {
			@include pc {
				height: 100%;
			}
			
		}
		@include mobile {
			margin-top: 24px;
			padding: 0 16px 32px;
			.ui_carousel_list {
				margin-right: -16px;
			}
			.text-inner {
				
				li.items {
					margin-right: 16px;
				}
			}
			.item-inner {
				.title {order:1;}
				.sub-title {order:2;}
				.body-copy {order:3;}
				.img-area {order:5;}
				.disclaimer {order:4;}
			}
			.slide-controls {
				.btn-arrow {
					position: absolute;
					//bottom:20%;
					bottom: 105px;
					&.prev {
						left: 4px;
					}
					&.next {
						right: 4px;
					}
				}
				
			}	
		}

	}
	
	&.medium-size .image-text-wrap .text-area .text-inner {
		max-width: 1146px;
		@include mobile {
			max-width: initial;
		}
		li.items {
			max-width: 366px;
			@include mobile {
				max-width: initial;
			}
		}
	}
	.img-top {
		.img-area {
			margin-bottom: 24px;
		}
		.body-copy {
			margin-bottom: 10px;
		}
	}
	

}
