@charset "UTF-8";

@import "../components-app";

// .component-wrap {
//     &.zero-btm {
//         @include mobile {
//             padding-bottom:40px !important;
//         }
//     }
// }

.component-wrap {
    .component.KRC0032 {
        .component-box {
            @include mobile {
                padding-bottom:0;
            }
        }
    }
}

.component-wrap {
    &.zero-btm {
        .component.KRC0032 {
            .component-box {
                @include mobile {
                    /* BTOCSITE-1895 : BTOCSITE-1442 원복 요청 */
                    padding-bottom:60px;
                    /* //BTOCSITE-1895 : BTOCSITE-1442 원복 요청 */
                }
            }
        }
    }
}

.KRC0032 {
	&.stage-full {
        max-width:1920px;
        margin:0 auto;
        .usp-banner-wrap {
            .carousel-box {
                .text-area.type-narrow {
                    .inner {
                        max-width:49.131%;
                        @include mobile {
                            max-width:100%;
                        }
                    }
                }
            }
        }
    }
    &.stage-wide {
        max-width:1600px;
        margin:0 auto;               
    }
    &.stage-medium {
        max-width:1380px + 80px;
        margin:0 auto;
        .usp-banner-wrap {
            .carousel-box {
                .text-area {
                    padding:0 117px;
                }
            }
        }
    }
    
    // .component-box {
    //     @include mobile {
    //         padding-bottom:60px;
    //     }
    // }

	.usp-banner-wrap {
		position:relative;
		@include mobile {
            // margin-bottom:40px;
            padding-bottom:40px;
            &.usp-btm {
                // margin-bottom:0;
                padding-bottom:0;
            }
		}

		// Indicator Area
		.indi-wrap {
            left:50%;
            right:auto;
			bottom:20px;
            z-index:10;
            transform:translateX(-50%);
            @include mobile {
                bottom:0;
            }
		}

        &.indi-type-bar,
        &.indi-type-bar-text {
            .indi-wrap {
                padding:0 80px;
                max-width:1540px;
                width:100%;
            }
        }

		// Swipe Area
		.ui_carousel_track {
			position: relative;
		}
		.carousel-box {
            position:relative;
            .controller-wrap {
                z-index:10;
            }
			.text-area {
				position:absolute;
				top:80px;
                left:50%;
				transform:translateX(-50%);
				z-index:1;
				width:100%;
				max-width:1380px + 160px;
                margin:0 auto;
                padding:0 80px;

				&.align-top {
					top: 80px;
				}
				&.align-middle {
					top: 50%;
					transform:translateX(-50%) translateY(-50%);
				}
				&.align-bottom {
					top:auto;
					bottom:80px;
				}
				@include mobile {
					position:relative;
					top:0;
					left:auto;
					transform:none;
					max-width:none;
					&.align-top,
					&.align-middle,
					&.align-bottom {
						position:relative;
						top:0;
						left:auto;
						transform:none;
						max-width:none;
						padding:20px 16px 0;
					}
                }
                
                &.type-wide {
                    .inner {
                        @include boxs(w);
                    }
                }
                &.type-narrow {
                    .inner {
                        // @include boxs(n);
                        max-width:49.131%;
                        @include mobile {
                            max-width:100%;
                        }
                    }
                }

                &.box-align-left {
                    .inner {
                        margin-right:auto;
                        // padding-left:2.5%;
                        // @include mobile {
                        //     padding-left:0;
                        // }
                    }
                }
                &.box-align-center {
                    .inner {
                        margin-left:auto;
                        margin-right:auto;
                    }
                }
                &.box-align-right {
                    .inner {
                        margin-left:auto;
                    }
                }
                &.text-align-left {
                    text-align:left;
                }
                &.text-align-center {
                    text-align:center;
                }
                &.text-align-right {
                    text-align:right;
                }
                
				.banner-tit-sup {
                    display:block;
                    @include eyebrow;
				}
				.title {
                    h2 {
                        @include title-h2;
                    }
                    &.title-h1 * {
                        @include title-h1;
                    }
                    &.title-h2 * {
                        @include title-h2;
                    }
                    &.title-h3 * {
                        @include title-h3;
                    }
                    &.title-h4 * {
                        @include title-h4;
                    }
                    &.title-h5 * {
                        @include title-h5;
                    }
                    &.title-h6 * {
                        @include title-h6;
                    }
				}
				.banner-txt {
					@include bodycopy(h1, h1);
				}
				.banner-btn {
                    @include cta-btn;
                    @include mobile {
                        .btn.border {
                            // display:block;
                        }
                    }
                }
                .overlay-image {
                    max-width:678px;
                    margin-top:24px;
                    overflow:hidden;
                    &:first-child {
                        margin-top:0;
                    }
                    img {
                        width:auto;
                        max-width:100%;
                        height:auto;
                        vertical-align:top;
                    }
                }
			}
            .video-link {
                position:absolute;
                left:50%;
                bottom:68px;
                transform:translateX(-50%);
                z-index:20;
                @include mobile {
                    bottom:24px;
                }
            }
            .video-asset {
                z-index:20;
            }
			.visual-area {
				position:relative;
                width:100%;
                text-align:center;
                overflow:hidden;
                img {
                    width:auto;
                    max-width:100%;
                    height:auto;
                    vertical-align:top;
                }
			}
		}

		// Navigation Area
		.controls-wrap {
            position:absolute;
            top:50%;
            left:0;
            right:0;
            z-index:10;
            .inner {
                padding:0 16px;
                max-width:1380px + 144px + 32px;
                margin:0 auto;
                @include mobile {
                    padding:0 8px;
                }
                .row {
                    position:relative;
                    margin:0 !important;
                    .btn-arrow {
                        position:absolute;
                        top:0;
                        transform:translateY(-50%);
                        &.prev {
                            left:0;
                        }
                        &.next {
                            right:0;
                        }
                    }
                }
            }
            @at-root .KRC0032 {
                &.stage-medium {
                    .usp-banner-wrap {
                        .ui_carousel_list {
                            max-width:1380px;
                            margin:0 auto;
                        }
                    }
                }
            }
        }
	}
    .fc-white,
    .fc-light-gray {
        & {
            @include mobile {
                color:#000 !important;
            }
        }
        .logo {
            filter:brightness(0) invert(1);
            @include mobile {
                filter:brightness(1) invert(0) !important;
            }
        }
    }
    // .fc-black,
    // .fc-dark {
    //     & {
    //         @include mobile {
    //             color:#fff !important;
    //         }
    //     }
    //     .logo {
    //         filter:brightness(1) invert(0);
    //         @include mobile {
    //             filter:brightness(0) invert(1);
    //         }
    //     }
    // }
}


.component-wrap {
    $color: (lightgray, dark, black, white, gray);
    @each $bg in $color {
        &.bg-#{$bg} {
            .component.KRC0032 {
                @include mobile {
                    @if $bg == lightgray {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#222 !important;
                                color:#000 !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#000 !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-bk.svg") center no-repeat;
                                }
                            }
                        }
                    } @else if $bg == dark {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#fff !important;
                            * {
                                color:#fff !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#fff !important;
                                color:#fff !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#fff !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-wt.svg") center no-repeat;
                                }
                            }
                        }
                    } @else if $bg == black {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#fff !important;
                            * {
                                color:#fff !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#fff !important;
                                color:#fff !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#fff !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-wt.svg") center no-repeat;
                                }
                            }
                        }
                    } @else if $bg == white {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#222 !important;
                                color:#000 !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#000 !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-bk.svg") center no-repeat;
                                }
                            }
                        }
                    } @else if $bg == gray {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#222 !important;
                                color:#000 !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#000 !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-bk.svg") center no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}