@charset "UTF-8";

@import "../components-app";


.KRC0020 {	
	&.stage-full .component-inner {
        max-width:100%;
    }
    &.stage-wide .component-inner {
        max-width:1600px;
    }
    &.stage-standard .component-inner {
        max-width:1380px;
    }
	.component-inner {
        position: relative;
        padding:0;
        @include mobile {
            padding-bottom:32px;
        }
	}

    .icon-area {
        position:relative;
		max-width:1380px + 24px;
        margin:56px auto 0;
        @include clearfix;
        &:first-child {
            margin:0 auto 56px;
        }
        @include mobile {
            padding:0 12px;
            margin:28px auto 0;
            &:first-child {
                margin:0 auto 28px;
            }
        }
		.slider-nav {
			width:100%; 
			font-size:0;
            margin: 0 auto;
            li {
                float:left;
                width:calc(100% / 6);
                text-align:center;
                cursor: pointer;
                position: relative;
                padding: 0 12px;
                @include mobile {
                    width:calc(100% / 3);
                    padding: 0 4px;
                }
                .icon-wrap {
                    position:relative;
                    z-index:2;
                }
                .off {
                    opacity:1;
                }
                .on {
                    opacity:0;
                }
                a {
                    display:block;
                }
                a:hover {
                    text-decoration:none;
                }
                &.active,
                &.hover,
                &.slick-active {
                    .off {
                        opacity:0 !important;
                    }
                    .on {
                        opacity:1 !important;
                    }
                    .icon-text {
                        color:#222;
                    }
                }
                .icon-text {
                    display:block;
                    background: none;
                    color:#aaa;
                    @include font-medium;
                    font-weight:700;
                }	
                &.icon {
                    .icon-text {
                        padding-top:138px;
                        @include mobile {
                            padding-top:105px;
                        }
                    }
                    img {
                        position: absolute;
                        z-index:1;
                        left: 50%;
                        transform: translateX(-50%);
                        width:100%;
                        max-width: 122px;
                        max-height: 122px;
                        @include mobile {
                            max-width:103px;
                            max-height:103px;
                        }
                    }
                }	
            }
		}
		.indi-wrap {
			@include pc {
				display: none;
			}
		}
		.btn-arrow {
            @include pc {
                display:none !important;
            }
            @include mobile {
                position:absolute;
                top:calc((100% - 32px) / 2);
                transform:translateY(-50%);
                z-index:50;
                &.prev {
                    left:4px;
                }
                &.next {
                    right:4px;
                }
            }
        }
    }
    
    .slider-for {
		position: relative;
		width: 100%;
		.group {
			display:none;
			&.active {
				display:block;
			}
        }
        .visual-area {
            img {
                width:100%;
                height:auto;
                vertical-align:top;
            }
        }
    }
    
    .title * {
		@include title-h2;
    }
    
    .body-copy {
        @include bodycopy(h2, h2);
    }

	.text-area {
		position: absolute;
        top:56px;
        left:0;
        right:0;
		z-index: 2;
        padding:0 80px;
        @include pc {
            &.align-top {
                top:56px;
            }
            &.align-middle {
                top:50%;
                transform:translateY(-50%);
            }
            &.align-bottom {
                top:auto;
                bottom:112px;
            }
        }
		&.align-left * {
			text-align:left !important;
		}
		&.align-right * {
			text-align:right !important;
		}
		@include mobile {
            position: relative;
            top:auto;
            left:auto;
            right:auto;
            margin-bottom:28px;
			padding: 0 16px;
		}
	}
}