@charset "UTF-8";

@import "../components-app";

.KRC0038 {
    // stage option
    $stage : (stage-full, stage-wide, stage-standard);
    @each $stageClass in $stage {
        &.#{$stageClass} {
            .inner {
                @if $stageClass == stage-full {
                    max-width:1920px;
                }
                @else if $stageClass == stage-wide {
                    max-width:1600px;
                }
                @else if $stageClass == stage-standard {
                    max-width:1380px;
                }
            }
        }
    }
    .inner {
        position:relative;
        margin:0 auto;
        z-index:0;
    }

    // text area
    .text-area {
        @include pc {
            display:none;
        }
        @include mobile {
            display:block;
            position:relative;
            margin-bottom:28px;
            padding:0 16px;
        }
        .text-inner {
            .title * {
                @include title-h2;
            }
            .body-copy {
                max-width:561px;
                @include bodycopy(h2, h2);
            }
        }
    }

    // visual area
    .visual-area {
        position:relative;
        .images {
            overflow:hidden;
            img {
                width:100%;
                max-width:100%;
                height:auto;
                vertical-align:top;
            }
        }
    }

    // thumbnail text area
    .thumbnail-text-area {
        position:absolute;
        top:80px;
        left:0;
        right:0;
        bottom:80px;
        @include mobile {
            position:relative;
            top:auto;
            left:auto;
            right:auto;
            bottom:auto;
            margin-top:28px;
        }
        .title-inner {
            position:relative;
            max-width:1380px + 80px;
            margin:0 auto;
            padding:0 40px;
            .title * {
                @include title-h2;
            }
            .body-copy {
                max-width:561px;
                @include bodycopy(h2, h2);
            }
            @include mobile {
                display:none;
            }
        }
        .text-inner {
            padding:0 40px;
            &.vertical-top {
                position:relative;
                margin-top:80px;
            }
            &.vertical-middle {
                position:absolute;
                left:0;
                right:0;
                top:50%;
                transform:translateY(-50%);
            }
            &.vertical-bottom {
                position:absolute;
                left:0;
                right:0;
                bottom:0;
            }
            @include mobile {
                &.vertical-top,
                &.vertical-middle,
                &.vertical-bottom {
                    position:relative;
                    top:auto;
                    left:auto;
                    right:auto;
                    bottom:auto;
                    transform:initial;
                    margin-top:0;
                }
                padding:0 16px;
            }
            .text-list {
                display:block;
                max-width:1380px;
                margin:0 auto;
                .list {
                    position:relative;
                    max-width:561px;
                    min-height:120px;
                    margin-top:56px;
                    padding-left:136px;
                    text-align:left;
                    @include mobile {
                        min-height:75px;
                        margin-top:28px;
                        padding-left:83px;
                    }
                    &:first-child {
                        margin-top:0;
                    }
                    .icon {
                        position:absolute;
                        top:0;
                        left:0;
                        width:120px;
                        overflow:hidden;
                        @include mobile {
                            width:75px;
                        }
                        img {
                            width:100%;
                            max-width:100%;
                            height:auto;
                            vertical-align:top;
                        }
                    }
                    .text-box {
                        .title {
                            @include title-h3;
                        }
                        .body-copy {
                            @include bodycopy(h3, h3);
                        }
                    }
                }
            }
            &.box-align-left {
                .text-list {
                    .list {
                        margin-right:auto;
                    }
                }
            }
            &.box-align-center {
                .text-list {
                    .list {
                        margin-left:auto;
                        margin-right:auto;
                    }
                }
            }
            &.box-align-right {
                .text-list {
                    .list {
                        margin-left:auto;
                    }
                }
            }
        }
    }
}