@charset "UTF-8";

@import "../components-app";


.KRC0005 {
	//v-align
	.valign-top {
		vertical-align:top !important;
	}
	.valign-middle {
		vertical-align:middle !important;
	}
	.valign-bottom {
		vertical-align:bottom !important;
	}

	.text-inner + .text-inner {
		margin-top: 56px;
		@include mobile {
			margin-top:40px;
		}
	}
	
	&.standard {
		.visual-wrap {
			width:((678px * 100%) / 1380px);
			@include mobile {
				&.image-align-left,
				&.image-align-right {
					width:auto;
					margin:0 -16px;
					padding:0;
				}
				&.image-align-right {
					margin-top:28px;
				}
			}
		}
		.text-wrap {
			padding:0 48px;
			@include mobile {
				&.side-left-text,
				&.side-right-text {
					width:100%;
					padding:0;
				}
				&.side-right-text {
					margin-top:28px;
				}
			}
		}
	}
	&.large {
		.visual-wrap {
			width:((912px * 100%) / 1380px);
			@include mobile {
				&.image-align-left,
				&.image-align-right {
					width:auto;
					margin:0 -16px;
					padding:0;
				}
				&.image-align-right {
					margin-top:28px;
				}
			}
		}
		.text-wrap {
			padding:0 48px;
			@include mobile {
				&.side-left-text,
				&.side-right-text {
					width:100%;
					padding:0;
				}
				&.side-right-text {
					margin-top:28px;
				}
			}
		}
	}

	.inner {
        display:table;
        table-layout:fixed;
        width:100%;
		@include mobile {
			display:block;
		}
	}

	.visual-wrap {
		display:table-cell;
		vertical-align:middle;
		@include mobile {
			display:block;
			.bullet-list {
				padding:0 16px;
			}
		}
		.visual-area {
			position: relative;
			max-width: 100%;

			&.animation-box {
				.animation-area {
					position:relative;
					top:auto;
					left:auto;
					height:auto;
				}
			}

			&.image {
				.caption {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 5;
					overflow: hidden;
					padding: 12px 24px;
					height: 44px;
					background-color: rgba(0,0,0,0.5);
					font-weight: 700;
					font-size:14px;
					line-height: 20px;
					color: #fff;
					text-align: left;
					white-space: nowrap;
				}
			}
		}
		img {
			max-width: 100%;
			width: 100%;
		}
		.desc {
			font-size: 14px;
			line-height: 20px;
			color: #222;
		}
	}
	
	.text-wrap {
		display:table-cell;
		vertical-align:middle;
		@include mobile {
			display:block;
		}
		.title {
			* {
				@include title-h2;
			}
		}
		.small-title {
			display: block;
			@include eyebrow;
		}
		.text {
			@include bodycopy(h2, h2);
		}
		.thumbs {
			margin-top:56px;
			@include mobile {
				margin-top:28px;
			}
			img {
				width:auto;
				max-width:100%;
				height:auto;
				vertical-align:top;
			}
		}
	}

	.btn-type-box,
	.btn-type-text {
		@include cta-btn;
	}
}