@charset "UTF-8";

@import "../components-app";

.KRC0015 {
    width: 100%;

    .component-box {
        max-width: 1920px;
        margin: 0 auto;
    }

    &.full-size {
		.component-box {
			max-width:1980px !important;
		}
    }
    &.wide-size {
		.component-box {
			max-width:1660px !important;
		}
    }
    &.medium-size {
		.component-box {
			max-width:1344px !important;
		}
	}

    .ui_carousel_list {
        overflow:hidden;
    }

    .btn-arrow {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        &.prev {
            left: 50%;
            margin-left: -754px;
        }
        &.next {
            right: 50%;
            margin-right: -754px;
        }
        @media screen and (max-width: 1508px) {
            &.prev {
                left: 16px;
                margin-left: 0;
            }
            &.next {
                right: 16px;
                margin-right: 0;
            }
        }
        @include mobile {
            &.prev {
                left: 4px;
            }
            &.next {
                right: 4px;
            }
        }
    }

    .indi-wrap {
        position: absolute;
        bottom: 0;
        padding: 0 0 30px;
        left: 0;
        width: 100%;
        height: 42px;
        text-align: center;
        font-size: 0;
        z-index: 2;

        .ui_carousel_dots,
        .ui_carousel_play {
            display: inline-block;
            vertical-align: middle;
        }

        .ui_carousel_play {
            .btn-play {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-left: 12px;
                border-radius: 50%;
                background-color: #fff;
                font-size: 0;
            }
            &.play {
                .btn-play {
                    &:after {
                        position: absolute;
                        @include calc(top,50%,4px);
                        @include calc(left,50%,3px);
                        border-left: 7px solid #111;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        content: '';
                    }
                }
            }
            &.stop {
                .btn-play {
                    &:before,
                    &:after {
                        position: absolute;
                        @include calc(top,50%,4px);
                        width: 2px;
                        height: 8px;
                        background-color: #111;
                        content: '';
                    }
                    &:before {
                        @include calc(left,50%,3px);
                    }
                    &:after {
                        @include calc(left,50%,-1px);
                    }
                }
            }
        }
    }

    .carousel-box {
        position: relative;
    }

    .controller-wrap {
        margin-left: 32px;
    }

    .visual-area {
        position: relative;
        overflow: hidden;
        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

    .contents-area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        .text-area {
            position: relative;
            z-index: 1;
            .text-wrap {
                width: 100%;
                max-width: (1380px + 80px);
                margin: 0 auto;
                padding-right: 40px;
                padding-left: 40px;

                @include mobile {
                    max-width: 100%;
                    padding-right: 16px;
                    padding-left: 16px;
                }
            }
        }
    }

    .video-asset {
        z-index: 2;
    }

    .text-block {
        margin-bottom: 40px;
        .eyebrow {
            margin-bottom: 8px;
            font-weight: 700;
            @include font-eyebrow;
        }
        .title {
            margin-bottom: 32px;
            h1, h2, h3, h4, h5, h6 {
                font-weight: 700;
                font-size: 56px;
                line-height: 74px;
            }
            @include mobile {
                margin-bottom: 16px;
                h1, h2, h3, h4, h5, h6 {
                    font-size: 32px;
                    line-height: 42px;
                }
            }
        }
        .copy {
            @include font-large-1;
        }

        @include mobile {
            margin-bottom: 24px;
        }
    }

    .cta-button,
    .cta-link {
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
    }

    .video-link {
        display: inline-block;
        margin-left: 32px;
        .btn-video {
            position: relative;
            padding-bottom: 0;
            border-bottom: 0;
            @include font-medium;
            &:before {
                display: inline-block;
                width: 32px;
                height: 32px;
                margin-right: 8px;
                background: no-repeat 0 0;
                vertical-align: -9px;
                content: '';
            }
        }
    }

    @include mobile {
        .cta-link {
            & + .video-link {
                display: block;
                margin-top: 12px;
                margin-left: 0;
            }
        }
    }

    .type-wide {
        .text-wrap {
            .inner {
                .text-block {
                    max-width:100%;
                }
            }
        }
    }
    .type-narrow {
        .text-wrap {
            .inner {
                .text-block {
                    max-width:795px;
                    @include mobile {
                        max-width:100%;
                    }
                }
            }
        }
    }

    // 텍스트 가로정렬 및 버튼 사이 간격
    $align: (left, right, center, top, middle);
    @each $key in $align {
        .align-#{$key} {
            @if $key == left {
                .text-wrap {
                    .inner {
                        text-align: left;
                        .text-block {
                            margin-right:auto;
                        }
                    }
                }
                .cta-link {
                    .text-link {
                        margin-right: 16px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            @if $key == right {
                .text-wrap {
                    .inner {
                        text-align: right;
                        .text-block {
                            margin-left:auto;
                        }
                    }
                }
                .cta-link {
                    .text-link {
                        margin-left: 16px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
            @if $key == center {
                .text-wrap {
                    .inner {
                        .text-block {
                            margin-left:auto;
                            margin-right:auto;
                        }
                    }
                }
                .cta-link {
                    margin: 0 -8px;
                    .text-link {
                        margin: 0 8px;
                    }
                }
            }
            @include mobile {
                .cta-link {
                    span {
                        display: block;
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }

            @if $key == top {
                &.text-area {
                    height: 100%;
                    .text-wrap {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        padding-top: 80px;
                        @include mobile {
                            padding-top: 32px;
                        }
                    }
                }
            }
            @if $key == middle {
                &.text-area {
                    height: 100%;
                    .text-wrap {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        left: 0;
                        transform:translateY(-50%);
                    }
                }
            }
        }
    }

    .disclaimer-wrap {
        display: none;
    }

    // 컬러값 설정
    $color: (lightgray, dark, black, white);
    @each $bg in $color {
        &.bg-#{$bg} {
            @if $bg == lightgray {
                background: #f4f4f4;
            } @else if $bg == dark {
                background: #333;
            } @else if $bg == black {
                background: #000;
                .indi-wrap {
                    li {
                        .btn-indi {
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                        &.on .btn-indi {
                            background-color: #fff;

                        }
                    }
                }
            } @else if $bg == white {
                background: #fff;
                .indi-wrap {
                    li {
                        .btn-indi {
                            background-color: #ddd;
                        }
                        &.on .btn-indi {
                            background-color: #111;
                        }
                    }
                }
            }
        }
    }

    @each $text in $color {
        .text-#{$text} {
            @if $text == white {
                .text-block {
                    .eyebrow {
                        color: #fff;
                    }
                    .title {
                        h1, h2, h3, h4, h5, h6 {
                            color: #fff;
                        }
                    }
                    .copy {
                        color: #fff;
                    }
                }
                .btn {
                    border-color: #fff;
                    background-color: transparent;
                    color: #fff;
                }
                .video-link {
                    .btn-video {
                        color: #fff;
                        &:before {
                            background-image: url('/lg5-common/images/icons/btn-play-32-white.svg');
                        }
                    }
                }
                .text-link {
                    color: #fff;
                    &:after {
                        background-image: url("/lg5-common/images/icons/icon-arr-16-wt.svg");
                    }
                }
            }
            @if $text == black {
                .video-link {
                    .btn-video {
                        color: $color-default;
                        &:before {
                            background-image: url('/lg5-common/images/icons/btn-play-32-black.svg');
                        }
                    }
                }
            }
        }
    }
}

.animation-box {
    &.animation-box-full {
        &.ui_carousel_slide {
            .animation-area {
                top: 50%;
                transform: translateY(-100%);
                video {
                    height: auto;
                }
                @include mobile {
                    top: 0;
                    transform: translateY(0);
                    video {
                        height: 100%;
                    }
                }
                .controller-wrap {
                    @include calc(bottom,-50%,-85px);
                }
            }
        }
    }
}