@charset "UTF-8";
@import "_components";

.KRC0037 {
    // inner
    &.stage-full .inner {
        max-width:1920px;
    }
    &.stage-wide .inner {
        max-width:1600px;
    }
    &.stage-standard .inner {
        max-width:1380px;
    }
    .inner {
        position:relative;
        margin:0 auto;
    }

    // visual-area
    .visual-area {
        position:relative;
        text-align:center;
        img {
            width:auto;
            max-width:100%;
            height:auto;
            vertical-align:top;
        }
        &.animation-box {
            .animation-area {
                position:relative;
                top:auto;
                left:auto;
                .controller-wrap {
                    bottom:20px;
                    right:50%;
                    margin-right:-20px;
                }
            }
        }
        &.youtube-box {
            img {
                width:auto;
                height:auto;
                vertical-align:top;
            }
        }
    }
    
    // text
    .text-area {
        position:absolute;
        left:0;
        right:0;
        z-index:10;
        &.vertical-top {
            top:80px;
            @include mobile {
                top:auto;
            }
        }
        &.vertical-middle {
            top:50%;
            transform:translateY(-50%);
            @include mobile {
                top:auto;
                transform:translateY(0);
            }
        }
        &.vertical-bottom {
            bottom:80px;
            @include mobile {
                bottom:auto;
            }
        }
        .text-inner {
            max-width:1380px + 80px;
            margin:0 auto;
            padding:0 40px;
            &.type-wide {
                .box {
                    @include boxs(w);
                }
            }
            &.type-narrow {
                .box {
                    @include boxs(n);
                }
            }
            &.box-align-left {
                .box {
                    margin-right:auto;
                }
            }
            &.box-align-center {
                .box {
                    margin-left:auto;
                    margin-right:auto;
                }
            }
            &.box-align-right {
                .box {
                    margin-left:auto;
                }
            }
            .title {
                h2 {
                    @include title-h2;
                }
                &.title-h1 * {
                    @include title-h1;
                }
                &.title-h2 * {
                    @include title-h2;
                }
                &.title-h3 * {
                    @include title-h3;
                }
                &.title-h4 * {
                    @include title-h4;
                }
                &.title-h5 * {
                    @include title-h5;
                }
                &.title-h6 * {
                    @include title-h6;
                }
            }
            .body-copy {
                @include bodycopy(h2, h2);
            }
        }
        @include mobile {
            position:relative;
            top:auto;
            bottom:auto;
            left:auto;
            right:auto;
            margin-bottom:28px;
            transform:translateY(0);
            .text-inner {
                padding:0 16px;
            }
        }
    }

    // icon 
    .icon-text-area {
        position:absolute;
        left:0;
        right:0;
        z-index:10;
        &.vertical-top {
            top:80px;
            @include mobile {
                top:auto;
            }
        }
        &.vertical-middle {
            top:50%;
            transform:translateY(-50%);
            @include mobile {
                top:auto;
                transform:translateY(0);
            }
        }
        &.vertical-bottom {
            bottom:80px;
            @include mobile {
                bottom:auto;
            }
        }
        @include mobile {
            position:relative;
            top:auto;
            bottom:auto;
            left:auto;
            right:auto;
            transform:translateY(0);
        }
        .icons {
            max-width:1380px + 80px + 24px;
            margin:0 auto;
            padding:0 40px;
            font-size:0;
            @include mobile {
                // margin-top:12px;
                margin-top:4px;
                padding:0 8px;
                text-align:left;
            }
            .list {
                display:inline-block;
                width:calc(100% / 6);
                margin-top:16px;
                padding:0 12px;
                vertical-align:top;
                @include mobile {
                    width:calc(100% / 3);
                    padding:0 8px;
                }
                .icon {
                    display:block;
                    position:relative;
                    width:100%;
                    max-width:120px;
                    margin:0 auto;
                    overflow:hidden;
                    @include mobile {
                        max-width:90px;
                    }
                    img {
                        width:auto;
                        max-width:100%;
                        height:auto;
                    }
                }
            }
            .text {
                margin-top:16px;
                @include font-medium;
                font-weight:700;
                text-align:center;
                word-break:keep-all;
                @include mobile {
                    margin-top:2px;
                }
            }
        }
    }
    .fc-white,
    .fc-light-gray {
        & {
            @include mobile {
                color:#000 !important;
            }
        }
        .logo {
            filter:brightness(0) invert(1);
            @include mobile {
                filter:brightness(1) invert(0);
            }
        }
    }
    // .fc-black,
    // .fc-dark {
    //     & {
    //         @include mobile {
    //             color:#fff !important;
    //         }
    //     }
    //     .logo {
    //         filter:brightness(1) invert(0);
    //         @include mobile {
    //             filter:brightness(0) invert(1);
    //         }
    //     }
    // }
}

.component-wrap {
    $color: (lightgray, dark, black, white, gray);
    @each $bg in $color {
        &.bg-#{$bg} {
            .component.KRC0037 {
                @include mobile {
                    @if $bg == lightgray {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                    } @else if $bg == dark {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#fff !important;
                            * {
                                color:#fff !important;
                            }
                        }
                    } @else if $bg == black {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#fff !important;
                            * {
                                color:#fff !important;
                            }
                        }
                    } @else if $bg == white {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                    } @else if $bg == gray {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}