@charset "UTF-8";

@import "../components-app";


.KRC0035 {
	//v-align
	.valign-top {
		vertical-align:top !important;
	}
	.valign-middle {
		vertical-align:middle !important;
	}
	.valign-bottom {
		vertical-align:bottom !important;
	}

	$color: (lightgray, dark, black, white);
	@each $bg in $color {
		&.bg-#{$bg} {
			@if $bg == lightgray {
				background-color: #f4f4f4;
				.title {
					&, * {
						color: #222;
					}
				}
				.headline {
					color: #222;
				}
			} @else if $bg == dark {
				background-color: #333;
				.title {
					&, * {
						color: #fff;
					}
				}
				.headline {
					color: #fff;
				}
				.text-wrap .text,
				.text-wrap .small-title {
					color: #fff;
				}
				.text-wrap .btn-type-box .btn.btn-outline-primary {
					color:#222 !important;
				}
				.visual-wrap .desc {
					color:#fff;
				}
				.link-text {
					border-bottom-color:#fff;
					color:#fff;
					&:after {
						border-color:#fff;
					}
				}
			} @else if $bg == black {
				background-color: #000;
				.title {
					&, * {
						color: #fff;
					}
				}
				.headline {
					color: #fff;
				}
				.text-wrap .text,
				.text-wrap .small-title {
					color: #fff;
				}
				.visual-wrap .desc {
					color:#fff;
				}
				.link-text {
					border-bottom-color:#fff;
					color:#fff;
					&:after {
						border-color:#fff;
					}
				}
			} @else if $bg == white {
				background-color: #fff;
				.title {
					&, * {
						color: #222;
					}
				}
				.headline {
					color: #222;
				}
			}
		}
	}
	
	&.standard {
		.visual-wrap {
			&.image-align-left {
				@include grid-col(left,6,12);
			}
			&.image-align-right {
				@include grid-col(right,6,12);
			}
		}
		.text-wrap {
			&.side-left-text {
				@include grid-col(left,6,12);
			}
			&.side-right-text {
				@include grid-col(right,6,12);
			}
		}
	}
	&.large {
		.visual-wrap {
			&.image-align-left {
				@include grid-col(left,8,12);
			}
			&.image-align-right {
				@include grid-col(right,8,12);
			}
		}
		.text-wrap {
			&.side-left-text {
				@include grid-col(left,4,12);
			}
			&.side-right-text {
				@include grid-col(right,4,12);
			}
		}
	}

	.inner {
        display:table;
        table-layout:fixed;
        width:calc(100% + 24px);
		margin:0 -12px;
		@include mobile {
			display:inherit;
			width:auto;
			margin:0 -6px;
		}
	}

	.visual-wrap {
		display:table-cell;
		float:none !important;
		vertical-align:middle;
		@include mobile {
			display:inherit;
		}
		.visual-area {
			position: relative;
			max-width: 100%;

			video {
				height:auto;
			}

			&.image {
				.caption {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 5;
					overflow: hidden;
					padding: 12px 24px;
					height: 44px;
					background-color: rgba(0,0,0,0.5);
					font-weight: 700;
					font-size:14px;
					line-height: 20px;
					color: #fff;
					text-align: left;
					white-space: nowrap;
				}
			}
		}
		img {
			max-width: 100%;
			width: 100%;
		}
		.desc {
			font-size: 14px;
			line-height: 20px;
			color: #222;
		}

		@include mobile {
			&.image-align-left {
				margin-bottom: 44px;
			}
			&.image-align-right {
				margin-top: 44px;
			}
        }
        

        .slide-wrap {
			padding-bottom:36px;
			@include mobile {
				padding-bottom:32px;
			}
            .indi-wrap {
                bottom:0;
			}
			
			.slide-controls {
				top:calc((100% - 34px) / 2);
			}
        }
	}
	
	.text-wrap {
		display:table-cell;
		float:none !important;
		padding-top: 25px;
		vertical-align:middle;
		@include mobile {
			display:inherit;
		}
		.title {
			* {
				@include font-title-2;
			}
		}
		.small-title {
			display: block;
			margin-bottom: 8px;
			font-weight: 700;
			@include font-eyebrow;
		}
		.text {
			margin-top:24px;
			@include font-large-1;
		}
		.thumbs {
			margin-top:56px;
			img {
				width:auto;
				max-width:100%;
				height:auto;
				vertical-align:top;
			}
		}
	}

	.btn-type-box,
	.btn-type-text {
		margin-top:24px;
		font-size: 0;
		.btn, 
		.text-link {
			vertical-align:top;
			margin-left:16px;
			&:first-child {
				margin-left:0;
			}
		}
	}
	.btn-type-text + .small-title {
		margin-top:72px;
		@include mobile {
			margin-top:56px;
		}
	}
}