@charset "UTF-8";

@import "../components-app";

.KRC0031 {
	.component-inner {
		@include mobile {
			padding-left:0;
			padding-right:0;
		}
	}
	.lay-cont-wrap {
		position:relative;
		.bg {
			display:block;
			position:relative;
			overflow:hidden;
			text-align:center;
			img {
				width:auto;
				max-width:100%;
				height:auto;
				vertical-align:top;
			}
		}
		.cont-box {
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			padding:40px;
			z-index:2;
			.title * {
				@include title-h3;
			}
			.lay-txt {
				@include bodycopy(h3, h3);
			}
		}
	}
	@include pc {
		.layered-wrap {
			overflow:hidden;
			.indi-wrap,
			.btn-arrow {
				display:none !important;
			}
			.layered-inner {
				display:flex;
				flex-wrap:wrap;
				margin:-12px;
				.layered-item {
					width:100%;
					padding:12px;
					.lay-cont-wrap {
						display:flex;
						position:relative;
						height:100%;
						.cont-box {
							display:flex;
							&.valign-top { align-items:flex-start; }
							&.valign-middle { align-items:center; }
							&.valign-bottom { align-items:flex-end; }
						}
					}
					
				}
			}
		}
	
		// 2단
		.layered-wrap.type-2column {
			.layered-inner {
				.layered-item {
					width:calc(100% / 2); // IE
					@include mobile { width:100%; }
				}
			}
		}
	
		// 3단
		.layered-wrap.type-3column {
			.layered-inner {
				.layered-item {
					width:33.3%; // IE : calc 계산이 100% 넘어갈때가 종종 있어서 고정값으로 수정
					@include mobile { width:100%; }
				}
			}
			@media screen and (max-width: 1024px) {
				.layered-inner {
					margin:-4px;
					.layered-item {
						padding:4px;
						.lay-cont-wrap {
							.cont-box {
								padding:20px;
							}
						}
					}
				}
			}
		}
	}
	@include mobile {
		.layered-wrap {
			position:relative;
			padding-bottom:32px;
			.lay-cont-wrap {
				.cont-box {
					padding:0 16px;
					&.valign-top {
						top:32px;
						bottom:auto;
					}
					&.valign-middle {
						top:50%;
						transform:translateY(-50%);
						bottom:auto;
					}
					&.valign-bottom {
						top:auto;
						bottom:32px;
					}
				}
				&.txt-type {
					width:100%;
					height:0;
					padding-top:100%;
				}
			}
			.btn-arrow {
				position:absolute;
				top:calc((100% - 32px) / 2);
				margin-top:-18px;
				&.prev {
					left:4px;
				}
				&.next {
					right:4px;
				}
			}
		}
	}
}
