@charset "UTF-8";

@import "../components-app";

.KRC0051 {
	.component-inner {
		@include mobile {
			padding:0;
		}
		.title {
			margin-bottom:36px;
			@include mobile {
				margin-bottom:18px;
				padding:0 20px;
			}
			h2 {
				display:block;
				font-size:24px;
				line-height:32px;
				color:#111;
				@include mobile {
					font-size:16px;
					line-height:24px;
				}
			}
		}

		.recommend-story-list-wrap {
			.recommend-story-list-inner {
				margin:0 -6px;
				@include mobile {
					margin:0;
					.ui_carousel_list { padding:0 15px; } // carousel 조정 (다음 슬라이드 살짝 보이게)
				}
				.items {
					overflow:hidden;
					height:400px;
					@include clearfix();
					@include mobile {
						height:440px;
					}
					.item {
						float:left;
						position:relative;
						width:33.33%;
						padding:0 6px;
						height:inherit;
						@include mobile {
							width:100%;
							padding:0 5px;
						}
						.bg {
							display:block;
							overflow:hidden;
							width:100%;
							height:100%;
							border-radius:2px;
							background-repeat:no-repeat;
							background-position:center center;
							background-size:cover;
						}
						.info-area {
							$typeDefault: #111;
							$typeWhite: #fff;
							position:absolute;
							top:0;
							left:6px;
							right:6px;
							padding:24px 25px;
							@include mobile {
								padding: {
									left:24px;
									right:24px;
								};
							}
							color:$typeDefault;
							.flag {
								height:20px;
								padding:0 8px;
								line-height:16px;
								color:inherit;
								border-radius:4px;
								border:1px solid;
								border-color:$typeDefault;
								@include mobile {
									font-size:12px;
								}
							}
							&.typeWhite {
								color:$typeWhite;
								.flag {
									border-color:$typeWhite;
								}
							}
							.info-tit {
								display:block;
								margin-top:16px;
								font-weight:700;
								font-size:24px;
								line-height:32px;
								@include mobile {
									font-size:20px;
									line-height:24px;
								}
							}
							.info-tag {
								display:block;
								width:50%;
								margin-top:8px;
								font-size:16px;
								line-height:24px;
								@include mobile {
									margin-top:8px;
									font-size:14px;
									line-height:18px;
								}
								& > span {
									display:inline-block;
									font-size:inherit;
									line-height:inherit;
								}
							}
						}
					}
				}
				.indi-wrap {
					margin-top:36px;
				}
			}
		}
	}
}
