@charset "UTF-8";

@import "../components-app";


.KRC0025 {
    max-width:1380px + 80px;
    margin:0 auto;
    padding:0 40px;
    
    .unit-list {
        margin:0 -12px;
        @include clearfix;
        .unit-box {
            float:left;
            padding:0 12px;
        }
        &.block1 {
            .unit-box {
                float:none;
            }
            &.type-wide {
                .unit-box {
                    max-width:((1170px * 100%) / 1404px);
                }
            }
            &.type-narrow {
                .unit-box {
                    max-width:((702px * 100%) / 1404px);
                }
            }
            &.box-align-left {
                .unit-box {
                    margin-right:auto;
                }
            }
            &.box-align-center {
                .unit-box {
                    margin-left:auto;
                    margin-right:auto;
                }
            }
            &.box-align-right {
                .unit-box {
                    margin-left:auto;
                }
            }
        }
        &.block2 {
            .unit-box {
                width:50%;
            }
        }
        &.block3 {
            .unit-box {
                width:33.3%;
            }
        }
    }

    .eyebrow {
        @include eyebrow;
        &:only-child {
            margin-bottom:0;
        }
    }

    .title * {
        @include title-h2;
    }

    .text {
        @include bodycopy(h2, h2);
        &:first-child {
            margin-top:0;
        }
    }

    .bullet-list {
        &:first-child {
            margin-top:0;
        }
    }

    .btn-box {
        @include cta-btn;
        &:first-child {
            margin-top:0;
        }
    }

    .quote-writer-box {
        margin-top:56px;
        &:first-child {
            margin-top:0;
        }
        .quote {
            @include title-h3;
        }
        .writer {
            display:block;
            @include bodycopy(h3, h3);
            &:first-child {
                margin-top:0;
            }
        }
    }
}

