@charset "UTF-8";
@import "_components";

.KRC0022 {
    max-width:1380px + 80px;
    margin:0 auto;
    padding:0 40px;
    @include mobile {
        padding:0 16px;
    }

    .heading-box {
        .head-copy{
            @include eyebrow;
        }
        .title {
            h2 {
                @include title-h4;
            }
            &.title-h1 * {
                @include title-h1;
            }
            &.title-h2 * {
                @include title-h2;
            }
            &.title-h3 * {
                @include title-h3;
            }
            &.title-h4 * {
                @include title-h4;
            }
            &.title-h5 * {
                @include title-h5;
            }
            &.title-h6 * {
                @include title-h6;
            }
        }
        .body-copy {
            @include bodycopy(h2, h2);
        }
        .btn-box{
            @include cta-btn;
        }
    }

}
