@charset "UTF-8";

@import "../components-app";


.KRC0016 {
    max-width: (1284px + 60px);
    margin: 0 auto;
    padding: 0 30px;

    @include mobile {
        max-width: 100%;
        padding: 0 24px;
    }

    $color: (lightgray, dark, black, white);
	@each $bg in $color {
		&.bg-#{$bg} {
			@if $bg == lightgray {
				background-color: #f4f4f4;
				.title {
					&, * {
						color: #111;
					}
				}
			} @else if $bg == dark {
				background-color: #333;
				.title {
					&, * {
						color: #fff;
					}
				}
                .body-copy {
                    color:#fff;
                }
                .link-text.ico-right {
                    color:#fff;
                    &:after {
                        border-color:#fff;
                    }
				}
			} @else if $bg == black {
				background-color: #000;
				.title {
					&, * {
						color: #fff;
					}
				}
				.body-copy {
                    color:#fff;
                }
                .link-text.ico-right {
                    color:#fff;
                    &:after {
                        border-color:#fff;
                    }
				}
			} @else if $bg == white {
				background-color: #fff;
				.title {
					&, * {
						color: #111;
					}
				}
			}
		}
	}

    .btn {
        display: inline-block;
        min-width:194px;
        padding:15px 0;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #fff;
        line-height: 24px;
        @include font-family($font-weight-bold);
        font-size: 16px;
        color: #111;
        text-align: center;
        vertical-align: top;

        &.btn-outline-primary {
            border-color: #212121;
            background-color: #fff;
            color: #111;
        }
        &.btn-primary {
            border-color: #111;
            background-color: #111;
            color: #fff;
        }
    }

    .link-text {
        position: relative;
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: 1px solid #212121;
        font-size: 14px;
        line-height: 20px;
        color: #111;
        vertical-align: top;

        &.ico-right {
            margin-right: 14px;
            &:after {
                position: absolute;
                @include calc(top, 50%, 6px);
                right: -12px;
                width: 8px;
                height: 8px;
                border: solid #111;
                border-width: 2px 2px 0 0;
                transform: rotate(45deg);
                content: '';
            }
        }

        &.bold {
            @include font-family($font-weight-bold);
        }
    }

    .unit-list {
        @include grid-row;
        .unit-box {
            @include grid-col(left,6,12);
        }
    }
    .unit-small-wrap {
        ul {
            @include grid-row;
            .unit-box {
                @include grid-col(left,6,12);
            }
        }
    }
    .large-align-left {
        @include grid-row;
        .unit-box,
        .unit-small-wrap {
            @include grid-col(left,6,12);
        }
    }
    .large-align-right {
        @include grid-row;
        .unit-box,
        .unit-small-wrap {
            @include grid-col(right,6,12);
        }
    }

    @include mobile {
        .unit-list,
        .unit-small-wrap ul,
        .large-align-left,
        .large-align-right {
            .unit-box {
                margin-bottom: 60px;
            }
        }

        .large-align-left,
        .large-align-right {
            .unit-small-wrap {
                margin-bottom: -60px;
            }
        }
    }

    // 텍스트 가로정렬 및 버튼 사이 간격
    .align-left {
        .bottom-btn {
            span {
                display: inline-block;
                margin: 0 24px 12px 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .align-right {
        .bottom-btn {
            span {
                display: inline-block;
                margin: 0 0 12px 24px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    .align-center {
        .bottom-btn {
            margin: 0 -12px;
            span {
                display: inline-block;
                margin: 0 12px 12px;
            }
        }
    }

    @include mobile {
        .align-left,
        .align-right,
        .align-center {
            .bottom-btn {
                span {
                    display: block;
                }
            }

        }
    }

    .visual-area {
        margin-bottom: 16px;
        img {
            width: 100%;
        }
    }

    .title {
        margin-bottom: 24px;
        h1, h2, h3, h4, h5, h6 {
            max-height: 68px;
            @include font-family($font-weight-bold);
            font-size: 24px;
            line-height: 34px;
            @include textClipClamp(2);

        }
    }
    .body-copy {
        max-height: 96px;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 24px;
        color: #616161;
        @include textClipClamp(4);
    }
    .unit-small-wrap {
        .body-copy {
            max-height: 144px;
            @include textClipClamp(6);
        }
    }
}