@charset "UTF-8";

@import "../components-app";


.KRC0002 {
	.title {
		margin-bottom:56px;
		text-align:center;
		@include mobile {
			margin-bottom:28px;
		}
		* {
			@include font-title-2;
		}
	}

	.vertical-box {
		margin:0 auto;
		&.item2 {
			max-width:560px - 24px;
		}
		&.item3 {
			max-width:840px - 24px;
		}
		&.item4 {
			max-width:1120px - 24px;
		}
		&.item5 {
			max-width:1400px - 24px;
		}
		.list-box {
			margin:0 -12px;
			@include mobile {
				margin:0 -4px;
			}
		}
	}


	.non-carousel-box {
		.list-box {
			overflow:hidden;
		}
		.items{
			text-align:center;
			margin:-48px auto 0;
			font-size: 0;
			@include mobile {
				margin-top:-24px;
			}
		}
		
	}
	.carousel-box {
		.list-box {
			position: relative;
			padding-bottom:36px;
			@include mobile {
				padding-bottom:32px;
			}
		}
		.item-box {
			margin-top:-48px;
			@include mobile {
				margin-top:-24px;
			}
		}
		.item {
			width: 100%;
		}
		.slide-controls {
			.btn-arrow {
				&.prev {
					left: -12px;
					@include mobile {
						left:-8px;
					}
				}
				&.next {
					right: -12px;
					@include mobile {
						right:-8px;
					}
				}
			}
		}
	}
	
    .item {
		vertical-align:top;
		width:256px + 24px;
		display:inline-block;
		margin-top:48px;
		padding: 0 12px;
		@include mobile {
			width:50%;
			margin-top:24px;
			padding:0 4px;
		}
		.visual-area {
			position:relative;
			max-width:256px;
			margin:0 auto;
			a {
				display:block;
			}
			img {
				width:100%;
				height:auto;
			}
		}
		.bottom-btn {
			max-width:256px;
			margin:16px auto 0;
			text-align:center;
			.text-link {
				max-width:100%;
				padding-right:0;
				@include font-large-1;
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
				&::after {
					display:none;
				}
			}
		}
	}
    
	$color: (lightgray, dark, black, white);
	@each $bg in $color {
		&.bg-#{$bg} {
			@if $bg == lightgray {
				background-color: #f4f4f4;
				.title {
					&, * {
						color: #222;
					}
				}
			} @else if $bg == dark {
				background-color: #333;
				.title {
					&, * {
						color: #fff;
					}
				}
				.item .bottom-btn .link-text {
					color:#fff;
				}
			} @else if $bg == black {
				background-color: #000;
				.title {
					&, * {
						color: #fff;
					}
				}
				.item .bottom-btn .link-text {
					color:#fff;
				}
			} @else if $bg == white {
				background-color: #fff;
				.title {
					&, * {
						color: #222;
					}
				}
			}
		}
	}
}