@charset "UTF-8";

@import "../components-app";


.KRC0019 {

    &.flow-left,
    &.flow-right {
        .component-inner {
            display: flex;
            flex: 1;
        }
        @include mobile {
            .component-inner {
                display: block;
                padding:0;
            }
        }
    } 
    .square {
        position: relative;

        .visual-area.video .see-video:before {
            top:auto;
            bottom:24px;
        }
        .controller-wrap {
            z-index:30;
        }

        .copy-boxing-area {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 20;
            padding: 64px 32px;
            @include mobile {
                padding:32px 16px;
            }
        }
        &.sub {
            .copy-boxing-area {
                padding-bottom:0;
                padding-left: 24px;

            }
        }
    }

    .visual-area {
        img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }

    .copy-boxing-area {
        .category {
            @include eyebrow;
        }
        .head {
            * {
                @include title-h2;
            }
        }
    }

    .text-black {
        .copy-boxing-area {
            .category,
            .head {
                color: #222;
            }
        }
    }
    .text-white {
        .copy-boxing-area {
            .category,
            .head {
                color: #fff;
            }
        }
    }
}