@charset "UTF-8";

@import "../components-app";


.KRC0021 {
    width: 100%;
    // max-width: (1284px + 60px);
    // margin: 0 auto;
    // padding-right: 30px;
    // padding-left: 30px;
    @include mobile {
        .component-inner {
            padding: 0;
        }
    }

    $color: (lightgray, dark, black, white);
	@each $bg in $color {
		&.bg-#{$bg} {
			@if $bg == lightgray {
				background-color: #f4f4f4;
				.title {
					&, * {
						color: #111;
					}
				}
			} @else if $bg == dark {
                background-color: #333;
                .unit-box {
                    & .head-copy,
                    & .title,
                    & .body-copy {
                        color: #fff;
                    }
                }
			} @else if $bg == black {
				background-color: #000;
				.unit-box {
                    & .head-copy,
                    & .title,
                    & .body-copy {
                        color: #fff;
                    }
                }
			} @else if $bg == white {
				background-color: #fff;
				.title {
					&, * {
						color: #111;
					}
				}
			}
		}
	}

    .unit-list {
        margin: 0 -12px;
        .ui_carousel_slide {
            float: left;
            width: 33.333333%;
            padding: 0 12px;
        }
        &.half-type {
            .ui_carousel_slide {
                width: 50%;
            }
        }

        @include mobile {
            position: relative;
            margin: 0;
            .ui_carousel_slide {
                width: 100%;
                padding: 0;
            }
            &.half-type {
                .ui_carousel_slide {
                    width: 100%;
                }
            }
        }
    }

    .visual-area {
        img {
            width: 100%;
        }
    }
    .animation-box {
        .controller-wrap {
            bottom: 68px;
            @include calc(right,50%,20px);
            text-align: center;
        }
    }

    .unit-box {
        .visual-area {
            margin: 0 0 24px;
        }
        .head-copy {
            margin-bottom: 8px;
            font-weight: 700;
            @include font-medium;
        }
        .title {
            margin-bottom: 16px;
            h1,h2,h3,h4,h5,h6 {
                font-weight: 700;
                @include font-large-2;
            }
        }
        .body-copy {
            margin-bottom: 24px;
            @include font-medium;
        }

        @include mobile {
            padding: 0 16px 32px;
            .visual-area {
                margin: 0 -16px 24px;
            }
            .head-copy {
                margin-bottom: 6px;
            }
            .title {
                margin-bottom: 14px;
            }
        }
    }

    .btn-box {
        margin-top: 48px;
        text-align: center;
        @include mobile {
            margin-top: 24px;
        }
    }

    // 텍스트 가로정렬 및 버튼 사이 간격
    .align-left {
        .bottom-btn {
            .text-link {
                display: inline-block;
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .align-right {
        .bottom-btn {
            .text-link {
                display: inline-block;
                margin-left: 16px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    .align-center {
        .bottom-btn {
            margin: 0 -8px;
            .text-link {
                display: inline-block;
                margin: 0 8px;
            }
        }
    }
    .align-left,
    .align-right,
    .align-center {
        .bullet-list {
            text-align: left;
        }
        //@include mobile {
        //    .bottom-btn {
        //        .text-link {
        //            display: block;
        //        }
        //    }
        //
        //}
    }

    .indi-wrap {
        @include mobile {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .slide-controls {
        @include pc {
            display: none;
        }
        @include mobile {
            .btn-arrow {
                position: absolute;
                @include calc(top,50%,18px);
                &.prev {
                    left: 16px;
                }
                &.next {
                    right: 16px;
                }
            }
        }
    }
}