@charset "UTF-8";

@import "../components-app";

.KRC0009 {

    $color: (lightgray, dark, black, white);
	@each $bg in $color {
		&.bg-#{$bg} {
			@if $bg == lightgray {
				background-color: #f4f4f4;
				.title {
					&, * {
						color: #111;
					}
				}
			} @else if $bg == dark {
				background-color: #333;
				.title {
					&, * {
						color: #fff;
					}
				}
                .caption {
                    color:#fff;
                }
                .link-text.ico-right {
                    border-color:#fff;
                    color:#fff;
                    &:after {
                        border-color:#fff;
                    }
				}
			} @else if $bg == black {
				background-color: #000;
				.title {
					&, * {
						color: #fff;
					}
				}
				.caption {
                    color:#fff;
                }
                .link-text.ico-right {
                    border-color:#fff;
                    color:#fff;
                    &:after {
                        border-color:#fff;
                    }
				}
			} @else if $bg == white {
				background-color: #fff;
				.title {
					&, * {
						color: #111;
					}
				}
			}
		}
	}

    .btn {
        display: inline-block;
        //min-width:194px;
        //padding:15px 0;
        //border: 1px solid transparent;
        //border-radius: 4px;
        //background-color: #fff;
        //line-height: 24px;
        //@include font-family($font-weight-bold);
        //font-size: 16px;
        //color: #111;
        //text-align: center;
        vertical-align: top;

        &.btn-outline-primary {
            border-color: #212121;
            background-color: #fff;
            color: #111;
        }
        &.btn-primary {
            border-color: #111;
            background-color: #111;
            color: #fff;
        }
    }

    .link-text {
        position: relative;
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: 1px solid #212121;
        font-size: 14px;
        line-height: 20px;
        color: #111;
        vertical-align: top;

        &.ico-right {
            margin-right: 14px;
            &:after {
                position: absolute;
                @include calc(top, 50%, 6px);
                right: -12px;
                width: 8px;
                height: 8px;
                border: solid #111;
                border-width: 2px 2px 0 0;
                transform: rotate(45deg);
                content: '';
            }
        }

        &.bold {
            @include font-family($font-weight-bold);
        }
    }

    // page common
    .visual-area {
        a {
            display:block;
            position:relative;
            height:0;
            padding-bottom:100%;
            img {
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
                width:100%;
                height:100%;
                vertical-align:top;
            }
        }
        &.video {
            .see-video:before {
                z-index:1;
                width:32px;
                height:32px;
                margin:-16px 0 0 -16px;
            }
        }
        &.animation-box {
            .play-animaion-btn {
                position: absolute;
                height:24px;
                padding-bottom:0;
            }
            img {
                width:100%;
                height:auto;
                vertical-align:top;
            }

        }
    }
    .caption {
        margin-top:16px;
        color:#616161;
        font-size:16px;
        line-height:24px;
        text-align:center;
    }
    .bottom-btn {
        margin-top:24px;
        text-align:center;
        .btn {
            @include mobile {
                min-width:100%;
                padding:15px 0;
                font-size:16px;
                line-height:24px;
            }
        }
    }

    // Carousel Case
    .carousel-box {
        margin:0 -28px;
        .list-box {
            position:relative;
            padding:0 16px 36px;
            @include mobile {
                padding-bottom:34px;
            }
            .indi-wrap {
                //display:none !important;
                position:absolute;
                left:0;
                right:0;
                bottom:0;
                @include mobile {
                    display:block !important;
                }
            }
            .btn-arrow {
                display:none;
                position:absolute;
                top:69px;
                z-index:10;
                &.prev {
                    left:0;
                }
                &.next {
                    right:0;
                }
                @include mobile {
                    display:none !important;
                }
            }
            .ui_carousel_list {
                overflow:hidden;
            }
            .items {
                margin:0 auto;
                @include clearfix;
                .item {
                    float:left;
                    > div, > p {
                        width:194px;
                        margin-left:auto;
                        margin-right:auto;
                    }
                    .tit-text {
                        width:194px;
                        max-height: 68px;
                        margin: 24px auto 16px;
                        @include font-large-2;
                        text-align: center;
                        font-weight: 700;
                        @include textEllipsisClamp(2);
                    }
                }
            }
        }
    }

    // Non Carousel Case 
    .non-carousel-box {
        .list-box {
            overflow:hidden;
        }
        .items {
            margin:0 auto;
            margin-bottom:-60px;
            font-size:0;
            text-align:center;
            .item {
                display:inline-block;
                width:194px;
                margin:0 12px;
                padding-bottom:60px; 
                vertical-align:top;
                .tit-text {
                    width:194px;
                    max-height: 68px;
                    margin: 24px auto 16px;
                    @include font-large-2;
                    text-align: center;
                    font-weight: 700;
                    @include textEllipsisClamp(2);
                }
            }
            @include mobile {
                .item {
                    width:calc((100% - 24px) / 2);
                    margin:0 6px;
                }
            }
        }
        @for $i from 2 through 6 {
            &.item#{$i} {
                .items {
                    max-width:(194px + 24px) * $i;
                    @if $i == 6 {
                        margin:0 -12px -60px;
                    }
                }
                @include mobile {
                    .items {
                        max-width:inherit;
                        margin:0 -6px -60px;
                    }
                }
            }
        }
    }
}