@charset "UTF-8";

@import "../components-app";


.KRC0025 {
    max-width:1380px + 80px;
    margin:0 auto;
    padding:0 40px;
    @include mobile {
        padding:0 16px;
    }

    &.stage-full {
        max-width:1920px + 80px;
        .unit-list {
            &.block1 {
                &.type-wide {
                    .unit-box {
                        // max-width:((983px * 100%) / 1404px);
                        max-width:100%;
                        @include mobile {
                            max-width:100%;
                        }
                    }
                }
                &.type-narrow {
                    .unit-box {
                        // max-width:((702px * 100%) / 1404px);
                        max-width:((983px * 100%) / 1404px);
                        @include mobile {
                            max-width:100%;
                        }
                    }
                }
            }
        }
    }
    &.stage-wide {
        max-width:1600px;
        .unit-list {
            &.block1 {
                &.type-wide {
                    .unit-box {
                        // max-width:((983px * 100%) / 1404px);
                        max-width:100%;
                        @include mobile {
                            max-width:100%;
                        }
                    }
                }
                &.type-narrow {
                    .unit-box {
                        // max-width:((702px * 100%) / 1404px);
                        max-width:((983px * 100%) / 1404px);
                        @include mobile {
                            max-width:100%;
                        }
                    }
                }
            }
        }
    }
    &.stage-medium {
        max-width:1380px + 80px;
        .unit-list {
            &.block1 {
                &.type-wide {
                    .unit-box {
                        // max-width:((983px * 100%) / 1404px);
                        max-width:100%;
                        @include mobile {
                            max-width:100%;
                        }
                    }
                }
                &.type-narrow {
                    .unit-box {
                        // max-width:((702px * 100%) / 1404px);
                        max-width:((983px * 100%) / 1404px);
                        @include mobile {
                            max-width:100%;
                        }
                    }
                }
            }
        }
    }
    
    .unit-list {
        margin:0 -12px;
        @include mobile {
            margin:0;
        }
        @include clearfix;
        .unit-box {
            float:left;
            padding:0 12px;
            @include mobile {
                float:none;
                margin-top:40px;
                padding:0;
                &:first-child {
                    margin-top:0;
                }
            }
        }
        &.block1 {
            .unit-box {
                float:none;
            }
            // &.type-wide {
            //     .unit-box {
            //         max-width:((1170px * 100%) / 1404px);
            //         @include mobile {
            //             max-width:100%;
            //         }
            //     }
            // }
            // &.type-narrow {
            //     .unit-box {
            //         max-width:((702px * 100%) / 1404px);
            //         @include mobile {
            //             max-width:100%;
            //         }
            //     }
            // }
            &.box-align-left {
                .unit-box {
                    margin-right:auto;
                }
            }
            &.box-align-center {
                .unit-box {
                    margin-left:auto;
                    margin-right:auto;
                }
            }
            &.box-align-right {
                .unit-box {
                    margin-left:auto;
                }
            }
        }
        &.block2 {
            .unit-box {
                width:50%;
                @include mobile {
                    width:100%;
                }
            }
        }
        &.block3 {
            .unit-box {
                width:33.3%;
                @include mobile {
                    width:100%;
                }
            }
        }
    }

    .eyebrow {
        @include eyebrow;
        &:only-child {
            margin-bottom:0;
        }
    }

    .title * {
        @include title-h2;
    }

    .text {
        @include bodycopy(h2, h2);
        &:first-child {
            margin-top:0;
        }
    }

    .bullet-list {
        margin-top:0;
        &:first-child {
            margin-top:0;
        }
    }

    .btn-box {
        @include cta-btn;
        &:first-child {
            margin-top:0;
        }
    }

    .quote-writer-box {
        margin-top:56px;
        &:first-child {
            margin-top:0;
        }
        @include mobile {
            margin-top: 32px;
        }
        .quote {
            @include title-h4;
        }
        .writer {
            display:block;
            @include bodycopy(h3, h3);
            &:first-child {
                margin-top:0;
            }
        }
        & + .bullet-list {
            margin-top:12px;
        }
    }
}


/* BTOCSITE-9207 : 디스클라이머 컴포넌트 수정 */
.component-wrap {
    .KRC0025 {
        .drop-info {
            position: relative;
            margin-top: 12px;
            .btn{
                &.btn.border {
                    &.dropInfo_openBtn {
                        position: relative;
                        width: 100%;
                        height: 32px;
                        line-height: 0;
                        padding: 0px 12px 0px; //220119 요청사항 - BTOCSITE-9207
                        max-width: 112px;
                        text-align: center; //220119 요청사항 - BTOCSITE-9207
                        &:hover,
						&:active,
						&:focus {
							outline: none; //220119 요청사항 - BTOCSITE-9207
						}
                        &.fc-white {
                            border-color: #fff !important;
                            color: #fff !important;
                            &:hover,
                            &:active,
                            &:focus {
                                border-color:#fa263e !important;
                                //background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                //color:#fff !important;
                            }
                        }
                        @include mobile {
                            max-width: 115px;
                            height: 34px;
                            font-size: 13px;
                        }
                        &::after {
                            display: none; //220119 요청사항 - BTOCSITE-9207
                            content: '+';
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            right: 12px;
                            top: 14px;
                            text-align: center;
                            vertical-align: middle;
                            font-weight: 400;
                            @include mobile {
                                right: 18px;
                                top: 16px;
                            }
                        }
                    }
                }
            }
            
            .dropContent {
                display: none;
                background-color: #fff;
                padding: 24px;
                color: #000;
                @include mobile {
                    padding: 20px 16px;
                }
                &.on {
                    display: block;
                }
                &.bg-lightgray {
                    background-color: #f4f4f4;
                }
                p {
                    color: #000;
                    line-height: 24px;
                }
                .bullet-list {
                    li {
                        color: #000;
                    }
                }
                .dropInfo_closeBtn {
                    position: relative;
                    width: 100%;
                    height: 32px;
                    line-height: 0;
                    padding: 0px 0px 0px 12px !important;
                    max-width: 70px;
                    text-align: left;
                    margin-top: 24px;
                    min-width: 70px !important;
                    border-color: #000 !important;
                    color: #000 !important;
                    @include mobile {
                        font-size: 13px;
                        max-width: 76px;
                        height: 34px;
                        margin-top: 16px;
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        border-color:#fa263e !important;
                        background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                        color:#fff !important;
                        &::after {
                            background-image: url('/lg5-common/images/icons/btn-arr-24x24-white2.svg');
                            transform: rotate(270deg);
                        }
                    }
                    &::after {
                        content: '';
                        background-image: url('/lg5-common/images/icons/btn-arr-24x24-black2.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate(270deg);
                        width: 15px;
                        height: 15px;
                        background-size: 100%;
                        position: absolute;
                        right: 12px;
                        top: 8px;
                        text-align: center;
                        vertical-align: middle;
                        font-weight: 400;
                        @include mobile {
                            right: 16px;
                        }
                    }
                }
            }
        }
    }
}
/* //BTOCSITE-9207 : 디스클라이머 컴포넌트 수정 */

