@charset "UTF-8";

@import "../components-app";


.KRC0019 {
/*
    &.flow-left,
    &.flow-right {
        .component-inner {
            display: table;
            .square.main {
                display: table-cell;
                vertical-align:top;
            }
            .square.sub {
            }

            @include mobile {
                .square.main {
                    display: block;
                }
            }
        }

    }
*/  

    $color: (lightgray, dark, black, white);
    @each $bg in $color {
        &.bg-#{$bg} {
            @if $bg == lightgray {
                background-color: #f4f4f4;
            } @else if $bg == dark {
                background-color: #333;
            } @else if $bg == black {
                background-color: #000;
            } @else if $bg == white {
                background-color: #fff;
            }
        }
    }

    &.flow-left,
    &.flow-right {
        .component-inner {
            display: flex;
            flex: 1;
        }
        @include mobile {
            .component-inner {
                display: block;
                padding:0;
            }
        }
    } 
    .square {
        position: relative;

        .see-video {
            display:block;
            &:before {
                content: '';
                position: absolute;
                top:auto;
                left: 50%;
                bottom: 24px;
                z-index: 1;
                width: 48px;
                height: 48px;
                margin-left:-24px;
                background: url('/lg5-common/images/btn-video-play.svg') no-repeat 0 0;
                background-size: 100% 100%;
                border-radius: 50% 50%;
            }
            &.acc-video-content {
                position:absolute;
                top:20px;
                right:20px;
                width:24px;
                height:24px;
                overflow:hidden;
                z-index:9;
                text-indent:2000%;
                white-space:nowrap;
                &:before {
                    content:'';
                    display:inline-block;
                    position:absolute;
                    top:0;
                    right:0;
                    left:inherit;
                    width:24px;
                    height:24px;
                    margin:0;
                    background:url('/lg5-common/images/btn-AD-on.svg');
                    background-size:100%;
                    border-radius:inherit;
                }
            }
        }

        .copy-boxing-area {
            position: absolute;
            top: 0;
            //right: 0;
            //bottom: 0;
            left: 0;
            z-index: 1;
            padding: 64px 32px;
            @include mobile {
                padding:32px 16px;
            }
        }
        &.sub {
            .copy-boxing-area {
                padding-left: 24px;

            }
        }
    }

    .visual-area {
        img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }

    .copy-boxing-area {
        .category {
            margin-bottom:8px;
            @include font-eyebrow;
            font-weight:700;
        }
        .head {
            * {
                @include font-title-2;
            }
        }
    }

    .text-black {
        .copy-boxing-area {
            .category,
            .head {
                color: #222;
            }
        }
    }
    .text-white {
        .copy-boxing-area {
            .category,
            .head {
                color: #fff;
            }
        }
    }
}