@charset "UTF-8";
@import "_components";

.KRC0029 {
    // &.full-size {
	// 	.component-box {
	// 		max-width:1980px !important;
	// 	}
    // }
    // &.wide-size {
	// 	.component-box {
	// 		max-width:1660px !important;
	// 	}
    // }
    // &.medium-size {
	// 	.component-box {
	// 		max-width:1344px !important;
	// 	}
	// }

    .component-box {
        max-width: 1920px;
        margin: 0 auto;
    }

    .video-link {
        display: inline-block;
        margin-left: 32px;
        vertical-align:middle;
        &:first-child {
            margin-left:0;
        }
    }

    .btn-arrow {
        display:none;
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        &.prev {
            left: 50%;
            margin-left: -754px;
        }
        &.next {
            right: 50%;
            margin-right: -754px;
        }
        @media screen and (max-width: 1540px) {
            &.prev {
                left: 16px;
                margin-left: 0;
            }
            &.next {
                right: 16px;
                margin-right: 0;
            }
        }
        @include mobile {
            &.prev {
                left: 4px;
            }
            &.next {
                right: 4px;
            }
        }
    }

    .carousel-wrap {
        position:relative;
    }
    
    .custom-indi-wrap {
        position:absolute;
        bottom: 24px !important;
        right: 40px !important;
        left: 40px !important;
        z-index:10;
        max-width: 1380px;
        margin: 0 auto;
        font-size:0;
        text-align:center;
        .custom-indis {
            display:inline-block;
            max-width: none !important;
            margin: 0 -15px;
            vertical-align:top;
            .indis {
                display:table;
                width: 100% !important;
                table-layout: fixed;
                li {
                    display:table-cell;
                    width: auto !important;
                    padding: 0 15px !important;
                    &.on {
                        width: auto;
                    }
                    .btn-indi {
                        position:relative;
                        display:block;
                        width:100%;
                        overflow:hidden;
                        text-align:left;
                        &:after {
                            content:' ';
                            display:block;
                            position:relative;
                            width:100%;
                            height:4px;
                            background:rgba(255,255,255,0.4);
                        }
                        .bar {
                            position:absolute;
                            left:0;
                            bottom:0;
                            width:0;
                            height:4px;
                            background:#fff;
                        }
                    }
                }
            }
        }
        .indi-control {
            display:inline-block; 
            position:absolute !important;
            bottom:16px;
            right:0;
            width:26px;
            height:26px;
            //margin-top:12px;
            //margin-left:2px;
            font-size:0;
            text-align:center;
            //&::before, &::after {
            //    content:' ';
            //    display:inline-block;
            //    width:2px;
            //    height:10px;
            //    margin:0 2px;
            //    background-color:#fff;
            //    vertical-align:middle;
            //}
            &:before {
                display: inline-block;
                width: 26px;
                height: 26px;
                background: url('/lg5-common/images/icons/btn-carousel-hero-pause.svg') no-repeat 0 0;
                content: '';
            }
            &.play {
                &:before {
                    background-image: url('/lg5-common/images/icons/btn-carousel-hero-play.svg');
                }
            }
        }
        @include mobile {
            bottom: 20px !important;
            right: 16px !important;
            left: 16px !important;
            max-width: none;
            .custom-indis {
                margin: 0 -5px;
                .indis {
                    li {
                        padding: 0 5px !important;
                    }
                }
            }
            .indi-control {
                bottom: 20px;
            }
        }
    }

    .indi-wrap {
        display:none;
        bottom:20px;
    }

    .ui_carousel_list {
        // margin:-1px 0;
        // padding:1px 0;
        overflow: hidden;
    }
    .ui_carousel_slide {
        a {
            display:block;
        }
    }
    /* 첫번째 display none */
    .ui_carousel_track {
        .ui_carousel_slide {
            display:none;
            margin:2px 0;
            &:first-child {
                display:block;
            }
        }
    }
    .carousel-box {
        position: relative;
        height:480px;
        @include mobile {
            height:400px;
        }
    }

    .controller-wrap {
        margin-left: 32px;
        @include mobile {
            margin-left: 24px;
        }
    }

    .visual-area {
        position: relative;
        height:480px;
        overflow: hidden;
        text-align:center;
        @include mobile {
            height:100%;
        }
        @include mobile {
            height:0;
            padding-top:111.115%;
        }
        img {
            position: absolute;
            top:0;
            left:50%;
            // width:auto;
            height: 100%;
            transform:translateX(-50%);
            // width:100%;
            @include mobile {
                position: absolute;
                top:0;
                left:50%;
                width:auto;
                height: 100%;
                transform:translateX(-50%);

            }
             /* 클래스별이미지분기 */
             &.pc{
                display:inline-block;
            }
            &.mobile{
                display:none;
            }
            @include mobile {
                &.pc{
                    display:none;
                }
                &.mobile{
                    display:inline-block;
                }
            }
            /* //클래스별이미지분기 */
        }
    }

    .carousel-box.animation-box {
        .animation-area {
            width:100%;
            height:480px;
            overflow:hidden;
            @include mobile {
                height:100%;
                // padding-top:116.7%;
            }
            video {
                position:absolute;
                // width:auto;
                // height:100%;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                @include mobile {
                    width:auto;
                    // height:auto;
                    top:50%;
                    // left:0;
                    // transform:translateY(-50%);
                }
            }
        }
    }

    .video-asset {
        z-index: 2;
    }

    .text-area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding:0 40px;
        z-index: 2;
        @include mobile {
            padding:0 16px;
        }
        .text-wrap {
            display:table;
            width:100%;
            max-width:(1380px + 80px);
            height:100%;
            margin:0 auto;
            padding:0 40px;
            @include mobile {
                padding:32px 16px 0;
            }
            .inner {
                display:table-cell;
                margin: 0 auto;
                // padding:56px 0;

                @include mobile {
                    max-width: 100%;
                    // padding:32px 0;
                }
            }
        }
        &.type-wide {
            .text-wrap {
                .inner {
                    .text-block,
                    .cta {
                        @include boxs(w);
                    }
                }
            }
        }
        &.type-narrow {
            .text-wrap {
                .inner {
                    .text-block,
                    .cta {
                        @include boxs(n);
                    }
                }
            }
        }
        &.align-top {
            .text-wrap {
                @media screen and (min-width: 1460px) {
                    width: 1460px;
                }
                height:100%;
                position: absolute;
                top: 0;
                right: 0;
                left: 50%;
                transform: translateX(-50%);
                padding-top: 96px;
                @include mobile {
                    left: 0;
                    transform: translateX(0);
                    padding-top: 36px;
                }
                .inner {
                    vertical-align:top;
                }
            }
        }
        &.align-middle {
            .text-wrap {
                @media screen and (min-width: 1460px) {
                    width: 1460px;
                }
                position:absolute;
                top:50%;
                right:0;
                left:50%;
                transform:translate(-50%,-50%);
                @include mobile {
                    left:0;
                    transform:translate(0,-50%);
                }
                .inner {
                    vertical-align:middle;
                }
            }
        }
        // &.align-bottom {
        //     .text-wrap {
        //         .inner {
        //             vertical-align:bottom;
        //         }
        //     }
        // }
    }

    .text-block {
        .eyebrow {
            @include eyebrow;
        }
        .title {
            h2 {
                @include title-h1;
            }
            &.title-h1 * {
				@include title-h1;
			}
			&.title-h2 * {
				@include title-h2;
			}
			&.title-h3 * {
				@include title-h3;
			}
			&.title-h4 * {
				@include title-h4;
			}
			&.title-h5 * {
				@include title-h5;
			}
			&.title-h6 * {
				@include title-h6;
			}
        }
        .copy {
            @include bodycopy(h2, h2);
        }
    }

    .cta {
        margin-top:24px;
        font-size:0;
    }
    .cta-button,
    .cta-link {
        display:inline-block;
        @include cta-btn;
        margin-top:0;
        vertical-align:middle;
    }

    $align: (left, right, center);
    @each $key in $align {
        .box-align-#{$key} {
            @if $key == left {
                .text-wrap {
                    .inner {
                        .text-block,
                        .cta {
                            margin-right:auto;
                        }
                    }
                }
            }
            @if $key == right {
                .text-wrap {
                    .inner {
                        .text-block,
                        .cta {
                            margin-left:auto;
                        }
                    }
                }
            }
            @if $key == center {
                .text-wrap {
                    .inner {
                        .text-block,
                        .cta {
                            margin-left:auto;
                            margin-right:auto;
                        }
                    }
                }
            }
        }
        .align-#{$key} {
            @if $key == top {
                &.text-area {
                    height: 100%;
                    .text-wrap {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        padding-top: 80px;
                        @include mobile {
                            padding-top: 32px;
                        }
                    }
                }
            }
            @if $key == middle {
                &.text-area {
                    height: 100%;
                    .text-wrap {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        left: 0;
                        transform:translateY(-50%);
                    }
                }
            }
        }
    }
}
