@charset "UTF-8";

@import "../components-app";


.KRC0058 {
	//v-align
	.valign-top {
		vertical-align:top !important;
	}
	.valign-middle {
		vertical-align:middle !important;
	}
	.valign-bottom {
		vertical-align:bottom !important;
	}

	$color: (lightgray, dark, black, white);
	@each $bg in $color {
		&.bg-#{$bg} {
			@if $bg == lightgray {
				background-color: #f4f4f4;
				.title {
					&, * {
						color: #111;
					}
				}
				.headline {
					color: #111;
				}
				.text {
					color: #515151;
				}
			} @else if $bg == dark {
				background-color: #333;
				.title {
					&, * {
						color: #fff;
					}
				}
				.headline {
					color: #fff;
				}
				.text-wrap .text,
				.text-wrap .small-title {
					color: #fff;
				}
				.text-wrap .btn-type-box .btn.btn-outline-primary {
					color:#111 !important;
				}
				.visual-wrap .desc {
					color:#fff;
				}
				.link-text {
					border-bottom-color:#fff;
					color:#fff;
					&:after {
						border-color:#fff;
					}
				}
			} @else if $bg == black {
				background-color: #000;
				.title {
					&, * {
						color: #fff;
					}
				}
				.headline {
					color: #fff;
				}
				.text-wrap .text,
				.text-wrap .small-title {
					color: #fff;
				}
				.text-wrap .btn-type-box .btn.btn-outline-primary {
					color:#111 !important;
				}
				.text-wrap .btn-type-box .btn.btn-primary {
					color:#fff !important;
				}
				.visual-wrap .desc {
					color:#fff;
				}
				.link-text {
					border-bottom-color:#fff;
					color:#fff;
					&:after {
						border-color:#fff;
					}
				}
			} @else if $bg == white {
				background-color: #fff;
				.title {
					&, * {
						color: #111;
					}
				}
				.headline {
					color: #111;
				}
				.text {
					color: #515151;
				}
			}
		}
	}

	.btn {
		display: inline-block;
		min-width:194px;
		padding:15px 0;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #fff;
		line-height: 24px;
		font-weight: 700;
		font-size: 16px;
		color: #111;
		text-align: center;
		vertical-align: top;

		&.btn-outline-primary {
			border-color: #212121;
			background-color: #fff;
			color: #111;
		}
		&.btn-primary {
			border-color: #111;
			background-color: #111;
			color: #fff;
		}
	}

	.link-text {
		position: relative;
		display: inline-block;
		margin-right: 14px;
		padding-bottom: 4px;
		border-bottom: 1px solid #212121;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #111;
		vertical-align: top;

		&:after {
			position: absolute;
			@include calc(top, 50%, 6px);
			right: -12px;
			width: 8px;
			height: 8px;
			border: solid #111;
			border-width: 2px 2px 0 0;
			transform: rotate(45deg);
			content: '';
		}
	}
	
	&.standard {
		.visual-wrap {
			&.image-align-left {
				@include grid-col(left,6,12);
			}
			&.image-align-right {
				@include grid-col(right,6,12);
			}
		}
		.text-wrap {
			&.side-left-text {
				@include grid-col(left,6,12);
			}
			&.side-right-text {
				@include grid-col(right,6,12);
			}
			.title {
				max-height: 104px;
				@include textEllipsisClamp(2);
			}
		}
	}
	&.large {
		.visual-wrap {
			&.image-align-left {
				@include grid-col(left,8,12);
			}
			&.image-align-right {
				@include grid-col(right,8,12);
			}
		}
		.text-wrap {
			&.side-left-text {
				@include grid-col(left,4,12);
			}
			&.side-right-text {
				@include grid-col(right,4,12);
			}
			.title {
				max-height: 102px;
				@include textEllipsisClamp(3);
			}
		}
	}

	.inner {
        display:table;
        table-layout:fixed;
        width:calc(100% + 24px);
		margin:0 -12px;
		@include mobile {
			display:inherit;
			width:auto;
			margin:0 -6px;
		}
	}

	.visual-wrap {
		display:table-cell;
		float:none !important;
		vertical-align:middle;
		@include mobile {
			display:inherit;
		}
		.visual-area {
			position: relative;
			max-width: 100%;

			video {
				height:auto;
			}

			&.image {
				.caption {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 5;
					overflow: hidden;
					padding: 12px 24px;
					height: 44px;
					background-color: rgba(0,0,0,0.5);
					font-weight: 700;
					font-size:14px;
					line-height: 20px;
					color: #fff;
					text-align: left;
					white-space: nowrap;
				}
			}
		}
		img {
			max-width: 100%;
			width: 100%;
		}
		.desc {
			font-size: 14px;
			line-height: 20px;
			color: #111;
		}

		@include mobile {
			&.image-align-left {
				margin-bottom: 44px;
			}
			&.image-align-right {
				margin-top: 44px;
			}
        }
        

        .slide-wrap {
            .indi-wrap {
                bottom:-28px;
                font-size:0;
                .indi-conts {
                    display:inline-block;
                    vertical-align:middle;
                }
                .ui_carousel_play {
                    .btn-play {
                        position: relative;
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        margin-left: 12px;
                        border-radius: 50%;
                        background-color: #adadad;
                        font-size: 0;
                    }
                    &.play {
                        .btn-play {
                            &:after {
                                position: absolute;
                                @include calc(top,50%,4px);
                                @include calc(left,50%,3px);
                                border-left: 7px solid #fff;
                                border-top: 4px solid transparent;
                                border-bottom: 4px solid transparent;
                                content: '';
                            }
                        }
                    }
                    &.stop {
                        .btn-play {
                            &:before,
                            &:after {
                                position: absolute;
                                @include calc(top,50%,4px);
                                width: 2px;
                                height: 8px;
                                background-color: #fff;
                                content: '';
                            }
                            &:before {
                                @include calc(left,50%,3px);
                            }
                            &:after {
                                @include calc(left,50%,-1px);
                            }
                        }
                    }
                }
            }
        }
	}
	
	.text-wrap {
		display:table-cell;
		float:none !important;
		padding-top: 25px;
		vertical-align:middle;
		@include mobile {
			display:inherit;
		}
		.title {
			margin-bottom: 28px;
			@include mobile {
				margin-bottom:18px;
			}
			h1, h2, h3, h4, h5, h6 {
				@include font-family($font-weight-bold);
				font-size: 40px;
				line-height: 52px;
				@include mobile {
					font-size:28px;
					line-height:36px;
				}

			}
		}
		.small-title {
			display: block;
			margin-bottom: 16px;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #616161;
		}
		.text {
			margin-bottom: 32px;
			font-size: 16px;
			line-height: 24px;
			color: #616161;
		}
	}

	.btn-type-box,
	.btn-type-text {
		font-size: 0;
		span {
			display: inline-block;
		}
		@include mobile {
			span {
				display: block;
			}
			.btn {
				min-width:194px;
				padding:16px 0;
				line-height: 24px;
				font-size: 16px;
			}
		}
	}
	.btn-type-text + .small-title {
		margin-top:72px;
		@include mobile {
			margin-top:56px;
		}
	}

	&.align-left {
		.btn-type-box,
		.btn-type-text {
			span {
				margin: 0 24px 12px 0;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&.align-right {
		.btn-type-box,
		.btn-type-text {
			span {
				margin: 0 0 12px 24px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	&.align-center {
		.btn-type-box,
		.btn-type-text {
			margin: 0 -12px;
			span {
				margin: 0 12px 12px;
			}
		}
	}
}