@charset "UTF-8";

@import "../components-app";


.KRC0022 {
    max-width:1380px + 80px;
    margin:0 auto;
    padding:0 40px;
    @include mobile {
        padding:0 16px;
    }

    .heading-box {
        .head-copy{
            @include eyebrow;
        }
        .title * {
            @include title-h2;
        }
        .body-copy {
            @include bodycopy(h2, h2);
        }
        .btn-box{
            @include cta-btn;
        }
    }

}
