@charset "UTF-8";

@import "../components-app";


.KRC0009 {
    max-width:(1284px + 60px);
    margin:0 auto;
    padding:50px 30px;
    @include mobile {
        padding:50px 24px;
    }
    .content-wrap {
        .ui_carousel_list {
            overflow:hidden;
            margin:0 -12px;
            @include mobile {
                margin:0;
            }
        }
        .list-wrap {
            @include clearfix;
            .promotions {
                float:left;
                padding:0 12px;
                @include mobile {
                    padding:0;
                }
                .visual {
                    a {
                        display:block;
                        img {
                            width:100%;
                            height:auto;
                            vertical-align:top;
                        }
                    }
                }
                .tit {
                    margin-top:16px;
                    color:#111;
                    font-size:18px;
                    line-height:26px;
                    font-weight:700;
                }
                .desc {
                    margin-top:16px;
                    color:#616161;
                    font-size:16px;
                    line-height:26px;
                }
                .date {
                    margin-top:4px;
                    color:#616161;
                    font-size:14px;
                    line-height:26px;
                    font-weight:700;
                }
                .bottom {
                    margin-top:24px;
                }
            }
        }
    }
}