@charset "UTF-8";

@import "../components-app";


.KRC0025 {
    &.full-size {
		.unit-list {
			max-width:1920px + 80px;
		}
    }
    &.wide-size {
		.unit-list {
			max-width:1600px + 80px;
		}
    }
    &.standard-size {
		.unit-list {
			max-width:1380px + 80px;
		}
	}
    
    .unit-list {
        margin:0 auto;
        padding:0 28px;
        @include clearfix;
        .unit-box {
            float:left;
            padding:0 12px;
        }
        &.block1 {
            .unit-box {
                width:100%;
            }
        }
        &.block2 {
            .unit-box {
                width:50%;
            }
        }
        &.block3 {
            .unit-box {
                width:calc(100% / 3);
            }
        }
    }

    .eyebrow {
        @include eyebrow;
        &:only-child {
            margin-bottom:0;
        }
    }

    .title * {
        @include title-h2;
    }

    .text {
        @include bodycopy(h2, h2);
        &:first-child {
            margin-top:0;
        }
    }

    .btn-box {
        @include cta-btn;
        &:first-child {
            margin-top:0;
        }
    }

    .quote-writer-box {
        margin-top:56px;
        &:first-child {
            margin-top:0;
        }
        .quote {
            @include title-h3;
        }
        .writer {
            display:block;
            @include bodycopy(h3, h3);
            &:first-child {
                margin-top:0;
            }
        }
    }
}

