@charset "UTF-8";

@import "../components-app";

.KRC0015 {
    width: 100%;

    .component-box {
        max-width: 1920px;
        margin: 0 auto;
    }

    &.full-size {
		.component-box {
			max-width:1980px !important;
		}
    }
    &.wide-size {
		.component-box {
			max-width:1660px !important;
		}
    }
    &.medium-size {
		.component-box {
			max-width:1344px !important;
		}
	}

    .ui_carousel_list {
        overflow:hidden;
    }

    .btn-arrow {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        &.prev {
            left: 50%;
            margin-left: -754px;
        }
        &.next {
            right: 50%;
            margin-right: -754px;
        }
        @media screen and (max-width: 1508px) {
            &.prev {
                left: 16px;
                margin-left: 0;
            }
            &.next {
                right: 16px;
                margin-right: 0;
            }
        }
        @include mobile {
            &.prev {
                left: 4px;
            }
            &.next {
                right: 4px;
            }
        }
    }

    .indi-wrap {
        bottom:20px;
    }

    .carousel-box {
        position: relative;
    }

    .controller-wrap {
        margin-left: 32px;
    }

    .visual-area {
        position: relative;
        overflow: hidden;
        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

    .contents-area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        .text-area {
            position: relative;
            z-index: 1;
            .text-wrap {
                width: 100%;
                max-width: (1380px + 80px);
                margin: 0 auto;
                padding-right: 40px;
                padding-left: 40px;

                @include mobile {
                    max-width: 100%;
                    padding-right: 16px;
                    padding-left: 16px;
                }
            }
        }
    }

    .video-asset {
        z-index: 2;
    }

    .text-block {
        .eyebrow {
            @include eyebrow;
        }
        .title * {
            @include title-h1;
        }
        .copy {
            @include bodycopy(h1, h1);
        }
    }

    .cta {
        margin-top:24px;
    }
    .cta-button,
    .cta-link {
        display:inline-block;
        margin-top:0;
        font-size:0;
        vertical-align:middle;
        .btn.border,
        .text-link {
            margin-left:16px;
            &:first-child {
                margin-left:0;
            }
        }
    }
    .video-link {
        display:inline-block;
        margin-left:32px;
        vertical-align:middle;
    }

    @include mobile {
        .cta-link {
            & + .video-link {
                display: block;
                margin-top: 12px;
                margin-left: 0;
            }
        }
    }

    .type-wide {
        .text-wrap {
            .inner {
                max-width:100%;
            }
        }
    }
    .type-narrow {
        .text-wrap {
            .inner {
                max-width:795px;
                @include mobile {
                    max-width:100%;
                }
            }
        }
    }

    // 텍스트 가로정렬 및 버튼 사이 간격
    $align: (left, right, center, top, middle);
    @each $key in $align {
        .align-#{$key} {
            @if $key == left {
                .text-wrap {
                    .inner {
                        text-align: left;
                        margin-right:auto;
                    }
                }
            }
            @if $key == right {
                .text-wrap {
                    .inner {
                        text-align: left;
                        margin-left:auto;
                    }
                }
            }
            @if $key == center {
                .text-wrap {
                    .inner {
                        margin-left:auto;
                        margin-right:auto;
                    }
                }
            }

            @if $key == top {
                &.text-area {
                    height: 100%;
                    .text-wrap {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        padding-top: 80px;
                        @include mobile {
                            padding-top: 32px;
                        }
                    }
                }
            }
            @if $key == middle {
                &.text-area {
                    height: 100%;
                    .text-wrap {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        left: 0;
                        transform:translateY(-50%);
                    }
                }
            }
        }
    }

    .disclaimer-wrap {
        display: none;
    }
}
