@charset "UTF-8";

@import "../components-app";

// .component-wrap {
//     &.zero-btm {
//         @include mobile {
//             padding-bottom:40px !important;
//         }
//     }
// }

.component-wrap {
    .component.KRC0032 {
        .component-box {
            @include mobile {
                padding-bottom:0;
                // s : BTOCSITE-8039 WCMS 컴포넌트 개선 요청 건
                .slide-show-right {
                    .ui_carousel_slide {
                        padding-right: 15vw;
                        &.on + .ui_carousel_slide {
                            margin-left: -15vw;
                            padding-left: 16px;
                        }
                    }
                }
                // e : BTOCSITE-8039 WCMS 컴포넌트 개선 요청 건
            }
        }
    }
}

.component-wrap {
    &.zero-btm {
        .component.KRC0032 {
            .component-box {
                @include mobile {
                    /* BTOCSITE-1895 : BTOCSITE-1442 원복 요청 */
                    padding-bottom:60px;
                    /* //BTOCSITE-1895 : BTOCSITE-1442 원복 요청 */
                }
            }
        }
    }
}
.component-wrap {
    .KRC0032 {
        &.stage-full {
            max-width:1920px;
            margin:0 auto;
            
        }
        &.stage-wide {
            max-width:1600px;
            margin:0 auto;
            // .usp-banner-wrap {
            //     .carousel-box {
            //         .text-area {
            //             padding:0 110px;
            //         }
            //     }
            // }
        }
        &.stage-medium {
            max-width:1380px + 80px;
            margin:0 auto;
            .usp-banner-wrap {
                .carousel-box {
                    .text-area {
                        padding:0 117px;
                        @include mobile {
                            padding: 0;
                        }
                    }
                }
                //BTOCSITE-8039-WCMS 컴포넌트 개선 요청 건
                &.indi-type-bar,
                &.indi-type-bar-text {
                    @include pc {
                        .indi-wrap {
                            padding:0 117px;
        
                            .ui_carousel_play {
                                right:117px;
                            }
                        }
                    }
                }
                //BTOCSITE-8039-WCMS 컴포넌트 개선 요청 건
            }
        }
        //BTOCSITE-8039 WCMS 컴포넌트 개선 요청 건
        .usp-banner-wrap {
            &.indi-type-bar,
            &.indi-type-bar-text {
                .animation-area, 
                .carousel-box .visual-area {
                    @include mobile {
                        overflow:hidden;
                        height:360px;
    
                        video,
                        img {
                            position: relative;
                            width:auto;
                            min-width:100%;
                            height:100%;
                            left:50%;
                            transform:translateX(-50%);
                        }
                        
                    }
                }
                .indi-wrap {
                    .indi-conts {
                        display: flex !important;
                    }
                    li {
                        flex:1;
                        & + li {
                            margin-left:29px;
        
                            @include mobile {
                                margin-left:10px;
                            }
                        }
                        .bar {
                            display: block;
                            position: absolute;
                            bottom:0;
                            left:0;
                            width:0;
                            height:3px;
                        }
    
                        &.on {
                            .bar {
                                width:100%;
                                animation-name:bars;
                                animation-duration:5s;
    
                                @keyframes bars {
                                    from { width:0; }
                                    to { width:100%; }
                                }                            
                            }
                        }
                    }
                    .ui_carousel_play {
                        .btn-play {
                            width:26px;
                            height:26px;
                            background-repeat: no-repeat;
                            background-position: 0 0;
        
                            @include mobile {
                                width:24px;
                                height:24px;
                            }
                        }
        
                        &.play {
                            .btn-play {
                                background-image: url('/lg5-common/images/icons/btn-carousel-hero-play.svg') ;
                            }
                        }
            
            
                        &.stop {
                            .btn-play {
                                background-image: url('/lg5-common/images/icons/btn-carousel-hero-pause.svg');
                            }
                        }
                    }
                }
    
                .controller-wrap {
                    top:16px;
                    bottom:auto;
                }
                
            }
            &.indi-type-bar {
                .carousel-box {
                    .video-link {
                        @include mobile {
                            bottom:56px;
                        }
                    }
                }
                .controls-wrap {
                    @include mobile {
                        top:186px;
                    }
                }
    
                .indi-wrap {
                    max-width:1540px;
                    width:100%;
                    padding:0 80px;
    
                    @include mobile {
                        top:337px;
                        bottom:auto;
                        padding:0 16px !important;
                    }
                    li {
                        .btn-indi-bar {
                            position: relative;
                            width:100%;
                            height:3px;
                            background: rgba(#f4f4f4, .4);
    
                            .bar {
                                background: #f4f4f4;
                            }
                        }
                    }
                    .ui_carousel_play {
                        position: absolute;
                        right:80px;
                        bottom:16px;
    
                        @include mobile {
                            right:16px;
                        }
                    }
                }
            }
            &.indi-type-bar-text {
                .controls-wrap {
                    @include mobile {
                        top:237px;
                        // top:65.8333vw;
                    }
                }
                .indi-wrap {
                    position: static;
                    transform:none !important;
                    left:0;
                    margin:0 auto 24px;
                    max-width:1540px;
                    width:100%;
                    padding:0 80px;
        
                    @include mobile {
                        margin:0 auto 20px;
                        padding:0 16px;
                    }
        
                    li {
                        .btn-indi-bar-text {
                            position: relative;
                            width:100%;
                            padding-bottom:16px;
        
                            @include mobile {
                                padding-bottom:10px;
                            }
                            
                            &:before {
                                content:"";
                                display: block;
                                position: absolute;
                                bottom:0;
                                left:0;
                                width:100%;
                                height:3px;
                                background: #ddd;
                            }
        
                            .text {
                                display: block;
                                color:#666;
                                font-size:18px;
                                text-align: center;
                                font-weight:500;
                                line-height:1.5;
        
                                @include mobile {
                                    font-size:14px;
                                    line-height:21px;
                                }
                            }
            
                            .bar {
                                background: #000;
                            }
                        } 
                        
                    }
                    .ui_carousel_play {
                        display: block;
                        position: absolute;
                        width:100%;
                        max-width:1540px;
                        padding:0 80px;
                        margin:0;
                        left:50%;
                        right:auto;
                        transform:translateX(-50%);
                        bottom:24px;
                        text-align: right;
                        z-index: 1;
        
                        @include mobile {
                            width:auto;
                            left:auto;
                            transform: none;
                            padding:0;
                            top:367px;
                            right:16px;
                            bottom:auto;
                        }
                    }
                }
            }
        }
        //BTOCSITE-8039 WCMS 컴포넌트 개선 요청 건 
        
        // .component-box {
        //     @include mobile {
        //         padding-bottom:60px;
        //     }
        // }

        .usp-banner-wrap {
            position:relative;
            @include mobile {
                // margin-bottom:40px;
                padding-bottom:40px;
                &.usp-btm {
                    // margin-bottom:0;
                    padding-bottom:0;
                }
            }

            // Indicator Area
            .indi-wrap {
                left:50%;
                right:auto;
                bottom:20px;
                z-index:10;
                transform:translateX(-50%);
                @include mobile {
                    bottom:0;
                }
            }

            // Swipe Area
            .ui_carousel_track {
                position: relative;
            }
            .carousel-box {
                position:relative;
                .controller-wrap {
                    z-index:10;
                }
                .text-area {
                    &.align-top {
                        .text-container {
                            top: 80px;
                        }
                        
                    }
                    &.align-middle {
                        .text-container {
                            top: 50%;
                            transform:translateX(-50%) translateY(-50%);
                        }
                        
                    }
                    &.align-bottom {
                        .text-container {
                            top:auto;
                            bottom:80px;
                        }
                        
                    }
                    
                    &.type-wide {
                        .text-top {
                            @include boxs(w);
                        }
                    }
                    &.type-narrow {
                        .text-top {
                            // @include boxs(n);
                            max-width:49.131%;
                            @include mobile {
                                max-width:100%;
                            }
                        }
                        
                    }

                    &.box-align-left {
                        .text-top,
                        .disclaimer-container {
                            margin-right:auto;
                            // padding-left:2.5%;
                            // @include mobile {
                            //     padding-left:0;
                            // }
                        }
                    }
                    &.box-align-center {
                        .text-top,
                        .disclaimer-container {
                            margin-left:auto;
                            margin-right:auto;
                        }
                    }
                    &.box-align-right {
                        .inner {
                            .text-container {
                                .text-top {
                                    margin-left:auto;
                                    // padding-right: 80px;
                                    padding-left: 0;
                                }
                            }
                        }
                        .drop-info {
                            padding-left: 0px;
                            margin-left: auto;
                            // max-width: 45.531%;
                            .disclaimer-btnArea {
                                max-width: 49.131%;
                                margin-left: auto;
                                @include mobile {
                                    max-width: 100%;
                                    padding-left: 16px;
                                }
                            }
                            .dropContent {
                                .disclaimer-txtArea {
                                    max-width: 49.131%;
                                    margin-left: auto;
                                    padding-left: 0 !important;
                                    @include mobile {
                                        max-width: 100%;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                        .disclaimer-bottom {
                            margin-left: auto;
                            max-width: 49.131%;
                            padding-right: 80px;
                            padding-left: 0 !important;
                            @include mobile {
                                max-width: 100%;
                                padding-right: 0;
                            }
                        }
                    }
                    &.text-align-left {
                        text-align:left;
                    }
                    &.text-align-center {
                        text-align:center;
                        .disclaimer-container {

                            .drop-info {
                                padding-left: 0;
                                .disclaimer-btnArea {
                                    padding-left: 0;
                                }
                            }

                            .disclaimer-bottom {
                                padding-left: 0 !important;
                                .overlay-image {
                                    margin-left: auto;
                                    margin-right: auto;
                                    max-width: 42%;
                                    @include mobile {
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    &.text-align-right {
                        text-align:right;
                    }
                    @include mobile {
                        &.align-top,
                        &.align-middle,
                        &.align-bottom {
                            .text-container {
                                position:relative;
                                top: 0 !important;
                                left:auto;
                                transform:none !important;
                                max-width:none;
                                padding: 0;
                            }
                            
                        }
                    }
                    .text-container {
                        position:absolute;
                        top:80px;
                        left:50%;
                        transform:translateX(-50%);
                        z-index:1;
                        width:100%;
                        // max-width:1380px + 160px;
                        // margin:0 auto;
                        // padding:0 80px;
                        
                        .banner-tit-sup {
                            display:block;
                            @include eyebrow;
                        }
                        .title {
                            h2 {
                                @include title-h2;
                            }
                            &.title-h1 * {
                                @include title-h1;
                            }
                            &.title-h2 * {
                                @include title-h2;
                            }
                            &.title-h3 * {
                                @include title-h3;
                            }
                            &.title-h4 * {
                                @include title-h4;
                            }
                            &.title-h5 * {
                                @include title-h5;
                            }
                            &.title-h6 * {
                                @include title-h6;
                            }
                        }
                        .banner-txt {
                            @include bodycopy(h1, h1);
                        }
                        .banner-btn {
                            @include cta-btn;
                        }
                        .overlay-image {
                            max-width:678px;
                            margin-top:24px;
                            overflow:hidden;
                            &:first-child {
                                margin-top:0;
                            }
                            img {
                                width:auto;
                                max-width:100%;
                                height:auto;
                                vertical-align:top;
                            }
                        }
                    }
                    
                }
                .video-link {
                    position:absolute;
                    left:50%;
                    bottom:68px;
                    transform:translateX(-50%);
                    z-index:20;
                    @include mobile {
                        bottom:24px;
                    }
                }
                .video-asset {
                    z-index:20;
                }
                .visual-area {
                    position:relative;
                    width:100%;
                    text-align:center;
                    overflow:hidden;
                    img {
                        width:auto;
                        max-width:100%;
                        height:auto;
                        vertical-align:top;
                    }
                }
            }

            // Navigation Area
            .controls-wrap {
                position:absolute;
                top:50%;
                left:0;
                right:0;
                z-index:10;
                .inner {
                    padding:0 16px;
                    max-width:1380px + 144px + 32px;
                    margin:0 auto;
                    @include mobile {
                        padding:0 8px;
                    }
                    .row {
                        position:relative;
                        margin:0 !important;
                        .btn-arrow {
                            position:absolute;
                            top:0;
                            transform:translateY(-50%);
                            &.prev {
                                left:0;
                            }
                            &.next {
                                right:0;
                            }
                        }
                    }
                }
                @at-root .KRC0032 {
                    &.stage-medium {
                        .usp-banner-wrap {
                            .ui_carousel_list {
                                max-width:1380px;
                                margin:0 auto;
                            }
                        }
                    }
                }
            }
        }
        .fc-white,
        .fc-light-gray {
            & {
                @include mobile {
                    color:#000 !important;
                }
            }
            .logo {
                filter:brightness(0) invert(1);
                @include mobile {
                    filter:brightness(1) invert(0) !important;
                }
            }
        }
        // .fc-black,
        // .fc-dark {
        //     & {
        //         @include mobile {
        //             color:#fff !important;
        //         }
        //     }
        //     .logo {
        //         filter:brightness(1) invert(0);
        //         @include mobile {
        //             filter:brightness(0) invert(1);
        //         }
        //     }
        // }
    }
}

.component-wrap {
    $color: (lightgray, dark, black, white, gray);
    @each $bg in $color {
        &.bg-#{$bg} {
            .component.KRC0032 {
                @include mobile {
                    @if $bg == lightgray {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#222 !important;
                                color:#000 !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#000 !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-bk.svg") center no-repeat;
                                }
                            }
                        }
                    } @else if $bg == dark {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#fff !important;
                            * {
                                color:#fff !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#fff !important;
                                color:#fff !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#fff !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-wt.svg") center no-repeat;
                                }
                            }
                        }
                    } @else if $bg == black {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#fff !important;
                            * {
                                color:#fff !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#fff !important;
                                color:#fff !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#fff !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-wt.svg") center no-repeat;
                                }
                            }
                        }
                    } @else if $bg == white {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#222 !important;
                                color:#000 !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#000 !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-bk.svg") center no-repeat;
                                }
                            }
                        }
                    } @else if $bg == gray {
                        .fc-black,
                        .fc-dark-gray,
                        .fc-gray,
                        .fc-light-gray,
                        .fc-white {
                            color:#000 !important;
                            * {
                                color:#000 !important;
                            }
                        }
                        .btn.border {
                            &.bc-black,
                            &.bc-white {
                                border-color:#222 !important;
                                color:#000 !important;
                                &:hover,
                                &:active,
                                &:focus {
                                    border-color:#fa263e !important;
                                    background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                    color:#fff !important;
                                }
                            }
                        }
                        .text-link {
                            &.bc-black,
                            &.bc-white {
                                color:#000 !important;
                                &::after {
                                    background:url("/lg5-common/images/icons/icon-arr-16-bk.svg") center no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    /* BTOCSITE-9207 : 디스클라이머 컴포넌트 수정 */
    .KRC0032 {
        .usp-banner-wrap {
            .ui_carousel_list {
                // @include mobile {
                //     height: auto !important;
                // }
            }
            .carousel-box {
                .text-area {
                    .inner {
                        .text-container {
                            .text-top {
                                width: 100%;
                                padding: 0 80px;
                                @include mobile {
                                    padding: 20px 16px 0 !important;
                                    max-width: 100%;
                                }
                            }
    
                            .disclaimer-container {
                                position: relative;
                                // @include mobile {
                                //     position: unset;
                                // }
                                .dropContent {
                                    display: none;
                                    background-color: #fff;
                                    padding: 24px 0;
                                    color: #000;
                                    @include mobile {
                                        padding: 20px 16px;
                                        // padding-left: 16px;
                                    }
                                    &.on {
                                        display: block;
                                        position: absolute;
                                        top: -3px;
                                        left: 0;
                                        width: 100%;
                                        z-index: 1;
                                        // @include mobile {
                                        //     top: 50%;
                                        //     transform: translate(0%, -50%);
                                        //     // bottom: 0;
                                        // }
                                    }
                                    &.bg-lightgray {
                                        background-color: #f4f4f4;
                                    }
                                    .disclaimer-txtArea {
                                        padding: 0 80px;
                                        @include mobile {
                                            padding: 0px;
                                        }
                                        p {
                                            color: #000;
                                            line-height: 24px;
                                        }
                                        .bullet-list {
                                            li {
                                                color: #000;
                                            }
                                        }
                                        .dropInfo_closeBtn {
                                            position: relative;
                                            width: 100%;
                                            height: 32px;
                                            line-height: 0;
                                            padding: 0px 0px 0px 12px !important;
                                            max-width: 70px;
                                            text-align: left;
                                            margin-top: 24px;
                                            min-width: 70px !important;
                                            border-color: #000 !important;
                                            color: #000 !important;
                                            @include mobile {
                                                font-size: 13px;
                                                max-width: 76px;
                                                height: 34px;
                                                margin-top: 16px;
                                            }
                                            &:hover,
                                            &:active,
                                            &:focus {
                                                border-color:#fa263e !important;
                                                background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                                color:#fff !important;
                                                &::after {
                                                    background-image: url('/lg5-common/images/icons/btn-arr-24x24-white2.svg');
                                                    transform: rotate(270deg);
                                                }
                                            }
                                            &::after {
                                                content: '';
                                                background-image: url('/lg5-common/images/icons/btn-arr-24x24-black2.svg');
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                transform: rotate(270deg);
                                                width: 15px;
                                                height: 15px;
                                                background-size: 100%;
                                                position: absolute;
                                                right: 12px;
                                                top: 8px;
                                                text-align: center;
                                                vertical-align: middle;
                                                font-weight: 400;
                                                @include mobile {
                                                    right: 16px;
                                                }
                                            }
                                        }
                                    }
                                    
                                }
    
                                .disclaimer-bottom {
                                    position: relative;
                                    margin-top: 32px;
                                    padding-left: 80px;
                                    @include mobile {
                                        padding-left: 16px !important;
                                        padding-right: 16px !important;
                                    }
                                }

                                &.PSbottom {
                                    @include mobile {
                                        .dropContent {
                                            &.on {
                                                display: block;
                                                position: absolute;
                                                bottom: 0;
                                                left: 0;
                                                width: 100%;
                                                top: auto;
                                                z-index: 1;
                                                // @include mobile {
                                                //     top: 50%;
                                                //     transform: translate(0%, -50%);
                                                //     // bottom: 0;
                                                // }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
                .drop-info {
                    // position: relative;
                    margin-top: 12px;
                    padding-left: 80px;
                    @include mobile {
                        padding-left: 16px;
                    }
                    .btn{
                        &.btn.border {
                            &.dropInfo_openBtn {
                                position: relative;
                                width: 100%;
                                height: 32px;
                                line-height: 0;
                                padding: 0px 12px 0px; //220119 요청사항 - BTOCSITE-9207
                                max-width: 112px;
                                text-align: center; //220119 요청사항 - BTOCSITE-9207
                                &:hover,
                                &:active,
                                &:focus {                                    
                                    outline: none; //220119 요청사항 - BTOCSITE-9207
                                    box-shadow : none; //220119 요청사항 - BTOCSITE-9207
                                }
                                &.fc-white {
                                    border-color: #fff !important;
                                    color: #fff !important;
                                    &:hover,
                                    &:active,
                                    &:focus {
                                        border-color:#fa263e !important;
                                        //background-image: linear-gradient(280deg, #fb5a72, #fa263e) !important;
                                        //color:#fff !important;
                                    }
                                }
                                @include mobile {
                                    max-width: 115px;
                                    height: 34px;
                                    font-size: 13px;
                                }
                                &::after {
                                    display: none; //220119 요청사항 - BTOCSITE-9207
                                    content: '+';
                                    width: 10px;
                                    height: 10px;
                                    position: absolute;
                                    right: 12px;
                                    top: 14px;
                                    text-align: center;
                                    vertical-align: middle;
                                    font-weight: 400;
                                    @include mobile {
                                        right: 18px;
                                        top: 16px;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
            
            
            
        }
        
    }
    /* //BTOCSITE-9207 : 디스클라이머 컴포넌트 수정 */
}
