@charset "UTF-8";
@import "_components";


.KRP0028 {
    /*
    .component-inner { 
        max-width: 100%;
        padding: 0;
    }
    
    .page-header {
        margin-bottom: 48px;
        &.border {
            padding-bottom: 33px;
            border-bottom: 8px solid #f4f4f4;
        }
        .tabs-wrap.btn-type {
            padding-top: 53px;
        }
    }*/

    .page-header.border {
        border-bottom:8px solid #f4f4f4;
    }
    .page-header.border .tabs-wrap.btn-type {
        max-width:1280px;
        margin:0 auto;
        padding:20px 0 24px;
    }

    .tabs-bg {
        .tabs-wrap {
            margin: 0 auto;
        }
    }

    .page-header.wide {
        margin-bottom:48px;
        .tabs-wrap {
            text-align:left;
            &.border-type {
                max-width:1380px + 80px;
                margin:0 auto;
                padding:0 40px;
                @media screen and (min-width:(1380px + 80px)) {
                    &:before {
                        right: 40px;
                        left: 40px;
                    }
                }
                @include mobile {
                    padding:0;
                }
            }
        }
        .title + .tabs-wrap {
            padding-top:80px;
            @include mobile {
                padding-top:60px;
            }
        }
        .tabs-bg {
            .tabs-wrap.bar-type {
                max-width:calc(1380px + 80px);
                .tabs {
                    padding:16px 0;
                    @include mobile {
                        padding:16px;
                    }
                }
            }
        }
    }

    .title {
        &.title-h1 {
            @include title-h1;
        }
        &.title-h2 {
            @include title-h2;
        }
        &.title-h3 {
            @include title-h3;
        }
        &.title-h4 {
            @include title-h4;
        }
        &.title-h5 {
            @include title-h5;
        }
        &.title-h6 {
            @include title-h6;
        }
    }

    .award-breakdown-wrap {
        max-width:1380px + 80px;
        margin: 0 auto;
        padding: 0 40px;
        @include mobile {
            padding: 0 16px;
        }
        .award-breakdown {
            clear: both;
        }
        .award-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -24px;
            margin-top: -24px;
            @include mobile {
                display: block;
                margin-left: 0;
                margin-top: -12px;
            }
            .items {
                width: calc(100% / 4);
                margin-top: 24px;
                padding-left: 24px;
                @media screen and (max-width: 1024px){
                    width: calc(100% / 3);
                }
                @include mobile {
                    width: 100%;
                    margin-top: 12px;
                    padding-left: 0;
                }
                .inner {
                    position: relative;
                    padding: 12px 32px 32px;
                    border-radius: 16px;
                    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.15);
                }
                .thumb {
                    //max-width: 180px;
                    position:relative;
                    width: 180px;
                    height: 180px;
                    margin: 0 auto 8px;
                    @include mobile {
                        float: left;
                        width: 100px;
                        height: 100px;
                        margin-top: 30px;
                    }
                    img {
                        position:absolute;
                        top:50%;
                        left:50%;
                        max-width: 100%;
                        transform:translate(-50%, -50%);
                    }
                }
                .award-info {
                    height: 164px;
                    @include mobile {
                        float: left;
                        width: calc(100% - 100px);
                        height: auto;
                        padding-left: 12px;
                        margin-top: 30px;
                        
                    }
                }
                .flag-wrap {
                    margin-bottom: 2px;
                    @include mobile {
                        position: absolute;
                        top: 12px;
                        left: 32px;
                    }
                }
                .tit {
                    display: -webkit-box;
                    max-height: 52px;
                    margin-bottom: 4px;
                    text-overflow:ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow:hidden;
                    @include font-medium;
                    color: $color-default;
                    font-weight: $font-weight-bold;
                    @include mobile {
                        max-height: 44px;
                        margin-bottom: 4px;
                    } 
                }
                .desc-wrap {
                    height: 72px;
                    margin-bottom: 12px;
                    overflow-y: auto;
                    @include font-small;
                    @include mobile {
                        height: auto;
                    }
                    > span {
                        word-break:break-all;
                    }
                }
                .btn-area {
                    clear: both;
                    display: flex;
                    align-items: flex-end;
                    height: 74px;
                    @include mobile {
                        height: auto;
                    }
                    .btn-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        width: 100%;
                        padding: 12px 12px 12px 16px;
                        border-radius: 36px;
                        border: 1px solid #222;  
                        .btn-text {
                            flex: 1;
                            display: -webkit-box;
                            max-height: 48px;
                            text-overflow:ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow:hidden;
                            @include font-small;
                            text-decoration: none;
                            @include mobile {
                                max-height: 42px;
                            }
                        }
                        .btn-more {
                            position: relative;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                            background: url(/lg5-common/images/icons/icon-plus-40.svg) center no-repeat;
                            background-size: 20px 20px; 
                        }
                    }
                }
            }
        }
        /*
        .pagination {
            margin-top: 8px;
        }*/
    }


}
