@charset "UTF-8";

@import "../components-app";


.KRP0017 {
    .inner {
        padding-bottom:104px;
        @include mobile {
            padding-bottom:0;
        }
        .title {
            padding:40px 0;
            background:#fff;
            color:#222;
            @include font-large-3;
            font-weight:700;
            text-align:center;
            @include mobile {
                display:none;
            }
        }
        > ul {
            max-width:1147px + 80px;
            margin:0 auto;
            padding:0 40px;
            @include mobile {
                padding:0;
            }

            // cluster layout
            @media screen and (min-width:992px) {
                .category-cluster {
                    display:table;
                    width:100%;
                    margin-top:80px;
                    table-layout:fixed;
                    border-collapse:collapse;
                    &:first-child {
                        margin-top:0;
                    }
                    > ul {
                        display:table-cell;
                        font-size:0;
                        .category-column {
                            display:inline-block;
                            width:50%;
                            vertical-align:top;
                            &.upperframe {
                                width:100%;
                            }
                        }
                        &:only-child {
                            .category-column.upperframe {
                                width:50%;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width:991px) {
                .category-cluster {
                    margin-top:80px;
                    font-size:0;
                    &:first-child {
                        margin-top:0;
                    }
                    @include mobile {
                        margin-top:0;
                        border-top:12px solid #f4f4f4;
                        padding:32px 16px 58px;
                        &:first-child {
                            border-top:none;
                        }
                    }
                    > ul {
                        font-size:0;
                        .category-column {
                            display:inline-block;
                            width:50%;
                            vertical-align:top;
                            &.upperframe {
                                display:block;
                                width:100%;
                            }
                        }
                        .category-column.upperframe + .category-column.upperframe {
                            margin-top:32px;
                        }

                    }
                }
            }
            

            // depth style
            .category-cluster {
                .level-1 {
                    padding-bottom:12px;
                    border-bottom:2px solid #222;
                    margin-bottom:40px;
                    @include mobile {
                        margin-bottom:24px;
                    }
                    h2 * {
                        display:inline-block;
                        color:#222;
                        font-size:22px;
                        line-height:32px;
                        font-weight:700;
                        vertical-align:top;
                        @include mobile {
                            font-size:18px;
                            line-height:26px;
                        }
                    }
                }

                .level-2 {
                    margin-top:16px;
                    @include mobile {
                        margin-top:12px;
                    }
                    h3 * {
                        display:inline-block;
                        color:#222;
                        @include font-medium;
                        font-weight:700;
                        vertical-align:top;
                    }
                }

                .level-3 {
                    margin-top:8px;
                    * {
                        display:inline-block;
                        color:#222;
                        @include font-medium;
                        vertical-align:top;
                    }
                }

                .level-4 {
                    margin-top:2px;
                    * {
                        display:inline-block;
                        position:relative;
                        padding-left:11px;
                        color:#767676;
                        @include font-small;
                        font-weight:500;
                        vertical-align:top;
                        &::before {
                            content:' ';
                            position:absolute;
                            top:11px;
                            left:0;
                            width:3px;
                            height:3px;
                            border-radius:50%;
                            background:#767676;
                        }
                    }
                    @include mobile {
                        margin-top:4px;
                        * {
                            padding-left:10px;
                            color:#222;
                            font-weight:400;
                            &::before {
                                top:10px;
                                width:2px;
                                height:2px;
                            }
                        }
                    }
                }

                .level-2 + .level-3 {
                    margin-top:16px;
                    @include mobile {
                        margin-top:12px;
                    }
                }

                .level-3 + .level-2 {
                    margin-top:32px;
                }

                .level-3 + .level-4 {
                    margin-top:4px;
                    @include mobile {
                        margin-top:6px;
                    }
                }

                @for $i from 1 through 4 {
                    .category-depth.level-#{$i} {
                        a[target="_blank"] {
                            position:relative;
                            padding-right:20px;
                            &::after {
                                content:' ';
                                position:absolute;
                                top:0;
                                right:0;
                                bottom:0;
                                width:16px;
                                margin-left:4px;
                                vertical-align:top;
                                @if ( $i == 2 ) {
                                    background:url('/lg5-common/images/icons/icon-outlink-16-1.svg') center no-repeat;
                                } @else if ( $i == 3 ) {
                                    background:url('/lg5-common/images/icons/icon-outlink-16-2.svg') center no-repeat;
                                } @else if ( $i == 4 ) {
                                    background:url('/lg5-common/images/icons/icon-outlink-16-2.svg') center no-repeat;
                                }
                            }
                        }
                    }
                }

                .category-depth {
                    padding-right:12px;
                    &:first-child {
                        margin-top:0;
                    }
                }
            }
        }
    }
}