@charset "UTF-8";

@import "../components-app";

.KRP0011 {
	.title {
		margin-bottom:36px;
		font-weight:700;
		font-size:18px;
		line-height:42px;
		text-align:center;
		* {
			font-weight:inherit;
			font-size:inherit;
			line-height:inherit;
		}
	}

	.compare-list {
		margin:0 -4px;
		@include clearfix();
		@include mobile {
			margin:0 -6px;
		}
		li {
			float:left;
			width:33.3%;
			padding:0 4px;
			&:nth-child(3) ~ li {
				display:none;
			}
			@include mobile {
				width:50%;
				padding:0 6px;
				&:nth-child(2) ~ li {
					display:none;
				}
			}
			&:first-child {
				width:33.4%;
				@include mobile {
					width:50%;
				}
			}
			.item {
				border-radius:4px;
				box-shadow:4px 12px 28px 0 rgba(0,0,0,0.12);
				background-color:#fff;
				@include mobile {
					box-shadow:none;
				}
				.product-image {
					& > img {
						width:100%;
						height:auto;
						vertical-align:top;
					}
					@include mobile {
						margin-bottom:6px;
					}
				}
				.product-contents {
					padding:0 56px 40px;
					@include mobile {
						padding:0 0;
						text-align:center;
					}
					.product-name {
						font-weight:700;
						font-size:16px;
						line-height:24px;
						color:#222;
						@include textClipClamp(1);
						@include mobile {
							@include textClipClamp(2);
						}
					}
					.product-sku {
						display:block;
						font-size:16px;
						line-height:24px;
					}
					.product-price {
						display:block;
						margin-top:8px;
						font-weight:700;
						font-size:20px;
						line-height:30px;
					}
					.review-info {
						display:block;
						margin-top:12px;
						font-size:0;
						.star,
						.average-rating,
						.review-count {
							display: inline-block;
							vertical-align: middle;
						}
						.star {
							width:18px;
							height:18px;
							margin-right:3px;
							background:url("/lg5-common/images/icons/icon-star-off.svg") no-repeat 0 0;
							background-size:18px 18px;
							&.is-review {
								background-image:url("/lg5-common/images/icons/icon-star-on.svg");
							}
						}
						.average-rating,
						.review-count {
							font-size:16px;
							line-height:24px;
						}
					}
				}
			}
		}
	}

	.bottom-area {
		margin-top:40px;
		text-align:center;
	}
}
