@charset "UTF-8";

@import "../components-app";

.KRP0022 {
	.tabs-wrap {
		max-width: 1380px;
		margin: 0 auto 80px;
		padding: 40px 0 0;
		text-align: left;
	}
	.tab-contents {
		max-width:1380px + 80px;
		margin:0 auto;
		padding:0 40px 120px;
		.box-list:first-child {
			padding-top:64px;
			@include mobile {
				padding-top:0;
			}
		}
	}
	@include mobile {
		.tabs-wrap {
			margin-bottom: 60px;
			padding:32px 0 0;
			.tabs {
				padding:0 16px;
			}
		}
		.tab-contents {
			//border-top:12px solid #f4f4f4;
			padding:0 16px 60px;
		}
	}
}
