@charset "UTF-8";

@import "../components-app";


.KRP0009 {
    margin:0 auto;
    background:#f4f4f4;
    @include clearfix;

    .cate-wrap {

        @media screen and (max-width: 1780px) {
            display:none;
        }

        @media screen and (min-width: 1780px) {
            display:block;
        }

        padding:9px 0;
        height:56px;
        background:#fff;

        .cate-list {
            @include clearfix;
            max-width:1284px;
            margin:0 auto;

            .chk-cate {
                float:left;
                padding-right:100px;
                font-size:0;
                .chk-wrap {
                    margin:0 8px;
                    &:first-child {
                        margin-left:0;
                    }
                }
                .chk-wrap input:checked+label {
                    color:#222;
                    font-weight:500;
                    background:#f4f4f4;
                    border-radius:19px;
                    white-space:nowrap;
                    overflow:hidden;
                }
                .chk-wrap input+label {
                    padding:0 12px;
                    color:#979797;
                    font-size:14px;
                    line-height:38px;
                    &:before {
                        display:none;
                    }
                    &:after {
                        display:none;
                    }
                }
            }

            .btn-compare {
                float:right;
                button {
                    padding:0 16px;
                    color:#616161;
                    font-size:14px;
                    line-height:36px;
                    border:1px solid #979797;
                    border-radius:8px;
                }
                @media screen and (max-width: 1780px) {
                    display:none;
                }
            }
        }
    }

    .plp-list-wrap {
        max-width:1284px + (54px * 2);
        margin:0 auto;
        padding: 0 54px 82px;
        @include clearfix;

        @include mobile {
            max-width: 100%;
            padding: 0 20px 50px;

        }
        .lay-filter {
            .plp-filter-wrap {
                .btn-reset {
                    margin:23px 0 12px;
                }
                .btn-visit,
                .btn-find {
                    margin-top:16px;
                }
            }
        }

        .product-items-wrap {
            float: left;
            max-width: (420px * 3) + 24px;
            margin: 0 auto;
            @media screen and (max-width: 1284px) {
                float: none;
                max-width: 100%;
            }
    
            .items-top {
                @include clearfix;
                padding: 29px 0 18px;
                .cate-area {
                    float:right;
                    position:relative;
                    margin-left:24px;

                    @media screen and (min-width: 1780px) {
                        display:none;
                    }
                    .cate-list {
                        padding-right:18px;
                        line-height:36px;
                        .ico {
                            position:absolute;
                            top:50%;
                            right:0;
                            width:0;
                            height:0;
                            margin-top:-4px;
                            border-top:8px solid #111;
                            border-left:5px solid transparent;
                            border-right:5px solid transparent;
                        }
                        .cate-sel {
                            display:none;
                            position:absolute;
                            top:50px;
                            right:0;
                            min-width:223px;
                            padding:12px 0;
                            background:#fff;
                            box-shadow:0 4px 12px 0 rgba(0,0,0,.15);
                            z-index:2;
                            .chk-wrap {
                                display:block;
                                padding:16px 24px;
                                label {
                                    display: block;
                                    overflow: hidden;
                                    color: #222;
                                    font-size: 16px;
                                    line-height: 24px;
                                    white-space: nowrap;
                                    word-break: break-all;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                    &.open {
                        .cate-sel {
                        display:block;
                        }
                    }
                }
                .btn-filter {
                    float:left;
                    .ico-filter {
                        display:inline-block;
                        width:24px;
                        height:24px;
                        margin:0 24px 0 8px;
                        background:url("/lg5-common/images/KRP0009/btn-filter.svg") no-repeat 0 0;
                        background-size:24px 24px;
                        @media screen and (min-width: 1780px) {
                            display:none;
                        }
                    }
                }
                .sort-area {
                    float: right;
                    @media screen and (max-width: 1780px) {
                        display:none;
                    }
                    .sort-list {
                        margin-top: 6px;
                        .select-wrap {
                            max-width: none;
                            .ui-selectbox-wrap {
                                .ui-select-button {
                                    padding: 0 28px 0 0;
                                    border: none;
                                    border-radius: 0;
                                    .ico {
                                        right: 8px;
                                    }
                                }
                                .ui-selectbox-list {
                                    top: 50px;
                                    right: 0;
                                    left: auto;
                                    min-width: 135px;
                                    padding: 8px 0;
                                    background: #fff;
                                    ul {
                                        li {
                                            a {
                                                display: block;
                                                overflow: hidden;
                                                padding: 16px 24px;
                                                color: #111;
                                                font-size: 16px;
                                                line-height: 24px;
                                                white-space: nowrap;
                                                word-break: break-all;
                                                text-overflow: ellipsis;
                                            }
                                            &.on a, a:hover {
                                                background: #f4f4f4;
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .list-count {
                    float: left;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #111;
                }
                .btn-compare {
                    float:right;
                    button {
                        padding:0 16px;
                        color:#616161;
                        font-size:14px;
                        line-height:36px;
                        border:1px solid #979797;
                        border-radius:8px;
                    }
                    @media screen and (min-width: 1780px) {
                        display:none;
                    }
                }
            }

            .items-list {
                @include clearfix;
                margin: 0 -6px;
                > li {
                    //position: relative;
                    float: left;
                    width: 33.333333%;
                    padding: 0 6px 12px;
                    &.item-banner {
                        &.large {
                            width: 66.666667%;
                        }
                        .item {
                            overflow: hidden;
                            padding: 0;
                        }
                    }
                    @media screen and (max-width: 1284px) {
                        width: 50%;
                        &.item-banner {
                            &.large {
                                width: 50%;
                            }
                        }
                        &:nth-child(odd) {
                            clear: left;
                        }
                    }
                    @include mobile {
                        width: 100%;
                        &.item-banner {
                            &.large {
                                width: 100%;
                            }
                        }
                        &:nth-child(odd) {
                            clear: none;
                        }
                    }
                }
                .item {
                    position: relative;
                    padding: 0 47px 36px;
                    border-radius: 4px;
                    background-color: #fff;

                    @include pc {
                        height: 672px;
                    }
                    @include mobile {
                        padding: 0 28px 32px;
                    }
                }
            }
            .promotion-badge {
                position: absolute;
                top: 23px;
                left: 24px;
                z-index: 1;
                .badge {
                    display: block;
                    margin-top: 4px;
                    padding: 4px 8px;
                    border-radius: 4px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1;
                    color: #fff;
                    text-align: center;
                    &:nth-child(1) {
                        margin-top: 0;
                        background-color: #ec455a;
                    }
                    &:nth-child(2) {
                        background-color: #65c467;
                    }
                }
                &.large {
                    top: 0;
                    left: 0;
                    //.badge {
                    //    padding: 8px 4px 12px;
                    //    background-color: #65c467 !important;
                    //    font-size: 11px;
                    //    line-height: 20px;
                    //    letter-spacing: 2px;
                    //    em {
                    //        display: block;
                    //        font-weight: 700;
                    //        font-size: 16px;
                    //        line-height: 1;
                    //    }
                    //}
                    img {
                        border-radius: 4px 0;
                    }
                }
            }

            .product-image {
                overflow: hidden;
                max-height: 300px;
                margin-bottom: 6px;
                padding: 0 6px;
                text-align: center;
                a {
                    display: inline-block;
                    width: 300px;
                    height: 300px;
                    img {
                        width: 100%;
                        max-width: 300px;
                    }
                }
                @include mobile {
                    max-height: 250px;
                    a {
                        width: 250px;
                        height: 250px;
                    }
                }
                .indi-wrap {
                    display: none;
                }
                .slide-conts {
                    height: auto;
                }
                @include pc {
                    .slide-controls {
                        display: none;
                    }
                }
                @include mobile {
                    .slide-controls {
                        display: block;
                        .btn-arrow {
                            border-radius: 0;
                            box-shadow: none;
                            &.prev {
                                left: 0;
                            }
                            &.next {
                                right: 0;
                            }
                        }
                    }
                }
            }

            .product-contents {
                position: relative;
            }
            .product-option {
                position: absolute;
                top: -38px;
                left: 0;
                width: 100%;
                text-align: center;
                .option-list {
                    font-size: 0;
                }

                &.text {
                    .rdo-wrap {
                        margin: 0 3px;
                        input {
                            & + label {
                                width: 55px;
                                padding: 4px 8px;
                                border: 1px solid #ddd;
                                border-radius: 4px;
                                font-size: 12px;
                                line-height: 1;
                                &:before,
                                &:after {
                                    display: none;
                                }
                            }
                            &:checked {
                                & + label {
                                    &:after {
                                        display: block;
                                        position: absolute;
                                        top: -1px;
                                        right: -1px;
                                        bottom: -1px;
                                        left: -1px;
                                        width: auto;
                                        height: auto;
                                        border: 2px solid #222;
                                        border-radius: 4px;
                                        background-color: transparent;
                                        transform: rotate(0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .badge-product {
                margin-bottom: 8px;
                .badge {
                    display: inline-block;
                    padding: 3px 8px;
                    border: 1px solid #ec455a;
                    border-radius: 4px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1;
                    color: #ec455a;
                }
            }
            .product-info {
                .product-name {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #222;
                    @include textClipClamp(1);
                }
                .sku {
                    display: inline-block;
                    vertical-align: middle;
                }
                .review-info {
                    display: inline-block;
                    margin-left: 6px;
                    .star,
                    .average-rating,
                    .review-count {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .star {
                        width: 16px;
                        height: 16px;
                        margin-right: 2px;
                        background: url("/lg5-common/images/icons/icon-star-off.svg") no-repeat 0 0;
                        background-size: 16px 16px;
                        &.is-review {
                            background-image: url("/lg5-common/images/icons/icon-star-on.svg");
                        }
                    }
                }
                .spec-info {
                    @include pc {
                        height: 100px;
                    }
                    margin-top: 12px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #616161;
                    li {
                        @include textClipClamp(1);
                    }
                    .care-option {
                        font-weight: 500;
                        color: #222;
                    }
                }
            }
            .price-area {
                margin-top: 14px;
                font-size: 0;
                * {
                    display: inline-block;
                }
                .reduced-price {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1.33;
                    color: #222222;
                }
                .product-price {
                }
                .purchase-price {
                    position: relative;
                    margin: 0 4px 0 8px;
                    font-size: 14px;
                    line-height: 1.43;
                    color: #616161;
                    &:after {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #616161;
                        content: '';
                    }
                }
                .discount-rate {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 1.5;
                    color: #ec455a;
                }
            }
            .badge-benefit {
                clear: both;
                font-size: 0;
                .text {
                    display: inline-block;
                    margin-right: 8px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #222;
                }
            }
            .product-button {
                @include pc {
                    position: absolute;
                    right: 47px;
                    bottom: 36px;
                    left: 47px;

                }
                margin-top: 27px;
                .btn {
                    width: 100%;
                    min-width: auto;
                    border: 1px solid #979797;
                }
            }
            .product-wish {
                position: absolute;
                top: 24px;
                right: 24px;
                input {
                    & + label {
                        &:before {
                            border: 0;
                            border-radius: 0;
                            background: url("/lg5-common/images/icons/icon-heart-off.svg") no-repeat 0 0;
                            background-size: 24px 24px;
                        }
                        &:after {
                            display: none;
                        }
                    }
                    &:checked + label {
                        &:before {
                            background-image: url("/lg5-common/images/icons/icon-heart-on.svg");
                        }
                        &:after {
                            border-color:#fff;
                        }
                    }
                }
            }
            .product-compare {
                position: absolute;
                top: 24px;
                right: 64px;
            }
        
            .item-banner {
                .product-image {
                    //position: relative;
                    //overflow: hidden;
                    //width: 100%;
                    max-height: none;
                    margin-bottom: 0;
                    //padding: 0 0 160%;
                    padding: 0;
                    a {
                        width: 100%;
                        height: auto;
                    }
                    img {
                        max-width: none;
                        //height: 100%;
                        //width: auto;
                        //max-height: 672px;
                    }
                }
                .banner-contents {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    padding: 36px 54px;
                    .banner-flag {
                        margin-bottom: 4px;
                        .flag {
                            display: inline-block;
                            border-radius: 4px;
                            border: 1px solid #fff;
                            padding: 3px 8px;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 1;
                            color: #fff;
                        }
                    }
                    .banner-info {
                        .title {
                            margin-bottom: 16px;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 29px;
                            color: #fff;
                            @include textClipClamp(2);
                        }
                        .sub-copy {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #fff;
                            @include textClipClamp(2);
                        }
                    }
                    .banner-button {
                        margin-top: 32px;
                        .btn {
                            min-width: 124px;
                            border: 1px solid #fff;
                            background-color: transparent;
                            color: #fff;
                        }
                    }
                    @include mobile {
                        padding: 32px 24px;
                        .banner-flag,
                        .banner-button {
                            display: none;
                        }
                    }
                }
                &.large {
                    .banner-contents {
                        .banner-flag {
                            margin-bottom: 8px;
                            .flag {
                                border-color: #222;
                                color: #222;
                            }
                        }
                        .banner-info {
                            .title,
                            .sub-copy {
                                color: #222;
                            }
                        }
                        .banner-button {
                            margin-top: 0;
                            .btn {
                                border-color: #979797;
                                color: #222;
                            }
                        }
                    }

                    @media screen and (min-width: 1285px) {
                        .banner-contents {
                            position: static;
                            display: table;
                            width: 100%;
                            height: 212px;
                            padding: 0 54px;
                            .inner {
                                position: relative;
                                display: table-cell;
                                padding-right: 148px;
                                vertical-align: middle;
                            }
                            .banner-button {
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    @media screen and (max-width: 1284px) {
                        .banner-contents {
                            .banner-flag,
                            .banner-button {
                                display: none;
                            }
                            .banner-info {
                                .title {
                                    color: #fff;
                                }
                                .sub-copy {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .pagination {
                padding-top: 36px;
            }
            .read-more-area {
                padding-top: 36px;
                text-align: center;
                .read-more {
                    font-weight: 500;
                    font-size: 16px;
                    color: #222;
                    &:after {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        margin-left: 6px;
                        border-right: 1px solid #222;
                        border-bottom: 1px solid #222;
                        transform: rotate(45deg);
                        vertical-align: 4px;
                        content: '';
                    }

                    @include mobile {
                        position: relative;
                        &:before {
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            right: 15px;
                            height: 1px;
                            background-color: #222;
                            content: '';
                        }
                    }
                }
            }
        }
    }
}

