@charset "UTF-8";

@import "../components-app";


.KRP0027 {
    .page-header.border.wide {
        border: 0 !important; // 부트스트랩 충돌 추가
        .tabs-wrap {
            text-align:left;
            &.btn-type {
                padding:20px 0 24px;
                @include mobile {
                    padding-bottom:12px;
                }
            }
        }
        
    }
    .page-header.wide {
        padding:10px 0 8px;
        margin-bottom:48px;
        @include mobile {
            margin-bottom:32px;
        }
        .tabs-wrap {
            z-index: 1;
            max-width: 1380px + 80px;
            margin: 0 auto -1px;
            padding:0 40px;
            text-align:left;
            @media screen and (min-width:(1380px + 80px)) {
                &:before {
                    right: 40px;
                    left: 40px;
                }
            }
            @include mobile {
                margin: 0;
                padding:0;
            }
        }
        .tabs-wrap.border-type {
        }
        .title + .tabs-wrap {
            padding-top:80px;
            @include mobile {
                padding-top:60px;
            }
        }
        .tabs-bg {
            .tabs-wrap.bar-type {
                max-width:calc(1380px + 80px);
                margin:0 auto;
                .tabs {
                    padding:16px 0;
                    @include mobile {
                        padding:16px;
                    }
                }
            }
        }
    }
    .cont-wrap {
    max-width:1460px;
    margin:0 auto;
    padding: 0 40px;
    @include mobile {
        padding: 0;
    }
    }
    .title {
        &.title-h1 {
            @include title-h1;
        }
        &.title-h2 {
            @include title-h2;
        }
        &.title-h3 {
            @include title-h3;
        }
        &.title-h4 {
            @include title-h4;
        }
        &.title-h5 {
            @include title-h5;
        }
        &.title-h6 {
            @include title-h6;
        }
    }
  .list-sorting {
    @include mobile {
        margin-bottom: 12px;
        padding: 0 16px;
   }
  }
  .story-video-wrap {
     display: flex;
     @include mobile {
         display: block;
     }
    .video-wrap {
       flex: 1;
       padding-right:80px;
       @include mobile {
            padding: 0 16px;
            border-bottom: 12px solid #f4f4f4;
       }
       .video-inner {
           @include mobile {
               &.fixed {
                   position: fixed;
                   top: 0;
                   left: 0;
                   padding: 16px;
                   background: #fff;
                   box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.15);
                   z-index: 101;
               }
           }
       }
    }
    .video-list-wrap {
        width: 327px;
        // padding-left: 80px;
        overflow: hidden;
        @include mobile {
            width: 100%;
            margin-top: 24px;
            padding: 0 16px;
            .tabs {
                padding: 0;
            }
        }
        .scroll-wrap {
            position: relative;
            // margin-bottom: 30px;
            padding: 3px 0;
            margin:0 32px 30px;

            @include mobile {
                margin:0 0 30px;
            }

            .ui_smooth_tab {
                .tabs {
                    display: flex;
                    padding: 2px 0;
                    li {
                        position: relative;
                        margin-left: 16px;
                        padding-left: 17px; 
                        &:first-child {
                            margin-left: 0;
                            padding-left: 0;
                        }
                        &:not(:first-child)::before {
                            content: ' ';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 1px;
                            height: 12px;
                            margin-top: -6px;
                            background: #d8d8d8;
                        }
                        > a {
                            display: block;
                            padding: 7px 0;
                            @include font-medium;
                            font-weight: 500;
                            color: $color-gray-1;
                            white-space: nowrap;
                        }
                        &.on a {
                            color:#000;
                            font-weight:700;
                        }
                    }
                }
            }
            .scroll-controls {
                opacity: 0;
                transition: opacity 0.2s ease-out;
                .btn-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width:32px;
                    height:36px;
                    padding:0;
                    &:before {
                        width:32px;
                        height:36px;
                        margin:0 auto;
                        border-radius:0;
                        background:url('/lg5-common/images/icons/btn-arr-16-black-sm.svg') #fff no-repeat center center;
                        box-shadow:none;
                    }
                    &:focus {
                        outline: none;
                    }
                    &.prev {
                        // left: 0;
                        left: -32px;
                        &:before {
                            transform:rotate(180deg);
                        }
                    }
                    &.next {
                        // right: 0;
                        right: -32px;

                    }
                }
                @include mobile {
                    display:none !important;
                }
            }
            @include pc {
                &:hover {
                    .scroll-controls {
                        opacity: 1;
                    }
                }
            }
        }
        /*
        .tabs-wrap {
            margin-bottom: 30px;
            .tabs {
                overflow: visible;
            } 
        }*/
        .tabs-wrap {
            height:53px;
            padding:11px 0 16px;
            text-align:left;
            @include mobile {
                height:69px;
                padding:24px 0;
            }
        }
        .tabs-cont {
            height: 865px;
            margin-top:24px;
            overflow-y: auto;
            @include mobile {
                height: auto;
                overflow-y: visible;
            }
        }
        .video-list {
            li {
                > a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 24px;
                    @include mobile {
                        display: block;
                    }
                }
                .thumb {
                    display: inline-block;
                    width: 120px;
                    height: 68px;
                    border-radius:4px;
                    overflow:hidden;
                    @include mobile {
                        width: 100%;
                        height: auto;
                        margin-bottom: 12px;
                    }
                    img {
                        width: 100%;
                    }
                    
                }
                .tit {
                    flex: 1;
                    overflow: hidden;
                    padding-left: 16px;
                    max-height: 48px;
                    span {
                        @include textEllipsisClamp(2);
                        @include font-medium;
                        font-weight: 500;
                        @include mobile {
                            max-height: 52px;
                            padding-left: 0;
                            @include font-medium;
                            font-weight:700;
                        }

                    }
                    
                }
            }
        }
    }

    .visual-area {
        position: relative;

        &.animation-box {
            font-size: 0;
            img {
                max-width: 100%;
            }
        }
        .visual-box {
            position: relative;
            max-width: 1029px;
            //height: 578px;
            @include mobile {
                //min-height: 184px;
                height: auto;
            }

            iframe {
                width: 100%;
                height: 100%;
            }
            .box-inner {
                position: relative;
                width: 100%;
                height: 100%;
                padding-top:56.2%;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            img {
                display:none;
                width:100%;
            }
        }
        .video-container {
            position: relative;
            button.see-video {
                border-radius:50% 50%;
                position: absolute;
                top:0; bottom:0; left: 0; right: 0;
                margin: auto;
                width:64px;
                height:64px;
                background: url('/lg5-common/images/btn-video-play.svg') no-repeat 0 0;
                background-size:100% 100%;
                //background-color:rgba(0,0,0,.25);
                color:transparent;
                text-indent:-9999px;
                overflow: hidden;
                border:none;
                @include mobile {
                    width:48px;
                    height:48px;
                }
            }
            .video-asset {
                /* PJTWAUS-1 20200115 modify **/
                .change-video, .acc-change-video {
                    top:62px;
                }
                /* //PJTWAUS-1 20200115 modify **/
            }
            /* PJTWAUS-1 20200115 modify */
            .acc-video-content {
                position:absolute;
                top:20px;
                right:20px;
                width:36px;
                height:36px;
                overflow:hidden;			
                text-indent:2000%;
                white-space:nowrap;	
                @include mobile {
                    width:29px;
                    height:29px;
                }			
                &:before {
                    content:'';
                    display:inline-block;
                    position:absolute;
                    top:0;
                    right:0;
                    left:inherit;					
                    width:36px;
                    height:36px;
                    margin:0;
                    //background:url('/lg5-common/images/components/ico_AD-on.svg');
                    background-size:36px 36px; 	
                    border-radius:inherit;
                    @include mobile {
                        width:29px;
                        height:29px;
                        background-size:29px 29px;
                    }
                }			
            }
        }
    }

    .video-info {
        margin-top: 22px;
        @include mobile {
            margin-top: 24px;
            margin-bottom: 50px;
        }
        .btn-area {
            clear: both;
            display: flex;
            align-items: flex-end;
            //height: 74px;
            margin-bottom: 18px;
            @include mobile {
                height: auto;
                margin-bottom: 20px;
            }
            .btn-wrap {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                //width: 100%;
                padding: 5px 16px;
                border-radius: 16px;
                border: 1px solid #222;  
                /* BTOCSITE-5938-337 [모니터링] 스토리 > 아카이브 > TV광고 IE 버튼 오류 */
                .btn-text {
                    display: -webkit-box;
                    max-height: 48px;
                    text-overflow:ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow:hidden;
                    @include font-small;
                    text-decoration: none;
                    @include mobile {
                        max-height: 42px;
                    }
                    &.isMore{
                        width:calc(100% - 30px);
                        cursor:default;
                    }
                }
                .btn-more {
                    display:none;
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    background: url(/lg5-common/images/icons/icon-plus-40.svg) center no-repeat;
                    background-size: 20px 20px; 
                }
                /* //BTOCSITE-5938-337 [모니터링] 스토리 > 아카이브 > TV광고 IE 버튼 오류 */
            }
        }
        .tit-area {
            position: relative;
            padding-bottom: 16px;
            @include mobile {
                padding-bottom: 21px;
            }
            .tit {
                margin-bottom: 8px;
                padding-right: 50px;
                @include font-large-2;
                font-weight: 700;
                @include mobile {
                    margin-bottom: 15px;
                    padding-right: 0;
                }
            }
            .date {
                @include font-medium; 
                @include mobile {
                    padding-right: 50px;
                }
            }
            .share-area {
                position: absolute;
                top: 0;
                right: 0;
                @include mobile {
                    top: auto;
                    bottom: 21px;
                }
            }
        }
        .desc {
            position: relative;
            margin-bottom: 16px;
            padding: 32px 0;
            border-top: 1px solid #ddd;
            @include mobile {
                margin-bottom: 10px;
                padding: 24px 0;
            }
            .inner {
                height: 154px;
                @include font-medium;
                overflow-y: auto;
                @include mobile {
                    height: 44px;
                    padding-right: 36px;
                    overflow: hidden;
                }
            }
            .more-btn {
                display: none;
                position: absolute;
                top: 24px;
                right: 0;
                width: 24px;
                height: 24px;
                background: url(/lg5-common/images/icons/btn-arrow-down.svg) 0 0 no-repeat;
                @include mobile {
                    display: block;
                    
                }
            }
            &.open {
                .inner {
                    height: auto;
                }
                .more-btn {
                    background: url(/lg5-common/images/icons/btn-arrow-up.svg) 0 0 no-repeat;
                }
            }
            
        }
        .hashtag-area {
            .tag-list {
                max-width: 1460px;
                margin: -12px auto 0;
                font-size: 0;
        
                .hashtag {
                    display: inline-block;
                    margin-right: 8px;
                    margin-top: 12px;
                    padding: 8px 16px;
                    border: 1px solid $color-border;
                    border-radius: 8px;
                    @include font-medium;
                    color: $color-default;
                    @include mobile {
                        @include font-small;
                    }
                }
                
                @include mobile {
                    /*padding: 10px 0;
                    white-space: nowrap;
                    overflow-x: auto;*/
                }
            }

        }
        &.align-left {}
        &.align-right {
            .btn-area,
            .tit-area,
            .desc .inner {
                text-align: right;
            }
        }
        &.align-center {
            .btn-area,
            .tit-area,
            .desc .inner {
                text-align: center;
            }
        }
    }
  }
}
