@charset "UTF-8";

@import "../components-app";

.KRP0006 {
    background-image: linear-gradient(92deg, #9c86e7, #ff537c 97%);
	.inner {
        position:relative;
        max-width:1380px + 80px;
        margin:10px auto 16px;
        padding:22px 40px;
        text-align:center;
        @include mobile {
            margin:12px 0;
            padding:16px 16px;
            text-align:left;
        }
        .txt {
            padding:0 115px;
            color:#fff;
            @include font-large;
            font-weight:500;
            @include textEllipsisClamp(2);
            @include mobile {
                padding:0 40px 0 0;
            }
        }
        .btn-close {
            position:absolute;
            top:50%;
            right:40px;
            width:24px;
            height:24px;
            transform:translateY(-50%);
            @include mobile {
                right:16px;
            }
            &:after {
                content:'';
                display:block;
                width:24px;
                height:24px;
                background:url('/lg5-common/images/icons/btn-close-24-white.svg') no-repeat;
            }
        }
    }
    &.btm-exp {
        .inner {
            margin:80px 0;
        }
    }
}
