@charset "UTF-8";

@import "../components-app";

.KRP0038 {
	&.bg-black {
		background-color: #000;
		.btn.border {
			border-color:#fff;
			color:#fff;
		}
		.link-text:after {
			background-image:url('/lg5-common/images/icons/icon-arr-16-wt.svg') !important;
		}
	}
	&.bg-dark {
		background-color: #333;
		.btn.border {
			border-color:#fff;
			color:#fff;
		}
		.link-text:after {
			background-image:url('/lg5-common/images/icons/icon-arr-16-wt.svg') !important;
		}
	}
	&.bg-lightgray {
		background-color: #f4f4f4;
	}
	&.bg-white {
		background-color: #fff;
	}
	// BTOCSITE-3270 공유하기 타입 추가 2021-07-19
	&.share-type {
		.component-inner {
			display: flex;
			flex-direction: row;
			align-items: center;

			.heading-box {
				flex:1;
				padding-left:32px;
			}
			.tooltip-wrap.share {
				position: relative;
				height:auto;
				padding:16px 4px 24px;

				@include mobile {
					padding:4px 4px 24px;
				}

				.tooltip-box {
					top:44px;	

					@include mobile {
						top:26px;
					}
				}
			}
		}
	}
	.component-inner {
		.heading-box {
			padding:16px 0 64px;
			@include mobile {
				padding:4px 0 32px;
			}
			&.sm-pb {
				padding-bottom:24px;
				@include mobile {
					padding-bottom:24px;
				}
			}
		}
		.align-left {
			text-align:left;
		}
		.align-center {
			text-align:center;
		}
		.align-right {
			text-align:right;
		}
	}

	.head-copy {
		margin-bottom:8px;
		font-size:24px;
		font-weight:700;
		line-height:34px;
		@include mobile {
			margin-bottom:6px;
			font-size:16px;
			line-height:24px;
		}
	}
	.title {
		font-size:48px;
		font-weight:700;
		line-height:66px;
		@include mobile {
			font-size:31px;
			line-height:42px;
		}
		&.title-h1 {
			@include title-h1;
		}
		&.title-h2 {
			@include title-h2;
		}
		&.title-h3 {
			@include title-h3;
		}
		&.title-h4 {
			@include title-h4;
		}
		// 타이틀만 쓴다고 해서 여기만 title 사이즈 따로 작성
		&.title-h5 {
			font-weight:700;
			font-size:24px;
			line-height:34px;
			@include mobile{
				line-height:33px;
			}
		}
		&.title-h6 {
			font-weight:700;
			font-size:24px;
			line-height:34px;
			@include mobile{
				line-height:33px;
			}
		}
		// 타이틀만 쓴다고 해서 여기만 title 사이즈 따로 작성 END
	}
	.body-copy {
		margin-top:12px;
		font-size:16px;
		line-height:26px;
		@include mobile {
			font-size:14px;
			line-height:22px;
		}
	}
	.btn-box {
		margin-top:16px;
		@include mobile {
			margin-top:20px;
		}
		> span {
			@include mobile {
				& + span {
					margin-left:12px;
				}
			}
			margin:0 8px;
			&:first-child {
				margin-left:0;
			}
			@include mobile {
				margin:0;
				.btn {
					width:100%;
				}
			}
		}
		.link-text {
			position:relative;
			padding-right:20px;
			font-size:14px;
			font-weight:500;
			line-height:24px;
			text-decoration: underline;
			&:after {
				content: ' ';
				position: absolute;
				top:3px;
				right: 0;
				width: 16px;
				height: 16px;
				background: url('/lg5-common/images/icons/icon-arr-16-bk.svg') center no-repeat;
			}
		}
	}
}

.component-wrap {
	//BTOCSITE-2117
	@include mobile {
		&.hidden-mo {
			display: none;
		}
	}
}

