@charset "UTF-8";

@import "../components-app";


.KRP0020 {
    .inner {
        padding-bottom:104px;
        .title {
            padding:40px 0;
            background:#fff;
            color:#222;
            @include font-large-3;
            font-weight:700;
            text-align:center;
        }
        > ul {
            max-width:1147px + 80px;
            margin:0 auto;
            padding:0 40px;

            // cluster layout
            @media screen and (min-width:992px) {
                .category-cluster {
                    display:table;
                    width:100%;
                    table-layout:fixed;
                    border-collapse:collapse;
                    > ul {
                        display:table-cell;
                        padding:48px 40px;
                        font-size:0;
                        .category-column {
                            display:inline-block;
                            width:50%;
                            vertical-align:top;
                            &.upperframe {
                                width:100%;
                            }
                        }
                        &:only-child {
                            .category-column.upperframe {
                                width:50%;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width:991px) {
                .category-cluster {
                    font-size:0;
                    > ul {
                        margin-top:12px;
                        padding:48px 40px;
                        background:#fff;
                        font-size:0;
                        .category-column {
                            display:inline-block;
                            width:50%;
                            vertical-align:top;
                            &.upperframe {
                                display:block;
                                width:100%;
                            }
                        }
                        .category-column.upperframe + .category-column.upperframe {
                            margin-top:56px;
                        }

                        @include mobile {
                            padding:48px 24px 56px;
                        }
                    }
                }
            }
            

            // depth style
            .category-cluster {
                .level-1 {
                    padding-bottom:12px;
                    border-bottom:2px solid #222;
                    margin-bottom:40px;
                    h2 * {
                        display:inline-block;
                        color:#222;
                        font-size:22px;
                        line-height:32px;
                        font-weight:700;
                        vertical-align:top;
                    }
                }

                .level-2 {
                    margin-top:16px;
                    h3 * {
                        display:inline-block;
                        color:#222;
                        font-size:16px;
                        line-height:26px;
                        font-weight:700;
                        vertical-align:top;
                    }
                }

                .level-3 {
                    margin-top:8px;
                    * {
                        display:inline-block;
                        color:#222;
                        font-size:16px;
                        line-height:26px;
                        vertical-align:top;
                    }
                }

                .level-2 + .level-3 {
                    margin-top:16px;
                }

                .level-3 + .level-2 {
                    margin-top:32px;
                }

                @for $i from 1 through 4 {
                    .category-depth.level-#{$i} {
                        a[target="_blank"] {
                            &::after {
                                content:' ';
                                display:inline-block;
                                width:14px;
                                height:26px;
                                margin-left:4px;
                                vertical-align:top;
                                @if ( $i == 2 ) {
                                    background:url('/lg5-common/images/icons/icon-blank-arr2.svg') center no-repeat;
                                } @else if ( $i == 3 ) {
                                    background:url('/lg5-common/images/icons/icon-blank-arr2.svg') center no-repeat;
                                }
                            }
                        }
                    }
                }

                .category-depth {
                    padding-right:12px;
                    &:first-child {
                        margin-top:0;
                    }
                }
            }
        }
    }
}