@charset "UTF-8";

@import "../components-app";


.KRP0026 {
    .page-header.wide {
        padding:10px 0 8px;
        margin-bottom:48px;
        text-align:left;
        @include mobile {
            margin-bottom:32px;
        }
        .tabs-wrap {
            text-align:left;
            &.border-type {
                max-width:1460px;
                margin:0 auto;
                padding:0 40px;
                &:before {
                    left:40px;
                    right:40px;
                }
                @include mobile {
                    overflow:hidden;
                    max-width:100%;
                    padding:0;

                    &:before {
                        left:0;
                        right:0;
                    }
                }
            }
        }
        .tabs-bg {
            .tabs-wrap.bar-type {
                max-width:calc(1380px + 80px);
                margin:0 auto;
                // background-color: $color-white;
                .tabs {
                    padding:16px 0;
                    @include mobile {
                        padding:16px;
                    }
                }
            }
        }
    }
    @include mobile {
        .page-header {
            background: #fff;
        }
    }
    .component-inner { 
        max-width: 100% !important;
        padding: 0;
    }

    
    // tab
    /*
    .story-tabs-wrap {
        max-width: calc(1146px + 80px);
        margin: 0 auto 24px;
        padding: 0 40px;
        @include mobile {
            margin-bottom: 0;
            padding: 11px 16px 13px;
            background: #fff;
        }
        li {
            margin-left: 8px;
            > a {
                padding: 4px 12px;
            }
            &.on {
                > a {
                    background: $color-bg;
                    border-radius: 20px;
                }
            }
        }
    }*/

    .story-top {
        margin-bottom: 80px;
        @include mobile {
            margin-bottom: 26px;
        }
     /*
        .story-top-tabs {
            margin-bottom: 48px;
            padding: 0 40px;
            background: $color-bg;
            @include mobile {
                margin-bottom: 24px;
                padding: 0 16px;
            }
            .inner {
                position: relative;
                max-width: 1146px;
                margin: 0 auto;
                padding: 17px 0 16px 0;
                @include mobile {
                    padding: 16px 0 0;
                }
            }
            
            .tabs-wrap {
               padding: 0 160px;
               @include mobile {
                    padding: 0 0 40px 0;
                }
                .tabs {
                    @include mobile {
                        padding: 0;
                    } 
                }
            }

        }
        */
        // carousel
        .slide-wrap {
            //max-width: 1146px;
            max-width: calc(1166px + 60px);
            margin: 0 auto;
            padding: 0 30px 34px;
            overflow: hidden;
            @include mobile {
                padding: 0 10px 38px;
            }
          .slide-content {
             .slide-conts {
                 width: 33.33%;
                 padding: 0 10px;
                 @include mobile {
                     padding: 0 7px;
                 }
                 .conts-wrap {
                     .story-link {
                         display: flex;
                         width: 100%;
                         align-items: flex-end;
                         .thumb {
                             flex: 1;
                             img {
                                 max-width: 100%;
                             }
                         }
                         .story-info {
                            width: 100%; 
                            margin-left: -100%;
                            padding: 32px;
                            .tit {
                                display: -webkit-box;
                                max-height: 68px;
                                text-overflow:ellipsis;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                @include font-large-2;
                                color: $color-bg-wt;
                                overflow:hidden;
                                font-weight: $font-weight-bold;
                                @include mobile {
                                    max-height: 52px;
                                }
                            }
                            .desc {
                                display: -webkit-box;
                                max-height: 52px;
                                text-overflow:ellipsis;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                @include font-medium;
                                color: $color-bg-wt;
                                overflow:hidden;
                                font-weight: $font-weight-regular;
                                @include mobile {
                                    max-height: 44px;
                                }
                            }
                            &.align-right {
                                .tit,
                                .desc {
                                    text-align: right;
                                }
                            }
                            &.align-center {
                                .tit,
                                .desc {
                                    text-align: center;
                                }
                            }
                         }
                     }
                 }
             } 
          }  
        }
    }
    .story-list-wrap {
        max-width: calc(1380px + 80px);
        margin: 0 auto;
        padding: 0 40px 60px;
        @include mobile {
            padding: 0 16px 60px;
        }
        .story-list {
            .story-box {
                display: flex;
                flex-wrap: wrap;
                margin-left: -24px;
                @include mobile {
                    margin-left: 0;
                }
                .items {
                    width: 50%;
                    margin-bottom: 12px;
                    padding-left: 24px;
                    @include mobile {
                        width: 100%;
                        padding-left: 0;
                    }
                    .item-inner {
                        display: table;
                        position: relative;
                        width:100%;
                        height:100%;
                        padding: 24px 32px;
                        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .15);
                        border-radius: 8px;
                        background-color: #fff;
                        @include mobile {
                            padding: 24px 20px;
                        }
                    }
                    .thumb {
                        display: table-cell;
                        width: 160px;
                        height: 120px;
                        @include mobile {
                            width: 100px;
                            height: 75px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                    .item-info {
                        display: table-cell;
                        padding-left: 40px;
                        font-size:0;
                        vertical-align: top;
                        @include mobile {
                            padding-left: 16px;
                        }
                        .flag-wrap {
                            margin-bottom: 2px;
                            @include mobile {
                                margin-bottom:6px;
                            }
                        }
                        .tit {
                            display: -webkit-box;
                            max-width: 680px;
                            max-height: 52px;
                            margin-bottom: 2px;
                            text-overflow:ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow:hidden;
                            @include font-medium;
                            color: $color-default;
                            font-weight: $font-weight-bold;
                            @include mobile {
                                max-height: 44px;
                                margin-bottom: 6px;
                                @include font-medium;
                            }
                        }
                        .desc {
                            display: -webkit-box;
                            max-width: 680px;
                            max-height: 48px;
                            min-height:48px;
                            margin-bottom: 12px;
                            text-overflow:ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow:hidden;
                            @include font-small;
                            color: $color-default;
                            @include mobile {
                                min-height: 42px;
                                max-height: 42px;
                                margin-bottom: 16px;
                                font-size: 13px;
                                line-height: 21px;
                            }
                        }
                        .hashtag-wrap {
                            display:inline-block;
                            overflow:hidden;
                            &:after {
                                content:' ';
                                display:inline-block;
                                width:1px;
                                height:10px;
                                margin:0 6px;
                                background-color:#ddd;
                            }
                            .hashtag {
                                // float: left;
                                display:inline-block;
                                color: #000;
                                font-size:14px;
                                line-height:24px;
                                @include mobile {
                                    float: none;
                                    font-size: 13px;
                                    line-height: 21px;
                                }
                                & + .hashtag {
                                    margin-left:4px;
                                }
                            }
                        }
                        .date {
                            display:inline-block;
                            color: #666;
                            font-size:14px;
                            line-height:24px;
                            vertical-align:top;
                            @include mobile {
                                float: none;
                                font-size: 13px;
                                line-height: 21px;
                            }
                        }
                        &.align-left {}
                        &.align-right {
                            .flag-wrap,
                            .tit,
                            .desc {
                                text-align: right;
                            }
                        }
                        &.align-center {
                            .flag-wrap,
                            .tit,
                            .desc {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
