@charset "UTF-8";

@import "../components-app";

.KRP0012 {
	.title {
        margin-bottom:64px;
        font-weight:700;
        font-size:40px;
        line-height:56px;
		text-align:center;
		@include mobile {
            margin-bottom:32px;
            font-size:27px;
            line-height:38px;
        }
	}
	.visual-area img {
		position:relative;
		width:100%;
		height:auto;
	}
	// BTOCSITE-3800 제품 리뷰 하단 문구 추가 요청 start
	.cont-wrap.review-wrap{
		padding-bottom:0 !important;
	}
	.review-info-text{
		padding:0 40px 0 40px; //BTOCSITE-4345 모바일 리뷰 문구 변경 요청 - 210903
		.bullet-list{
			padding-left:44px;
			margin-top:5px !important;
			.b-txt{
				padding-left:11px !important;
				&:before {
					content: ' ';
					display: inline-block !important;
					width: 3px;
					height: 3px;
					margin-top: 11px;
					margin-left: -11px;
					margin-right: 9px;
					border-radius: 50%;
					background: #000;
					vertical-align: top;
				}
			}
		}
	}
	@media screen and (max-width: 767px){
		.review-info-text{
			padding:0 0 0 0; //BTOCSITE-4345 모바일 리뷰 문구 변경 요청 - 210903
			.bullet-list{
				padding-left:0;
				margin-top:4px !important;
				.b-txt{
					padding-left:10px !important;
					&:before {
						display: inline-block !important;
						width: 2px;
						height: 2px;
						margin-top: 9px;
					}
				}
			}
		}
	}
	// BTOCSITE-3800 제품 리뷰 하단 문구 추가 요청 end
}
