@charset "UTF-8";

@import "../components-app";


.KRP0014 {
    padding:0 40px;
    @include mobile {
        padding:0;
    }
    .inner {
        max-width:1146px;
        margin:0 auto;
        .heading-box {
            .title {
                margin-bottom:12px;
                h1, h2, h3, h4, h5, h6 {
                    color:#222;
                    font-size:20px;
                    line-height:30px;
                    font-weight:700;
                }
                .sub-tit {
                    margin-top:12px;
                    color:#222;
                    font-size:14px;
                    line-height:20px;
                }
                @include mobile {
                    padding:0 20px;
                    h1, h2, h3, h4, h5, h6 {
                        margin-bottom:16px;
                        font-size:18px;
                        line-height:24px;
                    }
                }
            }
        }
        .accordion-wrap {
            border-top:2px solid #222;
            &.faq-type > ul > .lists {
                margin-top:0;
                border-bottom:1px solid #ddd;;
                border-radius:0;
                &:first-child {
                    border-top:1px solid #ddd;
                }
                &.on {
                    background-color:#f4f4f4;
                    box-shadow:none;
                    .que {
                        color:#ec455a;
                    }
                    .accord-btn:after {
                        transform:rotate(270deg) !important;
                    }
                }
            }
            &.faq-type > ul > .lists .head .accord-btn {
                padding:25px 136px 25px 72px;
                @include mobile {
                    padding:16px 44px 16px 36px;
                }
                &:after {
                    right:48px;
                    width:24px;
                    height:24px;
                    margin-top:-12px;
                    background:url('/lg5-common/images/icons/btn-arr-24x24-black.svg') no-repeat 0 0;
                    border:none;
                    transform:rotate(90deg);
                    @include mobile {
                        top:16px;
                        right:12px;
                        width:16px;
                        height:16px;
                        margin-top:0;
                        background-size:16px 16px;
                    }
                }
                .que {
                    position:absolute; top:50%; left:24px;
                    font-size:18px;
                    font-weight:bold;
                    transform:translateY(-50%);
                    @include mobile {
                        top:21px;
                        left:12px;
                        font-size:15px;
                        transform:translateY(0);
                    }
                }
                .title {
                    font-weight:500;
                }
            }
            &.faq-type > ul > .lists .accord-cont {
                padding:0 72px 48px;
                @include mobile {
                    padding:0 44px 32px 36px;
                }
            }
        }
        @include mobile {
            padding-top:12px;
            .accordion-wrap {
                margin:0 16px;
            }
        }
    }
}
