@charset "UTF-8";
@import "_components";

.KRP0036 {
	.component-inner {
		max-width:1380px + 80px;
		padding:0 40px;
		@include mobile {
			padding:0;
		}

		.title {
			margin-bottom:24px;
			font-size:32px;
			font-weight:700;
			line-height:52px;
			text-align:center;
			@include mobile {
				margin-bottom:16px;
				padding:0 20px;
				font-size:24px;
				line-height:33px;
			}
		}
		
		.csn-itr-cont {
			.csn-itr-head {
				display:flex;
				align-items:center;
				padding:48px 64px;
				border-radius:8px;
				background:#f4f4f4;
				@include mobile {
					display:block;
					border-radius:0;
					padding:40px 16px 60px;
				}
				.csn-video {
					position:relative;
					display:block;
                    width:((614px * 100%) / 1252px);
                    text-align:center;
					@include mobile {
						width:100%;
						overflow:hidden;
                    }
                    a {
                        position:relative;
                        display:inline-block;
                        vertical-align:top;
                        &::after {
                            content:' ';
                            position:absolute;
                            top:0;
                            right:0;
                            bottom:0;
                            left:0;
                            background:rgba(#000, 0.4);
                            z-index:5;
                        }
                    }
					img {
						width:auto;
						max-width:100%;
						height:auto;
						vertical-align:top;
					}
				}
				.csn-prod-intro {
					width:((562px * 100%) / 1252px);
					max-width:388px;
					margin-left:((80px * 100%) / 1252px); 
					> p {
						line-height:26px;
					}
					@include mobile {
						width:100%;
						max-width:100%;
						margin-top:40px;
						margin-left:0;
						padding-top:0;
					}
					.video-tit {
						position:relative;
						@include font-large-2;
						font-weight:700;
					}
					.tit {
						@include font-medium;
						font-weight:700;
					}
					.desc {
						margin-top:24px;
						@include font-medium;
						@include mobile {
							margin-top:8px;
						}
					}
				}
			}
			.csn-itr-body {
				padding:80px 0;
				@include mobile {
					padding:60px 16px 40px;
				}
				&:first-child {
					margin-top:0;
					padding-top:0;
					border-top:none;
				}
				.csn-icon-list {
					&.col2 {
						> ul {
							> li {
								width:50%;
								@include mobile {
									width:100%;
								}
							}
						}
					}
					&.col3 {
						> ul {
							> li {
								width:33.33%;
								@include mobile {
									width:100%;
								}
							}
						}
					}
					> ul {
						margin-top:-64px;
						margin-left:-60px;
						font-size:0;
						@include mobile {
							margin-top:0;
							margin-left:0;
						}
						> li {
							display:inline-block;
							margin-top:64px;
							padding-left:60px;
							vertical-align:top;
							@include mobile {
								display:block;
								width:100%;
								margin-top:40px;
								padding-left:0;
								&:first-child {
									margin-top:0;
								}
							}
							.inner {
								position:relative;
								min-height:96px;
								padding-left:120px;
								@include mobile {
									padding-left:100px;
								}
								> i {
									display:block;
									position:absolute;
									top:0;
									left:0px;
									width:96px;
									height:96px;
									img {
										width:auto;
										max-width:100%;
										height:auto;
										vertical-align:top;
									}
									@include mobile {
										width:80px;
										height:80px;
									}
								}
								p {
									@include font-medium;
								}
								.tit {
									font-weight:700;
								}
								p + p {
									margin-top:4px;
								}
							}
							.bullet-list {
								margin-top:8px;
								&:first-child {
									margin-top:0;
								}
							}
						}
					}
				}
				> .bullet-list {
					margin-top:64px;
					@include mobile {
						margin-top:40px;
					}
				}
			}
		}
	}
}
