@charset "UTF-8";
@import "_components";

.KRP0031 {
	.btn-delete {
		position:absolute;
		top:50%;
		right:54px;
		width:20px;
		height:20px;
		margin-top:-10px;
		background:url('/lg5-common/images/icons/icon-delete-20.svg') no-repeat 0 0;
	
		@include mobile {
			right: 68px;
		}
	}
	.btn-search {
		position:absolute;
		top:0;
		right:0;
		width:54px;
		height:48px;
		background:center/20px 20px url(/lg5-common/images/icons/icon-search-20.svg) no-repeat;
	
		@include mobile {
			width:68px;
			height:46px;
		}
	}

	.search-wrap {
		text-align:center;
		padding:48px 0 24px;
		@include mobile {
            padding:24px 16px 16px;
		}
		.search-box {
			display:inline-block;
			position:relative;
			width:443px;
			text-align:left;
			@include mobile {
				display:block;
				width:100%;
			}
		}
		.search-input {
			position:relative;
			width:443px;
			margin:0 auto;
			text-align:left;
			input[type=text] {
				width:100%;
				padding:11px 80px 11px 24px;
				@include font-medium;
				border-radius:24px;
				border:0 none;
				background:#fff;
				box-shadow:2px 4px 12px 0 rgba(0, 0, 0, 0.14);
				// text-transform:uppercase;
			}
			
			@include mobile {
				width:100%;
			}
		}
		.search-more {
			position:absolute;
			left:calc(100% + 16px);
			top:23px;
			white-space:nowrap;
			transform:translateY(-50%);
			@include mobile {
				position:static;
				margin-top:16px;
				text-align:center;
				transform:translateY(0);
			}
			.btn {
				min-width:64px;
				padding:3px 11px 3px 32px;
				border-radius:16px;
				@include font-small;
				border-color:#000;
				background:transparent;
				color:#000;
			}
		}
		.search-error {
			display:none;
			margin-top:6px;
			color:#f00;
			@include font-small;
			vertical-align:top;
			&::before {
				content:' ';
				display:inline-block;
				width:20px;
				height:20px;
				margin:2px 4px 0 0;
				background: url("/lg5-common/images/icons/icon-error.svg") center no-repeat;
				vertical-align:top;
				@include mobile {
					margin-top:1px;
				}
			}
		}
	}
}
