@charset "UTF-8";
@import "_components";

.KRP0021 {
	background-color:#fff;
	@include mobile {
		background-color:#fff;
	}
	.component-inner {
		position:relative;
		max-width:1126px;
		padding:60px 40px;
		@include mobile {
			padding:40px 0 56px;
		}

	}
	
	.tit-wrap {
		position:relative;
	}

	.title {
		text-align: center;
		h2 {
			@include title-h4;
			@include mobile {
				padding:0 16px;
			}
		}
	}

	.tabs-wrap {
		margin-top:48px;
		text-align:left;
		&.btn-type:before {
			content:' ';
			display:block;
			position:absolute;
			right:0;
			bottom:0;
			left:0;
			height:1px;
			background-color:#ddd;
		}
		@include mobile {
			margin-top:40px;
			.tabs > li {
				margin-left:24px;
				&:first-child {
					margin-left:0;
				}
				> a {
					padding:8px 0 4px;
					font-size:15px;
					line-height:23px;
				}
			}
		}
	}

	.tabs-cont {
		display:none;
		clear:both;
		// margin-top:12px;
		padding:24px 0;
		// border-top:2px solid #222;
		@include mobile {
			margin:16px;
			padding:24px 6px;
			background-color:transparent;
		}
		.num-list {
			> p {
				list-style: decimal;
				position:relative;
				margin-top:2px;
				color:#000;
				font-size:16px;
				line-height:26px;
				&:first-child {
					margin-top:0;
				}
			}
			ol,
			ul {
				padding:0 16px;
				li {
					position:relative;
					margin-top:2px;
					padding:0 34px;
					color:#000;
					font-size:16px;
					line-height:26px;
					list-style:inherit;
					&:first-child {
						margin-top:0;
					}
				}
			}
			@include mobile {
				ol {
					padding:0 12px;
					li {
						margin-top:12px;
						padding:0 13px;
						&:first-child {
							margin-top:0;
						}
					}
				}
			}
		}
	}
}
