@charset "UTF-8";
@import "_components";

.KRP0029 {
	.component-inner {
		@include mobile {
			padding:0;
		}
	}
	.title {
		text-align:center;
		@include mobile {
			padding:0 16px;
		}
		* {
			//display:block;
			font-size:32px;
			font-weight:700;
			line-height:42px;
			color:#000;
			@include mobile {
				font-size:24px;
				line-height:33px;
			}
		}
	}
	.category {
		margin-top:16px;
		font-size:18px;
		line-height:28px;
		text-align:center;
		@include mobile {
			margin-top:6px;
			font-size:15px;
			line-height:23px;
		}
		&:first-child {
			margin-top:0;
		}
	}
	.recommend-story-list-wrap {
		margin-top:48px;
		@include mobile {
			margin-top:32px;
		}
		&:first-child {
			margin-top:0;
		}
		.recommend-story-list-inner {
			position:relative;
			.ui_carousel_list {
				margin:0 -12px;
				@include mobile {
					margin:0;
					padding:0 10px;
				}
			}
			.items {
				.item {
					float:left;
					position:relative;
					width:33.33%;
					padding:0 12px;
					height:inherit;
					border-radius:8px;
					overflow:hidden;
					@include mobile {
						padding:0 6px;
					}
					a {
						display:block;
						border-radius:8px;
						overflow:hidden;
						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							right: 12px;
							left: 12px;
							border-radius: 8px;
							background-color: rgba(0,0,0,.2);
							content: '';
							@include mobile {
								right: 6px;
								left: 6px;
							}
						}
						> img {
							width:100%;
							// max-height:590px;
							vertical-align:top;
							// @include mobile {
							// 	// max-height:414px;
							// }
						}
					} 
					.info-area {
						$typeDefault: #111;
						$typeWhite: #fff;
						position:absolute;
						left:44px;
						right:44px;
						bottom:64px;
						z-index: 1;
						padding:0 8px;
						@include mobile {
							left:26px;
							right:26px;
							bottom:32px;
							padding:0;
						}
						color:$typeDefault;
						.flag {
							height:24px;
							padding:0 8px;
							border:1px solid;
							border-radius:4px;
							border-color:$typeDefault;
							color:inherit;
							font-weight:500;
							line-height:22px;
							@include mobile {
								font-size:11px;
								line-height:23px;
							}
						}
						&.typeWhite {
							color:$typeWhite;
							.flag {
								border-color:$typeWhite;
							}
						}
						.info-tit {
							display:block;
							margin-top:8px;
							font-weight:700;
							font-size:32px;
							line-height:52px;
							@include mobile {
								font-size:27px;
								line-height:38px;
							}
						}
						.info-tag {
							display:block;
							width:50%;
							margin-top:12px;
							margin-left:-8px;
							font-size:0;
							font-weight:700;
							@include mobile {
								margin-top:20px;
							}
							& > span {
								display:inline-block;
								padding-left:8px;
								font-size:14px;
								line-height:24px;
								text-decoration:underline;
							}
						}
					}
				}
			}
			.indi-wrap {
				position:relative;
				margin-top:24px;
			}
			.btn-arrow {
				position:absolute;
				top:calc((100% - 36px) / 2);
				transform:translateY(-50%);
				@include mobile {
					top:calc((100% - 32px) / 2);
				}
				&.prev {
					left:-24px;
					@include mobile {
						left:4px;
					}
				}
				&.next {
					right:-24px;
					@include mobile {
						right:4px;
					}
				}
			}
		}
	}
}
