@charset "UTF-8";

@import "../components-app";

.KRP0016 {
	background-color: #f4f4f4;

	@include mobile {
		background-color: #fff;
	}

    .support-box {
		max-width: 1066px + 60px;
		margin: 0 auto;
		padding: 60px 30px;

		@include mobile {
			max-width: 100%;
			padding: 40px 24px;
		}
	}

	.title {
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #111;

		@include mobile {
			margin-bottom: 20px;
			color: #222;
		}
	}

	.list-box {
		margin: 0 -4px -8px;
		font-size: 0;
		li {
			display: inline-block;
			width: 33.33%;
			padding: 0 4px 8px;
			vertical-align: top;

			span,
			strong {
				display: block;
			}
			strong {
				margin-bottom: 8px;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				color: #111;
			}
			span {
				font-size: 14px;
				line-height: 20px;
				color: #808080;
			}

			a {
				position: relative;
				display: block;
				height: 220px;
				padding: 36px;
				border-radius: 4px;
				background-color: rgba(255,255,255,.8);

				&:before {
					position: absolute;
					bottom: 36px;
					left: 36px;
					width: 24px;
					height: 24px;
					background: no-repeat 0 0;
					background-size: 24px 24px;
					content: '';
				}
				&.item-telephone {
					&:before {
						background-image: url("/lg5-common/images/icons/icon-telephone.svg");
					}
				}
				&.item-live-chat {
					&:before {
						background-image: url("/lg5-common/images/icons/icon-live-chat.svg");
					}
				}
				&.item-email {
					&:before {
						background-image: url("/lg5-common/images/icons/icon-email.svg");
					}
				}
				&.item-manual {
					&:before {
						background-image: url("/lg5-common/images/icons/icon-manual.svg");
					}
				}
				&.item-download {
					&:before {
						background-image: url("/lg5-common/images/icons/icon-download.svg");
					}
				}
				&.item-location {
					&:before {
						background-image: url("/lg5-common/images/icons/icon-location.svg");
					}
				}

				&:hover,
				&:focus {
					z-index: 1;
					background-color: #fff;
					box-shadow: 0 16px 20px 0 rgba(0,0,0,.16);
					opacity: 1;

					strong {
						color: #ec455a;
					}
					span {
						color: #111;
					}

					&.item-telephone {
						&:before {
							background-image: url("/lg5-common/images/icons/icon-telephone-on.svg");
						}
					}
					&.item-live-chat {
						&:before {
							background-image: url("/lg5-common/images/icons/icon-live-chat-on.svg");
						}
					}
					&.item-email {
						&:before {
							background-image: url("/lg5-common/images/icons/icon-email-on.svg");
						}
					}
					&.item-manual {
						&:before {
							background-image: url("/lg5-common/images/icons/icon-manual-on.svg");
						}
					}
					&.item-download {
						&:before {
							background-image: url("/lg5-common/images/icons/icon-download-on.svg");
						}
					}
					&.item-location {
						&:before {
							background-image: url("/lg5-common/images/icons/icon-location-on.svg");
						}
					}
				}
			}

			@include mobile {
				width: 50%;
				padding: 0 6px 12px;

				strong {
					line-height: 23px;
				}
				span {
					line-height: 18px;
					color: #979797;
				}

				a {
					height: auto;
					min-height: 194px;
					padding: 16px 12px;
					border: 1px solid #ddd;

					&:before {
						bottom: 16px;
						left: 12px;
					}

					&:hover,
					&:focus {
						border: 1px solid #ec455a;
						box-shadow: none;
					}
				}
			}
		}
	}
}
