@charset "UTF-8";
@import "_components";

@media print {
    .component-wrap,
    .component {
        padding:0;
    }
    .title,
    .tabs-wrap,
    .prod-print,
    .btn_collapse_more {
        display:none;
    }
}

.KRP0010 {
    .component-inner {
        max-width:1380px + 80px;
    }
    // padding:40px 0;
    @include mobile {
        // border-top:12px solid #f4f4f4;
        // padding:32px 0 0;
        background:#fff;
        .component-inner {
            padding:0;
        }
    }
    img {
        width:100%;
        max-width:100%;
        height:auto;
        vertical-align:top;
    }
    .title {
        margin-bottom:24px;
        font-size:32px;
        line-height:52px;
        font-weight:bold;
        text-align:center;
        @include mobile {
            margin-bottom:16px;
            padding:0 20px;
            font-size:24px;
            line-height:33px;
        }
    }
    .bundle-type {
        padding:8px 0;
        // @include mobile {
        //     padding:16px 0;
        // }
        .tabs {
            padding:16px 0;
            overflow-y:hidden;
            // display:flex;
            // justify-content:space-between;
            @include mobile {
                display:block;
                padding:16px 10px;
            }
            > li {
                width:327px;
                margin:0 7px;
                @include mobile {
                    width:276px;
                    margin:0 6px;
                }
                &.on {
                    a {
                        border:2px solid #da0f47;
                        .thumb {
                            left:10px;
                            -webkit-filter:inherit;
                            filter:inherit;
                        }
                        .model {
                            padding-left:86px;
                            .name {
                                color:#da0f47;
                                font-weight:700;
                            }
                        }
                    }
                }
                // &:first-child {
                //     margin-left:0;
                // }
                > a {
                    display:table;
                    position:relative;
                    width:100%;
                    height:112px;
                    padding:0 12px;
                    border-radius:8px;
                    box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
                    font-size:16px;
                    font-weight:normal;
                    line-height:26px;
                    text-align:left;
                    @include mobile {
                        height:104px;
                        box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.14);
                    }
                    .thumb {
                        position:absolute;
                        top:50%;
                        left:12px;
                        width:80px;
                        height:80px;
                        margin-top:-40px;
                        vertical-align:middle;
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                    }
                    .model {
                        display:table-cell;
                        padding-left:88px;
                        font-size:16px;
                        vertical-align:middle;
                        .name {
                            display: -webkit-box;
                            -webkit-line-clamp:2;
                            -webkit-box-orient: vertical;
                            max-height:52px;
                            padding-left:8px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space:initial;
                        }
                    }
                }
            }
        }
    }
    .prod-spec-wrap {
        position:relative;
        .box {
            // margin-top:8px;
            padding:48px 0 80px;
            // border-radius:4px;
            border-top:1px solid #ddd;
            background:#fff;
            @include mobile {
                margin-top:0;
                padding:32px 16px 60px;
                border-radius:0;
            }
            &:first-child {
                margin-top:0;
                padding-top:88px;
                border-top:none;
                @include mobile {
                    padding-top:8px;
                }
            }
            .tit {
                color:#000;
                font-size:24px;
                line-height:34px;
                font-weight:700;
                @include mobile {
                    font-size:20px;
                    line-height:28px;
                }
            }
            .prod-img {
                // margin-top:16px;
                // margin-bottom:36px;
                padding-bottom:80px;
                text-align:center;
                @include mobile {
                    padding-bottom:60px;
                }
                > span {
                    &.mob {
                        display:none;
                        @include mobile {
                            display:block;
                        }
                    }
                    &.pc {
                        display:block;
                        @include mobile {
                            display:none;
                        }
                    }
                }
            }
            .spec-info-list {
                margin-top:24px;
                overflow:hidden;
                // @include mobile {
                //     margin-top:20px;
                // }
                ul {
                    margin:-32px -18px 0;
                    font-size:0;
                    @include mobile {
                        margin:-18px -10px 0;
                    }
                    li {
                        display:inline-block;
                        width:calc(100% / 3);
                        margin-top:32px;
                        padding:0 18px;
                        vertical-align:top;
                        &:first-child:nth-last-child(1) {
                            width:67%;
                            @include mobile {
                                width:100%;
                            }
                        }
                        @include mobile {
                            width:auto;
                            min-width:50%;
                            max-width:100%;
                            margin-top:18px;
                            padding:0 10px;
                        }
                        dl {
                            dt {
                                color:#666;
                                font-size:14px;
                                font-weight:500;
                                line-height:21px;
                                @include mobile {
                                    font-size:13px;
                                    line-height:21px;
                                }
                            }
                            dd {
                                margin-top:2px;
                                color:#000;
                                font-size:16px;
                                font-weight:700;
                                line-height:26px;
                                @include mobile {
                                    margin-top:2px;
                                    font-size:14px;
                                    line-height:22px;
                                }
                                .specs {
                                    display:inline-block;
                                    font-size:0;
                                    vertical-align:top;
                                    &:after {
                                        content:'';
                                        display:inline-block;
                                        font-size:16px;
                                        line-height:24px;
                                        vertical-align:top;
                                    }
                                    &.on::after {
                                        content:'O';
                                    }
                                    &.off::after {
                                        content:'X';
                                    }
                                }
                            }
                        }
                    }
                }
                &.big {
                    ul {
                        margin:-16px 0 0;
                        li {
                            position:relative;
                            width:100%;
                            margin-top:16px;
                            padding:0 12px;
                            color:#000;
                            font-size:16px;
                            line-height:26px;
                            &:before {
                                content:' ';
                                display:block;
                                position:absolute;
                                top:12px;
                                left:0;
                                width:3px;
                                height:3px;
                                border-radius:50%;
                                background-color:#222;
                                vertical-align:middle;
                            }
                            dl {
                                dd {
                                    font-size:20px;
                                    line-height:30px;
                                    font-weight:700;
                                }
                            }
                        }
                        @include mobile {
                            margin:0;
                            li {
                                display:block;
                                width:100%;
                                margin-top:12px;
                                &:before {
                                    width:2px;
                                    height:2px;
                                }
                                &:first-child {
                                    margin-top:0;
                                }
                            }
                        }
                    }
                }
            }
            .btn_collapse_more {
                // margin-bottom:-48px;
                padding:80px 0 0;
                text-align:center;
                @include mobile {
                    // margin-bottom:-40px;
                    padding-top:30px;
                }
                a {
                    display:block;
                    width:120px;
                    height:40px;
                    margin:0 auto;
                    padding:0 14px;
                    border-radius:20px;
                    border:1px solid #000;
                    font-size:14px;
                    line-height:34px;
                    > span {
                        display:inline-block;
                        vertical-align:middle;
                    }
                    &:before {
                        content:' ';
                        display:inline-block;
                        width:16px;
                        height:16px;
                        margin-top:1px;
                        margin-right:4px;
                        background:url('/lg5-common/images/icons/btn-plus-16.svg') no-repeat 0 0;
                        vertical-align:middle;
                    }
                    &.open {
                        //width:134px;
                        &:before {
                            transform:rotate(45deg);
                        }
                    }
                }
                a:nth-child(2){
                    display:none;
                }
            }
        }
        .prod-print {
            position:absolute;
            top:40px;
            right:0;
            @include mobile {
                display:none;
            }
            button {
                position:relative;
                font-size:14px;
                line-height:24px;
                &:before {
                    content:' ';
                    display:inline-block;
                    width:24px;
                    height:24px;
                    margin-right:4px;
                    background:url('/lg5-common/images/KRP0010/icon-print.svg') no-repeat 0 0;
                    vertical-align:middle;
                }
            }
        }
        .prod-spec-detail {
            display:none;
            &.open {
                display:block;
            }
            .box:first-child {
                padding-top:48px;
                border-top:1px solid #ddd;
                @include mobile {
                    padding-top:40px;
                }
            }
        }
    }

}

.sar-popup {
    .input-keyword-wrap {
        margin-bottom: 48px;
        padding-top: 0;
    }
    @include mobile {
        .pop-conts {
            padding-top: 84px;
        }
        .input-keyword-wrap {
            margin-bottom: 32px;
        }
    }
    .input-keyword {
        max-width: 443px;
        .sch-input-wrap .input-sch {
            input.txt {
                height: 48px;
                padding: 0 96px 0 24px;
                border-bottom: 0;
                border-radius: 24px;
                box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
                font-weight: 400;
                @include font-medium;
            }
            .btn-search {
                right: 24px;
            }
            .btn-delete {
                right: 60px;
            }
        }
    }
    @include mobile {
        .tb-scroll {
            overflow-x: auto;
            margin: 0;
            padding: 0;
            table {
                min-width: 514px;
            }
        }
    }
    .result-wrap {
        .empty-row {
            display: none;
        }
    }
    .sar-summary {
        margin-top: 80px;
        padding: 32px 40px;
        border-radius: 8px;
        background-color: $color-bg;
        text-align: center;
        dt {
            margin-bottom: 8px;
            font-weight: 700;
            @include font-medium;
        }
        dd {
            @include font-medium;
        }
        @include mobile {
            margin-top: 60px;
        }
    }
    .sar-info-area {
        .input-info {
            margin-top: 48px;
        }
        .tit-wrap {
            padding-bottom: 16px;
            .h2-tit {
                @include font-medium;
            }
        }
        .cont-box {
            overflow-y: auto;
            height: auto;
            max-height: 160px;
            padding: 24px;
            border: 1px solid #ddd;
            border-radius: 8px;
            dl:not(:first-child) {
                margin-top: 32px;
            }
            dt {
                margin-bottom: 24px;
                @include font-small;
                &:before {
                    display: inline-block;
                    width: 2px;
                    height: 10px;
                    margin-right: 5px;
                    background-color: $color-default;
                    vertical-align: 1px;
                    content: '';
                }
            }
            dd {
                @include font-small;
                color: $color-gray-1;
            }
        }
        @include mobile {
            .input-info {
                margin-top: 40px;
            }
            .tit-wrap {
                padding-bottom: 12px;
            }
            .cont-box {
                padding: 12px 16px;
            }
        }
    }
}