@charset "UTF-8";

@import "../components-app";

.component.KRP0023 {
	
	 .component-inner {
		max-width: calc(1146px + 80px);
		padding: 0 40px;
		@include mobile {
			padding: 0 16px;
		}
	}
	.tag-list {
		max-width: 1460px;
		margin: -12px auto 0;
		font-size: 0;
		text-align: center;

		.hashtag {
			display: inline-block;
			margin-right: 8px;
			margin-top: 12px;
			padding: 8px 16px;
			border: 1px solid $color-border;
			border-radius: 8px;
			@include font-medium;
			color: $color-default;
			@include mobile {
				@include font-small;
			}
		}
	}
}
