@charset "UTF-8";

@import "../components-app";


.KRP0009 {
    margin:0 auto;
    @include clearfix;
    .cate-wrap {      
        height:102px;
        padding:24px 0 0;
        background:#fff;
        border-bottom: 8px solid #f4f4f4;
        @include mobile {
            height:90px;
            padding:16px 0;
            border-bottom: 12px solid #f4f4f4;
        }
        .cate-list {
            position: relative;          
            @include clearfix;
            max-width:1460px;
            margin:0 auto;
            padding: 0 40px;
            @include mobile {
                display: flex;
                align-items: flex-start;
                padding: 0 20px;
            }
            .chk-cate {
                 .chk-wrap input:checked+label {
                    background:#ededed;
                    border-radius:28px;
                    white-space:nowrap;
                    overflow:hidden;
                }
                .chk-wrap input+label {
                    padding:6px 12px;
                    color:#222;
                    font-weight:$font-weight-bold;
                    @include font-large-1;
                    line-height:34px;
                    @media screen and (max-width: 1024px) {
                        @include font-large-2;
                    }

                    @include mobile {
                        padding:12px 16px;
                        font-size: 13px;
                        line-height: 21px;
                    }
                    &:before {
                        display:none;
                    }
                    &:after {
                        display:none;
                    }
                }
            }
            .fixed-tab-wrap {
                padding: 0 70px;
                @media screen and (max-width: 1024px) {
                    padding: 0;
                    overflow: hidden;
                }
                .cate-scroll-wrap {
                    position: relative;
                    .tabs {
                        white-space: nowrap;
                        font-size: 0;
                        margin-left: -8px;
                        @media screen and (max-width: 1024px) {
                            &:before {
                                display: inline-block;
                                content: '';
                                width: 52px;
                                height: 32px;
                                
                            }
                        }    
                        > li {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 16px;
                            padding-left: 16px;
                            &:first-child {
                                margin-left: 0;
                                padding-left: 0;
                            }
                            @include mobile {
                                margin: 0;
                                padding: 0;
                                &:first-child {
                                    margin: 0 8px;
                                    padding: 0;
                                }
                                margin: 0 8px;
                            }
                        }
                    }
                }
                .scroll-controls {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    max-width: 100%;
                    margin-top: -28px;
                    transform: translateX(-50%);
                    z-index: 10;
                    @media screen and (max-width: 1024px) {
                        display: none;
                    }
                    .btn-arrow {
                        position: absolute;
                        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);
                    }
                    .prev {
                        left: -70px;
                    }
                    .next {
                        right: -70px;
                    }
                }
            }
            .mobile-more-btn {
                display: none;
                position: absolute;
                top: 0;
                right: 16px;
                height: 100%;
                background-color: #fff;
                a {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    margin-top: 6px;
                    background: #fff url('/lg5-common/images/icons/btn-arrow-down.svg') no-repeat;
                    background-size: 32px 32px;
                }
                &::before {
                    display: inline-block;
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    right: 32px;
                    width: 40px;
                    height: 100%;
                    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
                }
                @media screen and (max-width: 1024px) {
                    display: block;
                }
            }
        }
        @media screen and (max-width: 1024px) {
            &.open {
                height: auto;
                .cate-list {
                    display: block;
                    padding-right: 52px;
                    .fixed-tab-wrap.chk-cate {
                        .cate-scroll-wrap {
                            .tabs {
                                display: block;
                                width: auto !important;
                                white-space: normal;
                                overflow:visible;
                                text-align: left;
                                .chk-wrap {
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                    
                    .mobile-more-btn {
                        height: auto;
                        &::before {
                            display: none;
                        }
                        a {
                            background: #fff url('/lg5-common/images/icons/btn-arrow-up.svg') no-repeat;
                        }
                    }
                }
            }
        }
    }

    .plp-list-wrap {
        max-width:1380px + 80;
        margin:0 auto;
        padding: 0 40px;
        @include clearfix;

        @include mobile {
            max-width: 100%;
            padding: 0 20px 50px;

        }
        .lay-filter {
            .plp-filter-wrap {
                .btn-reset {
                    margin:23px 0 12px;
                }
                .btn-visit {
                    margin-top:16px;
                    text-align:center;
                    .btn-text {
                        text-decoration:underline;
                    }
                }
            }
        }

        .product-list-area {
            float: left;
            @include calc(width,100%,240px);
            max-width: (372px * 3) + 24px;
            margin: 0 auto;
            @media screen and (max-width: $tablet-l-width) {
                float: none;
                width: 100%;
                max-width: 100%;
            }

            .pagination {
                padding-top: 36px;
            }
            .read-more-area {
                padding-top: 40px;
                text-align: center;
                .read-more {
                    font-weight: 500;
                    @include font-small;
                    &:after {
                        display: block;
                        width: 100%;
                        height: 32px;
                        margin-top: 6px;
                        background: url("/lg5-common/images/icons/btn-arr2-32x32.svg") no-repeat center 0;
                        content: '';
                    }
                }

                @include mobile {
                    padding-top: 18px;
                    .read-more {
                        padding: 10px 0;
                        font-weight: 500;
                        @include font-small;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

