@charset "UTF-8";

@import "../components-app";


.KRP0037 {
  .cont-wrap {
    padding: 0 40px;
    @include mobile {
        padding: 0;
    }
  }  
  .list-sorting {
    @include mobile {
        margin-bottom: 12px;
        padding: 0 16px;
   }
  }
  .story-video-wrap {
     display: flex;
     @include mobile {
         display: block;
     }
    .video-wrap {
       flex: 1;
       @include mobile {
            padding: 0 16px;
            border-bottom: 12px solid #f4f4f4;
       }
       .video-inner {
           @include mobile {
               &.fixed {
                   position: fixed;
                   top: 0;
                   left: 0;
                   padding: 16px;
                   background: #fff;
                   box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.15);
                   z-index: 101;
               }
           }
       }
    }
    .video-list-wrap {
        width: 351px;
        padding-left: 24px;
        overflow: hidden;
        @include mobile {
            width: 100%;
            margin-top: 24px;
            padding-left: 0;
            padding: 0 16px;
            .tabs {
                padding: 0;
            }
        }

        .tabs-wrap {
            margin-bottom: 30px;
        }
        .tabs-cont {
            height: 865px;
            overflow-y: auto;
            @include mobile {
                height: auto;
                overflow-y: visible;
            }
        }
        .video-list {
            li {
                > a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 24px;
                    @include mobile {
                        display: block;
                    }
                }
                .thumb {
                    display: inline-block;
                    width: 119px;
                    height: 68px;
                    @include mobile {
                        width: 100%;
                        height: auto;
                        margin-bottom: 12px;
                    }
                    img {
                        width: 100%;
                    }
                    
                }
                .tit {
                    flex: 1;
                    span {
                        display: -webkit-box;
                        max-height: 48px;
                        padding-left: 16px;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        @include font-medium;
                        font-weight: 500;
                        @include mobile {
                            max-height: 52px;
                            padding-left: 0;
                            @include font-large;
                        }

                    }
                    
                }
            }
        }
    }

    .visual-area {
        position: relative;
        &.animation-box {
            font-size: 0;
            img {
                max-width: 100%;
            }
        }
        .visual-box {
            position: relative;
            img {
                width:100%;
            }
        }
        .video-container {
            position: relative;
            button.see-video {
                border-radius:50% 50%;
                position: absolute;
                top:0; bottom:0; left: 0; right: 0;
                margin: auto;
                width:64px;
                height:64px;
                background: url('/lg5-common/images/btn-video-play.svg') no-repeat 0 0;
                background-size:100% 100%;
                //background-color:rgba(0,0,0,.25);
                color:transparent;
                text-indent:-9999px;
                overflow: hidden;
                border:none;
                @include mobile {
                    width:48px;
                    height:48px;
                }
            }
            .video-asset {
                /* PJTWAUS-1 20200115 modify **/
                .change-video, .acc-change-video {
                    top:62px;
                }
                /* //PJTWAUS-1 20200115 modify **/
            }
            /* PJTWAUS-1 20200115 modify */
            .acc-video-content {
                position:absolute;
                top:20px;
                right:20px;
                width:36px;
                height:36px;
                overflow:hidden;			
                text-indent:2000%;
                white-space:nowrap;	
                @include mobile {
                    width:29px;
                    height:29px;
                }			
                &:before {
                    content:'';
                    display:inline-block;
                    position:absolute;
                    top:0;
                    right:0;
                    left:inherit;					
                    width:36px;
                    height:36px;
                    margin:0;
                    //background:url('/lg5-common/images/components/ico_AD-on.svg');
                    background-size:36px 36px; 	
                    border-radius:inherit;
                    @include mobile {
                        width:29px;
                        height:29px;
                        background-size:29px 29px;
                    }
                }			
            }
        }
    }

    .video-info {
        margin-top: 22px;
        @include mobile {
            margin-top: 24px;
            margin-bottom: 50px;
        }
        .btn-area {
            clear: both;
            display: flex;
            align-items: flex-end;
            //height: 74px;
            margin-bottom: 18px;
            @include mobile {
                height: auto;
                margin-bottom: 20px;
            }
            .btn-wrap {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                //width: 100%;
                padding: 5px 16px;
                border-radius: 16px;
                border: 1px solid #222;  
                .btn-text {
                    flex: 1;
                    display: -webkit-box;
                    max-height: 48px;
                    text-overflow:ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow:hidden;
                    @include font-small;
                    text-decoration: none;
                    @include mobile {
                        max-height: 42px;
                    }
                }
                .btn-more {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    background: url(/lg5-common/images/icons/icon-plus-40.svg) center no-repeat;
                    background-size: 20px 20px; 
                }
            }
        }
        .tit-area {
            position: relative;
            padding-bottom: 16px;
            @include mobile {
                padding-bottom: 21px;
            }
            .tit {
                margin-bottom: 8px;
                padding-right: 50px;
                @include font-large-2;
                font-weight: 700;
                @include mobile {
                    margin-bottom: 15px;
                    padding-right: 0;
                }
            }
            .date {
                @include font-medium; 
                @include mobile {
                    padding-right: 50px;
                }
            }
            .share-area {
                position: absolute;
                top: 0;
                right: 0;
                @include mobile {
                    top: auto;
                    bottom: 21px;
                }
            }
        }
        .desc {
            position: relative;
            margin-bottom: 16px;
            padding: 32px 0;
            border-top: 1px solid #ddd;
            @include mobile {
                margin-bottom: 10px;
                padding: 24px 0;
            }
            .inner {
                height: 154px;
                @include font-medium;
                overflow-y: auto;
                @include mobile {
                    height: 44px;
                    padding-right: 36px;
                    overflow: hidden;
                }
            }
            .more-btn {
                display: none;
                position: absolute;
                top: 24px;
                right: 0;
                width: 24px;
                height: 24px;
                background: url(/lg5-common/images/icons/btn-arrow-down.svg) 0 0 no-repeat;
                @include mobile {
                    display: block;
                    
                }
            }
            &.open {
                .inner {
                    height: auto;
                }
                .more-btn {
                    background: url(/lg5-common/images/icons/btn-arrow-up.svg) 0 0 no-repeat;
                }
            }
            
        }
        .hashtag-area {
            .tag-list {
                max-width: 1460px;
                margin: -12px auto 0;
                font-size: 0;
        
                .hashtag {
                    display: inline-block;
                    margin-right: 8px;
                    margin-top: 12px;
                    padding: 8px 16px;
                    border: 1px solid $color-border;
                    border-radius: 8px;
                    @include font-medium;
                    color: $color-default;
                    @include mobile {
                        @include font-small;
                    }
                }
                
                @include mobile {
                    /*padding: 10px 0;
                    white-space: nowrap;
                    overflow-x: auto;*/
                }
            }

        }
        &.align-left {}
        &.align-right {
            .btn-area,
            .tit-area,
            .desc .inner {
                text-align: right;
            }
        }
        &.align-center {
            .btn-area,
            .tit-area,
            .desc .inner {
                text-align: center;
            }
        }
    }
  }
}
