@charset "UTF-8";

@import "../components-app";


.KRP0007 {
    margin:0 auto;
    @include clearfix;
    .cate-wrap {
        background:#fff;
        //height:102px;
        //padding:45px 0 21px;
        //border-bottom: 8px solid #f4f4f4;
        //@include tablet {
            //min-height: 76px;
            //border-bottom: 1px solid $color-border;
        //}
        //@include mobile {
        //    min-height: 65px;
        //    height: auto;
        //    padding: 24px 0 12px;
        //}
        .cate-list {
            position: relative;          
            @include clearfix;
            max-width:1460px;
            margin:0 auto;
            padding: 0 40px;
            @include mobile {
                display: flex;
                align-items: flex-start;
                padding: 0;
            }
            .chk-cate {
                 .rdo-wrap input:checked+label {
                    background:#e4e4e4;
                    border-radius:25px;
                    white-space:nowrap;
                    overflow:hidden;
                }
                .rdo-wrap input+label {
                    padding:8px 16px;
                    color:#000;
                    font-weight:700;
                    font-size: $font-large;
                    line-height: 28px;
                    //@media screen and (max-width: 1024px) {
                    //    @include font-large-2;
                    //}
                    /* BTOCSITE-2785 : 2021-07-14 add */ 
                    &:hover {
                        background:#e4e4e4;
                        border-radius:25px;
                    }
                    /* //BTOCSITE-2785 : 2021-07-14 add */ 

                    @include mobile {
                        padding:8px 12px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    &:before {
                        display:none;
                    }
                    &:after {
                        display:none;
                    }
                }
            }
            .fixed-tab-wrap {
                //padding: 0 67px;
                padding: 13px 0;
                border-bottom: 1px solid $color-border;
                @include tablet {
                    //padding: 0;
                    overflow: hidden;
                    padding-left: 32px;
                    border-bottom: 0;
                    &:after {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 40px;
                        width: 16px;
                        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
                        content: '';
                    }
                }
                @include mobile {
                    padding: 9px 0 9px 48px;
                    &:after {
                        right: 0;
                    }
                }
                .cate-scroll-wrap {
                    position: relative;
                    text-align: center;
                    .tabs {
                        display: inline-block;
                        padding:3px 16px 3px 15px;
                        white-space: nowrap;
                        font-size: 0;
                        vertical-align: top;
                        @media screen and (min-width: $tablet-s-width + 1) {
                            padding:3px 0 3px 24px;
                        }
                        //@media screen and (max-width: 1024px) {
                        //    &:before {
                        //        display: inline-block;
                        //        content: '';
                        //        width: 52px;
                        //        height: 32px;
                        //        margin-left: -8px;
                        //    }
                        //}
                        > li {
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            margin-left: 8px;
                            &:first-child {
                                margin-left: 0;
                            }
                            //@include mobile {
                            //    margin: 0 8px;
                            //    padding: 0;
                            //    &:first-child {
                            //        margin: 0 8px;
                            //        padding: 0;
                            //    }
                            //}
                        }
                    }
                }
                .scroll-controls {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    max-width: 100%;
                    margin-top: -24px;
                    transform: translateX(-50%);
                    z-index: 10;
                    .btn-arrow {
                        position: absolute;
                        //box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);
                    }
                    .prev {
                        left: 0;
                    }
                    .next {
                        right: 0;
                    }
                    @include tablet {
                        display: none !important;
                    }
                }
            }
            .mobile-more-btn {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                width: 48px;
                height: 76px;
                //margin-top: -16px;
                background-color: #fff;
                @include mobile {
                    height: 64px;
                }
                a {
                    position: absolute;
                    top: 50%;
                    right: 16px;
                    width: 32px;
                    height: 32px;
                    margin-top: -16px;
                    background: #fff url('/lg5-common/images/icons/btn-arr-down-64.svg') no-repeat left center;
                    background-size: 32px 32px;
                }
                &:before {
                    display: inline-block;
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 48px;
                    width: 32px;
                    height: 100%;
                    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
                }
                //@media screen and (max-width: 1024px) {
                //    display: block;
                //}
            }
        }
        @media screen and (max-width: 1024px) {
            &.open {
                height: auto;
                .cate-list {
                    display: block;
                    padding-right: 52px;
                    .fixed-tab-wrap.chk-cate {
                        .cate-scroll-wrap {
                            .tabs {
                                display: block;
                                width: auto !important;
                                white-space: normal;
                                overflow:visible;
                                text-align: left;
                                .rdo-wrap {
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                    
                    .mobile-more-btn {
                        &::before {
                            display: none;
                        }
                        a {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }
    }

    /* BTOCSITE-2785 : 2021-07-14 add */ 
    .KRP0007-product {
        margin-bottom: 48px;
        max-width: 1460px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 40px;
        .productGlossary {
            display: none;
            position: relative;
            padding: 20px 0;
            border-bottom: 1px solid #ddd;
            .productGlo-cont {
                position: relative;
                h3 {
                    font-size: 18px;
                    margin-bottom: 12px;
                }
                p {
                    font-size: 16px;
                    color: #666;
                    line-height: 26px;
                    margin-bottom: 10px;
                }
                .btn-link {
                    font-size: 13px;
                }
            }
            button {
                position: absolute;
                top: 15px;
                right: 10px;
                &.btn-close {
                    width: 24px;
                    height: 24px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 24px;
                        height: 24px;
                        background: url(/lg5-common/images/icons/btn-close-32.svg) no-repeat;
                        background-size: 24px;
                    }
                }
            }
        }
        @include mobile {
            margin-bottom: 40px;
            text-align: left;
            padding: 0;
                
            .productGlossary {
                padding: 15px;
                .productGlo-cont {
                    h3 {
                        font-size: 15px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 13px;
                        line-height: 21px;
                    }
                }
                button {
                    top: 10px;
                    right: 15px;
                    &.btn-close {
                        width: 24px;
                        height: 24px;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 24px;
                            height: 24px;
                            background: url(/lg5-common/images/icons/btn-close-32.svg) no-repeat;
                            background-size: 24px;
                        }
                    }
                }
            }
        }
    }
    /* //BTOCSITE-2785 : 2021-07-14 add */

    .plp-list-wrap {
        max-width:1380px + 80;
        margin:48px auto 0;
        padding: 0 40px;
        
        
        
        @include clearfix;

        @include mobile {
            max-width: 100%;
            margin-top: 40px;
            padding: 0 16px 50px; 
        }
        .lay-filter {
            margin-top:0;
            .filter-head {
                //display:block;
                //position:static;
                //height:auto;
                //padding:0;
                //@include mobile {
                //    position:fixed;
                //    height:75px;
                //    padding:0 16px;
                //}
                //.tit {
                //    padding:0 0 12px;
                //    @include mobile {
                //        padding-top:24px;
                //        font-size:18px;
                //        font-weight:700;
                //        line-height:27px;
                //    }
                //}
            }
            .plp-filter-wrap {
                .btn-reset {
                    margin:23px 0 12px;
                    text-align: right;
                }
                .btn-visit {
                    margin-top:16px;
                    text-align:center;
                    .btn-text {
                        text-decoration:underline;
                    }
                }
            }
        }

        .mobile-service-link {
            display: none;
        }
        @media screen and (max-width: 1024px) {
            .mobile-service-link {
                //display: block;
                display:none;   // BTOCSITE-2150 add
                margin-top: 30px;
                text-align: center;
                li {
                    margin-top: 8px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                .btn-text {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    min-height: 72px;
                    padding: 24px 16px 24px 20px;
                    background-color: #f4f4f4;
                    border-radius: 8px;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 700;
                    span {
                        padding-right: 12px;
                        text-align: left;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .product-list-area {
            float: left;
            @include calc(width,100%,240px);
            max-width: (372px * 3) + 24px;
            margin: 0 auto;
            @media screen and (max-width: $tablet-l-width) {
                float: none;
                width: 100%;
                max-width: 100%;
            }

            // 부트스트랩 충돌 이슈로 추가
            .product-items {
                .item {
                    .badge {
                        padding: 0;
                    }
                    .btn {
                        padding:8px 0 !important;
                        border-color: $color-default !important;
                        color:#000;
                        font-size:14px;
                        line-height:24px;
                        &:hover,
                        &:focus {
                            border-color: $color-primary !important;
                        }
                        @include mobile {
                            padding:11px 30px;
                            font-size:13px;
                            line-height:21px;
                        }
                    }
                }
            }
            // 부트스트랩 충돌 이슈로 추가 end

            .pagination {
                padding-top: 36px;
            }
            .read-more-area {
                margin-top: 36px;
                text-align: center;
                .read-more {
                    display: none;  //기본 display:none
                    padding: 7px 16px;
                    border: 1px solid $color-default;
                    border-radius: 100px;
                    font-weight: 500;
                    @include font-small;
                    &:before {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        margin-right: 4px;
                        background: url("/lg5-common/images/icons/btn-plus-16.svg") no-repeat 0 0;
                        vertical-align: -2px;
                        content: '';
                    }
                }

                @include mobile {
                    margin-top: 20px;
                }
            }

            /* <!-- 20210820 BTOCSITE-4226 뱃지 생성 및 적용 요청 */
            .flag-wrap{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                &.bar-type {
                    .flag {
                        margin-right: 10px;
                        position: relative;
                        &:last-child { margin:0; }
                        &::before {
                            position: absolute;
                            top: 7px;
                            left: -5px;
                            margin: 0;
                        }
                        
                        &.cardDiscount,
                        &.box { 
                            background-color: #da0f4d;
                            font-weight: 500;
                            color: #fff;
                            padding: 0 5px;
                            border-radius: 2px;
                            height: 18px;
                            margin-top:3px;
                            margin-bottom:4px;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
            /* 20210820 BTOCSITE-4226 뱃지 생성 및 적용 요청 //--> */

            
        }
    }
}

/* BTOCSITE-9186 */
.product-list-area{
    position: relative;
    .btn-inchGuide{
        position:absolute;
        right: 96px;
        top:-4px;
        height: 30px;
        line-height: 22px;
        font-size:14px;
        font-weight: 400;
        padding-left:12px !important;
        padding-right:12px !important;
        @include mobile {
            height: 34px;
            line-height: 22px;
            font-size:13px;
            padding-left:16px !important;
            padding-right:16px !important;
            top:-8px;
        }
    }
}
.popup-inch-guide{
    max-width: 444px;
    iframe{
        min-height: 554px;
        @include mobile{
            height: 100%;
        }
    }
}
/* // BTOCSITE-9186 */