@charset "UTF-8";
@import "_components";

.KRP0014 {
    padding:0 40px;
    @include mobile {
        padding:0;
    }
    .inner {
        max-width:1146px;
        margin:0 auto;
        @include mobile {
            padding-top:12px;
        }
    }
    .title {
        margin-bottom:34px;
        text-align: center;
        @include mobile {
            margin-bottom:32px;
        }
        h1, h2, h3, h4, h5, h6 {
            color:#000;
            font-size:32px;
            line-height:52px;
            font-weight:700;
        }
        .sub-tit {
            margin-top:12px;
            color:#000;
            font-size:14px;
            line-height:20px;
        }
        @include mobile {
            padding:0 20px;
            h1, h2, h3, h4, h5, h6 {
                margin-bottom:16px;
                font-size:24px;
                line-height:33px;
            }
        }
    }
    .accordion-wrap {
        border-top:2px solid #222;
        @include mobile {
            margin:0 16px;
        }
        &.faq-type > ul > .lists {
            margin-top:0;
            border-bottom:1px solid #ddd;;
            border-radius:0;
            &:first-child {
                border-top:1px solid #ddd;
            }
            &.on {
                background-color:#f4f4f4;
                box-shadow:none;
                .que {
                    color:#ec455a;
                }
                .accord-btn:after {
                    transform:rotate(270deg) !important;
                }
            }
        }
        &.faq-type > ul > .lists .head .accord-btn {
            padding:25px 136px 25px 72px;
            @include mobile {
                padding:16px 44px 16px 36px;
            }
            &:after {
                right:48px;
                width:24px;
                height:24px;
                margin-top:-12px;
                background:url('/lg5-common/images/icons/btn-arr-24x24-black.svg') no-repeat 0 0;
                border:none;
                transform:rotate(90deg);
                @include mobile {
                    top:16px;
                    right:12px;
                    width:16px;
                    height:16px;
                    margin-top:0;
                    background-size:16px 16px;
                }
            }
            .que {
                position:absolute; top:50%; left:24px;
                font-size:18px;
                font-weight:bold;
                transform:translateY(-50%);
                @include mobile {
                    top:21px;
                    left:12px;
                    font-size:15px;
                    transform:translateY(0);
                }
            }
            .title {
                margin-bottom:0;
                font-weight:500;
                @include mobile {
                    padding:0;
                }
            }
        }
        &.faq-type > ul > .lists .accord-cont {
            padding:0 72px 48px;
            @include mobile {
                padding:0 44px 32px 36px;
            }
        }
    }
}
