@charset "UTF-8";

@import "../components-app";

.KRP0025 {
	.component-inner {
		padding:0;
	}
	.slide-wrap {
		position:relative;
		max-width:1290px + 32px + 28px + 28px;
		padding:0 28px;
		@include mobile {
			padding: 0 12px 24px;
		}
		.slide-content {
			max-width:1146px + 24px;
			margin:0 auto;
		}
		.slide-conts {
			float:left;
			width:50%;
			padding: 8px 12px 16px;
			@include mobile {
				padding: 4px 6px 16px;
			}
		}

		.slide-controls {
			position:absolute;
			left:0;
			right:0;
			top:50%;
			transform:translateY(-50%);
			.btn-arrow {
				position:absolute;
			}
			.btn-arrow.prev {
				left: 16px;
				@include mobile {
					left:4px;
				}
			}
			.btn-arrow.next {
				right: 16px;
				@include mobile {
					right:4px;
				}
			}
		}
		
	}
	.indi-wrap {
		display: none;
	}
	@include mobile {
		.indi-wrap {
			display: block;
		}
	}
	
	
	.recommend-story-tag-wrap {
		border-radius: 8px;
		box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
		@include mobile {
			box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.14);			
		}
		.inner {
			position: relative;
		}
		.recommend-visual {
			max-width: 100%;
			border-radius: 8px;
			img {
				max-width: 100%;
				border-radius: 12px;
			}
		}
		.recommend-info {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			//margin-left: -100%;
			padding: 32px;
			color: #fff;
			.hashtag-list {
				margin-bottom: 4px;
				.hashtag {
					display: inline-block;
					position: relative;
					padding: 6px 12px;
					@include font-x-small;
					font-weight: $font-weight-medium;
					@include mobile {
						font-size: 14px;
						line-height: 14px;
					}
					&:before {
						display: inline-block;
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 4px;
						border: 1px solid $color-border;
						opacity: 0.4;
					}
					
				}
			}
			.info-title {
				display: -webkit-box;
				max-height: 68px;
				margin-bottom: 12px;
				text-overflow:ellipsis;
				-webkit-line-clamp: 2;
            	-webkit-box-orient: vertical;
				@include font-large-2;
				font-weight: $font-weight-bold;
				overflow:hidden;
				@include mobile {
					margin-bottom: 8px;
				}
			}
			.date {
				@include font-medium;
				font-weight: $font-weight-medium;
			}
			&.align-left {}
			&.align-right {
				.hashtag-list,
				.info-title,
				.date {
					text-align: right;
				}
			}
			&.align-center {
				.hashtag-list,
				.info-title,
				.date {
					text-align: center;
				}
			}
		}
		

	}
}
