@charset "UTF-8";

@import "../components-app";

.KRP0043 {
	.product-area + .product-area {
		margin-top:40px;
	}
	.heading-box {
		display:flex;
    	justify-content:space-between;
		.title {
			h2 {
				font-size:20px;
				font-weight:700;
				line-height:30px;
			}
			p {
				margin-top:4px;
				color:#616161;
				font-size:14px;
				line-height:20px;
			}
		}
		.search {
			width:412px;
			.input-wrap {
				display:block;
				position:relative;
				.box {
					width:100%;
					.cell {
						width:1%;
						font-size:0;
						white-space:nowrap;
					}
				}
				button {
					width:24px;
					height:24px;
					background-size:100%;
					background-repeat:no-repeat;
				}
				.btn-del {
					margin-right:8px;
					background-image:url('/lg5-common/images/icons/icon-delete.svg');
				}
				.btn-search {
					background-image:url('/lg5-common/images/icons/icon-search2.svg');
				}
			}
		}
		@include mobile {
			display:block;
			.title {
				h2 {
					font-size:18px;
					line-height:26px;
				}
				p {
					font-size:14px;
					line-height:18px;
				}
			}
			.search {
				width:100%;
				margin-top:12px;
			}
		}
	}
	.result-wrap {		
		margin-top:16px;
		padding:32px 0;
		border:1px solid #ddd;
		border-width:1px 0;	
		.list-wrap {
			overflow-y:auto;
			height:104px;
			.product-list {
				margin:-16px 0 0 0;
				font-size:0;
				li {
					display:inline-block;
					width:20%;
					margin-top:16px;
					padding:0 16px;
					color:#616161;
					font-size:16px;
					line-height:24px;
					vertical-align:top;
				}
			}
		}
		.no-data {
			display:none;
			padding:0;
		}
		@include tablet {
			.list-wrap {
				.product-list {
					li {
						width:25%;
					}
				}
			}
		}
		@include mobile {
			margin-top:20px;
			padding:16px 0;
			.list-wrap {
				height:84px;
				.product-list {
					li {
						width:50%;
						padding:0 6px;
						font-size:14px;
						line-height:18px;
					}
				}
			}
		}
	}
}
