<article id="@@popupID" class="popup-wrap wide">
    <header class="pop-header">
        <h1 class="tit"><span>반품신청</span></h1>
    </header>
    <!-- 210121 수정 -->
    <section class="pop-conts common-pop mypage no-footer">
    <!-- //210121 수정 -->
        <!-- 주문정보 -->
        <div class="sect-wrap">
            <div class="info-tbl-wrap">
                <!-- loop -->
                @@include('./common/modules/info-tbl-wrap-infos.html', {
                    "infos" : [
                        { "dt" : "주문일", "dd" : "2020.08.29" }
                    ],
                    "th" : [
                        "제품정보", "진행상태"
                    ]
                })
                @@loop('./common/modules/info-tbl-wrap-loop.html', [
                    {
                        "col1" : {
                            "blind" : "제품정보",
                            "productType" : {
                                "thumb" : "/lg5-common/images/dummy/@img-product.jpg",
                                "name" : "LG 디오스 상냉장하냉동",
                                "name2" : "OLED55BXPUA",
                                "more" : [
                                    "주요스펙1",
                                    "주요스펙2"
                                ],
                                "count" : true,
                                "price" : "1,760,000원"
                            }
                        },
                        "col2" : {
                            "blind" : "진행상태",
                            "stateType" : {
                                "tit" : "결제완료",
                                "desc" : "배송희망일 2020.09.18"
                            }
                        }
                    }
                ])
                @@include('./common/modules/info-tbl-wrap-bottom.html')
                <!-- // loop -->
            </div>
        </div>
        <!-- // 주문정보 -->

        <!-- 반품 정보 -->
        <!-- 210126 수정 -->
        <div class="sect-wrap cnt01">
        <!-- //210126 수정 -->
            <div class="tit-wrap">
                <h2 class="h2-tit">반품 정보</h2>
            </div>
            @@if ( !context.nonMembers ) {
            <div class="tb-scroll">
                <div class="tb_row tb-row-bl">
                    <table>
                        <caption>반품 정보를 제품금액, 할인 금액 합계, 반품 신청 금액 순으로 안내</caption>
                        <colgroup>
                            <col style="width:33.3%">
                            <col style="width:33.3%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">제품 금액</th>
                                <th scope="col">할인 금액 합계</th>
                                <th scope="col">반품 신청 금액</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5,300,000원</td>
                                <td>-159,000원</td>
                                <td><em class="bold black">5,141,000원</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            }  
            @@if ( context.nonMembers ) {
            <div class="tb-scroll">
                <div class="tb_row tb-row-bl">
                    <table>
                        <caption>반품 정보를 제품금액, 반품 신청 금액 순으로 안내</caption>
                        <colgroup>
                            <col style="width:50%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">제품 금액</th>
                                <th scope="col">반품 신청 금액</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5,300,000원</td>
                                <td><em class="bold black">5,300,000원</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            }
        </div>
        <!-- // 반품 정보 -->

        @@if ( !context.nonMembers ) {
        <!-- 반품 정보 : 멤버십 포인트 내역 있는 case -->
        <!-- 210126 수정 -->
        <div class="sect-wrap cnt01">
        <!-- //210126 수정 -->
            <div class="tit-wrap">
                <h2 class="h2-tit">반품 정보</h2>
            </div>
            <div class="tb-scroll">
                <div class="tb_row tb-row-bl">
                    <table>
                        <caption>반품 정보를 제품금액, 할인 금액 합계, 반품 신청 멤버십 포인트, 반품 신청 금액 순으로 안내</caption>
                        <colgroup>
                            <col style="width:25%">
                            <col style="width:25%">
                            <col style="width:25%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">제품 금액</th>
                                <th scope="col">할인 금액 합계</th>
                                <th scope="col">반품 신청 멤버십 포인트</th>
                                <th scope="col">반품 신청 금액</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5,300,000원</td>
                                <td>-159,000원</td>
                                <td>56,000원</td>
                                <td><em class="bold black">5,141,000원</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- // 반품 정보 : 멤버십 포인트 내역 있는 case -->
        }

        <!-- 반품 사유 -->
        <div class="sect-wrap">
            <div class="form-wrap mix-type">
                <!-- 반품사유 입력 -->
                <dl class="forms">
                    <dt class="tit"><label for="slt01" class="req">반품 사유<span class="blind">필수입력</span></label></dt>
                    <dd class="conts">
                        <div class="select-wrap half">
                            <select class="ui_selectbox" id="slt01">
                                <option value="" class="placeholder">반품 사유 선택</option>
                                <option value="구매의사 취소">구매의사 취소</option>
                                <option value="서비스 불만족">서비스 불만족</option>
                                <option value="다른 제품 잘못 주문">다른 제품 잘못 주문</option>
                                <option value="제품 색상 및 옵션 변경">제품 색상 및 옵션 변경</option>
                                <option value="배송 지연">배송 지연</option>
                                <option value="배송 누락">배송 누락</option>
                                <option value="배송 지 오류 오배송">배송 지 오류 오배송</option>
                                <option value="제품 정보 상이">제품 정보 상이</option>
                                <option value="제품 파손">제품 파손</option>
                                <option value="색상 및 옵션이 다른 제품 잘못 배송">색상 및 옵션이 다른 제품 잘못 배송</option>
                                <option value="etc">기타</option>
                            </select>
                        </div>
                        <span class="input-wrap count">
                            <textarea class="ui_textcontrol" placeholder="반품 사유를 입력해 주세요." maxlength="80" data-limit="80" data-count-target="#txt-count1"></textarea>
                            <span id="txt-count1" class="total"><em>0</em> / 80</span>
                        </span>
                    </dd>
                </dl>
                <!-- // 반품사유 입력 -->

                <!-- 환불계좌 정보 입력 -->
                <dl class="forms">
                @@if ( context.nonMembers ) {
                <dl class="forms type2"><!-- 210402 수정 [.type2 클래스 추가] -->
                }
                    <dt class="tit">
                        <label for="inp01" class="req">환불계좌 정보<span class="blind">필수입력</span></label>
                    </dt>
                    <dd class="conts">
                        @@if ( !context.nonMembers ) {
                        <span class="input-wrap half">
                            <input type="text" value="이엘지" readonly>
                        </span>
                        <div class="bank-input-box">
                            <div class="select-wrap">
                                <select class="ui_selectbox" title="은행 선택">
                                    <option value="" class="placeholder">선택</option>
                                </select>
                            </div>
                            <div class="box">
                            <span class="input-wrap">
                                <input type="text" placeholder="계좌번호 입력">
                            </span>
                                <div class="cell">
                                    <button type="button" class="btn"><span>환불 계좌 확인</span></button>
                                </div>
                            </div>
                        </div>
                        }
                        @@if ( context.nonMembers ) {
                        <!-- 210402 수정 [전체 수정] -->
                        <div class="gray-box">
                            <!-- 211104 BTOCSITE-5938-210 생년월일 수정 - S -->
                            <div class="form-wrap col-3">
                                <dl class="forms inner-type">
                                    <dt class="tit"><label for="ipt-bank">예금주명</label></dt>
                                    <dd class="conts">
                                        <div class="input-wrap">
                                            <input type="text" id="ipt-bank" name="bankUserName" placeholder="예금주명 입력" value="" disabled>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="forms inner-type">
                                    <dt class="tit"><label for="ipt-birth">생년월일</label></dt>
                                    <dd class="conts">
                                        <!-- BTOCSITE-5938-210 생년월일 형태 변경 (select-box)
                                        <div class="input-wrap">
                                            <input type="number" id="ipt-birth" name="birthDt" placeholder="YYYYMMDD" maxlength="8" value="">
                                        </div>
                                        -->
                                        <div class="box date-select-box col-3">
                                            <div class="cell">
                                                <div class="box">
                                                    <div class="input-wrap">
                                                        <input type="number" id="ipt-birth" name="year" placeholder="YYYY(4자)" maxlength="4" value="">
                                                    </div>
                                                    <div class="text"><span>년</span></div>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="box">
                                                    <div class="select-wrap">
                                                        <select class="ui_selectbox" id="ipt-birth-1" title="월 선택" name="month" data-required="true" required>
                                                            <option value="" class="placeholder">선택</option>
                                                            <option value="01">01</option>
                                                            <option value="02">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                    </div>
                                                    <div class="text"><span>월</span></div>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="box">
                                                    <div class="select-wrap">
                                                        <select class="ui_selectbox" id="ipt-birth-2" title="일 선택" name="day" data-required="true" required>
                                                            <option value="" class="placeholder">선택</option>
                                                            <option value="01">01</option>
                                                            <option value="02">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                    </div>
                                                    <div class="text"><span>일</span></div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="birthDt" id="birthDt" value="0" />
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <!-- //211104 BTOCSITE-5938-210 생년월일 수정 - E -->
                            <div class="form-wrap">
                                <dl class="forms inner-type">
                                    <dt class="tit"><label for="ipt-bank">계좌 정보</label></dt>
                                    <dd class="conts">
                                        <div class="bank-input-box">
                                            <div class="select-wrap">
                                                <select class="ui_selectbox" title="은행 선택">
                                                    <option value="" class="placeholder">선택</option>
                                                </select>
                                            </div>
                                            <div class="box">
                                                <span class="input-wrap">
                                                    <input type="text" placeholder="계좌번호 입력">
                                                </span>
                                                <div class="cell">
                                                    <button type="button" class="btn"><span>환불 계좌 확인</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- // 210402 수정 [전체 수정] -->
                        }
                    </dd>
                </dl>
                <!-- // 환불계좌 정보 입력 -->
                <!-- 210413 수정 [수집 동의 추가] -->
                <div class="cancel-agree-box">
                    <span class="chk-wrap bottom">
                        <input type="checkbox" id="takebackPopAgree" name="takebackPopAgree" checked>
                        <label for="takebackPopAgree">
                            <strong>제품 주문 반품/취소 신청 환불 정보 수집 동의</strong> <!-- BTOCSITE-8310 스토어 명칭 제품으로 변경 -->
                            <span class="desc">본인은 LG전자가 본인의 요청에 따른 환불을 위하여 성명, 은행명, 계좌번호를 수집하고,<br>관련 법령에 근거하여 5년간 해당정보를 보관∙처리하며, 그 후 지체 없이 파기한다는 사실에 동의합니다.</span>
                        </label>
                    </span>
                </div>
                <!-- // 210413 수정 [수집 동의 추가] -->
            </div>
        </div>
        <!-- // 반품 사유 -->

        @@include('./common/modules/bullet-list.html', {
            "topBorder" : true,
            "bulletTit" : "확인하세요",
            "bulletTxt" : [
                "가상계좌 입금 주문내역을 취소할 경우 계좌로 환불해드립니다. (단, 고객님 본인 명의의 계좌만 가능)",
                "그 외 문의는 고객센터(1544-7777) 또는 챗봇을 이용해주시기 바랍니다.<!-- 210413 수정 [문구 수정] -->"
            ]
        })
        <!-- 210121 위치수정 -->
        <div class="pop-footer center">
            <div class="btn-group">
                <button type="button" class="btn gray ui_modal_close"><span>취소</span></button>
                <!-- 210407 클래스수정 -->
                <button type="button" class="btn pink"><span>확인</span></button>
                <!-- //210407 클래스수정 -->
                <!-- <button type="button" class="btn pink"><span>확인</span></button> --> <!-- 활성화 -->
            </div>
        </div>
        <!-- //210121 위치수정 -->
    </section>
    <!-- <footer class="pop-footer center">
        <div class="btn-group">
            <button type="button" class="btn gray ui_modal_close"><span>취소</span></button>
            <button type="button" class="btn pink"><span>확인</span></button>
        </div>
    </footer> -->
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>