.bullet-list {
    margin-top:16px;
    color:#616161;
    font-size:14px;
    line-height:20px;
    @include mobile {
        margin-top:12px;
        color:#808080;
        line-height:18px;
    }
    .b-tit {
        margin-bottom:8px;
        font-weight:700;
    }
    .b-txt {
        position:relative;
        margin-top:4px;
        padding-left:10px;
        @include mobile {
            margin-top:8px;
        }
        &::before {
            content:' ';
            position:absolute;
            top:9px;
            left:0;
            width:2px;
            height:2px;
            border-radius:50%;
            background:#808080;
        }
        &:first-child {
            margin-top:0;
        }
    }

    &.top-border {
        margin-top:40px;
        padding-top:16px;
        border-top:1px solid #ddd;
        @include mobile {
            margin-top:24px;
            padding-top:12px;
        }
    }
    &.nomargin-top {
        margin-top: 0;
    }
}

.bullet-list-box {
    margin-top: 32px;
    padding: 24px 35px;
    background-color: #f4f4f4;
    .bullet-list {
        margin-top: 0;
    }
    @include mobile {
        padding: 12px 20px;
    }
}