@charset "UTF-8";

.btn {
    display: inline-block;
    min-width:112px;
    padding:11px 31px;
    @include font-medium;
    text-align: center;
    vertical-align: top;
    border: 1px solid #EC455A;
    border-radius: 26px;
    background-color:#EC455A;
    color:#fff;
    font-weight:500;
    @include mobile {
        min-width:124px;
        font-size:17px;
        line-height:25px;
        padding:14.5px 30px;
        border-radius:30px;
    }
    &:hover {
        background-color:#EC455A;
    }
    &.gray {
        border-color: #ededed;
        background: #ededed;
        color: #ec455a;
        &:hover {
            background: #ededed;
        }
    }
    &.dark-gray {
        border-color: #767676;
        background: #767676;
        color: #fff;
        &:hover {
            background: #767676;
        }
    }
    &.border {
        border-color:#222;
        background:#fff;
        color:#222;
        &:hover {
            background:#fff;
        }
    }

    &:disabled,
    &.disabled {
        color:#aaa;
        border-color:#ddd;
        background-color:#ededed;
        cursor:default;
    }
    // 작은사이즈 버튼
    &.size {
        min-width:68px;
        padding:5px 15px;
        border-radius:16px;
        @include font-small;
        @include mobile {
            font-size:14px;
            line-height:22px;
        }
    }
    &.block {
        display: block;
        width: 100%;
    }
}

.btn-text {
    display:inline-block;
    font-size:16px;
    font-weight:500;
    line-height:24px;
    vertical-align:top;
    &.small {
        font-size:14px;
        line-height:20px;
    }
    &.pink {
        color:#ec455a;
    }
    &.black {
        color:#222;
    }
    &.red01 {
        color: #ec455a;
        border-bottom-color: #ec455a;
    }
    &:hover {
        text-decoration:underline;
    }
    &:disabled, &.disabled, &[aria-disabled=true] {
        color:#ccc;
        &:hover {
            text-decoration:none;
        }
    }
    @include mobile {
        font-size:14px;
        line-height:18px;
        text-decoration:underline;
    }
}

.btn-link {
    position: relative;
    display: inline-block;
    padding-right: 22px;
    font-weight: 500;
    @include font-small;
    color: #767676;
    vertical-align: top;
    &:after {
        content: '';
        position:absolute;
        right:0;
        top:3px;
        width:20px;
        height:20px;
        background:url("/lg5-common/images/icons/btn-arr-20x20-gray.svg") center no-repeat;
        @include mobile {
            top:1px;
        }
    }
}

.btn-moreinfo {
    display:inline-block;
    position:relative;
    font-size:14px;
    line-height:16px;
    font-weight:500;
    span {
        display:inline-block;
        vertical-align:top;
    }
    &:after {
        content:'';
        display:inline-block;
        margin-left:4px;
        vertical-align:top;
        width:16px;
        height:16px;
        background:url('/lg5-common/images/icons/icon-more.svg') no-repeat;
        background-size:16px 16px;
    }
}

.btn-moreview {
    display:inline-block;
    font-size:14px;
    line-height:20px;
    font-weight:500;
    text-decoration:underline;
    text-align:center;
    vertical-align:top;
    &.block {
        display:block;
        width:100%;
    }
}

.btn-banner {
    display:inline-block;
    position:relative;
    padding:15px 72px 15px 16px;
    color:#ec455a;
    font-size:16px;
    line-height:24px;
    text-align:left;
    vertical-align:top;
    border:1px solid #ec455a;
    border-radius:8px;
    background:url(/lg5-common/images/icons/icon-arrow-right-red.svg) no-repeat right 16px top 16px;
    [class^=icon-] {
        display:block;
        padding-left:36px;
        background-repeat:no-repeat;
        background-size:24px;
        &.icon-solution {
            background-image:url(/lg5-common/images/icons/icon-solution.svg);
        }
        &.icon-driver {
            background-image:url(/lg5-common/images/icons/icon-driver.svg);
        }
        &.icon-plus {
            background-image:url(/lg5-common/images/icons/icon-plus.svg); 
        }
    }
    @include mobile {
        width:100%;
        padding:14px 12px;
        background:none;
        [class^=icon-] {
            padding-left:32px;
        }
    }
    &.block {
        display:block;
        width:100%;
    }
}

.btn-addr {
    display:inline-block;
    position:relative;
    padding:10px 16px;
    color:#ec455a;
    @include font-medium;
    text-align:center;
    vertical-align:top;
    font-weight:500;
    border:1px solid #ec455a;
    border-radius:8px;
    vertical-align:top;
    [class^=icon-] {
        display:inline-block;
        padding-left:36px;
        background-repeat:no-repeat;
        background-size:24px;
        &.icon-plus {
            background-image:url(/lg5-common/images/icons/icon-plus.svg); 
        }
    }
    @include mobile {
        width:100%;
        padding:14px 12px;
        background:none;
        [class^=icon-] {
            padding-left:26px;
            background-size:20px 20px;
        }
    }
    &.block {
        display:block;
        width:100%;
    }
}

.btn-group {
    font-size:0;
    &.right {
        text-align:right;
    }
    &.center {
        text-align:center;
    }
    .btn {
        margin-left:8px;
        &:first-child {
            margin-left:0;
        }
    }
    @include mobile {
        .btn {
            width:100%;
            margin:0;
            border-radius:0;
            &:first-child:nth-last-child(2), 
            &:first-child:nth-last-child(2) ~ .btn {
                width:50%;
            }
        }
    }
}

