@charset "UTF-8";

.btn {
    display: inline-block;
    min-width:124px;
    padding:13px 32px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #111;
    border-radius: 8px;
    background-color:transparent;
    @include mobile {
        padding:17px 32px;
    }
    &:active {
        background-color:#f4f4f4;
    }
    &.gray {
        border-color: #ededed;
        background: #ededed;
        color: #ec455a;
        &:active {
            border-color:#ddd;
            background-color:#ddd;
        }
        &:disabled, &.disabled, &[aria-disabled=true] {
            color:#ccc;
            border-color:#ededed;
            background-color:#ededed;
            cursor:default;
        }
    }
    &.pink {
        border-color:#ec455a;
        background-color:#ec455a;
        color:#fff;
        &:active {
            background-color: #e51346;
        }
        &:disabled, &.disabled, &[aria-disabled=true] {
            border-color:#ccc;
            background-color:#ccc;
            cursor:default;
        }
    }
    &.bd-pink {
        color:#ec455a;
        border-color:#ec455a;
        &:hover {
            background-color:#e51346;
            color:#fff;
        }
        &:active {
            background-color:#e51346;
            color:#fff;
        }
        &:disabled, &.disabled, &[aria-disabled=true] {
            color:#ccc;
            border-color:#ccc;
            background:#fff;
            cursor:default;
        }
    }
    &.bd-gray {
        color:#616161;
        border-color:#979797;
        &:active {
            border-color:#979797;
            background-color: #f4f4f4;   
        }
        &:disabled, &.disabled, &[aria-disabled=true] {
            color:#ccc;
            border-color:#ccc;
            background:#fff;
            cursor:default;
        }
    }
    &.btn-small {
        min-width:84px;
        padding: 7px 15px;
        font-size: 14px;
        line-height: 20px;
        @include mobile {
            padding: 4px 12px;
        }
    }
    &.bd-black {
        border-color:#616161;
        background-color:#fff;
        color:#616161;
        &:hover {
            background-color:#f4f4f4;
        }
        &:disabled, &.disabled, &[aria-disabled=true] {
            color:#ccc;
            border-color:#ccc;
            background:#fff;
            cursor:default;
        }
    }
    &.block {
        display: block;
        width: 100%;
    }
}

.btn-text {
    display:inline-block;
    font-size:16px;
    font-weight:500;
    line-height:24px;
    vertical-align:top;
    &.small {
        font-size:14px;
        line-height:20px;
    }
    &.pink {
        color:#ec455a;
    }
    &.black {
        color:#222;
    }
    &.red01 {
        color: #ec455a;
        border-bottom-color: #ec455a;
    }
    &:hover {
        text-decoration:underline;
    }
    &:disabled, &.disabled, &[aria-disabled=true] {
        color:#ccc;
        &:hover {
            text-decoration:none;
        }
    }
    @include mobile {
        font-size:14px;
        line-height:18px;
        text-decoration:underline;
    }
}

.btn-link {
    position: relative;
    display: inline-block;
    padding-right: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222;
    vertical-align: top;
    &:after {
        position: absolute;
        @include calc(top, 50%, 3px);
        right: 9px;
        width: 8px;
        height: 8px;
        border: 2px solid #222;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
        content: '';
    }
    @include mobile {
        font-size:14px;
        line-height:18px;
    }
    &.small {
        padding-right:20px;
        font-size:14px;
        line-height:20px;
        &::after {
            right:8px;
            width:6px;
            height:6px;
            border-width:1px 1px 0 0;
        }
    }
    &.thin {
        font-weight:400;
    }
}

.btn-moreinfo {
    display:inline-block;
    position:relative;
    font-size:14px;
    line-height:16px;
    font-weight:500;
    span {
        display:inline-block;
        vertical-align:top;
    }
    &:after {
        content:'';
        display:inline-block;
        margin-left:4px;
        vertical-align:top;
        width:16px;
        height:16px;
        background:url('/lg5-common/images/icons/icon-more.svg') no-repeat;
        background-size:16px 16px;
    }
}

.btn-moreview {
    display:inline-block;
    font-size:14px;
    line-height:20px;
    font-weight:500;
    text-decoration:underline;
    text-align:center;
    vertical-align:top;
    &.block {
        display:block;
        width:100%;
    }
}

.btn-banner {
    display:inline-block;
    position:relative;
    padding:15px 72px 15px 16px;
    color:#ec455a;
    font-size:16px;
    line-height:24px;
    vertical-align:top;
    border:1px solid #ec455a;
    border-radius:8px;
    background:url(/lg5-common/images/icons/icon-arrow-right-red.svg) no-repeat right 16px top 16px;
    [class^=icon-] {
        display:block;
        padding-left:36px;
        background-repeat:no-repeat;
        background-size:24px;
        &.icon-solution {
            background-image:url(/lg5-common/images/icons/icon-solution.svg);
        }
        &.icon-driver {
            background-image:url(/lg5-common/images/icons/icon-driver.svg);
        }
        &.icon-plus {
            background-image:url(/lg5-common/images/icons/icon-plus.svg); 
        }
    }
    @include mobile {
        width:100%;
        padding:14px 12px;
        background:none;
        [class^=icon-] {
            padding-left:32px;
        }
    }
    &.block {
        display:block;
    }
}

.btn-group {
    font-size:0;
    &.right {
        text-align:right;
    }
    &.center {
        text-align:center;
    }
    .btn {
        margin-left:8px;
        &:first-child {
            margin-left:0;
        }
    }
    @include mobile {
        .btn {
            width:100%;
            margin:0;
            border-radius:0;
            &:first-child:nth-last-child(2), 
            &:first-child:nth-last-child(2) ~ .btn {
                width:50%;
            }
        }
    }
}

