// Form
.input-info {
    padding-top:64px;
    &:first-child {
        padding-top:0;
    }
    @include mobile {
        position:relative;
        padding:50px 0 56px;
        &:before {
            content:'';
            display:block;
            position:absolute;
            top:0;
            left:-20px;
            right:-20px;
            height:12px;
            background:#f4f4f4;
        }
        &:first-child {
            &:before {
                display:none;
            }
        }
        &:last-child {
            padding-bottom:0;
        }
    }
    .tit-wrap {
        position:relative;
        padding-bottom:24px;
        @include mobile {
            padding-bottom:32px;
        }
        h2.h2-tit {
            display:inline-block;
            font-size:16px;
            line-height:24px;
            font-weight:700;
            vertical-align:middle;
        }
        .right-btn,
        .right-chk {
            float:right;
        }
        .agree-chk {
            float:right;
            @include mobile {
                @include clearfix;
                float:inherit;
                margin-top:20px;
            }
            .rdo-wrap {
                margin-left:64px;
                @include mobile {
                    float:left;
                    width:50%;
                    margin:0;
                }
                &:first-child {
                    margin-left:0;
                }
            }
        }
    }
    .txt-cont {
        color:#616161;
        font-size:14px;
        line-height:20px;
        .dl-txt-cont {
            margin-top:24px;
            &:first-child {
                margin-top:0;
            }
            dt {
                margin-bottom:8px;
                color:#616161;
                font-size:16px;
                line-height:24px;
                font-weight:500;
            }
            dd {
                color:#979797;
                font-size:14px;
                line-height:20px;
            }
        }
        .sub-txt {
            margin-top:24px;
            color:#979797;
        }
    }
}
.form-wrap {
    .forms {
        position:relative;
        margin-top:32px;
        @include mobile {
            margin-top:40px;
        }
        &:first-child {
            margin-top:0;
        }
        .input-wrap {
            margin-top:8px;
            &:first-child {
                margin-top:0;
            }
        }
        .tit {
            margin-bottom:8px;
            color:#616161;
            font-size:14px;
            line-height:20px;
            .req {
                &::after {
                    content:'*';
                    display:inline-block;
                    margin-left:1px;
                    color:inherit;
                    font-size:inherit;
                    line-height:inherit;
                    vertical-align:top;
                }
            }
            .right-btn {
                float: right;
            }
        }
        .conts {
            margin-top:8px;
            .select-wrap {
                max-width: 100%;
            }
            .input-box {
                margin-top:8px;
                font-size:0;
                &:first-child {
                    margin-top:0;
                }
                .input-wrap {
                    margin-top:0;
                }
                .rdo-wrap {
                    margin-left:64px;
                    @include mobile {
                        margin-left:24px;
                    }
                    &.btn-type {
                        margin-left:8px;
                    }
                    &:first-child {
                        margin-left:0;
                    }
                }
                &.btn-type {
                    .input-wrap {
                        width:50%;
                    }
                    .btn {
                        margin-left:8px;
                        padding:15px 32px;
                    }
                    @include mobile {
                        margin:0;
                        .input-wrap {
                            width:100%;
                            padding:0;
                        }
                        .btn {
                            width:100%;
                            margin:0;
                            margin-top:20px;
                        }
                    }
                    &.size2 {
                        .input-wrap {
                            width:calc((100% - 140px) / 2);
                            margin-left:8px;
                            &:first-child {
                                margin-left:0;
                            }
                            @include mobile {
                                width:100%;
                                margin-top:8px;
                                margin-left:0;
                                &:first-child {
                                    margin-top:0;
                                }
                            }
                        }
                    }
                }
                &.card-type {
                    .input-wrap {
                        position:relative;
                        width:calc((100% - 30px) / 4);
                        margin-left:10px;
                        &::before {
                            content:' ';
                            position:absolute;
                            top:50%;
                            left:-7px;
                            width:4px;
                            height:1px;
                            background:#222;
                        }
                        &:first-child {
                            margin-left:0;
                            &::before {
                                display:none;
                            }
                        }
                    }
                }
            }
            .input-box-wrap {
                display:table;
                width:100%;
                .input-box {
                    display:table-cell;
                    margin:0;
                    white-space:nowrap;
                    .rdo-btn-wrap {
                        padding-right:34px;
                    }
                }
                //&.birth-date-box {
                //    .input-box {
                //        display: table-cell;
                //        padding-right: 0;
                //    }
                //    .hyphen {
                //        display: table-cell;
                //        vertical-align: middle;
                //    }
                //    .number {
                //        width: 41px;
                //        input {
                //            padding: 15px 0;
                //            text-align: center;
                //            &::-webkit-outer-spin-button,
                //            &::-webkit-inner-spin-button {
                //                -webkit-appearance: none;
                //                margin: 0;
                //            }
                //        }
                //    }
                //    .hyphen {
                //        width: 22px;
                //        padding: 0 8px;
                //    }
                //    &:after {
                //        display: block;
                //        width: 164px;
                //        padding-left: 8px;
                //        font-size: 40px;
                //        line-height: 56px;
                //        color: #616161;
                //        content: '······';
                //    }
                //}
                &.birth-date-box {
                    .input-box {
                        padding-right: 0;
                    }
                    .hyphen {
                        padding: 0 8px;
                        font-size: 16px;
                        line-height: 56px;
                    }
                    .number {
                        width: 41px;
                        padding-left: 0;
                        input {
                            padding: 15px 0;
                            text-align: center;
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                    }
                    &:after {
                        display: block;
                        width: 164px;
                        padding-left: 8px;
                        font-size: 40px;
                        line-height: 56px;
                        color: #616161;
                        content: '······';
                    }
                }
                &.addr-box {
                    margin-top: 12px;
                    .input-box {
                        width: 50%;
                        padding-right: 0;
                        & + .input-box {
                            padding-left: 16px;
                        }
                        .input-wrap {
                            display: block;
                        }
                    }
                }
            }
            .add-box {
                margin-top:16px;
            }
            &.cert-phone {
                .complete-text {
                    right: 187px;
                }
            }
            &.right {
                text-align:right;
            }
        }
        .bullet-list {
            margin-top:12px;
        }
        .btm-more {
            display:block;
            margin-top:8px;
            text-align:right;
            .btn-text {
                font-size:14px;
                line-height:20px;
            }
        }
        .complete-text {
            position: absolute;
            top: 2px;
            right: 0;
            font-size: 14px;
            line-height: 20px;
            color: #ec455a;
        }
    }

    .double-form {
        @include clearfix;
        .forms {
            float:left;
            width:calc((100% - 16px) / 2);
            margin:32px 0 0 16px;
            @include mobile {
                width:100%;
                margin:40px 0 0 0;
            }
            &:first-child {
                margin:32px 0 0 0;
                @include mobile {
                    margin:40px 0 0 0;
                }
            }
        }
        &:first-child {
            .forms {
                margin-top:0;
                @include mobile {
                    margin-top:40px;
                    &:first-child {
                        margin-top:0;
                    }
                }
            }
        }
    }

    &.term-filter {
        margin-bottom:40px;
        @include mobile {
            .forms {
                .conts {
                    .input-box-wrap {
                        display:block;
                        .input-box {
                            display:block;
                            white-space:initial;
                        }
                        .rdo-btn-wrap {
                            margin-right:-3px;
                            margin-bottom:8px;
                            padding-right:0;
                            .rdo-wrap {
                                position:relative;
                                margin-left:-1px;
                                width:25%;
                                input+label {
                                    display:block;
                                    position:relative;
                                    border-radius:0;
                                }
                                &:first-child {
                                    margin-left:0;
                                    input + label {
                                        border-radius:8px 0 0 8px;
                                    }
                                }
                                &:last-child {
                                    input+label {
                                        border-radius:0 8px 8px 0;
                                    }
                                }
                                input:checked+label {
                                    border-color:#222;
                                    z-index:10;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.agree-cont-wrap {
    .agree-input {
        margin-bottom:16px;
        @include mobile {
            margin-bottom:12px;
        }
    }
    .agree-cont-box {
        height:auto;
        max-height:200px;
        overflow-y:auto;
        padding:24px 40px 24px 24px;
        border:1px solid #ddd;
        border-radius:8px;
        color:#616161;
        font-size:14px;
        line-height:20px;
        @include mobile {
            max-height:212px;
            padding:16px;
        }
    }
}

// input text, textarea
.input-wrap {
    display:inline-block;
    vertical-align:top;

    // input common
    input, textarea {
        display:inline-block;
        width:100%;
        border:1px solid #ddd;
        border-radius:8px;
        color:#222;
        font-size:16px;
        line-height:24px;
        vertical-align:top;
        resize:none;

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
            color:#bcbcbc;
        }

        &:focus {
            box-shadow:2px 4px 12px 0 rgba(0, 0, 0, .16);
            outline:none;
        }

        &:disabled, &:read-only {
            background:#f4f4f4;
            border-color:#f4f4f4;
            &:focus {
                box-shadow:none;
            }
        }
        &:disabled {
            color:#ccc;
        }
    }

    input {
        padding:15px 23px;
    }
    textarea {
        padding:23px;
    }
    // @include mobile {
    //     input {
    //         padding:13px 15px;
    //     }
    //     textarea {
    //         padding:15px;
    //     }
    // }

    // input + other
    .box {
        position:relative;
        display:table;
        width:100%;
        z-index:1;

        $child: (last, first);
        @each $p in $child {
            .cell {
                display:table-cell;
                position:relative;
                width:1%;
                border:1px solid #ddd;
                word-break:keep-all;
                white-space:nowrap;
                vertical-align:middle;
                background:#fff;
                z-index:5;
                &:#{$p}-child {
                    @if ( $p == last ) {
                        padding:0 19px 0 0;
                        border-left:none;
                        border-radius:0 8px 8px 0;
                    } @else if ( $p == first) {
                        padding:0 0 0 23px;
                        border-right:none;
                        border-radius:8px 0 0 8px;
                    }
                }
                .btn-search {
                    display:inline-block;
                    width:24px;
                    height:24px;
                    background:url('/lg5-common/images/icons/icon-search2.svg') center no-repeat;
                    background-size:24px;
                }
                .btn-del {
                    display:none;
                    width:24px;
                    height:24px;
                    background:url('/lg5-common/images/icons/icon-delete.svg') center no-repeat;
                    background-size:24px;
                }
                .btn-text {
                    margin-right:4px;
                }
                &.addr {
                    .btn-text {
                        position:relative;
                        padding-right:20px;
                        &:after {
                            content:'';
                            display:block;
                            position:absolute;
                            top:50%;
                            right:0;
                            -webkit-transform:translateY(-50%);
                            transform:translateY(-50%);
                            width:16px;
                            height:16px;
                            background:url('/lg5-common/images/icons/icon-addr-search.svg') no-repeat;
                            background-size:16px 16px;
                        }
                    }
                }
            }
            input, textarea {
                position:relative;
                display:table-cell;
                z-index:1;
                &:#{$p}-child {
                    @if ( $p == last ) {
                        padding-left:16px;
                        border-left:none;
                        border-radius:0 8px 8px 0;
                    } @else if ( $p == first) {
                        padding-right:16px;
                        border-right:none;
                        border-radius:8px 0 0 8px;
                    }
                }
                &:focus {
                    box-shadow:none;
                }
            }
        }

        input:disabled + .cell, 
        input:read-only + .cell, 
        textarea:disabled + .cell,
        textarea:read-only + .cell {
            border-color:#f4f4f4;
            background:#f4f4f4;
        }

        // @include mobile {
        //     .cell {
        //         padding:13px 15px 13px 0;
        //         border-radius:0 4px 4px 0;
        //     }
        //     input, textarea {
        //         border-radius:4px 0 0 4px;
        //     }
        // }
    }

    .box2 {
        position:relative;
        display:table;
        width:100%;
        z-index:1;
        .cell {
            display:table-cell;
            position:relative;
            width:1%;
            padding-left: 16px;
            border-radius: 8px;
            word-break:keep-all;
            white-space:nowrap;
            vertical-align:middle;
            background:#fff;
            z-index:5;
        }
    }

    &.block {
        display:block;
    }
    &.count {
        .total {
            display:block;
            margin-top:8px;
            color:#979797;
            font-size:14px;
            line-height:20px;
            text-align:right;
            em {
                color:#222;
                font-size:inherit;
                line-height:inherit;
            }
        }
        textarea {
            height:160px;
        }

        // @include mobile {
        //     .total {
        //         font-size:13px;
        //         line-height:19px;
        //     }
        //     textarea {
        //         height:220px;
        //     }
        // }
    }
    &.datepicker {
        position:relative;
        input {
            border-color:#ddd;
            background:transparent;
            color:#222;
        }
        input:read-only + .cell,
        input:disabled + .cell {
            border-color:#ddd;
            background:transparent;
        }
        .pic-btn {
            > button {
                display:inline-block;
                width:24px;
                height:24px;
                border:none;
                background:url("/lg5-common/images/icons/icon-cal.svg") center no-repeat;
                vertical-align:middle;
            }
        }

        // @include mobile {
        //     .pic-btn {
        //         padding:13px 15px 13px 0;
        //         button {
        //             width:24px;
        //             height:24px;
        //         }
        //     }
        // }
    }
    &.error {
        .total {
            border-color:#f00;
        }
        input, textarea {
            border-color:#f00;
            &:focus + .total {
                border-color:#f00;
            }
            &:read-only + .cell {
                border-color:#f00;
            }
        }
        .cell {
            border-color:#f00;
        }
        .err-msg {
            margin-top:8px;
            color:#f00;
            font-size:14px;
            line-height:20px;
            vertical-align:top;
            &::before {
                content:' ';
                display:inline-block;
                width:20px;
                height:20px;
                margin-right:6px;
                background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eIcon_20x20_error%3c/title%3e%3cdefs%3e%3crect id='path-1' x='0' y='0' width='476' height='160'%3e%3c/rect%3e%3cfilter x='-4.2%25' y='-10.0%25' width='108.4%25' height='125.0%25' filterUnits='objectBoundingBox' id='filter-2'%3e%3cfeOffset dx='0' dy='4' in='SourceAlpha' result='shadowOffsetOuter1'%3e%3c/feOffset%3e%3cfeGaussianBlur stdDeviation='6' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3e%3c/feGaussianBlur%3e%3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0' type='matrix' in='shadowBlurOuter1'%3e%3c/feColorMatrix%3e%3c/filter%3e%3c/defs%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='15' transform='translate(-555.000000, -546.000000)'%3e%3cg id='Group-2' transform='translate(527.000000, 430.000000)'%3e%3cg id='Rectangle'%3e%3cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3e%3c/use%3e%3cuse fill='%23FFFFFF' fill-rule='evenodd' xlink:href='%23path-1'%3e%3c/use%3e%3c/g%3e%3cg id='Group-5' transform='translate(28.000000, 24.000000)'%3e%3cg id='Icon_20x20_error' transform='translate(0.000000, 92.000000)'%3e%3crect id='Rectangle' fill-opacity='0' fill='%23D8D8D8' x='0' y='0' width='20' height='20'%3e%3c/rect%3e%3cpath d='M11.8230139,3.81722848 L17.6505533,16.1452723 C18.1226064,17.1438912 17.6957404,18.3361064 16.6971215,18.8081594 C16.4298891,18.9344818 16.1379788,19 15.8423938,19 L4.16319443,19 C3.05862493,19 2.16319443,18.1045695 2.16319443,17 C2.16319443,16.7033365 2.22919147,16.4103884 2.35640315,16.142384 L8.20806314,3.81434012 C8.68171141,2.81647685 9.8746072,2.39151663 10.8724705,2.86516489 C11.2897523,3.06323292 11.6256129,3.39963066 11.8230139,3.81722848 Z' id='Rectangle' fill='%23FF0000'%3e%3c/path%3e%3cpath d='M11,13 L11,9 C11,8.44771525 10.5522847,8 10,8 C9.44771525,8 9,8.44771525 9,9 L9,13 C9,13.5522847 9.44771525,14 10,14 C10.5522847,14 11,13.5522847 11,13 Z M9.99453552,17 C10.5628415,17 11,16.5625 11,16 C11,15.4375 10.5628415,15 9.99453552,15 C9.42622951,15 9,15.4375 9,16 C9,16.5625 9.42622951,17 9.99453552,17 Z' id='!-copy-2' fill='%23F4F4F4' fill-rule='nonzero'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg id='%40-Guide' transform='translate(518.000000, 196.000000)'%3e%3cg id='%23overlay-673E6159-4642-4CED-8661-F70A3FF82A8A' transform='translate(37.000000, 350.000000)'%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e") center no-repeat;
                vertical-align:top;
            }
        }

        // @include mobile {
        //     .err-msg {
        //         font-size:13px;
        //         &::before {
        //             margin-right:4px;
        //         }
        //     }
        // }
    }
}

// input + btn mix type
.input-mix-wrap {
    display:block;
    position:relative;
    padding:15px 23px;
    padding-right:39px;
    border:1px solid #ddd;
    border-radius:8px;
    background:#fff;
    .mix-btn {
        position:absolute;
        top:15px;
        right:15px;
        width:24px;
        height:24px;
        &::after {
            content:' ';
            position:absolute;
            top:50%;
            right:50%;
            width:9px;
            height:9px;
            margin-top:-4px;
            margin-right:-2px;
            border-style:solid;
            border-color:#222;
            border-width:1px 1px 0 0;
            transform:rotate(45deg);
        }
    }
    &.cell-type {
        display:table;
        width:100%;
        padding:0;
        .chk-wrap {
            display:table-cell;
            padding:15px 0 15px 23px;
            white-space:nowrap;
        }
        .input-wrap {
            display:table-cell;
            input {
                border:none;
                text-align:right;
                color:#e51346;
                &:focus {
                    box-shadow:none;
                }
            }
        }
    }
}

// file upload 
.file-box {
    .file-input {
        display:block;
        position:relative;
        width:calc(50% - 4px);
        .file-label {
            display:block;
            padding:15px 90px 15px 24px;
            border:1px solid #ddd;
            border-radius:8px;
            font-size:16px;
            line-height:24px;
            color:#adadad;
        }
        label {
            position:absolute;
            top:15px;
            right:15px;
            padding-right:28px;
            font-size:16px;
            color:#ec455a;
            line-height:1.5;
            cursor:pointer;
            &:after {
                content:'';
                position:absolute;
                right:0;
                top:0;
                width:24px;
                height:24px;
                background:center/100% url('/lg5-common/images/icons/icon-upload.svg') no-repeat;
            }
            // &::after {
            //     content:'(전체 10mb, 최대 3개까지 등록 가능)';
            //     display:inline-block;
            //     font-size:inherit;
            //     line-height:inherit;
            //     vertical-align:top;
            // }
        }
        input[type=file] {
            position:absolute;
            width:1px;
            height:1px;
            padding:0;
            margin:-1px;
            overflow:hidden;
            clip:rect(0, 0, 0, 0);
            border:0;
        }

        @include mobile {
            width:100%;
            label {
                // padding:13px 15px 13px 47px;
                // border-radius:4px;
                // background-position-x:15px;
                // &::after {
                //     content:'(전체 10mb, 최대 3개)';
                // }
            }
        }
    }
    .file-lists {
        li {
            position:relative;
            margin-top:8px;
            padding:16px 24px;
            padding-right:72px;
            border-radius:8px;
            background:#f4f4f4;
            .file-name {
                display:block;
                overflow:hidden;
                text-overflow:ellipsis;
                font-size:16px;
                line-height:24px;
                color:#222;
                white-space:nowrap;
                word-wrap:break-all;
            }
            .btn-del {
                position:absolute;
                top:50%;
                right:26px;
                width:20px;
                height:20px;
                margin-top:-10px;
                background:#616161;
                border-radius:50%;
                &::before, &::after {
                    content:' ';
                    position:absolute;
                    top:50%;
                    left:50%;
                    width:12px;
                    height:2px;
                    margin-left:-6px;
                    margin-top:-1px;
                    background:#fafafa;
                }
                &::before {
                    transform:rotate(45deg);
                }
                &::after {
                    transform:rotate(-45deg);
                }
            }

            // @include mobile {
            //     padding:16px;
            //     padding-right:52px;
            //     border-radius:4px;
            //     .file-name {
            //         font-size:14px;
            //         line-height:20px;
            //     }
            //     .btn-del {
            //         right:17px;
            //         width:18px;
            //         height:18px;
            //         &::before, &::after {
            //             width:10px;
            //             margin-left:-5px;
            //         }
            //     }
            // }
        }
    }
}

// 수량선택
.quantity-wrap {
    .select-quantity {
        .inner {
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 0;
        }
        .minus,
        .plus {
            position: relative;
            width: 32px;
            height: 32px;
            background-color: #fff;
            &:before,
            &:after {
                position: absolute;
                top: 50%;
                @include calc(left,50%,5px);
                width: 10px;
                height: 1px;
                content: '';
            }
            &.minus {
                border-radius: 6px 0 0 6px;
                &:before {
                    background-color: #aaa;
                }
                &:after {
                    display: none;
                }
            }
            &.plus {
                border-radius: 0 6px 6px 0;
                &:before,
                &:after {
                    background-color: #111;
                }
                &:after {
                    transform: rotate(90deg);
                }
            }
        }
        .quantity {
            width: 40px;
            height: 32px;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            background-color: #fff;
            font-size: 13px;
            text-align: center;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

// checkbox, radio
$input: (chk, rdo);
@each $type in $input {
    .#{$type}-wrap {
        position:relative;
        display:inline-block;
        input {
            position:absolute;
            overflow:hidden;
            width:1px;
            height:1px;
            margin:-1px;
            padding:0;
            border:none;
            clip:rect(0,0,0,0);
            &+label {
                position:relative;
                display:inline-block;
                padding-left:32px;
                color:#222;
                font-size:16px;
                line-height:24px;
                vertical-align:top;
                cursor:pointer;
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select:none;
                br.mob-only {
                    display:none;
                    @include mobile {
                        display:block;
                    }
                }
                &::before {
                    content:' ';
                    position:absolute;
                    top:0;
                    left:0;
                    width:24px;
                    height:24px;
                    border:1px solid #808080;
                    border-radius:50%;
                }
                @if ( $type == chk ) {
                    &::after {
                        content:' ';
                        position:absolute;
                        top:8px;
                        left:6px;
                        width:12px;
                        height:6px;
                        border:1px solid #808080;
                        border-top:none;
                        border-right:none;
                        transform:rotate(-45deg);
                    }
                } @else if ( $type == rdo ) {
                    &::after {
                        content:' ';
                        position:absolute;
                        top:4px;
                        left:4px;
                        width:16px;
                        height:16px;
                        border-radius:50%;
                        background:transparent;
                    }
                }
            }
            &:checked+label {
                @if ( $type == chk ) {
                    &::before {
                        border-color:transparent;
                        background:#ec455a;
                    }
                    &::after {
                        border-color:#fff;
                    }
                } @else if ( $type == rdo ) {
                    &::before {
                        background-color:transparent;
                        border-color:#ec455a;
                    }
                    &::after {
                        background:#ec455a;
                    }
                }
            }
            &:disabled+label {
                color:#aaa;
                cursor: default;
                @if ( $type == chk ) {
                    &::before {
                        border-color:#ccc;
                        background:#f4f4f4;
                    }
                    &::after {
                        border-color:#ccc;
                    }
                } @else if ( $type == rdo ) {
                    &::before {
                        background-color:#f4f4f4;
                        border-color:#ccc;
                    }
                    &::after {
                        background:transparent;
                    }
                }
            }
        }

        &.btn-type {
            @if ( $type == rdo ) {
                input {
                    &+label {
                        padding:15px 23px;
                        border:1px solid #ddd;
                        border-radius:8px;
                        background:#fff;
                        color:#808080;
                        font-size:16px;
                        line-height:24px;
                        text-align:center;
                        &::before, &::after {
                            display:none;
                        }
                    }
                    &:checked+label {
                        border-color:#616161;
                        background:#f4f4f4;
                        color:#616161;
                        font-weight:500;
                    }
                    &:disabled+label { // 임시. 디자인 나오면 변경 반영해야함.
                        background:#f4f4f4;
                        opacity:0.5;
                    }
                }
            }
        }

        &.btn-type2 {
            @if ( $type == rdo ) {
                input {
                    & + label {
                        position: relative;
                        width: 78px;
                        padding: 12px 0;
                        border-radius: 8px;
                        border: solid 1px #ddd;
                        text-align: center;
                        &:before {
                            display: none;
                        }
                        &:after {
                            position: absolute;
                            top: -1px;
                            right: -1px;
                            bottom: -1px;
                            left: -1px;
                            width: auto;
                            height: auto;
                            border: solid 1px #ddd;
                            border-radius: 8px;
                        }
                        @include mobile {
                            border-radius: 4px;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    &:checked {
                        & + label {
                            color: #ec455a;
                            &:after {
                                border: 2px solid #ec455a;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        &.box-type {
            @if ( $type == rdo ) {
                input {
                    & + label {
                        display: block;
                        padding: 16px 16px 16px 48px;
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        &:before {
                            top: 16px;
                            left: 16px;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 24px;
                            left: 22px;
                            width: 12px;
                            height: 6px;
                            border: 2px solid #808080;
                            border-top: none;
                            border-right: none;
                            border-radius: 0;
                            transform: rotate(-45deg);
                        }
                        @include mobile {
                            border-radius: 4px;
                            font-size: 14px;
                            line-height: 18px;
                            &:before {
                                top: 14px;
                                left: 14px;
                            }
                            &:after {
                                top: 22px;
                                left: 20px;
                            }
                        }
                    }
                    &:checked {
                        & + label {
                            border-color: #ec455a;
                            &:before {
                                border-color: transparent;
                                background: #ec455a;
                            }
                            &:after {
                                border-color:#fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.select-list-wrap {
    overflow:hidden;
    > ul {
        font-size:0;
        margin-top:-32px;
        margin-left:-64px;
        @include mobile {
            margin-top:-16px;
            margin-left:-12px;
        }
        li {
            display:inline-block;
            width:25%;
            margin-top:32px;
            padding-left:64px;
            vertical-align:top;
            @include mobile {
                width:50%;
                margin-top:16px;
                padding-left:12px;
            }
        }
    }
    &.w-auto {
        > ul li {
            width:auto;
        }
    }
}

.chk-wrap-colorchip {
    position:relative;
    display:inline-block;
    input {
        position:absolute;
        overflow:hidden;
        width:1px;
        height:1px;
        margin:-1px;
        padding:0;
        border:none;
        clip:rect(0,0,0,0);
        &+label {
            position:relative;
            display:inline-block;
            padding-left:32px;
            color:#222;
            font-size:16px;
            line-height:24px;
            vertical-align:top;
            cursor:pointer;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            &::before {
                content:' ';
                position:absolute;
                top:3px;
                left:3px;
                width:18px;
                height:18px;
                border:1px solid #979797;
                border-radius:50%;
            }
            &::after {
                content:' ';
                position:absolute;
                top:0;
                left:0;
                width:24px;
                height:24px;
                border:1px solid #fff;
                border-radius:50%;
            }
        }
        &:checked+label {
            &::after {
                border-color:#ccc;
            }
        }
        &:disabled+label {
            color:#aaa;
            &::before {
                background:#aaa;
                border-color:transparent;
            }
        }
    }
}

.chk-wish-wrap {
    position: relative;
    display: inline-block;
    input {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: none;
        clip: rect(0, 0, 0, 0);
        & + label {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: top;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                border: 0;
                border-radius: 0;
                background: url("/lg5-common/images/icons/icon-heart-off.svg") no-repeat 0 0;
                background-size: 24px 24px;
                content: '';
            }
        }
        &:checked + label {
            &:before {
                background-image: url("/lg5-common/images/icons/icon-heart-on.svg");
            }
        }
    }
}

// selectbox
.select-wrap {
    display:inline-block;
    position:relative;
    width:100%;
    max-width:364px;
    &.block {
        display:block;
        max-width:100%;
    }
    select {
        position:absolute;
        z-index:10;
    }
    @include mobile {
        display:block;
        max-width:100%;
    }
    .ui-selectbox-wrap {
        display:block;
        position:relative;
        .ui-select-button {
            display:block;
            position:relative;
            padding:15px 23px;
            padding-right:39px;
            border:1px solid #ddd;
            border-radius:8px;
            background:#fff;
            .ui-select-text {
                display:inline-block;
                overflow:hidden;
                max-width:100%;
                color:#222;
                font-size:16px;
                line-height:24px;
                text-overflow:ellipsis;
                white-space:nowrap;
                word-break:break-all;
                vertical-align:top;
            }
            &.placeholder .ui-select-text {
                color:#808080;
            }
            .ico {
                position:absolute;
                top:50%;
                right:24px;
                width:0;
                height:0;
                margin-top:-4px;
                border-top:6px solid #222;
                border-left:5px solid transparent;
                border-right:5px solid transparent;
                transition:all 0.3s;
            }
        }
        &.on {
            .ui-select-button {
                border-bottom:none;
                border-radius:8px 8px 0 0;
                border-color:#222;
                .ico {
                    transform:rotate(180deg);
                }
            }
            &.type_up {
                .ui-selectbox-list {
                    border:1px solid #222;
                    border-bottom:none;
                    border-radius:8px 8px 0 0;
                }
                .ui-select-button {
                    border:1px solid #222;
                    border-top:none;
                    border-radius:0 0 8px 8px;
                }
            }
        }
        .ui-selectbox-list {
            position:absolute;
            top:54px;
            right:0;
            left:0;
            overflow:hidden;
            border:1px solid #222;
            border-top:none;
            border-radius:0 0 8px 8px;
            background:#fff;
            z-index: 2;
            ul {
                li {
                    a {
                        display:block;
                        overflow:hidden;
                        padding:16px 23px;
                        color:#808080;
                        font-size:16px;
                        line-height:24px;
                        white-space:nowrap;
                        word-break:break-all;
                        text-overflow:ellipsis;
                        &:hover {
                            background:#f4f4f4;
                        }
                    }
                    &.on a {
                        color:#222;
                        font-weight:700;
                    }

                }
            }
        }
        &.disabled {
            .ui-select-button {
                border-color:#f4f4f4;
                background:#f4f4f4;
                .ui-select-text {
                    color:#ccc;
                }
                .ico {
                    border-top-color:#ccc;
                }
            }
            .ui-selectbox-list {
                display:none;
            }
        }
    }
}
.sort-select-wrap {
    display:inline-block;
    position:relative;
    width:auto;
    &.block {
        display:block;
        max-width:100%;
    }
    select {
        position:absolute;
        z-index:10;
    }
    .ui-selectbox-wrap {
        display:block;
        position:relative;
        text-align:left;
        .ui-select-button {
            display:block;
            position:relative;
            padding:0 48px 0 0;
            @include mobile {
                padding-right:28px;
            }
            .ui-select-text {
                display:inline-block;
                overflow:hidden;
                max-width:100%;
                color:#222;
                font-size:16px;
                line-height:24px;
                font-weight:500;
                text-overflow:ellipsis;
                white-space:nowrap;
                word-break:break-all;
                vertical-align:top;
            }
            &.placeholder .ui-select-text {
                color:#808080;
            }
            .ico {
                position:absolute;
                top:50%;
                right:7px;
                width:0;
                height:0;
                margin-top:-3px;
                border-top:6px solid #222;
                border-left:5px solid transparent;
                border-right:5px solid transparent;
                transition:all 0.3s;
            }
        }
        &.on {
            .ui-select-button {
                .ico {
                    transform:rotate(180deg);
                }
            }
        }
        .ui-selectbox-list {
            position:absolute;
            top:36px;
            left:-24px;
            overflow:hidden;
            padding:12px 0;
            border-radius:4px;
            background:#fff;
            box-shadow:0 4px 12px 0 rgba(0, 0, 0, .15);
            z-index: 100;
            @include mobile {
                left:auto;
                right:0;
                padding:6px 0;
            }
            ul {
                li {
                    a {
                        display:block;
                        overflow:hidden;
                        padding:16px 48px 16px 24px;
                        color:#222;
                        font-size:16px;
                        line-height:24px;
                        white-space:nowrap;
                        word-break:break-all;
                        text-overflow:ellipsis;
                        @include mobile {
                            padding:9px 28px 9px 24px;
                        }
                    }
                    &.on a {
                        color:#808080;
                    }

                }
            }
        }
        &.disabled {
            .ui-selectbox-list {
                display:none;
            }
        }
    }
}
.star-rating-wrap {
    .ui-rating-wrap {
        font-size:0;
        > a {
            display:inline-block;
            width:24px;
            height:24px;
            font-size:0;
            vertical-align:top;
            background:url('/lg5-common/images/icons/icon-star2-off.svg') no-repeat 100%;
            & + a {
                margin-left:4px;
            }
            &.on {
                background-image:url('/lg5-common/images/icons/icon-star2-on.svg')
            }
        }
        .ui-select-label {
            display:inline-block;
            margin-left:8px;
            font-size:16px;
            line-height:24px;
            vertical-align:top;
        }
    }
}

// datepicker
.ui-calendar-dim {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(#222, .7);
    z-index:9990;
}
.ui-calendar-container {
    background:#fff;
    width:630px;
    padding:40px 56px 32px;
    border-radius:4px;
    margin-left:-315px;
    transform:translateY(-50%);
    @include mobile {
        width:304px;
        margin-left:-152px;
        padding:20px 12px 16px;
        border-radius:2px;
    }
    .ui-calendar-header-second {
        position:relative;
        margin:0 16px 40px;
        text-align:center;
        @include mobile {
            margin:0 8px 16px;
        }
        > a {
            position:absolute;
            top:50%;
            margin-top:-16px;
            padding:10px;
            font-size:0;
            &::before {
                content:' ';
                display:block;
                width:12px;
                height:12px;
                border:2px solid #222;
                border-right:none;
                border-bottom:none;
                transform:rotate(-45deg);
            }
            &.ui-calendar-prev {
                left:0;
            }
            &.ui-calendar-next {
                right:0;
                &::before {
                    transform:rotate(135deg);
                }
            }
            &.disabled {
                cursor: default;
                &::before {
                    border-color:#adadad;
                }
            }
            @include mobile {
                margin-top:-12px;
                padding:8px;
                &::before {
                    width:8px;
                    height:8px;
                }
            }
        }
        .ui-calendar-now {
            color:#222;
            font-size:28px;
            line-height:36px;
            font-weight:700;
            .year::after {
                content:'.';
                display:inline-block;
            }
            @include mobile {
                font-size:18px;
                line-height:27px;
            }
        }
    }
    .ui-calendar-date {
        .ui-calendar-table {
            table-layout:fixed;
            width:100%;
            font-size:24px;
            line-height:32px;
            text-align:center;
            border-collapse:collapse;
            th {
                padding:12px 0 36px;
                color:#515151;
                font-weight:300;
            }
            @include mobile {
                font-size:14px;
                line-height:18px;
                th {
                    padding:11px 0 19px;
                }
            }
            tbody {
                .ui-calendar-cell {
                    .ui-calendar-day {
                        display:inline-block;
                        width:74px;
                        height:72px;
                        border-radius:8px;
                        background:transparent;
                        color:#222;
                        font-size:24px;
                        line-height:72px;
                        vertical-align:top;
                        &.disabled {
                            color:#bcbcbc;
                        }
                    }
                    &.ui-calendar-active {
                        .ui-calendar-day {
                            background:#e51346;
                            color:#fff;
                            font-weight:700;
                        }
                    }
                    @include mobile {
                        .ui-calendar-day {
                            width:40px;
                            height:40px;
                            border-radius:4px;
                            font-size:14px;
                            line-height:40px;
                        }
                    }
                }
            }
        }
    }
    .ui-calendar-close {
        position:absolute;
        top:16px;
        right:16px;
        width:32px;
        height:32px;
        &::before, &::after {
            content:' '; 
            position:absolute;
            top:50%;
            left:50%;
            width:2px;
            height:22px;
            margin-top:-11px;
            margin-left:-1px;
            border-radius:2px;
            background:#222;
        }
        &::before {
            transform:rotate(45deg);
        }
        &::after {
            transform:rotate(-45deg);
        }
    }
}

// address search
.address-box {
    .input-wrap {
        width:calc(50% - 4px);
        .box {
            .cell {
                font-size:0;
                padding:15px 16px 15px 0;
                button {
                    padding-right:28px;
                    color:#ec455a;
                    font-size:16px;
                    font-weight:500;
                    line-height:24px;
                    vertical-align:top;
                    background:url('/lg5-common/images/icons/icon-search2-on.svg') no-repeat;
                    background-position:right top;
                    background-size:24px;
                }
            }
        }
    }
    .address-detail {
        position:relative;
        margin-top:8px;
        padding: 16px 24px;
        border-radius: 8px;
        background: #f4f4f4;
        .address {
            display:block;
            height:24px;
            font-size:16px;
            line-height:24px;
            color:#222;
            word-wrap:break-word;
        }
    }
    .address-default {
        margin-top:12px;
    }
    .part1 {
        @include clearfix;
        .input-wrap {
            float: left;
        }
        .address-default {
            float: right;
        }
    }
    @include mobile {
        .input-wrap {
            width:100%;
        }
        .address-detail {
            .address {
                height:auto;
                min-height:24px;
            }
        }
    }
}