// Form
.input-info {
    margin-top:48px;
    @include mobile {
        margin-top:40px;
    }
    &:first-child {
        margin-top:0;
    }
    .tit-wrap {
        position:relative;
        padding-bottom:16px;
        .tit {
            display:inline-block;
            @include font-large-1;
            font-weight:700;
            vertical-align:middle;
            &.size {
                @include font-large;
            }
        }
        .right-btn,
        .right-chk {
            float:right;
        }
        .agree-chk {
            float:right;
            @include mobile {
                @include clearfix;
                float:inherit;
                margin-top:20px;
            }
            .rdo-wrap {
                margin-left:64px;
                @include mobile {
                    float:left;
                    width:50%;
                    margin:0;
                }
                &:first-child {
                    margin-left:0;
                }
            }
        }
    }
    .txt-cont {
        color:#767676;
        @include font-small;
        font-weight:500;
        .dl-txt-cont {
            margin-top:48px;
            @include mobile {
                margin-top:40px;
            }
            &:first-child {
                margin-top:0;
            }
            dt {
                color:#222;
                margin-bottom:8px;
                @include font-medium;
                font-weight:700;
                @include mobile {
                    font-size:18px;
                    line-height:26px;
                }
            }
            dd {
                color:#767676;
                @include font-small;
            }
        }
        .sub-txt {
            margin-top:20px;
            color:#767676;
        }
    }
}
.form-infos {
    margin-bottom:48px;
    @include mobile {
        margin-bottom:24px;
    }
    p.req {
        color:#EC455A;
        font-size:16px;
        line-height:26px;
        @include mobile {
            font-size:13px;
            line-height:21px;
            font-weight:500;
        }
        &::before {
            content:'*';
            display:inline-block;
            margin-right:4px;
            vertical-align:top;
            @include mobile {
                margin-right:0;
            }
        }
    }
}
.form-wrap {
    // form 시작 전 form 안내 요소
    .forms {
        position:relative;
        margin-top:32px;
        font-size:0;
        @include mobile {
            margin-top:24px;
        }
        &.wide {
            margin-top:48px;
            @include mobile {
                margin-top:40px;
            }
        }
        &.type2 + .forms.type2 {
            margin-top:32px;
            @include mobile {
                margin-top:32px;
            }
        }
        &.type2 + .forms.type2.wide {
            margin-top:32px;
            @include mobile {
                margin-top:32px;
            }
        }
        &.inner-type {
            margin-top:24px;
            @include mobile {
                margin-top:24px;
            }
        }
        &:first-child {
            margin-top:0;
        }

        .input-wrap,
        .box {
            margin-top:8px;
            @include mobile {
                margin-top:6px;
            }
            &:first-child {
                margin-top:0;
            }
        }
        .btn {
            min-width:initial;
            height:48px;
            padding:11px;
            border:1px solid #222;
            border-radius:8px;
            background:#fff;
            color:#222;
            font-size:14px;
            line-height:24px;
            font-weight:500;
            white-space:nowrap;
            span {
                display:inline-block;
                vertical-align:top;
            }
            &.disabled, 
            &:disabled {
                border-color:#ddd;
                background:#f4f4f4;
                color:#aaa;
            }
            @include mobile {
                height:46px;
                border-radius:4px;
                font-size:13px;
                line-height:21px;
            }
        }
        .btn.bg-type {
            min-width:initial;
            height:38px;
            padding:6px 13px;
            border:1px solid #767676;
            border-radius:24px;
            background:#767676;
            color:#fff;
            @include font-small;
            &:disabled {
                background:#f4f4f4;
                border-color:#ddd;
                color:#aaa;
            }
            &.icon-ars {
                &::before {
                    content:' ';
                    display:inline-block;
                    width:20px;
                    height:20px;
                    margin-top:2px;
                    margin-right:8px;
                    background:url("/lg5-common/images/icons/icon-ars-call.svg") center no-repeat;
                    vertical-align:top;
                }
            }
        }
        @include clearfix;
        .tit {
            position:relative;
            display:inline-block;
            //width:234px;
            width:calc(25% + 24px);
            padding:11px 24px 11px 0;
            font-size:0;
            vertical-align:top;
            @include mobile {
                display:block;
                width:100%;
                padding:0;
            }
            label,
            .label {
                display:inline-block;
                color:#222;
                font-size:16px;
                line-height:26px;
                vertical-align:top;
                word-break: keep-all;
                @include mobile {
                    font-size:13px;
                    line-height:21px;
                    font-weight:500;
                }
            }
            .req {
                &::after {
                    content:'*';
                    display:inline-block;
                    margin-left:1px;
                    color:#EC455A;
                    font-size:inherit;
                    line-height:inherit;
                    vertical-align:top;
                }
            }
            .tooltip-wrap {
                margin-top:3px;
                margin-left:4px;
            }
            .right-btn {
                float: right;
            }
        }
        .tit.type2{
            display:block;
            width:auto;

            span{
                @include font-medium;
            }
        }
        .conts {
            position:relative;
            display:inline-block;
            width:calc(100% - (25% + 24px));
            //width:calc(100% - 234px);
            vertical-align:top;
            @include mobile {
                display:block;
                width:100%;
                margin-top:6px;
            }
            .input-wrap {
                display:block;
            }
            .select-wrap {
                max-width: 100%;
            }
            .input-box-wrap {
                display:table;
                width:100%;
                .input-box {
                    display:table-cell;
                    margin:0;
                    white-space:nowrap;
                    &.rdo-btn-wrap {
                        padding-right:34px;
                    }
                }
                &.addr-box {
                    margin-top: 12px;
                    .input-box {
                        width: 50%;
                        padding-right: 0;
                        & + .input-box {
                            padding-left: 16px;
                        }
                    }
                    @include mobile {
                        .input-box {
                            display: block;
                            width: 100%;
                            & + .input-box {
                                margin-top: 16px;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
            .select-list-wrap {
                margin-bottom:16px;
                &:last-child {
                    margin-bottom:0;
                }
            }
            .add-box {
                margin-top:16px;
            }
            &.cert-phone {
                .complete-text {
                    right: 187px;
                }
            }
            &.right {
                text-align:right;
            }
        }
        &.inner-type {
            .tit {
                display:block;
                width:100%;
                margin-bottom:8px;
                label,
                .label {
                    font-size:14px;
                    line-height:24px;
                    font-weight:500;
                    @include mobile {
                        font-size:13px;
                        line-height:21px;
                    }
                }
            }
            .conts {
                display:block;
                width:100%;
            }
        }
        &.type2 {
            .tit {
                padding:0 24px 0 0;
            }
        }
        &.type3 {
            .tit {
                display:block;
                width:100%;
                padding:0 0 12px 0;
            }
            .conts {
                display:block;
                width:100%;
            }
        }
        // input + other
        .box {
            position:relative;
            display:table;
            width:100%;

            > .input-wrap, 
            > .select-wrap {
                display:table-cell;
            }
            .cell {
                display:table-cell;
                width:1%;
                padding-left:8px;
                vertical-align:top;
                @include mobile {
                    padding-left:6px;
                }
                &.text {
                    padding-right: 20px;
                    @include font-medium;
                    vertical-align: middle;
                }
            }

            &.type2 {
                @include mobile {
                    display:block;
                    > .input-wrap,
                    > .select-wrap {
                        display:block;
                    }
                    > .cell {
                        display:block;
                        width:100%;
                        margin-top:6px;
                        padding-left:0;
                        text-align:right;
                    }
                    & + .btm-more {
                        position:absolute;
                        top:52px;
                        left:0;
                        max-width:calc(100% - 120px);
                        margin-top:0;
                    }
                    .comp {
                        position:absolute;
                        top:52px;
                        left:0;
                        margin-top:0;
                    }
                }
            }
        }
        .input-wrap {
            .box {
                .cell {
                    padding-left:0;
                }
            }
        }
        // input case
        // : 주소찾기 pc만 다른 케이스
        @include pc {
            .address-box {
                position: relative;
                display: table;
                width: 100%;
                padding-right: 87px;
                .box {
                    position: initial;
                    display: table-cell;
                    width: 91px;
                }
                .input-wrap {
                    display: table-cell;
                    padding-left: 8px;
                    &.zip-code {
                        padding-left: 0;
                    }
                }
                .cell {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: 79px;
                    padding-left: 0;
                }
            }
        }
        // 날짜 선택
        .date-select-box {
            .cell {
                padding-left: 0;
                &:last-child {
                    .text {
                        padding-right: 0;
                    }
                }
            }
            .text {
                display: table-cell;
                padding-left: 8px;
                padding-right: 20px;
                @include font-medium;
                vertical-align: middle;
            }
            @include pc {
                &.col-2 {
                    @include calc(padding-right,33.33%,-10px);
                }
            }
        }
        // : 생년월일+주민번호 뒤 앞자리1 
        .birth-date-box {
            font-size:0;
            white-space:nowrap;
            .input-wrap,
            .cell {
                display:inline-block;
                vertical-align:top;
            }
            > .input-wrap {
                width:140px;
                @include mobile {
                    width:44%;
                }
            }
            .cell {
                &::before {
                    content:'-';
                    display:inline-block;
                    margin:11px 8px;
                    @include font-medium;
                }
                &::after {
                    content:'······';
                    display:inline-block;
                    margin-left:3px;
                    color:#222;
                    font-size:40px;
                    line-height:48px;
                    letter-spacing:-3px;
                    vertical-align:top;
                }
                .input-wrap {
                    width:auto;
                    input {
                        width:41px;
                        padding:10px 0;
                        text-align:center;
                    }
                }
            }
        }
        // 카드번호 입력
        .card-num-box {
            font-size:0;
            padding:0 11px;
            border:1px solid #ddd;
            border-radius:8px;
            .input-wrap {
                display:inline-block;
                margin:0;
                vertical-align:top;
                input {
                    width:auto;
                    border:none;
                    padding:10px 0;
                    text-align:center;
                }
                &::before {
                    content:'-';
                    display:inline-block;
                    margin:0 4px;
                    padding:10px 0;
                    @include font-medium;
                    vertical-align:top;
                }
                &:first-child::before {
                    display:none;
                }
            }
        }
        // 날짜 선택(datepicker)
        .datepicker {
            width:calc((100% - 8px) / 2);
            @include mobile {
                width:100%;
            }
        }
        .bullet-list {
            margin-top:12px;
            &.bgGray {
                margin-top: 0;
            }
        }
        .btm-more {
            display:block;
            margin-top:4px;
            .btn-text {
                font-size:14px;
                line-height:20px;
            }
            .discount-txt {
                color:#EC455A;
                @include font-small;
                font-weight:500;
                &::before {
                    content:' ';
                    display:inline-block;
                    width:20px;
                    height:20px;
                    margin:2px 4px 0 0;
                    background:url("/lg5-common/images/icons/icon-sale.svg") center no-repeat;
                    vertical-align:top;
                }
            }
            &.right {
                text-align:right;
            }
            &.err-block {
                display:none;
            }
        }

        & +.chk-wrap {
            display:block;
            margin-top:24px;
            text-align:right;
            @include mobile {
                margin-top:16px;
                text-align:left;
            }
        }
    }

    &.term-filter {
        margin-bottom:40px;
        @include mobile {
            .forms {
                .conts {
                    .input-box-wrap {
                        display:block;
                        .input-box {
                            display:block;
                            white-space:initial;
                        }
                        .rdo-btn-wrap {
                            margin-right:-3px;
                            margin-bottom:8px;
                            padding-right:0;
                            .rdo-wrap {
                                position:relative;
                                margin-left:-1px;
                                width:25%;
                                input+label {
                                    display:block;
                                    position:relative;
                                    border-radius:0;
                                }
                                &:first-child {
                                    margin-left:0;
                                    input + label {
                                        border-radius:8px 0 0 8px;
                                    }
                                }
                                &:last-child {
                                    input+label {
                                        border-radius:0 8px 8px 0;
                                    }
                                }
                                input:checked+label {
                                    border-color:#222;
                                    z-index:10;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.agree-cont-wrap {
    .agree-input {
        margin-top:12px;
        @include mobile {
            margin-top:8px;
        }
    }
    .agree-cont-box {
        height:auto;
        max-height:200px;
        overflow-y:auto;
        padding:24px 24px 24px 24px;
        border:1px solid #ddd;
        border-radius:8px;
        color:#767676;
        @include font-small;
        font-weight:500;
        @include mobile {
            max-height:192px;
            padding:20px;
        }
    }
}

.agree-all-chk {
    font-weight:700;
    + .input-info {
        margin-top:32px;
        @include mobile {
            margin-top:25px;
        }
    }
}

// input text, textarea
.input-wrap {
    display:inline-block;
    vertical-align:top;

    // input common
    input, textarea {
        display:inline-block;
        width:100%;
        border:1px solid #ddd;
        border-radius:8px;
        color:#222;
        @include font-medium;
        vertical-align:top;
        resize:none;
        @include mobile {
            border-radius:4px;
        }

        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder {
            color:#767676;
        }
        &::placeholder {
            color:#767676;
            opacity:1;
        }

        &:focus {
            outline:none;
            border-color:#EC455A;
        }

        &:disabled, &:read-only {
            background:#ededed;
            border-color:#ededed;
            &::placeholder {
                color:#aaa;
            }
        }
    }
    input {
        height:48px;
        padding:10px 15px;
        &[type=number] {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance:none;
                margin:0;
            }
        }
        @include mobile {
            height:46px;
            padding:11px;
        }
    }
    textarea {
        height:160px;
        padding:23px 15px;
        @include mobile {
            padding:11px;
        }
    }

    .box {
        display:table;
        margin:0;
        input {
            display:table-cell;
            border-right:none;
            border-radius:8px 0 0 8px;
            @include mobile {
                border-radius:4px 0 0 4px;
            }
        }
        .cell {
            display:table-cell;
            padding:0 15px 0 0;
            border:1px solid #ddd;
            border-left:none;
            border-radius:0 8px 8px 0;
            vertical-align:middle;
            @include mobile {
                border-radius:0 4px 4px 0;
            }
        }
        input:focus + .cell {
            border-color:#EC455A;
        }
        input:disabled + .cell,
        input:read-only + .cell {
            background:#ededed;
            border-color:#ededed;
        }
    }

    .comp {
        margin-top: 4px;
        color:#3B9792;
        @include font-small;
        font-weight:500;
        white-space:nowrap;
        &::before {
            content:' ';
            display:inline-block;
            width:20px;
            height:20px;
            margin-top:2px;
            margin-right:2px;
            background:url('/lg5-common/images/icons/icon-comp.svg') center no-repeat;
            vertical-align:top;
            @include mobile {
                margin-top:1px;
            }
        }
    }

    .link {
        margin-top: 8px;
    }

    &.block {
        display:block;
    }
    &.count {
        position:relative;
        .total {
            display:block;
            margin-top:8px;
            color:#767676;
            font-size:14px;
            line-height:24px;
            text-align:right;
            em {
                font-size:inherit;
                line-height:inherit;
            }
        }
        textarea {
            height:160px;
        }
        .err-msg {
            position:absolute;
            left:0;
            bottom:0;
        }
    }
    &.datepicker {
        position:relative;
        .box {
            .cell {
                vertical-align: middle;
            }
        }
        input,
        input:read-only {
            border-color:#ddd;
            background:transparent
        }
        input:read-only + .cell,
        input:disabled + .cell {
            border-color:#ddd !important;
            background:transparent !important;
        }
        button.ui_calendar {
            display:inline-block;
            width:24px;
            height:24px;
            border:none;
            background:url("/lg5-common/images/icons/icon-cal.svg") center no-repeat;
            vertical-align:middle;
        }
        input.selected + .cell button.ui_calendar {
            background:url("/lg5-common/images/icons/icon-cal-selected.svg") center no-repeat;
        }
    }

    &.error {
        .total {
            border-color:#f00;
        }
        input, textarea {
            border-color:#f00;
            &:focus + .total {
                border-color:#f00;
            }
            &:read-only + .cell {
                border-color:#f00;
            }
        }
        .cell {
            border-color:#f00;
        }
    }
    &.info {
        position: relative;
        .info-msg {
            margin-top:8px;
            color:#808080;
            font-size:14px;
            line-height:20px;
            vertical-align:top;
        }
        .info-msg-top {
            position: absolute;
            top: -28px;
            right: 0;
            font-size: 14px;
            line-height: 20px;
            color: #ec455a;
        }
        @include pc {
            &.phone {
                .info-msg-top {
                    right: 187px;
                }
            }
        }
    }
}
// input error text
.err-msg {
    color:#f00;
    @include font-small;
    vertical-align:top;
    &::before {
        content:' ';
        display:inline-block;
        width:20px;
        height:20px;
        margin:2px 4px 0 0;
        background: url("/lg5-common/images/icons/icon-error.svg") center no-repeat;
        vertical-align:top;
        @include mobile {
            margin-top:1px;
        }
    }
}

// input + btn mix type
.input-mix-wrap {
    display:block;
    border:1px solid #ddd;
    border-radius:8px;
    background:#fff;
    .mix-input {
        display:table;
        width:100%;
        padding:15px 23px;
        border-bottom:1px solid #ddd;
        .chk-wrap,
        .cell {
            display:table-cell;
            vertical-align:middle;
        }
        .cell {
            text-align:right;
        }
        @include mobile {
            display:block;
            padding:16px;
            .chk-wrap,
            .cell {
                display:block;
            }
            .cell {
                margin-top:8px;
                padding-left:30px;
                text-align:left;
            }
        }
    }
    .mix-cont {
        padding:11px 23px 15px;
        .desc {
            color:#767676;
            @include font-small;
            font-weight:500;
            em {
                color:#EC455A;
            }
        }
        .btn-wrap {
            margin-top:12px;
            @include mobile {
                margin-top:12px !important;
                padding:0 !important;
                background:transparent !important;
            }
        }
        .gray-box {
            margin-top:24px;
            margin-bottom:7px;
            padding:16px 24px;
            border-radius:8px;
            background:#f4f4f4;
            &:first-child {
                margin-top:0;
            }
            @include mobile {
                margin-bottom:0;
                padding:20px 12px;
            }
        }
        &:first-child {
            padding:15px 23px;
        }
        @include mobile {
            padding:16px;
        }
    }
    &.cell-type {
        display:table;
        width:100%;
        padding:0;
        .chk-wrap {
            display:table-cell;
            padding:15px 0 15px 23px;
            white-space:nowrap;
        }
        .input-wrap {
            display:table-cell;
            input {
                border:none;
                text-align:right;
                color:#e51346;
                &:focus {
                    box-shadow:none;
                }
            }
        }
    }
}

// file upload 
.file-box {
    .file-input {
        display:block;
        position:relative;
        width:calc(50% - 4px);
        .file-label {
            display:block;
            padding:15px 90px 15px 24px;
            border:1px solid #ddd;
            border-radius:8px;
            font-size:16px;
            line-height:24px;
            color:#adadad;
        }
        label {
            position:absolute;
            top:15px;
            right:15px;
            padding-right:28px;
            font-size:16px;
            color:#ec455a;
            line-height:1.5;
            cursor:pointer;
            &:after {
                content:'';
                position:absolute;
                right:0;
                top:0;
                width:24px;
                height:24px;
                background:center/100% url('/lg5-common/images/icons/icon-upload.svg') no-repeat;
            }
            // &::after {
            //     content:'(전체 10mb, 최대 3개까지 등록 가능)';
            //     display:inline-block;
            //     font-size:inherit;
            //     line-height:inherit;
            //     vertical-align:top;
            // }
        }
        input[type=file] {
            position:absolute;
            width:1px;
            height:1px;
            padding:0;
            margin:-1px;
            overflow:hidden;
            clip:rect(0, 0, 0, 0);
            border:0;
        }

        @include mobile {
            width:100%;
            label {
                // padding:13px 15px 13px 47px;
                // border-radius:4px;
                // background-position-x:15px;
                // &::after {
                //     content:'(전체 10mb, 최대 3개)';
                // }
            }
        }
    }
    .file-lists {
        li {
            position:relative;
            margin-top:8px;
            padding:16px 24px;
            padding-right:72px;
            border-radius:8px;
            background:#f4f4f4;
            .file-name {
                display:block;
                overflow:hidden;
                text-overflow:ellipsis;
                font-size:16px;
                line-height:24px;
                color:#222;
                white-space:nowrap;
                word-wrap:break-all;
            }
            .btn-del {
                position:absolute;
                top:50%;
                right:26px;
                width:20px;
                height:20px;
                margin-top:-10px;
                background:#616161;
                border-radius:50%;
                &::before, &::after {
                    content:' ';
                    position:absolute;
                    top:50%;
                    left:50%;
                    width:12px;
                    height:2px;
                    margin-left:-6px;
                    margin-top:-1px;
                    background:#fafafa;
                }
                &::before {
                    transform:rotate(45deg);
                }
                &::after {
                    transform:rotate(-45deg);
                }
            }

            // @include mobile {
            //     padding:16px;
            //     padding-right:52px;
            //     border-radius:4px;
            //     .file-name {
            //         font-size:14px;
            //         line-height:20px;
            //     }
            //     .btn-del {
            //         right:17px;
            //         width:18px;
            //         height:18px;
            //         &::before, &::after {
            //             width:10px;
            //             margin-left:-5px;
            //         }
            //     }
            // }
        }
    }
}

// 수량선택
.quantity-wrap {
    .select-quantity {
        .inner {
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 0;
        }
        .minus,
        .plus {
            position: relative;
            width: 32px;
            height: 32px;
            background-color: #fff;
            &:before,
            &:after {
                position: absolute;
                top: 50%;
                @include calc(left,50%,5px);
                width: 10px;
                height: 1px;
                content: '';
            }
            &.minus {
                border-radius: 6px 0 0 6px;
                &:before {
                    background-color: #aaa;
                }
                &:after {
                    display: none;
                }
            }
            &.plus {
                border-radius: 0 6px 6px 0;
                &:before,
                &:after {
                    background-color: #111;
                }
                &:after {
                    transform: rotate(90deg);
                }
            }
        }
        .quantity {
            width: 40px;
            height: 32px;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            background-color: #fff;
            font-size: 13px;
            text-align: center;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

// checkbox, radio
$input: (chk, rdo);
@each $type in $input {
    .#{$type}-wrap {
        position:relative;
        display:inline-block;
        input {
            position:absolute;
            overflow:hidden;
            width:1px;
            height:1px;
            margin:-1px;
            padding:0;
            border:none;
            clip:rect(0,0,0,0);
            &+label {
                position:relative;
                display:inline-block;
                padding-left:30px;
                color:#222;
                @include font-medium;
                vertical-align:top;
                cursor:pointer;
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select:none;
                br.mob-only {
                    display:none;
                    @include mobile {
                        display:block;
                    }
                }
                &::before {
                    content:' ';
                    position:absolute;
                    top:3px;
                    left:2px;
                    width:20px;
                    height:20px;
                    background:url("/lg5-common/images/bg-input-default.svg") center no-repeat;
                    @include mobile {
                        top:2px;
                    }
                }
                @if ( $type == chk ) {
                    &::after {
                        content:' ';
                        position:absolute;
                        top:9px;
                        left:6px;
                        width:11px;
                        height:9px;
                        background:url("/lg5-common/images/bg-chk-default.svg") center no-repeat;
                        @include mobile {
                            top:8px;
                        }
                    }
                } @else if ( $type == rdo ) {
                    &::after {
                        content:' ';
                        position:absolute;
                        top:6px;
                        left:5px;
                        width:14px;
                        height:14px;
                        border-radius:50%;
                        background:transparent;
                        @include mobile {
                            top:5px;
                        }
                    }
                }
            }
            &:checked+label {
                @if ( $type == chk ) {
                    &::before {
                        background:#EC455A;
                        border-radius:50%;
                    }
                    &::after {
                        background:url("/lg5-common/images/bg-chk-on.svg") center no-repeat;
                    }
                } @else if ( $type == rdo ) {
                    &::before {
                        background:url("/lg5-common/images/bg-input-checked.svg") center no-repeat;
                    }
                    &::after {
                        background:#ec455a;
                    }
                }
            }
            &:disabled+label {
                color:#aaa;
                cursor: default;
                @if ( $type == chk ) {
                    &::before {
                        background:url("/lg5-common/images/bg-input-disabled.svg") center no-repeat;
                    }
                } @else if ( $type == rdo ) {
                    &::before {
                        background:url("/lg5-common/images/bg-input-disabled.svg") center no-repeat;
                    }
                    &::after {
                        background:transparent;
                    }
                }
            }
        }

        &.chk-sm {
            @if ( $type == chk ) {
                input {
                    &+label {
                        padding-left: 24px;
                        @include font-small;
                        &::before {
                            top: 4px;
                            left: 1px;
                            width:16px;
                            height:16px;
                            background-size: cover;
                        }
                        &::after {
                            top: 9px;
                            left: 5px;
                            width: 8px;
                            height: 6px;
                            background-size: cover;
                        }
                    }
                }
            }      
        }

        &.btn-type {
            @if ( $type == rdo ) {
                input {
                    &+label {
                        padding:15px 23px;
                        border:1px solid #ddd;
                        border-radius:8px;
                        background:#fff;
                        color:#808080;
                        font-size:16px;
                        line-height:24px;
                        text-align:center;
                        &::before, &::after {
                            display:none;
                        }
                    }
                    &:checked+label {
                        border-color:#616161;
                        background:#f4f4f4;
                        color:#616161;
                        font-weight:500;
                    }
                    &:disabled+label { // 임시. 디자인 나오면 변경 반영해야함.
                        background:#f4f4f4;
                        opacity:0.5;
                    }
                }
            }
        }

        &.btn-type2 {
            @if ( $type == rdo ) {
                input {
                    & + label {
                        position: relative;
                        width: 78px;
                        padding: 12px 0;
                        border-radius: 8px;
                        border: solid 1px #ddd;
                        text-align: center;
                        &:before {
                            display: none;
                        }
                        &:after {
                            position: absolute;
                            top: -1px;
                            right: -1px;
                            bottom: -1px;
                            left: -1px;
                            width: auto;
                            height: auto;
                            border: solid 1px #ddd;
                            border-radius: 8px;
                        }
                        @include mobile {
                            border-radius: 4px;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    &:checked {
                        & + label {
                            color: #ec455a;
                            &:after {
                                border: 2px solid #ec455a;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        &.box-type {
            @if ( $type == rdo ) {
                input {
                    & + label {
                        display: block;
                        padding: 16px 16px 16px 48px;
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        &:before {
                            top: 20px;
                            left: 18px;
                        }
                        &::after {
                            top:23px;
                            left:21px;
                        }
                        @include mobile {
                            border-radius: 4px;
                            font-size: 14px;
                            line-height: 18px;
                            &:before {
                                top: 16px;
                                left: 16px;
                            }
                            &:after {
                                top: 19px;
                                left: 19px;
                            }
                        }
                    }
                    &:checked {
                        & + label {
                            border-color: #ec455a;
                        }
                    }
                }
            }
        }
    }
}

.select-list-wrap {
    overflow:hidden;
    > ul {
        font-size:0;
        margin-top:-32px;
        margin-left:-32px;
        @include mobile {
            margin-top:-16px;
            margin-left:-12px;
        }
        li {
            display:inline-block;
            width:25%;
            margin-top:32px;
            padding-left:32px;
            vertical-align:top;
            @include mobile {
                width:50%;
                margin-top:16px;
                padding-left:12px;
            }
        }
    }
    &.w-auto {
        > ul li {
            width:auto;
        }
    }
}

.chk-wrap-colorchip {
    position:relative;
    display:inline-block;
    input {
        position:absolute;
        overflow:hidden;
        width:1px;
        height:1px;
        margin:-1px;
        padding:0;
        border:none;
        clip:rect(0,0,0,0);
        &+label {
            position:relative;
            display:inline-block;
            padding-left:32px;
            color:#222;
            font-size:16px;
            line-height:24px;
            vertical-align:top;
            cursor:pointer;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            &::before {
                content:' ';
                position:absolute;
                top:3px;
                left:3px;
                width:18px;
                height:18px;
                border:1px solid #979797;
                border-radius:50%;
            }
            &::after {
                content:' ';
                position:absolute;
                top:0;
                left:0;
                width:24px;
                height:24px;
                border:1px solid #fff;
                border-radius:50%;
            }
        }
        &:checked+label {
            &::after {
                border-color:#ccc;
            }
        }
        &:disabled+label {
            color:#aaa;
            &::before {
                background:#aaa;
                border-color:transparent;
            }
        }
    }
}

.chk-wish-wrap {
    position: relative;
    display: inline-block;
    input {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: none;
        clip: rect(0, 0, 0, 0);
        & + label {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: top;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                border: 0;
                border-radius: 0;
                background: url("/lg5-common/images/icons/icon-heart-off.svg") no-repeat 0 0;
                background-size: 24px 24px;
                content: '';
            }
        }
        &:checked + label {
            &:before {
                background-image: url("/lg5-common/images/icons/icon-heart-on.svg");
            }
        }
    }
    &.large {
        input {
            & + label {
                width: 32px;
                height: 32px;
                &:before {
                    width: 32px;
                    height: 32px;
                    background-size: 32px 32px;
                }
            }
        }
    }
}

// selectbox
.select-wrap {
    display:inline-block;
    position:relative;
    width:100%;
    &.block {
        display:block;
        max-width:100%;
    }
    select {
        position:absolute;
        z-index:10;
    }
    @include mobile {
        display:block;
        max-width:100%;
    }
    .ui-selectbox-wrap {
        display:block;
        position:relative;
        .ui-select-button {
            display:block;
            position:relative;
            padding:10px 15px;
            padding-right:39px;
            border:1px solid #ddd;
            border-radius:8px;
            background:#fff;
            @include mobile {
                padding:11px;
                padding-right:35px;
                border-radius:4px;
            }
            .ui-select-text {
                display:inline-block;
                overflow:hidden;
                max-width:100%;
                color:#222;
                @include font-medium;
                text-overflow:ellipsis;
                white-space:nowrap;
                word-break:break-all;
                vertical-align:top;
            }
            &.placeholder .ui-select-text {
                color:#767676;
            }
            .ico {
                position:absolute;
                top:50%;
                right:22px;
                width:0;
                height:0;
                margin-top:-3px;
                border-top:6px solid #222;
                border-left:5px solid transparent;
                border-right:5px solid transparent;
                transition:all 0.3s;
                @include mobile {
                    right:19px;
                }
            }
        }
        &.on {
            .ui-select-button {
                border-radius:8px 8px 0 0;
                border-color:#222;
                border-bottom-color:transparent;
                .ico {
                    transform:rotate(180deg);
                }
            }
            &.type_up {
                .ui-selectbox-list {
                    border:1px solid #222;
                    border-bottom:none;
                    border-radius:8px 8px 0 0;
                }
                .ui-select-button {
                    border:1px solid #222;
                    border-top:none;
                    border-radius:0 0 8px 8px;
                }
            }
        }
        .ui-selectbox-list {
            position:absolute;
            top:47px;
            right:0;
            left:0;
            overflow:hidden;
            border:1px solid #222;
            border-top:none;
            border-radius:0 0 8px 8px;
            background:#fff;
            z-index: 2;
            ul {
                li {
                    a {
                        display:block;
                        overflow:hidden;
                        padding:11px 15px;
                        color:#767676;
                        @include font-medium;
                        white-space:nowrap;
                        word-break:break-all;
                        text-overflow:ellipsis;
                        &:hover {
                            color:#222;
                            background:#f4f4f4;
                        }
                    }
                    &.on a {
                        color:#222;
                        background:#f4f4f4;
                    }

                }
            }
        }
        &.disabled {
            .ui-select-button {
                border-color:#ededed;
                background:#ededed;
                .ui-select-text {
                    color:#aaa;
                }
                .ico {
                    border-top-color:#9c9c9c;
                }
            }
            .ui-selectbox-list {
                display:none;
            }
        }
    }
}
.sort-select-wrap {
    display:inline-block;
    position:relative;
    width:auto;
    &.block {
        display:block;
        max-width:100%;
    }
    select {
        position:absolute;
        z-index:10;
    }
    .ui-selectbox-wrap {
        display:block;
        position:relative;
        text-align:left;
        .ui-select-button {
            display:block;
            position:relative;
            padding:0 28px 0 0;
            @include mobile {
                padding-right:28px;
            }
            .ui-select-text {
                display:inline-block;
                overflow:hidden;
                max-width:100%;
                color:#222;
                @include font-medium;
                font-weight:500;
                text-overflow:ellipsis;
                white-space:nowrap;
                word-break:break-all;
                vertical-align:top;
            }
            &.placeholder .ui-select-text {
                color:#808080;
            }
            .ico {
                position:absolute;
                top:50%;
                right:0;
                width:24px;
                height:24px;
                margin-top:-12px;
                background:url('/lg5-common/images/icons/icon-triangle-24.svg') no-repeat;
                transition:all 0.1s;
            }
        }
        &.on {
            .ui-select-button {
                .ico {
                    transform:rotate(180deg);
                }
            }
        }
        .ui-selectbox-list {
            position:absolute;
            top:34px;
            left:50%;
            overflow:hidden;
            padding:4px;
            border-radius:4px;
            background:#fff;
            box-shadow:0 4px 12px 0 rgba(0, 0, 0, .15);
            transform:translateX(-50%);
            z-index: 100;
            ul {
                li {
                    a {
                        display:block;
                        overflow:hidden;
                        padding:8px 20px;
                        border-radius:4px;
                        color:#222;
                        @include font-medium;
                        font-weight:500;
                        white-space:nowrap;
                        word-break:break-all;
                        text-overflow:ellipsis;
                        text-align:center;
                    }
                    &.on a {
                        background:#f4f4f4;
                    }

                }
            }
        }
        &.disabled {
            .ui-selectbox-list {
                display:none;
            }
        }
    }
}
.star-rating-wrap {
    .ui-rating-wrap {
        font-size:0;
        > a {
            display:inline-block;
            width:24px;
            height:24px;
            font-size:0;
            vertical-align:top;
            background:url('/lg5-common/images/icons/icon-star2-off.svg') no-repeat 100%;
            & + a {
                margin-left:4px;
            }
            &.on {
                background-image:url('/lg5-common/images/icons/icon-star2-on.svg')
            }
        }
        .ui-select-label {
            display:inline-block;
            margin-left:8px;
            font-size:16px;
            line-height:24px;
            vertical-align:top;
        }
    }
    .err-msg {
        display:none;
        margin-top:8px;
        color:#f00;
        font-size:14px;
        line-height:20px;
        vertical-align:top;
        &::before {
            content:' ';
            display:inline-block;
            width:20px;
            height:20px;
            margin-right:6px;
            background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eIcon_20x20_error%3c/title%3e%3cdefs%3e%3crect id='path-1' x='0' y='0' width='476' height='160'%3e%3c/rect%3e%3cfilter x='-4.2%25' y='-10.0%25' width='108.4%25' height='125.0%25' filterUnits='objectBoundingBox' id='filter-2'%3e%3cfeOffset dx='0' dy='4' in='SourceAlpha' result='shadowOffsetOuter1'%3e%3c/feOffset%3e%3cfeGaussianBlur stdDeviation='6' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3e%3c/feGaussianBlur%3e%3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0' type='matrix' in='shadowBlurOuter1'%3e%3c/feColorMatrix%3e%3c/filter%3e%3c/defs%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='15' transform='translate(-555.000000, -546.000000)'%3e%3cg id='Group-2' transform='translate(527.000000, 430.000000)'%3e%3cg id='Rectangle'%3e%3cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3e%3c/use%3e%3cuse fill='%23FFFFFF' fill-rule='evenodd' xlink:href='%23path-1'%3e%3c/use%3e%3c/g%3e%3cg id='Group-5' transform='translate(28.000000, 24.000000)'%3e%3cg id='Icon_20x20_error' transform='translate(0.000000, 92.000000)'%3e%3crect id='Rectangle' fill-opacity='0' fill='%23D8D8D8' x='0' y='0' width='20' height='20'%3e%3c/rect%3e%3cpath d='M11.8230139,3.81722848 L17.6505533,16.1452723 C18.1226064,17.1438912 17.6957404,18.3361064 16.6971215,18.8081594 C16.4298891,18.9344818 16.1379788,19 15.8423938,19 L4.16319443,19 C3.05862493,19 2.16319443,18.1045695 2.16319443,17 C2.16319443,16.7033365 2.22919147,16.4103884 2.35640315,16.142384 L8.20806314,3.81434012 C8.68171141,2.81647685 9.8746072,2.39151663 10.8724705,2.86516489 C11.2897523,3.06323292 11.6256129,3.39963066 11.8230139,3.81722848 Z' id='Rectangle' fill='%23FF0000'%3e%3c/path%3e%3cpath d='M11,13 L11,9 C11,8.44771525 10.5522847,8 10,8 C9.44771525,8 9,8.44771525 9,9 L9,13 C9,13.5522847 9.44771525,14 10,14 C10.5522847,14 11,13.5522847 11,13 Z M9.99453552,17 C10.5628415,17 11,16.5625 11,16 C11,15.4375 10.5628415,15 9.99453552,15 C9.42622951,15 9,15.4375 9,16 C9,16.5625 9.42622951,17 9.99453552,17 Z' id='!-copy-2' fill='%23F4F4F4' fill-rule='nonzero'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg id='%40-Guide' transform='translate(518.000000, 196.000000)'%3e%3cg id='%23overlay-673E6159-4642-4CED-8661-F70A3FF82A8A' transform='translate(37.000000, 350.000000)'%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e") center no-repeat;
            vertical-align:top;
        }
    }
    &.error {
        .err-msg {
            display:block;
        }
    }
    .star {
        display:inline-block;
        width:24px;
        height:24px;
        font-size:0;
        vertical-align:top;
        background:url('/lg5-common/images/icons/icon-star2-off.svg') no-repeat 100%;
        & + .star {
            margin-left:4px;
        }
        &.on {
            background-image:url('/lg5-common/images/icons/icon-star2-on.svg')
        }
    }
}

// datepicker
.ui-calendar-container {
    position:absolute;
    top:60px;
    left:0;
    background:#fff;
    width:360px;
    padding:0;
    border-radius:8px;
    box-shadow:2px 4px 16px 0 rgba(0, 0, 0, .14);
    overflow:hidden;
    z-index:9999;
    @include mobile {
        top:54px;
        width:100%;
    }
    .ui-calendar-header-second {
        position:relative;
        padding:24px 64px;
        background:#767676;
        text-align:center;
        @include mobile {
            padding:16px 58px;
        }
        > a {
            position:absolute;
            top:50%;
            margin-top:-16px;
            font-size:0;
            @include mobile {
                margin-top:-12px;
            }
            &::before {
                content:' ';
                display:block;
                width:32px;
                height:32px;
                background:url("/lg5-common/images/icons/btn-arrow-right-wt-32.svg");
                background-size:32px;
                @include mobile {
                    width:24px;
                    height:24px;
                    background-size:24px;
                }
            }
            &.ui-calendar-prev {
                left:32px;
                @include mobile {
                    left:34px;
                }
                &::before {
                    transform:rotate(180deg);
                }
            }
            &.ui-calendar-next {
                right:32px;
                @include mobile {
                    right:34px;
                }
            }
            &.disabled {
                cursor: default;
                opacity:0.5;
            }
        }
        .ui-calendar-now {
            color:#fff;
            @include font-large-1;
            font-weight:700;
            .year::after {
                content:'.';
                display:inline-block;
            }
        }
    }
    .ui-calendar-date {
        padding:32px 32px 40px;
        @include mobile {
            padding:20px 34px;
        }
        .ui-calendar-table {
            table-layout:fixed;
            width:calc(100% + 12px);
            margin:0 -6px;
            text-align:center;
            @include mobile {
                width:calc(100% + 6px);
                margin:0 -3px;
            }
            th {
                height:32px;
                padding:0;
                color:#767676;
                @include font-small;
                font-weight:500;
                @include mobile {
                    padding:7px 0;
                }
            }
            tbody {
                .ui-calendar-cell {
                    padding:6px;
                    @include mobile {
                        padding:3px;
                    }
                    .ui-calendar-day {
                        display:inline-block;
                        width:32px;
                        height:32px;
                        border-radius:50%;
                        background:transparent;
                        color:#222;
                        @include font-small;
                        font-weight:500;
                        vertical-align:top;
                        &.disabled {
                            color:#aaa;
                        }
                    }
                    &.ui-calendar-active {
                        .ui-calendar-day {
                            background:#e51346;
                            color:#fff;
                            font-weight:700;
                        }
                    }
                }
            }
        }
    }
}