// 제품리스트(gray-box list, script)
.product-list-wrap {
    overflow:hidden;

    .product-lists {
        margin:-24px -12px 0;
        font-size:0;
        @include mobile {
            margin:-12px -6px 0;
        }
        li.lists {
            display:inline-block;
            width:calc(100% / 3);
            margin-top:24px;
            vertical-align:top;
            @include mobile {
                width:50%;
                margin-top:12px;
            }
            div {
                margin:0 12px;
                border-radius:4px;
                background:#f4f4f4;
                overflow:hidden;
                @include mobile {
                    margin:0 6px;
                }
            }
            dl {
                position:relative;
                padding:32px 0 28px;
                // border-radius:4px;
                // background:#f4f4f4;
                text-align:left;
                @include mobile {
                    // margin:0 6px;
                    padding:0 0 20px;
                    text-align:center;
                }
                dt {
                    position:relative;
                    color:$color-1;
                    .img {
                        display:block;
                        margin-bottom:16px;
                        text-align:center;
                        img {
                            width:100%;
                            height:auto;
                            vertical-align:top;
                        }
                    }
                    p {
                        padding:0 40px;
                        @include mobile {
                            padding:0 12px;
                        }
                        &.name {
                            display:-webkit-box;
                            -webkit-line-clamp:2;
                            -webkit-box-orient:vertical;
                            max-height:48px;
                            overflow:hidden;
                            font-size:16px;
                            line-height:24px;
                            font-weight:700;
                            text-overflow:ellipsis;
                            @include mobile {
                                font-size:14px;
                                line-height:18px;
                            }
                        }
                        &.num {
                            height:20px;
                            font-size:14px;
                            line-height:20px;
                            font-weight:400;
                            overflow:hidden;
                            text-overflow:ellipsis;
                            white-space:nowrap;
                            @include mobile {
                                margin-top:2px;
                                font-size:12px;
                                line-height:16px;
                            }
                        }
                    }
                }
                dd {
                    margin-top:4px;
                    padding:0 40px;
                    @include mobile {
                        padding:0 12px;
                    }
                    .infos {
                        li {
                            color:$color-1;
                            font-size:14px;
                            line-height:20px;
                            small {
                                display:block;
                                color:#616161;
                            }
                            @include mobile {
                                font-size:12px;
                                line-height:16px;
                            }
                        }
                    }
                }
                .btn-del {
                    position:absolute;
                    top:16px;
                    right:16px;
                    width:24px;
                    height:24px;
                    &::before, &::after {
                        content:' ';
                        position:absolute;
                        top:50%;
                        left:50%;
                        width:1.3px;
                        height:24px;
                        margin-top:-12px;
                        margin-left:-1px;
                        border-radius:1px;
                        background:#222;
                    }
                    &::before {
                        transform:rotate(45deg);
                    }
                    &::after {
                        transform:rotate(-45deg);
                    }
                }
            }
        }
        &.center {
            li.lists {
                dl {
                    text-align:center;
                }
            }
        }
    }

    &.shadow-box-list {
        overflow: visible;
        .product-lists {
            //margin-top: 0;
            li.lists {
                @include mobile {
                    width: 100%;
                    margin-top: 16px;
                }
                div {
                    background:#fff;
                    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.06);
                }
                dl {
                    padding:0 0 32px;
                     dt {
                         .img {
                             max-width: 226px;
                             margin: 0 auto 26px;
                         }
                         p {
                             padding:0 28px;
                             &.name {
                                 font-size: 20px;
                                 line-height: 32px;
                             }
                         }
                     }
                    dd {
                        padding:0 28px;
                        .infos {
                            li {
                                color: #616161;
                            }
                        }
                    }
                    @include mobile {
                        padding-bottom: 26px;
                        text-align: left;
                        dt {
                            .img {
                                max-width: 172px;
                                margin: 0 auto 18px;
                            }
                            p {
                                padding:0 20px;
                                &.name {
                                    font-size: 16px;
                                    line-height: 23px;
                                }
                            }
                        }
                        dd {
                            margin-top: 8px;
                            padding:0 20px;
                        }
                    }
                }
            }
        }
    }
}

// link button list
.link-btn-lists {
    margin-top:24px;
    font-size:0;
    text-align:center;
    @include mobile {
        margin-top:32px;
    }
    li {
        display:inline-block;
        margin:8px 4px 0;
        vertical-align:top;
        @include mobile {
            display:block;
            margin:8px 0 0;
        }
        a {
            display:block;
            position:relative;
            padding:7px 53px 7px 15px;
            border:1px solid #616161;
            border-radius:8px;
            color:#616161;
            font-size:14px;
            line-height:20px;
            font-weight:500;
            text-align:left;
            @include mobile {
                padding:15px 43px 15px 19px;
                font-size:16px;
                line-height:24px;
            }
            &::after {
                content:' ';
                position:absolute;
                top:50%;
                right:13px;
                width:6px;
                height:6px;
                margin-top:-3px;
                border:1px solid #616161;
                border-left:none;
                border-bottom:none;
                transform:rotate(45deg);
                @include mobile {
                    width:9px;
                    height:9px;
                    right:32px;
                    border-width:2px;
                    margin-top:-4px;
                }
            }
        }
    }
}

// dl List 
.dl-infolist-wrap {
    .lists {
        li {
            margin-top:12px;
            @include mobile {
                margin-top:16px;
            }
            &:first-child {
                margin-top:0;
            }
            dl {
                font-size:0;
                dt {
                    display:inline-block;
                    width:136px;
                    padding-right:24px;
                    color:#616161;
                    font-size:16px;
                    line-height:24px;
                    vertical-align:top;
                    word-break:keep-all;
                    @include mobile {
                        width:124px;
                    }
                }
                dd {
                    display:inline-block;
                    max-width:calc(100% - 136px);
                    color:$color-1;
                    font-size:16px;
                    line-height:24px;
                    vertical-align:top;
                    p {
                        display:inline;
                        margin-right:16px;
                    }
                    .btn-moreinfo {
                        font-size:inherit;
                        line-height:inherit;
                        font-weight:inherit;
                        &::after {
                            margin-top:4px;
                        }
                    }
                    @include mobile {
                        max-width:calc(100% - 124px);
                        p {
                            display:block;
                        }
                        .btn-moreinfo {
                            margin-top:8px;
                            font-size:14px;
                            line-height:20px;
                            &::after {
                                margin-top:2px;
                            }
                        }
                    }
                }
            }
        }
    }
}