@charset "UTF-8";

@import "../utilities/mixins";

.pagination {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top:32px;
    text-align: center;

    .prev,
    .next {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: -7px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cpath d='M0 0H24V24H0z'/%3E%3Cg stroke='%23111' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M8 3L3 8 -2 3' transform='translate(9.5 7.5) rotate(90 3 5.5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat:no-repeat;
        background-size:100%;
        cursor: pointer;
    }
    .prev.disabled {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cpath d='M0 0H24V24H0z'/%3E%3Cg stroke='%23ccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M8 3L3 8 -2 3' transform='translate(9.5 7.5) rotate(90 3 5.5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .next {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cpath d='M0 0H24V24H0z'/%3E%3Cg stroke='%23111' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M8 3L3 8 -2 3' transform='translate(8.5 7.5) rotate(-90 3 5.5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        &.disabled {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cpath d='M0 0H24V24H0z'/%3E%3Cg stroke='%23ccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M8 3L3 8 -2 3' transform='translate(8.5 7.5) rotate(-90 3 5.5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
    }

    .page_num {
        display: inline-block;
        margin: 0 18px;
        font-size: 0;
        vertical-align: top;;
        a,
        button,
        strong,
        span {
            display: inline-block;
            width: 20px;
            font-size: 14px;
            line-height: 24px;
            color: #616161;
            vertical-align: top;
            cursor: pointer;

        }
        strong {
            font-weight: 500;
            color: #222;
        }
        span.dot {
            cursor:auto;
        }
    }
}