// alert layer popup style
.lay-wrap {
    display:none;
    position:absolute;
    width:444px;
    padding-top:72px;
    background-color:#fff;
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.16);
    border-radius:8px;
    z-index:9000;
    overflow:hidden;
    @include mobile {
        width:87.5%;
        padding-top:70px;
        border-radius:4px;
    }
    .lay-header {
        position:relative; 
        width:auto;
        text-align:center;
        margin:0 24px;
        box-shadow:none;
        @include mobile {
            padding:0;
        }
        h1 {
            @include font-large-2; 
            text-align:center; 
            font-weight:700;
        }
    }
    .lay-conts {
        padding:0 24px 32px;
        @include font-medium;
        text-align:center;
        &:first-child {
            margin-top:0;
        }
        @include mobile {
            padding:0 24px 70px;
        }
        p {
            margin-top:8px;
        }
        h6 {
            @include font-large-2;
            font-weight:700;
        }
    }
    .laypop {
        &.btn-wrap {
            padding-bottom:72px;
            font-size:0;
            text-align:center;
            @include mobile {
                padding:0;
            }
            .btn {
                margin-left:8px;
                &:first-child {
                    margin-left:0;
                }
                @include mobile {
                    width:50%;
                    margin-left:0;
                    &:only-child {
                        width:100%;
                    }
                }
            }
        }
    }
    &.type2 {
        padding-top:48px;
        @include mobile {
            padding-top:60px;
        }
        .lay-conts {
            padding:0 24px 32px;
            @include mobile {
                padding:0 24px 40px;
            }
        }
        .laypop {
            &.btn-wrap {
                padding-bottom:48px;
                @include mobile {
                    padding:0;
                }
            }
        }
    }
}


// modal layer popup style
.ui_modal_wrap {
    height:100%;
    margin:0 30px;
    @include mobile {
        margin:0;
    }
}
.popup-wrap {
    display:none;
    position:absolute;
    width:100%;
    max-width:678px;
    overflow:hidden;
    border-radius:8px;
    background:#fff;
    &.full {
        max-width:912px;
        @include mobile {
            max-width:100%;
        }
    }
    &.small {
        max-width:444px;
        @include mobile {
            height:auto;
            width:87.5%;
            left:50% !important;
            top:50%  !important;
            transform:translateX(-50%) translateY(-50%) !important;
            border-radius:4px;
            .pop-header {
                padding:24px 0 14px;
                .tit {
                    span {
                        font-size:18px;
                        line-height:26px;
                    }
                }
            }
            .pop-conts {
                padding:24px 16px 40px;
            }
            .btn-close {
                top:21px;
            }
        }
    }
    @include mobile {
        left:0 !important;
        top:0 !important;
        width:100%;
        height:100%;
        max-width:none;
        border-radius:0;
        transform:none !important;
    }
    .btn-close {
        position:absolute;
        top:40px;
        right:48px;
        width:32px;
        height:32px;
        @include mobile {
            top:24px;
            right:16px;
        }
        &::before {
            content:' ';
            position:absolute;
            top:0;
            left:0;
            width:32px;
            height:32px;
            background:url('/lg5-common/images/icons/btn-close-32.svg') no-repeat;

        }
    }
    .pop-header {
        padding:40px 0 20px;
        margin:0 48px;
        border-bottom:2px solid #222;
        .tit span {
            display:block;
            height:34px;
            @include font-large-2;
            font-weight:700;
            overflow:hidden;
            text-overflow:ellipsis;
            word-break:keep-all;
        }
        @include mobile {
            margin:0 16px;
            padding:24px 0 24px;
            .tit span {
                height:32px;
                font-size:24px;
                line-height:32px;
            }
        }
    }
    .pop-guide {
        margin:0 -56px;
        padding:16px 56px;
        background:#f4f4f4;
        @include clearfix;
        .text {
            float:left;
            color:#616161;
            font-size:16px;
            line-height:24px;
        }
        .btn-box {
            float:right;
            .btn-link {
                line-height:24px;
            }
        }
    }
    .pop-guide.type2{
        margin:0;
        border-radius:10px;
        padding:30px 40px;
    }
    .pop-conts {
        height:auto;
        // max-height:492px;
        max-height:580px;
        padding:48px 48px 0;
        overflow-y:auto;
        &.no-footer {
            max-height:576px;
            padding-bottom:48px;
            text-align:left;
            @include mobile {
                height:calc(100% - 82px);
                max-height:calc(100% - 82px);
            }
        }
        &.support {
            background-color: #fff;
        }
        @include mobile {
            padding:32px 16px 60px;
            height:calc(100% - 142px);
            max-height:calc(100% - 142px);
        }
        .tabs-wrap {
            &:first-child {
                @include mobile {
                    margin:0 -20px 0;
                }
            }
        }
        .tabs-contents {
            padding-top:32px;
        }
    }
    .pop-footer {
        padding:32px 48px 48px;
        background:transparent;
        font-size:0;
        text-align:right;
        &.center {
            text-align:center;
        }
        &.no-padding {
            padding:0 0 40px;
        }
        &.check-type {
            text-align:left;
        }
        .btn-group {
            margin:0;
            padding:0;
        }
        .btn {
            margin-left:8px;
            border-radius:26px;
            vertical-align:top;
            &:first-child {
                margin-left:0;
            }
            @include mobile {
                padding:17px 0;
                font-size:17px;
                line-height:24px;
            }
        }
        @include pc {
            &.check-type {
                padding:20px 56px 40px;
                input {
                    + label {
                        padding-left:20px;
                        font-size:12px;
                        line-height:16px;
                        &:before {
                            width:16px;
                            height:16px;
                        }
                        &:after {
                            top:5px;
                            left:4px;
                            width:8px;
                            height:4px;
                        }
                    }
                }
            }
        }
        @include mobile {
            padding:0;
            &.check-type {
                padding:12px 24px 24px;
            }
            .btn-group {
                .btn {
                    margin-left:0;
                    border-radius:0;
                }
            }
        }
    }
    &.video {
        max-width: 1284px;
        border-radius: 0;
        @include mobile {
            background-color: #000;
            .video-asset {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                overflow: hidden;
            }
        }
        .btn-close {
            width:42px;
            height:42px;
            &::before, &::after {
                width: 3px;
                height: 32px;
                margin-top: -16px;
                background-color: #fff;
            }
            @include mobile {
                top:24px;
                right:24px;
                &::before, &::after {
                    width: 2px;
                    height: 18px;
                    margin-top: -9px;
                }
            }
        }
        .pop-conts {
            padding: 0;
        }
        .video-box {
            overflow: hidden;
            width: 100%;
            height: calc((100vw - 15px) * (9/16));
            iframe {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    &.tit-line2 {
        .pop-header {
            .tit span {
                br {
                    display:none;
                }
                @include mobile {
                    height:64px;
                    br {
                        display:block;
                    }
                }
            }
        }
        @include mobile {
            .pop-conts {
                height:calc(100% - 142px - 32px);
                max-height:calc(100% - 142px - 32px);
                &.no-footer {
                    height:calc(100% - 114px);
                    max-height:calc(100% - 114px);
                }
            }
        }
    }
    &.tit-line3 {
        .pop-header {
            .tit span {
                br {
                    display:none;
                }
                @include mobile {
                    height:96px;
                    br {
                        display:block;
                    }
                }
            }
        }
        @include mobile {
            .pop-conts {
                height:calc(100% - 142px - 32px - 32px);
                max-height:calc(100% - 142px - 32px - 32px);
                &.no-footer {
                    height:calc(100% - 129px);
                    max-height:calc(100% - 129px);
                }
            }
        }
    }
}


// 공통 팝업
.popup-wrap {
    .common-pop {
        .sect-wrap {
            margin-top:48px;
            @include mobile {
                margin-top:32px;
            }
            &:first-child {
                margin-top:0;
            }
            .tit-wrap {
                margin-bottom:16px;
                @include mobile {
                    margin-bottom:18px;
                }
                .h2-tit {
                    color:#222;
                    font-size:16px;
                    line-height:24px;
                    font-weight:700;
                }
            }
            
        }
        // 배송지 관리
        .my-address-wrap {
            .address-lists {
                margin-top:24px;
                .lists {
                    margin-top:10px;
                    padding:32px;
                    border-radius:8px;
                    background:#fff;
                    border:1px solid #ddd;
                    // box-shadow:0 4px 12px 0 rgba(0, 0, 0, .26);
                    &:first-child {
                        margin-top:0;
                    }
                    @include mobile {
                        padding:20px;
                        border-radius:4px;
                    }
                    .inner {
                        position:relative;
                        min-height:80px;
                        padding:0 154px 0 32px;
                        @include mobile {
                            min-height:100%;
                            padding:0 0 0 32px;
                        }
                        .addr {
                            dt {
                                margin-bottom:8px;
                                font-size:0;
                                p {
                                    display:inline-block;
                                    @include font-medium;
                                    font-weight:700;
                                    vertical-align:middle;
                                }
                                .flag-wrap {
                                    display:inline-block;
                                    margin-left:8px;
                                    vertical-align:middle;
                                }
                            }
                            dd {
                                margin-top:2px;
                                font-size:0;
                                &:first-child {
                                    margin-top:0;
                                }
                                p {
                                    display:inline-block;
                                    position:relative;
                                    margin-right:8px;
                                    padding-right:9px;
                                    color:#616161;
                                    font-size:14px;
                                    line-height:24px;
                                    vertical-align:top;
                                    @include mobile {
                                        font-size:14px;
                                        line-height:18px;
                                    }
                                    &::after {
                                        content:' ';
                                        position:absolute;
                                        top:50%;
                                        right:0;
                                        width:1px;
                                        height:10px;
                                        margin-top:-5px;
                                        background:#808080;
                                    }
                                    &:last-child {
                                        margin-right:0;
                                        padding-right:0;
                                        &::after {
                                            display:none;
                                        }
                                    }
                                }
                            }
                        }
                        .btns {
                            position:absolute;
                            top:50%;
                            right:0;
                            transform:translateY(-50%);
                            font-size:0;
                            @include mobile {
                                position:relative;
                                top:auto;
                                right:auto;
                                margin:16px 0 0 0;
                                font-size:0;
                                text-align:left;
                                transform:translateY(0);
                            }
                            .btn {
                                margin-left:8px;
                                @include mobile {
                                    margin-left:6px;
                                }
                                &:first-child {
                                    margin-left:0;
                                }
                            }
                        }
                        .rdo-wrap {
                            position:absolute;
                            top:0;
                            left:0;
                            input + label {
                                font-size:0;
                            }
                        }
                    }
                }
            }
            .no-data {
                padding:88px 0 124px;
            }
        }

        // 매월 납부금 할인내역
        .fee-info-wrap {
            padding:32px;
            border-radius:8px;
            background:#f4f4f4;
            @include mobile {
                padding:24px 20px;
                border-radius:4px;
            }
            dl {
                display:table;
                width:100%;
                margin-top:16px;
                @include mobile {
                    margin-top:8px;
                }
                &:first-child {
                    margin-top:0;
                }
                dt, dd {
                    display:table-cell;
                    @include font-small;
                    vertical-align:middle;
                }
                dt {
                    color:#767676;
                    text-align:left;
                }
                dd {
                    text-align:right;
                    &.minus {
                        color:#F04E3E;
                    }
                }
                &.total {
                    margin-top:16px;
                    padding-top:16px;
                    border-top:1px solid #ddd;
                    @include mobile {
                        padding-top:12px;
                    }
                    dt {
                        color:#222;
                        font-weight:500;
                    }
                    dd {
                        @include font-large-2;
                        font-weight:700;
                    }
                }
            }
        }
        .btm_info .btn {
            margin-top:16px;
        }
        .form-wrap.mt-type {
            margin-top:40px;
            @include mobile {
                margin-top:20px;
            }
        }
        .bk-infos {
            dt {
                @include font-medium;
                strong {
                    color:#EC455A;
                    font-weight:normal;
                }
            }
            dd {
                margin-top:8px;
                color:#616161;
                @include font-small;
                font-weight:500;
                @include mobile {
                    margin-top:12px;
                }
                .btn {
                    margin-top:16px;
                    @include mobile {
                        margin-top:8px;
                    }
                }
            }
        }

        // 케어솔루션 구매 안내
        .gray-txt-box {
            padding:24px;
            border-radius:8px;
            background:#f4f4f4;
            p {
                @include font-medium;
                @include mobile {
                }
            }
        }

        //케어십안내
        .careship-info {
            margin-top:16px;
            @include clearfix;
            li {
                float:left;
                position:relative;
                padding-left:48px;
                @include font-medium;
                font-weight:700;
                @include mobile {
                    padding-left:10.6707vw;
                }
                &:before {
                    content:'';
                    display:block;
                    position:absolute;
                    top:50%;
                    left:12px;
                    width:24px;
                    height:24px;
                    background:url('/lg5-common/images/icons/btn-arrow_right_24.svg') no-repeat;
                    background-size:24px 24px;
                    transform:translateY(-50%);
                    @include mobile {
                        left:12px;
                    }
                }
                &:first-child {
                    padding-left:0;
                    &:before {
                        display:none;
                    }
                }
            }
        }
    }

    // input-form
    .input-info {
        .tit-wrap {
            @include clearfix;
            position:relative;
            margin-bottom:8px;
            padding:0;
            .h2-tit {
                @include font-medium;
                @include mobile {
                    font-size:18px;
                    line-height:26px;
                }
            }
            &.type2 {
                margin-bottom:16px;
                @include mobile {
                    margin-bottom:8px;
                }
                .h2-tit {
                    display:inline-block;
                    padding-right:100px;
                    @include font-medium;
                    vertical-align:middle;
                }
            }
            .btn-link {
                position:absolute;
                top:50%;
                right:0;
                transform:translateY(-50%);
            }
        }
    }
}

// window popup
.win-popup-wrap {
    position: relative;
    //max-width: 912px;
    .pop-header {
        position: fixed;
        width: 100%;
        height: 96px;
        padding: 40px 48px 20px;
        background-color: #fff;
        z-index: 99;
        &:after {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 48px;
            content: '';
            width: calc(100% - 96px);
            height: 2px;
            background-color: #222;
        }
        @include mobile {
            height: 82px;
            padding: 24px 16px 26px;
            &:after {
                width: calc(100% - 32px);
                left: 16px;
            }
        }
        .tit {
            @include font-large-2;
            font-weight: $font-weight-bold;
        }
    }
    .win-btn-close {
        position:fixed;
        top:40px;
        right:48px;
        width:32px;
        height:32px;
        z-index: 100;
        @include mobile {
            top:24px;
            right:16px;
        }
        &::before {
            content:' ';
            position:absolute;
            top:0;
            left:0;
            width:32px;
            height:32px;
            background:url('/lg5-common/images/icons/btn-close-32.svg') no-repeat;

        }
        
    }
    .pop-conts {
        padding: 144px 48px 48px;
        @include mobile {
            //padding: 32px 16px 60px;
            padding: 114px 16px 60px;
        }
        .tit-wrap {
            padding-bottom: 24px;
            .h2-tit {
                @include font-large-1;
                color: $color-default;
                font-weight: $font-weight-bold;
            }
        }
        
    }
    footer {
        /*
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 32px 0 48px;*/
        padding: 0 0 48px;
        background: #fff;
        .btn-group {
            text-align: center;
        }
    }
}