.result-list {
    @include clearfix;
    > li {
        position: relative;
        margin-bottom: 24px;
        .item {
            display: flex;
            flex-wrap: wrap;
            min-height: 176px;
            padding: 32px 48px;
            align-items: center;
            border-radius: 8px;
            box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
            background-color: #ffffff;
            @include mobile {
                min-height: 164px;
                align-items: flex-start;
                padding: 32px 24px;
            }
            &.item-type2 {
                min-height: 200px;
                @include mobile {
                    min-height: 139px;
                    padding: 32px 24px;
                }
            }
        }
        .point {
            color: $color-primary;
        }
        .badge {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .result-thumb {
            position: relative;
            width: 120px;
            height: 120px;
            margin-right: 40px;
            @include mobile {
                position: absolute;
                top: 32px;
                left: 24px;
                width: 100px;
                height: 100px;
                margin-right: 24px;
            }
            img {
                max-width: 100%;
                vertical-align: top;
                @at-root .result-list > li {
                    .discontinued {
                        .result-thumb {
                            img {
                                opacity: .3;
                            }
                        }
                    }
                }
            }
            .flag-end-wrap {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba($color-default,.5);
                .flag {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-weight: 700;
                    @include font-large-1;
                    color: #fff;
                }
            }
            .video-play-btn {
                display: inline-block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color-default,.2);
                text-indent: -99999em;
                &:after {
                    display: inline-block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 48px;
                    height: 48px;
                    transform: translate(-50%, -50%);
                    background: url('/lg5-common/images/icons/btn-play-80.svg') no-repeat 50% 50%;
                    background-size: 100% 100%;
                    @include mobile {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
        .item-type2,
        .item-story {
            .result-thumb {
                overflow: hidden;
                width: 120px;
                height: 90px;
                @include mobile {
                    width: 100px;
                    height: 75px;
                }
                img.no-img {
                    width: 100%;
                    transform: translateY(-20px);
                }
            }
        }
        .result-info {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            @include mobile {
                flex-direction: column;
                align-items: flex-start;
                .info-text {
                    padding-left: 124px;
                }
            }
            .info-price {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include pc {
                    min-width: 232px;
                    padding-left: 32px;
                    &:before {
                        position: absolute;
                        top: 24px;
                        bottom: 24px;
                        right: 280px;
                        width: 1px;
                        background-color: $color-border;
                        content: '';
                    }
                }
                @include mobile {
                    display: block;
                    width: 100%;
                    margin-top: 24px;
                    padding-top: 12px;
                    border-top: 1px solid $color-border;
                    text-align: left;
                }
                &.type2 {
                    align-items: center;
                    margin-top: 0;  
                    @include mobile {
                        margin-top: 16px;
                        align-items: flex-start;
                    }
                }
                .price-info {
                    &:only-child {
                        .tit {
                            display: none;
                        }
                        @include mobile {
                            &.rental {
                                justify-content: flex-end;
                            }
                            &.sales {
                                .original + .price-in {
                                    justify-content: flex-end;
                                }
                            }
                        }
                    }
                    &.rental {
                        @include mobile {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    &.sales {
                        display: flex;
                        @include pc {
                            flex-direction: row-reverse;
                            align-items: flex-end;
                            .original {
                                margin: 0 0 0 8px;
                            }
                        }
                        @include mobile {
                            flex-direction: column-reverse;
                            .original + .price-in {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                            }
                            .original {
                                margin: 0;
                                text-align: right;
                            }
                        }
                    }
                }
            }
            .price-info + .price-info {
                margin-top: 16px;
                @include mobile {
                    margin-top: 8px;
                }
            }
            .btn-area {
                .btn + .btn {
                    margin-left: 4px;
                }
            }
            
        }
        .item-type2 {
            .info-price {
                display: block;
            }
        }
        
        .flag-wrap {
            margin-bottom: 8px;
        }
        .result-tit {
            display: -webkit-box;
            max-height: 52px;
            margin-bottom: 4px;
            text-overflow: clip;
            //text-overflow:ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow:hidden;
            @include font-medium;
            color: $color-default;
            font-weight: $font-weight-bold;
            
            @include mobile {
                max-height: 46px;
                margin-bottom: 6px;
                font-size: 15px;
                line-height: 23px;
            }
            > a {
                display: block;    
            }
            
        }
        .cs {
            display: block;
            @include font-medium;
            color: $color-default;
            font-weight: $font-weight-regular;
            .cs-inner + .cs-inner {
                margin-left: 4px;
                &:before {
                    display: inline-block;
                    content: '';
                    width: 1px;
                    height: 14px;
                    background: #222;
                }
            }
        }
        .item-type2 {
            .result-tit {
                max-width: 680px;
                max-height: 60px;
                margin-bottom: 4px;
                @include font-large-1;
            } 
        }
        @include pc {
            .sku {
                margin-right: 8px;
            }
        }
        .info-btm {
            margin-top: 20px;
            font-size: 0;
            .text {
                display: inline-block;
                position: relative;
                margin-right: 6px;
                padding-right: 6px;
                @include font-small;
                &:last-child {
                    margin-right: 0;
                    padding-right: 0;
                }
                &:not(:last-child):before {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    content: '';
                    width: 1px;
                    height: 12px;
                    transform: translate(-50%, -50%);
                    background: #ddd;
                }
                @include mobile {
                    display: block; 
                    margin-left: 0;
                    padding-left: 0; 
                    &:before,
                    &:not(:last-child):before {
                        display: none;
                    }
                    &.date {
                        display: inline-block;
                    }
                    &.date + .hashtag-wrap {
                        display: inline-block;
                        margin-left: 4px;
                        padding-left: 4px;
                        &:before {
                            display: inline-block;
                        }
                    }
                }
                &.model {
                    @include textEllipsisClamp(1);
                }
            }
        }
        .hashtag-wrap {
            display: inline-block;
            .hashtag {
                display: inline-block;
                @include font-small;
                @include mobile {
                    position: static;
                    height: auto;
                    padding: 0;
                    border-radius: 0;
                    border: 0;
                    font-size: 13px;
                    line-height: 13px;
                }
            } 
        }
        
        .sku {
            display: inline-block;
            font-weight: 500;
            @include font-small;
            vertical-align: top;
        }
        
        .hashtag-wrap + .careflag {
            @include mobile {
                display: block;
                margin-left: 0 !important;
                padding-left: 0 !important;
                &:before {
                    display: none !important;
                    
                }
            }
        }
        
        .desc {
            display: -webkit-box;
            max-width: 680px;
            max-height: 52px;
            margin-bottom: 8px;
            text-overflow: clip;
            //text-overflow:ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow:hidden;
            @include font-medium;
            color: $color-default;
        }
        
        .review-info {
            display: inline-block;
            margin-right: 12px;
            font-size: 0;
            vertical-align: top;
            @include mobile {
                margin-right: 0;
                margin-left: 6px;
            }
            .star,
            .average-rating,
            .review-count {
                display: inline-block;
                @include font-small;
            }
            .star {
                width: 20px;
                height: 20px;
                margin-right: 2px;
                background: url("/lg5-common/images/icons/icon-star-off-20.svg") no-repeat 0 0;
                vertical-align: -5px;
                &.is-review {
                    background-image: url("/lg5-common/images/icons/icon-star-on-20.svg");
                }
            }
        }
        
        .shop-info {
            .desc {
                display: block;
                margin: 0;
                @include textEllipsis;
                @include font-medium;
            }
        }
        .shop-state {
            position: absolute;
            top: 24px;
            right: 32px;
            @include mobile {
                right: 20px;
            }
            span {
                @include font-x-small;
                &:before {
                    display: inline-block;
                    content: '';
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 4px;
                }
                &.skyblue {
                    &:before {
                        background: #21a9aa;
                    }
                }
                &.olive {
                    &:before {
                        background: #76892d;
                    }
                }
                &.red {
                    &:before {
                        background: #ff3723;
                    }
                }
            }
        }
        .price-info {
            white-space: nowrap;
            .tit {
                margin-bottom: 4px;
                @include font-x-small;
                color: $color-default;
            }
            .price {
                display: inline-block;
                vertical-align: bottom;
                @include font-large-1;
                color: $color-default;
                font-weight: $font-weight-bold;
                @include mobile {
                    font-size: 15px;
                    line-height: 23px;
                }
            }
            .original {
                margin: 4px 8px 0 0;
                vertical-align: bottom;
                .price {
                    @include font-small;
                    color: $color-gray-1;
                    text-decoration: line-through;
                    font-weight: $font-weight-medium;
                }
            }
        }
    }

    &.product-list {
        .info-text {
            .result-tit {
                max-width: 280px;
                @include mobile {
                    max-width: 100%;
                }
            }
        }
    }

    &.story-list {
        > li .item-type2 .result-tit {
            @include textEllipsisClamp(1);
        }
    }

    &.shop-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
        @include mobile {
            margin-left: 0;
        }
        li {
            width: 50%;
            padding-left: 16px;
            @include mobile {
                width: 100%;
                padding-left: 0;
            }
            .item {
                display: block;
                padding: 24px 32px;
                @include mobile {
                    padding: 24px 20px;
                }
            }
            .result-info {
                display: block;
                //flex-direction: column;
                //align-items: flex-start;
                //padding-left: 0;
                @include mobile {
                    .info-text {
                        padding-left: 0;
                    }
                }
            }
        }
        .btn-area {
            width: 100%;
            margin-top: 24px;
            text-align: right;
            .btn + .btn {
                margin-left: 4px;
            }
        }
    }

    &.support-list {
        .item {
            @include mobile {
                padding: 32px 24px;
            }    
        }
        .info-btm {
            @include mobile {
                margin-top: 12px;
                .text {
                    display: inline-block;
                    margin-right: 6px;
                    padding-right: 6px;
                    &:not(:last-child):before {
                        display: inline-block;
                    }
                }
            }
        }
        .result-info {
            @include clearfix;
            //align-items: flex-end;
            @include mobile {
                //flex-direction: row;
                &:only-child {
                    .info-text {
                        padding-left: 0;
                    }
                }
            }
            .info-text {
                flex: 1;
                //width: 100%;
            }
        }
        .btn-area {
            //float: right;
            //margin-top: -32px;
            align-self: center;
            @include mobile {
                width: 100%;
                margin-top: 12px;
                text-align: right;
            }
        }
        .video-info {
            align-self: center;
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url("/lg5-common/images/icons/btn-play-80.svg") no-repeat 50% 50%;
            background-size: 100% 100%;

            @include mobile {
                flex: auto;
                align-self: flex-end;
                width: 32px;
                height: 32px;
                margin-top: 24px;
            }
           span {
                display: inline-block;
                text-indent: -9999em;
               @include mobile {
                    
               }
           } 
        }
    }
}