.result-list {
    @include clearfix;
    > li {
        position: relative;
        margin-bottom: 24px;
        @include mobile {
            margin-bottom: 12px;
        }
        .item {
            display: flex;
            flex-wrap: wrap;
            min-height: 172px;
            padding: 16px 32px;
            //align-items: center;
            border-radius: 8px;
            box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
            background-color: #ffffff;
            @include mobile {
                min-height: 138px;
                align-items: flex-start;
                padding: 12px 20px 16px;
            }
            &.item-type2 {
                min-height: 153px;
                padding: 24px 32px;
                @include mobile {
                    display: block;
                    min-height: 142px;
                    padding: 16px 20px;
                }
            }
        }
        .point {
            color: $color-primary;
        }
        .badge {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .result-thumb {
            position: relative;
            width: 140px;
            //height: 140px;
            margin-right: 32px;
            a {
                display:block;
            }
            @include mobile {
                position: absolute;
                top: 12px;
                left: 20px;
                width: 110px;
                //height: 110px;
                margin-right: 16px;
            }
            img {
                max-width: 100%;
                vertical-align: top;
                //@at-root .result-list > li { 단종/구매불가 케이스
                //    .discontinued {
                //        .result-thumb {
                //            img {
                //                opacity: .3;
                //            }
                //        }
                //    }
                //}
            }
            .flag-end-wrap {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba($color-default,.5);
                .flag {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-weight: 700;
                    @include font-large-1;
                    color: #fff;
                }
            }
            .video-play-btn {
                display: inline-block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color-default,.2);
                text-indent: -99999em;
                &:after {
                    display: inline-block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 48px;
                    height: 48px;
                    transform: translate(-50%, -50%);
                    background: url('/lg5-common/images/icons/btn-play-80.svg') no-repeat 50% 50%;
                    background-size: 100% 100%;
                    @include mobile {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
        .item-type2,
        .item-story {
            .result-thumb {
                overflow: hidden;
                width: 140px;
                //height: 105px;
                > div {
                    position: relative;
                }
                @include mobile {
                    width: 110px;
                    //height: 82.5px;
                    top: 16px;
                }
                img.no-img {
                    width: 100%;
                    //transform: translateY(-20px);
                }
            }
        }
        .result-info {
            display: flex;
            flex: 1;
            justify-content: space-between;
            //align-items: center;
            .info-text {
                display: flex;
                flex-direction: column;
                //align-items: start;
                //flex: 1;
                padding-top: 12px;
                padding-right: 80px;
            }
            @include mobile {
                display: block;
                .info-text {
                    min-height: 110px;
                    padding: 4px 0 0 126px;
                }
            }
            .detail-wrap {
                //flex: 1;
                @include mobile {
                    min-height: 110px;
                }
            }
            .spec-info {
                font-size: 0;
                li {
                    @include font-x-small;
                    span {
                        color: $color-gray-1;
                    }
                }
                @include pc {
                    max-width: 569px;
                    margin-top: 8px;
                    padding-top: 4px;
                    border-top: 1px solid $color-border;
                    li {
                        display: inline-block;
                        margin-right: 16px;
                        &:last-child {
                            margin-right: 0;
                        }
                        span {
                            margin-right: 4px;
                        }
                    }
                }
                @include mobile {
                    margin: 12px 0 0 -126px;
                    padding: 8px 12px;
                    border-radius: 8px;
                    background-color: $color-bg;
                    span {
                        margin-right: 8px;
                    }
                }
            }
            .info-price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                @include pc {
                    min-width: 248px;
                    padding-left: 32px;
                    &:before {
                        position: absolute;
                        top: 16px;
                        bottom: 16px;
                        right: 280px;
                        width: 1px;
                        background-color: $color-border;
                        content: '';
                    }
                }
                @include mobile {
                    display: block;
                    width: 100%;
                    margin-top: 12px;
                    padding-top: 12px;
                    border-top: 1px solid $color-border;
                    text-align: left;
                }
                &.type2 {
                    align-items: center;
                    margin-top: 0;  
                    @include mobile {
                        margin-top: 16px;
                        align-items: flex-start;
                    }
                }
                .price-info {
                    &.rental {
                        @include mobile {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    &.sales {
                        display: flex;
                        align-items: flex-end;
                        @include pc {
                            flex-direction: row-reverse;
                            justify-content: flex-end;
                        }
                        @include mobile {
                            position: relative;
                            justify-content: flex-end;
                            .original,
                            .price-in {
                                display: inline-block;
                            }
                            .price-in {
                                .tit {
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
            .price-info + .price-info {
                margin-top: 12px;
                @include mobile {
                    margin-top: 5px;
                }
            }
            .btn-area {
                .btn + .btn {
                    margin-left: 4px;
                }
            }
            
        }
        .item-type2 {
            .info-price {
                display: block;
            }
        }
        
        .flag-wrap {
            margin-bottom: 2px;
        }
        .result-tit {
            margin-bottom: 1px;
            font-weight: 700;
            @include font($font-medium,26px);
            color: $color-default;
            @include mobile {
                @include font(15px,23px);
            }
            > a:first-child,
            > strong {
                display: block;
                max-height: 52px;
                @include textEllipsisClamp(2);
                word-break: break-all;
            }
            
        }
        .cs {
            display: block;
            margin-top: 4px;
            font-weight: 400;
            @include font($font-medium,26px);
            color: $color-default;
            .cs-inner + .cs-inner {
                margin-left: 4px;
                &:before {
                    display: inline-block;
                    margin-right: 4px;
                    content: '>';
                }
            }
            @include mobile {
                margin-top: 2px;
                @include font(13px,21px)
            }
        }
        .item-type2 {
            .result-tit {
                max-width: 680px;
                max-height: 60px;
                @include font-medium;
            }
            .result-info {
                .info-text {
                    width:100%;
                    padding-top: 0;
                    padding-right:0;
                }
                @include mobile {
                    .info-text {
                        min-height: 83px;
                    }
                }
            }
        }
        @include pc {
            .sku {
                margin-right: 8px;
            }
        }
        .info-btm {
            margin-top: 12px;
            font-size: 0;
            @include mobile {
                margin-top: 6px;
            }
            .text {
                display: inline-block;
                position: relative;
                margin-right: 6px;
                padding-right: 6px;
                @include font($font-small,24px);
                &:last-child {
                    margin-right: 0;
                    padding-right: 0;
                }
                &:not(:last-child):before {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    content: '';
                    width: 1px;
                    height: 12px;
                    transform: translate(-50%, -50%);
                    background: #ddd;
                }
                @include mobile {
                    display: block; 
                    margin-left: 0;
                    padding-left: 0;
                    @include font($font-x-small,20px);
                    &:before,
                    &:not(:last-child):before {
                        display: none;
                    }
                    &.date {
                        display: inline-block;
                        font-size: 13px;
                        line-height: 21px;
                    }
                    &.date + .hashtag-wrap {
                        display: inline-block;
                        margin-left: 4px;
                        padding-left: 4px;
                        &:before {
                            display: inline-block;
                        }
                    }
                }
                &.model {
                    max-height: 24px;
                    @include textEllipsisClamp(1);
                    @include mobile {
                        max-height: 20px;
                    }
                }
            }
        }
        .hashtag-wrap {
            display: inline-block;
            .hashtag {
                display: inline-block;
                margin-right: 4px;
                @include font-small;
                @include mobile {
                    position: static;
                    height: auto;
                    margin-right: 6px;
                    padding: 0;
                    border-radius: 0;
                    border: 0;
                    font-size: 13px;
                    line-height: 13px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        
        .sku {
            display: inline-block;
            font-weight: 500;
            @include font-small;
            vertical-align: top;
        }
        // BTOCSITE-3404 검색, PLP > 얼음정수기냉장고 1년무상케어 태그 추가 건
        .hashtag-wrap + .careflag + .care-n + .redcare-option {
            @include mobile {
                display: block;
                margin-left: 0 !important;
                padding-left: 0 !important;
                &:before {
                    display: none !important;
                    
                }
            }
        }
        
        .desc {
            margin-bottom: 6px;
            @include textEllipsisClamp(1);
            @include font($font-medium,24px);
            color: $color-default;
            @include mobile {
                @include font(13px,21px);
            }
        }

        .review-info {
            display: inline-block;
            margin-right: 12px;
            font-size: 0;
            vertical-align: top;
            a {
                display:block;
                //padding-bottom:10px;
            }
            @include mobile {
                margin-right: 0;
                margin-left: 6px;
            }
            .star,
            .average-rating,
            .review-count {
                display: inline-block;
                @include font-small;
            }
            .star {
                width: 20px;
                height: 20px;
                margin-right: 2px;
                background: url("/lg5-common/images/icons/icon-star-off-20.svg") no-repeat 0 0;
                vertical-align: -5px;
                &.is-review {
                    background-image: url("/lg5-common/images/icons/icon-star-on-20.svg");
                }
            }
        }
        
        .shop-info {
            .desc {
                display: block;
                margin: 0;
                @include textEllipsisClamp(1);
                @include font-medium;
                @include mobile {
                    &.time {
                        margin-top: 2px;
                    }
                }
                span + span {
                    margin-left: 8px;
                }
            }
        }
        .shop-state {
            position: absolute;
            top: 24px;
            right: 32px;
            @include mobile {
                top: 16px;
                right: 20px;
            }
            span {
                @include font-x-small;
                &:before {
                    display: inline-block;
                    content: '';
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 4px;
                }
                &.skyblue {
                    &:before {
                        background: #21a9aa;
                    }
                }
                &.olive {
                    &:before {
                        background: #76892d;
                    }
                }
                &.red {
                    &:before {
                        background: #ff3723;
                    }
                }
            }
        }
        .price-info {
            white-space: nowrap;
            .tit {
                //margin-bottom: 4px;
                @include font-x-small;
                color: $color-default;
                @include mobile {
                    font-size: 13px;
                    line-height: 22px;

                }
            }
            .price {
                display: inline-block;
                vertical-align: bottom;
                @include font(16px,26px);
                color: $color-default;
                font-weight: $font-weight-bold;
                @include mobile {
                    @include font(14px,22px);
                }
            }
            .original {
                margin-left: 8px;
                vertical-align: bottom;
                .price {
                    font-weight: 400;
                    @include font-x-small;
                    color: $color-gray-1;
                    text-decoration: line-through;
                }
                @include mobile {
                    margin-right: 4px;
                    margin-left: 0;
                    .price {
                        @include font(11px,19px);
                    }
                }
            }
        }
    }

    &.product-list {
        .info-text {
            .result-tit {
                max-width: 280px;
                max-width: 100%;
                @include mobile {
                    max-width: 100%;
                }
            }
        }
    }

    &.story-list {
        > li .item-type2 .result-tit {
            @include textEllipsisClamp(1);
        }
    }

    &.shop-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
        @include mobile {
            margin-left: 0;
        }
        li {
            width: 50%;
            padding-left: 16px;
            @include mobile {
                width: 100%;
                padding-left: 0;
            }
            .item {
                display: block;
                padding: 24px 32px;
                @include mobile {
                    padding: 16px 20px;
                }
            }
            .result-info {
                display: block;
                //flex-direction: column;
                //align-items: flex-start;
                .info-text {
                    padding-right: 0;
                }
                @include mobile {
                    .info-text {
                        min-height: auto;
                        padding: 0;
                    }
                }
                @include pc {
                    .result-detail {
                        height: 52px;
                    }
                }
            }
        }
        .btn-area {
            width: 100%;
            margin-top: 24px;
            text-align: right;
            .btn + .btn {
                margin-left: 4px;
            }
            @include mobile {
                margin-top: 12px;
            }
        }
    }

    &.support-list {
        .item {
            min-height: auto;
            padding: 24px 32px;
            @include mobile {
                padding: 16px 20px;
            }
        }
        .info-btm {
            @include mobile {
                margin-top: 6px;
                .text {
                    display: inline-block;
                    margin-right: 6px;
                    padding-right: 6px;
                    font-size: 13px;
                    line-height: 21px;
                    &:not(:last-child):before {
                        display: inline-block;
                    }
                }
            }
        }
        .sku + .info-btm {
            @include mobile {
                margin-top: 12px;
            }
        }
        .result-thumb {
            margin: -8px 0;
            //position: static;
            & + .result-info {
                padding: 4px 0 4px 32px;
            }
            @include mobile {
                position: static;
                margin: 0;
                & + .result-info {
                    padding: 0 0 0 16px;
                }
            }
        }
        .result-info {
            @include clearfix;
            @include mobile {
                .info-text {
                    padding-left: 0;
                }
            }
            .info-text {
                flex: 1;
                min-height: auto;
                padding: 0;
            }
        }
        .btn-area {
            align-self: center;
            @include mobile {
                width: 100%;
                margin-top: 12px;
                text-align: right;
            }
        }
        .video-info {
            align-self: center;
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url("/lg5-common/images/icons/btn-play-80.svg") no-repeat 50% 50%;
            background-size: 100% 100%;

            @include mobile {
                position: absolute;
                top: 12px;
                right: 12px;
                width: 17px;
                height: 17px;
            }
           span {
                display: inline-block;
                text-indent: -9999em;
               @include mobile {
                    
               }
           } 
        }
    }
    &.care-list {
        > li .result-info .info-text {
            display: block;
        }
    }
}


// IE10 and IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .result-list {
        & > li {
            .desc {
                white-space: nowrap;
            }
        }
    }
}