.search-word {
    color: $color-primary;
}

.input-keyword-wrap {
    max-width: (1146px + 80px);
    margin: 0 auto;
    padding: 48px 40px 120px;
    @include mobile {
        max-width: 100%;
        //padding: 102px 16px 50px;
        padding: 40px 16px 60px;

        &.fixed-top {
            .input-keyword {
                position: relative;
                @include mobile {
                    position: fixed;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 3;
                    padding: 40px 16px 16px;
                    //background-color: $color-bg-wt;
                }
            }
        }
    }
}

.input-keyword {
    position: relative;
    @include pc {
        max-width: 678px;
        margin: 0 auto;
    }
    //border-radius: 28px;
    //box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
    @include mobile {
        //position: fixed;
        //top: 0;
        //right: 0;
        //left: 0;
        //z-index: 3;



        //padding: 30px 0 16px;
        background-color: $color-bg-wt;
    }

    .sch-input-wrap {
        position: relative;

        .input-sch {
            position: relative;

            input.txt {
                width: 100%;
                height: 62px;
                padding: 0 72px 0 0;
                border-bottom: 2px solid $color-default;
                //border-radius: 28px;
                background-color: #fff;
                //box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
                font-weight: 700;
                @include font(24px,34px);

                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    color: $color-gray-1;
                }
            }

            .btn-delete {
                position: absolute;
                top: 50%;
                right: 36px;
                width: 16px;
                height: 16px;
                margin-top: -8px;
                background: url('/lg5-common/images/icons/btn-clear-16-gray.svg') no-repeat 0 0;
            }

            .btn-search {
                position: absolute;
                top: 50%;
                right: 0;
                width: 30px;
                height: 50px;
                margin-top: -25px;
                background:none;

                &::after {
                    content: '';
                    display: block;
                    margin-left: 6px;
                    width: 24px;
                    height: 24px;
                    background: url('/lg5-common/images/icons/icon-search.svg') no-repeat;
                }
            }
        }

        @include mobile {
            border-radius: 4px;
            .input-sch {
                input.txt {
                    height: 52px;
                    //padding: 0 97px 0 0;
                    @include font(20px,28px);
                }

                .btn-delete {
                    right: 57px;
                }
            }
        }
    }

    &.focus-on {
        .sch-input-wrap {
            .input-sch {
                z-index: 3;

                input.txt {
                    border-bottom: 0;
                }
                .btn-search:after {

                }
            }
        }
    }
}

.related-keyword {
    overflow: hidden;
    margin-top: 17px;
    text-align: center;
    @include pc {
        max-width: 678px;
        margin: 16px auto 0;
    }
    .inner {
        position: relative;
        display: inline-block;
        padding-left: 81px;

    }

    .title {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 700;
        @include font-small;
    }

    .keyword-list {
        display: inline-block;
        margin-bottom: -4px;
        font-size: 0;
        text-align: left;

        li {
            display: inline-block;
            margin: 0 12px 4px 0;

            &:nth-last-child(1) {
                margin-right: 0;
            }

            a {
                @include font-small;
            }
        }
    }

    .mobile-more-btn {
        display: none;
    }

    @include mobile {
        position: relative;
        height: 24px;
        margin-top: 16px;
        padding-right: 32px;
        .inner {
            position: relative;
            display: inline-block;
            padding-left: 88px;

        }
        .title {
            left: 8px;
        }
        .mobile-more-btn {
            display: block;
            position: absolute;
            top: 2px;
            right: 8px;

            .btn-more {
                display: block;
                width: 16px;
                height: 16px;
                background: url('/lg5-common/images/icons/btn-arr-16-black-sm.svg') no-repeat 0 0;
                transform: rotate(90deg);
                transition: transform .3s .1s ease-out;
            }
        }

        &.open {
            height: auto;

            .mobile-more-btn {
                .btn-more {
                    transform: rotate(270deg);
                }
            }
        }
    }
}

.search-input-layer {
    display: none;
    position: absolute;
    top: 62px;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 32px 32px 56px;
    border-radius: 8px;
    border: 2px solid transparent;
    background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(119deg, #9c86e7 0%, #de64a0 100%) border-box;
    box-shadow: 2px 8px 12px 0 rgba(202, 111, 183, 0.13);

    .btn-close {
        position: absolute;
        right: 24px;
        bottom: 24px;
        width: 24px;
        height: 24px;
        background: url('/lg5-common/images/icons/btn-close-24-black.svg') no-repeat 0 0;
        @include mobile {
            right: 18px;
            bottom: 18px;
        }
        span {
            @include blind;
        }
    }

    .not-result {
        padding: 32px 0 64px;
        @include font-medium;
        text-align: center;
    }

    .search-keyword-area {
        display: table;
        table-layout: fixed;
        width: 100%;

        .recent-keyword,
        .popular-keyword {
            display: table-cell;
            width: 50%;
        }

        .recent-keyword {
            padding-right: 32px;
        }
        .popular-keyword {
            padding-left: 32px;
        }

        .title {
            display: block;
            margin-bottom: 16px;
            font-weight: 700;
            font-size: $font-medium;
            line-height: 30px;
        }
    }

    @include mobile {
        top: 52px;
        padding: 24px 24px 42px;
        .auto-complete {
            margin: 0 -12px;
        }
        .search-keyword-area {
            display: block;

            .recent-keyword,
            .popular-keyword {
                display: block;
                width: 100%;
            }

            .popular-keyword {
                margin-top: 32px;
                padding-left: 0;
            }

            .title {
                font-size: $font-small;
                line-height: 22px;
            }
        }
        .not-result {
            padding: 16px 0 40px;
        }
    }
}

.auto-complete {
    //padding-top: 24px;
    .keyword-list {
        //margin-top: -4px;

        li {
            margin-top: 4px;
            padding: 4px 12px;

            &:first-child {
                margin-top: 0;
            }

            a {
                @include font-medium;
            }

            &.on,
            &:hover,
            &:focus {
                border-radius: 17px;
                background-color: $color-bg;

                a {
                    font-weight: 700;
                }
            }
        }
    }
}

.input-result-list {
    li {
        margin-top: 16px;
        @include textEllipsisClamp(1);

        &:first-child {
            margin-top: 0;
        }
    }
}

.search-similar {
    margin-top: 80px;
    text-align: center;

    .search-result-text {
        margin-bottom: 8px;
        @include font($font-large-4,52px);

        .search-word {
            font-weight: 700;
            color: $color-default;
            .word {
                color: $color-primary;
            }
        }
    }

    .similar-text {
        @include font($font-small,24px);
        text-decoration: underline;

        &:after {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('/lg5-common/images/icons/btn-arr-20x20-gray.svg') no-repeat 0 0;
            vertical-align: -5px;
            content: '';
        }
    }

    @include mobile {
        margin-top: 60px;
        .search-result-text {
            margin-bottom: 12px;
            @include font($font-large-2,33px);
        }
        .similar-text {
            line-height: 22px;
        }
    }
}