/* 가로형 테이블 */
.tb-scroll {
    margin:0 -16px;
    padding:0 16px;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    table {
        white-space:nowrap;
    }
}
.tb_row {
    table {
        width: 100%;
        border-collapse: collapse;
        thead {
            th {
                padding: 16px 24px;
                border-top: 2px solid #222;
                background-color: #f4f4f4;
                font-weight: 500;
                @include font-medium;
                text-align: center;
            }
        }
        td {
            padding: 24px;
            border-bottom: 1px solid #ddd;
            color:#767676;
            @include font-medium;
            text-align: center;
            &.lower {
                color:#808080;
            }
            &.point {
                color:#ec455a;
            }
            .bold {
                font-weight:700;
            }
            &.black, .black {
                color:#222;
            }
        }
        tr {
            &.point {
                td {
                    color: #ec455a;
                }
            }
        }
        .al-left {
            text-align:left;
        }
    }
    .btm_info {
        margin-top: 24px;
        font-size: 16px;
        line-height: 24px;
        color: #222;
        .btm-tit {
            color:#222;
            @include font-medium;
            font-weight:700;
        }
        .btm-desc {
            margin-top:8px;
            color:#222;
            @include font-medium;
            em {
                color:#ec455a;
            }
        }
        .btm-desc-more {
            margin-top:4px;
            color:#767676;
            @include font-small;
            font-weight:500;
        }
    }

    @include mobile {
        table {
            thead {
                th {
                    padding: 15px 10px;
                }
            }
            td {
                padding: 20px 10px;
            }
        }
        .btm_info {
            margin-top: 20px;
            font-size: 14px;
            line-height: 18px;
        }
    }
    &.tb-row-bl {
        table {
            th,
            td {
                border-left:1px solid #d8d8d8;
                &:first-child {
                    border-left:none;
                }
            }
        }
    }
    &.board-type {
        table {
            table-layout:fixed;
        }
        .board-tit {
            & > a {
                text-align:left;
            }
            p {
                color:#222;
                font-weight:500;
                @include font-medium;
                @include textEllipsisClamp(2);
            }
            .flag-wrap {
                margin-right:12px;
                white-space:nowrap;
                .flag {
                    vertical-align:middle;
                }
            }
        }
        @include pc {
            .board-tit {
                & > a {
                    display:flex;
                }
            }
        }
        @include mobile {
            table {
                display:block;
                border-top:2px solid #222;
            }
            thead {
                @include blind;
            }
            tbody {
                display:block;
                tr {
                    display:block;
                    overflow:hidden;
                    padding:16px 0; 
                    border-bottom:1px solid #ddd;
                }
                td {
                    display:block;
                    padding:0;
                    text-align:left;
                    border:0 none;
                    &.board-tit {
                        margin-bottom:4px;
                        & > a {
                            display:block;
                        }
                        .flag-wrap {
                            display:block;
                            margin:0 0 2px 0;
                        }
                    }
                    &:not(.board-tit) {
                        float:left;
                        & + td {
                            position:relative;
                            margin-left:6px;
                            padding-left:7px;
                            &:before {
                                content:'';
                                position:absolute;
                                left:0;
                                top:6px;
                                width:1px;
                                height:10px;
                                background:#ddd;
                            }
                        }
                    }
                    .no-data {
                        width: calc(100vw - 40px);
                    }
                }
            }
        }
    }
}

// 세로형 테이블
.tb-col {
    table {
        width: 100%;
        border-collapse: collapse;
        text-align:left;
        border-bottom: 1px solid #ddd;
        th, td {
            padding: 19px 24px;
            border-top: 1px solid #ddd;
            @include font-small;
        }
        tr:first-child {
            th, td {
                border-top:2px solid #222;
            }
        }
        th {
            background:#f4f4f4;
            font-weight:500;
            vertical-align:top;
        }
        td {
            color:#616161;
        }
        .al-center {
            text-align:left;
        }
    }
    @include mobile {
        th, td {
            padding:18px 16px;
        }
    }
}