// LGECOMVIO-46 : 단골매장 UI/UX 개선
@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.patron-store {
    .mo-br {
        display:none;
        @include mobile {
            display:inline-block;
        }
    }
    .visual-wrap {
        position:relative;
        margin-bottom:80px;
        height:480px;
        background-color:#f6f1f1;
        @include mobile {
            margin-bottom:50px;
            height:590px;
        }
        .visual {
            &-cont {
                position:relative;
                height:100%;
                max-width:1460px;
                margin:0 auto;
                padding:40px;
            }
            &-img {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                width:47.5%;
                background:no-repeat 100% 50%/contain;
                @include mobile{
                    width:100%;
                    background:no-repeat 50% 50%/360px;
                }
                @media screen and (max-width: 359px) {
                    background-size:contain;
                }
            }
            &-info {
                position:absolute;
                top:50%;
                transform:translateY(-50%);
                @include mobile {
                    position: static;
                    transform:inherit;
                    text-align:center;
                }
                .tit {
                    position:relative;
                    z-index:10;
                    display:inline-block;
                    margin-top:38px;
                    font-weight:$font-weight-bold;
                    font-size:56px;
                    line-height:1.18;
                    letter-spacing:-1.12px;
                    @include mobile{
                        margin-top:0;
                        font-size:34px;
                    }
                    &:before{
                        content:'';
                        position:absolute;
                        left:0;
                        right:0;
                        bottom:-4px;
                        z-index:-1;
                        display:inline-block;
                        width:100%;
                        height:41%;
                        background:#f9e3e1;
                    }
                    > em {
                        color:$color-primary;
                    }
                }
                .txt {
                    position:absolute;
                    top:0;
                    left:0;
                    font-weight:$font-weight-bold;
                    font-size:22px;
                    line-height:1.37;
                    @include tablet {
                        transition:font-size .3s ease-in-out;
                        font-size:20px;
                    }
                    @include mobile {
                        position:static;
                        display:block;
                        padding:20px 0 0;
                        font-size:20px;
                    }
                }
                .description {
                    padding-top:32px;
                    font-size:24px;
                    line-height:1.33;
                    transition:font-size .3s ease-in-out;
                    @include tablet {
                        font-size:22px;
                    }
                    @include mobile {
                        padding:16px 20px;
                        position:absolute;
                        left:16px;
                        right:16px;
                        bottom:40px;
                        font-size:18px;
                        background:$color-white;
                        border:2px solid $color-border;
                        border-radius:8px;
                        > em {
                            color:$color-primary;
                            font-weight:$font-weight-bold;
                        }
                        &:before {
                            content:'';
                            position:absolute;
                            top:-14px;
                            left:50%;
                            display:block;
                            border-left:8px solid transparent;
                            border-right:8px solid transparent;
                            border-bottom:18px solid $color-white;
                            transform:translateX(-50%);
                        }
                        &:after {
                            content:'';
                            position:absolute;
                            top:-9px;
                            left:50%;
                            display:block;
                            width:16px;
                            height:16px;
                            border:solid $color-border;
                            border-width:2px 2px 0 0;
                            transform:translateX(-50%) rotate(315deg) skew(-15deg, -15deg);
                        }
                    }
                }
            }
        }
    }
    .cont-wrap {
        .section-wrap {
            .tit-wrap {
                text-align:center;
                border:0;
                .tit {
                    float:none;
                    font-weight:$font-weight-bold;
                    font-size:40px;
                    line-height:1.44;
                    @include tablet {
                        font-size:27px;
                    }
                }
            }
            .section-inner {
                ~ .btn-group {
                    @include tablet {
                        padding:34px 16px;
                    }
                    @include mobile {
                        .btn {
                            padding:15px 0;
                        }
                    }
                }
            }
        }
    }
    .benefit-lists {
        display:table;
        height:100%;
        margin:20px -12px 52px;
        font-size:0;
        counter-reset:count;
        @include tablet {
            margin:16px 0 0 0;
        }
        li {
            position:relative;
            display:table-cell;
            width:calc(100% / 3);
            height:100%;
            padding:12px;
            vertical-align:top;
            counter-increment:count;
            @include tablet {
                display:inline-block;
                width:100%;
                padding:8px 16px;
            }
            @include mobile {
                width:100%;
                margin:0;
                padding:8px 16px;
            }
            &:before {
                content:'';
                position:absolute;
                top:50%;
                left:40px;
                transform:translateY(-50%);
                display:inline-block;
                width:64px;
                height:64px;
                background:no-repeat 50% 50%/contain;
            }
            &:first-child:before {
                background-image:url(/lg5-common/images/PSC/ico-patronstore-01.svg);
            }
            &:nth-child(2):before {
                background-image:url(/lg5-common/images/PSC/ico-patronstore-02.svg);
            }
            &:nth-child(3):before {
                background-image:url(/lg5-common/images/PSC/ico-patronstore-03.svg);
            }
            .benefit-box {
                display:inline-block;
                width:100%;
                height:100%;
                padding:40px 40px 40px 128px;
                background:$color-bg;
                border-radius:8px;
                display:block;
                font-weight:$font-weight-bold;
                font-size:24px;
                line-height:1.38;
                transition:font-size .3s ease-in-out;
                @include pc-size-m {
                    font-size:21px;
                }
                @include tablet {
                    font-size:18px;
                    .pc-br {
                        display:none;
                    }
                }
                @include mobile {
                    padding:30px 20px 30px 104px;
                }
                &:before {
                    content:counter(count, decimal-leading-zero);
                    display:block;
                    color:$color-primary;
                    font-weight:$font-weight-bold;
                    font-size:24px;
                    line-height:1.5;
                    @include mobile {
                        font-size:16px;
                    }
                }
            }
        }
    }
}
.patron-pop-wrap {
    max-width:444px;
    @include mobile{
        max-width:inherit;
    }
    .patron-store {
        .title {
            display:inline-block;
            margin:-16px 0 32px;
            font-weight:$font-weight-bold;
            font-size:28px;
            line-height:1.29;
            @include mobile{
                margin:-10px 0 26px;
                font-size:24px;
            }
            > em {
                color:$color-primary;
            }
            i {
                position:relative;
                display:inline-block;
                font-style:normal;
                z-index:10;
                &:before{
                    content:'';
                    position:absolute;
                    left:0;
                    right:0;
                    bottom:-2px;
                    z-index:-1;
                    display:inline-block;
                    width:100%;
                    height:41%;
                    background:#f9e3e1;
                }
            }
        }
        .benefit-lists {
            height:auto;
            margin:0 -16px;
            li{
                display:inline-block;
                width:100%;
                height:auto;
                margin:0;
                padding:8px 16px;
                @include mobile{
                    padding:6px 16px;
                }
                &:before {
                    left:28px;
                }
                .benefit-box {
                    padding:22px 24px 22px 102px;
                    font-size:22px;
                    @include mobile{
                        margin-top:4px;
                        padding:24px 12px 24px 89px;
                        font-size:18px;
                    }
                    &:before {
                        font-size:18px;
                        @include mobile{
                            font-size:16px;
                        }
                    }
                }
            }
        }
    }
}