.non-members {
    .cont-wrap {
        //max-width:1146px + 80px;
        //@include mobile {
        //    padding:0 16px;
        //}
        &.login-type {
            max-width:678px + 80px;
        }
    }
    /* 2021.08.27 BTOCSITE-4704 : 마이페이지>주문배송조회> 하단 문구 변경 (.section-wrap .sects > .tit-wrap 삭제) */
    .section-inner{
        &.bt-line{
            padding-bottom:48px;
            border-bottom:1px solid #ddd;
        }
    }
    .welcome-joinus {
        display:table;
        width:100%;
        margin-bottom:48px;
        padding:24px 40px;
        border-radius:8px;
        background:#f4f4f4;
        @include mobile {
            margin-bottom:40px;
            padding:20px 16px;
        }
        .cell {
            display:table-cell;
            vertical-align:middle;
            &.text {
                @include font-medium;
                font-weight:700;
            }
            &.btns {
                padding-left:24px;
                text-align:right;
                @include mobile {
                    padding-left:16px;
                }
            }
        }
    }
    /* 2021.08.27 BTOCSITE-4704 : 마이페이지>주문배송조회> 하단 문구 변경 */
    .contract-steps{
        >ol{
            .steps{
                width:246px;
                @include mobile {
                    display:table;
                    float:none;
                    width:100%;
                    height:96px;
                    margin:0 0 32px;
                    padding:16px;
                    text-align:left;
                    dl {
                        display:table-cell;
                        padding-left:80px;
                        vertical-align:middle;
                    }
                }
            }
        }
    }
    /* //2021.08.27 BTOCSITE-4704 : 마이페이지>주문배송조회> 하단 문구 변경 */
    .gy-info-box {
        padding:40px;
        border-radius:8px;
        background:#f4f4f4;
        @include mobile {
            padding:24px 16px;
        }
        .gy-tit {
            margin-top:24px;
            color:#000;
            @include font-small;
            font-weight:700;
            @include mobile {
                margin-top:16px;
            }
            &:first-child {
                margin-top:0;
            }
        }
        .bullet-list {
            margin-top:8px;
        }
    }
    .customer-center-info {
        display:table;
        width:100%;
        table-layout:fixed;
        margin-top:24px;
        padding:24px 32px;
        border-radius:8px;
        background:#f4f4f4;
        @include mobile {
            display:block;
            position:relative;
            padding:24px 16px;
            padding-left:76px;
        }
        .hello {
            &::before {
                content:' ';
                display:inline-block;
                width:48px;
                height:48px;
                margin-right:20px;
                background:url("/lg5-common/images/icons/icon-call-svc-48.svg") center no-repeat;
                vertical-align:middle;
            }
            display:table-cell;
            padding-right:24px;
            @include font-small;
            font-weight:500;
            vertical-align:middle;
            @include mobile {
                display:block;
                &::before {
                    position:absolute;
                    top:24px;
                    left:16px;
                }
            }
        }
        &.type2 {
            margin-top:80px;
            margin-bottom:16px;
            @include mobile {
                margin-top:60px;
                margin-bottom:12px;
            }
            .hello {
                position:relative;
                width:59%;
                padding-left:68px;
                // padding-right:56px;
                word-break:keep-all;
                &::before {
                    position:absolute;
                    top:50%;
                    left:0;
                    margin-top:-24px;
                }
                @include mobile {
                    position:static;
                    width:100%;
                    padding:0;
                    &::before {
                        top:24px;
                        left:16px;
                        margin-top:0;
                    }
                }
            }
        }
        .call-info {
            display:table-cell;
            border-left:1px solid #ddd;
            vertical-align:middle;
            @include mobile {
                display:block;
                margin-top:14px;
                padding-top:14px;
                border-top:1px solid #ddd;
                border-left:none;
            }
            ul {
                font-size:0;
                li {
                    display:inline-block;
                    margin-left:32px;
                    vertical-align:middle;
                    color:#767676;
                    font-size:12px;
                    line-height:22px;
                    word-break:keep-all;
                    vertical-align:top;
                    br {
                        display:none;
                    }
                    @include mobile {
                        width:50%;
                        margin-left:0;
                        //padding-right:40px; //BTOCSITE-3953
                        line-height:20px;
                        br {
                            display:block;
                        }
                    }
                    em {
                        display:inline-block;
                        margin-left:12px;
                        color:#000;
                        font-size:18px;
                        line-height:28px;
                        font-weight:700;
                        vertical-align:middle;
                        @include mobile {
                            display:block;
                            margin-top:8px;
                            margin-left:0;
                            font-size:15px;
                            line-height:23px;
                        }
                    }
                }
            }
        }
        &.type2 {
            .call-info {
                ul {
                    li {
                        margin:0;
                        padding-left:32px;
                        width:50%;
                        @include mobile {
                            padding-left:0;
                        }
                        br {
                            display:block;
                        }
                        em {
                            display:block;
                            margin:0;
                            margin-top:2px;
                        }
                    }
                }
            }
        }
    }
    .membership-benefit {
        display:table;
        width:calc(100% + 48px);
        margin:80px -24px 0;
        padding: 0;
        table-layout:fixed;
        border-collapse:separate;
        border-spacing:24px 0;
        background: none;
        @include mobile {
            display:block;
            width:auto;
            height: auto;
            margin:60px -16px 0;
            padding:32px 16px 0;
            border-top:12px solid #f4f4f4;
            border-radius: 0;
        }
        .box {
            display:table-cell;
            padding:32px 40px;
            border-radius:8px;
            box-shadow:2px 4px 16px 0 rgba(#000, .14);
            @include mobile {
                display:block;
                margin-top:12px;
                padding:24px 20px;
                &:first-child {
                    margin-top:0;
                }
            }
            dl {
                &::before {
                    content:' ';
                    display:block;
                    width:64px;
                    height:64px;
                    margin-bottom:24px;
                    @include mobile {
                        margin-bottom:16px;
                    }
                }
                dt {
                    color:#000;
                    @include font-large-2;
                    font-weight:700;
                }
                dd {
                    margin-top:8px;
                    color:#767676;
                    @include font-medium;
                    @include mobile {
                        margin-top:6px;
                    }
                }
            }
            &.membership {
                dl::before {
                    background:url("/lg5-common/images/icons/icon-img01-64.svg") center no-repeat;
                }
            }
            &.card-benefit {
                dl::before {
                    background:url("/lg5-common/images/icons/icon-img03-64.svg") center no-repeat;
                }
            }
        }
    }

    // 주문조회 로그인 안내 팝업
    .non-members-login {
        text-align: center;
        &.align-left {
            text-align:left;
        }
        .hello-msg {
            // margin-bottom:20px;
            @include font-medium;
            & + .hello-desc {
                margin-top:20px;
            }
        }
        .hello-desc {
            & + .hello-desc {
                margin-top:20px;
            }
            @include font-medium;
            word-break:keep-all;
            em {
                font-weight:700;
                color: $color-primary;
            }
        }
        .call-info {
            margin-top:20px;
            padding:24px;
            border-radius:8px;
            background:#f4f4f4;
            ul {
                font-size:0;
                li {
                    display:inline-block;
                    width:50%;
                    vertical-align:top;
                    color:#767676;
                    font-size:12px;
                    line-height:22px;
                    font-weight:500;
                    @include mobile {
                        line-height:20px;
                    }
                    em {
                        display:block;
                        margin-top:2px;
                        color:#000;
                        @include font-large;
                        font-weight:700;
                    }
                }
            }
        }
    }

    // 비회원 로그인 화면
    .non-members-login-tabs {
        padding:24px 24px 0;
        .btn-group {
            margin-top:32px;
        }
        @include mobile {
            padding:24px 12px 0;
        }
    }

    &[data-consumables=true] {
        @include mobile {
            .info-tbl-wrap .box .tbl-layout .tbody .row {
                padding-left:0;
            }
        }
    }
}