.non-members {
    .cont-wrap {
        max-width:1146px + 80px;
    }
    .welcome-joinus {
        display:table;
        width:100%;
        margin-bottom:48px;
        padding:24px 40px;
        border-radius:8px;
        background:#f4f4f4;
        @include mobile {
            margin-bottom:40px;
            padding:20px 16px;
        }
        .cell {
            display:table-cell;
            vertical-align:middle;
            &.text {
                @include font-medium;
                font-weight:700;
            }
            &.btns {
                padding-left:24px;
                text-align:right;
                @include mobile {
                    padding-left:16px;
                }
            }
        }
    }
    .gy-info-box {
        padding:40px;
        border-radius:8px;
        background:#f4f4f4;
        .gy-tit {
            margin-top:24px;
            color:#222;
            @include font-small;
            font-weight:700;
            &:first-child {
                margin-top:0;
            }
        }
        .bullet-list {
            margin-top:8px;
        }
    }
}