.subscribe {
    .cont-wrap .section .sec-tit {
        margin-bottom: 16px;
        @include font-large-3;
    }
    .form-wrap {
        .forms {
            .box {
                &.type2 {
                    @include mobile {
                        .input-wrap {
                            display:table-cell;
                        }
                        .cell {
                            display:table-cell;
                            width:1%;
                            padding-left:6px;
                        }
                    }
                }
            }
            .input-mix-wrap {
                // BTOCSITE-5938 모니터링-170 s
                .btn-link:before {
                    display: none;
                    // content: '';
                    // position: absolute;
                    // right: 0;
                    // top: 6px;
                    // width: 14px;
                    // height: 14px;
                    // background: url('/lg5-common/images/icons/btn-arr-16-black.svg') center no-repeat;
                    // background-size: 14px;
                }
                // BTOCSITE-5938 모니터링-170 e
            }
            /* BTOCSITE-1905 : 주민번호 뒤 첫자리, 외국인 등록번호 에러메세지 기능 추가 */
            .show {
                display:block !important;
            }
            .checkBorder {
                border: 1px solid #ec455a;
            }
        }
    }
    @media screen and (min-width: 1284px) {
        .accord-cont {
            padding-right: 157px;
        }
    }
    @include mobile {
        .cont-wrap .section .sec-tit {
            font-size: 18px;
            line-height: 26px;
        }
        .order-list {
            padding-bottom: 60px;
            li {
                &:last-child {
                    padding-bottom:0;
                    border-bottom:none;
                }
            }
        }
    }
}

.order-items {
    > li {
        &:not(:nth-child(1)) {
            margin-top: 12px;
        }
    }
    &.order-complete {
        @include clearfix;
        > li {
            float: left;
            @include calc(width,50%,4px);
            &:not(:nth-child(1)) {
                margin-top: 0;
            }
            &:nth-child(even) {
                margin-left: 8px;
            }
        }
    }
    .number-subscribe {
        margin-bottom: 16px;
        font-weight: 700;
        @include font-medium;
        .number {
            margin-left: 8px;
            color: #ec455a;
        }
    }
    .item {
        position: relative;
        display: table;
        width: 100%;
        padding: 32px;
        border: 1px solid #dddddd;
        border-radius: 8px;
        background-color: #fff;
    }
    .product-image {
        display: table-cell;
        width: 80px;
        vertical-align: top;
        .image-box {
            width: 80px;
            height: 80px;
            background-color: #f4f4f4;
            border-radius: 8px;
            img {
                width: 100%;
                border-radius: 8px;
            }
        }
    }
    .product-info {
        padding-left: 24px;
        .flag-wrap {
            margin-bottom: 8px;
        }
        .product-name {
            font-weight: 700;
            @include font-medium;
        }
        .model-code {
            margin-top: 4px;
            @include font-small;
            color: #616161;
        }
        .item-options {
            font-size:0;
            margin-top:16px;
            @include mobile {
                margin-top:24px;
            }
            p {
                display:inline;
                color:#616161;
                font-size:14px;
                line-height:20px;
                word-break:keep-all;
                @include mobile {
                    font-size:12px;
                    line-height:16px;
                }
                &::before {
                    content:' ';
                    display:inline-block;
                    width:1px;
                    height:12px;
                    margin:0 8px;
                    background:#616161;
                    vertical-align:-1px;
                }
                &:first-child::before {
                    display:none;
                }
            }
        }
    }
    .product-price {
        display: table-cell;
        font-weight: 700;
        @include font-large;
        text-align: right;
        vertical-align: middle;
        .msg {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #f04e3e;
        }
    }
    .message-box {
        height: 72px;
        margin: 32px -32px -32px -112px;
        padding: 16px 32px;
        border-radius: 0 0 8px 8px;
        background-color: #f4f4f4;
        @include font-small;
        .text-box {
            overflow: hidden;
            height: 40px;
            span {
                display: inline-block;
            }
            &:after {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                content: '';
            }
        }
    }

    @include mobile {
        &.order-complete {
            > li {
                float: none;
                width: 100%;
                &:not(:nth-child(1)) {
                    margin-top: 40px;
                }
                &:nth-child(even) {
                    margin-left: 0;
                }
            }
        }
        .item {
            position: relative;
            display: block;
            padding: 28px 20px;
        }
        .product-image {
            width: 100px;
            .image-box {
                width: 100px;
                height: 100px;
            }
        }
        .product-info {
            display: table-cell;
            padding-left: 16px;
            .product-name {
                @include font-small;
            }
            .model-code {
                margin-top: 14px;
                @include font-x-small;
            }
        }
        .product-price {
            display: block;
        }
        .message-box {
            height: auto;
            margin: 40px -20px -28px;
            padding: 24px 20px;
            .text-box {
                overflow: visible;
                height: auto;
                &:after {
                    display: none;
                }
            }
        }
    }
}

.subscribe-payment {
    @include clearfix;
    .select-payment {
        float: left;
        width: calc( 100% - 304px);
        .payinfo-wrap {
            margin-top: 12px;
            padding: 32px;
            border-radius: 8px;
            border: 1px solid #ddd;
        }
        @include mobile {
            float: none;
            width: 100%;
        }
    }
    .payment-amount-info {
        float: right;
        margin-top: 38px;
        .agree {
            margin: 32px 0 28px;
        }
        .text-list {
            margin-top: 12px;
            @include font-small;
            color: #979797;
            li {
                &:not(:first-child) {
                    margin-top: 8px;
                }
            }
        }
    }
}

.card-benefit-box {
    position: relative;
    margin: 40px -157px 64px 0;
    padding: 30px 24px 30px 128px;
    border-radius: 8px;
    background: $color-bg url('/lg5-common/images/icons/icon-img03-64.svg') no-repeat 40px center;
    background-size: 64px 64px;
    .text {
        display: inline-block;
        font-weight: 700;
        @include font-medium;
        vertical-align: middle;
        em {
            color: $color-primary;
        }
    }
    .btn-link {
        position: absolute;
        bottom: 30px;
        right: 24px;
    }

    @media screen and (max-width: 1284px) {
        margin-right: 0;
    }
    @include mobile {
        position: relative;
        margin: 24px 0 40px;
        padding: 16px 16px 16px 105px;
        background-position: 16px 16px;
        .text {
            display: block;
            font-size: $font-medium;
            line-height: 23px;
        }
        .btn-link {
            position: static;
            transform: translateY(0);
            margin-top: 12px;
        }
    }
}
.accord-step {
    ul {
        font-size:0;
        li {
            display:inline-block;
            position:relative;
            margin-left:24px;
            color:#aaa;
            font-size:28px;
            font-weight:700;
            line-height:38px;
            @include mobile {
                margin-left:10px;
                font-size:18px;
                letter-spacing:-1px;
                line-height:24px;
                .title {
                    line-height:24px !important;
                }
            }
            &:first-child {
                margin-left:0;
            }
            &.on {
                color:#000;
                .rd {
                    background-color:#000;
                    color:#fff;
                }
            }
            .title {
                display:inline-block;
            }
            .rd {
                display:inline-block;
                width:24px;
                height:24px;
                margin:5px 6px 0 0;
                padding:4px 0 6px;
                border-radius:50%;
                background-color:#ddd;
                color:#fff;
                font-size:14px;
                line-height:100%;
                text-align:center;
                vertical-align:top;
                @include mobile {
                    width:16px;
                    height:16px;
                    margin:4px 4px 0 0;
                    padding:3px 0 5px;
                    font-size:10px;
                }
            }
        }
    }
}
.step-block {
    .btn-move {
        margin-top:24px;
        text-align:center;
        @include mobile {
            margin-top:60px;
        }
        .btn {
            padding-right:32px;
            &:after {
                content:' ';
                position:absolute;
                top:8px;
                right:12px;
                width:16px;
                height:16px;
                background:url('/lg5-common/images/icons/btn-down-16-black.svg') no-repeat 0 0;
            }
            &:hover,
            &:focus {
                border-color:#000 !important;
                background:transparent;
                color:#000;
            }
        }
    }
}