/* VARIABLES
------------------------------------------------------------------------*/

// /* BREAKPOINTS */
// $bp-xs: 30em; /*  30.00 / 480px */
// $bp-small: 46.25em; /*  46.25 / 700px */
// $bp-medium: 53.75em; /*  52.50 / 860px */
// $bp-large: 75em; /*  75.00 / 1024px */

// /* COLORS */
// $color-charcoal: #3c3c3c;
// $color-gray: #cccccc;
// $color-gray-light: #ececec;
// $color-gray-tint: #efefef;
// $color-white: #ffffff;

// /* FONTS */
// $font-sans: "Open Sans", sans-serif;
// $font-serif: "Cormorant Garamond", serif;

// /* FONT-SIZES */
// $font-tiny: 12px;
// $font-small: 14px;
// $font-reg: 16px;
// $font-large: 18px;
// $font-plus: 20px;

// /* FONT-WEIGHTS */
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// /* GRID */
// $grid-gap: 3%;

// /* CONTAINER-WIDTHS */
// $c-xs: 96%;
// $c-small: 90%;
// $c-medium: 53.75em; /*  52.50 / 860px */
// $c-large: 1180px; /*  75.00 / 1024px */

// MAIN COLORS
$color-default-1:#a50024;

// COLORS
$color-1            :#222;
$color-2            :#616161;
$color-3            :#979797;
$color-4            :#ccc; 

$color-border       :#ddd;

$color-bg           : #f4f4f4;
$color-bg-wt        : #fff;


// font size
$font-x-small      : 12px;
$font-small         : 14px;
$font-medium     : 16px;
$font-large         : 18px;
$font-x-large      : 24px;
$font-xx-large     : 36px;

// media query
$desktop-l-width	: 1600px;
$tablet-l-width		: 1024px;
$tablet-s-width		: 767px;