@charset "UTF-8";

.faq {
    margin-top:-26px;
    .search-wrap {
        position:relative;
        max-width:444px;
        margin:0 auto;
        // &::before {
        //     content:' ';
        //     position:absolute;
        //     top:0;
        //     left:10px;
        //     right:10px;
        //     height:1px;
        //     background:#ddd;
        //     z-index:1;
        // }
        // &::after {
        //     content:' ';
        //     position:absolute;
        //     bottom:0;
        //     left:10px;
        //     right:10px;
        //     height:1px;
        //     background:#ddd;
        //     z-index:1;
        // }
        @include mobile {
            padding:0 20px 32px;
            background:#fff;
            &::before, &::after {
                display:none;
            }
        }
        .select-wrap {
            position:relative;
            float:left;
            width:188px;
            z-index:10;
            .ui-selectbox-wrap {
                .ui-select-button {
                    border-radius:8px 0 0 8px;
                    border-right-color:transparent;
                    background:#fff;
                }
                &.on {
                    .ui-select-button {
                        border-radius:8px 8px 0 0;
                        border-right-color:#222;
                    }
                }
                @include mobile {
                    .ui-select-button {
                        border-radius:8px;
                        border-right-color:#ddd;
                    }
                }
            }
            @include mobile {
                float:none;
                width:100%;
            }
        }
        .input-wrap {
            display:block;
            // margin-left:188px;
            .box {
                width:100%;
                border-radius:24px;
                box-shadow:2px 4px 12px rgba(0,0,0,.14);
                overflow:hidden;
                .cell {
                    padding:0;
                }
            }
            .box input {
                padding-left:16px;
                border-radius:0;
                border:none;
                // border-left-color:transparent;
                &:focus {
                    box-shadow:none;
                }
            }
            @include mobile {
                margin-top:8px;
                margin-left:0;
                .box input {
                    border-radius:8px 0 0 8px;
                    border-left-color:#ddd;
                    padding-left:23px;
                }
            }
            .cell {
                width:48px;
                border:none;
                background:#fff;
                text-align:right;
                .btn-search {
                    position:relative;
                    width:48px;
                    height:48px;
                    &:after {
                        content:' ';
                        display:block;
                        width:20px;
                        height:20px;
                        margin:0 auto;
                        background:url('/lg5-common/images/icons/icon-search-20.svg') no-repeat 0 0;
                        background-size:20px 20px;
                    }
                    @include mobile {
                        width:46px;
                        height:46px;
                    }
                }
            }
        }
    }
    .result-wrap {
        max-width:1380px;
        margin:0 auto;
        padding-top:64px;
        .accordion-wrap {
            margin-top:32px;
            border-top:2px solid #222;
            &.faq-type > ul > .lists {
                margin-top:0;
                border-bottom:1px solid #ddd;;
                border-radius:0;
                &:first-child {
                    border-top:1px solid #ddd;
                }
                &.on {
                    background-color:#f4f4f4;
                    box-shadow:none;
                    .que {
                        color:#ec455a;
                    }
                    .accord-btn:after {
                        transform:rotate(270deg) !important;
                    }
                }
            }
            &.faq-type > ul > .lists .head .accord-btn {
                padding:25px 136px 25px 72px;
                @include mobile {
                    padding:16px 44px 16px 36px;
                }
                &:after {
                    right:48px;
                    width:24px;
                    height:24px;
                    margin-top:-12px;
                    background:url('/lg5-common/images/icons/btn-arr-24x24-black.svg') no-repeat 0 0;
                    border:none;
                    transform:rotate(90deg);
                    @include mobile {
                        top:16px;
                        right:12px;
                        width:16px;
                        height:16px;
                        margin-top:0;
                        background-size:16px 16px;
                    }
                }
                .que {
                    position:absolute; top:50%; left:24px;
                    font-size:18px;
                    font-weight:bold;
                    transform:translateY(-50%);
                    @include mobile {
                        top:21px;
                        left:12px;
                        font-size:15px;
                        transform:translateY(0);
                    }
                }
                .title {
                    font-weight:500;
                }
            }
            &.faq-type > ul > .lists .accord-cont {
                padding:0 72px 48px;
                @include mobile {
                    padding:0 44px 32px 36px;
                }
            }
        }
        @include mobile {
            padding-top:40px;
            .accordion-wrap {
                margin:20px 16px 0;
            }
        }
    }
    .no-data {
        margin-top:16px;
    }
}