@charset "UTF-8";

@mixin csmobile {
	@media screen and (max-width: 1024px) {
		@content;
	}
}


// 매장찾기
.find-store-wrap {
    .cont-wrap {
        max-width: 1920px !important;
        padding:0;
        @include csmobile {
            border:none;
        }
    }

    .map-container {
        position:relative;
        height:calc(100vh - 149px);
        overflow:hidden;

        @include csmobile {
            height:auto;
        }

        .store-list-wrap {
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            width:460px;
            background:#fff;
            box-shadow:0 2px 20px 0 rgba(0,0,0,.2);
            -webkit-transition:0.26s cubic-bezier(0.25,0.1,0.25,1); 
            transition:0.26s cubic-bezier(0.25,0.1,0.25,1);
            z-index:2;

            @include csmobile {
                position:static;
                width:100%;
                box-shadow:none;
            }
            // BTOCSITE-4785
            .display-product-search-info-wrap {
                display: none;
            }
            h2.tit {
                // BTOCSITE-8243
                padding:16px 40px 29px;
                font-size: 32px;
                line-height: 42px;
                @include csmobile {
                    padding:4px 24px 12px;
                    text-align: center;
                    font-size:24px;
                    line-height:33px;
                }
            }

            .btn-list-fold {
                position:absolute;
                right:-85px;
                top:32px;
                width:86px;
                height:152px;
                //-webkit-transform:translateY(-50%);
                //transform:translateY(-50%);
                background:#fff;
                border-radius:0 8px 8px 0;
                background:url('/lg5-common/images/CS/bg-btn-shadow.svg') no-repeat;
                background-size:86px 152px;
                z-index:1;

                .btn-fold {
                    position:relative;
                    top:50%;
                    width:40px;
                    height:60px;
                    -webkit-transform:translateY(-50%);
                    transform:translateY(-50%);
                    &:after {
                        content:'';
                        position:absolute;
                        right:15px;
                        top:50%;
                        width:10px;
                        height:10px;
                        margin-top:-5px;
                        border:2px solid #111;
                        border-top:none;
                        border-right:none;
                        -webkit-transform:rotate(45deg);
                        transform:rotate(45deg);
                    }
                    @include csmobile {
                        display:none;
                    }
                }
            }

            .view-info-btn {
                display:none;
                @include csmobile {
                    display:block;
                    position:absolute;
                    top:186px;
                    left:0;
                    span {
                        display:inline-block;
                        color:#EC455A;
                        font-size:14px;
                        line-height:24px;
                        font-weight:500;
                        &:after {
                            content:'';
                            display:inline-block;
                            width:24px;
                            height:24px;
                            margin-left: 4px;
                            vertical-align:top;
                        }
                    }
                    button {
                        &.map span:after {
                            background:url('/lg5-common/images/CS/btn-viewmap.svg') no-repeat;
                            background-size:24px 24px;
                        }
                        &.list span:after {
                            background:url('/lg5-common/images/icons/icon-list-on.svg') no-repeat;
                            background-size:24px 24px;
                        }
                    }
                    
                }
            }

            .store-list-box {
                // position:relative;
                // overflow:hidden;
                &:after {
                    content:' ';
                    display:block;
                    clear:both;
                }
            }

            .sch-box {
                position:relative;
                margin:0 40px;
                z-index: 10;
                background-color:#fff                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ;
                @include csmobile {
                    margin:0 20px;
                }
                #tab1 {
                    .sch-input-wrap {
                        // BTOCSITE-8243
                        padding-bottom:43px;
                        @include csmobile {
                            padding-bottom:0;
                        }
                        @include mobile {
                            padding-bottom:0;
                        }
                    }
                }
                .tabs-wrap {
                    // position:absolute;
                    // top:-54px;
                    // right:0;
                    // BTOCSITE-8243
                    margin-bottom:14px;
                    text-align:left;
                    // padding-bottom: 24px;

                    @include csmobile {
                        position:relative;
                        top:0;
                        margin:0 -20px 16px;
                        padding:12px 20px 0;
                        .tabs {
                            padding:0;
                            & > li > a {
                                font-size: 16px;
                                line-height: 23px;
                            }
                        }
                    }
                }
                .sch-input-wrap {
                    position: relative;
                    // BTOCSITE-8243
                    margin-bottom:32px;
                    @include csmobile {
                        margin-bottom:0;
                    }
                    @include mobile {
                        margin-bottom:0;
                        padding-bottom:0;
                    }
                    .btn-area {
                        position:absolute;
                        bottom:0;
                        left:0;
                        z-index:1;
                    }

                    @include csmobile {
                        //padding-bottom:52px;
                        padding-bottom:0;
                        border:none;
                    }
                    .select-wrap {
                        .ui-select-scrollarea {
                            ul {
                                overflow-y: scroll;
                                max-height: 200px;
                            }
                        }
                        
                    }

                    .btn-area {
                        @include csmobile {
                            right:0;
                            left: auto;
                            bottom:-59px;
                            @include mobile {
                                top:auto;
                                right:0;
                                // BTOCSITE-8243
                                bottom:-49px;
                                text-align:right;
                            }
                        }
                    }
                    .btn-area + .forms {
                        margin-top: 8px;
                        @include csmobile {
                            margin-top: 0;
                        }
                    }
                    &.select.type2 {
                        .forms {
                            font-size:0;
                            .select-wrap {
                                display:inline-block;
                                width:calc((100% - 12px) / 2);
                                vertical-align:middle;
                                margin:0 0 0 12px;
                                &:nth-child(odd) {
                                    margin-left:0;
                                }
                            }
                            .box {
                                .select-wrap {
                                    width: 100%;
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                    /*
                    &.select {
                        font-size:0;
                        .select-wrap {
                            display:inline-block;
                            width:calc((100% - 12px) / 2);
                            vertical-align:middle;
                            margin:12px 0 0 12px;
                            &:nth-child(odd) {
                                margin-left:0;
                            }
                        }
                    
                    }*/
                    .input-sch {
                        position:relative;
                        //margin-top:12px;
                        input.txt {
                            width:100%; 
                            height:48px; 
                            padding:0 70px 0 16px;
                            //border:1px solid #ddd; 
                            background-color:#fff;
                            font-size:16px;
                            line-height:normal;
                            box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
                            border-radius:24px;
                            &::-webkit-input-placeholder {color:#808080;}
                            &::-moz-placeholder {color:#808080;}
                            &:-ms-input-placeholder {color:#808080;}
                        }
                        .btn-search {
                            position:absolute; 
                            top:50%; 
                            right:0; 
                            width:56px; 
                            height:56px; 
                            margin-top:-28px;
                            &::after {
                                content:'';
                                display:block;
                                margin-left:16px;
                                width:24px;
                                height:24px;
                                background:url('/lg5-common/images/icons/icon-search.svg') no-repeat;  
                                background-size:24px 24px;
                            }
                        }
                    }

                }
                .desc {
                    padding:0 0 12px;
                    border-bottom: 1px solid $color-default;
                    @include font-medium;
                    color: $color-default;
                    // font-weight: $font-weight-bold;

                    @include csmobile {
                        position:relative;
                        // BTOCSITE-8243
                        padding:82px 0 12px;
                        /*
                        &:before {
                            content:'';
                            display:block;
                            position:absolute;
                            top:0;
                            left:-20px;
                            right:-20px;
                            height:12px;
                            background:#f4f4f4;
                        }*/
                    }
                    &.none {
                        display: none;
                    }
                }
            }

            .sch-list {
                padding-top: 24px;
                @include mobile {
                    // BTOCSITE-8243
                    padding-top:16px;
                }
                .list-item {
                    position: relative;
                    // padding-bottom:32px;
                }
                .list-item > li {
                    position:relative;
                    // BTOCSITE-4785
                    padding:24px 10px 24px 0;
                    border-bottom:1px solid #ddd;
                    &:first-child {
                        padding-top:0;
                    }
                    
                    @include csmobile {
                        //padding:0 20px 40px 0;
                        // margin-bottom: 20px;
                        // BTOCSITE-4785
                        padding:16px 12px 16px 0;
                        border-bottom:0;
                        &:after {
                            display: inline-block;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: calc(100% - 12px);
                            height: 1px;
                            background-color: #ddd;
                        }

                    }
                    &:last-child {
                        margin-bottom:0;
                        &:after {
                            display: none;
                        }
                    }
                    .store-info-list {
                        display:table;
                        width:100%;
                        table-layout:fixed;
                        //cursor:pointer; 2021-03-16
                        .point-wrap {
                            display:table-cell;
                            width:50px;
                            vertical-align:top;
                            @include csmobile {
                                width:43px;
                            }
                        }
                        .info-wrap {
                            display:table-cell;
                            vertical-align:middle;
                            margin-left:50px;
                            @include csmobile {
                                margin-left:43px;
                            }
                            .tit-wrap {
                                font-size:0;
                                cursor:pointer;
                                .name {
                                    display:inline-block;
                                    margin-right:8px;
                                    font-size:16px;
                                    line-height:32px;
                                    font-weight:700;
                                    vertical-align:middle;
                                    @include mobile {
                                        margin-right:6px;
                                        line-height:29px;
                                    }
                                }
                                .flag-wrap {
                                    display:inline-block;
                                    vertical-align:middle;
                                   /* .flag {
                                        display:inline-block;
                                        margin-right:4px;
                                        padding:0 8px;
                                        color:#616161;
                                        background:#fff;
                                        border:1px solid #616161;
                                        vertical-align:middle;
                                        &:last-child {
                                            margin-right:0;
                                        }
                                    }*/
                                }
                            }
                            
                            .addr {
                                margin-top:8px;
                                color:#000;
                                font-size:16px;
                                line-height:24px;
                                overflow:hidden; 
                                max-height:48px;
                                text-overflow:ellipsis;
                                word-break:break-all;
                                -moz-line-clamp:2;
                                -ms-line-clamp:2;
                                -webkit-line-clamp:2;
                                cursor:pointer;
                                @include csmobile {
                                    margin-top:12px;
                                    font-size:14px;
                                    line-height:18px;
                                }
                            }
                            .etc-info {
                                margin-top:4px;
                                font-size:0;
                                @include csmobile {
                                    margin-top:4px;
                                }
                                .tel {
                                    color:#666;
                                    font-size:16px;
                                    line-height:24px;
                                    @include csmobile {
                                        font-size:14px;
                                        line-height:18px;
                                    }
                                }
                                // BTOCSITE-4785 s
                                // .btn-detail {
                                //     margin-left:12px;
                                //     font-size:16px;
                                //     line-height:24px;
                                //     font-weight:700;
                                //     @include csmobile {
                                //         font-size:14px;
                                //         line-height:18px;
                                //         text-decoration:underline;
                                //     }
                                // }
                                .btn-link-box {
                                    display: block;
                                    float: right;
                                    text-align: right;
                                    .btn-link.pink {
                                        margin-left: 8px;
                                        color:$color-primary;
                                        &:after{
                                            background-image: url(/lg5-common/images/icons/btn-arr-16-red.svg) ;
                                        }
                                    }
                                }
                                 // BTOCSITE-4785 e
                            }
                        }
                    }
                }
            }

            .result-list-box {
                display:none;
                position:relative; /* 2021.2.9 수정 */
                width:100%; /* 2021.2.9 추가 */
                top:0;
                left:0;
                right:0;
                background:#fff;
                z-index:1;
                @include csmobile {
                    position:fixed;
                    top:126px;
                }
                @include mobile {
                    top:0;
                }

                .result-btn-wrap {
                    margin:0;
                    padding:12px 40px 50px;
                    background:#fff;

                    @include csmobile {
                        padding:20px 20px;
                        border:none;
                    }
                    .btn-back {
                        text-align:left;
                        @include csmobile {
                        
                        }
                        span {
                            position:relative;
                            padding-left:40px;
                            @include font-large-3;
                            font-weight: $font-weight-bold;
                            &:after {
                                content:'';
                                position:absolute;
                                left:0px;
                                top:50%;
                                width:32px;
                                height:32px;
                                margin-top:-16px;
                                background: url(/lg5-common/images/icons/btn-arrow-right-32.svg) 50% 50% no-repeat ;
                                //background-size: 32px 32px;
                                //transform:rotate(-180deg);
                                /*
                                
                                border:2px solid #111;
                                border-top:none;
                                border-right:none;
                                -webkit-transform:rotate(-45deg);
                                */
                            }
                        }
                    }
                    .view-info-btn {
                        position: absolute;
                        top:20px;
                        right:20px;
                        bottom:auto;
                        @include csmobile {
                            top:29px;
                            left:auto;
                        }
                        @include mobile {
                            top:25px;
                            left:auto;
                        }
                    }

                }
                .result-list {
                    position: relative;
                    padding:0 8px 12px 40px;
                    //border-bottom: 2px solid $color-default;
                    overflow:hidden;
                    &:after {
                        display: inline-block;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 40px;
                        width: calc(100% - 80px);
                        height: 1px;
                        background-color: $color-default;
                        @include mobile {
                            width: calc(100% - 36px);
                            left: 16px;
                        }
                    }
                    @include csmobile {
                        padding:0 0 0 20px;
                    }
                    .scroll-wrap {
                        position:relative;
                        height:calc(100vh - 371px);
                        overflow-y:scroll;
                        @include csmobile {
                            height:calc(100vh - 126px - 44px - 64px);
                        }
                    }
                    .result-txt {
                        padding-right:20px;
                        @include font-medium;
                        font-weight: $font-weight-bold;
                        @include csmobile {
                            // BTOCSITE-8243
                            padding:0 0 12px 0;
                        }
                        strong {
                            font-weight:normal;
                            color:#da0f47;
                        }
                    }
                }
                // BTOCSITE-4785 s
                .display-product-search-info-wrap {
                    margin-top: 16px;
                    padding: 0 !important;
                }
                // BTOCSITE-4785 e
            }

            .list-wrap {
                position:relative;
                top:0;
                left:0;
                right:0;
                padding:0 40px 0 40px;
                overflow:hidden;
                background: #fff;
                // -webkit-transition:0.26s cubic-bezier(0.25,0.1,0.25,1); 
                // transition:0.26s cubic-bezier(0.25,0.1,0.25,1);

                @include csmobile {
                    padding:0 8px 0 20px;
                }
                .scroll-wrap {
                    position:relative;
                    height:calc(100vh - 471px);
                    overflow-y:scroll;
                }
                .no-data {
                    span {
                        color: $color-default;
                    }
                }
            }

            .opt-cont {
                position:absolute;
                left:0;
                right:0;
                bottom:0;
                width:460px;
                z-index:10;
                background:#fff;
                box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
                @include csmobile {
                    position:fixed;
                    width:100%;
                }
                @include mobile {
                   bottom:70px;
                }
                .btn-sel {
                    position:relative;
                    display:inline-block;
                    width:100%;
                    // BTOCSITE-8243 
                    height:64px;
                    text-align:left;
                    border-top:1px solid #f4f4f4;
                    background:#fff;
                    line-height:1;
                    @include csmobile {
                        height:56px;
                    }
                    span {
                        display:inline-block;
                        padding-left:40px;
                        @include font-medium;
                        font-weight:700;
                        vertical-align:middle;
                        @include csmobile {
                            padding-left:20px;
                            font-size: 13px;
                            line-height: 21px;
                        }
    
                        &::before {
                            content:'';
                            display:inline-block;
                            margin-right:12px;
                            width:24px;
                            height:24px;
                            background:url('/lg5-common/images/icons/icon-filter.svg') no-repeat;
                            background-size:24px 24px;
                            vertical-align:middle;
                        }
                    }
                    &:after {
                        content:' ';
                        position:absolute;
                        right:34px;
                        top:50%;
                        width:12px;
                        height:12px;
                        margin-top:-6px;
                        border:2px solid #111;
                        border-top:none;
                        border-right:none;
                        -webkit-transform:rotate(135deg);
                        transform:rotate(135deg);
                        transition:all .3s;
                    }
                }
                .opt-layer {
                    display:none;
                    overflow:hidden;
                    .scroll-wrap {
                        position:relative;
                        margin-right:8px;
                        height:calc(100vh - 126px - 105px - 105px);
                        overflow-y:scroll;
                        @include csmobile {
                            height:calc(100vh - 135px);
                        }
    
                        .list-item {
                            padding:0 40px 34px;
                            @include csmobile {
                                padding:0 20px 60px;
                            }

                            // S - 210727 BTOCSITE-1599 매장형태 항목 및 자세히보기 버튼 추가
                            .morebtn-wrap {
                                margin-top:13px;
                                ul{
                                    display: flex;
                                    justify-content: space-between;
                                    li{
                                        font-size:14px;
                                        line-height: 24px;
                                        a{
                                            font-size:14px;
                                            line-height: 24px;
                                            
                                        }
                                        a.btn-link::after {
                                            content: '';
                                            width: 10px;
                                            height: 10px;
                                            background-size: 10px;
                                            background: url(/lg5-common/images/icons/btn-arr-16-black.svg) center no-repeat;
                                            margin: 2px 0 2px 4px;
                                            @include mobile{
                                                width: 14px;
                                                height: 14px;
                                                background-size: 14px;
                                                margin:4px ​0 2px 4px;
                                            }
                                        }
                                    }
                                    li:nth-child(1)::before{
                                        display: inline-block;
                                        content:"";
                                        width:3px;
                                        height:3px;
                                        background: #000;
                                        border-radius: 50%;
                                        margin:0 8px 4px 0;
                                    }
                                }
                            }
                            // E - 210727 BTOCSITE-1599 매장형태 항목 및 자세히보기 버튼 추가
                        }
                    }
                    dl {
                        padding-top:32px;
                        @include csmobile {
                            padding-top:40px;
                            &:first-child {
                                padding-top:29px;
                            }
                        }
                        
    
                        dt {
                            font-size:16px;
                            line-height:24px;
                            font-weight:700;
                        }
                        dd {
                            margin-top:12px;
                            @include csmobile {
                                margin-top:16px;
                            }
    
                            .chk-wrap, .rdo-wrap {
                                display:block;
                                margin-top:8px;
                                @include csmobile {
                                    margin-top:16px;
                                }
                            }
                        }
                        &.list-type2 {
                            dd {
                                font-size: 0;
                                span {
                                    display: inline-block;
                                    width: 50%;
                                }
                            }
                        }
                        &.all-chk {
                            margin-top:40px;
                            padding-top:40px;
                            border-top:1px solid #ddd;
                            @include csmobile {
                                margin-top:56px;
                            }
                            /*
                            dd {
                                margin:0;
                                .item {
                                    padding-top:24px;
                                    @include csmobile {
                                        padding-top:32px;
                                        &:first-child {
                                            padding-top:20px;
                                        }
                                    }
                                    dt {
                                        color:#616161;
                                        font-size:14px;
                                        line-height:20px;
                                        font-weight:normal;
                                    }
                                    dd {
                                        margin-top:4px;
                                        font-size:0;
    
                                        .chk-wrap {
                                            display:inline-block;
                                            margin-right:8px;
                                            vertical-align:middle;
                                            @include csmobile {
                                                margin-top:8px;
                                            }
    
                                            input {
                                                &+label {
                                                    padding:12px 20px;
                                                    color:#808080;
                                                    font-size:14px;
                                                    line-height:20px;
                                                    border:1px solid #ddd;
                                                    border-radius:22px;
                                                    font-weight:500;
                                                    &:before, &:after {
                                                        display:none;
                                                    }
                                                }
                                                &:checked + label {
                                                    color:#EC455A;
                                                    border-color:#EC455A;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            */
                        }
                    }
                }
    
                &.open {
                    top:0;
                    .opt-layer {
                        display:block;
                    }
                    .btn-sel {
                        border-top:none;
                        //border-bottom:1px solid #ddd;
                        &:after {
                            border:2px solid #111;
                            border-bottom:none;
                            border-left:none;
                        }
                    }
    
                    .opt-btn-wrap {
                        position:absolute;
                        left:0;
                        right:0;
                        bottom:0;
                        height:105px;
                        background:#fff;
                        text-align:right;
                        border-top:1px solid #ddd;
                        z-index:1;
                        @include csmobile {
                            position:fixed;
                            height:auto;
                            border:0;
                            text-align:center;
                        }
                        .btn-group {
                            padding:12px 40px 0 0;
                            @include csmobile {
                                padding:0;
                                .btn {
                                    width:50%;
                                    padding:18px 0;
                                    border-radius:0;
                                    margin:0;
                                }
                            }
                        }
                    }
                }
            }

            &.close {
                position:relative;
                left:-436px;
                // width:24px;
                height:100%;
                background:#fff;
                .btn-fold {
                    &:after {
                        right:20px;
                        border:2px solid #111;
                        border-bottom:none;
                        border-left:none;
                    }
                }
                .store-list-box,
                    .opt-cont {
                        display:none;
                }
                @include csmobile {
                    left:0;
                    .store-list-box,
                        .opt-cont {
                            display:block;
                    }
                }
            }
            // BTOCSITE-4785 s
            &.display-product-search{
                h2.tit {
                    padding-bottom:16px;
                    padding-top:16px;
                    @include mobile {
                        padding-bottom:12px;
                        padding-top:4px;
                    }
                }
                .sch-box {
                    border-bottom: 1px solid #000;
                    .desc {
                        display: none;
                    }
                    .tabs-wrap {
                        margin-bottom: 14px;
                        // @include mobile {
                        //     margin-bottom: 189px;
                        //     transition: all 0.2s;
                        //     &.close {
                        //         margin-bottom: 80px;
                        //         transition: all 0.2s;
                        //     }
                        // }
                    }
                    #tab1 .sch-input-wrap {
                        padding-bottom: 42px;
                        margin-bottom: 32px;
                        @include mobile {
                            padding-bottom: 48px;
                        }
                        .btn-area {
                            @include csmobile {
                                bottom:0;
                            }
                            @include mobile {
                                bottom:0;
                            }
                            .btn.size-m {
                                line-height: 16px;
                                @include csmobile {
                                    line-height: 12px;
                                }
                                @include mobile {
                                    line-height: 12px;
                                }
                            } 
                        }
                    }
                    .sch-input-wrap {
                        margin-bottom: 32px;
                        @include mobile {
                            padding-bottom: 48px;
                            margin-bottom: 32px;
                        }
                    }
                }
                .sch-list .list-item > li {
                    padding-right: 10px;
                    @include mobile {
                        padding-right:12px;
                    }
                }
                .display-product {
                    &-search-info-wrap{
                        display: block;
                        padding: 0 40px 32px 40px;
                        @include mobile {
                            padding: 0 20px 16px 20px;
                        }
                    }
                    &-search-info {
                        position: relative;
                        background: $color-bg;
                        padding: 18px 24px 24px 24px;
                        border-radius: 8px;
                        height:181px;
                        transition: all 0.2s;
                        @include mobile {
                            padding: 16px 16px 24px 16px;
                            height: 161px;
                        }
                        h3{
                            position: relative;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 22px;
                            padding: 0 0 18px 28px;
                            border-bottom : 1px solid $color-border;
                            margin-bottom: 18px;
                            @include mobile {
                                font-size: 13px;
                                padding: 0 0 16px 24px;
                                margin-bottom: 16px;
                                line-height: 18px;
                            }
                            &:before{
                                position: absolute;
                                top:-2px; 
                                left:0;
                                width: 24px;
                                height: 24px;
                                background: url(/lg5-common/images/CS/icon/ic_findastore_24.svg) no-repeat center center;
                                background-size: 24px 24px;
                                content: '';
                                @include mobile {
                                    width: 20px;
                                    height: 20px;
                                    top:-2px;
                                    background-size: 20px 20px;
                                }
                            }
                        }
                        .btn-fold-box{
                            position: absolute;
                            top:-8px;
                            left:0;
                            width: 100%;
                            height: 100%;
                            .btn-dppdp-fold{
                                width: 100%;
                                height: 100%;
                                &:after {
                                    position: absolute;
                                    top:12px;
                                    right:0;
                                    width: 16px;
                                    height: 16px;
                                    background: url(/lg5-common/images/CS/icon/ic_up_16.svg) no-repeat center center;
                                    background-size: 16px 16px;
                                    transition: all 0.2s;
                                    content:'';
                                    @include mobile {
                                        top:9px;
                                    }
                                }
                            }
                        }
                        .display-product-name{
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 24px;
                            @include  textEllipsis ();
                            @include mobile {
                                font-size: 15px;
                                line-height: 22px;
                            }
                        }
                        .bullet-list {
                            margin-top: 12px;
                            color: $color-primary;
                            font-size: 12px;
                            line-height: 22px;
                            @include mobile {
                                line-height: 20px;
                                margin-top: 8px;
                            }
                            .b-txt {
                                @include mobile {
                                    font-size: 13px;
                                    line-height: 21px;
                                }
                            }
                            .b-txt:before {
                                width: 3px;
                                height: 3px;
                                margin-top: 9px;
                                margin-left: -7px;
                                margin-right: 4px;
                                background: $color-primary ;
                                vertical-align: top;
                            }
                        }
                        &.close {
                            height: 56px;
                            overflow: hidden;
                            transition: all 0.2s;
                            @include mobile {
                                height: 51px;
                            }
                            h3 {
                                border-bottom:none;
                                margin-bottom:33px;
                            }
                            .btn-fold-box{
                                .btn-dppdp-fold:after{
                                    -webkit-transform:rotate(180deg);
                                    transform:rotate(180deg);
                                    transition: all 0.2s;
                                }
                            }
                        }
                    }
                }
                .store-list-box .view-info-btn {
                    @include csmobile {
                        bottom: 35px;
                    }
                    @include mobile {
                        bottom: 35px;
                    }
                }
                
            }
            // BTOCSITE-4785 e
        }

        .point {
            position:relative;
            width:34px;
            height:48px;
            background:url('/lg5-common/images/icons/icon-point-off.svg') no-repeat;
            background-size:34px 48px;
            text-align:center;
            
            @include csmobile {
                width:31px;
                height:44px;
                background-size:31px 44px;
            }
            .num {
                display:inline-block;
                margin-top:8px;
                color:#979797;
                font-size:12px;
                line-height:16px;
                font-weight:700;
                @include csmobile {
                    margin-top:7px;
                }
            }
            &.on {
                background:url('/lg5-common/images/icons/icon-point-on.svg') no-repeat;
                background-size:34px 48px;
                @include csmobile {
                    background-size:31px 44px;
                }
                .num {
                    color:#EC455A;
                }
            }
        }
        

        .store-map-con {
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            width:100%;
            z-index:1;
            @include csmobile {
                visibility: hidden;
                left:-9999px;
                height:calc(100vh - 126px - 60px - 217px - 76px);
                overflow:hidden;
            }
            &.isMobile{
                margin-top: 4px;
            }
        }

        .map-area {
            position:relative;
            left:0;
            top:0;
            right:0;
            bottom:0;
            height:100%;

            .my-location {
                @include mobile {
                    position:absolute;
                    top:50%;
                    left:50%;
                    z-index:1;
                    width:16px;
                    height:16px;
                    background:url('/lg5-common/images/CS/icon-location-my-mo-32.svg') no-repeat 0 0;
                    background-size:16px;
                    transform:translate(-50%, -50%);
                }
            }

            .point-wrap {
                display:block;
            }

            .info-overlaybox {
                .inner {
                    position:relative;
                    width:360px;
                    padding:24px;
                    background:#fff;
                    border-radius:16px;
                    box-shadow:0 4px 10px 0 rgba(17,17,17,.32);
                    @include csmobile {
                        width:320px;
                        padding:20px;
                    }
                    .name {
                        font-size:16px;
                        line-height:24px;
                        font-weight:700;
                    }
                    .adress {
                        margin-top:8px;
                        font-size:14px;
                        line-height:20px;
                        @include csmobile {
                            margin-top:16px;
                            font-size:13px;
                            line-height:16px;
                        }
                    }
                    .store-info {
                        margin-top:4px;
                        font-size:0;
                        @include csmobile {
                            margin-top:2px;
                        }
                        dl {
                            display:inline-block;
                            margin-left:8px;
                            font-size:0;
                            vertical-align:middle;
                            dt, dd {
                                display:inline-block;
                                font-size:14px;
                                line-height:20px;
                                vertical-align:middle;
                                @include csmobile {
                                    font-size:13px;
                                    line-height:16px;
                                }
                            }
                            dt {
                                margin-right:8px;  
                            }
                            dd {
                                font-weight:500;
                            }
                            &:first-child {
                                margin-left:0;
                            }
                        }
                    }
                    .hour-info {
                        margin-top:4px;
                        font-size:0;
                        @include csmobile {
                            margin-top:12px;
                        }
                        dl {
                            display:inline-block;
                            width:50%;
                            vertical-align:middle;
                            font-size:0;
                            dt, dd {
                                display:inline-block;
                                vertical-align:middle;
                                @include font-small;
                                font-weight: $font-weight-medium;
                            }
                            dt {
                                &:after {
                                    display: inline-block;
                                    content: ':';
                                    padding: 0 4px;
                                }
                            }
                            dd {
                                color: $color-gray-1;
                                @include csmobile {

                                }
                            }
                        }
                    }
                    .btn-group {
                        margin-top:12px;
                        .btn {
                            width:152px;
                            //padding:8px 0;
                            @include csmobile {
                                width:138px;
                                margin-left:4px;
                                padding:10px 0;
                                color:#616161;
                                font-size:14px;
                                border-radius:4px;
                                border-color:#616161;
                                &:first-child {
                                    margin-left:0;
                                }
                            }
                            &:hover,
                            &:active,
                            &:focus {
                                border-color:#000 !important;
                                background:#fff;
                                color:#616161;
                            }
                        }
                    }
                    .info-overlay-close {
                        position:absolute;
                        top:16px;
                        right:16px;
                        width:24px;
                        height:24px;
                        @include mobile {
                            top:12px;
                            right:12px;
                        }
                        &:before {
                            content:' ';
                            display:block;
                            width:24px;
                            height:24px;
                            background:url('/lg5-common/images/icons/btn-close-24-black.svg') no-repeat 0 0;
                        }
                    }

                    &:after {
                        content:'';
                        display:block;
                        position:absolute;
                        left:50%;
                        bottom:-36px;
                        width:57px;
                        height:36px;
                        -webkit-transform:translateX(-50%);
                        transform:translateX(-50%);
                        background:url('/lg5-common/images/icons/icon-map-bubble.svg') no-repeat;
                        background-size:57px 36px;
                    }
                }
            }
        }
        .location-btn {
            display:block;
            margin:0 0 25px 10px;
            a {
                display:block;
                width:48px;
                height:48px;
                border-radius:24px;
                background:url('/lg5-common/images/CS/icon-location-off-mo-64.svg') #fff no-repeat center center;
                background-size:32px;
                background-color:#fff;
                box-shadow:1px 2px 8px 0 rgba(0, 0, 0, 0.14);
                &:hover {
                    background-image:url('/lg5-common/images/CS/icon-location-on-mo-64.svg');
                }
            }
        }
    }
}

// 매장상담신청완료
.complete-wrap {
    position: relative;
    text-align: center;
    margin-top:16px;
    padding-bottom: 80px;
    @include mobile {
        margin-top:0;
    }
    &:before {
        display: inline-block;
        width: 64px;
        height: 64px;
        margin-bottom: 16px;
        background: url('/lg5-common/images/icons/icon-complete-64.svg') no-repeat 0 0;
        vertical-align: -6px;
        content: '';
    }
    .text {
        display: block;
        font-weight: 700;
        @include font($font-large-4,52px);
    }
    .small-text {
        margin-top: 12px;
        @include font($font-medium,26px);
        word-break: keep-all;
    }
    .btn-link {
        margin-top: 24px;
    }
    .btn-group {
        margin-top:64px;
        @include mobile {
            .btn {
                padding:15px 16px;
            }
        }
    }

    @include mobile {
        margin-top: -24px;
        padding:0;
        &:before {
            margin-bottom: 12px;
        }
        .text {
            font-size:16px;
            line-height:24px;
        }
        .small-text {
            margin-top: 12px;
            font-size:14px;
            line-height:22px;
        }
        .btn-link {
            margin-top: 16px;
        }
    }
}

// BTOCSITE-8243 s
.tabs-wrap.border-type .tabs > li > a {
    padding-bottom: 11px;
}
.sch-input-wrap .btn.size-m {
	padding: 0 15px;
    height: 32px;
}
.view-info-btn.withtab3{
    top: 133px !important;
}
// BTOCSITE-8243 e