@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";
@import "../../support/quick-menu";


//매장찾기
@import "CSRF6040";

//매장정보
@import "CSRF6041";

//FAQ
@import "CSRF6043";
 
//카탈로그
//@import "_BTOCSITE-212";
@import "_Catalog"; //BTOCSITE-9501 
 
// 210406 임시 텍스트
.cs-temp-text {
  max-width: 1380px;
  margin: 0 auto;
  padding: 32px 40px 24px;
  @include font-medium;
  p {
    margin-bottom: 16px;
  }
}