<!-- BTOCSITE-6883 신규 WSG 적용 - 렌탈/케어 -->
<!-- 히어로 -->
<div class="hero-banner slide-wrap ui_wide_slider">
    <div class="slide-content ui_carousel_list">
        <ul class="slide-track ui_carousel_track">
            <!-- slide -->
            <li class="slide-conts ui_carousel_slide">
                <a href="/care-solutions/why">
                    <div class="slide-img">
                        <video autoplay muted loop>
                            <source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
                            <!-- WEBM 동영상을 제공하는 경우
                            <source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
                            -->
                        </video>
                    </div>
                    <div class="slide-info-area">
                        <div class="boxs fc-white">
                            <p class="txt">
                                LG전자만의 차원이 다른<br>렌탈 서비스는?
                            </p>
                            <p class="small">케어솔루션/케어십 서비스를 통해 늘 새 것처럼 사용<br>
                                케어솔루션/케어십 서비스를 통해 늘 새 것</p>
                        </div>    
                    </div>
                </a>
            </li>
            <!-- // slide -->
            <!-- slide -->
            <li class="slide-conts ui_carousel_slide">
                <a href="/care-solutions/why">
                    <div class="slide-img">
                        <img alt=""
                            src="/lg5-common/images/SLS/visual-1.jpg"
                            data-pc-src="/lg5-common/images/SLS/visual-1.jpg" 
                            data-m-src="/lg5-common/images/SLS/m-visual-1.jpg" 
                        >
                    </div>
                    <div class="slide-info-area">
                        <div class="boxs fc-white">
                            <p class="txt">
                                LG전자만의 차원이 다른<br>렌탈 서비스는?
                            </p>
                            <p class="small">케어솔루션/케어십 서비스를 통해 늘 새 것처럼 사용<br>
                                케어솔루션/케어십 서비스를 통해 늘 새 것</p>
                        </div>    
                    </div>
                </a>
            </li>
            <!-- // slide -->
            <!-- slide -->
            <li class="slide-conts ui_carousel_slide">
                <a href="/care-solutions/why-careship">
                    <div class="slide-img">
                        <img alt=""
                            src="/lg5-common/images/SLS/visual-2.jpg"
                            data-pc-src="/lg5-common/images/SLS/visual-2.jpg" 
                            data-m-src="/lg5-common/images/SLS/m-visual-2.jpg" 
                        >
                    </div>
                    <div class="slide-info-area">
                        <div class="boxs fc-black">
                            <p class="txt">
                                차원이 다른 전문가의<br> 가전 관리 서비스는?
                            </p>
                            <p class="small">케어솔루션/케어십 서비스를 통해 늘 새 것처럼 사용<br>
                                케어솔루션/케어십 서비스를 통해 늘 새 것</p>
                        </div>
                    </div>
                </a>
            </li>
            <!-- // slide -->
        </ul>
    </div>
    <div class="custom-indi-wrap">
        <div class="slide-controls">
            <div class="controls">
                <button type="button" class="btn-arrow ico-prev ui_carousel_prev">이전</button>
                <span class="slide-page"><strong class="current"></strong><em class="count"></em></span>
                <button type="button" class="btn-arrow ico-next ui_carousel_next">다음</button>
            </div>
        </div>
        <button type="button" class="indi-control ui_carousel_play play">
            <span class="blind" data-bind-text="{&quot;play&quot;:&quot;재생&quot;, &quot;stop&quot;:&quot;정지&quot;}">정지</span>
        </button>
    </div>
</div>
<!-- //히어로 -->

<!-- 케어솔루션 제품 -->
<div class="care-home-section care-flowbanner">
    <div class="tit-wrap">
        <h3 class="set-tit">케어솔루션 제품</h3>
    </div>
    <ul class="care-home-list">
        <li>
            <a href="/care-solutions/water-purifiers">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions01.png" alt="">
                </div>
                <strong class="tit">정수기</strong> 
            </a>
        </li>
        <li>
            <a href="/care-solutions/ice-water-purifiers-refrigerator">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions02.png" alt="">
                </div>
                <strong class="tit">얼음정수기<br class="m">냉장고</strong> 
            </a>
        </li>
        <li>
            <a href="/care-solutions/lg-homebrew/age-validation">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions03.png" alt="">
                </div>
                <strong class="tit">맥주제조기</strong> 
            </a>
        </li>
        <li>
            <a href="/care-solutions/air-purifiers">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions04.png" alt="">
                </div>
                <strong class="tit">공기청정기</strong> 
            </a>
        </li>
        <li>
            <a href="/care-solutions/dryers">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions05.png" alt="">
                </div>
                <strong class="tit">건조기</strong> 
            </a>
        </li>
        <li>
            <a href="/care-solutions/lg-styler">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions06.png" alt="">
                </div>
                <strong class="tit">스타일러</strong> 
            </a>
        </li>
        <li>
            <a href="/care-solutions/electric-stoves">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions07.png" alt="">
                </div>
                <strong class="tit">전기레인지</strong> 
            </a>
        </li>
        <li>
            <a href="/care-solutions/dishwashers">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions08.png" alt="">
                </div>
                <strong class="tit">식기세척기</strong> 
            </a>
        </li>
        <li>
            <a href="/care-solutions/massage-chairs">
                <div class="thumb">
                    <img src="/lg5-common/images/SLS/icon-care-solutions09.png" alt="">
                </div>
                <strong class="tit">안마의자</strong> 
            </a>
        </li>
    </ul>
</div>
<!-- //케어솔루션 제품 -->

<!-- 케어솔루션 링크 -->
<div class="care-home-section care-home-link">
    <div class="tit-wrap">
        <h3 class="set-tit">차원이 다른<br class="m"> 케어솔루션을 만나보세요</h3>
    </div>
    <div class="tit-wrap">
        <h3 class="set-tit"><span>김엘지</span> 고객님</h3>
        <p class="desc">케어솔루션과 함께 삶을 풍요롭게 해보세요</p>
    </div>
    <div class="tit-wrap">
        <h3 class="set-tit"><span>김엘지</span> 고객님</h3>
        <p class="desc">고객님과 케어솔루션이 함께한 시간이<br class="m">
            <span>38개월 16일</span> 되었습니다</p>
    </div>
    <ul class="link-list">
        <li>
            <a href="#">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/ic-main-care-link-3-on.svg" alt="">
                </div>
                <span class="tit">고객혜택 <br class="mo-only"> 확인하기<em class="ico-arr"></em></span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/ic-main-care-link-2-on.svg" alt="">
                </div>
                <span class="tit">케어플래너로 <br class="mo-only"> 견적받기<em class="ico-arr"></em></span>
            </a>  
        </li>
        <li>
            <a href="#">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/ic-main-care-link-1-on.svg" alt="">
                </div>
                <span class="tit">나의 <br class="mo-only"> 케어솔루션<em class="ico-arr"></em></span>
            </a>
        </li>
    </ul>
    <ul class="link-list">
        <li>
            <a href="#">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/ic-main-careship-cal-on.svg" alt="">
                </div>
                <span class="tit">다음 방문일정 <em class="day">2020-11-27</em><br class="pc-only">방문일정/예약<em class="ico-arr"></em></span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/ic-main-care-link-2-on.svg" alt="">
                </div>
                <span class="tit">케어플래너로 <br class="mo-only"> 결합할인받기<em class="ico-arr"></em></span>
            </a>  
        </li>
        <li>
            <a href="#">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/ic-main-care-link-1-on.svg" alt="">
                </div>
                <span class="tit">나의 <br class="mo-only"> 케어솔루션<em class="ico-arr"></em></span>
            </a>
        </li>
    </ul>
</div>
<!-- //케솔 링크 -->


<!-- 케어솔루션 추천제품 -->
<div class="care-home-section care-recommended" data-ajax-url="/lg5-common/data-ajax/caresolution/careRecommendProList.json">
    <div class="tit-wrap">
        <h3 class="set-tit">케어솔루션 추천 제품</h3>
    </div>
    <div class="scroll-wrap border-type ui_product_tab">
        <div class="ui_smooth_tab">
            <ul class="tabs">
                <li class="on"><a href="#new" id="beu_recommend_tab_new">신제품<em class="blind">선택됨</em></a></li>
                <li><a href="#best" id="beu_recommend_tab_best">베스트</a></li>
                <li><a href="#couple" id="beu_recommend_tab_couple">신혼부부 추천</a></li>
                <li><a href="#pet" id="beu_recommend_tab_pet">반려동물</a></li>
            </ul>
        </div>
        <div class="scroll-controls ui_smooth_controls">
            <button type="button" class="btn-arrow prev ui_smooth_prev"><span class="blind">이전</span></button>
            <button type="button" class="btn-arrow next ui_smooth_next"><span class="blind">다음</span></button>
        </div>
    </div>
   
    <div id="new" class="tab-content" aria-labelledby="new" role="tabpanel">
        <div class="prd-list-wrap">
            <div class="slide-wrap ui_product_carousel_slider">
                <div class="slide-content ui_carousel_list">
                    <ul class="inner slide-track ui_carousel_track">
                        <li class="item ui_carousel_slide ui_carousel_current on">
                            <a href="/care-solutions/water-purifiers/wd505acb?dpType=careTab" class="prd-care-vertical">
                                <div class="img-wrap"> 
                                    <span> 
                                        <img src="/kr/images/water-purifiers/md09003826/md09003826-350x350.jpg" alt="LG 퓨리케어 상하좌우 정수기 오브제컬렉션"> 
                                    </span> 
                                </div>
                                <div class="txt-wrap"> 
                                    <p class="tit"><span class="blind">제품명</span>LG 퓨리케어 상하좌우 정수기 오브제컬렉션</p> 
                                    <p class="code"><span class="blind">제품 코드</span>WD505ACB</p> 
                                </div>
                                <div class="info-wrap"> 
                                    <div class="price-wrap"> 
                                        <div class="total-price">  
                                            <p class="price">월 37,900원</p>  
                                        </div> 
                                    </div> 
                                </div>
                            </a>
                        </li> 
                        <li class="item ui_carousel_slide">
                            <a href="/care-solutions/water-purifiers/wd505acb?dpType=careTab" class="prd-care-vertical">
                                <div class="img-wrap"> 
                                    <span> 
                                        <img src="/kr/images/water-purifiers/md09003826/md09003826-350x350.jpg" alt="LG 퓨리케어 상하좌우 정수기"> 
                                    </span> 
                                </div>
                                <div class="txt-wrap"> 
                                    <p class="tit"><span class="blind">제품명</span>LG 퓨리케어 상하좌우 정수기</p> 
                                    <p class="code"><span class="blind">제품 코드</span>WD505ACB</p> 
                                </div>
                                <div class="info-wrap"> 
                                    <div class="price-wrap"> 
                                        <div class="total-price">  
                                            <p class="price">월 37,900원</p>  
                                        </div> 
                                    </div> 
                                </div>
                            </a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="best" class="tab-content" aria-labelledby="best" role="tabpanel">
        <div class="prd-list-wrap">
            <div class="slide-wrap ui_product_carousel_slider">
                <div class="indi-wrap">
                    <ul class="indi-conts ui_carousel_dots" style="display: none;">
                        <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                    </ul>
                </div>
                <div class="slide-content ui_carousel_list">
                    <ul class="inner slide-track ui_carousel_track">
                        <li class="item ui_carousel_slide">
                            <a href="/care-solutions/water-purifiers/wd505acb?dpType=careTab"  class="prd-care-vertical">
                                <div class="img-wrap"> 
                                    <span> 
                                        <img src="/kr/images/water-purifiers/md09003826/md09003826-350x350.jpg" alt="LG 퓨리케어 상하좌우 정수기"> 
                                    </span> 
                                </div>
                                <div class="txt-wrap"> 
                                    <p class="tit"><span class="blind">제품명</span>LG 퓨리케어 상하좌우 정수기</p> 
                                    <p class="code"><span class="blind">제품 코드</span>WD505ACB</p> 
                                </div>
                                <div class="info-wrap"> 
                                    <div class="price-wrap"> 
                                        <div class="total-price">  
                                            <p class="price">월 37,900원</p>  
                                        </div> 
                                    </div> 
                                </div>
                            </a>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="couple" class="tab-content" aria-labelledby="couple" role="tabpanel">
        <div class="prd-list-wrap">
            <div class="slide-wrap ui_product_carousel_slider">
                <div class="indi-wrap">
                    <ul class="indi-conts ui_carousel_dots" style="display: none;">
                        <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                    </ul>
                </div>
                <div class="slide-content ui_carousel_list">
                    <ul class="inner slide-track ui_carousel_track">
                        <li class="item ui_carousel_slide ui_carousel_current on">
                            <a href="/care-solutions/water-purifiers/wd505acb?dpType=careTab" class="prd-care-vertical">
                                <div class="img-wrap"> 
                                    <span> 
                                        <img src="/kr/images/water-purifiers/md09003826/md09003826-350x350.jpg" alt="LG 퓨리케어 상하좌우 정수기"> 
                                    </span> 
                                </div>
                                <div class="txt-wrap"> 
                                    <p class="tit"><span class="blind">제품명</span>LG 퓨리케어 상하좌우 정수기</p> 
                                    <p class="code"><span class="blind">제품 코드</span>WD505ACB</p> 
                                </div>
                                <div class="info-wrap"> 
                                    <div class="price-wrap"> 
                                        <div class="total-price">  
                                            <p class="price">월 37,900원</p>  
                                        </div> 
                                    </div> 
                                </div>
                            </a>
                        </li>   
                        <li class="item ui_carousel_slide on">
                            <a href="/care-solutions/water-purifiers/wd505acb?dpType=careTab"  class="prd-care-vertical">
                                <div class="img-wrap"> 
                                    <span> 
                                        <img src="/kr/images/water-purifiers/md09003826/md09003826-350x350.jpg" alt="LG 퓨리케어 상하좌우 정수기"> 
                                    </span> 
                                </div>
                                <div class="txt-wrap"> 
                                    <p class="tit"><span class="blind">제품명</span>LG 퓨리케어 상하좌우 정수기</p> 
                                    <p class="code"><span class="blind">제품 코드</span>WD505ACB</p> 
                                </div>
                                <div class="info-wrap"> 
                                    <div class="price-wrap"> 
                                        <div class="total-price">  
                                            <p class="price">월 37,900원</p>  
                                        </div> 
                                    </div> 
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="pet" class="tab-content" aria-labelledby="pet" role="tabpanel">
        <div class="prd-list-wrap">
            <div class="slide-wrap ui_product_carousel_slider">
                <div class="slide-content ui_carousel_list">
                    <ul class="inner slide-track ui_carousel_track">
                        <li class="item ui_carousel_slide ui_carousel_current on">
                            <a href="/care-solutions/water-purifiers/wd505acb?dpType=careTab" class="prd-care-vertical">
                                <div class="img-wrap"> 
                                    <span> 
                                        <img src="/kr/images/water-purifiers/md09003826/md09003826-350x350.jpg" alt="LG 퓨리케어 상하좌우 정수기"> 
                                    </span> 
                                </div>
                                <div class="txt-wrap"> 
                                    <p class="tit"><span class="blind">제품명</span>LG 퓨리케어 상하좌우 정수기</p> 
                                    <p class="code"><span class="blind">제품 코드</span>WD505ACB</p> 
                                </div>
                                <div class="info-wrap"> 
                                    <div class="price-wrap"> 
                                        <div class="total-price">  
                                            <p class="price">월 37,900원</p>  
                                        </div> 
                                    </div> 
                                </div>
                            </a>
                        </li>   
                        <li class="item ui_carousel_slide">
                            <a href="/care-solutions/water-purifiers/wd505acb?dpType=careTab"  class="prd-care-vertical">
                                <div class="img-wrap"> 
                                    <span> 
                                        <img src="/kr/images/water-purifiers/md09003826/md09003826-350x350.jpg" alt="LG 퓨리케어 상하좌우 정수기"> 
                                    </span> 
                                </div>
                                <div class="txt-wrap"> 
                                    <p class="tit"><span class="blind">제품명</span>LG 퓨리케어 상하좌우 정수기</p> 
                                    <p class="code"><span class="blind">제품 코드</span>WD505ACB</p> 
                                </div>
                                <div class="info-wrap"> 
                                    <div class="price-wrap"> 
                                        <div class="total-price">  
                                            <p class="price">월 37,900원</p>  
                                        </div> 
                                    </div> 
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //케솔 추천제품 -->

<!-- 케솔 혜택(탭) -->
<div class="care-home-section care-benefit">
    <div class="tit-wrap">
        <h3 class="set-tit">케어솔루션 혜택</h3>
    </div>
    <div class="scroll-wrap border-type ui_smooth_scrolltab">
        <div class="ui_smooth_tab">
            <ul class="tabs">
                <li class="on"><a href="#tab001">고객 혜택<em class="blind">선택됨</em></a></li>
                <li><a href="#tab002">연차별 혜택</a></li>
                <li><a href="#tab003">카드 할인 혜택</a></li>
            </ul>
        </div>
        <div class="scroll-controls ui_smooth_controls">
            <button type="button" class="btn-arrow prev ui_smooth_prev"><span class="blind">이전</span></button>
            <button type="button" class="btn-arrow next ui_smooth_next"><span class="blind">다음</span></button>
        </div>
    </div>
    <div id="tab001" class="tab-content" aria-labelledby="tab001" role="tabpanel">
        <div class="benefit-cont">
            <div class="benefit-list">
                <ul>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-1-1.jpg" data-pc-src="/lg5-common/images/SLS/img-benefit-1-1.jpg" data-m-src="/lg5-common/images/SLS/m-img-benefit-1-1.jpg" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>늘 새 것처럼 걱정 없이 관리</dt>
                                <dd>LG전자에서 직접 교육하고 검증한 가전전문가의 관리로 늘 새 것처럼!</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-1-3.jpg" data-pc-src="/lg5-common/images/SLS/img-benefit-1-3.jpg" data-m-src="/lg5-common/images/SLS/m-img-benefit-1-3.jpg" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>추가 제품 월요금 결합 할인</dt>
                                <dd>기존 케어솔루션/케어십 고객이 다른 제품군의 케어솔루션을 추가로 계약 시, 월 요금 최대 5,000원씩 할인!</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-1-2.jpg" data-pc-src="/lg5-common/images/SLS/img-benefit-1-2.jpg" data-m-src="/lg5-common/images/SLS/m-img-benefit-1-2.jpg" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>5년 무상 A/S 서비스</dt>
                                <dd>계약기간 5년동안 제품의 하자에 의해 발생하는 A/S 서비스 무상제공</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-1-4.jpg" data-pc-src="/lg5-common/images/SLS/img-benefit-1-4.jpg" data-m-src="/lg5-common/images/SLS/m-img-benefit-1-4.jpg" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>멤버십 앱 특별 쿠폰</dt>
                                <dd>케어솔루션/케어십 고객만을 위한 특별한 쿠폰 매월 증정!</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-1-5.jpg" data-pc-src="/lg5-common/images/SLS/img-benefit-1-5.jpg" data-m-src="/lg5-common/images/SLS/m-img-benefit-1-5.jpg" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>LG베스트샵 가전 구매 할인</dt>
                                <dd>전국 베스트샵에서 가전 구매 시 3% 멤버십 포인트 적립</dd>
                            </dl>

                            <ul>
                                <li>21년 4월12일부터 렌탈 또는 케어십을 신규 계약한 고객은 케어솔루션매니저를 통해서만 해당 혜택을 받으실 수 있습니다.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tab002" class="tab-content" aria-labelledby="tab002" role="tabpanel">
        <div class="benefit-cont">
            <div class="benefit-list">
                <ul>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-2-1.png" data-pc-src="/lg5-common/images/SLS/img-benefit-2-1.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-2-1.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>1년 (만 12개월)</dt>
                                <dd>추가 결합 시 <em>2만 모바일 상품권</em> 증정</dd>
                            </dl>
                            <ul>
                                <li>케어십 고객은 만 12개월 이내 결합 시 증정</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-2-2.png" data-pc-src="/lg5-common/images/SLS/img-benefit-2-2.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-2-2.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>2년 (만 24개월)</dt>
                                <dd>베스트샵 가전 구매 시 <em>3만 멤버십 포인트</em> 적립</dd>
                            </dl>
                            <ul>
                                <li>100만원 이상 구매 시</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-2-3.png" data-pc-src="/lg5-common/images/SLS/img-benefit-2-3.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-2-3.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>3년 (만 36개월)</dt>
                                <dd><em>2만 멤버십 포인트</em> 적립</dd>
                            </dl>
                            <ul>
                                <li>멤버십 앱에서 신청 필수</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-2-4.png" data-pc-src="/lg5-common/images/SLS/img-benefit-2-4.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-2-4.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>4년 (만 48개월)</dt>
                                <dd>베스트샵 가전 구매 시 <em>5만 멤버십 포인트</em> 적립</dd>
                            </dl>
                            <ul>
                                <li>100만원 이상 구매 시</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-2-5.png" data-pc-src="/lg5-common/images/SLS/img-benefit-2-5.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-2-5.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>5년 (만 57개월)</dt>
                                <dd>재계약시 월 요금 <em>할인권</em> 증정</dd>
                            </dl>
                            <ul>
                                <li>정수기, 공기청정기 케어솔루션 고객에 한함</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tab003" class="tab-content" aria-labelledby="tab003" role="tabpanel">
        <div class="benefit-cont">
            <div class="benefit-list">
                <ul>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-3-1.png" data-pc-src="/lg5-common/images/SLS/img-benefit-3-1.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-3-1.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>하나은행</dt>
                                <dd>LG전자 렌탈플러스 최대 <em>30,000</em>원 할인</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-3-2.png" data-pc-src="/lg5-common/images/SLS/img-benefit-3-2.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-3-2.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>신한은행</dt>
                                <dd>LG전자 렌탈애(愛) 최대 <em>10,000</em>원 할인</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-3-3.png" data-pc-src="/lg5-common/images/SLS/img-benefit-3-3.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-3-3.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>광주은행</dt>
                                <dd>LG전자 베스트케어 최대 2만 멤버십 포인트 적립</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-3-4.png" data-pc-src="/lg5-common/images/SLS/img-benefit-3-4.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-3-4.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>우리은행</dt>
                                <dd>LG전자 베스트렌탈 최대 <em>20,000</em>원 할인</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="/lg5-common/images/SLS/img-benefit-3-5.png" data-pc-src="/lg5-common/images/SLS/img-benefit-3-5.png" data-m-src="/lg5-common/images/SLS/m-img-benefit-3-5.png" alt="">
                        </div>
                        <div class="cont">
                            <dl>
                                <dt>할인카드 더보기</dt>
                                <dd>
                                    <div class="btn-area">
                                        <a href="https://wwwstg.lge.co.kr/care-solutions/benefits/card-discount" class="btn border size"><span>더보기</span></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //케솔 혜택(탭) -->

<!-- 다른 케솔 -->
<div class="care-home-section care-other">
    <div class="tit-wrap">
        <h3 class="set-tit">이미 케어솔루션을 <span class="br">이용하고 계신가요?</span></h3>
    </div>
    <ul class="care-other-list">
        <li>
            <a href="/care-solutions/care-planner">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/icon-img04-64.svg" alt="">
                </div>
                <p class="tit">이용중인 케어솔루션 제품을 <br>결합 할인받아 보세요.</p>
                <p class="desc">2가지 이상 케어솔루션/케어십 이용시 <br>결합 할인이 가능합니다.</p>
            </a>
        </li>
        <li>
            <a href="/my-page/care-solution-contract-status">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/icon-img05-64.svg" alt="">
                </div>
                <p class="tit">나의 케어솔루션을 <br>손쉽게 관리해보세요.</p>
                <p class="desc">나의 케어솔루션에서 계약 현행 확인부터 <br>방문 일정 조율까지 가능합니다.</p>
            </a>
        </li>
    </ul>
</div>
<!-- //다른 케솔 -->

<!-- 내삶을바꾸는케솔 -->
<div class="care-home-section care-banner">
    <div class="tit-wrap">
        <h3 class="set-tit">내 삶을 바꾸는 케어솔루션</h3>
    </div>
    <ul class="care-banner-list">
        <li>
            <div class="inner">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/icon-img06-64.svg" alt="">
                </div>
                <p class="tit">케어솔루션 보이는 ARS</p>
                <p class="desc">상담사 연결 없이도 스마트폰 화면을 보며 쉽고 간편하게 서비스 이용이 가능합니다.</p>
            </div>
        </li>
        <li>
            <div class="inner">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/icon-img07-64.svg" alt="">
                </div>
                <p class="tit">NCSI 가전부문<br>5년 연속 최다 1위 수상</p>
                <p class="desc">LG 가전은 11개 부문 고객 만족도 1위에 선정되었습니다.</p>
            </div>    
        </li>
        <li>
            <div class="inner">
                <div class="thumb">
                    <img src="/lg5-common/images/icons/icon-img08-64.svg" alt="">
                </div>
                <p class="tit">신규 케어솔루션 가입 문의<br><a href="tel:1544-6351">1544-6351</a></p>
                <p class="desc">평일 : 09:30~12:30, 13:30~18:30<br>ARS 상담예약 상시운영</p>
            </div>    
        </li>
    </ul>
</div>
<!-- //내삶을바꾸는케솔 -->
<!-- //BTOCSITE-6883 신규 WSG 적용 - 렌탈/케어 -->