.cnt01 {
	margin-top:24px;
	@include mobile {
		margin-top:16px;
	}
}
.cnt02 {
	margin-top:120px;
	@include mobile {
		margin-top:60px;
	}
}
.cnt03 {
	margin-top:48px;
	@include mobile {
		margin-top:32px;
	}
}

.align-center {
	text-align:center;
}

.cont-wrap {
	max-width:100%;
    padding:0;
    background:#fff;
    @include mobile {
        border:none;
    }
}

.pc {
    display:block;
    @include mobile {
        display:none;
    }
}

.mob-only {
    display:none;
    @include mobile {
        display:block;
    }
}

.visual-wrap {
    position:relative;
    img {
        width:100%;
    }
    @include mobile {
        // padding:0 20px;
    }
    .bg {
        display:block;
        width:100%;
        height:100%;
        background-position:center center;
        background-size:auto 100%;
        background-repeat:no-repeat;
    }
    .tit-wrap {
        position:absolute;
        top:50%;
        left:19.4792vw;
        transform:translateY(-50%);
        @include mobile {
            top:44px;
            left:40px;
            right:40px;
            transform:translateY(0);
        }
        .tit {
            font-size:48px;
            line-height:66px;
            font-weight:700;
            color: #000;
            @include mobile {
                font-size:26px;
                line-height:35px;
            }
        }
        .txt {
            display:block;
            padding-top:20px;
            font-size:18px;
            line-height:28px;
            font-weight:500;
            color: #000;
            @include mobile {
                padding-top:6px;
                font-size:16px;
                line-height:24px;
            }
        }
    }
}

.page-header {
	padding:40px 0 80px;
}

@include mobile {
    .page-header {
		padding:32px 0 48px;
		&.border {
			border-bottom:12px solid #f4f4f4;
		}
        .title {
            display:none;
        }
    }
    .tabs-wrap.btn-type {
        padding-top:40px;
        text-align:center;
    }
}
.dual-con-wrap {
	max-width:1380px + 80px;
	margin:0 auto;
	padding:0 40px;
	background-color:#fff;
	@include mobile {
		padding:0 16px;
	}
	&.full {
		max-width:100%;
		.sec-ori {
			max-width:1380px + 80px;
			margin:0 auto;
			padding:0 40px;
			@include mobile {
				padding:0;
			}
		}
		.full-size {
			margin:48px -40px 0;
			background-color:#f4f4f4;
			.dual-tip {
				max-width:1380px + 80px;
				margin:0 auto;
				padding:80px 40px;
				.bullet-list {
					margin-top:68px;
				}
				.slide-wrap {
					.indi-wrap {
						bottom:-40px;
					}
				}
			}
			@include mobile {
				margin:32px -16px 0;
				.dual-tip {
					padding:40px 16px;
					.slide-controls {
						display:none;
					}
				}
			}
		}
	}
	.bullet-list {
		margin-top:24px;
		sup {
			font-size:6px;
			line-height:1;
		}
		@include mobile {
			display:inline-block;
			margin-top:24px;
			// text-align:left;
		}
	}
	.section {
		max-width:1380px;
		padding:120px 0 0;
		&:first-child {
			padding-top:0;
		}
		.box {
			padding:80px 0;
			background-color:#f4f4f4;
			text-align:center;
			& + .box {
				margin-top:24px;
				@include mobile {
					margin-top:12px;
				}
			}
			.dual-type2 {
				.info {
					margin:48px auto 0;
					@include mobile {
						margin:0;
					}
					> li {
						margin-top:40px;
						.img {
							border-radius:8px;
							overflow:hidden;
						}
					}
				}
				.tit {
					font-size:28px;
					line-height:38px;
					@include mobile {
						font-size:24px;
						line-height:33px;
					}
				}
				.info {
					max-width:1192px;
				}
			}
			@include mobile {
				padding:60px 16px;
				border-radius:8px;
			}
		}
		.dual-type1 + .box {
			margin-top:64px;
			@include mobile {
				margin-top:32px;
			}
		}
	}
	.dual-type1 {
		text-align:center;
		.tit {
			font-size:40px;
			font-weight:700;
			line-height:56px;
			&.type2 {
				font-size:32px;
				line-height:52px;
			}
		}
		.desc {
			margin-top:16px;
			font-size:18px;
			line-height:28px;
			strong {
				display:block;
				padding-bottom:6px;
				font-size:32px;
				line-height:52px;
				@include mobile {
					margin-bottom:16px;
					font-size:24px;
					line-height:33px;
				}
			}
			&.strong {
				margin-top:64px;
				@include mobile {
					margin-top:32px;
				}
			}
			&.type2 {
				margin-top:16px;
				font-size:16px;
				line-height:26px;
			}
		}
		.btn {
			margin-top:32px;
		}
		.img {
			margin-top:48px;
			img {
				max-width:1380px;
				width:100%;
			}
			&.logo-img {
				img {
					max-width:210px;
				}
			}
			&.type1 {
				img {
					max-width:681px;
				}
			}
			&.big {
				img {
					max-width:100%;
				}
			}
			& + .bullet-list {
				display:inline-block;
			}
		}
		// .bullet-list {
		// 	display:inline-block;
		// 	text-align:left;
		// }
		.dual-tab {
			margin-top:40px;
			.tabs-wrap {
				text-align:left;
				.tabs {
					margin:0;
					padding:0;
					li {
						display:block;
						margin:23px 0;
						@include mobile {
							display:inline-block;
						}
						&.on {
							a {
								dl {
									dt {
										color:#000;
										font-weight:700;
									}
									dd {
										display:block;
									}
								}
							}
						}
						a {
							color:#000;
							font-size:0;
							font-weight:normal;
							line-height:28px;
							.ico {
								display:inline-block;
								width:80px;
								height:80px;
								// margin:0 auto 8px;
								background-repeat:0 0;
								background-size:80px 80px;
								vertical-align:middle;
							}
							dl {
								display:inline-block;
								padding-left:24px;
								text-align:left;
								vertical-align:middle;
								dt {
									color:#aaa;
									font-size:16px;
									font-weight:normal;
									line-height:26px;
								}
								dd {
									display:none;
									margin-top:8px;
									font-size:16px;
									font-weight:normal;
									line-height:26px;
								}
							}
						}
						&:nth-child(1) {
							a {
								.ico {
									background-image:url('/lg5-common/images/STC/img-dual-tab3-tab1.svg');
								}
							}
							&.on {
								.ico {
									background-image:url('/lg5-common/images/STC/img-dual-tab3-tab1-on.svg');
								}
							}
						}
						&:nth-child(2) {
							a {
								.ico {
									background-image:url('/lg5-common/images/STC/img-dual-tab3-tab2.svg');
								}
							}
							&.on {
								.ico {
									background-image:url('/lg5-common/images/STC/img-dual-tab3-tab2-on.svg');
								}
							}
						}
						&:nth-child(3) {
							a {
								.ico {
									background-image:url('/lg5-common/images/STC/img-dual-tab3-tab3.svg');
								}
							}
							&.on {
								.ico {
									background-image:url('/lg5-common/images/STC/img-dual-tab3-tab3-on.svg');
								}
							}
						}
					}
				}
				@include mobile {
					text-align:center;
					.tabs {
						width:100%;
						padding:0;
						white-space:inherit;
						li {
							width:33.33%;
							margin:0;
							a {
								font-size:15px;
								line-height:23px;
								dl {
									@include mobile {
										display:block;
										position:relative;
										padding:12px 0 110px;
										text-align:center;
										dd {
											position:absolute;
											top:0;
											right:0;
											left:0;
											width:300%;
											padding-top:62px;
										}
									}
								}
							}
							&:nth-child(2) {
								a {
									dl {
										dd {
											left:-100%;
										}
									}
								}
							}
							&:nth-child(3) {
								a {
									dl {
										dd {
											left:-200%;
										}
									}
								}
							}
						}
					}
				}
			}
			.desc {
				margin-top:32px;
			}
		}
		.dual-tip {
			.img {
				margin-top:0;
			}
			.slide-wrap {
				.slide-controls {
					.prev {
						left:-79px;
					}
					.next {
						right:-79px;
					}
				}
				.indi-wrap {
					bottom:-72px;
				}
			}
		}
		.dual-type3 {
			position:relative;
			.bullet-list {
				text-align:left;
			}
			.text-img-wrap {
				.img-area {
					text-align:left;
					.img {
						margin-top:0;
					}
					@include mobile {
						text-align:center;
					}
				}
			}
		}
		@include mobile {
			.tit {
				font-size:24px;
				line-height:33px;
				&.type2 {
					font-size:20px;
					line-height:28px;
				}
			}
			.desc {
				font-size:14px;
				line-height:22px;
				&.type2 {
					margin-top:8px;
					// font-size:14px;
					// line-height:22px;
				}
			}
			.btn {
				// width:100%;
				margin-top:32px;
			}
			.img {
				margin-top:16px;
				@include mobile {
					margin-top:24px;
				}
				&.big {
					img {
						width:auto;
						// height:183px;
					}
				}
			}
			.dual-tip {
				.slide-wrap {
					.slide-controls {
						.prev {
							left:4px;
						}
						.next {
							right:4px;
						}
					}
					.indi-wrap {
						bottom:-72px;
						li {
							padding:0 4px;
						}
					}
				}
			}
		}
		&.bullet-left {
			.bullet-list {
				display:block;
				max-width:1146px;
				margin:12px auto 0;
				@include mobile {
					display:inline-block;
					max-width:100%;
				}
			}
		}
	}
	.dual-type2 {
		text-align:center;
		.img {
			margin-top:48px;
			text-align:center;
			img {
				max-width:1146px;
				width:100%;
			}
			& + .tit {
				margin-top:24px;
				@include mobile {
					margin-top:16px;
				}
			}
		}
		.tit {
			font-size:40px;
			font-weight:700;
			line-height:56px;
		}
		.desc {
			margin-top:16px;
			font-size:18px;
			line-height:28px;
		}
		.info {
			display:table;
			table-layout:fixed;
			width:calc(100% + 48px);
			margin:48px -24px 0;
			border-spacing:24px 0;
			font-size:0;
			&.size2 {
				max-width:784px;
				border-spacing:28px 0;
			}
			&.cnt {
				margin-top:48px;
			}
			> li {
				display:table-cell;
				text-align:center;
				vertical-align:top;
				.img {
					margin-top:0;
					img {
						width:100%;
					}
				}
				dl {
					padding:32px 0 0;
					dt {
						font-size:16px;
						font-weight:700;
						line-height:26px;
					}
					dd {
						margin-top:16px;
						font-size:16px;
						line-height:26px;
					}
					& + .bullet-list {
						display:inline-block;
					}
				}
			}
		}
		@include mobile {
			.tit {
				font-size:20px;
				line-height:28px;
				text-align:center;
			}
			.desc {
				font-size:14px;
				line-height:22px;
				text-align:center;
			}
			.info {
				display:block;
				width:100%;
				margin:0;
				border-spacing:0;
				&.cnt {
					margin-top:16px;
				}
				> li {
					display:block;
					margin-top:24px;
					// &:first-child {
					// 	margin-top:0;
					// }
					@include mobile {
						margin-top:40px;
					}
					dl {
						padding-top:12px;
						@include mobile {
							padding-top:24px;
						}
						dt {
							font-size:15px;
							line-height:23px;
						}
						dd {
							margin-top:8px;
							font-size:14px;
							line-height:22px;
							@include mobile {
								margin-top:12px;
							}
						}
					}
				}
			}
		}
	}
	.dual-type3 {
		.text-img-wrap {
			display:table;
			width:100%;
			font-size:0;
			> div {
				display:table-cell;
				width:50%;
				vertical-align:middle;
			}
			.text {
				dl {
					dt {
						font-size:40px;
						font-weight:700;
						line-height:56px;
					}
					dd {
						margin-top:16px;
						font-size:16px;
						line-height:26px;
						word-break:keep-all;
						word-wrap:break-word;
					}
				}
			}
			.img {
				img {
					width:100%;
				}
			}
			&.type1 {
				> div {
					&:first-child.text {
						padding:0 141px 0 0;
					}
					&:last-child.text {
						padding-left:141px;
					}
				}
			}
			&.type2 {
				.text {
					width:40%;
				}
				.img {
					width:60%;
					text-align:right;
					img {
						max-width:677px;
						width:100%;
					}
				}
			}
			@include mobile {
				&.type1 {
					display:block;
					> div {
						display:block;
						width:100%;
						padding:0;
						&:last-child.text {
							padding:0;
						}
						&.text {
							margin-top:16px;
							text-align:center;
							dl {
								dt {
									font-size:20px;
									line-height:28px;
								}
								dd {
									margin-top:8px;
									font-size:16px;
									line-height:22px;
								}
							}
						}
					}
					&.reverse {
						display:flex;
						flex-direction:column-reverse;
						.text:first-child {
							padding:0;
						}
						.img {
							padding-top:32px;
						}
					}
				}
				&.type2 {
					display:flex;
					flex-direction:column;
					> div {
						width:100% !important;
						&.img {
							margin-top:32px;
						}
						&.text {
							text-align:center;
							dl {
								dt {
									font-size:27px;
									line-height:38px;
								}
								dd {
									margin-top:16px;
									font-size:14px;
									line-height:22px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.accordion-border-sec {
	max-width:1380px + 80px;
	margin:120px auto 0;
	padding:0 40px 120px;
	@include mobile {
		margin-top:60px;
		padding:0 16px 60px;
	}
	.accordion-border-wrap {
		position:relative;
		border-top:1px solid #666;
		.accord-btn {
			@include mobile {
				padding:17px 12px;
				&:after {
					right:12px;
					width:16px;
					height:16px;
					margin-top:-8px;
					background-size:16px;
				}
			}
			.title {
				font-weight:700;
				> span {
					margin-left:16px;
					color:#000;
					font-weight:normal;
				}
			}
		}
		.accord-cont {
			position:relative;
			padding:44px 0 120px;
			.step-list {
				margin-top:120px;
				&:first-child {
					margin-top:0;
				}
				.tit {
					color:#000;
					font-size:40px;
					font-weight:700;
					line-height:56px;
					text-align:center;
				}
				.info {
					display:table;
					table-layout:fixed;
					max-width:1228px;
					width:100%;
					margin:48px auto 0;
					font-size:0;
					> li {
						display:table-cell;
						padding:0 41px;
						vertical-align:top;
						& + li {
							.img:before {
								content:' ';
								display:block;
								position:absolute;
								top:50%;
								left:0;
								width:32px;
								height:32px;
								margin-left:-56px;
								background:url('/lg5-common/images/icons/btn-arr-32x32-black.svg') no-repeat 0 0;
								transform:translateY(-50%);
								@include mobile {
									display:none;
								}
							}
						}
						.img {
							position:relative;
							img {
								width:100%;
								max-width:327px;
							}
						}
						p {
							padding-top:32px;
							color:#000;
							font-size:16px;
							line-height:26px;
							sup {
								font-size:6px;
								line-height:1;
							}
							&.num {
								padding-left:16px;
								text-indent:-16px;
							}
						}
						.bullet-list {
							display:inline-block;
							margin-top:8px;
							text-align:left;
							.b-txt {
								sup {
									line-height:1;
								}
							}
						}
					}
				}
				&.twin {
					.info {
						padding:0 16%;
						> li {
							// padding:0 32px;
							& + li {
								.img:before {
									margin-left:-58px;
								}
							}
						}
					}
				}
				&.big {
					.info {
						text-align:center;
						> li {
							.img {
								img {
									max-width:678px;
								}
							}
						}
					}
					.tit + .qa-list {
						margin-top:32px;
					}
					.qa-list {
						margin-top:80px;
						text-align:center;
						& + .qa-list {
							margin-top:64px;
						}
						dt {
							color:#000;
							font-size:18px;
							font-weight:700;
							line-height:28px;
						}
						dd {
							margin-top:8px;
							color:#000;
							font-size:16px;
							line-height:26px;
						}
					}
				}
			}
			.btn-close {
				padding-top:80px;
				@include mobile {
					padding-top:60px;
				}
				text-align:center;
				.btn {
					position:relative;
					&:before {
						content:' ';
						display:inline-block;
						width:16px;
						height:16px;
						margin-right:5px;
						background:url('/lg5-common/images/icons/btn-close-32.svg') no-repeat 0 0;
						background-size:16px;
						vertical-align:-3px;
					}
					&:hover,
					&:focus {
						border-color:#000 !important;
						background-color:transparent !important;
						color:#000 !important;
					}
				}
				// position:absolute;
				// right:24px;
				// bottom:24px;
				// width:32px;
				// height:32px;
				// @include mobile {
				// 	right:16px;
				// 	bottom:32px;
				// }
				// &:before {
				// 	content:' ';
				// 	position:absolute;
				// 	top:0;
				// 	left:0;
				// 	width:32px;
				// 	height:32px;
				// 	background:url('/lg5-common/images/icons/btn-close-32.svg') no-repeat;
		
				// }
			}
		}		
		@include mobile {
			margin:60px 0 0;
			.accord-btn {
				.title {
					font-size:15px;
					line-height:23px;
					> span {
						margin-left:12px;
					}
				}
			}
			.accord-cont {
				padding:17px 0 60px;
				.step-list {
					margin-top:60px;
					&:first-child {
						margin-top:0;
					}
					.tit {
						font-size:27px;
						line-height:37px;
					}
					.info {
						display:block;
						margin-top:32px;
						> li {
							display:block;
							margin-top:40px;
							padding:0 32px;
							&:first-child {
								margin-top:0;
							}
							.img {
								img {
									max-width:100%;
								}
							}
							p {
								padding-top:16px;
							}
							// .bullet-list {
							// 	padding:0 34px;
							// }
						}
					}
					&.twin {
						.info {
							padding:0;
							// > li {
							// 	padding:0 11px;
							// }
						}
					}
					&.big {
						.info {
							> li {
								padding:0;
								.img {
									padding:0;
								}
							}
						}
						.qa-list {
							margin-top:15px;
							padding:0 11px;
							& + .qa-list {
								margin-top:32px;
							}
						}
					}
				}
			}
		}
	}
}
