
<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        "pageJS": [
            "support/scrollTop"
        ]
    })
<body>
    <div class="wrap">
        @@include('./common/header.html')
        <div class="container">
            <div style="padding:100px;text-align:center;">
                스크롤시 오른쪽 하단에서 나타납니다.
            </div>

            <!-- component -->
            @@include('./common/partials/KRP0004.html')
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRP0005.html')
            <!-- // component -->


            <div style="height:2000px;">
		
            </div>
        </div>
    </div>
</body>
</html>
