
<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html')
<body>
    <div class="wrap">
        @@include('./common/header.html')
        <div class="container">
            <div style="padding:100px;text-align:center;">
                스크롤시 오른쪽 하단에서 나타납니다.
            </div>

            <!-- component / Scroll to the top -->
            @@include('./common/partials/KRP0004.html')
            <!-- // component / Scroll to the top -->

            <!-- component / Sticky chat -->
            @@include('./common/partials/KRP0005.html')
            <!-- // component / Sticky chat -->

            <!-- component / Recently Viewed -->
            @@include('./common/partials/KRP0032.html')
            <!-- // component / Recently Viewed -->


            <div style="height:2000px;">
		
            </div>
        </div>
    </div>
</body>
</html>
