<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0014",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component image 좌측형, 텍스트 왼쪽정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"image",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-left",
                "align-class2": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component image 좌측형, 텍스트 왼쪽정렬 -->

            <!-- component video 좌측형, 텍스트 왼쪽정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"video",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-left",
                "align-class2": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component video 좌측형, 텍스트 왼쪽정렬 -->

            <!-- component image 좌측형, 텍스트 오른쪽정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"animation",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-right",
                "align-class2": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component image 좌측형, 텍스트 오른쪽정렬 --> 

            <!-- component video 좌측형, 텍스트 오른쪽정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"video",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-right",
                "align-class2": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component video 좌측형, 텍스트 오른쪽정렬 --> 

            <!-- component image 좌측형, 텍스트 중앙정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"image",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-center",
                "align-class2": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component image 좌측형, 텍스트 중앙정렬 --> 

            <!-- component video 좌측형, 텍스트 중앙정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"video",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-center",
                "align-class2": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- component video 좌측형, 텍스트 중앙정렬 --> 

            <!-- component image 우측형, 텍스트 왼쪽정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"image",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-left",
                "align-class2": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component image 우측형, 텍스트 왼쪽정렬 --> 

            <!-- component video 우측형, 텍스트 왼쪽정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"video",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-left",
                "align-class2": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component video 우측형, 텍스트 왼쪽정렬 --> 

            <!-- component image 우측형, 텍스트 오른쪽정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"image",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-right",
                "align-class2": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component image 우측형, 텍스트 오른쪽정렬 --> 

            <!-- component video 우측형, 텍스트 오른쪽정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"video",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-right",
                "align-class2": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component video 우측형, 텍스트 오른쪽정렬 --> 

            <!-- component image 우측형, 텍스트 중앙정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"image",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-center",
                "align-class2": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component image 우측형, 텍스트 중앙정렬 --> 

            <!-- component video 우측형, 텍스트 중앙정렬 --> 
            @@include('./common/partials/KRC0014.html', {
                "firsts":"video",
                "headline1-1":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 1</h2>",
                "headline1-2":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 2</h2>",
                "headline1-3":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 3</h2>",
                "headline1-4":"<h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 4</h2>",
                "align-class1": "align-center",
                "align-class2": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "bg-color": "bg-white"
            })
            <!-- // component video 우측형, 텍스트 중앙정렬 --> 
		</div>
    </div>     
</body>
</html>