<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0014",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0014 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0014 align-left"><!-- [KR수정] page class 수정 -->
                    <div class="visual-wrap image-align-left">
                        <div class="visual-area video youtube-box"><!-- [KR수정] .youtube-box class 추가(video modal call) -->
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play_ad" data-link-name="{video title / video id}">plays audio description video</a>
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play" data-link-name="{video title / video id}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                            </a>
                        </div>
                        <div class="visual-area image">
                            <a href="#none" data-link-area="side_image2_text-image" data-link-name="{Alt Text}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                            </a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                        </div>
                    </div>
                    <div class="side-right-text">
                        <div class="title" id="title"><h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 타이틀 텍스트는 PC기준.</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다.</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary class 수정 -->
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0014 align-right">
                    <div class="visual-wrap image-align-left">
                        <div class="visual-area video youtube-box"><!-- [KR수정] .youtube-box class 추가(video modal call) -->
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play_ad" data-link-name="{video title / video id}">plays audio description video</a>
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play" data-link-name="{video title / video id}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                            </a>
                        </div>
                        <div class="visual-area image">
                            <a href="#none" data-link-area="side_image2_text-image" data-link-name="{Alt Text}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                            </a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                        </div>
                    </div>
                    <div class="side-right-text">
                        <div class="title" id="title"><h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 타이틀 텍스트는 PC기준.</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다.</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary class 수정 -->
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0014 align-center">
                    <div class="visual-wrap image-align-left">
                        <div class="visual-area video youtube-box"><!-- [KR수정] .youtube-box class 추가(video modal call) -->
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play_ad" data-link-name="{video title / video id}">plays audio description video</a>
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play" data-link-name="{video title / video id}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                            </a>
                        </div>
                        <div class="visual-area image">
                            <a href="#none" data-link-area="side_image2_text-image" data-link-name="{Alt Text}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                            </a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                        </div>
                    </div>
                    <div class="side-right-text">
                        <div class="title" id="title"><h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 타이틀 텍스트는 PC기준.</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다.</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary class 수정 -->
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0014 align-left">
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area video youtube-box"><!-- [KR수정] .youtube-box class 추가(video modal call) -->
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play_ad" data-link-name="{video title / video id}">plays audio description video</a>
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play" data-link-name="{video title / video id}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                            </a>
                        </div>
                        <div class="visual-area image">
                            <a href="#none" data-link-area="side_image2_text-image" data-link-name="{Alt Text}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                            </a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                        </div>
                    </div>
                    <div class="side-right-text">
                        <div class="title" id="title"><h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 타이틀 텍스트는 PC기준.</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다.</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary class 수정 -->
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0014 align-right">
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area video youtube-box"><!-- [KR수정] .youtube-box class 추가(video modal call) -->
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play_ad" data-link-name="{video title / video id}">plays audio description video</a>
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play" data-link-name="{video title / video id}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                            </a>
                        </div>
                        <div class="visual-area image">
                            <a href="#none" data-link-area="side_image2_text-image" data-link-name="{Alt Text}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                            </a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                        </div>
                    </div>
                    <div class="side-right-text">
                        <div class="title" id="title"><h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 타이틀 텍스트는 PC기준.</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다.</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary class 수정 -->
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0014 align-center">
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area video youtube-box"><!-- [KR수정] .youtube-box class 추가(video modal call) -->
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play_ad" data-link-name="{video title / video id}">plays audio description video</a>
                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="side_image2_text-video_play" data-link-name="{video title / video id}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                            </a>
                        </div>
                        <div class="visual-area image">
                            <a href="#none" data-link-area="side_image2_text-image" data-link-name="{Alt Text}">
                                <img data-src="/lg5-common/images/KRC0014/@thumb.jpg" alt="" class="lazyload">
                            </a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다.</div>
                        </div>
                    </div>
                    <div class="side-right-text">
                        <div class="title" id="title"><h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 타이틀 텍스트는 PC기준.</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다.</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary class 수정 -->
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image2_text-cta" data-link-name="{Link Text}" aria-describedby="title">자세히 보기</a></span>
                        </div>
                    </div>
                </section>
            </div>
		</div>
    </div>     
</body>
</html>