<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0015",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0015 -->

            <!-- component -->
            @@include('./common/partials/KRC0015.html', {
                "popup" : true,
                "itemCount": 2,
                "quantity-class": "icn-img2s-txt2",
                "headline":"<h2>헤드라인 길이는 최대 2줄을 넘지 않도록 조정합니다</h2>",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0015.html', {
                "itemCount": 3,
                "quantity-class": "icn-img3s-txt3",
                "headline":"<h2>헤드라인 길이는 최대 2줄을 넘지 않도록 조정합니다</h2>",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0015.html', {
                "itemCount": 4,
                "quantity-class": "icn-img4s-txt4",
                "headline":"<h2>헤드라인 길이는 최대 2줄을 넘지 않도록 조정합니다</h2>",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // component -->

            <!-- //component KRC0015 -->

        </div>
    </div>
</body>
</html>