<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0049",
		isJScompile: false,
	})
<body>
	<div class="wrap">
		<div class="container">

			<div class="component-wrap">
				<!--
					[component-wrap 옵션]
					1. 여백
					.zero-top : 상단여백 없음
					.zero-btm : 하단여백 없음
				-->

				<!-- 1단 수정중 -->
				<section class="component KRC0049" style="display:none;">
					<div class="component-inner">
						<div class="layered-wrap"> <!-- 다단 클래스 : 2단 .type-2column / 3단 .type-3column-->
							<ul class="layered-inner">
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": true,
										"bgPC": "/lg5-common/images/KRC0049/@KRC0049-img-visual-pc.jpg",
										"bgMo": "/lg5-common/images/KRC0049/@KRC0049-img-visual-mo.jpg",
										"textColor": "colorWhite",
										"vAlign": "valign-top",
										"title": "헤드라인 텍스트는 공백포함 최대 40자까지 입력가능합니다. 최대 40자",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 최대 80자",
										"bullets": [
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": false,
										"textColor": "",
										"vAlign": "valign-top",
										"title": "헤드라인 텍스트는 공백포함 최대 40자까지 입력가능합니다. 최대 40자",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 최대 80자",
										"bullets": [
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
										],
									})
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- //1단 수정중 -->

				<br><br><br>

				<!-- 2단 레이아웃 -->
				<section class="component KRC0049">
					<div class="component-inner">
						<div class="layered-wrap type-2column"> <!-- 다단 클래스 : 2단 .type-2column / 3단 .type-3column-->
							<ul class="layered-inner">
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": true,
										"bgPC": "/lg5-common/images/KRC0049/@KRC0049-img-visual-pc.jpg",
										"bgMo": "/lg5-common/images/KRC0049/@KRC0049-img-visual-mo.jpg",
										"textColor": "colorWhite",
										"vAlign": "valign-top",
										"title": "헤드라인 텍스트는 공백포함 최대 40자까지 입력가능합니다. 최대 40자",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 최대 80자",
										"bullets": [
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": true,
										"bgPC": "/lg5-common/images/KRC0049/@KRC0049-img-visual-pc.jpg",
										"bgMo": "/lg5-common/images/KRC0049/@KRC0049-img-visual-mo.jpg",
										"textColor": "colorWhite",
										"vAlign": "valign-middle",
										"title": "헤드라인 텍스트는 공백포함 최대 40자까지 입력가능합니다. 최대 40자",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 최대 80자",
										"bullets": [
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": true,
										"bgPC": "/lg5-common/images/KRC0049/@KRC0049-img-visual-pc.jpg",
										"bgMo": "/lg5-common/images/KRC0049/@KRC0049-img-visual-mo.jpg",
										"textColor": "colorWhite",
										"vAlign": "valign-bottom",
										"title": "헤드라인 텍스트는 공백포함 최대 40자까지 입력가능합니다. 최대 40자",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 최대 80자",
										"bullets": [
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": false,
										"textColor": "",
										"vAlign": "valign-middle",
										"title": "헤드라인 텍스트는 공백포함 최대 40자까지 입력가능합니다. 최대 40자",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 최대 80자",
										"bullets": [
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
											"디스클레이머는 최대 50자까지 입력 가능합니다, 디스클레이머는 최대 50자까지 입력 가능",
										],
									})
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- //2단 레이아웃 -->

				<br><br><br>

				<!-- 3단 레이아웃 -->
				<section class="component KRC0049">
					<div class="component-inner">
						<div class="layered-wrap type-3column"> <!-- 다단 클래스 : 2단 .type-2column / 3단 .type-3column-->
							<ul class="layered-inner">
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": true,
										"bgPC": "/lg5-common/images/KRC0049/@KRC0049-img-visual-pc.jpg",
										"bgMo": "/lg5-common/images/KRC0049/@KRC0049-img-visual-mo.jpg",
										"textColor": "colorWhite",
										"vAlign": "valign-top",
										"title": "헤드라인 텍스트는 공백포함 최대 30자까지 입력가능",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대",
										"bullets": [
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": true,
										"bgPC": "/lg5-common/images/KRC0049/@KRC0049-img-visual-pc.jpg",
										"bgMo": "/lg5-common/images/KRC0049/@KRC0049-img-visual-mo.jpg",
										"textColor": "colorWhite",
										"vAlign": "valign-middle",
										"title": "헤드라인 텍스트는 공백포함 최대 30자까지 입력가능",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대",
										"bullets": [
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": true,
										"bgPC": "/lg5-common/images/KRC0049/@KRC0049-img-visual-pc.jpg",
										"bgMo": "/lg5-common/images/KRC0049/@KRC0049-img-visual-mo.jpg",
										"textColor": "colorWhite",
										"vAlign": "valign-bottom",
										"title": "헤드라인 텍스트는 공백포함 최대 30자까지 입력가능",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대",
										"bullets": [
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": false,
										"textColor": "",
										"vAlign": "valign-top",
										"title": "헤드라인 텍스트는 공백포함 최대 30자까지 입력가능",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대",
										"bullets": [
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": false,
										"textColor": "",
										"vAlign": "valign-middle",
										"title": "헤드라인 텍스트는 공백포함 최대 30자까지 입력가능",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대",
										"bullets": [
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
										],
									})
								</li>
								<li class="layered-item">
									@@include('./common/partials/KRC0049.html', {
										"hasBG": false,
										"textColor": "",
										"vAlign": "valign-bottom",
										"title": "헤드라인 텍스트는 공백포함 최대 30자까지 입력가능",
										"text": "공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대 80자까지 작성 가능합니다. 공백포함 최대",
										"bullets": [
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
											"디스클레이머는 최대 30자까지 입력 가능합니다.",
										],
									})
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- //3단 레이아웃 -->
			</div>

		</div>
	</div>
</body>
</html>