<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0010",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0010 -->
            <!-- component 텍스트 좌측 정렬 -->
            @@include('./common/partials/KRC0010.html', {
                "bg" : "bg-black",
                "textColor" : "text-white",
                "full" : "full",
                "heading1": "<h2>Recommended Promotions</h2>",
                "heading-line" : {
                    "align-class1": "align-left"
                },
                    "banner-line" : {
                    "align-class1": "align-left textblock-top-compo-top",
                        "font-color":"text-black"
                },
                    "unit-line" : {
                    "align-class1": "align-left"
                },
                "visual1":"/lg5-common/images/KRC0010/sample-16-7.jpg",
                "visual2":"/lg5-common/images/KRC0010/sample-768x840.jpg",
                "component-class" : {
                    "margin" : "zero-top zero-btm",
                    "color" : "text-white",
                    "textAlign": "text-center",
                    "type" : "horizontal",
                    "bg" : "bg-black",
                    "slide" : "none-slide"
                }
            })
            <!-- // component -->

            <!-- component 텍스트 가운데 정렬 -->
            @@include('./common/partials/KRC0010.html', {
                "bg" : "bg-black",
                "textColor" : "text-white",
                "full" : "",
                "heading1": "<h2>Recommended Promotions</h2>",
                "heading-line" : {
                    "align-class1": "align-center"
                },
                    "banner-line" : {
                    "align-class1": "align-center textblock-bottom-compo-middle",
                    "font-color":"text-white"
                },
                    "unit-line" : {
                    "align-class1": "align-center"
                },
                "visual1":"/lg5-common/images/KRC0010/sample-16-7.jpg",
                "visual2":"/lg5-common/images/KRC0010/sample-768x840.jpg",
                "component-class" : {
                    "margin" : "zero-top zero-btm",
                    "color" : "text-black",
                    "textAlign": "text-center",
                    "type" : "horizontal",
                    "bg" : "bg-white",
                    "slide" : ""
                }
            })
            <!-- // component -->

            <!-- component 텍스트 우측 정렬 -->
            @@include('./common/partials/KRC0010.html', {
                "bg" : "bg-gray",
                "textColor" : "text-black",
                "full" : "full",
                "heading1": "<h2>Recommended Promotions</h2>",
                "heading-line" : {
                    "align-class1": "align-right"
                },
                "banner-line" : {
                    "align-class1": "align-right textblock-bottom-compo-top",
                    "font-color":"text-black"
                },
                "unit-line" : {
                    "align-class1": "align-right"
                },
                "visual1":"/lg5-common/images/KRC0010/sample-16-7.jpg",
                "visual2":"/lg5-common/images/KRC0010/sample-768x840.jpg",
                "component-class" : {
                    "margin" : "zero-top zero-btm",
                    "color" : "text-white",
                    "textAlign": "text-center",
                    "type" : "horizontal",
                    "bg" : "bg-black",
                    "slide" : ""
                }
            })
            <!-- // component -->
            <!-- //component KRC0010 -->
		
		</div>
    </div>      
</body>
</html>