<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0033",
		isJScompile: false,
	})
<body>
	<div class="wrap">
		<div class="container">
			<!-- component -->
			@@include('./common/partials/KRC0033.html', {
				pageSize : "stage-full",
				verticalClass : "vertical-top",
				alignClass1 : "box-align-left",
				alignClass2 : "align-left",
				colorType : "type-black",
				row : "3"
			})
			<!-- // component -->

			<!-- component -->
			@@include('./common/partials/KRC0033.html', {
				pageSize : "stage-full",
				verticalClass : "vertical-middle",
				alignClass1 : "box-align-left",
				alignClass2 : "align-left",
				colorType : "type-black",
				row : "2"
			})
			<!-- // component -->

			<!-- component -->
			@@include('./common/partials/KRC0033.html', {
				pageSize : "stage-full",
				verticalClass : "vertical-bottom",
				alignClass1 : "box-align-right",
				alignClass2 : "align-left",
				colorType : "type-white",
				row : "4"
			})
			<!-- // component -->

			<!-- component -->
			@@include('./common/partials/KRC0033.html', {
				pageSize : "stage-wide",
				verticalClass : "vertical-middle",
				alignClass1 : "box-align-left",
				alignClass2 : "align-left",
				colorType : "type-black",
				row : "4"
			})
			<!-- // component -->
		</div>
	</div>
</body>
</html>