<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0024",
    isJScompile: true
})
<body>
<div class="wrap">
    <div class="container">

        <!-- component KRC0024 -->

        <!-- Hero type -->
        @@include('./common/partials/KRC0024-hero.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-black"
            },
            "title": {
                "align-class":"align-left",
                "font-class1": "font-regular",
                "font-class2": "font-underline",
                "headline": "<h2>LG SIGNATURE</h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다."
            },
            "carousel": {
                "type": "type-hero",
                "item1": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-left",
                    "align-class2":"align-top align-mobile-bottom",
                    "width-class":"type-wide",
                    "font-color":"text-white",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                },
                "item2": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-left",
                    "align-class2":"align-top align-mobile-bottom",
                    "width-class":"type-wide",
                    "font-color":"text-white",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                },
                "item3": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle align-mobile-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                },
                "item4": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-right",
                    "align-class2":"align-bottom align-mobile-bottom",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : ""
                    }
                },
                "item5": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-top align-mobile-top",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                },
                "item6": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-top align-mobile-bottom",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : ""
                    }
                },
                "item7": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle align-mobile-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                }
            }
        })
        <!-- // Hero type -->


        <!-- text-wide -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0024-cont-multi.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-black"
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "headline": "<h2>LG SIGNATURE</h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. "
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-gray-1920x572.png",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x720.jpg",
                    "visual3":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual4":"/lg5-common/images/KRC0024/@thumb-720x720.jpg",
                    "componentType":"mobile-text-block-left",
                    "align-class1":"align-left",
                    "align-class2":"align-bottom",
                    "width-class":"type-wide",
                    "font-color":"text-black",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // non-hero -->
        <!-- // text-wide -->


        <!-- text-block-top -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0024-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-red"
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "headline": "<h2>LG SIGNATURE</h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. "
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x720.jpg",
                    "componentType":"mobile-text-block-center",
                    "align-class1":"align-left",
                    "align-class2":"align-top",
                    "width-class":"type-wide",
                    "font-color":"text-white",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                }
            }
        })
        <!-- non-hero -->
        <!-- // text-block-top -->


        <!-- text-block-middle -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0024-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-blue"
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "headline": "<h2>LG SIGNATURE</h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. "
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-gray-1920x572.png",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x720.jpg",
                    "componentType":"mobile-text-block-right",
                    "align-class1":"align-left",
                    "align-class2":"align-middle",
                    "width-class":"type-wide",
                    "font-color":"text-black",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // text-block-middle -->


        <!-- text-block-bottom -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0024-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-black"
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "headline": "<h2>LG SIGNATURE</h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. "
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-gray-1920x572.png",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-gray-720x1125.png",
                    "componentType":"",
                    "align-class1":"align-left",
                    "align-class2":"align-bottom",
                    "width-class":"type-wide",
                    "font-color":"text-black",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-white",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // text-block-bottom -->


        <!-- brand-logo-image -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0024-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-black"
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "headline": "<h2><img data-src='/lg5-common/images/KRC0024/brand-signature-321x32.png' alt='LG SIGNATURE' class='lazyload' /></h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. "
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // brand-logo-image -->


        <!-- Animation component -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0024-ani.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-black"
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "headline": "<h2>LG SIGNATURE</h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. "
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // Animation component -->


        <!-- Animation component brand-logo-image -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0024-ani.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-black"
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
        "headline": "<h2><img data-src='/lg5-common/images/KRC0024/brand-signature-321x32.png' alt='LG SIGNATURE' class='lazyload' /></h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. "
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-1920x572.jpg",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-720x1125.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // Animation component brand-logo-image -->


        <!-- non-hero -->
        @@include('./common/partials/KRC0024-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": "bg-black"
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "headline": "<h2>LG SIGNATURE</h2>",
                "copy":"올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. "
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0024/@thumb-gray-1920x572.png",
                    "visual2":"/lg5-common/images/KRC0024/@thumb-gray-720x1125.png",
                    "componentType":"",
                    "align-class1":"align-right",
                    "align-class2":"align-top",
                    "width-class":"type-wide",
                    "font-color":"text-black",
                    "font-class1":"font-regular-italic",
                    "font-class2":"font-underline",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-white",
                        "slide" : "none-slide"
                    }
                }
            }
        })
        <!--  -->

        <!-- //component KRC0024 -->

    </div>
</div>
</body>
</html>