<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0023",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component -->
            <!-- 2개 case -->
            @@include('./common/partials/KRC0023.html', {
                "imgType" : "youtube",
                "col-class" : "img2",
                "liArr" : [
                    { "tit" : "title02" }
                ],
                "headline":"<p>타이틀 텍스트 공백포함 최대50자까지 사용 권장합니다.타이틀 텍스트 공백포함 최대50자까지 사용 권장합니다.</p>",
                "align-class1": "align-right",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // 2개 case -->
            <!-- // component -->

            <!-- component -->
            <!-- 2개 case -->
            @@include('./common/partials/KRC0023.html', {
                "imgType" : "animation",
                "col-class" : "img2",
                "liArr" : [
                    { "tit" : "title02" }
                ],
                "headline":"<p>타이틀 텍스트 공백포함 최대50자까지 사용 권장합니다.타이틀 텍스트 공백포함 최대50자까지 사용 권장합니다.</p>",
                "align-class1": "align-center",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // 2개 case -->
            <!-- // component -->

            <!-- component -->
            <!-- 3개 case -->
            @@include('./common/partials/KRC0023.html', {
                "imgType" : "youtube",
                "col-class" : "img3",
                "liArr" : [
                    { "tit" : "title02" },
                    { "tit" : "title03" }
                ],
                "headline":"<p>템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</p>",
                "align-class1": "align-left",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // 3개 case -->
            <!-- // component -->

            <!-- component -->
            <!-- 3개 case -->
            @@include('./common/partials/KRC0023.html', {
                "imgType" : "youtube",
                "col-class" : "img3",
                "liArr" : [
                    { "tit" : "title02" },
                    { "tit" : "title03" }
                ],
                "headline":"<p>템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</p>",
                "align-class1": "align-right",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // 3개 case -->
            <!-- // component -->

            <!-- component -->
            <!-- 3개 case -->
            @@include('./common/partials/KRC0023.html', {
                "imgType" : "youtube",
                "col-class" : "img3",
                "liArr" : [
                    { "tit" : "title02" },
                    { "tit" : "title03" }
                ],
                "headline":"<p>템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</p>",
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // 3개 case -->
            <!-- // component -->

            <!-- component -->
            <!-- 4개 case -->
            @@include('./common/partials/KRC0023.html', {
                "imgType" : "youtube",
                "col-class" : "img4",
                "liArr" : [
                    { "tit" : "title02" },
                    { "tit" : "title03" },
                    { "tit" : "title04" }
                ],
                "headline":"<p>템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</p>",
                "align-class1": "align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // 4개 case -->
            <!-- // component -->

            <!-- component -->
            <!-- 4개 case -->
            @@include('./common/partials/KRC0023.html', {
                "imgType" : "youtube",
                "col-class" : "img4",
                "liArr" : [
                    { "tit" : "title02" },
                    { "tit" : "title03" },
                    { "tit" : "title04" }
                ],
                "headline":"<p>템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</p>",
                "align-class1": "align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // 4개 case -->
            <!-- // component -->

            <!-- component -->
            <!-- 4개 case -->
            @@include('./common/partials/KRC0023.html', {
                "imgType" : "youtube",
                "col-class" : "img4",
                "liArr" : [
                    { "tit" : "title02" },
                    { "tit" : "title03" },
                    { "tit" : "title04" }
                ],
                "headline":"<p>템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</p>",
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-class3": "font-bold",
                "font-style1": "font-underline",
                "bg-color": "bg-white"
            })
            <!-- // 4개 case -->
            <!-- // component -->

            <!-- component -->
            <!-- 4개 case -->
            <!--BTOCSITE-9570 진열기획전 페이지 수정 요청 : 모바일에서 스와이프 1.2개 UI 샘플(slide-show-type)-->
            @@include('./common/partials/KRC0023.html', {
            "slide-show-type" : "slidesToShowMore",
            "imgType" : "youtube",
            "col-class" : "img4",
            "liArr" : [
            { "tit" : "title02" },
            { "tit" : "title03" },
            { "tit" : "title04" }
            ],
            "headline":"<p>템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</p>",
            "align-class1": "align-center",
            "font-class1": "font-regular",
            "font-class2": "font-regular",
            "font-class3": "font-bold",
            "font-style1": "font-underline",
            "bg-color": "bg-white"
            })
            <!-- // 4개 case -->
            <!-- // component -->
		</div>
    </div>     
</body>
</html>