<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0015",
    isJScompile: true
})
<body>
<div class="wrap">
    <div class="container">

        <!-- component KRC0015 -->

        <!-- Hero type -->
        @@include('./common/partials/KRC0015-hero.html', {
            "common": {
                "marginTop": "",
                "marginBtm": "",
                "bg-color": ""
            },
            "title": {
                "font-class1": "font-regular",
                "font-class2": "font-underline",
                "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                "headline": "<h2>공백포함 35자 이내로 헤드라인<br>타이틀 작성 권장합니다.</h2>",
                "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
            },
            "carousel": {
                "type": "type-hero",
                "item1": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-left",
                    "align-class2":"align-top align-mobile-bottom",
                    "width-class":"type-wide",
                    "font-color":"text-white",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                },
                "item2": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-left",
                    "align-class2":"align-top align-mobile-bottom",
                    "width-class":"type-wide",
                    "font-color":"text-white",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                },
                "item3": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle align-mobile-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                },
                "item4": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-right",
                    "align-class2":"align-bottom align-mobile-bottom",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : ""
                    }
                },
                "item5": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-top align-mobile-top",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                },
                "item6": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-top align-mobile-bottom",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : ""
                    }
                },
                "item7": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle align-mobile-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                }
            }
        })
        <!-- // Hero type -->


        <!-- text-wide -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0015-cont-multi.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": ""
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                "headline": "<h2>공백포함 35자 이내로 헤드라인<br>타이틀 작성 권장합니다.</h2>",
                "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-02.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-02.jpg",
                    "visual3":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual4":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"mobile-text-block-left",
                    "align-class1":"align-left",
                    "align-class2":"align-bottom",
                    "width-class":"type-wide",
                    "font-color":"text-black",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // non-hero -->
        <!-- // text-wide -->


        <!-- text-block-top -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0015-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": ""
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                "headline": "<h2>공백포함 35자 이내로 헤드라인<br>타이틀 작성 권장합니다.</h2>",
                "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"mobile-text-block-center",
                    "align-class1":"align-left",
                    "align-class2":"align-top",
                    "width-class":"type-wide",
                    "font-color":"text-white",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : "none-slide"
                    }
                }
            }
        })
        <!-- non-hero -->
        <!-- // text-block-top -->


        <!-- text-block-middle -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0015-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": ""
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                "headline": "<h2>공백포함 35자 이내로 헤드라인<br>타이틀 작성 권장합니다.</h2>",
                "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-02.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-02.jpg",
                    "componentType":"mobile-text-block-right",
                    "align-class1":"align-left",
                    "align-class2":"align-middle",
                    "width-class":"type-wide",
                    "font-color":"text-black",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // text-block-middle -->


        <!-- text-block-bottom -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0015-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": ""
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                "headline": "<h2>공백포함 35자 이내로 헤드라인<br>타이틀 작성 권장합니다.</h2>",
                "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-02.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-02.jpg",
                    "componentType":"",
                    "align-class1":"align-left",
                    "align-class2":"align-bottom",
                    "width-class":"type-wide",
                    "font-color":"text-black",
                    "font-class1":"font-regular",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-white",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // text-block-bottom -->


        <!-- brand-logo-image -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0015-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": ""
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                "headline": "<h2>공백포함 35자 이내로 헤드라인<br>타이틀 작성 권장합니다.</h2>",
                "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-white",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-dark-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // brand-logo-image -->


        <!-- Animation component -->
        <!-- non-hero -->
        @@include('./common/partials/KRC0015-ani.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": ""
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                "headline": "<h2>공백포함 35자 이내로 헤드라인<br>타이틀 작성 권장합니다.</h2>",
                "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-01.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-01.jpg",
                    "componentType":"",
                    "align-class1":"align-center",
                    "align-class2":"align-middle",
                    "width-class":"type-narrow",
                    "font-color":"text-white",
                    "font-class1":"font-bold",
                    "font-class2":"",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-gray",
                        "slide" : ""
                    }
                }
            }
        })
        <!-- // Animation component -->


        <!-- non-hero -->
        @@include('./common/partials/KRC0015-cont.html', {
            "common": {
                "marginTop": "zero-top",
                "marginBtm": "",
                "bg-color": ""
            },
            "title": {
                "align-class":"align-center",
                "font-class1": "font-regular",
                "font-class2": "",
                "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                "headline": "<h2>공백포함 35자 이내로 헤드라인<br>타이틀 작성 권장합니다.</h2>",
                "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
            },
            "carousel": {
                "type": "type-etc",
                "item": {
                    "visual1":"/lg5-common/images/KRC0015/@thumb-1920x640-02.jpg",
                    "visual2":"/lg5-common/images/KRC0015/@thumb-720x920-02.jpg",
                    "componentType":"",
                    "align-class1":"align-right",
                    "align-class2":"align-top",
                    "width-class":"type-wide",
                    "font-color":"text-black",
                    "font-class1":"font-regular-italic",
                    "font-class2":"font-underline",
                    "component-class" : {
                        "margin" : "zero-top zero-btm",
                        "color" : "text-black",
                        "textAlign": "text-center",
                        "type" : "horizontal",
                        "bg" : "bg-white",
                        "slide" : "none-slide"
                    }
                }
            }
        })

        <!-- //component KRC0015 -->

    </div>
</div>
</body>
</html>