<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0025",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0025 -->
            <!-- component 1Block, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0025-type1.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
               	"align-class1": "align-center",
                "align-class2": "align-center",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "full-size"
            })
            <!-- // component 1Block, 텍스트 중앙정렬 -->

            <!-- component 1Block, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0025-type1.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-left",
                "align-class2": "align-left",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "wide-size"
            })
            <!-- // component 1Block, 텍스트 왼쪽정렬 -->

            <!-- component 2Block, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0025-type2.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-center",
                "align-class2": "align-center",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "medium-size"
            })
            <!-- // component 2Block, 텍스트 중앙정렬 -->

            <!-- component 2Block, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0025-type2.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-left",
                "align-class2": "align-left",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "wide-size"
            })
            <!-- // component 2Block, 텍스트 왼쪽정렬 -->

            <!-- component 3Block, 텍스트 중앙정렬  -->
            @@include('./common/partials/KRC0025-type3.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-center",
                "align-class2": "align-center",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "wide-size"
            })
            <!-- // component 3Block, 텍스트 중앙정렬 -->

            <!-- component 3Block, 텍스트 왼쪽정렬  -->
            @@include('./common/partials/KRC0025-type3.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-left",
                "align-class2": "align-left",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "medium-size"
            })
            <!-- // component 3Block, 텍스트 왼쪽정렬 -->

            <!-- //component KRC0025 -->
		
		</div>
    </div>      
</body>
</html>