<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0026",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component KRC0026 -->
            <!-- box count 8 -->
            @@include('./common/partials/KRC0026_box8.html',{    
                "component-class" : {
                    "margin" : " ",
                    "headline" : "<h2>Heading can be up to 100 characters lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo.</h2>",
                    "title-align" : "align-left"
                },
                "box1" : {
                    "modal-index" : "1",
                    "banner-color" : "text-white",
                    "desc-align" : "align-right"
                },
                "box2" : {
                    "modal-index" : "2",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box3" : {
                    "modal-index" : "3",
                    "banner-color" : "text-black",
                    "desc-align" : "align-center"
                },
                "box4" : {
                    "modal-index" : "4",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box5" : {
                    "modal-index" : "5",
                    "banner-color" : "text-white",
                    "desc-align" : "align-left"
                },
                "box6" : {
                    "modal-index" : "6",
                    "banner-color" : "text-white",
                    "desc-align" : "align-left"
                },
                "box7" : {
                    "modal-index" : "7",
                    "banner-color" : "text-black",
                    "desc-align" : "align-left"
                },
                "box8" : {
                    "modal-index" : "8",
                    "banner-color" : "text-white",
                    "desc-align" : "align-right"
                }
            })
            <!-- // box count 8 -->

            
            <!-- component KRC0026 -->
		</div>
    </div>     
</body>
</html>