<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0018",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0018 -->

            <!-- component box5 case1 -->
            @@include('./common/partials/KRC0018-total.html', {
                "flow-type" : "flow-left",
                "videoType" : true,
                "square" : [
                    {
                        "size" : "sm",
                        "position" : "left top"
                    },
                    {
                        "size" : "md",
                        "position" : "right top"
                    },
                    {
                        "size" : "md",
                        "position" : "left bottom"
                    },
                    {
                        "size" : "sm",
                        "position" : "right bottom"
                    },
                ]
            })
            <!-- // component box5 case1 -->

            <!-- component box5 case2 -->
            @@include('./common/partials/KRC0018-total.html', {
                "flow-type" : "flow-right",
                "animationType" : true,
                "square" : [
                    {
                        "size" : "sm",
                        "position" : "left top"
                    },
                    {
                        "size" : "md",
                        "position" : "right top"
                    },
                    {
                        "size" : "md",
                        "position" : "left bottom"
                    },
                    {
                        "size" : "sm",
                        "position" : "right bottom"
                    },
                ]
            })
            <!-- // component box5 case1 -->

            <!-- component box4 case1 -->
            @@include('./common/partials/KRC0018-total.html', {
                "flow-type" : "flow-left",
                "square" : [
                    {
                        "size" : "sm",
                        "position" : "left top"
                    },
                    {
                        "size" : "md",
                        "position" : "right top"
                    },
                    {
                        "size" : "lg",
                        "position" : "right bottom"
                    }
                ]
            })
            <!-- // component box4 case1 -->

            <!-- component box4 case2 -->
            @@include('./common/partials/KRC0018-total.html', {
                "flow-type" : "flow-right",
                "square" : [
                    {
                        "size" : "sm",
                        "position" : "left top"
                    },
                    {
                        "size" : "md",
                        "position" : "right top"
                    },
                    {
                        "size" : "lg",
                        "position" : "right bottom"
                    }
                ]
            })
            <!-- // component box4 case2 -->

            <!-- component box4 case3 -->
            @@include('./common/partials/KRC0018-total.html', {
                "flow-type" : "flow-right",
                "square" : [
                    {
                        "size" : "lg",
                        "position" : "left top"
                    },
                    {
                        "size" : "sm",
                        "position" : "left bottom"
                    },
                    {
                        "size" : "md",
                        "position" : "right bottom"
                    }
                ]
            })
            <!-- // component box4 case3 -->

            <!-- component box3 case1 -->
            @@include('./common/partials/KRC0018-total.html', {
                "flow-type" : "flow-left",
                "videoType" : true,
                "square" : [
                    {
                        "size" : "lg",
                        "position" : "right top"
                    },
                    {
                        "size" : "lg",
                        "position" : "right bottom"
                    }
                ]
            })
            <!-- // component box3 case1 -->

            <!-- component box3 case2 -->
            @@include('./common/partials/KRC0018-total.html', {
                "flow-type" : "flow-right",
                "animationType" : true,
                "square" : [
                    {
                        "size" : "lg",
                        "position" : "left top"
                    },
                    {
                        "size" : "lg",
                        "position" : "left bottom"
                    }
                ]
            })
            <!-- // component box3 case2 -->

            <!-- //component KRC0018 -->

        </div>
    </div>
</body>
</html>