<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0029",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0029 -->

            <!-- Carousel -->
            <!-- Hero type -->
            @@include('./common/partials/KRC0029.html', {
                "common": {
                    "marginTop": "",
                    "marginBtm": ""
                },
                "size" : "",
                "carousel": {
                    "item1": {
                        "visual1":"/lg5-common/images/KRC0029/@thumb-1920x480.png",
                        "visual2":"/lg5-common/images/KRC0029/@thumb-720x1012.png",
                        "align-class1":"align-left",
                        "align-class2":"align-middle",
                        "width-class":"type-wide",
                        "font-color":"",
                        "font-class1":"font-regular",
                        "font-class2":""
                    },
                    "item2": {
                        "visual1":"/lg5-common/images/KRC0029/@thumb-1920x480.png",
                        "visual2":"/lg5-common/images/KRC0029/@thumb-720x1012.png",
                        "align-class1":"align-center",
                        "align-class2":"align-top",
                        "width-class":"type-narrow",
                        "font-color":"",
                        "font-class1":"font-bold",
                        "font-class2":""
                    },
                    "item3": {
                        "visual1":"/lg5-common/images/KRC0029/@thumb-1920x480.png",
                        "visual2":"/lg5-common/images/KRC0029/@thumb-720x1012.png",
                        "align-class1":"align-right",
                        "align-class2":"align-middle",
                        "width-class":"type-narrow",
                        "font-color":"",
                        "font-class1":"font-bold",
                        "font-class2":""
                    }
                }
            })
            <!-- // Carousel -->


            <!-- Non Carousel -->
            <!-- Hero type -->
            @@include('./common/partials/KRC0029-one.html', {
                "common": {
                    "marginTop": "",
                    "marginBtm": ""
                },
                "carousel": {
                    "item1": {
                        "visual1":"/lg5-common/images/KRC0029/@thumb-1920x480.png",
                        "visual2":"/lg5-common/images/KRC0029/@thumb-720x1012.png",
                        "align-class1":"align-left",
                        "align-class2":"align-middle",
                        "width-class":"type-wide",
                        "font-color":"",
                        "font-class1":"font-regular",
                        "font-class2":""
                    }
                }
            })
            <!-- // Non Carousel -->

            <!-- //component KRC0029 -->

        </div>
    </div>
</body>
</html>