<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0026",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component KRC0026 -->
            <!-- box count 8 -->
            @@include('./common/partials/KRC0026_box8.html',{    
                "component-class" : {
                    "margin" : " ",
                    "headline" : "<h2>인터랙티브 갤러리는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 1 추천 프로모션 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                    "title-align" : "align-left",
                    "bg-color": "bg-white"
                },
                "box1" : {
                    "modal-index" : "1",
                    "banner-color" : "text-white",
                    "desc-align" : "align-right"
                },
                "box2" : {
                    "modal-index" : "2",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box3" : {
                    "modal-index" : "3",
                    "banner-color" : "text-black",
                    "desc-align" : "align-center"
                },
                "box4" : {
                    "modal-index" : "4",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box5" : {
                    "modal-index" : "5",
                    "banner-color" : "text-white",
                    "desc-align" : "align-left"
                },
                "box6" : {
                    "modal-index" : "6",
                    "banner-color" : "text-white",
                    "desc-align" : "align-left"
                },
                "box7" : {
                    "modal-index" : "7",
                    "banner-color" : "text-black",
                    "desc-align" : "align-left"
                },
                "box8" : {
                    "modal-index" : "8",
                    "banner-color" : "text-white",
                    "desc-align" : "align-right"
                }
            })
            <!-- // box count 8 -->


            <!-- box count 7 -->
            @@include('./common/partials/KRC0026_box7.html', {
                "component-class" : {
                    "margin" : " ",
                    "headline" : "<h2>인터랙티브 갤러리는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 1 추천 프로모션 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                    "title-align" : "align-right",
                    "bg-color": "bg-white"
                },
                "box1" : {
                    "modal-index" : "9",
                    "banner-color" : "text-white",
                    "desc-align" : "align-right"
                },
                "box2" : {
                    "modal-index" : "10",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box3" : {
                    "modal-index" : "11",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box4" : {
                    "modal-index" : "12",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box5" : {
                    "modal-index" : "13",
                    "banner-color" : "text-white",
                    "desc-align" : "align-left"
                },
                "box6" : {
                    "modal-index" : "14",
                    "banner-color" : "text-white",
                    "desc-align" : "align-left"
                },
                "box7" : {
                    "modal-index" : "15",
                    "banner-color" : "text-black",
                    "desc-align" : "align-left"
                }
            })
            <!-- // box count 7 -->


            <!-- box count 6 -->
            @@include('./common/partials/KRC0026_box6.html', {
                "component-class" : {
                    "margin" : " ",
                    "headline" : "<h2>인터랙티브 갤러리는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 1 추천 프로모션 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                    "title-align" : "align-center",
                    "bg-color": "bg-white"
                },
                "box1" : {
                    "modal-index" : "16",
                    "banner-color" : "text-white",
                    "desc-align" : "align-right"
                },
                "box2" : {
                    "modal-index" : "17",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box3" : {
                    "modal-index" : "18",
                    "banner-color" : "text-black",
                    "desc-align" : "align-center"
                },
                "box4" : {
                    "modal-index" : "19",
                    "banner-color" : "text-white",
                    "desc-align" : "align-center"
                },
                "box5" : {
                    "modal-index" : "20",
                    "banner-color" : "text-white",
                    "desc-align" : "align-left"
                },
                "box6" : {
                    "modal-index" : "21",
                    "banner-color" : "text-white",
                    "desc-align" : "align-left"
                }
            })
            <!-- // box count 6 -->
            <!-- component KRC0026 -->
		</div>
    </div>     
</body>
</html>