<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0035",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0035 -->
            
            
            <!-- component Standard 이미지 좌측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-left",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 좌측형, 텍스트 왼쪽정렬 -->


            <!-- component Standard 이미지 좌측형, 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-right",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!--// component Standard 이미지 좌측형, 텍스트 오른쪽정렬 -->


            <!-- component Standard 이미지 좌측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 좌측형, 텍스트 중앙정렬 -->


            <!-- component Standard 이미지 우측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-left",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 우측형, 텍스트 왼쪽정렬 -->


            <!-- component Standard 이미지 우측형, 텍스트 우측정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-right",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 우측형, 텍스트 우측정렬 -->


            <!-- component Standard 이미지 우측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 우측형, 텍스트 중앙정렬 -->


            <!-- component Standard 이미지 좌측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-left",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 좌측형, 텍스트 왼쪽정렬 -->


            <!-- component Standard 이미지 좌측형, 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-right",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!--// component Standard 이미지 좌측형, 텍스트 오른쪽정렬 -->


            <!-- component Standard 이미지 좌측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 좌측형, 텍스트 중앙정렬 -->


            <!-- component Standard 이미지 우측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-left",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 우측형, 텍스트 왼쪽정렬 -->


            <!-- component Standard 이미지 우측형, 텍스트 우측정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-right",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 우측형, 텍스트 우측정렬 -->


            <!-- component Standard 이미지 우측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 이미지 우측형, 텍스트 중앙정렬 -->

            <!-- BTOCSITE-4492 210910 : USP 내 컴포넌트 모듈 요청건 -->
            <!-- component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-left",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 왼쪽정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-right",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!--// component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 오른쪽정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-center",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 중앙정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-left",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 왼쪽정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 우측정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-right",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 우측정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-center",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "standard",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 중앙정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-left",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 왼쪽정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-right",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!--// component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 오른쪽정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type1" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-center",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 좌측형, 텍스트 중앙정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-left",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 왼쪽정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 우측정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-right",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 우측정렬 -->


            <!-- component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0035.html', {
                "type2" : true,
                "headline": "<h2>모바일 상단 위치 헤드라인 텍스트 영역입니다.</h2>",
                "align-class1": "align-center",
                "headline-class": "headline-top-m",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "font-underline",
                "imgSizeType": "large",
                "img": "/lg5-common/images/dummy/@sample-16-9.gif",
                "img1": "/lg5-common/images/dummy/@img-912x912.png",
                "bg-color": "bg-white"
            })
            <!-- // component Standard 모바일 헤드라인 상단형, 이미지 우측형, 텍스트 중앙정렬 -->
            <!-- //BTOCSITE-4492 210910 : USP 내 컴포넌트 모듈 요청건 -->

            <!-- //component KRC0035 -->

		</div>
    </div>

</body>
</html>