<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0063",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">
			<!-- component KRC0063 -->
            <!-- component -->
            @@include('./common/partials/KRC0063.html',{
                "stageType" : "stage-full",
                "alignType1" : "align-left",
                "fontColor1" : "type-black",
                "fontStyle1" : "",
                "images" : 1,
                "verticalType" : "vertical-top",
                "alignType2" : "align-left",
                "fontColor2" : "type-black",
                "lists" : 4
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0063.html',{
                "stageType" : "stage-wide",
                "alignType1" : "align-center",
                "fontColor1" : "type-black",
                "fontStyle1" : "",
                "images" : 2,
                "verticalType" : "vertical-middle",
                "alignType2" : "align-center",
                "fontColor2" : "type-black",
                "lists" : 2
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0063.html',{
                "stageType" : "stage-medium",
                "alignType1" : "align-right",
                "fontColor1" : "type-black",
                "fontStyle1" : "",
                "images" : 3,
                "verticalType" : "vertical-bottom",
                "alignType2" : "align-right",
                "fontColor2" : "type-black",
                "lists" : 1
            })
            <!-- // component -->
            <!-- //component KRC0063 -->
		
		</div>
    </div>      
</body>
</html>