<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0043",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component -->
            @@include('./common/partials/KRC0043.html', {
                "align-class1" : "align-left",
                "headline":"<h2>헤드라인 카피 최대 40자까지 입력<br> 샘플 텍스트입니다.</h2>",
                "text-box1" : {
                    "font-class1": "font-regular",
                    "font-class2": "font-underline"
                },
                "text-box2" : {
                    "font-class1": "font-regular-italic",
                    "font-class2": "font-underline"
                },
                "text-box3" : {
                    "font-class1": "font-bold",
                    "font-class2": ""
                },
                "bg-color":"bg-white"
            })
            <!-- // component -->

            <!-- component -->
            <!-- @@include('./common/partials/KRC0043.html', {
                "align-class1" : "align-right",
                "headline":"<h2>한 손에 가볍게, LG 그램<br>PC기준 최대 2줄까지 작성 가능합니다.</h2>",
                "text-box1" : {
                    "font-class1": "font-regular",
                    "font-class2": "font-underline"
                },
                "text-box2" : {
                    "font-class1": "font-regular-italic",
                    "font-class2": "font-underline"
                },
                "text-box3" : {
                    "font-class1": "font-bold",
                    "font-class2": ""
                }
            }) -->
            <!-- // component -->
		</div>
    </div>     
</body>
</html>