<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0042",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component -->
            <!-- full / box-align-right -->
            @@include('./common/partials/KRC0042.html', {
                "bg" : "bg-white",
                "stage" : "stage-full",
                "boxAlign" : "box-align-right",
                "visualType": "video",
                "textAlign" : "align-left",
                "img": {
                    "visual1":"/lg5-common/images/KRC0042/@thumb00.jpg",
                    "visual2":"/lg5-common/images/KRC0042/@thumb01_m.jpg"
                }
            })
            <!-- // full / box-align-right -->

            <!-- full / box-align-left -->
            @@include('./common/partials/KRC0042.html', {
                "bg" : "bg-gray",
                "stage" : "stage-full",
                "boxAlign" : "box-align-left",
                "visualType": "animation",
                "textAlign" : "align-center",
                "img": {
                    "visual1":"/lg5-common/images/KRC0042/@thumb00.jpg",
                    "visual2":"/lg5-common/images/KRC0042/@thumb01_m.jpg"
                }
            })
            <!-- // full / box-align-left -->

            <!-- wide / box-align-right -->
            @@include('./common/partials/KRC0042.html', {
                "bg" : "bg-black",
                "stage" : "stage-wide",
                "boxAlign" : "box-align-right",
                "visualType": "image",
                "textAlign" : "align-right",
                "img": {
                    "visual1":"/lg5-common/images/KRC0042/@thumb00.jpg",
                    "visual2":"/lg5-common/images/KRC0042/@thumb01_m.jpg"
                }
            })
            <!-- // wide / box-align-right -->

            <!-- wide / box-align-left -->
            @@include('./common/partials/KRC0042.html', {
                "bg" : "bg-white",
                "stage" : "stage-wide",
                "boxAlign" : "box-align-left",
                "visualType": "animation",
                "textAlign" : "align-center",
                "img": {
                    "visual1":"/lg5-common/images/KRC0042/@thumb00.jpg",
                    "visual2":"/lg5-common/images/KRC0042/@thumb01_m.jpg"
                }
            })
            <!-- // wide / box-align-left -->

            <!-- standard / box-align-right -->
            @@include('./common/partials/KRC0042.html', {
                "bg" : "bg-gray",
                "stage" : "stage-standard",
                "boxAlign" : "box-align-right",
                "visualType": "animation",
                "textAlign" : "align-left",
                "img": {
                    "visual1":"/lg5-common/images/KRC0042/@thumb00.jpg",
                    "visual2":"/lg5-common/images/KRC0042/@thumb01_m.jpg"
                }
            })
            <!-- // standard / box-align-right -->

            <!-- standard / box-align-left -->
            @@include('./common/partials/KRC0042.html', {
                "bg" : "bg-black",
                "stage" : "stage-standard",
                "boxAlign" : "box-align-left",
                "visualType": "video",
                "textAlign" : "align-center",
                "img": {
                    "visual1":"/lg5-common/images/KRC0042/@thumb00.jpg",
                    "visual2":"/lg5-common/images/KRC0042/@thumb01_m.jpg"
                }
            })
            <!-- // standard / box-align-left -->

            <!-- narrow / box-align-right -->
            @@include('./common/partials/KRC0042.html', {
                "bg" : "bg-gray",
                "stage" : "stage-narrow",
                "boxAlign" : "box-align-right",
                "visualType": "image",
                "textAlign" : "align-right",
                "img": {
                    "visual1":"/lg5-common/images/KRC0042/@thumb04.jpg",
                    "visual2":"/lg5-common/images/KRC0042/@thumb04_m.jpg"
                }
            })
            <!-- // narrow / box-align-right -->

            <!-- narrow / box-align-left -->
            @@include('./common/partials/KRC0042.html', {
                "bg" : "bg-black",
                "stage" : "stage-narrow",
                "boxAlign" : "box-align-left",
                "visualType": "video",
                "textAlign" : "align-left",
                "img": {
                    "visual1":"/lg5-common/images/KRC0042/@thumb04.jpg",
                    "visual2":"/lg5-common/images/KRC0042/@thumb04_m.jpg"
                }
            })
            <!-- // narrow / box-align-left -->

            
            <!-- // component -->
		</div>
    </div>     
</body>
</html>