<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0017",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component -->
            <!-- carousel type -->
            @@include('./common/partials/KRC0017.html', {
                "carousel" : true,
                "itemCount" : 8,
                "imgType" : "image"
            })
            <!-- // carousel type -->
            <!-- // component -->

            <!-- component -->
            <!-- non carousel type -->
            @@include('./common/partials/KRC0017.html', {
                "itemCount" : 8,
                "column" : "item6",
                "imgType" : "video"
            })
            <!-- // non carousel type -->
            <!-- // component -->

            <!-- component -->
            <!-- non carousel type -->
            @@include('./common/partials/KRC0017.html', {
                "itemCount" : 8,
                "column" : "item5",
                "imgType" : "animation"
            })
            <!-- // non carousel type -->
            <!-- // component -->

            <!-- component -->
            <!-- non carousel type -->
            @@include('./common/partials/KRC0017.html', {
                "itemCount" : 8,
                "column" : "item4",
                "imgType" : "image"
            })
            <!-- // non carousel type -->
            <!-- // component -->

            <!-- component -->
            <!-- non carousel type -->
            @@include('./common/partials/KRC0017.html', {
                "itemCount" : 8,
                "column" : "item3",
                "imgType" : "video"
            })
            <!-- // non carousel type -->
            <!-- // component -->

            <!-- component -->
            <!-- non carousel type -->
            @@include('./common/partials/KRC0017.html', {
                "itemCount" : 8,
                "column" : "item2",
                "imgType" : "video"
            })
            <!-- // non carousel type -->
            <!-- // component -->
		</div>
    </div>     
</body>
</html>