<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0003",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">

			<!-- component KRC0003 -->
			@@include('./common/partials/KRC0003.html', {
                "slides" : [
                    {
                        "pcImg" : "/lg5-common/images/dummy/@img-slide01.jpg",
                        "mImg" : "/lg5-common/images/dummy/@img-slide01-m.jpg",
                        "eyebrow" : "LG전자 멤버십 앱",
                        "title" : "신규 설치 고객<br>경품 추천 이벤트",
                        "btn" : "자세히 보기"
                    },
                    {
                        "pcImg" : "/lg5-common/images/dummy/@img-slide01.jpg",
                        "mImg" : "/lg5-common/images/dummy/@img-slide01-m.jpg",
                        "eyebrow" : "LG전자 멤버십 앱",
                        "title" : "신규 설치 고객<br>경품 추천 이벤트",
                        "btn" : "자세히 보기"
                    },
                    {
                        "pcImg" : "/lg5-common/images/dummy/@img-slide01.jpg",
                        "mImg" : "/lg5-common/images/dummy/@img-slide01-m.jpg",
                        "eyebrow" : "LG전자 멤버십 앱",
                        "title" : "신규 설치 고객<br>경품 추천 이벤트",
                        "btn" : "자세히 보기"
                    }
                ]
			})
			<!-- //component KRC0003 -->

		</div>
	</div>
</body>
</html>