<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0037",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0037 -->
            
            <!-- component -->
            @@include('./common/partials/KRC0037.html',{
                "title": {
                    "align-class":"align-left",
                    "font-color":"text-black",
                    "font-class1": "font-regular",
                    "font-class2": "",
                    "headline": "<h2>더 작아진 바디, 한 손에 가볍게 2020 NEW gram</h2>",
                    "copy":"대화면의 즐거움에 빠져들다, WQXGA 고해상도, 16:10 화면비 <br>한손에 가볍게 언제 어디서든 즐기는 따라 올 수 없는 그래픽과 스피드 <br>익숙함과 편리함을 담은 풀사이즈 4열 숫자키보드, 듀얼 업그레이드까지"
                },
                "carousel": {
                    "item1": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    },
                    "item2": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    },
                    "item3": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    }
                },
                "component-class" : {
                    "margin" : "zero-top"
                }
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0037.html',{
                "title": {
                    "align-class":"align-center",
                    "font-color":"text-white",
                    "font-class1": "font-regular",
                    "font-class2": "",
                    "headline": "<h2>더 작아진 바디, 한 손에 가볍게 2020 NEW gram</h2>",
                    "copy":"대화면의 즐거움에 빠져들다, WQXGA 고해상도, 16:10 화면비 <br>한손에 가볍게 언제 어디서든 즐기는 따라 올 수 없는 그래픽과 스피드 <br>익숙함과 편리함을 담은 풀사이즈 4열 숫자키보드, 듀얼 업그레이드까지"
                },
                "carousel": {
                    "item1": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    },
                    "item2": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    },
                    "item3": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    }
                },
                "component-class" : {
                    "margin" : "zero-top"
                }
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0037.html',{
                "title": {
                    "align-class":"align-right",
                    "font-color":"text-white",
                    "font-class1": "font-regular",
                    "font-class2": "font-underline",
                    "headline": "<h2>더 작아진 바디, 한 손에 가볍게 2020 NEW gram</h2>",
                    "copy":"대화면의 즐거움에 빠져들다, WQXGA 고해상도, 16:10 화면비 <br>한손에 가볍게 언제 어디서든 즐기는 따라 올 수 없는 그래픽과 스피드 <br>익숙함과 편리함을 담은 풀사이즈 4열 숫자키보드, 듀얼 업그레이드까지"
                },
                "carousel": {
                    "item1": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    },
                    "item2": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    },
                    "item3": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    }
                },
                "component-class" : {
                    "margin" : "zero-top"
                }
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0037.html',{
                "title": {
                    "align-class":"align-center",
                    "font-color":"text-black",
                    "font-class1": "font-bold",
                    "font-class2": "",
                    "headline": "<h2>더 작아진 바디, 한 손에 가볍게 2020 NEW gram</h2>",
                    "copy":"대화면의 즐거움에 빠져들다, WQXGA 고해상도, 16:10 화면비 <br>한손에 가볍게 언제 어디서든 즐기는 따라 올 수 없는 그래픽과 스피드 <br>익숙함과 편리함을 담은 풀사이즈 4열 숫자키보드, 듀얼 업그레이드까지"
                },
                "carousel": {
                    "item1": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    },
                    "item2": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    },
                    "item3": {
                        "visual1":"/lg5-common/images/KRC0037/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0037/@thumb01_m.jpg"
                    }
                },
                "component-class" : {
                    "margin" : "zero-top"
                }
            })
            <!-- // component -->

            <!-- //component KRC0037 -->
		
		</div>
    </div>      
</body>
</html>