<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0029",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0029 -->

            <!-- 210325 히어로배너수정 -->
            <!-- Carousel -->
            <!-- Hero type -->
            @@include('./common/partials/KRC0029.html', {
                "common": {
                    "marginTop": "",
                    "marginBtm": ""
                },
                "title": {
                    "font-class1": "font-regular",
                    "font-class2": "font-underline",
                    "eyebrow": "공백포함 20자 이내로 작성 권장합니다.",
                    "headline": "<h2>공백포함 35자 이내로 헤드라인 타이틀 작성 권장합니다.</h2>",
                    "copy":"바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다."
                },
                "carousel": {
                    "type": "hero-banner",
                    "item1": {
                        "visual1":"/lg5-common/images/KRC0015/@img-1920x640-01.jpg",
                        "visual2":"/lg5-common/images/KRC0015/@img-720x920-01.jpg",
                        "align-class1":"align-left",
                        "align-class2":"align-top",
                        "width-class":"type-wide",
                        "boxAlign" : "box-align-left",
                        "font-color":"text-white",
                        "font-class1":"font-regular",
                        "font-class2":""
                    },
                    "item2": {
                        "visual1":"/lg5-common/images/KRC0015/@img-1920x640-01.jpg",
                        "visual2":"/lg5-common/images/KRC0015/@img-720x920-01.jpg",
                        "align-class1":"align-left",
                        "align-class2":"align-top",
                        "width-class":"type-wide",
                        "boxAlign" : "box-align-left",
                        "font-color":"text-white",
                        "font-class1":"font-regular",
                        "font-class2":""
                    },
                    "item3": {
                        "visual1":"/lg5-common/images/KRC0015/@img-1920x640-01.jpg",
                        "visual2":"/lg5-common/images/KRC0015/@img-720x920-01.jpg",
                        "align-class1":"align-right",
                        "align-class2":"align-middle",
                        "boxAlign" : "box-align-right",
                        "width-class":"type-narrow",
                        "font-color":"text-white",
                        "font-class1":"font-bold",
                        "font-class2":""
                    },
                    "item4": {
                        "visual1":"/lg5-common/images/KRC0015/@img-1920x640-01.jpg",
                        "visual2":"/lg5-common/images/KRC0015/@img-720x920-01.jpg",
                        "align-class1":"align-right",
                        "align-class2":"align-top",
                        "boxAlign" : "box-align-right",
                        "width-class":"type-narrow",
                        "font-color":"text-white",
                        "font-class1":"font-bold"
                    },
                    "item5": {
                        "visual1":"/lg5-common/images/KRC0015/@img-1920x640-01.jpg",
                        "visual2":"/lg5-common/images/KRC0015/@img-720x920-01.jpg",
                        "align-class1":"align-center",
                        "align-class2":"align-top",
                        "boxAlign" : "box-align-right",
                        "width-class":"type-narrow",
                        "font-color":"text-white",
                        "font-class1":"font-bold",
                        "font-class2":""
                    },
                    "item6": {
                        "visual1":"/lg5-common/images/KRC0015/@img-1920x640-01.jpg",
                        "visual2":"/lg5-common/images/KRC0015/@img-720x920-01.jpg",
                        "align-class1":"align-left",
                        "align-class2":"align-top",
                        "boxAlign" : "box-align-right",
                        "width-class":"type-narrow",
                        "font-color":"text-white",
                        "font-class1":"font-bold",
                        "font-class2":""
                    },
                    "item7": {
                        "visual1":"/lg5-common/images/KRC0015/@img-1920x640-01.jpg",
                        "visual2":"/lg5-common/images/KRC0015/@img-720x920-01.jpg",
                        "align-class1":"align-center",
                        "align-class2":"align-middle",
                        "boxAlign" : "box-align-center",
                        "width-class":"type-narrow",
                        "font-color":"text-white",
                        "font-class1":"font-bold",
                        "font-class2":""
                    }
                }
            })
            <!-- // Carousel -->
            <!-- //210325 히어로배너수정 -->


            <!-- Non Carousel -->
            <!-- Hero type -->
            @@include('./common/partials/KRC0029-one.html', {
                "common": {
                    "marginTop": "",
                    "marginBtm": ""
                },
                "carousel": {
                    "item1": {
                        "visual1":"/lg5-common/images/KRC0029/@thumb.jpg",
                        "visual2":"/lg5-common/images/KRC0029/@thumb-m.jpg",
                        "align-class1":"align-left",
                        "align-class2":"align-middle",
                        "boxAlign" : "box-align-left",
                        "width-class":"type-wide",
                        "font-color":"",
                        "font-class1":"font-regular",
                        "font-class2":""
                    }
                }
            })
            <!-- // Non Carousel -->

            <!-- //component KRC0029 -->

        </div>
    </div>
</body>
</html>