<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0030",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0030 -->
            <!-- component -->
            @@include('./common/partials/KRC0030.html',{
                "heading": "<h2>더 작아진 바디, 한 손에 가볍게 2020 NEW gram</h2>",
                "font-class": "font-regular",
                "font-style": "",
                "bg-color": "bg-lightgray"
            })
            <!-- // component -->
            <!-- component -->
            @@include('./common/partials/KRC0030.html',{
                "heading": "<h2>더 작아진 바디, 한 손에 가볍게 2020 NEW gram</h2>",
                "font-class": "font-regular",
                "font-style": "",
                "bg-color": "bg-dark"
            })
            <!-- // component -->
            <!-- component -->
            @@include('./common/partials/KRC0030.html',{
                "heading": "<h2>더 작아진 바디, 한 손에 가볍게 2020 NEW gram</h2>",
                "font-class": "font-regular",
                "font-style": "",
                "bg-color": "bg-black"
            })
            <!-- // component -->
            <!-- //component KRC0030 -->
		
		</div>
    </div>      
</body>
</html>