<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0039",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">
			<!-- component KRC0039 -->
            <!-- component -->
            @@include('./common/partials/KRC0039.html',{
                "visualFirst" : true,
                "verticalType" : "vertical-top",
                "images" : 1,
                "alignType1" : "align-left",
                "fontColor1" : "type-black",
                "lists" : 1,
                "fontStyle1" : ""
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0039.html',{
                "visualFirst" : true,
                "verticalType" : "vertical-middle",
                "images" : 2,
                "alignType1" : "align-center",
                "fontColor1" : "type-black",
                "lists" : 2,
                "fontStyle1" : ""
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0039.html',{
                "visualFirst" : true,
                "verticalType" : "vertical-bottom",
                "images" : 2,
                "alignType1" : "align-right",
                "fontColor1" : "type-black",
                "lists" : 1,
                "fontStyle1" : ""
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0039.html',{
                "visualLast" : true,
                "verticalType" : "vertical-top",
                "images" : 1,
                "alignType1" : "align-left",
                "fontColor1" : "type-black",
                "lists" : 1,
                "fontStyle1" : ""
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0039.html',{
                "visualLast" : true,
                "verticalType" : "vertical-middle",
                "images" : 2,
                "alignType1" : "align-center",
                "fontColor1" : "type-black",
                "lists" : 2,
                "fontStyle1" : ""
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0039.html',{
                "visualLast" : true,
                "verticalType" : "vertical-bottom",
                "images" : 2,
                "alignType1" : "align-right",
                "fontColor1" : "type-black",
                "lists" : 1,
                "fontStyle1" : ""
            })
            <!-- // component -->
            <!-- //component KRC0039 -->
		
		</div>
    </div>      
</body>
</html>