<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0039",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0044 -->

            <!-- component -->
            @@include('./common/partials/KRC0039.html', {
                "text-align" : "align-left",
                "font-style": "",
                "font-class1": "font-regular",
                "bg-color": "",
                "bg-all" : "bg-white",
                "component-class" : {
                    "margin" : ""
                }
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0039.html', {
                "text-align" : "align-left",
                "font-style": "",
                "font-class1": "font-regular",
                "bg-color": "",
                "bg-all" : "bg-lightgray",
                "component-class" : {
                    "margin" : ""
                }
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0039.html', {
                "text-align" : "align-left",
                "font-style": "",
                "font-class1": "font-regular",
                "bg-color": "",
                "bg-all" : "bg-dark",
                "component-class" : {
                    "margin" : ""
                }
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0039.html', {
                "text-align" : "align-right",
                "font-style": "",
                "font-class1": "font-regular",
                "bg-color": "",
                "bg-all" : "bg-black",
                "component-class" : {
                    "margin" : ""
                }
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0039.html', {
                "text-align" : "align-right",
                "font-style": "font-underline",
                "font-class1": "font-regular",
                "bg-color": "",
                "bg-all" : "bg-lightgray",
                "component-class" : {
                    "margin" : ""
                }
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0039.html', {
                "text-align" : "align-right",
                "font-style": "font-underline",
                "font-class1": "font-regular",
                "bg-color": "",
                "bg-all" : "bg-black",
                "component-class" : {
                    "margin" : ""
                }
            })
            <!-- // component -->

            <!-- //component KRC0044 -->

        </div>
    </div>
</body>
</html>