<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0023",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component image 좌측형, 텍스트 왼쪽정렬 --> 
            @@include('./common/partials/KRC0023.html', {
                "headline1-1":"<h2>제목1</h2>",
                "headline1-2":"<h2>제목2</h2>",
                "headline1-3":"<h2>제목3</h2>",
                "headline1-4":"<h2>제목4</h2>",
                "align-class1": "align-left",
                "align-class2": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": ""
            })
            <!-- // component image 좌측형, 텍스트 왼쪽정렬 -->
		</div>
    </div>     
</body>
</html>