<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0019"
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0019 -->
            <!-- 슬라이더 이미지 하단형, 텍스트 상단, 우측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0019">
                    <div class="text-area align-right">
                        <div class="inner">
                            <div class="title"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] as-is class .btn-primary -->
                                    <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drag-area desktop" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
<!--                        <p class="info-text p-middle p-center pc"><span class="font-16 font-semibold font-bg-black">graphic description graphic descriptiongraphic description graphic description graphic description : </span></p>-->
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
<!--                        <p class="info-text p-bottom p-center pc"><span class="font-16 font-semibold font-bg-black">graphic description graphic description graphic descriptiongraphic descriptiongraphic description: </span></p>-->
                    </div>
                    <div class="drag-area mobile" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
<!--                        <p class="info-text p-middle p-right mobile"><span class="font-16 font-semibold font-bg-black">graphic description  graphic description graphic descriptiongraphic descriptiongraphic description: </span></p>-->
                        <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
<!--                        <p class="info-text p-middle p-center mobile"><span class="font-16 font-semibold font-bg-black">graphic description  graphic descriptiongraphic descriptiongraphic descriptiongraphic descriptiongraphic description: </span></p>-->
                    </div>
                    <div class="disclaimer align-right">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                </div>
            </div>
            <!-- //슬라이더 이미지 하단형, 텍스트 상단, 우측 정렬 -->


            <!-- 슬라이더 이미지 하단형, 텍스트 상단, 중앙 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0019 bg-lightgray">
                    <div class="text-area align-center">
                        <div class="inner">
                            <div class="title"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy  ">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drag-area desktop" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                    </div>
                    <div class="drag-area mobile" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                    </div>
                    <div class="disclaimer align-center">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                </div>
            </div>
            <!-- //슬라이더 이미지 하단형, 텍스트 상단, 중앙 정렬 -->


            <!-- 슬라이더 이미지 하단형, 텍스트 상단, 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0019  bg-dark">
                    <div class="text-area align-left">
                        <div class="inner">
                            <div class="title"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy  ">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drag-area desktop" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                    </div>
                    <div class="drag-area mobile" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                    </div>
                    <div class="disclaimer align-left">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                </div>
            </div>
            <!-- //슬라이더 이미지 하단형, 텍스트 상단, 좌측 정렬 -->


            <!-- 슬라이더 이미지 상단형, 텍스트 하단, 우측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0019 type-bottom">
                    <div class="drag-area desktop" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                    </div>
                    <div class="drag-area mobile" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                    </div>
                    <div class="disclaimer align-right">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                    <div class="text-area align-right">
                        <div class="inner">
                            <div class="title"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy  ">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 상단형, 텍스트 하단, 우측 정렬 -->


            <!-- 슬라이더 이미지 상단형, 텍스트 하단, 중앙 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0019 type-bottom bg-lightgray">
                    <div class="drag-area desktop" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                    </div>
                    <div class="drag-area mobile" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                    </div>
                    <div class="disclaimer align-center">8K에서 더욱 빛나는 올레드 픽셀디밍
                        최대 2줄까지</div>
                    <div class="text-area align-center">
                        <div class="inner">
                            <div class="title"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 상단형, 텍스트 하단, 중앙 정렬 -->


            <!-- 슬라이더 이미지 상단형, 텍스트 하단, 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0019 type-bottom bg-black">
                    <div class="drag-area desktop" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                    </div>
                    <div class="drag-area mobile" data-handle-title="Move the slider to see more!">
                        <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                        <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                    </div>
                    <div class="disclaimer align-left">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                    <div class="text-area align-left">
                        <div class="inner">
                            <div class="title"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 상단형, 텍스트 하단, 좌측 정렬 -->
            <!-- //component KRC0019 -->
		
		</div>
    </div>      
</body>
</html>