<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0017"
    })
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0017 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0017"> <!-- [KR수정] 화면 Class 수정 -->
                    <div class="carousel-box"> <!-- [KR수정] .component-outer-box class 삭제 -->
                        <div class="list-box ui_carousel_slider">
                            <!-- [KR수정] indicator, arrow button DOM 추가-->
                            <ul class="indi-wrap ui_carousel_dots">
                                <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                            </ul>
                            <button type="button" class="btn-arrow prev">이전</button>
                            <!-- [KR수정] indicator, arrow button DOM 추가-->
                            <div class="items ui_carousel_track">
                                <div class="item ui_carousel_slide">   
                                    <div class="visual-area">
                                        <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                            <img class="lazyload" data-src="/lg5-common/images/KRC0017/@thumb01.jpg" alt="">
                                        </a>
                                    </div>           
                                    <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                                    <div class="bottom-btn btn-type-box">
                                        <span><a href="#none" class="btn" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary 삭제 -->
                                    </div>
                                    <div class="bottom-btn btn-type-text">	
                                        <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span><!-- [KR수정] class 전체 -> .btn-link로 교체 -->
                                    </div>           
                                </div>
                                <div class="item ui_carousel_slide">   
                                    <div class="visual-area">
                                        <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                            <img class="lazyload" data-src="/lg5-common/images/KRC0017/@thumb01.jpg" alt="">
                                        </a>
                                    </div>           
                                    <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                                    <div class="bottom-btn btn-type-box">
                                        <span><a href="#none" class="btn" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary 삭제 -->
                                    </div>
                                    <div class="bottom-btn btn-type-text">	
                                        <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span><!-- [KR수정] class 전체 -> .btn-link로 교체 -->
                                    </div>           
                                </div>
                                <div class="item ui_carousel_slide">   
                                    <div class="visual-area">
                                        <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                            <img class="lazyload" data-src="/lg5-common/images/KRC0017/@thumb01.jpg" alt="">
                                        </a>
                                    </div>           
                                    <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                                    <div class="bottom-btn btn-type-box">
                                        <span><a href="#none" class="btn" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary 삭제 -->
                                    </div>
                                    <div class="bottom-btn btn-type-text">	
                                        <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span><!-- [KR수정] class 전체 -> .btn-link로 교체 -->
                                    </div>           
                                </div>
                                <div class="item ui_carousel_slide">   
                                    <div class="visual-area">
                                        <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                            <img class="lazyload" data-src="/lg5-common/images/KRC0017/@thumb01.jpg" alt="">
                                        </a>
                                    </div>           
                                    <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                                    <div class="bottom-btn btn-type-box">
                                        <span><a href="#none" class="btn" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary 삭제 -->
                                    </div>
                                    <div class="bottom-btn btn-type-text">	
                                        <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span><!-- [KR수정] class 전체 -> .btn-link로 교체 -->
                                    </div>           
                                </div>
                                <div class="item ui_carousel_slide">   
                                    <div class="visual-area">
                                        <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                            <img class="lazyload" data-src="/lg5-common/images/KRC0017/@thumb01.jpg" alt="">
                                        </a>
                                    </div>           
                                    <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                                    <div class="bottom-btn btn-type-box">
                                        <span><a href="#none" class="btn" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary 삭제 -->
                                    </div>
                                    <div class="bottom-btn btn-type-text">	
                                        <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span><!-- [KR수정] class 전체 -> .btn-link로 교체 -->
                                    </div>           
                                </div>
                                <div class="item ui_carousel_slide">   
                                    <div class="visual-area">
                                        <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                            <img class="lazyload" data-src="/lg5-common/images/KRC0017/@thumb01.jpg" alt="">
                                        </a>
                                    </div>           
                                    <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                                    <div class="bottom-btn btn-type-box">
                                        <span><a href="#none" class="btn" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary 삭제 -->
                                    </div>
                                    <div class="bottom-btn btn-type-text">	
                                        <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span><!-- [KR수정] class 전체 -> .btn-link로 교체 -->
                                    </div>           
                                </div>
                                <div class="item ui_carousel_slide">   
                                    <div class="visual-area">
                                        <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                            <img class="lazyload" data-src="/lg5-common/images/KRC0017/@thumb01.jpg" alt="">
                                        </a>
                                    </div>           
                                    <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                                    <div class="bottom-btn btn-type-box">
                                        <span><a href="#none" class="btn" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary 삭제 -->
                                    </div>
                                    <div class="bottom-btn btn-type-text">	
                                        <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span><!-- [KR수정] class 전체 -> .btn-link로 교체 -->
                                    </div>           
                                </div>
                                <div class="item ui_carousel_slide">   
                                    <div class="visual-area">
                                        <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                            <img class="lazyload" data-src="/lg5-common/images/KRC0017/@thumb01.jpg" alt="">
                                        </a>
                                    </div>           
                                    <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                                    <div class="bottom-btn btn-type-box">
                                        <span><a href="#none" class="btn" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary 삭제 -->
                                    </div>
                                    <div class="bottom-btn btn-type-text">	
                                        <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span><!-- [KR수정] class 전체 -> .btn-link로 교체 -->
                                    </div>           
                                </div>
                            </div>
                            <!-- [KR수정] arrow btn DOM 추가 -->
                            <button type="button" class="btn-arrow next">다음</button>
                            <!-- // [KR수정] arrow btn DOM 추가 -->
                        </div>
                    </div>
                </div>
            </div>
                
		</div>
    </div>     
</body>
</html>