<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0010",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0010 -->
            <!-- 텍스트 좌측 정렬 -->
            <div class="component-wrap zero-top zero-btm">
                <section class="component KRC0010 bg-black text-white full">
                    <div class="heading-box align-left">
                        <div class="title"><h2>이달의 구매혜택을 비롯한 풍성한 혜택을 놓치지 마세요</h2></div>
                    </div>
                    <div class="banner-box align-left textblock-top-compo-top text-black">
                        <div class="visual-area">
                            <img data-src="/lg5-common/images/KRC0010/@sample-1284x562.png" alt="" class="pc lazyload">
                            <img data-src="/lg5-common/images/KRC0010/@sample-720x920.png" alt="" class="mobile lazyload">
                            <p class="hidden pc">graphic description : </p>
                        </div>
                        <div class="content-block">
                            <div class="text-block">
                                <div class="text-area">
                                    <div class="text-wrap">
                                        <div class="text">LG TROMM 의류 관리 가전<br>동시 구매 이벤트</div>
                                        <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                                        <div class="sub-text">의류 관리 가전 동시 구매시 90만원 혜택을 드립니다.</div>
                                    </div>
                                    <div class="btn-box">
                                        <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="unit-list align-left">
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/KRC0010/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title02">LG 트롬 스타일러 캐시백 10만원 증정 이벤트 LG 트롬 스타일러 캐시백 10만원 증정 이벤트 LG 트롬 스타일러 캐시백 10만원 증정 이벤트 LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title02">프로모션 보기</a></span>
                            </div>
                        </li>
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/KRC0010/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title03">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title03">프로모션 보기</a></span>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- //텍스트 좌측 정렬 -->

            <!-- 텍스트 중앙 정렬 -->
            <div class="component-wrap zero-top zero-btm">
                <section class="component KRC0010 bg-black text-white ">
                    <div class="heading-box align-center">
                        <div class="title"><h2>이달의 구매혜택을 비롯한 풍성한 혜택을 놓치지 마세요</h2></div>
                    </div>
                    <div class="banner-box align-center textblock-bottom-compo-middle text-white">
                        <div class="visual-area">
                            <img data-src="/lg5-common/images/KRC0010/@sample-1284x562.png" alt="" class="pc lazyload">
                            <img data-src="/lg5-common/images/KRC0010/@sample-720x920.png" alt="" class="mobile lazyload">
                            <p class="hidden pc">graphic description : </p>
                        </div>
                        <div class="content-block">
                            <div class="text-block">
                                <div class="text-area">
                                    <div class="text-wrap">
                                        <div class="text">LG TROMM 의류 관리 가전<br>동시 구매 이벤트</div>
                                        <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                                        <div class="sub-text">의류 관리 가전 동시 구매시 90만원 혜택을 드립니다.</div>
                                    </div>
                                    <div class="btn-box">
                                        <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="unit-list align-center">
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/KRC0010/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title05">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title02">프로모션 보기</a></span>
                            </div>
                        </li>
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/KRC0010/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title06">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title03">프로모션 보기</a></span>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- //텍스트 중앙 정렬 -->


            <!-- 텍스트 우측 정렬 -->
            <div class="component-wrap zero-top zero-btm">
                <section class="component KRC0010 bg-gray text-black full">
                    <div class="heading-box align-right">
                        <div class="title"><h2>이달의 구매혜택을 비롯한 풍성한 혜택을 놓치지 마세요</h2></div>
                    </div>
                    <div class="banner-box align-right textblock-bottom-compo-top text-black">
                        <div class="visual-area">
                            <img data-src="/lg5-common/images/KRC0010/@sample-1284x562.png" alt="" class="pc lazyload">
                            <img data-src="/lg5-common/images/KRC0010/@sample-720x920.png" alt="" class="mobile lazyload">
                            <p class="hidden pc">graphic description : </p>
                        </div>
                        <div class="content-block">
                            <div class="text-block">
                                <div class="text-area">
                                    <div class="text-wrap">
                                        <div class="text">LG TROMM 의류 관리 가전<br>동시 구매 이벤트</div>
                                        <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                                        <div class="sub-text">의류 관리 가전 동시 구매시 90만원 혜택을 드립니다.</div>
                                    </div>
                                    <div class="btn-box">
                                        <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="unit-list align-right">
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/KRC0010/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title08">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title02">프로모션 보기</a></span>
                            </div>
                        </li>
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/KRC0010/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title09">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title03">프로모션 보기</a></span>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- //텍스트 우측 정렬 -->
            <!-- //component KRC0010 -->
		
		</div>
    </div>      
</body>
</html>