<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0037"
})
<body>
    <div class="wrap">
        <div class="container">
            <!-- component KRC0037 -->
            <!-- component -->
            @@include('./common/partials/KRC0037.html',{
                "stageType" : "stage-full",
                "visualType" : "image",
                "verticalClass" : "vertical-top",
                "alignType1" : "align-left",
                "fontColor1" : "type-black",
                "alignType2" : "align-left",
                "fontColor2" : "type-black",
                "iconVertical" : "vertical-bottom",
                "lists" : 6
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0037.html',{
                "stageType" : "stage-wide",
                "visualType" : "image",
                "verticalClass" : "vertical-top",
                "alignType1" : "align-left",
                "fontColor1" : "type-black",
                "alignType2" : "align-left",
                "fontColor2" : "type-black",
                "iconVertical" : "vertical-bottom",
                "lists" : 6
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0037.html',{
                "darkImg" : true,
                "visualType" : "image",
                "verticalClass" : "vertical-top",
                "stageType" : "stage-wide",
                "alignType1" : "align-center",
                "fontColor1" : "type-white",
                "alignType2" : "align-center",
                "fontColor2" : "type-white",
                "iconVertical" : "vertical-bottom",
                "lists" : 6
            })
            <!-- // component -->
            <!-- //component KRC0037 -->
		
		</div>
    </div>      
</body>
</html>