{% extends "layout-type-iw-component.html" %}
{% block content %}

<link type="text/css" rel="stylesheet" href="/dist/css/KRC0040.min.css" />

<div class="component-wrap">
    <div class="component C0040">
        <!-- 자주 묻는 질문 -->
        <div class="row information-area">
            <div class="col-2 information-title"><i class="icon-text"></i>자주 묻는 질문</div>
            <div class="col-7 information-content">
				<div class="faq-wrap ui_accordion">
					<div class="inner">
						<div class="title-area">
							<h2 class="title">스타일러</h2>
							<h3 class="title-type2">스타일러 관련 자주 묻는 질문 보기</h3>
						</div>											
						<div class="faq-accordion">
							<dl class="card ui_accord_item">
								<dt class="card-header ui_accord_head">
									<a href="#none" class="ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
										<span class="initial">Q.</span>
										<div class="question">
											주문하면 얼마나 걸리나요?
										</div>
										<span class="blind ui_accord_text">내용 더 보기</span>
									</a>
								</dt>						
								<dd  class="card-body ui_accord_content">
									<div class="card-body-inner">
										<div class="answer">
                                            서울지역은 묶음배송(무료배송 지역)으로 진행되기에 주말, 공휴일 제외하고 평일기준 2-3주 전후로 소요되며, 그 외지역의 기본배송일은 주말 공휴일 제외하고 평일 기준 7-14일 전후로 소요됩니다.
										</div>
									</div>
								</dd>
							</dl>					
							<dl class="card ui_accord_item">
								<dt class="card-header ui_accord_head">
									<a href="#none" class="ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
										<span class="initial">Q.</span>
										<div class="question">
											구매 시, 스타일러 전용 옷걸이도 포함 되는 건가요?
										</div>
										<span class="blind ui_accord_text">내용 더 보기</span>
									</a>
								</dt>						
								<dd class="card-body ui_accord_content">
									<div class="card-body-inner">
										<div class="answer">
											스타일러 전용 옷걸이는 별도 구매하셔야 합니다.
										</div>
									</div>
								</dd>
							</dl>
							<dl class="card ui_accord_item">
								<dt class="card-header ui_accord_head">
									<a href="#none" class="ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
										<span class="initial">Q.</span>
										<div class="question">
											제품 및 구성품에 관련된 자주 묻는 질문
										</div>
										<span class="blind ui_accord_text">내용 더 보기</span>
									</a>
								</dt>						
								<dd class="card-body ui_accord_content">
									<div class="card-body-inner">
										<div class="answer">
											제품 및 구성품에 관련된 자주 묻는 질문에 대한 답변입니다.
										</div>
									</div>
								</dd>
							</dl>
							<dl class="card ui_accord_item">
								<dt class="card-header ui_accord_head">
									<a href="#none" class="ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
										<span class="initial">Q.</span>
										<div class="question">
											직접 기사님들이 설치까지 해 주시는 건가요?
										</div>
										<span class="blind ui_accord_text">내용 더 보기</span>
									</a>
								</dt>						
								<dd class="card-body ui_accord_content">
									<div class="card-body-inner">
										<div class="answer">
											기사님 설치 또는 직접 설치하실 수 있습니다.
										</div>
									</div>
								</dd>
							</dl>
							<dl class="card ui_accord_item">
								<dt class="card-header ui_accord_head">
									<a href="#none" class="ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
										<span class="initial">Q.</span>
										<div class="question">
											제품 및 구성품에 관련된 자주 묻는 질문
										</div>
										<span class="blind ui_accord_text">내용 더 보기</span>
									</a>
								</dt>						
								<dd class="card-body ui_accord_content">
									<div class="card-body-inner">
										<div class="answer">
											제품 및 구성품에 관련된 자주 묻는 질문에 대한 답변입니다.
										</div>
									</div>
								</dd>
							</dl>
						</div>
						<div class="bottom-area">
							<a href="#n" class="btn-faq-more">더 많은 질문 보기</a>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!-- // 자주 묻는 질문 -->
    </div>
</div>

{% endblock %}