<!-- KRC0025 빽업 -->
<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0025",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0025 -->
            <!-- component 1Block, 텍스트 중앙정렬, stage-full -->
            @@include('./common/partials/KRC0025-type1.html',{
                "headline":"<h2><img src='/lg5-common/images/dummy/img_logo_signature.svg' alt='' class='logo'> 거실의 인테리어와 조화를 이루는 나노 슬림 디자인</h2>",
               	"align-class1": "align-left",
                "align-class2": "align-left",
                "boxAlign" : "box-align-center",
                "boxSize" : "type-wide",
                "stage" : "stage-full",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "bg-dark",
                "size": "full-size",
                "slideBox-bg": "",
                "disclaimerBtn": "fc-white"
            })
            <!-- // component 1Block, 텍스트 중앙정렬, stage-full -->

            <!-- component 1Block, 텍스트 중앙정렬, stage-wide -->
            @@include('./common/partials/KRC0025-type1.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
               	"align-class1": "align-center",
                "align-class2": "align-left",
                "boxAlign" : "box-align-center",
                "boxSize" : "type-wide",
                "stage" : "stage-wide",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "full-size",
                "slideBox-bg": "bg-lightgray",
                "disclaimerBtn": ""
            })
            <!-- // component 1Block, 텍스트 중앙정렬, stage-wide -->

            <!-- component 1Block, 텍스트 중앙정렬, stage-standard -->
            @@include('./common/partials/KRC0025-type1.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
               	"align-class1": "align-right",
                "align-class2": "align-left",
                "boxAlign" : "box-align-center",
                "boxSize" : "type-wide",
                "stage" : "stage-standard",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "bg-lightgray",
                "size": "full-size",
                "slideBox-bg": "",
                "disclaimerBtn": "fc-white"
            })
            <!-- // component 1Block, 텍스트 중앙정렬, stage-standard -->

            <!-- component 1Block, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0025-type1.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
               	"align-class1": "align-center",
                "align-class2": "align-center",
                "boxAlign" : "box-align-center",
                "boxSize" : "type-wide",
                "stage" : "stage-standard",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "full-size",
                "slideBox-bg": "bg-lightgray",
                "disclaimerBtn": ""
            })
            <!-- // component 1Block, 텍스트 중앙정렬 -->

            <!-- component 1Block, 박스 오른쪽, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0025-type1.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-left",
                "align-class2": "align-left",
                "boxAlign" : "box-align-right",
                "boxSize" : "type-narrow",
                "stage" : "stage-standard",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "wide-size",
                "slideBox-bg": "",
                "disclaimerBtn": ""
            })
            <!-- // component 1Block, 박스 오른쪽, 텍스트 왼쪽정렬 -->














            <!-- component 2Block, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0025-type2.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-center",
                "align-class2": "align-center",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "standard-size",
                "slideBox-bg": "bg-lightgray",
                "disclaimerBtn": ""
            })
            <!-- // component 2Block, 텍스트 중앙정렬 -->

            <!-- component 2Block, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0025-type2.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-left",
                "align-class2": "align-left",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "wide-size",
                "slideBox-bg": "",
                "disclaimerBtn": ""
            })
            <!-- // component 2Block, 텍스트 왼쪽정렬 -->
















            <!-- component 3Block, 텍스트 중앙정렬  -->
            @@include('./common/partials/KRC0025-type3.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-center",
                "align-class2": "align-center",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "wide-size",
                "slideBox-bg": "",
                "disclaimerBtn": ""
            })
            <!-- // component 3Block, 텍스트 중앙정렬 -->

            <!-- component 3Block, 텍스트 왼쪽정렬  -->
            @@include('./common/partials/KRC0025-type3.html',{
                "headline":"<h2>거실의 인테리어와 조화를 <br>이루는 나노 슬림 디자인</h2>",
                "align-class1": "align-left",
                "align-class2": "align-left",
                "font-class": "font-regular",
                "font-style": "font-underline",
                "bg": "",
                "size": "standard-size",
                "slideBox-bg": "",
                "disclaimerBtn": ""
            })
            <!-- // component 3Block, 텍스트 왼쪽정렬 -->

            <!-- //component KRC0025 -->
		
		</div>
    </div>      
</body>
</html>