<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0003",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0003 -->
            <!-- component -->
            @@include('./common/partials/KRC0003.html', {
                "headline": "<h2>Vertical Selector 는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 1 Vertical Selector 는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 2 </h2>",
                "item" : "item5",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                }
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0003.html', {
                "headline": "<h2>Vertical Selector 는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 1 Vertical Selector 는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 2 </h2>",
                "item" : "item4",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                }
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0003.html', {
                "headline": "<h2>Vertical Selector 는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 1 Vertical Selector 는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 2 </h2>",
                "item" : "item3",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                }
            })
            <!-- // component -->

           <!-- component -->
           @@include('./common/partials/KRC0003.html', {
                "headline": "<h2>Vertical Selector 는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 1 Vertical Selector 는 PC기준 최대 2줄까지 표시됩니다, 그리드 영역내에서 줄바꿈 가능합니다 2 </h2>",
                "item" : "item2",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                }
            })
            <!-- // component --> 

            <!-- //component KRC0003 -->
		
		</div>
    </div>      
</body>
</html>