<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0001",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">

			<!-- component KRC0001 -->
			@@include('./common/partials/KRC0001.html', {
				"headline": "<h2>최근 본 제품</h2>",
				"items": [
					{
						"imgPC": "/lg5-common/images/KRC0001/@img-product01-pc.jpg",
						"imgMo": "/lg5-common/images/KRC0001/@img-product01-mo.jpg",
						"flag1": "<span class='tag'>NEW</span>",
						"flag2": "",
						"productName": "LG 올레드 AI ThinQ",
						"modelName": "OLED77CXKNA",
					},
					{
						"imgPC": "/lg5-common/images/KRC0001/@img-product02-pc.jpg",
						"imgMo": "/lg5-common/images/KRC0001/@img-product02-mo.jpg",
						"flag1": "<span class='tag'>TAG</span>",
						"flag2": "<span class='tag'>NEW</span>",
						"productName": "LG 울트라기어 게이밍 모니터 360",
						"modelName": "27GN880"
					},
					{
						"imgPC": "/lg5-common/images/KRC0001/@img-product01-pc.jpg",
						"imgMo": "/lg5-common/images/KRC0001/@img-product01-mo.jpg",
						"flag1": "<span class='tag'>NEW</span>",
						"flag2": "",
						"productName": "LG 올레드 AI ThinQ",
						"modelName": "OLED77CXKNA",
					},
					{
						"imgPC": "/lg5-common/images/KRC0001/@img-product02-pc.jpg",
						"imgMo": "/lg5-common/images/KRC0001/@img-product02-mo.jpg",
						"flag1": "<span class='tag'>TAG</span>",
						"flag2": "<span class='tag'>NEW</span>",
						"productName": "LG 울트라기어 게이밍 모니터 360",
						"modelName": "27GN880"
					},
					{
						"imgPC": "/lg5-common/images/KRC0001/@img-product01-pc.jpg",
						"imgMo": "/lg5-common/images/KRC0001/@img-product01-mo.jpg",
						"flag1": "<span class='tag'>NEW</span>",
						"flag2": "",
						"productName": "LG 올레드 AI ThinQ",
						"modelName": "OLED77CXKNA",
					},
					{
						"imgPC": "/lg5-common/images/KRC0001/@img-product02-pc.jpg",
						"imgMo": "/lg5-common/images/KRC0001/@img-product02-mo.jpg",
						"flag1": "<span class='tag'>TAG</span>",
						"flag2": "<span class='tag'>NEW</span>",
						"productName": "LG 울트라기어 게이밍 모니터 360",
						"modelName": "27GN880"
					},
				],
			})
			<!-- //component KRC0001 -->

		</div>
	</div>
</body>
</html>