<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0006",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component -->
            <!-- component Standard  이미지 좌측형 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0006.html', {
                "align-class1": "align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-style1": "font-underline",
                "image-align-class1": "image-align-left",
                "img": "/lg5-common/images/KRC0006/@thumb.jpg",
                "imgType": "animation",
                "bg-color": "bg-white"
            })
            <!-- // component Standard  이미지 좌측형 텍스트 왼쪽정렬 -->
            <!-- // component -->

            <!-- component -->
            <!-- component Standard  이미지 좌측형 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0006.html', {
                "align-class1": "align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-style1": "font-underline",
                "image-align-class1": "image-align-left",
                "img": "/lg5-common/images/KRC0006/@thumb.jpg",
                "imgType": "youtube",
                "bg-color": "bg-white"
            })
            <!-- // component Standard  이미지 좌측형 텍스트 오른쪽정렬 -->
            <!-- // component -->

            <!-- component -->
            <!-- component Standard  이미지 좌측형 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0006.html', {
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-style1": "font-underline",
                "image-align-class1": "image-align-left",
                "img": "/lg5-common/images/KRC0006/@thumb.jpg",
                "imgType": "youtube",
                "bg-color": "bg-white"
            })
            <!-- // component Standard  이미지 좌측형 텍스트 중앙정렬 -->
            <!-- // component -->

            <!-- component -->
            <!-- component Standard  이미지 우측형 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0006.html', {
                "align-class1": "align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-style1": "font-underline",
                "image-align-class1": "image-align-right",
                "img": "/lg5-common/images/KRC0006/@thumb.jpg",
                "imgType": "youtube",
                "bg-color": "bg-white"
            })
            <!-- // component Standard  이미지 우측형 텍스트 왼쪽정렬 -->
            <!-- // component -->

            <!-- component -->
            <!-- component Standard  이미지 우측형 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0006.html', {
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-style1": "font-underline",
                "image-align-class1": "image-align-right",
                "img": "/lg5-common/images/KRC0006/@thumb.jpg",
                "imgType": "youtube",
                "bg-color": "bg-white"
            })
            <!-- // component Standard  이미지 우측형 텍스트 중앙정렬 -->
            <!-- // component -->
		</div>
    </div>


    <!-- 2021.02.04 동영상 자막 영역 추가 -->
    <!-- 유튜브 자막 -->
    <div class="video-modal video-box-closeset youtube" style="display:block"> 
        <div class="modal-video-asset"> 
            <div class="video-asset">  
                <iframe id="videoPlayerCode" frameborder="0" allowfullscreen="1" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/PetoQo1eUww"></iframe>  
            </div>

            <div class="cap-section">
                <h2>(동영상 타이틀 영역) 인공지능 스스로 에어컨 LG 휘센 씽큐</h2>
                <!--자막 영역 -->
                <textarea class="rectangle" readonly>[자막]
때때로 인간의 욕심은 끝이 없다
에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고
그럼, 어떻게?
[FF]에러 혹은 [OE]에러 표시가 나타나는 경우는 배수펌프 내부가 얼어있는 경우입니다.
따뜻한 물을 통해 얼어있는 배수펌프 내부를 녹여주세요.
물을 붓고 문을 닫은 후 한두시간 가량 기다려 주세요.
한두시간 경과 후 서비스 커버를 열고 잔수제거용 호스마개를 열어 물을 완전히 제거해 주세요.
물이 나오지 않으면 얼음이 다 녹지 않은 것입니다.
남은 얼음이 모두 녹을 때까지 조금 더 기다렸다가 물을 빼주십시오.
물을 뺀 후 잔수제거용 호스 마개와 서비스커버를 닫아 줍니다.
전원을 켠 후 [헹굼1회]를 선택해 동작시켜 세탁기가 정상적으로 작동되는지 확인해주세요.</textarea>
                <!--//자막 영역 -->
            </div> 
        </div> 
        <button class="close-video">동영상 닫기</button>
    </div>
    

    <!-- 애니메이션 자막 -->
    <div class="component-wrap full zero-top zero-btm" style="display:none;">
        <!--
            1. 여백
            .zero-top : 상단여백 없음
            .zero-btm : 하단여백 없음
            
            2. 리스트 템플릿
            <div class="item-inner">
                <span class="img-area">
                    <img src="/lg5-common/images/KRP0015/@img-pc.jpg" alt="">
                    <p class="hidden">graphic description : </p>
                </span>
                <div class="item-text">
                    <p class="product-name">LG DIOS 노크온 매직스페이스</p>
                    <p class="modal-name">S831MC841AC</p>
                </div>
            </div>
            <button type="button" class="btn-close"><span class="blind">닫기</span></button>
        -->
        <div class="component ani-caption">
            <!-- 자막 입력 영역 -->
            <article class="cap-section">
                <h1>인공지능 스스로 에어컨 LG 휘센 씽큐(제목제목)제목))</h1>
                <textarea class="rectangle" readonly>
[자막1] 때때로 인간의 욕심은 끝이 없다. 
에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
[자막2] 때때로 인간의 욕심은 끝이 없다. 
에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
[자막3] 때때로 인간의 욕심은 끝이 없다. 
에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
방까지 시원했으면 좋겠고  그럼, 어떻게?
                </textarea>
            </article>
            <!-- //자막 입력 영역 -->
            <button type="button" class="btn-close"><span class="blind">닫기</span></button>
        </div>
    </div>
    <!-- //2021.02.04 동영상 자막 영역 추가 -->
    
    
    

</body>
</html>