<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0013",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0013 -->
            <!-- Standard 이미지 좌측형, 텍스트 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-left standard">
                    <div class="visual-wrap image-align-left">
                        <!-- 이미지 : 애니메이션 타입인 경우 -->
                        <div class="visual-area animation-box">
                            <img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyloaded" data-loaded="true">
                            <div class="animation-area">
                                <video autoplay="" muted="" loop="">
                                    <source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
                                </video>
                                <div class="controller-wrap wa-btn">
                                    <button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
                                </div>
                            </div>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <!-- // 이미지 : 애니메이션 타입인 경우 -->
                        <div class="desc font-regular align-left">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                    <div class="text-wrap side-right-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title01"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title01">문의하기</a></span><!-- [KR수정] as-is class .btn-primary -->
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title01">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title01">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title01">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                </section>
            </div>
            <!-- // Standard 이미지 좌측형, 텍스트 좌측 정렬 -->


            <!-- Standard 이미지 좌측형, 텍스트 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-left standard">
                    <div class="visual-wrap image-align-left">
                        <!-- 이미지 : 동영상 타입인 경우 -->
                        <div class="visual-area video youtube-box"><!-- [KR수정] .youtube-box 추가 - 동영상 모달 클래스 -->
                             <a href="#" class="see-video" data-src="http://www.youtube.com/embed/PetoQo1eUww" data-target="modal" data-link-area="side_image_text-video_play" data-link-name="{video title / video id}" aria-describedby="title02">
                                <img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyloaded" data-loaded="true">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                            </a>
                        </div>
                        <!-- // 이미지 : 동영상 타입인 경우 -->
                        <div class="desc font-regular align-left">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                    <div class="text-wrap side-right-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title02"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                </section>
            </div>
            <!-- // Standard 이미지 좌측형, 텍스트 좌측 정렬 -->


            <!-- Standard 이미지 좌측형, 텍스트 우측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-right standard">
                    <div class="visual-wrap image-align-left">
                        <!-- 이미지 : 동영상 타입인 경우 -->
                        <div class="visual-area video youtube-box">
                            <a href="#" class="see-video" data-src="http://www.youtube.com/embed/PetoQo1eUww" data-target="modal" data-link-area="side_image_text-video_play" data-link-name="{video title / video id}" aria-describedby="title03">
                                <img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyloaded" data-loaded="true">

                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                            </a>
                        </div>
                        <!-- // 이미지 : 동영상 타입인 경우 -->
                        <div class="desc font-regular align-right">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                    <div class="text-wrap side-right-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title02"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                </section>
            </div>
            <!-- // Standard 이미지 좌측형, 텍스트 우측 정렬 -->


            <!-- Standard 이미지 좌측형, 텍스트 중앙 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-center standard">
                    <div class="visual-wrap image-align-left">
                        <!-- 이미지 : 동영상 타입인 경우 -->
                        <div class="visual-area video youtube-box">
                            <a href="#" class="see-video" data-src="http://www.youtube.com/embed/PetoQo1eUww" data-target="modal" data-link-area="side_image_text-video_play" data-link-name="{video title / video id}" aria-describedby="title04">
                                <img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                            </a>
                        </div>
                        <!-- // 이미지 : 동영상 타입인 경우 -->
                        <div class="desc font-regular align-center">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                    <div class="text-wrap side-right-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title02"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                </section>
            </div>
            <!-- // Standard 이미지 좌측형, 텍스트 중앙 정렬 -->


            <!-- Standard 이미지 우측형, 텍스트 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-left standard">
                    <div class="text-wrap side-left-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title03"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area image">
                            <a href="#" target="_blank" data-link-area="side_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload"></a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="desc font-regular align-left">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                </section>
            </div>
            <!-- // Standard 이미지 우측형, 텍스트 좌측 정렬 -->


            <!-- Standard 이미지 우측형, 텍스트 우측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-right standard">
                    <div class="text-wrap side-left-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title03"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area image">
                            <a href="#" target="_blank" data-link-area="side_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload"></a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="desc font-regular align-right">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                </section>
            </div>
            <!-- // Standard 이미지 우측형, 텍스트 우측 정렬 -->


            <!-- Standard 이미지 우측형, 텍스트 중앙 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-center standard">
                    <div class="text-wrap side-left-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title03"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area image">
                            <a href="#" target="_blank" data-link-area="side_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload"></a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="desc font-regular align-center">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                </section>
            </div>
            <!-- // Standard 이미지 우측형, 텍스트 중앙 정렬 -->


            <!-- Large 이미지 좌측형, 텍스트 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-left large">
                    <div class="visual-wrap image-align-left">
                        <!-- 이미지 : 동영상 타입인 경우 -->
                        <div class="visual-area video youtube-box">
                            <a href="#" class="see-video" data-src="http://www.youtube.com/embed/PetoQo1eUww" data-target="modal" data-link-area="side_image_text-video_play" data-link-name="{video title / video id}" aria-describedby="title08">
                                <img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                            </a>
                        </div>
                        <!-- // 이미지 : 동영상 타입인 경우 -->
                        <div class="desc font-regular align-left">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                    <div class="text-wrap side-right-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title02"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                </section>
            </div>
            <!-- // Large 동영상 좌측형, 텍스트 좌측 정렬 -->


            <!-- Large 이미지 좌측형, 텍스트 우측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-right large">
                    <div class="visual-wrap image-align-left">
                        <!-- 이미지 : 동영상 타입인 경우 -->
                        <div class="visual-area video youtube-box">
                            <a href="#" class="see-video" data-src="http://www.youtube.com/embed/PetoQo1eUww" data-target="modal" data-link-area="side_image_text-video_play" data-link-name="{video title / video id}" aria-describedby="title09">
                                <img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                            </a>
                        </div>
                        <!-- // 이미지 : 동영상 타입인 경우 -->
                        <div class="desc font-regular align-right">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                    <div class="text-wrap side-right-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title02"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                </section>
            </div>
            <!-- // Large 이미지 좌측형, 텍스트 우측 정렬 -->


            <!-- Large 이미지 좌측형, 텍스트 중앙 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-center large">
                    <div class="visual-wrap image-align-left">
                        <!-- 이미지 : 동영상 타입인 경우 -->
                        <div class="visual-area video youtube-box">
                            <a href="#" class="see-video" data-src="http://www.youtube.com/embed/PetoQo1eUww" data-target="modal" data-link-area="side_image_text-video_play" data-link-name="{video title / video id}" aria-describedby="title10">
                                <img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload">
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                            </a>
                        </div>
                        <!-- // 이미지 : 동영상 타입인 경우 -->
                        <div class="desc font-regular align-center">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                    <div class="text-wrap side-right-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title02"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                </section>
            </div>
            <!-- // Large 이미지 좌측형, 텍스트 중앙 정렬 -->


            <!-- Large 이미지 우측형, 텍스트 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-left large">
                    <div class="text-wrap side-left-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title03"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area image">
                            <a href="#" target="_blank" data-link-area="side_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload"></a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="desc font-regular align-left">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                </section>
            </div>
            <!-- // Large 이미지 우측형, 텍스트 좌측 정렬 -->


            <!-- Large 이미지 우측형, 텍스트 우측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-right large">
                    <div class="text-wrap side-left-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title03"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area image">
                            <a href="#" target="_blank" data-link-area="side_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload"></a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="desc font-regular align-right">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                </section>
            </div>
            <!-- // Large 이미지 우측형, 텍스트 우측 정렬 -->


            <!-- Large 이미지 우측형, 텍스트 중앙 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <section class="component KRC0013 align-center large">
                    <div class="text-wrap side-left-text">
                        <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                        <div class="title" id="title03"><h2>Standard img 템플릿의 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다 1 Standard img 템플릿의 타이틀 텍스트는PC기준 최대 2줄까지 표시됩니다</h2></div>
                        <div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 재현해 초대형 화면을 위한 차원이 다른 화질을 선사합니다</div>
                        <div class="btn-type-box">
                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                            <span><a href="#none" class="btn btn-primary" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">문의하기</a></span>
                        </div>
                        <div class="btn-type-text">
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                            <span><a href="#none" class="link-text bold ico-right" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title03">텍스트 링크 버튼</a></span>
                        </div>
                    </div>
                    <div class="visual-wrap image-align-right">
                        <div class="visual-area image">
                            <a href="#" target="_blank" data-link-area="side_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/dummy/sample-16-9.gif" alt="" class="lazyload"></a>
                            <p class="hidden">graphic description : </p>
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="desc font-regular align-center">세계 최초 초대형 리얼 8K 올레드 / 3세대 인공지능 알파9 / 인공지능 ThinQ / 시그니처 디자인</div>
                    </div>
                </section>
            </div>
            <!-- // Large 이미지 우측형, 텍스트 중앙 정렬 -->
            <!-- //component KRC0013 -->

		</div>
    </div>

</body>
</html>