{% extends "layout-type-iw-component.html" %}
{% block content %}         

<link type="text/css" rel="stylesheet" href="/dist/css/KRC0015.min.css" />

<div id="pdp_support" class="component-wrap">                                   
    <section class="component KRC0015">
        <div class="support-box">                              
            <h2 class="title">고객 지원</h2>
                                                                   
            <ul class="list-box">
                <li>
                    <a href="#">
                        <div class="icon"><img src="/dist/images/img-0015-1.png" alt=""></div>
                        <div class="tit">전화 상담 예약</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="/dist/images/img-0015-2.png" alt=""></div>
                        <div class="tit">채팅 상담</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="/dist/images/img-0015-1.png" alt=""></div>
                        <div class="tit">채팅 상담</div>
                    </a>
                </li>
            </ul>
                                    
        </div>  
        <div class="support-box">                              
            <h2 class="title">제품 지원</h2>
                                                                    
            <ul class="list-box">
                <li>
                    <a href="#">
                        <div class="icon"><img src="/dist/images/img-0015-1.png" alt=""></div>
                        <div class="tit">제품 메뉴얼</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="/dist/images/img-0015-1.png" alt=""></div>
                        <div class="tit">다운로드 자료실</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon"><img src="/dist/images/img-0015-1.png" alt=""></div>
                        <div class="tit">서비스센터 찾기</div>
                    </a>
                </li>
            </ul>
                                    
        </div>                                           
    </section>                                         
</div>

{% endblock %}