<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0019",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0019 -->
            <!-- component -->
            @@include('./common/partials/KRC0019.html',{
                "flow-type" : "flow-left",
                "fisrt-square" : {
                    "class" : "main",
                    "head" : "<h2>더 작아진 바디, 한 손에 가볍게<br>LG Gram 17</h2>",
                    "img-src" : "/lg5-common/images/KRC0019/@thumb-big",
                    "img-src-m" : "/lg5-common/images/KRC0019/@thumb-big-m",
                    "img-type" : "jpg"
                },
     
                "secondSquare" : {
                    "class" : "sub",
                    "head" : "<h2>더 작아진 바디, 한 손에 가볍게<br>LG Gram 17</h2>",
                    "img-src" : "/lg5-common/images/KRC0019/@thumb-small",
                    "img-src-m" : "/lg5-common/images/KRC0019/@thumb-small-m",
                    "img-type" : "jpg",
                    "videoType" : "animation"
                },
                "bg-color":"bg-white"
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0019.html',{
                "flow-type" : "flow-right",
                "fisrt-square" : {
                    "class" : "sub",
                    "head" : "<h2>더 작아진 바디, 한 손에 가볍게<br>LG Gram 17</h2>",
                    "img-src" : "/lg5-common/images/KRC0019/@thumb-small",
                    "img-src-m" : "/lg5-common/images/KRC0019/@thumb-small-m",
                    "img-type" : "jpg"
                },

                "secondSquare" : {
                    "class" : "main",
                    "head" : "<h2>더 작아진 바디, 한 손에 가볍게<br>LG Gram 17</h2>",
                    "img-src" : "/lg5-common/images/KRC0019/@thumb-big",
                    "img-src-m" : "/lg5-common/images/KRC0019/@thumb-big-m",
                    "img-type" : "jpg",
                    "videoType" : "youtube"
                    
                },
                "bg-color":"bg-white"
            })
            <!-- // component -->
            <!-- //component KRC0019 -->
		
		</div>
    </div>      
</body>
</html>