{% extends "layout-type-iw-component.html" %}
{% block content %}

<link type="text/css" rel="stylesheet" href="/dist/css/KRC0013.min.css" />

<div class="component-wrap">
    <div class="component KRC0013">
        <h2 class="section-title">제품 스펙</h2>
        <!-- 주요 특징 -->
        <div class="row information-area">
            <div class="col-2 information-title"><i class="icon-text"></i>주요 특징</div>
            <div class="col-10 information-content">
                <ul class="spec-list">
                    <li>간편비움시스템</li>
                    <li>스마트 인버터 모터 10년 무상보증, 배터리 2년 무상보증</li>
                    <li>LG ThinQ (청소이력모니터링, 스마트진단, 충전상태와 필터 청소가이드 확인)</li>
                    <li>파워드라이브 흡입구 (마루/침구/물걸레 기능)</li>
                    <li>머리카락 엉킴 방지 브러시</li>
                    <li>미세먼지 99.999% 차단</li>
                </ul>
                <div class="spec-image">
                    <div class="pc-view">
                        <img src="/dist/images/img-0013-01-pc.jpg" alt="제품 스펙">
                    </div>
                    <div class="mobile-view">
                        <ul>
                            <li><img src="/dist/images/img-0013-01-mo.jpg" alt="제품 스펙1"></li>
                            <li><img src="/dist/images/img-0013-02-mo.jpg" alt="제품 스펙2"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- // 주요 특징 -->
        <!-- 고지정보 -->
        <div class="row information-area">
            <div class="col-2 information-title"><i class="icon-text"></i>고지정보</div>
            <div class="col-10 information-content">
                <ul class="row spec-information">
                    <li class="col-4">
                        <dl>
                            <dt>전기용품 안전인증번호(충전대)</dt>
                            <dd>HU071769-17002</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>전기용품 안전인증번호(충전대)</dt>
                            <dd>HU071769-17002</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>전자파 적합성 인증번호(충전대)</dt>
                            <dd>MSIP-REM-HR3-ADC-30FSA29430</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>정격전압</dt>
                            <dd>220 V ~ 60 Hz</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>소비전력</dt>
                            <dd>590W</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>에너지 소비효율등급</dt>
                            <dd>해당 없음</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>동일모델의 출시년월</dt>
                            <dd>2020년 2월</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>제조자.수입자</dt>
                            <dd>LG전자</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>제조국</dt>
                            <dd>한국</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>크기</dt>
                            <dd>250 x 260 x 1120 mm</dd>
                        </dl>
                    </li>
                    <li class="col-4">
                        <dl>
                            <dt>품질보증기준</dt>
                            <dd>
                                소비자보호 17조
                                <div class="tooltip-inline">
                                    <div class="tooltip">
                                        <button type="button"><span class="blind">도움말</span></button>
                                        <div class="tooltip-box"></div>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <div class="information-more">
                    <button type="button" class="more-button">
                        <em>접기</em>
                    </button>
                </div>
            </div>
        </div>
        <!-- // 고지정보 -->
    </div>
</div>

{% endblock %}