<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0022",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component KRC0026 -->
            <!-- component image 좌측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0022.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-left",
                "large-align": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "",
                "bg" : "bg-lightgray"
            })
            <!-- // component image 좌측형, 텍스트 왼쪽정렬 -->

            <!-- component video 좌측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0022-video.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-left",
                "large-align": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "",
                "bg" : "bg-black"
            })
            <!-- // component video 좌측형, 텍스트 왼쪽정렬 -->

            <!-- component image 좌측형, 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0022.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-right",
                "large-align": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "",
                "bg" : "bg-lightgray"
            })
            <!-- // component image 좌측형, 텍스트 오른쪽정렬 -->

            <!-- component video 좌측형, 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0022-video.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-right",
                "large-align": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "",
                "font-style2": "font-underline",
                "size" : "",
                "bg" : "bg-lightgray"
            })
            <!-- // component video 좌측형, 텍스트 오른쪽정렬 -->

            <!-- component image 좌측형, 텍스트 중앙정렬 -->
            <!-- @@include('./common/partials/KRC0022.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-center",
                "large-align": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "full",
                "bg" : "bg-black"
            }) -->
            <!-- // component image 좌측형, 텍스트 중앙정렬 -->

            <!-- component video 좌측형, 텍스트 중앙정렬 -->
            @@include('./common/partials/KRC0022-video.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-center",
                "large-align": "large-align-left",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "full",
                "size" : "",
                "bg" : "bg-black"
            })
            <!-- // component video 좌측형, 텍스트 중앙정렬 -->

            <!-- component image 우측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0022.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-left",
                "large-align": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "",
                "bg" : "bg-black"
            })
            <!-- // component image 우측형, 텍스트 왼쪽정렬 -->

            <!-- component video 우측형, 텍스트 왼쪽정렬 -->
            @@include('./common/partials/KRC0022-video.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-left",
                "large-align": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "",
                "bg" : "bg-lightgray"
            })
            <!-- // component video 우측형, 텍스트 왼쪽정렬 -->
                        
            <!-- component image 우측형, 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0022.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-right",
                "large-align": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "",
                "bg" : "bg-black"
            })
            <!-- // component image 우측형, 텍스트 오른쪽정렬 -->

            <!-- component video 우측형, 텍스트 오른쪽정렬 -->
            @@include('./common/partials/KRC0022-video.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-right",
                "large-align": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "",
                "font-style2": "font-underline",
                "size" : "",
                "bg" : "bg-lightgray"
            })
            <!-- // component video 우측형, 텍스트 오른쪽정렬 -->

            <!-- component image 우측형, 텍스트 중앙정렬 -->
            <!-- @@include('./common/partials/KRC0022.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-center",
                "large-align": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "full",
                "bg" : "bg-black"
            }) -->
            <!-- // component image 우측형, 텍스트 중앙정렬 -->

            <!-- component video 우측형, 텍스트 중앙정렬 -->
            <!-- @@include('./common/partials/KRC0022-video.html', {
                "headline1":"<h2>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다.</h2>",
                "headline2-1":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 1</h3>",
                "headline2-2":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 2</h3>",
                "headline2-3":"<h3>깨끗함 위의 깨끗함, LG 트윈워시 <br>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다. 3</h3>",
                "align-class1": "align-center",
                "large-align": "large-align-right",
                "font-class1": "font-regular",
                "font-class2": "font-regular-italic",
                "font-style1": "font-underline",
                "font-style2": "",
                "size" : "full",
                "bg" : "bg-black"
            }) -->
            <!-- // component video 우측형, 텍스트 중앙정렬 -->
            
            <!-- component KRC0022 -->
		</div>
    </div>     
</body>
</html>