<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0029",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0029 -->
            <!-- component -->
            @@include('./common/partials/KRC0029.html',{
                "flow-type" : "flow-left",
                "fisrt-square" : {
                    "class" : "main",
                    "head" : "<h2>더 작아진 바디, 한 손에 가볍게<br>LG Gram 17</h2>",
                    "img-src" : "/lg5-common/images/KRC0029/@sample-860x400",
                    "img-src-m" : "/lg5-common/images/KRC0029/@sample-720x600",
                    "img-type" : "jpg"
                },
                "second-square" : {
                    "class" : "sub",
                    "head" : "<h2>더 작아진 바디, 한 손에 가볍게<br>LG Gram 17</h2>",
                    "img-src" : "/lg5-common/images/KRC0029/@sample-424x400",
                    "img-src-m" : "/lg5-common/images/KRC0029/@sample-720x600",
                    "img-type" : "jpg"
                }
            })
            <!-- // component -->


            <!-- component -->
            @@include('./common/partials/KRC0029.html',{
                "flow-type" : "flow-right",
                "fisrt-square" : {
                    "class" : "sub",
                    "head" : "<h2>더 작아진 바디, 한 손에 가볍게<br>LG Gram 17</h2>",
                    "img-src" : "/lg5-common/images/KRC0029/@sample-424x400",
                    "img-src-m" : "/lg5-common/images/KRC0029/@sample-720x600",
                    "img-type" : "jpg"
                },
                "second-square" : {
                    "class" : "main",
                    "head" : "<h2>더 작아진 바디, 한 손에 가볍게<br>LG Gram 17</h2>",
                    "img-src" : "/lg5-common/images/KRC0029/@sample-860x400",
                    "img-src-m" : "/lg5-common/images/KRC0029/@sample-720x600",
                    "img-type" : "jpg"
                }
            })
            <!-- // component -->
            <!-- //component KRC0029 -->
		
		</div>
    </div>      
</body>
</html>