<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0028",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0028 -->

            <!-- component C0059-5ea.hbs -->
            @@include('./common/partials/KRC0028-5ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-left"
            })
            <!-- // component -->


            <!-- component C0059-5ea.hbs -->
            @@include('./common/partials/KRC0028-5ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-right"
            })
            <!-- // component -->


            <!-- component C0059-4ea.hbs -->
            @@include('./common/partials/KRC0028-4ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-left"
            })
            <!-- // component -->


            <!-- component C0059-4ea.hbs -->
            @@include('./common/partials/KRC0028-4ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-right"
            })
            <!-- // component -->


            <!-- component C0059-4ea-2.hbs -->
            @@include('./common/partials/KRC0028-4ea-2.html',{
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-mix"
            })
            <!-- // component -->


            <!-- component C0059-3ea.hbs -->
            @@include('./common/partials/KRC0028-3ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-left"
            })
            <!-- // component -->


            <!-- component C0059-3ea.hbs -->
            @@include('./common/partials/KRC0028-3ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-right"
            })
            <!-- // component -->

            <!-- //component KRC0028 -->

        </div>
    </div>
</body>
</html>