<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0056",
		isJScompile: false,
	})
<body>
	<div class="wrap">
		<div class="container">

			<!-- component-wrap -->
			<div class="component-wrap">
				<!--
					1. 여백
					.zero-top : 상단여백 없음
					.zero-btm : 하단여백 없음
				-->

				<!-- [JSON setting]

					"type": bg-image(배경이미지 타입) / bg-animation(배경영상 타입)
					"imgUrl": 배경이미지 경로
					"themeColor": 빈값(기본 블랙컬러) / text-white(흰색 폰트컬러)
					"items": [
						"align": flex-left(좌측정렬) / flex-center(중앙정렬) / flex-right(우측정렬)
						"thumbnail": 썸네일 이미지 경로
						"thumbnailAlt": 썸네일 이미지 alt값
						"itemTitle": 아이템 타이틀
						"itemSubTitle": 아이템 서브타이틀
						"itemText": 아이템 바디카피
						"itemBullet": 아이템 하단 불릿텍스트
					]
				-->

				<!-- case1. 배경이미지 일때 -->
				@@include('./common/partials/KRC0056.html', {
					"type": "bg-image",
					"imgUrlPC": "/lg5-common/images/KRC0056/@KRC0056-BG.jpg",
					"imgUrlMO": "/lg5-common/images/KRC0056/@KRC0056-BG.jpg",
					"themeColor": "",
					"items": [
						{
							"align": "flex-left",
							"thumbnail": "/lg5-common/images/KRC0056/@KRC0056-img-thumbnail.jpg",
							"thumbnailAlt": "상품1 이미지",
							"itemTitle": "<h2>타이틀 공백포함 최대 40자까지 입력가능합니다. 최대 40자까지 입력</h2>",
							"itemSubTitle": "서브타이틀 공백포함 최대 30자까지 입력가능합니다.",
							"itemText": "바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다.",
							"itemBullet": "디스클레이머 최대 30자까지 입력가능합니다. 30자입력",
						},
						{
							"align": "flex-center",
							"thumbnail": "/lg5-common/images/KRC0056/@KRC0056-img-thumbnail.jpg",
							"thumbnailAlt": "상품2 이미지",
							"itemTitle": "<h2>타이틀 공백포함 최대 40자까지 입력가능합니다. 최대 40자까지 입력</h2>",
							"itemSubTitle": "서브타이틀 공백포함 최대 30자까지 입력가능합니다.",
							"itemText": "바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다.",
							"itemBullet": "디스클레이머 최대 30자까지 입력가능합니다. 30자입력",
						},
						{
							"align": "flex-right",
							"thumbnail": "/lg5-common/images/KRC0056/@KRC0056-img-thumbnail.jpg",
							"thumbnailAlt": "상품3 이미지",
							"itemTitle": "<h2>타이틀 공백포함 최대 40자까지 입력가능합니다. 최대 40자까지 입력</h2>",
							"itemSubTitle": "서브타이틀 공백포함 최대 30자까지 입력가능합니다.",
							"itemText": "바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다.",
							"itemBullet": "디스클레이머 최대 30자까지 입력가능합니다. 30자입력",
						},
						{
							"align": "flex-center",
							"thumbnail": "/lg5-common/images/KRC0056/@KRC0056-img-thumbnail.jpg",
							"thumbnailAlt": "상품4 이미지",
							"itemTitle": "<h2>타이틀 공백포함 최대 40자까지 입력가능합니다. 최대 40자까지 입력</h2>",
							"itemSubTitle": "서브타이틀 공백포함 최대 30자까지 입력가능합니다.",
							"itemText": "바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다.",
							"itemBullet": "디스클레이머 최대 30자까지 입력가능합니다. 30자입력",
						}
					],
				})
				<!-- //case1. 배경이미지 일때 -->

				<!-- case2. 배경영상 일때 -->
				@@include('./common/partials/KRC0056.html', {
					"type": "bg-animation",
					"aniUrl": "/lg5-common/videos/signature_rain_view.mp4",
					"themeColor": "text-white",
					"items": [
						{
							"align": "flex-left",
							"thumbnail": "/lg5-common/images/KRC0056/@KRC0056-img-thumbnail.jpg",
							"thumbnailAlt": "상품1 이미지",
							"itemTitle": "<h2>타이틀 공백포함 최대 40자까지 입력가능합니다. 최대 40자까지 입력</h2>",
							"itemSubTitle": "서브타이틀 공백포함 최대 30자까지 입력가능합니다.",
							"itemText": "바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다.",
							"itemBullet": "디스클레이머 최대 30자까지 입력가능합니다. 30자입력",
						},
						{
							"align": "flex-center",
							"thumbnail": "/lg5-common/images/KRC0056/@KRC0056-img-thumbnail.jpg",
							"thumbnailAlt": "상품2 이미지",
							"itemTitle": "<h2>타이틀 공백포함 최대 40자까지 입력가능합니다. 최대 40자까지 입력</h2>",
							"itemSubTitle": "서브타이틀 공백포함 최대 30자까지 입력가능합니다.",
							"itemText": "바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다.",
							"itemBullet": "디스클레이머 최대 30자까지 입력가능합니다. 30자입력",
						},
						{
							"align": "flex-right",
							"thumbnail": "/lg5-common/images/KRC0056/@KRC0056-img-thumbnail.jpg",
							"thumbnailAlt": "상품3 이미지",
							"itemTitle": "<h2>타이틀 공백포함 최대 40자까지 입력가능합니다. 최대 40자까지 입력</h2>",
							"itemSubTitle": "서브타이틀 공백포함 최대 30자까지 입력가능합니다.",
							"itemText": "바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다.",
							"itemBullet": "디스클레이머 최대 30자까지 입력가능합니다. 30자입력",
						},
						{
							"align": "flex-center",
							"thumbnail": "/lg5-common/images/KRC0056/@KRC0056-img-thumbnail.jpg",
							"thumbnailAlt": "상품4 이미지",
							"itemTitle": "<h2>타이틀 공백포함 최대 40자까지 입력가능합니다. 최대 40자까지 입력</h2>",
							"itemSubTitle": "서브타이틀 공백포함 최대 30자까지 입력가능합니다.",
							"itemText": "바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다. 바디카피 공백포함하여 최대 100자까지 입력 가능합니다.",
							"itemBullet": "디스클레이머 최대 30자까지 입력가능합니다. 30자입력",
						}
					],
				})
				<!-- //case2. 배경영상 일때 -->
				
			</div>
			<!-- //component-wrap -->

		</div>
	</div>
</body>
</html>