<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0032",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">

			<!-- component-wrap -->
			@@include('./common/partials/KRC0032.html', {
				stageSize : "stage-full",
                "slideBox-bg": "bg-lightgray",
				"disclaimerBtn": "fc-white"
			})
			<!-- //component-wrap -->

			<!-- component-wrap -->
			@@include('./common/partials/KRC0032.html', {
				stageSize : "stage-wide",
                "slideBox-bg": "",
				"disclaimerBtn": ""
			})
			<!-- //component-wrap -->

			<!-- component-wrap -->
			@@include('./common/partials/KRC0032.html', {
				stageSize : "stage-medium",
                "slideBox-bg": "",
				"disclaimerBtn": ""
			})
			<!-- //component-wrap -->

		</div>
	</div>
</body>
</html>