<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0055",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">

			<!-- component-wrap -->
			<div class="component-wrap">
				<!--
					[component-wrap 옵션]
					1. 여백
					.zero-top : 상단여백 없음
					.zero-btm : 하단여백 없음

					[text-area 옵션]
					1. 가로 정렬
					.align-left : 텍스트 영역이 왼쪽
					.align-right : 텍스트 영역이 오른쪽
					.align-center : 텍스트 영역이 가운데

					2. 세로 정렬
					.align-top: 텍스트 영역이 상단
					.align-middle: 텍스트 영역이 중간
					.align-bottom: 텍스트 영역이 하단

					[.component 영역 사이즈 옵션]
					1. 이미지 사이즈
					.full-size : 데스크탑 일 경우 최대 1600 픽셀 / 모바일 일 경우 최대 768 픽셀
					.wide-size : 데스크탑 일 경우 최대 1284 픽셀 / 모바일 일 경우 최대 768 픽셀

					[copy 옵션]
					1. 폰트 종류 :
					.font-regular : 레귤러
					.font-bold : 볼드
					.font-regular-italic : 레귤러 이탤릭
					.font-bold-italic : 볼드 이탤릭

					2. 폰트 스타일:
					기본은 언더라인 없음
					.font-underline : 언더라인
				-->

				<section class="component KRC0055">
					<div class="component-box">
						<div class="usp-banner-wrap ui_carousel_slider">
							<!-- Indicator Area -->
							<div class="indi-wrap">
								<ul class="ui_carousel_dots">
									<li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
								</ul>
								<span class="ui_carousel_play play">
									<button type="button" class="btn-play"><span class="blind">슬라이드 일시정지</span></button>
								</span>
							</div>
							<!-- //Indicator Area -->

							<!-- Swipe Area -->
							<div class="ui_carousel_track">
								<!-- item -->
								<div class="carousel-box ui_carousel_slide">
									<div class="text-area type-black">
										<span class="banner-tit-sup">아이브로우 최대 10자까지 작성가능합니다. 최대 10자까지 작성</span>
										<div class="banner-tit">
											<h2>헤드라인 카피는<br> 최대 40자까지 작성가능합니다.</h2>
										</div>
										<p class="banner-txt">바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다.</p>
										@@include('./common/modules/bullet-list.html', {
											"bulletTxt" : [
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
											]
										})
										<div class="banner-btn">
											<button class="btn bd-white"><span>H1 Line button</span></button>
											<!-- <a href="#n" class="btn bd-white"><span>H1 Line button</span></a> -->
										</div>
									</div>
									<div class="visual-area">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRC0055/@KRC0055-BG.jpg" data-m-src="/lg5-common/images/KRC0055/@KRC0055-BG.jpg" aria-hidden="true"></span>
										<p class="hidden">graphic description : </p>
									</div>
								</div>
								<!-- //item -->
								<!-- item -->
								<div class="carousel-box ui_carousel_slide">
									<div class="text-area type-black align-center">
										<span class="banner-tit-sup">아이브로우 최대 10자까지 작성가능합니다. 최대 10자까지 작성</span>
										<div class="banner-tit">
											<h2>헤드라인 카피는<br> 최대 40자까지 작성가능합니다.</h2>
										</div>
										<p class="banner-txt">바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다.</p>
										@@include('./common/modules/bullet-list.html', {
											"bulletTxt" : [
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
											]
										})
										<div class="banner-btn">
											<button class="btn bd-white"><span>H1 Line button</span></button>
											<!-- <a href="#n" class="btn bd-white"><span>H1 Line button</span></a> -->
										</div>
									</div>
									<div class="visual-area">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRC0055/@KRC0055-BG.jpg" data-m-src="/lg5-common/images/KRC0055/@KRC0055-BG.jpg" aria-hidden="true"></span>
										<p class="hidden">graphic description : </p>
									</div>
								</div>
								<!-- //item -->
								<!-- item -->
								<div class="carousel-box ui_carousel_slide">
									<div class="text-area type-black align-right">
										<span class="banner-tit-sup">아이브로우 최대 10자까지 작성가능합니다. 최대 10자까지 작성</span>
										<div class="banner-tit">
											<h2>헤드라인 카피는<br> 최대 40자까지 작성가능합니다.</h2>
										</div>
										<p class="banner-txt">바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다.</p>
										@@include('./common/modules/bullet-list.html', {
											"bulletTxt" : [
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
											]
										})
										<div class="banner-btn">
											<button class="btn bd-white"><span>H1 Line button</span></button>
											<!-- <a href="#n" class="btn bd-white"><span>H1 Line button</span></a> -->
										</div>
									</div>
									<div class="visual-area">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRC0055/@KRC0055-BG.jpg" data-m-src="/lg5-common/images/KRC0055/@KRC0055-BG.jpg" aria-hidden="true"></span>
										<p class="hidden">graphic description : </p>
									</div>
								</div>
								<!-- //item -->
							</div>
							<!-- //Swipe Area -->

							<!-- Navigation Area -->
							<button type="button" class="btn-arrow prev">이전</button>
							<button type="button" class="btn-arrow next">다음</button>
							<!-- //Navigation Area -->
						</div>
					</div>
				</section>

				<section class="component KRC0055">
					<div class="component-box">
						<div class="usp-banner-wrap ui_carousel_slider">
							<!-- Indicator Area -->
							<div class="indi-wrap">
								<ul class="ui_carousel_dots">
									<li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
								</ul>
								<span class="ui_carousel_play play">
									<button type="button" class="btn-play"><span class="blind">슬라이드 일시정지</span></button>
								</span>
							</div>
							<!-- //Indicator Area -->

							<!-- Swipe Area -->
							<div class="ui_carousel_track">
								<!-- item -->
								<div class="carousel-box animation-box ui_carousel_slide">
									<div class="text-area type-white">
										<span class="banner-tit-sup">아이브로우 최대 10자까지 작성가능합니다. 최대 10자까지 작성</span>
										<div class="banner-tit">
											<h2>헤드라인 카피는<br> 최대 40자까지 작성가능합니다.</h2>
										</div>
										<p class="banner-txt">바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다.</p>
										@@include('./common/modules/bullet-list.html', {
											"bulletTxt" : [
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
											]
										})
										<div class="banner-btn">
											<button class="btn bd-white"><span>H1 Line button</span></button>
											<!-- <a href="#n" class="btn bd-white"><span>H1 Line button</span></a> -->
										</div>
									</div>
									<div class="animation-area">
										<video autoplay="" muted="" loop="">
											<source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
											<!-- WEBM 동영상을 제공하는 경우
											<source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
											-->
										</video>
										<div class="controller-wrap wa-btn">
											<button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" aria-describedby="title01" tabindex="">Pause Video</button>
											<!-- <button class="play" name="play" data-link-area="carousel_bg_image-animation_play" data-link-name="">Play Video</button> -->
										</div>
									</div>
								</div>
								<!-- //item -->
								<div class="carousel-box animation-box ui_carousel_slide">
									<div class="text-area type-white align-center">
										<span class="banner-tit-sup">아이브로우 최대 10자까지 작성가능합니다. 최대 10자까지 작성</span>
										<div class="banner-tit">
											<h2>헤드라인 카피는<br> 최대 40자까지 작성가능합니다.</h2>
										</div>
										<p class="banner-txt">바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다.</p>
										@@include('./common/modules/bullet-list.html', {
											"bulletTxt" : [
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
											]
										})
										<div class="banner-btn">
											<button class="btn bd-white"><span>H1 Line button</span></button>
											<!-- <a href="#n" class="btn bd-white"><span>H1 Line button</span></a> -->
										</div>
									</div>
									<div class="animation-area">
										<video autoplay="" muted="" loop="">
											<source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
											<!-- WEBM 동영상을 제공하는 경우
											<source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
											-->
										</video>
										<div class="controller-wrap wa-btn">
											<button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" aria-describedby="title01" tabindex="">Pause Video</button>
											<!-- <button class="play" name="play" data-link-area="carousel_bg_image-animation_play" data-link-name="">Play Video</button> -->
										</div>
									</div>
								</div>
								<div class="carousel-box animation-box ui_carousel_slide">
									<div class="text-area type-white align-right">
										<span class="banner-tit-sup">아이브로우 최대 10자까지 작성가능합니다. 최대 10자까지 작성</span>
										<div class="banner-tit">
											<h2>헤드라인 카피는<br> 최대 40자까지 작성가능합니다.</h2>
										</div>
										<p class="banner-txt">바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다. 바디카피는 공백포함하여 최대 160자까지 작성가능합니다. 바디카피는 공백포함하여 최대 120자까지 작성가능합니다.</p>
										@@include('./common/modules/bullet-list.html', {
											"bulletTxt" : [
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
												"디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다. 디스클레이머 최대 80자까지 입력가능합니다.",
											]
										})
										<div class="banner-btn">
											<button class="btn bd-white"><span>H1 Line button</span></button>
											<!-- <a href="#n" class="btn bd-white"><span>H1 Line button</span></a> -->
										</div>
									</div>
									<div class="animation-area">
										<video autoplay="" muted="" loop="">
											<source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
											<!-- WEBM 동영상을 제공하는 경우
											<source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
											-->
										</video>
										<div class="controller-wrap wa-btn">
											<button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" aria-describedby="title01" tabindex="">Pause Video</button>
											<!-- <button class="play" name="play" data-link-area="carousel_bg_image-animation_play" data-link-name="">Play Video</button> -->
										</div>
									</div>
								</div>
							</div>
							<!-- //Swipe Area -->

							<!-- Navigation Area -->
							<button type="button" class="btn-arrow prev">이전</button>
							<button type="button" class="btn-arrow next">다음</button>
							<!-- //Navigation Area -->
						</div>
					</div>
				</section>
			</div>
			<!-- //component-wrap -->

		</div>
	</div>
</body>
</html>