<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0040",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component -->
            @@include('./common/partials/KRC0040.html', {
                "blockClass" : "block1",
                "contType" : "animation",
                "titleNum" : "title01",
                "align-class1" : "align-left",
                "align-class2" : "align-left",
                "alignClass3" : "align-top",
                "font-class": "font-regular",
                "font-style": "",
                "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>"
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0040.html', {
                "blockClass" : "block1",
                "contType" : "image",
                "titleNum" : "title02",
                "align-class1" : "align-left",
                "align-class2" : "align-left",
                "alignClass3" : "align-top",
                "font-class": "font-regular",
                "font-style": "",
                "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>"
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0040.html', {
                "blockClass" : "block2",
                "titleNum1" : "title03-1",
                "titleNum2" : "title03-2",
                "align-class1" : "align-left",
                "align-class2" : "align-left",
                "alignClass3" : "align-top",
                "font-class": "font-regular",
                "font-style": "",
                "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>"
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0040.html', {
                "blockClass" : "block3",
                "align-class1" : "align-right",
                "alignClass3" : "align-top",
                "blockArr" : [
                    { "titleNum" : "title04-1", "alignClass2" : "align-right", "fontClass": "font-regular", "fontStyle": "font-underline", "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>", "ctaColor" : "text-black" },
                    { "titleNum" : "title04-2", "alignClass2" : "align-right", "fontClass": "font-regular", "fontStyle": "font-underline", "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>", "ctaColor" : "text-white" },
                    { "titleNum" : "title04-3", "alignClass2" : "align-right", "fontClass": "font-regular", "fontStyle": "font-underline", "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>", "ctaColor" : "text-black" }
                ]
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0040.html', {
                "blockClass" : "block1",
                "contType" : "image",
                "titleNum" : "title05",
                "align-class1" : "align-left",
                "align-class2" : "align-left",
                "alignClass3" : "align-bottom",
                "font-class": "font-regular",
                "font-style": "",
                "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>"
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0040.html', {
                "blockClass" : "block2",
                "titleNum1" : "title06-1",
                "titleNum2" : "title06-2",
                "align-class1" : "align-center",
                "align-class2" : "align-center",
                "alignClass3" : "align-bottom",
                "font-class": "font-regular",
                "font-style": "",
                "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>"
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0040.html', {
                "blockClass" : "block3",
                "align-class1" : "align-right",
                "alignClass3" : "align-bottom",
                "blockArr" : [
                    { "titleNum" : "title07-1", "alignClass2" : "align-right", "fontClass": "font-regular", "fontStyle": "font-underline", "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>", "ctaColor" : "text-black" },
                    { "titleNum" : "title07-2", "alignClass2" : "align-right", "fontClass": "font-regular", "fontStyle": "font-underline", "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>", "ctaColor" : "text-white" },
                    { "titleNum" : "title07-3", "alignClass2" : "align-right", "fontClass": "font-regular", "fontStyle": "font-underline", "headline":"<h2>거실의 인테리어와 조화를<br>이루는 나노 슬림 디자인</h2>", "ctaColor" : "text-black" }
                ]
            })
            <!-- // component -->
		</div>
    </div>     
</body>
</html>