<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0042",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">

			<div class="component-wrap">
				<!--
					1. 여백
					.zero-top : 상단여백 없음
					.zero-btm : 하단여백 없음
				-->
				<section class="component KRC0042">
					<div class="component-inner">
						<strong class="blind">태그 별 제품 추천</strong>
						<div class="tabs-wrap border-type ui_tab">
							<ul class="tabs">
								<li class="on"><a href="#tab1">NEW<em class="blind">선택됨</em></a></li>
								<li><a href="#tab2">#미세먼지</a></li>
								<li><a href="#tab3">#청소기</a></li>
								<li><a href="#tab4">#혼수</a></li>
								<li><a href="#tab5">#이사</a></li>
								<li><a href="#tab6">#가을</a></li>
							</ul>
						</div>
						<div class="recommend-list-wrap" id="tab1">
							@@include('./common/partials/KRC0042-list.html', {
								"items": [
									{
										"productImage": "/lg5-common/images/KRC0042/@img-product-visual.jpg",
										"productName": "LG 코드제로 A9",
										"modelName": "A970",
										"reducedPrice": "800,000",
										"purchasePrice": "1,000,000",
										"discountRate": "20",
									},
									{
										"productImage": "/lg5-common/images/KRC0042/@img-product-visual.jpg",
										"productName": "LG 코드제로 A9",
										"modelName": "A970",
										"reducedPrice": "800,000",
										"purchasePrice": "1,000,000",
										"discountRate": "20",
									},
									{
										"productImage": "/lg5-common/images/KRC0042/@img-product-visual.jpg",
										"productName": "LG 코드제로 A9",
										"modelName": "A970",
										"reducedPrice": "800,000",
										"purchasePrice": "1,000,000",
										"discountRate": "20",
									},
									{
										"productImage": "/lg5-common/images/KRC0042/@img-product-visual.jpg",
										"productName": "LG 코드제로 A9",
										"modelName": "A970",
										"reducedPrice": "800,000",
										"purchasePrice": "1,000,000",
										"discountRate": "20",
									},
								]
							})
						</div>
					</div>
				</section>
			</div> <!-- //.component-wrap-->

		</div>
	</div>
</body>
</html>