<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
componentID: "KRC0032",
isJScompile: false
})
<body>
<div class="wrap">
    <div class="container">

        <!-- component KRC0032 -->
        <!-- component 텍스트 좌측 정렬 -->
        @@include('./common/partials/KRC0032.html', {
        "headline":"<h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다, 그리드 내에서 줄바꿈 처리 가능합니다 1 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다, 그리드 내에서 줄바꿈 처리 가능합니다 2</h2>",
        "align-class1": "align-right",
        "align-class2": "large-align-left",
        "font-class1": "font-regular",
        "font-style1": "",
        "bg": "bg-black",
        "size": "full"
        })
        <!-- // component -->

        <!-- component 텍스트 가운데 정렬 -->
        @@include('./common/partials/KRC0032.html', {
        "headline":"<h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다, 그리드 내에서 줄바꿈 처리 가능합니다 1 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다, 그리드 내에서 줄바꿈 처리 가능합니다 2</h2>",
        "align-class1": "align-center",
        "align-class2": "large-align-right",
        "font-class1": "font-regular",
        "font-style1": "",
        "bg": "bg-white",
        "size": "full"
        })
        <!-- // component -->

        <!-- component 텍스트 우측 정렬 -->
        @@include('./common/partials/KRC0032.html', {
        "headline":"<h2>타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다, 그리드 내에서 줄바꿈 처리 가능합니다 1 타이틀 텍스트는 PC기준 최대 2줄까지 표시됩니다, 그리드 내에서 줄바꿈 처리 가능합니다 2</h2>",
        "align-class1": "align-left",
        "font-class1": "font-regular",
        "font-style1": "font-underline",
        "bg": "bg-gray",
        "size": "full"
        })
        <!-- // component -->
        <!-- //component KRC0032 -->

    </div>
</div>
</body>
</html>