<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0035",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0035 -->

            <!-- text-top-left -->
            @@include('./common/partials/KRC0035.html', {
                "marginTop": "",
                "marginBtm": "",
                "headline": "LG TROMM 의류 관리 가전 동시 구매 이벤트",
                "visual1": "/lg5-common/images/KRC0035/@thumb-1600x600.jpg",
                "visual2": "/lg5-common/images/KRC0035/@thumb-720x788.jpg",
                "align-class1": "align-left",
                "align-class2": "align-top",
                "font-color": "text-black",
                "font-style": "font-regular"
            })
            <!-- text-top-left -->


            <!-- text-top-center -->
            @@include('./common/partials/KRC0035.html', {
                "marginTop": "",
                "marginBtm": "",
                "headline": "LG TROMM 의류 관리 가전 동시 구매 이벤트",
                "visual1": "/lg5-common/images/KRC0035/@thumb-1600x600.jpg",
                "visual2": "/lg5-common/images/KRC0035/@thumb-720x788.jpg",
                "align-class1": "align-center",
                "align-class2": "align-top",
                "font-color": "text-black",
                "font-style": "font-regular"
            })
            <!-- text-top-center -->


            <!-- text-top-right -->
            @@include('./common/partials/KRC0035.html', {
                "marginTop": "",
                "marginBtm": "",
                "headline": "LG TROMM 의류 관리 가전 동시 구매 이벤트",
                "visual1": "/lg5-common/images/KRC0035/@thumb-1600x600.jpg",
                "visual2": "/lg5-common/images/KRC0035/@thumb-720x788.jpg",
                "align-class1": "align-right",
                "align-class2": "align-top",
                "font-color": "text-black",
                "font-style": "font-regular"
            })
            <!-- text-top-right -->


            <!-- text-middle-center -->
            @@include('./common/partials/KRC0035.html', {
                "marginTop": "",
                "marginBtm": "",
                "headline": "LG TROMM 의류 관리 가전 동시 구매 이벤트",
                "visual1": "/lg5-common/images/KRC0035/@thumb-1600x600.jpg",
                "visual2": "/lg5-common/images/KRC0035/@thumb-720x788.jpg",
                "align-class1": "align-center",
                "align-class2": "align-middle",
                "font-color": "text-white",
                "font-style": "font-regular"
            })
            <!-- text-middle-center -->


            <!-- text-bottom-center -->
            @@include('./common/partials/KRC0035.html', {
                "marginTop": "",
                "marginBtm": "",
                "headline": "LG TROMM 의류 관리 가전 동시 구매 이벤트",
                "visual1": "/lg5-common/images/KRC0035/@thumb-1600x600.jpg",
                "visual2": "/lg5-common/images/KRC0035/@thumb-720x788.jpg",
                "align-class1": "align-center",
                "align-class2": "align-bottom",
                "font-color": "text-white",
                "font-style": "font-regular"
            })
            <!-- text-bottom-center -->

            <!-- //component KRC0035 -->

        </div>
    </div>
</body>
</html>