<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0010"
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0010 -->
            <div class="component-wrap zero-top zero-btm">
                <section class="component KRC0010 bg-black text-white full">
                    <div class="heading-box align-left">
                        <div class="title"><h2>이달의 구매혜택을 비롯한 풍성한 혜택을 놓치지 마세요</h2></div>
                    </div>
                    <div class="banner-box align-left textblock-top-compo-top text-black">
                        <div class="visual-area">
                            <img data-src="/lg5-common/images/dummy/@sample-1284x562.png" alt="" class="pc lazyload">
                            <img data-src="/lg5-common/images/dummy/@sample-720x920.png" alt="" class="mobile lazyload">
                            <p class="hidden pc">graphic description : </p>
                        </div>
                        <div class="content-block">
                            <div class="text-block">
                                <div class="text-area">
                                    <div class="text-wrap">
                                        <div class="text">LG TROMM 의류 관리 가전<br>동시 구매 이벤트</div>
                                        <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                                        <div class="sub-text">의류 관리 가전 동시 구매시 90만원 혜택을 드립니다.</div>
                                    </div>
                                    <div class="btn-box">
                                        <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
                                    </div>
                                </div>
                            </div>

                            <!-- inside-component -->
                            <div class="inside-component">
                                <div class="component-wrap zero-top zero-btm">
                                    <div class="component C0088 text-white bg-black">
                                        <div class="slick-indicator">
                                            <div class="slick-dot-wrap"></div>
                                            <a href="#none" class="slide-pause pause" data-title-stop="Stop" data-title-play="Play">Stop</a>
                                        </div>
                                        <div class="spec-list text-center horizontal none-slide">
                                            <p class="item text-center">
                                                <strong class="text-em">Rich Bass Speaker</strong>
                                                <span class="lg-text-img long-text">3440 X 1440</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Virtuallty Borderless Design</strong>
                                                <span class="lg-text-img">5K2K</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Adjustable Stand</strong>
                                                <span class="lg-text-img"><img src="/lg5-common/images/common/icons/delivery.svg" alt="icon"></span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Rich Bass Speaker</strong>
                                                <span class="lg-text-img">240Hz</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // inside-component -->

                        </div>
                    </div>
                    <ul class="unit-list align-left">
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/dummy/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title02">LG 트롬 스타일러 캐시백 10만원 증정 이벤트 LG 트롬 스타일러 캐시백 10만원 증정 이벤트 LG 트롬 스타일러 캐시백 10만원 증정 이벤트 LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title02">프로모션 보기</a></span>
                            </div>
                        </li>
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/dummy/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title03">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title03">프로모션 보기</a></span>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>


            <div class="component-wrap zero-top zero-btm">
                <section class="component KRC0010 bg-black text-white ">
                    <div class="heading-box align-center">
                        <div class="title"><h2>이달의 구매혜택을 비롯한 풍성한 혜택을 놓치지 마세요</h2></div>
                    </div>
                    <div class="banner-box align-center textblock-bottom-compo-middle text-white">
                        <div class="visual-area">
                            <img data-src="/lg5-common/images/dummy/@sample-1284x562.png" alt="" class="pc lazyload">
                            <img data-src="/lg5-common/images/dummy/@sample-720x920.png" alt="" class="mobile lazyload">
                            <p class="hidden pc">graphic description : </p>
                        </div>
                        <div class="content-block">
                            <div class="text-block">
                                <div class="text-area">
                                    <div class="text-wrap">
                                        <div class="text">LG TROMM 의류 관리 가전<br>동시 구매 이벤트</div>
                                        <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                                        <div class="sub-text">의류 관리 가전 동시 구매시 90만원 혜택을 드립니다.</div>
                                    </div>
                                    <div class="btn-box">
                                        <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
                                    </div>
                                </div>
                            </div>

                            <!-- inside-component -->
                            <div class="inside-component">
                                <div class="component-wrap zero-top zero-btm">
                                    <div class="component C0088 text-black bg-white">
                                        <div class="slick-indicator">
                                            <div class="slick-dot-wrap"></div>
                                            <a href="#none" class="slide-pause pause" data-title-stop="Stop" data-title-play="Play">Stop</a>
                                        </div>
                                        <div class="spec-list text-center horizontal ">
                                            <p class="item text-center">
                                                <strong class="text-em">Rich Bass Speaker</strong>
                                                <span class="lg-text-img long-text">3440 X 1440</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Virtuallty Borderless Design</strong>
                                                <span class="lg-text-img">5K2K</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Adjustable Stand</strong>
                                                <span class="lg-text-img"><img src="/lg5-common/images/common/icons/delivery.svg" alt="icon"></span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Rich Bass Speaker</strong>
                                                <span class="lg-text-img">240Hz</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // inside-component -->

                        </div>
                    </div>
                    <ul class="unit-list align-center">
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/dummy/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title05">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title02">프로모션 보기</a></span>
                            </div>
                        </li>
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/dummy/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title06">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title03">프로모션 보기</a></span>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>


            <div class="component-wrap zero-top zero-btm">
                <section class="component KRC0010 bg-gray text-black full">
                    <div class="heading-box align-right">
                        <div class="title"><h2>이달의 구매혜택을 비롯한 풍성한 혜택을 놓치지 마세요</h2></div>
                    </div>
                    <div class="banner-box align-right textblock-bottom-compo-top text-black">
                        <div class="visual-area">
                            <img data-src="/lg5-common/images/dummy/@sample-1284x562.png" alt="" class="pc lazyload">
                            <img data-src="/lg5-common/images/dummy/@sample-720x920.png" alt="" class="mobile lazyload">
                            <p class="hidden pc">graphic description : </p>
                        </div>
                        <div class="content-block">
                            <div class="text-block">
                                <div class="text-area">
                                    <div class="text-wrap">
                                        <div class="text">LG TROMM 의류 관리 가전<br>동시 구매 이벤트</div>
                                        <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                                        <div class="sub-text">의류 관리 가전 동시 구매시 90만원 혜택을 드립니다.</div>
                                    </div>
                                    <div class="btn-box">
                                        <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
                                    </div>
                                </div>
                            </div>

                            <!-- inside-component -->
                            <div class="inside-component">
                                <div class="component-wrap zero-top zero-btm">
                                    <div class="component C0088 text-white bg-black">
                                        <div class="slick-indicator">
                                            <div class="slick-dot-wrap"></div>
                                            <a href="#none" class="slide-pause pause" data-title-stop="Stop" data-title-play="Play">Stop</a>
                                        </div>
                                        <div class="spec-list text-center horizontal ">
                                            <p class="item text-center">
                                                <strong class="text-em">Rich Bass Speaker</strong>
                                                <span class="lg-text-img long-text">3440 X 1440</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Virtuallty Borderless Design</strong>
                                                <span class="lg-text-img">5K2K</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Adjustable Stand</strong>
                                                <span class="lg-text-img"><img src="/lg5-common/images/common/icons/delivery.svg" alt="icon"></span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                            <p class="item text-center">
                                                <strong class="text-em">Rich Bass Speaker</strong>
                                                <span class="lg-text-img">240Hz</span>
                                                <span class="text-desc">Multitaskers can now simultaneously viewing a 16:9</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // inside-component -->

                        </div>
                    </div>
                    <ul class="unit-list align-right">
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/dummy/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title08">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title02">프로모션 보기</a></span>
                            </div>
                        </li>
                        <li class="unit-box">
                            <div class="visual-area image">
                                <img class="lazyload" data-src="/lg5-common/images/dummy/@sample-630x315.jpg" alt=""/>
                            </div>
                            <p class="head-copy" id="title09">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
                            <p class="body-copy">2020.08.01 ~ 2020.08.31</p>
                            <div class="btn-box">
                                <span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}" aria-describedby="title03">프로모션 보기</a></span>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- //component KRC0010 -->
		
		</div>
    </div>      
</body>
</html>