<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0018",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component -->
            <!-- full / image align left / textbox align right / bg-lightgray type -->
            @@include('./common/partials/KRC0018.html', {
                 "align-class": "align-left",
                 "place-class": "large-align-right",
                 "visualType": "video",
                 "view-page-link" : {
                        "link-url1" : "#",
                        "link-target1" : "_balck",
                        "link-url2" : "#",
                        "link-target2" : "_self"
                 },
                 "option-type": {
                    "type": "full",
                    "bg-color": "bg-lightgray",
                    "font-class": "font-regular",
                    "font-style": "font-underline",
                    "img": {
                        "visual1":"/lg5-common/images/KRC0018/@thumb01.jpg",
                        "visual2":"/lg5-common/images/KRC0018/@thumb01_m.jpg"
                    }
                }
            })
            <!-- // full / image align left / textbox align right / bg-lightgray type -->
            <!-- // component -->

            <!-- component -->
            <!-- wide / image align right / textbox align left / bg-dark type -->
            @@include('./common/partials/KRC0018.html', {
                "align-class": "align-left",
                "place-class": "large-align-left",
                "visualType": "image",
                "view-page-link" : {
                       "link-url1" : "#",
                       "link-target1" : "_balck",
                       "link-url2" : "#",
                       "link-target2" : "_self"
                },
                "option-type": {
                   "type": "wide",
                   "bg-color": "bg-dark",
                   "font-class": "font-regular",
                   "font-style": "font-underline",
                   "img": {
                       "visual1":"/lg5-common/images/KRC0018/@thumb02.jpg",
                       "visual2":"/lg5-common/images/KRC0018/@thumb02_m.jpg"
                    }
                }
            })
            <!-- // wide / image align right / textbox align left / bg-dark type -->
            <!-- // component -->

            <!-- component -->
            <!-- standard / image align right / textbox align left / bg-white type -->
            @@include('./common/partials/KRC0018.html', {
                "align-class": "align-left",
                "place-class": "large-align-left",
                "visualType": "video",
                "view-page-link" : {
                       "link-url1" : "#",
                       "link-target1" : "_balck",
                       "link-url2" : "#",
                       "link-target2" : "_self"
                },
                "option-type": {
                   "type": "standard",
                   "bg-color": "bg-white",
                   "font-class": "font-regular",
                   "font-style": "font-underline",
                   "img": {
                       "visual1":"/lg5-common/images/KRC0018/@thumb03.jpg",
                       "visual2":"/lg5-common/images/KRC0018/@thumb02_m.jpg"
                    }
                }
            })
           <!-- // standard / image align right / textbox align left / bg-white type -->
           <!-- // component -->

            <!-- component -->
            <!-- high / image align left / textbox align center / bg-black type -->
            @@include('./common/partials/KRC0018.html', {
                "align-class": "align-center",
                "place-class": "large-align-right",
                "visualType": "video",
                "view-page-link" : {
                       "link-url1" : "#",
                       "link-target1" : "_balck",
                       "link-url2" : "#",
                       "link-target2" : "_self"
                },
                "option-type": {
                   "type": "high",
                   "bg-color": "bg-black",
                   "font-class": "font-regular",
                   "font-style": "font-underline",
                   "img": {
                       "visual1":"/lg5-common/images/KRC0018/@thumb04.jpg",
                       "visual2":"/lg5-common/images/KRC0018/@thumb04_m.jpg"
                    }
                }
            })
            <!-- // high / image align left / textbox align center / bg-black type -->
            <!-- // component -->
		</div>
    </div>     
</body>
</html>