<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0020",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0020 -->
            <!-- 슬라이더 이미지 좌측형, 텍스트 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0020">
                    <div class="inner">
                        <div class="visual-area">
                            <div class="drag-area desktop title-top title-right" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                            </div>
                            <div class="drag-area mobile title-top title-right" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                            </div>
                            <div class="disclaimer align-left">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="text-area align-left"><!-- [KR수정] .align-left 추가 -->
                            <div class="title" title-top title-right><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary btn-lg" data-link-area="slider_image_top_bottom_text-cta" data-link-name="{Link Text}" aria-describedby="title01">문의하기</a></span><!-- [KR수정] as-is class .btn-primary -->
                                    <span><a href="#none" class="btn btn-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 좌측형, 텍스트 좌측 정렬 -->


            <!-- 슬라이더 이미지 좌측형, 텍스트 중앙 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0020 bg-lightgray">
                    <div class="inner">
                        <div class="visual-area">
                            <div class="drag-area desktop title-bottom title-left" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                            </div>
                            <div class="drag-area mobile title-bottom title-left" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                            </div>
                            <div class="disclaimer align-center">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="text-area align-center">
                            <div class="title"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 좌측형, 텍스트 중앙 정렬 -->


            <!-- 슬라이더 이미지 좌측형, 텍스트 우측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0020 bg-dark">
                    <div class="inner">
                        <div class="visual-area">
                            <div class="drag-area desktop title-top title-right" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                            </div>
                            <div class="drag-area mobile title-top title-right" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                            </div>
                            <div class="disclaimer align-right">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                        <div class="text-area align-right">
                            <div class="title"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title01">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 좌측형, 텍스트 우측 정렬 -->


            <!-- 슬라이더 이미지 우측형, 텍스트 좌측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0020 type-visual-right">
                    <div class="inner">
                        <div class="text-area align-left"><!-- [KR수정] .align-left 추가 -->
                            <div class="title" id="title02">><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" id="title02">>문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" id="title02">>문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" id="title02">>텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" id="title02">>텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="visual-area">
                            <div class="drag-area desktop title-top title-center" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                            </div>
                            <div class="drag-area mobile title-top title-center" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                            </div>
                            <div class="disclaimer align-left">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 우측형, 텍스트 좌측 정렬 -->


            <!-- 슬라이더 이미지 우측형, 텍스트 중앙 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0020 type-visual-right bg-lightgray">
                    <div class="inner">
                        <div class="text-area align-center">
                            <div class="title" id="title02"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="visual-area">
                            <div class="drag-area desktop title-bottom title-center" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                            </div>
                            <div class="drag-area mobile title-bottom title-center" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                            </div>
                            <div class="disclaimer align-center">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 우측형, 텍스트 중앙 정렬 -->


            <!-- 슬라이더 이미지 우측형, 텍스트 우측 정렬 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')
                <div class="component KRC0020 type-visual-right bg-black">
                    <div class="inner">
                        <div class="text-area align-right">
                            <div class="title" id="title02"><h2>8K에서 더욱 빛나는 올레드 픽셀디밍 최대 2줄까지</h2></div>
                            <div class="body-copy">
                                어두운 밤하늘 위로 촘촘하게 빛나는 별 하나까지 또렷하게 표현하는 올레드만의 섬세한 빛 조절.<br>빛번짐 없이 픽셀 하나하나를 컨트롤 할 수 있는 올레드는 8K를 위한 최적의 디스플레이입니다.
                            </div>
                            <div class="cta">
                                <div class="btn-type-box">
                                    <span><a href="#none" class="btn btn-outline-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                                    <span><a href="#none" class="btn btn-primary" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title02">문의하기</a></span>
                                </div>
                                <div class="btn-type-text">
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                                    <span><a href="#none" class="link-text bold ico-right" data-link-area="slider_image_left_right_text-cta" data-link-name="{Link Text}" aria-describedby="title02">텍스트 링크 버튼</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="visual-area">
                            <div class="drag-area desktop title-top title-center" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-1696x954-cover.jpg" alt="" />
                            </div>
                            <div class="drag-area mobile title-top title-center" data-handle-title="슬라이더 바를 움직여 보세요!">
                                <img src="/lg5-common/images/KRC0019/@sample-720x540.jpg" alt="" />
                                <img src="/lg5-common/images/KRC0019/@sample-720x540-cover.jpg" alt="" />
                            </div>
                            <div class="disclaimer align-right">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //슬라이더 이미지 우측형, 텍스트 우측 정렬 -->
            <!-- //component KRC0020 -->
		
		</div>
    </div>      
</body>
</html>