<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0002",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">
            <!-- component KRC0002 -->
            <!-- component -->
            @@include('./common/partials/KRC0002.html', {
                "sliderClass" : "",
                "headline": "<h2>타이틀 영역입니다.</h2>",
                "item" : "item5",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                },
                "bg-color": "bg-white"
            })
            <!-- // component -->

			<!-- component KRC0002 -->
            <!-- component -->
            @@include('./common/partials/KRC0002.html', {
                "carousel" : true,
                "sliderClass" : "ui_carousel_5_slider",
                "headline": "<h2>타이틀 영역입니다.</h2>",
                "item" : "item5",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                },
                "bg-color": "bg-white"
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0002.html', {
                "carousel" : true,
                "sliderClass" : "ui_carousel_4_slider",
                "headline": "<h2>타이틀 영역입니다.</h2>",
                "item" : "item4",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                },
                "bg-color": "bg-white"
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0002.html', {
                "carousel" : true,
                "sliderClass" : "ui_carousel_3_slider",
                "headline": "<h2>타이틀 영역입니다.</h2>",
                "item" : "item3",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                },
                "bg-color": "bg-white"
            })
            <!-- // component -->

           <!-- component -->
           @@include('./common/partials/KRC0002.html', {
                "carousel" : true,
                "sliderClass" : "ui_carousel_2_slider",
                "headline": "<h2>타이틀 영역입니다.</h2>",
                "item" : "item2",
                "image-area" : {
                    "link-url1" : "#",
                    "link-target1" : "_self"
                },
                "view-page-link" : {
                    "text" : "자세히 보기",
                    "link-url2" : "#",
                    "link-target2" : "_balck"
                },
                "heading-line" : {
                    "align-class1": "align-center"
                },
                "bg-color": "bg-white"
            })
            <!-- // component --> 

            <!-- //component KRC0002 -->
		
		</div>
    </div>      
</body>
</html>