<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0021",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0021 -->
            <div class="component-wrap full"><!-- [KR수정] .full class 추가 -->
                <div class="component KRC0021 align-right bg-black"><!-- [KR수정] page class 수정 -->
                    <div class="component-box"><!-- [KR수정] class 수정 -->
                        <div id="objList" class="items-group component-inner-box ui_carousel_slider"><!-- [KR수정] class 추가 -->
                            <!-- [KR수정] indicator DOM 추가-->
                            <ul class="indi-wrap ui_carousel_dots">
                                <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                            </ul>
                            <!-- // [KR수정] indicator DOM 추가-->
                            <div class="items ui_carousel_track"><!-- [KR수정] class 추가 -->
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                        <div class="visual-area image">
                                            <a href="#" data-link-area="carousel_block_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload"></a>
                                        </div>
                                    </div>
                                    <div class="text-wrap">
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                        <div class="text font-regular-italic ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다.</div>
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                        <div class="visual-area image">
                                            <a href="#" data-link-area="carousel_block_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload"></a>
                                        </div>
                                    </div>
                                    <div class="text-wrap">
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                        <div class="text font-bold ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다. </div>
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                        <div class="visual-area video">
                                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="carousel_block_image_text-video_play" data-link-name="{video id}" title="Play the Video" role="button">
                                                <img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text-wrap">
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                        <div class="text font-regular ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다. </div>
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [KR수정] prev/next button DOM 추가 -->
                            <div class="slide-controls">
                                <button type="button" class="btn-arrow prev">이전</button>
                                <button type="button" class="btn-arrow next">다음</button>
                            </div>
                            <!-- // [KR수정] prev/next button DOM 추가 -->
                        </div>
                        <!-- [KR수정] DOM 위치 변경 -->
                        <div class="desc font-regular  align-right">간략 설명은 약 50자 이내로 표현 가능합니다.</div>
                        <!-- // [KR수정] DOM 위치 변경 -->
                    </div>
                    
                </div>
            
            </div>

            <div class="component-wrap full"><!-- [KR수정] .full class 추가 -->
                <div class="component KRC0021 align-center bg-dark"><!-- [KR수정] page class 수정 -->
		
                    <div class="component-box"><!-- [KR수정] class 수정 -->
                        <div id="objList" class="items-group component-inner-box ui_carousel_slider"><!-- [KR수정] class 추가 -->
                            <!-- [KR수정] indicator DOM 추가-->
                            <ul class="indi-wrap ui_carousel_dots">
                                <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                            </ul>
                            <!-- // [KR수정] indicator DOM 추가-->
                            <div class="items ui_carousel_track"><!-- [KR수정] class 추가 -->
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                      
                                        <div class="visual-area image">
                                            <a href="#" data-link-area="carousel_block_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload"></a>
                                        </div>
                                                         
                                        
                                    </div>
                                    <div class="text-wrap">
                                        
                                                         
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                            
                                                          
                                        <div class="text font-regular ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다.</div>
                                                             
                                                    
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                       
                                    </div>
                                </div>
                                                
            
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                      
                                        <div class="visual-area image">
                                            <a href="#" data-link-area="carousel_block_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload"></a>
                                        </div>
                                                         
                                        
                                    </div>
                                    <div class="text-wrap">
                                        
                                                            
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                               
                                                             
                                        <div class="text font-regular ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다. </div>
                                                                
                                                       
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                                          
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                          
                                    </div>
                                </div>
                                                
                                
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                                               
                                        <div class="visual-area video">
                                                                      
                                                                                                             
                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                           
                                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="carousel_block_image_text-video_play" data-link-name="{video id}" title="Play the Video" role="button">
                                                <img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload">
                                            </a>
                                                                         
                                        </div>
                                                                                  
                                        
                                    </div>
                                    <div class="text-wrap">
                                                         
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                            
                                                          
                                        <div class="text font-regular ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다. </div>
                                                             
                                                    
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                       
                                    </div>
                                </div>
                                                
                            </div>
                            <!-- [KR수정] prev/next button DOM 추가 -->
                            <div class="slide-controls">
                                <button type="button" class="btn-arrow prev">이전</button>
                                <button type="button" class="btn-arrow next">다음</button>
                            </div>
                            <!-- // [KR수정] prev/next button DOM 추가 -->               
                            
                        </div>
                        <!-- [KR수정] DOM 위치 변경 -->
                        <div class="desc font-regular  align-center">간략 설명은 약 50자 이내로 표현 가능합니다.</div>
                        <!-- // [KR수정] DOM 위치 변경 -->
                    </div>
                    
                </div>
            </div>

            <div class="component-wrap full"><!-- [KR수정] .full class 추가 -->
                <div class="component KRC0021 align-center bg-lightgray"><!-- [KR수정] page class 수정 -->
		
                    <div class="component-box"><!-- [KR수정] class 수정 -->
                        <div id="objList" class="items-group component-inner-box ui_carousel_slider"><!-- [KR수정] class 추가 -->
                            <!-- [KR수정] indicator DOM 추가-->
                            <ul class="indi-wrap ui_carousel_dots">
                                <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                            </ul>
                            <!-- // [KR수정] indicator DOM 추가-->
                            <div class="items ui_carousel_track"><!-- [KR수정] class 추가 -->
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                      
                                        <div class="visual-area image">
                                            <a href="#" data-link-area="carousel_block_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload"></a>
                                        </div>
                                                         
                                        
                                    </div>
                                    <div class="text-wrap">
                                        
                                                         
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                            
                                                          
                                        <div class="text font-regular font-underline">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다.</div>
                                                             
                                                    
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                       
                                    </div>
                                </div>
                                                
            
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                      
                                        <div class="visual-area image">
                                            <a href="#" data-link-area="carousel_block_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload"></a>
                                        </div>
                                                         
                                        
                                    </div>
                                    <div class="text-wrap">
                                        
                                                            
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                               
                                                             
                                        <div class="text font-bold ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다. </div>
                                                                
                                                       
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                                          
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                          
                                    </div>
                                </div>
                                                
                                
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                                               
                                        <div class="visual-area video">
                                                                      
                                                                                                             
                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                           
                                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="carousel_block_image_text-video_play" data-link-name="{video id}" title="Play the Video" role="button">
                                                <img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload">
                                            </a>
                                                                         
                                        </div>
                                                                                  
                                        
                                    </div>
                                    <div class="text-wrap">
                                                         
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                            
                                                          
                                        <div class="text font-regular-italic ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다. </div>
                                                             
                                                    
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                       
                                    </div>
                                </div>
                                                
                            </div>
                            <!-- [KR수정] prev/next button DOM 추가 -->
                            <div class="slide-controls">
                                <button type="button" class="btn-arrow prev">이전</button>
                                <button type="button" class="btn-arrow next">다음</button>
                            </div>
                            <!-- // [KR수정] prev/next button DOM 추가 -->                 
                            
                        </div>
                        <!-- [KR수정] DOM 위치 변경 -->
                        <div class="desc font-regular  align-right">간략 설명은 약 50자 이내로 표현 가능합니다.</div>
                        <!-- // [KR수정] DOM 위치 변경 -->
                    </div>
                    
                </div>
            </div>

            <div class="component-wrap full"><!-- [KR수정] .full class 추가 -->
                <div class="component KRC0021 align-center bg-white"><!-- [KR수정] page class 수정 -->
		
                    <div class="component-box"><!-- [KR수정] class 수정 -->
                        <div id="objList" class="items-group component-inner-box ui_carousel_slider"><!-- [KR수정] class 추가 -->
                            <!-- [KR수정] indicator DOM 추가-->
                            <ul class="indi-wrap ui_carousel_dots">
                                <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                            </ul>
                            <!-- // [KR수정] indicator DOM 추가-->
                            <div class="items ui_carousel_track"><!-- [KR수정] class 추가 -->
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                      
                                        <div class="visual-area image">
                                            <a href="#" data-link-area="carousel_block_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload"></a>
                                        </div>
                                                         
                                        
                                    </div>
                                    <div class="text-wrap">
                                        
                                                         
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                            
                                                          
                                        <div class="text font-regular font-underline">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다.</div>
                                                             
                                                    
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                       
                                    </div>
                                </div>
                                                
            
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                      
                                        <div class="visual-area image">
                                            <a href="#" data-link-area="carousel_block_image_text-image" data-link-name="{Alt Text}"><img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload"></a>
                                        </div>
                                                         
                                        
                                    </div>
                                    <div class="text-wrap">
                                        
                                                            
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                               
                                                             
                                        <div class="text font-bold ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다. </div>
                                                                
                                                       
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                                          
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                          
                                    </div>
                                </div>
                                                
                                
                                             
                                <div class="item item-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
                                    <div class="visual-wrap">
                                                                               
                                        <div class="visual-area video">
                                                                      
                                                                                                             
                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                           
                                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="carousel_block_image_text-video_play" data-link-name="{video id}" title="Play the Video" role="button">
                                                <img data-src="/lg5-common/images/KRC0021/@thumb01.jpg" alt="" class="lazyload">
                                            </a>
                                                                         
                                        </div>
                                                                                  
                                        
                                    </div>
                                    <div class="text-wrap">
                                                         
                                        <div class="title"><h2>타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다. 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다 1 타이틀 텍스트는 PC기준 최대 3줄까지 표시됩니다.</h2></div>
                                                            
                                                          
                                        <div class="text font-regular-italic ">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다. </div>
                                                             
                                                    
                                        <div class="btn-type-box">
                                            <span><a href="#none" class="btn btn-outline-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span><!-- [KR수정] btn-primary -> btn-outline-primary 로 class 수정 -->
                                            <span><a href="#none" class="btn btn-primary" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">문의하기</a></span>
                                        </div>
                                        <div class="btn-type-text">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="carousel_block_image_text-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                                        </div>
                                                       
                                    </div>
                                </div>
                                                
                            </div>
                            <!-- [KR수정] prev/next button DOM 추가 -->
                            <div class="slide-controls">
                                <button type="button" class="btn-arrow prev">이전</button>
                                <button type="button" class="btn-arrow next">다음</button>
                            </div>
                            <!-- // [KR수정] prev/next button DOM 추가 -->                  
                            
                        </div>
                        <!-- [KR수정] DOM 위치 변경 -->
                        <div class="desc font-regular  align-left">간략 설명은 약 50자 이내로 표현 가능합니다.</div>
                        <!-- // [KR수정] DOM 위치 변경 -->
                    </div>
                    
                </div>
            </div>
		</div>
    </div>     
</body>
</html>