<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0021",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">
            <!-- component Standard 텍스트 왼쪽정렬, 배경 Black -->
            @@include('./common/partials/KRC0021.html', {
                "bg-color": "bg-black",
                "align-class1": "align-left",
                "font-class1": "font-regular-italic",
                "font-class2": "font-bold",
                "font-class3": "font-regular",
                "font-style1": "",
                "font-style2": "",
                "font-style3": "",
                "align-class2": "align-left",
                "font-class4": "font-regular",
                "font-style4": ""
            })
            <!-- // component Standard 텍스트 왼쪽정렬, 배경 Black -->

            <!-- component Standard 텍스트 센터정렬, 배경 dark -->
            @@include('./common/partials/KRC0021.html', {
                "bg-color": "bg-dark",
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-regular",
                "font-class3": "font-regular",
                "font-style1": "",
                "font-style2": "",
                "font-style3": "",
                "align-class2": "align-center",
                "font-class4": "font-regular",
                "font-style4": ""
            })
            <!-- // component Standard 텍스트 왼쪽정렬, 배경 dark -->

            <!-- component Standard 텍스트 센터정렬, 배경 light gray -->
            @@include('./common/partials/KRC0021.html', {
                "bg-color": "bg-lightgray",
                "align-class1": "align-center",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular-italic",
                "font-style1": "",
                "font-style2": "",
                "font-style3": "",
                "align-class2": "align-left",
                "font-class4": "font-regular",
                "font-style4": ""
            })
            <!-- // component Standard 텍스트 센터정렬, 배경 light gray -->

            <!-- component Standard 텍스트 왼쪽정렬, 배경 white -->
            @@include('./common/partials/KRC0021.html', {
                "bg-color": "bg-white",
                "align-class1": "align-left",
                "font-class1": "font-regular",
                "font-class2": "font-bold",
                "font-class3": "font-regular-italic",
                "font-style1": "",
                "font-style2": "",
                "font-style3": "",
                "align-class2": "align-right",
                "font-class4": "font-regular",
                "font-style4": ""
            })
            <!-- // component Standard 텍스트 왼쪽정렬, 배경 white-->
		</div>
    </div>     
</body>
</html>