<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0020",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0020 -->
            <!-- component -->
            @@include('./common/partials/KRC0020.html',{
                "autoplay": true,
                "autoSpeed": 1000,
                "autoCount": "1",
                "stageType" : "stage-full",
                "heading": "<h2>1 헤드라인 텍스트 글자수<br>최대 40자까지 사용 가능합니다</h2>",
                "font-class": "font-regular",
                "font-style": "",
                "bg-color": "bg-white",
                "iconType" : true,
                "bottom" : true,
                "icons": [
                    {"active":"active"},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""}
                ]
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0020.html',{
                "autoplay": true,
                "autoSpeed": 2000,
                "autoCount": "1",
                "stageType" : "stage-wide",
                "heading": "<h2>2 헤드라인 텍스트 글자수<br>최대 40자까지 사용 가능합니다</h2>",
                "font-class": "font-regular",
                "font-style": "",
                "bg-color": "bg-white",
                "iconType" : true,
                "top" : true,
                "icons": [
                    {"active":"active"},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""}
                ]
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0020.html',{
                "autoplay": true,
                "autoSpeed": 3000,
                "autoCount": "3",
                "stageType" : "stage-standard",
                "heading": "<h2>3 헤드라인 텍스트 글자수<br>최대 40자까지 사용 가능합니다</h2>",
                "font-class": "font-regular",
                "font-style": "",
                "bg-color": "bg-white",
                "textType" : true,
                "top" : true,
                "icons": [
                    {"active":"active"},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""}
                ]
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0020.html',{
                "autoplay": false,
                "stageType" : "stage-wide",
                "heading": "<h2>4 헤드라인 텍스트 글자수<br>최대 40자까지 사용 가능합니다</h2>",
                "font-class": "font-regular",
                "font-style": "",
                "bg-color": "bg-white",
                "textType" : true,
                "bottom" : true,
                "icons": [
                    {"active":"active"},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""}
                ]
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0020.html',{
                "autoplay": true,
                "autoSpeed": 5000,
                "stageType" : "stage-wide",
                "heading": "<h2>5 헤드라인 텍스트 글자수<br>최대 40자까지 사용 가능합니다</h2>",
                "font-class": "font-regular",
                "font-style": "",
                "bg-color": "bg-white",
                "icononlyType" : true,
                "bottom" : true,
                "icons": [
                    {"active":"active"},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""},
                    {"active":""}
                ]
            })
            <!-- // component -->
            <!-- //component KRC0020 -->
		
		</div>
    </div>      
</body>
</html>
