<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRC0033",
		isJScompile: false,
	})
<body>
	<div class="wrap">
		<div class="container">
			<!--
				[component-wrap option]
				1. 여백
				.zero-top : 상단여백 없음
				.zero-btm : 하단여백 없음

				[component option]
				.full : visual width 1920px;
				.wide : visual width 1600px;

				[text-set option]
					>>> col option
				.section-a : A section (full/wide 가능)
				.section-b : B section (full/wide 가능)
				.section-c : C section (full 가능/wide 불가)
				.position-top : 상단
					>>> row option
				.position-middle-top : 중앙 기준 위
				.position-middle-bottom : 중앙 기준 아래
				.position-bottom : 하단

				[body-copy, bullet-list TEXT option]
				
			-->

			<!-- component -->
			@@include('./common/partials/KRC0033.html', {
				pageSize : "full"
			})
			<!-- // component -->

			<!-- component -->
			@@include('./common/partials/KRC0033.html', {
				pageSize : "wide"
			})
			<!-- // component -->

		</div>
	</div>
</body>
</html>