<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0038",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">
			<!-- component KRC0038 -->
            <!-- component -->
            @@include('./common/partials/KRC0038.html',{
                "stageType" : "stage-full",
                "boxVertical" : "vertical-top",
                "boxSize" : "type-narrow",
                "boxAlign" : "box-align-right",
                "alignType1" : "align-left",
                "fontColor1" : "type-black",
                "fontStyle1" : "",
                "images" : [
                    { "color" : "fc-black" }
                ],
                "verticalType" : "vertical-top",
                "alignType2" : "box-align-left",
                "fontColor2" : "type-black",
                "lists" : 4
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0038.html',{
                "stageType" : "stage-wide",
                "boxVertical" : "vertical-bottom",
                "boxSize" : "type-wide",
                "boxAlign" : "box-align-center",
                "alignType1" : "align-center",
                "fontColor1" : "type-black",
                "fontStyle1" : "",
                "images" : [
                    { "color" : "fc-black" },
                    { "color" : "fc-white" },
                ],
                "verticalType" : "vertical-middle",
                "alignType2" : "box-align-center",
                "fontColor2" : "type-black",
                "lists" : 2
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0038.html',{
                "stageType" : "stage-standard",
                "boxVertical" : "vertical-middle",
                "boxSize" : "type-narrow",
                "boxAlign" : "box-align-left",
                "alignType1" : "align-right",
                "fontColor1" : "type-black",
                "fontStyle1" : "",
                "images" : [
                    { "color" : "fc-black" },
                    { "color" : "fc-white" },
                    { "color" : "fc-gray" },
                ],
                "verticalType" : "vertical-bottom",
                "alignType2" : "box-align-right",
                "fontColor2" : "type-black",
                "lists" : 3
            })
            <!-- // component -->
            <!-- //component KRC0038 -->
		
		</div>
    </div>      
</body>
</html>