<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC0062"
})
<body>
    <div class="wrap">
        <div class="container">
			<!-- component KRC0062 -->
            <!-- component -->
            @@include('./common/partials/KRC0062.html',{
                "stageType" : "stage-wide",
                "alignType1" : "align-left",
                "fontColor1" : "type-black",
                "alignType2" : "align-left",
                "fontColor2" : "type-black",
                "lists" : 6
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0062.html',{
                "stageType" : "stage-wide",
                "alignType1" : "align-right",
                "fontColor1" : "type-black",
                "alignType2" : "align-right",
                "fontColor2" : "type-black",
                "lists" : 4
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0062.html',{
                "stageType" : "stage-medium",
                "alignType1" : "align-center",
                "fontColor1" : "type-black",
                "alignType2" : "align-center",
                "fontColor2" : "type-black",
                "lists" : 3
            })
            <!-- // component -->

            <!-- component -->
            @@include('./common/partials/KRC0062.html',{
                "darkImg" : true,
                "stageType" : "stage-wide",
                "alignType1" : "align-center",
                "fontColor1" : "type-white",
                "alignType2" : "align-center",
                "fontColor2" : "type-white",
                "lists" : 6
            })
            <!-- // component -->
            <!-- //component KRC0062 -->
		
		</div>
    </div>      
</body>
</html>