<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRC0018",
        isJScompile: false
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRC0018 -->

            <!-- component C0059-5ea.hbs -->
            @@include('./common/partials/KRC0018-5ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-left",
                "bg-color": "bg-white"
            })
            <!-- // component -->


            <!-- component C0059-5ea.hbs -->
            @@include('./common/partials/KRC0018-5ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-right",
                "bg-color": "bg-white"
            })
            <!-- // component -->


            <!-- component C0059-4ea.hbs -->
            @@include('./common/partials/KRC0018-4ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-left",
                "bg-color": "bg-white"
            })
            <!-- // component -->


            <!-- component C0059-4ea.hbs -->
            @@include('./common/partials/KRC0018-4ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-right",
                "bg-color": "bg-white"
            })
            <!-- // component -->


            <!-- component C0059-4ea-2.hbs -->
            @@include('./common/partials/KRC0018-4ea-2.html',{
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-mix",
                "bg-color": "bg-white"
            })
            <!-- // component -->


            <!-- component C0059-3ea.hbs -->
            @@include('./common/partials/KRC0018-3ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-left",
                "bg-color": "bg-white"
            })
            <!-- // component -->


            <!-- component C0059-3ea.hbs -->
            @@include('./common/partials/KRC0018-3ea.html', {
                "head" : "<h2>차원이 다른 OLED 화질,<br>LG SIGNATURE OLED W</h2>",
                "flow-type" : "flow-right",
                "bg-color": "bg-white"
            })
            <!-- // component -->

            <!-- //component KRC0018 -->

        </div>
    </div>
</body>
</html>