<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0014",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRP0014 -->
            <div class="component-wrap full">
                <!--
                    [component-wrap 옵션]
                    1. 여백
                    .zero-top : 상단여백 없음
                    .zero-btm : 하단여백 없음
                -->
                <section class="component KRP0014">
                    <div class="inner">
                        <div class="heading-box">
                            <div class="title">
                                <h2>자주 묻는 질문</h2>
                            </div>
                        </div>
                        <!-- Accordion -->
                        <div class="accordion-wrap faq-type ui_accordion" data-single-open="true" data-open-index="0">
                            <ul>
                                <li class="lists">
                                    <div class="head">
                                        <a href="#n" class="accord-btn ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
                                            <span class="que">Q</span>
                                            <span class="title line2">주문하면 얼마나 걸리나요?</span><!-- 말줄임 line수 따라 line1, line2, line3, line4, line5 적용 -->
                                            <span class="blind ui_accord_text">내용 더 보기</span>
                                        </a>
                                    </div>
                                    <div class="accord-cont ui_accord_content" style="display:none;">
                                        <p>
                                            서울지역은 묶음배송(무료배송 지역)으로 진행되기에 주말, 공휴일 제외하고 평일기준 2-3주 전후로 소요되며,<br>
                                            그 외 지역의 기본배송일은 주말 공휴일 제외하고 평일 기준 7-14일 전후로 소요됩니다.
                                        </p>
                                    </div>
                                </li>
                                <li class="lists">
                                    <div class="head">
                                        <a href="#n" class="accord-btn ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
                                            <span class="que">Q</span>
                                            <span class="title line2">직접 기사님들이 설치까지 해 주시는 건가요?</span><!-- 말줄임 line수 따라 line1, line2, line3, line4, line5 적용 -->
                                            <span class="blind ui_accord_text">내용 더 보기</span>
                                        </a>
                                    </div>
                                    <div class="accord-cont ui_accord_content" style="display:none;">
                                        <p>
                                            서울지역은 묶음배송(무료배송 지역)으로 진행되기에 주말, 공휴일 제외하고 평일기준 2-3주 전후로 소요되며,<br>
                                            그 외 지역의 기본배송일은 주말 공휴일 제외하고 평일 기준 7-14일 전후로 소요됩니다.
                                        </p>
                                    </div>
                                </li>
                                <li class="lists">
                                    <div class="head">
                                        <a href="#n" class="accord-btn ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
                                            <span class="que">Q</span>
                                            <span class="title line2">구매 시, 도어바스켓도 포함 되는 건가요?</span><!-- 말줄임 line수 따라 line1, line2, line3, line4, line5 적용 -->
                                            <span class="blind ui_accord_text">내용 더 보기</span>
                                        </a>
                                    </div>
                                    <div class="accord-cont ui_accord_content" style="display:none;">
                                        <p>
                                            서울지역은 묶음배송(무료배송 지역)으로 진행되기에 주말, 공휴일 제외하고 평일기준 2-3주 전후로 소요되며,<br>
                                            그 외 지역의 기본배송일은 주말 공휴일 제외하고 평일 기준 7-14일 전후로 소요됩니다.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- // Accordion -->
                    </div>
                </section>
            </div>
            <!-- //component KRP0014 -->
		</div>
    </div>      
</body>
</html>