<!-- BTOCSITE-1967 웹 하단 탭바 추가 :  신규작성 start -->
<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0040",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">
            <div class="KRP0040">
                <div class="mobile-bottom-status">
                    <ul class="mobile-status-list">
                        <li class="list-item mypage">
                            <a href=""><span>마이</span></a>
                        </li>
                        <li class="list-item chatbot">
                            <a href=""><span>상담챗</span></a>
                        </li>
                        <li class="list-item home">
                            <a href=""><span>홈</span></a>
                        </li>
                        <li class="list-item my-collection">
                            <a href=""><span>마이컬렉션</span></a>
                        </li>
                        <li class="list-item nav-anchor">
                            <a href=""><span>전체메뉴</span></a>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
    </div>
</body>
</html>
<!-- BTOCSITE-1967 웹 하단 탭바 추가 :  신규작성 end -->