<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0013",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRP0013 -->
            @@include('./common/partials/KRP0013.html', {
                "component-class" : {
                    "margin" : "zero-top"
                }
            })
            <!-- // component -->

            <!-- //component KRP0013 -->
		
		</div>
    </div>      
</body>
</html>