<!DOCTYPE html>
<html lang="ko">
<!-- 템플릿으로 진행되는 화면. 제대로 display되도록 임시 삽입 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>lge</title>
    <link rel="stylesheet" href="/lg5-common/css/reset.min.css" />
    <link rel="stylesheet" href="/lg5-common/css/app.min.css" />
    <link type="text/css" rel="stylesheet" href="/lg5-common/css/components/KRP0026.min.css" />
    <script src="/lg5-common/js/libs/jquery-2.2.4.min.js"></script>
    <script src="/lg5-common/js/libs/jquery.transit.min.js"></script>
    <script src="/lg5-common/js/libs/jquery.event.move.min.js"></script>
    <script src="/lg5-common/js/libs/jquery.twentytwenty.min.js"></script>
    <script src="/lg5-common/js/vcui.min.js"></script>
    <script src="/lg5-common/js/vcui.common-ui.min.js"></script>
    <script src="/lg5-common/js/lg.common.min.js"></script>
    <script src="/lg5-common/js/components/KRC0015.min.js"></script>
    <script src="/lg5-common/js/components/KRP0005.min.js"></script>
    <script src="/lg5-common/js/components/KRP0026.min.js"></script>
</head>
<!-- // 템플릿으로 진행되는 화면. 제대로 display되도록 임시 삽입 -->
<body>
    <!--BTOCSITE-2117 : 공통 > 모바일 웹/앱 GNB 개선 - 서브페이지만 subRenewWrap 클래스 추가-->
    <div class="wrap subRenewWrap storyList">



        <!--BTOCSITE-2117 : 공통 > 모바일 웹/앱 GNB 개선 - 뎁스가 있는 경우-->
        @@include('./common/header.html', {
            "mobileCase": "subDepth",
            "is-depth": "is-depth",
            "hasTitle": "hasTitle",
            "subCategory": "subCategory",
            "titleName": "라이프스타일"
        })
        <!--//BTOCSITE-2117 : 공통 > 모바일 웹/앱 GNB 개선 - 뎁스가 있는 경우-->




        <div class="container" id="content">
            <!-- component KRP0026 -->
            @@include('./common/partials/KRP0026.html', {
                "zero" : "zero-top",
                "tabBarType" : false,
                "lgVisual" : false
            })
            <!-- // component KRP0026 -->
        </div>

        <!-- @@include('./common/footer.html') -->
        <div class="floating-wrap">
            <!-- component / Sticky chat -->
            @@include('./common/partials/KRP0005.html')
            <!-- // component / Sticky chat -->

            <!-- component / Scroll to the top -->
            @@include('./common/partials/KRP0004.html')
            <!-- // component / Scroll to the top -->
        </div>
        <!-- //210226 플로팅버튼 추가 -->

        @@include('./common/footer.html')

        @@include('./LLS/LLS0100-modal-01.html', {
            "popupID": "appInstallGuidePopup"
        })
        
    </div>
</body>
</html>