<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRP0042",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">
			<!-- component-wrap : stage-full (visual width 1920px) -->
			@@include('./common/partials/KRP0042.html', {
				stageSize : "stage-full"
			})
			<!-- //component-wrap -->
			<!-- component-wrap : stage-wide (visual width 1600px) -->
			@@include('./common/partials/KRP0042.html', {
				stageSize : "stage-wide"
			})
			<!-- //component-wrap -->
			<!-- component-wrap : stage-medium (visual width 1380px) -->
			@@include('./common/partials/KRP0042.html', {
				stageSize : "stage-medium"
			})
			<!-- //component-wrap -->

		</div>
	</div>
</body>
</html>