<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        pageJS: ["components/KRP0005"]
    })
<body>
<!--BTOCSITE-2117 : 공통 > 모바일 웹/앱 GNB 개선 - 서브페이지만 subRenewWrap 클래스 추가-->
<!--BTOCSITE-2117 : 공통 > 모바일 웹/앱 GNB 개선 - 장바구니 페이지 클래스 추가 cartHead-->
<div class="wrap subRenewWrap cartHead">


    <!--BTOCSITE-2117 : 공통 > 모바일 웹/앱 GNB 개선 - 장바구니 경우-->
    @@include('./common/header.html', {
        "mobileCase": "subDepth",
        "hasTitle": "hasTitle",
        "titleName": "제품구매"
    })
    <!--//BTOCSITE-2117 : 공통 > 모바일 웹/앱 GNB 개선 - 장바구니 경우-->




    <div class="container" style="height:500px">
        <br>
        <br>
        <br>
        <br>
        장바구니 페이지 모바일 헤더 예시
    </div>


    <!-- @@include('./common/footer.html') -->
    <div class="floating-wrap">
        <!-- component / Sticky chat -->
        @@include('./common/partials/KRP0005.html')
        <!-- // component / Sticky chat -->

        <!-- component / Scroll to the top -->
        @@include('./common/partials/KRP0004.html')
        <!-- // component / Scroll to the top -->
    </div>
    <!-- //210226 플로팅버튼 추가 -->

    @@include('./common/footer.html')

    @@include('./LLS/LLS0100-modal-01.html', {
    "popupID": "appInstallGuidePopup"
    })

</div>
</body>
</html>