<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0010",
        isJScompile: true
    })
<body>
    <div class="wrap">
<!--        @@include('./common/header.html')-->
        <div class="container">

            <div class="component-wrap full">
                <!-- component KRP0010 -->
                <section class="component KRP0010" aria-label="{category명} product detail">

                    <div class="pdp-wrap">
                        <!-- component -->
                       @@include('./common/partials/KRP0010-image.html')
                        <!-- // component -->

                        <!-- component -->
                       @@include('./common/partials/KRP0010-info.html')
                        <!-- // component -->
                    </div>

                    <!-- toast-meassage -->
                    @@include('./common/partials/modal/toast-meassage.html', {
                        "text1" : "이미 추가된 제품입니다.",
                        "text2" : "비교함에 등록되었습니다.",
                        "text3" : "케어솔루션/케어십 장바구니에 추가되었습니다."
                    })

                </section>
                <!-- //component KRP0010 -->
            </div>
        </div>
<!--        @@include('./common/footer.html')-->
    </div>
</body>
</html>