<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRP0029",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">

			<div class="component-wrap">
				<!--
					1. 여백
					.zero-top : 상단여백 없음
					.zero-btm : 하단여백 없음
				-->
				<section class="component KRP0029">
					<div class="component-inner">
						<div class="title">
							<h2>지금 가장 인기있는 스토리를 확인해보세요</h2>
						</div>

						<div class="recommend-story-list-wrap">
							<div class="recommend-story-list-inner ui_carousel_slider">
								<div class="items ui_carousel_track">
									<div class="item ui_carousel_slide">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRP0029/@img-story01-pc.jpg" data-m-src="/lg5-common/images/KRP0029/@img-story01-mo.jpg" aria-hidden="hidden"></span>
										<div class="info-area"> <!-- default : 기본 검정 테마 (텍스트 컬러) -->
											<div class="flag-wrap">
												<span class="flag">NEWS</span>
											</div>
											<strong class="info-tit">완벽한 주방를 위한<br> 스마트 키친</strong>
											<p class="info-tag">
												<span>#스마트홈</span>
												<span>#요리</span>
												<span>#LG스튜디오</span>
												<span>#ThinQ</span>
											</p>
										</div>
									</div>
									<div class="item ui_carousel_slide">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRP0029/@img-story02-pc.jpg" data-m-src="/lg5-common/images/KRP0029/@img-story02-pc.jpg" aria-hidden="hidden"></span>
										<div class="info-area"> <!-- default : 기본 검정 테마 (텍스트 컬러) -->
											<div class="flag-wrap">
												<span class="flag ">광고 CF</span>
											</div>
											<strong class="info-tit">내 생활에 맞춰진 삶의<br> 변화가 필요하시나요?</strong>
											<p class="info-tag">
												<span>#코드제로A9</span>
												<span>#청소법</span>
												<span>#미세먼지</span>
											</p>
										</div>
									</div>
									<div class="item ui_carousel_slide">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRP0029/@img-story03-pc.jpg" data-m-src="/lg5-common/images/KRP0029/@img-story03-pc.jpg" aria-hidden="hidden"></span>
										<div class="info-area typeWhite"> <!-- .typeWhite : 흰색 테마 (텍스트 컬러) -->
											<div class="flag-wrap">
												<span class="flag">NEWS</span>
											</div>
											<strong class="info-tit">완벽한 주방을 위한<br> 스마트 키친</strong>
											<p class="info-tag">
												<span>#CES2020</span>
												<span>#커넥티드카</span>
												<span>#ThinkQ</span>
												<span>#라이프스타일</span>
											</p>
										</div>
									</div>
									<div class="item ui_carousel_slide">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRP0029/@img-story01-pc.jpg" data-m-src="/lg5-common/images/KRP0029/@img-story01-mo.jpg" aria-hidden="hidden"></span>
										<div class="info-area"> <!-- default : 기본 검정 테마 (텍스트 컬러) -->
											<div class="flag-wrap">
												<span class="flag">NEWS</span>
											</div>
											<strong class="info-tit">완벽한 주방를 위한<br> 스마트 키친</strong>
											<p class="info-tag">
												<span>#스마트홈</span>
												<span>#요리</span>
												<span>#LG스튜디오</span>
												<span>#ThinQ</span>
											</p>
										</div>
									</div>
									<div class="item ui_carousel_slide">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRP0029/@img-story02-pc.jpg" data-m-src="/lg5-common/images/KRP0029/@img-story02-pc.jpg" aria-hidden="hidden"></span>
										<div class="info-area"> <!-- default : 기본 검정 테마 (텍스트 컬러) -->
											<div class="flag-wrap">
												<span class="flag ">광고 CF</span>
											</div>
											<strong class="info-tit">내 생활에 맞춰진 삶의<br> 변화가 필요하시나요?</strong>
											<p class="info-tag">
												<span>#코드제로A9</span>
												<span>#청소법</span>
												<span>#미세먼지</span>
											</p>
										</div>
									</div>
									<div class="item ui_carousel_slide">
										<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRP0029/@img-story03-pc.jpg" data-m-src="/lg5-common/images/KRP0029/@img-story03-pc.jpg" aria-hidden="hidden"></span>
										<div class="info-area typeWhite"> <!-- .typeWhite : 흰색 테마 (텍스트 컬러) -->
											<div class="flag-wrap">
												<span class="flag">NEWS</span>
											</div>
											<strong class="info-tit">완벽한 주방을 위한<br> 스마트 키친</strong>
											<p class="info-tag">
												<span>#CES2020</span>
												<span>#커넥티드카</span>
												<span>#ThinkQ</span>
												<span>#라이프스타일</span>
											</p>
										</div>
									</div>
								</div>
								<ul class="indi-wrap ui_carousel_dots">
									<li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</body>
</html>