<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0007",
        isJScompile: true
    })
<body>

    <!-- BTOCSITE-9186 -->
    <div class="tb_row tb-row-bl">
        <table>
            <caption>화면사이즈 cm↔inch 안내</caption>
            <colgroup>
                <col style="width:50%">
                <col style="width:50%">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">cm</th>
                <th scope="col">inch</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>330 cm</td>
                    <td>130"</td>
                </tr>
                <tr>
                    <td>305 cm</td>
                    <td>120"</td>
                </tr>
                <tr>
                    <td>278 cm</td>
                    <td>110"</td>
                </tr>
                <tr>
                    <td>254 cm</td>
                    <td>100"</td>
                </tr>
                <tr>
                    <td>247 cm</td>
                    <td>98"</td>
                </tr>
                <tr>
                    <td>229 cm</td>
                    <td>90"</td>
                </tr>
                <tr>
                    <td>223 cm</td>
                    <td>88"</td>
                </tr>
                <tr>
                    <td>214 cm</td>
                    <td>85"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //BTOCSITE-9186 -->
</body>
</html>