<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0013",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRC0013 -->
            <div class="component-wrap">
                @@include('./components/common-note.html')                  
                <section class="component KRP0013"> <!-- [KR수정] 화면용 class명 수정 -->
                    <div class=" component-outer-box bundle-wrap">
                        <h2 class="title">신상품</h2>
                        <div class="product-type ui_carousel_slider">
                            <!-- [KR수정] indicator DOM 추가-->
                            <ul class="indi-wrap ui_carousel_dots">
                                <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                            </ul>
                            <!-- // [KR수정] indicator DOM 추가-->                                                                                             
                            <button type="button" class="btn-arrow prev">이전</button><!-- [KR수정] class 수정 -->
                            <div class="items ui_carousel_track">
                                <div class="item ui_carousel_slide">
                                    <a href="#" class="visual" tabindex="-1">
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload pc" alt="" aria-hidden="true"/>
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload mobile" alt="" aria-hidden="true"/>
                                        <!-- [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                        <span class="flag-wrap">
                                            <span class="flag">NEW</span>
                                            <span class="flag">BEST</span>
                                        </span>
                                        <!-- // [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                    </a>
                                    <div class="products-info">
                                        <a href="#" class="model-name">LG TROMM 스타일러</a>
                                                                                
                                        <div class="sku">AGM73611305</div>
                                                                                
                                        <div class="rating" data-bv-show="inline_rating" data-bv-product-id="MD05913476" data-bv-redirect-url="/us/tvs/lg-OLED65W8PUA-signature-oled-4k-tv#reviews">별점</div>
                                                                                
                                        <div class="price-area">
                                            <div class="purchase-price">
                                                <div class="price">6,480,000원</div>
                                            </div>
                                            <div class="product-price">
                                                <del class="price" aria-label="Previous price">10,550,000원</del>
                                                <div class="legal">20% 할인</div>
                                            </div>
                                        </div>
                                                                            
                                        <div class="promotion">여름 시즌 세일</div>
                                    </div>
                                </div>
                                <div class="item ui_carousel_slide">
                                    <a href="#" class="visual" tabindex="-1">
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload pc" alt="" aria-hidden="true"/>
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload mobile" alt="" aria-hidden="true"/>
                                        <!-- [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                        <span class="flag-wrap">
                                            <span class="flag">NEW</span>
                                            <span class="flag">BEST</span>
                                        </span>
                                        <!-- // [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                    </a>
                                    <div class="products-info">
                                        <a href="#" class="model-name">LG TROMM 스타일러</a>
                                                                                
                                        <div class="sku">AGM73611305</div>
                                                                                
                                        <div class="rating" data-bv-show="inline_rating" data-bv-product-id="MD05913476" data-bv-redirect-url="/us/tvs/lg-OLED65W8PUA-signature-oled-4k-tv#reviews">별점</div>
                                                                                
                                        <div class="price-area">
                                            <div class="purchase-price">
                                                <div class="price">6,480,000원</div>
                                            </div>
                                            <div class="product-price">
                                                <del class="price" aria-label="Previous price">10,550,000원</del>
                                                <div class="legal">20% 할인</div>
                                            </div>
                                        </div>
                                                                            
                                        <div class="promotion">여름 시즌 세일</div>
                                    </div>
                                </div>
                                <div class="item ui_carousel_slide">
                                    <a href="#" class="visual" tabindex="-1">
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload pc" alt="" aria-hidden="true"/>
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload mobile" alt="" aria-hidden="true"/>
                                        <!-- [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                        <span class="flag-wrap">
                                            <span class="flag">NEW</span>
                                            <span class="flag">BEST</span>
                                        </span>
                                        <!-- // [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                    </a>
                                    <div class="products-info">
                                        <a href="#" class="model-name">LG TROMM 스타일러</a>
                                                                                
                                        <div class="sku">AGM73611305</div>
                                                                                
                                        <div class="rating" data-bv-show="inline_rating" data-bv-product-id="MD05913476" data-bv-redirect-url="/us/tvs/lg-OLED65W8PUA-signature-oled-4k-tv#reviews">별점</div>
                                                                                
                                        <div class="price-area">
                                            <div class="purchase-price">
                                                <div class="price">6,480,000원</div>
                                            </div>
                                            <div class="product-price">
                                                <del class="price" aria-label="Previous price">10,550,000원</del>
                                                <div class="legal">20% 할인</div>
                                            </div>
                                        </div>
                                                                            
                                        <div class="promotion">여름 시즌 세일</div>
                                    </div>
                                </div>
                                <div class="item ui_carousel_slide">
                                    <a href="#" class="visual" tabindex="-1">
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload pc" alt="" aria-hidden="true"/>
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload mobile" alt="" aria-hidden="true"/>
                                        <!-- [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                        <span class="flag-wrap">
                                            <span class="flag">NEW</span>
                                            <span class="flag">BEST</span>
                                        </span>
                                        <!-- // [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                    </a>
                                    <div class="products-info">
                                        <a href="#" class="model-name">LG TROMM 스타일러</a>
                                                                                
                                        <div class="sku">AGM73611305</div>
                                                                                
                                        <div class="rating" data-bv-show="inline_rating" data-bv-product-id="MD05913476" data-bv-redirect-url="/us/tvs/lg-OLED65W8PUA-signature-oled-4k-tv#reviews">별점</div>
                                                                                
                                        <div class="price-area">
                                            <div class="purchase-price">
                                                <div class="price">6,480,000원</div>
                                            </div>
                                            <div class="product-price">
                                                <del class="price" aria-label="Previous price">10,550,000원</del>
                                                <div class="legal">20% 할인</div>
                                            </div>
                                        </div>
                                                                            
                                        <div class="promotion">여름 시즌 세일</div>
                                    </div>
                                </div>
                                <div class="item ui_carousel_slide">
                                    <a href="#" class="visual" tabindex="-1">
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload pc" alt="" aria-hidden="true"/>
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload mobile" alt="" aria-hidden="true"/>
                                        <!-- [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                        <span class="flag-wrap">
                                            <span class="flag">NEW</span>
                                            <span class="flag">BEST</span>
                                        </span>
                                        <!-- // [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                    </a>
                                    <div class="products-info">
                                        <a href="#" class="model-name">LG TROMM 스타일러</a>
                                                                                
                                        <div class="sku">AGM73611305</div>
                                                                                
                                        <div class="rating" data-bv-show="inline_rating" data-bv-product-id="MD05913476" data-bv-redirect-url="/us/tvs/lg-OLED65W8PUA-signature-oled-4k-tv#reviews">별점</div>
                                                                                
                                        <div class="price-area">
                                            <div class="purchase-price">
                                                <div class="price">6,480,000원</div>
                                            </div>
                                            <div class="product-price">
                                                <del class="price" aria-label="Previous price">10,550,000원</del>
                                                <div class="legal">20% 할인</div>
                                            </div>
                                        </div>
                                                                            
                                        <div class="promotion">여름 시즌 세일</div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-arrow next">다음</button><!-- [KR수정] class 수정 -->
                        </div>                 
                    </div>
                </section>
            </div>

            <div class="component-wrap">   
                @@include('./components/common-note.html')                 
                <section class="component KRP0013">
                    <div class=" component-outer-box bundle-wrap">
                        <h2 class="title">신상품</h2>
                        <div class="product-type rowColumn ui_carousel_slider2">   
                            <!-- [KR수정] indicator DOM 추가-->
                            <ul class="indicator ui_carousel_dots">
                                <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                            </ul>
                            <!-- // [KR수정] indicator DOM 추가-->                                                                                                    
                            <button type="button" class="btn-arrow prev">이전</button><!-- [KR수정] class 수정 -->
                            <div class="items ui_carousel_track">
                                <div class="item ui_carousel_slide">
                                    <a  href="#" class="visual" tabindex="-1">
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload pc" alt="" aria-hidden="true"/>
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload mobile" alt="" aria-hidden="true"/>
                                        <!-- [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                        <span class="flag-wrap">
                                            <span class="flag">NEW</span>
                                            <span class="flag">BEST</span>
                                        </span>
                                        <!-- // [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                    </a>
                                    <div class="products-info">
                                        <a href="#" class="model-name">LG TROMM 스타일러</a>
                                                                                
                                        <div class="sku">AGM73611305</div>
                                                                                
                                        <div class="rating" data-bv-show="inline_rating" data-bv-product-id="MD05913476" data-bv-redirect-url="/us/tvs/lg-OLED65W8PUA-signature-oled-4k-tv#reviews">별점</div>
                                                                                
                                        <div class="price-area">
                                            <div class="purchase-price">
                                                <div class="price">6,480,000원</div>
                                            </div>
                                            <div class="product-price">
                                                <del class="price" aria-label="Previous price">10,550,000원</del>
                                                <div class="legal">20% 할인</div>
                                            </div>
                                        </div>  
                                        
                                        <div class="promotion">여름 시즌 세일</div>
                                    </div>
                                </div>
                                <div class="item ui_carousel_slide">
                                    <a  href="#" class="visual" tabindex="-1">
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload pc" alt="" aria-hidden="true"/>
                                        <img data-src="/lg5-common/images/KRP0013/@thumb01.jpg" class="lazyload mobile" alt="" aria-hidden="true"/>
                                        <!-- [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                        <span class="flag-wrap">
                                            <span class="flag">NEW</span>
                                            <span class="flag">BEST</span>
                                        </span>
                                        <!-- // [KR수정] 뱃지 추가(by.정준영) 기능 반영 DOM 추가 -->
                                    </a>
                                    <div class="products-info">
                                        <a href="#" class="model-name">LG TROMM 스타일러</a>
                                                                                
                                        <div class="sku">AGM73611305</div>
                                                                                
                                        <div class="rating" data-bv-show="inline_rating" data-bv-product-id="MD05913476" data-bv-redirect-url="/us/tvs/lg-OLED65W8PUA-signature-oled-4k-tv#reviews">별점</div>
                                                                                
                                        <div class="price-area">
                                            <div class="purchase-price">
                                                <div class="price">6,480,000원</div>
                                            </div>
                                            <div class="product-price">
                                                <del class="price" aria-label="Previous price">10,550,000원</del>
                                                <div class="legal">20% 할인</div>
                                            </div>
                                        </div>  
                                        
                                        <div class="promotion">여름 시즌 세일</div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-arrow next">다음</button><!-- [KR수정] class 수정 -->
                        </div>
                                                
                    </div>
                </section>	
                                                    
                                                        
            </div>
                
		</div>
    </div>     
</body>
</html>