<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0015"
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component -->
            <div class="component-wrap">
                <section class="component KRP0015">
                    <div class="component-inner">
                        <div class="solution-review-wrap">
							<div class="visual-area">
								<img data-pc-src="/lg5-common/images/KRP0015/@sample-1284x2225.jpg" data-m-src="/lg5-common/images/KRP0015/@sample-720x3371.jpg" class="lazyload" alt="" src="/lg5-common/images/KRP0015/@sample-1284x2225.jpg">
							</div>
						</div>
                    </div>
                </section>
            </div>
            <!-- // component -->

        </div>
    </div>
</body>
</html>