<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRP0024",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">

			<div class="component-wrap">
				<!--
					[component-wrap 옵션]
					1. 여백
					.zero-top : 상단여백 없음
					.zero-btm : 하단여백 없음
				-->
				<section class="component KRP0024">
					<div class="component-inner">
						<div class="title">
							<h2>체험리뷰</h2>
						</div>

						<div class="slide-wrap ui_carousel_slider">
							<div class="indi-wrap">
								<ul class="indi-conts ui_carousel_dots">
									<li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
								</ul>
								<!-- [KR수정] play/pause btn DOM 추가 -->
								<span class="ui_carousel_play play">
									<button type="button" class="btn-play"><span class="blind">슬라이드 일시정지</span></button>
								</span>
								<!-- // [KR수정] play/pause btn DOM 추가 -->
							</div>
							<div class="slide-content ui_carousel_list">
								<div class="slide-track ui_carousel_track">
									<!-- slide item -->
									<div class="slide-conts ui_carousel_slide">
										<div class="best-review-wrap">
											<div class="inner">
												<div class="review-visual">
													<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRP0024/@KRP0024-img-visual-pc.jpg" data-m-src="/lg5-common/images/KRP0024/@KRP0024-img-visual-mo.jpg" aria-hidden="true"></span>
												</div>
												<div class="review-info">
													<div class="info-title">
														<h3>더 맛있게 비빔면 만들어 먹게 해준 LG DIOS 얼음정수기냉장고</h3>
													</div>
													<p class="info-txt">지난 주말에는 갑자기 더운 날씨로 입맛도 없고 막상뭘 하기는 귀찮고 그래서 펜트리를 보니 비빔면이 보이길래 끓여먹었어요.</p>
													<div class="info-bot-area">
														<a href="#n" class="btn"><span>자세히보기</span></a>
													</div>
												</div>
											</div>
										</div>
									</div> 
									<!-- //slide item -->
									<!-- slide item -->
									<div class="slide-conts ui_carousel_slide">
										<div class="best-review-wrap">
											<div class="inner">
												<div class="review-visual">
													<span class="bg ui_bg_switch" data-pc-src="/lg5-common/images/KRP0024/@KRP0024-img-visual-pc.jpg" data-m-src="/lg5-common/images/KRP0024/@KRP0024-img-visual-mo.jpg" aria-hidden="true"></span>
												</div>
												<div class="review-info">
													<div class="info-title">
														<h3>더 맛있게 비빔면 만들어 먹게 해준 LG DIOS 얼음정수기냉장고</h3>
													</div>
													<p class="info-txt">지난 주말에는 갑자기 더운 날씨로 입맛도 없고 막상뭘 하기는 귀찮고 그래서 펜트리를 보니 비빔면이 보이길래 끓여먹었어요.</p>
													<div class="info-bot-area">
														<a href="#n" class="btn"><span>자세히보기</span></a>
													</div>
												</div>
											</div>
										</div>
									</div> 
									<!-- //slide item -->
								</div>
							</div>
							<!-- [KR수정] slide arrow button DOM 추가 -->
							<div class="slide-controls">
								<button type="button" class="btn-arrow prev ui_carousel_prev"><span class="blind">이전</span></button>
								<button type="button" class="btn-arrow next ui_carousel_next"><span class="blind">다음</span></button>
							</div>
							<!-- // [KR수정] slide arrow button DOM 추가 -->
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</body>
</html>