<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0039",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">
            <!-- component -->
            @@include('./common/partials/KRP0039.html', {
                zero: "zero-btm",
                eventExhibitionTitle: "최대 2줄 노출, 2줄 초과시 말줄임 처리최대 2줄 노출, 2줄 초과시 말줄임 처리최대 2줄 노출, 2줄 초과시 말줄임 처리최대 2줄 노출, 2줄 초과시 말줄임 처리 최대 2줄 노출, 2줄 초과시 말줄임 처리최대 2줄 노출, 2줄 초과시 말줄임 처리최대 2줄 노출, 2줄 초과시 말줄임 처리최대 2줄 노출",
                ctaBtnLink: "testlink.html",
                ctaBtnName: "이벤트 더보기",
                ctaBtnTarget: "_self"
            })
            <!-- // component -->
            <!-- component -->
            @@include('./common/partials/KRP0039.html', {
                zero: "",
                eventExhibitionTitle: "특별한 기획전을 만나보세요",
                ctaBtnLink: "testlink.html",
                ctaBtnName: "기획전 더보기",
                ctaBtnTarget: ""
            })
            <!-- // component -->
		</div>
    </div>
</body>
</html>