<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRP0027",
		isJScompile: false,
	})
<body>
	<div class="wrap">
		<div class="container">

			<div class="component-wrap">
				<!--
					1. 여백
					.zero-top : 상단여백 없음
					.zero-btm : 하단여백 없음
				-->
				<section class="component KRP0027">
					<div class="component-inner">
						<div class="title">
							<h2>구매 시 유의사항</h2>
						</div>

						<div class="tabs-wrap border-type left ui_tab">
							<ul class="tabs">
								<li class="on"><a href="#tab1">주문<em class="blind">선택됨</em></a></li>
								<li><a href="#tab2">반품.교환.A/S</a></li>
								<li><a href="#tab3">판매자정보</a></li>
							</ul>
						</div>

						<!-- tabs-cont 1 -->
						<div class="tabs-cont" id="tab1">
							<div class="flex-list-wrap">
								<ul class="flex-list-inner">
									<li>
										<strong class="list-tit">주문 안내</strong>
										<p class="list-txt">전국 각지의 LG전자 물류센터를 통해 안전하고 신속하게 배송합니다. 배송 2~3일 전 / 배송 전일 / 배송 당일에 알림톡으로 배송예정일 사전 안내가 되며 알림톡을 통해 배송일자 조정시, 보유재고 및 생산계획에 따라 최종 배송가능 일정은 변경될 수 있습니다. (단, 택배배송 및 일부 상품은 알림톡 발송 제외)</p>
									</li>
									<li>
										<strong class="list-tit">배송 안내</strong>
										<p class="list-txt">제품 특성에 따라 직배송 및 택배배송 됩니다. 직배송일 경우 배송당일 오전 배송기사가 배송일자 조정도 가능하나 최초 배송안내일로부터 8일 이상 인수 연기시(기사와 협의하였더라도) 주문자동 취소 처리됩니다. 인수 고객과 통화불가 및 수령지 주소가 불명확할 경우 배송이 지연될 수 있습니다.</p>
									</li>
									<li>
										<strong class="list-tit">배송 지연 시 안내</strong>
										<p class="list-txt">배송일은 통상 영업일 기준 최대 7일까지 소요될 수 있습니다. 단, 배송일이 7일 이상 초과되는 경우(재고부족, 단종, 천재지변 등)에는 고객님께 사전 안내 드립니다.</p>
									</li>
									<li>
										<strong class="list-tit">도서/산간지역</strong>
										<p class="list-txt">도서/산간 지역의 경우 배송이 제한되거나, 배송일 조정이 어렵거나 택배의 경우 추가운임이 발생할 수 있으니 주문전 반드시 고객센터(1661-2471)을 통해 상담 부탁드립니다.</p>
									</li>
								</ul>
							</div>
						</div>
						<!-- //tabs-cont 1 -->

						<!-- tabs-cont 2 -->
						<div class="tabs-cont" id="tab2">
							<div class="flex-list-wrap">
								<ul class="flex-list-inner">
									<li>
										<strong class="list-tit">주문 안내</strong>
										<p class="list-txt">전국 각지의 LG전자 물류센터를 통해 안전하고 신속하게 배송합니다. 배송 2~3일 전 / 배송 전일 / 배송 당일에 알림톡으로 배송예정일 사전 안내가 되며 알림톡을 통해 배송일자 조정시, 보유재고 및 생산계획에 따라 최종 배송가능 일정은 변경될 수 있습니다. (단, 택배배송 및 일부 상품은 알림톡 발송 제외)</p>
									</li>
								</ul>
							</div>
						</div>
						<!-- //tabs-cont 2 -->

						<!-- tabs-cont 3 -->
						<div class="tabs-cont" id="tab3">
							<p>전국 각지의 LG전자 물류센터를 통해 안전하고 신속하게 배송합니다. 배송 2~3일 전 / 배송 전일 / 배송 당일에 알림톡으로 배송예정일 사전 안내가 되며 알림톡을 통해 배송일자 조정시, 보유재고 및 생산계획에 따라 최종 배송가능 일정은 변경될 수 있습니다. (단, 택배배송 및 일부 상품은 알림톡 발송 제외)</p>
						</div>
						<!-- //tabs-cont 2 -->
					</div>
				</section>
			</div> <!-- //.component-wrap-->

		</div>
	</div>
</body>
</html>