<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0026",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRP0026 -->
            @@include('./common/partials/KRP0026.html', {
                "zero" : "zero-top zero-btm",
                "tabBarType" : true,
                "type" : "w-btn",
                "tabInBtn" : true,
                "lgVisual" : true
            })
            <!-- // component KRP0026 -->
		</div>
    </div>
</body>
</html>