<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRP0022",
		isJScompile: true,
	})
<body>
	<div class="wrap">
		<div class="container">
			<!-- component -->
            @@include('./common/partials/KRP0022.html', {
				eventPage:true
			})
			<!-- // component -->
			

			<!-- component -->
            @@include('./common/partials/KRP0022.html', {
			})
            <!-- // component -->
		</div>
	</div>
	<article id="event-modal" class="popup-wrap"></article>
</body>
</html>