<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0020",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRP0020 -->
            <div class="component-wrap">
                <!--
                    [component-wrap 옵션]
                    1. 여백
                    .zero-top : 상단여백 없음
                    .zero-btm : 하단여백 없음
                -->
                <section class="component KRP0020">
                    <div class="component-inner">
                        <div class="evt-bnr">
                            <h2 class="tit">진행중 이벤트</h2>
                        
                            <!-- carousel -->
                            <div class="slide-wrap ui_carousel_slider">
                                <div class="indi-wrap">
                                    <ul class="indi-conts ui_carousel_dots">
                                        <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                                    </ul>
                                </div>
                                <div class="slide-content ui_carousel_list">
                                    <div class="slide-track ui_carousel_track">
                                        <!-- slide -->
                                        <div class="slide-conts ui_carousel_slide">
                                            <div class="conts-wrap">
                                                <div class="evt">
                                                    <a href="#n" class="evt-link">
                                                        <span class="thumb">
                                                            <img src="/lg5-common/images/dummy/@img-event01.jpg" alt="" aria-hidden="true">
                                                            <div class="flag-wrap bg-type">
                                                                <span class="flag"><span class="blind">제품 카테고리</span>TV</span>
                                                                <span class="flag"><span class="blind">제품 카테고리</span>프로젝터</span>
                                                            </div>
                                                        </span>
                                                        <div class="event-info">
                                                            <div class="flag-wrap">
                                                                <span class="flag"><span class="blind">이벤트 구분</span>매장</span>
                                                                <span class="flag"><span class="blind">이벤트 유형</span>구매혜택</span>
                                                            </div>
                                                            <p class="tit"><span class="blind">이벤트 제목</span>2020 NEW 올레드와 함께하는 홈라이프</p>
                                                            <p class="date"><span class="blind">이벤트 기간</span>2020.08.01~2020.09.30</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- //slide -->
                                        <!-- slide -->
                                        <div class="slide-conts ui_carousel_slide">
                                            <div class="conts-wrap">
                                                <div class="evt">
                                                    <a href="#n" class="evt-link">
                                                        <span class="thumb">
                                                            <img src="/lg5-common/images/dummy/@img-event02.jpg" alt="" aria-hidden="true">
                                                            <div class="flag-wrap bg-type">
                                                                <span class="flag"><span class="blind">제품 카테고리</span>프로젝터</span>
                                                            </div>
                                                        </span>
                                                        <div class="event-info">
                                                            <div class="flag-wrap">
                                                                <span class="flag"><span class="blind">이벤트 구분</span>온라인</span>
                                                                <span class="flag"><span class="blind">이벤트 유형</span>사은품</span>
                                                            </div>
                                                            <p class="tit"><span class="blind">이벤트 제목</span>LG 시네빔으로 즐기는 왓챠 콘텐츠!</p>
                                                            <p class="date"><span class="blind">이벤트 기간</span>2020.08.01~2020.09.30</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- //slide -->
                                        <!-- slide -->
                                        <div class="slide-conts ui_carousel_slide">
                                            <div class="conts-wrap">
                                                <div class="evt">
                                                    <a href="#n" class="evt-link">
                                                        <span class="thumb">
                                                            <img src="/lg5-common/images/dummy/@img-event03.jpg" alt="" aria-hidden="true">
                                                            <div class="flag-wrap bg-type">
                                                                <span class="flag"><span class="blind">제품 카테고리</span>에어컨</span>
                                                            </div>
                                                        </span>
                                                        <div class="event-info">
                                                            <div class="flag-wrap">
                                                                <span class="flag"><span class="blind">이벤트 구분</span>온라인</span>
                                                                <span class="flag"><span class="blind">이벤트 유형</span>사은품</span>
                                                            </div>
                                                            <p class="tit"><span class="blind">이벤트 제목</span>LG 이동식 에어컨 창문 잠금장치 신청 이벤트</p>
                                                            <p class="date"><span class="blind">이벤트 기간</span>2020.08.01~2020.09.30</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- //slide -->
                                    </div>
                                </div>
                            </div>
                            <!-- //carousel -->

                            <a href="#n" class="btn-text">이벤트 더보기</a>
                        </div>
                    </div>
                </section>
            </div>
            <!-- //component KRP0020 -->
		</div>
    </div>
</body>
</html>