<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0009",
        isJScompile: false
    })
<body>
    <div class="wrap">
        @@include('./common/header.html')
        <div class="container">

            <!-- component KRC0009 -->           
            <section class="component KRP0009">
                <!-- component -->
                @@include('./common/partials/KRP0009-cate.html')
                <!-- // component -->

                <div class="plp-list-wrap">
                    <!-- component -->
                    @@include('./common/partials/KRP0009-filter.html')
                    <!-- // component -->

                    <!-- component -->
                    @@include('./common/partials/KRP0009-list.html')
                    <!-- // component -->
                </div>
            </section>
            <!-- //component KRC0009 -->
        </div>
        @@include('./common/footer.html')
    </div>
</body>
</html>