<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0040",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRP0040 -->
            <div class="component-wrap full">
                <!--
                    [component-wrap 옵션]
                    1. 여백
                    .zero-top : 상단여백 없음
                    .zero-btm : 하단여백 없음
                -->
                <section class="component KRP0040">
                    <div class="inner">
                        <div class="heading-box">
                            <div class="title">
                                <h2>Q&A (<em id="count" class="count">86</em>)</h2>
                            </div>
                        </div>
                        <div class="result-wrap">
                            <!-- sort -->
                            <div class="sorting-wrap">
                                <div class="sort-wrap">
                                    <div class="sort-box">
                                        <div class="sort-select-wrap">
                                            <select class="ui_selectbox" name="orderType" id="orderType" title="정렬 기준 선택">
                                                <option value="all">문의유형 전체</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="sort-area">
                                        <div class="sort-list">
                                            <span class="chk-wrap">
                                                <input type="checkbox" id="secretSort" name="secret">
                                                <label for="eventSort">비밀글 제외</label>
                                            </span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn border ico-req" data-href="#loginCheckPopup" data-control="modal"><span>문의하기</span></button>
                                </div>
                            </div>
                            <!-- //sort -->
                            <!-- Accordion -->
                            <div class="accordion-wrap qna-type ui_accordion" data-single-open="true" data-open-index="0">
                                <ul>
                                    <li class="lists">
                                        <div class="head">
                                            <a href="#n" class="accord-btn ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
                                                <span class="badge">답변완료</span>                                            
                                                <span class="title line2 secret">주문하면 얼마나 걸리나요?</span> <!-- 말줄임 line수 따라 line1, line2, line3, line4, line5 적용 / secert 클래스로 비밀글 아이콘 여부 처리 있을경우에만 아이콘적용-->
                                                <span class="writer">홍길동</span>
                                                <span class="date">2021.11.12</span>
                                                <span class="blind ui_accord_text">내용 더 보기</span>
                                            </a>
                                        </div>
                                        <div class="accord-cont ui_accord_content" style="display:none;">
                                            <div class="que-box">
                                                <div>
                                                    <span class="que tit">Q</span>
                                                    <p class="desc">
                                                        서울지역은 묶음배송(무료배송 지역)으로 진행되기에 주말, 공휴일 제외하고 평일기준 2-3주 전후로 소요되며,
                                                        그 외 지역의 기본배송일은 주말 공휴일 제외하고 평일 기준 7-14일 전후로 소요됩니다.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="ans-box">
                                                <div>
                                                    <span class="ans tit">A</span>
                                                    <p class="desc">
                                                        네 고객님 벽걸이로 주문하셔도, 기본 스탠드는 함께 배송됩니다. 언제든지 추가 비용 없이 스탠드형으로  변경 설치 가능합니다.
                                                    </p>
                                                </div>
                                                <div class="ans-date-wrap">
                                                    <span class="ans-date">답변일 2021.09.30</span>
                                                </div>
                                            </div>
                                            <div class="btn-wrap">
                                                <!-- 삭제버튼은 답변대기/완료 모두 화면에 활성화, 답변완료 상태되면 삭제버튼만 활성화 되도록 구현! -->
                                                <a class="btn-modify" href="javascript:;">수정</a>
                                                <a class="btn-delete" href="javascript:;">삭제</a> 
                                            </div>
                                        </div>
                                    </li>
                                    <li class="lists">
                                        <div class="head">
                                            <a href="#n" class="accord-btn ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
                                                <span class="badge">답변대기</span>                                            
                                                <span class="title line2 secret">주문하면 얼마나 걸리나요?</span> <!-- 말줄임 line수 따라 line1, line2, line3, line4, line5 적용 / secert 클래스로 비밀글 아이콘 여부 처리 있을경우에만 아이콘적용-->
                                                <span class="writer">홍길동</span>
                                                <span class="date">2021.11.12</span>
                                                <span class="blind ui_accord_text">내용 더 보기</span>
                                            </a>
                                        </div>
                                        <div class="accord-cont ui_accord_content" style="display:none;">
                                            <div class="que-box">
                                                <p>
                                                    <span class="que">Q</span>
                                                    서울지역은 묶음배송(무료배송 지역)으로 진행되기에 주말, 공휴일 제외하고 평일기준 2-3주 전후로 소요되며,<br>
                                                    그 외 지역의 기본배송일은 주말 공휴일 제외하고 평일 기준 7-14일 전후로 소요됩니다.
                                                </p>
                                            </div>
                                            <div class="ans-box">
                                                <!-- 답변 대기 일때, 그리지 않도록, templete case 분리하고! 
                                                <p>
                                                    <span class="ans">A</span>
                                                    네 고객님 벽걸이로 주문하셔도, 기본 스탠드는 함께 배송됩니다. 언제든지 추가 비용 없이 스탠드형으로  변경 설치 가능합니다.
                                                </p>
                                                <div class="ans-date-wrap">
                                                    <span class="ans-date">답변일 2021.09.30</span>
                                                </div> 
                                                -->
                                            </div>
                                            <div class="btn-wrap">
                                                <!-- 삭제버튼은 답변대기/완료 모두 화면에 활성화, 답변완료 상태되면 삭제버튼만 활성화 되도록 구현! -->
                                                <a class="btn-modify" href="javascript:;">수정</a>
                                                <a class="btn-delete" href="javascript:;">삭제</a> 
                                            </div>
                                        </div>
                                        
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                            <!-- // Accordion -->
                        </div>
                        <!-- paging -->
                        <div class="pagination" data-page="1" data-visible-count="5" data-total-count="4"></div>
                        <!-- //paging -->
                        @@include('./common/modules/pagination.html', {
                            count: 5
                        })
                        
                    </div>
                </section>
            </div>
            <!-- //component KRP0014 -->
		</div>
    </div>      
</body>
</html>