<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0044",
    isJScompile: true
})
<script>
    var lgePdpSendData  = {
		"modelId":"MD08920827",
		"sku" : "W821SGS453.AKOR",
		"typeFlag" : "",
		"rtSeq" : "",
		"requireCare" : "Y",
		"wishListId" : "",
		"wishItemId" : "",
		"categoryId" : "CT50000065",
		"id": "MD08920827",
		"productName": "LG 오브제컬렉션 얼음정수기냉장고",
		"productID": "MD08920827",
		"productImg": "/kr/images/refrigerators/md08920827/md08920827-350x350.jpg",
		"productAlt": "LG 오브제컬렉션 얼음정수기냉장고",
		"b2bCateMapping": "N"
	};
</script>
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRP0044 -->
            @@include('./common/partials/KRP0044.html', {
                "heading" : "<h2>제품에 대한 다양한 스토리를 만나보세요</h2>",
            })
            <!-- // component KRP0044 -->
		</div>
    </div>
</body>
</html>