<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0038",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRP0038 -->
            <!--BTOCSITE-2117 공통 > 모바일 웹/앱 GNB 개선 : mo에서 hidden -->
            @@include('./common/partials/KRP0038.html', {
                "visibility": "hidden-mo",
            })

            @@include('./common/partials/KRP0038.html', {
				"align-class": "align-left",
			})
			
			@@include('./common/partials/KRP0038.html', {
                "align-class": "align-center",
			})
			
			@@include('./common/partials/KRP0038.html', {
                "align-class": "align-right",
            })

            @@include('./common/partials/KRP0038.html', {
                "align-class": "align-left",
                "bg-color": "bg-lightgray"
			})
			
			@@include('./common/partials/KRP0038.html', {
                "align-class": "align-center",
                "bg-color": "bg-dark"
			})
			
			@@include('./common/partials/KRP0038.html', {
                "align-class": "align-right",
                "bg-color": "bg-black"
            })


            <!-- BTOCSITE-3270 공유하기 타입 추가 2021-07-19 -->
            @@include('./common/partials/KRP0038.html', {
                "shareType": "share-type",
                "align-class": "align-center",
                'bg-color': 'bg-white'
            })
            <!-- //BTOCSITE-3270 공유하기 타입 추가 2021-07-19 -->
            <!-- //component KRP0038 -->
		</div>
    </div>      
</body>
</html>