<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0008",
        isJScompile: true
    })
<body>

    <div class="wrap">
        <button type="button" data-href="#pop-pdp-visual" data-control="modal" class="btn pink"><span>이미지 View Layer</span></button><br><br>
        <button type="button" data-href="#modal-02" data-control="modal" class="btn pink"><span>수상내역</span></button><br><br>
<!--        <button type="button" data-href="#modal-03" data-control="modal" class="btn pink"><span>추가혜택</span></button><br><br>-->
        <button type="button" data-href="#modal-04" data-control="modal" class="btn pink"><span>구매혜택</span></button><br><br>
        <button type="button" data-href="#modal-05" data-control="modal" class="btn pink"><span>사전 예약 제품 안내</span></button><br><br>
        <button type="button" data-href="#modal-06" data-control="modal" class="btn pink"><span>케어솔루션 할인 혜택</span></button><br><br>
        <button type="button" data-href="#modal-07" data-control="modal" class="btn pink"><span>케어십 할인 혜택</span></button><br><br>
        <button type="button" data-href="#modal-08" data-control="modal" class="btn pink"><span>제품 구매 안내 - 케어십 바로구매 선택 시</span></button><br><br>
<!--        <button type="button" data-href="#modal-09" data-control="modal" class="btn pink"><span>케어십 안내 - 케어십 바로구매 선택 시</span></button><br><br>-->
        <button type="button" data-href="#modal-10" data-control="modal" class="btn pink"><span>구매 안내</span></button><br><br>
        <button type="button" data-href="#modal-11" data-control="modal" class="btn pink"><span>주문안내</span></button><br><br>
        <button type="button" data-href="#modal-12" data-control="modal" class="btn pink"><span>회원 구매 안내 - 홈브루</span></button><br><br>
        <button type="button" data-href="#modal-13" data-control="modal" class="btn pink"><span>AR 체험 안내</span></button><br><br>
        <button type="button" data-href="#modal-14" data-control="modal" class="btn pink"><span>윙 체험존 위치 보기</span></button><br><br>
        <!--BTOCSITE-4224 스펙 선택 테스트용-->
        <button type="button" data-href="#modal-15" data-control="modal" class="btn pink"><span>스펙 선택</span></button><br><br><br><br>

        <div><strong>alert</strong></div><br>
        <button type="button" data-href="#laypop1" data-control="modal" class="btn"><span>케어솔루션 수량 초과시</span></button><br><br>
        <button type="button" data-href="#laypop2" data-control="modal" class="btn"><span>케어솔루션 장바구니 안내</span></button><br><br>
        <button type="button" data-href="#laypop3" data-control="modal" class="btn"><span>전시매장 없음</span></button><br><br>
        <button type="button" data-href="#laypop4" data-control="modal" class="btn"><span>케어십 신청 안내</span></button><br><br>
        <button type="button" data-href="#laypop5" data-control="modal" class="btn"><span>케어십 장바구니 안내</span></button><br><br>
    </div>

    <!-- 이미지 View Layer -->
    @@include('./common/partials/modal/KRP0008-modal-01.html')

    <!-- 수상내역 -->
    @@include('./common/partials/modal/KRP0008-modal-02.html', {
        popupID: 'modal-02'
    })

    <!-- 추가혜택 (사용하지 않음)
    (@@)include('./common/partials/modal/KRP0008-modal-03.html', {
        popupID: 'modal-03'
    })
    -->

    <!-- 구매혜택 -->
    @@include('./common/partials/modal/KRP0008-modal-04.html', {
        popupID: 'modal-04'
    })

    <!-- 사전 예약 제품 안내 -->
    @@include('./common/partials/modal/KRP0008-modal-05.html', {
        popupID: 'modal-05'
    })

    <!-- 210326 수정 [전체 수정] -->
    <!-- 케어솔루션 할인 혜택 -->
    @@include('./common/popup/ACCF7002_pop4.html', {
        popupID: 'modal-06',
        title : "케어솔루션 할인 혜택",
        h2Tit : "의무 사용기간 3년/계약기간 5년",
        fee1 : "월 36,900원",
        fee2 : "- 23,000원",
        fee3 : "월 13,900원",
        tableArr : [
            { "td1" : "1년차(1~12회차)", "td2" : "36,900원", "td3" : "3,6,9,12 무상할인"},
            { "td1" : "2년차(13~24회차)", "td2" : "36,900원", "td3" : "15, 18 무상할인"},
            { "td1" : "3년차(25~36회차)", "td2" : "36,900원", "td3" : ""},
            { "td1" : "4년차(37~48회차)", "td2" : "13,900원", "td3" : ""},
            { "td1" : "5년차(49~60회차)", "td2" : "13,900원", "td3" : ""},
        ],
        feeDt : "무상할인 적용 회차(6회)",
        freeMonth : "3, 6, 9, 12, 15, 18",
        bTit : "케어솔루션 안내",
        bTxt : [
            "케어솔루션 총요금은 대표요금제 기준이며, 요금제에 따라 총 비용이 다를 수 있습니다.",
            "계약기간 5년동안 무상 A/S<!-- 210405 수정 [문구수정] -->",
            "초기구입비용 0원(60개월 분할 납부)"
        ]
    })
    <!-- // 케어솔루션 할인 혜택 -->

    <!-- 케어십 할인 혜택 -->
    @@include('./common/popup/ACCF7002_pop4.html', {
        popupID: 'modal-07',
        title : "케어십 할인 혜택",
        h2Tit : "계약기간 1년",
        fee1 : "월 19,900원",
        fee2 : "- 13,000원",
        fee3 : "월 6,600원",
        tableArr : [
            { "td1" : "1년차(1~12회차)", "td2" : "19,900원", "td3" : "6, 12 무상할인"},
            { "td1" : "2년차(13~24회차)", "td2" : "19,900원", "td3" : ""},
            { "td1" : "3년차(25~36회차)", "td2" : "19,900원", "td3" : ""},
            { "td1" : "4년차(37~48회차)", "td2" : "13,900원", "td3" : ""},
            { "td1" : "5년차(49~60회차)", "td2" : "13,900원", "td3" : ""},
        ],
        feeDt : "무상할인 적용 회차(2회)",
        freeMonth : "6, 12",
        bTit : "케어십 안내",
        bTxt : [
            "케어십 요금은 대표요금제 기준이며, 요금제에 따라 제공되는 혜택이 다를 수 있습니다.",
            "해지의사가 없을시, 1년 단위로 자동연장됩니다."
        ]
    })
    <!-- // 케어십 할인 혜택 -->
    <!-- // 210326 수정 [전체 수정] -->

    <!-- 제품 구매 안내 - 케어십 바로구매 선택 시 -->
    @@include('./common/partials/modal/KRP0008-modal-08.html', {
        popupID: 'modal-08'
    })

    <!-- 케어십 안내 - 케어십 바로구매 선택 시 (사용하지 않음)
    (@@)include('./common/partials/modal/KRP0008-modal-09.html', {
        popupID: 'modal-09'
    })
    -->

    <!-- 구매 안내 -->
    @@include('./common/partials/modal/KRP0008-modal-10.html', {
        popupID: 'modal-10'
    })

    <!-- 210311 수정 [주문안내, 회원 구매 안내 팝업 추가] -->
    <!-- 주문 안내 -->
    @@include('./common/partials/modal/KRP0008-modal-11.html', {
        popupID: 'modal-11'
    })

    <!-- 회원 구매 안내 - 홈브루 -->
    @@include('./common/partials/modal/KRP0008-modal-12.html', {
        popupID: 'modal-12'
    })
    <!-- //210311 수정 [주문안내, 회원 구매 안내 팝업 추가] -->

    <!-- AR 체험 안내 210325 추가 -->
    @@include('./common/partials/modal/KRP0008-modal-13.html', {
        popupID: 'modal-13'
    })
    <!-- // AR 체험 안내 210325 추가 -->

    <!-- 210330 수정 [윙 체험존 위치 보기 추가] -->
    @@include('./common/partials/modal/KRP0008-modal-14.html', {
        popupID: 'modal-14'
    })
    <!-- // 210330 수정 [윙 체험존 위치 보기 추가] -->

    <!-- 20210607 스펙선택 추가 -->
    @@include('./common/partials/modal/KRP0008-modal-15.html', {
        popupID: 'modal-15'
    })
    <!-- //20210607 스펙선택 추가 -->


    <!-- 210305 수정 [alert 케이스 추가] -->
    @@include('./common/modules/alert-modal.html', {
        "popId" : "laypop1",
        "alertTit" : "케어솔루션/케어십 서비스는 최대 7개까지 서비스 이용이 가능합니다.",
        "alertCont" : [
            { "txt" : "(기존 7개의 제품 이용 중이며, <br>현재 신청 가능 제품 <strong class='point'>0</strong>개입니다.)" }
        ]
    })

    @@include('./common/modules/alert-modal.html', {
        "popId" : "laypop2",
        "msgOnly" : true,
        "msg" : "케어솔루션은 정수기 제품의 경우 최대 3대, 그 외 제품의 경우 최대 2대로 제한되며 총 7개를 초과하여 선택하실 수 없습니다."
    })

    @@include('./common/modules/alert-modal.html', {
        "popId" : "laypop3",
        "msgOnly" : true,
        "msg" : "해당 제품을 전시하는 매장은 없습니다.<br>하지만 매장에서 제품 상담을 받으실 수는 있습니다.<span>가까운 매장을 찾아 상담을 진행하시겠어요?</span><!-- 210325 수정 [문구 수정] -->",
        "twobtn" : true,
        "btnTxt1" : "아니오",
        "btnTxt2" : "네"
    })

    @@include('./common/modules/alert-modal.html', {
        "popId" : "laypop4",
        "msgOnly" : true,
        "msg" : "해당 제품은 케어십 서비스 신청이<br>필수인 제품입니다.",
        "btnTxt" : "확인"
    })

    @@include('./common/modules/alert-modal.html', {
        "popId" : "laypop5",
        "msgOnly" : true,
        "msg" : "케어십 서비스를 신청하시는 경우<br>1개의 제품만 장바구니에 담을 수 있습니다.<br>해당 제품을 장바구니에 담으시겠어요?",
        "twobtn" : true,
        "btnTxt1" : "아니오",
        "btnTxt2" : "네"
    })
    <!-- // 210305 수정 [alert 케이스 추가] -->

</body>
</html>