<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0012",
        isJScompile: true
    })

    <link type="text/css" rel="stylesheet" href="/lg5-common/css/components/KRC0065.min.css">
    <script src="/lg5-common/js/components/KRC0065.min.js"></script>
<body style="background-color:#f4f4f4;">
    <div class="wrap">
        <div class="container">
            
            <div style="width:100%;height:200px;"></div>
            <!-- 품절제품-->
            @@include('./common/partials/KRP0012.html', {
                "component-class.margin" : "zero-top zero-btm",
                "product" : {
                    "name" : "LG TROMM 스타일러LG TROMM 스타일러LG TROMM 스타일러"
                },
                "tabMenu" : {
                    careSolution : true
                },
                "extraMenu" : {
                    "style1" : "pink",
                    "style2" : "disabled",
                    "text" : "품절",
                    "link-url" : "#"
                },
                "type": "sticky",
                "type-btn": "type-btn"
            })
            <!-- //품절제품 -->
            @@include('./common/partials/KRC0065.html',{
                "component-class": {
                    "margin": "zero-top zero-btm"
                }
            })
            <style>p{padding:10px;}</style>
            <div id="overview">
                <div id="overview1" style="width:100%;height:1900px;background:#fdc0c0;"><p>overview1</p></div> 
                <div id="overview2" style="width:100%;height:1980px;background:#fde1c0;"><p>overview2</p></div> 
                <div id="overview3" style="width:100%;height:11000px;background:#fdefc0;"><p>overview3</p></div> 
                <div id="overview4" style="width:100%;height:1800px;background:#e3fdc0;"><p>overview4</p></div> 
                <div id="overview5" style="width:100%;height:2600px;background:#c0effd;"><p>overview5</p></div> 
                <div id="overview6" style="width:100%;height:11000px;background:#c0c1fd;"><p>overview6</p></div> 
            </div>
            <div id="pdp_spec" style="width:100%;height:800px;background:#f80101;"><p>spec</p></div>
            <div id="pdp_rental" style="width:100%;height:1300px;background:#f58301;"><p>rental</p></div>
            <div id="pdp_review" style="width:100%;height:1100px;background:#f8b602;"><p>review</p></div>
            <div id="pdp_support" style="width:100%;height:900px;background:#6ff700;"><p>support</p></div>
        </div>
    </div>
</body>
</html>