<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0010",
        isJScompile: true
    })
<body>
    <div class="wrap">
<!--        @@include('./common/header.html')-->
        <div class="container">

            <div class="component-wrap full">
                <!-- component KRP0010 -->
                <section class="component KRP0010" aria-label="{category명} product detail">

                    <div class="pdp-wrap">
                        <!-- component -->
                       @@include('./common/partials/KRP0010-image.html')
                        <!-- // component -->

                        <!-- component -->
                       @@include('./common/partials/KRP0010-info.html')
                        <!-- // component -->
                    </div>

                    <!-- toast-meassage -->
                    @@include('./common/modules/toast-message.html', {
                        "messageArr": [
                            {"message" : "이미 추가된 제품입니다."},
                            {"message" : "비교함에 등록되었습니다."},
                            {"message" : "케어솔루션/케어십 장바구니에 추가되었습니다."}
                        ]
                    })

                </section>
                <!-- //component KRP0010 -->
            </div>
        </div>
<!--        @@include('./common/footer.html')-->
    </div>
    <article id="pdp-modal" class="popup-wrap"></article>

    <div id="pdp-data">
        <div>
            <input type="hidden" name="index" value="0"/>
            <input type="hidden" name="type" value="video"/>
            <input type="hidden" name="imagePdp" value="/lg5-common/images/KRC0043/@thumb01.jpg"/>
            <input type="hidden" name="imageMobile" value=""/>
            <input type="hidden" name="imagePC" value=""/>
            <input type="hidden" name="alt" value="LG 올레드 갤러리 TV"/>
            <input type="hidden" name="videoType" value=""/>
            <input type="hidden" name="adUrl" value="https://www.youtube.com/embed/6BnPTCtzHlo"/>
            <input type="hidden" name="videoUrl" value="https://www.youtube.com/embed/LDocqNKcW0c"/>
            <input type="hidden" name="linkName" value="65UK6300PUE"/>
        </div>
        <div>
            <input type="hidden" name="index" value="1"/>
            <input type="hidden" name="type" value="animation"/>
            <input type="hidden" name="imagePdp" value="/lg5-common/images/KRC0043/@thumb02.jpg"/>
            <input type="hidden" name="imageMobile" value=""/>
            <input type="hidden" name="imagePC" value=""/>
            <input type="hidden" name="alt" value="LG 올레드 갤러리 TV"/>
            <input type="hidden" name="videoType" value="mp4"/>
            <input type="hidden" name="adUrl" value="/lg5-common/videos/Highlight_backround.mp4"/>
            <input type="hidden" name="videoUrl" value="/lg5-common/videos/signature_rain_view.mp4"/>
            <input type="hidden" name="linkName" value="65UK6300PUE"/>
        </div>
        <div>
            <input type="hidden" name="index" value="2"/>
            <input type="hidden" name="type" value="image"/>
            <input type="hidden" name="imagePdp" value="/lg5-common/images/KRC0043/@thumb01.jpg"/>
            <input type="hidden" name="imageMobile" value="/lg5-common/images/KRC0043/@thumb01.jpg"/>
            <input type="hidden" name="imagePC" value="/lg5-common/images/KRC0043/@thumb01.jpg"/>
            <input type="hidden" name="alt" value="LG 올레드 갤러리 TV"/>
            <input type="hidden" name="videoType" value=""/>
            <input type="hidden" name="adUrl" value=""/>
            <input type="hidden" name="videoUrl" value=""/>
            <input type="hidden" name="linkName" value="65UK6300PUE"/>
        </div>
        <div>
            <input type="hidden" name="index" value="3"/>
            <input type="hidden" name="type" value="image"/>
            <input type="hidden" name="imagePdp" value="/lg5-common/images/KRC0043/@thumb02.jpg"/>
            <input type="hidden" name="imageMobile" value="/lg5-common/images/KRC0043/@thumb02.jpg"/>
            <input type="hidden" name="imagePC" value="/lg5-common/images/KRC0043/@thumb02.jpg"/>
            <input type="hidden" name="alt" value="LG 올레드 갤러리 TV"/>
            <input type="hidden" name="videoType" value=""/>
            <input type="hidden" name="adUrl" value=""/>
            <input type="hidden" name="videoUrl" value=""/>
            <input type="hidden" name="linkName" value="65UK6300PUE"/>
        </div>
        <div>
            <input type="hidden" name="index" value="4"/>
            <input type="hidden" name="type" value="image"/>
            <input type="hidden" name="imagePdp" value="/lg5-common/images/KRC0043/@thumb03.jpg"/>
            <input type="hidden" name="imageMobile" value="/lg5-common/images/KRC0043/@thumb03.jpg"/>
            <input type="hidden" name="imagePC" value="/lg5-common/images/KRC0043/@thumb03.jpg"/>
            <input type="hidden" name="alt" value="LG 올레드 갤러리 TV"/>
            <input type="hidden" name="videoType" value=""/>
            <input type="hidden" name="adUrl" value=""/>
            <input type="hidden" name="videoUrl" value=""/>
            <input type="hidden" name="linkName" value="65UK6300PUE"/>
        </div>
        <div>
            <input type="hidden" name="index" value="5"/>
            <input type="hidden" name="type" value="image"/>
            <input type="hidden" name="imagePdp" value="/lg5-common/images/KRC0043/@thumb01.jpg"/>
            <input type="hidden" name="imageMobile" value="/lg5-common/images/KRC0043/@thumb01.jpg"/>
            <input type="hidden" name="imagePC" value="/lg5-common/images/KRC0043/@thumb01.jpg"/>
            <input type="hidden" name="alt" value="LG 올레드 갤러리 TV"/>
            <input type="hidden" name="videoType" value=""/>
            <input type="hidden" name="adUrl" value=""/>
            <input type="hidden" name="videoUrl" value=""/>
            <input type="hidden" name="linkName" value="65UK6300PUE"/>
        </div>
    </div>

</body>
</html>