<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0009",
        isJScompile: true
    })
<body>
    <script>
        var firstFilterList = []; //data[0].filterList 의 내용을 넣어주세요.
    </script>
    <input type="hidden" name="categoryId" value="CT30005620"> <!-- categoryId 을 가져오기 위한 테스트 용 -->
    
    <div class="wrap">
<!--        @@include('./common/header.html')-->
        <div class="container">

            <div class="component-wrap full">
                <!--
                    [.component-wrap 옵션]
                    1. 여백
                    .zero-top : 상단여백 없음
                    .zero-btm : 하단여백 없음
                -->
                
                <!-- component KRC0009 -->
                <section class="component KRP0009" aria-label="{category명} product list">
                    <!-- component -->
                   @@include('./common/partials/KRP0009-cate.html')
                    <!-- // component -->

                    <div class="plp-list-wrap" data-prod-list="/lg5-common/data-ajax/filter/retrieveCategoryProductList.json">
                        <!-- component -->
                        
                       @@include('./common/modules/list-filter.html')
                        <!-- // component -->
                        <!-- component -->
                        @@include('./common/partials/KRP0009-list.html', {
                            "items1": [
                                {
                                    "id": 0,
                                    "moduleType": "",
                                    "badgeType": "",
                                    "visual": "/lg5-common/images/dummy/@img-product.jpg",
                                    "review": "is-review",
                                    "reviewText": "리뷰있음",
                                    "average": "4.0",
                                    "reviewCount": "48",
                                    "button": "장바구니에 담기",
                                    "option1": {
                                        "title": "샤이니 유니버스",
                                        "color": "stainless-steel",
                                        "id": "product1-color1",
                                        "name": "product1",
                                        "checked": "checked"
                                    },
                                    "option2": {
                                        "title": "샤이니 퓨어",
                                        "color": "Black-Stainless-Steel",
                                        "id": "product1-color2",
                                        "name": "product1",
                                        "checked": ""
                                    },
                                    "option3": {
                                        "title": "맨하튼 미드나잇",
                                        "color": "MC_K62_SkyBlue",
                                        "id": "product1-color3",
                                        "name": "product1",
                                        "checked": ""
                                    },
                                    "wish": {
                                        "class": "",
                                        "id": "wish-chk1",
                                        "name": "wish-chk1",
                                        "checked": ""
                                    },
                                    "compare": {
                                        "class": "",
                                        "id": "compare-chk1",
                                        "name": "compare-chk1",
                                        "checked": ""
                                    }
                                },
                                {
                                    "id": 1,
                                    "moduleType": "",
                                    "badgeType": "<div class='promotion-badge'><span class='badge'>코리아세일페스파</span><span class='badge'>으뜸효율 10%</span></div>",
                                    "visual": "/lg5-common/images/dummy/@img-product.jpg",
                                    "review": "",
                                    "reviewText": "리뷰없음",
                                    "average": "0",
                                    "reviewCount": "0",
                                    "button": "장바구니에 담기",
                                    "option1": {
                                        "title": "샤이니 유니버스",
                                        "color": "stainless-steel",
                                        "id": "product2-color1",
                                        "name": "product2",
                                        "checked": "checked"
                                    },
                                    "option2": {
                                        "title": "매트 그레이",
                                        "color": "HA_VCC_Matte_Grey2",
                                        "id": "product2-color2",
                                        "name": "product2",
                                        "checked": ""
                                    },
                                    "option3": {
                                        "title": "매트 레드",
                                        "color": "HA_VCC_Matte_Red",
                                        "id": "product2-color3",
                                        "name": "product2",
                                        "checked": ""
                                    },
                                    "wish": {
                                        "class": "",
                                        "id": "wish-chk2",
                                        "name": "wish-chk2",
                                        "checked": ""
                                    },
                                    "compare": {
                                        "class": "",
                                        "id": "compare-chk2",
                                        "name": "compare-chk2",
                                        "checked": "checked"
                                    }
                                },
                                {
                                    "id": 2,
                                    "moduleType": "",
                                    "badgeType": "<div class='promotion-badge large'><img src='/lg5-common/images/dummy/@img-promotion-badge.png' alt=''></div>",
                                    "visual": "/lg5-common/images/dummy/@img-product.jpg",
                                    "review": "is-review",
                                    "reviewText": "리뷰있음",
                                    "average": "4.0",
                                    "reviewCount": "48",
                                    "button": "자세히 보기",
                                    "option1": {
                                        "title": "샤이니 유니버스",
                                        "color": "stainless-steel",
                                        "id": "product3-color1",
                                        "name": "product3",
                                        "checked": "checked"
                                    },
                                    "option2": {
                                        "title": "샤이니 퓨어",
                                        "color": "Black-Stainless-Steel",
                                        "id": "product3-color2",
                                        "name": "product3",
                                        "checked": ""
                                    },
                                    "option3": {
                                        "title": "맨하튼 미드나잇",
                                        "color": "MC_K62_SkyBlue",
                                        "id": "product3-color3",
                                        "name": "product3",
                                        "checked": ""
                                    },
                                    "wish": {
                                        "class": "",
                                        "id": "wish-chk3",
                                        "name": "wish-chk3",
                                        "checked": "checked"
                                    },
                                    "compare": {
                                        "class": "",
                                        "id": "compare-chk3",
                                        "name": "compare-chk3",
                                        "checked": ""
                                    }
                                },
                                {
                                    "id": 3,
                                    "moduleType": "",
                                    "badgeType": "",
                                    "visual": "/lg5-common/images/dummy/@img-product.jpg",
                                    "review": "is-review",
                                    "reviewText": "리뷰있음",
                                    "average": "4.0",
                                    "reviewCount": "48",
                                    "button": "자세히 보기",
                                    "option1": {
                                        "title": "샤이니 유니버스",
                                        "color": "stainless-steel",
                                        "id": "product4-color1",
                                        "name": "product4",
                                        "checked": "checked"
                                    },
                                    "option2": {
                                        "title": "샤이니 퓨어",
                                        "color": "Black-Stainless-Steel",
                                        "id": "product4-color2",
                                        "name": "product4",
                                        "checked": ""
                                    },
                                    "option3": {
                                        "title": "맨하튼 미드나잇",
                                        "color": "MC_K62_SkyBlue",
                                        "id": "product4-color3",
                                        "name": "product4",
                                        "checked": ""
                                    },
                                    "wish": {
                                        "class": "",
                                        "id": "wish-chk4",
                                        "name": "wish-chk4",
                                        "checked": "checked"
                                    },
                                    "compare": {
                                        "class": "",
                                        "id": "compare-chk4",
                                        "name": "compare-chk4",
                                        "checked": ""
                                    }
                                },
                                {
                                    "id": 4,
                                    "moduleType": "",
                                    "badgeType": "",
                                    "visual": "/lg5-common/images/dummy/@img-product.jpg",
                                    "review": "",
                                    "reviewText": "리뷰없음",
                                    "average": "0",
                                    "reviewCount": "0",
                                    "button": "자세히 보기",
                                    "option1": {
                                        "title": "샤이니 유니버스",
                                        "color": "stainless-steel",
                                        "id": "product5-color1",
                                        "name": "product5",
                                        "checked": "checked"
                                    },
                                    "option2": {
                                        "title": "샤이니 퓨어",
                                        "color": "Black-Stainless-Steel",
                                        "id": "product5-color2",
                                        "name": "product5",
                                        "checked": ""
                                    },
                                    "option3": {
                                        "title": "맨하튼 미드나잇",
                                        "color": "MC_K62_SkyBlue",
                                        "id": "product5-color3",
                                        "name": "product5",
                                        "checked": ""
                                    },
                                    "wish": {
                                        "class": "",
                                        "id": "wish-chk5",
                                        "name": "wish-chk5",
                                        "checked": "checked"
                                    },
                                    "compare": {
                                        "class": "",
                                        "id": "compare-chk5",
                                        "name": "compare-chk5",
                                        "checked": ""
                                    }
                                }
                            ],
                            "banner": [
                                {
                                    "id": 1,
                                    "moduleType": "",
                                    "visual1": "/lg5-common/images/dummy/@img-product-banner.jpg",
                                    "visual2": "/lg5-common/images/dummy/@img-product-banner.jpg",
                                    "title": "정제된 아름다움",
                                    "copy": "외관부터 내부까지 고급스러움이 더해진<br>LG SIGNATURE 냉장고만의 프리미엄 디자인",
                                    "button": "자세히 보기"
                                },
                                {
                                    "id": 2,
                                    "moduleType": "large",
                                    "visual1": "/lg5-common/images/dummy/@img-product-banner-lg.jpg",
                                    "visual2": "/lg5-common/images/dummy/@img-product-banner.jpg",
                                    "title": "신선함을 위한 작품의 완성 <br>LG SIGNATURE 냉장고",
                                    "copy": "외관부터 내부까지 고급스러움이 더해진 LG SIGNATURE<br>냉장고만의 프리미엄 디자인",
                                    "button": "자세히 보기"
                                }
                            ],
                            "items2": [
                                {
                                    "id": 0,
                                    "moduleType": "",
                                    "badgeType": "",
                                    "visual": "/lg5-common/images/dummy/@img-product.jpg",
                                    "review": "",
                                    "reviewText": "리뷰없음",
                                    "average": "0",
                                    "reviewCount": "0",
                                    "button": "장바구니에 담기",
                                    "option1": {
                                        "title": "옵션1",
                                        "id": "product6-option1",
                                        "name": "product6",
                                        "checked": "checked"
                                    },
                                    "option2": {
                                        "title": "옵션2",
                                        "id": "product6-option2",
                                        "name": "product6",
                                        "checked": ""
                                    },
                                    "option3": {
                                        "title": "옵션3",
                                        "id": "product6-option3",
                                        "name": "product6",
                                        "checked": ""
                                    },
                                    "wish": {
                                        "class": "",
                                        "id": "wish-chk8",
                                        "name": "wish-chk8",
                                        "checked": ""
                                    },
                                    "compare": {
                                        "class": "",
                                        "id": "compare-chk8",
                                        "name": "compare-chk8",
                                        "checked": ""
                                    }
                                },
                                {
                                    "id": 1,
                                    "moduleType": "",
                                    "badgeType": "",
                                    "visual": "/lg5-common/images/dummy/@img-product.jpg",
                                    "review": "is-review",
                                    "reviewText": "리뷰있음",
                                    "average": "4.0",
                                    "reviewCount": "48",
                                    "button": "장바구니에 담기",
                                    "option1": {
                                        "title": "옵션1",
                                        "id": "product7-option1",
                                        "name": "product7",
                                        "checked": ""
                                    },
                                    "option2": {
                                        "title": "옵션2",
                                        "id": "product7-option2",
                                        "name": "product7",
                                        "checked": ""
                                    },
                                    "option3": {
                                        "title": "옵션3",
                                        "id": "product7-option3",
                                        "name": "product7",
                                        "checked": "checked"
                                    },
                                    "wish": {
                                        "class": "",
                                        "id": "wish-chk9",
                                        "name": "wish-chk9",
                                        "checked": ""
                                    },
                                    "compare": {
                                        "class": "",
                                        "id": "compare-chk9",
                                        "name": "compare-chk9",
                                        "checked": "checked"
                                    }
                                },
                                {
                                    "id": 2,
                                    "moduleType": "",
                                    "badgeType": "",
                                    "visual": "/lg5-common/images/dummy/@img-product.jpg",
                                    "review": "",
                                    "reviewText": "리뷰없음",
                                    "average": "0",
                                    "reviewCount": "0",
                                    "button": "자세히 보기",
                                    "option1": {
                                        "title": "옵션1",
                                        "id": "product8-option1",
                                        "name": "product8",
                                        "checked": "checked"
                                    },
                                    "option2": {
                                        "title": "옵션2",
                                        "id": "product8-option2",
                                        "name": "product8",
                                        "checked": ""
                                    },
                                    "option3": {
                                        "title": "옵션3",
                                        "id": "product8-option3",
                                        "name": "product8",
                                        "checked": ""
                                    },
                                    "wish": {
                                        "class": "",
                                        "id": "wish-chk10",
                                        "name": "wish-chk10",
                                        "checked": "checked"
                                    },
                                    "compare": {
                                        "class": "",
                                        "id": "compare-chk10",
                                        "name": "compare-chk10",
                                        "checked": ""
                                    }
                                }
                            ]
                        })
                        <!-- // component -->
                    </div>
                </section>
                <!-- //component KRC0009 -->
            </div>
        </div>
<!--        @@include('./common/footer.html')-->
    </div>

</body>
</html>