<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0010",
        isJScompile: true
    })
<body>
    <div class="wrap">
        <div class="container">

            <!-- component -->
            <div id="pdp_spec" class="component-wrap">
                <section class="component KRP0010">
                    <div class="component-inner">
                        
                    </div>
                </section>
            </div>
            <!-- // component -->

        </div>
    </div>
</body>
</html>