<!DOCTYPE html>
<html lang="ko">
    @@include('./common/head.html', {
        componentID: "KRP0012",
        isJScompile: true,
        "digitalData": {
            userInfo: {
                "unifyId": "eae799fd07c188c80983e1939833fb0d", // 로그인 상태 : 로그인중 unifyId 값이 존재, 비로그인 :  unifyId 값이 null
            }
        }
    })
    <script type="text/javascript">
        var cremaid = "V2c34c8c084ab80a7b5f5e7ef4e3e99b0a0c3bd7552792ac71a726065cf547b181fac7745df486dfb200fd6703c40fde17";
        var cremaname = "V2e540d632974ec7dce9f9f73f0404ed50";
        digitalData.productInfo = {
            "model_name": "LG 스탠바이미",
            "model_id": "MD08979866",
            "model_sku": "27ART10AKPL.AKR",
            "category": "TV/AV/TV/라이프스타일 스크린",
            "brand": "LG",
            "price": "1152500",
            "discounted_price": "1040000",
            "lgpick_flag": "N",
            "model_page_type": "PDP",
            "model_gubun": "일반제품",
            "model_status": "ACTIVE",
            "model_discontinued_date": "",
            "install_method": "",
            "ct_id": "CT50029007"
        };
        $(document).ready(function(){
            window.cremaAsyncInit = function () {
                if(typeof crema !== 'undefined') {
                    crema.init(cremaid , cremaname);
                }
            };
            window.cremaAsyncInit();
        });
    </script>
<body>
    <div class="wrap">
        <div class="container">

            <!-- component -->
            <div class="component-wrap">
                <section class="component KRP0012" data-product-code="75NANO99KNB" data-widget-id="43">
                    <!-- 210224 추가 -->
                    <div class="component-inner">
                        <h2 class="title">리뷰</h2>
                        <!-- BTOCSITE-4345 모바일 리뷰 문구 변경 요청 start -->
                        <!-- BTOCSITE-3800 제품 리뷰 하단 문구 추가 요청 start -->
                        <div class="review-info-text">
                            @@include('./common/modules/bullet-list.html', {
                              "bulletTxt" : [
                                '리뷰 리워즈 적립은 LG전자 통합회원 한정 LG전자 멤버십포인트로 지급됩니다.',
                                '텍스트 리뷰는 500포인트, 포토/동영상 리뷰는 1,000포인트가 일주일 이내 지급됩니다.',
                                '리뷰 적립 혜택은 고객당 월 최대 5회까지 지급되며, 소모품의 경우 리뷰 등록은 가능하나 포인트는 지급되지 않습니다.',
                                '텍스트 리뷰와 포토/동영상 리뷰 적립 헤택은 중복 지급되지 않으며 동일 제품 리뷰는 최초 등록에 한해 1회만 지급됩니다.',
                                '제품 리뷰가 아닌 부적절한 내용은 예고 없이 삭제될 수 있으며 포인트 회수가 진행됩니다.',
                              ]
                          })
                        </div>
                        <!-- BTOCSITE-3800 제품 리뷰 하단 문구 추가 요청 end -->
                        <!-- BTOCSITE-4345 모바일 리뷰 문구 변경 요청 end -->
                        <div class="cont-wrap review-wrap">
                            <!-- 솔루션 영역 -->
                            <!-- //솔루션 영역 -->
                           
                        </div>

                    </div>
                    <!-- //210224 추가 -->
                    <!-- <div class="component-inner">
						솔루션 영역
                        <div class="solution-review-wrap">
							<div class="visual-area">
								<img data-pc-src="/lg5-common/images/KRP0012/@sample-1284x2225.jpg" data-m-src="/lg5-common/images/KRP0012/@sample-720x3371.jpg" class="lazyload" alt="" src="/lg5-common/images/KRP0012/@sample-1284x2225.jpg">
							</div>
						</div>
						//솔루션 영역
                    </div> -->
                                     
                </section>
            </div>
            <!-- // component -->

        </div>
    </div>
</body>
</html>