<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0038",
    isJScompile: false
})
<body>
    <div class="wrap">
        <div class="container">

			<!-- component KRP0038 -->
            @@include('./common/partials/KRP0038.html', {
				"align-class": "align-left",
			})
			
			@@include('./common/partials/KRP0038.html', {
                "align-class": "align-center",
			})
			
			@@include('./common/partials/KRP0038.html', {
                "align-class": "align-right",
            })

            @@include('./common/partials/KRP0038.html', {
                "align-class": "align-left",
                "bg-color": "bg-lightgray"
			})
			
			@@include('./common/partials/KRP0038.html', {
                "align-class": "align-center",
                "bg-color": "bg-dark"
			})
			
			@@include('./common/partials/KRP0038.html', {
                "align-class": "align-right",
                "bg-color": "bg-black"
            })
            <!-- //component KRP0038 -->
		</div>
    </div>      
</body>
</html>