<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRP0036",
    isJScompile: true
})
<body>
    <div class="wrap">
        <div class="container">

            <!-- component KRP0036 -->
            @@include('./common/partials/KRP0036.html', {
                "zero" : "zero-top zero-btm",
                "tabBarType" : true,
                "tabInBtn" : true,
                "lgVisual" : true
            })
            <!-- // component KRP0036 -->
		</div>
    </div>
</body>
</html>