<!DOCTYPE html>
<html lang="ko">
	@@include('./common/head.html', {
		componentID: "KRP0045"
	})
<body>
	<div class="wrap">
		<div class="container">

			<div id="pdp_return" class="component-wrap">
				<section class="component KRP0045">
					<div class="component-inner">
						<h2 class="title">교환/환불</h2>
						@@include('./common/modules/bullet-list.html', {
							"bulletTxt" : [
								'케어용품/소모품 구입후 배송완료일 기준으로 7일내 주문 취소 및 환불 가능합니다.',
								'주문취소(환불) 신청은 이곳에서 신청하시거나 담당자에게 유선(전화)으로 신청 하시면 됩니다. 교환은 전화로 신청 하시면 됩니다.',
								'<span class="point">전화 : 1644-7101</span>',
								'<span class="point">운영시간 : 월 ~ 금요일 09:00 ~ 18:00, 토요일/일요일/공휴일 휴무</span>',
								'배송 발송(주문상태:배송중)이후 주문취소(환불) 요청건에 대해서는 반품비(5,000원)는 고객 부담입니다.',
								'케어용품/소모품샵에서 판매하는 상품은 보증기간이 6개월입니다. (LG전자서비스 처리기준), 단 소비자 과실일 경우는 유상 처리됩니다.<br>※ 2016년 3월이후 출시한 휴대폰 모델의 배터리는 보증기간이 1년입니다.<br>동일한 상품에 대한 서비스는 가까운 서비스센터에서도 처리가 가능합니다.'
							]
						})
					</div>
				</section>
			</div> <!-- //.component-wrap-->

		</div>
	</div>
</body>
</html>