<!DOCTYPE html>
<html lang="ko">
@@include('./common/head.html', {
    componentID: "KRC9999"
})
<body>
    <div class="wrap">
        <div class="container">
			<!-- component KRC9999 -->
			<div class="component-wrap zero-top zero-btm">
				<section class="component KRC9999">
					<div class="html-tel">
						<p>시스템 에어컨 구매 상담 <a href="tel:1544-8777">1544-8777</a> <span class="br">(평일 9:00 ~ 18:00, 공휴일은 휴무)</span></p>
						<div class="btn-area">
							<a href="tel:1544-8777" class="btn border size-m">바로 전화하기</a>
						</div>
					</div>
				</section>
			</div>
            <!-- //component KRC9999 -->
		</div>
    </div>      
</body>
</html>