
@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.air-care {
    .gray-box {
        background-color: #f4f4f4;
        padding: 48px;
        color: #767676;
        font-size: 16px;
        .bullet-list {
            margin-top: 0;
        }
        @include mobile {
            padding: 44px 20px;
        }
    }
    .white-box {
        background-color: #fff;
        padding: 24px;
        .bullet-list {
            font-size: 16px;
            color: #222;
            font-weight: normal;
        }
    }
    .text-box {
        line-height: 1.5;
        margin-bottom: 42px;
    }
    .btn-group {
        text-align: center;
        margin-top: 24px;
    }
    .sub-infomation {
        margin-bottom: 15px;
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        word-break: keep-all;
    }
    .top-section {
        margin-bottom: 48px;
        @include mobile {
            margin-bottom: 34px;
        }
    }
    .form-infos {
        .text {
            margin-bottom: 8px;
        }
        @include mobile {
            text-align: left;
            .text {
                font-size: 14px;
                margin-bottom: 16px;
            }
            .req {
                text-align: left;
            }
        }
    }

    .accordion-wrap {
        &.border-type {
            > ul {
                > .lists {
                    border-radius: 8px;
                    border: solid 1px #dddddd;
                    margin-top: 12px;
                    box-shadow: none;
                    .head {
                        .accord-btn {
                            padding: 24px 32px;
                            &::after {
                                content: '상세 보기';
                                border: none;
                                width: auto;
                                height: auto;
                                font-size: 14px;
                                color: #767676;
                                line-height: 1;
                                transform: translateY(-50%);
                                margin-top: 0;
                                padding-right: 22px;
                                background: url(/lg5-common/images/icons/btn-more-20-gray.svg) no-repeat right center;
                                background-size: 20px;
                            }
                        }
                    }
                    &.on {
                        .head {
                            .accord-btn {
                                &::after {
                                    content: '상세 닫기';
                                    color: #ec455a;
                                    background: url(/lg5-common/images/icons/btn-minus-20.svg) no-repeat right center;
                                }
                            }
                        }
                    }
                    .accord-cont {
                        margin: 0 24px 24px 24px;
                        padding: 20px 24px;
                        border-radius: 8px;
                        background-color: #f4f4f4;
                    }
                }
            }
        }
        @include mobile {
            &.border-type {
                > ul {
                    > .lists {
                        .head {
                            .accord-btn {
                                padding: 20px;
                            }
                        }
                        &.on {
                            .head {
                                .accord-btn {
                                }
                            }
                        }
                        .accord-cont {
                            margin: 0 20px 20px 20px;
                            padding: 16px;
                        }
                    }
                }
            }
        }
    }

    .modal-gray-box {
        padding: 32px 32px 32px 31px;
        border-radius: 8px;
        background-color: #f4f4f4;
        .text-box {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.71;
            color: #767676;
        }
        &-title {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;
            color: #222;
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid #ddd;
        }
    }
    .paragraph-1 {
        margin-top: 16px;
    }
}