@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

// 매장정보
.store-info-wrap {
    padding-bottom:80px;
    .opt-list {
        margin-bottom:12px;
        li {
            display:inline-block;
            margin-left:32px;
            padding:0;
            vertical-align:top;
            &:first-child {
                margin-left:0;
            }
            &:before {
                content:'';
                display:block;
                width:48px;
                height:48px;
                border-radius:50%;
                background-color:#f4f4f4;
                background-repeat:no-repeat;
                background-size:32px 32px;
                background-position:center center;
            }
            .name {
                display:block;
                @include font-x-small;
                text-align:center;
            }
            &.opt-mobile:before {
                //background-image:url(/lg5-common/images/icons/cate_icon_mobile.svg);
                background-image:url(/kr/support/images/category-images/cate_icon_mobile.svg);
            }
            &.opt-it-monitor:before {
                //background-image:url(/lg5-common/images/icons/cate_icon_it-monitors.svg);
                background-image:url(/kr/support/images/category-images/cate_icon_it-monitors.svg);
            }
            &.opt-small-appliances:before {
                //background-image:url(/lg5-common/images/icons/icon_small-appliances.svg);
                background-image:url(/kr/support/images/icon/icon_small-appliances.svg);
            }
            &.opt-expendables:before {
                //background-image:url(/lg5-common/images/icons/icon_expendables.svg);
                background-image:url(/kr/support/images/icon/icon_expendables.svg);
            }
        }
    }

    .slide_inner {
        position:relative;
        width:100%;
        padding:0;
    }

    .link-btn-wrap {
        a {
            display:inline-block;
        }

        .link-btn {
            min-width:64px;
            padding:3px 11px;
            border-radius:16px;
            font-size:14px;
            line-height:24px;
            border:1px solid #000;
            background: transparent;
            color: #000;
        }
        .btn-toggle-sms {
            border:1px solid #666;
            background: #666;
            color:#fff;
            &:before {
                content:"";
                display:inline-block;
                width:16px;
                height:16px;
                background: url("/lg5-common/images/icons/icon-sms-16.svg") no-repeat 0 0/100% 100%;
                vertical-align: middle;
                margin-top:-2px;
                margin-right:5px;

            }
        }
        .btn-store-consult {
        
        }
    }
    
    


    .cont-wrap {
        .detail-info-wrap {
            .right-box {
                .info-list {
                    .h3-tit {
                        padding-top:6px;
                        padding-bottom:14px;
                        font-size:24px;
                        border-bottom:1px solid #000;

                        @include mobile {
                            font-size:20px;
                            padding-bottom:12px;
                        }
                    }

                    .info-tit-wrap {
                        border-bottom:1px solid #000;
                        .h3-tit {
                            border-bottom:0;
                        }
                    }
                    dl {
                        dd {
                            .item {
                                li {
                                    .key {
                                        .sp {
                                            margin-left: 1em;
                                            @include mobile {
                                                padding-left: 0;
                                            }
                                        }
                                    }
                                    .btn-link {
                                        margin-left: 24px;
                                    }
                                }
                            }
                        }
                    }
                    .box-info {
                        @include pc {
                            .status-icon {
                                margin-left: 6px;
                                &:first-of-type {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                    .tabs-wrap {
                        &:before {
                            top:48px;
                            bottom:auto;

                            @include mobile {
                                top:39px;
                            }
                        }
                        &:after {
                            display:none;
                        }
                    }
                }
                .notice-info {
                    padding: 30px 32px 30px 48px;
                    .txt {
                        padding-left: 96px;
                        &:before {
                            width:64px;
                            height:64px;
                            background:url('/lg5-common/images/icons/img-membership-03-64.svg') no-repeat;
                            background-size:100%;
                        }
                    }
                    @include mobile {
                        padding: 24px;
                        .txt {
                            padding-left: 0;
                            padding-top: 76px;
                            text-align: center;
                            &::before {
                                top:0;
                                left: 50%;
                                -webkit-transform:translate(-50%, 0%);
                                transform:translate(-50%, 0%);
                            }
                        }
                    }
                }
            }

        }
        .bottom-btn-wrap {
            margin-top:32px;
            text-align: center;
        }
    }

    .toggle-layer {
        display:none;
        position: relative;
        margin:15px 48px 40px;
        box-sizing:border-box;
        border:1px solid #ddd;
        border-radius:10px;

        .layer-inner {
            padding:30px;
            box-sizing: border-box;
        }

        .layer-tit {
            margin-bottom:20px;
            padding-bottom:20px;
            border-bottom:1px solid #ddd;

            .tit {
                font-size:20px;
            }
        }

        .form-wrap {
            margin-top:45px;
        }
        .form-infos {
            margin-bottom:28px;
        }

        .bullet-list {
            margin-top:12px;
        }

        .btn-wrap {
            margin-top:32px;
            font-size:0;
            text-align: center;

            .btn {
                margin:0 4px;
            }
        }

        .btn-close {
            top:29px;
            right:38px;
        }

        .topic-msg {
            display:none;
        }

        @include mobile {
            margin:15px 16px 0; 

            .layer-tit {
                border-bottom:2px solid #000;

                .tit {
                    font-size:18px;
                }
            }
        }
    }

    @include mobile {

        .slide_inner {
            width:61.1111vw;
        }

        .slide-controls {
            display: none;
        }

        .opt-list {
            li {
                margin-left:8px;
                &:first-child {
                    margin-left:0;
                }
            }
        }
        .cont-wrap {
            .tit-wrap {
                .tit-info {
                    h2.name {
                        font-size:24px;
                    }
                }
                .tit-info-r {
                    padding-bottom:20px;

                    .link-btn-wrap {
                        position:fixed;
                        display: flex;
                        flex-direction: row;
                        bottom:0;
                        left:0;
                        width:100%;
                        margin-left:0;
                        font-size:0;
                        z-index:110;
            
                        a {
                            flex:1;
                            margin:0;
                            padding:0;
                            border-radius:0;
                            border:0;
                            height:56px;
                            font-size:16px;
                            font-weight: 500;
                            line-height:56px;
                            text-align: center;

                            &.btn-toggle-sms {
                                color:#666;
                                background:#ededed;
                                &:before {
                                    display:none;
                                }
                            }

                            &.btn-store-consult {
                                background-color: #fa263e;
                                background-image: linear-gradient(280deg, #fb5a72, #fa263e);
                                color: #fff;
                                
                            }
                        }            
                    }
                }
            }
            .detail-info-wrap {
                padding:0 20px;

                .left-box {
                    .manager-info {
                        .img-wrap {
                            img {
                                width:100%;
                                height:100%;
                            }
                        }
                        .txt-wrap {
                            .area {
                                display: block;
                                padding-left:0;
                            }
                        }
                    }
                }
            }
        }
        

        .toggle-layer {
            position:fixed; 
            bottom:0;
            left:0;
            right:0;
            height:100vh;
            margin:0;
            border:0;
            // background: rgba(0,0,0,0.7);
            border-radius:0;
            z-index:111;

            &:before {
                display: block;
                position:fixed;
                content:"";
                bottom:0;
                left:0;
                right:0;
                height:100vh;
                margin:0;
                border:0;
                opacity:0;
                background: rgba(0,0,0,0.7);
                transition:.3s opacity;
            }

            &.active:before {
                opacity:1;
            }

            .layer-inner {
                position:absolute;
                left:0;
                width:100%;
                bottom:0;
                padding:0;
                height:calc(100vh - 70px);
                background: #fff;
            }

            .layer-tit {
                height:62px;
                padding:0;
                margin:0 16px;
                line-height:62px;

                .tit {
                    font-size:18px;
                }
            }
            .layer-content {
                position:absolute;
                top:62px;
                bottom:0;
                left:0;
                right:0;
                overflow:auto;
                padding:12px 16px;
                box-sizing:border-box;
            }

            .btn-close {
                top:0;
                right:0;
                width:56px;
                height:62px;
                background: url('/lg5-common/images/icons/btn-arrow-down.svg') no-repeat center center;
                background-size:24px 24px;
                &:before, &:after {
                    display:none;
                }
            }
        }
    }
}
