@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.support {
    &.suggestions {
        .search-wrap {
            max-width:848px;
            margin:0 auto;
            padding-bottom:64px;
            @include mobile {
                padding:0 20px 32px;
                background:#fff;
            }
        }
        .result-wrap {
            max-width:1066px;
            margin:0 auto;
        }
        .search-info {
            .tit {
                margin-bottom:8px;
                font-size:20px;
                font-weight:700;
                line-height:24px;
            }
            .desc {
                font-size:16px;
                line-height:24px
            }
            @include mobile {
                .tit {
                    margin-bottom:12px;
                    font-size:16px;
                    line-height:24px;
                }
                .desc {
                    font-size:14px;
                    line-height:18px;
                }
            }
        }
        .mymem-lists {
            font-size:0;
            @include mobile {
                padding:20px;
                background:#f4f4f4;
                border-radius:4px;
            }
            li {
                display:inline-block;
                vertical-align:top;
                width:33.3%;
                height:166px;
                padding:56px 0;
                border-left:1px solid #ddd;
                @include mobile {
                    width:100%;
                    height:auto; 
                    padding:0;
                    margin-top:16px;
                    border-left:none;
                    &:first-child {
                        margin-top:0;
                    }
                }
                &:first-child {
                    border-left:none;
                }
                dl {
                    position:relative;
                    text-align:center;
                    @include mobile {
                        text-align:left;
                    }
                    dt {
                        color:$color-default;
                        @include mobile {
                            display:inline-block;
                            width:50%;
                            vertical-align:middle;
                        }
                        p {
                            display:inline-block;
                            font-size:14px;
                            line-height:20px;
                            vertical-align:top;
                            @include mobile {
                                line-height:18px;
                            }
                        }
                        .tooltip-wrap {
                            margin-left:5px;
                            @include mobile {
                                margin-top:1px;
                            }
                        }
                    }
                    dd {
                        margin-top:4px;
                        color:#EC455A;
                        font-size:20px;
                        line-height:20px;
                        font-weight:700;
                        @include mobile {
                            display:inline-block;
                            width:50%;
                            margin:0;
                            vertical-align:middle;
                            font-size:14px;
                            line-height:18px;
                            text-align:right;
                        }
                    }
                }
            }
        }
    }
}