@import "../../utilities/variables";
@import "../../utilities/mixins";

.profile-upload {
    .heading-title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    .contents-inner {
        min-height: 100vh;
        max-width: 848px;
        margin: 0 auto;
        padding: 80px 0 100px;
    }
    .icon-download {
        width: 14px;
        height: 14px;
        &-btn {
            font-size: 14px;
            color: #222;
            display: inline-block;
            margin-top: 17px;
        }
    }
    .file-box {
        .file-input {
            width: 100%;
        }
    }
    .btn-group {
        padding: 0;
    }

    .profile-regist {
        position: relative;
        margin: 48px auto 0;
        &-box {
            width: calc(50% - 12px);
            height: 310px;
            border-radius: 4px;
            border: 1px solid #ddd;
            position: relative;
        }
        &-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &-img {
            width: 180px;
            height: 180px;
            // background: url(/lg5-common/images/no-profile-image.png) no-repeat center;
            // background-size: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            font-size: 14px;
            color: #616161;
            text-align: center;
            margin-top: 16px;
        }
        &-file {
            margin-top: 40px;
        }
        &-filed {
            position: absolute;
            top: 56px;
            right: 56px;
            width: calc(50% - 68px);
        }
        @include mobile {
            .section-content {
                padding: 40px 20px 58px;
            }
            &-filed {
                position: static;
            }
            &-box,
            &-filed {
                width: 100%;
                margin-top: 40px;
            }
        }
    }
}

.appgate-figure {
    text-align: center;
    &-img {
        margin-bottom: 12px;
        padding: 26px 28px 0 28px;
    }
    figcaption {
        color: #222222;
        font-size: 16px;
        line-height: 1.44;
        strong {
            font-weight: bold;
        }
    }

    &.type-A {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        .appgate-figure-img {
            width: 120px;
            height: 120px;
            margin-bottom: 0;
            padding: 0;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        figcaption {
            text-align: left;
            padding-right: 40px;
            flex: 1;
        }
    }
    &-box {
        background-color: #fff;
        box-shadow: 0px 6px 30px 0 rgba(0, 0, 0, 0.12);
        .btn-group {
            padding: 0 20px 40px;
            margin-top: 20px;
        }
    }
}

.figure-list {
    @include clearfix;
    figure {
        width: calc((100% - 22px) / 3 );
        float: left;
        margin-left: 11px;
        img {
            border-radius: 1.1111vw;
        }
        &:first-child {
            margin-left: 0;
        }
        figcaption {
            font-size: 14px;
            text-align: center;
            margin-top: 12px;
        }
    }
}

@include mobile {
    img {
        max-width: 100%;
    }
}

@import "../../support/pages/CSTF8000"; // APP GATE
@import "../../support/pages/KR50CS107"; // QR코드 랜딩 페이지