@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

@mixin csmobile {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

// 매장찾기 : 2021.01.25 이전 : 바이널씨 작업
.find-store-wrap {
    .cont-wrap {
        max-width: 1920px !important;
        padding:0;
        @include csmobile {
            border:none;
        }
    }

    .map-container {
        // BTOCSITE-3617 : Thinq_cs 파라메타 있을때 비노출
        &.Thinq_cs .btnVisit {
            display:none;
        }

        .store-list-wrap {
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            width:460px;
            background:#fff;
            box-shadow:0 2px 20px 0 rgba(0,0,0,.2);
            -webkit-transition:0.26s cubic-bezier(0.25,0.1,0.25,1); 
            transition:0.26s cubic-bezier(0.25,0.1,0.25,1);
            z-index:10;

            @include csmobile {
                position:static;
                width:100%;
                box-shadow:none;
            }
            h2.tit {
                padding:40px 40px 16px;
                @include font-large-3;
                @include csmobile {
                    padding:12px 24px 16px;
                    text-align: center;
                }
            }

            .btn-list-fold {
                position:absolute;
                right:-85px;
                top:32px;
                width:86px;
                height:152px;
                background:#fff;
                border-radius:0 8px 8px 0;
                background:url('/lg5-common/images/CS/bg-btn-shadow.svg') no-repeat;
                background-size:86px 152px;
                z-index:1;

                .btn-fold {
                    position:relative;
                    top:50%;
                    width:40px;
                    height:60px;
                    -webkit-transform:translateY(-50%);
                    transform:translateY(-50%);
                    &:after {
                        content:'';
                        position:absolute;
                        right:15px;
                        top:50%;
                        width:10px;
                        height:10px;
                        margin-top:-5px;
                        border:2px solid #111;
                        border-top:none;
                        border-right:none;
                        -webkit-transform:rotate(45deg);
                        transform:rotate(45deg);
                    }
                    @include csmobile {
                        display:none;
                    }
                }
            }

            .view-info-btn {
                display:none;
                @include csmobile {
                    display:block;
                    position:absolute;
                    bottom:54px;
                    left:0;
                    span {
                        display:inline-block;
                        color:#EC455A;
                        font-size:14px;
                        line-height:24px;
                        font-weight:500;
                        &:after {
                            content:'';
                            display:inline-block;
                            width:24px;
                            height:24px;
                            margin-left: 4px;
                            vertical-align:top;
                        }
                    }
                    button {
                        &.map span:after {
                            background:url('/lg5-common/images/CS/btn-viewmap.svg') no-repeat;
                            background-size:24px 24px;
                        }
                        &.list span:after {
                            background:url('/lg5-common/images/icons/icon-list-on.svg') no-repeat;
                            background-size:24px 24px;
                        }
                    }
                    
                }
            }

            .store-list-box {
                display: flex;
                flex-direction: column;
                height:calc(100vh - 96px);
                &:after {
                    content:' ';
                    display:block;
                    clear:both;
                }
            }

            .sch-box {
                position:relative;
                margin:0 40px;
                z-index: 10;
                background-color:#fff                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ;
                @include csmobile {
                    margin:0 20px;
                }
                .tabs-wrap {
                    position:absolute;
                    top:-54px;
                    right:0;
                    text-align:left;
                    padding-bottom: 24px;

                    @include csmobile {
                        position:relative;
                        top:0;
                        margin:0 -20px 16px;
                        padding:12px 20px 0;
                        .tabs {
                            padding:0;
                            & > li > a {
                                font-size: 16px;
                                line-height: 23px;
                            }
                        }
                    }
                }
                .keyword-search {
                    .autocomplete-box {
                        .keyword-list > ul{
                            max-height:230px;
                            overflow-y:auto;
                            margin-right:-12px;
                            padding-right:12px;
                        }
                    }
                }

                .select-wrap {
                    .ui-select-scrollarea {
                        ul {
                            overflow-y: scroll;
                            max-height: 200px;
                        }
                    }
                }

                .sch-input-wrap {
                    position: relative;
                    padding-bottom:48px;

                    @include csmobile {
                        //padding-bottom:52px;
                        padding-bottom:0;
                        border:none;
                    }


                    .btn-area {
                        @include csmobile {
                            position: absolute;
                            top: -56px;
                            right: 16px;
                            @include mobile {
                                top:-63px;
                                right:-4px;
                            }
                        }
                    }
                    .btn-area + .forms {
                        margin-top: 8px;
                        @include csmobile {
                            margin-top: 0;
                        }
                    }
                    &.select.type2 {
                        .forms {
                            font-size:0;
                            .select-wrap {
                                display:inline-block;
                                width:calc((100% - 12px) / 2);
                                vertical-align:middle;
                                margin:0 0 0 12px;
                                &:nth-child(odd) {
                                    margin-left:0;
                                }
                            }
                            .box {
                                .select-wrap {
                                    width: 100%;
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                    .input-sch {
                        position:relative;
                        input.txt {
                            width:100%; 
                            height:48px; 
                            padding:0 70px 0 16px;
                            background-color:#fff;
                            font-size:16px;
                            line-height:normal;
                            box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
                            border-radius:24px;
                            &::-webkit-input-placeholder {color:#808080;}
                            &::-moz-placeholder {color:#808080;}
                            &:-ms-input-placeholder {color:#808080;}
                        }
                        .btn-search {
                            position:absolute; 
                            top:50%; 
                            right:0; 
                            width:56px; 
                            height:56px; 
                            margin-top:-28px;
                            &::after {
                                content:'';
                                display:block;
                                margin-left:16px;
                                width:24px;
                                height:24px;
                                background:url('/lg5-common/images/icons/icon-search.svg') no-repeat;  
                                background-size:24px 24px;
                            }
                        }
                    }

                }
                .desc {
                    padding:0 0 16px;
                    border-bottom: 1px solid #666;
                    font-size:16px;
                    color: $color-default;
                    font-weight: $font-weight-bold;

                    @include csmobile {
                        position:relative;
                        padding:58px 0 12px;
                    }
                    &.none {
                        display: none;
                    }
                }
            }

            .sch-list {
                position: relative;
                height:100%;
                padding-top: 24px;
                .list-item {
                    position: relative;
                    padding-bottom:32px;
                }
                .list-item > li {
                    position:relative;
                    padding:0 40px 40px 0;
                    
                    @include csmobile {
                        //padding:0 20px 40px 0;
                        margin-bottom: 20px;
                        padding: 0 20px 20px 0;
                        &:after {
                            display: inline-block;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: calc(100% - 12px);
                            height: 1px;
                            background-color: #ddd;
                        }

                    }
                    &:last-child {
                        margin-bottom:0;
                        &:after {
                            display: none;
                        }
                    }
                    .store-info-list {
                        display:table;
                        width:100%;
                        table-layout:fixed;
                        cursor:pointer;
                        .point-wrap {
                            display:table-cell;
                            width:50px;
                            vertical-align:top;
                            @include csmobile {
                                width:43px;
                            }
                        }
                        .info-wrap {
                            display:table-cell;
                            vertical-align:middle;
                            margin-left:50px;
                            @include csmobile {
                                margin-left:43px;
                            }
                            .tit-wrap {
                                font-size:0;
                                .name {
                                    display:inline-block;
                                    margin-right:8px;
                                    font-size:16px;
                                    line-height:32px;
                                    font-weight:700;
                                    vertical-align:middle;
                                    @include mobile {
                                        margin-right:6px;
                                        line-height:29px;
                                    }
                                }
                                .flag-wrap {
                                    display:inline-block;
                                    vertical-align:middle;
                                }
                            }
                            
                            .addr {
                                margin-top:8px;
                                color:#000;
                                font-size:16px;
                                line-height:26px;
                                overflow:hidden; 
                                max-height:52px;
                                text-overflow:ellipsis;
                                word-break:break-all;
                                -moz-line-clamp:2;
                                -ms-line-clamp:2;
                                -webkit-line-clamp:2;
                                @include csmobile {
                                    margin-top:12px;
                                    font-size:14px;
                                    line-height:18px;
                                }
                            }
                            .etc-info {
                                margin-top:2px;
                                font-size:0;
                                @include csmobile {
                                    margin-top:4px;
                                }
                                .tel {
                                    color:#616161;
                                    font-size:16px;
                                    line-height:24px;
                                    @include csmobile {
                                        font-size:14px;
                                        line-height:18px;
                                    }
                                }
                                .btn-detail {
                                    margin-left:12px;
                                    font-size:16px;
                                    line-height:24px;
                                    font-weight:700;
                                    @include csmobile {
                                        font-size:14px;
                                        line-height:18px;
                                        text-decoration:underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .result-list-box {
                display:none;
                position:absolute;
                top:0;
                left:0;
                right:0;
                background:#fff;
                z-index:1;
                @include csmobile {
                    position:fixed;
                    top:126px;
                }
                @include mobile {
                    top:48px;
                }

                .result-btn-wrap {
                    margin:0;
                    height:100px;
                    padding:30px 40px 30px 25px;
                    background:#fff;

                    @include csmobile {
                        padding:20px 20px;
                        height:auto;
                        border:none;
                    }
                    .btn-back {
                        text-align:left;
                        @include csmobile {
                        
                        }
                        span {
                            position:relative;
                            padding-left:40px;
                            @include font-large-3;
                            font-weight: $font-weight-bold;
                            &:after {
                                content:'';
                                position:absolute;
                                left:0px;
                                top:50%;
                                width:32px;
                                height:32px;
                                margin-top:-16px;
                                background: url(/lg5-common/images/icons/btn-arrow-right-32.svg) 50% 50% no-repeat ;
                            }
                        }
                    }
                    .view-info-btn {
                        position: absolute;
                        top:20px;
                        right:20px;
                        bottom:auto;
                    }

                }
                .result-list {
                    position: relative;
                    padding:0 8px 12px 40px;
                    //border-bottom: 2px solid $color-default;
                    overflow:hidden;
                    &:after {
                        display: inline-block;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 40px;
                        width: calc(100% - 80px);
                        height: 1px;
                        background-color: $color-default;
                        @include mobile {
                            width: calc(100% - 36px);
                            left: 16px;
                        }
                    }
                    @include csmobile {
                        padding:0 0 0 20px;
                    }
                    .scroll-wrap {
                        position:relative;
                        height:calc(100vh - 371px);
                        overflow-y:scroll;
                        @include csmobile {
                            height:calc(100vh - 126px - 44px - 64px);
                        }
                    }
                    .result-txt {
                        @include font-small;
                        font-weight: $font-weight-bold;
                        strong {
                            font-weight:normal;
                            color:#EC455A;
                        }
                    }
                }
            }

            .list-wrap {
                flex:1;
                position:relative;
                top:0;
                left:0;
                right:0;
                padding:0 8px 0 40px;
                overflow:hidden;
                background: #fff;

                @include csmobile {
                    padding:0 8px 0 20px;
                }
                .scroll-wrap {
                    position:relative;
                    height:100%;
                    overflow-y:scroll;
                }
                .no-data {
                    span {
                        color: $color-default;
                    }
                }
            }
            .opt-cont {
                display:none;
            }
            &.close {
                position:relative;
                left:-436px;
                height:100%;
                background:#fff;
                .btn-fold {
                    &:after {
                        right:20px;
                        border:2px solid #111;
                        border-bottom:none;
                        border-left:none;
                    }
                }
                .store-list-box {
                    display:none;
                }
                @include csmobile {
                    left:0;
                    .store-list-box {display: flex;}
                }
            }
        }

        .point {
            position:relative;
            width:34px;
            height:48px;
            background:url('/lg5-common/images/icons/icon-point-off.svg') no-repeat;
            background-size:34px 48px;
            text-align:center;
            .num {
                display:inline-block;
                margin-top:8px;
                color:#666;
                font-size:13px;
                line-height:16px;
                font-weight:700;
                @include csmobile {
                    margin-top:7px;
                }
            }
            &.on {
                background-image:url('/lg5-common/images/icons/icon-point-on.svg');
                z-index:1;
                .num {
                    color:#EC455A;
                }
            }
        }
        

        .store-map-con {
            position:absolute;
            top: 0;
            left:0;
            right:0;
            bottom:0;
            width:100%;
            z-index:1;
        }

        .map-area {
            position:relative;
            left:0;
            top:0;
            right:0;
            bottom:0;
            height:100%;

            .point-wrap {
                display:block;
            }

            .info-overlaybox {
                .inner {
                    position:relative;
                    width:360px;
                    padding:48px 24px 24px;
                    background:#fff;
                    border-radius:16px;
                    box-shadow:0 4px 10px 0 rgba(17,17,17,.32);
                    @include csmobile {
                        width:320px;
                        padding:40px 20px 20px;
                    }
                    .tit-wrap {
                        .name {
                            @include font-large;
                            font-weight:700;
                        }
                    }
                    .adress {
                        margin-top:8px;
                        @include font-medium;
                    }
                    .store-info {
                        margin-top:4px;
                        font-size:0;
                        dl {
                            display:inline-block;
                            margin-left:8px;
                            font-size:0;
                            vertical-align:middle;
                            dt, dd {
                                display:inline-block;
                                font-size:14px;
                                line-height:20px;
                                vertical-align:middle;
                                @include csmobile {
                                    font-size:13px;
                                    line-height:16px;
                                }
                            }
                            dt {
                                margin-right:8px;  
                            }
                            dd {
                                font-weight:500;
                            }
                            &:first-child {
                                margin-left:0;
                            }
                        }
                    }
                    .hour-info {
                        margin-top:4px;
                        font-size:0;
                        dl {
                            display:inline-block;
                            vertical-align:middle;
                            font-size:0;
                            dt, dd {
                                display:inline-block;
                                vertical-align:middle;
                                @include font-small;
                                font-weight: $font-weight-medium;
                            }
                            dd {
                                color: $color-gray-1;
                            }
                            & + {
                                dl {
                                    margin-left:24px;
                                }
                            }
                        }
                        @include mobile {
                            margin-top:8px;
                        }
                    }
                    .btn-group {
                        margin-top:24px;
                        .btn {
                            width:152px;
                            border-radius:16px;
                            border-color:#666;
                            background:#666;
                        }
                        @include csmobile {
                            margin-top:20px;
                            .btn {
                                width:138px;
                                margin-left:4px;
                                border-radius:34px;
                                &:first-child {
                                    margin-left:0;
                                }
                            }
                        }
                    }

                    &:after {
                        content:'';
                        display:block;
                        position:absolute;
                        left:50%;
                        bottom:-36px;
                        width:57px;
                        height:36px;
                        -webkit-transform:translateX(-50%);
                        transform:translateX(-50%);
                        background:url('/lg5-common/images/icons/icon-map-bubble.svg') no-repeat;
                        background-size:57px 36px;
                    }
                }
               
            }
        }

        @include tablet {
            .store-map-con {
                //display: none;
                visibility: hidden;
                top: 0;
                height: 400px;
                z-index:10 !important;
            }
            .map-area {
                height:100% !important;
            }

            &.result-map {
                .store-map-con {
                    // display: block;
                    visibility: visible;
                    top:114px;
                }
            }
            &.show-map {
                .store-map-con {
                    // display: block;
                    visibility: visible;
                }
            }
        }
        @include csmobile {
            .store-map-con {
                visibility: hidden;
                overflow:hidden;
            }
        }
    }
}

// 센터찾기
.waiting-state {
    display:flex;
    position: relative;
    overflow: hidden;
    padding: 16px 40px;
    background-color: #f4f4f4;
    max-height:none;
    &-title {
        font-size:16px;
        font-weight:$font-weight-bold;
        line-height:26px;
        @include mobile {
            font-size:13px;
            line-height:21px;
        }
    }
    .box-info {
        @include pc {
            .status-icon {
                margin-left:24px;
                &:first-of-type {
                    margin-left:0;
                }
            }
        }
    }
    .bullet-list {
        margin-top:0;
        color:#666;
        .b-txt {
            margin:0;
            &:before {
                background-color: #666;
            }
        }
    }
    .cell {
        position:relative;
        overflow:hidden;
        &:first-child {
            flex-shrink: 0;
        }
        &:nth-child(n+2) {
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 60px;
                background-color: #ddd;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .btn-waiting-toggle {
        display: none;
        position: absolute;
        top:12px; 
        right:16px;
        width:30px;
        height:30px;
        background: url("/lg5-common/images/icons/btn-arrow-up.svg") no-repeat 0 0;
        background-size: 100% 100%;
    }
    @media screen and (min-width: 1280px) {
        align-items: center;
        .cell {
            &:nth-child(n+2) {
                margin-left: 40px;
                padding-left: 41px;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        .cell {
            &:nth-child(n+2) {
                margin:38px 0 0 12px;
                padding-left:13px;
            }
        }
        .box-info {
            margin-top: 12px;
            min-width: auto;
            .status-icon {
                display: block;
                margin-left: 0;
            }
        }
    }
    @media screen and (max-width: 767px) {
        display: block;
        padding: 16px;
        .cell {
            &:nth-child(n+2) {
                margin:8px 0 0 0;
                padding:9px 0 0 0;
                &:before {
                    width: 100%;
                    height: 1px;
                    left: 0;
                    top: 0;
                    transform: translateY(0);
                }
            }
        }
        .box-info {
            margin-top: 12px;
            .status-icon {
                display: block;
                margin-left: 0;
            }
        }
    }
    @include tablet {
        max-height:300px;
        transition:.6s max-height ease;
        .btn-waiting-toggle {
            display: block;
        }

        &.hidden {
            max-height:58px;
            transition:.6s max-height ease;
            .btn-waiting-toggle {
                background-image: url("/lg5-common/images/icons/btn-arrow-down.svg");
            }
        }
    }
    @include mobile {
        &.hidden {
            max-height:53px;
        }
    }
}

.find-store-wrap {
    .map-container {
        position:relative;
        overflow:hidden;
        height:100vh;

        .store-list-wrap {
            width: 520px;
            height:100%;
            &.close {
                left:-520px;
            }
            .dim {
                position:absolute;
                z-index:11;
                top:0px;
                left:0px;
                width:100%;
                height:100%;
                opacity:0.7;
                background-color:rgb(0, 0, 0); 
                @include tablet {
                    position:fixed;
                }
            }
            .sch-box {
                transition: all ease .1s;
                background: none;
                .form-wrap {
                    padding-bottom:48px;
                    .box {
                        &.half {
                            font-size:0;
                            .select-wrap, .input-wrap {
                                display:inline-block;
                                width:calc(50% - 4px);
                                margin:0 0 0 8px;
                                &:first-child {
                                    margin-left:0;
                                }
                            }
                        }
                    }
                    .keyword-search {
                        margin-top:8px;
                    }
                }
                .tabs-wrap {
                    &.border-type {
                        .tabs {
                            width: 100%;
                            margin: 0;
                            >li {
                                margin-left: 20px;
                                margin-bottom: -1px;
                                > a {
                                    padding-bottom: 20px;
                                }
                                &:first-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
                .tabs-contents {
                    display:none;
                    &:target {
                        display:block;
                    }
                }
                @include mobile {
                    .form-wrap {
                        .btn-cell {
                            display:block;
                            width:100%;
                            margin-top:6px;
                            padding:0;
                            font-size:0;
                            .btn {
                                display:inline-block;
                                width:calc(50% - 3px);
                                margin-left:6px;
                                &:first-child,
                                &:only-child {
                                    margin-left:0;
                                }
                            }
                        }
                        .keyword-search {
                            margin-top:6px;
                        }
                    }
                    .tabs-contents {
                        .desc {
                            padding-top: 0;
                        }
                    }
                }
            }
            .sch-list {
                ul {
                    padding-bottom: 0;
                    li {
                        .store-info-list {
                            .info-wrap {
                                .tit-wrap {
                                    display: flex;
                                    justify-content: space-between;
                                    .status-icon  {
                                        &.close {
                                            .status {
                                                color:#ec455a;
                                            }
                                        }
                                    }
                                }
                                .etc-info {
                                    margin-top: 4px;
                                    .bizHours {
                                        font-size: 14px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        flex-wrap: wrap;
                                        font-weight:500;
                                        padding-right:136px;
                                        .key {
                                            color: #000;
                                        }
                                        .value {
                                            color: #666;
                                        }
                                        .cell {
                                            &:nth-of-type(n+2) {
                                                margin-left: 24px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .scroll-wrap {
                    .list-item {
                        padding-right:32px;
                        > li {
                            padding-bottom: 25px;
                            padding-right: 0;
                            margin-bottom: 24px;
                            &:last-child {
                                margin-bottom:0;
                            }
                            &:after {
                                display:inline-block;
                                content:'';
                                position:absolute;
                                bottom:0;
                                left:0;
                                width:100%;
                                height:1px;
                                background-color:#ddd;
                            }
                        }
                    }
                }
            }
            .view-info-btn {
                span {
                    color:#000;
                    text-decoration:underline;
                    &:before {
                        content:"";
                        display:inline-block;
                        width:24px;
                        height:24px;
                        margin-right:4px;
                        vertical-align: top;
                        background:url("/lg5-common/images/CS/btn-viewmap-bk.svg") no-repeat 0 0/100% 100%;
                    }
                    &:after {
                        display:none;
                    }
                }

                .list {
                    span {
                        &:before {
                            background-image: url("/lg5-common/images/CS/btn-viewlist-bk.svg");
                        }
                    }
                }
            }
            .result-list-box {
                display:none;
                .result-btn-wrap {
                    .view-info-btn {
                        top:24px;
                        left:auto;
                        
                    }
                }
                .result-list {
                    padding:0 32px 12px;
                    &:after {
                        left:32px;
                        width:calc(100% - 64px);
                        background-color: $color-default;
                           @include mobile {
                            width:calc(100% - 32px);
                            left:16px;
                        }
                    }
                }
            }
            .list-wrap {
                padding:0 0 0 32px;
                .scroll-wrap {
                    overflow-y:auto;
                }
            }
        

            &.active {
                h2.tit {
                    display: none;
                }
                .sch-box {
                    display: none;
                }
                .result-list-box {
                    display:block;
                    position: relative;
                }
                .store-list-box {
                    height:100vh;
                }
            }
            @include pc {
                h2.tit,
                .sch-box {
                    opacity: 1;
                    transition: opacity 0.5s ease 0.4s;
                    .tabs-wrap {
                        top: -65px;
                        padding-bottom: 0;
                    }
                }
                h2.tit {
                    font-size: 32px;
                    padding-bottom: 18px;
                    padding-left: 32px;
                }
                .result-list-box {
                    position: absolute;
                    .result-btn-wrap,
                    .result-list {
                        padding-left: 32px;
                    }
                }
                .sch-box {
                    margin: 0 32px;
                }
                .sch-list {
                    ul {
                        li {
                            > .btn-link {
                                position: absolute;
                                bottom:102px;
                                right:0;
                            }
                            .store-info-list {
                                .info-wrap {
                                    .etc-info {
                                        .bizHours {
                                            .cell {
                                                &:last-child {
                                                    text-align: right;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.active {
                    .tabs-contents {
                        .desc {
                            opacity: 0;
                        }
                    }
                }
            }
            @include tablet {
                width: 100%; 
                &.close {
                    left:0;
                }
                &.active {
                    .store-list-box {
                        height:auto;
                    }    
                }
                .store-list-box {
                    height:auto;
                    transform: none;
                }
                .sch-box {
                    margin: 0 32px;
                    .tabs-wrap {
                        position:relative;
                        top:auto;
                        margin:-58px -32px 16px;
                        padding:12px 32px 0;
                    }
                    .form-wrap {
                        padding-bottom:0;
                    }
                }
                .view-info-btn {
                    top:-47px;
                    left:auto;
                    bottom:auto;
                    right:0;
                }
                .result-list-box {
                    position: absolute;
                    .result-btn-wrap,
                    .result-list {
                        padding-left: 32px;
                    }
                }
                .list-wrap {
                    flex:none;
                    height:auto;
                    .sch-list {
                        position:relative;
                        height:auto;

                        .scroll-wrap {
                            height:auto;
                        }
                    }
                }

               
                &.active {
                    .tabs-contents {
                        .desc {
                            opacity: 0;
                        }
                    }
                    .result-list-box {
                        top:0;
                    }
                    .list-wrap {
                        height:auto;
                    }
                }
            }
            @include mobile {
                .view-info-btn {
                    position: absolute;
                    top:auto;
                    right:auto;
                    bottom: 80px;
                }
                h2 {
                    transform: none;
                }
                .store-list-box {
                    transform: none;
                    transition: none;
                    // padding-bottom:56px;
                    box-sizing:border-box;
                }
                .sch-box {
                    margin:0 16px;
                    .tabs-wrap {
                        margin:0 -16px 40px;
                        padding:35px 16px 0;

                        .tabs {
                            > li {
                                & + li {
                                    margin-left:26px;
                                }
                                > a {
                                    padding:0 6px 16px;
                                    font-size:17px;
                                }
                            }
                        }
                    }
                    .form-wrap {
                        padding-bottom:83px;
                    }
                }
                .sch-list {
                    ul {
                        li {
                            > .btn-link {
                                position: absolute;
                                bottom:102px;
                                left:43px;
                                right:auto;
                            }
                            .store-info-list {
                                .info-wrap {
                                    .etc-info {
                                        .bizHours {
                                            // display: flex;
                                            padding-right:0;
                                            padding-bottom:26px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .scroll-wrap {
                        .list-item {
                            padding-right:16px;
                        }
                    }
                }

                .list-wrap {
                    padding:0 0 0 16px;

                    .sch-list {
                        position:relative;
                        height:100%;
                    }
                }
            
                &.active {
                    .sch-box {
                        display: none;
                    }
                    .store-list-box {
                        //position:fixed;
                        width:100%;
                        height:auto;
                        bottom:0;
                        transform:none;

                        &.fixed {
                            height:100%;
                            position:fixed;
                        }
                    }
                    .sch-list {
                        .scroll-wrap {
                            position:relative;
                            height:100%;
                        }
                    }
                }
            }

            
        }
        .map-area {
            .info-overlaybox {
                .inner {
                    width:360px;
                    .btn-group {
                        padding:0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        .btn {
                            flex:1;
                            & + .btn {
                                margin-left:4px;
                            }
                        }
                    }

                    @include mobile {
                        width:320px;
                    }
                }
                .btn-overlay-close {
                    position:absolute;
                    width:24px;
                    height:24px;
                    top:16px;
                    right:24px;
                    background: url("/lg5-common/images/icons/btn-close-24.svg") no-repeat center center;
                    background-size: 100% 100%;

                    @include mobile {
                        top:12px;
                        right:16px;
                    }

                }
                .tit-wrap {
                    position:relative;
                    .status-icon {
                        position:absolute;
                        right:0;
                        top:1px;
                    }
                }
                .useable-service {
                    display: none;
                    margin-top:8px;
                    font-size:14px;
                    line-height:1.4;
        
                    .useable-tit {
                        font-weight: 500;
                    }
        
                    @include mobile {
                        display: block;
                        font-size:13px;
                        .useable-tit { 
                            display: block;
                        }
                    }
                }
                .opt-list {
                    @include mobile {
                        display:none;
                    }
                }
            }
        }
        .opt-list {
            margin-top:12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li {
                display:inline-block;
                padding:0;
                vertical-align:top;
                &:first-child {
                    margin-left:0;
                }
                &:before {
                    content:'';
                    display:block;
                    width:48px;
                    height:48px;
                    margin:0 auto;
                    border-radius:50%;
                    background-color:#f4f4f4;
                    background-repeat:no-repeat;
                    background-size:32px 32px;
                    background-position:center center;
                }
                .name {
                    display:block;
                    @include font-x-small;
                    font-weight:500;
                    text-align:center;
                }
                &.opt-mobile:before {
                    //background-image:url(/lg5-common/images/icons/cate_icon_mobile.svg);
                    background-image:url(/kr/support/images/category-images/cate_icon_mobile.svg);
                }
                &.opt-it-monitor:before {
                    //background-image:url(/lg5-common/images/icons/cate_icon_it-monitors.svg);
                    background-image:url(/kr/support/images/category-images/cate_icon_it-monitors.svg);
                }
                &.opt-small-appliances:before {
                    //background-image:url(/lg5-common/images/icons/icon_small-appliances.svg);
                    background-image:url(/kr/support/images/icon/icon_small-appliances.svg);
                }
                &.opt-expendables:before {
                    //background-image:url(/lg5-common/images/icons/icon_expendables.svg);
                    background-image:url(/kr/support/images/icon/icon_expendables.svg);
                }
            }
        }
    }

    @include tablet {
        .map-container {
            height:auto;

            &.show-map {
                .store-list-wrap {
                    margin-top:400px;
                }
            }
            &.result-map {
                .store-list-wrap {
                    margin-top:0;

                    .view-info-btn {
                        display: none;
                    }

                    .list-wrap {
                        margin-top:400px;
                    }
                }    
            }
        }
    }

    @include mobile {
        .map-container {
            .store-list-wrap {
                &.active {
                    .result-list-box {
                        position:fixed;
                        top:0;
                        left:0;
                        width:100%;
                        z-index:11;
                    }
                    .list-wrap {
                        margin-top:425px;
                    }
                }
            }

            &.result-map {
                .store-map-con {
                    top: 25px;
                }
            }
        }
    }
}

// 레이아웃 관련
@include mobile {
    .mobile-nav-wrap {
        .nav {
            display: none;
        }
    }
}