@charset "UTF-8";

@import "../../support-common";

.notice-wrap {
    .search-box {
        width:100%;
        max-width:560px;
        margin:0 auto;
        @include mobile {
            padding:0 24px;
        }
    }
    .ui_tab-notice {
        margin-top: 48px;
    }
    .tabs-contents {
        margin-top: 20px;
    }
    @include mobile {
        .search-box,
        .ui_tab-notice {
        }
        .search-box {
            margin-top: 84px;
        }
    }
}

.notice-read {
    padding-top: 60px;
    background-color: #fff;
    &-content {
        font-size: 16px;
        color: #111;
        line-height: 1.75;
    }
}


.input-wrap {
    &.search {
        input {
            border:none;
        }
        .cell {
            vertical-align:top;
            border:none;
            background:#fff;
        }
        .btn-search {
            width:24px;
            height:24px;
            @include icon-search;
        }
    }
}