@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.support {
    /* common */
    .search-wrap {
        width:444px;
        margin:0 auto 64px;
        .keyword-search {
            .input-wrap {
                display:block;
                position:relative;
                input[type=text] {
                    padding:11px 54px 11px 24px;
                    border-radius:24px;
                    border:0 none;
                    box-shadow:2px 4px 12px 0 rgba(0, 0, 0, 0.14);
                }
                .btn-search {
                    position:absolute;
                    top:0;
                    right:0;
                    width:54px;
                    height:48px;
                    background:center/20px 20px url(/lg5-common/images/icons/icon-search-20.svg) no-repeat;;
                }
            }
        }   
        
        @include mobile {
            width:100%;
            margin:0 0 65px;
            padding:0 16px;
            .keyword-search {
                .input-wrap {
                    input[type=text] {
                        padding:12px 68px 12px 24px;
                        border-radius:28px;
                    }
                    .btn-search {
                        width:68px;
                        height:46px;
                    }
                }
            }
        }
    }

    /* pages */
    /* 공지사항 */
    &.notice {
        .result-wrap {
            @include mobile {
                padding:0 16px;
            }
        }
    }
}

@import "../../support/pages/CSTF3500";