@charset "UTF-8";
@import "../../support-common";
@import "../../support/selectProduct";

.status-bar {
    background:#212121;
    height:80px;
    &-inner {
        max-width:1364px;
        margin:0 auto;
        padding:32px 40px;
        @include clearfix;
    }
    @include mobile {
        height:52px;
        &-inner {
            position:relative;
            padding:16px 24px;   
        }
    }
    .status {
        float:left;
        &-title {
            float:left;
            color:#ddd;
        }
        &-list {
            float:left;
            margin-left:14px;
            li {
                position:relative;
                float:left;
                color:#ddd;
                & + li {
                    margin-left:7px;
                    padding-left:13px;
                    &:before {
                        content:'';
                        position:absolute;
                        left:-4px;
                        top:50%;
                        width:8px;
                        height:8px;
                        border-top:1px solid #ddd;
                        border-right:1px solid #ddd;
                        transform:translateY(-50%) rotate(45deg);
                    }
                }
            }
        }
        @include mobile {
            float:none;
            @include clearfix;
            &-title {
                float:left;
                color:#fff;
                font-size:12px;
                line-height:20px;
            }
            &-list {
                float:right;
                li {
                    color:#fff;
                    font-size:12px;
                    font-weight:700;
                    line-height:20px;
                }
            }
        }
    }
    .guide {
        float:right;
        &-link {
            float:left;
            & + .guide-link {
                margin-left:24px;
            }
        }
        a {
            font-size:18px;
            color:#fff;
        }
        @include mobile {
            position:absolute;
            left:0;
            top:100%;
            float:none;
            width:100%;
            background:#ddd;
            @include clearfix;
            &-link {
                width:50%;
                padding:11px 0;
                text-align:center;
                & + .guide-link {
                    margin:0;
                }
                a {
                    color:#616161;
                    font-size:12px;
                    font-weight:700;
                    line-height:18px;
                }
            }
        }
    }
}


.section-area, .inquiry-item {
    width:100%;
    padding:56px;
    border-radius:4px;
    background:#fff;
    & + .section-area, & + .inquiry-item {
        margin-top:24px;
    }
    @include mobile {
        padding:40px 24px;
        border-radius:0;
        & + .section-area, & + .inquiry-item {
            margin-top:12px;
        }
    }
}
.section-heading, .inquiry-title {
    margin-bottom:32px;
    .section-title, .tit {
        color:#111;
        font-size:16px;
        font-weight:700;
    }
}

.inquiry-btns {
    margin-top:48px;
    text-align:right;
    font-size:0;
    button + button {
        margin-left:8px;
    }
}

.email-box {
    .email-input {
        margin:0 -4px;
        @include clearfix;
        .input-wrap, .select-wrap {
            float:left;
            width:calc((100% - 24px) / 3);
            padding:0 4px;
        }
        .at {
            float:left;
            width:24px;
            padding:0 4px;
            color:#616161;
            font-size:16px;
            line-height:56px;
        }
    }
}

.privacy-box {
    .privacy-text {
        p {
            color:#616161;
            font-size:14px;
            line-height:20px;
        }
        strong {
            color:#111;
            font-size:16px;
            font-weight:400;
            line-height:24px;
        }
    }
    .privacy-check {
        margin-top:12px;
    }
}

// 폼 레이아웃
.field-wrap {
    //임시
    .err-msg {
        display:none;
    }
    textarea {
        font-size:14px;
    }
    .input-wrap, .select-wrap {
        width:100%;
    }
    .row {
        @include clearfix;
        & + .fieldset-row {
            margin-top:32px;
            @include mobile() {
                margin-top:28px;
            }
        }
    }
    .field-title {
        margin-bottom:12px;
        .tit {
            color:#111;
            font-size:14px;
            font-weight:400;
            vertical-align:middle;
        }
        @include mobile() {
            margin-bottom:8px;
            .tit {
                color:#616161;
                font-size:13px;
                line-height:19px;
            }
        }
    }
    .row {
        margin:0 -4px;
        @include clearfix;
        & + .row {
            margin-top:32px;
        }
    }
    .field-group {
        margin:0 -4px;
        @include clearfix;
        & > div {
            float:left;
            width:50%;
            padding:0 4px;
        }
    }

    .field-item {
        float:left;
        width:50%;
        padding:0 4px;
        &.block {
            float:none;
            width:100%;
        }
        .field-title {
            margin-bottom:8px;
            font-size:0;
            .tit {
                display:inline-block;
                font-size:14px;
                line-height:20px;
            }
            .icon-notice {
                margin-left:8px;
            }
        }
        
        
        .check-list {
            width:100%;
            text-align:justify;
            font-size:0;
            &:after {
                content:'';
                display:inline-block;
                padding-left:100%;
            }
            @include mobile {
                display:block;
                .rdo-wrap {
                    width:100%;
                }
                &.half .rdo-wrap {
                    width:50%;
                }
                &:after {
                    display:none;
                }
            }
        }
        .thumnail-list {
            margin:-24px -19px 0;
            @include clearfix;
            .rdo-wrap {
                float:left;
                width:calc(100% / 3);
                padding:24px 19px 0;
                .rdo-image {
                    width:100%;
                    overflow:hidden;
                    img {
                        width:100%;
                        height:auto;
                    }
                }
            }
        }
        
        
        @include mobile() {
            &:first-child:nth-last-child(2), &:first-child:nth-last-child(2) ~ & {
                float:none;
                width:100%;
                margin:0;
            }
            &:first-child:nth-last-child(2) ~ & {
                margin-top:28px;
            }
        }
    }

    .input-wrap.button {
        display:flex;
        width:100%;
        input {
            flex:1 1;
            width:100%;
        }
        button {
            min-width:111px;
            margin-left:8px;
            padding:15px 24px;
            white-space:nowrap;
            border-radius:8px;
        }
        & + .input-wrap {
            margin-top:8px;
        }
    }
    .desc {
        margin-top:12px;
        color:#616161;
        font-size:14px;
    }
    .dot-list {
        margin-top:12px;
        li {
            position:relative;
            padding-left:6px;
            color:#616161;
            font-size:14px;
            line-height:1.71;
            &:before {
                content:'';
                position:absolute;
                left:0;
                top:10px;
                width:2px;
                height:2px;
                background-color:#bbb;
            }
        }
    }
}