@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

// 상단 가이드바
.guide-wrap {
    height:84px;
    background:#222;
    .guide-bar {
        display:flex;
        height:100%;
        max-width:1146px + 40px;
        margin:0 auto;
        padding:0 40px;
        justify-content:space-between;
        align-items:center;
        & > button, a {
            border:0 none;
        }
        @include mobile {
            padding:20px 16px;
        }
    }
    .product-list {
        @include mobile {
            padding-right:12px;
        }
    }
    .category-box {
        position:relative;
        float:left;
        width:327px;
        padding-right:24px;
        &:after {
            content:'';
            position:absolute;
            right:0;
            top:1px;
            width:24px;
            height:24px;
            background:url('/lg5-common/images/icons/btn-arrow-right-white-20.svg') no-repeat;
            background-size:100%;
        }
        p, .category-list {
            color:#fff;
            @include font-medium;
            font-weight:700;
        }
        .category-list {
            @include clearfix;
            & > li {
                float:left;
                & + li {
                    position:relative;
                    &:before {
                        content:'\003E';
                        display:inline-block;
                        padding:0 4px;
                    }
                }
            }
        }
        @include mobile {
            float:none;
            width:100%;
            padding-right:0;
            &:after {
                content:none;
            }
        }
    }
    .model-box {
        float:left;
        margin-left:40px;
        font-size:0;
        p {
            display:inline-block;
            color:#fff;
            @include font-medium;
            vertical-align:middle;
        }
        .btn-add {
            display:inline-block;
            margin-left:24px;
            padding-right:22px;
            color:#fff;
            @include font-small;
            font-weight:500;
            vertical-align:middle;
            background:url('/lg5-common/images/icons/icon-more-pk-20.svg') no-repeat;
            background-size:20px;
            background-position:top 3px right;
        }
        @include mobile {
            float:none;
            margin:4px 0 0;
            .btn-add {
                margin-left:12px;
                background-position:top 1px right;
            }
        }
    }
    .btn-select {
        padding:6px 16px;
        color:#222;
        font-size:14px;
        line-height:24px;
        border-radius:19px;
        background:#fff;
        span {
            padding-left:28px;
            background:url('/lg5-common/images/icons/icon-reset-20.svg') no-repeat;
            background-size:20px;
            background-position:top left;
        }
    }
}

.support {
    /* common */
    .survey-banner-wrap {
        margin:0 auto;
        margin-top:80px;
        .banner {
            display:flex;
            align-items:center;
            justify-content:space-between;
            padding:28px 48px;
            border-radius:8px;
            background:#f4f4f4;
            p {
                position:relative;
                padding:0 20px 0 64px;
                @include font-medium;
                font-weight:700;
                &:before {
                    content:'';   
                    position:absolute;
                    left:0;
                    top:50%;
                    width:48px;
                    height:48px;
                    transform:translate(0, -50%);
                    background:url("/lg5-common/images/icons/icon-12-80.svg") no-repeat;
                    background-size:48px 48px;
                }
                .model {
                    color:#ec455a;
                }
            }
            button {
                min-width:84px;
            }
        }
        @include mobile {
            margin-top:40px; 
            padding:0 16px;
            .banner {
                display:block;
                padding:16px 24px;
                text-align:center;
                p {
                    padding:56px 0 16px;
                    &:before {
                        top:0;
                        left:50%;
                        transform:translate(-50%, 0);
                    }
                }
            }
        }
    }
    .driver-section {
        .form-wrap {
            margin-bottom:48px;
            @include clearfix;
            .forms {
                float:left;
                width:calc(50% - 12px);
                & + .forms {
                    float:right;
                    margin:0;
                }
                .tit {
                    display:block;
                    width:100%;
                    margin-bottom:8px;
                    padding:0;
                    label {
                        @include font-small;
                        font-weight:500;
                    }
                }
                .conts {
                    display:block;
                    width:100%;
                }
            }
        }
        .tabs-wrap {
            margin-bottom:24px;
        }
        @include mobile {
            .form-wrap {
                margin-bottom:52px;
                .forms {
                    float:none;
                    width:100%;
                    & + .forms {
                        float:none;
                        margin-top:24px;
                    }
                    .tit {
                        display:block;
                        width:100%;
                        margin-bottom:6px;
                        padding:0;
                    }
                    .conts {
                        display:block;
                        width:100%;
                    }
                }
            }
            .tabs-wrap {
                margin-bottom:20px;
            }
        }
    }

    // 제품 문제 해결 필터 & 리스트
    .solutions-wrap {
        @include clearfix;
        .result-box {
            float:right;
            width:calc(100% - 234px);
            .tit-wrap {
                margin-bottom:48px;
            }
            @include mobile {
                float:none;
                width:100%;
                .tit-wrap {
                    margin-bottom:20px;
                }
            }
        }
        .filter-box {
            position:relative;
            float:left;
            width:210px;
            margin-top:96px;
            .tit-wrap {
                position:relative;
                font-size:0;
                .btn-back {
                    position:absolute;
                    top:0;
                    left:0;
                    width:24px;
                    height:24px;
                    font-weight:700;
                    background:100% url('/lg5-common/images/icons/icon-btn-arrow-left.svg') no-repeat;
                    & + .tit {
                        display:block;
                        padding-left:28px;
                    }
                }
            }
            .filter-list {
                &.open {
                    overflow:hidden;
                    height:0;
                }
                li {
                    margin-top:12px;
                    &:first-child {
                        margin-top:0;
                    }
                    .filter-link {
                        display:inline-block;
                        @include font-medium;
                        vertical-align:top;
                    }
                    .sub-depth {
                        position:absolute;
                        width:100%;
                        left:0%;
                        top:0;
                        background:#fff;
                    }
                    &.on {
                        & > .filter-link {
                            color:#ec455a;
                        }
                    }
                }
            }
            @include mobile {
                display:none;
            }
        }
        .mobile-filter-box {
            display:block;
            margin-bottom:40px;
            @include pc {
                display:none;
            }
        }
        .search-wrap { 
            width:100%;
            margin:0 0 48px;
            .keyword-search {
                position:relative;
                max-width:582px;
                width:100%;
                margin:0 auto;
                padding-right:138px;
                .input-wrap {
                    vertical-align:middle;
                }
                .chk-wrap {
                    position:absolute;
                    right:0;
                    top:50%;
                    transform:translateY(-50%);
                }
            }   
            @include mobile {
                margin:0 0 40px;
                padding:0;
                .keyword-search {
                    max-width:none;
                    padding:0;
                    .input-wrap {
                        display:block;
                        width:100%;
                        input[type=text] {
                            padding:12px 68px 12px 24px;
                            border-radius:28px;
                        }
                        .btn-search {
                            width:68px;
                            height:46px;
                        }
                    }
                    .chk-wrap {
                        position:static;
                        margin:12px 0 0 0;
                        transform:translateY(0);
                    }
                }
            }
        }
    }
    // 제품사용설명서 리스트
    .manual-list-wrap {
        margin-top:32px;
        .manual-list {
            margin:-16px -8px 0;
            @include clearfix;
            & > li {
                float:left;
                width:calc(50% - 16px);
                margin:16px 8px 0;
                padding:24px 32px;
                border-radius:8px;
                box-shadow:2px 4px 16px 0 rgba(0, 0, 0, 0.14);
                .desc {
                    @include textEllipsisClamp(2);
                }
                @include pc {
                    .desc {
                        height:48px;
                    }
                }
            }
            .tit {
                display:block;
                @include font-medium;
                font-weight:700;
                a, button {
                    font-size:inherit;
                    font-weight:inherit;
                    line-height:inherit;
                    vertical-align:top;
                    text-align:left;
                }
            }
            .desc {
                color:#767676;
                @include font-small;
            }
            .options {
                color:#767676;
                @include font-small;
                @include clearfix;
                & > li {
                    position:relative;
                    display:inline;
                    &:after {
                        content:'';
                        display:inline-block;
                        width:1px;
                        height:10px;
                        margin:7px 8px 0;
                        background:#ddd;
                    }
                    &:last-child {
                        margin:0;
                        padding:0;
                        &:after {
                            content:none;
                        }
                    }
                }
            }
            .info-wrap {
                display:flex;
                margin-top:24px;
                align-items:center;
                justify-content:space-between;
            }
            .btns-area {
                @include clearfix;
                .btn {
                    float:left;
                    & + .btn {
                        margin-left:8px;
                    }
                }
            }
            @media screen and (min-width: 768px) and (max-width: 900px) {
                .info-wrap {
                    display:block;
                    .btns-area {
                        margin-top:8px;
                    }
                }
            }
        }
        @include mobile {
            .manual-list {
                margin:0;
                & > li {
                    float:none;
                    width:100%;
                    margin:12px 0 0;
                    padding:20px;
                    border-radius:4px;
                    box-shadow:1px 2px 8px 0 rgba(0, 0, 0, 0.14);
                }
                .options {
                    & > li {
                        &:after {
                            margin:6px 6px 0;
                        }
                    }
                }
                .info-wrap {
                    margin-top:20px;
                }
            }
        }
    }
    // 드라이버/SW 리스트
    .driver-list-wrap {
        .driver-list {
            & > li {
                padding:24px 32px;
                border:1px solid #ddd;
                border-radius:8px;
                & + li {
                    margin-top:12px;
                }
                .file-box {
                    position:relative;
                    padding-right:315px;
                    .options {
                        margin-top:8px;
                    }
                    .btn-area {
                        position:absolute;
                        left:calc(100% - 315px);
                        top:50%;
                        width:315px;
                        transform:translateY(-50%);
                        font-size:0;
                        @include clearfix;
                        .box {
                            display:inline-block;
                            width:172px;
                            text-align:right;
                            vertical-align:middle;
                            & + .box {
                                width:143px;
                            }
                            &.btn_close {
                                .accord-btn {
                                    color:#ec455a;
                                    background-image:url(/lg5-common/images/icons/btn-minus-20.svg);
                                }
                            }
                        }
                        .accord-btn {
                            padding-right:22px;
                            color:#767676;
                            font-size:14px;
                            font-weight:500;
                            line-height:24px;
                            background:url(/lg5-common/images/icons/btn-more-20-gray.svg) no-repeat;
                            background-position:right center;
                        }
                    }
                }
                .accord-cont {
                    display:none;
                    .driver-list {
                        margin-top:24px;
                        padding:20px 24px;
                        border-radius:8px;
                        background:#f4f4f4;
                        & > li {
                            margin:20px 0 0 0;
                            padding:20px 0 0 0;
                            border-width:1px 0 0 0;
                            &:first-child {
                                margin:0;
                                padding:0;
                                border:none;
                            }
                            .btn-area {
                                .box {
                                    width:196px;
                                }
                                .btn.border {
                                    background:#f4f4f4;
                                }
                            }
                        }
                    }
                }
            }
            .tit {
                display:block;
                @include font-medium;
                font-weight:700;
                a, button {
                    font-size:inherit;
                    font-weight:inherit;
                    line-height:inherit;
                    vertical-align:top;
                    text-align:left;
                }
            }
            .desc {
                color:#767676;
                @include font-small;
            }
            .options {
                color:#767676;
                @include font-small;
                @include clearfix;
                & > li {
                    position:relative;
                    display:inline;
                    &:after {
                        content:'';
                        display:inline-block;
                        width:1px;
                        height:10px;
                        margin:7px 8px 0;
                        background:#ddd;
                    }
                    &:last-child {
                        margin:0;
                        padding:0;
                        &:after {
                            content:none;
                        }
                    }
                }
            }
            @include mobile {
                & > li {
                    padding:20px;
                    .file-box {
                        padding-right:0;
                        .options {
                            margin-top:4px;
                        }
                        .btn-area {
                            position:static;
                            width:100%;
                            margin-top:20px;
                            transform:translateY(0);
                            @include clearfix;
                            .box {
                                float:left;
                                width:auto;
                                & + .box {
                                    float:right;
                                    margin:6px 0 0 0;
                                }
                            }
                        }
                    }
                    .accord-cont {
                        .driver-list {
                            margin-top:20px;
                            padding:16px;
                            & > li {
                                margin:16px 0 0 0;
                                padding:16px 0 0 0;
                                &:first-child {
                                    margin:0;
                                    padding:0;
                                    border:none;
                                }
                                .btn-area {
                                    .box {
                                        float:none;
                                        width:100%;
                                        text-align:center;
                                    }
                                }
                            }
                        }
                    }
                }
                .options {
                    & > li {
                        &:after {
                            margin:6px 6px 0;
                        }
                    }
                }
            }
        }
    }

    /* pages */
    /* 비디오 가이드 */
    &.video-guide {
        .tabs-wrap {
            display: block;
            @media screen and (min-width: $tablet-l-width) {
                display:none;
            }
            @media screen and (max-width: $tablet-l-width) {
                margin: 0 16px 4px;
            }
        }
        .search-summary {
            margin-bottom:48px;
            .summary {
                color:#111;
                font-size:20px;
                font-weight:700;
                line-height:20px;
                display: flex;
                align-items: center;
                &-keyword {
                    color:#ec455a;
                }
                &-delete {
                    display:inline-block;
                    width:20px;
                    height:20px;
                    margin-left:8px;
                    background:url('/lg5-common/images/icons/icon-delete.svg') no-repeat;
                    background-size:100%;
                }
            }
            @include mobile {
                margin-bottom:24px;
                padding:0 16px;
                background:#fff;
                .summary {
                    line-height:18px;
                    &-delete { 
                        width:18px;
                        height:18px;
                    }
                }
            }
        }
        .search-result {
            @include clearfix;
            .tabs-contents {
                @media screen and (min-width: $tablet-l-width) {
                    display:block !important;
                    float: left;
                    @include calc('width', 50%, 60px);
                    margin-left:120px;
                    &:first-child {
                        margin-left:0;
                    }
                }
            }
            .result-box {
                border-radius:4px;
                background:#fff;
                .result-tit {
                    display:none;
                    padding-bottom:16px;
                    color:#222;
                    font-size:20px;
                    font-weight:700;
                    line-height:24px;
                    border-bottom:2px solid #222;
                    @include pc {
                        display:block;
                    }
                }
                .result-total {
                    margin-top:12px;
                    color:#222;
                    font-size:14px;
                    font-weight: 500;
                    line-height:20px;
                    text-align:right;
                    .count {
                        color:#ec455a
                    }
                }
            }
            @include mobile {
                .result-box {
                    padding:0 16px 56px;
                }
            }
        }
        .related-content {
            margin-top: 112px;
            @include mobile {
                margin-top:56px;
            }
        }
        .search-sort{
            max-width:912px;
            margin:0 auto;
            .sort-desc{
                @include font-large-1;
                font-weight: bold;
                margin-bottom:22px;
                text-align:center;
                @include mobile{
                    padding:0 45px;
                    p{
                        word-break:keep-all;
                    }
                }
            }
            .sort-box{
                display:flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom:8px;
                @include mobile{
                    flex-wrap:wrap;
                    padding:0 16px;
                }
                .forms{
                    width:calc(50% - 4.5px);
                    margin-top:0;
                    @include mobile{
                        width:100%;
                    }
                    .conts{
                        width:100%;
                    }
                }
            }
            .search-wrap{
                width: auto;
                margin-bottom:0;
                .keyword-search
                {
                    .input-wrap{
                        input[type=text]{
                            border-radius:8px;
                            border:1px solid #ddd; 
                            box-shadow:none;
                            padding-left:15px;
                        }
                        .btn-search{
                            opacity:0.7;
                        }
                    }
                }
            }
        }
        /* // video detail */
    }
    /* 카드뉴스 */
    &.card-news {   
        .card-news-view {
            .card-news-tit {
                margin-bottom:48px;
                padding:24px 40px;
                @include font-medium;
                border-radius:8px;
                background:#f4f4f4;
                strong {
                    font-weight:$font-weight-bold;
                }
            }
            .view-content-title {
                margin-bottom: 16px;
                color: #222;
                @include font-large;
                font-weight: $font-weight-bold;
            }
            .view-content-text {
                font-size:16px;
                line-height:26px;
            }
            .view-content-img {
                overflow:hidden;
                margin-bottom: 106px;
                border-radius:8px;
                img {
                    width:100%;
                }
            }
            .btn-wrap {
                margin-top:32px;
            }
            .slide-wrap {
                overflow:visible;
                max-width: 880px;
                margin: 0 auto;
                padding:0 80px;
                .slide-controls {
                    .btn-arrow {
                        &.next,
                        &.prev {
                            transform: none;
                        }
                    }
                }
                .indi-wrap {
                    position:absolute;
                    margin:0;
                    top:752px;
                    bottom:auto;
                    @media screen and (max-width:960px) {
                        top:calc(101.3vw - 240px);
                    }
                }
            }
            @include mobile {
                .sub-tit {
                    margin-bottom:32px;
                    padding:16px;
                }
                .view-content-title {
                    margin-bottom:12px;
                }
                .view-content-text {
                    font-size:13px;
                    line-height:21px;
                }
                .view-content-img {
                    margin-bottom:70px;
                }
                .btn-wrap {
                    margin-top:24px;
                }
                .slide-wrap {
                    max-width:none;
                    padding:0;
                    .slide-content {
                        overflow:hidden !important;
                        .slide-conts {
                            margin:0;
                        }
                    }
                    .indi-wrap {
                        top:calc(100.5vw - 32px);
                    }
                }
            }
        }
        @include mobile {
            .result-wrap {
                padding:0 16px;
            }
        }
    }
    /* 가전제품 생활의 팁 */
    &.product-tips {
        .card-list-wrap {
            .card-list {
                .item-image {
                    padding-top:75%;
                }
            }
        }
        .product-tips-view {
            max-width:1146px;
            margin:0 auto;
            .view-content-title {
                color: #222;
                font-size:20px;
                font-weight: $font-weight-bold;
                line-height:28px;
            }
            .view-content-img { 
                margin-bottom:48px;
                text-align:center;
                img {
                    max-width:100%;
                }
            }
            @include mobile {
                .view-content-title {
                    font-size:16px;
                    line-height:24px;
                }
                .view-content-img { 
                    margin-bottom:32px;
                }
            }
        }
        @include mobile {
            .result-wrap {
                padding:0 16px;
            }
        }
    }

    /* 다운로드 자료실 */
    &.download {
    }
    /* 제품해결 */
    &.solutions {
        .banner-wrap {
            margin-top:32px;
            & + .banner-wrpa {
                margin-top:24px;
            }
            @include mobile {
                margin-top:12px;
                & + .banner-wrpa {
                    margin-top:12px;
                }   
            }
        }
    }
    /* 제품 지원 페이지 */
    &.psp {
        // PSP Header
        .product-header {
            & + div:not(.guide-wrap) {
                border-top: 1px solid #ddd;
            }
            &-inner {
                display:table;
                position:relative;
                width:100%;
                max-width:1146px + 80px;
                margin:0 auto;
                padding:40px 40px 24px;
                font-size:0;
            }
            .visual {
                display:table-cell;
                width:210px;
                height:210px;
                vertical-align:middle;
                .img {
                    width:100%;
                }
            }
            .conts {
                display:table-cell;
                @include vw(padding-left, 80px);
                vertical-align:middle;
                .tit {
                    @include font-large-3;
                    font-weight:700;
                }
                .desc {
                    margin-top:2px;
                    @include font-medium;
                }
                .link-wrap {
                    margin-top:32px;
                    .btn-open {
                        display:none;
                    }
                    .link-list {
                        font-size:0;
                        li {
                            display:inline-block;
                            margin-right:32px;
                            vertical-align:middle;
                            &:last-child {
                                margin-right:0;
                            }
                        }
                    }
                }
            }
            .btn-wrap {
                display:table-cell;
                width:1%;
                text-align:right;
                vertical-align:middle;
                .btn {
                    width:112px;
                    padding:11px 22px;
                }
            }
            @include mobile {
                &-inner {
                    display:flex;
                    flex-direction:column;
                    padding:24px 16px 60px;
                }
                .visual {
                    display:block;
                    width:100%;
                    margin-top:12px;
                    text-align:center;
                    .img {
                        width:216px;
                        height:216px;
                    }
                }
                .conts {
                    display:block;
                    position:relative;
                    width:100%;
                    padding:0;
                    order:-1;
                    .flag-wrap ~ .link-wrap .btn-open {
                        top:22px;
                    }
                    .tit {
                        padding-right:40px;
                    }
                    .link-wrap {
                        text-align:center;
                        margin:0;
                        .btn-open {
                            display:block;
                            position:absolute;
                            right:0;
                            top:0;
                            width:32px;
                            height:32px;
                            background:url(/lg5-common/images/icons/icon-arrow-accor.svg) no-repeat;
                        }
                        .link-list {
                            display:none;
                            li {
                                display:block;
                                margin:20px 0 0;
                            }
                        }
                        &.open {
                            .link-list {
                                display:block;
                            }
                        }
                    }
                }
                .btn-wrap {
                    display:block;
                    width:100%;
                    margin-top:24px;
                    .btn {
                        width:100%;
                    }
                }
            }
        }
        // PSP floating tab
        .anchors-tabs-wrap {
            height:86px;
            background:#fff;
            .tabs-wrap {
                display:block;
                max-width:1146px + 80px;
                margin:0 auto;
                padding:24px 40px;
            }
            &.fixed {
                border-bottom:1px solid #ddd;
                height:70px;
            }
            @include mobile {
                height:56px;
                .tabs-wrap {
                    padding:10px 0;
                }
            }
        }
        .login-guide {
            margin-bottom:0;
        }
        .cont-wrap {
            padding:48px 40px 80px;
            //border-top:8px solid #f4f4f4;
        }
        
        @include mobile {
            border-top:12px solid #f4f4f4;
            .cont-wrap {
                padding:0 0 60px;
                border-top-width:12px;
            }
        }
    }
}