@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.support {
    .complete-summary {
        background-image:linear-gradient(to top, #9c86e7, #de64a0);
        .box {
            max-width:1380px + 80px;
            margin:0 auto;
            padding:24px 40px;
            font-size:0;
            @include clearfix;
        }
        .summary-img {
            display:inline-block;
            width:120px;
            vertical-align:middle;
            img {
                max-width:100%;
            }
        }
        .summary-info {
            display:inline-block;
            width:calc(100% - 120px);
            padding-left:48px;
            vertical-align:middle;
            .info {
                color:#fff;
                font-weight:700;
                @include font-large;
                span + span {
                    position:relative;
                    margin-left:12px;
                    padding-left:13px;
                    &:before {
                        content:'';
                        position:absolute;
                        left:0;
                        top:7px;
                        width:1px;
                        height:14px;
                        background:#fff;    
                    }
                }
            }
            .status {
                margin-top:24px;
                color:#fff;
                @include font-medium;
                span {
                    color:#fffd7c;
                }
            }
        }
        @include mobile {
            .box {
                padding:20px 16px;
            }
            .summary-img {
                width:130px;
                img {
                    width:100%;
                }
            }
            .summary-info {
                width:calc(100% - 130px);
                padding-left:16px;
                .info {
                    span {
                        display:block;
                        & + span {
                            margin:2px 0 0 0;
                            padding:0;
                            &:before {
                                content:none;
                            }
                        }
                    }
                }
                .status {
                    margin-top:8px;
                }
            }
        }
    }

    .engineer-to-visit {
        @include clearfix;
        .engineer-profile {
            float:left;
            width:160px;
            .engineer-img {
                width:160px;
                height:160px;
                img {
                    width:100%;
                }
            }
            .engineer-info {
                margin-top:8px;
                .name {
                    @include font-small;
                    font-weight:700;
                }
                .center {
                    @include font-small;
                }
            }
        }
        .engineer-desc {
            float:left;
            width:calc(100% - 160px);
            padding-left:32px;
            .txt {
                @include font-medium;
                .topic {
                    color:#ff2e55;
                    font-weight:400;
                }
            }
            .btn-wrap {
                margin-top:24px;
            }
        }
        @include mobile {
            .engineer-profile {
                width:104px;
                .engineer-img {
                    width:104px;
                    height:104px;
                }
            }
            .engineer-desc {
                float:left;
                width:calc(100% - 104px);
                padding-left:24px;
                .txt {
                    br {
                        display:none
                    }
                }
                .btn-wrap {
                    margin-top:16px;
                }
            }
        }
    }

    

    /* page */
    /* 출장 예약 */
    &.service-engineer {
    }

    /* 이메일 문의 */
    &.email-inquiry {
        .inquiry-sections{
            display:flex;
            justify-content:space-between;
            .section{
                width:calc((100% - 48px) / 3);
                @include pc {
                    margin:0;
                }
                .tit-wrap{
                    margin-bottom:16px;
                }
                .desc-wrap{
                    .desc-txt{
                        margin-bottom:8px;
                    }
                    .desc-btn{
                        display:flex;
                        flex-flow:wrap;
                        & + .desc-text {
                            margin-top:32px;
                        }
                        .btn{
                            margin:0 8px 12px 0;
                            min-width:auto;
                            padding:8px 14px;
                            display:flex;
                            align-items:center;
                            &.white{
                                background:#fff;
                                border:1px solid #ddd;
                                border-radius:16px;
                                padding: 8px 16px;
                                color:#222;
                                font-weight:normal;
                            }
                            &.out-link{
                                &::after{
                                    content:'';
                                    display:inline-block;
                                    margin-left:3px;
                                    width:20px;
                                    height:20px;
                                    background:url("/lg5-common/images/icons/ic-outlink-20.svg") center no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include mobile {
            .inquiry-sections{
                display:block;
                margin:0;
                .section{
                    width:100%;
                    .tit-wrap{
                        margin-bottom:24px;
                    }
                    .desc-wrap{
                        .desc-btn{
                            & + .desc-text {
                                margin-top:40px;
                            }
                            .btn{
                                margin:0 8px 8px 0;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 전화상담 예약 */
    &.request-call {

    }
    
    /* 영상상담 예약 */ 
    &.video-consulting {

    }

    /* 센터방문 예약 */
    &.visit-center {
        .center-info-box {
            padding: 20px 24px;
            margin-bottom: 40px;
            border-radius: 8px;
            border: solid 1px #dddddd;
            background-color: #ffffff;
            .center-info-title {
                display:block;
                margin-bottom:16px;
                @include font-medium;
            }
            .bullet-list {
                &.top-border {
                    margin-top: 16px;
                }
            }
        }
    
        .tabs-wrap {
            margin-bottom:40px;
        }

        .adress-box {
            text-align: left;
            label {
                cursor: pointer;
            }
        }
        .center-name {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.63;
            color: #222222;
        }
        .detailed-address {
            font-size: 14px;
            line-height: 1.71;
            color: #767676;
        }
    }
    
    /* 예약 다건 결과 */
    &.service-status-list {
        .service-history {
            margin-bottom:80px;
            mark {
                background-color: transparent;
            }
            .item {
                border: 1px solid #ddd;
                border-radius: 8px;
            }
            &-title {
                font-size: 18px;
                font-weight: bold;
                line-height: 1.56;
                color: #222;
                display: block;
                margin-bottom: 24px;
            }
            &-list {
                margin-top: 16px;
                display: flex;
                &:first-child {
                    margin-top: 0;
                }
                dt {
                    color: #767676;
                    max-width: 112px;
                    width: 100%;
                }
                dd {
                    flex: 1;
                    ul {
                        text-align: right;
                        li {
                            display: inline-block;
                            position: relative;
                            margin-left: 8px;
                            padding-left: 9px;
                            &::before {
                                content: '';
                                display: block;
                                width: 1px;
                                height: 10px;
                                background-color: #ddd;
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                            &:first-child {
                                margin-left: 0;
                                padding-left: 0;
                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            @include pc {
                font-size: 16px;
                display: flex;
                .item {
                    padding: 24px;
                    margin-left: 24px;
                    flex: 1;
                    &:first-child {
                        margin-left: 0;
                    }
                }
                &-list {
                    dd {
                        margin-left: 30px;
                    }
                }
            }
            @include mobile {
                font-size: 14px;
                display: block;
                margin-bottom:60px;
                .item {
                    padding: 20px;
                    margin-top: 12px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                &-title {
                    font-size: 15px;
                    margin-bottom: 12px;
                }
                &-list {
                    margin-top: 12px;
                }
            }
        }
    }

    /* 예약 완료 */
    &.service-status-detail {
        .result-header {
            max-width:1460px;
            margin:0 auto 16px;
            padding:0 40px;
            .tit{
                @include font-large-2;
            }
        }
        .result-btn-group {
            border-bottom:1px solid #ddd;
            background-color:#fff;
            .group-box {
                max-width:1460px;
                margin:0 auto;
                padding:24px 40px;
                font-size:0;
                text-align:right;
                .btn {
                    margin-left:8px;
                }
            }
        }
        .result-progress {
            max-width:1380px + 80px;
            margin:0 auto;
            padding:64px 40px 0;
            &:first-child {
                padding-top:0;
            }
            .desc{
                margin-bottom:24px;
                @include font-medium;
                font-weight:700;
            }
            .progress-box {
                position:relative;
                &:after {
                    content:'';
                    position:absolute;
                    left:0%;
                    top:6px;
                    width:100%;
                    height:12px;
                    background:#f4f4f4;
                }
                .progressing {
                    position:absolute;
                    z-index:1;
                    left:0%;
                    top:6px;
                    width:0;
                    height:12px;
                    border-radius:16px;
                    background:#ec455a;
                }
                .progressbar {
                    display:flex;
                    justify-content:space-between;
                    padding-bottom:30px;
                    li {
                        position:relative;
                        text-align:center;
                        &:before {
                            content: '';
                            display:inline-block;
                            width:24px;
                            height:24px;
                            background-color:#aaa;
                            border-radius: 50%;
                            position: relative;
                            z-index:2;
                        }
                        .text {
                            display:none;
                            position:absolute;
                            left:50%;
                            bottom:-30px;
                            white-space:nowrap;
                            transform:translateX(-50%);
                            @include font-medium;
                        }
                        &:first-child .text {
                            left:0;
                            transform:translateX(0);
                        }
                        &:last-child .text {
                            right:0;
                            transform:translateX(0);
                        }
                        &.on {
                            &:before{
                                background-color:#fff;
                                border:1px solid #ddd;
                                box-shadow:2px 4px 8px 0 rgba(0, 0, 0, 0.14);
                            }
                        }
                        &.current {
                            .text {
                                display:block;
                            }
                        }
                    }
                }
            }
        }
        @include mobile{
            .result-header {
                padding:0 16px;
            }
            .result-btn-group {
                padding:24px 16px;
                .group-box {
                    padding:0;
                    margin:-12px -8px 0;
                    .btn{
                        width:calc(50% - 16px);
                        margin:12px 8px 0;
                    }
                }
            }

            .result-progress {
                padding:60px 16px;
                .progress-box {
                    &:after {
                        height:8px;
                    }
                    .progressing {
                        height:8px;
                    }
                    .progressbar {
                        padding-bottom:28px;
                        li {
                            &:before {
                                width:20px;
                                height:20px;
                            }
                            .text {
                                bottom:-28px;
                            }
                        }
                    }
                }
            }
        }

        .survey-banner-wrap {
            display:none;
            margin:0 auto 16px;
            .banner {
                display:flex;
                align-items:center;
                justify-content:space-between;
                padding:28px 48px;
                border-radius:8px;
                background:#f4f4f4;
                p {
                    position:relative;
                    padding:0 20px 0 64px;
                    @include font-medium;
                    font-weight:700;
                    &:before {
                        content:'';   
                        position:absolute;
                        left:0;
                        top:50%;
                        width:48px;
                        height:48px;
                        transform:translate(0, -50%);
                        background:url("/lg5-common/images/icons/icon-12-80.svg") no-repeat;
                        background-size:48px 48px;
                    }
                    .model {
                        color:#ec455a;
                    }
                }
                button {
                    min-width:84px;
                }
            }
            @include mobile {
                display:block;
                padding:0 16px;
                margin-bottom:37px;
                .banner {
                    display:block;
                    padding:16px 24px;
                    text-align:center;
                    p {
                        padding:56px 0 16px;
                        &:before {
                            top:0;
                            left:50%;
                            transform:translate(-50%, 0);
                        }
                    }
                }
            }
        }
    }
}

@import "../../support/pages/payNwarranty";