@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.support {
    .complete-summary {
        background-image: linear-gradient(90deg, #8d71ec, #f75584);
        .box {
            max-width:1380px + 80px;
            margin:0 auto;
            padding:24px 40px;
            font-size:0;
            display: flex;
            align-items: center;
            position: relative;
        }
        .summary-img {
            display:inline-block;
            width:120px;
            vertical-align:middle;
            margin-right:48px;
            img {
                max-width:100%;
                width:100%;
            }
            &.type-icon {
                width:80px;
            }
        }
        .summary-info {
            display:inline-block;
            vertical-align:middle;
            .info {
                color:#fff;
                font-weight:700;
                font-size:18px;
                line-height:28px;
                span + span {
                    position:relative;
                    margin-left:12px;
                    padding-left:13px;
                    &:before {
                        content:'';
                        position:absolute;
                        left:0;
                        top:7px;
                        width:1px;
                        height:14px;
                        background:#fff;    
                    }
                }
            }
            .status {
                margin-top:16px;
                color:#fff;
                font-size:16px;
                line-height:26px;
                > span {
                    color:#fffd7c;
                }
            }
        }
        .btn-center-link {
            border-color: #fff !important;
            color: #fff;
            margin-left: auto;
        }
        @include pc {
            .btn-center-link {
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        @include mobile {
            .box {
                padding:16px;
            }
            .btn-center-link {
                margin-top: 16px;
            }
            .summary-img {
                max-width:80px;
                margin-right: 0;
                img {
                    width:100%;
                }
            }
            .summary-info {
                flex: 1;
                padding-left:16px;
                .info {
                    font-size:14px;
                    line-height:22px;
                    span {
                        display:block;
                        & + span {
                            margin:2px 0 0 0;
                            padding:0;
                            &:before {
                                content:none;
                            }
                        }
                    }
                }
                .status {
                    margin-top:8px;
                    font-size:13px;
                    line-height:21px;
                }
            }
        }
    }

    .engineer-to-visit {
        @include clearfix;
        .engineer-profile {
            float:left;
            width: 194px;
            .engineer-img {
                width: 160px;
                height: 0;
                padding-top: 100%;
                position: relative;
                overflow: hidden;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .engineer-info {
                margin-top:8px;
                .name {
                    @include font-small;
                    font-weight:700;
                }
                .center {
                    @include font-small;
                }
            }
        }
        .engineer-desc {
            float:left;
            /* BTOCSITE-7660 고객지원 - 출장/내방/예약변경 시 SE 사진 비노출 요청 */
            //width:calc(100% - 194px);
            width: 100%;
            /* //BTOCSITE-7660 고객지원 - 출장/내방/예약변경 시 SE 사진 비노출 요청 */
            .txt {
                @include font-medium;
                span {
                    font-weight:bold;
                }
            }
            .btn-wrap {
                margin-top:24px;
            }
        }
        @include mobile {
            .engineer-profile {
                width:104px;
                .engineer-img {
                    width:104px;
                    height:104px;
                }
            }
            .engineer-desc {
                float:left;
                // width:calc(100% - 104px);
                width: 100%;
                padding-left:24px;
                .btn-wrap {
                    margin-top:16px;
                }
            }
        }
    }

    .btm-form-toolbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top:12px;

        .bullet-list {
            margin-top:0;
        }

        .btn-link {
            font-size:14px;
        }

        @include tablet {
            flex-direction: column;
            align-items: flex-start;

            .btn-link {
                margin-top:10px;
            }
        }
    }

    /* page */
    /* 출장 예약 */
    &.service-engineer {
        .btm-more.both {
            margin-top:0;
            & > * {
                margin-top:8px;
            }
        }
    }

    /* 이메일 문의 */
    &.email-inquiry {
        .inquiry-sections{
            display:flex;
            justify-content:space-between;
            .section{
                width:calc((100% - 48px) / 3);
                @include pc {
                    margin:0;
                }
                .tit-wrap{
                    margin-bottom:16px;
                }
                .desc-wrap{
                    .desc-txt{
                        margin-bottom:8px;
                        line-height:1.4;
                    }
                    .desc-btn{
                        display:flex;
                        flex-flow:wrap;
                        margin:-12px 0 0 -8px;
                        & + .desc-txt {
                            margin-top:16px;
                        }
                        .btn{
                            margin:12px 0 0 8px;
                            min-width:auto;
                            padding:8px 14px;
                            &.white{
                                background:#fff;
                                border:1px solid #ddd;
                                border-radius:16px;
                                padding: 8px 16px;
                                color:#000;
                                font-weight:normal;
                            }
                            &.out-link{
                                &::after{
                                    content:'';
                                    display:inline-block;
                                    margin-left:3px;
                                    margin-top:3px;
                                    width:16px;
                                    height:16px;
                                    background:url("/lg5-common/images/icons/icon-outlink-16-1.svg") center no-repeat;
                                    vertical-align: top;
                                }
                            }

                            span {
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }
        @include mobile {
            .inquiry-sections{
                display:block;
                margin:0;
                .section{
                    width:100%;
                    .tit-wrap{
                        margin-bottom:16px;
                    }
                    .desc-wrap{
                        .desc-btn {
                            margin:-8px 0 0 -8px;
                            & + .desc-txt {
                                margin-top:30px;
                            }
                            .btn {
                                margin:16px 0 0 8px;
                            }
                        }
                    }
                    &:first-child {
                        padding-top: 32px;
                    }
                }
            }
        }
    }

    /* 전화상담 예약 */
    &.request-call {

    }
    
    /* 영상상담 예약 */ 
    &.video-consulting {

    }

    /* 센터방문 예약 */
    &.visit-center {
        .center-info-wrap {
            margin-bottom:40px;
            padding:32px 40px;
            border-radius:8px;
            background: #f4f4f4;
            .tit {
                display:block;
                margin-bottom:16px;
                @include font-medium;
            }
            .info-list {
                @include clearfix;
                li {
                    float:left;
                    font-size:0;
                    & + li {
                        position:relative;
                        margin-left:23px;
                        padding-left:24px;
                        &:before {
                            content:'';
                            position:absolute;
                            left:0;
                            top:5px;
                            width:1px;
                            height:16px;
                            background-color:#ddd;
                        }
                    }
                }
                .key, .value {
                    display:inline-block;
                    @include font-medium;
                    vertical-align:middle;
                }
                .key {
                    margin-right:4px;
                    color:#767676;
                }
            }
            .bullet-list {
                &.top-border {
                    margin-top:16px;
                    padding-top:12px;
                }
                .b-txt {
                    font-weight:normal;
                }
            }
            @include mobile {
                margin-bottom:40px;
                padding:20px 16px;
                .tit {
                    margin-bottom:20px;
                }
                .info-list {
                    li {
                        float:none;
                        & + li {
                            margin:12px 0 0 0;
                            padding-left:0;
                            &:before {
                                content:none;
                            }
                        }
                    }
                }
                .bullet-list {
                    &.top-border {
                        margin-top:12px;
                    }
                }
            }
        }
        .center-result-wrap {
            margin-top:64px;
            .title {
                margin-bottom:16px;
                @include font-large;
                font-weight:$font-weight-bold;
            }
            .tb_row {
                .col01 {width:90px;}
                .col02 {width:auto;}
                .col03 {width:115px;}
                .info {
                    text-align:left;
                    .name {
                        margin-bottom:4px;
                        font-weight:500;
                        @include font-medium;
                    }
                    .address {
                        color: #666;
                        @include font-small;
                    }
                }
                .btn-center.active {
                    color:$color-white;
                    border-color:#da0f47 !important;
                    background:#da0f47;
                }
                .btn-detail {
                    display:inline-block;
                    width:32px;
                    height:32px;
                    //background:url(/lg5-common/images/icons/icon_popup-window.svg) no-repeat;
                    background:url(/kr/support/images/icon/icon_popup-window.svg) no-repeat;
                    background-size:32px 32px;
                }
            }
            .no-data {
                padding-bottom:32px;
                border-bottom:none;
            }
            @include mobile {
                margin-top:40px;

                .tb_row {
                    .col01 {width:53px;}
                    .col02 {width:auto;}
                    .col03 {width:75px;}

                    table {
                        thead {
                            th {
                                font-size:13px;
                            }
                        }
                    }


                }
            }
        }
        .tabs-wrap {
            margin-bottom:48px;
        }
        .tabs-contents {
            &#tab-3 {
                .select-wrap ,
                .keyword-search {
                    flex:1;
                }
            }
        }
        // 주소 선택
        .adress-input-box {
            display: flex;
            .cell {
                margin-left: 8px;
                margin-top: 0;
                &:first-child {
                    margin-left: 0;
                }
            }
            .display-flex {
                display: flex;
                .ui-selectbox-wrap {
                    flex: 1;
                }
                .btn {
                    margin-left: 8px;
                }
            }
            .keyword-search {
                margin-left:8px;
            }
            @include pc {
                .search-current {
                    display:none;
                }
            }
            @include mobile {
                display: block;
                .cell {
                    margin-left: 0;
                    margin-top: 6px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                .btn-cell {
                    .btn {
                        width:calc(50% - 3px);
                        & + .btn {
                            margin-left:6px;
                        }
                        &:only-child {
                            width:100%;
                        }
                    }
                }
                .keyword-search {
                    margin:8px 0 0;
                }
            }
        }
    }
    
    /* 예약 다건 결과 */
    &.service-status-list {
        .service-history {
            display: flex;
            margin-bottom:80px;
            mark {
                background-color: transparent;
            }
            .item {
                margin-left:24px;
                border:1px solid #ddd;
                border-radius:8px;
            }
            &-title {
                display:block;
                margin-bottom:24px;
                line-height:34px;
                font-size:24px;
                font-weight:$font-weight-bold;
            }
            &-list {
                display:flex;            
                & + .service-history-list {
                    margin-top:20px;
                }
                dt {
                    max-width:115px;
                    width:100%;
                    @include font-medium;
                    font-weight:$font-weight-bold;
                }
                dd {
                    flex:1;
                    ul {
                        text-align:right;
                        li {
                            display:inline-block;
                            position:relative;
                            margin-left:6px;
                            padding-left:7px;
                            @include font-medium;
                            &::before {
                                content: '';
                                display:block;
                                position: absolute;
                                left:0;
                                top:50%;
                                width:1px;
                                height:10px;
                                background-color:#ddd;
                                transform:translateY(-50%);
                            }
                            &:first-child {
                                margin-left: 0;
                                padding-left: 0;
                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            @include pc {
                .item {
                    flex:1;
                    padding:24px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            @media screen and (max-width: 1240px) {
            // @include tablet {
                flex-direction: column;
                .item {
                    margin-left:0;
                    margin-top: 12px;
                }
            }
            @include mobile {
                display:block;
                margin-bottom:60px;
                .item {
                    padding:20px;
                    &:first-child {
                        margin-top:0;
                    }
                }
                &-title {
                    line-height:26px;
                    font-size:18px;
                }
                &-list {
                    dt {
                        max-width:100px;
                    }
                }
            }
            @media screen and (max-width: 370px) {
                &-list {
                    display:block;
                    dd {
                        margin-top:8px;
                        ul {
                            text-align:left;
                        }
                    }
                }
            }
        }
    }

    /* 예약 완료 */
    &.service-status-detail {
        .result-header {
            max-width:1460px;
            margin:0 auto 16px;
            padding:0 40px;
            .tit{
                @include font-large-2;
            }
        }

        .result-btn-group {
            background-color: #f4f4f4;
            &.fixed {
                box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.1);
            }
            .group-box {
                max-width:1380px + 80px;
                margin:0 auto;
                padding:16px 40px;
                font-size:0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                &-title {
                    font-size: 16px;
                    font-weight: bold;
                }
                &-btngroup {
                    .btn {
                        margin-left: 8px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .survey-banner-wrap {
            display:none;
            margin:0 auto 16px;
            .banner {
                display:flex;
                align-items:center;
                justify-content:space-between;
                padding:28px 48px;
                border-radius:8px;
                background:#f4f4f4;
                p {
                    position:relative;
                    padding:0 20px 0 64px;
                    @include font-medium;
                    font-weight:700;
                    &:before {
                        content:'';   
                        position:absolute;
                        left:0;
                        top:50%;
                        width:48px;
                        height:48px;
                        transform:translate(0, -50%);
                        background:url("/lg5-common/images/icons/icon-12-80.svg") no-repeat center;
                        background-size:48px 48px;
                    }
                    .model {
                        color:#ec455a;
                    }
                }
                button {
                    min-width:84px;
                }
            }
            @include mobile {
                display:block;
                padding:0 16px;
                margin-bottom:40px;
                .banner {
                    display:block;
                    padding:24px;
                    text-align:center;
                    p {
                        padding:76px 0 24px;
                        &:before {
                            width: 64px;
                            height: 64px;
                            background-size: 100%;
                            top:0;
                            left:50%;
                            transform:translate(-50%, 0);
                        }
                    }
                }
            }
        }

        .patch-note {
            .btn-link {
                font-size: 14px;
            }
            @include pc {
                margin-top: 48px;
                .btn-link {
                    margin-left: 16px;
                }
            }
            @include mobile {
                margin-top: 40px;
                .bullet-text {
                    margin-top: 12px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                .btn-link {
                    margin-top: 12px;
                }
            }
        }
        @include tablet {
            .result-btn-group {
                .group-box {
                    padding: 24px 0;
                    text-align:center;
                    flex-direction: column;
                    &-title {
                        font-size: 14px;
                        margin-bottom: 16px;
                        line-height: 1.57;
                    }
                    &-btngroup {
                        .btn {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
        @include mobile{
            .result-header {
                padding:0 16px;
            }
        }
    }

    .service-status-agree {
        margin-bottom: 40px;
        .input-info {
            margin-top: 0;
        }
    }
}

#reservationTimePopup, 
#choiceEngineerPopup {
    .step-engineer {
        display:none;
        margin-top:20px;

        &.active {
            display:block;
        }
    }

    .toggle-layer {
        display:none;
        margin-top:24px;
        margin-bottom:40px;
        padding:24px 32px 64px;
        border:1px solid #ddd;
        border-radius:8px;
        box-sizing:border-box;

        .layer-tit {
            margin-bottom:48px;
            position: relative;

            .tit {
                font-size:20px;
                font-weight:bold;
                padding-bottom:12px;
                color:#000;
                border-bottom:1px solid #ddd;
            }
            .sub-tit {
                margin-top:8px;
                font-size:16px;
                color:#000;
            }
            .btn-layer-close {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 16px;
                color: #000000;
                text-decoration: underline;
            }
        }
    }

    .engineer-pop {
        overflow-x:hidden;

        /* BTOCSITE-7660 고객지원 - 출장/내방/예약변경 시 SE 사진 비노출 요청 */
        .engineer-info {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
            li {
                width: 33%;
                margin-bottom: 15px;
                @include mobile {
                    width: 100%;
                }
                span {
                    position: relative;
                    &:first-child {
                        position: relative;
                    }
                    &:last-child {
                        font-size: 12px;
                        margin-left: 5px;
                        color: #585858;
                    }
                }
            }
        }
        /* //BTOCSITE-7660 고객지원 - 출장/내방/예약변경 시 SE 사진 비노출 요청 */
    }

    .engineer-slider {
        .slide-controls {
            button {
                &.prev {
                    left:-24px;
                }
                &.next {
                    right:-24px;
                }
            }
        }
        .indi-wrap {
            position:absolute;
            bottom:0;
            width:100%;
        }
        .slide-content {
            margin:-12px -12px 0;
            padding:0 0 12px;
        }
        .slide-track {
            @include clearfix;
        }
        .slide-conts {
            float:left;
            width:25%;
            padding:12px 12px 32px;
            
        }
        .engineer-box {
            border-radius:8px;
            box-shadow:2px 4px 16px 0 rgba(0, 0, 0, 0.14);
            label {
                display:block;
                position:relative;
                padding:32px 24px;
                box-sizing:border-box;
                text-align:center;
                cursor:pointer;
                .img {
                    width: 100%;
                    height: 0;
                    margin-bottom: 24px;
                    padding-top: 100%;
                    position: relative;
                    overflow: hidden;
                    img {
                        max-width:100%;
                        max-height: 100%;
                        width: auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .tit {
                    @include font-large;
                    font-weight:700;
                }
                .desc {
                    margin-top:4px;
                    @include font-small;
                }
            }
            input {
                @include blind;
                &:checked + label:before {
                    content:'';
                    position:absolute;
                    left:0;
                    top:0;
                    width:100%;
                    height:100%;
                    border-radius:8px;
                    border:2px solid #EC455A;
                }
            }
        }
    }

    @include pc {
        #authNo {
            max-width: 350px;
        }
    }

    @include mobile {
        .toggle-layer {
            padding:20px 16px 60px;
        }

        .engineer-slider {
            .slide-conts {
                width:calc((100vw - 16px) / 3 * 2);
                padding:0 8px 24px;
            }
            .engineer-box {
                .label {
                    padding:24px;

                    .img {
                        margin-bottom:24px;
                    }
                    .tit {
                        font-size:14px;
                    }
                    .desc {
                        margin-top:4px;
                        font-size:14px;
                    }
                }
            }
        }
    }
}
    
#solutionsPopup {
    .video-box {
        height: 240px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    @include mobile {
        .video-box {
            height: auto;
            margin-top: 0;
            margin-bottom: 12px;
            .column {
                + .column {
                    height: 300px;
                }
            }
        }
    }
}

// 예약 결과 조회/변경 > 예약 일시 변경 (다른 엔지니어 선택)
#reservationTimePopup {
    &.popup-wrap {
        .pop-conts {
            .section {
                margin-top: 40px;
                &:first-of-type {
                    margin-top: 0;
                }
                .form-infos {
                    margin-bottom: 48px;
                }
                .tit-wrap {
                    margin-bottom: 24px;

                    .tit {
                        font-size:24px;
                        line-height:1.63;
                    }
                }
                .bullet-list {
                    &.top-border {
                        margin-top: 10px;
                        padding-top: 10px
                    }
                }
            }
        }

        @include mobile {
            .pop-conts {
                .section {
                    .form-infos {
                        margin-bottom:32px;
                    }
                    .tit-wrap {
                        margin-bottom:12px;
                        .tit {
                            font-size:16px;
                        }
                    }

                }
            }
        }
    }
    .calendar-area {
        margin-bottom: 40px;
        .calendar-info {
            width: 178px;
        }
    }


    /* BTOCSITE-7660 고객지원 - 출장/내방/예약변경 시 SE 사진 비노출 요청 */
    .engineer-info {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        li {
            width: 33%;
            margin-bottom: 15px;
            @include mobile {
                width: 100%;
            }
            span {
                position: relative;
                &:first-child {
                    position: relative;
                }
                &:last-child {
                    font-size: 12px;
                    margin-left: 5px;
                    color: #585858;
                }
            }
        }
    }
    /* //BTOCSITE-7660 고객지원 - 출장/내방/예약변경 시 SE 사진 비노출 요청 */
}
/* BTOCSITE-5594 */
.cont-wrap.busi-trip{
    .inquiry-list{
        .description{
            .line{
                display:inline-block;
                margin:0 10px 0 0;
            }
            .btn{
                display:inline-block;
                margin:0;
                top:-2px;
                @include mobile{
                    display:block;
                    margin-top:10px;
                }
            }
        }
    }
    .result-progress{
        margin-top:-18px;
        padding:0;
        .desc{
            margin-bottom:55px;
            @include mobile{
                margin-bottom:11px;
            }
        }
    }
    .result-btn-group{
        margin-top:56px;
        background:none;
        .group-box{
            max-width:568px;
            padding:0;
            text-align:center;
            .group-box-btngroup{
                margin-left:-14px;
                width:100%;
                .btn{
                    margin:24px 0 0 14px;
                    padding:0 5px;
                    height:46px;
                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
                        width:calc(33.33% - 14px);
                    }
                    &:nth-of-type(4), &:nth-of-type(5){
                        width:calc(50% - 14px);
                    }
                }
            }
        }
        @include mobile{
            margin-top:32px;
            .group-box{
                .group-box-btngroup{
                    margin-left:-13px;
                    .btn{
                        margin:13px 0 0 13px;
                        min-width:auto;
                        max-width:150px;
                        height:44px;
                        font-size:12px;
                        line-height:15px;
                        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
                            width:calc(33.33% - 13px);
                        }
                        &:nth-of-type(4), &:nth-of-type(5){
                            width:calc(50% - 13px);
                        }
                    }
                }
            }
        }
    }
    @include pc{
        .only-mobile{
            display:none;
        }
    }
}
/* //BTOCSITE-5594 */

[data-product-only] {display: none;}

@import "../../support/pages/payNwarranty";