@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.support {
    .login-wrap {
        background:#ddd;
        .inner {
            max-width:1146px;
            margin:0 auto;
            padding:16px 40px;
            @include clearfix;
        }
        .text {
            float:left;
            font-size:16px;
            line-height:24px;
        }
        .btn-link {
            float:right;
            font-size:14px;
            font-weight:400;
            line-height:24px;
        }
        @include mobile {
            .inner {
                padding:20px;
            }
            .text {
                float:none;
                margin-bottom:12px;
                font-size:14px;
                line-height:20px;
            }
        }
    }
    .process-wrap {
        max-width:1146px;
        margin:0 auto;
        .process-list {
            background:#fff;
            > li {
                background-repeat: no-repeat;
                & + li {
                    position:relative;
                    &:before {
                        content: '';
                        position: absolute;
                        background: url(/lg5-common/images/icons/icon-btn-arrow-right2.svg) no-repeat center;
                        background-size: 100%;
                    }
                }
                &:nth-child(1) {
                    background-image: url(/lg5-common/images/icons/icon-process-list1.svg);
                }
                &:nth-child(2) {
                    background-image: url(/lg5-common/images/icons/icon-process-list2.svg);
                }
                &:nth-child(3) {
                    background-image: url(/lg5-common/images/icons/icon-process-list3.svg);
                }
                &:nth-child(4) {
                    background-image: url(/lg5-common/images/icons/icon-process-list4.svg);
                }
            }
        }
        .num {
            display:block;
            font-size:14px;
            margin-bottom:8px;
        }
        .tit {
            display:block;
            font-size:16px;
            font-weight:700;
            line-height:24px;
            word-break:keep-all;
        }
        &.email-inquiry-process {
            margin-top: 48px;
        }

        @include pc {
            padding:0 40px;
            .process-list {
                display:table;
                padding:28px 0 20px;
                border-radius:100px;
                @include clearfix;
                > li {
                    display:table-cell;
                    width:25%;
                    padding:80px 50px 0;
                    text-align:center;
                    background-size: 64px;
                    background-position: center top;
                    + li {
                        &:before {
                            left: -12px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
        @include mobile {
            text-align:center;
            background:#fff;
            .process-list {
                display:inline-block;
                padding:20px 40px;
                text-align:left;
                > li {
                    padding:0 0 0 60px;
                    background-size: 40px;
                    background-position: left center;
                    + li {
                        margin-top: 40px;
                        &::before {
                            width: 24px;
                            height: 24px;
                            transform: rotate(90deg);
                            left: calc(50% - 12px);
                            top: -24px;
                        }
                    }
                }
            }
        }
    }
    .agree-box {
        .scrollview-wrap {
            margin-top:16px;
            .ui_content {
                p, strong {
                    font-size:14px;
                    line-height:20px;
                }
                p {
                    color:#808080;
                }
                strong {
                    display:block;
                    color:#222;
                    font-weight:400;
                }
            }
        }
    }



    .status-bar {
        background:#212121;
        height:80px;
        &-inner {
            max-width:1364px;
            margin:0 auto;
            padding:32px 40px;
            @include clearfix;
        }
        @include mobile {
            height:52px;
            &-inner {
                position:relative;
                padding:16px 24px;   
            }
        }
        .status {
            float:left;
            &-title {
                float:left;
                color:#ddd;
            }
            &-list {
                float:left;
                margin-left:14px;
                li {
                    position:relative;
                    float:left;
                    color:#ddd;
                    & + li {
                        margin-left:7px;
                        padding-left:13px;
                        &:before {
                            content:'';
                            position:absolute;
                            left:-4px;
                            top:50%;
                            width:8px;
                            height:8px;
                            border-top:1px solid #ddd;
                            border-right:1px solid #ddd;
                            transform:translateY(-50%) rotate(45deg);
                        }
                    }
                }
            }
            @include mobile {
                float:none;
                @include clearfix;
                &-title {
                    float:left;
                    color:#fff;
                    font-size:12px;
                    line-height:20px;
                }
                &-list {
                    float:right;
                    li {
                        color:#fff;
                        font-size:12px;
                        font-weight:700;
                        line-height:20px;
                    }
                }
            }
        }
        .guide {
            float:right;
            &-link {
                float:left;
                & + .guide-link {
                    margin-left:24px;
                }
            }
            a {
                font-size:18px;
                color:#fff;
            }
            @include mobile {
                position:absolute;
                left:0;
                top:100%;
                float:none;
                width:100%;
                background:#ddd;
                @include clearfix;
                &-link {
                    width:50%;
                    padding:11px 0;
                    text-align:center;
                    & + .guide-link {
                        margin:0;
                    }
                    a {
                        color:#616161;
                        font-size:12px;
                        font-weight:700;
                        line-height:18px;
                    }
                }
            }
        }
    }
    .engineer {
        &-profile {
            @include clearfix;
            display: flex;
            align-items: center;
        }
        &-img {
            width: 140px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url(/lg5-common/images/support/default-engineer.jpg) no-repeat center;
            background-size: 100%;
            float: left;
            img {
                max-width: 100%;
            }
        }
        &-desc {
            float: left;
            flex: 1;
            font-size: 20px;
            line-height: 1.5;
            text-align: center;
            max-width: 710px;
            margin-left: 80px;
            height: 100%;
        }
        &-btn-group {
            margin-top: 28px;
        }
        &-profile {
            &.type-A {
                border-radius: 8px;
                box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
                padding: 32px;
                .engineer-img {
                    width: 180px;
                    height: 180px;
                }
                .engineer-desc {
                    text-align: left;
                    margin-left: 32px;
                    .test {
                        font-size: 16px;
                    }
                }
            }
        }
        &-to-visit {
            @include clearfix;
            .part1 {
                float: left;
                max-width: calc(100% - 396px);
            }
            .part2 {
                float: right;
                max-width: 396px;
                width: 100%;
            }
            .select-engineer {
                padding: 0;
            }
        }
        @include pc {
            &-to-visit {
                .part1 {
                    padding-right: 50px;
                }
            }
        }
        @include mobile {
            &-img {
                width: 90px;
                height: 90px;
            }
            &-desc {
                margin-left: 20px;
                font-size: 14px;
                text-align: left;
                flex: 1;
            }
            &-btn-group {
                margin-top: 16px;
            }
            &-profile {
                &.type-A {
                    border-radius: 4px;
                    box-shadow: 4px 8px 24px 0 rgba(0, 0, 0, 0.15);
                    padding: 20px 28px;
                    .engineer-img {
                        width: 120px;
                        height: 120px;
                    }
                    .engineer-desc {
                        text-align: left;
                        margin-left: 28px;
                        strong {
                            font-size: 16px;
                        }
                        .test {
                            font-size: 14px;
                        }
                    }
                }
            }
            &-to-visit {
                .part1,
                .part2 {
                    float: none;
                    max-width: 100%;
                }
                .part1 {
                }
                .part2 {
                    margin-top: 40px;
                    width: 100%;
                }
                .select-engineer {
                    margin-top: 40px;
                }
            }
        }
    }
    .solution-btn-box {
        margin-top: 32px;
    }
    .reservation-title {
        text-align: center;
        &::before {
            content: '';
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto 24px;
            background-color: #000;
        }
        h3 {
            font-size: 24px;
            font-weight: normal;
            line-height: 1.42;
        }
        p {
            font-size: 16px;
            line-height: 1.38;
            margin-top: 16px;
        }
        [class^="btn"] {
            margin-top: 30px;
        }
        @include mobile {
            &::before {
                width: 60px;
                height: 60px;
            }
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .reservation-confirm {
        @include clearfix;
        max-width: 1066px;
        padding: 34px 56px;
        margin: 40px auto 0;
        background-color: #fff;
        .result-text {
            float: left;
            max-width: 650px;
        }
        .btn-group {
            float: right;
            margin: 0;
            padding: 0;
        }

        @include mobile {
            padding: 0;
            margin-top: 12px;
            .result-text,
            .btn-group {
                float: none;
            }
            .result-text {
                padding: 40px 20px;
            }
        }
    }
    .field-title {
        @include clearfix;

        .tit {
            float: left;
        }
        .chk-wrap {
            float: right;
            &.float-left {
                float: left;
            }
        }
    }

    .form-wrap {
        .forms {
            .conts {
                .input-box {
                    &.size2 {
                        .input-wrap {
                            margin-top: 8px;
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
        @include mobile {
            .forms {
                .conts {
                    .input-box {
                        &.size2 {
                            .input-wrap {
                                &:nth-child(2) {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .result-text {
        color:#222;
        font-size:16px;
        line-height:24px;
        strong {
            font-weight:700;
        }
    }
    .engineer-carousel {
        &-list {
            padding-bottom:24px;
            overflow:hidden;
        }
        &-track {
            margin:0 -7px;
        }
        &-slide {
            float:left;
            padding:0 7px;
        }
        .engineer-box {
            input {
                position:absolute;
                overflow:hidden;
                width:1px;
                height:1px;
                margin:-1px;
                padding:0;
                border:none;
                clip:rect(0,0,0,0);
                & + label {
                    display:block;
                    padding:24px 24px 35px;
                    text-align:center;
                    border:1px solid #ddd;
                    border-radius:8px;
                    cursor:pointer;
                    -webkit-user-select:none;
                    -moz-user-select:none;
                    -ms-user-select:none;
                    .engineer-image {
                        position:relative;
                        height:0;
                        margin-bottom:20px;
                        padding-bottom:100%;
                        img {
                            position:absolute;
                            left:50%;
                            top:50%;
                            max-width:100%;
                            transform:translate(-50%, -50%);
                        }
                    }
                    .tit {
                        margin-bottom:7px;
                        color:#222;
                        font-size:16px;
                    }
                    .desc {
                        color:#616161;
                        font-size:14px;
                    }
                }
                &:checked + label {
                    box-shadow: 2px 3.5px 8px 0 rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
    .thumnail-check {
        margin:-32px -7px 0;
        @include clearfix;
        .item {
            float:left;
            width:25%;
            padding:32px 7px 0;
            &.block {
                width:100%;
                .input-wrap {
                    margin-top:12px;
                } 
            }
        }
        .rdo-wrap {
            .rdo-image {
                display:block;
                overflow:hidden;
                width:100%;
                margin-bottom:12px;
                border-radius:4px;
                img {
                    width:100%;
                    height:auto;
                }
            }
        }
        @include mobile {
            margin:-16px -6px 0;
            .item {
                width: 50%;
            }
            .rdo-wrap {
                width:100%;
                padding:0;
                font-size: 18px;
            }
        }
    }
    .problem-solve {
        margin-top: 32px;
    }
    
    .divisions {
        [class*="col-"] {
            .field-wrap {
                min-height: 288px;
            }
        }
        @include mobile {
            [class*="col-"] {
                .field-wrap {
                    min-height: auto;
                }
            }   
        }
    }
}

@import "../../support/pages/CSTF8800";