@charset "UTF-8";

@import "mCustomScrollbar";
@import "../../utilities/variables";
@import "../../utilities/mixins";
@import "../../layout/grid";

@import "../../support/page-visual";
@import "../../support/layout";
@import "../../support/board-list";
@import "../../support/board-view";
@import "../../support/form-field";
@import "../../support/modal";
@import "../../support/table";
@import "../../support/sns";
@import "../../support/top-bar";
@import "../../support/process";
@import "../../support/banner";


/* 삭제 예정 */
.dummy {
    background-color:rgba(255, 70, 70, 0.2);
    font-size:28.5px;
    font-weight:bold;
    line-height:1.37;
    color:#ffffff;
    text-align:center;
    p {
        font-size:20px;
        color:#fff;
        line-height:30px;
        & + p {
            border-top:1px solid #fff;
        }
    }
}
.err-msg {
    display:none;
}
/* //삭제 예정 */

.support {
    background:#f4f4f4;

    /* text list */
    .dot-list {
        &.top-border {
            border-top:1px solid #ddd;
            margin-top:40px;
            padding-top:24px;
        }
        li {
            position:relative;
            margin-top:4px;
            padding-left:8px;
            font-size:14px;
            color:#616161;
            line-height:20px;
            &:first-child {
                margin-top:0;
            }
            &:before {
                content:'';
                position:absolute;
                left:0;
                top:10px;
                width:2px;
                height:2px;
                border-radius:50%;
                background-color:#616161;
            }
            @include mobile {
                padding-left:8px;
                font-size:12px;
                line-height:18px;
            }
        }
        [class^="btn-"] {
            font-size: inherit;
            margin-left: 15px;
        }
    }
        
    .dot-list02 {
        li {
            position:relative;
            margin-top:6px;
            padding-left:12px;
            font-size:16px;
            color:#222;
            line-height:1.5;
            &:first-child {
                margin-top:0;
            }
            &:before {
                content:'';
                position:absolute;
                left:0;
                top:11px;
                width:4px;
                height:4px;
                border-radius:50%;
                background-color:#616161;
            }
            @include mobile {
                padding-left:10px;
                font-size:12px;
                line-height:18px;
                margin-top: 10px;
                &:before {
                    top:8px;
                }
    
            }
        }
    }

    .dot-list03 {
        border-top: 1px solid #ddd;
        margin-top: 43px;
        padding-top: 27px;
        &.no-border {
            margin-top: 12px;
            padding-top: 0;
            border: none;
        }
        li {
            position:relative;
            padding-left:8px;
            font-size:14px;
            color:#515151;
            line-height:1.43;
            &:before {
                content:'';
                position:absolute;
                left:0;
                top:10px;
                width:2px;
                height:2px;
                border-radius:50%;
                background-color:#808080;
            }
            @include mobile {
                padding-left:10px;
                font-size:14px;
                line-height:1.57;
                & + li {
                    margin-top:8px;
                }
            }
        }
        @include mobile {
            margin-top: 40px;
            padding-top: 22px;
            &.no-border {
                margin-top: 10px;
            }
        }
    }

    .inquiry {
        &-list {
            > li {
                @include clearfix;
                margin-top: 12px;
                &:first-child {
                    margin-top: 0;
                }
            }
            .title {
                font-size: 16px;
                line-height: 1.38;
                color: #616161;
                width: 176px;
                float: left;
                strong {
                    font-weight: normal;
                }
            }
            .description {
                font-size: 16px;
                line-height: 1.38;
                width: calc(100% - 176px);
                float: left;
                > [class^="btn"] {
                    margin-left: 16px;
                    vertical-align: middle;
                }
            }
        }
        &-dl {
            border-top: 1px solid #ddd;
            padding-top: 32px;
            margin-top: 32px;
            &:first-child {
                border-top: 0;
                padding-top: 0;
                margin-top: 0;
                }
            dt {
                font-size: 16px;
                color: #222;
                margin-bottom: 24px;
            }
        }
        @include mobile {
            &-list {
                .title {
                    width: 104px;
                }
                .description {
                    width: calc(100% - 104px);
                    font-weight: 500;
                }
            }
            &-dl {
                dt {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .related-info {
        .slide-content {
            margin-left: -12px;
            margin-right: -12px;
        }
        &-wrap {
            background-color: #f4f4f4;
            padding-top: 80px;
            padding-bottom: 120px;
        }
        &-title {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 32px;
        }
        &-content {
            max-width: 1284px;
            margin: 0 auto;
        }
        &-figure {
            @include clearfix;
            margin: 0 12px;
            border-radius: 4px;
            overflow: hidden;
        }
        &-img,
        &-figcap {
            float: left;
            height: 128px;
        }
        &-img {
            width: 194px;
            img {
                max-width: 100%;
            }
        }
        &-figcap {
            width: calc(100% - 194px);
            padding: 44px 24px;
            font-size: 14px;
            line-height: 1.43;
            background-color: #fff;
            a {
                @include textEllipsisClamp(2)
            }
        }
        @include mobile {
            .slide-content {
                margin-left: 12px;
                margin-right: 0;
            }
            &-figure {
                width: 200px;
                margin-left: 8px;
                margin-right: 0;
            }
            &-img,
            &-figcap {
                float: none;
                height: auto;
                width: 100%;
            }
            &-figcap {
                padding: 40px 16px;
            }
        }
    }

    .app-accodian {
        border-radius: 4px;
        border: solid 2px #dddddd;
        background-color: #fff;
        font-size: 16px;
        color: #222;
        .head {
            padding: 17px 12px;
            background-color: #f4f4f4;
            position: relative;
        }
        .ui_accord_text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            display: block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            font-size: 0;
        }
        .btn_open {
            .ui_accord_text {
                border-top: 8px solid #111;
            }
        }
        .btn_close {
            .ui_accord_text {
                border-bottom: 8px solid #111;
            }
        }
        .txt_list {
            font-weight: 500;
            padding: 20px 0;
            li {
                > a {
                    padding: 12px 16px;
                    display: flex;
                    align-items: center;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 14px;
                        height: 24px;
                        background: url(/lg5-common/images/icons/icon-btn-arrow-right2.svg) no-repeat center;
                        background-size: 150%;
                        margin-left: 8px;
                    }
                }
                &:first-child {
                    > a {
                        padding-top: 0;
                    }
                }
                &:last-child {
                    > a {
                        padding-bottom: 0;
                    }
                }
            }
        }
        @include mobile {
        }
    }

    .tabs-wrap {
        &.type-A {
            .tabs {
                max-width: 1066px;
                width: 100%;
                margin: 0 auto;
                text-align: left;
                margin-bottom: 16px;
            }
        }
    }

    .forms {
        position: relative;
        .input-wrap {
            @include mobile {
                .box {
                    .cell {
                        &.text-btn {
                            button {
                                position: absolute;
                                top: -35px;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .note-box {
        padding: 24px;
        border: solid 1px #dddddd;
        margin-bottom: 24px;
        &-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            margin-bottom: 16px;
        }
        .in-note-box {
            margin-top: 16px;
            margin-bottom: 16px;
        }
        @include mobile {
            padding: 16px;
        }
    }

    .gray-box {
        background-color: #f4f4f4;
        padding: 44px 47px;

        @include mobile {
            padding: 44px 20px;
        }
    }

    .choice-input {
        margin-bottom: 16px;
        .rdo-wrap {
            &.box-type {
                max-width: 220px;
                width: calc(25% - 12px);
                margin-left: 21px;
                input {
                    +label {
                        padding: 21px 16px 21px 48px;
                        &::before {
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &::after {
                            top: 50%;
                            transform: translateY(-50%) rotate(-45deg);
                        }
                    }
                }
                &:nth-child(4n+1) {
                    margin-left: 0;
                }
                &:nth-child(n+5) {
                    margin-top: 24px;
                }
            }
        }
    }


    .modal-gray-box {
        border-radius: 4px;
        background-color: #f4f4f4;
        padding: 40px 32px;
        &-title {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid #ddd;
            .tit {
                font-size: inherit;
            }
        }
        &.type-A {
            padding: 16px 40px;
            color: #616161;
            border-radius: 8px;
            @include clearfix;
            .text {
                float: left;
            }
            [class^="btn"] {
                color: #212121;
                font-size: 14px;
                float: right;
                line-height: 1;
            }
        }
        @include mobile {
            &.type-A {
                padding: 16px 20px;
                .text {
                    width: 156px;
                }
            }
        }
    }

    .modal-line-box {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px 11px 24px 16px;
        &-privacy {
            height: 100px;
            font-size: 14px;
            color: #616161;
            margin-top: 12px;
            margin-left: 22px;
            line-height: 1.43;
        }
        @include mobile {
            padding: 16px 16px 20px 16px;
        }
    }

    .address-box {
        @include mobile {
            .part1 {
                position: relative;
                .address-default {
                    margin-top: 0;
                    position: absolute;
                    right: 0;
                    top: -28px;
                }
            }
        }
    }

    .divisions {
        @include clearfix;
        max-width:1146px;
        margin:0 auto;
        padding: 0 40px;
        .col-6 {
            float: left;
            width: 50%;
            padding: 0 12px;
        }
        .section {
            margin-top: 0;
        }
        @include mobile {
            padding: 0;
            .col-6 {
                float: none;
                width: 100%;
                padding: 40px 20px 56px;
            }
            .section {
                &:nth-child(n+2) {
                    margin-top: 12px;
                }
                .btn-group {
                    margin: 40px -20px 0;
                }
            }
        }
    }

    .search-wrap {
        &.typa-A {
            position:relative;
            margin:0 auto;
            .select-wrap {
                position:relative;
                float:left;
                width:188px;
                z-index:10;
                .ui-selectbox-wrap {
                    .ui-select-button {
                        border-radius:8px 0 0 8px;
                        border-right-color:transparent;
                        background:#fff;
                    }
                    &.on {
                        .ui-select-button {
                            border-radius:8px 8px 0 0;
                            border-right-color:#222;
                        }
                    }
                    @include mobile {
                        .ui-select-button {
                            border-radius:8px;
                            border-right-color:#ddd;
                        }
                    }
                }
                @include mobile {
                    float:none;
                    width:100%;
                }
            }
            .input-wrap {
                display:block;
                margin-left:188px;
                width: calc(100% - 188px);
                .box input {
                    padding-left:8px;
                    border-radius:0;
                    border-left-color:transparent;
                    &:focus {
                        box-shadow:none;
                    }
                }
                @include mobile {
                    margin-top:8px;
                    margin-left:0;
                    .box input {
                        border-radius:8px 0 0 8px;
                        border-left-color:#ddd;
                        padding-left:23px;
                    }
                }
                .cell {
                    background:#fff;
                }
            }
            @include pc {
                .bullet-list {
                    margin-bottom: 56px;
                }
            }
            @include mobile {
                padding:0 0 32px;
                background:#fff;
                &::before, &::after {
                    display:none;
                }
                .input-wrap {
                    width: 100%;
                }
            }
        }
    }

    .outside-content {
        @include section;
    }

    .color-1 {
        color: #a50034;
    }
    .color-2 {
        color: #f04e3e;
    }
    .color-3 {
        color: #ec455a;
    }
    .pc-only {
        display: block;
        &.ib {
            display: inline-block;
        }
        @include mobile {
            display: none;
            &.ib {
                display: none;
            }
        }
    }
    .mo-only {
        display: none;
        @include mobile {
            display: block;
        }
    }

    // text-align
    .align-left {
        text-align: left !important;
    }

    .align-right {
        text-align: right !important;
    }

    .align-center {
        text-align: center !important;
    }
}