@charset "UTF-8";

@import "mCustomScrollbar";
@import "../../utilities/variables";
@import "../../utilities/mixins";
@import "../../modules/index";
@import "../../layout/index";
@import "../../support/page-visual";

/* 삭제 예정 */
@mixin globalBackground {
    padding:56px;
    border-radius:4px;
    background:#fff;
    @include mobile {
        padding:40px 24px;
        border-radius:0;
    }
}
.dummy {
    background-color:rgba(255, 70, 70, 0.2);
    font-size:28.5px;
    font-weight:bold;
    line-height:1.37;
    color:#ffffff;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size:20px;
        color:#fff;
        line-height:30px;
        & + p {
            border-top:1px solid #fff;
        }
    }
}
.err-msg {
    display:none;
}


.support {
    @import "../../support/layout";
    @import "../../support/notice-list";
    @import "../../support/notice-view";
    @import "../../support/form-field";
    @import "../../support/modal";
    @import "../../support/select-category";

    background:#f4f4f4;

    /* table */
    .tbl {
        width:100%;
        border-top:1px solid #ddd;
        &.scroll-x {
            @include mobile {
                width:auto;
                min-width:755px;
            }
        }
        &-list {
            width:100%;
            border-collapse:collapse;
            border-spacing:0;
            th, td {
                padding:16px 24px;
                font-weight:400;
                text-align:left;
                border-bottom:1px solid #ddd;
                // border-left:1px solid #ddd;
                // &:first-child {
                //     border-left:0;
                // }
            }
            th {
                color:#616161;
                font-size:14px;
                line-height:20px;
                background-color:#f4f4f4;
            }
            td {
                color:#222;
                line-height:24px;
            }
            @include mobile {
                th, td {
                    padding:12px 8px;
                    font-size:14px;
                }
            }
        }
        &-vertical {
            th, td {
                // text-align:center;
            }
        }
        &-horizon {
            th, td {
                text-align:left;
            }
        }
    }

    /* pagination */
    .pagination {
        margin-top:24px;    
    }

    /* text list */
    .dot-list {
        &.top-border {
            border-top:1px solid #ddd;
            margin-top:40px;
            padding-top:24px;
        }
        li {
            position:relative;
            margin-top:4px;
            padding-left:8px;
            font-size:14px;
            color:#616161;
            line-height:20px;
            &:first-child {
                margin-top:0;
            }
            &:before {
                content:'';
                position:absolute;
                left:0;
                top:10px;
                width:2px;
                height:2px;
                border-radius:50%;
                background-color:#616161;
            }
            @include mobile {
                padding-left:8px;
                font-size:12px;
                line-height:18px;
            }
        }
    }
        
    .dot-list02 {
        li {
            position:relative;
            margin-top:6px;
            padding-left:12px;
            font-size:16px;
            color:#222;
            line-height:1.5;
            &:first-child {
                margin-top:0;
            }
            &:before {
                content:'';
                position:absolute;
                left:0;
                top:11px;
                width:4px;
                height:4px;
                border-radius:50%;
                background-color:#616161;
            }
            @include mobile {
                padding-left:10px;
                font-size:12px;
                line-height:18px;
                margin-top: 10px;
                &:before {
                    top:8px;
                }
    
            }
        }
    }

    .dot-list03 {
        border-top: 1px solid #ddd;
        margin-top: 43px;
        padding-top: 27px;
        &.no-border {
            margin-top: 12px;
            padding-top: 0;
            border: none;
        }
        li {
            position:relative;
            padding-left:8px;
            font-size:14px;
            color:#515151;
            line-height:1.43;
            &:before {
                content:'';
                position:absolute;
                left:0;
                top:10px;
                width:2px;
                height:2px;
                border-radius:50%;
                background-color:#808080;
            }
            @include mobile {
                padding-left:10px;
                font-size:14px;
                line-height:1.57;
                & + li {
                    margin-top:8px;
                }
            }
        }
        @include mobile {
            margin-top: 40px;
            padding-top: 22px;
            &.no-border {
                margin-top: 10px;
            }
        }
    }

    .service-menu {
        padding:64px 40px 56px;
        background:#ededed;
        .inner {
            max-width:1284px;
            margin:0 auto;
            text-align:center;
        }
        .title {
            margin-bottom:32px;
            font-size:20px;
            font-weight:700;
            line-height:30px;
        }
        .service-list {
            margin:0 -12px;
            font-size:0;
            > li {
                display:inline-block;
                width:calc(100% / 6);
                padding:0 12px;
                vertical-align:top;
                a {
                    display:block;
                    padding:32px 0;
                    border-radius:4px;
                    background:#fff;
                }
                .icon {
                    width:48px;
                    height:48px;
                    margin:0 auto;
                    img {
                        width:100%;
                    }
                }
                .tit {
                    display:block;
                    margin-top:24px;
                    font-size:16px;
                    font-weight:500;
                    line-height:24px;
                    text-align:center;
                }
            }
        }
        @include tablet {
            .service-list {
                margin:-24x -12px 0;
                > li {
                    padding:24px 12px 0;
                    width:calc(100% / 3);
                }
            }
        }
        @include mobile {
            padding:40px 20px 56px;
            .title {
                font-size:16px;
                line-height:24px;
            }
            .service-list {
                margin:-8px -4px 0;
                > li {
                    display:inline-block;
                    width:50%;
                    padding:8px 4px 0;
                    a {
                        border-radius:0;
                    }
                    .icon {
                        width:40px;
                        height:40px;
                    }
                    .tit {
                        margin-top:16px;
                        font-size:14px;
                    }
                }
            }
        }
    }

    .sns-box {
        @include clearfix;
        .sns {
            float:left;
            width:30px;
            height:30px;
            background-repeat:no-repeat;
            background-position:center;
            background-size:100%;
            margin-left:8px;
            &:first-child {
                margin-left:0;
            }
            &.icon {
                &-kakaotalk {
                    background-image:url(/lg5-common/images/icons/icon-sns-kakaotalk.svg);
                }
                &-facebook {
                    background-image:url(/lg5-common/images/icons/icon-sns-facebook.svg);
                }
                &-twitter {
                    background-image:url(/lg5-common/images/icons/icon-sns-twiter.svg);
                }
            }
        }
    }

    .inquiry {
        &-list {
            > li {
                @include clearfix;
                margin-top: 12px;
                &:first-child {
                    margin-top: 0;
                }
            }
            .title {
                font-size: 16px;
                line-height: 1.38;
                color: #616161;
                width: 138px;
                float: left;
                strong {
                    font-weight: normal;
                }
            }
            .description {
                font-size: 16px;
                line-height: 1.38;
                width: calc(100% - 138px);
                float: left;
                > [class^="btn"] {
                    margin-left: 16px;
                    vertical-align: middle;
                }
            }
        }
        @include mobile {
            &-list {
                .title {
                    width: 104px;
                }
                .description {
                    width: calc(100% - 104px);
                    font-weight: 500;
                }
            }
        }
    }

    .related-info {
        color: #111;
        .slide-content {
            margin-left: -12px;
            margin-right: -12px;
        }
        &-wrap {
            background-color: #f4f4f4;
            padding-top: 80px;
            padding-bottom: 120px;
        }
        &-title {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 32px;
        }
        &-content {
            max-width: 1284px;
            margin: 0 auto;
        }
        &-figure {
            @include clearfix;
            margin: 0 12px;
            border-radius: 4px;
            overflow: hidden;
        }
        &-img,
        &-figcap {
            float: left;
            height: 128px;
        }
        &-img {
            width: 194px;
            img {
                max-width: 100%;
            }
        }
        &-figcap {
            width: calc(100% - 194px);
            padding: 44px 24px;
            font-size: 14px;
            line-height: 1.43;
            background-color: #fff;
            a {
                @include textEllipsisClamp(2)
            }
        }
        @include mobile {
            .slide-content {
                margin-left: 12px;
                margin-right: 0;
            }
            &-figure {
                width: 200px;
                margin-left: 8px;
                margin-right: 0;
            }
            &-img,
            &-figcap {
                float: none;
                height: auto;
                width: 100%;
            }
            &-figcap {
                padding: 40px 16px;
            }
        }
    }

    .app-accodian {
        @include mobile {
            border-radius: 4px;
            border: solid 2px #dddddd;
            background-color: #fff;
            font-size: 16px;
            color: #222;
            .head {
                padding: 17px 12px;
                background-color: #f4f4f4;
                position: relative;
            }
            .ui_accord_text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                display: block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                font-size: 0;
            }
            .btn_open {
                .ui_accord_text {
                    border-top: 8px solid #111;
                }
            }
            .btn_close {
                .ui_accord_text {
                    border-bottom: 8px solid #111;
                }
            }
            .txt_list {
                font-weight: 500;
                padding: 20px 0;
                li {
                    > a {
                        padding: 12px 16px;
                        display: flex;
                        align-items: center;

                        &::after {
                            content: '';
                            display: inline-block;
                            width: 14px;
                            height: 24px;
                            background: url(/lg5-common/images/icons/icon-btn-arrow-right2.svg) no-repeat center;
                            background-size: 150%;
                            margin-left: 8px;
                        }
                    }
                    &:first-child {
                        > a {
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        > a {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .tabs-wrap {
        &.type-A {
            .tabs {
                max-width: 1066px;
                width: 100%;
                margin: 0 auto;
                text-align: left;
                margin-bottom: 16px;
            }
        }
    }

    .btn-text {
        &.underline {
            text-decoration: underline;
        }
    }

    .forms {
        position: relative;
        .input-wrap {
            @include mobile {
                .box {
                    .cell {
                        &.text-btn {
                            button {
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .note-box {
        padding: 24px;
        border: solid 1px #dddddd;
        margin-bottom: 24px;
        &-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            margin-bottom: 16px;
        }
        .in-note-box {
            margin-top: 16px;
            margin-bottom: 16px;
        }
        @include mobile {
            padding: 16px;
        }
    }

    .gray-box {
        background-color: #f4f4f4;
        padding: 44px 47px;

        @include mobile {
            padding: 44px 20px;
        }
    }

    .popup-wrap {
        .pop-conts {
            .modal-gray-box {
                border-radius: 4px;
                background-color: #f4f4f4;
                padding: 40px 32px;
                &-title {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.5;
                    padding-bottom: 24px;
                    margin-bottom: 24px;
                    border-bottom: 1px solid #ddd;
                    .tit {
                        font-size: inherit;
                    }
                }
            }
            .text-box {
                font-size: 14px;
                margin-bottom: 0;
            }
            .paragraph {
                &-1 {
                    margin-top: 18px;
                }
            }
            [class^="btn-"] {
                font-size: inherit;
            }
            &-section {
                margin-top: 32px;
                &.top-border {
                    padding-top: 32px;
                    margin-top: 28px;
                    border-top: 1px solid #ddd;
                }
                &:first-child {
                    margin-top: 0;
                }
            }
            .tbl {
                margin-top: 16px;
            }
        }
        &.type-A {
            max-width: 630px;
        }
        &.type-B {
            max-width: 848px;
            width: 100%;
        }
        @include mobile {
            max-width: calc(100% - 48px);
            .pop-conts {
                .modal-gray-box {
                    padding: 40px 20px;
                    &-title {
                        font-size: 16px;
                        padding-bottom: 32px;
                        margin-bottom: 32px;
                        text-align: center;
                        .tit {
                            font-size: inherit;
                        }
                    }
                }
            }
        }
    }

    .color-1 {
        color: #a50034;
    }
    .color-2 {
        color: #f04e3e;
    }
    .color-3 {
        color: #ec455a;
    }
    .pc-only {
        display: block;
        &.ib {
            display: inline-block;
        }
        @include mobile {
            display: none;
            &.ib {
                display: none;
            }
        }
    }
    .mo-only {
        display: none;
        @include mobile {
            display: block;
        }
    }

    // text-align
    .align-left {
        text-align: left !important;
    }

    .align-right {
        text-align: right !important;
    }

    .align-center {
        text-align: center !important;
    }
}


