.icon-filter {
    display: inline-block;
    
    width: 20px;
    height: 20px;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg fill='none' fill-rule='evenodd'%3e%3cpath d='M0 0H40V40H0z'/%3e%3cg fill='%23212121'%3e%3cpath d='M2.5 1.875H40V5.625H2.5zM0 16.875H37.5V20.625H0z' transform='translate(0 1.25)'/%3e%3cpath d='M0 0H7.5V7.5H0zM32.5 15H40V22.5H32.5zM15 30H22.5V37.5H15z' transform='translate(0 1.25)'/%3e%3cpath d='M0 31.875H40V35.625H0z' transform='translate(0 1.25)'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-size: 100% 100%;
}