.container {
    // Page Header
    .page-header {
        padding:56px 0 24px;
        text-align:center;
        .title {
            max-width:1280px;
            margin:0 auto;
            color:#111;
            font-size:30px;
            line-height:36px;
            font-weight:700;
        }
        .tabs-wrap {
            max-width:1280px;
            margin:0 auto;
        }
        .tabs-wrap.btn-type {
            margin-top:20px;
        }
        @include mobile {
            padding:56px 0px 20px;
            border-bottom:12px solid #f4f4f4;
            .title {
                font-size:24px;
                line-height:32px;
            }
            .tabs-wrap.btn-type {
                margin-top:28px;
            }
        }
        &.no-title {
            padding:48px 0 24px;
            background:#f4f4f4;
        }
    }

    // sub page common layout : title + white box layout
    .cont-wrap {
        padding:48px 40px 120px;
        background:#f4f4f4;
        @include mobile {
            padding:0;
            background:#fff;
        }

        // layout
        .tabs-wrap.border-type {
            @include mobile {
                padding-top:40px;
            }
        }

        .section {
            max-width:1066px;
            margin:40px auto 0;
            &:first-child {
                margin-top:0;
            }
            .sec-tit {
                margin-bottom:19px;
                color:#111;
                font-size:16px;
                line-height:24px;
                font-weight:700;
            }
            .cont-box {
                padding:56px;
                border-radius:4px;
                background:#fff; 
                &.no-pd {
                    padding:0;
                }
            }
            .tit-desc {
                color:#111;
                font-size:16px;
                line-height:24px;
                em {
                    color:#EC455A;
                }
            }
            @include mobile {
                position:relative;
                margin:0;
                padding:50px 20px 0;
                &:before {
                    content:'';
                    display:block;
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    height:12px;
                    background:#f4f4f4;
                }
                &:first-child {
                    padding-top:40px;
                    &:before {
                        display:none;
                    }
                }
                .sec-tit {
                    margin:0;
                }
                .cont-box {
                    padding:32px 0 40px;
                }
            }
        }
        
        .btn-wrap {
            max-width:1066px;
            margin:32px auto 0;
            font-size:0;
            &.right {
                text-align:right;
            }
            .btn {
                min-width:auto;
                margin-left:24px;
                padding-left:32px;
                padding-right:32px;
                &:first-child {
                    margin-left:0;
                }
                &.text-type {
                    min-width:auto;
                    margin-top:14px;
                    padding:0;
                    border:none;
                    background:transparent;
                    color:#EC455A;
                    font-weight:500;
                }
            }

            @include mobile {
                margin:0;
                padding:32px 20px 96px;
                background:#f4f4f4;
            }
        }
    }
}

// no-data
.no-data {
    margin-top:60px;
    text-align:left;
    p {
        color:#616161;
        font-size:16px;
        line-height:24px;
    }
}