.floating-wrap {
    position:fixed;
    right:48px;
    bottom:48px;
    z-index:110;
    @include mobile {
        right:14px;
        bottom:24px;
    }
    .floating-menu {
        position:static;
        right:0;
        bottom:0;
        margin-top:16px;
        @include mobile {
            margin-top:10px;
        }
        > div {
            width:56px;
            height:56px;
            border-radius:50%;
            box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.15);
            text-align:center;
            > a {
                display:block;
                width:100%;
                height:100%;
            }
            @include mobile {
                width: 40px;
                height: 40px;
            }
        }
        .cs-cst-linker {
            background:url('/lg5-common/images/icons/icon-cs-cst-linker.svg') no-repeat center center;
        }
        .back-to-top {
            background-image:url('/lg5-common/images/icons/icon-top-new.svg');
            background-color:#fff;
        }
        .easy-path {
            position:relative;
            box-shadow:none;
            .inner {
                position:absolute;
                top:0;
                right:0;
                a {
                    display:block;
                    width:56px;
                    height:56px;
                    padding:15px 24px;
                    background-image: linear-gradient(135deg, #9c72e7 28%, #f85784 89%);
                    border-radius:28px;
                    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.15);
                    transition:width .5s;
                    overflow:hidden;
                    @include mobile {
                        width:40px;
                        height:40px;
                        padding:0;
                    }
                    &:hover,
                    &:active {
                        width:343px;
                        @include mobile {
                            width:290px;
                            padding: 9px 24px;
                        }
                        p {
                            display:block;
                        }
                    }
                    p {
                        display:none;
                        position:relative;
                        color:#fff;
                        font-size:16px;
                        line-height:26px;
                        white-space:nowrap;
                        &:after {
                            content:' ';
                            display:inline-block;
                            width:16px;
                            height:16px;
                            margin-left:6px;
                            background:url('/lg5-common/images/icons/icon-float-arr-16.svg') no-repeat 0 0;
                            vertical-align:-2px;
                        }
                        @include mobile {
                            font-size:13px;
                            line-height:21px;
                            &:after {
                                vertical-align:-3px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

.btn-type2 {
    .btn-inner {
        display:none;
        &.open {
            display:block;
        }
    }
    .floating-menu.chat {
        bottom:284px;
        @include mobile {
            bottom:231px;
        }
    }
    .floating-menu.cs-call {
        bottom:372px;
        @include mobile {
            bottom:319px;
        }
    }
}

.btn-floating-wrap {
    .btn-inner {
        display:none;
        //&.open {
        //    display:block;
        //}
    }

    &.open {
        .more-plus-linker {
            transform:rotate(225deg);
        }
        .btn-inner {
            display: block;
        }
    }
    &.scroll {
        .floating-menu.more-plus {
            bottom:120px;
        }
        .floating-list {
            bottom:192px;
        }
        @include mobile {
            .floating-menu.more-plus {
                bottom:74px;
            }
            .floating-list {
                bottom:60px + 24px + 40px;
            }
        }
    }
}

.floating-menu {
	position:fixed;
	opacity:1;
	transition:opacity 0.8s ease-out, transform 0.5s ease-out;
	z-index:110;
	&.call-yet {
        position:fixed;
		opacity:0;
		z-index:-100;
        transform: translateX(171px);
        
        @include mobile {
            transform: translateX(77.5px);
        }
	}
	&.top {
        right:48px;
        bottom:48px;
        @include mobile {
            right:14px;
            bottom:24px;
        }
    }
	.back-to-top {
        width:56px;
        height:56px;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.15);
		background:url('/lg5-common/images/icons/icon-top-new.svg') #fff no-repeat center center;
		border-radius:50%;
		// margin-top:12px;
        line-height:0;
        @include mobile {
            width: 40px;
            height: 40px;
            background-size: 32px;
        }
		button{
			width:100%;
			height:100%;
			padding:0;
			border:none;
			background:none;
			cursor:pointer;
		}
        &:hover,
        &:focus,
        &:active {
            background-image:url('/lg5-common/images/icons/icon-top-new-active.svg');
        }
	}
	&.chat {
        right:48px;
        bottom:(112px+72px+12px);

        @include mobile {
            right:24px;
            bottom:144px;
        }
    }
    &.cs-call {
        right:48px;
        bottom:(112px+172px);
        @include mobile {
            right:24px;
            bottom:232px;
        }
    }
    &.more-plus {
        //right:112px;
        //bottom:(112px+72px+28px);
        //@include mobile {
        //    right:36px;
        //    bottom:155px;
        //}
        position:fixed;
        right:48px;
        bottom:48px;
        transition:all .1s;
        // bottom:104px + 16px;
        @include mobile {
            right:14px;
            bottom:24px;
            // bottom:92px;
        }
    }
    &.btn3 {
        right:48px;
        bottom:460px;
        @include mobile {
            right:24px;
            bottom:407px;
        }
    }
    &.btn4 {
        right:48px;
        bottom:548px;
        @include mobile {
            right:24px;
            bottom:495px;
        }
    }
    &.lately {
        right:48px;
        bottom:255px;
        z-index:111;
        & + .easy-path {
            margin-top:14px;
        }
        @include mobile {
            right:14px;
            bottom:160px;
            & + .easy-path {
                margin-top:10px;
            }
        }
    }
    &.cs-cst {
        right:48px;
        bottom:120px;
        @include mobile {
            right:14px;
            bottom:92px;
        }
    }
    &.floating-list {
        position:fixed;
        right:48px;
        bottom:122px;
        // bottom:104px + 32px + 56px;
        @include mobile {
            right:14px;
            bottom:10px + 24px + 40px;
            // bottom:80px + 24px + 56px;
        }
        display: flex;
        flex-direction: column;
    }

    .floating-linker {
        width:100% !important;
        height:100% !important;
        &:not(:first-child) {
            margin-top: 10px;
        }
        a {
            display: block;
            min-width: 170px;
            padding: 14px 68px 14px 28px;
            border: 1px solid $color-white;
            border-radius: 28px;
            box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.15);
            background: $color-white no-repeat right 16px center;
            text-align: center;
            &:active {
                border: 1px solid $color-primary;
            }
            @include mobile {
                min-width: 112px;
                padding: 8px 36px 9px 16px;
                background-position: right 10px center;
                background-size: 24px;
            }
        }
        .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            @include mobile {
                font-size: 13px;
                line-height: 21px;
            }
        }
        &.cs-cst {
            a {
                background-image:url('/lg5-common/images/icons/icon-phone-40.svg');
            }
        }
        &.chat {
            a {
                background-image:url('/lg5-common/images/icons/icon-chat-40.svg');
            }
        }
        &.my-collection {
            a {
                background-image:url('/lg5-common/images/icons/icon-mycollection-40.svg');
            }
        }
        &.recently {
            a {
                background-image:url('/lg5-common/images/icons/icon-recently-40.svg');
            }
        }
        &.store-reservation {
            a {
                background-image:url('/lg5-common/images/icons/img_shop_40.svg');
            }
        }
         &.faq {
            a {
                background-image:url('/lg5-common/images/icons/img_floatingfaq_40.svg');
            }
        }
    }
	.chatbot-linker {
		width:88px;
        height:88px;
		background:url('/lg5-common/images/icons/icon-chatbot.svg') no-repeat;
		background-size:88px 88px;
		// border-radius:25px;
        // box-shadow: 7px 7px 18px 0 rgba(0, 0, 0, 0.12);
		a {
			display:block;
			width:100%;
			height:100%;
			color:#fff;
        }
	}
    .cs-call-linker {
        width:88px;
        height:88px;
		background:url('/lg5-common/images/icons/icon-cs-call.svg') no-repeat;
        background-size:88px 88px;
        a {
			display:block;
			width:100%;
			height:100%;
			color:#fff;
        }
    }
    .more-plus-linker {
        position:relative;
        width:56px;
        height:56px;
        border-radius:50%;
        background-image: linear-gradient(315deg, #fb5a72, #fa263e);
        background-color:#fa263e;
        transition:opacity 0.8s ease-out, transform 0.3s ease-out;
        &:before {
            content:' ';
            display:block;
            position:absolute;
            top:50%;
            left:50%;
            width:40px;
            height:40px;
            background:url('/lg5-common/images/icons/icon-more-plus-x.png') no-repeat;
            background-size:100%;
            transform:translate(-50%, -50%);
        }
        @include mobile {
            width:40px;
            height:40px;
            &:before {
                width:32px;
                height:32px;
            }
        }
        &:hover,
        &:focus,
        &:active {
            background: $color-primary;
        }
        a {
			display:block;
            position:relative;
			width:100%;
			height:100%;
            color:#fff;
        }
        &.open {
            transform:rotate(45deg);
        }
    }
    .lately-linker {
        width:56px;
        height:56px;
        border-radius:50%;
        background-color:#fff;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
        overflow:hidden;
        a {
            display:block;
			width:100%;
            height:100%;
            img {
                width:100%;
                transform:scale(.8);
            }
        }
    }
    .cs-cst-linker {
        width:56px;
        height:56px;
        border-radius:50%;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.15);
        background:url('/lg5-common/images/icons/icon-cs-cst-linker.svg') #fff no-repeat center center;
        text-align:center;
        > a {
            display:block;
            width:100%;
            height:100%;
        }
    }
}
.lately-popup {
    top:-415px;
    right:0;
    z-index:101;
    width:368px;
    min-height:480px;
    box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
    &.open {
        display:block;
    }
    @include mobile {
        position:fixed;
        top:auto;
        right:-80%;
        left:auto !important;
        z-index:101;
        width:100%;
        &.open {
            right:0;
        }
    }
    .pop-header {
        margin:0 24px;
        padding:24px 0 12px;
        .tit {
            span {
                font-size:18px;
                line-height:28px;
            }
        }
        @include mobile {
            margin:0 16px;
            padding:27px 0 17px;
            .tit {
                span {
                    height:100%;
                    font-size:16px;
                    line-height:24px;
                }
            }
        }
    }
    .pop-conts {
        max-height:408px;
        padding:0 24px;
        @include mobile {
            max-height:100%;
            height:calc(100% - 72px);
        }
        .lately-list {
            ul {
                li {
                    display:table;
                    position:relative;
                    width:100%;
                    height:96px;
                    padding:16px 0;
                    border-bottom:1px solid #ddd;
                    &:last-child {
                        border-bottom:none;
                    }
                    .img {
                        position:absolute;
                        top:50%;
                        left:0;
                        width:64px;
                        height:64px;
                        transform:translateY(-50%);
                        img {
                            width:100%;
                        }
                    }
                    dl {
                        display:table-cell;
                        padding-left:90px;
                        vertical-align:middle;
                        dt {
                            display: -webkit-box;
                            -webkit-line-clamp:2;
                            -webkit-box-orient: vertical;
                            max-height:48px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size:14px;
                            font-weight:500;
                            line-height:24px;
                        }
                        dd {
                            margin-top:8px;
                            font-size:14px;
                            font-weight:500;
                            line-height:24px;
                        }
                    }
                    &.disabled {
                        dl {
                            dd {
                                color: #F04E3E;
                                font-weight: 500;
                                @include font-small;
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    margin: 2px 4px 0 0;
                                    background: url("/lg5-common/images/icons/icon-error.svg") center no-repeat;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
                @include mobile {
                    li {
                        height:120px;
                        padding:20px 0;
                        dl {
                            padding-left:104px;
                            dt {
                                font-size:14px;
                                line-height:22px;
                            }
                            dd {
                                font-size:15px;
                                line-height:23px;
                            }
                        }
                    }
                    .img {
                        width:80px !important;
                        height:80px !important;
                    }
                }
            }
        }
    }
    > .btn-close {
        top:24px;
        right:14px;
    }
}
.lately-dim {
    display:none;
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:.7;
    @include mobile {
        &.open {
            display:none;
        }
    }
}

.open-compare {
    .floating-menu {
        margin-bottom: 72px;
        @include mobile {
            margin-bottom: 56px;
        }
    }
}












/* BTOCSITE-2958 : 플로팅 배너(퀵메뉴) 공통 파일로 변경 2021-08-20 */
.quick-menu {
    position:fixed;
    right:48px;
    bottom:120px;
    z-index:100;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    @include mobile {
        right:17px;
        bottom:74px;
    }
    &-list {
        transform:translateY(72px);    
        transition:transform 0.3s ease-out; 
        & > li + li {
            margin-top:16px;
        }
        @include mobile {
            transform:translateY(50px); 
            & > li + li {
                margin-top:10px;
            }
        }
    }
    a, button {
        display:block;
        position:relative;
        text-align:center;
        cursor:pointer;
    }
    .btn-top {
        width:56px;
        height:56px;
        margin-top:16px;
        opacity:1;
        border-radius:50%;
        box-shadow:0.1px 4px 11px 0 rgba(0, 0, 0, 0.15);
        background:url(/lg5-common/images/icons/icon-top-new.svg) no-repeat center center #fff;
        opacity:0;
        transform:translateX(172px);
        transition:opacity 0.8s ease-out, transform 0.5s ease-out; 
        &:hover,
        &:focus,
        &:active {
            background-image:url('/lg5-common/images/icons/icon-top-new-active.svg');
        }
        @include mobile {
            width:40px;
            height:40px;
            margin-top:10px;
            background-size:24px;
        }
    }
    .quick-menu-list {
        li {
            display: flex;
            justify-content: flex-end;
        }
    }
    &.top {
        .quick-menu-list {
            transform:translateY(0);    
        }
        .btn-top {
            transform:translateX(0);
            opacity:1;
        }
    }

    .service-menu {
        &-list {
            display:none;
            flex-direction:column;
            position:absolute;
            right:0;
            bottom:100%;
            li {
                margin-bottom:16px;
                a {
                    display:block;
                    position:relative;
                    width:276px;
                    padding:14px 68px 14px 28px;
                    border:1px solid $color-white;
                    border-radius:28px;
                    box-shadow:0.1px 4px 11px 0 rgba(0, 0, 0, 0.15);
                    background:#fff;
                    &:active {
                        border-color:$color-primary;
                    }            
                }
                .img {
                    position:absolute;
                    top:50%;
                    right:16px;
                    transform:translateY(-50%);
                    width:40px;
                    height:40px;
                    img {
                        width:100%;
                        height:100%;
                    }
                }
                .txt {
                    display:block;
                    font-size:16px;
                    font-weight:$font-weight-medium;
                    line-height:26px;
                    text-align:center;
                }
            }
        }
        .btn-expand {
            position:relative;
            width:56px;
            height:56px;
            border-radius:50%;
            background-color:$color-primary;
            &:hover {
                box-shadow: 0.1px 4px 11px 0 rgba(0, 0, 0, 0.15);
                background-image: linear-gradient(to top, #fb5a72, #fa263e);
            }
            &:before {
                content:'';
                position:absolute;
                left:50%;
                top:50%;
                transform:translate(-50%, -50%) rotate(0);
                width:40px;
                height:40px;
                // transition:transform .3s ease-out;
                background:url(/lg5-common/images/icons/img_floating_40.svg) no-repeat;
                background-size:100%;
            }
        }
        &.on {
            .service-menu-list {
                display:flex;
            }
            .btn-expand {
                &::before {
                    background:url(/lg5-common/images/icons/icon-more-plus-x.svg) no-repeat;
                    transform:translate(-50%, -50%) rotate(135deg);
                    background-size:100%;
                }
            }
        }
       
        @include mobile {
            &-list {
                li {
                    margin-bottom:10px;
                    a {
                        width:220px;
                        padding:8px 35px 8px 15px;
                    }
                    .img {
                        right:8px;
                        width:24px;
                        height:24px;
                    }
                    .txt {
                        font-size:13px;
                        line-height:22px;
                    }
                }
            }
            .btn-expand {
                width:40px;
                height:40px;
                &:before {
                    width:24px;
                    height:24px;
                }
            }
        }
    }

    .history {
        position:relative;
        display: none;
        &-list {
            display:table;
            table-layout:fixed;
            visibility:hidden;
            position:absolute;
            right:64px;
            top:0;
            li {
                display:table-cell;
                vertical-align:top;
                opacity:0;
                transition:all ease 0.5s;
                @for $i from 0 through 3 {
                    &:nth-last-child(#{$i}) {
                      z-index:$i;
                      transform:translateX(64px*$i);
                    }
                }
                & + li {
                    padding-left:8px;
                }
                a {
                    display:block;
                    width:56px;
                    &:active {
                        .img {
                            border:1px solid $color-primary;
                        }
                    }
                }
            }
            .img {
                display:block;
                position:relative;
                overflow:hidden;
                width:56px;
                height:56px;
                border-radius:50%;
                box-shadow:0.1px 4px 11px 0 rgba(0, 0, 0, 0.15);
                background:#fff;
                img {
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%, -50%);
                    width:40px;
                    height:40px;
                }
            }
            .name {
                display:block;
                font-size:12px;
                line-height:22px;
                font-weight:$font-weight-medium;
                @include textEllipsis;
            }
        }
        .count {
            position:absolute;
            top:-9px;
            right:0;
            z-index:11;
            width:18px;
            height:18px;            
            color:#fff;
            font-size:11px;
            line-height:18px;
            font-weight:$font-weight-bold;
            text-align:center;
            border-radius:50%;
            background-color:$color-primary;
            @include mobile {
                font-size:12px;
            }
        }
        .btn-more {
            display:flex;
            align-items:center;
            justify-content:center;
            width:56px;
            height:56px;
            font-size:14px;
            font-weight:$font-weight-bold;
            border-radius:50%;
            box-shadow:0.1px 4px 11px 0 rgba(0, 0, 0, 0.15);
            background:#fff;
            &:active {
                border:1px solid $color-primary;
            }
        }
        .btn-expand {
            display:block;
            overflow:visible;
            z-index:10;
            width:56px;
            height:56px;
            border-radius:50%;
            box-shadow:0.1px 4px 11px 0 rgba(0, 0, 0, 0.15);
            background:#fff;
            transition:all ease 0.5s;
            z-index: 2;
            .img {
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                width:40px;
                height:40px;
                img {
                    width:100%;
                    height:100%;
                }
            }
            .history-info{
                visibility: hidden;
                padding-left: 32px;
                // position: absolute;
                // top: 0;
                // right: 64px;
                // width: 200px;
                opacity:0;
                // transition:all ease 0.5s;
            }
        }
        .btn-close {
            display: none;
            position: relative;
            z-index: 10;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            box-shadow: 0.1px 4px 11px 0 rgba(0, 0, 0, 0.15);
            background:#fff;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                background: url(/lg5-common/images/icons/icon-history-close.svg) no-repeat;
                background-size: 100%;
            }
        }
        // .history-info{
        //     visibility: hidden;
        //     position: absolute;
        //     top: 0;
        //     right: 64px;
        //     width: 300px;
        //     opacity:0;
        //     transition:all ease 0.5s;
        //     background-color: #fb5a72;
            
        // }
        &.on {
            .history-list {
                visibility: visible;
                li {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            .btn-expand {
                display: none;
            }
            .btn-close {
                display: block;
            }
        }
        &.info-text {
            position: relative;
            .btn-expand {
                width: auto;
                border-radius: 40px;
                transform: translateX(0);
                z-index: 1;
                // transition:all ease 0.5s;
                .img {
                    left: 100%;
                    transform: translate(-120%, -50%);
                    @include mobile {
                        transform: translate(-134%, -50%);
                    }
                }
                .history-info {
                    visibility: visible;
                    opacity: 1;
                    margin-right: 70px;
                    transition:all ease 0.5s;
                    p {
                        font-size: 14px;
                    }
                    @include mobile {
                        padding-left: 24px;
                        margin-right: 50px;
                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        @include mobile {
            &-list {
                right:50px;
                li {
                    @for $i from 0 through 3 {
                        &:nth-last-child(#{$i}) {
                            transform:translateX(50px*$i);
                        }
                    }
                    & + li {
                        padding-left:10px;
                    }
                    a {
                        width:40px;
                    }
                }
                .img {
                    width:40px;
                    height:40px;
                    img {
                        width:28px;
                        height:28px;
                    }
                }
                .name {
                    display:block;
                    font-size:12px;
                    line-height:20px;
                }
            }
            .count {
                font-size:12px;
            }
            .btn-more {
                width:40px;
                height:40px;
                font-size:11px;
            }
            .btn-expand {
                width:40px;
                height:40px;
                .img {
                    width:24px;
                    height:24px;
                }
            }
            .btn-close {
                width:40px;
                height:40px;
                &::before {
                    width:24px;
                    height:24px;
                }
            }
        }
    }
}

.mobile:not(.app) {
    .quick-menu {
        &:before {
            content:"";
            background:transparent;
            transition:background-color .6s;
        }
        &.dim {
            &:before {
                display:block;
                position:fixed;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background: rgba(0,0,0,0.7);
            }   
        }
        .history-list {
            .name {
                color:#fff;
            }
        }
    }
}