/*  footer */
footer {
    background:#f4f4f4;
    @include mobile {
        padding-top:12px;
    }
    .call-list {
        padding:8px 30px 40px;
        background:#fff;
        text-align:center;
        font-size:0;
        li {
            display:inline-block;
            position:relative;
            margin-top:32px;
            margin-left:96px;
            vertical-align:top;
            dl {
                display:inline-block;
                position:relative;
                margin:0 auto;
                dt {
                    color:#616161;
                    font-size:14px;
                    line-height:20px;
                    font-weight:500;
                }
                dd {
                    margin-top:2px;
                    color:#222;
                    font-size:18px;
                    line-height:26px;
                    font-weight:700;
                    a {
                        display:none;
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        font-size:0;
                        @include mobile {
                            display:block;
                        }
                    }
                }
            }
            &:first-child {
                margin-left:0;
            }
        }
        @media screen and (max-width:957px) {
            padding:8px 24px 40px;
            li {
                width:50%;
                margin-left:0;
            }
        }
        @include mobile {
            padding:32px 30.5% 40px;
            white-space:nowrap;
            overflow-x:auto;
            li {
                width:auto;
                margin-top:0;
                margin-left:60px;
            }
        }
    }
    .foot-cont {
        padding:0 48px 32px;
        @include mobile {
            padding:0;
        }
        .cont-area {
            max-width:1284px;
            margin:0 auto;
        }

        // link-wrap - Mobile
        @media screen and (max-width:767px) {
            .link-wrap {
                margin-top:12px;
                background:#fff;
                .link-section {
                    .dep1 {
                        position:relative;
                        border-top:4px solid #f4f4f4;
                        padding:0 24px;
                        &::after {
                            content:' ';
                            position:absolute;
                            right:34px;
                            top:50%;
                            width:10px;
                            height:10px;
                            margin-top:-8px;
                            border:2px solid #111;
                            border-bottom:none;
                            border-left:none;
                            transform:rotate(135deg);
                            transition:all .3s;
                        }
                        a, span {
                            display:block;
                            padding:17px 0;
                            color:#111;
                            font-size:14px;
                            line-height:18px;
                            font-weight:700;
                        }
                        &.hidden {
                            display:none !important;
                        }

                        &.active::after {
                            transform:rotate(-45deg);
                            margin-top:-2px;
                        }
                    }
                    &:first-child {
                        .dep1 {
                            border-top:none;
                        }
                    }

                    .dep2-wrap {
                        margin:0 24px;
                        padding-bottom:16px;
                        border-top:1px solid #ddd;
                        .dep2-list {
                            .dep2 {
                                display:block;
                                position:relative;
                                padding:11px 20px 11px 0;
                                color:#111;
                                font-size:14px;
                                line-height:18px;
                                &::before {
                                    content:' ';
                                    position:absolute;
                                    top:50%;
                                    right:14px;
                                    width:1px;
                                    height:11px;
                                    margin-top:-5px;
                                    border-radius:1px;
                                    background:#111;
                                    transform:rotate(0deg);
                                    transition:all .3s;
                                }
                                &::after {
                                    content:' ';
                                    position:absolute;
                                    top:50%;
                                    right:14px;
                                    width:1px;
                                    height:11px;
                                    margin-top:-5px;
                                    border-radius:1px;
                                    background:#111;
                                    transform:rotate(-90deg);
                                    transition:all .3s;
                                }
                                &:only-child {
                                    &::before, &::after {
                                        display:none;
                                    }
                                }
                            }
                            &.active {
                                .dep2 {
                                    &::before {
                                        transform:rotate(135deg);
                                    }
                                    &::after {
                                        transform:rotate(45deg);
                                    }
                                }
                            }
                        }
                    }
                    .hidden + .dep2-wrap {
                        margin-top:-16px;
                        border-top:none;
                    }

                    .dep3-wrap {
                        display:none;
                        padding:6px 0 10px;
                        .dep3 {
                            display:block;
                            padding:6px 8px;
                            color:#616161;
                            font-size:12px;
                            line-height:16px;
                        }
                    }
                }
            }
        }
        // link-wrap - PC
        @media screen and (min-width:768px) {
            .link-wrap {
                margin:0 -6px;
                padding-bottom:24px;
                font-size:0;
                .link-section {
                    display:inline-block;
                    width:12.5%;
                    margin-top:48px;
                    padding:0 6px;
                    vertical-align:top;
                    @media screen and (max-width:1200px) {
                        width:20%;
                    }
                    h5.dep1 {
                        height:32px;
                        margin-top:32px;
                        padding-bottom:16px;
                        a, span {
                            display:inline-block;
                            color:#111;
                            font-size:14px;
                            line-height:16px;
                            font-weight:500;
                            vertical-align:top;
                        }
                        &.hidden {
                            a, span {
                                width:0;
                                height:0;
                                font-size:0 !important;
                                overflow:hidden;
                            }
                        }
                        &:first-child {
                            margin-top:0;
                        }
                        &.new {
                            a {
                                position:relative;
                                padding-right:16px;
                                &::after {
                                    content:' ';
                                    position:absolute;
                                    top:50%;
                                    right:0;
                                    width:14px;
                                    height:14px;
                                    margin-top:-7px;
                                    background:url('/lg5-common/images/icons/icon-blank-arr.svg') center no-repeat;
                                    background-size:100%;
                                }
                            }
                        }
                    }
                    .dep2-wrap {
                        .dep2-list {
                            margin-top:4px;
                            &:first-child {
                                margin-top:0;
                            }
                            .dep2 {
                                display:inline-block;
                                color:#111;
                                font-size:12px;
                                line-height:16px;
                                vertical-align:top;
                            }
                        }
                    }
                    .dep3-wrap {
                        margin:6px 0 16px;
                        > li {
                            margin-top:4px;
                            &:first-child {
                                margin-top:0;
                            }
                        }
                        .dep3 {
                            display:inline-block;
                            color:#616161;
                            font-size:12px;
                            line-height:16px;
                            vertical-align:top;
                        }
                    }
                }
            }   
        }

        .foot-bottom {
            padding-top:20px;
            border-top:1px solid #ddd;
            @include mobile {
                padding:0;
                margin-top:12px;
                border-top:none;
            }
            .bottom-head {
                position:relative;
                padding-left:117px;
                h6 {
                    position:absolute;
                    top:0;
                    left:0;
                    width:88px;
                    height:24px;
                    background:url('/lg5-common/images/foot-logo.svg') center no-repeat;
                    background-size:100%;
                    font-size:0;
                }
                .bottom-link {
                    font-size:0;
                    li {
                        display:inline-block;
                        margin-left:16px;
                        vertical-align:top;
                        &:first-child {
                            margin-left:0;
                        }
                        a {
                            display:inline-block;
                            border-bottom:1px solid transparent;
                            color:#111;
                            font-size:12px;
                            line-height:19px;
                            font-weight:500;
                            &:hover {
                                border-color:#111;
                            }
                        }
                    }
                }
                .sns-link {
                    position:absolute;
                    top:0px;
                    right:0;
                    font-size:0;
                    li {
                        display:inline-block;
                        margin-left:8px;
                        vertical-align:top;
                        &:first-child {
                            margin-left:0;
                        }
                        a {
                            display:block;
                            width:24px;
                            height:24px;
                            font-size:0;
                            @for $i from 1 through 6 {
                                &.sns#{$i} {
                                    background:url('/lg5-common/images/icons/icon-sns#{$i}.svg') center no-repeat;
                                    background-size:100%;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width:1200px) {
                    padding-left:0;
                    h6 {
                        position:relative;
                        top:initial;
                        left:initial;
                    }
                    .bottom-link {
                        margin-top:24px;
                    }
                }
                @include mobile {
                    padding:40px 24px 0;
                    background:#ededed;
                    .bottom-link {
                        margin-top:18px;
                        li {
                            width:50%;
                            margin-top:10px;
                            margin-left:0;
                        }
                    }
                    .sns-link {
                        position:relative;
                        top:initial;
                        right:initial;
                        margin-top:20px;
                        li {
                            margin-left:12px;
                        }
                    }
                }
            }
            .bottom-body {
                position:relative;
                padding-left:117px;
                .comp-info {
                    margin-top:12px;
                    p {
                        color:#616161;
                        font-size:12px;
                        line-height:20px;
                        &.info {
                            margin-bottom:4px;
                        }
                        span {
                            display:inline-block;
                            margin-right:8px;
                            vertical-align:top;
                            &:last-child {
                                margin-right:0;
                            }
                        }
                    }
                }
                .foot-last {
                    margin-top:24px;
                    @include clearfix;
                    .dropdown-wrap {
                        float:left;
                        .dropdowns {
                            display:inline-block;
                            position:relative;
                            margin-right:29px;
                            vertical-align:top;
                            .slt-btn {
                                display:inline-block;
                                color:#222;
                                font-size:12px;
                                line-height:20px;
                                font-weight:500;
                                vertical-align:top;
                                &::after {
                                    content:' ';
                                    display:inline-block;
                                    width:6px;
                                    height:6px;
                                    margin-left:7px;
                                    margin-top:6px;
                                    border:1px solid #616161;
                                    border-top:none;
                                    border-left:none;
                                    transform:rotate(45deg);
                                    vertical-align:top;
                                }
                            }
                            .lists {
                                display:none;
                                position:absolute;
                                bottom:-8px;
                                left:-8px;
                                z-index:10;
                                width:140px;
                                padding:4px;
                                border-radius:4px;
                                background:#fff;
                                li {
                                    a {
                                        display:block;
                                        padding:0 4px;
                                        color:#979797;
                                        font-size:12px;
                                        line-height:28px;
                                        font-weight:500;
                                        &.selected, &:hover {
                                            background:#f4f4f4;
                                            color:#111;
                                        }
                                    }
                                }
                            }
                            &.open {
                                .lists {
                                    display:block;
                                }
                            }
                        }
                    }
                    .ismsp {
                        float:right;
                        color:#616161;
                        font-size:14px;
                        line-height:22px;
                        font-weight:500;
                        &::before {
                            content:' ';
                            display:inline-block;
                            width:24px;
                            height:22px;
                            margin-right:4px;
                            background:url('/lg5-common/images/img-ismsp.png') center no-repeat;
                            background-size:100%;
                            vertical-align:top;
                        }
                    }
                }
                @media screen and (max-width:1113px) {
                    padding-left:0;
                }
                @include mobile {
                    padding:73px 24px 40px;
                    background:#ededed;
                    &::before {
                        content:' ';
                        position:absolute;
                        top:40px;
                        right:24px;
                        left:24px;
                        height:1px;
                        background:#adadad;
                    }
                    .comp-info {
                        margin-top:0;
                        p.info {
                            margin-top:-2px;
                            margin-bottom:12px;
                            span {
                                margin-top:2px;
                            }
                        }
                    }
                    .foot-last {
                        margin-top:20px;
                        .dropdown-wrap {
                            float:none;
                            font-size:0;
                            .dropdowns {
                                width:50%;
                                margin-right:0;
                            }
                        }
                        .ismsp {
                            display:inline-block;
                            float:none;
                            margin-top:40px;
                        }
                    }
                }
            }
        }
    }
}