/*  footer */
footer {
    padding:0 40px 48px;
    background:#f4f4f4;
    @media screen and (max-width:1200px) {
        padding-bottom:66px;
    }
    /* 20210601 : BTOCSITE-874 추가 */
    @include pc {
        .pc-only-ib{display: inline-block;}
    }
    @include mobile {
        .pc-only-ib{display: none;}
        padding: 16px 0 60px;
    }
    /* 20210601 : BTOCSITE-874 추가 */
    // footer cont
    .foot-cont {
        .cont-area {
            max-width:1284px;
            margin:0 auto;
        }

        // link-wrap - Mobile
        @media screen and (max-width:767px) {
            .link-wrap {
                .link-section {
                    border-bottom:1px solid #ddd;
                    .dep1 {
                        position:relative;
                        padding:0 52px 0 16px;
                        &::after {
                            content:' ';
                            position:absolute;
                            right:16px;
                            top:50%;
                            width:16px;
                            height:16px;
                            margin-top:-10px;
                            background:url('/lg5-common/images/icons/btn-arr-16-black.svg') center no-repeat;
                            background-size:100%;
                            transform: rotate(90deg);
                            transition:all .3s;
                        }
                        a, span {
                            display:block;
                            padding:17px 0;
                            color:#000;
                            font-size:13px;
                            line-height:21px;
                            font-weight:700;
                        }
                        a[target="_blank"] {
                            white-space:nowrap;
                            &::after {
                                content:' ';
                                display:inline-block;
                                width:16px;
                                height:16px;
                                margin-left:4px;
                                background:url('/lg5-common/images/icons/btn-outlink-16.svg') center no-repeat;
                                background-size:100%;
                                vertical-align:-3px;
                            }
                        }
                        &.hidden {
                            display:none !important;
                        }
                        &.dep1-only {
                            &::after {
                                display:none;
                            }
                        }
                    }
                    &.on {
                        .dep1::after {
                            transform:rotate(270deg);
                        }
                        .dep1 
                            a {
                                //text-decoration:underline;
                            }
                    }
                    &:first-child {
                        .dep1 {
                            border-top:none;
                        }
                    }

                    .dep2-wrap {
                        padding:0 16px;
                        border-top:1px solid #ddd;
                        .dep2-list {
                            border-top:1px solid #ddd;
                            &:first-child {
                                border-top:none;
                            }
                            .dep2 {
                                display:block;
                                position:relative;
                                padding-right:20px;
                                &::after {
                                    content:' ';
                                    position:absolute;
                                    top:50%;
                                    right:2px;
                                    width:16px;
                                    height:16px;
                                    margin-top:-8px;
                                    background:url('/lg5-common/images/icons/btn-plus-16.svg') center no-repeat;
                                    background-size:100%;
                                    transition:all 0.3s;
                                }
                                &:only-child {
                                    &::after {
                                        display:none;
                                    }
                                }
                                a, span {
                                    display:block;
                                    padding:12px 0;
                                    color:#000;
                                    font-size:11px;
                                    line-height:19px;
                                    font-weight:500;
                                }
                                a {
                                    &[target="_blank"] {
                                        white-space:nowrap;
                                        &::after {
                                            content:' ';
                                            display:inline-block;
                                            width:16px;
                                            height:16px;
                                            margin-left:4px;
                                            background:url('/lg5-common/images/icons/icon-blank-arr2.svg') center no-repeat;
                                            background-size:100%;
                                            vertical-align:top;
                                        }
                                    }
                                }
                            }
                            &.on {
                                .dep2 {
                                    &::after {
                                        transform:rotate(135deg);
                                    }
                                    a {
                                        //text-decoration:underline;
                                    }
                                }
                            }
                        }
                    }
                    .hidden + .dep2-wrap {
                        margin-top:-16px;
                        border-top:none;
                    }

                    .dep3-wrap {
                        padding:16px 0;
                        border-top:1px solid #ddd;
                        > li {
                            margin-top:12px;
                            &:first-child {
                                margin-top:0;
                            }
                        }
                        .dep3 {
                            display:block;
                            //padding:0 12px;
                            color:#767676;
                            font-size:11px;
                            line-height:19px;
                            //font-weight:500;
                            &[target="_blank"] {
                                white-space:nowrap;
                                &::after {
                                    content:' ';
                                    display:inline-block;
                                    width:16px;
                                    height:16px;
                                    margin-left:4px;
                                    background:url('/lg5-common/images/icons/icon-blank-arr3.svg') center no-repeat;
                                    background-size:100%;
                                    vertical-align:top;
                                }
                            }
                        }
                    }
                }
            }
        }
        // link-wrap - PC
        @media screen and (min-width:768px) {
            .pc-dropdown-wrap {
                position:relative;
                padding-bottom:136px;
                .btns {
                    position:absolute;
                    bottom:0;
                    right:0;
                    left:0;
                    padding:48px 0;
                    text-align:center;
                    .btn.border {
                        &::after {
                            content:' ';
                            display:inline-block;
                            width:16px;
                            height:16px;
                            margin-left:4px;
                            margin-top:4px;
                            background:url('/lg5-common/images/icons/icon-arr-footer-16.svg') center no-repeat;
                            vertical-align:top;
                            transition:all 0.3s;
                        }
                        &:hover,
                        &:focus,
                        &:active {
                            border-color:#000 !important;
                            background-color: transparent;
                            color: #000;
                        }
                    }
                }
                &.open {
                    .btns {
                        padding-top: 6px;
                        .btn.border::after {
                            transform:rotate(180deg);
                        }
                    }
                }
                .link-wrap {
                    display:none;
                }
                &.open {
                    .link-wrap {
                        display:block;
                    }
                }
            }
            .link-wrap {
                margin:-12px -6px -20px;
                padding-bottom:16px;
                font-size:0;
                .link-section {
                    display:inline-block;
                    width:12.5%;
                    margin-top:48px;
                    padding:0 6px;
                    vertical-align:top;
                    @media screen and (max-width:1200px) {
                        width:25%;
                    }
                    div.dep1 {
                        height:36px;
                        margin-top:28px;
                        padding-bottom:20px;
                        a, span {
                            display:inline-block;
                            color:#000;
                            font-size:14px;
                            line-height:16px;
                            font-weight:700;
                            vertical-align:top;
                        }
                        a[target="_blank"] {
                            white-space:nowrap;
                            &::after {
                                content:' ';
                                display:inline-block;
                                width:16px;
                                height:16px;
                                margin-left:4px;
                                background:url('/lg5-common/images/icons/icon-blank-arr.svg') center no-repeat;
                                background-size:100%;
                                vertical-align:top;
                            }
                        }
                        &.hidden {
                            a, span {
                                width:0;
                                height:0;
                                font-size:0 !important;
                                overflow:hidden;
                            }
                        }
                        &:first-child {
                            margin-top:0;
                        }
                    }
                    .dep2-wrap {
                        .dep2-list {
                            margin-top:6px;
                            &:first-child {
                                margin-top:0;
                            }
                            .dep2 {
                                a, span {
                                    display:inline-block;
                                    color:#000;
                                    font-size:12px;
                                    line-height:16px;
                                    font-weight:500;
                                    vertical-align:top;
                                }
                                a {
                                    &[target="_blank"] {
                                        white-space:nowrap;
                                        &::after {
                                            content:' ';
                                            display:inline-block;
                                            width:16px;
                                            height:16px;
                                            margin-left:4px;
                                            background:url('/lg5-common/images/icons/icon-blank-arr2.svg') center no-repeat;
                                            background-size:100%;
                                            vertical-align:top;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dep3-wrap {
                        margin:6px 0 20px;
                        > li {
                            margin-top:4px;
                            &:first-child {
                                margin-top:0;
                            }
                        }
                        .dep3 {
                            display:inline-block;
                            color:#616161;
                            font-size:12px;
                            line-height:16px;
                            //font-weight:500;
                            vertical-align:top;
                            &[target="_blank"] {
                                white-space:nowrap;
                                &::after {
                                    content:' ';
                                    display:inline-block;
                                    width:16px;
                                    height:16px;
                                    margin-left:4px;
                                    background:url('/lg5-common/images/icons/icon-blank-arr3.svg') center no-repeat;
                                    background-size:100%;
                                    vertical-align:top;
                                }
                            }
                            &:hover,
                            &:focus {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }   
        }

        .foot-bottom {
            border-top:1px solid #ddd;
            @include mobile {
                padding:0 16px;
                border-top:none;
            }
            .bottom-head {
                position:relative;
                padding:16px 0;
                @include clearfix;
                .dropdown-wrap {
                    float:left;
                    .dropdowns {
                        display:inline-block;
                        position:relative;
                        margin-right:24px;
                        padding: 8px 0;
                        vertical-align:top;
                        .slt-btn {
                            display:inline-block;
                            color:#000;
                            font-size:12px;
                            line-height:16px;
                            font-weight:500;
                            vertical-align:top;
                            &::after {
                                content:' ';
                                display:inline-block;
                                width:16px;
                                height:16px;
                                margin:0 0 0 4px;
                                background:url("/lg5-common/images/icons/btn-down-16-black.svg") center no-repeat;
                                vertical-align:top;
                                transition: all .3s;
                            }
                        }
                        .lists {
                            display:none;
                            position:absolute;
                            top:33px;
                            left:50%;
                            transform:translateX(-50%);
                            z-index:10;
                            padding:4px 0;
                            border-radius:4px;
                            background:#fff;
                            box-shadow:2px 4px 12px 0 rgba(#000, .16);
                            li {
                                a {
                                    display:block;
                                    padding:0 20px;
                                    color:#000;
                                    font-size:12px;
                                    line-height:40px;
                                    text-align:center;
                                    font-weight:500;
                                    white-space:nowrap;
                                    &.selected, &:hover {
                                        background:#f4f4f4;
                                    }
                                }
                            }
                        }
                        &.open {
                            .slt-btn {
                                &::after {
                                    transform: rotate(180deg);
                                }
                            }
                            .lists {
                                display:block;
                            }
                        }
                    }
                }
                .sns-link {
                    display: flex;
                    float:right;
                    font-size:0;
                    li {
                        //display:flex;
                        margin-left:20px;
                        //vertical-align:top;
                        &:first-child {
                            margin-left:0;
                        }
                        a {
                            display:flex;
                            align-items: center;
                            //padding-left: 40px;
                            font-weight: 500;
                            @include font(12px,16px);
                            color: $color-gray-1;
                            &:before {
                                display: inline-block;
                                margin-right: 4px;
                                width: 28px;
                                height: 28px;
                                background: no-repeat center center;
                                background-size: 100%;
                                content: '';
                            }
                            @for $i from 1 through 6 {
                                &.sns#{$i} {
                                    &:before {
                                        background-image:url('/lg5-common/images/icons/icon-sns#{$i}.svg');
                                    }
                                }
                            }
                            &.sns4 {
                                &:before {
                                    background-image:url('/lg5-common/images/icons/icon-sns5.svg');
                                }
                            }
                            &.sns5 {
                                &:before {
                                    background-image:url('/lg5-common/images/icons/icon-sns1.svg');
                                }
                            }
                            &.sns6 {
                                &:before {
                                    background-image:url('/lg5-common/images/icons/icon-sns4.svg');
                                }
                            }
                        }
                    }
                }
                @include tablet {
                    padding:16px 0;
                    .dropdown-wrap {
                        float: none;
                        .dropdowns {
                            padding: 0;
                            .slt-btn {
                                line-height: 16px;
                            }
                        }
                    }
                    .sns-link {
                        display: flex;
                        //justify-content: space-evenly;
                        flex-wrap: wrap;
                        float: none;
                        margin-top: 16px;
                        li {
                            width: (100% / 5);
                            margin-top: 8px;
                            margin-left:0;
                            a {
                                padding-left: 0;
                                background-position: center top;
                                text-align: center;
                                &:before {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
                @include mobile {
                    padding:40px 0 20px;
                    .dropdown-wrap {
                        font-size:0;
                        .dropdowns {
                            margin-right:0;
                            margin-left:6px;
                            width:calc((100% - 6px) / 2);
                            &:first-child {
                                margin-left:0;
                            }
                            .slt-btn {
                                position:relative;
                                display:block;
                                padding:11px 28px 11px 12px;
                                border:1px solid #ddd;
                                border-radius:8px;
                                &::after {
                                    position:absolute;
                                    top:50%;
                                    right:12px;
                                    margin:-8px 0 0 0;
                                    background:url('/lg5-common/images/icons/icon-arr-40-bk.svg') center no-repeat;
                                    background-size:100%;
                                }
                            }
                            .lists {
                                top:48px;
                                left:0;
                                right:0;
                                transform:translateX(0);
                            }
                        }
                    }
                    .sns-link {
                        margin:12px -14px 0;
                        li {
                            width: (100% / 3);
                            margin-top: 0;
                            padding: 0 14px;
                            a {
                                flex-direction: column;
                                padding: 12px 0;
                            }
                        }
                    }
                }
            }
            .bottom-body {
                position:relative;
                padding-top:16px;
                border-top:1px solid #ddd;
                .bottom-link {
                    font-size:0;
                    li {
                        display:inline-block;
                        margin-left:12px;
                        vertical-align:top;
                        @include mobile {
                            width:50%;
                            margin-top:16px;
                            margin-left:0;
                        }
                        &:first-child {
                            margin-left:0;
                        }
                        a {
                            display:inline-block;
                            color:#000;
                            @include font(12px,16px);
                            &:hover {
                                text-decoration:underline;
                            }
                        }
                    }
                }
                // 고객센터 번호
                .call-to {
                    margin-top: 8px;
                    font-size: 0;
                    li {
                        display: inline-block;
                        font-size: 12px;
                        line-height: 16px;
                        color: $color-gray-1;
                        a {
                            color: $color-default;
                        }
                        &:not(:last-child):after {
                            display: inline-block;
                            width: 1px;
                            height: 10px;
                            margin: 0 6px;
                            background-color: $color-gray-4;
                            vertical-align: -1px;
                            content: '';
                        }
                    }
                    @include mobile {
                        margin-top: 24px;
                        li {
                            &:not(:last-child) {
                                margin-right: 12px;
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                /* 20210513 운영시간 추가 */
                //운영시간
                .time-to {
                    margin-top: 8px;
                    font-size: 0;
                    li {
                        display: inline-block;
                        font-size: 12px;
                        line-height: 16px;
                        color: $color-gray-1;
                        p {
                            span {
                                color: #000;
                            }
                        }
                    }
                    @include mobile {
                        margin-top: 0px;
                        li {
                            &:not(:last-child) {
                                margin-right: 12px;
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                /* //20210513 운영시간 추가 */
                .comp-info {
                    margin-top:16px;
                    padding-right:220px;
                    @media screen and (max-width:1200px) {
                        padding-right:0;
                    }
                    p {
                        margin-top: 4px;
                        color:#767676;
                        @include font(12px,16px);
                        &.info {
                            margin-bottom:4px;
                        }
                        @include mobile {
                            margin-top: 0;
                            &.info {
                                span {
                                    margin-top: 4px;
                                }
                            }
                        }
                        span {
                            display:inline-block;
                            margin-right:16px;
                            vertical-align:top;
                            &:last-child {
                                margin-right:0;
                            }
                        }
                        &:first-child {
                            margin-bottom:12px;
                            @include mobile {
                                margin-bottom: 16px;
                            }
                        }
                    }
                }
                .foot-last {
                    position:absolute;
                    right:0;
                    bottom:0;
                    @media screen and (max-width:1200px) {
                        position:relative;
                        right:auto;
                        bottom:auto;
                        margin-top:24px;
                    }
                    .ismsp {
                        position:relative;
                        display:inline-block;
                        padding:8px 0 8px 56px;
                        color:#000;
                        @include font(12px,16px);
                        font-weight:500;
                        @include mobile {
                            padding:0 0 0 40px;
                        }
                        &::before {
                            content:' ';
                            position:absolute;
                            top:50%;
                            left:0;
                            width:48px;
                            height:48px;
                            margin-top:-24px;
                            background:url('/lg5-common/images/img-ismsp.png') center no-repeat;
                            background-size:100%;
                            @include mobile {
                                width:32px;
                                height:32px;
                                margin-top:-16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.no-footer {
    padding:24px 40px;
    text-align:center;
    @include mobile {
        padding:24px 20px;
    }
}

/* BTOCSITE-1967 */
.mdevice {
    &:not(.app) {
        @include mobile {
            $statusbarHeight: 70px;
            footer {
                &:not(.no-footer) {
                    padding-bottom:60px + $statusbarHeight;
                }
            }
        }
    }
}