.skip-content {
    a {
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        background: #000;
        color: #fff;
        text-align: center;
        &:focus {
            position: relative;
            width: 100%;
            height: auto;
            padding: 10px;
        }
    }
}


@include pc {
    .header-mobile,
    .mobile-nav-button,
    .login-mobile,
    .nav-service {
        display: none;
    }
}

@media screen and  (min-width: 768px) and (max-width: 1130px) {
    .header-top, // PC Header
    .header-bottom,
    .category-search {
        display: none;
    }
    .header-mobile, // Mobile Header
    .mobile-nav-button,
    .login-mobile,
    .nav-service {
        display: block;
    }
}

@include mobile {
    .header-top, // PC Header
    .header-bottom,
    .category-search {
        display: none;
    }
    .header-mobile, // Mobile Header
    .mobile-nav-button,
    .login-mobile,
    .nav-service {
        display: block;
    }
}

.scroll-fixed {
    overflow: hidden;
}

.header-wrap {
    max-width: 1920px;
    padding: 0 40px;
    margin: 0 auto;

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        max-width: 100%;
        padding: 0;
    }

    @include mobile {
        max-width: 100%;
        padding: 0;
    }
}

.header-top {
    // position: relative;
    padding: 28px 0 20px;
    @include clearfix;
}

.header-bottom {
    // position: relative;
    @include clearfix;
    .nav-left {
        float: left;
    }
    .nav-brand {
        float: right;
    }

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        padding: 0;
        .nav-left,
        .nav-brand {
            float: none;
        }
    }

    @include mobile {
        padding: 0;
        .nav-left,
        .nav-brand {
            float: none;
        }
    }
}

.header-mobile {
    position: relative;
    padding: 23px 20px 30px;
    
    .category-shortcut {
        margin: 62.5px -10px 0;
        @include clearfix;
        li {
            float: left;
            a {
                padding: 0 10px;
                font-weight: 700;
                font-size: 22px;
                line-height: 22px;
                color: #111;
            }
        }
    }

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        padding: 22px 40px 32px;

        .category-shortcut {
            margin: 58px -12px 0;
            li {
                a {
                    padding: 0 12px;
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }
    }
}

.logo {
    float: left;
    a {
        display: block;
        width: 122px;
        height: 32px;
        background-image: url("/lg5-common/images/logo.svg");
        background-size: 100% 100%;
    }

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        float: none;
    }

    @include mobile {
        float: none;
        a {
            @include calc-mobile-size('width', 171px);
            @include calc-mobile-size('height', 45px);
        }
    }
}

.utility {
    //float: right;
    position: absolute;
    top: 96px;
    @include calc(right, 50%, 920px);

    @media screen and (max-width: 1920px) {
		right: 40px;
	}
    
    .shortcut {
        display: inline-block;
        vertical-align: middle;
        // margin: 0 -16px;
        li {
            float: left;
            margin: 0 12px;
            a {
                display: block;
                width: 28px;
                height: 28px;
                background: no-repeat center center;
                &.search {
                    //@include icon-search;
                }
                &.mypage {
                    //@include icon-login;
                }
                &.cart {
                    //@include icon-cart;
                }

                @include mobile {
                    width: 28px;
                    height: 28px;
                    background-size: 18px;
                }
            }
        }
    }
    
    .business {
        display: inline-block;
        vertical-align: middle;
        &:before {
            display: inline-block;
            width: 1px;
            height: 15px;
            margin: 0 16px 0 4px;
            background-color: #111;
            content: '';
        }
        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #111;
        }
    }

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        position: absolute;
        top: 20px;
        right: 77px;
        .shortcut {
            li {
                a {
                    &.search {
                        width: 40px;
                        height: 40px;
                        background-size: 27px 26px;
                    }
                }
            }
        }
    }

    @include mobile {
        position: absolute;
        top: 20px;
        right: 50px;
        .shortcut {
            li {
                a {
                    &.search {
                        width: 28px;
                        height: 28px;
                        background-size: 18px;
                    }
                }
            }
        }
    }
}

.nav {
    margin: 0 -28px;
    @include clearfix;
    > li {
        float: left;
    }
    
    .nav-item {
        position: relative;
        display: block;
        padding: 21px 28px;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #111;
        &:hover,
        &:focus,
        &.active {
            color: #a50034;
            .icon-nav {
                background-color: #a50034;
                &:after {
                    display: none;
                }
            }
        }
        &.active {
            float: left;
            & + .nav-category-container {
                display: block;
            }
        }

        .icon-nav {
            position: absolute;
            @include calc(top, 50%, 10px);
            right: 3px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #111;
            // vertical-align: -3px;
            &:before,
            &:after {
                position: absolute;
                top: calc(50% - 1px);
                left: calc(50% - 4px);
                width: 8px;
                height: 2px;
                border-radius: 1px;
                background-color: #fff;
                content: '';
            }
            &:after {
                transform: rotate(-270deg);
            }
        }
    }
    
    // @media screen and (max-width: 1284px) {
    @media screen and (max-width: 1500px) {
        margin: 0 -18px;
        .nav-item {
            padding: 21px 18px;
        }
        .nav-category-product {
            .nav-item {
                padding-right: 28px;
            }
        }
    }
    // @media screen and (max-width: 1024px) {
    @media screen and (max-width: 1400px) {
        margin: 0 -8px;
        .nav-item {
            font-size: 16px;
            padding: 21px 8px;
            .icon-nav {
                @include calc(top, 50%, 7px);
                right: 8px;
                width: 16px;
                height: 16px;
                &:before,
                &:after {
                    left: calc(50% - 4px);
                    width: 8px;
                    height: 2px;
                }
            }
        }
        .nav-category-product {
            .nav-item {
                padding-right: 28px;
            }
        }
    }

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        margin: 0;
        > li {
            float: none;
        }
    
        .nav-item {
            position: relative;
            padding: 20px;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #212121;
            &:hover,
            &:focus,
            &.active {
                color: inherit;
                .icon-nav {
                    background-color: transparent;
                    &:before {
                        transform: rotate(-45deg);
                    }
                    &:after {
                        display: block;
                        transform: rotate(45deg);
                    }
                }
            }
            &.active {
                float: none;
            }

            .icon-nav {
                position: absolute;
                top: calc(50% - 12px);
                right: 20px;
                margin-left: 0;
                border-radius: 0;
                background-color: transparent;
                &:before,
                &:after {
                    top: calc(50% - 1px);
                    width: 10px;
                    height: 2px;
                    background-color: #212121;
                }
                &:before {
                    left: calc(50% - 8px);
                    transform: rotate(45deg);
                }
                &:after {
                    left: calc(50% - 1px);
                    transform: rotate(-45deg);
                }
            }
        }
    }
    @include mobile {
        margin: 0;
        > li {
            float: none;
        }
    
        .nav-item {
            position: relative;
            padding: 20px;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #212121;
            &:hover,
            &:focus {
                color: inherit;
                .icon-nav {
                    background-color: transparent;
                    &:before {
                        transform: rotate(45deg);
                    }
                    &:after {
                        display: block;
                        transform: rotate(-45deg);
                    }
                }
            }
            
            &.active {
                float: none;
                color: inherit;
                .icon-nav {
                    background-color: transparent;
                    &:before {
                        transform: rotate(-45deg);
                    }
                    &:after {
                        display: block;
                        transform: rotate(45deg);
                    }
                }
                &:hover,
                &:focus {
                    .icon-nav {
                        &:before {
                            transform: rotate(-45deg);
                        }
                        &:after {
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            .icon-nav {
                position: absolute;
                top: calc(50% - 8px);
                right: 20px;
                margin-left: 0;
                border-radius: 0;
                background-color: transparent;
                &:before,
                &:after {
                    top: calc(50% - 1px);
                    width: 10px;
                    height: 2px;
                    background-color: #212121;
                }
                &:before {
                    left: calc(50% - 8px);
                    transform: rotate(45deg);
                }
                &:after {
                    left: calc(50% - 1px);
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.nav-category-container {
    display: none;
    float: left;
    > ul {
        @include clearfix;
        > li {
            float: left;
            padding: 0 10px;
        }
    }

    .super-category-item {
        display: block;
        position: relative;
        padding: 22px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #4a4e57;

        &:hover,
        &:focus,
        &.active {
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #111;
                content: '';
            }
        }
        &.active {
            & + .nav-category-layer {
                display: block;
            }
        }
    }
    // @media screen and (max-width: 1024px) {
    @media screen and (max-width: 1400px) {
        > ul {
            > li {
                padding: 0 5px;
            }
        }
        .super-category-item {
            font-size: 14px;
        }
    }

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        float: none;
        padding: 8.5px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        > ul {
            margin-left: 0;
            > li {
                float: none;
                padding: 0;
            }
        }

        .super-category-item {
            position: relative;
            display: block;
            padding: 14px 40px;
            font-size: 14px;
            line-height: 14px;
            color: #616161;

            &:before,
            &:after {
                position: absolute;
                top: calc(50% - 1px);
                right: 27px;
                left: auto;
                width: 10px;
                height: 2px;
                border-radius: 1px;
                background-color: #616161;
                content: '';
            }
            &:after {
                transform: rotate(-270deg);
            }

            &:hover,
            &:focus,
            &.active {
                &:before,
                &:after {
                    left: auto;
                    width: 10px;
                    height: 2px;
                    background-color: #616161;
                }
            }
            
            &.active {
                color: #616161;
                &:after {
                    display: none;
                }
            }
        }
    }
    @include mobile {
        float: none;
        padding: 8.5px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        > ul {
            margin-left: 0;
            > li {
                float: none;
                padding: 0;
            }
        }

        .super-category-item {
            position: relative;
            display: block;
            padding: 14px 40px;
            font-size: 14px;
            line-height: 14px;
            color: #616161;

            &:before,
            &:after {
                position: absolute;
                top: calc(50% - 1px);
                right: 27px;
                left: auto;
                width: 10px;
                height: 2px;
                border-radius: 1px;
                background-color: #616161;
                content: '';
            }
            &:after {
                transform: rotate(-270deg);
            }

            &:hover,
            &:focus,
            &.active {
                &:before,
                &:after {
                    left: auto;
                    width: 10px;
                    height: 2px;
                    background-color: #616161;
                }
            }
            
            &.active {
                color: #616161;
                &:after {
                    display: none;
                }
            }
        }
    }
}

.nav-category-layer {
    display: none;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    z-index: 99;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;

    .category-inner {
        position: relative;
        max-width: 1920px;
        height: 720px;
        margin: 0 auto;
        padding: 80px 40px;
        background-color: #fff;
        @include clearfix;

        @media screen and (max-width: 1500px) {
            height: auto;
        }
    }

    .category-close {
        position: absolute;
        bottom: 20px;
        left: 50%;
        em {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #111;
        }
    }

    .category-title {
        // width: 230px;
        margin-bottom: 56px;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #111;
    }

    .category {
        // display: table;
        // width: 100%;
        // padding-right: 432px;
        > li {
            // position: relative;
            // display: table-cell;
            
            .category-item {
                position: relative;
                display: inline-block;
                margin-bottom: 36px;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #787878;
                &:hover,
                &:focus,
                &.active {
                    font-weight: 700;
                    color: #111;
                    &:before,
                    &:after {
                        position: absolute;
                        right: -12px;
                        width: 2px;
                        height: 8px;
                        border-radius: 1px;
                        background-color: #000;
                        content: '';
                    }
                    &:before {
                        @include calc(top, 50%, 6px);
                        transform: rotate(135deg);
                    }
                    &:after {
                        @include calc(bottom, 50%, 6px);
                        transform: rotate(-135deg);
                    }
                }
            }
            .sub-category {
                position: absolute;
                top: 0;
                left: 22%;
                // width: 412px;
                width: 22%;
                height: 100%;
                padding: 158px 44px;
                background-color: #f9f9f9;
                li {
                    margin-bottom: 36px;
                    &:first-child {
                        margin-top: 0;
                    }

                    a {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 18px;
                        color: #787878;
                    }
                }
                .category-item-view {
                    a {
                        position: relative;
                        color: #111;
                        &:after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: #111;
                            content: '';
                        }
                    }
                }
            }
        }
    }

    .category-search {
        position: absolute;
        top: 0;
        right: 0;
        left: 44%;
        height: 100%;
        padding: 158px 40px;
        background-color: #f9f9f9;
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            height: auto;
            margin: 80px 0;
            background-color: #ddd;
            content: '';
        }
        .tag-item {
            display: inline-block;
            margin-bottom: 8px;
            padding: 12px 16px;
            border: 1.4px solid #ddd;
            border-radius: 14px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: #616161;
        }
    }

    .category-banner {
        position: absolute;
        top: 0;
        right: 40px;
        padding: 80px 0;
        background-color: #f9f9f9;
        > div {
            position: relative;
            width: 400px;
            height: 560px;
            img {
                width: 100%;
            }
            .banner-text {
                position: absolute;
                top: 60px;
                left: 40px;
                span {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 28px;
                    color: #111;
                }
                p {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 28px;
                    color: #787878;
                }
            }
        }

        // @media screen and (max-width: 1284px) {
        @media screen and (max-width: 1500px) {
            > div {
                width: 303px;
                height: 424px;
                .banner-text {
                    top: 56px;
                    left: 24px;
                    span {
                        font-size: 24px;
                    }
                    p {
                        margin-top: 16px;
                    }
                }                   
            }
        }
    }

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        position: static;
        border-top: 0;
        background-color: #fff;
        
        .category-banner,
        .category-close {
            display: none;
        }

        .category-inner {
            max-width: auto;
            margin: 0;
            padding: 0;
        }
    
        .category-title {
            display: none;
        }

        .category-box {
            margin-left: 0;
        }

        .category {
            // display: block;  디자인이 없음
            display: none;
            padding-right: 0;
            
            > li {
                display: block;
                // padding: 0 60px;
                &:before {
                    display: none;
                }
                &:last-child {
                    .category-item {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
    
                .category-item {
                    margin-bottom: 0;
                    padding: 14px 60px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    &:hover,
                    &:focus,
                    &.active {
                        font-weight: 700;
                        color: #111;
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                    &.active {
                        & + .sub-category {
                            display: block;
                        }
                    }
                }

                .sub-category {
                    display: none;
                    position: static;
                    width: 100%;
                    height: auto;
                    padding: 0;
                    background-color: #fff;
                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 2.5;
                        color: #666;
                    }
                    .category-item-view {
                        display: none;
                    }
                }
            }
        }
    }

    @include mobile {
        position: static;
        border-top: 0;
        background-color: #fff;
        
        .category-banner,
        .category-close {
            display: none;
        }

        .category-inner {
            max-width: auto;
            margin: 0;
            padding: 0;
        }
    
        .category-title {
            display: none;
        }

        .category-box {
            margin-left: 0;
        }

        .category {
            // display: block;  디자인이 없음
            display: none;
            padding-right: 0;
            
            > li {
                display: block;
                // padding: 0 60px;
                &:before {
                    display: none;
                }
                &:last-child {
                    .category-item {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
    
                .category-item {
                    margin-bottom: 0;
                    padding: 14px 60px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    &:hover,
                    &:focus,
                    &.active {
                        font-weight: 700;
                        color: #111;
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                    &.active {
                        & + .sub-category {
                            display: block;
                        }
                    }
                }

                .sub-category {
                    display: none;
                    position: static;
                    width: 100%;
                    height: auto;
                    padding: 0;
                    background-color: #fff;
                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 2.5;
                        color: #666;
                    }
                    .category-item-view {
                        display: none;
                    }
                }
            }
        }
    }
}

.nav-brand {
    .title {
        display: none;
    }
    .brand-link {
        margin: 0 -14px;
        font-size: 0;
        li {
            position: relative;
            display: inline-block;
            margin: 0 14px;
            vertical-align: top;
            &:before {
                position: absolute;
                top: 4px;
                left: -16px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #000;
                content: '';
            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
            a {
                display: block;
                background: no-repeat 0 0;
                background-size: 100% 100%;
            }
            .lg-signature {
                width: 114px;
                height: 13px;
                background-image: url('../images/brand-signature.png');
            }
            .lg-objet {
                width: 63px;
                height: 15px;
                background-image: url('../images/brand-objet.png');
            }
            .lg-thinq {
                width: 65px;
                height: 13px;
                background-image: url('../images/brand-thinq.png');
            }
        }
    }

    @include pc {
        position: absolute;
        top: 38px;
        @include calc(right, 50%, 920px);
    }

    @media screen and (max-width: 1920px) {
		right: 40px;
	}

    @include mobile {
        padding: 22px 20px;
        border-top: 6px solid #f5f5f5;
        background-color: #fff;
        .title {
            display: block;
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: #616161;
        }
        .brand-link {
            li {
                margin-right: 20px;
                &:before {
                    display: none;
                }
            }
        }
    }
}

.nav-service {
    padding: 22px 20px;
    border-top: 6px solid #f5f5f5;
    background-color: #fff;
    .title {
        display: block;
        margin-bottom: 3px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #616161;
    }
    .service-link {
        @include clearfix;
        li {
            float: left;
            width: 50%;
            margin-top: 10px;
            a {
                position: relative;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                color: #212121;
                &:before,
                &:after {
                    position: absolute;
                    right: -9px;
                    width: 1px;
                    height: 7px;
                    border-radius: .5px;
                    background-color: #212121;
                    content: '';
                }
                &:before {
                    top: calc(50% - 6px);
                    transform: rotate(-45deg);
                    
                }
                &:after {
                    bottom: calc(50% - 6px);
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.mobile-nav-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    padding: 2.5px;
    text-align: center;

    span[class^=line-]{
        display: block;
        width: 24px;
        height: 2px;
        margin: 3px auto;
        border-radius: 0.9px;
        background-color: #000;
    }

    &.active {
        z-index: 100;
        .line-1 {
            margin: 0px 0 -2px;
            transform: rotate(45deg);
        }
        .line-2 {
            display: none;
        }
        .line-3 {
            margin: 0;
            transform: rotate(-45deg);
        }

        & + .header-bottom {
            @media screen and  (min-width: 768px) and (max-width: 1130px) {
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                overflow-y: auto;
                background-color: #fff;
            }
            @include mobile {
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                overflow-y: auto;
                background-color: #fff;
            }
        }
    }

    @media screen and  (min-width: 768px) and (max-width: 1130px) {
        top: 18px;
        width: 40px;
        height: 40px;
        right: 40px;
        span[class^=line-]{
            width: 32px;
        }
    }
}

.login-mobile {
    border-bottom: 6px solid #f5f5f5;
    &:before {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 68px;
        background-color: #fff;
        content: '';
    }

    .login-info {
        font-size: 16px;
        line-height: 16px;
        color: #212121;
        .text {
            display: inline-block;
            font-weight: 700;
            line-height: inherit;
            color: inherit;
        }
    }
    .logout {
        margin-top: 68px;
        padding: 25px 20px;
        .login-info {
            .text {
                padding-bottom: 1px;
                border-bottom: 1px solid #212121;
            }
        }
    }

    .login {
        margin-top: 68px;
        padding: 0 20px 28px;
        // &:before {
        //     position: fixed;
        //     top: 0;
        //     right: 0;
        //     left: 0;
        //     z-index: 1;
        //     width: 100%;
        //     height: 68px;
        //     background-color: #fff;
        //     content: '';
        // }
        .login-info {
            position: relative;
            display: inline-block;
            &:before,
            &:after {
                position: absolute;
                right: -9px;
                width: 2px;
                height: 9px;
                border-radius: 1px;
                background-color: #212121;
                content: '';
            }
            &:before {
                top: 2px;
                transform: rotate(-45deg);
                
            }
            &:after {
                bottom: 0;
                transform: rotate(45deg);
            }
            &.care-info {
                font-size: 14px;
                .text {
                    font-size: inherit;
                }
            }
        }
        .login-membership-info {
            margin: 16px 0 12px;
            padding: 20px;
            border-radius: 8px;
            background-color: #f5f5f5;
            @include clearfix;
            li {
                position: relative;
                float: left;
                width: 33.33%;
                text-align: center;
                &:before {
                    position: absolute;
                    top: calc(50% - 6px);
                    left: 0;
                    width: 1px;
                    height: 12px;
                    background-color: #d8d8d8;
                    content: '';
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                em {
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    color: #212121;
                }
                span {
                    font-weight: 700;
                    font-size: 16px;
                    color: #111;
                    &.point {
                        color: #a50034;
                    }
                }

                &.membership-point {
                    span {
                        color: #a50034;
                    }
                }
            }
        }
    }
}