@charset "utf-8";
@media (min-width:768px) {
    /* 화면낭독기 사용자용 */
    #hd_login_msg {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
        line-height: 0;
        overflow: hidden
    }
    .msg_sound_only,
    .sound_only {
        display: inline-block !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 0px !important;
        height: 0px !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 0 !important;
        line-height: 0 !important;
        border: 0 !important;
        overflow: hidden !important
    }
    /* 본문 바로가기 */
    #skip_to_container a {
        z-index: 100000;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        font-size: 0;
        line-height: 0;
        overflow: hidden
    }
    #skip_to_container a:focus,
    #skip_to_container a:active {
        width: 100%;
        height: 75px;
        background: #21272e;
        color: #fff;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        line-height: 3.3em
    }
    #hd_h1 {
        position: absolute;
        font-size: 0;
        line-height: 0;
        overflow: hidden
    }
    #wrap {
        overflow: hidden;
    }
    #hd {
        position: fixed;
        z-index: 5000;
        width: 100%;
        /*min-width: 1280px;*/
        top: 0px;
        left: 0px;
        border-bottom: 1px solid #e0e0e0;
    }
    /* #hd.type02 { border-bottom: 1px solid #ffffff3d; }*/
    #hd .head {
        position: relative;
        z-index: 99;
        margin: 0 auto;
    }
    #hd .head .logo {
        position: absolute;
        left: 40px;
        top: 16px;
    }
    #hd .head .logo a {
        display: block;
        width: 128px;
        height: 24px;
        text-indent: -9999px;
        background: url("../images/common/logo.png") no-repeat;
        background-size: contain;
    }
    #hd .head .gnb {}
    #hd .gnb>ul {
        text-align: center;
    }
    #hd .gnb>ul>li {
        display: inline-block;
        margin-left: 64px;
        line-height: 55px;
    }
    #hd .gnb>ul>li:first-child {
        margin-left: 0px;
    }
    #hd .gnb>ul>li.lgUrl {
        padding-left: 28px;
        margin-left: 35px;
        background: url("../images/common/lg-line.png") left center no-repeat;
    }
    #hd .gnb>ul>li.lgUrl span {
        display: inline-block;
        width: 65px;
        padding-right: 20px;
        background: url("../images/new_img/ico-home.png") no-repeat center right;
    }
    #hd .gnb>ul>li>a {
        display: inline-block;
        color: #282828;
    }
    #hd .gnb>ul>li>a:hover,
    #hd .gnb>ul>li>a.active {
        font-weight: 500;
        box-shadow: inset 0 -2px 0 0 #282828;
    }
    /*#hd.type02 .head .logo a { background: url("../images/common/logo-white.png") no-repeat; background-size: contain; }
	#hd.type02 .head .gnb > ul > li > a { color: #fefefe; }
	#hd.type02 .gnb > ul > li > a:hover,#hd.type02 .gnb > ul > li > a.active { box-shadow: inset 0 -2px 0 0 #fff; }*/
    .header_bg {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 55px;
        opacity: 0.88;
        background-color: #ffffff;
    }
    @media (max-width:1280px) {
        #hd .gnb>ul {
            padding-left: 150px;
        }
        #hd .gnb>ul>li {
            margin-left: 44px;
        }
    }
    #container {}
    #container.main {
        padding-bottom: 0px;
    }
    .h2Tile.simul {
        display: block;
        width: 860px;
        margin: 0 auto;
        line-height: 1.29;
        font-weight: 500;
        color: #787878;
        letter-spacing: -0.08px;
    }
    .h2Tile.gallery {
        display: block;
        /*width: 1300px; */
        margin: 0 auto;
        font-size: 120px;
        line-height: 144px;
        font-weight: bold;
        color: #101010;
        letter-spacing: -1.11px;
    }
    #contents.simulator {
        padding-top: 162px;
    }
    #contents.gallery {
        padding: 136px 0px 160px;
    }
    #ft {
        position: relative;
        z-index: 5001;
        width: 100%;
        padding: 20px 0px 52px;
        background: #fff;
    }
    #ft .footer {
        position: relative;
        width: 1300px;
        margin: 0 auto;
    }
    #ft .footer .logo {
        line-height: 52px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e0e0e0;
    }
    #ft .footer .logo img {
        width: 128px;
    }
    .siteInfo {
        margin-top: 21px !important;
        overflow: hidden;
    }
    .siteInfo>li {
        float: left;
        padding: 0px 16px;
        background: url("../images/common/ft-line.jpg") no-repeat left center;
    }
    .siteInfo>li:first-child {
        padding-left: 0px;
        background: none;
    }
    .siteInfo>li>a {
        line-height: 22px !important;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.08px;
        color: #101010;
    }
    .siteInfo>li>a:hover {
        font-weight: bold;
    }
    .family-site {
        position: absolute;
        right: 0px;
        top: 77px;
        z-index: 100;
    }
    div:not('.objet-pdp-area') .info {
        margin-top: 21px;
        overflow: hidden;
        width: 700px;
    }
    div:not('.objet-pdp-area') .info>li {
        margin-top: 4px;
        margin-left: 20px;
        float: left;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.06px;
        color: #787878;
    }
    div:not('.objet-pdp-area') .info>li:first-child {
        margin-left: 0px;
    }
    .copyright {
        margin-top: 24px;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.06px;
        color: #787878;
    }
    .copynotice {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.06px;
        color: #787878;
    }
    .btn-site {
        position: relative;
        z-index: 1121;
        width: 160px;
        padding: 9px 16px;
        text-align: left;
        font-family: Inter;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.08px;
        color: #101010;
        border: solid 1px #e0e0e0;
        background: #fff url("../images/common/ico-family-button-close.png") no-repeat center right 8px;
    }
    .btn-site.active {
        background: #fff url("../images/common/ico-family-button-open.png") no-repeat center right 8px;
    }
    #ft .family-site>li>ul {
        display: none;
        margin-top: -161px;
        position: relative;
        z-index: 1120;
        width: 160px;
        border: solid 1px #e0e0e0;
        border-top: none;
        background: #fff;
    }
    #ft .family-site>li>ul>li {
        line-height: 40px;
    }
    #ft .family-site>li>ul>li>a {
        padding: 0px 16px;
        font-family: Inter;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.08px;
        color: #101010;
    }
    .btnMobi {
        display: none;
    }
    .only_pc {
        display: block;
    }
    .only_mobile {
        display: none;
    }
}

@media (max-width:767px) {
    /* 화면낭독기 사용자용 */
    #hd_login_msg {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
        line-height: 0;
        overflow: hidden
    }
    .msg_sound_only,
    .sound_only {
        display: inline-block !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 0px !important;
        height: 0px !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 0 !important;
        line-height: 0 !important;
        border: 0 !important;
        overflow: hidden !important
    }
    /* 본문 바로가기 */
    #skip_to_container a {
        z-index: 100000;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        font-size: 0;
        line-height: 0;
        overflow: hidden
    }
    #skip_to_container a:focus,
    #skip_to_container a:active {
        width: 100%;
        height: 75px;
        background: #21272e;
        color: #fff;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        line-height: 3.3em
    }
    #hd_h1 {
        position: absolute;
        font-size: 0;
        line-height: 0;
        overflow: hidden
    }
    #wrap {
        overflow: hidden;
    }
    #hd {
        position: fixed;
        z-index: 3003;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 55px;
        border-bottom: 1px solid #e0e0e0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        background: #fefefe;
    }
    #hd.type02 {
        border-bottom: 1px solid #ffffff3d;
    }
    #hd .head {
        position: relative;
        z-index: 3001;
        margin: 0 auto;
    }
    #hd .head .logo {
        position: absolute;
        z-index: 3002;
        left: 15px;
        top: 16px;
    }
    #hd .head .logo a {
        display: block;
        width: 128px;
        height: 24px;
        text-indent: -9999px;
        background: url("../images_mobi/common/logo.png") no-repeat;
        background-size: contain;
    }
    #hd .head .gnb {
        position: fixed;
        z-index: 3001;
        right: -9999px;
        width: 100%;
        padding-top: 56px;
        background: #f2f1ee url("../images_mobi/common/header-bg.png") repeat-x left top;
        height: 100vh;
    }
    #hd .gnb>ul {
        border-top: 1px solid #e0e0e0;
    }
    #hd .gnb>ul>li {
        margin-top: 16px;
    }
    #hd .gnb>ul>li:first-child {
        margin-top: 40px;
    }
    #hd .gnb>ul>li>a {
        display: block;
        padding: 8px 32px 12px;
        font-size: 28px;
        line-height: 1.29;
        letter-spacing: -0.24px;
        color: #404040;
    }
    #hd .gnb>ul>li>a.active span {
        display: inline-block;
        font-weight: bold;
        border-bottom: 4px solid #101010;
    }
    #hd.type02 .head .logo a {
        background: url("../images_mobi/common/logo-white.png") no-repeat;
        background-size: contain;
    }
    #hd.type02 .head .gnb>ul>li>a {
        color: #fefefe;
    }
    #hd.type02 .gnb>ul>li>a:hover,
    #hd.type02 .gnb>ul>li>a.active {
        box-shadow: inset 0 -2px 0 0 #fff;
    }
    #hd .gnb>ul>li.lgUrl {
        margin-top: 22px;
        padding: 0px 32px;
    }
    #hd .gnb>ul>li.lgUrl>a {
        padding-top: 25px;
        border-top: 1px solid #ddd;
        padding: 30px 0px 0px;
    }
    #hd .gnb>ul>li.lgUrl span {
        display: inline-block;
        padding-right: 37px;
        background: url("../images_mobi/new_img/ico-home.png") no-repeat center right;
        background-size: 26px 26px;
    }
    .header_bg {
        display: none;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.88;
        background-color: #ffffff;
    }
    .btnMobi {
        position: absolute;
        z-index: 3002;
        right: 14px;
        top: 14px;
        width: 24px;
        height: 24px;
        text-indent: -9999px;
        background: url("../images_mobi/mobi_img/icon-menu-light-bg.png") no-repeat;
    }
    .btnMobi.active {
        background: url("../images_mobi/mobi_img/icon-close-light-bg.png") no-repeat;
    }
    /* fixed nav 높이만큼 패딩값 줘야 함 */
    #containerM {
        padding-top: 55px;
    }
    #container {
        padding-top: 55px;
    }
    #containerM.main {
        padding-bottom: 0px;
    }
    .h2Tile.simul {
        display: block;
        width: 100%;
        margin: 0 auto;
        line-height: 1.29;
        font-weight: 500;
        color: #787878;
        letter-spacing: -0.08px;
    }
    .h2Tile.gallery {
        display: block;
        width: 100%;
        padding: 0px 24px;
        font-family: Inter;
        font-size: 64px;
        font-weight: bold;
        line-height: 1.19;
        letter-spacing: -0.58px;
        color: #101010;
    }
    #contentsM.simulator {
        padding: 40px 24px 0px;
        overflow: hidden;
    }
    #contentsM.gallery {
        padding: 96px 0px 80px;
    }
    #ft {
        position: relative;
        z-index: 2000;
        width: 100%;
        padding: 20px 32px 52px;
        background: #fff;
    }
    #ft .footer {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    #ft .footer .logo {
        line-height: 52px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e0e0e0;
    }
    #ft .footer .logo img {
        width: 128px;
    }
    .siteInfo {
        margin-top: 6px !important;
        overflow: hidden;
    }
    .siteInfo>li {
        float: left;
        margin-top: 10px;
        padding: 0px 10px;
        background: url("../images_mobi/common/ft-line.jpg") no-repeat left center;
    }
    .siteInfo>li:first-child,
    .siteInfo>li:nth-child(4),
    .siteInfo>li:nth-child(7) {
        padding-left: 0px;
        background: none;
    }
    .siteInfo>li>a {
        line-height: 18px !important;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.06px;
        color: #101010;
    }
    .siteInfo>li>a:hover {
        font-weight: bold;
    }
    .family-site {
        position: relative;
    }
    .info {
        margin-top: 16px !important;
        overflow: hidden;
    }
    .info>li {
        margin-top: 4px;
        margin-left: 0px;
        float: left;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.06px;
        color: #787878;
    }
    .info>li:nth-child(2) {
        margin-left: 8px;
    }
    .copyright {
        margin-top: 20px;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.06px;
        color: #787878;
    }
    .copynotice {
        margin-top: 8px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.06px;
        color: #787878;
    }
    .btn-site {
        margin-top: 24px;
        width: 100%;
        text-align: center;
        padding: 9px 0px;
        font-family: Inter;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.08px;
        color: #101010;
        border: solid 1px #e0e0e0;
        background: url("../images_mobi/common/ico-family-button-open.png") no-repeat center right 16px;
    }
    .btn-site.active {
        background: url("../images_mobi/common/ico-family-button-close.png") no-repeat center right 16px;
    }
    #ft .family-site>li>ul {
        position: absolute;
        display: none;
        margin-top: -1px;
        z-index: 999;
        width: 100%;
        border: solid 1px #e0e0e0;
        border-top: none;
        background: #fff;
    }
    #ft .family-site>li>ul>li {
        line-height: 40px;
    }
    #ft .family-site>li>ul>li>a {
        padding: 0px 16px;
        font-family: Inter;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.08px;
        color: #101010;
    }
    .only_pc {
        display: none;
    }
    .only_mobile {
        display: block;
    }
}


/* .only_pc{display:block;}
.only_mobile{display:none;} */