@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";


// 비교하기 결과
.contents.compare {

    .compare-result {
        .inner {
            max-width: (1146px + 80px);
            margin: 0 auto;
            padding: 0 40px;
            @include mobile {
                max-width: 100%;
                padding: 0 16px;
            }
        }

        .product-items {
            margin: 0 -24px;
            > li {
                padding: 0 24px;
            }
            @media (min-width: $tablet-s-width + 1) and (max-width: $desktop-s-width) {
                margin: 0 -12px;
                > li {
                    width: 33.333333%;
                    padding: 0 12px;
                }
            }
            @include mobile {
                margin: 0 -8px;
                > li {
                    width: 50%;
                    padding: 0 4px;
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
            .item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding:200px 48px 40px;
                border: 1px solid $color-border;
                box-shadow: none;
                text-align: center;
                @include mobile {
                    padding: 168px 0 24px;
                }

                .product-image {
                    position: absolute;
                    top: 40px;
                    right: 0;
                    left: 0;
                    img {
                        max-width: 160px;
                    }
                    @include mobile {
                        top: 8px;
                    }
                }
                .product-info {
                    padding-top:16px;
                    font-size:0;
                    .product-name {
                        margin-top:0;
                        a {
                            @include font-medium;
                        }
                    }
                    .sku {
                        margin-right:0;
                        color:#000;
                    }
                    .spec-info3 {
                        color:#000;
                    }
                }
                .product-bottom {
                    position: static;
                    margin-top: 20px;
                }
                .price-area {
                    justify-content: center;
                }
                .product-button {
                    margin-top: 16px;
                    .btn {
                        max-width: 140px;
                        padding: 3px 11px;
                        font-size:14px;
                        line-height:24px;
                    }
                    @media all and (max-width: 1146px) {
                        flex-direction: column;
                        align-items: center;
                        height: 70px;
                        .btn {
                            width: 100%;
                            &:not(:first-child) {
                                margin-top: 6px;
                                margin-left: 0;
                            }
                        }
                    }
                }
                @include mobile {
                    .product-contents {
                        padding:0 12px;
                    }
                    .product-info {
                        .product-name {
                            a {
                                @include font-medium;
                            }
                        }
                        .spec-info3 {
                            display: block;
                            margin-top: 4px;
                            &:before {
                                display: none;
                            }
                        }
                    }
                    .price-area {
                        flex-direction: column;
                        align-items: center;
                        .total {
                            font-size: $font-small;
                            line-height: 22px;
                        }
                    }
                    .product-button {
                        margin-top: 16px;
                        .btn {
                            max-width: 140px;
                            height: auto;
                            padding: 4px 0;
                            font-size: $font-small;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        .result-tabs {
            position: relative;
            height:72px;
            margin-top: 72px;
            padding:18px 0;
            @include mobile {
                height:100%;
                margin:24px -16px 0;
                padding:14px 0;
            }
            .tabs-scroll-wrap {
                position: relative;
                .tabs {
                    font-size: 0;
                    white-space:nowrap;
                    vertical-align: top;
                    > li {
                        display: inline-block;
                        white-space: nowrap;
                        vertical-align: top;
                        > a {
                            display: block;
                            position: relative;
                            // border-bottom: 4px solid transparent;
                            padding:7px 16px;
                            font-weight: 700;
                            @include font-medium;
                            color: #666;
                        }
                        &.on > a {
                            // border-color: #222;
                            border-radius:24px;
                            background-color:#e4e4e4;
                            color: #000;
                        }

                        @include mobile {
                            margin-left: 6px;
                            &:first-child {
                                margin-left: 0;
                            }
                            > a {
                                // padding-bottom: 8px;
                                // border-width: 3px;
                            }
                        }
                    }
                }
                @include pc {
                    margin-right: 120px;
                    text-align: left;
                    .tabs > li {
                        margin-left: 0;
                        > a {
                            padding: 5px 16px;
                            text-align: center;
                        }
                    }
                }
                @include mobile {
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        width: 16px;
                        height: 36px;
                        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
                        content: '';
                    }
                    .tabs {
                        padding: 0 96px 0 16px;
                    }
                }
                .scroll-controls {
                    .btn-arrow {
                        position: absolute;
                        top: 0;
                        height: 72px;
                        border-radius: 0;
                        background-color: $color-bg-wt;
                        box-shadow: none;
                        &.prev {
                            left: 0;
                        }
                        &.next {
                            right: 0;
                        }
                    }
                    @include mobile {
                        display: none !important;
                    }
                }
            }
            .check-different {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 23px 0;
                .chk-wrap input + label {
                    @include font-medium;
                }
                @include mobile {
                    bottom:10px;
                    right: 16px;
                    padding: 11px 0;
                    background-color: $color-bg-wt;
                    &:before {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: -30px;
                        width: 40px;
                        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), $color-bg-wt);
                        content: '';
                    }
                }
            }
        }

        &.fixed {
            background-color: $color-bg-wt;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14);
            .product-items {
                padding-top: 24px;
                .item {
                    padding: 16px 48px;
                    @include mobile {
                        padding: 16px 12px;
                    }
                    &.compare-item {
                        padding-bottom: 50px;
                        @include mobile {
                            padding-bottom: 72px;
                        }
                    }
                    .product-image,
                    .product-info .sku,
                    .product-info .spec-info3,
                    .product-button {
                        display: none;
                    }
                    .product-info {
                        margin-bottom: 0;
                        padding-top: 0;
                        .product-name {
                            margin-top: 0;
                            a {
                                //-webkit-line-clamp: 1;
                                overflow: visible;
                                -webkit-line-clamp: initial;
                            }
                        }
                    }
                    .price-area {
                        .original {
                            @include font-small;
                        }
                        .total {
                            @include font-medium;
                        }
                    }
                    .product-bottom {
                        bottom: 16px;
                        right: 16px;
                        left: 16px;
                    }
                }
                @include mobile {
                    padding: 10px 0;
                    .item {
                        .product-info {
                            .product-name {
                                margin-bottom: 6px;
                            }
                        }
                    }
                }
            }
            .result-tabs {
                margin-top: 24px;
                @include mobile {
                    margin: 10px -16px 0;
                    //padding-right:85px;
                }
            }
        }
    }

    .compare-result-contents {
        max-width: (1146px + 80px);
        margin: 0 auto;
        padding: 64px 40px 120px;

        @include mobile {
            max-width: 100%;
            padding: 60px 16px;
            border-top:12px solid #f4f4f4;
        }

        .section {
            margin-top:120px;
            &:first-child {
                margin-top:0;
            }
            .title-wrap {
                border-bottom:2px solid #000;
                .title {
                    padding-bottom:16px;
                    @include font-large-4;
                    @include mobile {
                        margin-bottom:0;
                        padding-bottom:14px;
                        font-size:24px;
                        line-height:33px;
                    }
                }
            }
            @include mobile {
                // margin: 0 -16px;
                // padding: 40px 16px;
                margin-top:60px;
                .title {
                    margin-bottom: 20px;
                }
            }
        }
        .lists {
            @include clearfix;
            margin: 0 -24px;
            padding-top:48px;
            .list {
                float: left;
                width: 33%;
                padding: 0 24px;
                > li {
                    &:not(:last-child) {
                        margin-bottom: 36px;
                    }
                }
            }
            @include mobile {
                margin: 0 -10px;
                padding-top:32px;
                .list {
                    width: 50%;
                    padding: 0 10px;
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
            dl {
                dt {
                    margin-bottom: 2px;
                    font-weight: 500;
                    @include font-small;
                    color: $color-gray-1;
                }
                dd {
                    font-weight: 700;
                    @include font-medium;
                }
            }
            &.main {
                dl {
                    dd {
                        font-weight: 700;
                        font-size: $font-large-1;
                        line-height: 30px;
                        color: #111;
                        @include mobile {
                            font-size: $font-large;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
}

/* 2021.08.31 BTOCSITE-4357 : 스탠바이미 PDP 내 고객문의 Q&A 생성 요청 */
// 스탠바이미
@import "../../support/form-field";
.contents.stanbyme {
    @import "stanbyme";
}