@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

// 공통
// 1. 전체보기
.odc-all-view {
  display: none;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #000;
  font-size: 13px;
  line-height: 19px;

  &__text {
    position: relative;
    padding-right: 20px;
    &:after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 16px;
      height: 16px;
      background-image: url('/lg5-common/images/ODC/icon-arrow-down-black.svg');
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position: 0 0;

      @at-root .is-active & {
        top: 2px;
        transform: rotate(180deg);
      }
    }
  }


}

// ODCC0001 : 상단 hero 배너
.odc-hero {
  position: relative;

  &__track {
    overflow: hidden;
    height: 640px;
    @include mobile{
      height: 342px;
    }
  }

  &__slide {
    position: relative;
    height: 640px;
    @include mobile{
      height: 342px;
    }
  }

  &__image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: none;

      @media screen and (min-width:1920px) {
        width: 100%;
        height: auto;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      @include mobile {
        width: 100%;
        height: auto;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  &__info {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 120px;
    max-width: 1614px;
    margin: 0 auto;
    padding: 0 40px;
    transform: translateX(0);
    @include mobile {
      top: 48px;
      bottom: 102px;
      left: 20px;
      padding: 0;
    }
  }

  &__box {
    display:inline-block;
    &--black {
      color: #000;
    }
    &--white {
      color: #fff;
    }
  }

  &__title {
    color: inherit;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    @include mobile{
      position: relative;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__subtitle {
    margin-top: 16px;
    font-size: 24px;
    line-height: 32px;
    @include mobile{
      margin-top: 4px;
      font-size: 13px;
      line-height: 19px;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 32px;
    font-size: 22px;
    line-height: 22px;
    @include mobile {
      margin-top: 16px;
      font-size: 12px;
      line-height: 12px;
    }
    &:after {
      content: "";
      display: inline-block;
      @include pc {
        width: 22px;
        height: 22px;
        margin-left: 4px;
        vertical-align: -3px;
        background: url('/lg5-common/images/ODC/icon-arrow-right-black.svg') no-repeat right top;
        background-size: 21px 21px;
      }
      @include mobile {
        vertical-align: -2px;
        margin-left: 2px;
        width: 12px;
        height: 12px;
        background: url('/lg5-common/images/ODC/icon-arrow-right-black.svg') no-repeat right top;
        background-size: 11px 11px;
      }
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &__info {
      width:100%;
    }
  }

  &__indicator {
    position: absolute;
    display: none;
    bottom: 24px;
    left: 0;
    right: 0;
    max-width: 1380px;
    margin: 0 auto;
    @include mobile{
      bottom: 20px;
      right: 16px;
      left: 16px;
      max-width: none;
    }
  }

  &__controls {
    position: relative;
    top: auto;
    left: auto;
    right: 54px;
    transform: translateX(0);
    max-width: 1380px;
    margin: 0 auto;
    @media screen and (max-width: (1460px + 30px)) {
      right: 69px;
    }
    @include mobile{
      right: 34px;
    }
  }

  &__inner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 46px;
    border-radius: 26px;
    background: rgba(0, 0, 0, 0.35);
    text-align: center;
    @include mobile{
      width: 84px;
      height: 26px;
      border-radius: 13px;
    }
  }

  &__paging {
    padding: 0 4px;
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    @include mobile{
      font-size: 12px;
      line-height: 24px;
    }
  }

  &__total {
    color: #d6d6d6;
    &:before{
      content: '/';
      margin: 0 8px;
      color: #fff;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 9px;
    padding: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    @include mobile {
      top: 4px;
      width: 16px;
      height: 16px;
    }
    &:before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      box-shadow: none;
      @include mobile{
        width: 16px;
        height: 16px;
      }
    }
  }

  &__prev {
    left: 16px;
    @include mobile{
      left: 6px;
    }
    &:before{
      background-image: url(/lg5-common/images/icons/btn-arr-24x24-lt.svg);
      @include mobile{
        background-size: 16px 16px;
      }
    }
  }
  &__next {
    right: 16px;
    @include mobile{
      right: 6px;
    }
    &:before{
      background-image: url(/lg5-common/images/icons/btn-arr-24x24-rt.svg);
      @include mobile{
        background-size: 16px 16px;
      }
    }
  }

  &__play {
    display: block !important;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
    width: 46px;
    height: 46px;
    @include mobile{
      width: 26px;
      height: 26px;
    }
    &:before{
      content: "";
      display: block;
      width: 46px;
      height: 46px;
      @include mobile{
        width: 26px;
        height: 26px;
      }
    }
    &.play{
      &:before{
        background: url(/lg5-common/images/icons/btn-carousel-46-play.svg) no-repeat 0 0;
        @include mobile{
          background-size: 26px 26px;
        }
      }
    }
    &.stop{
      &:before{
        background: url(/lg5-common/images/icons/btn-carousel-46-pause.svg) no-repeat 0 0;
        @include mobile{
          background-size: 26px 26px;
        }
      }
    }
    @media screen and (max-width: (1460px + 30px)) {
      right: 15px;
      margin-right: 0;
      @include mobile {
        right: 0;
      }
    }
  }
}

// ODCC0002 : 2depth 카테고리
.odc-2depth-category {
  $root : &;
  @include mobile() {
    display: block;
    border-bottom: 10px solid #f4f4f4;
  }

  &__inner {
    @include mobile() {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  &__item {
    color: #666;
    font-weight: 500;

    @include mobile () {
      display: block;
      padding: 10px 0;
      border-top: 1px solid #f4f4f4;
      &:first-child + & {
        border-top: 0;
      }
      &:nth-child(odd) {
        border-right: 1px solid #f4f4f4;
      }
      &:nth-child(n+7) {
        display: none;
      }

      @at-root .is-active &:nth-child(n+7) {
        display: block;
      }

      font-size: 13px;
      line-height: 19px;
      text-align: center;
    }
  }

  .odc-all-view {
    border-top: 1px solid #f4f4f4;
  }
}

// ODCC0003 : show room type 1
.odc-show-room-type1 {
  padding: 0 16px;
  margin: 48px 0 12px;
  &__head {
    padding: 0 4px;
  }
  &__title {
    color: #000;
    font-weight: bold;
    @include mobile {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__subtitle {
    color: #666;
    @include mobile {
      margin-top: 4px;
      font-size: 13px;
      line-height: 19px;
    }
  }

  &__body {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 8px;
    @include mobile {
      height: 91.112vw
    }

    @include pc {
      width: 328px;
      height: 328px;
    }
  }

  &__item {
    position: relative;
  }

  &__image {
    overflow: hidden;
    height: 91.112vw;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__mark {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 5.556vw;
    height: 5.556vw;
    background-image: url('/lg5-common/images/ODC/icon-dot.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;

    @at-root .is-active & {
      background-image: url('/lg5-common/images/ODC/icon-dot-active.svg');
    }

    @include mobile {
      width: 5.556vw;
      height: 5.556vw;
    }

    @include pc {
      width: 20px;
      height: 20px;
    }
  }

  &__product {
    display: none;
    position: absolute;
    width: calc(100% - 24px);
    left: 12px;
    bottom: 3.3334vw;
    padding: 10px 20px 12px;
    background-color: #fff;
    border-radius: 8px;
    @at-root .is-active & {
      display: block;
    }

    &:hover {
      background-color: #fff;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: -10px;
      width: 0px;
      height: 0px;
      border-bottom: 20px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      transform: rotate(90deg);
    }
  }

  &__hashtag {
    margin-left: 2px;
    &:first-child {
      margin-left: 0;
    }
    color: #e81953;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    &:before {
      content: '#';
    }
  }

  &__name {
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
  }

  &__model {
    margin-top: 1px;
    font-size: 10px;
    line-height: 15px;
    color: #666;
  }

  &__price {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
  }
  &__indicator {
    display: none;
  }
  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/lg5-common/images/ODC/icon-arrow-right-round.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      z-index: 1;
    }
  }

  &__prev {
    left: 6px;
    &:after {
      transform: rotate(180deg);
    }
  }

  &__next {
    right: 6px;
  }

  &__paging {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 40px;
    padding: 0 10px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 10px;
    height: 23px;
    line-height: 23px;
    z-index: 1;
  }

  &__current {
    font-weight: bold;
  }

  &__total {
    color: #fff;
    &:before{
      content: '/';
      margin: 0 2px;
      color: #fff;
    }
  }
}

// ODCC0004 : show room type 2
.odc-show-room-type2 {
  $root : &;

  margin: 48px 0 12px;

  &__head {
    padding: 0 20px;
  }

  &__title {
    color: #000;
    font-weight: bold;
    @include mobile {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__subtitle {
    color: #666;
    @include mobile {
      margin-top: 4px;
      font-size: 13px;
      line-height: 19px;
    }
  }

  &__body {
    margin-top: 20px;
    padding: 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__list {
    display: flex;
    &:after {
      content: "";
      display: inline-block;
      width: 10px;
      flex: none;
    }
  }

  &__item {
    overflow: hidden;
    flex: none;
    width: 50vw;
    margin: 0 6px;
    border-radius: 8px;
    background-color: #f4f4f4;

    &:only-child {
      width: calc(100% - 12px);
      margin: 0 6px;

      #{$root}__image {
        width: 100%;
        height: auto;
      }

      #{$root}__name {
        font-size: 13px;
        line-height: 19px;
      }

      #{$root}__price {
        font-size: 13px;
      }
    }
  }

  &__image {
    width: 50vw;
    height: 31.945vw;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    padding: 12px 16px 16px;
  }

  &__name {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  }

  &__model {
    margin-top: 1px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #aaa;
  }

  &__price {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }
}