.signature-hero {
    [class*="scene"] {
        font-weight: 700;
        font-size: 64px;
        line-height: 82px;
        color: $color-white;
        text-align: center;
        &[class*="01"] {
            height: calc(100vh - 110px);
            @include mobile {
                height: calc(100vh - 86px);
            }
        }
        .btn-group {
            margin-top: 36px;
            .btn.border {
                border-color: $color-white !important;
                background-image: none;
                color: $color-white;
                &:hover,
                &:focus,
                &:active {
                    border-color: $color-primary !important;
                }
            }
        }
        @include mobile {
            font-size: 34px;
            line-height: 44px;
            .btn-group {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
                .btn.border {
                    width: auto;
                    margin: 8px auto 0;
                }
            }
        }

        .content {
            [class*="cont"] {
                position: absolute;
                right: 0;
                left: 0;
                transform: translateY(-50%);
                z-index: 2;
                text-align: center;

                &[class*="1"] {
                    top: 50%;
                }

                &[class*="2"] {
                    top: 50%;
                    @include mobile {
                        p:nth-child(2) {
                            margin-top: 24px;
                        }
                    }
                }
                &[class*="3"] {
                    top: 50%;
                }
            }
        }
    }
}

.signature-section {
    margin: 80px 0 120px;
    .title-area {
        margin-bottom: 64px;
        text-align: center;
        .title {
            font-weight: 700;
            font-size: $font-large-5;
            line-height: 56px;
        }
        .body-copy {
            margin-top: 16px;
            @include font-medium;
        }
    }
    @include mobile {
        margin: 60px 0;
        .title-area {
            margin-bottom: 32px;
            .title {
                font-size: 27px;
                line-height: 38px;
            }
            .body-copy {
                margin-top: 12px;
            }
        }
    }
}
.signature-gallery {
    position: relative;
    .text-area {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        color: $color-white;
        text-align: center;
        @include mobile {
            top: 32px;
            transform: translateY(0);
        }
        .tit {
            font-weight: 700;
            font-size: $font-large-5;
            line-height: 56px;
        }
        .desc {
            margin-top: 16px;
            font-weight: 700;
            font-size: $font-medium;
            line-height: 26px;
        }
        .btn {
            margin-top: 32px;
            border-color: $color-white !important;
            color: $color-white;
            &:hover,
            &:focus,
            &:active {
                border-color: $color-primary !important;
            }
        }
        @include mobile {
            .tit {
                font-size: 27px;
                line-height: 38px;
            }
            .desc {
                margin-top: 12px;
                font-weight: 400;
                font-size: 15px;
                line-height: 23px;
            }
            .btn {
                margin-top: 24px;
            }
        }
    }
}

.signature-theme {
    padding: 120px 0;
    background-color: $color-default;

    .title-area {
        color: $color-white;
        .body-copy {
            min-height: 52px;
        }
    }
    @include mobile {
        padding: 60px 0 40px;
        .title-area {
            text-align: left;
            opacity: 0;
            transition: opacity 300ms;
            .body-copy {
                min-height: 44px;
            }
        }
    }

    .slide-wrap {
        .indi-wrap {
            bottom: 0;
        }
        .slide-content {
            padding-bottom: 20px;
        }
        .slide-controls{
            button {
                top: 72px;
                &.prev {
                    left: -24px;
                }
                &.next {
                    right: -24px;
                }
            }
        }
        @include mobile {
            margin: 0 -16px;
            .slide-content {
                padding: 0 20px 33px;
            }
            .slide-conts {
                &.on {
                    .title-area {
                        opacity: 1;
                    }
                }
            }
            .slide-controls{
                display:none;
                button {
                    top: 47px;
                    &.prev {
                        left: 8px;
                    }
                    &.next {
                        right: 8px;
                    }
                }
            }
        }
    }
    .theme-video-list {
        @include clearfix;
        margin: 0 -12px;
        li {
            position: relative;
            float: left;
            padding: 0 12px 24px;
            &:nth-child(1) {
                width: 66.666667%;
            }
            &:nth-child(2) {
                width: 33.333333%;
            }
            &:nth-child(3) {
                width: 100%;
            }
        }
        @include mobile {
            margin: 0;
            li {
                float: none;
                padding: 0 0 12px;
                &:nth-child(n) {
                    width: 100%;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        &.simplicity {
            li {
                float: none;
                width: 100%;
                .item {
                    max-width: 1146px;
                    margin: 0 auto;
                    transform: translateY(calc(50% - 232px));
                    // .video-area {
                    //     .btn-video {
                    //         transform: translate(-50%,-50%);
                    //     }
                    // }
                }
            }
            @include mobile {
                li {
                    .item {
                        max-width: 100%;
                        transform: translateY(calc(50% - 12.500vw));
                        .video-area {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .item {
            display: block;
            img {
                width: 100%;
                border-radius: 8px;
            }
            @include mobile {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    width: auto;
                    max-width: 100%;
                }
            }
            .video-area {
                position: relative;
                border-radius: 8px;
                .btn-video {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,calc(-50% + 50px));
                    z-index: 2;
                    width: 80px;
                    height: 80px;
                    background: url('/lg5-common/images/icons/btn-play-80.svg') no-repeat 0 0;
                    background-size: 100% 100%;
                }
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    .btn-video {
                        margin-left:-42px;
                    }
                }
                @include mobile {
                    flex: 1;
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                        border-radius: 8px;
                        background-color: rgba(0,0,0,.2);
                        content: '';
                    }
                    .btn-video {
                        display: block;
                        width: 40px;
                        height: 40px;
                        transform: translate(-50%,-50%);
                    }
                }
            }
            .text-area {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                // transform: translate(-50%,calc(-50% - 46px));
                transform: translate(-50%,-50%);
                z-index: 2;
                margin-top:-46px;
                .text {
                    font-weight: 700;
                    font-size: $font-large-2;
                    line-height: 36px;
                    color: $color-white;
                }
                @include mobile {
                    flex: 1;
                    display: block;
                    position: static;
                    transform: translate(0);
                    padding-left: 16px;
                    .text {
                        font-size: $font-small;
                        line-height: 22px;
                    }
                }
            }
            @include pc {
                .video-area {
                    overflow: hidden;
                    img {
                        transition: all 300ms ease;
                    }
                }
                &:hover,
                &:focus {
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                        border-radius: 8px;
                        background-color: $color-default;
                        opacity: .6;
                        content: '';
                    }
                    .video-area .btn-video,
                    .text-area {
                        display: block;
                    }
                    .video-area {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

.signature-showroom {
    .slide-conts {
        a {
            position: relative;
            display: block;
        }
    }
    @include pc {
        .slide-content {
            margin: 0 -12px;
        }
        .slide-conts {
            width: 33.33%;
            padding: 0 12px;
            a {
                .image {
                    overflow: hidden;
                    img {
                        transition: all 300ms ease;
                    }
                }
                &:hover,
                &:focus {
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                        background-color: rgba(0,0,0,.6);
                        content: '';
                    }
                    .btn {
                        display: inline-block;
                    }
                    .image {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    .text-area {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        padding: 0 32px 32px;
        .tit {
            display: inline-block;
            padding: 3px 0;
            font-weight: 700;
            @include font-large-2;
            color: $color-white;
        }
        .btn.border {
            float: right;
            display: none;
            border-color: $color-white !important;
            color: $color-white;
            &:hover,
            &:focus,
            &:active {
                border-color: $color-primary !important;
            }
        }
    }

    @include mobile {
        .slide-wrap {
            margin: 0 -16px;
            padding-bottom: 30px;
            .indi-wrap {
                bottom: 0;
            }
            .slide-content {
                margin: 0;
                padding: 0 14px;
            }
            .slide-conts {
                padding: 0 6px;
                .image {
                    img {
                        border-radius: 8px;
                    }
                }
            }
        }
        .text-area {
            padding: 0 24px 24px;
        }
    }
}

.signature-campaign {
    .video-wrap {
        display: flex;
        .video-asset {
            position: relative;
            max-width: 620px;
            height: auto; //20211210 추가
            @include mobile {
                max-width: 100%;
            }
            .video-box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .video-img {
                img {
                    width: 100%;
                }
            }
        }
        .video-describe {
            padding: 11px 0 0 64px;
            .eyebrow {
                @include font-large;
            }
            .title {
                margin: 8px 0 24px;
                font-weight: 700;
                @include font-large-2;
            }
            .content {
                max-width: 340px;
                @include font-medium;
            }
        }
    }
    @include mobile {
        margin-bottom: 0;
        .video-wrap {
            flex-direction: column;
            .video-describe {
                padding: 40px 0 0;
                .title {
                    margin-bottom: 12px;
                }
            }
        }
    }
}

.signature-philosophy {
    .image-floor {
        position: relative;
        top: 0;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        height: 424px;
        .image {
            display: block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        &.fixed {
            position: fixed;
            top: 88px;
            right: 17px;
            //left: 0;
            @at-root .mac & {
                right: 0;
            }
        }
    }
    .signature-section {
        position: relative;
        z-index: 2;
        margin: 0;
        padding-bottom: 120px;
        background-color: $color-bg-wt;
        @include mobile {
            padding-bottom: 60px;
        }
        .text-area {
            padding-top: 48px;
            text-align: center;
            .tit {
                margin-bottom: 24px;
                font-weight: 700;
                @include font-large-2;
            }
            .desc {
                @include font-medium;
                word-break: keep-all;
            }
            @include mobile {
                padding-top: 32px;
                .tit {
                    margin-bottom: 16px;
                }
            }
        }
        &.row-type {
            .inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .text-area {
                max-width: 327px;
                text-align: left;
            }
            &.left {
                .text-area {
                    margin-left: 140px;
                }
            }
            &.right {
                .inner {
                    flex-direction: row-reverse;
                }
                .text-area {
                    margin-right: 140px;
                }
            }
            @include mobile {
                .inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .text-area {
                    max-width: 100%;
                    text-align: center;
                }
                &.left {
                    .text-area {
                        margin-left: 0;
                    }
                }
                &.right {
                    .inner {
                        flex-direction: column;
                    }
                    .text-area {
                        margin-right: 0;
                    }
                }
            }
        }
        &.full {
            .inner {
                max-width: 100%;
                padding: 0;
            }
            //.text-area {
            //    margin-top: 424px;
            //}
        }
    }
}

.signature-art-guide {
    .hero-banner {
        position: relative;
        height: 480px;
        margin-bottom: 80px;
        .image {
            display: block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .text-area {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
            margin-left: -730px;
            color: $color-white;
            @media screen and (max-width:(1380px + 80px)) {
                left: 0;
                margin-left: 0;
            }
            .tit {
                margin-bottom: 24px;
                font-weight: 700;
                font-size: 52px;
                line-height: 70px;
            }
            .desc {
                font-weight: 500;
                @include font-large-1;
                p:not(:first-child) {
                    margin-top: 8px;
                }
            }
        }
        @include mobile {
            height: 147.222vw;
            margin-bottom: 60px;
            .text-area {
                top: 40px;
                left: 0;
                transform: translateY(0);
                .inner {
                    padding: 0 20px;
                }
                .tit {
                    font-size: 34px;
                    line-height: 46px;
                }
            }
        }
    }


    .art-guide-list {
        @include clearfix;
        margin: 0 -12px;
        > li {
            float: left;
            width: 33.33%;
            padding: 0 12px;
            @include pc {
                &:nth-child(n+4) {
                    margin-top: 48px;
                }
            }
            .box {
                border-radius: 8px;
                box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
            }
        }
        @include mobile {
            margin: 0;
            > li {
                float: none;
                width: 100%;
                margin-bottom: 12px;
                padding: 0;
            }
        }
        .thumb {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-bottom: 75%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 8px 8px 0 0;
            }
        }
        .content {
            padding: 24px 32px 20px;
            .title {
                margin-top: 4px;
                @include font-large-1;
                @include textEllipsis;
            }
            .btn-group {
                margin-top: 16px;
                text-align: right;
                .btn {
                    &:hover,
                    &:focus,
                    &:active {
                        color: $color-white;
                    }
                }
                @include pc {
                    .btn {
                        margin-bottom: 4px;
                        margin-left: 4px;
                    }
                }
            }
            @include mobile {
                padding: 12px 20px 24px;
                .btn-group {
                    .btn {
                        width: auto;
                        margin-left: 6px;
                    }
                }
            }
        }
    }
    .btn-moreview {
        &.fold {
            &:before {
                background-image: url('/lg5-common/images/icons/btn-minus.svg');
            }
        }
    }
}

/* 210608 시그니처 브랜드관 제품 구조 변경 */
.signature-product {
    .signature-section{
        .inner {
            @include mobile{
                padding:0;
            }    
            .signature-product-list {
                > li {
                    margin-bottom:24px;
                    background: #f4f4f4;
                    padding: 0px 73px 0px 117px;
                    height: 610px;
                    @media screen and (max-width:1329px){
                        margin:16px 0;
                        padding:40px 0 50px 0;
                        height: 100%;
                    }
                }
                .box {
                    position: relative;
                    border-radius: 8px;
                    @include pc {
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }

                    @media screen and (max-width: 1155px) {
                        width: 100%;
                        height:100%;
                    }
                }
                .text-area {
                    position: absolute;
                    width: 50%;
                    top: 50%;
                    left: 0;
                    transform: translate(0%,-50%);
                    .title {
                        font-weight: 700;
                        font-size: 52px;
                        line-height: 70px;
                        text-align: left;
                    }
                    .body-copy {
                        margin-top: 24px;
                        line-height:34px;
                        font-weight: 500;
                        @include font-large-1;
                    }
                    @media screen and (max-width:1329px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        position:static;
                        width:100%;
                        transform: none;


                        .title {
                            font-weight: 700;
                            font-size: 34px;
                            line-height: 46px;
                            text-align: center;
                        }
                        .body-copy {
                            font-weight: normal;
                            font-stretch: normal;
                            margin-top: 12px;
                        }
                    }
                }
                .img-area {
                    position: absolute;
                    width: 100%;
                    max-width: 561px;
                    top: 0;
                    right: 20px;
                    @media screen and (max-width:1329px) {
                        position: static;
                        transform: none;
                        display: flex;
                        flex-direction: column;
                        padding:20px 16px 40px;
                        margin:0 auto;
                    }
                    @include mobile {
                        padding: 0;
                    }
                    .img-area-box {
                        position: relative;
                        .slide-track {
                            margin-top: 34px;
                        }
                        .indi-wrap {
                            position: absolute;
                            bottom: -28px;
                            left: 50%;
                            transform: translateX(-50%);
                            @include mobile {
                                bottom: -10px;
                            }
                        }
                        .slide-content {
                            border-radius: 8px;

                            @media screen and (max-width: 1155px){
                                border-radius: 16px;
                            }
                            .prd-area{
                                li.slide-conts {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    padding: 14px;
                                    height: 506px;
                                    @media screen and (max-width:1329px){
                                        border-radius: 16px;
                                        // box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.07);
                                        padding:0 24px 32px;
                                    }
                                    @include mobile {
                                        height: 100%;
                                        padding: 0px 16px 32px;
                                    }
                                    .slide-ui-content {
                                        position: relative;
                                        border-radius: 8px;
                                        background: #fff;
                                        width: 100%;
                                        height: 100%;
                                        box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.06);
                                        @include mobile {
                                            box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.06);
                                        }
                                        .image {
                                            @include pc {
                                                width:320px;
                                                height:320px;
                                                margin: 30px auto 40px auto;
                                            }
                                            @include mobile {
                                                width: 264px;
                                                height: 264px;
                                                margin: 15px auto 10px auto;
                                            }
                                            img {
                                                width:100%;
                                                height:100%;
                                                object-fit: cover;
                                            }
                                        }
                                        .text {
                                            width:100%;
                                            display:flex;
                                            flex-direction: row;
                                            justify-content: space-between;
                                            align-items: center;
                                            padding:0 56px;
                                            @include mobile {
                                                padding: 0 24px 32px 24px;
                                            }
                                            div {
                                                display:flex;
                                            }
                                            .prd-btn {
                                                .btn.border {
                                                    min-width: 0;
                                                    width:86px;
                                                    height:40px;
                                                    border:1px solid #000;
                                                    font-size:14px;
                                                    padding:6px;
                                                    @include mobile {
                                                        border:2px solid #000;
                                                        width:91px;
                                                        height:43px;
                                                    }
                                                }
                                                &:hover{
                                                    color:#fff;
                                                }
                                            }
                                            .prd-model{
                                                font-size:24px;
                                                @include mobile {
                                                    font-size:16px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .slide-controls{
                            button {
                                &.prev {
                                    left: -10px;
                                }
                                &.next {
                                    right: -10px;
                                }
                            }
                            /* 주영 */
                            @media screen and (max-width:1329px) {
                                button {
                                    &.prev {
                                        left: 0px;
                                    }
                                    &.next {
                                        right: 0px;
                                    }
                                }
                            }
                            /* //주영 */
                        }
                    }
                }
            }
        }
    }    
}
/* 210608 시그니처 브랜드관 제품 구조 변경 */

.signature-wrap {
    .bottom-banner {
        height: 230px;
        background: no-repeat 0 0;
        background-size: cover;
        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        .text-area {
            color: $color-white;
            .tit {
                font-weight: 700;
                @include font-large-2;
            }
            .desc {
                margin-top: 8px;
                @include font-medium;
            }
        }
        .btn.border {
            border-color: $color-white !important;
            color: $color-white;
            &:hover,
            &:focus,
            &:active {
                border-color: $color-primary !important;
            };
        }
    }
    .signature-brand {
        .bottom-banner {
            background-image: url('/lg5-common/images/PRH/img-signature-banner01.jpg');
        }
    }
    .signature-philosophy {
        .bottom-banner {
            background-image: url('/lg5-common/images/PRH/img-signature-banner02.jpg');
        }
    }
    .signature-art-guide {
        .bottom-banner {
            background-image: url('/lg5-common/images/PRH/img-signature-banner03.jpg');
        }
    }
    @include mobile {
        .bottom-banner {
            height: 194px;
            .inner {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .btn.border {
                margin-top: 24px;
            }
        }
        .signature-brand {
            .bottom-banner {
                background-image: url('/lg5-common/images/PRH/img-signature-banner01-m.jpg');
            }
        }
        .signature-philosophy {
            .bottom-banner {
                background-image: url('/lg5-common/images/PRH/img-signature-banner02-m.jpg');
            }
        }
        .signature-art-guide {
            .bottom-banner {
                background-image: url('/lg5-common/images/PRH/img-signature-banner03-m.jpg');
            }
        }
    }
}
