<script type="text/x-jquery-tmpl" id="tmpl-promotion-contents">
    <li class="unit-box">
        <div class="visual-area image">
            <a href="{{promotionLinkUrl}}">
                <img class="lazyloaded" data-src="{{thumbnailImageAddr}}" src="{{thumbnailImageAddr}}" alt="{{imageAltText}}"/>
                <p class="hidden">graphic description : </p>
            </a>
        </div>
        <p class="head-copy" id="title">{{title}}</p>
        <p class="body-copy">{{promotionStartDate}} ~ {{promotionEndDate}}</p>
        <div class="btn-box">
            <span><a href="{{promotionLinkUrl}}" class="btn btn-primary" aria-describedby="title">자세히 보기</a></span>
        </div>
    </li>
</script>