@charset "UTF-8";

.faq {
    .search-wrap {
        max-width:848px;
        margin:0 auto;
        .search-box {
            @include clearfix;
        }
        .select-wrap {
            float:left;
            width:172px;
        } 
    }

    .result-wrap {
        max-width:1066px;
        margin:0 auto;
        padding-top:80px;
        .accordion-wrap {
            margin-top:16px;
        }
    }
}