<!-- components/partials/CSRF6040-map.html -->

<div class="map-area">
    <img src="/lg5-common/images/dummy/@img-map.jpg" alt="">
    <div title="강남본점" style="position:absolute; top:50%; left:50%; cursor:pointer;">
        <div class="point on"><!--선택된 포인트에 on 클래스 추가-->
            <span class="num">1</span>
            <span class="blind">선택됨</span>
        </div>
    </div>
    <div class="info-overlaybox" style="position:absolute; top:24%; left:41.5%;">
        <div class="inner">
            <p class="name">강남본점 BESTSHOP</p>
            <p class="adress">서울특별시 강남구 청담동 86-1 LG 청담빌딩 1층</p>
            <div class="store-info">
                <dl>
                    <dt>전화</dt>
                    <dd>02-3448-5191</dd>
                </dl>
                <dl>
                    <dt>팩스</dt>
                    <dd>02-3448-5190</dd>
                </dl>
            </div>
            <div class="hour-info">
                <dl>
                    <dt>평&nbsp;&nbsp;일</dt>
                    <dd>10:30 ~ 20:30</dd>
                </dl>
                <dl>
                    <dt>토요일</dt>
                    <dd>10:30 ~ 20:30</dd>
                </dl>
                <dl>
                    <dt>일요일</dt>
                    <dd>11:00 ~ 20:30</dd>
                </dl>
            </div>
            <div class="btn-group">
                <a href="#n" class="btn">매장 상담 신청</a>
                <a href="#n" class="btn">상세 정보</a>
            </div>
        </div>
    </div>
</div>