<!-- components/partials/CSRF6040-list.html -->

<div class="sch-list">
    <div class="scroll-wrap"><!-- 높이값 계산 : 
                                    [검색 전 리스트 : 브라우저 높이 - header - h2.tit - .sch-box - .btn-sel] 
                                    [검색 후 리스트 : 브라우저 높이 - header - .result-txt - .btn-sel] 
                            -->
        <ul class="list-item">
            <!-- loop -->
            <!-- @@include('./common/partials/CSRF6040-list-module.html', {
                list : [
                    {
                        id : "1",
                        "name" : "강남본점 BESTSHOP",
                        "selected" : "on",
                        "blindTxt" : "선택됨",
                        "address" : "서울특별시 강남구 청담동 86-1 LG 청담빌딩 1층 두줄 테스트 두줄 테스트 두줄 테스트 두줄 테스트 두줄 테스트 두줄 테스트",
                        "tel" : "02-517-7447"
                    },
                    {
                        id : "2",
                        "name" : "논현역점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강남구 논현동 50-3 스카이저축은행 빌딩 2층",
                        "tel" : "02-517-7447"
                    },
                    {
                        id : "3",
                        "name" : "갤러리아 명품관 WEST점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강서구 압구정동 494 5층",
                        "tel" : "02-517-7447"
                    },
                    {
                        id : "4",
                        "name" : "대치본점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강남구 대치동 50-8 1층 서울특별시 강남구 대치동 50-8 1층",
                        "tel" : "02-569-8001"
                    },
                    {
                        id : "5",
                        "name" : "대치본점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강남구 대치동 50-8 1층 서울특별시 강남구 대치동 50-8 1층",
                        "tel" : "02-569-8001"
                    },
                    {
                        id : "6",
                        "name" : "대치본점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강남구 대치동 50-8 1층 서울특별시 강남구 대치동 50-8 1층",
                        "tel" : "02-569-8001"
                    },
                    {
                        id : "7",
                        "name" : "대치본점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강남구 대치동 50-8 1층 서울특별시 강남구 대치동 50-8 1층",
                        "tel" : "02-569-8001"
                    },
                    {
                        id : "8",
                        "name" : "대치본점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강남구 대치동 50-8 1층 서울특별시 강남구 대치동 50-8 1층",
                        "tel" : "02-569-8001"
                    },
                    {
                        id : "9",
                        "name" : "대치본점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강남구 대치동 50-8 1층 서울특별시 강남구 대치동 50-8 1층",
                        "tel" : "02-569-8001"
                    },
                    {
                        id : "10",
                        "name" : "대치본점 BESTSHOP",
                        "selected" : "",
                        "blindTxt" : "선택안됨",
                        "address" : "서울특별시 강남구 대치동 50-8 1층 서울특별시 강남구 대치동 50-8 1층",
                        "tel" : "02-569-8001"
                    }
                ]
            }) -->
            <!-- //loop -->
        </ul>
    </div>
</div>