<!-- components/partials/KRC0010.html -->
<div class="component-wrap @@component-class.margin">
	<!--
		[component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<section class="component KRC0010 @@bg @@textColor @@full">
		<div class="component-inner">
			<!--
				[heading-box 텍스트 정렬]
				.align-left : 왼쪽 정렬
				.align-right : 오른쪽 정렬
				.align-center : 중앙 정렬
			-->
			<div class="heading-box @@heading-line.align-class1">
				<!-- 1. headline -->
				<div class="title">@@heading1</div>
				<!-- // 1. headline -->
			</div>
			<!--
				[banner-box 텍스트 정렬]
				1. 정렬
				.align-left : 왼쪽 정렬
				.align-right : 오른쪽 정렬
				.align-center : 중앙 정렬

				2. 컬러
				.text-white : 텍스트 컬러 화이트
				.text-black : 텍스트 컬러 블랙
			-->
			<div class="banner-box @@banner-line.align-class1 @@banner-line.font-color">
				<!-- 2. image -->
				<div class="visual-area">
					<!-- 데스크탑으로 접속시에는 아래 코드를 사용해 주세요-->
					<img data-pc-src="@@visual1" alt="" class="pc lazyload">
					<img data-mobile-src="@@visual2" alt="" class="mobile lazyload">
					<p class="hidden pc">graphic description : </p>
				</div>
				<!-- // 2. image -->

				<!-- content-block --->
				<div class="content-block">
					<div class="text-block">
						<div class="text-area">
							<div class="text-wrap">
								<!-- 3. title -->
								<div class="text">LG TROMM 의류 관리 가전 <br>
									동시 구매 이벤트</div>
								<!-- // 3. title -->
								<!-- 4. date -->
								<p class="body-copy">2020.08.01 ~ 2020.08.31 </p>
								<!-- // 4. date -->
								<!-- 5. body copy -->
								<div class="sub-text">의류 관리 가전 동시 구매시 90만원 혜택을 드립니다.</div>
								<!-- // 5. body copy -->
							</div>
							<!-- 6. cta -->
							<div class="btn-box">
								<span><a href="#none" class="btn btn-primary btn-lg" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
							</div>
							<!-- // 6. cta -->
						</div>
					</div>
					
				</div>
				<!-- // content-block --->
			</div>
			<!--
				[unit-list 텍스트 정렬]
				1. 정렬
				.align-left : 왼쪽 정렬
				.align-right : 오른쪽 정렬
				.align-center : 중앙 정렬
			-->
			<ul class="unit-list @@unit-line.align-class1">
				<li class="unit-box">
					<!-- 7. image -->
					<div class="visual-area image">
						<img class="lazyload" data-src="/lg5-common/images/KRC0010/@sample-630x315.jpg" alt=""/>
						<p class="hidden pc">graphic description : </p>
					</div>
					<!-- // 7. image -->
					<!-- 8. title -->
					<p class="head-copy">LG 트롬 스타일러 캐시백 10만원 증정 이벤트</p>
					<!-- // 8. title -->
					<!-- 9. date -->
					<p class="body-copy">2020.08.01 ~ 2020.08.31 </p>
					<!-- // 9. date -->
					<!-- 10. cta -->
					<div class="btn-box">
						<span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
					</div>
					<!-- // 10. cta -->
				</li>
				<li class="unit-box">
					<!-- 11. image -->
					<div class="visual-area image">
						<img class="lazyload" data-src="/lg5-common/images/KRC0010/@sample-630x315.jpg" alt=""/>
						<p class="hidden pc">graphic description : </p>
					</div>
					<!-- // 11. image -->
					<!-- 12. title -->
					<p class="head-copy">2020 NEW 올레드와 함께하는 홈라이프! '왓챠플레이'로 즐기는 홈시네마</p>
					<!-- // 12. title -->
					<!-- 13. date -->
					<p class="body-copy">2020.08.01 ~ 2020.08.31 </p>
					<!-- // 13. date -->
					<!-- 14. cta -->
					<div class="btn-box">
						<span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">프로모션 보기</a></span>
					</div>
					<!-- // 14. cta -->
				</li>
			</ul>
		</div>
	</section>
</div>
