<!-- components/partials/KRC0016-2ea.html -->
<div class="component-wrap">
    <!--
        [component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [.unit-list 옵션]
        1. 가로 정렬 :
        .align-left : 왼쪽 정렬
        .align-right : 오른쪽 정렬
        .align-center : 중앙 정렬

        [.unit-box 영역의 하위 .body-copy 옵션]
        1. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        2. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인

        [W/F상 contents size 정의]
        아래 마크업은 contents size 옵션이 Large 인 경우 마크업입니다.
    -->
    <section class="component KRC0016">
        <div class="unit-list @@align-class1">
            <div class="unit-box">
                <!-- 1. image -->
                <div class="visual-area video youtube-box">
                    <!-- 1-1. video play button -->
                    <a href="#none" role="button" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" data-type="youtube" data-player="default" data-target="modal" data-link-area="side_image_text-video_play_ad" data-link-name="{video title / video id}">plays audio description video</a>
                    <!-- * youtube video modal은 아래의 방식으로 입력 -->
                    <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="large_image_large_or_2_small_image-video_play" data-link-name="{video title / video id}" title="opens in a new layer popup, plays video">
                        <img data-src="/lg5-common/images/dummy/@sample-3-2.gif" alt="" class="lazyload" /
                        <!-- 2. bideo title copy -->
                        <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                        <!-- // 2. bideo title copy -->
                    </a>
                    <!-- // 1-1. video play button -->
                </div>
                <!-- // 1. image -->
                <!-- 3. body copy -->
                <p class="body-copy @@font-class2 @@font-style2">최대 Body Copy 텍스트는 본문 폰트 사이즈 16px/24px을 사용하고 PC기준 최대 출력 텍스트는 최대 4줄을 넘지 않도록 합니다. 최대 Body Copy 텍스트는 본문 폰트 사이즈 16px/24px을 사용하고 PC기준 최대 출력 텍스트는 최대 4줄을 넘지 않도록 합니다. 최대 Body Copy 텍스트는 본문 폰트 사이즈 16px/24px을 사용하고 PC기준 최대 출력 텍스트는 최대 4줄을 넘지 않도록 합…다.</p>
                <!-- // 3. body copy -->
                <!-- 4. cta -->
                <div class="bottom-btn">
                    <span><a href="#none" class="btn btn-primary" data-link-area="large_image_large_or_2_small_image-cta" data-link-name="{Link Text}">문의하기</a></span>
                    <span><a href="#none" class="btn btn-primary" data-link-area="large_image_large_or_2_small_image-cta" data-link-name="{Link Text}">문의하기</a></span>
                </div>
                <div class="bottom-btn">
                    <span><a href="#none" class="link-text bold ico-right" data-link-area="large_image_large_or_2_small_image-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                    <span><a href="#none" class="link-text bold ico-right" data-link-area="large_image_large_or_2_small_image-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                </div>
                <!-- // 4. cta -->
            </div>
            <div class="unit-box">
                <!-- 5. image -->
                <div class="visual-area image">
                    <a href="#none" data-link-area="large_image_large_or_2_small_image-image" data-link-name="{Alt Text}">
                        <img data-src="/lg5-common/images/dummy/@sample-3-2.gif" alt="" class=" lazyload" />
                    </a>
                    <p class="hidden">graphic description : </p><!-- [KR수정] Image Accessibility Description 추가 -->
                </div>
                <!-- // 5. image -->
                <!-- 7. body copy -->
                <p class="body-copy @@font-class3 @@font-style3">Small sized의 최대 Body Copy 텍스트는 본문 폰트 사이즈 16px/24px을 사용하고 PC기준 최대 출력 텍스트는 최대 6줄을 넘지 않도록 합니다.Small sized의 최대 Body Copy 텍스트는 본문 폰트 사이즈 16px/24px을 사용하고 PC기준 최대 출력 텍스트는 최대 6줄을 넘지... 않도록 합니다.</p>
                <!-- // 7. body copy -->
                <!-- 8. cta -->
                <div class="bottom-btn">
                    <span><a href="#none" class="btn btn-primary" data-link-area="large_image_large_or_2_small_image-cta" data-link-name="{Link Text}">문의하기</a></span>
                    <span><a href="#none" class="btn btn-primary" data-link-area="large_image_large_or_2_small_image-cta" data-link-name="{Link Text}">문의하기</a></span>
                </div>
                <div class="bottom-btn">
                    <span><a href="#none" class="link-text bold ico-right" data-link-area="large_image_large_or_2_small_image-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                    <span><a href="#none" class="link-text bold ico-right" data-link-area="large_image_large_or_2_small_image-cta" data-link-name="{Link Text}">텍스트 링크 버튼</a></span>
                </div>
                <!-- // 8. cta -->
            </div>
        </div>
    </section>
</div>