<!-- components/partials/KRC0039.html -->
<div class="component-wrap @@component-class.margin">
    <!--
        [.component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [.box 영역]
        1. Text Placement
        .align-left : 텍스트 왼쪽 정렬
        .align-right : 텍스트 오른쪽 정렬

        2. 배경색상
        .bg-white : #ffffff 색상 배경
        .bg-lightgray : #f4f4f4 색상 배경 (default - 클래스 생략 가능)
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경

        [body copy 영역 옵션]
        1. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        2. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인
    -->
    <section class="component KRC0039 @@bg-all">
        <div class="inner">
            <div class="box @@text-align @@bg-color">
                <div class="text-wrap">
                    <!-- 1. title -->
                    <h2 class="title" id="title">LG DIOS 얼음 정수기 냉장고</h2>
                    <!-- // 1. title -->
                    <!-- 2. headline -->
                    <div class="headline">1등 답게, DIOS가 새로움을 OPEN</div>
                    <!-- // 2. headline -->
                    <!-- 3. Body Copy -->
                    <div class="text @@font-style @@font-class1">패널이 스스로 빛나는 올레드 TV는 픽셀 하나하나가 섬세하게<br>빛을 조절하여 자연색 그대로의 색감을 표현합니다.</div>
                    <!-- // 3. Body Copy -->
                </div>
                <!-- 4. cta -->
                <div class="btn-area">
                    <span><a href="#none" class="btn btn-primary" data-link-area="side_text_cta-cta" data-link-name="{link text}" aria-describedby="title01">자세히 보기</a></span>
                </div>
                <!-- // 4. cta -->
            </div>
        </div>
    </section>
</div>