<!-- components/partials/KRC0035-type1.html -->
<div class="component-wrap @@bg-color">
    <!--
        ** 이미지가 왼쪽, 텍스트가 오른쪽인 경우의 마크업입니다.

        [.component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [component 영역 옵션]
        1. 이미지 넓이
        .standard : 이미지 넓이가 630px
        .large : 이미지가 넓이가 848px

        2. 가로 정렬
        .align-left : 왼쪽 정렬
        .align-right : 오른쪽 정렬
        .align-center : 중앙 정렬

        3. 배경 색상 :
        .bg-white : #FFFFFF 색상 배경
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경

        [.desc 옵션]
        1. 가로 정렬 :
        .align-left : 왼쪽 정렬
        .align-right : 오른쪽 정렬
        .align-center : 중앙 정렬

        2. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        3. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인

        [.text 옵션]
        1. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        2. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인
    -->
    <section class="component KRC0035 @@align-class1 @@img-size-type @@bg-color">
        <div class="component-inner">
            <div class="inner">
                @@if ( context.type2 ) {
                <div class="text-wrap side-left-text">
                    <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                    <div class="title" id="title02">@@headline</div>
                    <div class="text @@font-class3">바디카피 영역입니다. 바디카피 영역입니다. 바디카피 영역입니다. </div>
                    <div class="thumbs">
                        <img src="/lg5-common/images/dummy/@img-372x210.png" alt="">
                        <p class="hidden">graphic description : </p>
                    </div>
                    <div class="btn-type-box">
                        <a href="#none" class="btn border size-m" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02"><span>문의하기</span></a>
                        <a href="#none" class="btn border size-m" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02"><span>문의하기</span></a>
                    </div>
                    <div class="btn-type-text">
                        <a href="#none" class="text-link" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02"><span>텍스트 링크 버튼</span></a>
                        <a href="#none" class="text-link" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02"><span>텍스트 링크 버튼</span></a>
                    </div>
                    <ul class="bullet-list">
                        <li class="b-txt">디스클레이머 영역입니다.</li>
                    </ul>
                </div>
                }
                @@if ( context.type1 ) {
                <div class="visual-wrap image-align-left">
                }
                @@if ( context.type2 ) {
                <div class="visual-wrap image-align-right">
                }
                    <!-- carousel slide -->
                    <div class="slide-wrap ui_carousel_slider">
                        <div class="indi-wrap">
                            <ul class="indi-conts ui_carousel_dots">
                                <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                            </ul>
                            <span class="ui_carousel_play play">
                                <button type="button" class="btn-play"><span class="blind">슬라이드 일시정지</span></button>
                            </span>
                        </div>
                        <div class="slide-content ui_carousel_list">
                            <ul class="slide-track ui_carousel_track">
                                <!-- slide item : 링크가 있는 이미지 타입 -->
                                <li class="slide-conts ui_carousel_slide">
                                    <div class="visual-area image">
                                        <a href="#" target="_blank" data-link-area="side_image_text-image" data-link-name="{Alt Text}"><img src="@@img" alt=""></a>
                                        <p class="hidden">graphic description : </p>
                                        <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                                    </div>
                                </li> 
                                <!-- // slide item : 링크가 있는 이미지 타입 -->
                                <!-- slide item : youtube 타입 -->
                                <li class="slide-conts ui_carousel_slide">
                                    <div class="visual-area video youtube-box">
                                        <a href="#none" role="button" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" data-type="youtube" data-player="default" data-target="modal" data-link-area="side_image_text-video_play_ad" data-link-name="{video title / video id}" aria-describedby="title02">plays audio description video</a>
                                        <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="side_image_text-video_play" data-link-name="{video title / video id}" aria-describedby="title02">
                                            <img data-src="@@img" alt="" class="lazyload">
                                            <p class="hidden">graphic description : </p>
                                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                                        </a>
                                    </div>
                                </li> 
                                <!-- // slide item : youtube 타입 -->
                                <!-- slide item : animation 타입 -->
                                <li class="slide-conts ui_carousel_slide">
                                    <div class="visual-area animation-box">
                                        <a href="#none" role="button" data-src="/lg5-common/videos/Highlight_backround.mp4" aria-label="Plays audio Description Video" class="play-animaion-btn acc-btn" data-ani-text="Play the video" data-acc-ani-text="Plays audio Description Video" aria-describedby="title01">Plays audio Description Video</a>
                                        <!-- <img data-src="@@img" alt="" class="lazyload">
                                        <p class="hidden">graphic description : </p> -->
                                        <div class="animation-area">
                                            <video autoplay muted loop>
                                                <source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
                                                <!-- WEBM 동영상을 제공하는 경우
                                                <source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
                                                -->
                                            </video>
                                            <div class="controller-wrap wa-btn">
                                                <button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
                                            </div>
                                        </div>
                                        <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                                    </div>
                                </li>
                                <!-- // slide item : animation 타입 -->
                            </ul>
                        </div>
                        <div class="slide-controls">
                            <button type="button" class="btn-arrow prev ui_carousel_prev"><span class="blind">이전</span></button>
                            <button type="button" class="btn-arrow next ui_carousel_next"><span class="blind">다음</span></button>
                        </div>
                    </div>
                    <!-- // carousel slide -->
                </div>
                @@if ( context.type1 ) {
                <div class="text-wrap side-right-text">
                    <strong class="small-title">LG SIGNATURE OLED 8K</strong>
                    <div class="title" id="title02">@@headline</div>
                    <div class="text @@font-class3">바디카피 영역입니다. 바디카피 영역입니다. 바디카피 영역입니다. </div>
                    <div class="thumbs">
                        <img src="/lg5-common/images/dummy/@img-372x210.png" alt="">
                        <p class="hidden">graphic description : </p>
                    </div>
                    <div class="btn-type-box">
                        <a href="#none" class="btn border size-m" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02"><span>문의하기</span></a>
                        <a href="#none" class="btn border size-m" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02"><span>문의하기</span></a>
                    </div>
                    <div class="btn-type-text">
                        <a href="#none" class="text-link" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02"><span>텍스트 링크 버튼</span></a>
                        <a href="#none" class="text-link" data-link-area="side_image_text-cta" data-link-name="{Link Text}" aria-describedby="title02"><span>텍스트 링크 버튼</span></a>
                    </div>
                    <ul class="bullet-list">
                        <li class="b-txt">디스클레이머 영역입니다.</li>
                    </ul>
                </div>
                }
            </div>
        </div>
    </section>
</div>