<div class="component-wrap @@bg-color">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		2. 캐로젤 여부 
		.non-carousel-box : 캐로젤 없음
		.carousel-box : 캐로젤 적용 === [KR수정] .component-outer-box class 삭제

		3. Column
		.item2 : 2개
		.item3 : 3개
		.item4 : 4개
		.item5 : 5개
        .item6 : 6개
        
        [component 영역 옵션]
        1. 배경 색상 :
        .bg-white : #FFFFFF 색상 배경
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경
    -->


	<div class="component KRC0009 @@bg-color">
        <div class="component-inner">
            @@if (context.carousel) {
            <div class="carousel-box"><!-- [KR수정] .component-outer-box class 삭제 -->
                <div class="list-box ui_carousel_slider"><!-- [KR수정] .ui_carousel_slider class 추가 -->
                    <!-- [KR수정] indicator DOM 추가-->
                    <ul class="indi-wrap ui_carousel_dots">
                        <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                    </ul>
                    <!-- // [KR수정] indicator DOM 추가-->
                    <div class="items ui_carousel_track"><!-- [KR수정] .ui_carousel_track class 추가 -->
            } 
            @@if (!context.carousel) {
            <div class="non-carousel-box @@column">
                <div class="list-box">
                    <div class="items">
            }
                    @@for (var i = 0; i < context.itemCount; i++) {
                        @@if (context.carousel) {
                        <div class="item ui_carousel_slide"><!-- [KR수정] .ui_carousel_slide class 추가 -->
                        }
                        @@if (!context.carousel) {
                        <div class="item">
                        }
                            @@if (context.imgType === "video") {
                            <!-- 1. image -->
                            <div class="visual-area video youtube-box"><!-- [KR수정] .youtube-box class 추가(youtube modal call) -->
                                <!-- 1-1. video play button -->
                                <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="centered_image_block-video_play" data-link-name="{video id}">
                                    <img class="lazyload" data-src="/lg5-common/images/KRC0009/@thumb01.jpg" alt="">
                                </a>
                                <!-- // 1-1. video play button -->
                            </div>
                            <!-- // 1. image -->
                            }
                            @@if (context.imgType === "animation") {
                            <!-- 2020.09.21 animation type 추가 -->
                            <!-- 1. image -->
                            <!-- animation 타입인 경우 animation-box 클래스 추가 -->
                            <div class="visual-area animation-box">
                                <a href="#none" role="button" data-src="/lg5-common/videos/Highlight_backround.mp4" aria-label="Plays audio Description Video" class="play-animaion-btn acc-btn" data-ani-text="Play the video" data-acc-ani-text="Plays audio Description Video" aria-describedby="title01">Plays audio Description Video</a>
                                <img data-src="/lg5-common/images/dummy/@sample-1-1.gif" alt="" class="lazyload" />
                                <p class="hidden">graphic description : </p><!-- [KR수정] Image Accessibility Description 추가 -->
                                <div class="animation-area">
                                    <video autoplay muted loop>
                                        <source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
                                        <!-- WEBM 동영상을 제공하는 경우
                                        <source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
                                        -->
                                    </video>
                                    <div class="controller-wrap wa-btn">
                                        <button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
                                    </div>
                                </div>
                                <!-- caption -->
                                <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                                <!-- // caption -->
                            </div>
                            <!-- // 1. image -->
                            }
                            @@if (context.imgType === "image") {
                            <!-- 1. image -->
                            <div class="visual-area">
                                <a href="#" data-link-area="centered_image_block-image" data-link-name="{Alt Text}">
                                    <img class="lazyload" data-src="/lg5-common/images/KRC0009/@thumb01.jpg" alt="">
                                    <p class="hidden pc">graphic description : </p>
                                </a>
                            </div>
                            <!-- // 1. image -->
                            }
                            <!-- 2. caption -->
                            <p class="tit-text">헤드라인 최대 20자 까지 권장함</p>
                            <p class="caption font-regular">Caption텍스트는 본문 폰트사이즈 16px을 사용하고 최대 3줄 이하로 사용합니다.</p>
                            <!-- // 2. caption -->
                            <!-- 3. cta -->
                            <div class="bottom-btn btn-type-box">
                                <span><a href="#none" class="btn border size" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">Button</a></span><!-- [KR수정] .btn-primary -> .btn-outline-primary 로 수정 -->
                            </div>
                            <div class="bottom-btn btn-type-text">	
                                <span><a href="#none" class="btn-link" data-link-area="centered_image_block-cta" data-link-name="{Link Text}">자세히 보기</a></span>
                            </div>
                            <!-- // 3. cta -->
                        </div>
                    }
                    </div>
                    @@if (context.carousel) {
                    <!-- [KR수정] slider control button DOM 추가 -->
                    <button type="button" class="btn-arrow prev">이전</button>
                    <button type="button" class="btn-arrow next">다음</button>
                    <!-- // [KR수정] slider control button DOM 추가 -->
                    }
                </div>
                
            </div>
        </div>
	</div>
</div>
