<!-- components/partials/KRC0063.html -->
<div class="component-wrap @@bg-color">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		[.component 옵션]
        1. Stage option
        .stage-wide : WIDE size 옵션(1600px)
        .stage-medium : MEDIUM size 옵션(1380px)

        [.text-inner, .icon-text-area 각각 옵션]
		1. 정렬
		.align-left : 왼쪽 정렬
		.align-right : 오른쪽 정렬
        .align-center : 중앙 정렬
        
        2. font color
        .type-black : font-color #222
        .type-white : font-color #fff

		[.body-copy 옵션]
		1. 폰트 종류 : 
		.font-regular : 레귤러
		.font-bold : 볼드
		.font-regular-italic : 레귤러 이탤릭
		.font-bold-italic : 볼드 이탤릭

		2. 폰트 스타일: 
		기본은 언더라인 없음 
		.font-underline : 언더라인
	-->
	<section class="component KRC0063">
		<div class="inner">

        </div>
	</section>
</div>
