
<!-- partials/components/KRC0012-full-bottom.html -->
<div class="component-wrap">
	<!--
		[component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		[.component 영역 사이즈 옵션]
		1. 이미지 사이즈
		.full-size : 데스크탑 일 경우 최대 1600 픽셀 / 모바일 일 경우 최대 768 픽셀
		.wide-size : 데스크탑 일 경우 최대 1284 픽셀 / 모바일 일 경우 최대 768 픽셀

		2. 텍스트와 이미지 영역의 배치 
		.img-txt : 이미지가 위로 텍스트가 아래로 출력되는 경우
		.txt-img : 텍스트가 위로 이미지가 아래로 출력되는 경우

		3. 배경색상 지정
		.bg-white : default (클래스 생략 가능)
		.bg-dark : #333333 색상 배경
		.bg-lightgray : #F8F8F8 색상 배경
		.bg-black : #000000 색상 배경

		[상단 텍스트 영역 옵션]
		1. 가로 정렬 : 
		.align-left : 왼쪽 정렬
		.align-right : 오른쪽 정렬
		.align-center : 중앙 정렬

		[상단 텍스트 영역의 .interviewee-name, .interviewee-info, .text(body copy) 각각 옵션]
		1. 폰트 종류 : 
		.font-regular : 레귤러
		.font-bold : 볼드
		.font-regular-italic : 레귤러 이탤릭
		.font-bold-italic : 볼드 이탤릭

		2. 폰트 스타일: 
		기본은 언더라인 없음 
		.font-underline : 언더라인

		[.visual-area 영역 옵션]
		1. 비디오를 추가한 경우, Watch the Full Movie 버튼 폰트 색상
		.text-white : 흰색
		.text-black : 검정색
	-->
	<!--
		Text Placement 옵션이 Bottom인 경우 예제입니다.
		이미지 사이즈가 Full 인 경우의 예제입니다.
	-->
	<section class="component KRC0012 full-size img-txt @@fixarea.bgcolor">
		<div class="component-inner">
			<div class="cpt-wrap">
				<!-- 7. Image -->
				<!-- 7.1 video인 경우 video 추가 -->
				<!-- text color를 white로 바꿀 경우 : text-white -->
				<div class="visual-area video youtube-box">
					<a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="image_text_folding_feature-video_play_ad" data-link-name="{video id}">plays audio description video</a>
					
					<img data-src="@@fixarea.img" class="lazyload pc" alt="" />
					<img data-src="@@fixarea.img-mobile" class="lazyload mobile" alt="" />

					<!-- 7.1 video -->
					<div class="video-link">
						<!-- * youtube video는 아래의 방식으로 입력 -->
						<a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube"  data-target="modal" data-link-area="image_text_folding_feature-video_play" data-link-name="{video id}">Watch the Full Movie</a>
					</div>
					<!-- // 7.1 video -->
				</div>

				<!-- // 7. Image -->
				<!--
					[Desc 영역 옵션]
					1. 폰트 종류 : 
					.font-regular : 레귤러
					.font-bold : 볼드
					.font-regular-italic : 레귤러 이탤릭
					.font-bold-italic : 볼드 이탤릭

					2. 폰트 스타일: 
					기본은 언더라인 없음 
					.font-underline : 언더라인

					3. 가로 정렬 : 
					.align-left : 왼쪽 정렬
					.align-right : 오른쪽 정렬
					.align-center : 중앙 정렬
				-->
				<!-- 8. disclaimer -->
				<div class="desc @@fixarea.desc-align">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
				<!-- // 8. disclaimer -->
				<div class="cont-head @@fixarea.head-align">
					<div class="text-area">
						<!-- 1. eyebrow -->
						<div class="eyebrow">LG SIGNITURE OLED TV</div>
						<!-- // 1. eyebrow -->
						<!-- 2. headline -->
						<div class="title" id="title10">@@fixarea.headline</div>
						<!-- // 2. headline -->
						<!-- 3. interviewee name -->
						<div class="interviewee-name font-bold">“패널이 스스로 빛나는 올레드 TV는 픽셀 하나하나가 섬세하게<br>빛을 조절하여 자연색 그대로의 색감을 표현합니다.”</div>
						<!-- // 3. interviewee name -->
						<!-- 4. interviewee info -->
						<div class="interviewee-info font-regular">서브타이틀에 관련 된 1줄 정도의 설명 텍스트가 필요합니다.</div>
						<!-- // 4. interviewee info -->
						<!-- 5. body copy -->
						<div class="text font-regular">올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며 홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다. 222cm의 초대형 화면에 펼쳐지는 리얼 8K 올레드 스스로 빛나는 올레드 패널이 만드는 차원이 다른 화질과 만나보세요.8K 올레드는 4K 해상도에 비해 약 4배 더 많은 1억 3천만개의 서브픽셀로 숨은 디테일까지 정확하게 초대형 화면으로 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표시됩니다 최대 5줄까지 표…</div>
						<!-- // 5. body copy -->
						<!-- 6. cta : cta는 아래 2가지 중 한가지 버튼을 최대 2개까지 사용합니다. -->
						<div class="btn-area-wrap">
							<div class="btn-area only-button">
								<span><a href="#none" class="btn btn-primary btn-lg" data-link-area="image_text_folding_feature-cta" data-link-name="{link text}" aria-describedby="title10">자세히보기</a></span>
								<span><a href="#none" class="btn btn-primary btn-lg" data-link-area="image_text_folding_feature-cta" data-link-name="{link text}" aria-describedby="title10">자세히보기</a></span>
							</div>
							<div class="btn-area only-link">
								<span><a href="#none" class="link-text bold ico-right btn-more" data-link-area="image_text_folding_feature-cta" data-link-name="{link text}" aria-describedby="title10">텍스트 링크 버튼 1</a></span>
								<span><a href="#none" class="link-text bold ico-right btn-more" data-link-area="image_text_folding_feature-cta" data-link-name="{link text}" aria-describedby="title10">텍스트 링크 버튼 2</a></span>
							</div>
						</div>
						<!-- 6. cta -->
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
