<!-- components/partials/KRC0029.html -->
<div class="component-wrap full @@common.marginTop @@common.marginBtm"><!-- [KR수정] .full 추가 -->
    <section class="component KRC0029 @@size">
        <!--
        [component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [component 옵션]
        1. 넓이 // 기획서상 정의된 내용 없어서 삭제
        .full-size 
        .wide-size
        .medium-size

        [text-area 옵션]
        1. 가로 정렬
        .align-left : 텍스트 영역이 왼쪽
        .align-right : 텍스트 영역이 오른쪽
        .align-center : 텍스트 영역이 가운데

        2. 세로 정렬
        .align-top: 텍스트 영역이 상단
        .align-middle: 텍스트 영역이 중간
        .align-bottom: 텍스트 영역이 하단

        3. 텍스트 영역 넓이
        .type-wide : 넓음
        .type-narrow : 좁음

        4. 폰트 컬러
        .text-black : 검정색
        .text-white : 흰색

        [copy 옵션]
        1. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        2. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인

        ** video-box 클래스는 소개 영상 보기 링크와 같이, video가 배경 이미지 영역에 출력되는경우에만 추가 해 주세요.
        -->
        <div class="component-box"><!-- [KR수정] .component-box 추가 -->
            <div class="carousel-wrap ui_carousel_slider"><!-- [KR수정] .ui_carousel_slider 추가 -->
                <!-- Carousel - Hero Type일 때 아래 carousel-box가 여러개인 경우 Carousel 로 동작하도록 스크립트 되어 있습니다. -->
                <!-- [KR수정] indicator DOM 추가-->
                <div class="indi-wrap">
                    <ul class="ui_carousel_dots">
                        <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                    </ul>
                    <span class="ui_carousel_play play">
                        <button type="button" class="btn-play"><span class="blind">슬라이드 일시정지</span></button>
                    </span>
                </div>
                <!-- // [KR수정] indicator DOM 추가-->
                <div class="ui_carousel_track"><!-- [KR수정] .ui_carousel_track 추가 -->
                    <div class="carousel-box animation-box ui_carousel_slide"><!-- [KR수정] .ui_carousel_slide 추가 -->
                        <!-- [KR수정_201229] 애니메이션 DOM 공통화 수정 -->
                        <div class="animation-area">
                            <video autoplay muted loop>
                                <source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
                                <!-- WEBM 동영상을 제공하는 경우
                                <source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
                                -->
                            </video>
                        </div>
                        <!-- // [KR수정_201229] 애니메이션 DOM 공통화 수정 -->
                        <div class="text-area @@carousel.item2.font-color @@carousel.item2.align-class1 @@carousel.item2.align-class2 @@carousel.item2.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <div class="eyebrow">공백포함 20자 이내로 작성 권장합니다.</div>
                                        <div class="title">
                                            <h2>공백포함 35자 이내로 작성 권장</h2>
                                        </div>
                                        <div class="copy font-regular">
                                            세월이 흘러도 변하지 않는 타임리스 디자인으로<br>변하지 않는 아름다움과 내구성을 갖추었습니다.
                                        </div>
                                    </div>
                                    <div class="cta">
                                        <div class="cta-button">
                                            <!-- [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                            <a href="#none" class="btn border size-m" data-link-area="hero_image_thin-cta" data-link-name="{link text}"><span>자세히보기</span></a>
                                            <!-- // [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                        </div>
                                         <!-- 모바일 동영상이 업로드 되어 있고 Mobile Use Flag가 N인 경우에는 아래 controller-wrap에 hidden-xs 클래스를 넣어 주세요 -->
                                        <div class="controller-wrap btn-inline">
                                            <button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- video인 경우 video-box 추가 -->
                    <div class="carousel-box video-box youtube-box ui_carousel_slide"><!-- [KR수정] .ui_carousel_slide 추가 -->
                        <!-- 1. image -->
                        <div class="visual-area">
                            <img data-pc-src="@@carousel.item1.visual1" data-m-src="@@carousel.item1.visual2" alt=""><!-- [KR수정] img 수정 -->
                            <p class="hidden">Image Accessibility Description</p><!-- [KR수정] Image Accessibility Description 추가 -->
                        </div>
                        <!-- // 1. image -->
                        <div class="text-area @@carousel.item1.font-color @@carousel.item1.align-class1 @@carousel.item1.align-class2 @@carousel.item1.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <!-- 2. eyebrow -->
                                        <div class="eyebrow">공백포함 20자 이내로 작성 권장합니다.</div>
                                        <!-- // 2. eyebrow -->
                                        <!-- 3. headline -->
                                        <div class="title">
                                            <h2>공백포함 35자 이내로 작성 권장</h2>
                                        </div>
                                        <!-- // 3. headline -->
                                        <!-- 4. body copy -->
                                        <div class="copy font-regular">
                                            바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다. <br>바디 카피 공백포함 100자 이내로 작성 권장합니다.
                                        </div>
                                        <!-- // 4. body copy -->
                                    </div>
                                    <!-- 5. cta -->
                                    <div class="cta">
                                        <div class="cta-button">
                                            <!-- [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                            <a href="#none" class="btn border size-m" data-link-area="hero_image_thin-cta" data-link-name="{link text}"><span>자세히보기</span></a>
                                            <!-- // [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                        </div>
                                        <!-- 1-1 video play button -->
                                        <div class="video-link">
                                            <!-- * youtube video modal은 아래의 방식으로 입력 -->
                                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww?autoplay=1&" class="btn-video see-video" data-type="youtube" data-link-area="hero_image_thin-video_play" data-link-name="{video id}">소개 영상 보기</a>
                                        </div>
                                        <!-- // 1-1 video play button -->
                                    </div>
                                    <!-- // 5. cta -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-box video-box youtube-box ui_carousel_slide"><!-- [KR수정] .ui_carousel_slide 추가 -->
                        <div class="visual-area">
                            <img data-pc-src="@@carousel.item1.visual1" data-m-src="@@carousel.item1.visual2" alt=""><!-- [KR수정] img 수정 -->
                            <p class="hidden">Image Accessibility Description</p><!-- [KR수정] Image Accessibility Description 추가 -->
                        </div>
                        <div class="text-area @@carousel.item1.font-color @@carousel.item1.align-class1 @@carousel.item1.align-class2 @@carousel.item1.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <div class="eyebrow">공백포함 20자 이내로 작성 권장합니다.</div>
                                        <div class="title">
                                            <h2>초 프리미엄 세탁기 LG 트윈워시</h2>
                                        </div>
                                        <div class="copy font-regular">
                                            바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다. <br>바디 카피 공백포함 100자 이내로 작성 권장합니다.
                                        </div>
                                    </div>
                                    <div class="cta">
                                        <!--
                                            1. a tag에 target="_blank" (optional)
                                            2. cta-button 과 cta-link 는 동시 출력되지 않음. 한종류만 선택하여 출력되고 최대 2개까지 출력
                                        -->
                                        <div class="cta-link">
                                            <!-- [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                            <a href="#none" class="text-link" data-link-area="hero_image_thin-cta" data-link-name="{link text}"><span>텍스트 링크 버튼</span></a>
                                            <!-- // [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                        </div>
                                        <!-- 1-1 video play button -->
                                        <div class="video-link">
                                            <!-- * youtube video modal은 아래의 방식으로 입력 -->
                                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww?autoplay=1&" class="btn-video see-video" data-type="youtube" data-link-area="hero_image_thin-video_play" data-link-name="{video id}">소개 영상 보기</a>
                                        </div>
                                        <!-- // 1-1 video play button -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-box video-box youtube-box ui_carousel_slide"><!-- [KR수정] .ui_carousel_slide 추가 -->
                        <div class="visual-area">
                            <img data-pc-src="@@carousel.item1.visual1" data-m-src="@@carousel.item1.visual2" alt=""><!-- [KR수정] img 수정 -->
                            <p class="hidden">Image Accessibility Description</p><!-- [KR수정] Image Accessibility Description 추가 -->
                        </div>
                        <div class="text-area @@carousel.item2.font-color @@carousel.item2.align-class1 @@carousel.item2.align-class2 @@carousel.item2.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <div class="eyebrow">공백포함 20자 이내로 작성 권장합니다.</div>
                                        <div class="title">
                                            <h2>공백포함 35자 이내로 작성 권장</h2>
                                        </div>
                                        <div class="copy font-regular">
                                            바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다. <br>바디 카피 공백포함 100자 이내로 작성 권장합니다.
                                        </div>
                                    </div>
                                    <div class="cta">
                                        <div class="cta-button">
                                            <!-- [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                            <a href="#none" class="btn border size-m" data-link-area="hero_image_thin-cta" data-link-name="{link text}"><span>자세히보기</span></a>
                                            <!-- // [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                        </div>
                                        <!-- 1-1 video play button -->
                                        <div class="video-link">
                                            <!-- * youtube video modal은 아래의 방식으로 입력 -->
                                            <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww?autoplay=1&" class="btn-video see-video" data-type="youtube" data-link-area="hero_image_thin-video_play" data-link-name="{video id}">소개 영상 보기</a>
                                        </div>
                                        <!-- // 1-1 video play button -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-box ui_carousel_slide"><!-- [KR수정] .ui_carousel_slide 추가 -->
                        <div class="visual-area">
                            <img data-pc-src="@@carousel.item1.visual1" data-m-src="@@carousel.item1.visual2" class="lazyload" alt=""><!-- [KR수정] img 수정 -->
                            <p class="hidden">Image Accessibility Description</p><!-- [KR수정] Image Accessibility Description 추가 -->
                        </div>
                        <div class="text-area @@carousel.item2.font-color @@carousel.item2.align-class1 @@carousel.item2.align-class2 @@carousel.item2.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <div class="eyebrow">공백포함 20자 이내로 작성 권장합니다.</div>
                                        <div class="title">
                                            <h2>공백포함 35자 이내로 작성 권장</h2>
                                        </div>
                                        <div class="copy font-regular">
                                            바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다. <br>바디 카피 공백포함 100자 이내로 작성 권장합니다.
                                        </div>
                                    </div>
                                    <div class="cta">
                                        <div class="cta-link">
                                            <!-- [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                            <a href="#none" class="text-link"  data-link-area="hero_image_thin-cta" data-link-name="{link text}"><span>텍스트 링크 버튼</span></a>
                                            <!-- // [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-box ui_carousel_slide"><!-- [KR수정] .ui_carousel_slide 추가 -->
                        <div class="visual-area">
                            <img data-pc-src="@@carousel.item1.visual1" data-m-src="@@carousel.item1.visual2" alt=""><!-- [KR수정] img 수정 -->
                            <p class="hidden">Image Accessibility Description</p><!-- [KR수정] Image Accessibility Description 추가 -->
                        </div>
                        <div class="text-area @@carousel.item3.font-color @@carousel.item3.align-class1 @@carousel.item3.align-class2 @@carousel.item3.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <div class="eyebrow">공백포함 20자 이내로 작성 권장합니다.</div>
                                        <div class="title">
                                            <h2>공백포함 35자 이내로 작성 권장</h2>
                                        </div>
                                        <div class="copy font-regular">
                                            바디 카피 공백포함 100자 이내로 작성 권장합니다.바디 카피 공백포함 100자 이내로 작성 권장합니다. <br>바디 카피 공백포함 100자 이내로 작성 권장합니다.
                                        </div>
                                    </div>
                                    <div class="cta">
                                        <div class="cta-link">
                                            <!-- [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                            <a href="#none" class="text-link" data-link-area="hero_image_thin-cta" data-link-name="{link text}"><span>텍스트 링크 버튼</span></a>
                                            <!-- // [KR수정_201229] 버튼 DOM 공통화 수정 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- [KR수정] .ui_carousel_track 추가 -->
                <!-- [KR수정] prev/next button DOM 추가 -->
                <button type="button" class="btn-arrow prev">이전</button>
                <button type="button" class="btn-arrow next">다음</button>
                <!-- // [KR수정] prev/next button DOM 추가 -->
            </div>
            <!-- <div class="slick-indicator">
                <div class="slick-dot-wrap"></div>
                <a href="#none" class="slide-pause pause" data-title-stop="Stop" data-title-play="Play">Stop</a>
            </div> [KR수정] 삭제 -->
        </div><!-- [KR수정] .component-box 추가 -->
    </section>
</div>