<!-- common/partials/KRC0017_box6.html -->
<div class="component-wrap @@component-class.bg-color">
    <!--
        [.component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [component 영역 옵션]
        1. 배경 색상 :
        .bg-white : #FFFFFF 색상 배경
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경

        [.title 옵션 (1.headline) ]
        1. 텍스트 정렬
        .align-left : 왼쪽 정렬
        .align-right : 오른쪽 정렬
        .align-center : 중앙 정렬

        [각 .banner-content 옵션]
        1. 폰트 컬러
        .text-white : 화이트
        .text-black : 블랙

        [각 .desc-content 옵션]
        1. 텍스트 정렬
        .align-left : 왼쪽 정렬
        .align-right : 오른쪽 정렬
        .align-center : 중앙 정렬

        [레이어 팝업의 .text-box 영역]
        1. 텍스트 정렬
        .align-left : 왼쪽 정렬
        .align-right : 오른쪽 정렬
        .align-center : 중앙 정렬

        ** 레이어 팝업의 ID값은 페이지 전체에서 유니크 하게 사용 해야 함.
        ** a 태그의 href 값은 클릭시 띄워야 할 레이어 팝업의 #ID 값과 동일하게 넣어 주세요.
    -->

    <section class="component KRC0017 @@component-class.margin @@component-class.bg-color">
        <div class="inner">
            <!-- 1. headline -->
            <div class="title @@component-class.title-align">@@component-class.headline</div>
            <!-- // 1. headline -->
            <div class="contents division6">
                <div class="contents-container">
                    <div class="content-box-cover">
                        <a href="#modal_banner_layer_popup@@box1.modal-index" data-control="custom_modal" class="content-box ratio-3-4" data-link-area="interactive_gallery_image-image" data-link-name="{Alt Text}">
                            <div class="banner-content @@box1.banner-color">
                                <!-- 2. image -->
                                <img data-src="/lg5-common/images/KRC0017/@thumb-412x549.jpg" alt="" class="lazyload">
                                <!-- // 2. image -->
                                <!-- 2-1. image title -->
                                <div class="box-title">LG시그니처 01</div>
                                <!-- // 2-1. image title -->
                            </div>
                            <!-- 2-2. body copy -->
                            <div class="desc-content @@box1.desc-align">
                                <p class="desc">"Quote can be up to 100 characters lorem ipsum dolor sit amet,consectetuer adipiscing"</p>
                            </div>
                            <!-- // 2-2. body copy -->
                        </a>
                    </div>
                    <div class="content-box-cover">
                        <a href="#modal_banner_layer_popup@@box2.modal-index" data-control="custom_modal" class="content-box ratio-1-1" data-link-area="interactive_gallery_image-image" data-link-name="{Alt Text}">
                            <div class="banner-content @@box2.banner-color">
                                <!-- 3. image -->
                                <img data-src="/lg5-common/images/KRC0017/@thumb-412x412.jpg" alt="" class="lazyload">
                                <!-- // 3. image -->
                                <!-- 3-1. image title -->
                                <div class="box-title">LG시그니처 02</div>
                                <!-- // 3-1. image title -->
                            </div>
                            <!-- 3-2. body copy -->
                            <div class="desc-content @@box2.desc-align">
                                <p class="desc">"Quote can be up to 100 characters lorem ipsum dolor sit amet,consectetuer adipiscing"</p>
                            </div>
                            <!-- // 3-2. body copy -->
                        </a>
                    </div>
                    <div class="content-box-cover">
                        <a href="#modal_banner_layer_popup@@box3.modal-index" data-control="custom_modal" class="content-box ratio-4-3" data-link-area="interactive_gallery_image-image" data-link-name="{Alt Text}">
                            <div class="banner-content @@box3.banner-color">
                                <!-- 4. image -->
                                <img data-src="/lg5-common/images/KRC0017/@thumb-412x309.jpg" alt="" class="lazyload">
                                <!-- // 4. image -->
                                <!-- 4-1. image title -->
                                <div class="box-title">LG시그니처 03</div>
                                <!-- // 4-1. image title -->
                            </div>
                            <!-- 4-2. body copy -->
                            <div class="desc-content @@box3.desc-align">
                                <p class="desc">"Quote can be up to 100 characters lorem ipsum dolor sit amet,consectetuer adipiscing"</p>
                            </div>
                            <!-- // 4-2. body copy -->
                        </a>
                    </div>
                    <div class="content-box-cover">
                        <a href="#modal_banner_layer_popup@@box4.modal-index" data-control="custom_modal" class="content-box ratio-1-1" data-link-area="interactive_gallery_image-image" data-link-name="{Alt Text}">
                            <div class="banner-content @@box4.banner-color">
                                <!-- 5. image -->
                                <img data-src="/lg5-common/images/KRC0017/@thumb-412x412.jpg" alt="" class="lazyload">
                                <!-- // 5. image -->
                                <!-- 5-1. image title -->
                                <div class="box-title">LG시그니처 04</div>
                                <!-- // 5-1. image title -->
                            </div>
                            <!-- 5-2. body copy -->
                            <div class="desc-content @@box4.desc-align">
                                <p class="desc">"Quote can be up to 100 characters lorem ipsum dolor sit amet,consectetuer adipiscing"</p>
                            </div>
                            <!-- // 5-2. body copy -->
                        </a>
                    </div>
                    <div class="content-box-cover">
                        <a href="#modal_banner_layer_popup@@box5.modal-index" data-control="custom_modal" class="content-box ratio-1-1" data-link-area="interactive_gallery_image-image" data-link-name="{Alt Text}">
                            <div class="banner-content @@box5.banner-color">
                                <!-- 6. image -->
                                <img data-src="/lg5-common/images/KRC0017/@thumb-412x412.jpg" alt="" class="lazyload">
                                <!-- // 6. image -->
                                <!-- 6-1. image title -->
                                <div class="box-title">LG시그니처 05</div>
                                <!-- //6-1. image title -->
                            </div>
                            <!-- 6-2. body copy -->
                            <div class="desc-content @@box5.desc-align">
                                <p class="desc">"Quote can be up to 100 characters lorem ipsum dolor sit amet,consectetuer adipiscing"</p>
                            </div>
                            <!-- // 6-2. body copy -->
                        </a>
                    </div>
                    <div class="content-box-cover">
                        <a href="#modal_banner_layer_popup@@box6.modal-index" data-control="custom_modal" class="content-box ratio-3-4" data-link-area="interactive_gallery_image-image" data-link-name="{Alt Text}">
                            <div class="banner-content @@box6.banner-color">
                                <!-- 7. image -->
                                <img data-src="/lg5-common/images/KRC0017/@thumb-412x549.jpg" alt="" class="lazyload">
                                <!-- // 7. image -->
                                <!-- 7-1. image title -->
                                <div class="box-title">LG시그니처 06</div>
                                <!-- // 7-1. image title -->
                            </div>
                            <!-- 7-2. body copy -->
                            <div class="desc-content @@box6.desc-align">
                                <p class="desc">"Quote can be up to 100 characters lorem ipsum dolor sit amet,consectetuer adipiscing"</p>
                            </div>
                            <!-- // 7-2. body copy -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-layers">
            @@include('./common/partials/modal/modal_banner_layer_popup.html', {
                "modal-index" : "16",
                "box1" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold font-underline"
                },
                "box2" : {
                    "text-align" : "align-left",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular"
                },
                "box3" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular-italic  "
                },
                "box4" : {
                    "text-align" : "align-right",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold-italic font-underline"
                }
            })
            @@include('./common/partials/modal/modal_banner_layer_popup.html', {
                "modal-index" : "17",
                "box1" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold font-underline"
                },
                "box2" : {
                    "text-align" : "align-left",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular"
                },
                "box3" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular-italic"
                },
                "box4" : {
                    "text-align" : "align-right",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold-italic font-underline"
                }
            })
            @@include('./common/partials/modal/modal_banner_layer_popup.html', {
                "modal-index" : "18",
                "box1" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold font-underline"
                },
                "box2" : {
                    "text-align" : "align-left",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular"
                },
                "box3" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular-italic"
                },
                "box4" : {
                    "text-align" : "align-right",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold-italic font-underline"
                }
            })
            @@include('./common/partials/modal/modal_banner_layer_popup.html', {
                "modal-index" : "19",
                "box1" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold font-underline"
                },
                "box2" : {
                    "text-align" : "align-left",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular"
                },
                "box3" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular-italic"
                },
                "box4" : {
                    "text-align" : "align-right",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold-italic font-underline"
                }
            })
            @@include('./common/partials/modal/modal_banner_layer_popup.html', {
                "modal-index" : "20",
                "box1" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold font-underline"
                },
                "box2" : {
                    "text-align" : "align-left",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular"
                },
                "box3" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular-italic"
                },
                "box4" : {
                    "text-align" : "align-right",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold-italic font-underline"
                }
            })
            @@include('./common/partials/modal/modal_banner_layer_popup.html', {
                "modal-index" : "21",
                "box1" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold font-underline"
                },
                "box2" : {
                    "text-align" : "align-left",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular"
                },
                "box3" : {
                    "text-align" : "align-center",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-regular-italic"
                },
                "box4" : {
                    "text-align" : "align-right",
                    "head" : "<h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h2>",
                    "desc-style" : "font-bold-italic font-underline"
                }
            })
        </div>
    </section>
</div>