<!-- components/partials/KRC0038.html -->
<div class="component-wrap @@bg-color">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		[.component 옵션]
        1. Stage option
        .stage-full : FULL size 옵션(1920px)
        .stage-wide : WIDE size 옵션(1600px)
        .stage-medium : MEDIUM size 옵션(1380px)

        [.text-inner, .text-area 각각 옵션]
		1. 정렬
		.align-left : 왼쪽 정렬
		.align-right : 오른쪽 정렬
        .align-center : 중앙 정렬
        
        2. font color
        .type-black : font-color #222
        .type-white : font-color #fff

        [.thumbnail-text-area 옵션]
        1. vertical 정렬
        .vertical-top : vertical Top
        .vertical-middle : vertical Middle
        .vertical-bottom : vertical Bottom

		[.body-copy 옵션]
		1. 폰트 종류 : 
		.font-regular : 레귤러
		.font-bold : 볼드
		.font-regular-italic : 레귤러 이탤릭
		.font-bold-italic : 볼드 이탤릭

		2. 폰트 스타일: 
		기본은 언더라인 없음 
		.font-underline : 언더라인
	-->
	<section class="component KRC0038 @@stageType">
		<div class="inner"> 
            <!-- text area -->
            <div class="text-area @@alignType1 @@fontColor1">
                <div class="text-inner">
                    <div class="title">
                        <h2>헤드라인 텍스트 글자 수 최대 40자까지 사용 가능</h2>
                    </div>
                    <p class="body-copy @@fontStyle1">공백 포함 400자까지 글자수를 제한합니다. 공백 포함 400자까지 글자수를 제한합니다.</p>
                </div>
            </div>
            <!-- // text area -->
            
            <!-- visual -->
            <div class="visual-area ui_carousel_slider">
                <div class="slide-content ui_carousel_list">
                    <ul class="slide-track ui_carousel_track">
                        @@for ( var j=0; j < images; j++ ) {
                        <li class="slide-conts ui_carousel_slide">
                            <div class="images">
                                <span class="pc-img" style="background:url('/lg5-common/images/KRC0038/@bg`+[j+1]+`.jpg') center no-repeat">이미지 alt값이 들어갑니다.</span>
                                <img src="/lg5-common/images/KRC0038/@bg-m`+[j+1]+`.jpg" alt="" class="m-img">
                                <p class="hidden">graphic description : </p>
                            </div>
                        </li> 
                        }
                    </ul>
                </div>
            </div>
            <!-- // visual -->    
            
            <!-- thumbnail text area -->
            <div class="thumbnail-text-area @@verticalType">
                <div class="text-inner @@alignType2 @@fontColor2">
                    <ul class="text-list">
                        @@for ( var i=0; i < lists; i++ ) {
                        <li class="list">
                            <div class="icon">
                                <img src="/lg5-common/images/KRC0038/icon-08-120.svg" alt="">
                                <p class="hidden">graphic description : </p>
                            </div>
                            <div class="text-box">
                                <p class="title">타이틀 텍스트 공백포함 최대 40자까지 입력 권장합니다.</p>
                                <p class="body-copy @@fontStyle2">바디카피 영역입니다. 바디카피 영역입니다. 바디카피 영역입니다.</p>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- // thumbnail text area -->
        </div>
	</section>
</div>
