<!-- components/partials/KRC0028-5ea.html -->
<div class="component-wrap @@bg-color">
    <!--
        [.component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [component 영역 옵션]
        1. 배경 색상 :
        .bg-white : #FFFFFF 색상 배경
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경

        [.component 옵션]
        1. 옵션 1/2
        .flow-left : 큰 이미지 영역이 왼쪽
        .flow-right : 큰 이미지 영역이 오른쪽

        [각 박스의 텍스트 영역(square) 옵션]
        1. 폰트 컬러
        .text-white : 화이트
        .text-black : 블랙

        [가장 큰 이미지 영역의 body-copy 옵션]
        1. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        2. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인
    -->
    <section class="component KRC0028 @@flow-type @@bg-color">
        <div class="component-inner">
            <div class="inner">
                <div class="square-partition tall">
                    <!-- 2020.10.6 animation type 추가 -->
                    <div class="square main text-white">
                        <div class="visual-area animation-box">
                            <a href="#none" role="button" data-src="/lg5-common/videos/Highlight_backround.mp4" aria-label="Plays audio Description Video" class="play-animaion-btn acc-btn" data-ani-text="Play the video" data-acc-ani-text="Plays audio Description Video" aria-describedby="title01">Plays audio Description Video</a>
                            <img data-pc-src="/lg5-common/images/KRC0028/@square-case-tall.jpg" data-m-src="/lg5-common/images/KRC0028/@square-case-tall-m.jpg" alt="">
                            <p class="hidden">graphic description : </p><!-- [KR수정] Image Accessibility Description 추가 -->
                            <div class="animation-area">
                                <video autoplay muted loop>
                                    <source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
                                    <!-- WEBM 동영상을 제공하는 경우
                                    <source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
                                    -->
                                </video>
                                <div class="controller-wrap wa-btn">
                                    <button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
                                </div>
                            </div>
                            <!-- caption -->
                            <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                            <!-- // caption -->
                        </div>
                    </div>
                    <!-- 1. image -->
                </div>
                <div class="square-partition top">
                    <!-- 5. image -->
                    <div class="square sub length-sm text-black youtube-box"><!-- [KR수정] .youtube-box class 추가 -->
                        <a href="#none" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-type="brightcove" data-video-id="1766152406001" data-account="1665893145001" data-player="default" data-target="modal" data-link-area="block_image_3to5_text_overlay-video_play_ad" data-link-name="{video id}" aria-describedby="title02">plays audio description video</a>
                        <!-- * youtube video modal은 아래의 방식으로 입력 -->
                        <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="common-area case-of-video see-video" data-type="youtube" data-target="modal" data-link-area="block_image_3to5_text_overlay-video_play" data-link-name="{video id}" aria-describedby="title02">
                            <div class="visual-area">
                                <img data-pc-src="/lg5-common/images/KRC0028/@square-case-sm.jpg" data-m-src="/lg5-common/images/KRC0028/@square-case-sm-m.jpg" alt="">
                                <p class="hidden">graphic description : </p>
                            </div>
                            <div class="copy-boxing-area">
                                <!-- 6. eyebrow #2 -->
                                <div class="category">TELEVISION</div>
                                <!-- // 6. eyebrow #2 -->
                                <!-- 7. headline #2 -->
                                <div class="head" id="title02">@@head</div>
                                <!-- // 7. headline #2 -->
                            </div>
                        </a>
                    </div>
                    <!-- // 5. image -->
                    <!-- 8. image -->
                    <div class="square sub length-md text-black youtube-box"><!-- [KR수정] .youtube-box class 추가 -->
                        <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="block_image_3to5_text_overlay-video_play_ad" data-link-name="{video id}" aria-describedby="title03">plays audio description video</a>
                        <!-- * youtube video modal은 아래의 방식으로 입력 -->
                        <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="common-area case-of-video see-video" data-type="youtube" data-target="modal" data-link-area="block_image_3to5_text_overlay-video_play" data-link-name="{video id}" aria-describedby="title03">
                            <div class="visual-area">
                                <img data-pc-src="/lg5-common/images/KRC0028/@square-case-md.jpg" data-m-src="/lg5-common/images/KRC0028/@square-case-md-m.jpg" alt="">
                                <p class="hidden">graphic description : </p>
                            </div>
                            <div class="copy-boxing-area">
                                <!-- 9. eyebrow #2 -->
                                <div class="category">TELEVISION</div>
                                <!-- // 9. eyebrow #2 -->
                                <!-- 10. headline #2 -->
                                <div class="head" id="title03">@@head</div>
                                <!-- // 10. headline #2 -->
                            </div>
                        </a>
                    </div>
                    <!-- // 8. image -->
                </div>
                <div class="square-partition bottom">
                    <!-- 11. image -->
                    <div class="square sub length-md text-white youtube-box"><!-- [KR수정] .youtube-box class 추가 -->
                        <a href="#none" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-type="brightcove" data-video-id="1766152406001" data-account="1665893145001" data-player="default" data-target="modal" data-link-area="block_image_3to5_text_overlay-video_play_ad" data-link-name="{video id}" aria-describedby="title04">plays audio description video</a>
                        <!-- * youtube video modal은 아래의 방식으로 입력 -->
                        <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="common-area case-of-video see-video" data-type="youtube" data-target="modal" data-link-area="block_image_3to5_text_overlay-video_play" data-link-name="{video id}" aria-describedby="title04">
                            <div class="visual-area">
                                <img data-pc-src="/lg5-common/images/KRC0028/@square-case-md.jpg" data-m-src="/lg5-common/images/KRC0028/@square-case-md-m.jpg" alt="">
                                <p class="hidden">graphic description : </p>
                            </div>
                            <div class="copy-boxing-area">
                                <!-- 12. eyebrow #2 -->
                                <div class="category">TELEVISION</div>
                                <!-- // 12. eyebrow #2 -->
                                <!-- 13. headline #2 -->
                                <div class="head" id="title04">@@head</div>
                                <!-- // 13. headline #2 -->
                            </div>
                        </a>
                    </div>
                    <!-- // 11. image -->
                    <!-- 14. image -->
                    <div class="square sub length-sm text-white youtube-box"><!-- [KR수정] .youtube-box class 추가 -->
                        <a href="#none" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-type="brightcove" data-video-id="1766152406001" data-account="1665893145001" data-player="default" data-target="modal" data-link-area="block_image_3to5_text_overlay-video_play_ad" data-link-name="{video id}" aria-describedby="title05">plays audio description video</a>
                        <!-- * youtube video modal은 아래의 방식으로 입력 -->
                        <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="common-area case-of-video see-video" data-type="youtube" data-target="modal" data-link-area="block_image_3to5_text_overlay-video_play" data-link-name="{video id}" aria-describedby="title05">
                            <div class="visual-area">
                                <img data-pc-src="/lg5-common/images/KRC0028/@square-case-sm.jpg" data-m-src="/lg5-common/images/KRC0028/@square-case-sm-m.jpg" alt="">
                                <p class="hidden">graphic description : </p>
                            </div>
                            <div class="copy-boxing-area">
                                <!-- 15. eyebrow #2 -->
                                <div class="category">TELEVISION</div>
                                <!-- // 15. eyebrow #2 -->
                                <!-- 16. headline #2 -->
                                <div class="head" id="title05">@@head</div>
                                <!-- // 16. headline #2 -->
                            </div>
                        </a>
                    </div>
                    <!-- // 14. image -->
                </div>
            </div>
        </div>
    </section>
</div>