
<!-- components/partials/KRC0025-type1.html -->
<div class="component-wrap @@bg">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음
        
        [.component 옵션]
        1. stage size option
        .stage-full : text area width 1920px(기준);
        .stage-wide : text area width 1600px(기준);
        .stage-medium : text area width 1380px(기준);

		[.unit-list 옵션]
		1. 블록 갯수 지정
		.block1 : 1단
		.block2 : 2단
		.block3 : 3단

		2. block1 일 때 텍스트 영역 옵션
		.type-wide : 넓음
		.type-narrow : 좁음
		.box-align-left : box left
		.box-align-center : box center
		.box-align-right : box right

		2. 정렬
		.align-left : 왼쪽 정렬
		.align-center : 가운데 정렬

		[.text, .bullet-text 옵션]
		1. 폰트 종류 : 
		.font-regular : 레귤러
		.font-bold : 볼드
		.font-regular-italic : 레귤러 이탤릭
		.font-bold-italic : 볼드 이탤릭

		2. 폰트 스타일: 
		기본은 언더라인 없음 
		.font-underline : 언더라인
	-->
	<section class="component KRC0025 @@size @@stage">
		<div class="unit-list block1 @@align-class1 @@boxAlign @@boxSize">
			<div class="unit-box">
				<!-- 1. headline -->
				<p class="eyebrow">H2 아이브로우 영역입니다.</p>
				<div class="title" id="title01">@@headline</div>
				<!-- // 1. headline -->
				<!-- 2. body copy -->
				<!-- 일반 텍스트 타입인 경우와 블릿 타입인 경우 아래 2개 중 하나로 사용합니다. -->
				<p class="text">패널이 스스로 빛나는 올레드 TV는 픽셀 하나하나가 섬세하게 <br>빛을 조절하여 자연색 그대로의 색감을 표현합니다.</p>
				<!-- // 2. body copy -->
				<!-- 3. cta -->
				<!-- [KR수정_201229] 버튼 DOM 공통화 수정 -->
				<div class="btn-box">
					<a href="#" class="text-link" data-link-area="text-cta" data-link-name="{link text}" aria-describedby="title01"><span>텍스트 링크 버튼</span></a>
					<a href="#" class="text-link" data-link-area="text-cta" data-link-name="{link text}" aria-describedby="title01"><span>텍스트 링크 버튼</span></a>
				</div>
				<div class="btn-box">
					<a href="#none" class="btn border size-m" data-link-area="text-cta" data-link-name="{link text}" aria-describedby="title01"><span>자세히 보기</span></a>
					<a href="#none" class="btn border size-m" data-link-area="text-cta" data-link-name="{link text}" aria-describedby="title01"><span>자세히 보기</span></a>
				</div>
				<!-- // [KR수정_201229] 버튼 DOM 공통화 수정 -->




				<!-- BTOCSITE-9207 : 디스클라이머 컴포넌트 수정 -->
				<div class="drop-info">
					<button type="button" class="btn border size-m dropInfo_openBtn" aria-describedby="title01">자세히 보기</button>
					<!--
						bg색상 class = slideBox-bg
						기본 색상 : 화이트 
						slideBox-bg : bg-lightgray <-- 라이트 그레이
					-->
					<div class="dropContent @@slideBox-bg">
						<p>[테스트]</p>
						<ul class="bullet-list">
							<li class="b-txt">11111111</li>
							<li class="b-txt">22222222</li>
							<li class="b-txt">33333333</li>
						</ul>

						<button type="button" class="btn border size-m dropInfo_closeBtn" aria-describedby="title01">닫기</button>
					</div>
				</div>
				<!-- //BTOCSITE-9207 : 디스클라이머 컴포넌트 수정 -->




				<!-- // 3. cta -->
				<div class="quote-writer-box">
					<!-- 4. quote -->
					<p class="quote">“패널이 스스로 빛나는 올레드 TV는 픽셀 하나하나가 섬세하게 <br>빛을 조절하여 자연색 그대로의 색감을 표현합니다.”</p>
					<!-- // 4.quote -->
					<!-- 5. writer -->
					<span class="writer">서브타이틀에 관련 된 1줄 정도의 설명 텍스트가 필요합니다.</span>
					<!-- // 5. writer -->
				</div>
				<!-- [KR수정_201229] disclaimer DOM 공통화 수정(class명만 수정) -->
				<ul class="bullet-list">
					<li class="b-txt">패널이 스스로 빛나는 올레드 TV는 픽셀 하나하나가 섬세하게 빛을 조절하여 자연색 그대로의 색감을 표현합니다.</li>
					<li class="b-txt">패널이 스스로 빛나는 올레드 TV는 픽셀 하나하나가 섬세하게 빛을 조절하여 자연색 그대로의 색감을 표현합니다.</li>
					<li class="b-txt">패널이 스스로 빛나는 올레드 TV는 픽셀 하나하나가 섬세하게 빛을 조절하여 자연색 그대로의 색감을 표현합니다.</li>
				</ul>
				<!-- // [KR수정_201229] disclaimer DOM 공통화 수정(class명만 수정) -->
			</div>
		</div>
	</section>
</div>

