
<!-- partials/components/C0029.hbs -->
<div class="component-wrap @@component-class.margin">
	<!--
		[component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<div class="component C0029 @@bg @@textColor @@full">
		<!--
			[heading-box 텍스트 정렬]
			.align-left : 왼쪽 정렬
			.align-right : 오른쪽 정렬
			.align-center : 중앙 정렬
		-->
		<div class="heading-box @@heading-line.align-class1">
			<!-- 1. headline -->
			<div class="title">@@heading1</div>
			<!-- // 1. headline -->
		</div>
		<!--
			[banner-box 텍스트 정렬]
			1. 정렬
			.align-left : 왼쪽 정렬
			.align-right : 오른쪽 정렬
			.align-center : 중앙 정렬

			2. 컬러
			.text-white : 텍스트 컬러 화이트
			.text-black : 텍스트 컬러 블랙
		-->
		<div class="banner-box @@banner-line.align-class1 @@banner-line.font-color">
			<!-- 2. image -->
			<div class="visual-area">
				<!-- 데스크탑으로 접속시에는 아래 코드를 사용해 주세요-->
				<img data-src="@@visual1" alt="" class="pc lazyload">
				<img data-src="@@visual2" alt="" class="mobile lazyload">
				<!--
					모바일로 접속시에는 위 이미지 2개 대신 아래 코드를 사용해 주세요.
					<img data-src="@@visual2" class="mobile lazyload" alt="" />
				-->
			</div>
			<!-- // 2. image -->

			<!-- content-block 20200624 --->
			<div class="content-block">
				<div class="text-block">
					<div class="text-area">
						<div class="text-wrap">
							<!-- 3. title -->
							<div class="text">Exciting Sale ​​​​​​​Lorem Ipsum</div>
							<!-- // 3. title -->
							<!-- 4. date -->
							<p class="body-copy">August 16 – October 15, 2018</p>
							<!-- // 4. date -->
							<!-- 5. body copy -->
							<div class="sub-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo Lorem ipsum dolor sit amet, consectetuer</div>
							<!-- // 5. body copy -->
						</div>
						<!-- 6. cta -->
						<div class="btn-box">
							<span><a href="#none" class="btn btn-primary btn-lg" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">View Promotion</a></span>
						</div>
						<!-- // 6. cta -->
					</div>
				</div>
				
			</div>
			<!-- // content-block 20200624 --->
		</div>
		<!--
			[unit-list 텍스트 정렬]
			1. 정렬
			.align-left : 왼쪽 정렬
			.align-right : 오른쪽 정렬
			.align-center : 중앙 정렬
		-->
		<div class="unit-list @@unit-line.align-class1">
			<div class="unit-box">
				<!-- 7. image -->
				<div class="visual-area image">
					<img class="lazyload" data-src="/lg5-common/images/components/sample-16-9.gif" alt=""/>
				</div>
				<!-- // 7. image -->
				<!-- 8. title -->
				<p class="head-copy">Big Deal on Home New 2018 TV Big Deal on Home New 2018 TV We'll Stand By You For 5 Years We'll Stand By You For 5 Years</p>
				<!-- // 8. title -->
				<!-- 9. date -->
				<p class="body-copy">August 16 – October 15, 2018</p>
				<!-- // 9. date -->
				<!-- 10. cta -->
				<div class="btn-box">
					<span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">View Promotion</a></span>
				</div>
				<!-- // 10. cta -->
			</div>
			<div class="unit-box">
				<!-- 11. image -->
				<div class="visual-area image">
					<img class="lazyload" data-src="/lg5-common/images/components/sample-16-9.gif" alt=""/>
				</div>
				<!-- // 11. image -->
				<!-- 12. title -->
				<p class="head-copy">We'll Stand By You For 5 Years​​​​​​​</p>
				<!-- // 12. title -->
				<!-- 13. date -->
				<p class="body-copy">August 16 – October 15, 2018</p>
				<!-- // 13. date -->
				<!-- 14. cta -->
				<div class="btn-box">
					<span><a href="#none" class="btn btn-primary" data-link-area="recommended_promotions-promotion_list" data-link-name="{promotion title}">View Promotion</a></span>
				</div>
				<!-- // 14. cta -->
			</div>
		</div>
	</div>
</div>
