<!-- components/partials/KRC0024-cont-milti.html -->
<div class="component-wrap full @@common.marginTop @@common.marginBtm"><!-- [KR수정] .full class 추가 -->
    <section class="component KRC0024 @@common.bg-color"><!-- [KR수정] bg-color 추가 -->
        <!--
        [component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [carousel-wrap 옵션]
        1. 종류
        .type-hero : Hero 영역에서 사용 (Hero 여부 Y인 경우)
        .type-etc : 그외 영역에서 사용 (Hero 여부 N인 경우)

        [text-area 옵션]
        1. 가로 정렬
        .align-left : 텍스트 영역이 왼쪽
        .align-right : 텍스트 영역이 오른쪽
        .align-center : 텍스트 영역이 가운데

        2. 세로 정렬
        .align-top: 텍스트 영역이 상단
        .align-middle: 텍스트 영역이 중간
        .align-bottom: 텍스트 영역이 하단

        3. 텍스트 영역 넓이
        .type-wide : 넓음
        .type-narrow : 좁음

        4. 폰트 컬러
        .text-black : 검정색
        .text-white : 흰색

        [copy 옵션]
        1. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        2. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인
        -->
        <div class="component-box"><!-- [KR수정] .component-box DOM 추가 -->
            <!-- Hero가 아닌 경우, 멀티로 등록시 예제 화면입니다. -->
            <div class="carousel-wrap @@carousel.type">
                <!-- 11. video인 경우 video-box 추가, 동시에 3-1 비디오 버튼도 존재 해야 합니다. -->
                <div class="carousel-box video-box @@carousel.item.font-color @@carousel.item.componentType">
                    <!-- 3. image -->
                    <div class="visual-area">
                        <img data-src="@@carousel.item.visual1" class="lazyload pc" alt="" />
                        <img data-src="@@carousel.item.visual2" class="lazyload mobile" alt="" />
                        <p class="hidden pc">graphic description : </p>
                        <p class="hidden mobile">graphic description : </p>
                    </div>
                    <!-- // 3. image -->

                    <!-- contents-area -->
                    <div class="contents-area">
                        <div class="text-area @@carousel.item.font-color @@carousel.item.align-class1 @@carousel.item.align-class2 @@carousel.item.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <!-- 4. eyebrow -->
                                        <div class="eyebrow">8K에서 더욱 빛나는 올레드 픽셀디밍</div>
                                        <!-- // 4. eyebrow -->
                                        <!-- 5. headline -->
                                        <div class="title">
                                            <h2>LG SIGNATURE</h2>
                                        </div>
                                        <!-- // 5. headline -->
                                        <!-- 6. body copy -->
                                        <div class="copy font-regular">
                                            올레드 4S는 스스로 빛나는 올레드 만이 가능한 핵심가치를 뜻하며<br>홈시네마, 게임, 스포츠 등 TV의 활용 영역을 넓힌 새로운 TV 선택의 기준입니다.
                                        </div>
                                        <!-- // 6. body copy -->
                                    </div>
                                    <!-- 7. cta -->
                                    <div class="cta">
                                        <div class="cta-button">
                                            <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                            <span><a href="#none" class="btn btn-outline-secondary btn-lg" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                        </div>
                                        <div class="cta-link">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                        </div>
                                    </div>
                                    <!-- // 7. cta -->
                                    <!-- 3-1 video play button -->
                                    <div class="video-link">
                                        <!-- * youtube video는 아래의 방식으로 입력 -->
                                        <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="link-text ico-left see-video" data-type="youtube" data-link-area="hero_image-video_play" data-link-name="{video id}">소개 영상 보기</a>
                                    </div>
                                    <!-- // 3-1 video play button -->
                                    <div class="nugget-eyebrow">
                                        <div class="eyebrow-box">
                                            <!-- 8-1. nugget eyebrow -->
                                            <div class="eyebrow">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-1. nugget eyebrow -->
                                            <!-- 8-2. tech nugget -->
                                            <div class="nugget">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-2. tech nugget -->
                                        </div>
                                        <div class="eyebrow-box">
                                            <!-- 8-3. nugget eyebrow -->
                                            <div class="eyebrow">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-3. nugget eyebrow -->
                                            <!-- 8-4. tech nugget -->
                                            <div class="nugget">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-4. tech nugget -->
                                        </div>
                                        <div class="eyebrow-box">
                                            <!-- 8-5. nugget eyebrow -->
                                            <div class="eyebrow">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-5. nugget eyebrow -->
                                            <!-- 8-6. tech nugget -->
                                            <div class="nugget">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-6. tech nugget -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="disclaimer-wrap">
                            <p class="disclaimer">*Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        </div>
                    </div>
                    <!-- // contents-area -->
                </div>
                <div class="carousel-box video-box @@carousel.item.font-color">
                    <!-- 3. image -->
                    <div class="visual-area">
                        <img data-src="@@carousel.item.visual3" class="lazyload pc" alt="" />
                        <img data-src="@@carousel.item.visual4" class="lazyload mobile" alt="" />
                        <p class="hidden pc">graphic description : </p>
                        <p class="hidden mobile">graphic description : </p>
                    </div>
                    <!-- // 3. image -->

                    <!-- contents-area -->
                    <div class="contents-area">
                        <div class="text-area text-white align-right align-top @@carousel.item.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <!-- 4. eyebrow -->
                                        <div class="eyebrow">8K에서 더욱 빛나는 올레드 픽셀디밍</div>
                                        <!-- // 4. eyebrow -->
                                        <!-- 5. headline -->
                                        <div class="title">@@title.headline</div>
                                        <!-- // 5. headline -->
                                        <!-- 6. body copy -->
                                        <div class="copy font-regular">@@title.copy</div>
                                        <!-- // 6. body copy -->
                                    </div>
                                    <!-- 7. cta -->
                                    <div class="cta">
                                        <div class="cta-button">
                                            <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                            <span><a href="#none" class="btn btn-outline-secondary btn-lg" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                        </div>
                                        <div class="cta-link">
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                            <span><a href="#none" class="link-text bold ico-right" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                        </div>
                                    </div>
                                    <!-- // 7. cta -->
                                    <!-- 3-1 video play button -->
                                    <div class="video-link">
                                        <!-- * youtube video는 아래의 방식으로 입력 -->
                                        <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="link-text ico-left see-video" data-type="youtube" data-link-area="hero_image-video_play" data-link-name="{video id}">소개 영상 보기</a>
                                    </div>
                                    <!-- // 3-1 video play button -->
                                    <div class="nugget-eyebrow">
                                        <div class="eyebrow-box">
                                            <!-- 8-1. nugget eyebrow -->
                                            <div class="eyebrow">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-1. nugget eyebrow -->
                                            <!-- 8-2. tech nugget -->
                                            <div class="nugget">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-2. tech nugget -->
                                        </div>
                                        <div class="eyebrow-box">
                                            <!-- 8-3. nugget eyebrow -->
                                            <div class="eyebrow">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-3. nugget eyebrow -->
                                            <!-- 8-4. tech nugget -->
                                            <div class="nugget">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-4. tech nugget -->
                                        </div>
                                        <div class="eyebrow-box">
                                            <!-- 8-5. nugget eyebrow -->
                                            <div class="eyebrow">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-5. nugget eyebrow -->
                                            <!-- 8-6. tech nugget -->
                                            <div class="nugget">세계 최초 초대형 리얼 8K 올레드</div>
                                            <!-- // 8-6. tech nugget -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="disclaimer-wrap">
                            <p class="disclaimer">*Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        </div>
                    </div>
                    <!--// contents-area -->
                </div>
            </div>
        </div><!-- [KR수정] .component-box DOM 추가 -->
    </section>
</div>