<!-- components/partials/KRC0015.html -->
<div class="component-wrap">
    <!--
        [.component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [component 영역 옵션]
        1. 배경 색상 :
        .bg-white : #FFFFFF 색상 배경
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경

        [.body-copy 옵션]
        1. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        2. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인

        3. 링크 target
        해당 영역 링크 target이 _blank인 경우는 tagert="_blank"와 title="Opens in a new window" 를 추가해 주시면 됩니다.
        해당 영역 링크가 popup인 경우는 class에 js-popup 를 추가하고, data-width="344" data-height="553" title="Opens in a new popup window" 을 추가해 주시면 됩니다.
    -->

    <section class="component KRC0015 @@quantity-class @@bg-color">
        <ul>
            @@for (var i = 0; i < context.itemCount; i++) {
                @@if (!context.popup) {
                    <li class="unit-box">
                        <a href="#" class="icon-text-box" data-link-area="link_icon_text-cta" data-link-name="{headline text}"><!-- [KR수정] icon-text -> .icon-text-box 수정 -->
                            <!-- 1. icon -->
                            <div class="visual-area">
                                <img class="lazyload" data-src="/lg5-common/images/dummy/@sample-1-1.gif" alt=""/>
                            </div>
                            <!-- // 1. icon -->
                            <!-- 2. headline -->
                            <div class="title">@@headline</div>
                            <!-- // 2. headline -->
                            <!-- 모바일 디바이스에서 삭제-->
                            <!-- 3. body copy -->
                            <p class="body-copy @@font-class2">본문 길이는 4block에서 최대 다섯줄을 넘지 않도록 조정합니다, 세 줄 정도의 텍스트를 권장합니다 1 본문 길이는 4block에서 최대 다섯줄을 넘지 않도록 조정합니다, 세 줄 정도의 텍스트를 권장합니다 2</p>
                            <!-- // 3. body copy -->
                            <!-- 4. place -->
                            <span class="place">New York - National Event</span>
                            <!-- // 4. place -->
                            <!-- // 모바일 디바이스에서 삭제-->
                        </a>
                    </li>
                }
                @@if (context.popup) {
                    <li class="unit-box">
                        <!-- popup인 경우 샘플 -->
                        <a href="https://www.lgechat.com/us/index.html" class="icon-text-box js-popup" data-width="344" data-height="553" title="Opens in a new popup window" data-link-area="link_icon_text-cta" data-link-name="{headline text}"><!-- [KR수정] icon-text -> .icon-text-box 수정 -->
                            <!-- 1. icon -->
                            <div class="visual-area">
                                <img class="lazyload" data-src="/lg5-common/images/dummy/@sample-1-1.gif" alt=""/>
                            </div>
                            <!-- // 1. icon -->
                            <div class="title">@@headline</div>
                            <!-- 모바일 디바이스에서 삭제-->
                            <!-- 3. body copy -->
                            <p class="body-copy @@font-class2">본문 길이는 4block에서 최대 다섯줄을 넘지 않도록 조정합니다, 세 줄 정도의 텍스트를 권장합니다 1 본문 길이는 4block에서 최대 다섯줄을 넘지 않도록 조정합니다, 세 줄 정도의 텍스트를 권장합니다 2</p>
                            <!-- // 3. body copy -->
                            <!-- 4. place -->
                            <span class="place">New York - National Event</span>
                            <!-- // 4. place -->
                            <!-- // 모바일 디바이스에서 삭제-->
                        </a>
                    </li>
                }
            }
        </ul>
    </section>
</div>