
<!-- components/partials/KRC0002.hbs -->
<div class="component-wrap @@bg-color">	
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		2. Column
		.item2 : 2개
		.item3 : 3개
		.item4 : 4개
		.item5 : 5개
		mobile 에서는 item 2개 고정

		[component 영역 옵션]
        1. 배경 색상 :
        .bg-white : #FFFFFF 색상 배경
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경
	-->
	<section class="component KRC0002 @@bg-color">
		<div class="component-inner">
			<!-- 1. headline -->
			<div class="title">@@headline</div>
			<!-- // 1. headline -->
			<div class="non-carousel-box @@item">
				<div class="list-box">
					<ul class="items">

						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img1.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>

						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img2.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>

						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img3.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>

						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img4.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>

						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img5.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>

						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img6.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>

						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img7.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>

						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img8.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>
						
						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img9.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>
						
						<li class="item">
							<!-- 2. image -->
							<div class="visual-area">
								<a  href="@@image-area.link-url1" target="@@image-area.link-target1" data-link-area="vertical_selector_b2b-image" data-link-name="{image alt}">
									<img class=" lazyload" data-src="/lg5-common/images/KRC0002/@img10.jpg" alt="" />
								</a>
							</div>
							<!-- // 2. image -->
							<!-- 3. cta -->
							<div class="bottom-btn">
								<span><a href="@@view-page-link.link-url2" target="@@view-page-link.link-target2" class="link-text ico-right view-page" data-link-area="vertical_selector_b2b-cta" data-link-name="{link text}">@@view-page-link.text</a></span>
							</div>
							<!-- // 3. cta -->
						</li>

					</ul>
				</div>
			</div>
		</div>
	</section>
</div>