
<!-- components/partials/KRC0025-tbottom.html -->
<div class="component-wrap">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		[.component 옵션]
		1. 텍스트 가로 정렬 : 
		.align-left : 왼쪽 정렬
		.align-right : 오른쪽 정렬
		.align-center : 중앙 정렬

		2. 텍스트 영역 배경 색상
		.bg-white : #FFFFFF 색상 배경 (default)
		.bg-lightgray : #F8F8F8 색상 배경
		.bg-dark : #333333 색상 배경
		.bg-black : #000000 색상 배경

		3. 텍스트 영역과 이미지 영역의 위치 (W/F의 Text Placement 항목)
		기본 : 텍스트 영역이 상단
		.type-bottom : 이미지 영역이 상단인 경우 (type-bottom 클래스도 추가 하고 마크업 순서로 바뀝니다)

		[.desc-text 옵션]
		1. 폰트 종류 : 
		.font-regular : 레귤러
		.font-bold : 볼드
		.font-regular-italic : 레귤러 이탤릭
		.font-bold-italic : 볼드 이탤릭

		2. 폰트 스타일: 
		기본은 언더라인 없음 
		.font-underline : 언더라인

		[.visual-area : 옵션]
		1. show-cut-bt : show-cut 애니메이션 아래에서 위로
		2. show-cut-rl : show-cut 애니메이션 오른쪽에서 왼쪽으로
	-->
	<section class="component KRC0025 type-bottom @@align-class1 @@bg-color">
		<div class="visual-info-set">
			<div class="visual-area @@animation-type">
				<!-- 4. image -->
				<div class="ground-img">
					<img data-pc-src="/lg5-common/images/KRC0025/@sample-1600x700.jpg" data-m-src="/lg5-common/images/KRC0025/@sample-768x720.jpg" class="lazyload" alt="" /><!-- [KR수정] img 수정 -->

					<p class="hidden pc">graphic description : </p>
					<p class="hidden mobile">graphic description : </p>
				</div>
				<!-- // 4. image -->
				<!-- 5. inset image : inset 이미지의 경우 레이지로드를 사용하지 않습니다. -->
				<div class="show-cut">
					<img data-pc-src="/lg5-common/images/KRC0025/@sample-krc0025-pc.png" data-m-src="/lg5-common/images/KRC0025/@sample-krc0025-mo.png" alt="" /><!-- [KR수정] img 수정 -->

					<p class="hidden pc">graphic description : </p>
					<p class="hidden mobile">graphic description : </p>
				</div>
				<!-- // 5. inset image -->
			</div>
			<div class="text-info-set">
				<div class="text-info-area">
					<!-- 1. headline -->
					<div class="title">@@headline1</div>
					<!-- // 1. headline -->
					<!-- 2. body copy -->
					<div class="desc-text @@font-class1">대화면을 더 작아진 바디에 한손에 가볍게, 언제 어디서든 즐기다 <br>더 작아진 바디, 더 작아진 그램</div>
					<!-- // 2. body copy -->
				</div>
				<!-- 3. cta -->
				<div class="cta">
					<div class="btn-type-box">
						<span><a href="#none" class="btn btn-outline-primary btn-lg" data-link-area="scroll_image-cta" data-link-name="{link text}">문의하기</a></span>
						<span><a href="#none" class="btn btn-primary btn-lg" data-link-area="scroll_image-cta" data-link-name="{link text}">문의하기</a></span>
					</div>
					<div class="btn-type-text">
						<span><a href="#none" class="link-text bold ico-right" data-link-area="scroll_image-cta" data-link-name="{link text}">텍스트 링크 버튼 1</a></span>
						<span><a href="#none" class="link-text bold ico-right" data-link-area="scroll_image-cta" data-link-name="{link text}">텍스트 링크 버튼 2</a></span>
					</div>
				</div>
				<!-- // 3. cta -->
			</div>
		</div>
	</section>
</div>