<!-- components/partials/KRC0003.html -->

<div class="component-wrap @@common.zero">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음
        
        [.text-box 옵션]
        1. box 정렬
        .box-align-left : box left
        .box-align-center : box center
        .box-align-right : box right

        2. text align
        .align-left : text align left
        .align-center : text align center
        .align-right : text align right

        3. 텍스트 영역 넓이
        .type-wide : 넓음
        .type-narrow : 좁음
	-->
	<section class="component KRC0003">
        <div class="slide-wrap hero-banner ui_wide_slider"><!-- [KR수정_210126] ui_wide_slider 클래스 수정 -->
            <!-- [KR수정_210126] custom-indi-wrap 돔 수정 -->
            <div class="custom-indi-wrap">
                <div class="custom-indis">
                    <ul class="indis ui_wideslider_dots">
                        <li>
                            <button type="button" class="btn-indi">
                                <!-- <p>1</p>-->
                                <div class="bar"></div>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn-indi">
                                <!-- <p>2</p> -->
                                <div class="bar"></div>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn-indi">
                                <!-- <p>3</p> -->
                                <div class="bar"></div>
                            </button>
                        </li>
                    </ul>
                </div>
                <button type="button" class="indi-control ui_carousel_play play">
                    <span class="blind" data-bind-text="{&quot;play&quot;:&quot;재생&quot;, &quot;stop&quot;:&quot;정지&quot;}">정지</span>
                </button>
            </div>
            <div class="slide-content ui_carousel_list">
                <ul class="slide-track ui_carousel_track">
                    @@for ( var i=0; i < slides.length; i++ ) {
                    <!-- slide -->
                    <!-- 210208 수정 -->
                    <li class="slide-conts ui_carousel_slide">
                        <a href="#">
                            <span class="bg ui_bg_switch" data-pc-src="`+slides[i].pcImg+`" data-m-src="`+slides[i].mImg+`" aria-hidden="hidden"></span>
                            <div class="slide-info-area">
                                <div class="inner">
                                    <!-- [KR수정_210105] .text-box로 감싸기 -->
                                    <div class="text-box `+slides[i].boxAlign+`">
                                        <div id="title0`+[i+1]+`" class="text-wrap">
                                            <p class="eyebrow">`+slides[i].eyebrow+`</p>
                                            <div class="title">
                                                <h2>`+slides[i].title+`</h2>
                                            </div>
                                            <p class="date">2020.08.06 ~ 2020.09.11</p>
                                        </div>
                                        <div class="cta">
                                            <button type="button" class="btn border size-m" aria-labelledby="title0`+[i+1]+`"><span>`+slides[i].btn+`</span></button>
                                        </div>
                                    </div>
                                    <!-- // [KR수정_210105] .text-box로 감싸기 -->
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- //210208 수정 -->
                    <!-- // slide -->
                    }
                </ul>
            </div>
            <div class="slide-control-wrap">
                <div class="outer">
                    <div class="inner">
                        <button type="button" class="btn-arrow prev ui_carousel_prev"><span class="blind">이전</span></button>
                        <button type="button" class="btn-arrow next ui_carousel_next"><span class="blind">다음</span></button>
                    </div>
                </div>
            </div>
        </div>
	</section>
</div>
