<!-- partials/components/KRC0028.hbs -->
<div class="component-wrap @@bg-color">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		[component 영역 옵션]
        1. 배경 색상
        .bg-white : #FFFFFF 색상 배경 (기본 - 클래스 생략 가능)
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경

		[.title 옵션]
		1. 정렬 (Text Area Align)
		.align-left : 왼쪽 정렬
		.align-right : 오른쪽 정렬
		.align-center : 가운데 정렬

		[.txt-box 옵션]
		1. 폰트 종류 : 
		.font-regular : 레귤러
		.font-bold : 볼드
		.font-regular-italic : 레귤러 이탤릭
		.font-bold-italic : 볼드 이탤릭

		2. 폰트 스타일: 
		기본은 언더라인 없음 
		.font-underline : 언더라인
	-->
	<section class="component KRC0028 @@bg-color"><!-- [KR수정] div -> section DOM 수정 -->
		<div class="component-inner">
			<div class="inner ui_carousel_slider">
				<!-- 1. headline -->
				<div class="title @@align-class1">@@headline</div>
				<!-- // 1. headline -->
				<!--
					visual-box와 thumbnail의 item 갯수는 항상 동일해야 합니다.
				-->
				<div class="visual-box slider-for ui_carousel_track">
					<div class="item ui_carousel_slide">
						<!-- 2-1. image -->
						<div class="img-box">
							<img data-src="/lg5-common/images/KRC0028/@thumb01.jpg" class="lazyload" alt="" />
							<p class="hidden">graphic description : </p>
						</div>
						<!-- // 2-1. image -->
						<!-- 2-2. body copy -->
						<div class="txt-box @@text-box1.font-class1 @@text-box1.font-class2">1바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능</div>
						<!-- // 2-2. body copy -->
					</div>

					<!-- markup when item content is video -->
					<div class="item visual-area video youtube-box ui_carousel_slide"><!-- [KR수정] class 추가 -->
						<!-- [KR수정] DOM 순서 변경 -->
						<a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video" data-type="youtube" data-target="modal" data-link-area="gallery_10pickers-video_play" data-link-name="{video id}">
							<div class="img-box">
								<img data-src="/lg5-common/images/KRC0028/@thumb02.jpg" class="lazyload" alt="" />
								<p class="hidden">graphic description : </p>
							</div>
						</a>
						<a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" role="button" data-video-content="acc-video" data-type="youtube" data-target="modal" data-link-area="gallery_10pickers-video_play" data-link-name="{video id}">plays audio description video</a>
						<div class="txt-box font-regular font-underline">2바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능</div>
						<!-- // [KR수정] DOM 순서 변경 -->
					</div>
					<!--// markup when item content is video -->

					<div class="item">
						<div class="visual-area animation-box">
							<a href="#none" role="button" data-src="/lg5-common/videos/Highlight_backround.mp4" aria-label="Plays audio Description Video" class="play-animaion-btn acc-btn" data-ani-text="Play the video" data-acc-ani-text="Plays audio Description Video" aria-describedby="title01">Plays audio Description Video</a>
							<img data-src="/lg5-common/images/dummy/@sample-16-9.gif" alt="" class="lazyload" />
							<p class="hidden">graphic description : </p><!-- [KR수정] Image Accessibility Description 추가 -->
							<div class="animation-area">
								<video autoplay muted loop>
									<source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
									<!-- WEBM 동영상을 제공하는 경우
									<source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
									-->
								</video>
								<div class="controller-wrap wa-btn">
									<button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
								</div>
							</div>
							<!-- caption -->
							<div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
							<!-- // caption -->
						</div>
					</div>
					<div class="item">
						<div class="img-box">
							<img data-src="/lg5-common/images/KRC0028/@thumb01.jpg" class="lazyload" alt="" />
							<p class="hidden">graphic description : </p>
						</div>
						<div class="txt-box @@text-box1.font-class1 @@text-box1.font-class2"></div>
					</div>
					<div class="item">
						<div class="img-box">
							<img data-src="/lg5-common/images/KRC0028/@thumb02.jpg" class="lazyload" alt="" />
							<p class="hidden">graphic description : </p>
						</div>
						<div class="txt-box @@text-box1.font-class1 @@text-box1.font-class2"></div>
					</div>
					<div class="item">
						<div class="img-box">
							<img data-src="/lg5-common/images/KRC0028/@thumb03.jpg" class="lazyload" alt="" />
							<p class="hidden">graphic description : </p>
						</div>
						<div class="txt-box @@text-box3.font-class1 @@text-box3.font-class2">3바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능합니다, 바디카피 공백포함하여 최대 120자까지 입력가능</div>
					</div>
				</div>
				<!-- [KR수정] indicator DOM 추가-->
				<ul class="indi-wrap ui_carousel_dots">
					<li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
				</ul>
				<!-- // [KR수정] indicator DOM 추가-->
			</div>
			<!-- [KR수정] DOM 위치 이동 및 추가 -->
			<!-- 2. thumbnail -->
			<div class="slider thumbnail slider-nav ui_carousel_thumb_slider">
				<div class="ui_carousel_track">
					<div class="item ui_carousel_slide">
						<a href="#n" data-link-area="gallery_10pickers-thumbnail_image" data-link-name="{image alt}"><img data-src="/lg5-common/images/KRC0028/@indi01.jpg" class="lazyload" alt="">
						</a>
						<a href="#n" class="sub-tit">
							서브 타이틀 최대 20자까지 작성
						</a>
					</div>
					<div class="item video ui_carousel_slide">
						<a href="#n" data-link-area="gallery_10pickers-thumbnail_image" data-link-name="{image alt}"><img data-src="/lg5-common/images/KRC0028/@indi02.jpg" class="lazyload" alt="">
						</a>
						<a href="#n" class="sub-tit">
							서브 타이틀 최대 20자까지 작성
						</a>
					</div>
					<div class="item ui_carousel_slide">
						<a href="#n" data-link-area="gallery_10pickers-thumbnail_image" data-link-name="{image alt}"><img data-src="/lg5-common/images/KRC0028/@indi03.jpg" class="lazyload" alt="">
						</a>
						<a href="#n" class="sub-tit">
							서브 타이틀 최대 20자까지 작성
						</a>
					</div>
					<div class="item ui_carousel_slide">
						<a href="#n" data-link-area="gallery_10pickers-thumbnail_image" data-link-name="{image alt}"><img data-src="/lg5-common/images/KRC0028/@indi01.jpg" class="lazyload" alt="">
						</a>
						<a href="#n" class="sub-tit">
							서브 타이틀 최대 20자까지 작성
						</a>
					</div>
					<div class="item ui_carousel_slide">
						<a href="#n" data-link-area="gallery_10pickers-thumbnail_image" data-link-name="{image alt}"><img data-src="/lg5-common/images/KRC0028/@indi02.jpg" class="lazyload" alt="">
						</a>
						<a href="#n" class="sub-tit">
							서브 타이틀 최대 20자까지 작성
						</a>
					</div>
					<div class="item ui_carousel_slide">
						<a href="#n" data-link-area="gallery_10pickers-thumbnail_image" data-link-name="{image alt}"><img data-src="/lg5-common/images/KRC0028/@indi03.jpg" class="lazyload" alt="">
						</a>
						<a href="#n" class="sub-tit">
							서브 타이틀 최대 20자까지 작성
						</a>
					</div>
				</div>
				<!-- [KR수정] arrow button DOM 추가-->
				<button type="button" class="btn-arrow prev">이전</button>
				<button type="button" class="btn-arrow next">다음</button>
				<!-- // [KR수정] arrow button DOM 추가-->
			</div>
			<!-- // 2. thumbnail -->
		</div>
        <!-- // [KR수정] DOM 위치 이동 및 추가 -->
	</section>
</div>
