<!-- components/partials/KRC0045.html -->
<div class="component-wrap">
    <!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
    <div class="component KRC0045 img4">
        <ul>
            <li class="visual-box">
                <a href="#none" data-link-area="" data-link-name="" class="imgScale" aria-labelledby="microsite_visual">
                    <div class="img-wrap image">
                        <picture>
                            <source media="(min-width: 768px)" srcset="/lg5-common/images/KRC0045/@sample-1284x640.jpg" />
                            <source media="(max-width: 767px)" srcset="/lg5-common/images/KRC0045/@sample-624x416.jpg" />
                            <img src="/lg5-common/images/KRC0045/@sample-1284x640.jpg" class="pc" alt="" aria-hidden="true">
                            <img src="/lg5-common/images/KRC0045/@sample-624x416.jpg" class="mobile" alt="" aria-hidden="true">
                        </picture>
                    </div>
                    <div class="text-area text-black">
                        <div class="text-wrap">
                            <div class="inner">
                                <div class="text-block">
                                    <div class="title caption">
                                        <h2 id="microsite_visual">생활가전 컨텐츠를 만나보세요<br>컨텐츠 타이틀은 최대 2줄까지 제한합니다.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            @@for (var i = 0; i < context.itemCount; i++) {
                <li class="unit-box">
                    <div class="visual-area image">
                        <a href="#" data-link-area="block_image_2to4-image" data-link-name="{alt text}" aria-labelledby="microsite_thumbList_1" class="imgScale">
                            <div class="img-wrap">
                                <img class="lazyload" data-src="/lg5-common/images/KRC0045/@sample-303x151.jpg" alt="" aria-hidden="true" />
                            </div>
                            <div class="title" id="microsite_thumbList_1"><h2>생활가전 컨텐츠를 만나보세요<br>Small 컨텐츠 타이틀은 최대 3줄까지 제한합니다.</h2></div>
                        </a>
                    </div>
                </li>
            }
        </ul>
        <div class="btn-wrap">
            <button class="btn_LoadMore">더보기</button>
        </div>
    </div>
</div>