<!-- components/partials/KRC0015-ani.html -->
<div class="component-wrap @@common.marginTop @@common.marginBtm @@common.bg-color">
    <section class="component KRC0015 @@common.bg-color"><!-- [KR수정] bg-color 추가 -->
        <!--
        [component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [carousel-wrap 옵션]
        1. 종류
        .type-hero : Hero 영역에서 사용 (Hero 여부 Y인 경우)
        .type-etc : 그외 영역에서 사용 (Hero 여부 N인 경우)

        [text-area 옵션]
        1. 가로 정렬
        .align-left : 텍스트 영역이 왼쪽
        .align-right : 텍스트 영역이 오른쪽
        .align-center : 텍스트 영역이 가운데

        2. 세로 정렬
        .align-top: 텍스트 영역이 상단
        .align-middle: 텍스트 영역이 중간
        .align-bottom: 텍스트 영역이 하단

        3. 모바일 이미지 텍스트 정렬 (PDP)  [KR수정] 새로운 이미지 텍스트 정렬 케이스
        .mobile-text-block-left: 텍스트 영역이 모바일에서만 왼쪽
        .mobile-text-block-right: 텍스트 영역이 모바일에서만 오른쪽
        .mobile-text-block-center: 텍스트 영역이 모바일에서만 가운데

        4. 텍스트 영역 넓이
        .type-wide : 넓음
        .type-narrow : 좁음

        5. 폰트 컬러
        .text-black : 검정색
        .text-white : 흰색

        [copy 옵션]
        1. 폰트 종류 :
        .font-regular : 레귤러
        .font-bold : 볼드
        .font-regular-italic : 레귤러 이탤릭
        .font-bold-italic : 볼드 이탤릭

        2. 폰트 스타일:
        기본은 언더라인 없음
        .font-underline : 언더라인
        -->
        <div class="component-box"><!-- [KR수정] .component-box DOM 추가 -->
            <div class="carousel-wrap @@carousel.type">
                <!-- animation 타입인 경우 animation-box 클래스 추가 -->
                <div class="carousel-box animation-box @@carousel.item.font-color @@carousel.item.componentType">
                    <!-- 3. image -->
                    <div class="visual-area">
                        <img data-pc-src="@@carousel.item.visual1" data-m-src="@@carousel.item.visual2" class="lazyload" alt="" /><!-- [KR수정] img 수정 -->
                        <p class="hidden">graphic description : </p><!-- [KR수정] Image Accessibility Description 추가 -->
                        <!-- 3-2. animation play/pause -->
                        <div class="animation-area">
                            <a href="#none" role="button" data-src="/lg5-common/videos/signature_rain_view.mp4" aria-label="Plays audio Description Video" class="play-animaion-btn acc-btn" data-ani-text="Play the video" data-acc-ani-text="Plays audio Description Video" aria-describedby="title01">Plays audio Description Video</a>
                            <!-- loop 되는 영상이 아닌 경우
                                <video autoplay muted>
                            -->
                            <!-- loop 되는 영상인 경우 -->
                            <video autoplay muted loop class="pc">
                                <source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
                                <!-- WEBM 동영상을 제공하는 경우
                                <source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
                                -->
                            </video>
                            <!-- 아래 모바일용 동영상은 모바일 동영상이 업로드 되어 있고 Mobile Use Flag가 Y인 경우에만 출력합니다. -->
                            <video autoplay muted loop class="mobile">
                                <source src="/lg5-common/videos/Highlight_backround.mp4" type="video/mp4">
                                <!-- WEBM 동영상을 제공하는 경우
                                <source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
                                -->
                            </video>
                            <!-- 모바일 동영상이 업로드 되어 있고 Mobile Use Flag가 N인 경우에는 아래 controller-wrap에 hidden-xs 클래스를 넣어 주세요 -->
                            <div class="controller-wrap wa-btn">
                                <button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
                            </div>
                        </div>
                        <!-- // 3-2. animation play/pause -->
                    </div>
                    <!-- // 3. image -->
                    <!-- contents-area -->
                    <div class="contents-area">
                        <div class="text-area @@carousel.item.font-color @@carousel.item.align-class1 @@carousel.item.align-class2 @@carousel.item.width-class">
                            <div class="text-wrap">
                                <div class="inner">
                                    <div class="text-block">
                                        <!-- 4. eyebrow -->
                                        <div class="eyebrow">8K에서 더욱 빛나는 올레드 픽셀디밍</div>
                                        <!-- // 4. eyebrow -->
                                        <!-- 5. headline -->
                                        <div class="title">@@title.headline</div>
                                        <!-- // 5. headline -->
                                        <!-- 6. body copy -->
                                        <div class="copy font-regular">@@title.copy</div>
                                        <!-- // 6. body copy -->
                                    </div>
                                    <!-- 7. cta -->
                                    <div class="cta">
                                        <div class="cta-button">
                                            <span><a href="#none" class="btn btn-primary btn-lg" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                            <span><a href="#none" class="btn btn-outline-secondary btn-lg" data-link-area="hero_image-cta" data-link-name="{link text}">자세히 보기</a></span>
                                        </div>
                                    </div>
                                    <!-- // 7. cta -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // contents-area -->
                </div>
            </div>
        </div><!-- [KR수정] .component-box DOM 추가 -->
    </section>
</div>