<!-- components/partials/KRC0019.html -->
<div class="component-wrap @@bg-color">
    <!--
        [.component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음

        [.component 옵션]
        1. 타입 1/2
        .flow-left : 큰 이미지 영역이 왼쪽 (타입1)
        .flow-right : 큰 이미지 영역이 오른쪽 (타입2)

        [component 영역 옵션]
        1. 배경 색상
        .bg-white : #FFFFFF 색상 배경 (기본 - 클래스 생략 가능)
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
        .bg-black : #000000 색상 배경

        [각 박스의 텍스트 영역(square) 옵션]
        1. 폰트 컬러
        .text-white : 화이트
        .text-black : 블랙
    -->

    <div class="component KRC0019 @@flow-type @@bg-color">
        <div class="component-inner">
            <div class="square @@fisrt-square.class text-white">
                <!-- 1. image -->
                <!-- 링크가 없는 경우
                    <a class="common-area" href="#"> ~ </a> 대신
                    <div class="common-area"> ~ </div> 로 감싸 주세요.
                -->
                <a class="common-area" href="#" data-link-area="block_image_2_text_overlay-image" data-link-name="{alt text}">
                    <div class="visual-area">
                        <img class="lazyload" data-pc-src="@@fisrt-square.img-src.@@fisrt-square.img-type" data-m-src="@@fisrt-square.img-src-m.@@fisrt-square.img-type" alt="">
                        <p class="hidden pc">graphic description : </p>
                        <p class="hidden mobile">graphic description : </p>
                    </div>
                    <div class="copy-boxing-area">
                        <!-- 2. eyebrow -->
                        <div class="category">Product Category Text</div>
                        <!-- // 2. eyebrow -->
                        <!-- 3. headline -->
                        <div class="head">@@fisrt-square.head</div>
                        <!-- // 3. headline -->
                    </div>
                </a>
                <!-- // 1. image -->
            </div>
            <div class="square @@secondSquare.class text-black">
                <!-- 4. image -->
                @@if (context.secondSquare.videoType === "youtube") {
                <div class="visual-area video youtube-box"><!-- [KR수정] youtube modal call DOM 추가 -->
                    <a href="#none" role="button" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="see-video acc-video-content" title="Opens in a new layer popup" data-type="youtube" data-player="default" data-target="modal" data-link-area="side_image_text-video_play_ad" data-link-name="{video title / video id}" aria-describedby="title01">plays audio description video</a>
                    <!-- * youtube video modal은 아래의 방식으로 입력 -->
                    <a href="#none" data-src="https://www.youtube.com/embed/PetoQo1eUww" class="common-area case-of-video see-video" data-type="youtube" data-target="modal" data-link-area="block_image_2_text_overlay-video_play" data-link-name="{video id}" aria-describedby="title01">
                        <div class="visual-area">
                            <img class="lazyload" data-pc-src="@@secondSquare.img-src.@@secondSquare.img-type" data-m-src="@@secondSquare.img-src-m.@@secondSquare.img-type" alt="">
                            <p class="hidden">graphic description : </p>
                        </div>
                        <div class="copy-boxing-area">
                            <!-- 5. eyebrow -->
                            <div class="category">Product Category Text</div>
                            <!-- // 5. eyebrow -->
                            <!-- 6. headline -->
                            <div class="head" id="title01">@@secondSquare.head</div>
                            <!-- // 6. headline -->
                        </div>
                    </a>
                </div><!-- [KR수정] youtube modal call DOM 추가 -->
                }
                @@if (context.secondSquare.videoType === "animation") {
                <!-- 2020.09.21 animation type 추가 -->
                <!-- 1.2 animation 타입인 경우 animation-box 클래스 추가 -->
                <div class="visual-area animation-box">
                    <a href="#none" role="button" data-src="/lg5-common/videos/Highlight_backround.mp4" aria-label="Plays audio Description Video" class="play-animaion-btn acc-btn" data-ani-text="Play the video" data-acc-ani-text="Plays audio Description Video" aria-describedby="title01">Plays audio Description Video</a>
                    <img class="lazyload" data-pc-src="@@secondSquare.img-src.@@secondSquare.img-type" data-m-src="@@secondSquare.img-src-m.@@secondSquare.img-type" alt="">
                    <p class="hidden">graphic description : </p><!-- [KR수정] Image Accessibility Description 추가 -->
                    <div class="animation-area">
                        <video autoplay muted loop>
                            <source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
                            <!-- WEBM 동영상을 제공하는 경우
                            <source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
                            -->
                        </video>
                        <div class="controller-wrap wa-btn">
                            <button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
                        </div>
                    </div>
                    <!-- caption -->
                    <div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
                    <!-- // caption -->
                }
                <!-- // 4. image -->
            </div>
        </div>
    </div>
</div>