<div id="pdp_shipping" class="component-wrap @@component-class.margin">
	<!--
		[component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<section class="component KRP0033">
		<div class="component-inner">
			<h2 class="title">배송안내</h2>
			<ul>
				<li><span style="color:#ec455a">주문 후 배송까지 2~5일 소요됩니다.</span></li>
				<li>단, 품절상품 또는 계절제품이나 특수 인기제품, 천재지변, 일부 도서지역일 경우 배송이 다소 지연될 수 있습니다.<br>(도서지역의 경우 2~3일 정도 추가 소요)</li>
				<li>공휴일은 배송기간에 포함되지 않습니다.</li>
				<li>해외의 경우 케어용품/소모품 주문 및 배송은 불가능합니다.</li>
			</ul>
		</div>
	</section>
</div> <!-- //.component-wrap-->