<!-- components/partials/KRP0013.html -->
<div id="pdp_support" class="component-wrap full @@component-class.margin"><!-- [KR수정] .full 추가 -->
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<section class="component KRP0013">
		<div class="support-box">
			<!-- 1. title -->
			<h2 class="title">고객지원</h2>
			<!-- // 1. title -->
			<!-- <p class="sub-text">View <a href="#none" class="link-text" data-link-area="pdp_support-model_name" data-link-name="65UK6300PUE">65UK6300PUE</a> Product support</p> [KR수정] 삭제 -->
			<!-- 2. banner -->
			<ul class="list-box">
				<li>
					<a href="#none" class="item-telephone" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<!-- <div class="icon">
							<img data-src="/lg5-common/images/KRP0013/information.svg" class="lazyload" alt="" aria-hidden="true"/>
						</div> [KR수정] 삭제 (아래 리스트에서도 모두 공통 삭제) -->
						<div>
							<strong>전화 예약 상담</strong>
							<span>전화 예약 상담하기</span>
							<!-- <span class="inductive-text">Learn more</span> [KR수정] 삭제 (아래 리스트에서도 모두 공통 삭제) -->
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-live-chat" target="_blank" title="새창열림" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>채팅 상담</strong>
							<span>채팅 상담하기</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-email" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>이메일 문의</strong>
							<span>이메일 문의하기</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-manual" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>사용 설명서</strong>
							<span>사용 설명서 보러가기</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-download" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>드라이버/SW</strong>
							<span>자료 다운받기</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-location" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>제품 문제 해결</strong>
							<span>서비스센터 찾기</span>
						</div>
					</a>
				</li>
			</ul>
			<!-- // 2. banner -->
		</div>
	</section>
</div>
