<div class="component-wrap @@zero">
    <!--
        [component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음
    -->
    <!-- KRP0039  -->
    <section class="component KRP0039" data-list-url="/lg5-common/data-ajax/event/event.json">
        <div class="component-inner">
            <div class="evt-bnr">
                <h2 class="tit">@@eventExhibitionTitle</h2>                  
                <div class="box-list event-type">
                    <ul class="box-list-inner">
                        @@loop('./common/modules/list-box-test.html', [                       
                            {
                                "img" : "dummy/@img-event01.jpg",
                                "imgAlt" : "imgAlt 입니다",
                                "title-hd" : "이벤트 제목",
                                "title" : "2020 NEW 올레드와 함께하는 홈라이프",
                                "linkTarget" : "_blank",
                                "date-hd" : "이벤트 기간",
                                "date" : "2020.08.01~2020.09.30"
                            },
                            {
                                "img" : "dummy/@img-event02.jpg",
                                "imgAlt" : "imgAlt 입니다",
                                "title-hd" : "이벤트 제목",
                                "title" : "LG 시네빔으로 즐기는 왓챠 콘텐츠! LG 시네빔으로 즐기는 왓챠 콘텐츠!  LG 시네빔으로 즐기는 왓챠 콘텐츠! LG 시네빔으로 즐기는 왓챠 콘텐츠!", 
                                "date-hd" : "이벤트 기간",
                                "date" : "2020.08.01~2020.09.30"
                            },
                            {
                                "img" : "dummy/@img-event03.jpg",    
                                "imgAlt" : "imgAlt 입니다",            
                                "title-hd" : "이벤트 제목",
                                "title" : "LG 이동식 에어컨 창문 잠금장치 신청 이벤트", 
                                "date-hd" : "이벤트 기간",
                                "date" : "2020.08.01~2020.09.30"                
                            }
                        ])
                    </ul>
                </div> 
                <!-- cta -->             
                <div class="btn-area btm">
                @@if (!context.ctaBtnTarget) {
                    <a href="@@ctaBtnLink" class="btn border size-m" data-link-area="event-exhibition-cta">
                }
                @@if (context.ctaBtnTarget) {
                    <a href="@@ctaBtnLink" class="btn border size-m" data-link-area="event-exhibition-cta" target="@@ctaBtnTarget">
                }
                        <span>@@ctaBtnName</span>
                    </a>
                </div>

                <!-- // cta -->
            </div>
        </div>
    </section>
</div>
<!-- //component KRP0039 -->