<!-- partials/components/KPP0005.html -->
<div class="btn-type1" style="display:none;">
	<div class="KRP0005 floating-menu chat">
		<div class="chatbot-linker">
			<a href="https://www.lgechat.com/us/index.html" class="head-inner js-popup" title="Opens in a new window" data-width="344" data-height="553" data-link-area="sticky_chat-chatbot_button" data-link-name="">
				<span class="blind">LG Chatbot</span>
			</a>
		</div>
	</div>
	<div class="KRP0005 floating-menu cs-call">
		<div class="cs-call-linker">
			<a href="#" class="head-inner js-popup" title="Opens in a new window" data-width="344" data-height="553" data-link-area="sticky_chat-chatbot_button" data-link-name="">
				<span class="blind">전문가 상담</span>
			</a>
		</div>
	</div>
</div>
<div class="btn-type2" style="display:">
	<div class="KRP0005 floating-menu more-plus">
		<div class="more-plus-linker open"> <!-- 선택시 open 클래스 추가 -->
			<a href="#" class="head-inner">
				<span class="blind">더보기</span>
			</a>
		</div>
	</div>
	<div class="btn-inner open">
		<div class="KRP0005 floating-menu chat">
			<div class="chatbot-linker">
				<a href="https://www.lgechat.com/us/index.html" class="head-inner js-popup" title="Opens in a new window" data-width="344" data-height="553" data-link-area="sticky_chat-chatbot_button" data-link-name="">
					<span class="blind">LG Chatbot</span>
				</a>
			</div>
		</div>
		<div class="KRP0005 floating-menu cs-call">
			<div class="cs-call-linker">
				<a href="#" class="head-inner js-popup" title="Opens in a new window" data-width="344" data-height="553" data-link-area="sticky_chat-chatbot_button" data-link-name="">
					<span class="blind">전문가 상담</span>
				</a>
			</div>
		</div>
		<div class="KRP0005 floating-menu btn3">
			<div class="cs-call-linker">
				<a href="#" class="head-inner">
					<span class="blind">세번째 버튼</span>
				</a>
			</div>
		</div>
		<div class="KRP0005 floating-menu btn4">
			<div class="cs-call-linker">
				<a href="#" class="head-inner">
					<span class="blind">네번째 버튼</span>
				</a>
			</div>
		</div>
	</div>
</div>