<div class="component-wrap full"><!-- [KR수정] .full class추가 -->
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<div class="component KRP0020">
		<div class="inner">
			<h1 class="title">사이트맵</h1>
			<ul>			                                                           
				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "제품"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "내게 맞는 제품 찾기",
                                        "TV"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "올레드 TV", "나노셀 TV", "울트라 HD TV", "일반 LED TV"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "프로젝터"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "초단초점", "투사형"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "AV"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "사운드바", "무선 스피커"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "워시타워",
                                        "세탁기"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "트윈워시", "트롬", "통돌이", "미니세탁기"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "의류건조기", "스타일러", "청소기"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "코드제로 A9S", "코드제로 R9", "코드제로 T9", "핸디스틱", "로보킹", "싸이킹"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "안마의자"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "노트북"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "그램", "울트라 기어", "울트라 PC"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "일체형 PC", "데스크톱", "모니터"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "울트라기어 게이밍 모니터",
                                        "울트라와이드 모니터",
                                        "PC모니터",
                                        "TV모니터",
                                        "IPTV모니터",
                                        "360모니터"
                                    ]
								})
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "스마트폰"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "전체",
                                        "LG VELVET",
                                        "V/G 시리즈",
                                        "Q 시리즈",
                                        "X 시리즈"
                                    ]
								})
                            </ul>
						</li>

						<li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "전자레인지/오븐"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "광파오븐",
                                        "전자레인지"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "전기레인지"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "인덕션",
                                        "하이브리드",
                                        "하이라이트"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"식기세척기",
										"정수기"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"냉온정수기",
										"냉정수기",
										"정수전용"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"맥주제조기",
                                        "빌트인가전",
                                        "냉장고"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "정수기형",
                                        "상냉장/하냉동",
                                        "양문형",
                                        "일반형",
                                        "비지니스",
                                        "와인셀러"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"김치냉장고"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "스탠드형",
                                        "뚜껑식형",
                                        "프리스타일"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "뷰티디바이스"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "LED 마스크",
                                        "탄력기기",
                                        "LED 넥케어",
                                        "울트라기어 게이밍 모니터",
                                        "울트라와이드 모니터"
                                    ]
								})
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "LG SIGNATURE",
                                        "LG ThinQ",
                                        "LG Objet 컬렉션"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>

				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "케어용품/소모품"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"TV/AV",
										"IT",
										"주방가전",
										"생활가전",
										"에어컨/에어케어",
										"모바일",
                                        "뷰티",
                                        "케어용품/소모품 예약"
                                    ]
                                })
							</ul>
						</li>
					</ul>

					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "케어솔루션"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"정수기",
										"맥주제조기",
										"공기청정기",
										"건조기",
										"스타일러",
										"전기레인지",
										"식기세척기",
										"안마의자"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"WHY케어솔루션"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"케어플래너",
										"케어십 가능제품"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "WHY케어십",
                                        "고객혜택"
                                    ]
                                })
							</ul>
						</li>
					</ul>
				</li>

				<li class="category-cluster">
					<ul>
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep1",
                                    "dep1" : "스토리"
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"매거진"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "제품 큐레이션",
                                        "라이프스타일 컨설팅"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"활용가이드"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"체험 리뷰",
										"제품 관리 팁",
										"레시피"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"뉴스룸"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"NEWS",
										"광고/캠페인 영상",
										"히스토리"
                                    ]
								})
							</ul>
							<ul class="category-column">
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep1",
                                    "dep1" : "e-카달로그"
                                })
							</ul>
						</li>
					</ul>

					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "이벤트/멤버십"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"이벤트"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "진행중 이벤트",
                                        "종료된 이벤트",
                                        "당첨자 발표"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"기획전"
                                    ]
                                })
                            </ul>
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "멤버십"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "멤버십 혜택",
                                        "멤버십 가입",
                                        "포인트 조회"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "쿠폰"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>
				
				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "고객지원"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "제품 사용 지원"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"제품문제해결",
										"동영상 가이드",
										"사용설명서",
										"드라이버/소프트웨어",
										"카드뉴스",
										"가전제품 생활의 팁"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "서비스 예약"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"출장 서비스 예약",
										"제품 설치/철거 예약",
										"서비스 예약 결과 조회"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "서비스상담"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"이메일문의",
										"문자상담 문의",
										"전화상담 예약",
										"원격상담 예약",
										"영상상담 예약",
										"상담 결과 조회/변경"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "센터/매장찾기"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "센터 찾기",
                                        "센터 방문 예약",
                                        "매장 찾기",
                                        "매장 방문 예약"
                                    ]
								})
                            </ul>
						</li>

						<li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "서비스 안내"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "자주 묻는 질문",
                                        "제품",
                                        "렌탈케어",
                                        "멤버십",
                                        "이벤트/혜택",
                                        "기타"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "공지사항"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "서비스뉴스",
                                        "공지사항",
                                        "요금/보증 안내",
                                        "재생부품 가격 공지",
                                        "이용가이드/FAQ"
                                    ]
								})
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "고객의 소리"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "칭찬합니다",
                                        "개선해주세요",
                                        "나의 글 보기",
                                        "칭찬 글 보기",
                                        "경영진에게 제안"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>

				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "마이페이지"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "쇼핑 내역"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "주문/배송 조회",
                                        "최근 본 상품",
                                        "관심 상품"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"활동 내역"
                                    ]
								})
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"리뷰 관리",
										"구독",
										"쿠폰",
										"관심 매장"
                                    ]
								})
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "문의/예약 조회",
                                        "케어솔루션"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"케어솔루션 신청내역",
										"계약현황",
										"납부내역",
										"방문 알리미"
                                    ]
								})
                            </ul>
						</li>

						<li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "제품 관리"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"보유 제품",
										"제품/영수증 등록"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "멤버십 관리"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "멤버십 가입 정보",
                                        "멤버십 포인트 조회"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "회원 정보",
                                        "알림"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>
			</ul>
			                        

		</div>
	</div>
</div>