<div class="component-wrap @@component-class.margin">
    <!--
        [component-wrap 옵션]
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음
    -->
    <section class="component KRP0043">
        <div class="component-inner">
            <div class="product-area">
                <div class="heading-box">
                    <div class="title">
                        <h2>@@title</h2>
                        <p>@@desc</p>
                    </div>
                    @@if (context.search == true) {
                    <div class="search">
                        <div class="input-wrap">
                            <div class="box">
                                <input type="text" name="modelName" id="modelName" class="ui_input_clearbutton" data-clear-button="button.btn-del" placeholder="모델명을 입력하세요.">
                                <div class="cell">
                                    <button type="button" class="btn-del"><span class="blind">검색어 삭제</span></button>
                                    <button type="button" class="btn-search"><span class="blind">검색</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="result-wrap">
                    <div class="list-wrap">
                        <ul class="product-list">
                            <li>14Z970-G.AR30ML</li>
                            <li>13Z970-E</li>
                            <li>13Z970-G</li>
                            <li>13Z980-B</li>
                            <li>13Z980-G</li>
                            <li>14Z970-E</li>
                            <li>14Z970-G</li>
                            <li>14Z970-T</li>
                            <li>14Z980-G</li>
                            <li>14ZB970-G</li>
                            <li>14ZD970-G</li>
                            <li>15Z960-G</li>
                            <li>15Z960-M</li>
                            <li>15Z970-E</li>
                            <li>15Z970-G</li>
                            <li>15Z970-L</li>
                            <li>15Z975-G</li>
                            <li>15Z980-G</li>
                            <li>15ZB970-G</li>
                            <li>15ZG980-G</li>
                        </ul>
                    </div>
                    @@if (context.search == true) {
                    <div class="no-data">
                        <p>입력하신 모델과 일치하는 적용 모델을 찾지 못했습니다.</p>
                    </div>
                    }
                </div>
            </div>
        </div>	
    </section>
</div> <!-- //.component-wrap-->