@@if ( !context.normalType ) {
<div class="box">
    <!-- 상품 이미지 -->
    <div class="prod-img">
        <!-- PC -->
        <span class="pc">
            <img src="/lg5-common/images/KRP0010/@img-prod-pc.png" alt="">
            <p class="hidden">PC 이미지 설명 영역</p>
        </span>
        <!-- // PC -->
        <!-- mob -->
        <span class="mob">
            <img src="/lg5-common/images/KRP0010/@img-prod-m.png" alt="">
            <p class="hidden">Mobile 이미지 설명 영역</p>
        </span>
        <!-- // mob -->
    </div>
    <!-- // 상품 이미지 -->
    <h3 class="tit">@@title</h3>
    <!-- 스펙 리스트 -->
    <div class="spec-info-list big">
        <ul>
            @@for ( var i=0; i < spec.length; i++ ) {
            <li>`+spec[i].li+`</li>
            }
        </ul>
    </div>
    <!-- // 스펙 리스트 -->
    <!-- 접기 버튼 -->
    <div class="btn_collapse_more">
        <a href="#"><span>자세히보기</span></a>
        <a href="#" class="open"><span>간략보기</span></a>
    </div>
    <!-- //접기 버튼 -->
</div>
}
@@if ( context.normalType ) {
<div class="box">
    <h3 class="tit">@@title</h3>
    <!-- 스펙 리스트 -->
    <div class="spec-info-list">
        <ul>
            @@for ( var i=0; i < spec.length; i++ ) {
            <li>
                <dl>
                    <dt>`+spec[i].dt+`</dt>
                    <dd>`+spec[i].dd+`</dd>
                </dl>
            </li>
            }
        </ul>
    </div>
    <!-- // 스펙 리스트 -->
</div>
}