	@@if ( context.videoType == "youtube") {
		<div class="visual-area">
			<div class="visual-box">
				<div class="box-inner">
					<img data-pc-src="/lg5-common/images/dummy/@img-1029x578.png" data-m-src="/lg5-common/images/dummy/@img-656x369.png" alt="">
					<p class="hidden pc">graphic description : </p>
					<p class="hidden mobile">graphic description : </p>
					<iframe src="https://www.youtube.com/embed/PetoQo1eUww" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="YouTube video player"></iframe>
				</div>	
			</div>
		</div>
		}
		@@if ( context.videoType == "animation") {		
			<!-- 1. animation 타입인 경우 animation-box 클래스 추가 -->
			<div class="visual-area animation-box">
				<img data-pc-src="/lg5-common/images/dummy/@img-1029x578.png" data-m-src="/lg5-common/images/dummy/@img-656x369.png" alt="">
				<p class="hidden pc">graphic description : </p>
				<p class="hidden mobile">graphic description : </p>
				<div class="animation-area">
					<video autoplay muted loop>
						<source src="/lg5-common/videos/signature_rain_view.mp4" type="video/mp4">
						<!-- WEBM 동영상을 제공하는 경우
						<source src="/lg5-common/videos/signature_rain_view.webm" type="video/webm">
						-->
					</video>
					<div class="controller-wrap wa-btn">
						<button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
					</div>
				</div>
				<!-- caption -->
				<div class="caption">영상이나 이미지에 대한 간략한 타이틀이 들어갑니다</div>
				<!-- // caption -->
			</div>
			<!-- // 1. animation 타입인 경우 -->
		}