<div class="component-wrap full"><!-- [KR수정] .full class추가 -->
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<div class="component KRP0020">
		<div class="inner">
			<h1 class="title">사이트맵</h1>
			<ul>			                                                           
				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "제품"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "TV/AV"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "TV",
                                        "프로젝터",
                                        "AV"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "IT"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "노트북",
                                        "일체형 PC",
                                        "데스크톱",
                                        "모니터"
                                    ]
								})
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "주방가전"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "냉장고",
                                        "김치 냉장고",
                                        "전기레인지/오븐",
                                        "전기레인지",
                                        "식기세척기",
                                        "정수기",
                                        "맥주제조기",
                                        "빌트인 가전"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "생활가전"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "워시타워",
                                        "세탁기",
                                        "의류건조기",
                                        "스타일러",
                                        "청소기",
                                        "안마의자"
                                    ]
								})
                            </ul>
						</li>

						<li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "에어컨/에어케어"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "에어컨",
                                        "공기청정기",
                                        "제습기",
                                        "가습기"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "모바일"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "피쳐폰",
                                        "스마트폰",
                                        "스마트 디바이스"
                                    ]
								})
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "뷰티"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "뷰티 디바이스"
                                    ]
								})
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "브랜드관"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "LG ThinQ",
                                        "LG SIGNATURE",
                                        "LG Objet"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "내게 맞는 제품 찾기"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>

				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "케어솔루션"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"케어솔루션 제품 안내"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"정수기",
										"맥주제조기",
										"공기청정기",
										"건조기",
										"스타일러",
										"전기레인지",
										"식기세척기",
										"안마의자"
                                    ]
                                })
                            </ul>
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"케어솔루션 안내"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"WHY 케어솔루션",
										"WHY 케어십",
										"고객혜택"
                                    ]
                                })
							</ul>
                        </li>
					</ul>
                </li>
                
                <li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "케어용품/소모품"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"케어용품 제품 안내"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"TV/AV",
										"IT",
										"주방가전",
										"생활가전",
										"에어컨/에어케어",
										"모바일",
										"뷰티"
                                    ]
                                })
                            </ul>
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"케어용품/소모품 예약"
                                    ]
                                })
							</ul>
                        </li>
					</ul>
                </li>
                
                <li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "이벤트/멤버십"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"이벤트"
                                    ]
                                })
                            </ul>
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"기획전"
                                    ]
                                })
							</ul>
                        </li>
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"멤버십"
                                    ]
                                })
                            </ul>
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"쿠폰"
                                    ]
                                })
							</ul>
                        </li>
					</ul>
                </li>

                <li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "스토리"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"메거진"
                                    ]
                                })
                            </ul>
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"활용 가이드"
                                    ]
                                })
							</ul>
                        </li>
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"뉴스룸"
                                    ]
                                })
                            </ul>
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"e카탈로그"
                                    ]
                                })
							</ul>
                        </li>
					</ul>
                </li>
				
				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "고객지원"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "제품 사용 지원"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "서비스 상담",
                                        "서비스 예약"
                                    ]
                                })
                            </ul>
						</li>

						<li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "센터/매장 찾기",
                                        "서비스 안내"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "공지사항",
                                        "고객의 소리"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>

				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0020-level.html', {
                            "depth" : "dep1",
                            "dep1" : "마이페이지"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "쇼핑 내역"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "주문/배송 조회",
                                        "최근 본 상품",
                                        "찜한 상품"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"활동 내역"
                                    ]
								})
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"리뷰 관리",
										"구독",
										"쿠폰",
                                        "관심 매장",
                                        "관심 스토리"
                                    ]
								})
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "예약 조회"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"매장/센터 방문 예약",
										"전화/원격상담 예약",
										"엔지니어 출장 예약",
										"설치/철거 예약"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "케어솔루션"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"케어솔루션 신청 내역",
										"계약 현황",
										"납부 내역",
										"방문 알리미"
                                    ]
								})
                            </ul>
						</li>

						<li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "제품 관리"
                                    ]
                                })
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"보유 제품",
										"제품/영수증 등록"
                                    ]
								})
								@@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "멤버십 관리"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0020-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "알림"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>
			</ul>
			                        

		</div>
	</div>
</div>