<!-- components/partials/KRP0009-cate.html -->
<div class="cate-wrap open"><!-- btn-more click 시 open class 추가 (mobile) -->
    
    <div class="cate-list">

        <div class="btn-filter">
            <a href="##n" id="filterModalLink" class="ico-filter"><span class="blind">옵션필터</span></a>
        </div>

        <div class="chk-cate">
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="all_chk101" value="1" checked>
                <label for="all_chk101">전체</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk101" value="2" checked>
                <label for="chk101">카테고리1</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk102" value="3" checked>
                <label for="chk102">카테고리2</label>
            </div>
            <div class="chk-wrap" >
                <input type="checkbox" name="categoryCheckbox" id="chk103" value="4">
                <label for="chk103">카테고리3</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk104" value="5" >
                <label for="chk104">카테고리4</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk105" value="6" >
                <label for="chk105">카테고리5</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk106" value="7" checked>
                <label for="chk106">카테고리6</label>
            </div>
            <div class="chk-wrap" >
                <input type="checkbox" name="categoryCheckbox" id="chk107" value="8">
                <label for="chk107">카테고리7</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk108" value="9">
                <label for="chk108">카테고리8</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk109" value="10" checked>
                <label for="chk109">카테고리9</label>
            </div>
            <div class="chk-wrap" >
                <input type="checkbox" name="categoryCheckbox" id="chk110" value="11">
                <label for="chk110">카테고리10</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk111" value="12">
                <label for="chk111">카테고리11</label>
            </div>
        </div>

        <div class="mobile-more-btn">
            <a href="#n" id="" class="btn-more"><span class="blind">서브카테고리 펼침</span></a>
        </div>
    </div>
</div>