<!-- 컨텐츠 내용이 KRP0005.html 안으로 이동됨 -->
<div class="KRP0032 floating-menu lately" style='display:none;'>
	<div class="lately-linker">
		<a href="#" data-control="modal" class="head-inner">
            <span class="blind">최근 본 제품</span>
            <img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.">
		</a>
    </div>
    <!-- 210128 수정(위치이동) -->
    <article id="KRP0032" class="popup-wrap lately-popup close"
    data-list-url="/lg5-common/data-ajax/KRP0032/productData.json"
>
        <header class="pop-header">
            <h1 class="tit"><span>최근 본 제품</span></h1>
        </header>
        <section class="pop-conts">
            <div class="lately-list">
                <ul>
                    <!-- 210422 수정 [품절, 단종, 구매불가 메세지 추가] -->
                    <li class="disabled">
                        <div class="img"><a href="#n"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></a></div>
                        <dl>
                            <a href="#n">
                                <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                                <dd>일시 품절된 상품입니다.</dd>
                            </a>
                        </dl>
                    </li>
                    <li class="disabled">
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="제품명 최대 텍스트 2줄까지"></div>
                        <dl>
                            <dt>제품명 최대 텍스트 2줄까지</dt>
                            <dd>판매가 종료된 상품입니다.</dd>
                        </dl>
                    </li>
                    <li class="disabled">
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄 이상 넘어갈시 …처리 됩니다. 이상 넘어…최대 텍스트 2줄 이상 넘어갈시 …처리 됩니다. 이상 넘어…"></div>
                        <dl>
                            <dt>최대 텍스트 2줄 이상 넘어갈시 …처리 됩니다. 이상 넘어…최대 텍스트 2줄 이상 넘어갈시 …처리 됩니다. 이상 넘어…</dt>
                            <dd>본 상품은 LGE.COM에서 판매하지 않는 상품입니다.</dd>
                        </dl>
                    </li>
                    <!-- // 210422 수정 [품절, 단종, 구매불가 메세지 추가] -->
                    <li>
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                        <dl>
                            <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                            <dd>3,490,000원</dd>
                        </dl>
                    </li>
                    <li>
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                        <dl>
                            <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                            <dd>3,490,000원</dd>
                        </dl>
                    </li>
                    <li>
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                        <dl>
                            <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                            <dd>3,490,000원</dd>
                        </dl>
                    </li>
                    <li>
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                        <dl>
                            <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                            <dd>3,490,000원</dd>
                        </dl>
                    </li>
                    <li>
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                        <dl>
                            <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                            <dd>3,490,000원</dd>
                        </dl>
                    </li>
                    <li>
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                        <dl>
                            <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                            <dd>3,490,000원</dd>
                        </dl>
                    </li>
                    <li>
                        <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                        <dl>
                            <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                            <dd>3,490,000원</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </section>
        <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
    </article>
    <div class="lately-dim open"></div>
    <!-- //210128 수정(위치이동) -->
</div>