<div class="component-wrap @@zero">
	<!--
		[component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		[video-info 옵션]
			1. align
			.align-left : left
			.align-right : right
			.align-center : center
	-->
	<section class="component KRP0027" 
		data-video-list-url="/lg5-common/data-ajax/KRP0027/adcampaignVideoInfo.json"
		data-viewer-data-url="/lg5-common/data-ajax/KRP0027/adcampaignViewerData.json"
	>
		<div class="page-header wide border">
			<h2 class="title">광고/캠페인 영상</h2>
			<div class="tabs-wrap btn-type ui_tab ui_smooth_scroll ui_main_tab">
				<ul class="tabs">
					<li class="on" data-cate-id="ALL"><a href="#n">전체<em class="blind">선택됨</em></a></li>
					<li data-cate-id="AAA"><a href="#n">LG전자 경영일반</a></li>
					<li data-cate-id="BBB"><a href="#n">홈 어플라이언스</a></li>
					<li data-cate-id="CCC"><a href="#n">모바일 커뮤니케이션즈</a></li>
					<li data-cate-id="DDD"><a href="#n">바이클 컴포넌츠</a></li>
					<li data-cate-id="EEE"><a href="#n">비즈니스 솔루션</a></li>
				</ul>
			</div>
			<div class="tabs-bg ui_supercate_tab">
				<div class="tabs-wrap bar-type ui_tab ui_smooth_scroll">
					<ul class="tabs">
						<li class="on" data-cate-id="AAA-ALL"><a href="#tab1">전체<em class="blind">선택됨</em></a></li>
						<li data-cate-id="AAA-111"><a href="#tab2">스마트폰</a></li>
						<li data-cate-id="AAA-222"><a href="#tab2">피처폰</a></li>
						<li data-cate-id="AAA-333"><a href="#tab2">스마트 디바이스</a></li>
						<li data-cate-id="AAA-444"><a href="#tab2">스마트</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="cont-wrap story-video-campaign-wrap">
			
			<div class="list-sorting">
				<div class="list-count" id="totalCount">총 59개</div>
			</div>

			<div class="story-video-wrap">
				<div class="video-wrap" data-model-id="ASX23423423">
					<div class="video-inner"><!-- mobile 스크롤 시 고정 class : fixed 추가 -->
						@@include('./common/partials/KRP0027-video.html', {
							"videoType" : "animation"
						})
					</div>
					<div class="video-info">
						<div class="btn-area">
							<div class="btn-wrap">
								<a href="#n" class="btn-text btn-modelName">제품 DPName 출력 최대25자까지 입력가능</a>								
								<button type="button" class="btn-more btn-moreModel"><span class="hidden">수상내역 더보기</span></button>								
							</div>
						</div>
						<div class="tit-area">
							<p class="tit">LG 휘센 씽큐 에어컨 TV CF (아이스쿨파워/공기청정기 편)</p>
							<p class="date">2020.09.07 </p>
							<div class="share-area">
								@@include('./common/modules/tooltip.html', {
									"share" : true,
									"fixed" : "fixed-right",
									"type" : "include",
									"page" : "tooltip-share"
								})
							</div>
						</div>
						<div class="desc"><!-- 자막 더보기 class : open 추가 -->
							<div class="inner">
								인공지능 스스로 에어컨 LG 휘센 씽큐 <br>
								[자막]<br>
								때때로 인간의 욕심은 끝이 없다 <br>
								에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고<br>
								그럼, 어떻게?<br>
								때때로 인간의 욕심은 끝이 없다 <br>
								에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고<br>
								그럼, 어떻게?<br>
								때때로 인간의 욕심은 끝이 없다 <br>
								에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고<br>
								그럼, 어떻게?<br>
								때때로 인간의 욕심은 끝이 없다 <br>
								에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고<br>
								그럼, 어떻게?<br>
							</div>
							<button class="more-btn"><span class="hidden">열기</span></button>
						</div>

						<div class="hashtag-area">
							<div class="tag-list">
								<a href="#n" class="hashtag"><span>#</span>AI</a>
								<a href="#n" class="hashtag"><span>#</span>AIX</a>
								<a href="#n" class="hashtag"><span>#</span>LGSTORY</a>
								<a href="#n" class="hashtag"><span>#</span>LGThinQ</a>
								<a href="#n" class="hashtag"><span>#</span>LG스토리</a>
								<a href="#n" class="hashtag"><span>#</span>LG스토리</a>
								<a href="#n" class="hashtag"><span>#</span>인공지능</a>
								<a href="#n" class="hashtag"><span>#</span>인공지능발전단계</a>
								<a href="#n" class="hashtag"><span>#</span>LGSTORY</a>
								<a href="#n" class="hashtag"><span>#</span>AI</a>
								<a href="#n" class="hashtag"><span>#</span>인공지능발전단계</a>
								<a href="#n" class="hashtag"><span>#</span>LGSTORY</a>
								<a href="#n" class="hashtag"><span>#</span>LG스토리</a>
								<a href="#n" class="hashtag"><span>#</span>인공지능발전단계</a>
								<a href="#n" class="hashtag"><span>#</span>LG씽큐</a>
								<a href="#n" class="hashtag"><span>#</span>LGSTORY</a>
								<a href="#n" class="hashtag"><span>#</span>LGSTORY</a>
								<a href="#n" class="hashtag"><span>#</span>LGSTORY</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="video-list-wrap">
					<div class="inner">
						<!-- 201222 수정(추가) -->
						<div class="scroll-wrap ui_smooth_scrolltab ui_tab ui_subcate_tab">
							<div class="ui_smooth_tab">
								<ul class="tabs">
									<li class="on" data-cate-id="AAA-111-all"><a href="#">전체<em class="blind">선택됨</em></a></li>
									<li data-cate-id="AAA-111-aaa"><a href="#">2020(20)</a></li>
									<li data-cate-id="AAA-111-bbb"><a href="#">2019(11)</a></li>
									<li data-cate-id="AAA-111-ccc"><a href="#">2018(04)</a></li>
									<li data-cate-id="AAA-111-ddd"><a href="#">2017(11)</a></li>
								</ul>
							</div>
							<div class="scroll-controls ui_smooth_controls">
								<button type="button" class="btn-arrow prev ui_smooth_prev"><span class="blind">이전</span></button>
								<button type="button" class="btn-arrow next ui_smooth_next"><span class="blind">다음</span></button>
							</div>
						</div>
						<!-- //201222 수정(추가) -->

						<div class="tabs-cont sub_cate_list" data-page="1" data-totalpage="3">
							<ul class="video-list">
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n" data-video-id="ABC0987654">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>	
			
		</div>

		@@include('./common/partials/modal/story-pop.html', {
			"popupID" : "",
			"tit" : "광고 제품 카테고리 및 모델명",
			"subtit" : "공기청정기",
			"list" : ["LG 퓨리케어 360 ˚ 공기청정기", "LG 퓨리케어 미니 공기청정기"]
		})

		<script type="text/x-jquery-tmpl" id="tmpl-view-wrap">
			<div class="video-inner">
				{{if videoType == "youtube"}}
				<div class="visual-area">
					<div class="visual-box">
						<div class="box-inner">
							<img src="${imgSrc}" data-pc-src="${pcImage}" data-m-src="${mobileImage}" alt="">
							<p class="hidden pc">${videoDescription}</p>
							<p class="hidden mobile">${videoDescription}</p>
							<iframe src="${videoUrl}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="${videoTitle}"></iframe>
						</div>	
					</div>
				</div>
				{{else}}
				<div class="visual-area animation-box">
					<img src="${imgSrc}" data-pc-src="${pcImage}" data-m-src="${mobileImage}" alt="">
					<p class="hidden pc">${videoDescription}</p>
					<p class="hidden mobile">${videoDescription}</p>
					<div class="animation-area">
						<video autoplay muted loop>
							<source src="${videoUrl}" type="video/mp4">
						</video>
						<div class="controller-wrap wa-btn">
							<button class="active pause" aria-label="Pause Video" name="pause" data-play-text="Play Video" data-pause-text="Pause Video" data-link-area="side_image_text-animation_play" data-link-name="" aria-describedby="title01">Pause Video</button>
						</div>
					</div>
					<div class="caption">${videoDescription}</div>
				</div>
				{{/if}}
			</div>
			<div class="video-info">
				{{if matchModelList && matchModelList.length > 0}}
				<div class="btn-area">
					<div class="btn-wrap">
						<a href="#n" class="btn-text btn-modelName">제품 DPName 출력 최대25자까지 입력가능</a>
						{{if matchModelList.length > 1}}							
						<button type="button" class="btn-more btn-moreModel"><span class="hidden">수상내역 더보기</span></button>
						{{/if}}
					</div>
				</div>
				{{/if}}
				<div class="tit-area">
					<p class="tit">${videoTitle}</p>
					<p class="date">${lunchDate}</p>
					<div class="share-area">
						<div class="tooltip-wrap share">
							<a href="#n" class="tooltip-icon ui_tooltip-target" data-fixed="fixed-right" ui-modules="TooltipTarget"><span class="blind">제품 공유하기</span></a>						
							<div class="tooltip-box fixed-right" aria-hidden="true" style="display: none;">
								<span class="title">공유</span>
								<div class="sns-wrap">					
									<ul class="sns-list">
										<li><a href="#none" data-url="" class="ico-btn fb" title="페이스북에 공유하기, 새창열림" data-link-name="facebook"><span class="blind">페이스북으로 페이지 공유하기</span></a></li>
										<li><a href="#none" data-url="" class="ico-btn tw" title="트위터에 공유하기, 새창열림" data-link-name="twitter"><span class="blind">트위터로 페이지 공유하기</span></a></li>
										<li><a href="#none" data-url="" class="ico-btn kk" title="카카오톡에 공유하기, 새창열림" data-link-name="kakaotalk"><span class="blind">카카오톡으로 페이지 공유하기</span></a></li>
										<li><a href="#none" data-url="" class="ico-btn url" data-link-name="copy_url"><span class="blind">URL 복사하기</span></a></li>
									</ul>
								</div>
								<button type="button" class="btn-close"><span class="blind">닫기</span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="desc">
					<div class="inner">
						{{html caption}}
					</div>
					<button class="more-btn"><span class="hidden">열기</span></button>
				</div>

				{{if hashtagList && hashtagList.length > 0}}
				<div class="hashtag-area">
					<div class="tag-list">
						{{each hashtagList}}
						<a href="${$value.link}" class="hashtag"><span>#</span>${$value.tagname}</a>
						{{/each}}
					</div>
				</div>
				{{/if}}
			</div>
		</script>
	</section>
</div>