
	<div class="component-wrap @@zero">
		<!--
			[component-wrap 옵션]
			1. 여백
			.zero-top : 상단여백 없음
			.zero-btm : 하단여백 없음
		-->
		<section class="component KRP0036">
			<div class="component-inner">

				<!-- tab -->
				<div class="page-header wide border">
					<div class="tabs-wrap btn-type ui_tab ui_smooth_scroll">
						<ul class="tabs">
							<li class="on"><a href="#n">전체<em class="blind">선택됨</em></a></li>
							<li><a href="#n">TV/AV</a></li>
							<li><a href="#n">IT</a></li>
							<li><a href="#n">주방가전</a></li>
							<li><a href="#n">생활가전</a></li>
							<li><a href="#n">에어컨/에어케어</a></li>
							<li><a href="#n">모바일</a></li>
							<li><a href="#n">케어솔루션</a></li>
						</ul>
					</div>
					@@if (context.tabBarType) {
					<div class="tabs-bg">
						<div class="tabs-wrap bar-type ui_tab ui_smooth_scroll">
							<ul class="tabs">
								<li class="on"><a href="#tab1">전체<em class="blind">선택됨</em></a></li>
								<li><a href="#tab2">스마트폰</a></li>
								<li><a href="#tab2">피처폰</a></li>
								<li><a href="#tab2">스마트 디바이스</a></li>
								<li><a href="#tab2">스마트</a></li>
							</ul>
							@@if (context.tabInBtn) {
							<div class="btn-area">
								<a href="#" class="btn border size-m arrow"><span>새로운 기능안내</span></a>
							</div>
							}
						</div>
					</div>
				}
				</div> 
				
				<!-- // tab -->

				@@if (context.lgVisual) {
					<!-- component KRP0036-carousel -->
					@@include('./common/partials/KRP0036-carousel.html')
					<!-- //component KRP0036-carousel -->
				}	

				<div class="story-list-wrap">
					@@include('./common/modules/list-sorting.html', {
						"select" : [
							{"option" : "인기순"},
							{"option" : "최신순"}
						]
					})
					<div class="story-list">
		
						<ul class="story-box">
						@@loop('./common/partials/KRP0036-list-module.html', [
							{
							"flags" : ["뉴스구분값"],
							"hashtag" : ["#건강관리", "#가을"],
							"date" : true
							}, 
							{
							"flags" : ["뉴스구분값"],
							"hashtag" : ["#건강관리", "#가을"],
							"date" : true
							},
							{
							"flags" : ["뉴스구분값"],
							"hashtag" : ["#건강관리", "#가을"],
							"date" : true
							}, 
							{
							"flags" : ["뉴스구분값"],
							"hashtag" : ["#건강관리", "#가을"],
							"date" : true
							}
						])
						</ul>
						@@include('./common/support/pagination.html', {
							count: 5
						})
					</div>
					
				</div>
			</div>	
		</section>
	</div>		
	
		

		 
