<div class="component-wrap @@zero">
	<!--
		[component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<section class="component KRP0037">
		<div class="page-header wide border">
			<h2 class="title">광고/캠페인 영상</h2>
			<div class="tabs-wrap btn-type ui_tab ui_smooth_scroll">
				<ul class="tabs">
					<li class="on"><a href="#n">전체<em class="blind">선택됨</em></a></li>
					<li><a href="#n">LG전자 경영일반</a></li>
					<li><a href="#n">홈 어플라이언스</a></li>
					<li><a href="#n">모바일 커뮤니케이션즈</a></li>
					<li><a href="#n">바이클 컴포넌츠</a></li>
					<li><a href="#n">비즈니스 솔루션</a></li>
				</ul>
			</div>
			<div class="tabs-bg">
				<div class="tabs-wrap bar-type ui_tab ui_smooth_scroll">
					<ul class="tabs">
						<li class="on"><a href="#tab1">전체<em class="blind">선택됨</em></a></li>
						<li><a href="#tab2">스마트폰</a></li>
						<li><a href="#tab2">피처폰</a></li>
						<li><a href="#tab2">스마트 디바이스</a></li>
						<li><a href="#tab2">스마트</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="cont-wrap story-video-campaign-wrap">
			
			<div class="list-sorting">
				<div class="list-count" id="totalCount">총 59개</div>
			</div>

			<div class="story-video-wrap">
				<div class="video-wrap">
					<div class="video-inner fixed"><!-- mobile 스크롤 시 고정 class : fixed 추가 -->
						@@include('./common/partials/KRP0037-video.html', {
							"videoType" : "youtube"
						})
					</div>
					<div class="video-info">
						<div class="btn-area">
							<div class="btn-wrap">
								<a href="#n" class="btn-text">제품 DPName 출력 최대25자까지 입력가능</a>
								
								<button type="button" class="btn-more"><span class="hidden">수상내역 더보기</span></button>
								
							</div>
						</div>
						<div class="tit-area">
							<p class="tit">LG 휘센 씽큐 에어컨 TV CF (아이스쿨파워/공기청정기 편)</p>
							<p class="date">2020.09.07 </p>
							<div class="share-area">
								@@include('./common/modules/tooltip.html', {
									"share" : true,
									"fixed" : "fixed-right",
									"type" : "include",
									"page" : "tooltip-share"
								})
							</div>
						</div>
						<div class="desc"><!-- 자막 더보기 class : open 추가 -->
							<div class="inner">
								인공지능 스스로 에어컨 LG 휘센 씽큐 <br>
								[자막]<br>
								때때로 인간의 욕심은 끝이 없다 <br>
								에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고<br>
								그럼, 어떻게?<br>
								때때로 인간의 욕심은 끝이 없다 <br>
								에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고<br>
								그럼, 어떻게?<br>
								때때로 인간의 욕심은 끝이 없다 <br>
								에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고<br>
								그럼, 어떻게?<br>
								때때로 인간의 욕심은 끝이 없다 <br>
								에어컨은 거실에 두면서 먼 주방까지 시원했으면 좋겠고<br>
								그럼, 어떻게?<br>
							</div>
							<button class="more-btn"><span class="hidden">열기</span></button>
						</div>

						<div class="hashtag-area">
							<div class="tag-list">
								<a href="#n" class="hashtag">#AI</a>
								<a href="#n" class="hashtag">#AIX</a>
								<a href="#n" class="hashtag">#LGSTORY</a>
								<a href="#n" class="hashtag">#LGThinQ</a>
								<a href="#n" class="hashtag">#LG스토리</a>
								<a href="#n" class="hashtag">#LG스토리</a>
								<a href="#n" class="hashtag">#인공지능</a>
								<a href="#n" class="hashtag">#인공지능발전단계</a>
								<a href="#n" class="hashtag">#LGSTORY</a>
								<a href="#n" class="hashtag">#AI</a>
								<a href="#n" class="hashtag">#인공지능발전단계</a>
								<a href="#n" class="hashtag">#LGSTORY</a>
								<a href="#n" class="hashtag">#LG스토리</a>
								<a href="#n" class="hashtag">#인공지능발전단계</a>
								<a href="#n" class="hashtag">#LG씽큐</a>
								<a href="#n" class="hashtag">#LGSTORY</a>
								<a href="#n" class="hashtag">#LGSTORY</a>
								<a href="#n" class="hashtag">#LGSTORY</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="video-list-wrap">
					<div class="inner">
						<div class="tabs-wrap bar-type ui_tab ui_smooth_scroll">
							<ul class="tabs">
								<li class="on"><a href="#tab3-1">2020(20)<em class="blind">선택됨</em></a></li>
								<li><a href="#tab3-2">2019(11)</a></li>
								<li><a href="#tab3-3">2018(04)</a></li>
								<li><a href="#tab3-4">2017(11)</a></li>
							</ul>
						</div>
						<div class="tabs-cont">
							<ul class="video-list">
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
								<li>
									<a href="#n">
										<span class="thumb">
											<img data-pc-src="/lg5-common/images/dummy/@img-119x68.png" data-m-src="/lg5-common/images/dummy/@img-656x370.png" alt="">
										</span>
										<span class="tit"><span>LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 TV CF LG 휘센 씽큐 에어컨 </span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>	
			
		</div>

		@@include('./common/partials/modal/story-pop.html', {
			"popupID" : "",
			"tit" : "광고 제품 카테고리 및 모델명",
			"subtit" : "공기청정기",
			"list" : ["LG 퓨리케어 360 ˚ 공기청정기", "LG 퓨리케어 미니 공기청정기"]

		})
	</section>
</div>