<!-- components/partials/KRP0009-cate.html -->
<div class="cate-wrap">
    <div class="cate-list">
        <div class="chk-cate">
            <div class="chk-wrap">
                <input type="checkbox" id="all_chk01" checked>
                <label for="all_chk01">전체</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" id="chk01">
                <label for="chk01">항목1</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" id="chk02">
                <label for="chk02">항목2</label>
            </div>
            <div class="chk-wrap" >
                <input type="checkbox" id="chk03">
                <label for="chk03">항목3</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" id="chk04">
                <label for="chk04">항목4</label>
            </div>
        </div>

        <div class="btn-compare">
            <button type="button"><span>비교하기</span></button>
        </div>
    </div>
</div>