<div class="KRP0032 floating-menu lately">
	<div class="lately-linker">
		<a href="#laypop01" data-control="modal" class="head-inner">
            <span class="blind">최근 본 제품</span>
            <img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.">
		</a>
	</div>
</div>
<article id="laypop01" class="popup-wrap lately-popup open">
    <header class="pop-header">
        <h1 class="tit"><span>최근 본 제품</span></h1>
    </header>
    <section class="pop-conts">
        <div class="lately-list">
            <ul>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                    <dl>
                        <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="제품명 최대 텍스트 2줄까지"></div>
                    <dl>
                        <dt>제품명 최대 텍스트 2줄까지</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄 이상 넘어갈시 …처리 됩니다. 이상 넘어…최대 텍스트 2줄 이상 넘어갈시 …처리 됩니다. 이상 넘어…"></div>
                    <dl>
                        <dt>최대 텍스트 2줄 이상 넘어갈시 …처리 됩니다. 이상 넘어…최대 텍스트 2줄 이상 넘어갈시 …처리 됩니다. 이상 넘어…</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                    <dl>
                        <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                    <dl>
                        <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                    <dl>
                        <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                    <dl>
                        <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                    <dl>
                        <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                    <dl>
                        <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
                <li>
                    <div class="img"><img src="/lg5-common/images/KRP0032/img-lately-96x96.jpg" alt="최대 텍스트 2줄까지 공백포함 25자까지 권장합니다."></div>
                    <dl>
                        <dt>최대 텍스트 2줄까지 공백포함 25자까지 권장합니다.</dt>
                        <dd>3,490,000원</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </section>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<div class="lately-dim open"></div>