<div id="pdp_inquiry" class="component-wrap">
	<!--
		[component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<section class="component KRP0035">
		<div class="component-inner">
			<h2 class="title">상품문의</h2>
			<ul>
				<li>선택하신 상품관련 궁금하신 사항을 문의하실 수 있습니다.</li>
				<li>아래 버튼을 클릭 하신 후 이메일 문의 페이지로 이동하여 상세한 문의 내용을 작성 후 제출해 주시면 빠른 시일 안에 답변 드리도록 하겠습니다.</li>
				<li>로그인 후 문의하시면 마이페이지에서 편리하게 답변을 확인 하실 수 있습니다.</li>
			</ul>
			<div class="bottom-area">
				<a href="#" class="btn" data-link-area="pdp_support-support_link_area" data-link-name="email_inquiry" target="_blank" title="새창 열림"><span>상품문의 하기</span></a>
			</div>
		</div>
	</section>
</div> <!-- //.component-wrap-->