<div class="component-wrap full zero-top zero-btm"><!-- [KR수정] .full class추가 -->
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<div class="component KRP0017">
		<div class="inner">
			<h1 class="title">사이트맵</h1>
			<ul>			                                                           
				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0017-level.html', {
                            "depth" : "dep1",
                            "dep1" : "스토어"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "TV/AV"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "TV",
                                        "프로젝터",
                                        "AV"
                                    ]
								})
								@@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "IT"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "노트북",
                                        "일체형 PC",
                                        "데스크톱",
                                        "모니터"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "주방가전"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "냉장고",
                                        "김치 냉장고",
                                        "전기레인지/오븐",
                                        "전기레인지",
                                        "식기세척기",
                                        "정수기",
                                        "맥주제조기",
                                        "빌트인 가전"
                                    ]
								})
							</ul>
							<ul class="category-column">
								@@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "생활가전"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "워시타워",
                                        "세탁기",
                                        "의류건조기",
                                        "스타일러",
                                        "청소기",
                                        "안마의자"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "에어컨/에어케어"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "에어컨",
                                        "공기청정기",
                                        "제습기",
                                        "가습기"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "모바일"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "스마트폰",
                                        "피쳐폰",
                                        "스마트 디바이스"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "뷰티"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "LED 마스크",
                                        "LED 넥케어",
                                        "탄력기기",
                                        "흡수촉진기",
                                        "클렌징 기기",
                                    ]
								})
                            </ul>
						</li>

						<li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "케어용품/소모품"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "PC",
                                        "TV/모니터",
                                        "가습기",
                                        "건조기",
                                        "공기청정기",
                                        "냉장고",
                                        "뷰티기기",
                                        "세탁기",
                                        "스마트폰/G-Pad",
                                        "스타일러",
                                        "식기세척기",
                                        "에어컨",
                                        "정수기/이온수기",
                                        "제습기",
                                        "조리기기",
                                        "청소기",
                                        "프로젝터/미니빔",
                                        "프린터",
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "LG Objet Collection"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "상냉장/하냉동",
                                        "컨버터블패키지",
                                        "김치냉장고",
                                        "워시타워",
                                        "스타일러",
                                        "광파오븐",
                                        "식기세척기",
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "LG SIGNATURE",
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3" ,
                                    "dep3" : [
                                        "TV", 
                                        "냉장고",
                                        "세탁기"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>

				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0017-level.html', {
                            "depth" : "dep1",
                            "dep1" : "케어솔루션"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"케어솔루션 제품 안내"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"정수기",
										"맥주제조기",
										"공기청정기",
										"건조기",
										"스타일러",
										"전기레인지",
										"식기세척기",
										"안마의자"
                                    ]
                                })
                            </ul>
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"케어솔루션 안내"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
										"WHY 케어솔루션",
										"WHY 케어십",
										"고객혜택"
                                    ]
                                })
							</ul>
                        </li>
					</ul>
                </li>
                
                <li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0017-level.html', {
                            "depth" : "dep1",
                            "dep1" : "스토리"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"비하인드스토리",
										"체험 리뷰",
										"제품 활용 팁",
										"광고캠페인 영상",
										"LG 뉴스",
										"수상내역",
                                    ]
                                })
                            </ul>
                        </li>
					</ul>
                </li>
                
                <li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0017-level.html', {
                            "depth" : "dep1",
                            "dep1" : "멤버십"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"멤버십 혜택",
										"멤버십 가입",
                                    ]
                                })
                            </ul>
                        </li>
					</ul>
                </li>

                <li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0017-level.html', {
                            "depth" : "dep1",
                            "dep1" : "기획전 / 이벤트"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"이벤트",
										"기획전",
										"카드 혜택",
                                    ]
                                })
                            </ul>
                        </li>
					</ul>
                </li>
				
				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0017-level.html', {
                            "depth" : "dep1",
                            "dep1" : "고객지원"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "제품 사용 지원"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "제품 문제 해결",
                                        "동영상 가이드",
                                        "사용 설명서",
                                        "드라이버/SW",
                                        "모바일 다운로드 센터",
                                        "소프트웨어 알리미",
                                        "카드뉴스",
                                        "가전제품 생활의 팁"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "서비스 상담"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "이메일 문의",
                                        "전화상담 예약",
                                        "원격상담 예약",
                                        "영상상담 예약",
                                        "상담결과 조회/변경"
                                    ]
                                })
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "서비스 예약"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "출장 서비스 예약",
                                        "제품 설치/철거 예약",
                                        "예약결과 조회/변경",
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "센터/매장 찾기"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "센터 찾기",
                                        "센터 방문 예약",
                                        "매장 찾기",
                                    ]
                                })
                                <li class="category-depth level-3">
                                    <a href="#" target="_blank">매장 방문 예약</a>
                                </li>
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "고객의 소리"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "칭찬합니다",
                                        "개선해주세요",
                                        "나의 글 보기",
                                        "칭찬 글 보기",
                                        "경영진에게 제안"
                                    ]
                                })
                            </ul>
						</li>

						<li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "서비스 안내"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "서비스 뉴스",
                                        "공지사항",
                                        "요금/보증 안내",
                                        "재생부품 가격 공지",
                                        "이용가이드/FAQ"
                                    ]
                                })
                                <li class="category-depth level-2">
                                    <h3><a href="#" target="_blank">회사소개</a></h3>
                                </li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="category-cluster">
					<ul>
                        @@include('./common/partials/KRP0017-level.html', {
                            "depth" : "dep1",
                            "dep1" : "마이페이지"
                        })
                        <li class="category-column upperframe">                   
                            <ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "쇼핑 관리"
                                    ]
								})
								@@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "주문/배송 조회",
                                        "배송지 주소 관리",
                                        "쿠폰"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"케어솔루션"
                                    ]
								})
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "계약 현황",
                                        "납부 내역",
                                        "방문일정 / 예약"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"관심 목록"
                                    ]
								})
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "찜한 제품",
                                        "최근 본 상품",
                                        "구독",
                                        "관심 매장"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
										"보유 제품 등록"
                                    ]
								})
							</ul>
							<ul class="category-column">
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "고객지원 관리"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "나의 글 보기",
                                        "문의/예약 결과 조회"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "멤버십 관리"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "멤버십 가입 정보",
                                        "멤버십 포인트 조회",
                                        "영수증 등록"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "활동 관리"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep3",
                                    "dep3" : [
                                        "리뷰 관리",
                                        "참여 이벤트"
                                    ]
                                })
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "회원 정보"
                                    ]
                                })
                                <li class="category-depth level-3">
                                    <a href="#" target="_blank">개인정보 수정</a>
                                </li>
                                <li class="category-depth level-3">
                                    <a href="#" target="_blank">회원 탈퇴</a>
                                </li>
                                @@include('./common/partials/KRP0017-level.html', {
                                    "depth" : "dep2",
                                    "dep2" : [
                                        "알림"
                                    ]
                                })
                            </ul>
						</li>
					</ul>
				</li>
			</ul>
			                        

		</div>
	</div>
</div>