<!-- components/partials/KRP0009-fliter.html -->
<div class="filter-wrap">
    <div class="list_acco ui_accordion" data-accord-group="info" data-single-open="false">
        <ul>
            <li>
                <div class="head">
                    <a href="#head01" class="link_cnt ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
                        <div class="tit">서비스 구분</div>
                        <span class="blind ui_accord_text">내용 열기</span>
                    </a>
                </div>
                <div class="desc ui_accord_content" id="head01">
                    <div class="cont">내용</div>
                </div>
            </li>
            <li>
                <div class="head">
                    <a href="#head02" class="link_cnt ui_accord_toggle" data-open-text="내용 더 보기" data-close-text="내용 닫기">
                        <div class="tit">서비스구분</div>
                        <span class="blind ui_accord_text">내용 열기</span>
                    </a>
                </div>
                <div class="desc ui_accord_content" id="head02">
                    <div class="cont">내용</div>
                </div>
            </li>
        </ul>
    </div>
</div>