<div class="slide-wrap ui_plp_carousel">
    <div class="indi-wrap">
        <ul class="indi-conts ui_carousel_dots">
            <li><button type="button" class="btn-indi"><span class="blind">##no##번 내용 보기</span></button></li>
        </ul>
    </div>
    <div class="slide-content ui_carousel_list">
        <div class="slide-track ui_carousel_track">
                @@for (var i=0; i < context.slideArr.length; i++) {
                <!-- slide -->
                <div class="slide-conts ui_carousel_slide">
                    <a href="#">
                        <img src="`+slideArr[i].visual+`" alt="">
                    </a>
                </div>
                <!-- // slide -->
                }
        </div>
    </div>
    <div class="slide-controls">
        <button type="button" class="btn-arrow prev ui_carousel_prev"><span class="blind">이전</span></button>
        <button type="button" class="btn-arrow next ui_carousel_next"><span class="blind">다음</span></button>
    </div>
</div>