
<article id="@@popupID" class="popup-wrap small">
    <header class="pop-header">
        <h1 class="tit"><span>수상 제품 카테고리 및 모델명</span></h1>
    </header>
    <section class="pop-conts no-footer">
        <p class="award-pop-tit">나노셀 TV</p>
        <ul class="award-pop-list">
            <li>
                <a href="#n">LG 나노셀 8K AI ThinQ</a>
            </li>
            <li>
                <a href="#n">LG 나노셀 AI ThinQ</a>
            </li>
        </ul>
    </section>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>