<!-- components/partials/KRP0038.html -->
<div id="pdp_support" class="component-wrap @@component-class.margin @@bg-color @@visibility">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음

		2. 배경 색상 :
        .bg-white : #FFFFFF 색상 배경
        .bg-lightgray : #F4F4F4 색상 배경
        .bg-dark : #333333 색상 배경
		.bg-black : #000000 색상 배경

		3.BTOCSITE-3270 공유하기 타입 추가 2021-07-19
		@@shareType : share-type

		4.BTOCSITE-2117 공통 > 모바일 웹/앱 GNB 개선
		@@visibility : hidden-mo : pc 에서만 보임
	-->
	<section class="component KRP0038 @@bg-color @@shareType">
		<div class="component-inner">
			@@if(!context.shareType) {
			<div class="heading-box @@align-class">
				<div class="title">헤드라인 텍스트 최대 60자까지 작성 권장합니다.<br>헤드라인 텍스트 최대 60자까지 작성 권장합니다.</div>
					<!-- // 2. headline -->
					<!-- 3. body copy -->
					<p class="body-copy">모바일 노출 영역을 고려하여 최대 200자까지 작성 권장합니다. 모바일 노출 영역을 고려하여 최대 200자까지 작성 권장합니다. 모바일 노출 영역을 고려하여 최대 200자까지 작성 권장합니다. 모바일 노출 영역을 고려하여 최대 200자까지 작성 권장합니다. 모바일 노출 영역을 고려하여 최대 200자까지 작성 권장합니다. 모바일 고려 최대 200자 작성 권장</p>
					<!-- // 3. body copy -->
					<!-- 4. cta -->
					<div class="btn-box">
						<span><a href="#none" class="btn border">H1 Btn좌우여백유지</a></span>
					</div>
					<div class="btn-box">
						<span><a href="#none" class="link-text">텍스트 링크 버튼 1</a></span>
						<span><a href="#none" class="link-text">텍스트 링크 버튼 2</a></span>
					</div>
					<!-- // 4. cta -->
			</div>
			}

			@@if(context.shareType) {
				<div class="heading-box @@align-class sm-pb">
					<div class="title">헤드라인 텍스트 최대 60자까지 작성 권장합니다.<br>헤드라인 텍스트 최대 60자까지 작성 권장합니다.</div>
				</div>
				<div class="tooltip-wrap share"><!-- 활성화시 active -->
					<a href="#n" class="tooltip-icon ui_tooltip-target" data-fixed="fixed-right"><span class="blind">제품 공유하기</span></a>
					<div class="tooltip-box fixed-right">
						<span class="title">공유하기</span>
						<div class="sns-wrap">
							<!-- 
								data-url : 공유될 url 주소 , 미 사용시 메타태그 url 사용.
								data-title : 공유될 타이틀 명 , 미사용시 페이지 타이틀이 사용됨
								data-image : 공유이미지로 사용될 이미지, 미사용시 메타태그에 지정된 이미지가 사용됨
								data-desc : 공유 디스크립션. 미 사용시 메타태그 description 사용.
						
								각 sns 버튼에 적용.
								<li><a href="#none" data-url="https://www.lg.com/html/components/blog-share.html" class="ico-btn fb" title="페이스북에 공유하기, 새창열림" data-link-name="facebook">페이스북<span class="blind">으로 페이지 공유하기</span></a></li>
							-->
							<ul class="sns-list">
								<li><a href="#none" class="ico-btn fb" title="페이스북에 공유하기, 새창열림" data-link-name="facebook">페이스북<span class="blind">으로 페이지 공유하기</span></a></li>
								<li><a href="#none" class="ico-btn tw" title="트위터에 공유하기, 새창열림" data-link-name="twitter">트위터<span class="blind">로 페이지 공유하기</span></a></li>
								<li><a href="#none" class="ico-btn kk" title="카카오톡에 공유하기, 새창열림" data-link-name="kakaotalk">카카오톡<span class="blind">으로 페이지 공유하기</span></a></li>
								<li><a href="#none" class="ico-btn url" data-link-name="copy_url">URL복사<span class="blind">하기</span></a></li>
							</ul>
						</div>
						<button type="button" class="btn-close"><span class="blind">닫기</span></button>
					</div>
				</div>
			}
		</div>
	</section>
</div>
