<!-- components/partials/KRP0010-image.html -->
<div class="pdp-visual-wrap">
    <!-- Desktop 일 경우 : Visual -->
    <div class="pdp-visual-area hidden-sm" id="desktop_summary_gallery">
        <div class="pdp-visual">
            <!--image-->
            <div class="default pdp-visual-image">
                <div class="badge">
                    <div class="flag-wrap image-type">
                        <span class="big-flag"><img src="/lg5-common/images/dummy/flag-60x66-1.png" alt="으뜸효율 10%"></span>
                        <span class="big-flag"><img src="/lg5-common/images/dummy/flag-60x66-2.png" alt="코리아세일 페스티벌"></span>
                    </div>
                </div>
                <a href="#none" title="Tap to view more" data-link-area="product_summary-pdp_image" data-link-name="65UK6300PUE">
                    <img id="base_detail_target" data-src="/lg5-common/images/KRP0010/@sample-img.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 1">
                    <p class="hidden pc">graphic description : </p>
                    <p class="hidden mobile">graphic description : </p>
                </a>
            </div>
            <div class="pdp-thumbnail-nav" id="base_desktop_target">
                <div class="inner">
                    <div class="pdp-thumbnail-list">
                        <ul class="thumbnail-list">
                            <li class="video iframe">
                                <a href="#1" title="Open the video layer popup" data-link-area="product_summary-video" data-link-name="65UK6300PUE">
                                    <img data-src="/lg5-common/images/KRP0010/icon-movie.png" src="/lg5-common/images/KRP0010/icon-movie.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM Video" data-loaded="true">
                                </a>
                            </li>
                            <li class="view">
                                <a href="#0" title="Open the 360view layer popup" data-link-area="product_summary-360_view" data-link-name="65UK6300PUE">
                                    <img data-src="/lg5-common/images/KRP0010/icon-360.png" src="/lg5-common/images/KRP0010/icon-360.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM 360view" data-loaded="true">
                                </a>
                            </li>
                            <li class="thumbnail active">
                                <a href="#2" data-link-area="product_summary-thumbnail" data-link-name="65UK6300PUE">
                                    <img data-src="/lg5-common/images/KRP0010/@dummy-thum01.png" src="/lg5-common/images/KRP0010/@dummy-thum01.jpg" class="lazyloaded" alt="LG Vacuum Cleaners A902RM 2" data-loaded="true">
                                </a>
                            </li>
                            <li class="thumbnail">
                                <a href="#3" data-link-area="product_summary-thumbnail" data-link-name="65UK6300PUE">
                                    <img data-src="/lg5-common/images/KRP0010/@dummy-thum02.png" src="/lg5-common/images/KRP0010/@dummy-thum01.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM 2" data-loaded="true">
                                </a>
                            </li>
                            <li class="thumbnail">
                                <a href="#4" data-link-area="product_summary-thumbnail" data-link-name="65UK6300PUE">
                                    <img data-src="/lg5-common/images/KRP0010/@dummy-thum01.png" src="/lg5-common/images/KRP0010/@dummy-thum01.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM 2" data-loaded="true">
                                </a>
                            </li>
                            <li class="thumbnail more">
                                <a href="#5" data-link-area="product_summary-thumbnail" data-link-name="65UK6300PUE">
                                    <img data-src="/lg5-common/images/KRP0010/@dummy-thum02.png" src="/lg5-common/images/KRP0010/@dummy-thum01.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM 2" data-loaded="true">
                                    <span class="count">+5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Desktop 일 경우 : Visual -->



    <!-- Mobile 일 경우 : Visual -->
    <div class="pdp-visual-area visible-sm" id="mobile_summary_gallery">
        <div class="badge">
            <div class="flag-wrap image-type">
                <span class="big-flag"><img src="/lg5-common/images/dummy/flag-60x66-1.png" alt="으뜸효율 10%"></span>
                <span class="big-flag"><img src="/lg5-common/images/dummy/flag-60x66-2.png" alt="코리아세일 페스티벌"></span>
            </div>
        </div>
        <div class="slide-wrap ui_carousel_slider">
            <div class="indi-wrap">
                <ul class="indi-conts ui_carousel_dots">
                    <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                </ul>
            </div>
            <div class="slide-content pdp-visual ui_carousel_list">
                <ul class="slide-track pdp-visual-list ui_carousel_track">
                    <li class="slide-conts ui_carousel_slide default video">
                        <a href="#0" title="Open the video layer popup" data-link-area="" data-link-name="">
                            <img data-src="/lg5-common/images/KRP0010/@sample-img.jpg" src="/lg5-common/images/KRP0010/@sample-img.jpg" class="lazyloaded" alt="" data-loaded="true">
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                    <li class="slide-conts ui_carousel_slide default video">
                        <a href="#1" title="Open the video layer popup" data-link-area="product_summary-video" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/@sample-img.jpg" src="/lg5-common/images/KRP0010/@sample-img.jpg" class="lazyloaded" alt="" data-loaded="true">
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                    <li class="slide-conts ui_carousel_slide default thumbnail">
                        <a href="#2" title="Open the zoom layer popup" data-link-area="product_summary-thumbnail" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/@sample-img.jpg" src="/lg5-common/images/KRP0010/@sample-img.jpg" class="lazyloaded" alt="" data-loaded="true">
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                    <li class="slide-conts ui_carousel_slide default thumbnail">
                        <a href="#3" title="Open the zoom layer popup" data-link-area="product_summary-thumbnail" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/@sample-img.jpg" src="/lg5-common/images/KRP0010/@sample-img.jpg" class="lazyloaded" alt="" data-loaded="true">
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                    <li class="slide-conts ui_carousel_slide default thumbnail">
                        <a href="#4" title="Open the zoom layer popup" data-link-area="product_summary-thumbnail" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/@sample-img.jpg" src="/lg5-common/images/KRP0010/@sample-img.jpg" class="lazyloaded" alt="" data-loaded="true">
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                    <li class="slide-conts ui_carousel_slide default thumbnail">
                        <a href="#5" title="Open the zoom layer popup" data-link-area="product_summary-thumbnail" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/@sample-img.jpg" src="/lg5-common/images/KRP0010/@sample-img.jpg" class="lazyloaded" alt="" data-loaded="true">
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="slide-controls">
                <button type="button" class="btn-arrow prev ui_carousel_prev"><span class="blind">이전</span></button>
                <button type="button" class="btn-arrow next ui_carousel_next"><span class="blind">다음</span></button>
            </div>
            <div class="slide-number"><strong class="current">1</strong><span>15</span></div>
        </div>
    </div>
    <!-- // Mobile 일 경우 : Visual -->

    <div class="pdp-more-info">
        <div class="inner">
            <p class="text-info">
                <img src="/lg5-common/images/KRP0010/img-ncsi.png" alt="" class="img-area">
                <span class="text">2년 연속 국가고객만족도(NCSI) TV 부문 1위</span>
            </p>
            <a href="/lg5-common/data-ajax/pdp/pdpModalAward.html" class="btn-link" role="button">
                수상내역 더 보기 <span class="blind">수상내역 팝업 열림</span>
            </a>
        </div>
    </div>
</div>

<!-- modal -->
@@include('./common/partials/modal/KRP0010-modal-01.html')
