<!-- components/partials/KRP0016.html -->
<div id="pdp_support" class="component-wrap full @@component-class.margin"><!-- [KR수정] .full 추가 -->
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<section class="component KRP0016">
		<div class="support-box">
			<!-- 1. title -->
			<h2 class="title">고객지원</h2>
			<!-- // 1. title -->
			<!-- <p class="sub-text">View <a href="#none" class="link-text" data-link-area="pdp_support-model_name" data-link-name="65UK6300PUE">65UK6300PUE</a> Product support</p> [KR수정] 삭제 -->
			<!-- 2. banner -->
			<ul class="list-box">
				<li>
					<a href="#none" class="item-telephone" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<!-- <div class="icon">
							<img data-src="/lg5-common/images/KRP0016/information.svg" class="lazyload" alt="" aria-hidden="true"/>
						</div> [KR수정] 삭제 (아래 리스트에서도 모두 공통 삭제) -->
						<div>
							<strong>전화상담예약</strong>
							<span>고객님이 원하시는 시간에 전문 상담사가 직접 전화를 드립니다.</span>
							<!-- <span class="inductive-text">Learn more</span> [KR수정] 삭제 (아래 리스트에서도 모두 공통 삭제) -->
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-live-chat" target="_blank" title="새창열림" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>채팅상담</strong>
							<span>제품에 대해 궁금하신 내용을 실시간으로 안내해 드립니다.</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-email" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>이메일 문의</strong>
							<span>제품에 대해 궁금한 점이 있으시면 무엇이든 물어보세요.</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-manual" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>제품 메뉴얼</strong>
							<span>제품에 필요한 사용설명서를 지원해드립니다.</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-download" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>다운로드 자료실</strong>
							<span>제품에 필요한 소프트웨어, 드라이버를 지원해드립니다.</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#none" class="item-location" data-link-area="pdp_support-support_link_area" data-link-name=""><!-- [KR수정] 클래스 추가 -->
						<div>
							<strong>서비스센터 찾기</strong>
							<span>고객님과 가장 가까운 지역의 서비스센터를 찾아보실 수 있습니다.</span>
						</div>
					</a>
				</li>
			</ul>
			<!-- // 2. banner -->
		</div>
	</section>
</div>
