<div class="component-wrap @@zero">
	<!--
		[component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<section class="component KRP0030">
		<div class="page-header wide border">
			<h2 class="title">체험리뷰</h2>
			<div class="tabs-wrap btn-type ui_tab ui_smooth_scroll">
				<ul class="tabs">
					<li class="on"><a href="#n">전체<em class="blind">선택됨</em></a></li>
					<li><a href="#n">TV/AV</a></li>
					<li><a href="#n">IT</a></li>
					<li><a href="#n">주방가전</a></li>
					<li><a href="#n">생활가전</a></li>
					<li><a href="#n">에어컨/에어케어</a></li>
					<li><a href="#n">모바일</a></li>
					<li><a href="#n">케어솔루션</a></li>
				</ul>
			</div>
		</div>
		<div class="cont-wrap review-wrap">
			
				체험리뷰

			
		</div>

	</section>
</div>