<!-- components/partials/KRP0010-info.html -->

<div class="pdp-info-area">
    <div class="product-detail-info" data-url-detail="/lg5-common/data-ajax/pdp/product_detail.json">
        <div class="info-top">
            <div class="product-wish">
                <span class="chk-wish-wrap">
                    <input type="checkbox" id="wish-chk" name="wish-chk" checked>
                    <label for="wish-chk"><span class="blind">찜하기</span></label>
                </span>
            </div>
            <div class="product-share">
                <a href="#" class="share"><span class="blind">제품 공유하기</span></a>
            </div>
        </div>
        <div class="promotion-badge">
            <span class="badge">NEW</span>
            <span class="badge">BEST</span>
            <span class="badge full">CASH-BACK</span>
        </div>
        <div class="product-name">
            <h2 class="name">인공지능 리모컨</h2>
        </div>
        <div class="sku">AKB75855501</div>
        <div class="review-info">
            <a href="#">
                <!-- [D] 리뷰 있을 경우
                    .is-review 추가, "리뷰있음" 텍스트 변경
                 -->
                <div class="star"><span class="blind">리뷰없음</span></div>
                <div class="average-rating"><span class="blind">평점</span>0</div>
                <div class="review-count"><span class="blind">리뷰 수</span>(0개)</div>
            </a>
        </div>
        <div class="mobile-more-info">
            <div class="inner">
                <p class="text-info">
                    <img src="/lg5-common/images/KRP0010/img-ncsi.jpg" alt="" class="img-area">
                    <span class="text">국가고객만족도(NCSI) 1위</span>
                </p>
                <a href="#" class="btn-modal" role="button"><span class="blind">수상내역 더보기</span></a>
            </div>
        </div>
        <div class="product-detail-option">
            <!-- 일반제품 -->
            <div class="price-info">
                <div class="price-area">
                    <div class="product-price">
                        <div class="discount-rate">
                            <em class="blind">할인율</em>
                            <span class="price">7<em>%</em></span>
                        </div>
                        <div class="purchase-price">
                            <em class="blind">판매가격</em>
                            <span class="price">1,990,000<em>원</em></span>
                        </div>
                    </div>
                    <div class="reduced-price">
                        <em class="blind">최대 혜택가격</em>
                        <span class="price">1,853,090<em>원</em></span>
                    </div>
                </div>
                <div class="product-benefit">
                    <div class="title">할인혜택</div>
                    <ul>
                        <li>회원 할인 <em>3%</em> -59,700원</li>
                        <li>즉시 할인 <em>4%</em> -77,210원</li>
                    </ul>
                </div>
                <div class="product-benefit">
                    <div class="title">
                        <span>추가혜택</span>
                        <a href="#" class="btn-modal"><span class="blind">추가혜택 팝업 열림</span></a>
                    </div>
                    <ul>
                        <li>포인트 64,000p</li>
                        <li>캐시백 500,000원</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="payment-amount-info">
            <div class="quantity-wrap">
                <div class="select-quantity">
                    <div class="inner">
                        <button type="button" class="minus"><span class="blind">뺴기</span></button>
                        <input type="number" class="quantity" title="수량 입력" value="1">
                        <button type="button" class="plus"><span class="blind">더하기</span></button>
                    </div>
                </div>
                <div class="payment">
                    <span class="price">1,853,090원</span>
                </div>
            </div>
            <!-- 추가 옵션 구매 시 나오는 영역 (미완료/협의중)
            <div class="additional-payment">
                <ul class="additional-list">
                    <li>
                        <span class="text">스탠드</span>
                        <span class="quantity">1개</span>
                        <span class="price">100,000원</span>
                        <button type="button" class="btn-delete"><span class="blind">삭제</span></button>
                    </li>
                    <li>
                        <span class="text">인공지능 리모컨</span>
                        <span class="quantity">1개</span>
                        <span class="price">50,000원</span>
                        <button type="button" class="btn-delete"><span class="blind">삭제</span></button>
                    </li>
                    <li class="shipping-charge">
                        <span class="text">배송비</span>
                        <span class="price">2,500원</span>
                    </li>
                </ul>
            </div>
            <div class="total-payment-amount">
                <span class="text">총 구매금액</span>
                <span class="price">2,005,590원</span>
            </div>
            -->
        </div>
        <!-- 케어십 서비스 신청 시 나오는 영역 -->
        <div class="careship-total-payment">
            <span class="text">케어십 서비스 월 이용료</span>
            <span class="price">9,000원</span>
        </div>
        <!-- 일반제품 버튼 영역 -->
        <div class="purchase-button default">
            <div class="btn-group">
                <a href="#n" class="btn cart" role="button"><span class="blind">장바구니 담기</span></a>
                <a href="#n" class="btn pink" role="button"><span>바로구매</span></a>
            </div>
            <div id="purchase-button-default-modal" style="display:none;"></div>
        </div>
        <!-- 일반제품 - 사전예약 버튼 영역 -->
        <div class="purchase-button pre-order">
            <a href="#n" class="btn black" role="button"><span>사전예약하기</span></a>
            <div id="purchase-button-preorder-modal" style="display:none;"></div>
        </div>
        <!-- 일반제품 - 전시제품(구매불가) 버튼 영역 -->
        <div class="purchase-button display-product">
            <div class="btn-group">
                <a href="#n" id="display-exhibition" class="btn bd-black" role="button"><span>전시매장 찾기</span></a>
                <a href="#n" id="display-visit" class="btn bd-black" role="button"><span>매장방문예약</span></a>
            </div>
        </div>
        <!-- 일반제품 + 렌탈 버튼 영역 -->
        <div class="purchase-button rental">
            <div class="btn-group">
                <a href="#n" class="btn cart" role="button"><span class="blind">장바구니 담기</span></a>
                <a href="#n" class="btn pink" role="button"><span>렌탈신청</span></a>
            </div>
            <div id="purchase-button-rental-modal" style="display:none;"></div>
        </div>
        <!-- 렌탈 전용 제품 정보 영역 -->
        <div class="rental-only-info">
            <span>렌탈 전용 제품입니다.</span>
        </div>
        <div class="link-area">
            <a href="#">비교하기</a>
            <a href="#">매장 상담 신청</a>
            <a href="#">전시 매장 찾기</a>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- 추가혜택 안내
include('./common/partials/modal/KRP0010-benefit-info.html')
-->
<!-- 케어십 제품 구매 안내
include('./common/partials/modal/KRP0010-careship-info.html')
-->
<!-- 사전 예약 제품 안내
include('./common/partials/modal/KRP0010-pre-order-info.html')
-->
<!-- 매월 납부금 할인 내역 안내
include('./common/partials/modal/KRP0010-monthly-payment-info.html')
-->