@@if ( depth === "dep1" ) {
<li class="category-depth level-1">
    <h2><a href="#" target="_self">@@dep1</a></h2>
</li>
}
@@if ( depth === "dep2" ) {
@@for ( var i=0; i < dep2.length; i++ ) {
<li class="category-depth level-2">
    <h3><a href="#" target="_self">`+dep2[i]+`</a></h3>
</li>
}
}
@@if ( depth === "dep3" ) {
@@for ( var i=0; i < dep3.length; i++ ) {
<li class="category-depth level-3">
    <a href="#" target="_self">`+dep3[i]+`</a>
</li>
}
}
@@if ( depth === "dep4" ) {
@@for ( var i=0; i < dep4.length; i++ ) {
<li class="category-depth level-4">
    <a href="#" target="_self">`+dep4[i]+`</a>
</li>
}
}