<!-- components/partials/KRP0009-cate.html -->
<div class="cate-wrap">
    <div class="cate-list">
        <div class="chk-cate">
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="all_chk101" value="1" checked>
                <label for="all_chk101">전체</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk101" value="2">
                <label for="chk101">카테고리1</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk102" value="3">
                <label for="chk102">카테고리2</label>
            </div>
            <div class="chk-wrap" >
                <input type="checkbox" name="categoryCheckbox" id="chk103" value="4">
                <label for="chk103">카테고리3</label>
            </div>
            <div class="chk-wrap">
                <input type="checkbox" name="categoryCheckbox" id="chk104" value="5">
                <label for="chk104">카테고리4</label>
            </div>
        </div>

        <div class="btn-compare">
            <button type="button"><span>비교하기</span></button>
        </div>
    </div>
</div>