<div class="KRP0032 floating-menu lately">
	<div class="lately-linker">
		<a href="#laypop01" data-control="modal" class="head-inner">
			<span class="blind">최근 본 제품</span>
		</a>
	</div>
</div>
<article id="laypop01" class="popup-wrap lately-popup">
    <header class="pop-header">
        <h1 class="tit"><span>최근 본 제품</span></h1>
    </header>
    <section class="pop-conts">
        내용
    </section>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>