<!-- components/partials/KRP0042.html -->
<div class="component-wrap">
	<!--
        [.component 영역 사이즈 옵션]
        1. 이미지 사이즈
        .stage-full : visual width 1920px(100%)
        .stage-wide : visual width 1600px
        .stage-medium : visual width 1380px
     [text-area 옵션]
        1. Text color : pc화면에서만 적용(mobile에서는 모두 black)
        .f-white :white(디폴트) 
        .f-black : black
     [LINK 옵션]
         Option:_blank, _self
    -->
	<section class="component KRP0042 @@stageSize">
        <div class="component-box">
            <div class="usp-banner-wrap ui_carousel_slider">
                <!-- Indicator Area -->
                <div class="indi-wrap">
                    <ul class="ui_carousel_dots indi-conts">
                        <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                    </ul>
                    <span class="ui_carousel_play play">
                        <button type="button" class="btn-play"><span class="blind">슬라이드 일시정지</span></button>
                    </span>
                </div>
                <!-- //Indicator Area -->

                <!-- Swipe Area -->
                <div class="ui_carousel_track">
                    <!-- item -->
                    <div class="carousel-box ui_carousel_slide">
                        <div class="visual-area">
                            <img src="/lg5-common/images/KRC0032/@KRC0032-BG.jpg" alt="Alt Text" class="pc-only">
                            <img src="/lg5-common/images/KRC0032/@KRC0032-BG-m.jpg" alt="Alt Text" class="mo-only">
                        </div>
                        <div class="text-area f-black">
                            <div class="inner">
                                <span class="banner-tit-sup">아이브로우 최대 20자</span>
                                <div class="title">
                                    <h2>1헤드라인 글자수최대 60자</h2>
                                </div>
                                <p class="banner-txt">바디카피 공백포함 최대 400자까지 작성 가능합니다. 바디카피 공백포함 최대 400자까지 작성 가능합니다. 바디카피 공백포함 최대 400자</p>
                                @@include('./common/modules/bullet-list.html', {
                                    "bulletTxt" : [
                                        "디스클레이머 영역 14px 사용합니다. 디스클레이머 영역 최대 500자까지 가능합니다.",
                                    ]
                                })
                                <div class="banner-btn">
                                    <a href="url" target="_blank" class="btn border size-m"><span>Line button</span></a>
                                </div>
                                <div class="banner-btn">
                                    <a href="url" target="_self" class="text-link"><span>text link button</span></a>
                                    <a href="url" target="_self" class="text-link"><span>text link button</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //item -->
                    <!-- item -->
                    <div class="carousel-box ui_carousel_slide">
                        <div class="visual-area">
                            <img src="/lg5-common/images/KRC0032/@KRC0032-BG.jpg" alt="Alt Text" class="pc-only">
                            <img src="/lg5-common/images/KRC0032/@KRC0032-BG-m.jpg" alt="Alt Text" class="mo-only">
                        </div>
                        <div class="text-area f-white">
                            <div class="inner">
                                <span class="banner-tit-sup">아이브로우 최대 20자</span>
                                <div class="title">
                                    <h2>2헤드라인 글자수최대 60자</h2>
                                </div>
                                <p class="banner-txt">바디카피 공백포함 최대 400자까지 작성 가능합니다. 바디카피 공백포함 최대 400자까지 작성 가능합니다. 바디카피 공백포함 최대 400자</p>
                                @@include('./common/modules/bullet-list.html', {
                                    "bulletTxt" : [
                                        "디스클레이머 영역 14px 사용합니다. 디스클레이머 영역 최대 500자까지 가능합니다.",
                                    ]
                                })
                                <div class="banner-btn">
                                    <a href="url" target="_self" class="btn border size-m"><span>Line button</span></a>
                                </div>
                                <div class="banner-btn">
                                    <a href="url" target="_self" class="text-link"><span>text link button</span></a>
                                    <a href="url" target="_self" class="text-link"><span>text link button</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //item -->
                    <!-- item -->
                    <div class="carousel-box ui_carousel_slide">
                        <div class="visual-area">
                            <img src="/lg5-common/images/KRC0032/@KRC0032-BG.jpg" alt="Alt Text" class="pc-only">
                            <img src="/lg5-common/images/KRC0032/@KRC0032-BG-m.jpg" alt="Alt Text" class="mo-only">
                        </div>
                        <div class="text-area f-white">
                            <div class="inner">
                                <span class="banner-tit-sup">아이브로우 최대 20자</span>
                                <div class="title">
                                    <h2>3헤드라인 글자수최대 60자</h2>
                                </div>
                                <p class="banner-txt">바디카피 공백포함 최대 400자까지 작성 가능합니다. 바디카피 공백포함 최대 400자까지 작성 가능합니다. 바디카피 공백포함 최대 400자</p>
                                @@include('./common/modules/bullet-list.html', {
                                    "bulletTxt" : [
                                        "디스클레이머 영역 14px 사용합니다. 디스클레이머 영역 최대 500자까지 가능합니다.",
                                    ]
                                })
                                <div class="banner-btn">
                                    <a href="url" target="_self" class="btn border size-m"><span>Line button</span></a>
                                </div>
                                <div class="banner-btn">
                                    <a href="url" target="_self" class="text-link"><span>text link button</span></a>
                                    <a href="url" target="_self" class="text-link"><span>text link button</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //item -->
                    <!-- item -->
                    <div class="carousel-box ui_carousel_slide">
                        <div class="visual-area">
                            <img src="/lg5-common/images/KRC0032/@KRC0032-BG.jpg" alt="Alt Text" class="pc-only">
                            <img src="/lg5-common/images/KRC0032/@KRC0032-BG-m.jpg" alt="Alt Text" class="mo-only">
                        </div>
                        <div class="text-area f-black">
                            <div class="inner">
                                <span class="banner-tit-sup">아이브로우 최대 20자</span>
                                <div class="title">
                                    <h2>4헤드라인 글자수최대 60자</h2>
                                </div>
                                <p class="banner-txt">바디카피 공백포함 최대 400자까지 작성 가능합니다. 바디카피 공백포함 최대 400자까지 작성 가능합니다. 바디카피 공백포함 최대 400자</p>
                                @@include('./common/modules/bullet-list.html', {
                                    "bulletTxt" : [
                                        "디스클레이머 영역 14px 사용합니다. 디스클레이머 영역 최대 500자까지 가능합니다.",
                                    ]
                                })
                                <div class="banner-btn">
                                    <a href="url" target="_self" class="btn border size-m"><span>Line button</span></a>
                                </div>
                                <div class="banner-btn">
                                    <a href="url" target="_self" class="text-link"><span>text link button</span></a>
                                    <a href="url" target="_self" class="text-link"><span>text link button</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //item -->
                </div>
                <!-- //Swipe Area -->

                <!-- Navigation Area -->
                <div class="controls-wrap">
                    <div class="inner">
                        <div class="row">
                            <button type="button" class="btn-arrow prev">이전</button>
                            <button type="button" class="btn-arrow next">다음</button>
                        </div>
                    </div>
                </div>
                <!-- //Navigation Area -->
            </div>
        </div>
    </section>
</div>
