
<!-- partials/components/C0015.hbs -->
<div id="pdp_support" class="component-wrap @@component-class.margin">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<section class="component KRP0016">
		<div class="support-box">
			<!-- 1. title -->
			<h2 class="title">We're here to support you with our product.</h2>
			<!-- // 1. title -->
			<!-- 2. model display name -->
			<p class="sub-text">View <a href="#none" class="link-text" data-link-area="pdp_support-model_name" data-link-name="65UK6300PUE">65UK6300PUE</a> Product support</p>
			<!-- // 2. model display name -->
			<!-- 3. banner -->
			<ul class="list-box">
				<li>
					<a href="#" data-link-area="pdp_support-support_link_area" data-link-name="warranty_information_learn_more">
						<div class="icon">
                            <img data-src="/lg5-common/images/KRP0016/information.svg" class="lazyload" alt="" aria-hidden="true"/>
                        </div>
						<div>
							<strong>Warranty Information</strong>
							<span>View manufacturer warranty information</span>
							<span class="inductive-text">Learn more</span>
						</div>
					</a>
				</li>
				<li>
					<a href="https://lg.registria.com" target="_blank" title="Opens in a new window" data-link-area="pdp_support-support_link_area" data-link-name="register_your_product_learn_more">
						<div class="icon"><img data-src="/lg5-common/images/KRP0016/regist-product.svg" class="lazyload" alt="" aria-hidden="true" /></div>
						<div>
							<strong>Register Your Product</strong>
							<span>Get the most out of your ownership</span>
							<span class="inductive-text">Learn more</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#" data-link-area="pdp_support-support_link_area" data-link-name="manuals_and_downloads_learn_more">
						<div class="icon"><img data-src="/lg5-common/images/KRP0016/manuals-download.svg" class="lazyload" alt="" aria-hidden="true" /></div>
						<div>
							<strong>Manuals and Downloads</strong>
							<span>Download owner's manuals and <br>documentation</span>
							<span class="inductive-text">Learn more</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#" data-link-area="pdp_support-support_link_area" data-link-name="help_library_learn_more">
						<div class="icon"><img data-src="/lg5-common/images/KRP0016/help-library.svg" class="lazyload" alt="" aria-hidden="true" /></div>
						<div>
							<strong>Help Library</strong>
							<span>Help yourself to helpful product <br>information</span>
							<span class="inductive-text">Learn more</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#" data-link-area="pdp_support-support_link_area" data-link-name="video_tutorials_learn_more">
						<div class="icon"><img data-src="/lg5-common/images/KRP0016/video-tutorials.svg" class="lazyload" alt="" aria-hidden="true" /></div>
						<div>
							<strong>Video Tutorials</strong>
							<span>Learn how to install &amp; operate your LG product</span>
							<span class="inductive-text">Learn more</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#" data-link-area="pdp_support-support_link_area" data-link-name="request_a_repair_learn_more">
						<div class="icon"><img data-src="/lg5-common/images/KRP0016/repair.svg" class="lazyload" alt="" aria-hidden="true" /></div>
						<div>
							<strong>Request a Repair</strong>
							<span>Submit an online service request</span>
							<span class="inductive-text">Learn more</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#" data-link-area="pdp_support-support_link_area" data-link-name="other_support_options_learn_more">
						<div class="icon"><img data-src="/lg5-common/images/KRP0016/other-support-options.svg" class="lazyload" alt="" aria-hidden="true" /></div>
						<div>
							<strong>Other Support Options</strong>
							<span>More help with your LG product</span>
							<span class="inductive-text">Learn more</span>
						</div>
					</a>
				</li>
			</ul>
			<!-- // 3. banner -->
		</div>
		<!-- default option -->
		<div class="contactus-box">
			<h2 class="title">Choose a support option below:</h2>
			<!-- [LGEUS-349] edit  -->
			<ul class="list-box">
				<li>
					<a href="https://www.lgechat.com/us/index.html" class="js-popup" title="Opens in a new popup window" data-width="344" data-height="553" data-link-area="pdp_support-support_option" data-link-name="lg_chat">
						<div class="icon">
							<img data-src="/lg5-common/images/KRP0016/chatbot.svg" class="lazyload pc" alt="" aria-hidden="true" />
							<img data-src="/lg5-common/images/KRP0016/chatbot-m.svg" class="lazyload mobile" alt="" aria-hidden="true">
						</div>
						<div class="text-box">
							<strong>LG Chatbot</strong>
							<span class="text"><span class="link-text lg">24x7 Support with Chatbot!</span></span>
						</div>
					</a>
				</li>
				<li>
					<div class="icon">
						<img data-src="/lg5-common/images/KRP0016/telephone-lg.svg" class="lazyload pc" alt="" aria-hidden="true" />
						<img data-src="/lg5-common/images/KRP0016/telephone-m.svg" class="lazyload mobile" alt="" aria-hidden="true">
					</div>
					<div class="text-box">
						<strong>Telephone</strong>
						<span class="text">Call an LG Support Representative<br> <span class="number">(800) 243-0000</span> Consumer</span>
						<span class="time">6am-midnight CST</span>
					</div>	
				</li>
				<li>
					<a href="https://twitter.com/LGUSSupport" target="_blank" title="Opens in a new window" data-link-area="pdp_support-support_option" data-link-name="twitter">
						<div class="icon">
							<img data-src="/lg5-common/images/KRP0016/twitter-circle-line-lg.svg" class="lazyload pc" alt="" aria-hidden="true" />
							<img data-src="/lg5-common/images/KRP0016/twitter-circle-line-m.svg" class="lazyload mobile" alt="" aria-hidden="true">
						</div>
						<div class="text-box">
							<strong>Twitter</strong>
							<span class="text">Tweet <span class="link-text lg">@LGUSSupport</span><br />for Support.</span>
							<span class="time">Mon-Sat 8:00am-7:00pm CST</span>
						</div>
					</a>
				</li>
				<li>
					<a href="/html/support/email-guest.html" data-link-area="pdp_support-support_option" data-link-name="email">
						<div class="icon">
							<img data-src="/lg5-common/images/KRP0016/email-thin-lg.svg" class="lazyload pc" alt="" aria-hidden="true" />
							<img data-src="/lg5-common/images/KRP0016/email.svg" class="lazyload mobile" alt="" aria-hidden="true">
						</div>
						<div class="text-box">
							<strong>Email</strong>
							<span class="text">No time to chat?</span>
							<span class="time"><span class="link-text lg">Send LG Support your inquiry.</span></span>
						</div>
					</a>
				</li>
				<!-- [LGEUS-349] add  -->
				<li>
					<a href="#" data-link-area="pdp_support-support_option" data-link-name="President">
						<div class="icon">
							<img data-src="/lg5-common/images/KRP0016/emailtoCEO_desktop.svg" class="lazyload pc" alt="" aria-hidden="true"/>
							<img data-src="/lg5-common/images/KRP0016/emailtoCEO_mobile.svg" class="lazyload mobile" alt="" aria-hidden="true">
						</div>
						<div class="text-box">
							<strong>Your Voice to The President</strong>
							<span class="time">Our President wants to hear forom you</span>
						</div>
					</a>
				</li>
				<!-- [LGEUS-349] add  -->
			</ul>
		</div>
		<!-- // default option -->
		<!-- signature product option -->
		<div class="contactus-box">
			<h2 class="title">Contact us for any purchasing inquiries.</h2>
			<ul class="list-box">
				<li>
					<a href="https://api-engagement-us-east.velaro.com/20050/Chat/5155"  class="js-popup" title="Opens in a new popup window" data-width="365" data-height="553" data-link-area="pdp_support-support_option" data-link-name="live_chat">
						<div class="icon">
							<img data-src="/lg5-common/images/KRP0016/live-chat.svg" class="lazyload pc" alt="" />
							<img data-src="/lg5-common/images/KRP0016/live-chat-m.svg" class="lazyload mobile" alt="">
						</div>
						<div class="text-box">
							<strong>Live Chat</strong>
							<span class="text"><span class="link-text lg">Chat with an LG SIGNATURE<br>Support Representative.</span></span>
							<span class="time">Weekdays 8am-5pm CST</span>
						</div>
					</a>
				</li>
				<li>
					<div class="icon">
						<img data-src="/lg5-common/images/KRP0016/telephone-lg.svg" class="lazyload pc" alt="" aria-hidden="true" />
						<img data-src="/lg5-common/images/KRP0016/telephone-m.svg" class="lazyload mobile" alt="" aria-hidden="true">
					</div>
					<div class="text-box">
						<strong>Telephone</strong>
						<span class="text">Call an LG Support Representative<br> <span class="number">(800) 984-6306</span> Consumer</span>
						<span class="time">Available 24/7</span>
					</div>	
				</li>
				<li>
					<a href="https://twitter.com/LGUSSupport" target="_blank" title="Opens in a new window" data-link-area="pdp_support-support_option" data-link-name="twitter">
						<div class="icon">
							<img data-src="/lg5-common/images/KRP0016/twitter-circle-line-lg.svg" class="lazyload pc" alt="" aria-hidden="true" />
							<img data-src="/lg5-common/images/KRP0016/twitter-circle-line-m.svg" class="lazyload mobile" alt="" aria-hidden="true">
						</div>
						<div class="text-box">
							<strong>Twitter</strong>
							<span class="text">Tweet <span class="link-text lg">@LGUSSupport</span><br>for Support.</span>
							<span class="time">Mon-Sat 8:00am-7:00pm CST</span>
						</div>
					</a>
				</li>
				<li>
					<a href="mailto:Signature@lgexecutiveservices.com" data-link-area="pdp_support-support_option" data-link-name="email">
						<div class="icon">
							<img data-src="/lg5-common/images/KRP0016/email-thin-lg.svg" class="lazyload pc" alt="" aria-hidden="true" />
							<img data-src="/lg5-common/images/KRP0016/email.svg" class="lazyload mobile" alt="" aria-hidden="true">
						</div>
						<div class="text-box">
							<strong>Email</strong>
							<span class="text">Email an LG Signature Support Representative </span>
							<span class="time"><span class="link-text lg">Signature@lgexecutiveservices.com</span></span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<!-- // signature product option -->
	</section>
</div>
