<div class="component-wrap @@zero">
    <!--
        1. 여백
        .zero-top : 상단여백 없음
        .zero-btm : 하단여백 없음
    -->
    <section class="component KRP0022" data-list-url="/lg5-common/data-ajax/event/event.json">
        @@if ( context.eventPage ) {
        <!-- tabs -->
        <!-- 210126 수정 - ui_smooth_scroll 클래스 추가 -->
        <div class="tabs-wrap border-type ui_tab ui_smooth_scroll">
            <ul class="tabs">
                <li class="on"><a href="#all">전체<em class="blind">선택됨</em></a></li>
                <li><a href="#CT50000024">TV/AV</a></li>
                <li><a href="#CT50000045">IT</a></li>
                <li><a href="#CT50000064">주방가전</a></li>
                <li><a href="#CT50000100">생활가전</a></li>
                <li><a href="#CT50000130">에어컨/에어케어</a></li>
                <li><a href="#CT50000152">뷰티/의료기기</a></li>
                <li><a href="#CT50019001">LG SIGNATURE</a></li>
                <li><a href="#CT50019002">LG Objet Collection</a></li>
                <li><a href="#CT50050000">안마의자</a></li>
            </ul>
        </div>
        <!-- // tabs -->
        }

        <div class="tab-contents">
            @@if ( context.eventPage ) {
            <!-- sorting -->
            <div class="list-sorting no-pt">
                <div class="sort-area left">
                    <div class="sort-list">
                        <div class="sort-select-wrap">
                            <select class="ui_selectbox" id="eventStatus" title="이벤트 상태 선택">
                                <option value="progress">진행중인 이벤트</option>
                                <option value="end">종료된 이벤트</option>
                                <!-- <option value="win">당첨자 발표</option> -->
                            </select>
                        </div>
                        <div class="sort-select-wrap">
                            <select class="ui_selectbox" id="eventGubun" title="이벤트 구분 선택">
                                <option value="">온라인/매장</option> <!-- 텍스트 수정 -->
                                <option value="online">온라인</option>
                                <option value="offline">매장</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- BTOCSITE-6859 - 이벤트페이지 UI 변경 요청 - 추가 필터링 분기 작업 -->
                <!-- BTOCSITE-6859 삭제 -->
                <!-- 
                <div class="sort-area">
                    <div class="sort-list">
                        <div class="sort-select-wrap">
                            <select class="ui_selectbox" id="eventSort" title="정렬 옵션 선택">
                                <option value="newest">최신순</option>
                                <option value="oldest">마감순</option>
                            </select>
                        </div>
                    </div>
                </div> 
                -->
                <!-- BTOCSITE-6859 추가 -->
                <div class="sort-area">
                    <div class="sort-list">
                        <span class="chk-wrap">
                            <input type="checkbox" id="eventSort" name="win">
                            <label for="eventSort">당첨자 발표</label>
                        </span>
                    </div>
                </div>
                <!-- //BTOCSITE-6859 추가 -->
                <!-- //BTOCSITE-6859 - 이벤트페이지 UI 변경 요청 - 추가 필터링 분기 작업 -->
            </div>
            <!-- // sorting -->
            }

            <div class="box-list event-type">
                @@if ( context.eventPage ) {
                <ul class="box-list-inner">
                    @@loop('./common/modules/list-box.html', [
                        {
                            "img" : "dummy/@img-event01.jpg",

                            "flagArr" : [
                                { "blind" : "제품 카테고리", "txt" : "TV" },
                                { "blind" : "제품 카테고리", "txt" : "프로젝터" }
                            ],
                            
                            "flagInfo1" : true,
                            "flagInf1" : "이벤트 구분",
                            "flagInf1-1" : "매장",
                            "flagInf2" : "이벤트 유형",
                            "flagInf2-1" : "구매혜택",

                            "title-hd" : "이벤트 제목",
                            "title" : "2020 NEW 올레드와 함께하는 홈라이프",
                            "date-hd" : "이벤트 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event02.jpg",

                            "flagArr" : [
                                { "blind" : "제품 카테고리", "txt" : "프로젝터" }
                            ],
                            
                            "flagInfo1" : true,
                            "flagInf1" : "이벤트 구분",
                            "flagInf1-1" : "온라인",
                            "flagInf2" : "이벤트 유형",
                            "flagInf2-1" : "사은품",

                            "title-hd" : "이벤트 제목",
                            "title" : "LG 시네빔으로 즐기는 왓챠 콘텐츠! LG 시네빔으로 즐기는 왓챠 콘텐츠!", 
                            "date-hd" : "이벤트 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event03.jpg",

                            "flagArr" : [
                                { "blind" : "제품 카테고리", "txt" : "에어컨" }
                            ],
                            
                            "flagInfo1" : true,
                            "flagInf1" : "이벤트 구분",
                            "flagInf1-1" : "온라인",
                            "flagInf2" : "이벤트 유형",
                            "flagInf2-1" : "사은품",

                            "title-hd" : "이벤트 제목",
                            "title" : "LG 이동식 에어컨 창문 잠금장치 신청 이벤트", 
                            "date-hd" : "이벤트 기간",
                            "date" : "2020.08.01~2020.09.30",

                            "endEvent" : true,

                            "btnOnly" : "당첨자 발표"
                        },
                        {
                            "img" : "dummy/@img-event01.jpg",

                            "flagArr" : [
                                { "blind" : "제품 카테고리", "txt" : "TV" },
                                { "blind" : "제품 카테고리", "txt" : "프로젝터" }
                            ],
                            
                            "flagInfo1" : true,
                            "flagInf1" : "이벤트 구분",
                            "flagInf1-1" : "매장",
                            "flagInf2" : "이벤트 유형",
                            "flagInf2-1" : "구매혜택",

                            "title-hd" : "이벤트 제목",
                            "title" : "2020 NEW 올레드와 함께하는 홈라이프",
                            "date-hd" : "이벤트 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event02.jpg",

                            "flagArr" : [
                                { "blind" : "제품 카테고리", "txt" : "프로젝터" }
                            ],
                            
                            "flagInfo1" : true,
                            "flagInf1" : "이벤트 구분",
                            "flagInf1-1" : "온라인",
                            "flagInf2" : "이벤트 유형",
                            "flagInf2-1" : "사은품",

                            "title-hd" : "이벤트 제목",
                            "title" : "LG 시네빔으로 즐기는 왓챠 콘텐츠! LG 시네빔으로 즐기는 왓챠 콘텐츠!", 
                            "date-hd" : "이벤트 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event03.jpg",

                            "flagArr" : [
                                { "blind" : "제품 카테고리", "txt" : "에어컨" }
                            ],
                            
                            "flagInfo1" : true,
                            "flagInf1" : "이벤트 구분",
                            "flagInf1-1" : "온라인",
                            "flagInf2" : "이벤트 유형",
                            "flagInf2-1" : "사은품",

                            "title-hd" : "이벤트 제목",
                            "title" : "LG 이동식 에어컨 창문 잠금장치 신청 이벤트", 
                            "date-hd" : "이벤트 기간",
                            "date" : "2020.08.01~2020.09.30",

                            "endEvent" : true,

                            "btnOnly" : "당첨자 발표"
                        }
                    ])
                </ul>
                }
                @@if ( !context.eventPage ) {
                <ul class="box-list-inner">
                    @@loop('./common/modules/list-box.html', [
                        {
                            "img" : "dummy/@img-event01.jpg",

                            "title-hd" : "기획전 제목",
                            "title" : "이사 가전 대축제",
                            "date-hd" : "기획전 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event02.jpg",

                            "title-hd" : "기획전 제목",
                            "title" : "건강관리가전 페스티벌", 
                            "date-hd" : "기획전 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event03.jpg",

                            "title-hd" : "기획전 제목",
                            "title" : "LG 이동식 에어컨 창문 잠금장치 신청 기획전 두줄까지 노출 동일", 
                            "date-hd" : "기획전 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event01.jpg",

                            "title-hd" : "기획전 제목",
                            "title" : "이사 가전 대축제",
                            "date-hd" : "기획전 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event02.jpg",

                            "title-hd" : "기획전 제목",
                            "title" : "건강관리가전 페스티벌", 
                            "date-hd" : "기획전 기간",
                            "date" : "2020.08.01~2020.09.30"
                        },
                        {
                            "img" : "dummy/@img-event03.jpg",

                            "title-hd" : "기획전 제목",
                            "title" : "LG 이동식 에어컨 창문 잠금장치 신청 기획전 두줄까지 노출 동일", 
                            "date-hd" : "기획전 기간",
                            "date" : "2020.08.01~2020.09.30"
                        }
                    ])
                </ul>
                }
            </div> 

            <!-- nodata -->
            <div class="no-data">
                <p>설정하신 필터에 맞는 이벤트가 없습니다.</p>
            </div>
            <!-- // nodata -->
        </div>
    </section>
</div> 