
	
	
		

		 <div class="story-list-wrap">
			@@include('./common/modules/list-sorting.html', {
				"select" : [
					{"option" : "인기순"},
					{"option" : "최신순"}
				]
			})
			<div class="story-list">

				<ul class="story-box">
				@@loop('./common/partials/KRP0036-list-module.html', [
					{
					"flags" : ["뉴스구분값"],
					"hashtag" : ["#건강관리", "#가을"],
					"date" : true
					}, 
					{
					"flags" : ["뉴스구분값"],
					"hashtag" : ["#건강관리", "#가을"],
					"date" : true
					},
					{
					"flags" : ["뉴스구분값"],
					"hashtag" : ["#건강관리", "#가을"],
					"date" : true
					}, 
					{
					"flags" : ["뉴스구분값"],
					"hashtag" : ["#건강관리", "#가을"],
					"date" : true
					}
				])
				</ul>
				@@include('./common/support/pagination.html', {
					count: 5
				})
			</div>
			
		</div>
