<!-- components/partials/KRP0009-list.html -->

<div class="product-items-wrap">
    <div class="items-top">
        <div class="cate-area ui_dropdown">
            <div class="cate-list">
                <a href="#n" class="ui_dropdown_toggle"> <!-- 클릭 시 active 클래스 추가 -->
                    <span id="categoryCnt">0개 선택</span>
                    <span class="ico"></span>
                </a>
                <div class="cate-sel ui_dropdown_list">
                    <div class="chk-wrap">
                        <input type="checkbox" name="categoryCheckbox" id="all_chk01" value="1" checked>
                        <label for="all_chk01">전체</label>
                    </div>
                    <div class="chk-wrap">
                        <input type="checkbox" name="categoryCheckbox" id="chk01" value="2">
                        <label for="chk01">카테고리1</label>
                    </div>
                    <div class="chk-wrap">
                        <input type="checkbox" name="categoryCheckbox" id="chk02" value="3">
                        <label for="chk02">카테고리2</label>
                    </div>
                    <div class="chk-wrap" >
                        <input type="checkbox" name="categoryCheckbox" id="chk03" value="4">
                        <label for="chk03">카테고리3</label>
                    </div>
                    <div class="chk-wrap">
                        <input type="checkbox" name="categoryCheckbox" id="chk04" value="5">
                        <label for="chk04">카테고리4</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-filter">
            <a href="##n" id="filterModalLink" class="ico-filter"><span class="blind">옵션필터</span></a>
        </div>
        <div class="sort-area">
            <div class="sort-list">
                <div class="select-wrap">
                    <select class="ui_sorting_selectbox" id="select1" title="리스트 정렬 순서 선택">
                        <option value="1">인기순</option>
                        <option value="2">최신순</option>
                        <option value="3">가격 높은순</option>
                        <option value="4">가격 낮은순</option>
                        <option value="5">리뷰 많은순</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="list-count" id="totalCount">총 0개</div>
        <div class="btn-compare">
            <button type="button"><span>비교하기</span></button>
        </div>
    </div>
    <ul class="items-list">
        @@for (var i = 0; i < context.items1.length; i++) {
            <li class="`+items1[i].moduleType+`">
                <div class="item">
                    `+items1[i].badgeType+`
                    @@include('./common/partials/KRP0009-carousel.html', {
                        "slideArr" : [
                            {
                                "visual" : "/lg5-common/images/dummy/@img-product.jpg"
                            },
                            {
                                "visual" : "/lg5-common/images/dummy/@img-product2.jpg"
                            }
                        ]
                    })
                    <div class="product-contents">
                        <div class="product-option color">
                            <div class="option-list" role="radiogroup">
                                <div role="radio" class="chk-wrap-colorchip `+items1[i].option1.color+`" aria-describedby="product1ID" title="`+items1[i].option1.title+`">
                                    <input type="radio" id="`+items1[i].option1.id+`" name="`+items1[i].option1.name+`" `+items1[i].option1.checked+`>
                                    <label for="`+items1[i].option1.id+`"><span class="blind">`+items1[i].option1.title+`</span></label>
                                </div>
                                <div role="radio" class="chk-wrap-colorchip `+items1[i].option2.color+`" aria-describedby="product1ID" title="`+items1[i].option2.title+`">
                                    <input type="radio" id="`+items1[i].option2.id+`" name="`+items1[i].option2.name+`" `+items1[i].option2.checked+`>
                                    <label for="`+items1[i].option2.id+`"><span class="blind">`+items1[i].option2.title+`</span></label>
                                </div>
                                <div role="radio" class="chk-wrap-colorchip `+items1[i].option3.color+`" aria-describedby="product1ID" title="`+items1[i].option3.title+`">
                                    <input type="radio" id="`+items1[i].option3.id+`" name="`+items1[i].option3.name+`" `+items1[i].option3.checked+`>
                                    <label for="`+items1[i].option3.id+`"><span class="blind">`+items1[i].option3.title+`</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="badge-product">
                            <span class="badge">NEW</span>
                            <span class="badge">BEST</span>
                        </div>
                        <div class="product-info">
                            <div class="product-name">
                                <a href="#" id="product1ID">LG DIOS 노크온 매직스페이스</a>
                            </div>
                            <div class="sku">S833MC85Q</div>
                            <div class="review-info">
                                <a href="#">
                                    <div class="star `+items1[i].review+`"><span class="blind">`+items1[i].reviewText+`</span></div>
                                    <div class="average-rating"><span class="blind">평점</span>`+items1[i].average+`</div>
                                    <div class="review-count"><span class="blind">리뷰 수</span>(`+items1[i].reviewCount+`)</div>
                                </a>
                            </div>
                            <ul class="spec-info">
                                <li>용량 : 840L</li>
                                <li>전체크기(WxHxD) : 912 x 1,790 x 927 mm</li>
                                <li>형태 : 노크온 매직스페이스</li>
                                <li>패턴 : 미드나잇</li>
                                <li><span class="care-option">케어십 가능</span></li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <div class="reduced-price">
                                <em class="blind">최대 혜택가격</em>
                                <span class="price">5,200,000<em>원</em></span>
                            </div>
                            <div class="product-price">
                                <div class="purchase-price">
                                    <em class="blind">판매가격</em>
                                    <span class="price">360,000<em>원</em></span>
                                </div>
                                <div class="discount-rate">
                                    <em class="blind">할인율</em>
                                    <span class="price">15<em>%</em></span>
                                </div>
                            </div>
                        </div>
                        <div class="badge-benefit">
                            <span class="text">3%할인</span>
                            <span class="text">사은품</span>
                            <span class="text">캐시백</span>
                        </div>
                    </div>
                    <div class="product-wish `+items1[i].wish.class+`">
                        <span class="chk-wrap">
                            <input type="checkbox" id="`+items1[i].wish.id+`" name="`+items1[i].wish.name+`" `+items1[i].wish.checked+`>
                            <label for="`+items1[i].wish.id+`"><span class="blind">찜하기</span></label>
                        </span>
                    </div>
                    <div class="product-compare `+items1[i].compare.class+`">
                        <span class="chk-wrap">
                            <input type="checkbox" id="`+items1[i].compare.id+`" name="`+items1[i].compare.name+`" `+items1[i].compare.checked+`>
                            <label for="`+items1[i].compare.id+`"><span class="blind">비교하기</span></label>
                        </span>
                    </div>
                    <div class="product-button">
                        <a href="#n" class="btn">`+items1[i].button+`</a>
                    </div>
                </div>
            </li>
        }
        @@for (var i = 0; i < context.banner.length; i++) {
            <li class="item-banner `+banner[i].moduleType+`">
                <div class="item">
                    <div class="product-image">
                        <a href="#">
                            <img data-pc-src="`+banner[i].visual1+`" data-m-src="`+banner[i].visual2+`" alt="" class="lazyload">
                        </a>
                    </div>
                    <div class="banner-contents">
                        <div class="inner">
                            <div class="banner-flag">
                                <span class="flag">얼음정수기냉장고</span>
                            </div>
                            <div class="banner-info">
                                <div class="title">`+banner[i].title+`</div>
                                <div class="sub-copy">`+banner[i].copy+`</div>
                            </div>
                            <div class="banner-button">
                                <a href="#n" class="btn">`+banner[i].button+`</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
        @@for (var i = 0; i < context.items2.length; i++) {
            <li class="`+items2[i].moduleType+`">
                <div class="item">
                    `+items2[i].badgeType+`
                    <div class="product-image">
                        <a href="#">
                            <img data-src="`+items2[i].visual+`" alt="" class="lazyload">
                        </a>
                    </div>
                    <div class="product-contents">
                        <div class="product-option text">
                            <div class="option-list" role="radiogroup">
                                <div role="radio" class="rdo-wrap" aria-describedby="product2ID" title="`+items2[i].option1.title+`">
                                    <input type="radio" id="`+items2[i].option1.id+`" name="`+items2[i].option1.name+`" `+items2[i].option1.checked+`>
                                    <label for="`+items2[i].option1.id+`">`+items2[i].option1.title+`</label>
                                </div>
                                <div role="radio" class="rdo-wrap" aria-describedby="product2ID" title="`+items2[i].option2.title+`">
                                    <input type="radio" id="`+items2[i].option2.id+`" name="`+items2[i].option2.name+`" `+items2[i].option2.checked+`>
                                    <label for="`+items2[i].option2.id+`">`+items2[i].option2.title+`</label>
                                </div>
                                <div role="radio" class="rdo-wrap" aria-describedby="product2ID" title="`+items2[i].option3.title+`">
                                    <input type="radio" id="`+items2[i].option3.id+`" name="`+items2[i].option3.name+`" `+items2[i].option3.checked+`>
                                    <label for="`+items2[i].option3.id+`">`+items2[i].option3.title+`</label>
                                </div>
                            </div>
                        </div>
                        <div class="badge-product">
                            <span class="badge">NEW</span>
                            <span class="badge">BEST</span>
                        </div>
                        <div class="product-info">
                            <div class="product-name">
                                <a href="#" id="product2ID">LG DIOS 노크온 매직스페이스</a>
                            </div>
                            <div class="sku">S833MC85Q</div>
                            <div class="review-info">
                                <a href="#">
                                    <div class="star `+items2[i].review+`"><span class="blind">`+items2[i].reviewText+`</span></div>
                                    <div class="average-rating"><span class="blind">평점</span>`+items2[i].average+`</div>
                                    <div class="review-count"><span class="blind">리뷰 수</span>(`+items2[i].reviewCount+`)</div>
                                </a>
                            </div>
                            <ul class="spec-info">
                                <li>용량 : 840L</li>
                                <li>전체크기(WxHxD) : 912 x 1,790 x 927 mm</li>
                                <li>형태 : 노크온 매직스페이스</li>
                                <li>패턴 :  미드나잇</li>
                                <li><span class="care-option">케어십 가능</span></li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <div class="reduced-price">
                                <em class="blind">최대 혜택가격</em>
                                <span class="price">5,200,000<em>원</em></span>
                            </div>
                            <div class="product-price">
                                <div class="purchase-price">
                                    <em class="blind">판매가격</em>
                                    <span class="price">360,000<em>원</em></span>
                                </div>
                                <div class="discount-rate">
                                    <em class="blind">할인율</em>
                                    <span class="price">15<em>%</em></span>
                                </div>
                            </div>
                        </div>
                        <div class="badge-benefit">
                            <span class="text">3%할인</span>
                            <span class="text">사은품</span>
                            <span class="text">캐시백</span>
                        </div>
                    </div>
                    <div class="product-wish `+items2[i].wish.class+`">
                        <span class="chk-wrap">
                            <input type="checkbox" id="`+items2[i].wish.id+`" name="`+items2[i].wish.name+`" `+items2[i].wish.checked+`>
                            <label for="`+items2[i].wish.id+`"><span class="blind">찜하기</span></label>
                        </span>
                    </div>
                    <div class="product-compare `+items2[i].compare.class+`">
                        <span class="chk-wrap">
                            <input type="checkbox" id="`+items2[i].compare.id+`" name="`+items2[i].compare.name+`" `+items2[i].compare.checked+`>
                            <label for="`+items2[i].compare.id+`"><span class="blind">비교하기</span></label>
                        </span>
                    </div>
                    <div class="product-button">
                        <a href="#n" class="btn">`+items2[i].button+`</a>
                    </div>
                </div>
            </li>
        } 
    </ul>
    <div class="read-more-area">
        <button type="button" class="read-more">더보기</button>
    </div>
</div>