<!-- components/partials/KRP0009-type1.html -->

<div class="component-wrap @@component-class.margin">
	<!--
		[.component-wrap 옵션]
		1. 여백
		.zero-top : 상단여백 없음
		.zero-btm : 하단여백 없음
	-->
	<div class="component KRP0009">
		<div class="pdp-tab">
			<!-- <div class="back-layer"></div> --> <!-- [KR수정] 구조 삭제 -->
			<!-- 2. sticky bar -->
			<div class="inner">
                @@if (context.product) {
                    <div class="product-simple-info">
                        @@if (context.product.name) {
                        <div class="product-name">@@product.name</div>
                        }
                        @@if (context.product.price) {
                        <div class="product-selling-price">
                            <div class="price">
                                @@product.price
                            </div>
                            <!-- <div class="retailer"></div> --> <!-- [KR수정] 구조 삭제 -->
                        </div>
                    }
                    </div>
                }
				<!-- 1. tab -->
				<div class="contents-menu-list" role="navigation" aria-label="Page">
					<!-- 접근성 버튼 이동 -->
					<!-- <button type="button" class="btn-drop-menu-mob"><span class="open">menu open</span><span class="close">menu close</span></button> --> <!-- [KR수정] 구조 삭제 -->
                    <div class="ui_smooth_scroll"><!-- 210311 수정 [.ui_smooth_scroll 돔 추가] -->
                        <ul class="tab-menu-belt @@type-btn" aria-label="If you select menu, the focus move to area providing the selected information in this web page."> <!-- 버튼 없는 케이스는 @@type-btn 제거 필요 -->
                            @@if (!context.tabMenu.expendables) {
                                @@if (!context.tabMenu.soldOut) {
                            <li class="tab-menu active"><a href="#overview" class="linker" aria-selected="true" data-link-area="pdp_tab_anchor-tab" data-link-name="overview">제품상세</a></li>
                                }
                            <li class="tab-menu"><a href="#pdp_spec" class="linker" aria-selected="false" data-link-area="pdp_tab_anchor-tab" data-link-name="specs">스펙</a></li>
                                @@if (context.tabMenu.careSolution) {
                            <li class="tab-menu"><a href="#pdp_rental" class="linker" aria-selected="false" data-link-area="pdp_tab_anchor-tab" data-link-name="rental">렌탈(케어솔루션)</a></li>
                                }
                            <li class="tab-menu"><a href="#pdp_review" class="linker" aria-selected="false" data-link-area="pdp_tab_anchor-tab" data-link-name="review">리뷰(36)</a></li>
                            <li class="tab-menu"><a href="#pdp_support" class="linker" aria-selected="false" data-link-area="pdp_tab_anchor-tab" data-link-name="support">고객지원</a></li>
                            }
                            @@if (context.tabMenu.expendables) {
                            <li class="tab-menu active"><a href="#pdp_detail" class="linker" aria-selected="false" data-link-area="pdp_tab_anchor-tab" data-link-name="detail">상품설명</a></li>
                            <li class="tab-menu"><a href="#pdp_install" class="linker" aria-selected="false" data-link-area="pdp_tab_anchor-tab" data-link-name="install">설치방법</a></li>
                            <li class="tab-menu"><a href="#pdp_delivery" class="linker" aria-selected="false" data-link-area="pdp_tab_anchor-tab" data-link-name="delivery">배송안내</a></li>
                            <li class="tab-menu"><a href="#pdp_exchange" class="linker" aria-selected="false" data-link-area="pdp_tab_anchor-tab" data-link-name="exchange">교환/환불</a></li>
                            }
                        </ul>
                    </div><!-- 210311 수정 [.ui_smooth_scroll 돔 추가] -->
                    <!-- @@if (context.extraMenu) { -->
                    <div class="extra-area">
                        <!--  구매하기 버튼인 경우
                            data-model-id="MD000000" 추가
                        -->
                        <!-- <a href="@@extraMenu.link-url" id="extraBtn" class="extra-menu btn @@extraMenu.style1 @@extraMenu.style2" data-link-area="pdp_tab_anchor-tab" data-link-name="{button name}">@@extraMenu.text</a> -->
                        <a id="extraBtn" href="@@extraMenu.link-url" data-type="" class="extra-menu btn @@extraMenu.style1 @@extraMenu.style2" data-model-id="" data-link-area="pdp_tab_anchor-tab" data-link-name="{button name}">
                            <span>@@extraMenu.text</span>
                        </a>
                    </div>
                    <!-- 접근성 버튼 이동 -->
                    <!-- } -->
                </div>
				<!-- // 1. tab -->
			</div>
			<!-- // 2. sticky bar -->
		</div>
	</div>
</div>