.sign-up-guide {
    .icon-tabs {
        .tabs {
            margin:0 -12px;
            font-size:0;
            li {
                display:inline-block;
                position:relative;
                width:calc(100% / 3);
                padding:0 12px;
                vertical-align:top;
                &::before {
                    content:' ';
                    position:absolute;
                    top:0;
                    right:12px;
                    bottom:0;
                    left:12px;
                    border-radius:8px;
                    border:1px solid #ddd;
                }
                &.on::before {
                    border:2px solid #EC455A;
                }
                a {
                    display:block;
                    position:relative;
                    margin:2px;
                    padding:114px 8px 30px;
                    text-align:center;
                    color:#222;
                    @include font-large-1;
                    font-weight:700;
                    &::before {
                        content:' ';
                        position:absolute;
                        top:30px;
                        left:50%;
                        width:64px;
                        height:64px;
                        margin-left:-32px;
                    }
                    @for $i from 1 through 4 {
                        &.tab#{$i}::before {
                            background:url("/lg5-common/images/BMC/icon-join0#{$i}.svg") center no-repeat;
                            background-size:100%;
                        }
                    }
                    &::after {
                        content:' ';
                        position:absolute;
                        top:14px;
                        right:14px;
                        width:24px;
                        height:24px;
                        background:url("/lg5-common/images/BMC/check-pc.svg") 0 0 no-repeat;
                    }
                }
                &.on a::after {
                    background-position-y:bottom;
                }
            }
        }
    }
}