.benefit-info-box {
    ul {
        display:table;
        width:calc(100% + 48px);
        margin:0 -24px;
        border-collapse:separate;
        border-spacing:24px 0;
        table-layout:fixed;
        @include mobile {
            display:block;
            width:auto;
            margin:0;
        }
        li.lists {
            display:table-cell;
            padding:32px 40px;
            border-radius:8px;
            background:#f4f4f4;
            text-align:center;
            vertical-align:top;
            @include mobile {
                display:block;
                margin-top:24px;
                padding:32px 12px;
                &:first-child {
                    margin-top:0;
                }
            }
            dl {
                &::before {
                    content:' ';
                    display:block;
                    width:48px;
                    height:48px;
                    margin:0 auto 12px;
                    background:url("/lg5-common/images/icons/icon-point-48.svg") center no-repeat;
                    @include mobile {
                        margin-bottom:15px;
                    }
                }
                dt {
                    color:#222;
                    @include font-large;
                    font-weight:700;
                }
                dd {
                    margin-top:8px;
                    padding:0 40px;
                    color:#222;
                    @include font-medium;
                    word-break:keep-all;
                }
            }
        }
    }
}