.membership-welcome {
    padding:64px 40px;
    background:#f4f4f4;
    text-align:center;
    @include mobile {
        padding:32px 16px 40px;
    }
    .welcome {
        .tit {
            color:#222;
            @include font-large-2;
            font-weight:700;
        }
        .desc {
            margin-top:12px;
            color:#222;
            @include font-medium;
        }
        .img {
            display:block;
            margin-top:32px;
            @include mobile {
                margin-top:24px;
            }
            img {
                width:100%;
                max-width:360px;
                height:auto;
                border-radius:18px;
                vertical-align:top;
                box-shadow:inset -12px -12px 16px 0 rgba(#fff, .5), 12px 12px 32px 0 rgba(#000, .18);
                @include mobile {
                    max-width:260px;
                }
            }
        }
    }
    .benefits {
        margin-top:64px;
        font-size:0;
        @include mobile {
            margin-top:40px;
        }
        .dls {
            display:inline-block;
            width:calc((100% - 72px) / 2);
            max-width:396px;
            margin-left:72px;
            @include mobile {
                display:block;
                width:auto;
                max-width:100%;
                margin-top:20px;
                margin-left:0;
            }
            &:first-child {
                margin-top:0;
                margin-left:0;
            }
            dt {
                color:#222;
                @include font-large-1;
                font-weight:700;
                &::before {
                    content:' ';
                    display:block;
                    width:84px;
                    height:84px;
                    margin:0 auto 12px;
                    background-size:100%;
                    background-repeat:no-repeat;
                }
            }
            &.dls1 {
                dt::before {
                    background-image:url("/lg5-common/images/BMC/icon-point1.svg");
                }
            }
            &.dls2 {
                dt::before {
                    background-image:url("/lg5-common/images/BMC/icon-point2.svg");
                }
            }
            dd {
                margin-top:8px;
                @include font-medium;
                word-break:keep-all;
            }
        }
    }
    .btn-group {
        margin-top:48px;
        .btn {
            background:transparent;
        }
        @include mobile {
            margin-top:32px;
        }
    }
}

.membership-cont {
    margin-top:80px;
    text-align:center;
    @include mobile {
        margin-top:32px;
        padding:0 16px;
    }
    .img {
        display:block;
        width:100%;
        max-width:912px;
        margin:0 auto 32px;
        border-radius:8px;
        background:#f4f4f4;
        overflow:hidden;
        img {
            width:100%;
            height:auto;
            vertical-align:top;
        }
    }
    &.type2 {
        margin-top:72px;
        .img {
            margin-bottom:48px;
            padding-top:77px;
            text-align:center;
            @include mobile {
                margin-bottom:32px;
                padding-top:24px;
            }
            img {
                width:338px;
                box-shadow:0 4px 20px 0 rgba(#000, .16);
                @include mobile {
                    width:185px;
                }
            }
        }
    }
    .tit {
        color:#222;
        @include font-large-2;
        font-weight:700;
    }
    .desc {
        margin-top:12px;
        color:#222;
        @include font-medium;
        word-break:keep-all;
    }
    .btn-group {
        margin-top:24px;
    }
    .infos {
        margin:0 -40px;
        font-size:0;
        @include mobile {
            margin:0;
        }
        li {
            display:inline-block;
            width:33.3%;
            max-width:280px + 80px;
            padding:0 40px;
            vertical-align:top;
            @include mobile {
                display:block;
                width:100%;
                max-width:100%;
                margin-top:24px;
                &:first-child {
                    margin-top:0;
                }
            }
            .tit {
                @include font-large-1;
            }
            .btn {
                margin-top:16px;
            }
        }
    }
}


.visual-wrap.test-size1 {
    max-width:1380px + 80px;
    margin:0 auto;
    padding:0 40px;
    background:#f4f4f4;
}