/* BTOCSITE-3002 멤버십 페이지 수정 */
.benefit-info-box {
    ul {
        display:flex;
        margin:-12px 0 0 -24px;
        border-collapse:separate;
        border-spacing:24px 0;
        @include mobile {
            flex-wrap:wrap;
            margin:0 0 0 -12px;
        }
        li.lists {
            margin:12px 0 0 24px;
            padding:32px 20px;
            width:calc(25% - 24px);
            border-radius:8px;
            background:#f4f4f4;
            text-align:center;
            vertical-align:top;
            @include mobile {
                margin-left:12px;
                width:calc(50% - 12px);
                padding:32px 14px;
            }
            dl {
                &::before {
                    content:' ';
                    display:block;
                    width:64px;
                    height:64px;
                    margin:0 auto 16px;
                    background:url("/lg5-common/images/icons/icon-point-64-01.svg") center no-repeat;
                    @include mobile {
                        margin-bottom:12px;
                    }
                }
                dt {
                    color:#000;
                    @include font-large;
                    font-weight:700;
                }
                dd {
                    margin-top:8px;
                    color:#000;
                    @include font-medium;
                    word-break:keep-all;
                }
            }
            p {
                color:#000;
                @include font-large;
                font-weight:700;
                &::before {
                    content:' ';
                    display:block;
                    width:64px;
                    height:64px;
                    margin:0 auto 16px;
                    background:url("/lg5-common/images/icons/icon-point-64-01.svg") center no-repeat;
                    @include mobile {
                        margin-bottom:12px;
                    }
                }
            }
        }
    }
    &.size2 {
        ul {
            li:nth-child(1) {
                dl {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-point-64-01.svg');
                    }
                }
            }
            li:nth-child(2) {
                dl {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-point-64-02.svg');    
                    }
                }
            }
            li:nth-child(3) {
                dl {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-benefit-64-03.svg');
                    }
                }
            }
            li:nth-child(4) {
                dl {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-benefit-64-04.svg');    
                    }
                }
            }
        }
    }
    &.size3 {
        ul {
            li:nth-child(1) {
                p {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-condition-clear-64-01.svg');
                    }
                }
            }
            li:nth-child(2) {
                p {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-condition-clear-64-02.svg');    
                    }
                }
            }
            li:nth-child(3) {
                p {
                    &:before {
                        background-image:url('/lg5-common/images/icons/icon-condition-clear-64-03.svg');
                    }
                }
            }
        }
    }
}
/* //BTOCSITE-3002 멤버십 페이지 수정 */
.slide-wrap {
    .custom-indi-wrap {
        bottom: 24px;
        right: 40px;
        left: 40px;
        max-width: 1380px;
        margin: 0 auto;
        .custom-indis {
            max-width: none;
            margin: 0 -15px;
            .indis {
                width: 100%;
                table-layout: fixed;
                li {
                    width: auto;
                    padding: 0 15px;
                    &.on {
                        width: auto;
                    }
                }
            }
        }
        .indi-control {
            position: absolute;
            bottom: 16px;
            right: 0;
            margin: 0;
        }
        @include mobile {
            bottom: 20px;
            right: 16px;
            left: 16px;
            max-width: none;
            .custom-indis {
                margin: 0 -5px;
                .indis {
                    li {
                        padding: 0 5px;
                    }
                }
            }
            .indi-control {
                bottom: 20px;
            }
        }
    }
    .slide-controls {
        display: none;
    }
    .ui_carousel_list {
        overflow:hidden;
    }
}