@charset "UTF-8";

.tb_row {
    @include mobile {
        margin-top:-20px;
    }
    &.tb-bor {
        tr {
            td {
                border-left:1px solid #ddd;
                &:first-child {
                    border-left:none;
                }
            }
        }
    }
}