@charset "UTF-8";

.contents.event .ev-detail-wrap .ev-detail-con .ev-cont .conts {
    &.dis-block {
        display:block;
    }
}

.ev-detail-con{

    /* 클래스별이미지분기 */
    .pc{
        display:inline-block !important;
    }
    .mobile{
        display:none !important;
    }
    @include mobile {
        .pc{
            display:none !important;
        }
        .mobile{
            display:block !important;
        }
    }
    /* //클래스별이미지분기 */

    /* 이벤트 레이어팝업 공통 */
    &.pop-conts{
        .tb-tit{
            &.req{
                &::after {
                    content: '*';
                    display: inline-block;
                    margin-left: 1px;
                    color: #EC455A;
                    font-size: inherit;
                    line-height: inherit;
                    vertical-align: top;
                }
            }
        }
        .desc{
            text-align:center;
            line-height:1.2;
            font-size:16px;
            strong{
                display:block;
                &.tit{
                    font-size:20px;
                }
            }
            em{
                color:#da0f47;
            }
            .txt{
                display:block;
                padding:12px 0;
            }
        }
        .top-brd{
            border-top:1px solid #000000;
        }
        .agree-input{
            padding:16px 0 48px;
        }
        .input-info{
            margin-top:0;
        }
        .txt-terms{
            padding:24px;
            font-size:16px;
            line-height:1.62;
            border-top:1px solid #666666;
            border-bottom:1px solid #dddddd;
            color:#000000;
            @include mobile {
                padding:19px 12px;
                font-size:13px;
            }
        }
    }
    /* //이벤트 레이어팝업 공통 */

    .event02{
        .btn-wrap{
            @include mobile{
             position:relative;
            }
            .btns{
                margin:-16% 0 16%;
                @include mobile{
                    margin:0;
                    padding:0 24px;
                }
                img{
                    width:100%;
                }
                .write{
                    width:36%;
                    display:inline-block;
                    margin-right:6%;
                    @include mobile{
                        position: absolute;
                        top: 56%;
                        width: 84%;
                        left: 7%;
                    }
                }
                .result{
                    width:36%;
                    display:none;
                    &.dis{
                        display:inline-block;
                    }
                    @include mobile{
                        position: absolute;
                        top: 93.5%;
                        width: 84%;
                        left: 7%;
                    }
                }
                &.apply{
                    .result{
                        display:inline-block;
                        width:36%;
                        &.dis{
                            display:none;
                        }
                        @include mobile{
                            top: 93.5%;
                            width:84%;
                            left: 7%;
                        }
                    }
                }
            }

        }
        .reply-wrap{
            @include mobile{
                padding:0 16px 60px;
                border-bottom:2px solid #181818;
            }
            .list-sorting{
                padding:68px 0 12px;
                @include mobile{
                    padding:32px 0 16px;
                }
                .list-count{
                    float: left;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    @include mobile{
                        font-size: 13px;
                    }
                    em{
                        color:#da0f47;
                    }
                }
                .list-noti{
                    float: right;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    @include mobile{
                        font-size: 13px;
                        color:#666666;
                        font-weight: 500;
                    }
                }
            }
            ul{
                border-top:1px solid #666666;
                li{
                    padding:24px;
                    border-bottom:1px solid #dddddd;
                    @include mobile{
                        padding:16px 12px;
                    }
                    & > div{
                        display:block;
                        text-align:left;
                        .tit{
                            padding-bottom:8px;
                            max-height: calc(20px * 2);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            font-size:16px;
                            font-weight:700;
                            line-height:1.2;
                             @include mobile{
                                max-height: calc(23px * 2);
                                font-size:13px;
                                line-height:1.62;
                            }
                        }
                        .writter{
                            font-size:14px;
                            color:#000000;
                            @include mobile{
                                font-size:13px;
                            }
                        }
                        .date{
                            font-size:14px;
                            color:#000000;
                            &:before{
                                content:'';
                                display:inline-block;
                                border-left:1px solid #dddddd;
                                width:1px;
                                height:10px;
                                margin:0 6px 0 4px;
                            }
                            @include mobile{
                                font-size:13px;
                            }
                        }
                        .app{
                            font-size:12px;
                            line-height:1.0;
                            display:inline-block;
                            background-color:#7649ec;
                            padding:2px 6px;
                            border-radius:4px;
                            color:#ffffff;
                            @include mobile{
                                font-size:10px;
                            }
                        }
                    }
                }
            }
        }
        .app_down{
            position:relative;
            margin-top: 110px;
            @include mobile{
                margin-top: 60px;
            }
            & .btns{
                a{
                    display:inline-block;
                    position:absolute;
                    top: 72%;
                    width: 14%;
                    height: 7%;
                    @include mobile{
                        top: 82%;
                        width:32%;
                        height: 6%;
                    }
                    &.android{
                        left: 54%;
                        @include mobile{
                            left: 12%;
                        }
                    }
                    &.ios{
                        left: 75%;
                        @include mobile{
                            left: 56%;
                        }
                    }
                }
            }
        }
    }   

    .event03{
        .terms{
            text-align:left;
            @include mobile {
                padding:0 16px;
            }
            .input-info{
                .input-info-wrap{
                    padding:80px 0 0;
                    @include mobile {
                        padding:60px 0 0;
                    }
                }
                .tit-wrap{
                    font-weight:700;
                    line-height:1.4;
                    letter-spacing: -1px;
                    @include mobile {
                        font-size:20px;
                        &.m-uline{
                            border-bottom:2px solid #222222;
                            padding-bottom:12px;
                            margin-bottom:40px;
                        }
                    }
                }
                .form-wrap{
                    & .forms{
                        .conts{
                            display:inline-block;
                            padding-bottom:0;
                        }
                    }
                }
            }
            
            .tb_row{
                &.tb-bor{
                    tr{
                        th,td {
                            border-left: 1px solid #ddd;
                            &:first-child{
                                border-left:none;
                            }
                        }
                    }
                }
            }
            .agree-input{
                padding-top:28px;
                @include mobile {
                    padding-top:16px
                }
            }
            .txt-terms{
                padding:24px;
                font-size:16px;
                line-height:1.62;
                border-top:1px solid #666666;
                border-bottom:1px solid #dddddd;
                color:#000000;
                @include mobile {
                    padding:19px 12px;
                    font-size:13px;
                }
            }
            .input-layer-wrap {
                .input-layer {
                    display:none;
                    position:absolute;
                    top:0;
                    right:0;
                    left:0;
                    z-index:1;
                    width:calc(100% - 76px);
                    padding:48px 0 0;
                    border-radius:8px;
                    background-color:#fff;
                    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
                    overflow:hidden;
                    @include mobile {
                        width:calc(100% - 94px);
                    }
                    ul {
                        max-height:192px;
                        overflow:hidden;
                        overflow-y:auto;
                        @include mobile {
                            max-height:138px;
                        }
                        li {
                            height:48px;
                            padding:11px 16px;
                            a {
                                display:block;
                                font-size:16px;
                                line-height:26px;
                                .search-word {
                                    color:#da0f47;
                                }
                            }
                            @include mobile {
                                height:46px;
                                padding:12px;
                                a {
                                    font-size:14px;
                                    line-height:22px;
                                }
                            }
                        }
                    }
                    .no-data {
                        padding:16px 16px 32px;
                        text-align:center;
                        p {
                            font-size:16px;
                            line-height:26px;
                        }
                        @include mobile {
                            padding:12px 12px 24px;
                            p {
                                font-size:14px;
                                line-height:22px;
                            }
                        }
                    }
                }
                &.on {
                    .box {
                        .input-wrap {
                            input {
                                position:relative;
                                z-index:2;
                                &:focus {
                                    border-color:transparent;
                                }
                            }
                        }
                    }
                    .input-layer {
                        display:block;
                    }
                }
            }
        }
        .btns{
            padding:70px 0 138px;
            @include mobile {
                padding:32px 0 60px;
            }
        }
        .app-down{
            position:relative;
            & .app-btns{
                a{
                    display:inline-block;
                    position:absolute;
                    top: 72%;
                    width: 15%;
                    height: 7%;
                    @include mobile{
                        top: 82%;
                        width:32%;
                        height: 6%;
                    }
                    &.android{
                        left: 53%;
                        @include mobile{
                            left: 12%;
                        }
                    }
                    &.ios{
                        left: 74%;
                        @include mobile{
                            left: 56%;
                        }
                    }
                }
            }
        }
    }

    .event04{  
    }

    .event06{
        .benefit01{
            padding:0 0 140px;
            text-align:center;
            img{
                display:inline-block;
                padding:0;
            }
            .benefit-slide{
                padding:0 100px;
                max-width:1380px;
                @include mobile{
                    padding:0 36px;
                    max-width:100vw;
                }
                .slide-content{
                    overflow:hidden;
                    padding-right:17px; //맨 끝 아이템 여백
                    .slide-conts {
                        padding:12px;
                        // float:left;
                        @include mobile{
                            max-width:250px;
                        }
                        .slide-box {
                            display:block;
                            position:relative;
                            height:auto;
                            padding:25px;
                            border-radius:8px;
                            background-color:#fff;
                            box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.14);
                            @include mobile {
                                height:auto;
                                box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.14);
                                padding:25px;
                            }
                            .img {
                                @include mobile {
                                    position:static;
                                    width:100%;
                                    height:auto;
                                    margin:0;
                                }
                            }
                            .info {
                                display:block;
                                text-align:left;
                                vertical-align: top;
                                width: auto;
                                margin: 0;
                                padding-top:50px;
                                @include mobile {
                                    display:block;
                                    padding:26px 0 0 0;
                                    width: auto;
                                    margin: 0;
                                }
                                .model {
                                    display: -webkit-box;
                                    -webkit-line-clamp:2;
                                    -webkit-box-orient: vertical;
                                    // max-height:56px;
                                    min-height:38px;
                                    font-size:16px;
                                    font-weight:700;
                                    line-height:1.24;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    @include mobile {
                                        font-size:16px;
                                    }
                                }
                                .code {
                                    font-size:14px;
                                    font-weight:500;
                                    line-height:1.28;
                                    padding-top:8px;
                                    @include mobile {
                                        padding-top:8px;
                                        font-size:14px;
                                    }
                                }
                                .price-area {
                                    width:100%;
                                    margin:20px 0 0;
                                    padding:20px 0 0;
                                    border-top:2px solid #e4e4e4;
                                    @include mobile {
                                        margin:20px 0 0;
                                        padding:20px 0 0;
                                    }
                                    .total {
                                        position: relative;
                                        display:inline-block;
                                        width:100%;
                                        text-align:right;
                                        margin-right: 8px;
                                        font-weight: 700;
                                        font-size: 20px;
                                        line-height: 1.21;
                                        color:#e34465;
                                        @include tablet {
                                            font-size:12px;
                                        }
                                        em{
                                            display:inline-block;
                                            font-weight: 700;
                                            font-size: 14px;
                                            line-height: 1.93;
                                            text-align:left;
                                            @include mobile {
                                                font-size:14px;
                                            }
                                        }
                                        .tit{
                                            position:absolute;
                                            left:0;
                                        }
                                        @include mobile {
                                            font-size:20px;
                                        }
                                    }
                                    .original {
                                        position: relative;
                                        display:inline-block;
                                        width:100%;
                                        margin-right: 4px;
                                        font-size: 14px;
                                        line-height: 1.4;
                                        color: #666666;
                                        text-decoration:line-through;
                                        text-align:right;
                                        @include mobile {
                                            font-size:14px;
                                        }
                                    }
                                }
                            }
                            .dim-soldout{
                                position:absolute;
                                top:0;
                                left:0;
                                width:100%;
                                height:100%;
                                background-color:rgba(146, 146, 146, 0.7);
                                z-index:10;
                                border-radius: 8px;
                                background-image: url('/lg5-common/images/BMC/open_conts/event06/img-soldout.png');
                                background-size: 50%;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            .flag{
                                position:absolute;
                                top:0;
                                right:0;
                                z-index:5;
                                max-width:56px;
                                img{
                                    display:block;
                                    &.discount{
                                        position:relative;
                                        margin-bottom:-12px;
                                    }                                    
                                }
                            }
                        }
                    }
                }
                
                .slide-controls{
                    margin-top:-30px;
                    .prev {
                        left:-12px;
                    }
                    .next {
                        right:-12px;
                    }
                    .btn-arrow{
                        width: 64px;
                        height: 64px;
                        .next{
                            &:before{
                             background-image: url('/lg5-common/images/icons/btn-arr-64-black.svg');
                            }
                        }
                        &:before {
                            width: 64px;
                            height: 64px;
                            box-shadow: none;
                        }
                    }
                    @include mobile {
                        display:none;
                    }
                }
            }
        }
        .benefit02{
            padding:116px 0;
            background-color:#f2f0f4;
            text-align:center;
            @include mobile {
                padding:0;
            }
        }
    }

    .event09{
        .anker-wrap{
            width:100%;
            background-color:#a0928f;
            a{
                display:inline-block;
                width:25%;
            }
        }
        .objet-slide {
            max-width: 1380px;
            padding:80px 100px 100px;
            @include mobile {
                max-width: 768px;
                padding:30px 0px 60px;
            }
            .slide-content {
                .slide-track{
                    @include mobile {
                      width:100%;
                    }
                    .slide-conts {
                        @include mobile {
                            display:none;
                            padding:0 16px;
                        }
                        .slide-box {
                            .img {
                                display:inline-block;
                                height:auto;
                                img{
                                    text-align:center;
                                    opacity:.4;
                                    transform:scale(.8);
                                }
                            }
                            .prd_name {
                                padding:0;
                                text-align:center;
                                font-size:16px;
                                font-weight:700;
                                color:rgba(0, 0, 0, 0.5);
                                @include mobile {
                                    padding-top:15px;
                                }
                            }
                        }
                        &.on.ui_carousel_center {
                            padding-top:0;
                            @include mobile {
                                display:inline-block;
                                margin:0 15px;
                            }
                            .slide-box {
                                .img {
                                    height:auto;
                                    img {
                                        opacity:1;
                                        transform:scale(1);
                                        transition:all .4s;
                                    }
                                }
                                .prd_name {
                                    padding:30px 0 0;
                                    font-size:18px;
                                    color:#000000;
                                }
                            }
                        }
                        &.on.ui_carousel_current {
                            @include mobile {
                                .img {
                                    img {
                                        transform:scale(1);
                                        opacity:1;
                                        transition:all .4s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .slide-controls {
                margin-top:-30px;
                .prev {
                    left:-12px;
                }
                .next {
                    right:-12px;
                }
                .btn-arrow{
                    width: 64px;
                    height: 64px;
                    .next{
                        &:before{
                            background-image: url('/lg5-common/images/icons/btn-arr-64-black.svg');
                        }
                    }
                    &:before {
                        width: 64px;
                        height: 64px;
                        box-shadow: none;
                    }
                @include mobile {
                    display:none;
                }
            }
            }
        }
        .more_btn{
            display:block;
            margin:-12% auto 12%;
            @include mobile {
                margin: -26% auto 26%;
                width: 70%;
            }
        }
    }

    .event10{
        .remd_prd{
            width:100%;
            padding:71px 0 99px;
            background-color:#2c2c2c;
            @include mobile{
                padding:28px 0 45px;
            }
            .tabs{
                width:100%;
                padding: 0 46px;
                overflow-x:hidden;
                @include mobile{
                    padding: 0 22px;
                }
                li{
                    width:33%;
                    height:223px;
                    margin-left:6px;
                    @include mobile{
                        width:33.3%;
                        margin-left:1px;
                        height:164px;

                    }
                    &:first-child{
                        margin-left:0;
                        a{
                            width:100%;
                            height:100%;
                            background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-01.png') no-repeat;
                            background-size:contain;
                            background-position-y: bottom;
                            @include mobile {
                                background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-01-m.png') no-repeat;
                                background-size:contain;
                                background-position-y: bottom;
                            }
                        }
                    }
                    &:nth-child(2){
                        a{
                            width:100%;
                            height:100%;
                            background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-02.png') no-repeat;
                            background-size:contain;
                            background-position-y: bottom;
                            @include mobile {
                                background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-02-m.png') no-repeat;
                                background-size:contain;
                                background-position-y: bottom;
                            }
                        }
                    }
                    &:nth-child(3){
                        a{
                            width:100%;
                            height:100%;
                            background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-03.png') no-repeat;
                            background-size:contain;
                            background-position-y: bottom;
                            @include mobile {
                                background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-03-m.png') no-repeat;
                                background-size:contain;
                                background-position-y: bottom;
                            }
                        }
                    }
                    &.on{
                        &:first-child{
                            a{
                                width:100%;
                                height:100%;
                                background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-01-on.png') no-repeat;
                                background-size:contain;
                                background-position-y: bottom;
                                @include mobile {
                                    background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-01-on-m.png') no-repeat;
                                    background-size:contain;
                                    background-position-y: bottom;
                                }
                            }
                        }
                        &:nth-child(2){
                            a{
                                width:100%;
                                height:100%;
                                background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-02-on.png') no-repeat;
                                background-size:contain;
                                background-position-y: bottom;
                                @include mobile {
                                    background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-02-on-m.png') no-repeat;
                                    background-size:contain;
                                    background-position-y: bottom;
                                }
                            }
                        }
                        &:nth-child(3){
                            a{
                                width:100%;
                                height:100%;
                                background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-03-on.png') no-repeat;
                                background-size:contain;
                                background-position-y: bottom;
                                @include mobile {
                                    background:url('/lg5-common/images/BMC/open_conts/event10/img-tab-03-on-m.png') no-repeat;
                                    background-size:contain;
                                    background-position-y: bottom;
                                }
                            }
                        }
                    }
                }
            }
            .tabs-cont{
                width:100%;
                margin: -3px 0px 0px 0px;    
                padding: 0px 44px 0 46px;
                @include tablet {
                    padding: 0px 43px 0 46px;
                }
                @include mobile {
                    width:100%;
                    padding: 0 20px 0 22px;
                    margin: -3px 0 0 -2px;
                }
            }
        }
    }

    .event13 {
        // margin-top:57px;
        .cont-box-wrap {
            position:relative;
            .movie {
                padding:102px 13.8% 120px;
                background-color:#fff4ee;
                video {
                    width:100%;
                    // border-radius:14px;
                    // border:12px solid #F3DCD0;
                }
                @include mobile {
                    // padding:32px 13.8% 60px;
                    padding:32px 0 60px;
                }
            }
        }
        .cont-box {
            position:relative;
            // &.bg01 {
            //     height:631px;
            //     background:url('/lg5-common/images/BMC/open_conts/event13/img-01.svg') no-repeat 0 0;
            //     @include mobile {
            //         height:352px;
            //         background:url('/lg5-common/images/BMC/open_conts/event13/img-01-m.svg') no-repeat 0 0;
            //         background-size:100%;
            //     }
            // }
            &.type2 {
                padding:120px 117px 60px;
                text-align:left;
                @include mobile {
                    padding:50px 16px;
                }
                .chk-cont {
                    .agree-txt {
                        margin-top:30px;
                        font-size:20px;
                        font-weight:700;
                        line-height:30px;
                        sup {
                            color:#da0f47;
                        }
                        @include mobile {
                            margin-top:14px;
                            font-size:14px;
                            line-height:22px;
                        }
                    }
                    .view {
                        margin-top:10px;
                        padding:24px;
                        border-top:1px solid #666;
                        border-bottom:1px solid #ddd;
                        font-size:16px;
                        line-height:26px;
                        word-break:keep-all;
                        @include mobile {
                            margin-top:14px;
                            padding:19px 0;
                            font-size:13px;
                            line-height:21px;
                        }
                    }
                    .chk-right {
                        margin-top:21px;
                        text-align:right;
                    }
                }
            }
            .tit {
                font-size:50px;
                letter-spacing:-2.5px;
                @include mobile {
                    font-size:27px;
                }
                &.type2 {
                    font-size:36px;
                    font-weight:700;
                    line-height:46px;
                    @include mobile {
                        font-size:20px;
                        line-height:28px;
                    }
                }
            }
            .desc {
                font-size:24px;
                line-height:28px;
                word-break:keep-all;
                & + .desc {
                    margin-top:16px;
                }
                @include mobile {
                    font-size:14px;
                    line-height:18px;
                    & + .desc {
                        margin-top:8px;
                    }
                }
            }
        }
        .pos-rel {
            position:relative;
            .event-btn {
                display:block;
                position:absolute;
                bottom:20%;
                left:37%;
                width:29.5%;
                height:14.5%;
                @include mobile {
                    bottom:14%;
                    left:0;
                    right:0;
                    width:100%;
                    img {
                        max-width:328px !important;
                        margin:0 auto;
                    }
                }
            }
        }
        .gray-box {
            padding:60px 116px;
            text-align:left;
            @include mobile {
                padding:0 16px;
            }
            dl {
                margin-top:32px;
                &:first-child {
                    margin-top:0;
                }
                &:after {
                    content:'';
                    display:block;
                    clear:both;
                }
                dt {
                    float:left;
                    width:24%;
                    padding-top:16px;
                    font-size:16px;
                    font-weight:700;
                    line-height:26px;
                    span {
                        &:after {
                            content:'*';
                            display:inline-block;
                            margin-left:1px;
                            color:#ec455a;
                            vertical-align:top;
                        }
                    }
                }
                dd {
                    float:left;
                    width:76%;
                    .input-wrap {
                        width:100%;
                    }
                }
                @include mobile {
                    margin-top:16px;
                    dt,
                    dd {
                        float:none;
                        width:100%;
                    }
                    dd {
                        margin-top:8px;
                    }
                }
            }
        }
        .logo {
            float:none;
            width:300px;
            margin:81px auto 0;
            padding:0;
            text-align:center;
            @include mobile {
                width:175px;
                margin:32px auto 0;
            }
        }
        .btn-area {
            margin-top:58px;
            @include mobile {
                margin-top:33px;
                img {
                    max-width:328px !important;
                    margin:0 auto;
                }
            }
        }
        .tb-bor{
            margin-top:36px;
            @include mobile {
                   margin-top:18px;
            }
            .noti{
                text-align: left;
                margin-bottom:8px;
                font-weight:700;
                @include mobile {
                    font-size:14px;
                    margin-bottom:6px;
                }
            }
            .mail-addr{
                display:inline-block;
                text-align:center;
                width:100%;
                margin-top:8px;
                @include mobile {
                    font-size:14px;
                    margin-bottom:6px;
                }
                em{
                    font-weight:700;
                }
            }
            th,td{
                border-left:1px solid #dddddd;
                &:first-child{
                    border-left:none;
                }
            }
            th{
                border-bottom:1px solid #dddddd;
                color:#000000;
                &.th-l{
                    background-color: #f4f4f4;
                }
                @include mobile {
                   font-size:14px;
                   line-height:22px;
                }

            }
            
        }
        .show2 {
            position:relative;
            margin-top:120px;
            @include mobile {
                margin-top:70px;
            }
            .app-btn {
                position:absolute;
                bottom:30.5%;
                &.aos {
                    left:25.3%;
                    width:24%;
                    height:6%;
                }
                &.ios {
                    right:25.3%;
                    width:24%;
                    height:6%;
                }
                @include mobile {
                    bottom:41.4%;
                    &.aos {
                        left:8%;
                        width:40%;
                        height:5%;
                    }
                    &.ios {
                        right:8%;
                        width:40%;
                        height:5%;
                    }
                }
            }
        }
    }

    .event14{
        .terms{
            text-align:left;
            @include mobile {
                padding:0 16px;
            }
            .input-info{
                .input-info-wrap{
                    padding:80px 0 0;
                    @include mobile {
                        padding:45px 0 0;
                    }
                }
            }
            .tit-wrap{
                font-weight:700;
                line-height:1.4;
                letter-spacing: -1px;
                @include mobile {
                    font-size:25px;
                }
            }
            .tb-tit{
                padding-bottom:15px;
                line-height:1.62;
                font-weight:700;
                @include mobile {
                    font-size:14px;
                    font-weight:700;
                    padding-bottom:13px;
                }
                &.req{
                    &::after {
                        content: '*';
                        display: inline-block;
                        margin-left: 1px;
                        color: #EC455A;
                        font-size: inherit;
                        line-height: inherit;
                        vertical-align: top;
                    }
                }
            }
            .tb_row{
                &.tb-bor{
                    tr{
                        th,td {
                            border-left: 1px solid #ddd;
                            &:first-child{
                                border-left:none;
                            }
                        }
                    }
                }
            }
            .agree-input{
                padding-top:28px;
                @include mobile {
                    padding-top:16px
                }
            }
            .txt-terms{
                @include mobile {
                    padding:19px 12px;
                    border-top:1px solid #666666;
                    border-bottom:1px solid #dddddd;
                    font-size:13px;
                    color:#000000;
                    line-height:1.62;
                }
            }
        }
        .btns{
            padding:50px 0;
            @include mobile {
                padding:45px 53px;
            }
            img{
                @include mobile {
                    width:50%;
                }
            }
        }
        .app-down{
            position:relative;
            & .app-btns{
                a{
                    display:inline-block;
                    position:absolute;
                    top: 72%;
                    width: 15%;
                    height: 7%;
                    @include mobile{
                        top: 82%;
                        width:32%;
                        height: 6%;
                    }
                    &.android{
                        left: 53%;
                        @include mobile{
                            left: 12%;
                        }
                    }
                    &.ios{
                        left: 74%;
                        @include mobile{
                            left: 56%;
                        }
                    }
                }
            }
        }
    }
}