@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.contents.membership {
    @at-root .page-header + & {
        margin-top: -40px;
        @include mobile {
            margin-top: -8px;
        }
        > .page-tabs.type3 {
            padding-top: 40px;
            @include mobile {
                padding-top: 10px;
            }
        }
    }
    .visual-wrap {
        .slide-content .slide-conts .slide-info-area .inner .slide-btn,
        .custom-indi-wrap {
            display: none;
        }
        .slide-content .slide-conts {
            .slide-info-area {
                top:96px;
                transform:translateY(0);
                @include mobile {
                    top:36px;
                    .inner {
                        padding:0 20px;
                    }
                }
            }
        }
        @import "ACC4002";
    }
    .page-tabs {
        position:relative;
        max-width:1460px;
        margin:0 auto;
        padding:32px 40px 0;
        background-color:#fff;
        @include mobile {
            margin-bottom:32px;
            padding: 32px 0 0;
            &:before,
            &:after {
                position: absolute;
                top: 0;
                bottom: 1px;
                z-index: 1;
                width: 20px;
                content: '';
            }
            &:before {
                left: 0;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
            }
            &:after {
                right: 0;
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
            }
        }
        &.type2 {
            margin-bottom:0;
            border-bottom:none;
        }
        &.type3 {
            padding-top:0;
            margin-bottom:0;
            @include mobile {
                padding:10px 0;
                &:before,
                &:after {
                    bottom: 11px;
                }
            }
        }
    }

    // MAIN
    @import "ACC4001";

    // SUB PAGES
    .cont-wrap {
        padding-top:48px;
        @include mobile {
            padding:40px 0;
        }
        .section-wrap {
            .sects {
                .tit-wrap {
                    &.align-center {
                        border-bottom:none;
                        text-align:center;
                        .tit {
                            float:none;
                            padding-bottom:0;
                            font-size:32px;
                            line-height:52px;
                            @include mobile {
                                font-size:24px;
                                line-height:33px;
                            }
                        }
                        .desc {
                            margin-top:12px;
                            font-size:18px;
                            line-height:28px;
                            word-break:keep-all;
                            @include mobile {
                                font-size:14px;
                                line-height:22px;
                            }
                        }
                    }
                }
                .section-inner {
                    .oper-store-list {
                        > ul {
                            display:flex;
                            flex-wrap:wrap;
                            margin:-24px 0 0 -24px;
                            font-size:0;
                            &:after {
                                content:' ';
                                display:block;
                                clear:both;
                            }
                            @include mobile {
                                margin:-12px 0 0 -8px;
                                font-size:0;
                            }
                            > li {
                                display:table;
                                float:left;
                                width:calc((100% / 4) - 24px);
                                height:196px;
                                margin:24px 0 0 24px;
                                border-radius:8px;
                                border:1px solid #ddd;
                                // box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);
                                text-align:center;
                                vertical-align:top;
                                @include mobile {
                                    // display:block;
                                    width:calc((100%/2) - 8px);
                                    height:100%;
                                    margin:12px 0 0 8px;
                                    border-radius:4px;
                                    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.14);
                                }
                                .inner {
                                    display:table-cell;
                                    vertical-align:middle;
                                    @include mobile {
                                        // display:block;
                                        padding:32px 12px;
                                    }
                                    .img {
                                        float:none;
                                        padding:0;
                                        max-width:213px;
                                        margin:0 auto;
                                        @include mobile {
                                            max-width:136px;
                                            min-height:64px;
                                        }
                                        img {
                                            width:100%;
                                        }
                                    }
                                    .txt {
                                        margin-top:8px;
                                        font-size:16px;
                                        line-height:26px;
                                    }
                                    .info-flag {
                                        font-size:0;
                                        @include mobile {
                                            min-height:56px;
                                        }
                                        .flag-inner {
                                            display:inline-block;
                                            @include tablet {
                                                display:block;
                                                & + .flag-inner {
                                                    margin-top:8px;
                                                }
                                            }
                                            .flag {
                                                display:block;
                                                height:24px;
                                                margin:0 3px;
                                                padding:5px 12px 7px;
                                                border-radius:4px;
                                                border:1px solid rgba(#000, .4);
                                                font-size:12px;
                                                font-weight:500;
                                                @include tablet {
                                                    display:inline-block;
                                                }
                                            }
                                        }
                                        @include mobile {
                                            margin-top:24px;
                                            .flag-inner {
                                                display:block;
                                                & + .flag-inner {
                                                    margin-top:8px;
                                                }
                                                .flag {
                                                    display:inline-block;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.size3 {
                            > ul {
                                > li {
                                    width:444px;
                                    height:188px;
                                    text-align:left;
                                    @media screen and (min-width:768px) and (max-width:1460px) {
                                        width:calc((100% / 2) - 24px);
                                    }
                                    .inner {
                                        position:relative;
                                        padding:0 24px;
                                        .img {
                                            position:absolute;
                                            top:24px;
                                            left:24px;
                                            width:140px;
                                        }
                                        .info-cont {
                                            padding-left:164px;
                                            dl {
                                                dt {
                                                    font-size:16px;
                                                    font-weight:700;
                                                    line-height:26px;
                                                }
                                                dd {
                                                    margin-top:4px;
                                                    font-size:16px;
                                                    line-height:26px;
                                                }
                                            }
                                            .bullet-list {
                                                margin-top:12px;
                                            }
                                        }
                                    }
                                }
                                @include mobile {
                                    margin-left:0;
                                    > li {
                                        width:100%;
                                        margin-left:0;
                                        .inner {
                                            padding:16px 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // partials
        // 멤버십 소개
        @import "ACC4002";

        // 등급별 혜택
        @import "ACC4003";

        // 가입안내
        @import "ACC4004";

        // 카드혜택
        @import "ACC4005";
    }
}

.contents.event {
    .mob-only {
        display: none;
        @include mobile {
            display: block;
        }
    }
    // VIEW
    @import "MKT4002";
}

// 기획전
.contents.exhibition {
    .cont-wrap {
        max-width: 100%;
        padding: 0 0 120px;
        @include mobile {
            padding-bottom: 60px;
        }
    }
    .ev-detail-top {
        max-width: 1380px + 80px;
        margin: 0 auto;
        padding: 0 40px;
        @include mobile {
            max-width: 100%;
            padding: 0;
        }
        .top-inner {
            position: relative;
            .component-wrap {
                top:24px;
                right:24px;
                @include mobile {
                    top:30px;
                    right:16px;
                }
            }
        }
    }
    .ev-detail-con {
        max-width: 1380px + 80px;
        margin: 0 auto;
        padding: 0 40px;
        @include mobile {
            max-width: 100%;
            padding: 0;
        }

        &.finish {
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 40px;
                left: 40px;
                z-index: 10;
                background-color: $color-default;
                opacity: .7;
                content: '';
            }
            @include mobile {
                &:after {
                    right: 0;
                    left: 0;
                }
            }
        }
    }

    .ev-detail-category {
        position: relative;
        padding-top: 64px;
        @include mobile {
            padding: 40px 0 0;
        }
        .ev-counter {
            max-width: 1380px + 80px;
            margin: 0 auto;
            padding: 0 40px;
            font-weight: 700;
            @include font-small;
            @include mobile {
                max-width: 100%;
                padding: 0 16px;
            }
        }
        .tab-contents {
            padding-bottom: 12px;
            &:last-child {
                padding-bottom: 0;
            }
        }
        .cont-inner {
            max-width: 1380px + 80px;
            margin: 0 auto;
            padding: 48px 40px 0;
            @include mobile {
                max-width: 100%;
                padding: 40px 16px 0;
            }
            .ev-category-title {
                //margin-top: 48px;
                font-weight: 700;
                font-size: $font-large-2;
                line-height: 34px;
                @include mobile {
                    //margin-top: 40px;
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
        .ui_sticky {
            background-color: $color-white;
        }
        .tabs-wrap {
            max-width: 1380px + 80px;
            margin: 0 auto;
            padding: 16px 40px 0;
            text-align: left;
            @media screen and (min-width:(1380px + 80px)) {
                &:before {
                    right: 40px;
                    left: 40px;
                }
            }
            @include mobile {
                max-width: 100%;
                padding: 16px 0 0;
            }
        }
        .ev-prd-wrap {
            margin-top: 24px;
            @include mobile {
                margin-top: 16px;
            }
        }
    }
    .ev-detail-bottom {
        max-width: 1380px + 80px;
        margin: 0 auto;
        padding: 0 40px;
        @include mobile {
            max-width: 100%;
            padding: 0 16px;
        }
        .notice-wrap {
            margin-top: 48px;
        }
    }
}


.pop-conts.academy-pop {
    text-align:left;

    .tb-tit {
        margin-bottom: 16px;
        @include font-medium;
        font-weight: $font-weight-bold;
        @include mobile {
            margin-bottom: 12px;
        }
    }

    // PC 아카데미 이벤트 참여하기
    @import "MKT4009";

    //PC 아카데미 참여내역 조회
    @import "MKT4010";

    // 미리미리페스티벌 참여하기
    @import "MKT4012";
}


.popup-wrap.event-popup {
    // 당첨자 발표
    @import "MKT4007";    
}
.win-popup-wrap {
    .tb-tit {
        margin-bottom: 24px;
        font-weight: 700;
        @include font-large-2;
        @include mobile {
            margin-bottom: 12px;
        }
    }
    .input-info-wrap {
        .tb-tit {
            margin-bottom: 16px;
            @include font-medium;
            @include mobile {
                margin-bottom: 12px;
            }
            &.req {
                &::after {
                    content:'*';
                    display:inline-block;
                    margin-left:1px;
                    color:#EC455A;
                    font-size:inherit;
                    line-height:inherit;
                    vertical-align:top;
                }
            }
        }
    }

    .btn-dim {
        display:none;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:100;
        background-color:rgba(#000, .7);
    }

    // 당첨자 발표
    @import "MKT4007";

    //.pop-conts.academy-pop {
    //    padding-top: 126px;
    //    @include mobile {
    //        padding-top: 100px;
    //    }
    //}
    // 미리미리페스티벌 참여하기
    @import "MKT4012";

   
}

// 팝업
@import "ACC-popup";

// 오픈컨텐츠
@import "MKT-openconts";

// BTOCSITE-4785 s
.display-product-type{
    margin-top: -70px !important;
    .item.evt-item{
        padding-bottom: 187px;
        @include mobile{
            padding-bottom: 32px;
        }
        .product-bottom{
            bottom:40px;
            .btn-area-wrap {
                .btn-area {
                    display: block; 
                    &+ .btn-area{
                        margin-top: 8px;
                    }
                    .btn-store{
                        color: $color-primary;
                        border-color: $color-primary !important;
                        &:hover,&:focus{
                            color: #fff;
                        }
                    }
                }
            }
        } 
    } 
}
// BTOCSITE-4785 e