@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.contents.membership {
    .page-tabs {
        margin-bottom:64px;
        padding:24px 0;
        border-bottom:8px solid #f4f4f4;
        @include mobile {
            margin-bottom:32px;
            .tabs-wrap {
                text-align:center;
            }
        }
        &.type2 {
            margin-bottom:0;
            border-bottom:none;
        }
        &.type3 {
            padding-top:0;
            margin-bottom:0;
            @include mobile {
                padding:10px 0;
            }
        }
    }

    // MAIN
    @import "ACC4001";

    // SUB PAGES
    .cont-wrap {
        // partials
        // 멤버십 소개
        @import "ACC4002";

        // 등급별 혜택
        @import "ACC4003";

        // 가입안내
        @import "ACC4004";

        // 카드혜택
        @import "ACC4005";
    }
}

.contents.event {

    // VIEW
    @import "MKT4002";
}


.pop-conts.academy-pop {
    text-align:left;

    .tb-tit {
        margin-bottom: 16px;
        @include font-medium;
        font-weight: $font-weight-bold;
        @include mobile {
            margin-bottom: 12px;
        }
    }

    // PC 아카데미 이벤트 참여하기
    @import "MKT4009";

    //PC 아카데미 참여내역 조회
    @import "MKT4010";

    // 미리미리페스티벌 참여하기
    @import "MKT4012";
}


.popup-wrap.event-popup {
    // 당첨자 발표
    @import "MKT4007";    
}
.win-popup-wrap {
    .tb-tit {
        margin-bottom: 24px;
        font-weight: 700;
        @include font-large-2;
        @include mobile {
            margin-bottom: 12px;
        }
    }
    .input-info-wrap {
        .tb-tit {
            margin-bottom: 16px;
            @include font-medium;
            @include mobile {
                margin-bottom: 12px;
            }
            &.req {
                &::after {
                    content:'*';
                    display:inline-block;
                    margin-left:1px;
                    color:#EC455A;
                    font-size:inherit;
                    line-height:inherit;
                    vertical-align:top;
                }
            }
        }
    }

    // 당첨자 발표
    @import "MKT4007";

    //.pop-conts.academy-pop {
    //    padding-top: 126px;
    //    @include mobile {
    //        padding-top: 100px;
    //    }
    //}
    // 미리미리페스티벌 참여하기
    @import "MKT4012";

   
}

// 팝업
@import "ACC-popup";