@charset "UTF-8";

/* result-list */
.inquiry {
    &-list {
        > li {
            @include clearfix;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
        .title {
            font-size: 16px;
            line-height: 1.38;
            color: #767676;
            max-width: 210px;
            width: 100%;
            float: left;
            strong {
                font-weight: normal;
            }
        }
        .description {
            font-size: 16px;
            line-height: 1.38;
            float: left;
            > [class^="btn"] {
                margin-left: 16px;
                vertical-align: middle;
            }
            .held-product {
                margin-left: 24px;
            }
            @include pc {
                margin-left: 24px;
            }
            @include mobile {
                .held-product {
                    margin-left: 0;
                    margin-top: 8px;
                    display: block;
                }
            }
        }
        .file-list {
            a {
                text-decoration:underline;
            }
        }
    }
    &-dl {
        border-top: 1px solid #ddd;
        padding-top: 32px;
        margin-top: 32px;
        &:first-child {
            border-top: 0;
            padding-top: 0;
            margin-top: 0;
            }
        dt {
            font-size: 16px;
            color: #222;
            margin-bottom: 24px;
        }
    }
    @include mobile {
        &-list {
            .title {
                width: 104px;
                font-size: 14px;
            }
            .description {
                width: calc(100% - 104px);
                font-size: 14px;
            }
            & > li {
                margin-top: 14px;
            }
        }
        &-dl {
            dt {
                margin-bottom: 20px;
            }
        }
    }
}