@charset "UTF-8";

/* form field */
.field-wrap {
    .row {
        margin:32px 0 0;
        &:first-child {
            margin-top:0;
        }
        @include clearfix;
        @include mobile {
            margin-top:40px;
        }
    }
    .field-title {
        margin-bottom:16px;
        .tit {
            display:inline-block;
            font-size:14px;
            font-weight:400;
            line-height:20px;
            vertical-align:top;
        }
        @include mobile {
            margin-bottom:12px;
            .tit {
                line-height:18px;
            }
        }
    }
    .field-box {
        @include clearfix;
        & + .field-box {
            margin-top:12px;
            @include mobile {
                margin-top:8px;
            }
        }
        > .input-wrap, > .select-wrap {
            float:left;
            width:calc(50% - 4px);
            & + .input-wrap, & + .select-wrap {
                float:right;
            }
            @include mobile {
                float:none;
                width:100%;
                & + .input-wrap, & + .select-wrap {
                    float:none;
                    margin-top:8px;
                }
            }
        }
    }
    .field-item {
        float:left;
        width:calc(50% - 4px);
        &.block {
            float:none;
            width:100%;
        }
        & + .field-item {
            float:right;
        }
        .input-wrap, .select-wrap {
            display:block;
        }
        .box {
            width:100%;
        }
        .err-msg {
            display:none;
        }
        @include mobile {
            float:none;
            width:100%;
            margin-top:40px;
            &:first-child {
                margin-top:0;
            }
        }
    }
    .btn-wrap {
        margin-top:32px;
        text-align:center;
    }
}

/* button */
.btn-group {
    margin:40px auto 0;
    @include mobile {
        margin-top: 32px;
        padding: 0 16px;
    }
}
.keyword-search {
    .input-wrap {
        display:block;
        position:relative;
        input[type=text] {
            padding:11px 80px 11px 24px;
            border-radius:24px;
            border:0 none;
            box-shadow:2px 4px 12px 0 rgba(0, 0, 0, 0.14);
        }
        .btn-delete {
            position:absolute;
            top:50%;
            right:54px;
            width:20px;
            height:20px;
            margin-top:-10px;
            background:url('/lg5-common/images/icons/icon-delete-20.svg') no-repeat 0 0;
        }
        .btn-search {
            position:absolute;
            top:0;
            right:0;
            width:54px;
            height:48px;
            background:center/20px 20px url(/lg5-common/images/icons/icon-search-20.svg) no-repeat;;
        }
    }
    .err-msg {
        display:none;
    }
    &.type-A {
        .input-wrap {
            input {
                border-radius: 8px;
                border: solid 1px #ddd;
                box-shadow: none;
            }
        }
    }
    @include mobile {
        .input-wrap {
            input[type=text] {
                padding:12px 95px 12px 24px;
                border-radius:28px;
            }
            .btn-delete {
                right: 68px;
            }
            .btn-search {
                width:68px;
                height:46px;
            }
        }
        &.type-A {
            .input-wrap {
                input {
                    border-radius: 8px;
                    padding: 12px 43px 12px 12px;
                }
            }
        }
    }
}   

.search-wrap {
    width:444px;
    margin:0 auto 64px;
    @include mobile {
        width:100%;
        margin:0 0 65px;
        padding:0 16px;
    }
}







/* button */
.btn {
    &.type-privacy {
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
        color: #616161;
        text-align: left;
        border-color: #ddd;
        padding: 15px 32px 15px 16px;
        position: relative;
        margin-top: 8px;
        &:first-child {
            margin-top: 0;
        }
        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background: url("/lg5-common/images/icons/icon-btn-arrow-right.svg") no-repeat;
            position: absolute;
            right: 16px;
            top: 16px;
        }
        .side-item {
            font-size: 14px;
            font-weight: normal;
            color: #808080;
            margin-top: 12px;
            margin-left: 32px;
            margin-bottom: 14px;
        }
    }
    &.type-solution {
        text-align: left;
        border-color: transparent;
        padding: 24px 40px;
        background: url(/lg5-common/images/icons/icon-btn-arrow-right.svg) no-repeat right 40px center #f4f4f4;
        background-size: 40px;
        .text {
            font-size: 16px;
            font-weight: 500;
            color: #222;
        }
        .side-item {
            font-size: 14px;
            line-height: 1.43;
            color: #616161;
            margin-top: 4px;
        }
        @include mobile {
            padding: 20px;
            background-position: top 20px right 20px;
            background-size: 24px;
        }
    }
}

.rdo-btn-wrap {
    display: inline-block;
    font-size: 0;
    max-width: 260px;
    width: calc(25% - 7px);
    input {
        & + label {
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            text-align: center;
            color: #808080;
            border-radius: 8px;
            border: solid 1px #ddd;
            padding: 28px 0;
            display: block;
            background-color: #fff;
            cursor: pointer;
        }
        &:checked + label {
            color: #ec455a;
            border-color: #ec455a;
        }
    }
    @include pc {
        margin-left: 5px;
        &:nth-child(n+5) {
            margin-top: 10px;
        }
        &:nth-child(4n+1) {
            margin-left: 0;
        }
    }
}

.check-list {
    margin:0 0 -32px -64px;
    font-size:0;
    .rdo-wrap {
        margin-bottom:32px;
        padding-left:64px;
    }
    @include mobile {
        margin:0;
        .rdo-wrap {
            width:100%;
            margin:16px 0 0;
            padding:0;
            &:first-child {
                margin-top:0;
            }
        }
        &.type-col-2 {
            .rdo-wrap {
                width:50%;
                margin:0;
                &:nth-child(n+3) {
                    margin-top: 16px;
                }
            }
        }
    }
}

.email-box {
    margin:0 -4px;
    @include clearfix;
    .input-wrap, .select-wrap {
        float:left;
        width:calc((100% - 24px) / 3);
        padding:0 4px;
    }
    .at {
        float:left;
        width:24px;
        padding:0 4px;
        color:#616161;
        font-size:16px;
        line-height:48px;
    }
    @include mobile {    
        .input-wrap {
            width: calc((100% - 24px)/ 2);
        }
        .select-wrap {
            display: block;
            width: 100%;
            margin-top:8px;
            input {
                width: 100%;
            }
        }
    }
}

.agree-wrap {
    .agree-check {
        margin-bottom:16px;
    }
    .agree-cont {
        overflow:hidden;
        height:200px;
        padding:24px 8px 24px 24px;
        border:1px solid #ddd;
        border-radius:8px;
        .cont {
            p, strong {
                font-size:14px;
                line-height:20px;
            }
            p {
                color:#808080;
            }
            strong {
                display:block;
                color:#222;
                font-weight:400;
            }
        }
        .agree-desc{
            @include font-small;
            letter-spacing:0;
            white-space:pre-line;
        }
    }
}

// address search
.address-box {
    .input-wrap {
        width:calc(50% - 4px);
        .box {
            .cell {
                font-size:0;
                padding:15px 16px 15px 0;
                button {
                    padding-right:28px;
                    color:#ec455a;
                    font-size:16px;
                    font-weight:500;
                    line-height:24px;
                    vertical-align:top;
                    background:url('/lg5-common/images/icons/icon-search2-on.svg') no-repeat;
                    background-position:right top;
                    background-size:24px;
                }
            }
        }
    }
    .address-detail {
        position:relative;
        margin-top:8px;
        padding: 16px 24px;
        border-radius: 8px;
        background: #f4f4f4;
        .address {
            display:block;
            height:24px;
            font-size:16px;
            line-height:24px;
            color:#222;
            word-wrap:break-word;
        }
    }
    .address-default {
        margin-top:12px;
    }
    .part1 {
        @include clearfix;
        .input-wrap {
            float: left;
        }
        .address-default {
            float: right;
        }
    }
    @include mobile {
        .input-wrap {
            width:100%;
        }
        .address-detail {
            .address {
                height:auto;
                min-height:24px;
            }
        }
    }
}

.address-box {
    @include mobile {
        .part1 {
            position: relative;
            .address-default {
                margin-top: 0;
                position: absolute;
                right: 0;
                top: -28px;
            }
        }
    }
}

.choice-input {
    .rdo-wrap {
        &.box-type {
            max-width: 220px;
            width: calc(25% - 12px);
            margin-left: 21px;
            input {
                +label {
                    padding: 21px 16px 21px 48px;
                    &::before {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &::after {
                        top: 50%;
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }
            &:nth-child(4n+1) {
                margin-left: 0;
            }
            &:nth-child(n+5) {
                margin-top: 24px;
            }
        }
    }
}


