@charset "UTF-8";

/* input, select */
.input-wrap, .select-wrap {
    width:100%;
    max-width:none;
}

/* radio */
.rdo-wrap {
    input {
        & + label {
            &:before {
                border-color:#ddd;
            }
            &:after {
                top:7px;
                left:7px;
                width:10px;
                height:10px;
                border:0 none;
                border-radius:50%;
                background:#ddd;
            }
        }
        &:checked + label {
            &:before {
                border-color:#ec455a;
                background-color:#ec455a;
            }
            &:after {
                background-color:#fff;
            }
        }
    }
}

/* form field */
.field-wrap {
    .row {
        margin:32px -4px 0;
        &:first-child {
            margin-top:0;
        }
        @include clearfix;
        @include mobile {
            margin-top:20px;
        }
    }
    .field-title {
        margin-bottom:8px;
        .tit {
            display:inline-block;
            color:#616161;
            font-size:14px;
            font-weight:400;
            line-height:20px;
            vertical-align:top;
        }
        @include mobile {
            .tit {
                line-height:18px;
            }
        }
    }
    .field-box {
        @include clearfix;
        & + .field-box {
            margin-top:12px;
            @include mobile {
                margin-top:8px;
            }
        }
    }
    .field-item {
        float:left;
        width:50%;
        padding:0 4px;
        &.block {
            float:none;
            width:100%;
        }
        .field-btn-group {
            text-align: center;
            margin-top: 32px;
        }
        @include mobile {
            float:none;
            width:100%;
            & + .field-item {
                margin-top:28px;
            }
        }
    }
    .check-list {
        margin:0 -32px;
        font-size:0;
        .rdo-wrap {
            padding:0 32px;
        }
    }
}

.email-box {
    .email-input {
        margin:0 -4px;
        @include clearfix;
        .input-wrap, .select-wrap {
            float:left;
            width:calc((100% - 24px) / 3);
            padding:0 4px;
        }
        .at {
            float:left;
            width:24px;
            padding:0 4px;
            color:#616161;
            font-size:16px;
            line-height:56px;
        }
    }
    @include mobile {
        .email-input {
            .input-wrap {
                width: calc((100% - 24px)/ 2);
            }
            .select-wrap {
                display: block;
                width: 100%;
                margin-top:8px;
                input {
                    width: 100%;
                }
            }
        }
    }
}

/* button area */
.btn-group {
    max-width:1066px;
    margin:40px auto 0;
    &.right {
        text-align:right;
    }
    @include mobile {
        margin-top:0;
    }
}

/* button */
.btn {
    &.btn-icon {
        position:relative;
        padding-left:52px;
        padding-right:64px;
        text-align:left;
        background:url(/lg5-common/images/icons/icon-arrow-right-red.svg) no-repeat right 16px top 16px;
        &:before {
            content:'';
            position:absolute;
            left:16px;
            top:16px;
            width:24px;
            height:24px;
            background-repeat:no-repeat;
            background-size:100%;
        }
        &.icon-solution:before {
            background-image: url(/lg5-common/images/icons/icon-solution.svg);
        }
        &.icon-driver:before {
            background-image: url(/lg5-common/images/icons/icon-driver.svg);
        }
        @include mobile {
            padding-right:12px;
            background:none;
        }
    }
    &[class*="type-icon"] {
        width:100%;
        padding-left: 52px;
        padding-right: 64px;
        &[class$="-1"] {
            border-color: #ec455a;
            color: #ec455a;
            background: url(/lg5-common/images/icons/icon-solution.svg) no-repeat left 16px top 13px, url(/lg5-common/images/icons/icon-arrow-right-red.svg) no-repeat right 16px top 13px;
        }
    }
    &.type-privacy {
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
        color: #616161;
        text-align: left;
        border-color: #ddd;
        padding: 15px 32px 15px 16px;
        position: relative;
        margin-top: 8px;
        &:first-child {
            margin-top: 0;
        }
        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background: url("/lg5-common/images/icons/icon-btn-arrow-right.svg") no-repeat;
            position: absolute;
            right: 16px;
            top: 16px;
        }
        .side-item {
            font-size: 14px;
            font-weight: normal;
            color: #808080;
            margin-top: 12px;
            margin-left: 32px;
            margin-bottom: 14px;
        }
    }
    @include mobile {
        &[class*="type-icon"] {
            padding-left: 52px;
            padding-right: 12px;
            text-align: left;
            &[class$="-1"] {
                background: url(/lg5-common/images/icons/icon-solution.svg) no-repeat left 16px top 16px,
            }
        }
    }
}