@charset "UTF-8";

/* input, select */
.input-wrap, .select-wrap {
    width:100%;
    max-width:none;
}

.rdo-btn-wrap {
    display: inline-block;
    font-size: 0;
    max-width: 260px;
    width: calc(25% - 7px);
    input {
        & + label {
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            text-align: center;
            color: #808080;
            border-radius: 8px;
            border: solid 1px #ddd;
            padding: 28px 0;
            display: block;
            background-color: #fff;
            cursor: pointer;
        }
        &:checked + label {
            color: #ec455a;
            border-color: #ec455a;
        }
    }
    @include pc {
        margin-left: 5px;
        &:nth-child(n+5) {
            margin-top: 10px;
        }
        &:nth-child(4n+1) {
            margin-left: 0;
        }
    }
}

.check-list {
    margin:0 0 -32px -64px;
    font-size:0;
    .rdo-wrap {
        margin-bottom:32px;
        padding-left:64px;
    }
    @include mobile {
        margin:0;
        .rdo-wrap {
            width:100%;
            margin:16px 0 0;
            padding:0;
            &:first-child {
                margin-top:0;
            }
        }
        &.type-col-2 {
            .rdo-wrap {
                width:50%;
                margin:0;
                &:nth-child(n+3) {
                    margin-top: 16px;
                }
            }
        }
    }
}

/* form field */
.field-wrap {
    .row {
        margin:32px 0 0;
        &:first-child {
            margin-top:0;
        }
        @include clearfix;
        @include mobile {
            margin-top:40px;
        }
    }
    .field-title {
        margin-bottom:16px;
        .tit {
            display:inline-block;
            font-size:14px;
            font-weight:400;
            line-height:20px;
            vertical-align:top;
        }
        @include mobile {
            margin-bottom:12px;
            .tit {
                line-height:18px;
            }
        }
    }
    .field-box {
        @include clearfix;
        & + .field-box {
            margin-top:12px;
            @include mobile {
                margin-top:8px;
            }
        }
        .input-wrap, .select-wrap {
            float:left;
            width:calc(50% - 4px);
            & + .input-wrap, & + .select-wrap {
                float:right;
            }
            @include mobile {
                float:none;
                width:100%;
                & + .input-wrap, & + .select-wrap {
                    float:none;
                    margin-top:8px;
                }
            }
        }
    }
    .field-item {
        float:left;
        width:calc(50% - 4px);
        &.block {
            float:none;
            width:100%;
        }
        & + .field-item {
            float:right;
        }
        > .input-wrap, > .select-wrap {
            width:100%;
            & + .input-wrap, & + .select-wrap {
                margin-top:8px;
            }
        }
        @include mobile {
            float:none;
            width:100%;
            margin-top:40px;
            &:first-child {
                margin-top:0;
            }
        }
    }
    .btn-wrap {
        margin-top:32px;
        text-align:center;
    }
}

.err-msg {
    display:none;
    margin-top:8px;
    color:#f00;
    font-size:14px;
    line-height:20px;
    vertical-align:top;
    &::before {
        content:' ';
        display:inline-block;
        width:20px;
        height:20px;
        margin-right:6px;
        background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eIcon_20x20_error%3c/title%3e%3cdefs%3e%3crect id='path-1' x='0' y='0' width='476' height='160'%3e%3c/rect%3e%3cfilter x='-4.2%25' y='-10.0%25' width='108.4%25' height='125.0%25' filterUnits='objectBoundingBox' id='filter-2'%3e%3cfeOffset dx='0' dy='4' in='SourceAlpha' result='shadowOffsetOuter1'%3e%3c/feOffset%3e%3cfeGaussianBlur stdDeviation='6' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3e%3c/feGaussianBlur%3e%3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0' type='matrix' in='shadowBlurOuter1'%3e%3c/feColorMatrix%3e%3c/filter%3e%3c/defs%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='15' transform='translate(-555.000000, -546.000000)'%3e%3cg id='Group-2' transform='translate(527.000000, 430.000000)'%3e%3cg id='Rectangle'%3e%3cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3e%3c/use%3e%3cuse fill='%23FFFFFF' fill-rule='evenodd' xlink:href='%23path-1'%3e%3c/use%3e%3c/g%3e%3cg id='Group-5' transform='translate(28.000000, 24.000000)'%3e%3cg id='Icon_20x20_error' transform='translate(0.000000, 92.000000)'%3e%3crect id='Rectangle' fill-opacity='0' fill='%23D8D8D8' x='0' y='0' width='20' height='20'%3e%3c/rect%3e%3cpath d='M11.8230139,3.81722848 L17.6505533,16.1452723 C18.1226064,17.1438912 17.6957404,18.3361064 16.6971215,18.8081594 C16.4298891,18.9344818 16.1379788,19 15.8423938,19 L4.16319443,19 C3.05862493,19 2.16319443,18.1045695 2.16319443,17 C2.16319443,16.7033365 2.22919147,16.4103884 2.35640315,16.142384 L8.20806314,3.81434012 C8.68171141,2.81647685 9.8746072,2.39151663 10.8724705,2.86516489 C11.2897523,3.06323292 11.6256129,3.39963066 11.8230139,3.81722848 Z' id='Rectangle' fill='%23FF0000'%3e%3c/path%3e%3cpath d='M11,13 L11,9 C11,8.44771525 10.5522847,8 10,8 C9.44771525,8 9,8.44771525 9,9 L9,13 C9,13.5522847 9.44771525,14 10,14 C10.5522847,14 11,13.5522847 11,13 Z M9.99453552,17 C10.5628415,17 11,16.5625 11,16 C11,15.4375 10.5628415,15 9.99453552,15 C9.42622951,15 9,15.4375 9,16 C9,16.5625 9.42622951,17 9.99453552,17 Z' id='!-copy-2' fill='%23F4F4F4' fill-rule='nonzero'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg id='%40-Guide' transform='translate(518.000000, 196.000000)'%3e%3cg id='%23overlay-673E6159-4642-4CED-8661-F70A3FF82A8A' transform='translate(37.000000, 350.000000)'%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e") center no-repeat;
        vertical-align:top;
    }
}

.email-box {
    .email-input {
        margin:0 -4px;
        @include clearfix;
        .input-wrap, .select-wrap {
            float:left;
            width:calc((100% - 24px) / 3);
            padding:0 4px;
        }
        .at {
            float:left;
            width:24px;
            padding:0 4px;
            color:#616161;
            font-size:16px;
            line-height:56px;
        }
    }
    @include mobile {
        .email-input {
            .input-wrap {
                width: calc((100% - 24px)/ 2);
            }
            .select-wrap {
                display: block;
                width: 100%;
                margin-top:8px;
                input {
                    width: 100%;
                }
            }
        }
    }
}

.contact-box {
    @include clearfix;
    .input-wrap {
        float: left;
        width:calc((100% - 40px) / 3);
    }
    .at {
        float: left;
        text-align: center;
        width: 20px;
        padding: 0 4px;
        color: #616161;
        font-size: 16px;
        line-height: 56px;
    }
}

.agree-wrap {
    .agree-check {
        margin-bottom:16px;
    }
    .agree-cont {
        overflow:hidden;
        height:200px;
        padding:24px 8px 24px 24px;
        border:1px solid #ddd;
        border-radius:8px;
        .cont {
            p, strong {
                font-size:14px;
                line-height:20px;
            }
            p {
                color:#808080;
            }
            strong {
                display:block;
                color:#222;
                font-weight:400;
            }
        }
    }
}



/* button area */
.btn-group {
    max-width:1066px;
    margin:40px auto 0;
    &.right {
        text-align:right;
    }
    @include mobile {
        margin-top:0;
    }
}

/* button */
.btn {
    &.btn-icon {
        position:relative;
        padding-left:52px;
        padding-right:64px;
        text-align:left;
        background:url(/lg5-common/images/icons/icon-arrow-right-red.svg) no-repeat right 16px top 16px;
        &:before {
            content:'';
            position:absolute;
            left:16px;
            top:16px;
            width:24px;
            height:24px;
            background-repeat:no-repeat;
            background-size:100%;
        }
        &.icon-solution:before {
            background-image: url(/lg5-common/images/icons/icon-solution.svg);
        }
        &.icon-driver:before {
            background-image: url(/lg5-common/images/icons/icon-driver.svg);
        }
        @include mobile {
            padding-right:12px;
            background:none;
        }
    }
    &[class*="type-icon"] {
        width:100%;
        padding-left: 52px;
        padding-right: 64px;
        &[class$="-1"] {
            border-color: #ec455a;
            color: #ec455a;
            background: url(/lg5-common/images/icons/icon-solution.svg) no-repeat left 16px top 13px, url(/lg5-common/images/icons/icon-arrow-right-red.svg) no-repeat right 16px top 13px;
        }
    }
    &.type-privacy {
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
        color: #616161;
        text-align: left;
        border-color: #ddd;
        padding: 15px 32px 15px 16px;
        position: relative;
        margin-top: 8px;
        &:first-child {
            margin-top: 0;
        }
        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background: url("/lg5-common/images/icons/icon-btn-arrow-right.svg") no-repeat;
            position: absolute;
            right: 16px;
            top: 16px;
        }
        .side-item {
            font-size: 14px;
            font-weight: normal;
            color: #808080;
            margin-top: 12px;
            margin-left: 32px;
            margin-bottom: 14px;
        }
    }
    &.type-solution {
        text-align: left;
        border-color: transparent;
        padding: 24px 40px;
        background: url(/lg5-common/images/icons/icon-btn-arrow-right.svg) no-repeat right 40px center #f4f4f4;
        background-size: 40px;
        .text {
            font-size: 16px;
            font-weight: 500;
            color: #222;
        }
        .side-item {
            font-size: 14px;
            line-height: 1.43;
            color: #616161;
            margin-top: 4px;
        }
        @include mobile {
            padding: 20px;
            background-position: top 20px right 20px;
            background-size: 24px;
        }
    }

    @include mobile {
        &[class*="type-icon"] {
            padding-left: 52px;
            padding-right: 12px;
            text-align: left;
            &[class$="-1"] {
                background: url(/lg5-common/images/icons/icon-solution.svg) no-repeat left 16px top 16px,
            }
        }
    }
}

/* 모델명 검색 영역 */
.model-search {
    .input-wrap {
        position:relative;
        input {
            padding-left:64px;
        }
        button {
            position:absolute;
            top:16px;
            left:24px;
            width:24px;
            height:24px;
            background:url('/lg5-common/images/icons/icon-search2.svg') no-repeat;
            background-size:100%;
        }
    }
    .model-util {
        margin-top:8px;
        @include clearfix;
        .btn-banner {
            float:left;
        }
        .btn-text {
            float:right;
            // max-width: 60px;
        }
    }
}

.search-wrap {
    &.typa-A {
        position:relative;
        margin:0 auto;
        .select-wrap {
            position:relative;
            float:left;
            width:188px;
            z-index:10;
            .ui-selectbox-wrap {
                .ui-select-button {
                    border-radius:8px 0 0 8px;
                    border-right-color:transparent;
                    background:#fff;
                }
                &.on {
                    .ui-select-button {
                        border-radius:8px 8px 0 0;
                        border-right-color:#222;
                    }
                }
                @include mobile {
                    .ui-select-button {
                        border-radius:8px;
                        border-right-color:#ddd;
                    }
                }
            }
            @include mobile {
                float:none;
                width:100%;
            }
        }
        .input-wrap {
            display:block;
            margin-left:188px;
            width: calc(100% - 188px);
            .box input {
                padding-left:8px;
                border-radius:0;
                border-left-color:transparent;
                &:focus {
                    box-shadow:none;
                }
            }
            @include mobile {
                margin-top:8px;
                margin-left:0;
                .box input {
                    border-radius:8px 0 0 8px;
                    border-left-color:#ddd;
                    padding-left:23px;
                }
            }
            .cell {
                background:#fff;
            }
        }
        @include pc {
            .bullet-list {
                margin-bottom: 56px;
            }
        }
        @include mobile {
            padding:0 0 32px;
            background:#fff;
            &::before, &::after {
                display:none;
            }
            .input-wrap {
                width: 100%;
            }
        }
    }
}