@charset "UTF-8";

.container {
    .cont-wrap {
        &:not(:first-child), &:not(:only-child) {
            padding-top:40px;
        }

        .step-box {
            display:none;
            &.active {
                display:block;
                & + .step-box.active {
                    margin:80px 0 0;
                }
            }
            & ~ .btn-group {
                display:none;
            }
            .step-btn-wrap {
                margin-top:24px;
                text-align:center;
            }
        }
        
        .section {
            & + .section {
                margin:80px 0 0;
            }
            .form-infos {
                margin-top:-28px;
            }
            &-box {
                padding-right:16.9%;
                & + .section-box {
                    margin-top:64px;
                }
                .sub-tit {
                    margin-bottom:24px;
                    @include font-large;
                    font-weight:$font-weight-bold;
                }
            }
        }
        @include mobile {
            &:not(:first-child), &:not(:only-child) {
                padding-top:0;
            }
            .step-box {
                &.active {
                    & + .step-box.active {
                        margin:60px 0 0;
                        border-top:12px solid #f4f4f4;
                    }
                }
                & ~ .bullet-list {
                    margin-left:16px;
                    margin-right:16px;
                }
            }
            .section {
                padding:32px 16px 0;
                & + .section {
                    margin:60px 0 0;
                    border-top:12px solid #f4f4f4;
                }
                &-box {
                    padding-right:0;
                    & + .section-box {
                        margin-top:40px;
                    }
                    .sub-tit {
                        margin-bottom:12px;
                    }
                }
                .tabs-wrap .tabs {
                    padding:0;
                }
            }
        }
    }
}

.double-section {
    margin:0 auto;
    &:first-child {
        margin-top:0;
    }
    .sections {
        display:flex;
    }
    .item {
        display:flex;
        flex-direction:column;
        flex:1;
        width:50%;
        margin:0;
    }
    .btn-group {
        margin-top:32px;
    }
    @include pc {
        .item {
            margin-left: 24px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    @include mobile {
        display:block;
        .sections {
            display:block;
        }
        .item {
            display:block;
            width:100%;
            margin-top:60px;
            &:first-child {
                margin-top:0;
            }
        }
        .btn-group {
            margin-top:40px;
            padding:0;
        }
    }
}