@charset "UTF-8";

/* notice view */
.board-view {
    @include globalBackground;
    &-head {
        .head {
            &-category {
                font-size:0;
                margin-bottom: 8px;
                @include textEllipsis;
                .tag {
                    display:inline-block;
                    padding:5px 8px;
                    font-size:12px;
                    line-height:1;
                    color:#ec455a;
                    border:1px solid #ec455a;
                    border-radius:4px;
                }
                span:not(.tag) {
                    display:inline-block;
                    font-size:14px;
                    line-height:1.43;
                    &.topic {
                        font-size: 14px;
                        line-height: 1.43;
                        color: #a50034;
                    }
                    &.category {
                        margin-left:8px;
                        font-size: 14px;
                        line-height: 1.43;
                        color: #aaa;
                    }
                }
            }
            &-title {
                font-size: 20px;
                font-weight: bold;
                line-height: 1.29;
                color: #111111;
            }
            &-info {
                margin-top:12px;
                font-size:0;
                .info {
                    display:inline-block;
                    position: relative;
                    margin-left: 25px;
                    padding-left: 24px;
                    vertical-align:middle;
                    &:first-child {
                        padding-left: 0;
                        margin-left: 0;
                        &::after {
                            display: none;
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 1px;
                        height: 13px;
                        background-color: #ddd;
                        transform: translateY(-50%);
                    }
                    &-label, &-desc {
                        display:inline-block;
                        font-size:14px;
                        vertical-align:middle;
                    }
                    &-label {
                        margin-right: 12px;
                        color: #616161;
                    }
                    &-desc {
                        color: #111111;
                    }
                }
            }
        }
        @include mobile {
            .head {
                &-category {
                    margin-bottom: 16px;
                }
                &-title {
                    font-size: 24px;
                    line-height: 1.5;
                }
                &-info {
                    margin-top:4px;
                    .info-label {
                        margin-right:12px;
                    }
                }
            }
        }
    }
    &-body {
        margin-top: 32px;
        font-size: 16px;
        color: #111;
        line-height: 1.75;
        .sns-box {
            margin-top: 48px;
        }
        .view-content {
            color: #515151;
        }
        @include mobile {
            margin-top: 40px;
            .sns-box {
                margin-top: 40px;
            }
        }
    }
    @include mobile {
        padding: 32px 20px 56px;
    }
}

.board-navi {
    margin-top:16px;
    .navi {
        display:block;
        margin-top: 4px;
        padding:25px 56px;
        font-size:0;
        border-radius: 4px;
        background-color: #fff;
        &:first-child {
            margin-top: 0;
        }
        &-label, &-desc {
            display:inline-block;
            font-size:16px;
            line-height:1.38;
            vertical-align:middle;
        }
        &-label {
            position: relative;
            margin-right: 24px;
            padding-right: 24px;
            color: #aaa;
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                width: 1px;
                height: 16px;
                background-color: #ddd;
                transform: translateY(-50%);
            }
        }
        &-desc {
            font-weight:normal;
            color: #111;
            @include textEllipsis;
        }   
    }
    @include mobile {
        margin-top:12px;
        .navi {
            margin-top: 8px;
            padding: 24px;
            border-radius: 0;
            display: flex;
            &-label, &-desc {
                font-size: 14px;
                line-height:1.75;
            }
            &-label {
                margin-right: 20px;
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
        }
    }
}