@charset "UTF-8";

.process-wrap {
    max-width:1066px;
    margin:0 auto;
    .process-list {
        background:#fff;
        > li {
            background-repeat: no-repeat;
            & + li {
                position:relative;
                &:before {
                    content: '';
                    position: absolute;
                    background: url(/lg5-common/images/icons/icon-btn-arrow-right2.svg) no-repeat center;
                    background-size: 100%;
                }
            }
            &:nth-child(1) {
                background-image: url(/lg5-common/images/icons/icon-process-list1.svg);
            }
            &:nth-child(2) {
                background-image: url(/lg5-common/images/icons/icon-process-list2.svg);
            }
            &:nth-child(3) {
                background-image: url(/lg5-common/images/icons/icon-process-list3.svg);
            }
            &:nth-child(4) {
                background-image: url(/lg5-common/images/icons/icon-process-list4.svg);
            }
        }
    }
    .num {
        display:block;
        font-size:14px;
        margin-bottom:8px;
    }
    .tit {
        display:block;
        font-size:16px;
        font-weight:700;
        line-height:24px;
        word-break:keep-all;
    }
    &.email-inquiry-process {
        margin-top: 48px;
    }

    @include pc {
        padding:0 40px;
        .process-list {
            display:table;
            padding:28px 0 20px;
            border-radius:100px;
            @include clearfix;
            > li {
                display:table-cell;
                width:25%;
                padding:80px 50px 0;
                text-align:center;
                background-size: 64px;
                background-position: center top;
                + li {
                    &:before {
                        left: -12px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
    @include mobile {
        text-align:center;
        background:#fff;
        .process-list {
            display:inline-block;
            padding:20px 40px;
            text-align:left;
            > li {
                padding:0 0 0 60px;
                background-size: 40px;
                background-position: left center;
                + li {
                    margin-top: 40px;
                    &::before {
                        width: 24px;
                        height: 24px;
                        transform: rotate(90deg);
                        left: calc(50% - 12px);
                        top: -24px;
                    }
                }
            }
        }
    }
}