.rounded-list {
    font-size: 0;
    li {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
        &:last-child {
            margin-right: 0;
        }
    }
    .rounded {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 8px;
        border: 1px solid #ddd;
        background-color: #fff;
        .text {
            display: block;
            @include font-small;
        }
    }
    @include mobile {
        //li {
        //    display: block;
        //    margin-right: 0;
        //    margin-bottom: 6px;
        //}
        .rounded {
            .text {
                font-size: $font-small;
                line-height: 22px;
            }
        }
    }
}

.search-layer {
    //display: none;
    overflow-y: auto;
    position: fixed;
    top: 150%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 105;
    background-color: #fff;

    &.open {
        display:block !important;
        top: 0;
        @include mobile {
            .btn-close {
                top: 24px;
            }
            .input-keyword-wrap {
                .input-keyword {
                    top: 0;
                }
            }
        }
    }

    //&:after {
    //    content: '';
    //    position: fixed;
    //    top: 0;
    //    bottom: 0;
    //    left: 50%;
    //    transform: translateX(-50%);
    //    width: 1380px;
    //    background-color: red;
    //    opacity: .2;
    //}

    .btn-close {
        position: absolute;
        top: 48px;
        @include calc(right,50%,690px + 48px);
        width: 48px;
        height: 48px;
        background: url('/lg5-common/images/icons/btn-close-48.svg') no-repeat 0 0;

        @media screen and (max-width: 1606px) {
            right: 48px;
        }
        @include mobile {
            top: 150%;
        }
    }

    .inner {
        max-width: (1146px + 80px);
        margin: 0 auto;
        padding: 180px 40px;
    }

    .input-keyword-wrap {
        position: relative;
        margin-bottom: 0;
        padding: 0;
        @include pc {
            .input-keyword {
                max-width: 100%;
            }
        }

        //.input-sch {
        //    input.txt {
        //        &:focus {
        //            outline: none;
        //            border-bottom: 2px solid transparent;
        //            background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(119deg, #9c86e7 0%, #de64a0 100%) border-box;
        //        }
        //    }
        //}

        .search-similar {
            margin-top: 64px;
            @include mobile {
                margin-top: 20px;
            }
            .similar-text {
                @include font($font-large-1,30px);
                @include text-underline(0,$color-default);
                text-decoration: none;
                @include mobile {
                    @include font(15px,23px);
                }
                .search-word {
                    font-weight: 700;
                    color: $color-default;
                    .word {
                        color: $color-primary;
                    }
                }
                &:after {
                    width: auto;
                    background-image: none;
                }
            }
        }
    }

    @include mobile {
        //min-height: auto !important;
        //&:before {
        //    position: fixed;
        //    top: 0;
        //    right: 0;
        //    left: 0;
        //    z-index: 3;
        //    height: 72px;
        //    background-color: #fff;
        //    content: '';
        //}
        .btn-close {
            position: fixed;
            right: auto;
            left: 0;
            z-index: 3;
            width: 32px;
            height: 46px;
            background: url('/lg5-common/images/icons/btn-arr-48.svg') no-repeat left 8px center;
            background-size: 24px;
        }

        .inner {
            max-width: 100%;
            margin: 0;
            padding: (24px + 66px) 20px 60px;
        }

        .input-keyword-wrap {
            .input-keyword {
                position: fixed;
                top: 150%;
                left: 0;
                right: 0;
                z-index: 3;
                padding: 24px 16px 20px 44px;
                background-color: $color-bg-wt;
            }
        }
    }

    .title-line {
        display: block;
        margin-bottom: 24px;
        //padding-bottom: 20px;
        //border-bottom: 2px solid $color-default;
        font-weight: 700;
        @include font-large-1;
        /*
        @include pc {
            .count {
                display: none;
            }
        }
        */
        @include mobile {
            margin-bottom: 16px;
        }
    }

    .search-keyword-area {
        display: flex;
        padding-top: 80px;
        @include pc {
            margin: 0 -32px;
            > div {
                flex: 1;
                padding: 0 32px;
            }
        }
        @include mobile {
            flex-wrap: wrap;
            margin-left: -30px;
            padding-top: 20px;
            > div {
                flex: 1;
                padding-bottom: 40px;
                padding-left: 30px;
                &:last-child {
                    flex: auto;
                    width: 100%;
                    padding-bottom: 0;
                }
            }
        }
    }
}

.search-keyword-area {
    .keyword-list {
        .no-data {
            padding: 0;
            @include font-medium;
            color: $color-gray-1;
            text-align: left;
        }
        li {
            margin-top: 12px;
            &:first-child {
                margin-top: 0;
            }
            a {
                display: block;
                height: 26px;
                @include textEllipsisClamp(1);
                @include font-medium;
                word-break: normal;
                &.rounded {
                    height: auto;
                }
            }
            .box {
                position: relative;
                display: inline-block;
                padding-right: 22px;
            }
        }
        .rounded-list {
            li {
                margin: 0 8px 8px 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .btn-delete {
        position: absolute;
        top: 50%;
        right: 0;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-left: 4px;
        background: url('/lg5-common/images/icons/btn-clear-16.svg') no-repeat 0 0;
    }

    @include mobile {
        .keyword-list {
            li {
                .box {
                    a {
                        height: 22px;
                    }
                }
            }
        }
    }
}

.search-result-area {
    display: flex;
    padding-top: 80px;

    .auto-complete {
        position: relative;
        //display: table-cell;
        width: ((100% / 10) * 3);
        padding-right: 32px;
        @include mobile {
            //display: none !important;
            width: 100%;
            padding: 0 0 40px;
        }
    }


    .result-preview {
        //display: table-cell;
        width: ((100% / 10) * 7);
        padding-left: 32px;
        .result-category {
            padding-bottom: 40px;
        }
    }

    @include mobile {
        display: block;
        padding-top: 20px;
        .result-preview {
            display: block;
            width: 100%;
            padding-left: 0;
            .result-category {
                padding-bottom: 24px;
            }
        }
    }
}

.result-preview-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        > li {
            @include calc(width,50%,12px);
            &:nth-child(odd) {
                margin-right: 24px;
            }
            &:nth-child(2) ~ li {
                margin-top: 24px;
            }
        }
    }
    .item {
        position: relative;
        display: block;
        height: 100%;
        padding: 12px 16px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
        font-size: 0;
        .image {
            position: absolute;
            top: 12px;
            left: 17px;
            max-width: 120px;
            img {
                width: 120px;
            }
        }
        .info {
            min-height: 118px;
            padding: 12px 0 12px 130px;
            @include font-medium;
            .name {
                display: block;
                font-weight: 700;
                @include textEllipsis;
            }
            .sku {
                display: block;
                @include textEllipsis;
                color: $color-gray-1;
            }
            .price {
                display: block;
                margin-top: 16px;
                font-weight: 700;
            }
        }
    }

    @include mobile {
        ul {
            > li {
                @include calc(width,50%,4px);
                &:nth-child(odd) {
                    margin-right: 8px;
                }
                &:nth-child(2) ~ li {
                    margin-top: 8px;
                }
            }
        }
        .item {
            padding: 16px;
            .image {
                position: static;
                max-width: 100%;
                margin-bottom: 8px;
                text-align: center;
                img {
                    width: auto;
                    max-width: 128px;
                }
            }
            .info {
                min-height: auto;
                padding: 0;
            }
        }
    }
}