@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";


// 통합검색
.contents.search {

    .tabs-wrap {
        max-width: (1284px + 80px);
        margin: 0 auto 10px;
        padding: 0 40px;
        @include mobile {
            max-width: 100%;
            padding:0;
        }
        &.border-type {
            margin-top: 18px;
            padding: 16px 20px 14px;
            background: #fff;
            @include mobile {
                max-width: inherit;
                margin-left: -20px;
                margin-right: -20px;
                padding: 0;
                .tabs {
                    padding-top: 32px;
                }
            }
        }
    }
    .cont-wrap {
        padding: 0 40px 120px;
        @include mobile {
            padding: 0 20px 60px;
            border-top: 0;
        }
    }

    .main-wrap {
        padding:32px 0 120px;
        background:#f4f4f4;
        @include mobile {
            padding:24px 0 0;
        }
    
        .sorting-filter {
            @include clearfix;
            max-width:(1284px + 80px);
            margin:0 auto;
            padding:0 40px;
            @include mobile {
                max-width: 100%;
                padding:0 20px;
            }
            .sort-left {
                float:left;
                font-size:0;
                .count {
                    .num {
                        font-size:16px;
                        line-height: 24px;
                        color: #111;
                        font-weight: 500;
                    }
                }
            }
            .sort-right {
                float:right;
                font-size:0;
            }
            .sort-select-wrap {
                vertical-align:top;
                margin-left:40px;
                @include mobile {
                    margin-left:20px;
                }
                &:first-child {
                    margin-left:0;
                }
            }
        }   
    }
}

.search-word {
    color: #ec455a;
}

.input-keyword {
    max-width: (848px + 80px);
    margin: 0 auto;
    padding: 48px 40px 46px;
    @include mobile {
        max-width: 100%;
        padding: 24px 20px 40px;
    }
    .sch-input-wrap {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 8px;

        .input-sch {
            position: relative;
            z-index: 2;
            input.txt {
                width: 100%;
                height: 56px;
                padding: 0 90px 0 24px;
                border-radius: 8px;
                background-color: #fff;
                font-size: 16px;
                line-height: normal;
                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    color: #808080;
                }
            }

            .btn-delete {
                position: absolute;
                top: 50%;
                right: 56px;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                border-radius: 10px;
                background-color: #616161;
                &:before,
                &:after {
                    position: absolute;
                    @include calc(top,50%,5px);
                    @include calc(left,50%,1px);
                    width: 2px;
                    height: 10px;
                    background-color: #fff;
                    content: '';
                }
                &:before {
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                }
            }

            .btn-search {
                position: absolute;
                top: 50%;
                right: 0;
                width: 56px;
                height: 56px;
                margin-top: -28px;
                &::after {
                    content: '';
                    display: block;
                    margin-left: 16px;
                    width: 24px;
                    height: 24px;
                    background: url('/lg5-common/images/icons/icon-search.svg') no-repeat;
                    background-size: 24px 24px;
                }
            }
        }
        @include mobile {
            border-radius: 4px;
            .input-sch {
                input.txt {
                    height: 51px;
                    padding: 0 80px 0 9px;
                }
                .btn-delete {
                    right: 51px;
                }
                .btn-search {
                    width: 51px;
                    height: 51px;
                    margin-top: -25.5px;
                }
            }
        }
    }

    .related-keyword {
        overflow: hidden;
        position: relative;
        margin-top: 16px;
        padding-left: 102px;
        .title {
            position: absolute;
            top: 0;
            left: 0;
            font-weight: $font-weight-bold;
            font-size: 16px;
            line-height: 20px;
            color: #ec455a;
        }

        .keyword-list {
            display: inline-block;
            font-size: 0;
            li {
                display: inline-block;
                margin-right: 20px;
                &:nth-last-child(1) {
                    margin-right: 0;
                }
                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    &:focus,
                    &:hover {
                        @include text-underline(1px,#222);
                    }
                }
            }
        }
        @include mobile {
            margin: 14px -20px 0 0;
            padding-left: 86px;
            .keyword-list {
                white-space: nowrap;
                li {
                    margin-right: 12px;
                }
            }
        }
    }
}

.search-input-layer {
    display: none;
    position: absolute;
    top: 56px;
    right: -1px;
    left: -1px;
    z-index: 11;
    padding: 18px 24px 44px;
    border-radius: 0 0 8px 8px;
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    &:before {
        position: absolute;
        top: -8px;
        right: -1px;
        left: -1px;
        height: 8px;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        background-color: #fff;
        content: '';
    }
    .btn-close {
        position: absolute;
        right: 16px;
        bottom: 16px;
        span {
            font-weight: $font-weight-medium;
            @include font-small;
            @include text-underline(1px,#222);
        }
    }

    .input-result-list,
    .search-keyword-area {
        position: relative;
        //padding-bottom: 26px;
    }

    .not-result {
        //padding-bottom: 26px;
        @include font-medium;
        span {
            font-weight: $font-weight-medium;
        }
    }

    @include mobile {
        padding: 10px 14px 36px;
        .btn-close {
            right: 12px;
            bottom: 12px;
            width: 24px;
            height: 24px;
            span {
                @include blind;
            }
            &:before,
            &:after {
                position: absolute;
                @include calc(top,50%,9px);
                @include calc(left,50%,1px);
                width: 2px;
                height: 18px;
                background-color: #222;
                content: '';
            }
            &:before {
                transform: rotate(-45deg);
            }
            &:after {
                transform: rotate(45deg);
            }
        }

        .input-result-list {
            font-size: 14px;
            line-height: 18px;
        }
        .not-result {
            font-size: 14px;
            line-height: 18px;
            span {
                font-weight: $font-weight-regular;
            }
        }
    }
}

.input-result-list {
    li {
        margin-top: 16px;
        @include textEllipsisClamp(1);
        &:first-child {
            margin-top: 0;
        }
    }
}

.search-similar {
    margin: 85px 0 39px;
    text-align: center;
    .search-result-text {
        margin-bottom: 24px;
        font-weight: $font-weight-medium;
        @include font-x-large;
        span {
            font-weight: $font-weight-bold;
        }
    }
    .similar-text {
        font-weight: $font-weight-medium;
        @include font-small;
        @include text-underline(1px,#222);
    }

    @include mobile {
        .search-result-text {
            margin-bottom: 14px;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.search-result-wrap {
    @include clearfix;
    max-width: 1284px;
    margin: 0 auto;

    .result-area {
        float: left;
        width: 100%;
        //max-width: 1284px;
        //margin: 0 auto;
    }

    @media screen and (max-width: 1780px) {
        position: relative;
        .btn-filter {
            position: absolute;
            top: 29px;
            left: 0;
            & ~ .list-sorting {
                padding-left: 48px;
                @include mobile {
                    padding: 26px 0 62px 38px;
                }
            }
        }
    }

    @media screen and (max-width: 1284px) {
        max-width: 100%;
        .result-area {
            float: none;
        }
    }

    .result-list-wrap {
        .title {
            @include font-x-large;
            @include mobile {
                @include font-medium;
            }
        }
    }

    .list-head {
        @include clearfix;
        padding: 40px 0 16px;
        @include mobile {
            padding: 21px 0 15px;
        }
        .title {
            float: left;
        }
        .btn-area {
            float: right;
            .btn-link {
                margin-top: 5px;
                @include font-small;
                &:after {
                    top: calc( 50% - 2px);
                    width: 6px;
                    height: 6px;
                    border-width: 1px 1px 0 0;
                }
            }
        }
    }
    .result-category {
        margin-bottom: -10px;
        padding-top: 20px;
    }
    .mobile-service-link {
        padding-top: 34px;
        font-size: 0;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 9px;
            a {
                display: block;
                &:nth-child(2) {
                    margin-top: 8px;
                }
            }
        }
        @include pc {
            display: none;
        }
    }
}


.rounded-list {
    font-size: 0;
    li {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
        &:last-child {
            margin-right: 0;
        }
    }
    .rounded {
        display: inline-block;
        padding: 7px 12px;
        border-radius: 20px;
        border: 1px solid #ddd;
        background-color: #fff;
        .text {
            display: block;
            @include font-medium;
        }
    }
    @include mobile {
        li {
            display: block;
            margin-right: 0;
            margin-bottom: 6px;
        }
        .rounded {
            padding: 9px 10px;
            border-radius: 19px;
            .text {
                @include font-small;
            }
        }
    }
}

@import "SERF9001";
@import "SERF9003";
@import "SERF9009";



// 개인정보취급방침, 이벤트개인정보처리방침, 이용약관
.contents.term-wrap {
    .cont-wrap {
        border:none;
    }
    .private-info-wrap {
        max-width:1066px + 60px;
        margin:0 auto;
        padding:0 30px;
        @include mobile {
            padding:0;
        }
        .inner {
            @include mobile {
                margin-top:12px;
                padding:40px 20px 56px;
                background:#fff;
                &:first-child {
                    margin-top:0;
                }
            }
        }
        .inner-con {
            padding:56px 56px;
            background:#fff;
            border-radius:4px;
            font-size:16px;
            line-height:24px;
            @include mobile {
                padding:0;
                font-size:14px;
                line-height:18px;
                border-radius:inherit;
            }
            .h2-tit {
                margin-bottom:32px;
                font-size:20px;
                line-height:30px;
                font-weight:700;
                text-align:center;
                @include mobile {
                    display:none;
                }
            }
            .select-dl {
                margin-bottom:32px;
                dt {
                    color:#616161;
                    font-size:14px;
                    line-height:20px;
                    @include mobile {
                        line-height:18px;
                    }
                }
                dd {
                    margin-top:8px;
                    @include mobile {
                        margin-top:12px;
                    }
                    .select-wrap {
                        max-width:100%;
                    }
                }
            }
    
            .private-list {
                @include clearfix;
                margin:32px 0 0 0;
                @include mobile {
                    display:block;
                    margin-top:40px;
                }
                .list-item {
                    float:left;
                    width:37%;
                    padding-left:80px;
                    @include tablet {
                        padding-left:40px;
                    }
                    @include mobile {
                        float:none;
                        width:100%;
                        padding:16px 0 0 0;
                        &:first-child {
                            padding-top:0;
                        }
                    }
                    &:first-child {
                        width:22%;
                        padding:0;
                        @include mobile {
                            width:100%;
                        }
                    }
                    &:nth-child(2) {
                        width:41%;
                        @include mobile {
                            width:100%;
                        }
                    }
                    li {
                        margin-top:16px;
                        &:first-child {
                            margin-top:0;
                        }
                        > a {
                            display:block;
                            color:#EC455A;
                            font-size:14px;
                            line-height:20px;
                            font-weight:500;
                            &:hover {
                                text-decoration:underline;
                            }
                        }
                    }
                }
            }
    
            .term-list {
                font-size:0;
                .list-item {
                    display:inline-block;
                    width:calc((100% - 64px) / 2);
                    margin-left:64px;
                    vertical-align:top;
                    @include mobile {
                        width:100%;
                        margin:0;
                    }
                    &:first-child {
                        margin:0;
                        > li:first-child {
                            margin-top:0;
                        }
                    }
                    > li {
                        display:table;
                        width:100%;
                        margin-top:32px;
                        table-layout:fixed;
                        &:first-child {
                            margin-top:0;
                        }
                        @include mobile {
                            margin-top:40px;
                            &:first-child {
                                margin-top:40px;
                            }
                        }
                        > a {
                            display:table-cell;
                            width:40%;
                            vertical-align:top;
                            color:#EC455A;
                            font-size:14px;
                            line-height:20px;
                            font-weight:500;
                            &:hover {
                                text-decoration:underline;
                            }
                            @include mobile {
                                display:block;
                                width:100%;
                                margin-bottom:16px;
                            }
                        }
    
                        > ol {
                            display:table-cell;
                            padding-left:32px;
                            vertical-align:top;
                            @include mobile {
                                display:block;
                                padding:0;
                            }
                            > li {
                                margin-top:8px;
                                &:first-child {
                                    margin-top:0;
                                }
                                > a {
                                    display:block;
                                    color:#222;
                                    font-size:14px;
                                    line-height:20px;
                                    font-weight:500;
                                    &:hover {
                                        text-decoration:underline;
                                    }
                                    @include mobile {
                                        line-height:18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .h3-tit {
            padding:48px 0 16px;
            font-size:16px;
            line-height:24px;
            font-weight:700;
            @include mobile {
                padding:0 0 32px;
                line-height:21px;
            }
        }
    
        .h4-tit {
            padding:32px 0 12px;
            color:#222;
            font-size:16px;
            line-height:24px;
            font-weight:normal;
            &:first-child {
                padding-top:0;   
            }
            @include mobile {
                padding:40px 0 12px;
                font-size:14px;
                line-height:18px;
            }
        }
    
        ol, ul {
            li.mt {
                margin-top:24px;
                &:first-child {
                    margin-top:0;
                }
            }
        }
        
        .txt {
            & + ol,
                & + ul {
                margin-top:24px;
                @include mobile {
                    margin-top:40px;
                }
            }
            & + .tb_row {
                margin-top:32px;
                @include mobile {
                    margin-top:40px;
                }
            }
            & + .txt {
                margin-top:32px;
                @include mobile {
                    margin-top:40px;
                }
            }
        }
        
    
        dl.con-dl {
            margin-top:32px;
            @include mobile {
                margin-top:40px;
            }
            dd {
                margin-top:8px;
                ol, ul {
                    margin-top:0;
                }
                .bullet-list {
                    margin-top:12px;
                    @include mobile {
                        margin-top:20px;
                    }
                }
            }
        }
    
        .tb_row {
            .btn-text {
                font-size:14px;
                line-height:20px;
                font-weight:500;
                vertical-align:baseline;
            }
        }
    
        .total-tit {
            margin:48px 0 16px;
            @include mobile {
                margin:40px 0 12px;
                padding:0 20px;
            }
            .num {
                display:inline-block;
                font-size:16px;
                line-height:24px;
                font-weight:700;
                vertical-align:middle;
            }
        }
    
        .ev-private-list {
            li {
                margin-top:8px;
                @include mobile {
                    margin-top:4px;
                }
                &:first-child {
                    margin-top:0;
                }
                a {
                    display:block;
                }
                .item {
                    padding:32px 56px;
                    background:#fff;
                    @include mobile {
                        padding:24px 20px;
                    }
                    .tit {
                        font-size:16px;
                        line-height:24px;
                        font-weight:700;
                        @include mobile {
                            font-size:14px;
                            line-height:18px;
                        }
                    }
                    .date {
                        display:block;
                        margin-top:4px;
                        color:#616161;
                        font-size:14px;
                        line-height:20px;
                        @include mobile {
                            margin-top:6px;
                            font-size:12px;
                            line-height:16px;
                        }
                    }
                }
            }
        }
    
        &.term-info {
            .inner-con {
                color:#616161;
                font-size:14px;
                line-height:20px;
                .txt {
                    & + ol,
                        & + ul {
                        margin-top:20px;
                        @include mobile {
                            margin-top:12px;
                        }
                    }
                }
                dl.con-dl {
                    margin-top:20px;
                    @include mobile {
                        margin-top:12px;
                    }
                    dd {
                        margin-top:0;
                    }
                }
            }
        }
    }

}


// 소식지 신청
.pop-conts.term-pop {
    .desc {
        color:#616161;
        font-size:14px;
        line-height:20px;
    }
    .input-info {
        padding:56px 0 0 0;
        &:before {
            display:none;
        }
        dd.conts {
            font-size:0;
            .select-list-wrap {
                padding-top:8px;
            }
            .select-wrap {
                max-width:calc((100% - 8px) /2);
                margin:0 0 0 8px;
                @include mobile {
                    max-width:100%;
                    margin:8px 0 0 0;
                }
                &:first-child {
                    margin:0;
                }
            }
        }
    }
    .tb_row {
        margin-top:24px;
    }
    .tit-wrap {
        + .desc {
            margin-top:-20px;
        }
    }
}
