@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";


// 통합검색
.contents.search {
    //&:after {
    //    content: '';
    //    position: fixed;
    //    top: 0;
    //    bottom: 0;
    //    left: 50%;
    //    z-index: -1;
    //    transform: translateX(-50%);
    //    width: 1380px;
    //    background-color: red;
    //    opacity: .2;
    //}
    .search-tabs-wrap {
        padding-bottom: 24px;
        border-bottom: 8px solid $color-bg;
        .tabs-wrap {
            max-width: (1380px + 80px);
            margin: 0 auto;
            padding: 0 40px;
            .tabs > li > a {
                @include font-large-1;
            }
        }
        @include mobile {
            .tabs-wrap {
                max-width: 100%;
                padding:0;
            }
        }
    }
    .search-result-category {
        max-width: (1146px + 80px);
        margin: 0 auto;
        padding: 64px 40px;
        .btn-moreview {
            margin-top: 20px;
        }
        @include mobile {
            max-width: 100%;
            padding: 40px 16px;
        }
    }
    .search-banner {
        max-width: (1146px + 80px);
        margin: 0 auto;
        padding: 0 40px 17px;
        img {
            width: 100%;
        }
        .text-area {
            display: none;
        }
        @include mobile {
            max-width: 100%;
            padding: 0 0 10px;
        }
    }
    .cont-wrap {
        position: relative;
        margin-top: 68px;
        padding: 0 40px 120px;
        @media screen and (min-width: 1024px){
            &.w-filter {
                margin-top: 68px;
                padding: 0 40px 120px 280px;
            }
        }
        @include mobile {
            margin-top: 25px;
            padding: 0 20px 60px;
            border-top: 0;
        }
    }

    .main-wrap {
        padding:32px 0 120px;
        background:#f4f4f4;
        @include mobile {
            padding:24px 0 0;
        }
    
        .sorting-filter {
            @include clearfix;
            max-width:(1284px + 80px);
            margin:0 auto;
            padding:0 40px;
            @include mobile {
                max-width: 100%;
                padding:0 20px;
            }
            .sort-left {
                float:left;
                font-size:0;
                .count {
                    .num {
                        font-size:16px;
                        line-height: 24px;
                        color: #111;
                        font-weight: 500;
                    }
                }
            }
            .sort-right {
                float:right;
                font-size:0;
            }
            .sort-select-wrap {
                vertical-align:top;
                margin-left:40px;
                @include mobile {
                    margin-left:20px;
                }
                &:first-child {
                    margin-left:0;
                }
            }
        }   
    }
}

.search-word {
    color: #ec455a;
}

.input-keyword-wrap {
    max-width: (1146px + 80px);
    margin: 0 auto;
    padding: 48px 40px 46px;
    @include mobile {
        max-width: 100%;
        //padding: 102px 16px 50px;
        padding: 0 16px 50px;
    }
}
.input-keyword {
    position: relative;
    //border-radius: 28px;
    //box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
    @include mobile {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 3;
        padding: 30px 16px 16px;
        background-color: $color-bg-wt;
    }
    .sch-input-wrap {
        position: relative;

        .input-sch {
            position: relative;
            input.txt {
                width: 100%;
                height: 56px;
                padding: 0 104px 0 24px;
                border-radius: 28px;
                background-color: #fff;
                box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
                font-size: 16px;
                line-height: normal;
                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    color: $color-gray-1;
                }
            }

            .btn-delete {
                position: absolute;
                top: 50%;
                right: 60px;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                background: url('/lg5-common/images/icons/icon-delete-20.svg') no-repeat 0 0;
            }

            .btn-search {
                position: absolute;
                top: 50%;
                right: 0;
                width: 56px;
                height: 56px;
                margin-top: -28px;
                &::after {
                    content: '';
                    display: block;
                    margin-left: 16px;
                    width: 24px;
                    height: 24px;
                    background: url('/lg5-common/images/icons/icon-search.svg') no-repeat;
                    background-size: 24px 24px;
                }
            }
        }
        @include mobile {
            border-radius: 4px;
            .input-sch {
                input.txt {
                    padding: 0 97px 0 21px;
                }
                .btn-delete {
                    right: 57px;
                }
            }
        }
    }

    &.focus-on {
        .sch-input-wrap {
            .input-sch {
                z-index: 3;
                input.txt {
                    box-shadow: none;
                }
            }
        }
    }
}

.related-keyword {
    overflow: hidden;
    margin-top: 17px;
    text-align: center;
    .inner {
        position: relative;
        display: inline-block;
        padding-left: 81px;

    }
    .title {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 700;
        @include font-small;
        color: $color-gray-1;
    }

    .keyword-list {
        display: inline-block;
        font-size: 0;
        text-align: left;
        li {
            display: inline-block;
            margin-right: 16px;
            &:nth-last-child(1) {
                margin-right: 0;
            }
            a {
                font-weight: 500;
                @include font-small;
            }
        }
    }
    .mobile-more-btn {
        display: none;
    }
    @include mobile {
        position: relative;
        height: 24px;
        margin-top: 0;
        padding-right: 32px;
        .keyword-list {
            li {
                margin-right: 16px;
                padding-bottom: 8px;
            }
        }
        .mobile-more-btn {
            display: block;
            position: absolute;
            top: -1px;
            right: 0;
            .btn-more {
                display: block;
                width: 24px;
                height: 24px;
                background: url('/lg5-common/images/icons/btn-arrow-down.svg') no-repeat 0 0;
                    transition:transform .3s .1s ease-out;
            }
        }

        &.open {
            height: auto;
            .mobile-more-btn {
                .btn-more {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.search-input-layer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 64px 24px 56px;
    border-radius: 28px;
    background-color: #fff;
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);

    .btn-close {
        position: absolute;
        right: 24px;
        bottom: 16px;
        width: 24px;
        height: 24px;
        background: url('/lg5-common/images/icons/btn-close-24-gray.svg') no-repeat 0 0;
        span {
            @include blind;
        }
    }

    .not-result {
        padding: 10px 0 64px;
        font-weight: 500;
        @include font-medium;
        color: $color-gray-1;
        text-align: center;
    }

    .search-keyword-area {
        display: table;
        table-layout: fixed;
        width: 100%;
        .recent-keyword,
        .popular-keyword {
            display: table-cell;
            @include calc(width,50%,12px);
        }
        .popular-keyword {
            padding-left: 24px;
        }
        .title {
            display: block;
            margin-bottom: 12px;
            font-weight: 700;
            font-size: $font-medium;
            line-height: 30px;
        }
    }

    @include mobile {
        padding: 64px 24px 56px;
        .auto-complete {
            margin: 12px -12px 0;
        }
        .search-keyword-area {
            display: block;
            .recent-keyword,
            .popular-keyword {
                display: block;
                width: 100%;
            }
            .popular-keyword {
                margin-top: 32px;
                padding-left: 0;
            }
            .title {
                font-size: $font-small;
                line-height: 22px;
            }
        }
        .not-result {
            padding: 10px 0 16px;
        }
    }
}

.auto-complete {
    .keyword-list {
        margin-top: -4px;
        li {
            margin-top: 4px;
            padding: 4px 12px;
            &:first-child {
                margin-top: 0;
            }
            a {
                @include font-medium;
            }
            &.on,
            &:hover,
            &:focus {
                border-radius: 17px;
                background-color: $color-bg;
                a {
                    font-weight: 700;
                }
            }
        }
    }
}

.input-result-list {
    li {
        margin-top: 16px;
        @include textEllipsisClamp(1);
        &:first-child {
            margin-top: 0;
        }
    }
}

.search-similar {
    margin: 80px 0 74px;
    text-align: center;
    .search-result-text {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: $font-large-2;
        line-height: 26px;
        .search-word {
            font-weight: 700;
            color: $color-default;
        }
    }
    .similar-text {
        font-weight: 500;
        @include font-small;
        color: $color-gray-1;
        &:after {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('/lg5-common/images/icons/btn-arr-20x20-gray.svg') no-repeat 0 0;
            vertical-align: -5px;
            content: '';
        }
    }

    @include mobile {
        margin: 32px 0 10px;
        .search-result-text {
            margin-bottom: 14px;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.search-result-wrap {
    @include clearfix;
     //max-width: 1284px;
     max-width: 1146px;
     margin: 0 auto;

    .result-area {
        //float: left;
        width: 100%;
        //max-width: 1284px;
        //margin: 0 auto;
    }
/*
    @media screen and (max-width: 1780px) {
        position: relative;
        .btn-filter {
            position: absolute;
            //top: 29px;
            top: 0;
            left: 0;
            & ~ .list-sorting {
                padding-left: 48px;
                @include mobile {
                    padding: 26px 0 62px 38px;
                }
            }
        }
    }

    @media screen and (max-width: 1284px) {
        max-width: 100%;
        .result-area {
            float: none;
        }
    }
*/
    .result-list-wrap {
        .title {
            @include font-large-1;
            &.type2 {
                @include font-large;
            }
            @include mobile {
                @include font-medium;
            }
        }
    }

    .list-head {
        @include clearfix;
        padding: 40px 0 16px;
        @include mobile {
            padding: 21px 0 15px;
        }
        .title {
            float: left;
        }
        .btn-area {
            float: right;
            .btn-link {
                margin-top: 5px;
                @include font-small;
                &:after {
                    top: calc( 50% - 2px);
                    width: 6px;
                    height: 6px;
                    border-width: 1px 1px 0 0;
                }
            }
        }
    }

    .mobile-service-link {
        padding-top: 34px;
        font-size: 0;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 9px;
            a {
                display: block;
                &:nth-child(2) {
                    margin-top: 8px;
                }
            }
        }
        @include pc {
            display: none;
        }
    }
}


.rounded-list {
    font-size: 0;
    li {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 12px;
        &:last-child {
            margin-right: 0;
        }
    }
    .rounded {
        display: inline-block;
        padding: 7px 16px;
        border-radius: 12px;
        border: 1px solid #ddd;
        background-color: #fff;
        .text {
            display: block;
            @include font-medium;
        }
    }
    @include mobile {
        //li {
        //    display: block;
        //    margin-right: 0;
        //    margin-bottom: 6px;
        //}
        .rounded {
            .text {
                font-size: $font-small;
                line-height: 22px;
            }
        }
    }
}

@import "SERF9001";
@import "SERF9003";
@import "SERF9009";



// 개인정보취급방침, 이벤트개인정보처리방침, 이용약관
.contents.term-wrap {
    .cont-wrap {
        border:none;
    }
    .private-info-wrap {
        max-width:1066px + 60px;
        margin:0 auto;
        padding:0 30px;
        @include mobile {
            padding:0;
        }
        .inner {
            @include mobile {
                margin-top:12px;
                padding:40px 20px 56px;
                background:#fff;
                &:first-child {
                    margin-top:0;
                }
            }
        }
        .inner-con {
            padding:56px 56px;
            background:#fff;
            border-radius:4px;
            font-size:16px;
            line-height:24px;
            @include mobile {
                padding:0;
                font-size:14px;
                line-height:18px;
                border-radius:inherit;
            }
            .h2-tit {
                margin-bottom:32px;
                font-size:20px;
                line-height:30px;
                font-weight:700;
                text-align:center;
                @include mobile {
                    display:none;
                }
            }
            .select-dl {
                margin-bottom:32px;
                dt {
                    color:#616161;
                    font-size:14px;
                    line-height:20px;
                    @include mobile {
                        line-height:18px;
                    }
                }
                dd {
                    margin-top:8px;
                    @include mobile {
                        margin-top:12px;
                    }
                    .select-wrap {
                        max-width:100%;
                    }
                }
            }
    
            .private-list {
                @include clearfix;
                margin:32px 0 0 0;
                @include mobile {
                    display:block;
                    margin-top:40px;
                }
                .list-item {
                    float:left;
                    width:37%;
                    padding-left:80px;
                    @include tablet {
                        padding-left:40px;
                    }
                    @include mobile {
                        float:none;
                        width:100%;
                        padding:16px 0 0 0;
                        &:first-child {
                            padding-top:0;
                        }
                    }
                    &:first-child {
                        width:22%;
                        padding:0;
                        @include mobile {
                            width:100%;
                        }
                    }
                    &:nth-child(2) {
                        width:41%;
                        @include mobile {
                            width:100%;
                        }
                    }
                    li {
                        margin-top:16px;
                        &:first-child {
                            margin-top:0;
                        }
                        > a {
                            display:block;
                            color:#EC455A;
                            font-size:14px;
                            line-height:20px;
                            font-weight:500;
                            &:hover {
                                text-decoration:underline;
                            }
                        }
                    }
                }
            }
    
            .term-list {
                font-size:0;
                .list-item {
                    display:inline-block;
                    width:calc((100% - 64px) / 2);
                    margin-left:64px;
                    vertical-align:top;
                    @include mobile {
                        width:100%;
                        margin:0;
                    }
                    &:first-child {
                        margin:0;
                        > li:first-child {
                            margin-top:0;
                        }
                    }
                    > li {
                        display:table;
                        width:100%;
                        margin-top:32px;
                        table-layout:fixed;
                        &:first-child {
                            margin-top:0;
                        }
                        @include mobile {
                            margin-top:40px;
                            &:first-child {
                                margin-top:40px;
                            }
                        }
                        > a {
                            display:table-cell;
                            width:40%;
                            vertical-align:top;
                            color:#EC455A;
                            font-size:14px;
                            line-height:20px;
                            font-weight:500;
                            &:hover {
                                text-decoration:underline;
                            }
                            @include mobile {
                                display:block;
                                width:100%;
                                margin-bottom:16px;
                            }
                        }
    
                        > ol {
                            display:table-cell;
                            padding-left:32px;
                            vertical-align:top;
                            @include mobile {
                                display:block;
                                padding:0;
                            }
                            > li {
                                margin-top:8px;
                                &:first-child {
                                    margin-top:0;
                                }
                                > a {
                                    display:block;
                                    color:#222;
                                    font-size:14px;
                                    line-height:20px;
                                    font-weight:500;
                                    &:hover {
                                        text-decoration:underline;
                                    }
                                    @include mobile {
                                        line-height:18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .h3-tit {
            padding:48px 0 16px;
            font-size:16px;
            line-height:24px;
            font-weight:700;
            @include mobile {
                padding:0 0 32px;
                line-height:21px;
            }
        }
    
        .h4-tit {
            padding:32px 0 12px;
            color:#222;
            font-size:16px;
            line-height:24px;
            font-weight:normal;
            &:first-child {
                padding-top:0;   
            }
            @include mobile {
                padding:40px 0 12px;
                font-size:14px;
                line-height:18px;
            }
        }
    
        ol, ul {
            li.mt {
                margin-top:24px;
                &:first-child {
                    margin-top:0;
                }
            }
        }
        
        .txt {
            & + ol,
                & + ul {
                margin-top:24px;
                @include mobile {
                    margin-top:40px;
                }
            }
            & + .tb_row {
                margin-top:32px;
                @include mobile {
                    margin-top:40px;
                }
            }
            & + .txt {
                margin-top:32px;
                @include mobile {
                    margin-top:40px;
                }
            }
            &.center {
                text-align:center;
                @include tablet {
                    text-align:left;
                }
            }
        }
        
    
        dl.con-dl {
            margin-top:32px;
            @include mobile {
                margin-top:40px;
            }
            dd {
                margin-top:8px;
                ol, ul {
                    margin-top:0;
                }
                .bullet-list {
                    margin-top:12px;
                    @include mobile {
                        margin-top:20px;
                    }
                }
            }
        }
    
        .tb_row {
            .btn-text {
                font-size:14px;
                line-height:20px;
                font-weight:500;
                vertical-align:baseline;
            }
        }
    
        .total-tit {
            margin:48px 0 16px;
            @include mobile {
                margin:40px 0 12px;
                padding:0 20px;
            }
            .num {
                display:inline-block;
                font-size:16px;
                line-height:24px;
                font-weight:700;
                vertical-align:middle;
            }
        }
    
        .ev-private-list {
            li {
                margin-top:8px;
                @include mobile {
                    margin-top:4px;
                }
                &:first-child {
                    margin-top:0;
                }
                a {
                    display:block;
                }
                .item {
                    padding:32px 56px;
                    background:#fff;
                    @include mobile {
                        padding:24px 20px;
                    }
                    .tit {
                        font-size:16px;
                        line-height:24px;
                        font-weight:700;
                        @include mobile {
                            font-size:14px;
                            line-height:18px;
                        }
                    }
                    .date {
                        display:block;
                        margin-top:4px;
                        color:#616161;
                        font-size:14px;
                        line-height:20px;
                        @include mobile {
                            margin-top:6px;
                            font-size:12px;
                            line-height:16px;
                        }
                    }
                }
            }
        }
    
        &.term-info {
            .inner-con {
                color:#616161;
                font-size:14px;
                line-height:20px;
                .txt {
                    & + ol,
                        & + ul {
                        margin-top:20px;
                        @include mobile {
                            margin-top:12px;
                        }
                    }
                }
                dl.con-dl {
                    margin-top:20px;
                    @include mobile {
                        margin-top:12px;
                    }
                    dd {
                        margin-top:0;
                    }
                }
            }
        }
    }

}


// 소식지 신청
.pop-conts.term-pop {
    .desc {
        color:#616161;
        font-size:14px;
        line-height:20px;
    }
    .input-info {
        padding:56px 0 0 0;
        &:before {
            display:none;
        }
        dd.conts {
            font-size:0;
            .select-list-wrap {
                padding-top:8px;
            }
            .select-wrap {
                max-width:calc((100% - 8px) /2);
                margin:0 0 0 8px;
                @include mobile {
                    max-width:100%;
                    margin:8px 0 0 0;
                }
                &:first-child {
                    margin:0;
                }
            }
        }
    }
    .tb_row {
        margin-top:24px;
    }
    .tit-wrap {
        + .desc {
            margin-top:-20px;
        }
    }


}


// list-sorting 
@media screen and (max-width: 1024px) {
    .btn-filter {
        position: static;
    }
}

.list-sorting {
    .sort-area {
        .list-count {
            margin-top: 8px;
            font-size: 16px;
            line-height: 26px;
        }
    }
    @media screen and (max-width: 1024px) {
        .sort-list {
            margin-top: 10px;
        }
    }
}
.sort-select-wrap {
    margin-left: 34px;
    vertical-align: middle;
}
.sort-check-area {
    display: inline-block;
    vertical-align: middle;
    .chk-wrap input + label {
        @include font-small; 
    }
}
.sort-search-area {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 24px;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    .search-inner {
         width: 210px;
         height: 34px;
         padding: 5px 52px 5px 16px;
         border-radius: 17px;
         background-color: #f4f4f4;
         .inp-txt {
            width: 100%; 
            background-color: #f4f4f4;
            font-size: 14px;
            line-height: 24px;
            color: #767676;
         }
         .btn-sch {
            display: inline-block;
            position: absolute;
            top: 7px;
            right: 16px;
            width: 20px;
            height: 20px;
            background: url('/lg5-common/images/icons/icon-search-20.svg');
        }
    }
} 

.mobile-service-link {
    display: none;
}
@media screen and (max-width: 1024px) {
    .mobile-service-link {
        display: block;
        margin-top:30px;
        text-align:center;
        li {
            margin-top: 8px;
            &:first-child {
                margin-top: 0;
            }
        }
        .btn-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 72px; 
        padding: 24px 16px 24px 20px;
        background-color: #f4f4f4;
        border-radius: 8px;
        @include font-small;
        font-weight: 700;
        span {
            padding-right: 12px;
        }
        img {
            width: 40px;
            height: 40px;
        }
        }
    }
}

.flag-wrap {
    .flag {
        &:before {
            display: none !important;
        }
        &:not(:last-child):after {
            display: inline-block;
            width: 1px;
            height: 10px;
            margin: 0 4px;
            background-color: #adadad;
            vertical-align: -1px;
            content: '';
        }
    }
}

