@charset "UTF-8";

@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/mixins";
@import "modules/icons/index";

// common
legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}
textarea {
    font-size:14px;
}
.search-box {
    padding: 0 24px;
}

// 상단 타이틀
.page-visual {
    position:relative;
    &-heading {
        position:absolute;
        left:0;
        right:0;
        top:126px;
        width:100%;
        max-width:1364px;
        margin:0 auto;
        padding:0 40px;
        @include mobile {
            top:92px;
            padding:0 24px;
        }
        .heading {
            &-area {
                max-width:1920px;
                margin:0 auto;
                text-align:center;
            }
            &-title {
                color:#111;
                font-size:28px;
                font-weight:700;
                line-height:1.5;
            }
            &-desc {
                margin-top:19px;
                line-height:16px;
            }
            @include mobile {
                &-title {
                    font-size:18px;
                }
                &-desc {
                    margin-top:11px;
                    font-size:13px;
                    line-height:19px;
                }
            }
        }
    }
    &-image {
        height:280px; // 임시 사이즈
        @include mobile {
            height:200px;
        }
        .image {
            &-area {
                width:100%;
                max-width:1920px;
                overflow:hidden;
                img {
                    width:100%;
                }
            }
        }
    }
}
.cs-content {
    background:#f4f4f4;
    &-inner {
        width:100%;
        margin:0 auto;
        padding:80px 40px 144px;
        &.type-A {
            max-width:928px;
        }
        &.type-B {
            max-width:1364px;
        }
        @include mobile {
            padding:12px 0 90px;
        }
    }
}

.pagination {
    .prev.disabled, .next.disabled {
        display:none;
    }
    .dot {
        display:inline-block;
        width:32px;
        font-size:16px;
        line-height:24px;
        color:#aaa;
    }
}

.dummy {
    background-color: rgba(255, 70, 70, 0.2);
    font-size: 28.5px;
    font-weight: bold;
    line-height: 1.37;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pc-only {
    display: block;
    @include mobile {
        display: none;
    }
}
.mo-only {
    display: none;
    @include mobile {
        display: block;
    }
}

.mt12 {
    margin-top: 12px !important;
}
.mt16 {
    margin-top: 16px !important;
}

.mb12 {
    margin-bottom: 12px !important;
}

.section {
    width:100%;
    padding:56px;
    border-radius:4px;
    background:#fff;
    @include mobile {
        padding:40px 24px;
        border-radius:0;
    }
    @at-root .section-area & {
        color: #111;
        line-height: 1.38;
        +.section {
            margin-top: 27px;
        }
    }
}

.color-1 {
    color: #a50034;
}

.clearFix {
    @include clearfix;
}

.results-stat {
    font-size: 14px;
    line-height: 1.43;
    color: #616161;
    padding-top: 12px;
    &.align-right {
        text-align: right;
    }
}

[class^="btnarea"] {
    margin-top:80px;
    @include mobile {
        margin-top: 40px;
        padding: 0 24px;
        .btn {
            width: 100%;
        }
    }
}
.btnarea {
    &-r {
        text-align: right;
    }
}
.sns {
    &-box {
        display: flex;
    }
    &-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin-left: 8px;
        &:first-child {
            margin-left: 0;
        }
        &.sns1 {
            background-image: url(/lg5-common/images/icons/icon-sns-kakaotalk.svg);
        }
        &.sns2 {
            background-image: url(/lg5-common/images/icons/icon-sns-facebook.svg);
        }
        &.sns3 {
            background-image: url(/lg5-common/images/icons/icon-sns-twiter.svg);
        }
    }
}

.notice-category {
    font-size: 12px;
    line-height: 1;
    color: #111111;
    border-radius: 4px;
    background-color: #f1f3f7;
    padding: 6px 8px;
    display: inline-block;
    &-wrap {
        @include textEllipsis;
    }
    &-A {
        font-size: 14px;
        line-height: 1.43;
        color: #a50034;
    }
    &-B {
        font-size: 14px;
        line-height: 1.43;
        color: #aaa;
    }
}

.notice-list {
    background-color: #fff;
    border-radius: 4px;
    a {
        display: block;
        padding: 24px 76px 24px 56px;
    }
    li {
        border-top: 1px solid #ddd;
        position: relative;
        &:first-child {
            border-top: none;
        }
        &::after {
            content: '';
            width: 0px;
            height: 0px;
            border-top: 5px solid transparent;
            border-left: 6px solid #111;
            border-bottom: 5px solid transparent;
            position: absolute;
            right: 63px;
            top: 50%;
            transform: translateY(-50%);
        }
        .notice-category {
            margin-bottom: 4px;
        }
    }
    &-title {
        font-size: 16px;
        line-height: normal;
        color: #111111;
        @include textEllipsis;
        &-A {
            font-size: 18px;
            font-weight: normal;
            line-height: 1.44;
            color: #111;
            @include textEllipsis;
        }
    }
    &.type-A {
        a {
            padding-right: 24px;
            padding-left: 50px;
        }
        li {
            border-top:none;
            border-bottom:1px solid #ddd;
            &::after {
                border:none;
                width: 30px;
                height: 30px;
                background-color: #000;
                left: 0;
                right: auto;
            }
        }
        .notice-category-wrap {
            margin-bottom: 11px;
        }
    }
    @include mobile {
        a {
            padding: 24px;
            padding-right: 40px;
        }
        li {
            &::after {
                right: 20px;
            }
            .notice-category {
                margin-bottom: 6px;
            }
        }
    }
}

.read {
    &-category {
        margin-bottom: 8px;
    }
    &-title {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.29;
        letter-spacing: -0.5px;
        color: #111111;
    }
    &-content {
        margin-top: 56px;
    }
    &-moveTo {
        margin-top: 16px;
        [class^="read-moveTo"] {
            display: flex;
            align-items: center;
            height: 72px;
            background-color: #fff;
            border-radius: 8px;
            padding-left: 52px;
            margin-top: 4px;
            &:first-child {
                margin-top: 0;
            }
            [class^="part"] {
                font-size: 16px;
                letter-spacing: -0.4px;
            }
            .part1 {
                color: #616161;
                position: relative;
                padding-right: 40px;
                margin-right: 40px;
                &::after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 16px;
                    background-color: #dddddd;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .part2 {
                color: #111111;
                @include textEllipsis;
            }
        }
        @include mobile {
            [class^="read-moveTo"] {
                border-radius: 0;
                padding-left: 24px;
                padding-right: 24px;
                margin-top: 8px;
                [class^="part"] {
                    font-size: 14px;
                    letter-spacing: normal;
                }
                .part1 {
                    padding-right: 0;
                    margin-right: 20px;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    &-section {
        .sns-box {
            margin-top: 80px;
        }
    }
    @include mobile {
        &-category {
            margin-bottom: 4px;
        }
        &-title {
            font-size: 24px;
            line-height: 1.5;
        }
        &-content {
            margin-top: 32px;
        }
        &-section {
            .sns-box {
                margin-top: 32px;
            }
        }
    }
}

.date {
    &-box {
        margin-top: 16px;
        display: flex;
        align-items: center;
    }
    &-label,
    &-time {
        font-size: 14px;
    }
    &-label {
        color: #616161;
        margin-right: 16px;
    }
    &-time {
        color: #111111;
    }
    &-item {
        padding-left: 24px;
        margin-left: 24px;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 1px;
            height: 13px;
            background-color: #ddd;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:first-child {
            padding-left: 0;
            margin-left: 0;
            &::after {
                display: none;
            }
        }
    }
    @include mobile {
        &-box {
            margin-top: 14px;
        }
        &-label {
            margin-right: 12px;
        }
    }
}

.guide-box {
    font-size: 16px;
    color: #111;
    line-height: 1.5;
    margin-top: 48px;
}
    
.bullet-title {
    padding-left: 0.750em;
    line-height: 1;
    position: relative;
    margin-bottom: 30px;
    &::before {
        content: '';
        display: block;
        width: 0.250em;
        height: 0.250em;
        border-radius: 50%;
        background-color: #616161;
        position: absolute;
        left: 0;
        top: 0.375em;
    }
}

.bullet-list {
    li {
        position: relative;
        padding-left: 0.750em;
        margin-top: 12px;
        &:first-child {
            margin-top: 0;
        }
        &::before {
            content: '';
            display: block;
            width: 0.250em;
            height: 0.250em;
            border-radius: 50%;
            background-color: #616161;
            position: absolute;
            left: 0;
            top: 0.563em;
        }
    }
}

.ui_tab {
    &-notice {
        .tabs {
            > li {
                > a {
                    font-size: 14px;
                    color: #616161;
                    padding-bottom: 4px;
                }
                &.on {
                    border-bottom: 2px solid #111;
                }
            }
        }
    }
    &.type-A {
        .tabs {
            >li {
                &.on {
                    border-bottom: none;
                    > a {
                        color: #111;
                    }
                }
                >a {
                    color: #aaa;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.44;
                    padding-bottom: 0;
                }
            }
        }
    }
    @include mobile {
        &-notice {
            padding: 0 24px;
            .tabs {
                overflow-x: auto;
                white-space: nowrap;
                width: 100%;
                > li {
                    margin-left: 20px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.tabs-contents {
    margin-top: 24px;
}

[class^="h-tit"] {
    word-break: keep-all;
    &[class*="-3"] {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.42;
        margin-bottom: 32px;
        @include mobile {
            margin-bottom: 24px;
        }
    }
    &[class*="-4"] {
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 16px;
    }
}
.bullet {
    position: relative;
    padding-left: .75em;
    &::before {
        content: '';
        display: block;
        width: .25em;
        height: .25em;
        border-radius: 50%;
        background-color: #616161;
        position: absolute;
        left: 0;
        top: .563em;
    }
}


.dl-list {
    dt {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.44;
        margin-bottom: 14px;
    }
    dd {
        font-size: 16px;
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
        @include mobile {
            margin-bottom: 24px;
        }
    }
}
.img_box {
    margin-top: 14px;
    img {
        max-width: 100%;
    }
}

.tbl {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    width: calc(100% - 1px);
    min-width: 768px;
    border-bottom: 2px solid #ddd;
    line-height: inherit;
    caption {
        opacity: 0;
        position: absolute;
    }
    th, 
    td {
        padding: 16px;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        &:first-child {
            border-left: 0;
        }
    }
    th {
        background-color: #f4f4f4;
        font-weight: normal;
    }
    &.type-A {
        border-top: 2px solid #ddd;
        text-align: center;
    }
    &.type-B {
        tr {
            &:first-child {
                border-top: 2px solid #ddd;
            }
        }
        th {
            text-align: left;
        }
    }
    @include mobile {
        font-size: 14px;
        th, 
        td {
            padding: 12px;
        }
    }
}

.scroll-x {
    width: 100%;
    overflow-x: auto;
}

.note-box {
    padding: 24px;
    border: solid 1px #dddddd;
    margin-bottom: 24px;
    @include mobile {
        padding: 16px;
    }
}

.paragraph {
    &-1 {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    &-2 {
        margin-bottom: 22px;
    }
    &-3 {
        margin-top: 8px;
    }
}

.list {
    li {
        &:first-child {
            margin-top: 0;
        }
    }
    > li {
        margin-top: 16px;
        margin-left: 48px;
        text-indent: -1.5em;
        > ul:not(.bullet-list) {
            > li {
                margin-left: 24px;
                text-indent: -24px;
                > ul {
                    > li {
                        text-indent: 0;
                    }
                }
            }
            &.bullet-list {
                li {
                    text-indent: 0;
                }
            }
        }
        > ul {
            margin-top: 10px;
             li {
                margin-top: 12px;
            }
        }
        > .bullet-list {
            text-indent: 0;
        }
    }
    @include mobile {
        > li {
            margin-left: 16px;
            text-indent: 0;
            > ul:not(.bullet-list) {
                > li {
                    margin-left: 40px;
                    text-indent: -24px;
                }
            }
            > .bullet-list {
                > li {
                    margin-left: 16px;
                    text-indent: 0;
                }
            }
        }
    }
}

// text-align
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}