@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

// mypage lnb
@import "../MYC/MYC";

.mypage.mypage-main {
    .mo-only {
        @include pc {
            display: none;
        }
    }
    @include mobile {
        .lnb-contents {
            padding: 0;
        }
    }
}

.my-dashboard {
    padding: 40px 48px 40px 48px;
    border-radius: 8px;

    @include tablet {
        position: relative;
        margin-bottom: 147px;
        padding: 40px 16px 30px;
        border-radius: 8px 8px 0 0;
        @include mobile {
            border-radius: 0;
        }
    }

    .membership-level {
        background: no-repeat left -8px top -1px;
        //padding: 5px 0 10px 40px;
        font-weight: 700;
        font-size: $font-large-1;
        line-height: 30px;
        color: $color-white;
        @include mobile {
            display: block;
            padding: 0;
            background-position: top right;
            line-height: 28px;
        }
        .btn-link {
            font-weight: 700;
            @include font-large-1;
            color: $color-white;
            text-decoration:none;
            @include mobile {
                font-size:20px;
                line-height:28px;
            }
            &:after {
                top:4px;
                width: 24px;
                height: 24px;
                background-image: url('/lg5-common/images/icons/btn-arr-16-white.svg');
                background-size:16px;
            }
        }
    }
    .my-membership {
        @include clearfix;
        .membership-level {
            float: left;
        }
        .btn-area {
            float: right;
            margin-top: 8px;
            .btn-link {
                color: $color-white;
                &:not(:last-child) {
                    margin-right: 24px;
                }
                &:after {
                    width: 16px;
                    height: 16px;
                    background-image: url('/lg5-common/images/icons/btn-arr-16-white-sm.svg');
                    background-size: 16px;
                }
            }
        }
        @include tablet {
            .membership-level {
                float: none;
            }
            .btn-area {
                float: none;
                margin-top: 16px;
                .btn-link {
                    position: relative;
                    font-size: $font-small;
                    line-height: 22px;
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    &.basic,
    &.standard {
        background-image: linear-gradient(107deg, #8d71ec, #ff537c 99%);
        .bookmark {
            .btn.mix {
                background-image: linear-gradient(111deg, #8d71ec 17%, #ff537c 115%);
            }
        }
    }
    &.basic {
        .membership-level {
            //padding-left: 0;
            background-image: none;
        }
    }
    &.standard {
        .membership-level {
            background-image: url('/lg5-common/images/MYS/icon-standard.png');
            background-size: 48px 48px;
        }
    }
    &.gold {
        background-image: linear-gradient(105deg, #ee9d30 14%, #f3df54 111%);
        .membership-level {
            background-image: url('/lg5-common/images/MYS/icon-gold.png');
            background-size: 47px 48px;
        }
        .bookmark {
            .btn.mix {
                background-image: linear-gradient(108deg, #ee9d30 24%, #f3df54 137%);
            }
        }
    }
    &.royal-gold {
        background-image: linear-gradient(107deg, #f47a48 10%, #f1c246 100%);
        .membership-level {
            background-image: url('/lg5-common/images/MYS/icon-royal-gold.png');
            background-size: 46px 48px;
        }
        .bookmark {
            .btn.mix {
                background-image: linear-gradient(107deg, #f47a48 20%, #f1c246 121%);
            }
        }
    }
    &.signature {
        background-image: linear-gradient(107deg, #ff537c, #f2c177 100%);
        .membership-level {
            background-image: url('/lg5-common/images/MYS/icon-signature.png');
            background-size: 46px 48px;
        }
        .bookmark {
            .btn.mix {
                background-image: linear-gradient(107deg, #ff537c 20%, #f2c177 119%);
            }
        }
    }

    .my-info {
        padding: 26px 0 40px;
        font-size: 0;
        > li {
            position: relative;
            display: inline-block;
            width: 25%;
            text-align: center;
            vertical-align: top;
            &:not(:first-child):before {
                position: absolute;
                @include calc(top,50%,18px);
                left: 0;
                width: 1px;
                height: 36px;
                background-color: $color-white;
                opacity: .3;
                content: '';
            }

        }
        @include tablet {
            padding: 40px 0;
            > li {
                width: 50%;
                &:nth-child(n+3) {
                    margin-top: 24px;
                }
                &:not(:first-child):before {
                    height: 29px;
                }
                &:nth-child(odd):before {
                    display: none;
                }
            }
        }
        .title {
            display: inline-block;
            padding-left: 28px;
            background: url('/lg5-common/images/MYS/icon-point.svg') no-repeat 0 center;
            font-weight: 500;
            font-size: $font-small;
            line-height: 24px;
            color: $color-white;
            @include tablet {
                margin-bottom: 8px;
                line-height: 19px;
            }
        }
        .number {
            padding-top: 4px;
            font-weight: 700;
            font-size: $font-large-5;
            line-height: 56px;
            color: $color-white;
            @include tablet {
                padding-top: 8px;
                font-size: $font-large-3;
                line-height: 37px;
            }
        }
        .btn-area {
            padding-top: 16px;
            .btn {
                border-color: $color-white !important;
                color: $color-white;
                &:hover,
                &:focus,
                &:active {
                    border-color: $color-primary !important;
                }
            }
            @include tablet {
                padding-top: 6px;
            }
        }
        .coupon {
            .title {
                background-image: url('/lg5-common/images/MYS/icon-coupon.svg');
            }
        }
        .product {
            .title {
                background-image: url('/lg5-common/images/MYS/icon-product.svg');
            }
        }
        .care-solution {
            .title {
                background-image: url('/lg5-common/images/MYS/icon-caresolution.svg');
            }
        }
    }
    // BTOCSITE-3521 
    .my-shortcut {
        @include clearfix;
        .bookmark {
            float: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 314px;
            padding: 10px 16px 10px 24px;
            border-radius: 32px;
            background-color: $color-bg-wt;
            box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
            font-size: 0;
            .text {
                display: inline-block;
                font-weight: 700;
                @include font-small;
            }
            .shop-area {
                margin: -8px 0;
                .title {
                    font-weight: 500;
                    @include font-small;
                }
                .shop {
                    font-weight: 700;
                    @include font-small;
                    .text {
                        max-width: 126px;
                        @include textEllipsis;
                        vertical-align: top;
                    }
                }

            }
            .btn {
                margin-left: 20px;
                vertical-align: middle;
            }
            & +.bookmark {margin-left:20px;}
        }
        .subscriptions {
            float: right;
            margin-top: 18px; // BTOCSITE-3521 
            ul {
                padding: 4px 8px;
                border: 1px solid rgba(255,255,255,.5);
                border-radius: 8px;
                font-size: 0;
                li {
                    position: relative;
                    display: inline-block;
                    padding: 0 8px;
                    &:not(:first-child):before {
                        position: absolute;
                        @include calc(top,50%,6px);
                        left: 0;
                        width: 1px;
                        height: 13px;
                        background-color: $color-white;
                        opacity: .3;
                        content: '';
                    }
                }
            }
            .btn-text {
                color: $color-white;
            }
        }
        @include tablet {
            position: absolute;
            bottom: -107px;
            right: 0;
            left: 0;
            padding: 0 16px;
            @include mobile {
                // bottom: -69px;
            }
            .bookmark {
                float: none;
                width: 100%;
                border-radius:20px 20px 0 0;
                & + .bookmark{
                    margin-left:0;
                    border-radius: 0 0 20px 20px;
                    position:relative;
                    &:before{
                        position:absolute;
                        top:0;
                        left:0;
                        content:'';
                        display:block;
                        width: calc(100% - 30px);
                        height: 1px;
                        margin:0 15px;
                        background-color:#dddddd;   
                    }
                }
            }
            .subscriptions {
                float: none;
                margin-top: 32px;
                ul {
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    border: none;
                    border-radius: 0;
                    li {
                        flex: auto;
                        padding: 0;
                        text-align: center;
                        &:not(:first-child):before {
                            opacity: .5;
                            background-color: $color-default;
                        }
                    }
                }
                .btn-text {
                    font-size: 15px;
                    line-height: 23px;
                    color: $color-default;
                    text-decoration: underline;
                }
            }
        }
    }
}

.mypage-section {
    padding-top: 80px;
    .section-title {
        margin-bottom: 48px;
        font-weight: 700;
        font-size: 32px;
        line-height: 52px;
        color: #000;
        text-align: center;
    }
    @include tablet {
        padding-bottom: 80px;
        border-top: 12px solid $color-bg;
    }
    @include mobile {
        padding: 60px 16px;
        .section-title {
            margin-bottom: 32px;
            font-size: 24px;
            line-height: 33px;
        }
    }

    .my-management {
        > ul {
            @include clearfix;
            display: flex;
            flex-wrap: wrap;
            margin: -12px;
            > li {
                width: 50%;
                padding: 12px;
                //min-height: 335px;
                a {
                    display:block;
                }
            }
            @include tablet {
                margin: 0;
                > li {
                    float: none;
                    width: 100%;
                    padding: 0 0 12px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        &.shopping {
            > ul {
                > li:first-child {
                    width: 100%;
                }
            }
        }
        .no-data {
            padding: 48px 0 16px;
            font-weight: 700;
            @include font-medium;
            color: $color-gray-5;
        }
    }
    .shadow-box {
        height: 100%;
        padding: 32px 40px 48px;
        border-radius: 8px;
        background-color: $color-bg-wt;
        box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.14);
        @include mobile {
            padding: 24px 20px 32px;
            &.like-info,
            &.recent-info {
                padding-bottom: 24px;
            }
        }
        .box-title {
            @include clearfix;
            position: relative;
            padding-bottom: 24px;
            border-bottom: 1px solid $color-border;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            color: #000;
            @include mobile {
                padding-bottom: 14px;
                font-size: 20px;
                line-height: 28px;
            }
            .title {
                display: inline-block;
                position: relative;
                &:after {
                    position: absolute;
                    top: 50%;
                    right: -40px;
                    transform: translateY(-50%);
                    width: 32px;
                    height: 32px;
                    margin-top: 1px;
                    background: url('/lg5-common/images/icons/btn-arr-32.svg') no-repeat 0 0;
                    content: '';
                    @include mobile {
                        right: -28px;
                        width: 24px;
                        height: 24px;
                        background-size: 24px;
                    }
                }
            }
            .sub-text {
                position: absolute;
                bottom: 18px;
                right: 0;
                font-weight: 400;
                @include font-small;
                @include mobile {
                    bottom: 14px;
                }
            }
        }
    }
    .board-list {
        > li {
            position: relative;
        }
        .content {
            padding-right: 92px;
            @include mobile {
                padding-right: 0;
            }
            .title {
                font-weight: 700;
                @include font-medium;
                @include textEllipsis;
            }
            .text {
                @include font-small;
            }
        }
        .progress {
            @include pc {
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px 10px;
            }
            border-radius: 8px;
            border: 1px solid $color-primary;
            font-weight: 700;
            font-size: 12px;
            line-height: 1;
            color: $color-primary;
            &.complete {
                border-color: $color-positive;
                color: $color-positive;
            }
            @include mobile {
                display: inline-block;
                margin-top: 8px;
                padding: 5px 10px;
            }
        }
        .btn {
            @include pc {
                position: absolute;
                top: 0;
                right: 0;
            }
            @include mobile {
                display: inline-block;
                margin-top: 8px;
            }
        }
        &.my-board {
            > li {
                margin-top: 24px;
                &:first-child {
                    margin-top: 32px;
                    @include mobile {
                        margin-top: 24px;
                    }
                }
            }
            .content {
                .title {
                    margin-bottom: 8px;
                }
                @include mobile {
                    .title {
                        margin-bottom: 4px;
                    }
                }
            }
        }
        &.product {
            > li {
                margin-top: 28px;
                &:first-child {
                    margin-top: 32px;
                }
            }
            .content {
                .title {
                    margin-bottom: 4px;
                }
            }
            @include mobile {
                > li {
                    margin-top: 24px;
                    &:first-child {
                        margin-top: 24px;
                    }
                }
                .content {
                    .title {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
    .care-info {
        .service-date {
            position: relative;
            margin-top: 8px;
            padding: 16px 0;
            border-top: 1px solid $color-default;
            background-color: $color-bg;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            @include mobile {
                margin-top: 10px;
                padding: 12px 0;
                font-size: 14px;
                line-height: 22px;
            }
            &:before {
                position: absolute;
                top: -13px;
                right: 0;
                left: 0;
                height: 12px;
                background-color: #fff;
                content: '';
            }
        }
        .service-info {
            padding: 10px 8px 0;
            li {
                display: flex;
                align-items: flex-end;
                margin-top: 12px;
                .name {
                    //flex: 1;
                    font-weight: 700;
                    @include font-medium;
                }
                .text {
                    //flex: 1;
                    @include font-small;
                }
            }
            @include mobile {
                padding: 8px 12px 0;
                li {
                    flex-direction: column;
                    margin-top: 16px;
                    .name {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
    .process-wrap {
        > ul > li {
            position: relative;
            margin-top: 40px;
            &:first-child {
                margin-top: 32px;
            }
            @include mobile {
                margin-top: 40px;
                &:first-child {
                    margin-top: 24px;
                }
            }
        }
        .title {
            //position: absolute;
            //@include calc(top,50%,-6px);
            //top: 50%;
            //left: 0;
            //transform: translateY(-50%);
            display: block;
            margin-bottom: 6px;
            font-weight: 700;
            @include font-medium;
            @include mobile {
                display: block;
                //position: static;
                //transform: translateY(0);
                margin-bottom: 0;
            }
        }
        .process-list {
            font-size: 0;
            @include pc {
                // padding: 0 6px;
            }
            @include mobile {
                margin:0 -11px;
            }
            > li {
                position: relative;
                display: inline-block;
                // padding-top: 12px;
                padding-bottom: 26px;
                &:not(:last-child) {
                    padding-right: 48px;
                    &:after {
                        position: absolute;
                        @include calc(top,50%,16px);
                        right: 8px;
                        width: 32px;
                        height: 32px;
                        background: url('/lg5-common/images/icons/btn-arr-32.svg') no-repeat 0 0;
                        content: '';
                    }
                }
                @include mobile {
                    padding-top: 16px;
                    padding-bottom: 23px;
                    &:not(:last-child) {
                        padding-right: 16px;
                        &:after {
                            @include calc(top,50%,4px);
                            right: 0;
                            width: 16px;
                            height: 16px;
                            background-size: 16px;
                        }
                    }
                }
            }
            .box {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 64px;
                height: 52px;
                // border-radius: 50%;
                // background-color: $color-bg;
                text-align: center;

                dt {
                    position: absolute;
                    bottom: -26px;
                    left: 0;
                    right: 0;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 22px;
                    text-align: center;
                }
                dd {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 52px;
                    &.zero {
                        color: $color-gray-1;
                    }
                }
                @include mobile {
                    width: 49px;
                    height: 33px;
                    dt {
                        bottom: -23px;
                        font-size: 11px;
                        line-height: 19px;
                        letter-spacing:-1px;
                    }
                    dd {
                        font-size: 24px;
                        line-height: 33px;
                    }
                }
            }
        }
    }

    .my-management.shopping {
        .product-items {
            margin: 32px 0 0;
            @include mobile {
                margin-top: 24px;
            }
            > li {
                width: 100%;
                padding: 0 0 40px;
                @include mobile {
                    padding-bottom: 24px;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                .item {
                    width: 100%;
                    box-shadow: none;

                    @include pc {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        min-height: 122px;
                        padding: 0 0 0 122px;
                        .product-image {
                            position: absolute;
                            top: 0;
                            left: 0;
                            //display: table-cell;
                            width: 122px;
                        }
                    }

                    .product-info {
                        padding-top: 0;
                        padding-left: 32px;
                        .product-name {
                            margin-top: 0;
                            a {
                                @include font-medium;
                            }
                        }
                    }
                    .price-area {
                        padding-top: 18px;
                        padding-left: 32px;
                        .original {
                            @include font-small;
                        }
                        .total {
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }

                    @include mobile {
                        display: table;
                        padding: 0;
                        .product-image {
                            display: table-cell;
                            width: 100px;
                            min-height: 100px;
                            vertical-align: middle;
                        }
                        .product-info {
                            padding-top: 0;
                            padding-left: 16px;
                            .product-name {
                                max-height: 44px;
                            }
                        }
                        .price-area {
                            padding-top: 8px;
                            padding-left: 16px;
                            flex-direction: column-reverse;
                            align-items: flex-start;
                            .total {
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    .recommend-product {
        margin: 0 -12px;
        @include mobile {
            margin: 0 -16px;
        }
        .indi-wrap {
            bottom: -24px;
        }
        .slide-controls .btn-arrow {
            &.prev {
                left: -58px;
                @media screen and (max-width: 1536px) {
                    left: -15px;
                }
                @include mobile {
                    left:4px;
                }
            }
            &.next {
                right: -58px;
                @media screen and (max-width: 1536px) {
                    right: -15px;
                }
                @include mobile {
                    right:4px;
                }
            }
        }
        .slide-track {
            display:flex;
            flex-wrap:wrap;
        }
        .slide-conts {
            padding: 12px;
        }
        @include mobile {
            .slide-content {
                padding: 0 16px 0 4px;
            }
            .slide-conts {
                padding-left: 0;
                &:first-child {
                    padding-left: 12px;
                }
            }
        }
        .item-box {
            position: relative;
            height:100%;
            padding: 0 32px 40px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.14);
            @include mobile {
                display: inline-block;
                width: 61.944vw;
                padding: 0 28px 32px;
            }
        }
        .product-image {
            a {
                display: block;
                text-align: center;
                img {
                    width: 100%;
                    max-width: 262px;
                }
            }
        }
        .product-info {
            min-height: 76px;
            @include mobile {
                min-height: 65px;
            }
            .product-name {
                margin-top: 8px;
                a {
                    font-weight: 700;
                    @include font-medium;
                    @include textClipClamp(2);
                }
            }
            .sku {
                display: inline-block;
                margin-right: 6px;
                @include font-small;
                vertical-align: top;
            }
            .review-info {
                display: inline-block;
                font-size: 0;
                vertical-align: top;
                .star,
                .average-rating,
                .review-count {
                    display: inline-block;
                    @include font-small;
                }
                .star {
                    width: 20px;
                    height: 20px;
                    margin-right: 2px;
                    background: url("/lg5-common/images/icons/icon-star-off-20.svg") no-repeat 0 0;
                    vertical-align: -5px;
                    &.is-review {
                        background-image: url("/lg5-common/images/icons/icon-star-on-20.svg");
                    }
                }
            }
        }
        .price-area {
            margin-top: 12px;
            font-size: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: baseline;
            .total {
                margin-right: 8px;
                font-weight: 700;
                @include font-large;
            }
            .original {
                position: relative;
                display: inline-block;
                @include font-small;
                color: $color-gray-1;
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background-color: #616161;
                    content: '';
                }
            }
        }
    }
}