<div class="cont-wrap">
    <!-- 210407 퀵링크추가 -->
    <!-- <div class="story-section link-story">
        <div class="inner">
            <h2 class="title">LG가전의 다양한 스토리를 만나보세요</h2>
            <div class="story-link">
                <ul>
                    <li>
                        <a href="/story/lifestyle">라이프스타일</a>
                    </li>
                    <li>
                        <a href="/story/trend">트렌드</a>
                    </li>
                    <li>
                        <a href="/story/expert-curation">대명장의 추천</a>
                    </li>
                    <li>
                        <a href="/story/only-and-best">Only &amp; Best</a>
                    </li>
                    <li>
                        <a href="/story/use-ful-tip">가전꿀팁</a>
                    </li>
                    <li>
                        <a href="/story/hands-on-reviews">고객 리뷰</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    
    <!-- //210407 퀵링크추가 --> 
    
    <div class="story-section user_story">
        <!-- 2021-09-10 BTOCSITE-188 삭제 -->
        <!-- <div class="story-title-area">
            <div class="title-inner">
                <h2 class="title">구독하고 있는 <br>스토리를 확인해보세요</h2>
                <div class="tag-subscribe-link">
                    <a href="#" class="btn-link tagmnger-btn">구독 중 태그 관리</a>
                </div>
            </div>
        </div> -->
        <!-- //2021-09-10 BTOCSITE-188 삭제 -->

        <div class="inner">
            <!--  [D] height 체크해주세요 -->
            <!-- BTOCSITE-6881 : div class="label-stroy" 추가  -->
            <div class="flexbox-wrap">
            </div>
            <button type="button" class="btn-moreview block"><span>스토리 더보기</span></button>
        </div>
    </div>

    
    <!-- 2021-09-08 BTOCSITE 188 추가 -->
    <div class="story-section tag-subscribe-story3" style="display:none;"></div>
    <!-- //2021-09-08 BTOCSITE 188 추가 -->

    <div class="story-section new_story">
        <div class="inner">
            <h2 class="title">새로운 스토리를 확인해보세요.</h2>
            <!-- BTOCSITE-6881 : div class="label-stroy" 추가  -->
            <div class="flexbox-wrap">
            </div>
            <button type="button" class="btn-moreview block"><span>스토리 더보기</span></button>
        </div>
    </div>

    <!-- 2021-09-15 BTOCSITE 188 위치 이동 -->
    <div class="story-section tag-subscribe-story" style="display:none;"></div>
    <!-- //2021-09-15 BTOCSITE 188 위치 이동 -->
    <!-- 20210518 추가 -->   
    <div class="story-section tag-subscribe-story2" style="display:none;"></div>
    <!-- //20210518 추가 --> 

    <div class="story-section">
        <div class="inner">
            <!-- 210402_문구수정 -->
            <h2 class="title">실제 사용 리뷰를 확인해보세요</h2>
            <!-- //210402_문구수정 -->
            <div class="story-review slide-wrap">
                <div class="indi-wrap">
                    <ul class="indi-conts ui_carousel_dots">
                        <li><button type="button" class="btn-indi"><span class="blind">{{no}}번 내용 보기</span></button></li>
                    </ul>
                </div>
                <div class="slide-content ui_carousel_list">
                    <!-- 210402_문구수정 -->
                    <!-- 210406_문구및링크수정 -->
                    <div class="flexbox-wrap slide-track ui_carousel_track">
                        @@loop('./common/modules/story-list.html', [
                            {
                                "carousel" : true,
                                "boxType" : "review",
                                "image" : "data-src='/lg5-common/images/STS/img-story-review-01.jpg'",
                                "flag" : "고객리뷰",
                                "title" : "식기를 씻는 것<br>그 이상의 깨끗함", 
                                "link" : "생활가전",
                                "all_link" : "/story/hands-on-reviews/dishwashers",
                                "sns" : [
                                    {"class" : "blog", "text" : "네이버 블로그"},
                                    {"class" : "post", "text" : "네이버 포스트"}
                                ]
                            },{
                                "carousel" : true,
                                "boxType" : "review",
                                "image" : "data-src='/lg5-common/images/STS/img-story-review-02.jpg'",
                                "flag" : "고객리뷰",
                                "title" : "세상의 모든 요리<br>DIOS 광파오븐 하나로!",
                                "link" : "TV/AV",
                                "all_link" : "/story/hands-on-reviews/ovens",
                                "sns" : [
                                    {"class" : "instagram", "text" : "인스타그램"},
                                    {"class" : "blog", "text" : "네이버 블로그"},
                                    {"class" : "post", "text" : "네이버 포스트"}
                                ]
                            },{
                                "carousel" : true,
                                "boxType" : "review",
                                "image" : "data-src='/lg5-common/images/STS/img-story-review-03.jpg'",
                                "flag" : "고객리뷰",
                                "title" : "사운드핏 노이즈 캔슬링<br>블루투스 이어폰, 톤 프리",
                                "link" : "뷰티/의료기기",
                                "all_link" : "/story/hands-on-reviews/bluetooth",
                                "sns" : [
                                    {"class" : "instagram", "text" : "인스타그램"}
                                ]
                            },{
                                "carousel" : true,
                                "boxType" : "review",
                                "image" : "data-src='/lg5-common/images/STS/img-story-review-04.jpg'",
                                "flag" : "고객리뷰",
                                "title" : "자유로운 방향전환<br>모니터 360 시리즈",
                                "link" : "모바일",
                                "all_link" : "/story/hands-on-reviews/monitor",
                                "sns" : [
                                    {"class" : "instagram", "text" : "인스타그램"}
                                ]
                            }
                        ])
                    </div>
                    <!-- //210406_문구및링크수정 -->
                    <!-- //210402_문구수정 -->
                </div>
                <div class="slide-controls">
                    <button type="button" class="btn-arrow prev ui_carousel_prev"><span class="blind">이전</span></button>
                    <button type="button" class="btn-arrow next ui_carousel_next"><span class="blind">다음</span></button>
                </div>
            </div>
            <!-- 210402_링크수정 -->
            <div class="btn-more">
                <!-- 210422 title 추가 -->
                <a href="/story/hands-on-reviews" class="btn-link" title="고객리뷰"><span>더보기</span></a>
                <!-- //210422 title 추가 -->
            </div>
            <!-- //210402_링크수정 -->
        </div>
    </div>
</div>
