<!-- 케어십 할인 혜택 -->
<article id="@@popupID" class="popup-wrap">
    <header class="pop-header">
        <h1 class="tit"><span>케어십 할인 혜택</span></h1>
    </header>
    <section class="pop-conts no-footer">
        <div class="layer-monthly-payment">
            <h2 class="small-title"><span>의무 사용기간 1년</span></h2>
            <div class="payment-info">
                <ul class="info-list">
                    <li>
                        <dl>
                            <dt>예상 이용 요금</dt>
                            <dd>월 19,900원</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>제휴카드 [신한] LG전자 렌탈애(愛)]</dt>
                            <dd class="discount">-13,000원</dd>
                        </dl>
                    </li>
                    <li class="total-payment">
                        <dl>
                            <dt>최적 혜택가격</dt>
                            <dd>월 6,600원</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <h2 class="small-title"><span>연차별 납부금액</span></h2>
            <div class="tb_row">
                <table>
                    <caption>무상할인 제공 및 의무사용하는 기간 동안의 연차별 납부금액 안내</caption>
                    <colgroup>
                        <col style="width:33.33%">
                        <col style="width:33.33%">
                        <col style="">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">연차 (납부회차)</th>
                        <th scope="col">납부금액</th>
                        <th scope="col">비고</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1년차 (1~12회차)</td>
                        <td>19,900원</td>
                        <td>6,12 무상할인</td>
                    </tr>
                    <tr>
                        <td>2년차 (13~24회차)</td>
                        <td>19,900원</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3년차 (25~36회차)</td>
                        <td>36,900원</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4년차 (37~48회차)</td>
                        <td>13,900원</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5년차 (49~60회차)</td>
                        <td>13,900원</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="btm_info">
                    <dl>
                        <dt>무상할인 적용회차 (2회)</dt>
                        <dd>납부 월 회차 : <span class="point">6,12회차</span> 월 납부 금액 할인 (0원)</dd>
                    </dl>
                    <p>최적 혜택가격은 적용 제휴카드에 따라 다르게 계산되며, 제휴카드의 전월 실적에 따라 케어솔루션 월 요금이 청구할인 됩니다.</p>
                </div>
            </div>
            <div class="btn-area">
                <a href="#" class="btn dark-gray size ui_modal_close">제휴카드 할인 혜택 자세히 보기</a>
            </div>
            <div class="notice-box">
                @@include('./common/modules/bullet-list.html', {
                    "topBorder" : true,
                    "bulletTit" : "케어십 안내",
                    "bulletTxt" : [
                        "케어십 요금은 대표요금제 기준이며, 요금제에 따라 제공되는 혜택이 다를 수 있습니다.",
                        "해지의사가 없을시, 1년 단위로 자동 연장됩니다."
                    ]
                })
            </div>
        </div>
    </section>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<!-- // 케어십 할인 혜택 -->