<!-- components/partials/KRP0010-pap-modal-award.html -->
<!-- 수상내역 -->
<div class="modal-layers">
    <div class="modal fade modal-fix show award-layer" id="" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog modal-more-contents-layer-popup" role="document">
            <div class="modal-content">
                <button type="button" class="modal-close ui_modal_close" data-dismiss="modal">Close</button>
                <div class="modal-body">

                    <div class="modal-header">
                        <h3 class="modal-title">수상내역</h3>
                    </div>
                    <div class="modal-content-inner">
                        <ul class="awards-list">
                            <li>
                                <img data-src="/lg5-common/images/KRP0010/img-ncsi.jpg" src="/lg5-common/images/KRP0010/img-ncsi.jpg" alt="" class="icon-area">
                                <span>TV 2년 연속 국가고객만족도(NCSI) TV 부문 1위 </span>
                            </li>
                            <li>
                                <img data-src="/lg5-common/images/KRP0010/img-ncsi.jpg" src="/lg5-common/images/KRP0010/img-ncsi.jpg" alt="" class="icon-area">
                                <span>REDDOT Design Awards 2019 수상</span>
                            </li>
                            <li>
                                <img data-src="/lg5-common/images/KRP0010/img-ncsi.jpg" src="/lg5-common/images/KRP0010/img-ncsi.jpg" alt="" class="icon-area">
                                <span>초단초점 HU80KA 2019 대한민국 퍼스트브랜드 대상 수상</span>
                            </li>
                            <li>
                                <img data-src="/lg5-common/images/KRP0010/img-ncsi.jpg" src="/lg5-common/images/KRP0010/img-ncsi.jpg" alt="" class="icon-area">
                                <span>투사형 HU80KA iF Design Award 2018</span>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-btn-area align-right">
                        <a href="#" class="btn bd-pink btn-small" role="button">더 많은 수상내역 보기</a>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // 수상내역 -->
