<!-- components/partials/KRP0010-pdp-modal.html -->

<!-- img view layer -->
<div class="modal-layers">
    <div class="modal fade modal-fix show pdp-layer" id="" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog modal-more-contents-layer-popup" role="document">
            <div class="modal-content">
                <button type="button" class="modal-close ui_modal_close" data-dismiss="modal">Close</button>
                <div class="modal-body">
                    <!-- content STR-->
                    <div class="modal-pdp-visual-image">
                        <img src="/lg5-common/images/KRP0010/@sample-img.jpg" data-src="/lg5-common/images/KRP0010/@sample-tv.jpg" class="lazyload" alt="">
                    </div>
                    <div class="zoom-btn-area">
                        <a href="#" class="zoom-btn zoom-plus" role="button"><span>확대</span></a>
                        <a href="#" class="zoom-btn zoom-minus" role="button"><span>축소</span></a>
                    </div>
                    <div class="modal-pdp-thumbnail-nav">
                        <ul class="modal-thumbnail-list">
                            <li class="modal-thumbnail">
                                <a href="#" data-link-area="product_summary-360_view" data-link-name="65UK6300PUE">
                                    <img data-src="/lg5-common/images/KRP0010/icon-360.png" src="/lg5-common/images/KRP0010/icon-360.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM 360view" data-loaded="true">
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#" data-link-area="product_summary-video" data-link-name="65UK6300PUE">
                                    <img data-src="/lg5-common/images/KRP0010/icon-movie.png" src="/lg5-common/images/KRP0010/icon-movie.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM Video" data-loaded="true">
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#">
                                    <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#">
                                    <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#">
                                    <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#">
                                    <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#">
                                    <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#">
                                    <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#">
                                    <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                                </a>
                            </li>
                            <li class="modal-thumbnail">
                                <a href="#">
                                    <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                                </a>
                            </li>
                        </ul>            
                    </div>
                    
                    <!-- // content END-->   
                </div>
            </div>
        </div>
    </div>
</div>

