<!-- components/partials/KRP0008-pap-modal-award.html -->
<!-- 수상내역 -->
<article id="@@popupID" class="popup-wrap small pop-award">
    <header class="pop-header">
        <h1 class="tit"><span>수상내역</span></h1>
    </header>
    <section class="pop-conts">
        <div class="awards-wrap">
            <ul class="awards-list">
                <li>
                    <span class="image">
                        <img data-src="/lg5-common/images/KRP0008/img-award-01.jpg" alt="">
                    </span>
                    <span class="text">TV 2년 연속 국가고객만족도(NCSI) TV 부문 1위 </span>
                </li>
                <li>
                    <span class="image">
                        <img data-src="/lg5-common/images/KRP0008/img-award-02.jpg" alt="" class="icon-area">
                    </span>
                    <span class="text">REDDOT Design Awards 2019 수상</span>
                </li>
                <li>
                    <span class="image">
                        <img data-src="/lg5-common/images/KRP0008/img-award-03.jpg" alt="" class="icon-area">
                    </span>
                    <span class="text">초단초점 HU80KA 2019 대한민국 퍼스트브랜드 대상 수상</span>
                </li>
                <li>
                    <span class="image">
                        <img data-src="/lg5-common/images/KRP0008/img-award-04.jpg" alt="" class="icon-area">
                    </span>
                    <span class="text">투사형 HU80KA iF Design Award 2018</span>
                </li>
            </ul>
        </div>
    </section>
    <footer class="pop-footer center">
        <div class="btn-group">
            <button type="button" class="btn ui_modal_close"><span>더 많은 수상내역 보기</span></button>
        </div>
    </footer>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<!-- // 수상내역 -->
