<!-- 구매 안내 레이어팝업 -->
<article id="@@popupID" class="popup-wrap small">
    <header class="pop-header">
        <h1 class="tit"><span>구매 안내</span></h1>
    </header>
    <section class="pop-conts">
        <div class="layer-careship">
            <div class="process-info">
                <div class="info-box">
                    <p>정수기, 정수기형 냉장고 제품은 정수 수질과 관련된 제품으로  케이십신청이 필수 선택입니다.</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="pop-footer center">
        <div class="btn-group">
            <button type="button" class="btn ui_modal_close"><span>확인</span></button>
        </div>
    </footer>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<!-- 구매 안내 레이어팝업 -->