<!-- 회원 구매 안내 레이어팝업 -->
<article id="@@popupID" class="popup-wrap small">
    <header class="pop-header">
        <h1 class="tit"><span>회원 구매 안내</span></h1>
    </header>
    <section class="pop-conts common-pop non-members">
        <div class="non-members-login">
            <p class="hello-desc">맥주제조기 및 홈브루 캡슐 제품 구매를 위해서는<br>
                LG전자 통합 로그인이 필요합니다.</p>
        </div>
    </section>
    <footer class="pop-footer center">
        <div class="btn-group">
            <button type="button" class="btn btn-confirm"><span>로그인하기</span></button>
        </div>
    </footer>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<!-- 회원 구매 안내 레이어팝업 -->