<!-- 주문안내 레이어팝업 -->
<article id="@@popupID" class="popup-wrap small">
    <header class="pop-header">
        <h1 class="tit"><span>주문안내</span></h1>
    </header>
    <section class="pop-conts common-pop non-members">
        <div class="non-members-login">
            <p class="hello-desc">아직 LG전자 통합몰의 회원이 아니신가요?<br>
                이미 회원이시라면 로그인 후 제품을 주문해보세요.<br>
                <em>멤버십 포인트를 포함하여 더 많은 혜택</em>을<br>
                받으실수 있습니다.<br><br>

                비회원 주문을 하시려면<br>
                &ldquo;비회원 주문하기&rdquo;를 선택해주세요.</p>
        </div>
    </section>
    <footer class="pop-footer center">
        <div class="btn-group">
            <button type="button" class="btn gray ui_modal_close"><span>비회원 주문하기</span></button>
            <button type="button" class="btn btn-confirm"><span>로그인하기</span></button>
        </div>
    </footer>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<!-- 주문안내 레이어팝업 -->