<!-- 제품 구매 안내 레이어팝업 -->
<article id="popup" class="popup-wrap">
    <header class="pop-header">
        <h1 class="tit"><span>제품 구매 안내</span></h1>
    </header>
    <section class="pop-conts">
        <div class="layer-careship">
            <div class="process-info">
                <div class="info-box">
                    <p>선택하신 제품은 케어십이 필요한 제품입니다.</p>
                    <ul class="process-list">
                        <li><span>케어십 신청</span></li>
                        <li><span>제품주문</span></li>
                        <li><span>완료</span></li>
                    </ul>
                </div>
                @@include('./common/modules/bullet-list.html', {
                    "bulletTxt" : [
                        "케어십은 친절한 케어매니저가 주기적으로 방문하여 관리해 드립니다."
                    ]
                })
            </div>
        </div>
    </section>
    <footer class="pop-footer">
        <button type="button" class="btn bd-pink"><span>확인</span></button>
    </footer>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<!-- 제품 구매 안내 레이어팝업 -->