<!-- components/partials/KRP0010-pdp-modal.html -->

<!-- img view layer -->
<article id="popup" class="popup-wrap pop-pdp-visual" style="display: block">

    <section class="pop-conts">
        <div class="pop-visual-wrap">
            <!-- default visual--->
            <div class="pop-pdp-visual-image">
                <img src="/lg5-common/images/KRP0010/@sample-img.jpg" data-src="/lg5-common/images/KRP0010/@sample-tv.jpg" class="lazyload" alt="">
            </div>

            <!-- zoom -->
            <div class="zoom-btn-area">
                <a href="#" class="zoom-btn zoom-plus" role="button"><span>확대</span></a>
                <a href="#" class="zoom-btn zoom-minus" role="button"><span>축소</span></a>
            </div>

            <!-- nav -->
            <div class="pop-pdp-thumbnail-nav">
                <ul class="pop-thumbnail-list">
                    <li class="pop-thumbnail">
                        <a href="#" data-link-area="product_summary-360_view" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/icon-360.png" src="/lg5-common/images/KRP0010/icon-360.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM 360view" data-loaded="true">
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#" data-link-area="product_summary-video" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/icon-movie.png" src="/lg5-common/images/KRP0010/icon-movie.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM Video" data-loaded="true">
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                        </a>
                    </li>
                </ul>            
            </div>

        </div>
    </section>

    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>



<div class="modal-layers">
    <div class="modal fade modal-fix show pdp-layer" id="" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog modal-more-contents-layer-popup" role="document">
            <div class="modal-content">
                <button type="button" class="modal-close ui_modal_close" data-dismiss="modal">Close</button>
                <div class="modal-body">
                    <!-- content STR-->
                    
                    
                    
                    
                    <!-- // content END-->   
                </div>
            </div>
        </div>
    </div>
</div>

