<!-- 구매 안내 레이어팝업 -->
<article id="@@popupID" class="popup-wrap small">
    <header class="pop-header">
        <h1 class="tit"><span>스펙 선택</span></h1>
    </header>
    <section class="pop-conts sibling-pop">
        <div class="layer-careship">
            <div class="process-info">
                <div class="info-box">
                    <!-- 20210607 스펙선택 추가 --> 
                    <!-- Sibling 정보 선택 -->
                    <div class="sibling-option">
                        <div class="sibling-cont">
                            <div class="sibling-select">
                                <div class="text">OS</div>
                                <div class="select-option radio select">
                                    <div class="option-list" role="radiogroup">
                                        <div role="radio" class="rdo-wrap btn-type2 " title="Windows 10 Home">
                                            <input type="radio" id="rdo0-1" name="rdo0" data-sibling-code="Win_10_home" data-sibling-group-code="16Z(D)90P_i7_OS" checked>
                                            <label for="rdo0-1">Windows 10 Home</label>
                                        </div>
                                        <div role="radio" class="rdo-wrap btn-type2 disabled" title="Windows 8 Home">
                                            <input type="radio" id="rdo0-2" name="rdo0" data-sibling-code="Win_8_home" data-sibling-group-code="16Z(D)90P_i7_OS">
                                            <label for="rdo0-2">Windows 8 Home</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sibling-select">
                                <div class="text">메모리</div>
                                <div class="select-option radio select">
                                    <div class="option-list" role="radiogroup">
                                        <div role="radio" class="rdo-wrap btn-type2" title="16 GB">
                                            <input type="radio" id="rdo1-2" name="rdo1" data-sibling-code="16" data-sibling-group-code="16Z(D)90P_i7_MEMORY" checked>
                                            <label for="rdo1-2">16 GB</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sibling-select">
                                <div class="text">저장장치</div>
                                <div class="select-option radio select">
                                    <div class="option-list" role="radiogroup">
                                        <div role="radio" class="rdo-wrap btn-type2" title="1 TB">
                                            <input type="radio" id="rdo2-4" name="rdo2" data-sibling-code="1" data-sibling-group-code="16Z(D)90P_i7_SSD" checked>
                                            <label for="rdo2-4">1 TB</label>
                                        </div>
                                        <div role="radio" class="rdo-wrap btn-type2" title="256 GB">
                                            <input type="radio" id="rdo2-5" name="rdo2" data-sibling-code="256" data-sibling-group-code="16Z(D)90P_i7_SSD">
                                            <label for="rdo2-5">256 GB</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sibling-color">
                                <div class="sibling-colorHead">
                                    <div class="text">색상</div>
                                    <div class="color-text">
                                        <span>스노우 화이트</span>
                                    </div>
                                </div>
                                <div class="select-option radio color">
                                    <div class="option-list" role="radiogroup">
                                        <div role="radio" class="chk-wrap-colorchip snow_white" title="스노우 화이트">
                                            <input type="radio" id="rdo3-9" name="rdo3" data-sibling-code="snow_white" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo3-9"><span class="blind">스노우 화이트</span></label>
                                        </div>
                                        <!--BTOCSITE-4224 컬러칩 샘플 추가-->
                                        <div role="radio" class="chk-wrap-colorchip beige_beige  disabled" title="베이지/베이지">
                                            <input type="radio" id="rdo1-4" name="rdo1" data-sibling-code="beige_beige" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-4"><span class="blind">베이지/베이지</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip beige_mint  disabled" title="베이지/민트">
                                            <input type="radio" id="rdo1-5" name="rdo1" data-sibling-code="beige_mint" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-5"><span class="blind">베이지/민트</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip beige_pink  disabled" title="베이지/핑크">
                                            <input type="radio" id="rdo1-6" name="rdo1" data-sibling-code="beige_pink" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-6"><span class="blind">베이지/핑크</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip beige_silver  disabled" title="베이지/실버">
                                            <input type="radio" id="rdo1-7" name="rdo1" data-sibling-code="beige_silver" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-7"><span class="blind">베이지/실버</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip black_black disabled" title="블랙/블랙">
                                            <input type="radio" id="rdo1-8" name="rdo1" data-sibling-code="black_black" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-8"><span class="blind">블랙/블랙</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip black_grey disabled" title="블랙/그레이">
                                            <input type="radio" id="rdo1-9" name="rdo1" data-sibling-code="black_grey" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-9"><span class="blind">블랙/그레이</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip botanic_botanic  disabled" title="보타닉/보타닉">
                                            <input type="radio" id="rdo1-10" name="rdo1" data-sibling-code="botanic_botanic" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-10"><span class="blind">보타닉/보타닉</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip botanic_sand  disabled" title="보타닉/샌드">
                                            <input type="radio" id="rdo1-11" name="rdo1" data-sibling-code="botanic_sand" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-11"><span class="blind">보타닉/샌드</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip botanic_stone  disabled" title="보타닉/스톤">
                                            <input type="radio" id="rdo1-12" name="rdo1" data-sibling-code="botanic_stone" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-12"><span class="blind">보타닉/스톤</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip gray_black disabled" title="그레이/블랙">
                                            <input type="radio" id="rdo1-13" name="rdo1" data-sibling-code="gray/black" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-13"><span class="blind">그레이/블랙</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip gray_white disabled" title="그레이/화이트">
                                            <input type="radio" id="rdo1-14" name="rdo1" data-sibling-code="gray_white" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-14"><span class="blind">그레이/화이트</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip green_green" title="그린/그린">
                                            <input type="radio" id="rdo1-15" name="rdo1" data-sibling-code="green_green" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-15"><span class="blind">그린/그린</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip green_silver" title="그린/실버">
                                            <input type="radio" id="rdo1-16" name="rdo1" data-sibling-code="green_silver" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-16"><span class="blind">그린/실버</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip grey_grey disabled" title="그레이/그레이">
                                            <input type="radio" id="rdo1-17" name="rdo1" data-sibling-code="grey_grey" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-17"><span class="blind">그레이/그레이</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip mint_beige  disabled" title="민트/베이지">
                                            <input type="radio" id="rdo1-18" name="rdo1" data-sibling-code="mint_beige" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-18"><span class="blind">민트/베이지</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_manhattan-midnight" title="맨해튼 미드나잇">
                                            <input type="radio" id="rdo1-19" name="rdo1" data-sibling-code="objet_manhattan-midnight" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-19"><span class="blind">맨해튼 미드나잇</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip pink_beige  disabled" title="핑크/베이지">
                                            <input type="radio" id="rdo1-20" name="rdo1" data-sibling-code="pink_beige" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-20"><span class="blind">핑크/베이지</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip sand_sand  disabled" title="샌드/샌드">
                                            <input type="radio" id="rdo1-21" name="rdo1" data-sibling-code="sand_sand" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-21"><span class="blind">샌드/샌드</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip silver_beige  disabled" title="실버/베이지">
                                            <input type="radio" id="rdo1-22" name="rdo1" data-sibling-code="silver_beige" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-22"><span class="blind">실버/베이지</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip silver_green" title="실버/그린">
                                            <input type="radio" id="rdo1-23" name="rdo1" data-sibling-code="silver_green" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-23"><span class="blind">실버/그린</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip silver_mint  disabled" title="실버/민트">
                                            <input type="radio" id="rdo1-24" name="rdo1" data-sibling-code="silver_mint" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-24"><span class="blind">실버/민트</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip silver_pink  disabled" title="실버/핑크">
                                            <input type="radio" id="rdo1-25" name="rdo1" data-sibling-code="silver_pink" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-25"><span class="blind">실버/핑크</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip silver_silver" title="실버/실버">
                                            <input type="radio" id="rdo1-26" name="rdo1" data-sibling-code="silver_silver" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-26"><span class="blind">실버/실버</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip stone_sand  disabled" title="스톤/샌드">
                                            <input type="radio" id="rdo1-27" name="rdo1" data-sibling-code="stone_sand" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-27"><span class="blind">스톤/샌드</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip white_gray disabled" title="화이트/그레이">
                                            <input type="radio" id="rdo1-28" name="rdo1" data-sibling-code="white/gray" data-sibling-group-code="OBJ453_color">
                                            <label for="rdo1-28"><span class="blind">화이트/그레이</span></label>
                                        </div>

                                        <!--BTOCSITE-4224 PLP,PDP 시블링-->
                                        <div role="radio" class="chk-wrap-colorchip av_charcoal-black" title="">
                                            <input type="radio" id="av_charcoal-black" name="rdo1" data-sibling-code="av_charcoal-black" data-sibling-group-code="" checked="checked">
                                            <label for="av_charcoal-black"><span class="blind">차콜블랙</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip av_pearl-white" title="">
                                            <input type="radio" id="av_pearl-white" name="rdo1" data-sibling-code="av_pearl-white" data-sibling-group-code="">
                                            <label for="av_pearl-white"><span class="blind">펄화이트</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip av_blue-black" title="">
                                            <input type="radio" id="av_blue-black" name="rdo1" data-sibling-code="av_blue-black" data-sibling-group-code="">
                                            <label for="av_blue-black"><span class="blind">블루블랙</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip av_silver-white" title="">
                                            <input type="radio" id="av_silver-white" name="rdo1" data-sibling-code="av_silver-white" data-sibling-group-code="">
                                            <label for="av_silver-white"><span class="blind">실버화이트</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip av_berry-blue" title="">
                                            <input type="radio" id="av_berry-blue" name="rdo1" data-sibling-code="av_berry-blue" data-sibling-group-code="">
                                            <label for="av_berry-blue"><span class="blind">베리블루</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip av_bubble-black" title="">
                                            <input type="radio" id="av_bubble-black" name="rdo1" data-sibling-code="av_bubble-black" data-sibling-group-code="">
                                            <label for="av_bubble-black"><span class="blind">버블검</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip av_sour-lemon" title="">
                                            <input type="radio" id="av_sour-lemon" name="rdo1" data-sibling-code="av_sour-lemon" data-sibling-group-code="">
                                            <label for="av_sour-lemon"><span class="blind">사우어 레몬</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip fridge_manhattan-midnight" title="">
                                            <input type="radio" id="fridge_manhattan-midnight" name="rdo1" data-sibling-code="fridge_manhattan-midnight" data-sibling-group-code="">
                                            <label for="fridge_manhattan-midnight"><span class="blind">맨해튼미드나잇</span></label>
                                        </div>
                                       <!-- objet_botanic: -96px -240px, 보타닉 컬러는 기존 선언된 class 와 중복되어 기존소스로 사용하는것으로 함.
                                       <div role="radio" class="chk-wrap-colorchip objet_botanic" title="">
                                            <input type="radio" id="objet_botanic" name="rdo1" data-sibling-code="objet_botanic" data-sibling-group-code="">
                                            <label for="objet_botanic"><span class="blind">보타닉</span></label>
                                        </div>-->
                                        <div role="radio" class="chk-wrap-colorchip objet_stone" title="">
                                            <input type="radio" id="objet_Stone" name="rdo1" data-sibling-code="objet_Stone" data-sibling-group-code="">
                                            <label for="objet_Stone"><span class="blind">스톤</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip kimchi_shinee-pure" title="">
                                            <input type="radio" id="kimchi_shinee-pure" name="rdo1" data-sibling-code="kimchi_shinee-pure" data-sibling-group-code="">
                                            <label for="kimchi_shinee-pure"><span class="blind">샤이니퓨어</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip oven_shinee-pure-silver" title="">
                                            <input type="radio" id="oven_shinee-pure-silver" name="rdo1" data-sibling-code="oven_shinee-pure-silver" data-sibling-group-code="">
                                            <label for="oven_shinee-pure-silver"><span class="blind">샤이니 퓨어 실버</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip oven_pure-black" title="">
                                            <input type="radio" id="oven_pure-black" name="rdo1" data-sibling-code="oven_pure-black" data-sibling-group-code="">
                                            <label for="oven_pure-black"><span class="blind">퓨어 실버</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip washing_black-stainless" title="">
                                            <input type="radio" id="washing_black-stainless" name="rdo1" data-sibling-code="washing_black-stainless" data-sibling-group-code="">
                                            <label for="washing_black-stainless"><span class="blind">블랙 스테인레스</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip washing_modern-stainless" title="">
                                            <input type="radio" id="washing_modern-stainless" name="rdo1" data-sibling-code="washing_modern-stainless" data-sibling-group-code="">
                                            <label for="washing_modern-stainless"><span class="blind">모던 스테인레스</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip washing_middle-black" title="">
                                            <input type="radio" id="washing_middle-black" name="rdo1" data-sibling-code="washing_middle-black" data-sibling-group-code="">
                                            <label for="washing_middle-black"><span class="blind">미들 블랙</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_calm-beige_calm-green" title="">
                                            <input type="radio" id="objet_calm-beige_calm-green" name="rdo1" data-sibling-code="objet_calm-beige_calm-green" data-sibling-group-code="">
                                            <label for="objet_calm-beige_calm-green"><span class="blind">카밍베이지+카밍그린</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_calm-green_calm-beige" title="">
                                            <input type="radio" id="objet_calm-green_calm-beige" name="rdo1" data-sibling-code="objet_calm-green_calm-beige" data-sibling-group-code="">
                                            <label for="objet_calm-green_calm-beige"><span class="blind">카밍그린+카밍 베이지</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_calm-beige_Iron-gray" title="">
                                            <input type="radio" id="objet_calm-beige_Iron-gray" name="rdo1" data-sibling-code="objet_calm-beige_Iron-gray" data-sibling-group-code="">
                                            <label for="objet_calm-beige_Iron-gray"><span class="blind">카밍베이지+아이언그레이</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_calm-green_Iron-gray" title="">
                                            <input type="radio" id="objet_calm-green_Iron-gray" name="rdo1" data-sibling-code="objet_calm-green_Iron-gray" data-sibling-group-code="">
                                            <label for="objet_calm-green_Iron-gray"><span class="blind">카밍그린+아이언그레이</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_calm-beige_fantasy-silver" title="">
                                            <input type="radio" id="objet_calm-beige_fantasy-silver" name="rdo1" data-sibling-code="objet_calm-beige_fantasy-silver" data-sibling-group-code="">
                                            <label for="objet_calm-beige_fantasy-silver"><span class="blind">카밍베이지+판타지실버</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_calm-green_fantasy-silver" title="">
                                            <input type="radio" id="objet_calm-green_fantasy-silver" name="rdo1" data-sibling-code="objet_calm-green_fantasy-silver" data-sibling-group-code="">
                                            <label for="objet_calm-green_fantasy-silver"><span class="blind">카밍그린+판타지실버</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_calm-beige_black" title="">
                                            <input type="radio" id="objet_calm-beige_black" name="rdo1" data-sibling-code="objet_calm-beige_black" data-sibling-group-code="">
                                            <label for="objet_calm-beige_black"><span class="blind">카밍베이지+풀블랙</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip objet_calm-green_black" title="">
                                            <input type="radio" id="objet_calm-green_black" name="rdo1" data-sibling-code="objet_calm-green_black" data-sibling-group-code="">
                                            <label for="objet_calm-green_black"><span class="blind">카밍그린+풀블랙</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip air_milktea-latte" title="">
                                            <input type="radio" id="air_milktea-latte" name="rdo1" data-sibling-code="air_milktea-latte" data-sibling-group-code="">
                                            <label for="air_milktea-latte"><span class="blind">밀크티라떼</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip air_new-metal-shine" title="">
                                            <input type="radio" id="air_new-metal-shine" name="rdo1" data-sibling-code="air_new-metal-shine" data-sibling-group-code="">
                                            <label for="air_new-metal-shine"><span class="blind">뉴메탈샤인</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip air_romantic-rose" title="">
                                            <input type="radio" id="air_romantic-rose" name="rdo1" data-sibling-code="air_romantic-rose" data-sibling-group-code="">
                                            <label for="air_romantic-rose"><span class="blind">로맨틱로즈</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip air_dark-blue" title="">
                                            <input type="radio" id="air_dark-blue" name="rdo1" data-sibling-code="air_dark-blue" data-sibling-group-code="">
                                            <label for="air_dark-blue"><span class="blind">다크블루</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip air_rose-gold" title="">
                                            <input type="radio" id="air_rose-gold" name="rdo1" data-sibling-code="air_rose-gold" data-sibling-group-code="">
                                            <label for="air_rose-gold"><span class="blind">로즈골드</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip silver_manhattan" title="">
                                            <input type="radio" id="silver_manhattan" name="rdo1" data-sibling-code="silver_manhattan" data-sibling-group-code="">
                                            <label for="silver_manhattan"><span class="blind">실버/맨해튼미드나잇</span></label>
                                        </div>
                                        <!--//BTOCSITE-4224 PLP,PDP 시블링-->

                                        <!-- [S] BTOCSITE-10889 컬러칩 샘플 추가-->
                                        <div role="radio" class="chk-wrap-colorchip kvadrat_beige" title="">
                                            <input type="radio" id="kvadrat_beige" name="rdo1" data-sibling-code="kvadrat_beige" data-sibling-group-code="">
                                            <label for="kvadrat_beige"><span class="blind">크바드라트 베이지</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip kvadrat_redwood" title="">
                                            <input type="radio" id="kvadrat_redwood" name="rdo1" data-sibling-code="kvadrat_redwood" data-sibling-group-code="">
                                            <label for="kvadrat_redwood"><span class="blind">크바드라트 레드우드</span></label>
                                        </div>
                                        <div role="radio" class="chk-wrap-colorchip kvadrat_green" title="">
                                            <input type="radio" id="kvadrat_green" name="rdo1" data-sibling-code="kvadrat_green" data-sibling-group-code="">
                                            <label for="kvadrat_green"><span class="blind">크바드라트 그린</span></label>
                                        </div>
                                        <!--//[E] BTOCSITE-10889 컬러칩 샘플 추가-->


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Sibling 정보 선택 -->
                    <!--//20210607 스펙선택 추가 -->   
                </div>
                
            </div>
        </div>
    </section>
    <!--2021-06-28 하단 버튼 마크업 수정 -->   
    <footer class="pop-footer center sibling-footer">
        <div class="btn-group">
            <!-- 비활성화일때 disabled 속성 추가 -->
            <button type="button" class="btn size-l btn-sibling-select" disabled><span>선택 완료</span></button>
        </div>
    </footer>
    <!--//2021-06-28 하단 버튼 마크업 수정 -->   
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<!-- 구매 안내 레이어팝업 -->
