<!-- components/partials/KRP0010-pdp-modal.html -->

<!-- img view layer -->
<article id="pop-pdp-visual" class="popup-wrap pop-pdp-visual">

    <section class="pop-conts">
        <div class="pop-visual-wrap">
            
            <!-- zoom -->
            <div class="zoom-btn-area">
                <a href="#" class="zoom-btn zoom-plus" role="button"><span>확대</span></a>
                <a href="#" class="zoom-btn zoom-minus" role="button"><span>축소</span></a>
            </div>

            <!-- default visual
            <div class="pop-pdp-visual-image">
                <img src="/lg5-common/images/KRP0010/@sample-img.jpg" data-src="/lg5-common/images/KRP0010/@sample-tv.jpg" class="lazyload" alt="">
            </div>
            --->
            <ul class="slider default slider-for" id="modal_detail_target">
                <!--
                <li class="item view">
                    <div class="iframe-area" data-href="https://www.lg.com/us/images/360/ha/black_kitchen/refrigerator/LNXS30996D.html" data-type="360" data-title="TAKE US FOR A SPIN"></div>
                </li>
                <li class="item video">
                    <div class="iframe-area" data-href="https://www.youtube.com/watch?v=A1BF1kmkvp8" data-type="youtube" data-title="Video Title"></div>
                </li> -->
                <li class="item image">
                    <div class="zoom-area">
                        <img data-pc-src="/lg5-common/images/KRP0010/@sample-img.jpg" data-m-src="/lg5-common/images/KRP0010/@sample-img.jpg" alt="">
                    </div>
                </li>
            </ul>    
            <!-- nav -->
            <div class="pop-pdp-thumbnail-nav">
                <ul class="pop-thumbnail-list">
                    <li class="pop-thumbnail">
                        <a href="#" data-link-area="product_summary-360_view" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/icon-360.png" src="/lg5-common/images/KRP0010/icon-360.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM 360view" data-loaded="true">
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                    <li class="pop-thumbnail">
                        <a href="#" data-link-area="product_summary-video" data-link-name="65UK6300PUE">
                            <img data-src="/lg5-common/images/KRP0010/icon-movie.png" src="/lg5-common/images/KRP0010/icon-movie.png" class="lazyloaded" alt="LG Vacuum Cleaners A902RM Video" data-loaded="true">
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                    <li class="pop-thumbnail active">
                        <a href="#">
                            <img data-src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" class="lazyload" alt="LG Vacuum Cleaners A902RM 3" src="http://www.lg.com/us/images/cell-phones/md05995196/md05995197/gallery/small03.jpg" >
                            <p class="hidden pc">graphic description : </p>
                            <p class="hidden mobile">graphic description : </p>
                        </a>
                    </li>
                </ul>            
            </div>

        </div>
    </section>

    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>


