<!-- components/partials/KRP0008-pap-modal-award.html -->
<!-- 패키지 모델 -->
<article id="packageProductSelectPopup_01" class="popup-wrap popup-package-model">
    <header class="pop-header">
        <h1 class="tit"><span>제품 선택</span></h1>
    </header>
    <section class="pop-conts">
        <p class="desc">제품을 선택하시면 해당 제품의 고객지원 정보를 확인하실 수 있습니다.</p>
        <div class="model-wrap">
            <ul class="model-list">
                <li>
                    <span class="rdo-wrap btn-type2">
                        <!-- data-model-path 링크 -->
                        <input type="radio" id="rdo-1_pop1" name="rdoModel_pop1" data-model-path="/support/product-manuals?title=manual&mktModelCd=S833W32">
                        <label for="rdo-1_pop1">
                            <span class="thumb">
                                <img data-src="/lg5-common/images/dummy/@img-product2.jpg" alt="">
                            </span>
                            <div class="text-wrap">
                                <p class="model-name">LG 디오스 오브제컬렉션 얼음정수기냉장고</p>
                                <p class="model-code">W821SGS453</p>
                            </div>
                        </label>
                    </span>
                </li>
                <li>
                    <span class="rdo-wrap btn-type2">
                        <input type="radio" id="rdo-2_pop1" name="rdoModel_pop1" data-model-path="/2">
                        <label for="rdo-2_pop1">
                            <span class="thumb">
                                <img data-src="/lg5-common/images/dummy/@img-product3.jpg" alt="">
                            </span>
                            <div class="text-wrap">
                                <p class="model-name">LG 오브제컬렉션 럭셔리 (매립배관형)</p>
                                <p class="model-code">FQ25LBNBA1M</p>
                            </div>
                        </label>
                    </span>
                </li>
                <li>
                    <span class="rdo-wrap btn-type2">
                        <input type="radio" id="rdo-3_pop1" name="rdoModel_pop1" data-model-path="/3">
                        <label for="rdo-3_pop1">
                            <span class="thumb">
                                <img data-src="/lg5-common/images/dummy/@img-product2.jpg" alt="">
                            </span>
                            <div class="text-wrap">
                                <p class="model-name">LG 트롬 스타일러 오브제컬렉션</p>
                                <p class="model-code">S3GOF</p>
                            </div>
                        </label>
                    </span>
                </li>
                <li>
                    <span class="rdo-wrap btn-type2">
                        <input type="radio" id="rdo-4_pop1" name="rdoModel_pop1" data-model-path="/4">
                        <label for="rdo-4_pop1">
                            <span class="thumb">
                                <img data-src="/lg5-common/images/dummy/@img-product2.jpg" alt="">
                            </span>
                            <div class="text-wrap">
                                <p class="model-name">LG 트롬 스타일러 오브제컬렉션</p>
                                <p class="model-code">S3GOF</p>
                            </div>
                        </label>
                    </span>
                </li>
            </ul>
        </div>
    </section>
    <div class="bottomFixCulculateArea">
        <footer class="pop-footer center">
            <div class="btn-group">
                <button type="button" class="btn ui_modal_close_pack"><span>확인</span></button>
            </div>
        </footer>
    </div>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>
<!-- // 패키지 모델 -->
