
<article id="@@popupID" class="popup-wrap small">
    <header class="pop-header">
        <h1 class="tit"><span>@@tit</span></h1>
    </header>
    <section class="pop-conts no-footer">
        <p class="com-pop-tit">@@subtit</p>
        <ul class="com-pop-list">
            @@for ( var i=0; i < list.length; i++ ) {
            <li>
                <a href="#n">`+list[i]+`</a>
            </li>
            }
        </ul>
    </section>
    <button type="button" class="btn-close ui_modal_close"><span class="blind">닫기</span></button>
</article>