<!-- toast meassage -->
<div class="toast-meassage">
    <div class="toast-meassage-box">
        <p class="toast-text">
            @@text1
        </p>
        <div class="btn-area"><a href="#" role="button">확인</a></div>
    </div>

    <div class="toast-meassage-box">
        <p class="toast-text">
            @@text2
        </p>
        <div class="btn-area"><a href="#" role="button">확인</a></div>
    </div>

    <div class="toast-meassage-box">
        <p class="toast-text">
            @@text3
        </p>
        <div class="btn-area"><a href="#" role="button">확인</a></div>
    </div>
</div>
