@charset "UTF-8";

@import "../../app";

.membership {
    // MAIN
    .main-wrap {
        padding-bottom:120px;
        @include mobile {
            padding-bottom:60px;
        }
        .about-membership {
            position:relative;
            max-width:1284px;
            margin:213px auto 0;
            padding:156px 40px 122px;
            background:#f4f4f4;
            &::before {
                content:' ';
                position:absolute;
                top:-95px;
                left:50%;
                width:380px;
                height:253px;
                margin-left:-200px;
                background:url("/lg5-common/images/membership/img-card.png") center 0 no-repeat;
                background-size:100% auto;
            }
            @include mobile {
                margin-top:135px;
                padding:107px 20px 60px;
                &::before {
                    top:-70px;
                    width:280px;
                    height:180px;
                    margin-left:-140px;
                }
            }
            .section {
                margin-top:120px;
                text-align:center;
                @include mobile {
                    margin-top:60px;
                }
                &:first-child {
                    margin-top:0;
                }
                &.vip {
                    .bg {
                        display:block;
                        max-width:629px;
                        margin:0 auto 40px;
                        img {
                            width:100%;
                            vertical-align:top;
                        }
                    }
                }
                h2 {
                    color:#111;
                    font-size:24px;
                    line-height:32px;
                    font-weight:700;
                }
                .desc {
                    margin-top:12px;
                    color:#111;
                    font-size:16px;
                    line-height:24px;
                    em {
                        color:#EC455A;
                    }
                    br {
                        display:none;
                        @include mobile {
                            display:block;
                        }
                    }
                }
                &.vip {
                    .desc {
                        br {
                            display:block;
                            @include mobile {
                                display:none;
                            }
                        }
                    }
                }
                .mbs-list {
                    margin:40px -12px 0;
                    font-size:0;
                    text-align:center;
                    li {
                        display:inline-block;
                        width:calc(100% / 3);
                        max-width:(303px + 24px);
                        padding:0 12px;
                        vertical-align:top;
                        dl {
                            padding:77px 0 76px;
                            border-radius:4px;
                            background:#fff;
                            dt {
                                color:#111;
                                font-size:20px;
                                line-height:36px;
                                font-weight:700;
                                &::before {
                                    content:' ';
                                    display:block;
                                    width:50px;
                                    height:50px;
                                    margin:0 auto 12px;
                                }
                            }
                            dd {
                                margin-top:4px;
                                color:#111;
                                font-size:16px;
                                line-height:24px;
                            }
                        }
                        @for $i from 1 through 3 {
                            &.li#{$i} dt::before {
                                background:url("/lg5-common/images/membership/icon-about#{$i}.svg") center no-repeat;
                                background-size:100%;
                            }
                        }
                    }
                    @include mobile {
                        margin:40px 0 0;
                        li {
                            display:block;
                            width:100%;
                            max-width:100%;
                            margin-top:20px;
                            padding:0;
                            &:first-child {
                                margin-top:0;
                            }
                        }
                    }
                }
                .btn {
                    min-width:auto;
                    margin:40px auto 0;
                    padding-left:31px;
                    padding-right:31px;
                    @include mobile {
                        margin-top:32px;
                    }
                }
            }
        }
        .quick-links {
            max-width:(1066px + 40px);
            margin:118px auto 0;
            padding:0 20px;
            @include mobile {
                margin-top:60px;
            }
            .mem-info-tabs {
                position:relative;
                @include clearfix;
                .tabs {
                    float:left;
                    width:50%;
                    padding-right:12px;
                    li {
                        padding-top:36px;
                        padding-bottom:36px;
                        border-top:1px solid #ddd;
                        &:first-child {
                            border-top:none;
                        }
                        .tab {
                            color:#aaa;
                            .t-tit {
                                font-size:20px;
                                line-height:30px;
                                font-weight:700;
                            }
                            .t-desc {
                                margin-top:4px;
                                font-size:16px;
                                line-height:24px;
                            }
                        }
                        .btn {
                            display:none;
                            min-width:auto;
                            margin-top:24px;
                            padding-left:31px;
                            padding-right:31px;
                        }
                        &.on {
                            padding-bottom:(52px + 36px + 24px);
                            .btn {
                                display:inline-block;
                            }
                        }
                        &.on .tab {
                            color:#111;
                            .t-tit {
                                &::after {
                                    content:' ';
                                    display:inline-block;
                                    width:0;
                                    height:0;
                                    margin-top:11px;
                                    margin-left:20px;
                                    border-top:5px solid transparent;
                                    border-bottom:5px solid transparent;
                                    border-left:8px solid #111;
                                    vertical-align:top;
                                }
                            }
                        }
                    }
                    @media screen and (max-width:840px) {
                        float:none;
                        overflow-x:auto;
                        -webkit-overflow-scrolling: touch;
                        width:auto;
                        margin:0 -20px;
                        padding:0 20px;
                        font-size:0;
                        white-space:nowrap;
                        li {
                            display:inline-block;
                            margin-left:20px;
                            padding:0;
                            border-top:none;
                            &:first-child {
                                margin-left:0;
                            }
                            .tab {
                                .t-desc {
                                display:none;
                                }
                            }
                            &.on {
                                padding:0;
                            }
                            &.on .tab .t-tit::after {
                                display:none;
                            }
                        }
                    }
                }
                .tab-contents {
                    position:static;
                    float:right;
                    width:50%;
                    padding-left:12px;
                    .m-desc {
                        display:none;
                        margin-bottom:12px;
                        color:#111;
                        font-size:16px;
                        line-height:24px;
                    }
                    .btn {
                        position:absolute;
                        left:0;
                        min-width:auto;
                        padding-left:31px;
                        padding-right:31px;
                        &.btn1 {
                            top:142px;
                        }
                        &.btn2 {
                            top:297px;
                        }
                        &.btn3 {
                            top:428px;
                        }
                    }
                    .bg-img {
                        display:block;
                        max-width:520px;
                        height:auto;
                        img {
                            width:100%;
                            height:auto;
                            vertical-align:top;
                        }
                    }
                    @media screen and (max-width:840px) {
                        float:none;
                        width:100%;
                        padding-left:0;
                        padding-top:18px;
                        .m-desc {
                            display:block;
                        }
                        .btn {
                            position:relative;
                            left:initial;
                            &.btn1, &.btn2, &.btn3 {
                                top:initial;
                            }
                        }
                        .bg-img {
                            max-width:100%;
                            padding-top:32px;
                            text-align:center;
                            img {
                                max-width:400px;
                            }
                        }
                    }
                }
            }
        }
    }

    // SUB PAGES
    .cont-wrap {
        padding:51px 40px 93px;
        background:#f4f4f4;
        @include mobile {
            padding:48px 12px 96px;
        }

        // layout
        .section {
            max-width:1066px;
            margin:40px auto 0;
            &:first-child {
                margin-top:0;
            }
            .sec-tit {
                margin-bottom:19px;
                color:#111;
                font-size:16px;
                line-height:24px;
                font-weight:700;
            }
            .cont-box {
                padding:56px;
                border-radius:4px;
                background:#fff; 
            }
            .tit-desc {
                color:#111;
                font-size:16px;
                line-height:24px;
                em {
                    color:#EC455A;
                }
            }
            @include mobile {
                .sec-tit {
                    margin-bottom:12px;
                }
                .cont-box {
                    padding:56px 12px;
                }
            }
        }

        //partials
        .benefit-list {
            margin:56px -40px 0;
            font-size:0;
            text-align:center;
            &:first-child {
                margin-top:0;
                @include mobile {
                    margin-top:-24px;
                }
            }
            li {
                display:inline-block;
                position:relative;
                width:33%;
                padding:108px 40px 32px;
                vertical-align:top;
                &::before {
                    content:' ';
                    position:absolute;
                    top:16px;
                    left:50%;
                    width:80px;
                    height:80px;
                    margin-left:-40px;
                }
                @each $num in bn01, bn02, bn03 {
                    &.#{$num}::before {
                        background:url('/lg5-common/images/membership/icon-#{$num}.jpg') center no-repeat;
                        background-size:100%;
                    }
                }
                dl {
                    color:#111;
                    font-size:16px;
                    line-height:24px;
                    text-align:center;
                    dt {
                        margin-bottom:2px;
                        font-weight:700;
                    }
                    dd {
                        word-break:keep-all;
                    }
                }
            }
            @include mobile {
                margin-left:12px;
                margin-right:0;
                li {
                    display:block;
                    width:auto;
                    margin:24px auto 0;
                    padding:10px 0 10px 72px;
                    &::before {
                        top:0;
                        left:0;
                        width:60px;
                        height:60px;
                        margin-left:0;
                    }
                    dl {
                        text-align:left;
                        dd br {
                            display:none;
                        }
                    }
                }
            }
        }
        .membership-shops {
            margin:-14px -7px 0;
            font-size:0;
            li {
                display:inline-block;
                width:25%;
                margin-top:14px;
                vertical-align:top;
                dl {
                    height:144px;
                    margin:0 7px;
                    padding:32px 0;
                    border-radius:4px;
                    background:#f4f4f4;
                    text-align:center;
                    dt {
                        max-width:164px;
                        height:48px;
                        margin:0 auto;
                        font-size:0;
                    }
                    dd {
                        margin-top:8px;
                        font-size:0;
                        .flag {
                            display:inline-block;
                            margin:0 2px;
                            padding:3px 7px;
                            border:1px solid #aaa;
                            border-radius:4px;
                            background:transparent;
                            color:#616161;
                            font-size:12px;
                            line-height:16px;
                        }
                    }
                }
                @for $i from 1 through 13 {
                    &.ci#{$i} dl dt {
                        background:url('/lg5-common/images/membership/img-ci#{$i}.jpg') center no-repeat;
                        background-size:100%;
                    }
                }
            }
            @media screen and (max-width:991px) {
                li {
                    width:50%;
                }
            }
            @include mobile {
                li {
                    width:100%;
                }
            }
        }
        .svc-prod-list {
            margin:8px -12px 0;
            font-size:0;
            li {
                display:inline-block;
                width:calc(100% / 3);
                margin-top:24px;
                vertical-align:top;
                dl {
                    height:400px;
                    margin:0 12px;
                    border-radius:4px;
                    background:#f4f4f4;
                    dt {
                        position:relative;
                        margin-bottom:4px;
                        padding-top:16px;
                        color:#111;
                        font-size:16px;
                        line-height:24px;
                        font-weight:700;
                        .img {
                            display:block;
                            margin-bottom:32px;
                            text-align:center;
                            img {
                                width:100%;
                                height:auto;
                                vertical-align:top;
                            }
                            @include mobile {
                                margin-bottom:16px;
                                img {
                                    max-width:190px;
                                }
                            }
                        }
                        p {
                            padding:0 40px;
                            @include mobile {
                                padding:0 12px;
                            }
                        }
                    }
                    dd {
                        margin-top:1px;
                        padding:0 40px;
                        color:#111;
                        font-size:14px;
                        line-height:20px;
                        word-break:keep-all;
                        &.ex {
                            color:#616161;
                        }
                        @include mobile {
                            padding:0 12px;
                        }
                    }
                }
            }
            @include mobile {
                margin:20px -6px 0;
                li {
                    width:50%;
                    margin-top:12px;
                    dl {
                        height:300px;
                        margin:0 6px;
                    }
                }
            }
        }
        .vip-step {
            margin:0 -56px;
            padding:0 56px;
            font-size:0;
            overflow-x:auto;
            white-space:nowrap;
            @include mobile {
                margin:0 -12px;
                padding:0 12px;
            }
            li {
                display:inline-block;
                position:relative;
                margin-left:24px;
                padding-right:48px;
                vertical-align:top;
                &:first-child {
                    margin-left:0;
                }
                &::after {
                    content:' ';
                    position:absolute;
                    top:47px;
                    right:0;
                    width:24px;
                    height:24px;
                    background:url('/lg5-common/images/membership/icon-arrow.svg') center no-repeat;
                    background-size:100%;
                }
                &:last-child {
                    padding-right:0;
                }
                &:last-child::after {
                    display:none;
                }
                dl {
                    width:140px;
                    dt {
                        color:#111;
                        font-size:16px;
                        line-height:24px;
                        em {
                            display:block;
                            color:#EC455A;
                            font-size:14px;
                            line-height:20px;
                        }
                    }
                    dd {
                        margin-top:12px;
                        color:#515151;
                        font-size:14px;
                        line-height:20px;
                    }
                }
            }
        }
        .btn-tabs-wrap {
            .tabs {
                margin:0 -12px;
                font-size:0;
                li {
                    display:inline-block;
                    width:calc(100% / 3);
                    max-width:220px;
                    padding:0 12px;
                    vertical-align:top;
                    a {
                        display:block;
                        padding:23px 0;
                        border:1px solid #ddd;
                        border-radius:4px;
                        color:#a1a1a1;
                        font-size:14px;
                        line-height:20px;
                        font-weight:700;
                        text-align:center;
                        &::before {
                            content:' ';
                            display:block;
                            width:48px;
                            height:48px;
                            margin:0 auto;
                        }
                        @each $name in internet, phone, shop {
                            &.#{$name}::before {
                                background:url('/lg5-common/images/membership/icon-#{$name}.svg') center no-repeat;
                                background-size:100%;
                            }
                        }
                    }
                    &.on {
                        a {
                            border-color:#EC455A;
                            color:#EC455A;
                            @each $name in internet, phone, shop {
                                &.#{$name}::before {
                                    background:url('/lg5-common/images/membership/icon-#{$name}-on.svg') center no-repeat;
                                    background-size:100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .tabs-contents {
            padding-top:60px;
        }
        .link-list {
            margin-top:32px;
            font-size:0;
            li {
                display:inline-block;
                margin-left:16px;
                vertical-align:top;
                &:first-child {
                    margin-left:0;
                }
                a {
                    display:block;
                    color:#EC455A;
                    font-size:14px;
                    line-height:20px;
                }
            }
        }
        .qr-list {
            margin-top:32px;
            font-size:0;
            li {
                display:inline-block;
                margin-left:36px;
                vertical-align:top;
                &:first-child {
                    margin-left:0;
                }
                .img {
                    display:block;
                    width:88px;
                    border:1px solid #ddd;
                    img {
                        width:100%;
                        height:auto;
                        vertical-align:top;
                    }
                }
                p {
                    margin-top:8px;
                    color:#111;
                    font-size:16px;
                    line-height:24px;
                }
            }
        }
        .btn-wrap {
            max-width:1066px;
            margin:32px auto 0;
            font-size:0;
            &.right {
                text-align:right;
            }
            .btn {
                min-width:auto;
                margin-left:24px;
                padding-left:32px;
                padding-right:32px;
                &:first-child {
                    margin-left:0;
                }
                &.text-type {
                    min-width:auto;
                    margin-top:14px;
                    padding:0;
                    border:none;
                    background:transparent;
                    color:#EC455A;
                    font-weight:500;
                }
            }
        }
    }
}