@charset "UTF-8";

@import "../../utilities/variables";
@import "../../utilities/mixins";

.mypage {
    //멤버십 포인트 조회
    .point-use-list {
        margin:32px 0 0;
        padding:24px 0;
        border-top:1px solid #616161;
        border-bottom:1px solid #616161;
        font-size:16px;
        line-height:24px;
        font-weight:500;
        @include mobile {
            line-height:19px;
            border-bottom-color:#ddd;
        }
        .lists {
            li {
                display:table;
                table-layout:fixed;
                width:100%;
                margin-top:4px;
                padding:0 16px;
                @include mobile {
                    margin-top:16px;
                }
                &:first-child {
                    margin-top:0;
                }
                p {
                    display:table-cell;
                    vertical-align:middle;
                    &.date {
                        width:122px;
                    }
                    &.desc {
                        width:auto;
                        text-align:left;
                    }
                    &.point {
                        min-width:112px;
                        text-align:right;
                        @include mobile {
                            span {
                                float:left;
                                width:50%;
                                .pc_txt {
                                    display:none;
                                }
                            }
                        }
                        .mo_txt {
                            display:none;
                            @include mobile {
                                display:block;
                                color:#616161;
                                text-align:left;
                            }
                        }
                    }
                    @include mobile {
                        float:left;
                        width:100% !important;
                        margin-top:8px;
                        &:first-child {
                            margin-top:0;
                        }
                    }
                }
    
            }
        }
        dl.total {
            @include clearfix;
            padding:20px 16px 0;
            @include mobile {
                padding-top:32px;
            }
            dt, dd {
                float:left;
                width:50%;
                font-weight:700;
            }
            dd {
                text-align:right;
            }
        }
    }

    // 영수증 등록
    .form-wrap {
        margin-top:32px;
        @include mobile {
            margin-top:24px;
        }
        &:first-child {
            margin-top:0;
        }
        .tooltip-tit {
            font-size:0;
        }
        .tit-txt {
            display:inline-block;
            font-size:14px;
            line-height:20px;
            vertical-align:top;
        }
        .btn-receipt {
            float:right;
            color:#EC455A;
            font-size:14px;
            line-height:20px;
            font-weight:500;
            @include mobile {
                position:absolute;
                top:40px;
                right:0;
            }
        }
        .tooltip-wrap {
            margin-left:4px;
            .img_barcode {
                max-width:214px;
                margin-bottom:10px;
                img {
                    display:block;
                    width:100%
                }
            }
        }
        .input-wrap {
            &.barcode {
                position:relative;
                width:465px;
                @include mobile {
                    width:100%;
                }
                input {
                    padding-right:120px;
                    @include mobile {
                        padding-right:15px;
                    }
                }
                .btn-confirm {
                    position:absolute;
                    top:15px;
                    right:15px;
                    padding-right:28px;
                    @include mobile {
                        position:relative;
                        top:0;
                        right:0;
                        float:right;
                        margin-top:8px;
                    }
                    &:after {
                        content:'';
                        display:block;
                        position:absolute;
                        top:0;
                        right:0;
                        width:24px;
                        height:24px;
                        border:1px solid #EC455A;
                        border-radius:50%;
                    }
                    span {
                        position:relative;
                        color:#EC455A;
                        font-size:16px;
                        line-height:24px;
                        font-weight:500;
                        &:before {
                            content:'';
                            display:block;
                            position:absolute;
                            top:7px;
                            right:-16px;
                            width:1px;
                            height:11px;
                            background:#EC455A;
                        }
                        &:after {
                            content:'';
                            display:block;
                            position:absolute;
                            top:12px;
                            right:-21px;
                            width:11px;
                            height:1px;
                            background:#EC455A;
                        }
                    }
                }
            }
        }

        .spot-select {
            max-width:465px;
            @include mobile {
                max-width:100%;
            }
        }
    }
    // 나의 멤버십 정보
    .mymem-lists {
        font-size:0;
        @include mobile {
            padding:20px;
            margin:32px 0 37px;
            background:#f4f4f4;
            border-radius:4px;
        }
        li {
            display:inline-block;
            vertical-align:top;
            width:33.3%;
            height:166px;
            padding:56px 0;
            border-left:1px solid #ddd;
            @include mobile {
                width:100%;
                height:auto; 
                padding:0;
                margin-top:16px;
                border-left:none;
                &:first-child {
                    margin-top:0;
                }
            }
            &:first-child {
                border-left:none;
            }
            dl {
                text-align:center;
                @include mobile {
                    text-align:left;
                }
                dt {
                    color:#111;
                    @include mobile {
                        display:inline-block;
                        width:50%;
                        vertical-align:middle;
                    }
                    p {
                        display:inline-block;
                        font-size:14px;
                        line-height:20px;
                        vertical-align:top;
                        @include mobile {
                            line-height:18px;
                        }
                    }
                    .tooltip-wrap {
                        margin-left:5px;
                        @include mobile {
                            margin-top:2px;
                        }
                    }
                }
                dd {
                    margin-top:4px;
                    color:#EC455A;
                    font-size:20px;
                    line-height:20px;
                    font-weight:700;
                    @include mobile {
                        display:inline-block;
                        width:50%;
                        margin:0;
                        vertical-align:middle;
                        font-size:14px;
                        line-height:18px;
                        text-align:right;
                    }
                }
            }
        }
    }
    .mems-info {
        @include clearfix;
        .lists {
            float:left;
            @include mobile {
                margin-top:-8px;
            }
            li {
                margin-top:8px;
                @include mobile {
                    margin-top:16px;
                }
                &:first-child {
                    margin-top:0;
                }
                dl {
                    @include clearfix;
                    font-size:16px;
                    line-height:24px;
                    dt {
                        float:left;
                        width:135px;
                        color:#616161;
                        @include mobile {
                            width:80px;
                        }
                    }
                    dd {
                        margin-left:135px;
                        color:#111;
                        @include mobile {
                            margin-left:80px;
                        }
                    }
                }
            }
        }
        .btn-text {
            float:right;
            border-color:transparent;
            font-size:14px;
            line-height:20px;
            font-weight:500;
            @include mobile {
                position:absolute;
                top:50px;
                right:0;
            }
        }
    }
    .svc-prod-list {
        margin:36px -12px 16px;
        font-size:0;
        li {
            display:inline-block;
            width:calc(100% / 3);
            margin-top:24px;
            vertical-align:top;
            dl {
                height:412px;
                margin:0 12px;
                border-radius:4px;
                background:#f4f4f4;
                dt {
                    position:relative;
                    margin-bottom:4px;
                    padding-top:16px;
                    color:#111;
                    font-size:16px;
                    line-height:24px;
                    font-weight:700;
                    .img {
                        display:block;
                        margin-bottom:32px;
                        text-align:center;
                        img {
                            width:100%;
                            height:auto;
                            vertical-align:top;
                        }
                        @include mobile {
                            margin-bottom:16px;
                            img {
                                max-width:190px;
                            }
                        }
                    }
                    p {
                        padding:0 40px;
                        @include mobile {
                            padding:0 12px;
                        }
                        &.num {
                            font-size:14px;
                            line-height:20px;
                            font-weight:400;
                        }
                    }
                }
                dd {
                    padding:0 40px;
                    color:#111;
                    font-size:14px;
                    line-height:20px;
                    word-break:keep-all;
                    &.ex {
                        color:#616161;
                    }
                    @include mobile {
                        padding:0 12px;
                    }
                }
            }
        }
        @include mobile {
            margin:20px -6px 0;
            li {
                width:50%;
                margin-top:12px;
                dl {
                    height:300px;
                    margin:0 6px;
                }
            }
        }
    }
}
