@charset "UTF-8";

@import "../components-app";

.KRP0024 {
	.btn {
        display: inline-block;
        min-width:132px;
        padding:11px 0;
        border: 1px solid #111;
        border-radius: 8px;
        background-color: transparent;
        line-height: 24px;
        @include font-family($font-weight-medium);
        font-size: 16px;
        color: #111;
        text-align: center;
		vertical-align: top;
		@include mobile {
			font-size:14px;
		}

        &.btn-outline-primary {
            border-color: #212121;
            background-color: #fff;
            color: #111;
        }
        &.btn-primary {
            border-color: #111;
            background-color: #111;
            color: #fff;
        }
    }
	.title {
		margin-bottom:36px;
		font-size:24px;
		line-height:32px;
		@include textClipClamp(1);
		@include mobile {
			margin-bottom:18px;
			font-size:16px;
			line-height:24px;
		}
		* {
			font-size:inherit;
			line-height:inherit;
		}
	}

	.slide-wrap {
		padding-bottom:34px;
		.indi-wrap {
			bottom:0;
			.indi-conts {
				display:inline-block;
				vertical-align:middle;
			}
		}
		.slide-content {
			margin:0 -10px;
			.slide-conts {
				padding:0 10px;
			}
		}
		.slide-controls {
			top:calc((100% - 34px) / 2);
			button.prev {
				left:-28px;
			}
			button.next {
				right:-28px;
			}
		}
		.ui_carousel_play {
            .btn-play {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-left: 12px;
                border-radius: 50%;
                background-color: #adadad;
                font-size: 0;
            }
            &.play {
                .btn-play {
                    &:after {
                        position: absolute;
                        @include calc(top,50%,4px);
                        @include calc(left,50%,3px);
                        border-left: 7px solid #fff;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        content: '';
                    }
                }
            }
            &.stop {
                .btn-play {
                    &:before,
                    &:after {
                        position: absolute;
                        @include calc(top,50%,4px);
                        width: 2px;
                        height: 8px;
                        background-color: #fff;
                        content: '';
                    }
                    &:before {
                        @include calc(left,50%,3px);
                    }
                    &:after {
                        @include calc(left,50%,-1px);
                    }
                }
            }
        }
	}

	.best-review-wrap {
		overflow:hidden;
		border-radius:4px;
		& > .inner {
			display:flex;
			@include mobile {
				flex-direction:column;
			}
			.review-visual {
				display:flex;
				flex-basis:49%;
				@include mobile {
					flex-basis:auto;
				}
				& .bg {
					flex-grow:1;
					background: {
						position:center center;
						size:cover;
					}
					@include mobile {
						height:400px;
					}
				}
			}
			.review-info {
				flex-grow:1;
				flex-basis:51%;
				padding:56px;
				background-color:#dde7e6;
				@include mobile {
					flex-grow:0;
					flex-basis:auto;
					padding:40px 24px 40px 28px;
				}
				.info-title {
					display:block;
					font-weight:700;
					font-size:24px;
					line-height:32px;
					@include textClipClamp(2);
					@include mobile {
						font-size:18px;
						line-height:22px;
					}
				}
				.info-txt {
					display:block;
					margin-top:16px;
					font-weight:400;
					font-size:16px;
					line-height:24px;
					@include textClipClamp(3);
					@include mobile {
						font-size:14px;
						line-height:18px;
					}
				}
				.info-bot-area {
					margin-top:56px;
					@include mobile {
						margin-top:28px;
					}
				}
			}
		}
	} //.best-review-wrap

}
