<!-- // BTOCSITE-2193 : 홈메인 운영 어드민 메뉴 개설 -->
<div class="scene-cover">
    <!-- 메인 section 1 -->
    <div class="scene scene-renew">
        <a href="https://www.lge.co.kr/air-conditioners" class="scene-cond" target="_blank">
            <div class="img only-desktop">
                <img src="/lg5-common/images/MA/main_hero_test_pc.jpg" alt="LG WHISEN 타워에어컨">
            </div>
            <div class="img only-mobile">
                <img src="/lg5-common/images/MA/main_hero_test_mobile.jpg" alt="LG WHISEN 타워에어컨">
            </div>
            <div class="text-link">
                <p class="bi-svg"><img class="lg-bi-main lg-bi-air-conditioner" src="https://www.lge.co.kr/kr/svg/images/lg-bi-air-conditioner-objet-white.svg" alt="LG WHISEN타워 에어컨 Objet Collection"></p>
            </div>                               
        </a>
        <div class="text-cont">
            <div class="title">
                <h3 class="only-desktop">
                    <span>에어의 모든 것을<br>컨트롤하다(pc)</span>
                </h3>
                <h3 class="only-mobile">
                    <span>에어의 모든 것을<br>컨트롤하다(mobile)</span>
                </h3>
            </div>
            <p class="desc only-desktop">
                <span>강력한 시원함은 물론(pc)</span>
                <span>바람이 직접오지 않아 기분 좋은 휘센</span>
            </p>
            <p class="desc only-mobile">
                <span>강력한 시원함은 물론(mobile)</span>
                <span>바람이 직접오지 않아 기분 좋은 휘센</span>
            </p>
            <div class="btn-wrap">
                <a href="/air-conditioners/fq20pbnga2-akorg" class="btn border size-main" data-contents="에어컨의 모든 것을 컨트롤하다"><span>제품 보기</span></a>                      
            </div>
        </div>                               
    </div>                                                                
    <!-- //메인 section 1 -->

    <!-- 메인 section 2 -->
    <div class="scene scene-renew">
        <a href="/lg-objet-collection">
            <div class="img only-desktop">
                <div class="video" data-src="https://www.lge.co.kr/lg5-common/images/MA/img-main-00" data-m-src="https://www.lge.co.kr/kr/main/main/assets/objet_main_mo" data-options="playsinline muted" data-ext="mp4" data-poster-src="/lg5-common/images/MA/img-main-00.png" data-poster-m-src="https://www.lge.co.kr/kr/main/main/assets/objet_main_mo.jpg" data-alt="LG WHISEN 타워에어컨"></div>
            </div>
            <div class="img only-mobile">
                <div class="video" data-src="https://www.lge.co.kr/kr/main/main/assets/objet_main_mo" data-m-src="https://www.lge.co.kr/kr/main/main/assets/objet_main_mo" data-options="playsinline muted" data-ext="mp4" data-poster-src="/lg5-common/images/MA/img-main-00.png" data-poster-m-src="https://www.lge.co.kr/kr/main/main/assets/objet_main_mo.jpg" data-alt="LG WHISEN 타워에어컨"></div>
            </div>  
            <div class="text-link">
                <p class="bi-svg"><img class="lg-bi-main lg-bi-air-conditioner" src="/lg5-common/images/MA/lg-bi-objet-white.png" alt="LG Objet Collection"></p>
            </div>
        </a>
        <div class="text-cont">
            <h3 class="title">
                공간 인테리어 가전
            </h3>
            <p class="desc">
                컬렉션 할수록 특별해지는 당신의 공간,<br/>
                당신의 라이프
            </p>
            <div class="btn-wrap">
                <a href="/lg-objet-collection" class="btn border size-main" data-contents="공간인테리어 가전"><span>체험 하기</span></a>                      
                <a href="/story/only-and-best/objet-collection-detail-story" class="btn border size-main" data-contents="공간인테리어 가전"><span>스토리 보기</span></a>
            </div>
        </div>
    </div>                                                           
    <!-- //메인 section 2 -->
            
    <!-- 메인 section 3 -->
    <div class="scene scene-renew">
        <a href="/air-conditioners/fq25lbnba2">
            <div class="img only-desktop">
                <div class="video" data-src="https://www.lge.co.kr/kr/main/main/assets/air-conditioner_main_pc" data-m-src="https://www.lge.co.kr/kr/main/main/assets/air-conditioner_main_mo" data-options="playsinline muted" data-ext="mp4" data-poster-src="https://www.lge.co.kr/kr/main/main/assets/air-conditioner_main_pc.jpg" data-poster-m-src="https://www.lge.co.kr/kr/main/main/assets/air-conditioner_main_mo.jpg" data-alt="LG WHISEN 타워에어컨"></div>
            </div>                         
            <div class="img only-mobile">                                    
                <div class="video" data-src="https://www.lge.co.kr/kr/main/main/assets/air-conditioner_main_mo" data-m-src="https://www.lge.co.kr/kr/main/main/assets/air-conditioner_main_mo" data-options="playsinline muted" data-ext="mp4" data-poster-src="https://www.lge.co.kr/kr/main/main/assets/air-conditioner_main_pc.jpg" data-poster-m-src="https://www.lge.co.kr/kr/main/main/assets/air-conditioner_main_mo.jpg" data-alt="LG WHISEN 타워에어컨"></div>
            </div>
            <div class="text-link">
                <p class="bi-svg"><img class="lg-bi-main lg-bi-air-conditioner" src="/lg5-common/images/MA/lg-bi-oled-evo-white.png" alt="LG 올레드 evo"></p>
            </div>                               
        </a>
        <div class="text-cont">
            <h3 class="title">
                스스로 빛을 내 차원이<br>
                다른 TV
            </h3>
            <p class="desc">
                더 선명하고 밝은 화질의<br>
                차원이 다른 올레드를 만나보세요
                </p>
            <div class="btn-wrap">
                <a href="/air-conditioners/fq20pbnga2-akorg" class="btn border size-main" data-contents="에어컨의 모든 것을 컨트롤하다"><span>제품 보기</span></a>                      
            </div>
        </div>                                
    </div>                               
    <!-- //메인 section 3 -->
                
    <!-- 메인 section 4 -->
    <div class="scene scene-renew">
        <a href="/vacuum-cleaners/ro971wa">
            <div class="img only-desktop">                                    
                <div class="video" data-src="https://www.lge.co.kr/kr/main/main/assets/codezero_main_pc" data-m-src="https://www.lge.co.kr/kr/main/main/assets/codezero_main_mo" data-options="playsinline muted" data-ext="mp4" data-alt="LG Objet Collection" data-poster-src="https://www.lge.co.kr/kr/main/main/assets/codezero_main_pc.jpg" data-poster-m-src="https://www.lge.co.kr/kr/main/main/assets/codezero_main_mo.jpg"></div>
            </div>                                    
            <div class="img only-mobile">                                    
                <div class="video" data-src="https://www.lge.co.kr/kr/main/main/assets/codezero_main_mo" data-m-src="https://www.lge.co.kr/kr/main/main/assets/codezero_main_mo" data-options="playsinline muted" data-ext="mp4" data-alt="LG Objet Collection" data-poster-src="https://www.lge.co.kr/kr/main/main/assets/codezero_main_pc.jpg" data-poster-m-src="https://www.lge.co.kr/kr/main/main/assets/codezero_main_mo.jpg"></div>
            </div>
            <div class="text-link">
                <p class="bi-svg"><img class="lg-bi-main lg-bi-air-conditioner" src="/lg5-common/images/MA/lg-bi-oled-evo-white.png" alt="LG 올레드 evo"></p>
            </div>
        </a>
        <div class="text-cont">
            <h3 class="title">
                청소 로봇이 생긴다면
            </h3>
            <p class="desc">
                인공지능으로 한번 더 진화한 새로워진 청소로봇을 소개합니다
            </p>
            <div class="btn-wrap"> 
                <a href="/vacuum-cleaners/ro971wa" class="btn border size-main" data-contents="우리집에 청소 로봇이 생긴다면"><span>제품 보기</span></a>               
            </div>
        </div>
    </div>                              
    <!-- //메인 section 4 -->
</div>                                   
<!-- //BTOCSITE-2148:pc메인 페이지 수정 2021-07-23 -->
            
<div class="section-cover">
    <!-- 210424 내용추가 -->
    <div class="section">
        <div class="tit-wrap">
            <p class="tit">당신이 원하는 삶을 누려보세요</p>
        </div>
        <div class="recom-list-slide slide-wrap">
            <div class="slide-content ui_carousel_list">
                <ul class="slide-track ui_carousel_track">
                    <li class="slide-conts ui_carousel_slide">
                        <a href="/lg-thinq" class="slide-box">
                            <span class="bg ui_bg_switch" style="background-image:url('/lg5-common/images/MA/img-main-desired-life-01.jpg');" 
                            data-pc-src="/lg5-common/images/MA/img-main-desired-life-01.jpg" 
                            data-m-src="/lg5-common/images/MA/img-main-desired-life-01-m.jpg" 
                            aria-hidden="hidden"
                            data-current-image="/lg5-common/images/MA/img-main-desired-life-01.jpg"></span>
                            <div class="text-area type-r fc-white">
                                <p class="tit">ThinQ가 <span class="br">알아서 챙겨주니까!</span><span class="br-a">Think Wise. Be Free.</span></p>
                                <span class="arr">자세히 보기</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 스토리 추가 -->
    <div class="section">
        <div class="tit-wrap">
            <p class="tit">다양한 스토리를 만나보세요</p>
        </div>
        <div class="recom-list-slide slide-wrap">
            <div class="slide-content ui_carousel_list">
                <ul class="slide-track ui_carousel_track">
                    <li class="slide-conts ui_carousel_slide">
                        <a href="/story/hands-on-reviews/styler" class="slide-box">
                            <span class="bg ui_bg_switch" style="background-image:url('https://www.lge.co.kr/kr/main/main/assets/storybanner_styler_mo.jpg');" 
                            data-pc-src="https://www.lge.co.kr/kr/main/main/assets/storybanner_styler_pc.jpg" 
                            data-m-src="https://www.lge.co.kr/kr/main/main/assets/storybanner_styler_mo.jpg" 
                            aria-hidden="hidden" 
                            data-current-image="https://www.lge.co.kr/kr/main/main/assets/storybanner_styler_mo.jpg"></span>
                            <div class="text-area fc-black">
                                <p class="tit">트롬 스타일러<br>여름철 사용 꿀팁</p>
                                <span class="arr" data-contents="트롬 스타일러 여름철 사용 꿀팁">스토리 더보기</span>                      
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //스토리 추가 -->
    <!-- //210424 내용추가 -->
    <div class="section">
        <div class="tit-wrap">
            <!-- 210330_문구수정 -->
            <p class="tit">아직 고민이라면, 이렇게 하세요</p>
            <!-- //210330_문구수정 -->
        </div>
        <div class="item-box-wrap type1">
            <ul>
                <li>
                    <a href="https://wwwstg.lge.co.kr/my-collection/product-curation"> <!-- 210303_링크추가 -->
                        <div class="item-box">
                            <!-- 210423 이미지변경 -->
                            <i class="ui_ico_anim" data-length="102"><img src="/lg5-common/images/MA/icon_01/a000.png" alt=""></i>
                            <!-- //210423 이미지변경 -->
                            <!-- 210401 줄바꿈처리수정 -->
                            <p class="tit">고객님께 <span class="br">딱 맞는 가전은?</span></p>
                            <!-- //210401 줄바꿈처리수정 -->
                            <p class="desc">내게 맞는 제품 추천 받기</p>
                            <!-- 210330 문구수정 -->
                            <span class="arr">제품 큐레이션</span> <!-- 210303_문구수정 -->
                            <!-- //210330 문구수정 -->
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.lge.co.kr/lgekor/bestshop/counsel/counselMain.do?device=w&inflow=lgekor"> <!-- 210304_링크수정 -->
                        <div class="item-box">
                            <!-- 210423 이미지변경 -->
                            <i class="ui_ico_anim" data-length="111"><img src="/lg5-common/images/MA/icon_02/b000.png" alt=""></i>
                            <!-- //210423 이미지변경 -->
                            <!-- 210401 줄바꿈처리수정 -->
                            <p class="tit">베스트샵에서 <span class="br">상담 받으세요</span></p>
                            <!-- //210401 줄바꿈처리수정 -->
                            <p class="desc">오프라인 매장 방문 예약하기</p>
                            <span class="arr">매장 방문 예약</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    @@include('./common/footer.html')

    <div class="floating-wrap">
        <!-- <div class="floating-menu">
            <div class="easy-path">
                <div class="inner">
                    <a href="#">
                        <p>라이프 스타일에 맞는 가전을 찾아볼까요?</p>
                    </a>
                </div>
            </div>
        </div> -->
        <!-- 210330 스키티챗 추가 -->
        <!-- component / Sticky chat -->
        @@include('./common/partials/KRP0005.html')
        <!-- // component / Sticky chat -->
        <!-- //210330 스키티챗 추가 -->
        <!-- component / Scroll to the top -->
        @@include('./common/partials/KRP0004.html')
        <!-- // component / Scroll to the top -->
    </div>
</div>