<!-- // BTOCSITE-2193 : 홈메인 운영 어드민 메뉴 개설 -->
<div class="scene-cover">
    <!-- 히어로 배너 영역 : 최대 8개 게시 s -->
    <!-- 히어로 배너 : 이미지배너 일때 -->
    <div class="scene scene-renew">
        <a href="https://www.lge.co.kr/air-conditioners" target="_blank">
            <div class="img only-desktop">
                <img src="/lg5-common/images/MA/main_hero_test_pc.jpg" alt="LG WHISEN 타워에어컨">
            </div>
            <div class="img only-mobile">
                <img src="/lg5-common/images/MA/main_hero_test_mobile.jpg" alt="LG WHISEN 타워에어컨">
            </div>
            <div class="text-link">
                <p class="bi-svg"><img src="https://www.lge.co.kr/kr/svg/images/lg-bi-tiiun-objet-white.svg" alt="LG Tiiun Objet Collection"></p>
            </div>                               
        </a>
        <div class="text-cont">
            <!-- 메인 카피 -->
            <div class="title">
                <h3 class="only-desktop">
                    에어컨의 모든 것을<br>컨트롤하다
                </h3>
                <h3 class="only-mobile">
                    에어의 모든 것을<br>에어컨으로 컨트롤 하다
                </h3>
            </div>
            <!-- 서브 카피 : pc에서는 한줄로 노출되고, 모바일에서는 두줄로 노출되는 case -->
            <p class="desc only-desktop">
                <span>강력한 시원함은 물론 바람이 직접오지 않아 기분 좋은 휘센</span>
            </p>
            <p class="desc only-mobile">
                <span>미니멀한 거실 인테리어 트렌드에서 영감을 받은</span>
                <span>심플한 디자인 어느 공간에서나 깔끔하게 어울립니다</span>
            </p>
            <div class="btn-wrap">
                <a href="/air-conditioners" class="btn border size-main" data-contents="에어컨의 모든 것을 컨트롤하다" target="_blank"><span>제품 보기</span></a>   
            </div>
        </div>                               
    </div>                                                                
    <!-- 히어로 배너 : 동영상배너 일때 -->
    <div class="scene scene-renew">
        <a href="/kimchi-refrigerators/z491sgs151"  target="_top">
            <div class="img only-desktop video">
                <video src="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_pc_a.mp4" width="100%" height="100%" type="video/mp4" poster="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_pc_a.jpg" playsinline="" muted=""> 
                    <p>LG 김치톡톡</p>
                </video>
            </div>
            <div class="img only-mobile">
                <video src="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_mo_a.mp4" width="100%" height="100%" type="video/mp4" poster="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_mo_a.jpg" playsinline="" muted="">
                    <p>LG 김치톡톡</p> 
                </video>  
            </div>
            <div class="text-link">
                <p class="bi-svg"><img src="https://www.lge.co.kr/kr/svg/images/lg-bi-kimchi-objet-white.svg" alt="LG DIOS 김치톡톡 오브제컬렉션"></p>
            </div>
        </a>
        <div class="text-cont">
            <!-- 메인 카피 -->
            <div class="title">
                <h3 class="only-desktop">
                    공간인테리어 가전
                </h3>
                <h3 class="only-mobile">
                    완벽한 가전이 이루는 조화,<br>공간인테리어 가전
                </h3>
            </div>
            <!-- 서브 카피 : pc에서는 두줄로 노출되고, 모바일에서는 한줄로 노출되는 case -->
            <p class="desc only-desktop">
                <span>컬렉션 할수록 특별해지는 당신의 공간,</span>
                <span>당신의 라이프</span>
            </p>
            <p class="desc only-mobile">
                <span>완벽한 가전이 이루는 오브제컬렉션을 만나보세요</span>
            </p>
            <!-- 버튼 영역 : 버튼이 두개 노출되는 case -->
            <div class="btn-wrap">
                <a href="/lg-objet-collection" class="btn border size-main" data-contents="공간인테리어 가전" target="_top"><span>체험 하기</span></a>                      
                <a href="/story/only-and-best/objet-collection-detail-story" class="btn border size-main" data-contents="공간인테리어 가전" target="_top"><span>스토리 보기</span></a>   
            </div>
        </div>
    </div>                                                           
    <div class="scene scene-renew">
        <a href="/kimchi-refrigerators/z491sgs151" target="_top">
            <div class="img only-desktop video">
                <video src="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_pc_a.mp4" width="100%" height="100%" type="video/mp4" poster="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_pc_a.jpg" playsinline="" muted=""> 
                    <p>LG 김치톡톡</p>
                </video>
            </div>
            <div class="img only-mobile">
                <video src="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_mo_a.mp4" width="100%" height="100%" type="video/mp4" poster="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_mo_a.jpg" playsinline="" muted="">
                    <p>LG 김치톡톡</p> 
                </video>  
            </div>
            <div class="text-link">
                <p class="bi-svg"><img src="https://www.lge.co.kr/kr/svg/images/lg-bi-kimchi-objet-white.svg" alt="LG DIOS 김치톡톡 오브제컬렉션"></p>
            </div>
        </a>
        <div class="text-cont">
            <!-- 메인 카피 -->
            <div class="title">
                <h3 class="only-desktop">
                    스스로 빛을 내 차원이<br>다른 TV
                </h3>
                <h3 class="only-mobile">
                    스스로 빛을 내 차원이<br>다른 TV
                </h3>
            </div>
            <p class="desc only-desktop">
                <span>더 선명하고 밝은 화질의</span>
                <span>차원이 다른 올레드를 만나보세요</span>
            </p>
            <p class="desc only-mobile">
                <span>더 선명하고 밝은 화질의</span>
                <span>차원이 다른 올레드를 만나보세요</span>
            </p>
            <div class="btn-wrap">
                <a href="/air-conditioners/fq20pbnga2-akorg" class="btn border size-main" data-contents="에어컨의 모든 것을 컨트롤하다" target="_top"><span>제품 보기</span></a>
            </div>
        </div>
    </div>                               
    <div class="scene scene-renew">
        <a href="/kimchi-refrigerators/z491sgs151" target="_top">
            <div class="img only-desktop video">
                <video src="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_pc_a.mp4" width="100%" height="100%" type="video/mp4" poster="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_pc_a.jpg" playsinline="" muted=""> 
                    <p>LG 김치톡톡</p>
                </video>
            </div>
            <div class="img only-mobile">
                <video src="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_mo_a.mp4" width="100%" height="100%" type="video/mp4" poster="https://www.lge.co.kr/kr/main/main/assets/kimchi_main_mo_a.jpg" playsinline="" muted="">
                    <p>LG 김치톡톡</p> 
                </video>  
            </div>
            <div class="text-link">
                <p class="bi-svg"><img src="https://www.lge.co.kr/kr/svg/images/lg-bi-kimchi-objet-white.svg" alt="LG DIOS 김치톡톡 오브제컬렉션"></p>
            </div>
        </a>
        <div class="text-cont">
            <!-- 메인 카피 -->
            <div class="title">
                <h3 class="only-desktop">
                    청소 로봇이 생긴다면
                </h3>
                <h3 class="only-mobile">
                    우리집을<br>홈카페로 만들기
                </h3>
            </div>
            <p class="desc only-desktop">
                <span>인공지능으로 한번 더 진화한 새로워진 청소로봇을 소개합니다</span>
            </p>
            <p class="desc only-mobile">
                <span>크래프트 아이스 시원한 음료를 집에서도 즐겨보세요</span>
            </p>
            <div class="btn-wrap">
                <a href="/vacuum-cleaners/ro971wa" class="btn border size-main" data-contents="우리집에 청소 로봇이 생긴다면" target="_top"><span>제품 보기</span></a>
            </div>
        </div>
    </div>
    <!-- 히어로 배너 영역 : 최대 8개 게시 e -->                           
</div>                                   
            
<div class="section-cover">
    <!-- ThinQ 배너 : 최대 10개 게시 s -->
    <div class="section slick-section">
        <div class="tit-wrap">
            <p class="tit">당신이 원하는 삶을 누려보세요</p>
        </div>
        <div class="recom-list-slide recom-list-slide01">
            @@for ( var i=0; i < 1; i++ ) {
            <div class="slide-content slide-item">
                <div class="slide-conts-box">
                    <div class="slide-conts">
                        <div class="slide-box">
                            <span class="bg ui_bg_switch" style="background-image:url('/lg5-common/images/MA/img-main-desired-life-01.jpg');" 
                            data-pc-src="/lg5-common/images/MA/img-main-desired-life-01.jpg" 
                            data-m-src="/lg5-common/images/MA/img-main-desired-life-01-m.jpg" 
                            aria-hidden="hidden"
                            data-current-image="/lg5-common/images/MA/img-main-desired-life-01.jpg"></span>
                    <!-- 카피, 버튼 
                            정렬 - 좌측: type-l, 중앙: type-c, 우측: type-r 
                            컬러 적용 - black: fc-black, white: fc-white -->
                            <div class="text-area type-r fc-white">
                                <p class="tit only-desktop">
                                    <span>ThinQ가 알아서 챙겨주니까!</span>
                                </p>
                                <p class="tit only-mobile">
                                    <span>ThinQ가</span>
                                    <span>알아서 챙겨주니까!</span>
                                </p>
                                <a href="/vacuum-cleaners/ro971wa" class="arr" data-contents="ThinQ가 알아서 챙겨주니까!" target="_top"><span>자세히 보기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- ThinQ 배너 : 최대 10개 게시 e -->
    <!-- 스토리 배너 : 최대 10개 게시 s -->
    <div class="section slick-section">
        <div class="tit-wrap">
            <p class="tit">다양한 스토리를 만나보세요</p>
        </div>
        <div class="recom-list-slide recom-list-slide02">
            @@for ( var i=0; i < 3; i++ ) {
            <div class="slide-content slide-item">
                <div class="slide-conts-box">
                    <div class="slide-conts">
                        <div class="slide-box">
                            <span class="bg ui_bg_switch" style="background-image:url('https://www.lge.co.kr/kr/main/main/assets/storybanner_styler_mo.jpg');" 
                            data-pc-src="https://www.lge.co.kr/kr/main/main/assets/storybanner_styler_pc.jpg" 
                            data-m-src="https://www.lge.co.kr/kr/main/main/assets/storybanner_styler_mo.jpg" 
                            aria-hidden="hidden" 
                            data-current-image="https://www.lge.co.kr/kr/main/main/assets/storybanner_styler_mo.jpg"></span>
                            <div class="text-area type-l fc-black">
                                <p class="tit only-desktop">
                                    <span>집밥 먹으러 오세요</span>
                                    <!-- <span>여름철 사용 꿀팁 PC2</span> -->
                                </p>
                                <p class="tit only-mobile">
                                    <span>집밥 먹으러 오세요</span>
                                </p>
                                <a href="/vacuum-cleaners/ro971wa" class="arr" data-contents="트롬 스타일러 여름철 사용 꿀팁" target="_top"><span>스토리 더보기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- 스토리 배너 : 최대 10개 게시 e -->
    <!-- 제품 선택 제안 영역 s  -->
    <div class="section">
        <div class="tit-wrap">
            <p class="tit">아직 고민이라면, 이렇게 하세요</p>
        </div>
        <div class="item-box-wrap advice-type">
            <ul>
                <li>
                    <a href="https://wwwstg.lge.co.kr/my-collection/product-curation" target="_top">
                        <div class="item-box">
                            <i class="ui_ico_anim"><img src="/lg5-common/images/MA/img_bestshop_test.png" alt=""></i>
                            <p class="tit">고객님께 딱 맞는 가전은?</p>
                            <p class="desc">내게 맞는 제품 추천 받기</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.lge.co.kr/lgekor/bestshop/counsel/counselMain.do?device=w&inflow=lgekor" target="_top">
                        <div class="item-box">
                            <i class="ui_ico_anim"><img src="/lg5-common/images/MA/img_bestshop_test.png" alt=""></i>
                            <p class="tit">베스트샵에서 상담 받으세요</p>
                            <p class="desc">오프라인 매장 방문 예약하기</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 제품 선택 제안 영역 e  -->
    <!-- 이벤트 영역 배너 : 최대 10개 게시 s -->
    <div class="section slick-section">
        <div class="tit-wrap">
            <p class="tit">구매 혜택 추천드려요</p>
        </div>
        <div class="recom-list-slide recom-list-slide03">
            @@for ( var i=0; i < 1; i++ ) {
            <div class="slide-content slide-item">
                <div class="slide-conts-box">
                    <div class="slide-conts">
                        <div class="slide-box">
                            <span class="bg ui_bg_switch" style="background-image:url('/lg5-common/images/MA/img_event_test_mobile.jpg');" 
                            data-pc-src="/lg5-common/images/MA/img_event_test_pc.jpg" 
                            data-m-src="/lg5-common/images/MA/img_event_test_mobile.jpg" 
                            aria-hidden="hidden" 
                            data-current-image="/lg5-common/images/MA/img_event_test_mobile.jpg"></span>
                            <div class="text-area type-l fc-black">
                                <p class="tit only-desktop">
                                    <span>LGE.COM 8월 혜택모음</span>
                                    <span>LGE.COM 8월 혜택모음</span>
                                </p>
                                <p class="tit only-mobile">
                                    <span>LGE.COM</span>
                                    <span>8월 혜택모음</span>
                                </p>
                                <a href="/vacuum-cleaners/ro971wa" class="arr" data-contents="LGE.COM 8월 혜택모음" target="_top"><span>자세히 보기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- 이벤트 영역 배너 : 최대 10개 게시 e -->
    <!-- 멤버십 영역 s  -->
    <div class="section slick-section">
        <div class="tit-wrap">
            <p class="tit">멤버십 혜택 받아가세요</p>
        </div>
        <div class="item-box-wrap membership-type">
            <div class="membership-type-slide">
                <div class="slide-item">
                    <a href="https://wwwstg.lge.co.kr/my-collection/product-curation" target="_top">
                        <div class="item-box">
                            <i><img src="/lg5-common/images/MA/icon_03_optimized.gif" alt=""></i>
                            <p class="tit">혜택받는 멤버십 가입</p>
                            <p class="desc">LG전자 멤버십 회원으로 다양한 구매 및 고객 서비스 관련 혜택 누리기</p>
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="https://www.lge.co.kr/lgekor/bestshop/counsel/counselMain.do?device=w&inflow=lgekor" target="_top">
                        <div class="item-box">
                            <i><img src="/lg5-common/images/MA/icon_04_optimized.gif" alt=""></i>
                            <p class="tit">멤버십 포인트 적립</p>
                            <p class="desc">다양한 이벤트를 통해 포인트 적립 및 사용하기</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 멤버십 영역 s  -->
    <!-- 제품 관리 영역 s -->
    <div class="section wide-section">
        <div class="tit-wrap">
            <p class="tit">가전 관리 잊지마세요!</p>
        </div>
        <div class="item-box-cover">
            <div class="section">
                <div class="item-box-wrap type2 size3">
                    <ul>
                        <li>
                            <a href="/my-page/manage-products" target="_top">
                                <div class="item-box">
                                    <i><img src="/lg5-common/images/MA/icon-forget-01-48x48.svg" alt=""></i>
                                    <div class="cont">
                                        <p class="tit" data-contents="내 제품 등록">내 제품 등록</p>                      
                                        <p class="desc">고객님의 보유 제품을 등록하고, 관리하기</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/support/service-engineer-reservation" target="_top">
                                <div class="item-box">
                                    <i><img src="/lg5-common/images/MA/icon-forget-02-48x48.svg" alt=""></i>
                                    <div class="cont">
                                        <p class="tit" data-contents="출장 서비스 예약">출장 서비스 예약</p>                      
                                        <p class="desc">전문 엔지니어가 도와주는 서비스 출장 예약하기</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/care-solutions/why-careship" target="_top">
                                <div class="item-box">
                                    <i><img src="/lg5-common/images/MA/icon-forget-03-48x48.svg" alt=""></i>
                                    <div class="cont">
                                        <p class="tit" data-contents="케어십 안내">케어십 안내</p>                      
                                        <p class="desc">케어솔루션 매니저의 전문적인 케어서비스 받기</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="https://lgthinq.page.link/?link=https%3A%2F%2Flgthinq.lge.com%2Fthinqapp%2Fdashboard&amp;apn=com.lgeha.nuts&amp;isi=993504342&amp;ibi=com.lgeha.nuts"  target="_top">
                                <div class="item-box">
                                    <i><img src="/lg5-common/images/MA/icon-forget-04-48x48.svg" alt=""></i>
                                    <div class="cont">
                                        <p class="tit" data-contents="ThinQ 연결하기">ThinQ 연결하기</p>                      
                                        <p class="desc">우리집 스마트 가전 똑똑하게 관리해 보기</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 제품 관리 영역 e -->
    <!-- 인포 영역 s -->
    <div class="section info-section">
        <div class="info-area-wrap">
            <p class="tit">공지사항</p>
            <button class="btn-info-play pause">
                <span class="blind">멈춤</span>
            </button>
            <div class="info-area">
                <div class="slide-item">
                    <a href="/support/notice-NTC20210916087002" target="_top">
                        <div class="item-box">
                            <p>[안내] 1 LG전자 CEM사업담당 영업양도에 LG전자 CEM사업담당 영업양도에 따른 개인 (신용)정보 이전에 관한 공지문LG전자 CEM사업담당 영업양도에 따른 개인 (신용)정보 이전에 관한 공지문LG전자 CEM사업담당 영업양도에 따른 개인 (신용)정보 이전에 관한 공지문</p>
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="/support/notice-NTC20210916087002" target="_top">
                        <div class="item-box">
                            <p>[안내] 2 LG전자 CEM사업담당 영업양도에 따른 개인 (신용)정보 이전에 관한 공지문</p>
                        </div>
                    </a>
                </div>
                <div class="slide-item">
                    <a href="/support/notice-NTC20210916087002" target="_top">
                        <div class="item-box">
                            <p>[안내] 3 LG전자 CEM사업담당 영업양도에 따른 개인 (신용)정보 이전에 관한 공지문</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 인포 영역 e -->


    @@include('./common/footer.html')

    <div class="floating-wrap">
        <!-- <div class="floating-menu">
            <div class="easy-path">
                <div class="inner">
                    <a href="#">
                        <p>라이프 스타일에 맞는 가전을 찾아볼까요?</p>
                    </a>
                </div>
            </div>
        </div> -->
        <!-- 210330 스키티챗 추가 -->
        <!-- component / Sticky chat -->
        @@include('./common/partials/KRP0005.html')
        <!-- // component / Sticky chat -->
        <!-- //210330 스키티챗 추가 -->
        <!-- component / Scroll to the top -->
        @@include('./common/partials/KRP0004.html')
        <!-- // component / Scroll to the top -->
    </div>
</div>